[2019-09-19 21:13] skendrot commented on #3014
Should the graph service save this or should the app save it?

[2019-09-19 21:15] mscherotter commented on #3014
The previous generation - the Live SDK saved it and provided a method for silent auth.  That was a nice UI that insured that the token was being persisted safely.

[2019-09-19 22:47] skendrot commented on #3002
@Kyaa-dost Thanks for reporting this. I'll look into what's causing it

[2019-09-22 03:42] michael-hawker commented on #3014
Thanks for the report @mscherotter, but this works for me in my UWP app.  It automatically signs me in the 2nd time I run an app after authenticating the first time.  It should be storing the token automatically in UWP and Xamarin.  For .NET Core it's [up to the developer to cache](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/token-cache-serialization) but we could p

[2019-09-26 17:23] virzak opened #3015 "DataGrid for Xaml Islands"
Is it possible to have the DataGrid in Xaml Islands and is there a sample? If not, when will it be available if ever?

[2019-09-26 19:07] Kyaa-dost commented on #3015
@marb2000 If you have the sample available and can showcase that to @virzak that would be great.

[2019-09-26 21:04] marb2000 commented on #3015
No. I don't have a sample. This is great request for the community: Can someone help us to create a sample?

[2019-09-26 21:22] virzak commented on #3015
Hi @marb2000,

I tried doing that but hit the wall because DataGrid is not a part of Windows.UI.Xaml.Controls.

I described the issue [here](https://github.com/marb2000/XamlIslands/issues/16) earlier.

[2019-09-27 01:40] #2907 closed

[2019-09-29 00:35] c4rlosmarin commented on #2981
Same question here, need to know what TargetType to apply for the controls:DataGridTextColumn.HeaderStyle.

Thanks,
CM

[2019-09-30 20:13] kant2002 opened #3016 "[Feature] Support netcoreapp3.0"
## Describe the problem this feature would solve
I would like to use WindowsCommunityToolkit inside .NET Core 3.0

[2019-09-30 20:18] kant2002 commented on #3016
Thanks, I forget to check on the Preview tab

[2019-09-30 20:18] #3016 closed

[2019-09-30 20:19] dotMorten commented on #3016
@kant2002 What bits doesn't support that? I only see UWP, netstandard2.0 and netcoreapp2.0 used, so apart from UWP it should all be supported?

[2019-09-30 20:21] kant2002 commented on #3016
I go to Microsoft.Toolkit.Wpf.UI.Controls.WebView 5.X and it does not support `netcoreapp3.0`, but when I switch to 6.X-preview it installed. My apologize for noise.

[2019-09-30 20:22] dotMorten commented on #3016
Aaah yes. Different repo :-) https://github.com/windows-toolkit/Microsoft.Toolkit.Win32/blob/master/Microsoft.Toolkit.Sample.Wpf.App/Microsoft.Toolkit.Sample.Wpf.App.csproj#L5

[2019-09-30 20:24] kant2002 commented on #3016
I follow to that repo from Nuget link was not prepared for moving things. Have to look more, but at least I look for existing issues which target netcoreapp3.0 😄

[2019-10-02 01:14] virzak commented on #3015
@marb2000,

In an attempt to create a DataGrid example, I [implemented](https://github.com/virzak/XamlIslandsDataGrid) the [walk-through](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/host-custom-control-with-xaml-islands) as you suggested, but couldn't get that to work.

### Runtime

![image](https://user-images.githubusercontent.com/6209775/66010523-43c4bf80-e48d-11e9-9705-452d

[2019-10-02 01:15] dj-fiorex commented on #3012
@agneszitte-nventive did you have success building the project?
Because i'm in a similar situation, W10 1903, all VSinstaller packages installed (lol), i cloned the repo and, before reading this post, i opened it in visual studio and strange errors like [this](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2910) appear.
After i tried to restore with msbuild /restore andseveral e

[2019-10-02 06:13] rudyhuyn opened #3018 "All links to docs.microsoft.com in Readme.md are currently broken"
All links to doc.microsoft.com in `/Readme.md` don't work due to the final '/' breaking the redirection to the localized version of the doc.

[2019-10-02 11:48] hez2010 opened #3020 "[Feature] Math formula support in MarkdownTextBlock"
## Math formula support
I hope that math formulas in markdown can be rendered correctly.
For example:
[code]
These cannot be rendered for now.

## Solution
Support rendering math formula in MarkdownTextBlock.
Maybe it can use katex to support math characters.

[2019-10-02 17:29] Kyaa-dost commented on #3018
@rudyhuyn Thanks for investigating the issue. I have varified the changes in the [PR](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3019).

[2019-10-03 16:38] #3018 closed

[2019-10-04 03:43] nmetulev opened #3027 "PeoplePicker down button adds a person"
## Describe the bug
When using the PeoplePicker and the down arrow is pressed, the first person is immediately added.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Ensure a user is signed in
2. Add the PeoplePicker
3. Start typing a name and wait for people to show up
4. Press the do

[2019-10-05 14:10] mrlacey commented on #2964
From Uservoice (now closed)

[2019-10-05 22:03] c4rlosmarin commented on #2990
Hi @michael-hawker, is there some documentation about how to add a TabView for WinUI 2.2 through the XAML designer? So far I haven't been able to add a TabViewItem element to it:

![image](https://user-images.githubusercontent.com/17365297/66261355-9dc0d000-e780-11e9-8de9-2cef3b36baee.png)

By the way, I was able to workaround this by implementing the tabs through a Pivot control. So I guess it's

[2019-10-07 20:52] michael-hawker commented on #3012
@dj-fiorex we've had success with these instructions. Can you provide more details on the steps you took starting from cloning the repo? And what VS version do you have installed?

[2019-10-08 01:00] RBrid commented on #3010
Thanks for the report @Asteron1024. I could not repro that bug. Maybe there is something special about your app. How easily could you build a simple repro app?

[2019-10-08 16:59] RBrid commented on #3001
Hello @xiedongweo, this sounds like by design to me. The first click selects the cell. The second click enters editing mode. And finally the third click opens the dropdown.  I suppose your CellTemplate and/or CellEditingTemplate have more than just a ComboBox otherwise you could be using the DataGridComboBoxColumn. Anyways, the first thing I would try is:
- use a sub class of DataGridTemplateColum

[2019-10-08 17:45] RBrid commented on #2991
@SeakyLuo, DataGridTextColumn.Foreground is a Brush.  Are you sure your binding source is a Brush? Thanks.

[2019-10-08 17:52] peteams commented on #3007
There are two issues here.

There was an issue that provoked the situation that GazeInput failed to handle. Specifically, the KeyDown handler was added multiple times, once per instantiation of the page. That caused Click to be called multiple times. Resolving that resolves the exception being fired.

The issue within GazeInput is that there is an assumption that (a) controls don't change type and

[2019-10-08 18:07] RBrid commented on #2984
@SeakyLuo, I am afraid DataGrid.Rows[rowIndex] won't happen. The performance degradation would be too costly. Rows are being created/recycled on demand. You need to listen to the LoadingRow and UnloadingRow events to have access to the instantiated rows. Thanks.

[2019-10-08 23:31] RBrid commented on #2981
See ...\repos\WindowsCommunityToolkit\Microsoft.Toolkit.Uwp.UI.Controls.DataGrid\DataGrid\DataGridColumn.cs:

[StyleTypedProperty(Property = "HeaderStyle", StyleTargetType = typeof(DataGridColumnHeader))]

[2019-10-09 00:11] RBrid commented on #2980
This is a feature request and not a bug.

See DataGridColumnHeader.cs' code:

[code]

It intentionally throws System.NotSupportedException: 'Content does not support UIElement; use ContentTemplate instead.'  when you try something like

[code]

Secondly, Nico is right. DataGridTextColumn.FontFamily is only applied to the row cells and not the header (see DataGridTextColumn.cs).

Re-styling is a wa

[2019-10-09 19:34] michael-hawker commented on #3020
Thanks for the suggestion @hez2010.

There doesn't seem to be the [greatest consensus or support for syntax](https://github.com/commonmark/commonmark-spec/wiki/Deployed-Extensions#math) around math across markdown implementations at this time however.

It'd probably be best to look at it like a language in a traditional `backtick` fence block like:

[code]
[code]

[2019-10-09 20:18] grochocki commented on #3020
Markdown math is interesting, though it seems much more closely tied to LaTex. I haven't done enough research to understand how widespread its usage is, but for [Windows Calculator](https://github.com/microsoft/calculator), we are looking at leveraging [MathML](https://www.w3.org/Math/), which definitely _is_ a widely used standard.

microsoft/calculator#338

Rendering math is _very_ complex, espe

[2019-10-10 00:19] marb2000 commented on #3015
@virzak I took a look to your sample and I observed two things:
1. The UWP app doesn't reference the ClassLibrary. You need to do it to make the UWP App project  generates the IXamlMetadataProvider for the Class Library.
2. You should avoid AnyCPU and compile in x64,

[2019-10-10 00:51] virzak commented on #3015
Excellent, thanks @marb2000 .

Fixed, checked in and pushed. Runs fine now.

Still getting the Design Time error. Obviously not as critical, but do you know a solution off the top of your head?

![image](https://user-images.githubusercontent.com/6209775/66530630-89f5d080-ead6-11e9-8848-3c8f2b0cc1bf.png)

[2019-10-10 01:03] marb2000 commented on #3015
I think that this will be out with the VS2019 update 4. @diverdan92 and @LyalinDotCom should take care of it. No workarounds available :(

[2019-10-10 01:03] #3015 closed

[2019-10-10 18:41] RBrid commented on #3010
Très bien @Asteron1024, merci beaucoup.   I was able to repro the crash now.

[2019-10-10 20:36] RBrid commented on #2964
@xiedongweo, this is what I would try to achieve this:

Create a subclass for each column type you want to use. For example create a MyDataGridTextColumn class which derives from DataGridTextColumn.

[code]

Hope this works for you. Thanks.

[2019-10-10 22:17] RBrid commented on #2961
It is true that changing the sort order in an AdvancedCollectionView may recycle the existing rows (see DataGridDataConnection::NotifyingDataSource_Reset() and DataGrid::InitializeElements(bool recycleRows)), but an AdvancedCollectionView comes with some drawbacks too:
- it does not support grouping
- it creates an internal List copy of the Source items
- it's doing client-side sorting & filtering

[2019-10-10 23:30] RBrid commented on #2958
I believe that row recycling is throwing a wrench into that idea (it's a DataGrid feature that improves perf). A recycled row by default will not trigger a call to GenerateElement. So recycled rows would normally appear using incorrect cell templates. There is a trick to turn off a row's recycling. See _private void UnloadRow(DataGridRow dataGridRow)_ in DataGridRows.cs:
[code]
You need to set the

[2019-10-11 01:23] RBrid commented on #2955
This must be because of some of Daniel's four changes in DataGrid.xaml:
f22ce48f2ad53bc89d195d3e1c73c0df391a214b	Daniel Martín González 1/9/2019 7:49:31 AM +00:00	Change DataGridColumnHeaderBackgroundBrush to SystemAltHighColor
3ad0e2e1bf78dbb3b5a2a5d495e0e9217e1604fe	Daniel Martin Gonzalez 1/3/2019 3:50:44 PM +00:00	Merge branch 'master' into datagrid#2373
ca87b5fcd6989b7e20d00b9988b00e950e9e58c5

[2019-10-11 20:29] RBrid commented on #2791
I don't have a good workaround in mind for this. It looks like a bug in ...\WindowsCommunityToolkit\Microsoft.Toolkit.Uwp.UI.Controls.DataGrid\DataGrid\DataGridCellsPresenter.cs's _protected override Size MeasureOverride(Size availableSize)_.

[code]

Adding that one line of code addresses the issue I believe. I am not 100% sure there are no bad side-effects yet.
The problem is that the line _this

[2019-10-11 20:38] RBrid commented on #2786
Related to #2917.

[2019-10-11 22:06] RBrid commented on #2680
This is a feature request rather than a bug. Columns do not treat the background and foreground the same way. Just look at the DataGridTextColumn.cs file to see the significant differences because of the use of row-level foreground brush, and see my comments in PR #2734.

Anyways, the DataGridTextColumn class does have a Foreground property, and it seems to work fine. I tried _<controls:DataGridTe

[2019-10-11 23:37] RBrid commented on #2373
At this point, there is no bug when toggling the RequestedTheme in the Sample app from
- Light to System
- System to Light
- Sytem to Dark
- Light to Dark
- Dark to Light
As stated by KexyBiscuit, a bug occurs when changing from Dark to System. Rows need to be re-rendered to fix their colors.

Regarding ApplicationPageBackgroundThemeBrush, I think it's #FF1D1D1D in Dark theme and #FFF4F4F4 in Ligh

[2019-10-12 00:40] RBrid commented on #2120
Closing this issue since Filip merged his changes for PR https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/2536.

[2019-10-12 00:40] #2120 closed

[2019-10-12 19:24] 0xf005ba11 opened #3021 "Cannot create control of type"
I am interested in using the new xaml islands to host UWP controls in a WPF App. I have followed the sample at https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/host-custom-control-with-xaml-islands to get started. The results appeared to work, and I started making changes specific to my needs. Now, sometimes the WPF app will load and display the UWP control as expected. And other ti

[2019-10-13 10:48] hupo376787 opened #3022 "More api of weibo service"
Such as comment, forward, share status, etc. Thx.

[2019-10-14 04:04] nishp77 commented on #2944
@hupo376787  I would like to tell you that I checked the properties of AdaptiveGridView and its properties does have the HorizontalScrollBarVisibiltiy option.

[2019-10-14 04:11] hupo376787 commented on #2944
But it has an inner `ScrollViewer`, `AdaptiveGridView` is extend from `GridView`, they all have inner `ScrollViewer`. So` ScrollViewer.HorizontalScrollBarVisibility="Hidden"` should work, but actually it doesn't.

[2019-10-14 04:19] nishp77 commented on #2944
Can you try to wrap scrollviewer before the adaptivegridview?

[2019-10-14 04:24] hupo376787 commented on #2944
If you put anything in `ScrollViewer`, such as `GridView`, `ListView`, or any other extent controls, `ScrollViewer` will prevent `Data Virtualization`.
This is a long existing bug in uwp.
So came back to original, HorizontalScrollBarVisibility is also a bug in `AdaptiveGridView`.

[2019-10-14 16:28] HEBERT8092 opened #3023 "Download files with webview (Edge)"
## Describe the bug
Impossible to download files by using a webview. (Edge)
I don't know if it's a regression
It's always reproductible.

For example, on your site, you click on to download the file " WindowsCommunityToolkit-master.zip", but nothing is happening.

![image](https://user-images.githubusercontent.com/54313107/66767084-f21a2d00-eeaf-11e9-8808-d0bc5e09f253.png)

## Environment
Windows

[2019-10-14 16:54] ianier opened #3024 "Total item count in IncrementalLoadingCollection"
Feature request: I would like IncrementalLoadingCollection to expose the total number of items, which may be already known to the source (e.g. IStorageQueryResultBase.GetItemCountAsync() for a storage item query).
An possible implementation could be to expose the IIncrementalSource instance from the collection as a public property, so we could add whatever property we need to the source itself.
Wh

[2019-10-16 18:02] michael-hawker commented on #3024
Thanks for the suggestion @ianier.  I don't know if we want to modify the interface, as that'd be an bigger change, plus not all collections may know their total number of items.

Exposing the source could be interesting.  It is already protected though, so you could write your own subclass to `IncrementalLoadingCollection` that hard types your IStorageQueryResultBase in this case and then expose

[2019-10-16 18:49] harinikmsft commented on #2962
Closing this issue since there has been no response from customer in some time. Please reopen with repro app if this issue is still seen.

[2019-10-16 18:49] #2962 closed

[2019-10-16 18:52] harinikmsft commented on #2961
Thanks for the suggestion @bartlannoeye . Based on @RBrid 's comments above, I am inclined to not take the approach for this DataGrid. Perhaps, there is an opportunity for a forked version of datagrid that uses AdvancedCollectionView for those who do not care about the drawbacks that @RBrid has mentioned. I am closing this since we don't plan to do this work for the current DataGrid.

[2019-10-16 18:52] #2961 closed

[2019-10-16 18:56] harinikmsft commented on #2913
@michael-hawker this does not seem to be a DataGrid issue but likely an issue with AdvancedCollectionView. Can you take a look?

[2019-10-16 19:00] harinikmsft commented on #2714
We considered this but the cost of a port is very large and does not seem to meet our bar for investment at this time. Like @michael-hawker has mentioned above, please feel free to file an issue in the [WinUI repo](https://github.com/Microsoft/microsoft-ui-xaml) if you would like a C++ DataGrid equivalent.

[2019-10-16 19:00] #2714 closed

[2019-10-16 19:03] #2955 closed

[2019-10-16 19:05] harinikmsft commented on #2917
Closing this, #2786 is tracking the same underlying issue

[2019-10-16 19:05] #2917 closed

[2019-10-16 19:15] harinikmsft commented on #2815
@RBrid looked into this recently and was not able to repro this issue anymore. @duke7553 - can you reopen if you are still seeing this?

[2019-10-16 19:19] #2680 closed

[2019-10-16 22:34] anawishnoff commented on #2940
Hi @xiedongweo, would you mind elaborating on this issue a bit? Not quite sure what you mean by printing a DataGrid onto multiple pages, i.e. do you want to display the same DataGrid on multiple pages of your app? Do you want the DataGrid to start on one page, then pick up on a different page? Let me know so we can help!

[2019-10-17 16:58] michael-hawker opened #3028 "[Feature] Test"
## Describe the problem this feature would solve

## Describe the solution

## Describe alternatives you've considered

## Additional context & Screenshots

[2019-10-17 16:58] michael-hawker commented on #3028
Success!

[2019-10-17 17:03] michael-hawker commented on #413
I think having some StateTriggers in the toolkit would be a good idea, I see this and some Behaviors as a good set of things to be aware of in the future planning.

What we probably need is a good core list of a couple of the key triggers that everyone would need.  One I'm aware of would be an AdaptiveStateTrigger that uses the parent's size instead of the whole Window.

Maybe that's a starting po

[2019-10-17 17:05] michael-hawker commented on #560
I don't know if we'll go into the full depth of requirements laid out above, but we definitely are thinking of Calendar type controls for our work from the connections to the Microsoft Graph, so I see this as something we'll be thinking of more later this year.

[2019-10-17 17:07] michael-hawker commented on #1662
Thanks for the idea @raivol, I feel like with the provided sample from @Sinorm above, this could be a good feature for someone to pick up and tackle.  If anyone's interested in it, please let me know and I can assign it to them.

[2019-10-17 17:09] michael-hawker commented on #1767
@WilliamABradley seems like you haven't done much on this lately?  Did you get started at all and have some code to share in a branch?

@knightmeister @LokiMidgard if either of you or both would want to take a poke at this, please feel free to jump in!  The Markdown control is pretty popular, so I know this would be a welcome edition.

[2019-10-17 17:11] michael-hawker commented on #2122
@harinikmsft is this an issue we should prioritize for the 6.0 release at the end of October, especially if you have a repro?

[2019-10-17 17:13] ianier commented on #3024
If making the source public has unwanted side effects, then inheriting or keeping a separate reference to an external source maintained by the app are viable choices.

[2019-10-17 17:14] michael-hawker commented on #2164
I think until we restructure our sample app, this is going to be difficult to add in examples for.

I think at the time we do that, it'd be good to look at everything all up.  For now, I think we'll close this issue.  Thanks!

[2019-10-17 17:14] #2164 closed

[2019-10-17 17:15] michael-hawker commented on #2188
We haven't created separate solutions yet, but we did split some things out, so I think we're pretty good here for now.

[2019-10-17 17:15] #2188 closed

[2019-10-17 17:16] michael-hawker commented on #2068
Feel like we have a good structure for now, so closing this.

[2019-10-17 17:16] #2068 closed

[2019-10-17 17:16] dotMorten commented on #413
I think these are probably among the more useful ones, however a few might not be needed now that we have much improved x:Bind support:

 - `NetworkConnectionStateTrigger`
 - `IsTypePresentStateTrigger`
 - `EqualsStateTrigger`
 - `IsNullOrEmptyStateTrigger`
 - `NotEqualStateTrigger`
 - `CompareStateTrigger`
 - `InputTypeTrigger`
 - `RegexStateTrigger`

[2019-10-17 17:19] michael-hawker commented on #1499
@Vijay-Nirmal don't know when we'll get to updating the sample app for multi-page yet.  It seems like the feature was complete though, did we still want to add to or fork a sample page and get this in?

[2019-10-17 17:28] michael-hawker commented on #764
@JustinXinLiu I feel your [Insider Dev Tour Sample](https://github.com/microsoft/InsiderDevTourDemos19/tree/master/Sessions/ui) had a great UX for guiding a user through a UI with the teaching tip.

@HesamKashefi if that's not sufficient for your needs, can you open [an issue on WinUI](https://github.com/microsoft/microsoft-ui-xaml/issues/new/choose) to request additional features to the TeachingT

[2019-10-17 18:09] dotMorten opened #3029 "WeakEventListener is not weak"
## Describe the bug
The current implementation of the weak event listener isn't actually weak. That's because the DetachAction actually captures the object.
For example `incc` is captured here:
https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/f09b6d4d5dd26b256992d1a19b98c20a5b357181/Microsoft.Toolkit.Uwp.UI.Controls/RotatorTile/RotatorTile.cs#L445

To fix it however, you'd have to c

[2019-10-17 18:36] dotMorten commented on #413
See #3030. That should give you something to start on...

[2019-10-17 23:40] michael-hawker commented on #3029
Thanks @dotMorten for catching this. I believe the DataGrid team wanted to not pull in the whole sub-project for this one item, so they copied and marked internal.

Adding @RBrid and @harinikmsft, let's sync on this next week and figure out the best path forward for a fix?  The 6.0 release would be the time to make a breaking change.

[2019-10-18 20:49] michael-hawker commented on #2986
@hupo376787 think about this more, why can't we just record the timestamp of when the app is launched?

Then when you request a new property like `TimeSinceAppStart` it can just do a calculation from the current time to that stored value?  And no timers involved.

Thoughts?

[2019-10-18 23:17] duke7553 commented on #2373
@RBrid I'm very happy to confirm that your method finally works! I'm now able to style the DataGrid headers to match my app's custom dark theme.
![image](https://user-images.githubusercontent.com/20365014/67133667-df6b6500-f1db-11e9-9c87-6f924f8e65e8.png)

[2019-10-19 03:51] hupo376787 commented on #2986
Hi, @michael-hawker when getting the current time, the user may change their system time.
This result the time not accurate.

[2019-10-19 21:53] michael-hawker commented on #2986
Yeah, I know, but I don't think the user changing the system time is that common of a scenario.

I mean we could provide both options, or maybe a sample in the docs that explains how to create a timer, that way the developer can decide if they want it running all the time or not if they need that level of detail?

[2019-10-20 09:47] hupo376787 commented on #2986
A `StopWatch` may solves this issue, with very few sytem resource, no matter user change system time or not.

[2019-10-20 13:32] LokiMidgard commented on #1767
@michael-hawker I'm not sure if I'll come to this soon. However I've made some thoughts about this feature I would like to share.

# Scope

*What can be extended*

Markdown has multiple ways to declare different kind of elements.
1. surround text with special characters (e.g. `**`, `*`, ...) for bold, italic and others
2. prepend a line with a character(s) (e.g. `#`, `-`, `1.`, `>`, ...). This is

[2019-10-21 04:31] michael-hawker commented on #1767
Thanks @LokiMidgard, appreciate the detailed breakdown and thought you've put into this.  I especially like the custom parser factories being able to be injected within the specific order context.

[2019-10-22 04:10] droprose1 opened #3034 "Cannot create package to windows store"
I use the Microsoft.Toolkit.Uwp.UI.Controls reference to use ImageEx with the name 'coverDetail'. I'm having a problem, i.e failed to create an app package to the windows store with an error message: The name 'coverDetail' does not exist in the current context for the x64 package. If you only run the application and build package, there are no problems and can run smoothly
Code:
`coverDetail.Sourc

[2019-10-22 10:05] LokiMidgard commented on #1767
I made some thoughts about those questions I wrote down. Here is my opinion on theses

___

I think yes. The parse method can get a enumeration of factorys that should be ignored. This would be used by the Link parsing to not parse links inside the brackets `[]`, bold is ok. A problem I see is with custom modules that have compability problems with that and should also not be parsed inside links b

[2019-10-22 18:21] michael-hawker commented on #3034
@droprose1 can you provide your ImageEx definition that's in code-behind or XAML as well?

What version of VS and Windows are you using too?

[2019-10-23 02:45] droprose1 commented on #3034
XAML:
[code]
Code:
`coverDetail.Source = new BitmapImage(new Uri(kelas.Cover, UriKind.Absolute));`

I use VS Professional 2019 version 16.3.6
I use windows 10 Enterprise build 18362
And the target version for the app i create is windows 10 build 17763 and the minimal version is windows 10 build 16299

Note:
This happens if I create an app package to windows store for x64 and arm. Whereas if for x8

[2019-10-23 05:58] LokiMidgard commented on #1767
I'm getting the impression that there must be some kind of configuration per factory.

Eventually using an optional lambda for configuration:
[code]

I would hope that this API design would still emphasize that every Type should only be used once. And it is not allowed to use the same factory multiple times with different configurations.

[2019-10-23 17:08] Kyaa-dost opened #3035 "[Question] Test.."
## Describe the bug
A clear and concise description of what the bug is.

For Test Purposes.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
A clear and concise description of what you expected to

[2019-10-23 17:08] Kyaa-dost commented on #3035
No recent activity label should be removed.

[2019-10-23 17:15] Kyaa-dost commented on #3035
Needs Author Feedback should be removed.

[2019-10-23 21:42] michael-hawker commented on #3034
Thanks for the extra details @droprose1.

Is this only when you create a package for publishing or if you try and run in Release mode does it occur as well?

If it occurs while trying to build/run in release mode, what happens if you turn off the .NET Native compilation step in the build settings for release?  Does it work then?  That might help us narrow down where the problem is.

[2019-10-23 23:54] Kyaa-dost commented on #3035
Closing the issue.

[2019-10-23 23:54] #3035 closed

[2019-10-24 02:11] droprose1 commented on #3034
This problem occurs when you want to publish an application to Windows Store (for x64 and arm versions). If create sideloading apps the application can run smoothly.

I have tried run in release mode for x64 and turn off the .NET Native compilation, the application can run smoothly.

Note:
And I also tried run in release mode for x64 and turn on the .NET Native compilation, the application also ru

[2019-10-24 02:22] droprose1 commented on #3034
But after the application is closed, an error message appears: The name 'coverDetail' does not exist in the current context and when I run the application again, the application cannot run and the error message appears.

Note:
This happens when I turn off the .NET Native compilation

[2019-10-24 03:02] michael-hawker commented on #3002
@skendrot did you have a chance to take a look?  It'd be good to see if we can fix this for the release next week as it's a new feature.

[2019-10-24 03:06] michael-hawker commented on #3034
Thanks @droprose1 for the additional info, it sounds like .NET Native isn't involved then.

Where is this error message displaying?  Is it in the output window it it coming from partner center when you're trying to upload the package.  I'm a bit confused on that part.

Could you share a screenshot of the error message itself to provide a bit more context from that side?  Thanks!

[2019-10-24 03:12] droprose1 commented on #3034
An error message appears on the output and I cannot create the app package to the windows store (build package failed) when the create app bundle for x86, x64 and arm device, but if I create an app package to the windows store for x86 device only, it works

[2019-10-24 05:03] Vijay-Nirmal commented on #1499
Hi, I am not dead.

It's your call.

[2019-10-24 06:16] michael-hawker commented on #3034
@Kyaa-dost let's see if we can repro this at all tomorrow during our bug-bash with a a new project using the ImageEx control.

[2019-10-24 06:20] michael-hawker commented on #1499
@Vijay-Nirmal would love to have the extension, were you able to resolve the static clash from before?

I was actually thinking, you could make the current listviewextensions sample a longer list, you could add [command buttons](https://github.com/windows-toolkit/WindowsCommunityToolkit/tree/master/Microsoft.Toolkit.Uwp.SampleApp#5-for-interactive-buttons-use-samplecontrollercurrentregisternewcomm

[2019-10-24 22:28] michael-hawker commented on #2350
@nmetulev now that we have the new Graph SDKs is this something we still need to configure somewhere?  I have noticed in some cases it does ask me to login again but doesn't remember any of my account info.

[2019-10-24 22:33] michael-hawker commented on #2742
This will ship in the toolkit's 6.0 next week, so closing this issue!

[2019-10-24 22:33] #2742 closed

[2019-10-25 01:41] michael-hawker commented on #1499
@Vijay-Nirmal hmm, do you know the root cause for that?  Is it virtualization based perhaps?

[2019-10-25 07:51] michael-hawker commented on #2977
This will ship next week in our 6.0 release.

[2019-10-25 07:51] #2977 closed

[2019-10-25 07:58] tranvyhor opened #3039 "How to load a 3mf file as MapModel3D to MapControl in WPF?"
I have a 3mf file which can be previewed in 3D builder app. But in my demo for WPF it doesn't work. The var  **_myModel_** always be null without any exceptions occured. Codes here:

_var filename = Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "116(5).3mf");
var sf = await StorageFile.GetFileFromPathAsync(filename);
 var streamReference = RandomAccessStreamReference.CreateFromFile(sf);
var

[2019-10-25 11:31] chan18 commented on #2959
look's like a simple issue, i am on it, never heard about about ```WindowsCommunityToolkit
[code]

[2019-10-25 22:05] skendrot commented on #1176
Is this issue still valid with the new BackButtonBehavior property?

[2019-10-25 22:14] michael-hawker commented on #3029
@dotMorten we probably don't want to expose the `weakInstance` variable as a property though due to encapsulation, eh?  As then we wouldn't need to change the calling pattern.

However, I'd rather break this now and fix it for 6.0 and call it out as a breaking change.

Thoughts?

[2019-10-26 00:46] michael-hawker commented on #2959
Thanks @chan18, welcome! I hadn't gotten to take a look at this one yet, but if you have a PR to us by Monday, we can get a fix in the upcoming update to the app for our release next week.  Otherwise, we can get an update in the next cycle.

Let us know if you have any questions, and be sure to see issue #3012 about building the toolkit locally at the moment.

[2019-10-26 07:59] jjoepage opened #3043 "WebView Crash - Winforms, Kit 5.1.1 VS2019,"
WebView in a standard Winform, with nothing else present, navigates perfectly to "https://twitter.com/login".  So pretty.

After successful login, twitter page loads well, and immediately upon fully loaded, twitter HTML throws a modal that crashes WebView.  Full Stop.

A clear and concise description of what the bug is.

Toolkit 5.1.1 is the first time I've seen this and have not tried earlier ver

[2019-10-27 08:42] jtorjo opened #3044 "[uwp] Mouse.Cursor binding does not work"
## Describe the bug
xmlns:kituiext="using:Microsoft.Toolkit.Uwp.UI.Extensions"
<Grid Width="300" Height="300" PointerMoved="UIElement_OnPointerMoved" kituiext:Mouse.Cursor="{Binding cursor}" Background="Gray" >

I'm trying to bind the cursor, to be hand on the left side, and arrow on the right side of the control.
It does not work.

## Steps to Reproduce
Steps to reproduce the behavior:

	<Page
	x

[2019-10-27 18:53] #3002 closed

[2019-10-27 19:16] #2901 closed

[2019-10-27 19:43] michael-hawker commented on #2650
@sibille this should be resolved in the upcoming release this week.  Thanks for reporting!

[2019-10-27 19:43] #2650 closed

[2019-10-27 22:59] michael-hawker commented on #3044
@jtorjo the cursor extension is meant to change the mouse cursor back and forth when the mouse enters or exits the control it's attached to.  It's not designed to change cursor dynamically on the same control based on a binding.

Could you describe the scenario you're trying to build in your app from your user's perspective?

[2019-10-28 18:21] sibille commented on #2650
Awesome! Thanks!!

[2019-10-28 20:41] jtorjo commented on #3044
Hi guys,

It's quite simple - I have a control that should have a "Hand" cursor, and "SizeWE" on the edges, to visually show it's resizeable.

Anyway, I had to code it, and implement it in PointerMoved, as a *workaround*, which is pretty much all I do, when porting WPF code to UWP.

Best,
John

[2019-10-28 22:46] michael-hawker commented on #3044
@jtorjo is there a reason you're not using [GridSplitter](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/gridsplitter) as the gripper which provides the resize functionality for you?  Or if you need custom functionality just creating a rectangle region within the Grid that uses the Mouse.Cursor extension property?

[2019-10-29 00:39] RBrid commented on #3029
@dotMorten and @michael-hawker, I have not seen any evidence of a leak yet.  I got suspicious when I saw this old DataGrid comment:

[code]

That seemed to indicate that whoever worked on that code checked for mem leaks.

I modified the existing Test_WeakEventListener_Events() unit test to include more information:

[code]

When you run this modified test, you do see the "SampleClass destroyed for

[2019-10-29 01:29] michael-hawker commented on #3029
Thanks @RBrid for the info.

I think this is really to prevent an anti-pattern case implemented in the toolkit, like the RotatorTile example above (and all other cases I've seen across the toolkit including DataGrid).  If we instead pass the instance in, the local copy reference doesn't have to exist and it's easier to show the proper technique un-registering off the weak reference vs. potentially

[2019-10-29 04:33] dotMorten commented on #3029
I don't really get how that test tests for leaks. The problem with it that both the listener and the class goes out of scope at the same time. Generally the "leak" is when a short-lived UI object is being held on to by a long-lived model's event.

[2019-10-29 04:57] dotMorten commented on #3029
Here's a more accurate test that reproduces the problem. Notice how the two event methods captures the object with a hard reference. This means SampleClass doesn't get collected until ModelObject also goes out of scope. This is a major problem as VMs and Models tend to live a lot longer than UI objects:

[code]

[2019-10-29 05:27] dotMorten commented on #3029
Poking around some more, there is a way to use it without leaking, and the instance is usually null during Detach() (since it's called when the reference is lost), so I think I've been brainfarting quite a bit here.

[2019-10-29 09:40] jtorjo commented on #3044
![image](https://user-images.githubusercontent.com/13891601/67755126-3ffe6b80-fa40-11e9-92bc-3f6c4e4d1431.png)

I need this cursor both on images, and on the "transitions" in between (the gray rounded rectangles).
To use GridSplitter, I would need to modify  A LOT of code.

WPF has this natively, and the Mouse.Cursor is simply a workaround to the fact that the "designers" of UWP didn't think to ad

[2019-10-29 17:37] michael-hawker commented on #3029
@dotMorten @RBrid I think this was a great discussion to ensure we have this pattern correct.  As I mentioned, I think the problem is we haven't had the best guidance on how to not accidentally capture a reference here. I would think the unregister event in Detach would be used for the cases Detach is manually called, eh?  As otherwise as Morten called out the reference has already been collected.

[2019-10-29 17:39] dotMorten commented on #3029
But it does seem ok to have a hard referenced to the object who's event you're listening to, as that's expected to live longer. ie in your DetachAction above you are making a hard reference to `inpc`.

[2019-10-29 17:55] michael-hawker commented on #3010
This should be fixed in the upcoming 6.0 release, so closing this issue.

[2019-10-29 17:55] #3010 closed

[2019-10-29 18:09] michael-hawker commented on #3029
Thanks for the clarification @dotMorten, I'll update our doc and add you to the PR.

I think checking all our usages in the toolkit, we never create a `this` reference, outside of calling a method which wouldn't carry a reference anyway, eh?

[2019-10-29 18:09] jtorjo commented on #3044
@michael-hawker The images are an ItemsControl of ui_effect objects.
The transitions are an ItemsControl of ui_transition objects (on top of the previous one).

I know I've tried several things, but to me, the Mouse.Cursor is unreliable, when several overlapping objects use it.

I may be able to create 2 grids on each effect / transition - on their edges, and set the cursor for them (so the effect

[2019-10-29 18:09] #3044 closed

[2019-10-29 18:11] #2952 closed

[2019-10-29 18:43] michael-hawker commented on #3044
Thanks for the great discussion @jtorjo, I'm sorry it couldn't be easier for you.  Looks like a complex scenario beyond what we had originally envisioned for the extension.  I can see where the overlapping objects would cause troubles as it's going to be based on where the mouse pointer is entering/exiting the objects.

Please feel free to file a feature request for the future, may make sense to f

[2019-10-29 19:05] jtorjo commented on #3044
@michael-hawker Again, many thanks for explaining this to me!
About the WPF - not sure what you mean by "gap", because in WPF it's working correctly. I ran into this issue when porting my code from WPF to UWP.

[2019-10-29 19:50] michael-hawker commented on #3044
@jtorjo sorry I mean that this is a gap in UWP for those coming from WPF, as you discovered.  So, the WinUI repo would be the place to file an issue about adding a `Cursor` property back onto `FrameworkElement`.

[2019-10-29 19:55] chan18 commented on #3012
@michael-hawker, I got the same errors has @dj-fiorex ,
* cloned the repo.
* ```>msbuild /restore command ``` in Developer Command Prompt for VS

<details>

<summary> msbuild /restore </summary>

## Erros
[code]
[code]
[code]
[code]
[code]
<details>
[WindowsCommunityTollKitMsbuildRestoreLog.txt](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/3785543/WindowsCommunityTollKitMsbuild

[2019-10-29 20:34] #2819 closed

[2019-10-29 20:39] michael-hawker commented on #3012
@azchohfi @onovotny looks like it's complaining on some build command in a few places, E.g.:

[code]

Any ideas?

@dj-fiorex @chan18 to confirm do you have the release build .NET Core 3 installed?

[2019-10-29 20:45] michael-hawker opened #3048 "Sample App Documentation shows code for Try Sample App used in Docs"
## Describe the bug
Looking at the documentation in the sample app shows a div link for the try in sample app button we have in the docs.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to Sample App
2. Click on a sample
3. Click on documentation
4. See div (see screenshot below)

## Expected behavior
Div code should be hidden.

## Screenshots
![image](https://user-images.githubuserc

[2019-10-29 20:46] michael-hawker commented on #3048
For reference this is what the new docs will look like:
![image](https://user-images.githubusercontent.com/24302614/67807699-8fe62e00-fa52-11e9-9708-0fcb99dd80dc.png)

[2019-10-29 20:48] LokiMidgard commented on #1767
I tried out to implement some extensible parsing. I created a pull request (#3047) so you can give feedback if the direction I'm heading is OK.

I'll implemented only the Block Parsing for now.

[2019-10-29 20:52] michael-hawker opened #3049 "SampleApp doesn't show custom protocols in links"
## Describe the bug
If you use a custom protocol link like `[this one](uwpct://Controls?sample=AdaptiveGridView)` like we do in the new documentation to open the sample app.  The MarkdownTextBlock won't convert it to a hyperlink (apparently neither does GitHub).

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to AdaptiveGridView sample
2. Click on Documentation
3. Scroll down to 'Sam

[2019-10-29 20:53] michael-hawker commented on #3048
#3049 auxiliary related from the doc update perspective.

[2019-10-29 21:12] chan18 commented on #3012
[code]

[2019-10-29 21:33] mrlacey commented on #3048
I don't think we integrated the early changes far enough to see this as a possible issue.

I'm not aware of a way to hide this from the sample app in a way that would still allow it to work on the website.
I think we'll need to look at a way to remove it from the sample app.

[2019-10-29 21:59] michael-hawker commented on #3048
Thanks for the input @mrlacey.  I have some sample app integration/clean-up to do today, so I'll take a quick look.  It's a pretty minor thing at the moment, so always something we can look at later.  Especially if we get #3047, it might make it easier.

[2019-10-29 22:38] harinikmsft commented on #2958
We are not adding features to this DataGrid at this time. Please use @RBrid 's workaround above. If you would like to see this property in the newly proposed WinUI DataGrid, please add a comment in the [WinUI discussion issue](https://github.com/microsoft/microsoft-ui-xaml/issues/1500).

[2019-10-29 22:38] #2958 closed

[2019-10-29 22:50] harinikmsft commented on #2509
Not seen any customer report this since and seems like an edge case.

[2019-10-29 22:50] #2509 closed

[2019-10-29 22:52] harinikmsft commented on #2373
Customer unblocked.

[2019-10-29 22:52] #2373 closed

[2019-10-30 02:41] michael-hawker commented on #3029
Added a doc issue to track over there, so will close this one again now that we have guidance discussed here to copy over.  Thanks!

[2019-10-30 02:41] #3029 closed

[2019-10-30 10:46] vitor-antonio commented on #560
I actually did a small work around on the calendar view, and created a kind of custom range calendar control.
Its quite basic but does the job of enabling first date and end date selection and then select the dates in between.
If anyone is interested I could potentially shared the code!

Cheers!

[2019-10-30 17:35] michael-hawker commented on #3049
Thanks @avknaidu! Helps if I read our own docs I guess. 😋

I thought we had fixed this before, we just forgot to add to the SampleApp.  I'll do this now!

[2019-10-30 20:01] LokiMidgard commented on #1767
I'm not happy with the quote depth or the proposed `IEnumerable<char>` of quote characters.

This could be a little unflexible.

[code]

Bothe would not work with an array of character's, since those would could change every line.

Maybe having an Array of Delegates that will be called at the beginn of each line dynamicly checking the characters and returning the index where the sub text starts.

[2019-10-30 20:19] michael-hawker commented on #2943
@AaronV-NorthStar we haven't seen any issues with VS 2019 lately (outside of #3012).  Please let us know if you're still encountering any issues.

[2019-10-30 20:19] #2943 closed

[2019-10-30 20:23] michael-hawker commented on #2894
@HHChaos I believe this should be fixed now, we updated the WinUI version in the sample app recently.  Thanks!

[2019-10-30 20:23] #2894 closed

[2019-10-30 20:24] michael-hawker commented on #195
TokenizingTextBox is shipping in 6.0 and will be released soon, yay! Enjoy! 🎉🎉🎉🎉

[2019-10-30 20:26] AaronV-NorthStar commented on #2943
@michael-hawker Everything seems to be working just fine for myself at the moment. Thank you for asking.

[2019-10-31 02:27] HelloWindowsPhone opened #3052 "[Feature] TabViewItem headers at bottom"
## Describe the problem this feature would solve
Some time I put another sub TabView to a TabView, and sub TabView headers too near the parent TabView. It will be better if have option to move TabView headers to bottom

[2019-10-31 08:11] rikyuz opened #3053 "Closing the sign in window of AadLogin control causes unhandled exception"
## Describe the bug
Closing the sign in popup window with title bar close button causes unhandled exception. I'm using Microsoft.Toolkit.Uwp.UI.Controls.Graph library version 5.1.0.

## Steps to Reproduce
1. Open a solution containing the [AadLogin](https://github.com/windows-toolkit/WindowsCommunityToolkit/tree/master/Microsoft.Toolkit.Uwp.UI.Controls.Graph/AadLogin) control. For example [Microso

[2019-10-31 16:28] anawishnoff commented on #2956
We are not adding features to this DataGrid at this time. If you would like to see this feature in the newly proposed WinUI DataGrid, please add a comment in the [WinUI discussion issue](https://github.com/microsoft/microsoft-ui-xaml/issues/1500). Thanks!

[2019-10-31 16:30] anawishnoff commented on #2249
We are not adding features to this DataGrid at this time. I know you already added some feedback along these lines to the [WinUI discussion issue](https://github.com/microsoft/microsoft-ui-xaml/issues/1500) - feel free to add more if anything comes up. Thanks!

[2019-10-31 16:33] anawishnoff commented on #2319
We are not adding features to this DataGrid at this time. If you would like to see this feature in the newly proposed WinUI DataGrid, please add a comment in the [WinUI discussion issue](https://github.com/microsoft/microsoft-ui-xaml/issues/1500). Thanks!

[2019-10-31 16:34] anawishnoff commented on #2577
We are not adding features to this DataGrid at this time. If you would like to see this feature in the newly proposed WinUI DataGrid, please add a comment in the [WinUI discussion issue](https://github.com/microsoft/microsoft-ui-xaml/issues/1500) - there's already a lot of discussion about incorporating elements from the WPF API. Thanks!

[2019-10-31 16:36] anawishnoff commented on #2778
We are not adding features to this DataGrid at this time. If you would like to see this feature in the newly proposed WinUI DataGrid, please add a comment in the [WinUI discussion issue](https://github.com/microsoft/microsoft-ui-xaml/issues/1500). Thanks!

[2019-10-31 16:38] anawishnoff commented on #2842
We are not adding features to this DataGrid at this time. See possible workaround above. If you would like to see this feature in the newly proposed WinUI DataGrid, please add a comment in the [WinUI discussion issue](https://github.com/microsoft/microsoft-ui-xaml/issues/1500). Thanks!

[2019-10-31 16:38] anawishnoff commented on #2930
We are not adding features to this DataGrid at this time. If you would like to see this feature in the newly proposed WinUI DataGrid, please add a comment in the [WinUI discussion issue](https://github.com/microsoft/microsoft-ui-xaml/issues/1500). Thanks!

[2019-10-31 17:02] #2930 closed

[2019-10-31 18:18] ilbeigyz opened #3055 "AdaptiveGridView Grouping and OneRowModeEnabled"
Hi!
In AdaptiveGridView control when data grouped by a field and OneRowModeEnabled set to true, just first group shown and other groups not. Can any one help me. thanks.

It is my complete XAML FIle :
<Page
    x:Class="Voting.Views.BlankPage"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
    xmlns:local="using:Grou

[2019-10-31 20:09] michael-hawker commented on #3052
Thanks @HelloWindowsPhone for filing a feature request for this.  With the current TabView you could drive a separate container on selection to get this behavior currently.

Otherwise, I'd suggest voicing this need on the [WinUI thread here](https://github.com/microsoft/microsoft-ui-xaml/issues/1332) as their TabView will replace the one in the Toolkit once it reaches parity with ours and they do

[2019-10-31 20:09] #3052 closed

[2019-10-31 20:11] michael-hawker commented on #3053
Thanks @rikyuz, we're replacing this control with the [LoginButton Control](https://github.com/windows-toolkit/Graph-Controls/tree/master/Microsoft.Toolkit.Graph.Controls/Controls/LoginButton).  I believe we catch this exception there, but I'll move this issue to that repo so we can double-check.

[2019-10-31 20:12] michael-hawker commented on #3055
Linking to #2944 just in case it's related?

[2019-11-01 05:50] ilbeigyz commented on #3055
no, problem here is how we can have grouped items when OneRowModeEnabled = true. In other way can we use AdaptiveGridView with OneRowModeEnabled layout when data is grouped.

[2019-11-01 11:53] LokiMidgard commented on #1767
I'm currently considering the last, and will try to implement that.

I will create a class called `StringFilter` that for now will just wrap a string.

Later I would like to try to replace it with an Array of `ReadOnlyMemory<char>` and an indexer like this, maybe with a litle caching so iterating does not start always from the beginning:

[code]

Also with most of the string methods. However, I'm

[2019-11-01 15:38] michael-hawker commented on #3055
@ilbeigyz thanks for the clarification, I just know both issues effected OneRowMode, so they may be worth investigating together.

I don't know if we ever anticipated AdaptiveGridView being used with groupings.  Ideally AdaptiveGridView should be re-written as a panel using ItemsRepeater.

Would you expect the output to be something like this then:

**Group Header**
[ ] [ ] [ ] [ ] ... Row of Item

[2019-11-01 19:58] skendrot commented on #3055
Why are you using the AdaptiveGridView with the OneRowMode property? It defeats the entire purpose of the control. This property was supposed to be removed in #1615 but fell through the cracks.

[2019-11-02 20:40] LokiMidgard commented on #1767
I also refactored Inline elements now and removed quoteDepth.

There are currently 9 Tests in the `UnitTests.Markdown.Parse` failing. However They also failed before I made code changes. I haven't looked in those errors yet.

What's still missing:
[ ] New Tests to check ordering and custom Parsers
[ ] Make out of box Parsers configurable (e.g. what inlines can be parsed in the link)
[ ] What needs

[2019-11-03 07:47] LokiMidgard commented on #1767
Is there any spec how this markdown should get parsed exactly?

Especially quotes.

A Quote
1. Starts with a `>`
1. A line after a line with a starting `>` is also part of that quote
1. Several Empty Lines between two quote lines are also part of the quote and combine them to a single quote.
1. The second line without a starting `>` after a line with `>` is not considered a quote.

[code]

Results

[2019-11-06 01:34] michael-hawker commented on #3055
@skendrot I think it slipped through as I think we expected it to get rewritten as a panel.

[2019-11-07 04:34] ilbeigyz commented on #3055
Hi Michael, That's true, I want something you mentioned. I want to scroll horizontally each group independent of each other but if I use wrap panel and stack panel, the whole page scrolled.

[2019-11-07 04:38] ilbeigyz commented on #3055
I want the ability to scroll each group independently and I thought adaptivegridrow maybe can do that.. Have you any suggestions for that.

[2019-11-08 19:00] LokiMidgard commented on #1767
- [x] New Tests to check ordering and custom Parsers
  Added a test for ordering before, after and cycle detection
- [x] Make out of box Parsers configurable (e.g. what inlines can be parsed in the link)
  Added Config method to `MarkdownLinkInline`. So it can be configured to ignore additional link parsers.
- [x] What needs to be changed in the Renderer.
  I added a virtual method that will be ca

[2019-11-09 16:12] LokiMidgard commented on #1767
While I started with the documentation, I thought it would be better if the Block and Inline parsing would be more similär.

Currently inlines get the current position, and a position before that includes the text that was not yet parsed by any inline parser. It returns a class that has the inline element and the information of the position of this inline element. The start can be before the curre

[2019-11-09 19:20] michael-hawker commented on #1767
Thanks for all the updates @LokiMidgard, I'll try and go through them with a bit of a closer eye to get caught up next week after the release.

Will this change the `MarkdownRenderer` interface or is this work separate to move it up the pipeline?

For example, we use this in our Sample app to do some custom parsing/processing: https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/

[2019-11-09 20:22] LokiMidgard commented on #1767
I'll have added two virtual methods to the renderer, these will be called if an unknown element is encountered. But I could revert this. I'm not happy with this solution.

They are virtual so they break no one.

[2019-11-11 16:08] michael-hawker commented on #3027
This was fixed as part of PR #3054 in master, closing this for now.

[2019-11-11 16:08] #3027 closed

[2019-11-11 16:11] michael-hawker opened #3057 "TokenizingTextBox cannot be modified programatically"
## Describe the bug
It's not possible to programatically set the existing tokenized items in the TokenizingTextBox.

## Expected behavior
Should be able to provide a collection of strongly-typed items to the textbox to have pre-tokenized for form hydration or add/remove individual items later from other sources.

## Additional context
This was the 6.0 ship blocker, and deferred the control to 6.1.

[2019-11-13 01:21] #3048 closed

[2019-11-13 01:21] #3049 closed

[2019-11-13 07:35] #2925 closed

[2019-11-13 07:36] #2989 closed

[2019-11-13 10:40] JLesuperb opened #3058 "Get value of DataGrid RowEditEnded"

[2019-11-13 19:25] michael-hawker opened #3060 "[Feature] Future - Use JsonSerializer with .NET 5"
## Describe the problem this feature would solve
When UWP moves to .NET Core base (.NET 5?) we should remove the Json.Net dependency in favor of JsonSerializer.  [We could even provide some nice helpers to fill gaps](https://dotnettips.wordpress.com/2019/10/07/the-new-json-serializer-in-net-core-3/).

Related #2289 #2288 #889 #2957 #2723

## Describe the solution
Find and replace instances of Json

[2019-11-13 19:49] michael-hawker opened #3061 "[Question] Contribute Behaviors to main XAML Behaviors packages?"
@brianlagunas @PedroLamas we have some behaviors we're shipping in the toolkit (as well as [a helper](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI/Behaviors/BehaviorBase.cs) to make creating some types of behaviors that rely on UI loading easier).

Would it make sense to instead contribute these back directly to the behaviors repo? What are your t

[2019-11-13 19:52] michael-hawker opened #3062 "[Future] 7.0 Release Plan"
# 7.0 Release Plan

**Main Theme:** Release focused on dependency streamlining and clean-up to make pieces of the toolkit more consumable. (Includes clean-up and prep for WinUI 3)

Secondary Themes:
- Animations and Composition-level XAML Helpers (ThemeShadow, XamlLight, DropShadow, etc...)

[7.0.0-preview4 on NuGet](https://www.nuget.org/profiles/Microsoft.Toolkit) - **NOTE** 7.0 of the toolkit w

[2019-11-13 20:28] brianlagunas commented on #3061
It depends on the behaviors you are wanting to add. Obviously they can't be behaviors specific to a particular implementation, feature, or framework.

[2019-11-14 00:22] PedroLamas commented on #3061
I agree with Brian, my view is that this should be seen on a case by case to assess the added value of any new behavior.

[2019-11-15 15:32] rku-agnitio opened #3063 "ImageEx create instance issue with Windows Community toolkit version 6.0.0"
[code]

[2019-11-18 08:03] hez2010 opened #3064 "[Feature] Dispatcher.YieldAsync() for UWP"
## Describe the problem this feature would solve
Notify to update UI while executing code on a UI thread without needs of executing code on Dispatcher explicitly. It's useful for updating a progress bar in an event handler.

## Describe the solution
[code]

Instead of
[code]

[2019-11-18 17:54] michael-hawker commented on #3063
Thanks @rku-agnitio, we'll take a look. @Kyaa-dost can you reproduce this on your machine?

[2019-11-18 17:55] michael-hawker commented on #3012
Tagging to https://github.com/NuGet/Home/issues/8388

[2019-11-19 05:19] Kyaa-dost commented on #3063
@rku-agnitio I have tried this multiple times today and was not able to reproduce at all. What version of VS are you using? I am using Visual Studio 2019 V16.3.7 and is working completely fine.

[2019-11-19 08:23] rku-agnitio commented on #3063
HI,
I can reproduce it again.
I am using VS2017 15.9.17.
I haven\t tested with 2019.
I will test with 2019 and let you know.

Regards,
Renu Kumar

From: Kyaa-dost <notifications@github.com>
Sent: Tuesday, November 19, 2019 6:20 AM
To: windows-toolkit/WindowsCommunityToolkit <WindowsCommunityToolkit@noreply.github.com>
Cc: Renu Kumar <rku@agnitio.com>; Mention <mention@noreply.github.com>
Subject:

[2019-11-19 08:40] KevinZjYang opened #3066 "The Win2D.uwp 1.24 version of Windows Community Toolkit 6.0 could not pass the store test"
After upgrading WindowsCommunityToolkit 6.0, I found that I could not pass the store test after packaging.
The error message is as follows：

After continuous testing, I found out that it was a problem with the Win2d.uwp 1.24 version.
I successfully solved the problem by modifying the Win2D.uwp version to 1.23.
Methods as below:
Open your project folder through the Windows Explorer, modify the "pro

[2019-11-19 13:33] wbokkers commented on #195
Can't find TokenizingTextBox in 6.0... 😥

[2019-11-19 17:52] michael-hawker commented on #3066
There is a known issue with the local WACK tool included with the dev tools, submitting to the store is not blocked by this.  See the original thread here: https://github.com/microsoft/microsoft-ui-xaml/issues/1446

[2019-11-19 17:52] #3066 closed

[2019-11-19 18:00] michael-hawker commented on #195
Hi @wbokkers, sorry about that, it's in the 6.0.0-rc1 package if you want to play with a preview of it.  We realized we had some conflicting fixes in the end which invalidated a key scenario, programmatic manipulation, see #3057.

We had to make the decision to hold back the control as to fix it would probably introduce breaking changes later otherwise.  We have to evaluate a solution and implemen

[2019-11-19 18:06] michael-hawker commented on #3063
Thanks @Kyaa-dost and @rku-agnitio.  We did update our own tool chain to 2019, but I'm surprised that it'd invalidate it from working in 2017 as a NuGet package.

@rku-agnitio, what version of the `Microsoft.NETCore.UniversalWindowsPlatform` are you using?  I wonder if that could be related as well.

@LyalinDotCom any thoughts on the tooling side about what could be going on here?

[2019-11-19 18:12] rku-agnitio commented on #3063
HI,
I am using 6.2.9.
It is interesting to know in detail.
Let me know your further findings and recommendations.

Regards,
Renu Kumar

From: Michael Hawker MSFT (XAML Llama) <notifications@github.com>
Sent: Tuesday, November 19, 2019 7:07 PM
To: windows-toolkit/WindowsCommunityToolkit <WindowsCommunityToolkit@noreply.github.com>
Cc: Renu Kumar <rku@agnitio.com>; Mention <mention@noreply.github.co

[2019-11-19 23:35] michael-hawker opened #3067 "[Docs] Fix invalid XML comment references"
See report: https://github.com/MicrosoftDocs/WindowsCommunityToolkitDocs/pull/275

[2019-11-20 09:18] niels9001 opened #3068 "[Feature] PowerPoint viewer for UWP?"
## Describe the problem this feature would solve
PowerPoint drives the enterprise. And in some LOB apps, it sometimes makes sense to embed slidedecks.

## Describe the solution
A viewer control that allows for simple adding a file path to a URL to view the slides, supporting swipe to go to the next/previous slide would be great. Support for animations is not really necessary.

## Describe alternat

[2019-11-21 16:42] skendrot commented on #3055
I would use an ItemsControl for each group. I'm going to close this issue as it's out of scope of what the AdaptiveGridView can do.

[2019-11-21 16:42] #3055 closed

[2019-11-21 18:47] #2949 closed

[2019-11-21 18:47] #2956 closed

[2019-11-21 20:37] Kyaa-dost commented on #2923
Closing the issue here since it is already opened in WCT Docs repo https://github.com/MicrosoftDocs/WindowsCommunityToolkitDocs/issues/225 and @michael-hawker have looped in @peteams to find out more on this.

[2019-11-21 20:37] #2923 closed

[2019-11-21 23:46] Kyaa-dost commented on #2984
Closing the issue since this does not seem to be possible with the reasoning provided above.

[2019-11-21 23:46] #2984 closed

[2019-11-21 23:52] Kyaa-dost commented on #3001
Closing the issue now since @RBrid has already provided the reasoning.

[2019-11-21 23:52] #3001 closed

[2019-11-22 00:42] Kyaa-dost commented on #2971
@pashmak73 did you follow up on what @HHChaos mentioned above?

[2019-11-22 01:50] Kyaa-dost commented on #2940
@xiedongweo FYI ⬆️

[2019-11-22 02:01] Kyaa-dost commented on #2920
@Lorymi FYI ⬆️

[2019-11-22 03:00] Kyaa-dost commented on #2914
@Javier118 did the instructions above help solve the problem? Or are you still seeing this? If you are still seeing this could you please open the issue in doc repo as asked above?

[2019-11-22 03:10] Kyaa-dost commented on #2890
@validvoid @skendrot any update on this?

[2019-11-22 18:44] #3028 closed

[2019-11-22 19:41] michael-hawker opened #3070 "Expander Header is hard to Stretch"
## Describe the bug
It's hard to cause the header of the Expander control to stretch across the size of the Expander.  The problem is the HorizontalContentAlignment isn't exposed for the header from [here](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/Expander/Expander.xaml#L21)

## Expected behavior
Able to easily stretch the header of an

[2019-11-22 23:08] skendrot commented on #3070
The content of the header will "stretch" as much as is needed.... What's the use case/scenario that isn't working?

[2019-11-22 23:10] skendrot commented on #2890
My personal opinion is that such a service should be in a different toolkit/nuget. Not saying the need isn't there for one. I personally don't think it belongs in **this** toolkit.

[2019-11-22 23:20] skendrot commented on #3058
This issue has no description and we are not adding features to this DataGrid at this time. If you would like to see this feature in the newly proposed WinUI DataGrid, please add a comment in the [WinUI discussion issue](https://github.com/microsoft/microsoft-ui-xaml/issues/1500). Thanks!

[2019-11-22 23:20] #3058 closed

[2019-11-22 23:25] skendrot commented on #3068
I'm not an expert in this area by any means , but this would probably be difficult due to licensing restrictions.

[2019-11-25 06:11] dpaulino commented on #2882
Was there ever a solution to this? I am getting a similar error when I run the Windows App Certification toolkit.

Image:
![image](https://user-images.githubusercontent.com/7649589/69516628-0e75a480-0f07-11ea-932f-d52859cba868.png)

Full error text:
[code]

Here are the version numbers of my nuget packages:
![image](https://user-images.githubusercontent.com/7649589/69516666-336a1780-0f07-11ea-8243

[2019-11-26 19:06] michael-hawker commented on #3070
@skendrot if you have the expander stretch to its parent size, but then want to right-align anything within the header itself, you can't as the header content is left-aligned and not able to be stretched.

[2019-11-26 19:38] Going-Gone opened #3071 "Have a CellTap property to only fire when a row is tapped with mouse, or touch[Feature][DataGrid]"
## Describe the problem this feature would solve
Using the selectionchanged event to get row details works fine when simpily selecting the row, but if a person is using key up or down to traverse the row, this can be a pain.

## Describe the solution
Implement a CellTap feature sort of like telerik's datagrid. It only fires when the row is selected with the mouse.

## Describe alternatives you've

[2019-12-02 14:27] hermitdave commented on #3070
![image](https://user-images.githubusercontent.com/1896163/69967165-c14d9000-150f-11ea-94b1-5e90f0609d5e.png)
I was trying to use Expander for this and found it very hard to customise the header. Eventually ended up with custom control rather than expander

[2019-12-03 00:48] #2972 closed

[2019-12-03 13:13] Djawo93 commented on #3063
I sow the same issue with RadialGradientBrush control using Microsoft.Toolkit.Uwp.UI.Media version 6.0.0.

UNHANDLED EXCEPTION: Cannot create instance of type 'Microsoft.Toolkit.Uwp.UI.Media.RadialGradientBrush'

Other controls from this NuGet package work fine.

[2019-12-03 21:13] Kyaa-dost commented on #2991
@SeakyLuo FYI  ⬆️

[2019-12-03 21:23] Kyaa-dost commented on #821
@Odonno any update on the issue?

[2019-12-03 21:26] Kyaa-dost commented on #837
@Weasy666 any update on this?

[2019-12-03 21:42] Weasy666 commented on #837
No, UserVoice seems to be also dead and most people here were also not in favor of this. So i guess you can close it because of a lack of interest.

[2019-12-03 21:45] Kyaa-dost commented on #837
@Weasy666 Thanks for the update 👍

[2019-12-03 21:45] #837 closed

[2019-12-03 21:50] Kyaa-dost commented on #1159
@TheSETJ any update on this?

[2019-12-03 21:53] Kyaa-dost commented on #1056
@aL3891 any update on this?

[2019-12-03 22:01] Kyaa-dost commented on #908
@shams92 what's the update on this?

[2019-12-03 22:04] Kyaa-dost commented on #770
@Pinox what's the update on this?

[2019-12-03 22:06] Kyaa-dost commented on #985
@ThomasPe any update on this?

[2019-12-03 22:09] Kyaa-dost commented on #1164
@Liero any update on this?

[2019-12-03 22:59] Kyaa-dost commented on #1179
@h82258652 what's the status on this?

[2019-12-03 23:03] Kyaa-dost commented on #1596
@aalok05 was this resolved?

[2019-12-04 01:19] h82258652 commented on #1179
I don't know, it seems no one is handling this.

[2019-12-04 01:20] Kyaa-dost commented on #1187
@Vijay-Nirmal What's the update on this one?

[2019-12-04 01:22] Kyaa-dost commented on #1190
@hermitdave is this still being worked on?

[2019-12-04 01:25] Kyaa-dost commented on #1334
@adrientetar what's the status of this issue?

[2019-12-04 01:49] Kyaa-dost commented on #1587
Closing this issue. Seems like the account of the author has been deleted.

[2019-12-04 01:49] #1587 closed

[2019-12-04 06:57] Pinox commented on #770
@Kyaa-dost  -   no update on this.  I'm hoping someone in the Blazor community can do something like this as the original control was a silverlight version although my personal opinion is that these controls should exist in WinUI 3.0

[2019-12-04 09:26] ThomasPe commented on #985
Not really, still unsure if this is something that is helpful to enough people, especially since the uservoice is gone now.

[2019-12-04 10:28] TheSETJ commented on #1159
@Kyaa-dost It's a long time I didn't work on any UWP project, thus I don't know.

[2019-12-04 12:59] Tominator-T1000 opened #3072 "DataGrid Column Proportional Widths with Decimal Separator is Dependent on CurrentCulture"
## Describe the bug
DataGrid column proportional widths with the decimal separator are dependent on CurrentCulture and can cause runtime exceptions to occur if the CurrentCulture is changed to a value that uses a different decimal separator than what is provided in the XAML.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Add a DataGrid with at least one column with a proportional width

[2019-12-05 11:18] filipwa84 opened #3073 "DataGrid goes into Infinity Loop"
## Describe the bug
The DataGrid sometimes goes into an infinity loop. What triggers it is somewhat random and seems to depend on the screen resolution, the DPI settings and the width of the given DataGrid rows.

In this example - and on my computer - the application just hangs as soon as it starts if the DataGrid is in a StackPanel. However, putting it inside a Grid works. Testing the same code o

[2019-12-09 19:40] Kyaa-dost opened #3075 "[Feature] Bot test to automatically close the issue once the relevant PR is merged"
## Describe the problem this feature would solve

## Describe the solution

## Describe alternatives you've considered

## Additional context & Screenshots

[2019-12-09 20:55] #3075 closed

[2019-12-09 21:12] michael-hawker commented on #3073
Thanks for reporting @filipwa84.

Adding @anawishnoff and @RBrid for insights too.

[2019-12-10 21:53] hermitdave commented on #1190
seriously?

[2019-12-10 21:53] #1190 closed

[2019-12-11 16:12] mabbond opened #3076 "[Feature] PrintHelper Multi-Window"
Hi, the PrintHelper class works like a charm in a single window app, but in a multiple windows app, it doesn't work properly because it uses the DispatcherHelper.ExecuteOnUIThreadAsync which calls the main thread and the printing happens in a different thread.

[2019-12-11 19:24] anawishnoff commented on #3071
Hi @Going-Gone, just to clarify - are you trying to activate the SelectionChanged event when traversing with the keyboard? What exactly happens when you traverse the keyboard vs. when you touch/use the mouse?

[2019-12-11 19:39] anawishnoff commented on #3072
Thanks so much for all of the details you've provided here, @Tominator-T1000! It seems like you've really got to the bottom of this bug and it should be a relatively simple fix...

@RBrid - what are your thoughts on fixing this bug?

[2019-12-11 19:46] anawishnoff commented on #3073
This is definitely an odd bug, and a big one too if its affecting multiple users/apps. I haven't encountered this issue before, and I'm not too sure what's causing it. The line that it stops at is likely our clue...

@RBrid, do you have any insights as to what line 1967 in ` DataGridRow.cs` accomplishes and why it may break at certain scenarios? Figured you're most familiar with the source code of

[2019-12-12 10:30] FrancoisM opened #3077 "TextBoxRegex.Regex doesn't respect its regex expression"
## Describe the bug
I have a regex that specifically allow digit and comma and nothing else. Yet values with a point are valid.

## Steps to Reproduce
Steps to reproduce the behavior:

[code]

`StrictlyPositiveDecimalRegex = "^([1-9]{1}\d{0,2}([ , ]?\d{3})*(\,[0-9]{1,2})?)|(0(\,((0[1-9])|([1-9]{1}\d{0,1})))+)$"`

When I try that regex in https://regex101.com/, "999.99" is not valid. Yet my textbox

[2019-12-12 10:37] antokhio opened #3078 "Unknown attachable member 'ListViewExtensions.Command' on element 'ListView'"
## Describe the bug
https://docs.microsoft.com/en-us/windows/communitytoolkit/extensions/listviewextensions
this page states command extension for list view, but all i get is
Unknown attachable member 'ListViewExtensions.Command' on element 'ListView'

https://stackoverflow.com/questions/59301716/unknown-attachable-member-listviewextensions-command-on-element-listview

also seems missing on https:

[2019-12-12 23:49] DanielGlick45 opened #3079 "DataGridRows not accessible in Release mode"
## Describe the bug
DataGridRows are not able to be recognized when running UITests when the app is deployed in release mode. This is a problem for me because I need to run the app in release mode to make sure I test closest to what the customer will be getting in my app.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Run the attached project in Release mode
[ReleaseDataGrid.zip](https

[2019-12-13 09:36] filipwa84 commented on #3073
@anawishnoff @RBrid  Weird indeed. I first encountered it in the application we are working on as it would hang/crash when moving the window from my laptop screen to an external monitor. The two screens had different resolution and DPI settings. On the laptop the application runs fine but when opening the app on the external monitor it crashes/hangs.

Unfortunately I am not able to share the code

[2019-12-14 11:48] aL3891 commented on #1056
i dont have any update, i made a proposal and awnsered @skendrot s questions but i never heard anything else back after that.. i still think this is a good proposal, but if the contributors are not interested, then i suppose that's it :)

[2019-12-15 11:32] yoav85 commented on #2170
Perhaps this issue it related to another one, in another project of UWP examples? https://github.com/Microsoft/Windows-universal-samples/issues/977

[2019-12-15 20:45] LokiMidgard commented on #1767
Finally had time to finish most of the stuff to get this finished.

I have two things that need to be done

@michael-hawker can you point me in the right directions and what should be changed and what should stay.

# First

How can I test against previous windwos version SDKs? I only have one machine to test on?

# Seccond breaking chages

I'm not sure if I have breaking changes (I think I do). So

[2019-12-15 21:12] WilliamABradley commented on #1767
@LokiMidgard See PR #1974 about the Quote Formatting

[2019-12-16 09:17] hupo376787 opened #3080 "ImageEx causes performance issue on Xbox One S -- Critical"
## Describe the bug
I'm designing an app, which home is very likely to NetFlix' home page. Recently I found some performance issue on XBox One S. Please see my [repo](https://github.com/hupo376787/ItemsRepeaterPerformanceTestDemo).
The ImageEx control is used with [ItemsRepeater of Microsoft UI](https://github.com/microsoft/microsoft-ui-xaml).

So it maybe caused by this two controls. When using I

[2019-12-16 09:29] hupo376787 commented on #3080
[![ImageEx causes performance issue on Xbox One S](https://i.ibb.co/hFQ4Gqp/https-i-ytimg-com-vi-o-FLVUq7p9o8-hqdefault.jpg)](https://youtu.be/oFLVUq7p9o8 "ImageEx causes performance issue on Xbox One S")

[2019-12-16 11:06] LokiMidgard commented on #1767
Thank you @WilliamABradley. That helped a lot.

I updated the Quote tests. There is now one difference compared to the previous behavior.

[code]
Parses currently:

Old behavior was:

------
The current behavior is like CommonMark does it. And I think it make sense that putting quote characters before some text does not change the AST of the now quoted text.

The Quote parser still has the code to

[2019-12-16 22:29] Kyaa-dost commented on #821
Not certain if this feature received enough vote to proceed since Uservoice is not operational anymore. Team, is this something we want to continue to look into it for the future project or should we close this out for now? @Odonno @deltakosh CC: @michael-hawker

[2019-12-17 04:43] zipswich opened #3081 "Unable to translate English to Japanese"
## Describe the bug
Unable to translate English to Japanese

- [x] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:
Not sure which is the last working version.  At least a version of last year worked.

## Steps to Reproduce
Steps to reproduce the behavior:
Run the following code:
`await TranslatorService.Instance.TranslateAsync("test", "en", "jp").Con

[2019-12-17 07:48] Odonno commented on #821
Well, maybe not spread enough. I believe that can be a thing, at least for business apps.

Anyway, I have no time to dedicate for this so I close it for now.

[2019-12-17 07:48] #821 closed

[2019-12-18 18:44] jp-weber opened #3082 "[Feature] ImageEx with custom CacheDuration"
## Describe the problem this feature would solve
Currently it is not possible to set different cache duration for the control via XAML. It should be possible in the future to set the cache duration via XAML, so that different cases can be used, e.g. thumbnail, normal picture, etc.

[2019-12-18 19:24] Kyaa-dost commented on #3076
@mabbond could you please add an image or clip of what you are seeing?

[2019-12-18 19:44] Kyaa-dost commented on #3077
@FrancoisM Thanks for opening the issue. I am able to reproduce this as well.

[2019-12-18 20:05] mabbond commented on #3076
@Kyaa-dost here is a screen shot of the app that I'm working on.
![error2](https://user-images.githubusercontent.com/58782968/71118692-98332d80-21a6-11ea-9a01-41de4981fb5c.png)

When I hit the print button it throws this error, because I try to invocate the printing dialog from the secondary screen it throws this error
![error](https://user-images.githubusercontent.com/58782968/71119166-9322ae00-2

[2019-12-18 21:40] Kyaa-dost commented on #3080
@hupo376787 Thanks for opening the issue, I was able to reproduce this as well.

[2019-12-18 22:09] michael-hawker commented on #3080
@Kyaa-dost to clarify you reproduced the same issue on desktop?

[2019-12-18 22:11] michael-hawker commented on #3081
Thanks for filing the bug @zipswich, did it work with other languages you tried still?  Wondering if the response from the server has changed...

@marcominerva any thoughts?

[2019-12-18 22:18] marcominerva commented on #3081
The exception says that JSON has an unexpected format. In fact, it could be caused by a change in the response from the server. Let me double check, I'll keep you informed about any progress.

[2019-12-18 22:20] michael-hawker commented on #3079
FYI @anawishnoff @RBrid

[2019-12-18 23:09] Kyaa-dost commented on #3080
@michael-hawker Correct!

[2019-12-18 23:50] zipswich commented on #3081
It works perfectly for every other language that I have tested (cs, de, es, et, fr, it, ko, nl, pl, pt, ru, sl, uk, zh).

Thanks for looking into this.  Please feel free to let me know if I can assist in any way.

[2019-12-19 02:33] hupo376787 commented on #3080
Hi, guys. Thanks for your attention.
I have used apple tv and android tv, the same design likes NetFlix' home page, they all have a very smooth experience, while srolling up/down.
So I hope combining ItemsRepeater and ImageEx, uwp can also reach and surpass them, on every win10 device.

[2019-12-19 09:02] marcominerva commented on #3081
The correct language code for Japanese is **ja**, as returned by the **GetLanguageNamesAsync** method:

`await TranslatorService.Instance.TranslateAsync("test", "en", "ja").ConfigureAwait(true);`

[2019-12-19 15:39] zipswich commented on #3081
Thanks a lot.  Very sorry for the mistake.
I am really surprised.   Our hardware partner requested and apparently tested the Japanese translation using "values-jp" folder in an Android app, and this is why "jp" was used.

[2019-12-19 18:42] Kyaa-dost commented on #3081
@marcominerva Thanks so much for looking into this. @zipswich so are we all clear on this?

[2019-12-19 21:40] zipswich commented on #3081
Yes.  I am all set now.
I wanted to add that the reason that I thought it worked before is that I had another app the did Japanese translation last year, but it used the retrieved language code, and I thought it was the same as "jp".
May I make a suggestion: dump the response in the exception message when the json deserialization generates an exception.

[2019-12-20 17:19] Jeff4rr opened #3083 "System.Private.Interop throwing errors on XamlTypeInfo ... missing metadata"
Code works in Debug but fails in Release with Visual Studio 16.4.2 - worked using Visual Studio 16.3.2 -

Debug traces extracted and pasted from stepping through

-----------------------------------Start Trace-------------------------------------------------------------       [global::System.CodeDom.Compiler.GeneratedCodeAttribute("Microsoft.Windows.UI.Xaml.Build.Tasks"," 10.0.18362.1")]
        [

[2019-12-20 17:25] ranjeshj commented on #3080
@hupo376787 Just to clarify. Is this issue specific to ImageEx **and** Xbox ? Do you see the issue if you use Image ? What about on desktop when using ImageEx ?

[2019-12-21 02:58] hupo376787 commented on #3080
Well, I made a table comparing sample app and my production app.

### Sample App
Sample app just has an Image and 2 TextBlocks. No converters and other animations.
| x | Xbox One S | Desktop(i7 8th, MX250) |
| ------ | ------ | ------ |
| ImageEx | very bad, can't acceptable | somewhat acceptable |
| Image | better than ImageEx, somewhat acceptable | acceptable |

### My Production App
My app has

[2019-12-22 16:01] KevinZjYang commented on #2882
@dpaulino I have the same problem as you. This problem occurs whenever I upgrade "Microsoft.Toolkit.Uwp.UI.Lottie" to version 6.0.0. Downgrading to version 5.1.1 is all right.

XAML:
[code]
Nuget:（All stable versions）
Microsoft.UI.Xaml 2.3.191211002
Microsoft.Toolkit.Uwp.UI.Lottie 6.0.0

@kbrons Help us.

[2019-12-23 21:45] michael-hawker commented on #3083
Thanks @Jeff4rr for the report.  To clarify, do you say this works in VS 16.3.2?  If so, it sounds like there was an issue in the previous version of VS you were using that is now fixed?

[2019-12-23 22:07] Jeff4rr commented on #3083
@michael-hawker, apologies for any misunderstanding

The ARM portion of the build works using Visual Studio 2019 v 16.3.2
The ARM portion of the build fails using Visual Studio 2019 v 16.4.2
The above stack trace is what is thrown when Visual Studio 2019 v 16.4.2 is set to Release build on a 64 bit machine.

Windows.UI.Xaml.Controls.Primitives. seems to be the problem, I tried adding a reference t

[2019-12-23 23:42] #3012 closed

[2019-12-24 00:06] michael-hawker commented on #3012
@dj-fiorex @chan18 sorry for the delay on this, the NuGet team was able to help us find a workaround to Nuget/Home#8388. Can you try re-cloning and running from just in VS 2019 and see if you're able to build now?  If not, please let us know. Thanks!

[2019-12-24 05:36] KevinZjYang opened #3085 "After upgrading "Microsoft.Toolkit.Uwp.UI.Lottie 6.0.0", using "Windows App Cert Kit" general metadata correctness verification failed"
## Describe the bug
This problem occurs whenever I upgrade "Microsoft.Toolkit.Uwp.UI.Lottie" to version 6.0.0. Downgrading to version 5.1.1 is all right.
See the error for details：#2882 ，Just like what @dpaulino said.
Because that issue has been closed.

XAML:
[code]
- [ X] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:
Microsoft.Toolkit.Uwp.UI.Lott

[2019-12-24 10:16] michael-hawker commented on #3083
@Jeff4rr no worries, thanks for clarifying. And this is on ARM not ARM64, correct?  And with the 6.0.0 release of the toolkit?

Do you have a minimal repo project you could share here with us?  This is cutting across the toolkit, WinUI, Win2D (possibly as that's what the Drop Shadow Panel uses), and VS.  It'd help us take a closer look, especially if the exception is coming from outside of the too

[2019-12-24 17:22] Jeff4rr commented on #3083
@michael-hawker - I will create a small example to replicate and submit as soon as possible.

[2019-12-26 11:33] zhuxb711 opened #3086 "Please provide an easier way to disable ToolTip on RangeSlider"
Now if I need to disable ToolTip on RangeSlider, it needs modify the Template.

Please provide a property to disable the tooltip, just like the property "IsThumbToolTipEnabled" of "Slider" control

[2019-12-27 02:01] blakepell commented on #2858
With .NET Core 3 I've decided to migrate my project from UWP to WPF, less road blocks and red tape.  @dpaulino I'm actually going to use the project you mentioned, Avalon Edit, which now has .NET Core 3 support (that editor is rock solid in everything I've thrown at it).  In a very minimal amount of code I was able to get it render all of the ANSI sequences I need to support.  I put half a million

[2019-12-29 15:18] zipswich opened #3087 "[Feature]Optional parameters for TranslatorService"
## Describe the problem this feature would solve

It would be great if TranslatorService.Instance.TranslateAsync() allows optional parameters. To make the implementation simple, it could return the raw json response and let the user parse it.

## Describe alternatives you've considered

## Additional context & Screenshots

[2019-12-29 17:42] Palatis opened #3088 "WPF XamlIsland ThemeListener exception"
## Describe the bug
I have no idea if this issue should go here (or to `Microsoft.Toolkit.Win32`), but since the source code is here, I post it here.

I'm using `XamlIsland` in WPF to host my UWP custom control.
However it occasionally crash with `InvalidOperationException` says something like "Cannot create new view because main window is not created." (the actual message is "無法建立新的檢視，因為尚未建立主視窗",

[2019-12-30 20:11] Going-Gone commented on #3071
I would like to use

The selection changed event fires for each row I move to with the keyboard.
It would be nice to have an event solely for a mouse click or cell tap, instead of only the selection changed event.

The event fires for both click, and traverse keyboard and mouse.

[2020-01-01 17:57] ianier opened #3089 "[Feature]Implement ICollectionView.CollectionGroups in AdvancedCollectionView"
It would be great for AdvancedCollectionView to implement ICollectionView.CollectionGroups, based on item's IGrouping, just like the default view implementation of CollectionViewSource does.

This would allow using groping and incremental loading together, which CollectionViewSource doesn't support.

Currently I'm working on inheriting from AdvancedCollectionView and redefining CollectionGroups, t

[2020-01-02 04:26] hupo376787 opened #3090 "ImageEx show black sometimes when navigate back"
## Describe the bug
I have a GridView in a page(cache enabled),in the GridViewItem data template,
[code]

When enter an item ,and navigate back, some items may become black....
Does this relate to `ImageEx`'s `IsCacheEnabled`???
Sometimes when I first enter page, there still exists some black.

## Screenshots
I met several times this morning, but now I can't reproduce it.
If this occured, I will p

[2020-01-02 17:12] lalitpatil007 opened #3091 "How to make WebView editable?"
Like WebBrowser, how WebView can be made editable? WebView does not seem to have document property that can be typecasted to IHTMLDocument2 or HTMLDocument (designMode = "On").
Scripting is the only way or is there any better way to make it editable?

Kindly let me know.

Thanks

[2020-01-03 07:42] LokiMidgard commented on #1767
@michael-hawker Any Update? Can I remove the "draft" from the pull request?

[2020-01-03 12:55] FarjanaParveen opened #3092 "[UWP] How to optimize the CPU usage taken by UWP DataGrid?"
## CPU usage is taken high
When we load the 10000 records with 5 columns CPU usage is 8 to 10 %, and when we mouse hover in DataGrid the CPU usage is 6 to 7 %.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Run the sample
2. Click the DataGrid button and note the CPU usage in Task Man

[2020-01-03 18:27] anawishnoff commented on #3071
@Going-Gone Thanks for clarifying! I think this is an important issue for accessibility. We currently have an ongoing thread that's taking requests and ideas for an all-new DataGrid control, and single-cell selection that's easy to handle in the code-behind was a super popular request. Feel free to look through the [thread here](https://github.com/microsoft/microsoft-ui-xaml/issues/1500) and add y

[2020-01-04 02:01] mfeingol opened #3093 "Microsoft.Toolkit.Uwp.Notifications.dll needs to be included in .NET Native runtime directives"
## Describe the bug

When a UWP app is linked using .NET Native and shipped to the store, toast notifications built using Microsoft.Toolkit.Uwp.Notifications.dll stop working. They still appear, but they lose all context provided by the user and show up as:

[code]

The workaround is to include the notifications assembly in rd.xml, like so:

```<Assembly Name="Microsoft.Toolkit.Uwp.Notifications"

[2020-01-06 03:31] Kyaa-dost commented on #3092
@FarjanaParveen Thanks for opening a ticket. FYI @anawishnoff and @RBrid.

[2020-01-06 12:29] NeelakandanKannan opened #3095 "How to install the UWP appx bundle in PC using command line?"
Hi Team,

I have successfully built the app bundle for the UWP application using command line. I want to install the app bundle to the PC as a application using command line. I have re-searched lot of things. But, all the topics are coming up for deploying the app to windows phone device. Can you please help me to install the uwp app bundle to PC (windows 10) using command line?

[2020-01-07 22:12] michael-hawker commented on #3093
@andrewleader any thoughts on what may have happened here?

[2020-01-07 22:15] michael-hawker commented on #3095
Hi @NeelakandanKannan, when you build an app package, it should have a PowerShell script along with it.  That can install the app on the machine.

This is the GitHub for the Windows Community Toolkit library though, so I'm not sure how your question is related. For similar questions like this in the future, it'd be best to post on Stack Overflow with the 'UWP' tag.

[2020-01-07 22:15] #3095 closed

[2020-01-07 22:38] andrewleader commented on #3093
@michael-hawker no idea, and I'm not aware of or familiar with rd.xml and the new .NET Native runtime directives :/

[2020-01-08 18:12] Jeff4rr commented on #3083
Each package builds individually, when x86, x64, ARM bundle is built run into missing metadata for the ARM primitives???

Having difficulty creating small package that replicates issue, need to extract entire custom control into new assembly then create a page that uses it.

[2020-01-09 18:45] ToddThomson commented on #3062
@michael-hawker  Is the ContentSizer control going to be part of this release?

I just learned about ( and installed ) the XAML Studio app. Great Garage project! I read that you used the ContentSizer in the app. Can you use the ContentSizer with a SplitView? I am also interested in what Editor control you used ( for line numbers, etc ). Thanks in advance!

[2020-01-10 16:33] skendrot commented on #3070
You could easily change the HeaderStyle of the Expander to stretch the content. Don't need a new control.
I submitted a PR for this but it is a breaking **visual** change

[2020-01-10 16:50] zipswich opened #3097 "Error "Could not load file or assembly" for OneDriveService.Instance.RootFolderForMeAsync()"
## Describe the bug
The following code had been working flawlessly for about 2 years until today when I updated a bunch of NuGet packages:
`oneDriveRootFolder = await OneDriveService.Instance.RootFolderForMeAsync();`
Now, it throws the following exception:

[code]
I understand OneDriveService is obsolete.  Is this expected?  I would love to have it working now while preparing to use Graph SDK to r

[2020-01-10 20:26] zipswich commented on #3097
Downgrade Microsoft.IdentityModel to 3.13.7.964, but get the following error:
https://aka.ms/msal-net-3-breaking-changes

[2020-01-11 00:38] Jeff4rr commented on #3083
@michael-hawker Thanks for the note 18 days ago, while trying to build small application I Allowed Visual Studio to access firewall on LAN and removed extraneous using packages in control throwing constructor errors. Bundle built without errors using 16.4.2
1>  Your package has been successfully created.
========== Build: 1 succeeded, 0 failed, 2 up-to-date, 0 skipped ==========
A package has been

[2020-01-11 00:38] #3083 closed

[2020-01-12 20:36] timunie opened #3098 "Unable to apply DropShadow to an Ellipse filled with RadialGradientBrush"
## Describe the bug
I am trying to apply a `DropShadow` to an `Ellispe` filled with a `RadialGradientBrush` I am not able to get this to work. The `DropShadowPanel` works as expected if I change the `Brush` to a `SolidColorBrush`

## Steps to Reproduce
[code]
where `Fill` is a `RadialGragientBrush` generated in code behind

![image](https://user-images.githubusercontent.com/47110241/72225125-0985b

[2020-01-14 13:13] NeelakandanKannan commented on #3095
Hi @michael-hawker ,

Thanks for your update I just tried to install the Appx via powershell. Its working.

[2020-01-14 18:08] michael-hawker commented on #3097
@zipswich yeah, the recommended guidance is to use the Graph SDK, which it sounds like you're looking at.. We do have new preview [helpers](https://aka.ms/wgt) to make it easier to connect.

However, the existing libraries are built on older graph/msal libraries. I don't think there were many, if any, updates in the OneDriveService as we've moved to the new system built on-top of the official SDKs

[2020-01-14 21:06] zipswich commented on #3097
@michael-hawker I decided to embrace Graph which I need to do sooner or later.  I am just so swamped now so that I hesitated at the beginning.
Unfortunate, [the journey with Graph has been very rough so far](https://stackoverflow.com/questions/59695695/microsoft-graph-exception-aadsts70000-the-provided-value-for-the-input-paramet).  I have reached a point of no return, but it looks like the planne

[2020-01-14 21:31] StefanieCai opened #3099 "Microsoft.Toolkit.Uwp.Notifications is not strongly-named"
UWP projects are not signed. Get the following error:

System.IO.FileLoadException: Could not load file or assembly 'Microsoft.Toolkit.Uwp.Notifications, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from HRESULT: 0x80131044)

[2020-01-14 21:39] michael-hawker commented on #3099
Thanks @StefanieCai for the report.  This is a regression in 6.0 from 5.1.1.

It appears our [heuristic for signing](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Directory.Build.props#L24) needs to be modified as this project is mostly used in .NET projects and would need signing.

@onovotny would it be easier to override the property in the project for this specific case

[2020-01-14 22:18] michael-hawker commented on #3099
Actually, looks like the Notifications project was never signed, I'm not sure what I was looking at before earlier.

[2020-01-15 01:49] KevinZjYang commented on #3085
Can anyone help me?

[2020-01-15 16:37] zipswich commented on #3097
@michael-hawker I am finally making progress by using Microsoft.Toolkit.Graph.Controls 6.1.0-preview1 in lieu of the Graph SDK.
I have got stuck at the last step: uploading a file with its stream.  The Graph reference document gives a **C#** example of updating a file, but not uploading one.  I tried to use PutAsync without luck.  Could you point me to an example of uploading a file?  I just need

[2020-01-15 21:59] #3081 closed

[2020-01-15 22:18] michael-hawker commented on #3062
@ToddThomson added it to the list 😉; I may just need to take a weekend and add it in...

I haven't tried ContentSizer it with SplitView, only with Expander, so that's part of the work to do too.

The editor control is the same one we use in the toolkit sample app, it's a wrapper around the VS Code Monaco control, it's repo is [here](https://github.com/hawkerm/monaco-editor-uwp). XAML Studio just h

[2020-01-16 13:03] niels9001 opened #3100 "GazeElement StateChanged not working on TextBox?"
## Describe the bug
It's not clear to me on what controls the StateChanged event should work - in the documentations, some button controls are mentioned. However, when applied on a TextBox nothing works - which is strange to me.
I'd expect that any control would have a GazeElement StateChanged event trigged (e.g. the user's gaze enters a TextBox). The docs should be more clear as well, indicating

[2020-01-16 21:18] DanielGlick45 commented on #3079
Any update on this?

[2020-01-16 21:39] michael-hawker commented on #3097
@zipswich saw [you posted on the docs repo](https://github.com/microsoftgraph/microsoft-graph-docs/issues/6815), that's the right thing to do, especially when a sample is missing like that.

I don't have much first-hand experience with OneDrive for things like this, I'm taking a quick look, but  indeed it's not super obvious.

[2020-01-16 23:00] zipswich commented on #3097
@michael-hawker After extensive search, trial & error, I have finally figured out how to upload a small file (< 4MB) and a large file (quite different calls).  It is fairly easy with the beloved toolkit.  I would love to contribute simple code snippets to the [toolkit](https://github.com/windows-toolkit/Graph-Controls)'s document.   Is there a quick and appropriate way to do it?

[2020-01-17 00:21] michael-hawker commented on #3060
Looks like we can already reference a .NET Standard 2.0 version of the package for [System.Text.Json](https://www.nuget.org/packages/System.Text.Json).

[2020-01-17 05:42] h82258652 commented on #3060
https://github.com/dotnet/corefx/issues/38592
But the newest version System.Text.Json is not compatible with uwp. I don't think it is time to remove JSON.net and move to System.Text.Json.

[2020-01-19 11:45] SecretUnicorn opened #3101 "Cannot install package because wrong target? (Using a brand new project with newest version)"
Package Version(s):

Windows 10 Build Number:
- [X] Fall Creators Update (16299)
- [ ] April 2018 Update (17134)
- [ ] October 2018 Update (17763)
- [ ] May 2019 Update (18362)
- [ ] Insider Build (build number: )

App min and target version:
- [X] Fall Creators Update (16299)
- [ ] April 2018 Update (17134)
- [ ] October 2018 Update (17763)
- [ ] May 2019 Update (18362)
- [ ] Insider Build (xxxxx

[2020-01-19 11:47] SecretUnicorn commented on #3101
![grafik](https://user-images.githubusercontent.com/24612112/72680405-bd72ce80-3ab9-11ea-88fa-94ebbbc1d423.png)
Here is the error in VS (The other one was in Rider)

[2020-01-19 14:02] #3101 closed

[2020-01-20 09:37] LokiMidgard commented on #1767
I created a package in my [github nuget package source](https://github.com/LokiMidgard/Stasistium/packages) and started using this.

I hope I find some design flaws I've created when I refactored the code.
I already found some some problems with visibility so far. But I hope the general concept holds.

[2020-01-21 04:26] hupo376787 opened #3102 "[Feature]NetworkHelper show real-time upload/download speed"
## Describe the problem this feature would solve

NetworkHelper show real-time upload/download speed, currently there is no way to get network transfer speed.

[2020-01-21 04:26] hupo376787 opened #3103 "[Feature]"
## Describe the problem this feature would solve

NetworkHelper show real-time upload/download speed, currently there is no way to get network transfer speed.

[2020-01-21 04:27] #3103 closed

[2020-01-21 20:42] Kyaa-dost commented on #3102
@hupo376787 sounds like an interesting add-on. Let's see what our community developers think about this feature.

[2020-01-22 18:03] skendrot commented on #3102
How would this be useful within an app? How is this different from testing your speed in the browser?

[2020-01-22 18:59] SoundersFan opened #3104 "FileCache GetFromCacheAsync throws NullReferenceException"
## Describe the bug
A NullReferenceException is thrown when one calls GetFromCacheAsync for an uncached Uri. This is the same as [bug1719](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/1719) which appears to be prematurely closed.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the

[2020-01-22 19:01] SoundersFan commented on #3104
The issue is that `protected override Task<StorageFile> InitializeTypeAsync(Stream stream, List<KeyValuePair<string, object>> initializerKeyValues = null)` returns null and should return `return Task.FromResult<StorageFile>(null);`

[2020-01-22 19:01] SoundersFan commented on #3104
PR forthcoming.

[2020-01-22 20:50] hupo376787 commented on #3102
When media player playing online videos, we have to know the network status and video status. Also we won't open browser to test network status while playing video, this will interup video experience.
YouTube online player has many debug info, such as spped and video resolution, etc.
This function should be done by `MediaPlayerElement`, but unfortunately they don't!
So that's why I'm asking you to

[2020-01-22 21:18] ranjeshj opened #3106 "[Feature] Create a version of toolkit for WinUI 3"
Toolkit cannot be used with WinUI3 until we have a version of the toolkit for WinUI3.

[2020-01-22 22:06] azchohfi commented on #3106
We have a branch that has that (https://github.com/windows-toolkit/WindowsCommunityToolkit/tree/winui), but it's definitely not fully supported yet. You can play around with it and the build system should just work.

[2020-01-23 00:59] hupo376787 commented on #3102
I used following code, but it seems that the data usage api is not real-time.

[code]

[2020-01-23 14:42] jtorjo opened #3107 "[Feature] Make WrapPanel be virtualized"
## Describe the problem this feature would solve
WrapPanel is an insanely cool control. However, for a LOT of items, it's insanely slow. Like, for roughly 2000 items, even in release mode it sometimes takes roughly 10 seconds to load.

## Describe the solution
We already have a VirtualizedPanel in UWP, I'm assuming we could derive from that?

[2020-01-23 19:02] Kyaa-dost commented on #2971
@pashmak73  ⬆️

[2020-01-23 19:29] Kyaa-dost commented on #2959
@chan18 is this still being worked on?

[2020-01-23 21:23] Kyaa-dost commented on #3100
@harishsk @peteams FYI  ⬆️

[2020-01-23 21:42] michael-hawker commented on #3107
@jtorjo I believe the new recommendations are to use ItemsRepeater as a basis.  We'll take a dependency on WinUI when we move the toolkit to WinUI3 (see #3106).  At that point, we'll investigate re-writing some of the panels.  I know @skendrot has an interest in this area as well.

[2020-01-23 21:44] michael-hawker commented on #3106
I've created a WinUI3 milestone for us to track any work that has a dependency on WinUI.

[2020-01-23 21:46] michael-hawker commented on #3098
Thanks for the report @timunie, we definitely see this behavior. Probably has to do with how masks are being generated.

However, the brush is being added to WinUI now: https://github.com/microsoft/microsoft-ui-xaml/issues/266

So we should validate the initial implementation of their brush and fix it there instead, as once that ships, we'll be deprecating the version in the toolkit.

FYI @jesbis

[2020-01-23 21:50] michael-hawker commented on #3097
Thanks @zipswich, sorry for the delay, for toolkit docs can be found here: https://github.com/MicrosoftDocs/WindowsCommunityToolkitDocs

Otherwise, you could also make a PR against the official graph docs as well.

[2020-01-23 21:57] michael-hawker commented on #3080
@hermitdave any thoughts on what might be going on here? Thanks.

[2020-01-23 21:59] Kyaa-dost commented on #2968
This is merged in 6.0

[2020-01-23 21:59] #2968 closed

[2020-01-23 22:09] hermitdave commented on #3080
Not sure @michael-hawker let me think about this. I could try reproduce issue on Xbox though I'm out of town at present.

[2020-01-23 22:24] zipswich commented on #3097
Let me post the code snippet here first in case someone searches for an example as I did:
[code]

[2020-01-23 22:28] ranjeshj commented on #3080
@hupo376787 Is this still a perf issue or did the workarounds provided in https://github.com/microsoft/microsoft-ui-xaml/issues/1699 resolve this ?

[2020-01-23 22:29] hermitdave commented on #3080
@hupo376787 have you tried simplifying the ImageEx template? Cab you try the following
* use placeholder that is static  resource?
* remove progress ring

[2020-01-23 22:56] hupo376787 commented on #3080
@hermitdave In my sample template, it is really the simplest, just a button contains an `Image` and 2 `textblock`. But this is still not good enough on Xbox.

For placeholder, I tried a static resource, seems no improvement.
Any ListView is worse than Itemsrepeater.
Xboxone s has a better gpu, it should not behave like this

[2020-01-23 23:00] hupo376787 commented on #3080
@ranjesh Yes, that helps a little. There still exists perf issue. It seems all control not suitable for Xbox at the first designing.

[2020-01-23 23:02] hermitdave commented on #3080
@hupo376787 issues with large number of ImageEx on ListView is well known. It was raised a long time ago. The solution was to simplify ImageEx template.

Looking at it though Xaml had been simplified and Progress Ring had beeb removed.
https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageEx.xaml

I think only other thing I can think

[2020-01-23 23:16] hupo376787 commented on #3080
Hmm, when using Image control, not ImageEx, in Itemsrepeater template, the perf seems better, but not good enough, comparing to Android TV devices. I have tried many solutions, vertical ListView + horizontal ListView, vertical Itemsrepeater + horizontal Itemsrepeater, with the simplest template, not good.

Does xboxone limit CPU/gpu under Dev mode? Or something else?

[2020-01-23 23:20] hermitdave commented on #3080
I am not aware of any limitations though what you could do is deploy dotnet native compiled code possibly in release mode - not debug.

[2020-01-24 00:04] jtorjo commented on #3107
Thanks! Quick question: is there a WrapPanel control here on in WinUI that would be virtualized. Or any workaround so that I could use that?

[2020-01-24 08:11] jesbis commented on #3098
Yeah masks look like the culprit - I think this may be a generic issue with calling GetAlphaMask() (like DropShadowPanel does when setting IsMasked=true) on any element filled with any XamlCompositionBrush (which is what both implementations of RadialGradientBrush use).  Even using a solid color CompositionColorBrush doesn't work.

I opened a WinUI bug here for the generic issue:
https://github.co

[2020-01-24 16:29] Sergio0694 opened #3108 "[Feature] Integration with UICompositionAnimations"
## Describe the problem this feature would solve

Hi everyone, I'm opening this issue following a conversation with @michael-hawker over at the [UWP Community Discord server](https://discord.gg/CJdS2GF) about integrating my [UICompositionAnimations](https://github.com/Sergio0694/UICompositionAnimations/tree/refactoring/toolkit) library into the Windows Community Toolkit. I've proceeded to do an in

[2020-01-24 20:14] DougSpence commented on #3099
I'm trying to use this library from a WPF/Framework app and getting the error listed in this report. Is there a workaround or will I need to wait until an issue within the toolkit library is resolved? Thanks...

[2020-01-25 14:48] timunie commented on #3098
Thank you for taking your time and inspection. I didn't know that this was available in WinUi already. Should I close this issue?

Have a nice weekend
Tim

[2020-01-26 20:18] Que8549 opened #3113 "Javascript code not executing in WebView"
Here is my dev setup:
Microsoft.Toolkit.Forms.UI.Controls.WebView v6.0.0
Microsoft Visual Studio Enterprise 2019 Version 16.3.10
Microsoft .NET Framework Version 4.8.03761

The javascript code in my HTML file is not executing when using WebView in a WinForm. The JS code executes correctly if I open the index.html in the browser from file explorer. Is there any documentation/tutorial I can follow t

[2020-01-27 16:31] jp-weber commented on #2959
The in app notification control in the example app works again for me , so I would close this issue.

[2020-01-27 16:31] #2959 closed

[2020-01-27 19:11] Kyaa-dost commented on #3113
@pagoe-msft ⬆️

[2020-01-28 14:09] DanielGlick45 commented on #3079
@michael-hawker Can I get an update on this?

[2020-01-28 17:34] anawishnoff commented on #3079
@RBrid Any ideas on this bug?

[2020-01-28 18:26] ToddThomson commented on #3062
@michael-hawker The ContentSizer would be great a great addition. Thank-you!

I am currently adding the GridSpitter to the outside columns of a 3 column panel grid (UserControl). In the XAML Studio app, your LHS NavView control can be resized when the NavPane is open ( the Sizer is collapsed when the NavPane is closed ). I am hoping that the new ContentSizer will allow me control its visibility pr

[2020-01-28 20:14] michael-hawker commented on #3098
@timunie the first preview was just added, so I think we should leave this open until we've confirmed hand-off with WinUI if it's a general composition brush issue.

[2020-01-28 20:17] michael-hawker commented on #3098
@jesbis yeah, I think the doc is out of date, we had issues trying to get them updated after the last release, I need to get back to investigate what happened.

Thanks for investigating and opening the WinUI issue.

[2020-01-29 00:05] michael-hawker commented on #3108
Thanks for all the details @Sergio0694! This sounds like a great start.

I did some digging in our current Animations package and found that SurfaceLoader, the Light Extension, Saturation, and Blur effects are the ones that use the Win2D dependency.  So it'd be great if for 7.0 (see #3062) we can split those out into the Microsoft.Toolkit.Uwp.UI.Media package to centralize our Win2D needs.

In the

[2020-01-29 02:26] RBrid commented on #3079
No idea unfortunately.  I ran the Windows Community Toolkit Sample App and Windows' Narrator.  Narrator just says "selected" or "non-selected" when navigating to a row, even though we have a DataGridRowAutomationPeer class. A deep dive would be needed to get to the bottom of this.

[2020-01-29 09:34] #3104 closed

[2020-01-29 14:54] DL444 opened #3114 "[Feature] StaggeredLayout based on ItemsRepeater"
## Describe the problem this feature would solve
The current StaggeredPanel in this toolkit is based on Panel class, which doesn't offer UI virtualization. Memory consumption can go very high when a large amount of items are loaded.

## Describe the solution
We could enable UI virtualization if we build a StaggeredLayout based on ItemsRepeater. This new control could have the same API as the exist

[2020-01-29 21:35] michael-hawker commented on #3114
@DL444 @JustinXinLiu mentioned you had interest in working on this feature.  Let us know.  I know @skendrot had interest in this as well, so feel free to coordinate.

[2020-01-30 18:56] codendone commented on #3098
Shape.GetAlphaMask() is created by drawing the shape into a static bitmap.  The actual XamlCompositionBrushBase.CompositionBrush can't be used for this, so it gets drawn with the FallbackColor.  The default FallbackColor for XamlCompositionBrushBase is Transparent, so if the brush or the app doesn't set a different FallbackColor, the drawn shape in the AlphaMask will be completely transparent.  Se

[2020-01-30 20:55] Kyaa-dost opened #3116 "Test"
## Describe the bug
A clear and concise description of what the bug is.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
A clear and concise description of what you expected to happen.

## Screens

[2020-01-30 22:43] skendrot commented on #3114
@dl444 I'm currently in the process of converting all of the panels within the toolkit (WrapPanel and StaggeredPanel currently) to use the ItemsRepeater.
I took a look at your repo and it's looking good, however there are rendering issues. In the picture below the left side is my current StaggeredLayout control and the right is yours. You can see how the items are not rendering properly on the rig

[2020-01-31 02:40] DL444 commented on #3114
@skendrot I see. This is what I mean by "polishing". That code wasn't really tested for all situations.
By the way, how could I reproduce that issue? It seems that one change is the width of the rectangles.

[2020-01-31 15:15] skendrot commented on #3114
@DL444 I just added a bunch of random items
[code]

[2020-01-31 15:16] skendrot commented on #3107
I've started working on creating Layouts for the WrapPanel and the StaggeredPanel. These new Layouts will work with the new ItemsRepeater

[2020-01-31 22:12] michael-hawker commented on #3114
Thanks @skendrot for the updates! 🦙❤

I created [a 7.0 branch](https://github.com/windows-toolkit/WindowsCommunityToolkit/tree/dev/7.0.0).  We should pull all the layout panels into their own package as a first step so we don't pull the WinUI dependency in for all the controls yet.  Let me know if you need a hand creating the new project structure or not.

[2020-01-31 22:50] BurkusCat opened #3118 "Re-selecting an InfiniteCanvas text node can show incorrect Italics state in certain situations"
## Describe the bug
When re-selecting a previous text node in the InfiniteCanvas control, the Italic checked state in the toolbar is set to the same value as the Bold checked state.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to InfiniteCanvas page in sample app
2. Create a text

[2020-02-01 10:09] hez2010 commented on #3062
Could you please DO NOT deprecate TabView?
TabView in WinUI is verrrrrrry ugly and its design is NOT "fluent" at all. If you use WinUI TabView in a NavigationView especially while using acrylic brush, you will find that the new TabView is completely mismatch the whole Fluent Design.

[2020-02-02 12:40] timunie commented on #3098
Hi @codendone
Thank you for looking into this. I can confirm that it now renders as expected. Maybe there should be an example with `FallbackColor` in the Demo-App for others with a similar issue.

Happy Sunday
Tim

[2020-02-03 17:04] michael-hawker commented on #3062
Thanks for the concern @hez2010, can you add your feedback and examples to the WinUI TabView vNext thread [here](https://github.com/microsoft/microsoft-ui-xaml/issues/1332)? FYI @stmoy

We do want to make sure the WinUI control is a valid replacement for the toolkit one before we deprecate it, we know it's not quite there yet, but we hope that by the time we do 7.0 later this year, the next iterat

[2020-02-04 09:11] Tlaster opened #3120 "MarkdownTextBlock throw an exception while handling link with space link text"
## Describe the bug
Try rendering markdown like this
[code]
And the MarkdownTextBlock throw an exception
## Steps to Reproduce
Steps to reproduce the behavior:
1. Open Sample App
2. Open MarkDownTextBlock sample
3. Add the following markdown to the textbox at the top:
[code]
4. Sample App crash

## Expected behavior
MarkdownTextBlock render a space
## Environment

[code]

[2020-02-04 16:02] Hosch250 opened #3121 "Bug with Markdown Parser: Table Cell with Escaped Pipe"
## Describe the bug
Markdown parser--table cell generating `\|` for an escaped pipe instead of `|`.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
This table:
[code]
Now correctly parses as 2 cells instead of 4, per my change for #2968. However, I forgot to make it remove the `\` token f

[2020-02-04 19:01] Kyaa-dost commented on #3120
Hi, @Tlaster I am able to reproduce this as well. That's a good catch! Our developers will certainly look into this and get back to you.

[2020-02-04 19:29] Kyaa-dost commented on #3121
@Hosch250 This is a great catch and i am able to reproduce this as well. We can test out the PR once you have it ready.

[2020-02-05 16:12] Hosch250 commented on #3121
Cool. It may take a little while as I'm running Linux on my personal computer ATM (needed to learn Docker), so I can't run the tests. I'll have to find a slow time at work or wait until I shift my personal computer back to Windows.

[2020-02-05 17:24] Hosch250 commented on #3121
Hmmm, looking at the test I'd written, it does remove the escape character: https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/UnitTests/Markdown/Parse/TableTests.cs#L134. This means something is out of sync with the tests and the real world.

[2020-02-05 22:18] Kyaa-dost commented on #2867
@HHChaos What's the status on this?

[2020-02-05 22:20] Kyaa-dost commented on #1462
@Jebarson What's the status on this?

[2020-02-05 22:22] Jebarson commented on #1462
too old and too much fuss about the PR. Consider this closed

[2020-02-05 22:22] #1462 closed

[2020-02-05 22:32] Kyaa-dost commented on #908
@shams92 what's the status on this? If this is implemented we can close the issue.

[2020-02-05 22:38] Kyaa-dost commented on #1087
@Vijay-Nirmal what's the status on this?

[2020-02-05 23:01] Kyaa-dost commented on #1499
@Vijay-Nirmal What's the status on this?

[2020-02-05 23:15] Kyaa-dost commented on #1470
@Odonno What's the status of this issue?

[2020-02-05 23:19] Kyaa-dost commented on #1460
@wstaelens What's the status of this issue?

[2020-02-05 23:25] Kyaa-dost commented on #1446
@gillesbergerp What's the current status?

[2020-02-05 23:35] Kyaa-dost commented on #1399
@WilliamABradley What's the current status of this issue?

[2020-02-05 23:43] Kyaa-dost commented on #1364
@mjfara @Mimetis What's the status of this issue?

[2020-02-05 23:45] Kyaa-dost commented on #1350
@WilliamABradley What's the status?

[2020-02-05 23:47] Kyaa-dost commented on #1341
@WilliamABradley what's the status of this issue? Was this implemented?

[2020-02-05 23:48] Kyaa-dost commented on #1334
@adrientetar any update?  ⬆️

[2020-02-05 23:49] Kyaa-dost commented on #1309
@Vijay-Nirmal Any update on this?

[2020-02-06 00:35] Kyaa-dost commented on #1164
@Liero  ⬆️

[2020-02-06 07:58] wstaelens commented on #1460
I have no idea, I have seen in the documentation that microsoft added MAT with UWP documentation sample: https://docs.microsoft.com/en-gb/windows/uwp/design/globalizing/use-mat

The only sad thing to see is that this looks like MAT can only be used with UWP, while we use it in WPF, winforms, asp.net mvc, asp.net core applications also…

[2020-02-06 19:55] Hosch250 commented on #3121
Status update: It only occurs within code blocks. If I remove the code ticks ``` from the table, it correctly escapes the pipe `|` in the text run. If I remove the `\`, it still calculates the wrong number of cells. Is this a bug, or is it working as expected?

[2020-02-06 21:04] Kyaa-dost commented on #2393
@Vijay-Nirmal What's the update on this?

[2020-02-06 21:12] michael-hawker commented on #2393
@Vijay-Nirmal I feel like we do a good job with the What's New section and Release Notes section which I think was added after this initial request.

I'm happy to close this unless someone wants to add more.

[2020-02-06 21:22] Kyaa-dost commented on #2321
@alexchx What's the status of this issue?

[2020-02-06 21:25] Kyaa-dost commented on #2319
Closing this request since @anawishnoff already answered this above  ⬆️

[2020-02-06 21:25] #2319 closed

[2020-02-06 21:29] Kyaa-dost commented on #2311
@ThiBro @hermitdave any update on this? Was this resolved?

[2020-02-06 21:34] Kyaa-dost commented on #2290
@RamiBancosly what's the update on this? Was this resolved? Also seems like the video link mentioned in the description does not seem to work anymore.

CC: @anawishnoff

[2020-02-06 21:36] Kyaa-dost commented on #2271
@vaparth What's the status of this request?

CC: @hupo376787

[2020-02-06 21:49] Kyaa-dost commented on #2249
Closing this request since these features are not being added at this time.

[2020-02-06 21:49] #2249 closed

[2020-02-06 21:57] hermitdave commented on #2311
I suppose asking is easier than reading through the conversation

[2020-02-06 22:08] Kyaa-dost commented on #2311
I have read the conversation but not certain what was decided since the convo goes back to 2018. Whethere there was any resolution or not other than the convo metnioned above?

[2020-02-06 22:34] Kyaa-dost commented on #2592
@RBrid was there any update on this?

CC: @anawishnoff @harinikmsft

[2020-02-06 23:15] LPBourret commented on #2271
work on this has not started and is in the backlog, is there a particular feature you'd need? Defining your requirement and set of features will help us prioritize this.
thx

[2020-02-06 23:39] michael-hawker opened #3122 "[Feature] Shadow Receiver XAML Helpers"
## Describe the problem this feature would solve
To use the new [Shadow API](https://docs.microsoft.com/en-us/windows/uwp/design/layout/depth-shadow) in XAML without code-behind.  See [blog here for more examples](https://medium.com/@Niels9001/elevate-your-ui-with-themeshadow-703c513fd96a).

## Describe the solution
A way to make it easier to use shadows in apps via XAML. [Initial Proposal](https:

[2020-02-07 05:34] filipwa84 commented on #3073
@anawishnoff Any update on this?

[2020-02-07 07:33] ThiBro commented on #2311
@Kyaa-dost for me it was not fixed. I just accepted the bug :)

[2020-02-07 08:37] Tlaster opened #3123 "MarkdownTextBlock throw ArgumentException while rendering link with code text"
## Describe the bug
Try rendering markdown like this
[code]
And the MarkdownTextBlock throw ArgumentException
## Steps to Reproduce
Steps to reproduce the behavior:
1. Open Sample App
2. Open MarkDownTextBlock sample
3. Add the following markdown to the textbox at the top:
[code]
4. Sample App crash

## Expected behavior
MarkdownTextBlock render like this:
[`code`](https://github.com/)
## Environm

[2020-02-07 17:44] Vijay-Nirmal commented on #2393
@michael-hawker Fair enough :)

[2020-02-07 17:47] Vijay-Nirmal commented on #1499
@Kyaa-dost I will do it. Currently, I am working in ASP.Net Core and .Net Core Framework. I can't find my motivation to get back to UWP. But I promise my self that I will do this. ✌

[2020-02-07 17:49] Vijay-Nirmal commented on #1087
@Kyaa-dost ¯\_(ツ)_/¯

[2020-02-07 18:37] Kyaa-dost commented on #1499
@Vijay-Nirmal, not a problem at all. Thank you so much for responding 🙂

[2020-02-07 18:41] michael-hawker commented on #1236
Re-opening from a discussion on the UWP discord server. Also, the control inherits from ProgressBar, so we should still try and support the `IsIndeterminate` property from there.

[2020-02-07 18:42] Kyaa-dost commented on #2311
@ThiBro Thank you so much for the update 🙂

[2020-02-07 18:45] Kyaa-dost commented on #2393
Closing this issue for now.

[2020-02-07 18:45] #2393 closed

[2020-02-07 18:56] Kyaa-dost commented on #3123
@Tlaster I am not able to reproduce. Can you please show a screenshot or a screen record that displays the following [`code`](https://github.com/) is crashing the Sample APP?

[2020-02-07 19:01] Kyaa-dost commented on #3123
The issue might be related to #3120 except in that scenario [ ] (https://www.google.com/) is crashing the app.

[2020-02-07 22:07] Kyaa-dost commented on #3120
@Sergio0694 There was a similar issue that occurred in past #2806. Any thoughts on this?

[2020-02-07 23:37] #3116 closed

[2020-02-08 17:41] Vijay-Nirmal commented on #1499
Can I use Visual Studio 2019? Or Visual Studio 2017 only.

Because I am getting the below issue in VS 2019.

![image](https://user-images.githubusercontent.com/24755596/74089503-bc84f980-4ac7-11ea-83b4-7d16b8ee3696.png)

I don't have Visual Studio 2017 installed. So I can't test it.

[2020-02-09 05:10] HppZ opened #3124 "AlternateColor Bug"
ListViewExtensions.AlternateColor does not work correct after removing an item from source.
see this repo: https://github.com/HppZ/AlternateColorBUG

[2020-02-09 05:11] HppZ commented on #3124
![image](https://user-images.githubusercontent.com/12285582/74096752-b3cf0a80-4b3d-11ea-9bc6-168d55f549bb.png)

[2020-02-09 07:37] hawkerm commented on #1334
@Kyaa-dost we can assign to me. I think we just need to decide if we want to pull this into the toolkit or not.

[2020-02-10 18:50] MartinZikmund opened #3125 "[Question] Back connected animation"
I am trying to use connected animations, but I am struggling to get the back animation to work properly.

I have two pages. `FirstPage` contains a `AdaptiveGridView` which contains items of a custom class type. I have set up the animations as follows:

[code]

To make sure the navigation stack can be serialized, instead of passing a object, I am passing a simple `int` ID of the clicked item to `Se

[2020-02-11 06:47] niels9001 commented on #3122
Yes please! The ThemeShadow is super powerful and creates super nice effects, but it's hard to use. This would really simplify stuff and useable for DataTemplates as well!

[2020-02-11 21:49] michael-hawker opened #3126 "Markdown UnitTests Failing"
## Describe the bug
We should make sure to fix he Markdown UnitTests so that we can have a successful UnitTest pass available to later integrate into our CI.

It'd be great to not just comment these out, but make sure they're fixed and running as the Markdown control seems widely used and is rather complex.

[2020-02-11 21:51] michael-hawker commented on #3126
Ugh, of course we have this already #1383

[2020-02-11 21:51] #3126 closed

[2020-02-11 21:51] michael-hawker commented on #1383
We should make sure to fix he Markdown UnitTests so that we can have a successful UnitTest pass available to later integrate into our CI.

It'd be great to not just comment these out, but make sure they're fixed and running as the Markdown control seems widely used and is rather complex.

[2020-02-11 21:53] michael-hawker opened #3127 "[Feature] Have UnitTests run as part of CI builds"
## Describe the problem this feature would solve
We should really ensure that our CI runs our UnitTests and make that a requirement of our check-in process.

- [x] Dependent on #1383.
- [x] Need to fix NullableBool test, think it's OS version specific now, need to know what version it was fixed in?
- [x] Add to CI

[2020-02-13 22:21] Noemata opened #3132 "Not able to build with VS2019"
## Describe the bug
Not able to build with Visual Studio 2019.  All the projects that use "MSBuild.Sdk.Extras" report this error:

Microsoft.Toolkit.Uwp.UI.csproj : error  : The expression "[System.IO.Path]::GetDirectoryName('')" cannot be evaluated. The path is not of a legal form.  ...\.nuget\packages\msbuild.sdk.extras\2.0.54\Sdk\Sdk.props

## Steps to Reproduce
Steps to reproduce the behavior:

[2020-02-14 01:06] michael-hawker commented on #3132
@Noemata there's a weird hard dependency on a specific version of some SDKs that VS doesn't install automatically. :( We're trying to better document this here: https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3115/files

But we also need to try removing our globals.json.  If you check the version of the .NET Core 3.0.x SDK you have, make sure to modify the globals.json file to matc

[2020-02-14 01:10] michael-hawker commented on #3132
FYI @marcpems @Kyaa-dost

[2020-02-14 01:45] Noemata commented on #3132
Wow @michael-hawker.  You were right.  Thank you.

My previous dotnet --info was:

.NET Core SDK (reflecting any global.json):
 Version:   3.1.101
 Commit:    b377529961

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18363
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.1.101\

Host (useful for support):
  Version: 3.1.1
  Commit:  a1388f19

[2020-02-14 11:20] touseefbsb opened #3133 "Uniform grid has unexpected vertical spacing between rows."
## Describe the bug
Uniform grid has unexpected vertical spacing between rows.

## Steps to Reproduce
sample project to reproduce the issue : https://github.com/touseefbsb/UniformGridIssue

## Expected behavior
There should be 0 vertical spacing between rows

## Screenshots

![image](https://user-images.githubusercontent.com/11542189/74526507-57a52580-4f45-11ea-9f49-2feb4122898f.png)

## Environme

[2020-02-14 11:49] touseefbsb commented on #3133
there seems to be margin of about **27** on top and bottom of each item as shown by designer, dnt knw where it is coming from, but even if I explicitly set top and bottom margin of these items it remains unchanges. strange.
![image](https://user-images.githubusercontent.com/11542189/74528367-f2076800-4f49-11ea-8af1-6ff431ae6d50.png)

[2020-02-14 12:17] Sergio0694 opened #3134 "The Singleton<T> class should be removed"
This issue relates to the `Singleton<T>` type defined in [`Microsoft.Toolkit.Helpers.Singleton.cs`](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit/Helpers/Singleton.cs).

I'm wondering whether having this type in the toolkit at all is a good idea, considering it can be fully replaced by only using built-in C# language features, which also result in a faste

[2020-02-15 14:54] HppZ commented on #3124
Someone help me

[2020-02-17 10:20] HHChaos commented on #2867
This is a duplicate issue([Issue #2868](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2868)). I can't confirm it now, but it should be unresolved.

[2020-02-18 22:57] Kyaa-dost commented on #3132
@Noemata Glad the info provided by Michael helped resolve the problem. We have a PR open in terms of doc instructions and requirements and will be merged soon.

[2020-02-18 23:02] Kyaa-dost commented on #1334
@hawkerm Sounds good! I have assigned it to you for now.

[2020-02-19 00:52] Kyaa-dost commented on #1499
@Vijay-Nirmal It has to do with the certain SDK dependency which VS 2019 doesn't install by default. See the issue and resolution provided by Michael.

https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3132#issuecomment-586048170

[2020-02-19 14:29] KBaluh opened #3135 "ItemsRepeater in Expander"
## Describe the bug
Visual Studio XAML Designer and program at runtime crashes when you put ItemsRepeater into Expander and trying to expand content by clicking header or if you set property IsExpanded="True".

`xmlns:toolkit="using:Microsoft.Toolkit.Uwp.UI.Controls"`
`xmlns:muxc="using:Microsoft.UI.Xaml.Controls"`

[code]

- [ ] Microsoft.Toolkit.Uwp.UI 6.0.0

## Steps to Reproduce
Steps to repro

[2020-02-19 20:28] Kyaa-dost opened #3136 "[Feature] Test"
## Describe the problem this feature would solve

## Describe the solution

## Describe alternatives you've considered

## Additional context & Screenshots

[2020-02-19 22:03] #3136 closed

[2020-02-19 22:03] Kyaa-dost opened #3137 "[Feature] Test"
## Describe the problem this feature would solve

## Describe the solution

## Describe alternatives you've considered

## Additional context & Screenshots

[2020-02-19 22:04] #3137 closed

[2020-02-19 22:04] Kyaa-dost opened #3138 "Test"
## Describe the bug
A clear and concise description of what the bug is.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
A clear and concise description of what you expected to happen.

## Screens

[2020-02-19 22:05] #3138 closed

[2020-02-19 22:09] Kyaa-dost opened #3139 "Test for the Bot"
## Describe the bug
A clear and concise description of what the bug is.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
A clear and concise description of what you expected to happen.

## Screens

[2020-02-19 22:18] #3139 closed

[2020-02-19 22:18] Kyaa-dost opened #3140 "Test"
## Describe the bug
A clear and concise description of what the bug is.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
A clear and concise description of what you expected to happen.

## Screens

[2020-02-19 22:25] Kyaa-dost opened #3141 "[Feature] Bot Test"
## Describe the problem this feature would solve

## Describe the solution

## Describe alternatives you've considered

## Additional context & Screenshots

[2020-02-19 22:25] #3141 closed

[2020-02-19 22:25] #3140 closed

[2020-02-20 17:40] skendrot commented on #3135
Thanks for submitting. I can confirm that this is an issue with the latest Toolkit and latest WinUI. Debugging from the toolkit solution gives no information at all about what is happening.

[2020-02-20 18:34] skendrot commented on #3135
@KBaluh This looks to be an issue with scaling the ItemsRepeater. I have submitted an issue to the [WinUI repo](https://github.com/microsoft/microsoft-ui-xaml/issues/2003).

[2020-02-20 18:34] #3135 closed

[2020-02-21 03:39] HppZ commented on #3124
@skendrot it does not work for me. https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/1852

[2020-02-21 10:54] ranaprathap2 opened #3142 "AdaptiveGridView throws argument exception"
Upon resizing the control the adaptive grid view throws argument exception.

StackTrace is as below
System.ArgumentException: Value does not fall within the expected range.
at Windows.UI.Xaml.DependencyObject.SetValue(DependencyProperty dp, Object value)
at Microsoft.Toolkit.Uwp.UI.Controls.AdaptiveGridView.RecalculateLayout(Double containerWidth)
at Microsoft.Toolkit.Uwp.UI.Controls.AdaptiveGridV

[2020-02-21 17:05] Vijay-Nirmal commented on #1499
@michael-hawker Is there a way to create Properties Panel items from code (not from xaml.bind)? Because I need to get the inputs for my extension method.

[2020-02-21 19:03] Kyaa-dost opened #3143 "Test"
## Describe the bug
A clear and concise description of what the bug is.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
A clear and concise description of what you expected to happen.

## Screens

[2020-02-21 19:03] #3143 closed

[2020-02-21 19:11] Kyaa-dost commented on #3142
@ranaprathap2 I am not able to reproduce this. Can you please provide screenshot or show the detailed process so we can see how you are receiving this error?

[2020-02-24 09:47] Seikilos opened #3144 "DataGrid Binding in template to parent not possible."
## Describe the bug
When trying to get a parent inside a binding within a data template, the object referenced by ElementName is never available.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Use this reproduction

[code]

[code]

## Expected behavior
The Button content should actually be the `Tag` value of the referen

[2020-02-24 17:13] vgromfeld opened #3145 "Reduce the toolkit impact on application size"
## Describe the problem this feature would solve
Trying to know what is the impact of the toolkit on the application final size, I've created two *blank applications* using Visual Studio. On one of them, I've added a dependency to `Microsoft.Toolkit.Uwp.UI`. I've only added the nuget dependency. I'm not using anything from the library.

Here are the sizes of the applications' dll when compiled in

[2020-02-24 20:11] Kyaa-dost commented on #3144
@anawishnoff @RBrid FYI  ⬆️

[2020-02-24 20:42] LokiMidgard commented on #1767
I head a new Idea how to prevent string operations that will allocate new strings.

The implementation up to now uses the markdown string and also has for every method call index positions for start and end (and some more). This works well for most things. But not for the Quoteblock. That will allocate a new string to parse its contents.

The original implementation also head a quote position to s

[2020-02-25 07:34] LokiMidgard commented on #1767
By the way, unlike `Span<T>` this will still allocate for some operations. Generally when changing individuall lines. Slicing whole lines will not allocate. and I think it is possible to prevent allocation if we slice the text from start or end, only modifing the first or last line.

[2020-02-25 20:11] Kyaa-dost opened #3147 "Bot Test"
## Describe the bug
A clear and concise description of what the bug is.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
A clear and concise description of what you expected to happen.

## Screens

[2020-02-25 20:11] Kyaa-dost commented on #3147
Close

[2020-02-25 20:12] #3147 closed

[2020-02-25 20:12] Kyaa-dost opened #3148 "Test"
## Describe the bug
A clear and concise description of what the bug is.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
A clear and concise description of what you expected to happen.

## Screens

[2020-02-25 20:13] Kyaa-dost commented on #3148
Test complete

[2020-02-25 20:13] #3148 closed

[2020-02-25 20:13] Kyaa-dost opened #3149 "[Feature] Test"
## Describe the problem this feature would solve

## Describe the solution

## Describe alternatives you've considered

## Additional context & Screenshots

[2020-02-25 20:14] Kyaa-dost commented on #3149
Close

[2020-02-25 20:14] #3149 closed

[2020-02-25 20:21] skendrot commented on #3125
@MartinZikmund, This appears to be a question of how to use connected animations. If that is the case, please close this and ask the question on Stackoverflow.
If you are able to get connected animations to work with a "normal" GridView but it's failing with the AdaptiveGridView please let us know.

[2020-02-25 20:29] MartinZikmund commented on #3125
I think this is not about connected animations in general, but about the implementation in WCT. I would like to know if the scenario I have described is supported or not.

The problem here is that I cannot pass the "full" item when navigating, as that would make the navigation stack not serializable, hence I need to use simple id only.

While for the forward navigation `SetListDataItemForNextConne

[2020-02-25 23:43] Kyaa-dost opened #3150 "[Question] Test"

[2020-02-25 23:44] Kyaa-dost commented on #3150
Test Complete

[2020-02-25 23:44] #3150 closed

[2020-02-26 11:47] jessestr opened #3151 "Can't use any of the controls eg. DataGrid in my UWP project"
## Describe the bug
Every time I try to use a control from the WindowsCommunityToolkit I get a weird exception.
(See screenshot)
Building the project doesn't help

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Installed Nuget
2. Added xmlns:controls="using:Microsoft.Toolkit.Uwp.UI.Con

[2020-02-26 21:06] Kyaa-dost opened #3152 "Test for empty template"

[2020-02-26 21:06] Kyaa-dost commented on #3152
Test complete

[2020-02-27 01:37] #3152 closed

[2020-02-27 19:05] #1164 closed

[2020-02-28 00:36] azchohfi opened #3154 "Too aggressive cache for CameraHelper"
## Describe the bug

The CameraHelper fetches the MediaFrameSourceGroup when it starts, but then it never invalidates that. It's known that "static" is the root of all evil, and this is, again, the case here.
It "caches" the MediaFrameSourceGroup here:
https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp/Helpers/CameraHelper/CameraHelper.cs#L39-L50
But if yo

[2020-02-28 18:57] Kyaa-dost opened #3156 "Test"
## Describe the bug
A clear and concise description of what the bug is.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
A clear and concise description of what you expected to happen.

## Screens

[2020-02-28 19:11] Kyaa-dost opened #3157 "Bot Test"
## Describe the bug
A clear and concise description of what the bug is.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
A clear and concise description of what you expected to happen.

## Screens

[2020-02-28 19:12] Kyaa-dost opened #3158 "Another Bot Test"

[2020-02-28 19:12] Kyaa-dost commented on #3158
Test Complete

[2020-02-29 07:42] Vijay-Nirmal commented on #1499
@Kyaa-dost @michael-hawker Any update?

[2020-03-02 17:38] michael-hawker commented on #3151
@jessestr can you provide more details about the specific VS and Windows versions you're using?  Also, can you paste in the output from the build output window itself?

[2020-03-02 17:45] michael-hawker commented on #3133
@touseefbsb I think this was answered in the stack overflow question, the UniformGrid is just providing equal space to each row, so by restricting the height of the textbox, there's a difference between the size of the sell and the size you want.

For your scenario, you'd probably want to have a converter on the height of the grid to calculate the height you need for the set of items you have?

Yo

[2020-03-02 17:48] michael-hawker commented on #3145
Removing the Json.NET dependency should help in the future, that's tracked by this item: https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3060, not sure if that'll line up for the 7.0 release though as there's a blocking bug in the `System.Text.Json` package, which is still another dependent package until .NET 5.

[2020-03-02 23:47] touseefbsb commented on #3133
yes, Thankyou

[2020-03-02 23:47] #3133 closed

[2020-03-05 14:40] bolyb opened #3161 "DataGrid ComboBoxColumn must be clicked 3 times for each ComboBox to expand"
## Describe the bug
DataGrid ComboBox column must be clicked 3 times for each ComboBox before the options are expanded. This frustrates users and is perceived by them to be a bad design in our application, and is extremely tedious for large sets of items.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Open Windows Community Toolkit Sample App
2. Navigate to the DataGrid page
3. Click a

[2020-03-05 19:11] Kyaa-dost commented on #3161
@bolyb Thanks for opening the issue. I am able to reproduce this as well. I am not certain if it was produced like this by design or actually a bug. DataGrid team will be able to provide more insight into this since user experience seems to be the issue here. FYI @anawishnoff @RBrid  ⬆️

[2020-03-05 21:05] anawishnoff commented on #3161
Also paging @harinikmsft who may know more about the original intentions of this...

[2020-03-09 10:55] jhwheuer commented on #3062
If it is not too late yet... I am really missing a **OnCropChanged** event in the **ImageCropper**...
I would like to provide to the user a pixel dimension information about the Rect she currently crops to... All that event would have to do is fire when the crop has changed, it does not even have to transmit the new crop Rect....

[2020-03-10 16:19] michael-hawker commented on #3080
@hupo376787 can you confirm that you see this only in debug mode and not when deployed in release?

[2020-03-10 16:27] hupo376787 commented on #3080
I'm not sure.

Now I swtich to use `Image` instead of `ImageEx`, cause `ImageEx` may casue memory problems.

[2020-03-10 16:37] michael-hawker commented on #3161
@anawishnoff @harinikmsft @RBrid this looks related to how the DataGrid enters edit mode.

In the 'normal' textbox case, you need to click again after a selection occurs to enter edit mode. However, this means that if the row isn't already selected, you effectively have to triple-click to enter edit mode, as there currently needs to be a delay between clicks to enter edit mode otherwise.

Compare:

[2020-03-10 16:44] michael-hawker commented on #3080
@hermitdave did you intended for ImageEx to be used in these high-performing scenarios or as just a simple helper for niche scenarios?  Want to understand if this is something we should investigate or not or just call out in documentation?

[2020-03-10 17:28] anawishnoff commented on #3161
@michael-hawker That sounds reasonable to me, but I just want to clarify: if the ComboBox is meant to be edited with text input, then does the triple click work to start editing it? If you want to change the combo box by selecting a value from the drop-down, does double clicking then clicking the arrow work to open it but not edit the text via keyboard input?

[2020-03-10 17:37] hermitdave commented on #3080
@michael-hawker ImageEx is as it was designed. One solution can't fit all scenarios

[2020-03-10 20:49] michael-hawker commented on #3161
@anawishnoff in the default case, the combobox isn't text-editable, only a drop-down (the datagrid's combobox doesn't support the combobox's `IsEditable` property).

So, you need some either three clicks in Click-Wait-Double-Click or Quadruple-Click to get to the open drop-down from an unselected row, plus there's a 5th click involved to dismiss the fly-out if it's open... Open up the DataGrid sam

[2020-03-10 20:50] michael-hawker commented on #3151
@Kyaa-dost I'm assuming you were unable to reproduce this issue locally?

[2020-03-10 21:00] Kyaa-dost commented on #3151
@michael-hawker Correct, I have tried it with the V16.4.5.

@jessestr if you can provide more detail on this and try what Michael mentioned above that would certainly help.

[2020-03-10 22:00] michael-hawker commented on #3144
@Seikilos I'm not sure why this is the case, I haven't tried to do this before.

However, while not pretty, this is a valid work-around:
[code]

@anawishnoff @RBrid let me know thoughts and if this should remain open or just added to requirements for DataGrid V2.

[2020-03-11 15:00] Vijay-Nirmal commented on #1499
@michael-hawker Update?

[2020-03-11 15:13] anawishnoff commented on #3161
@michael-hawker Ah, i see now. Yes, definitely frustrating and I agree that the edit mode on Combo Box should open the drop-down menu as well.

As for an updated DataGrid, I think a good solution would be to enable edit mode upon double-click. You can still select a row with a single click, or pause and then click again to edit. I'm wondering why this isn't the case currently. Might you be able to

[2020-03-11 19:49] michael-hawker opened #3163 "Add a **OnCropChanged** event to the **ImageCropper**"
If it is not too late yet... I am really missing a **OnCropChanged** event in the **ImageCropper**...
I would like to provide to the user a pixel dimension information about the Rect she currently crops to... All that event would have to do is fire when the crop has changed, it does not even have to transmit the new crop Rect....

_Originally posted by @jhwheuer in https://github.com/windows-toolk

[2020-03-11 19:49] michael-hawker commented on #3163
@jhwheuer great idea, adding it as its own issue, as it can be done earlier than 7.0.

[2020-03-11 19:51] michael-hawker commented on #3163
@HHChaos you think you could add this? I imagine it should be pretty straight-forward?

[2020-03-11 20:55] Sergio0694 commented on #3062
Small note as per comment in [\#3131](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3131#discussion_r391212433): the `ColorHelper.ToHex` extension should be renamed `ToHexString` for consistency with other APIs in the `Microsoft.Toolkit` package.

For quick reference:

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/d85e1a7bc084bba02e83c728386269e42fd382c5/Microso

[2020-03-11 22:38] michael-hawker commented on #3161
@anawishnoff I think it is, but the problem is that if the row isn't selected, the first click is being eaten by the selection event. So, maybe that's another bug, is that selection shouldn't eat the event, so if you click once, it's selected that's fine, but then a double-click would still select+enter edit mode.

[2020-03-13 08:00] HHChaos commented on #3163
@michael-hawker  Yes,  this will be useful and I will do it in my free time

[2020-03-13 10:54] Seikilos commented on #3144
Solved my issue. Thank you !

[2020-03-15 09:24] wavestone2 opened #3166 "Webview 5.11/6.0 presenting blank window from local and intranet site, C# WPF"
I'm trying to set a very simple WPF application that will only pull a local HTML page that is a live and functioning as expected, hosted in our work place. we have no internet connection within the LAN.

I added succesfully WebView 5.11 (also tried 6.0 with same results) and added the following code:
`<WPF:WebView Source="https://localSiteAddress" x:Name="wv" IsPrivateNetworkClientServerCapability

[2020-03-16 01:59] azchohfi commented on #3120
It's not the same issue. This one is a StaskOverflowException.
@WilliamABradley, any idea?

[2020-03-16 17:54] Kyaa-dost commented on #3166
@wavestone2 what VS version are you using?

Adding WebView team here @pagoe-msft

[2020-03-17 23:31] michael-hawker commented on #3122
@niels9001 we just got this to work on [my dev stream](https://www.twitch.tv/xamlllama/clip/AnnoyingArbitraryLettuceSquadGoals)! 🎉🎉🎉

Have a proof of concept that I'll need to create a PR for the toolkit for and test in other scenarios, but basically we have this syntax now for setting up Shadows, it's super nice 🦙❤:

[code]

Still have to test with transitions and data templates and such, but see

[2020-03-18 05:56] niels9001 commented on #3122
Great stuff :)! This is super helpful!!!

[2020-03-18 07:32] Creator512 opened #3169 "VerticalScrollBarVisibility not working"
## Describe the bug
The vertical scrollbar is still visible although it is set to Disabled or Hidden.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Expected behavior
If VerticalScrollbarVisibility is set to Disabled or Hidden, then the vertical scrollbar is not visible.

## Environment

[code]

## Additional context
Add any other context

[2020-03-18 07:55] Creator512 opened #3170 "Improve Horizontal Scrolling"
## Describe the problem this feature would solve

I have a datagrid where it is only necessary to scroll horizontally.
Without a 4 way scrolling mouse it is not possible to scroll horizontally with the mouse wheel.

## Describe the solution

One more property to prioritize the scrollbar would solve the problem.
Alternatively a description for an own scrollhandling support would be a solution.

[2020-03-18 11:12] Creator512 commented on #3169
Sorry, my fault.
I can't reproduce it, but now it works

[2020-03-18 11:12] #3169 closed

[2020-03-18 15:47] vgromfeld opened #3171 "Hyperlink command extension is always executing the attached command"
## Describe the bug
The command set to an hyperlink using `HyperlinkExtensions.Command` attached property is always executed. It does not consider the `ICommand.CanExecute()` value.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Attach a disabled command to an `Hyperlink` control usin

[2020-03-18 17:14] beamer15 commented on #3161
Is there a work-around for this? I ended up using a combobox within a template column (the ItemSource binding is not working for the combobox column and I haven't had time to create an issue for that yet), but I'm experiencing the same issue.

[2020-03-18 17:58] Kyaa-dost commented on #3170
@Creator512 The feature request sounds interesting. Let's see what developers think about this case.

[2020-03-18 20:05] skendrot commented on #3170
Took a look at this and I think it can be accomplished by adding a check [here ](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGrid.cs#L3715)if the HorizontalScrollBarVisibility is not disabled **and** the VerticalScrollBarVisibility **is** disabled

[2020-03-19 04:07] FarjanaParveen commented on #3092
Hi Team,

Any update on this.

Regards,
Farjana Parveen

[2020-03-19 08:16] #3171 closed

[2020-03-19 13:15] Borismegabanan commented on #2722
[code]

[2020-03-20 11:29] simop-msft opened #3175 "[Feature] Allow providing a custom JsonSerializer to BaseObjectStorageHelper"
## Describe the problem this feature would solve
Currently, BaseObjectStorageHelper uses a private vanilla JsonSerializer. It means that a consumer of an ObjectStorageHelper cannot provide custom SerializationSettings (Converters, TypeNameHandling, TraceWriter...)

## Describe the solution
Add the following constructor: BaseObjectStorageHelper(JsonSerializer jsonSerializer), and make the correspon

[2020-03-20 11:38] revose opened #3176 "TextBoxMask ignores binding changes"
## Describe the bug
I was trying to set a binding to a TextBox that is masked. I have setup an example project of two textboxes, one with and one without a mask, that both have a binding to a property which gets incremented every second.
The TextBox was trying to set a Binding to a TextBox that is Masked. I've noticed that the TextBox without the mask receives the PropertyChanged and updates it's

[2020-03-20 11:53] Hakobyan888 opened #3177 "Allow Image Rotation in ImageCropper Control"
Hello.
I'm using ImageCropper Control but I would like to add image rotation to can you tell me what I should do to add that.

Example:
![image](https://user-images.githubusercontent.com/24302614/77350913-6a580a80-6cfa-11ea-8a35-38bcf8d46e2b.png)

[2020-03-20 19:01] Kyaa-dost commented on #3177
@michael-hawker is the image rotation feature feasible in ImageCropper control?

[2020-03-20 19:14] michael-hawker commented on #3175
@simop-msft thanks! This is good feedback. I know we're trying to remove the dependency in the long-run on Json.NET (see Issue #3060). I'm not familiar enough with System.Text.Json to know what the equivalent functionality is though.

[2020-03-20 19:18] michael-hawker commented on #3177
@Hakobyan888 could you give a bit more details for your scenario?  The ImageCropper's original design intent was to allow for creating circular or rectangular crops for profile images or other image reductions.

Are you wanting to be able to rotate the rectangular crop area and then get that area with like solid/transparent pixels outside of the crop area? Where would you use the resulting image?

[2020-03-20 19:38] Hakobyan888 commented on #3177
So my point is to rotate image and the cropping rect will maximally fit init and the rect could not get out of rotated image bounds. Is it possible to integrate this scenario to ImageCropper control.

[2020-03-20 19:40] Hakobyan888 commented on #3177
So my point is to rotate image and the cropping rect will maximally fit init and the rect could not get out of rotated image bounds. Is it possible to integrate this scenario to ImageCropper control.

Thanks!!

[2020-03-20 19:41] Hakobyan888 commented on #3177
@michael-hawker my point is to rotate image and the cropping rect will maximally fit init and the rect could not get out of rotated image bounds. Is it possible to integrate this scenario to ImageCropper control.

Thanks!!

[2020-03-20 22:01] michael-hawker commented on #3144
Glad to hear it worked for you @Seikilos!

@anawishnoff let me know how we should triage this for investigation for the future.

[2020-03-21 15:54] vborovikov opened #3178 "InfiniteCanvas Heap Corruption"
## Describe the bug
A normal work with InfiniteCanvas control causes a heap corruption exception.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Install Windows Community toolkit Sample App
2. Open InfiniteCanvas page
3. Draw some ink with default settings
4. Scroll and zoom the canvas

The app will crash. Same will happen when using the control outside the sample app.

## Expected beh

[2020-03-21 21:05] Kyaa-dost commented on #3178
@vborovikov I am not able to reproduce this based on the steps mentioned above. Can you please screen record this so we can see the process you are following?

[2020-03-22 10:10] LokiMidgard commented on #1767
I made some performance test, comparing the original version to the current in the branch.

[code]
|      Job |                                 txt |     Mean |     Error |    StdDev |    Median | Ratio | RatioSD |   Gen 0 |   Gen 1 | Gen 2 | Allocated |
|--------- |-------------------- |---------:|----------:|----------:|----------:|------:|--------:|--------:|--------:|------:|----------:|
| Ori

[2020-03-22 11:50] vborovikov commented on #3178
Recorded the steps using Steps Recorder app. The record was stopped when the app has crashed.

[wintk_crash.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/4365142/wintk_crash.zip)

[2020-03-23 16:01] simop-msft commented on #3175
@michael-hawker I opened #3181, to fit the needs I've exposed here for the short term. For System.Text.Json, I've found [JsonSerializerOptions](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonserializeroptions?view=netcore-3.1) which has the same role as Json.NET's JsonSerializerOptions, however they expose completely different properties. That means that the downside of exposing

[2020-03-23 16:44] anawishnoff commented on #3144
Adding @ranjeshj is this Binding behavior that should be supported?

[2020-03-23 16:56] ranjeshj commented on #3144
I don't believe element name binding works outside the scope of the data template. We're moving more towards x:Bind which is better performance wise, but this might not be supported there either. You can file an issue for tracking in the mux repo [here](https://github.com/microsoft/microsoft-ui-xaml/issues/new/choose).

[2020-03-23 18:34] michael-hawker commented on #3177
Thanks @Hakobyan888, I saw your [question on stackoverflow](https://stackoverflow.com/questions/60740881/rotate-image-and-crop-only-inside-the-image-uwp) when searching for an example image.  That level of detail with the images like this helps with these types of requests:

![Rotated Crop](https://i.stack.imgur.com/meRQ2.jpg)

@HHChaos you know the insides and out of this control - think you coul

[2020-03-23 21:46] Hakobyan888 commented on #3177
Please let me know for any solutions.
Thanks for all responses!!!

[2020-03-23 22:05] Kyaa-dost commented on #3178
@vborovikov I am not seeing anything in this zip folder. It seems to be a list of empty screenshots.

![image](https://user-images.githubusercontent.com/35208324/77367612-c67d5780-6d17-11ea-9d21-f56dcd465f6d.png)

[2020-03-23 22:24] skendrot commented on #3177
I think this is outside the scope of a cropping control. When editing photos you take a multi-step approach. One step is rotating, one step for cropping, one step for filters, etc. Rotating an image while cropping it would create rotated images when one isn't wanted. Or cropped areas when trying to rotate.

[2020-03-24 07:03] hupo376787 commented on #3090
Closed, as no one pay attention on this bug.

So let's the bug🐞🐛 fly a moment.

[2020-03-24 07:03] #3090 closed

[2020-03-24 08:49] niels9001 opened #3182 "[Feature request] Modernizing the WCT Sample App icon"
# Summary of the new feature/enhancement
The current Windows Community Toolkit Sample App icon is in the MDL2 style. In 2020, we'll see lots of inbox application icons modernized ([more on Microsoft Design's push to re-design hundreds of OS icons here](https://medium.com/microsoft-design/the-ripple-effect-expanding-our-icon-design-system-74b4d916b7a4)). Wouldn't be great if the Windows Community T

[2020-03-24 11:05] niels9001 opened #3183 "[Feature] Change the name of the Windows Community Toolkit Sample App"
## Describe the problem this feature would solve
The current name of the WCT Samples App is pretty long.. and since it's an app having that in the title is maybe a bit too descriptive :).

## Describe the solution
Potential names:
Windows Community Toolkit Gallery (aligning with WinUI => XAML Controls Gallery)
Windows Community Toolkit Samples

[2020-03-24 16:12] Kyaa-dost commented on #3183
@niels9001 Thanks for the request. Our team will look into this and see if the name of the app hinders any work as you mentioned in the description.

[2020-03-24 16:17] Kyaa-dost commented on #3182
Thanks for submitting this request @niels9001. Let's see what our team thinks about this idea.

[2020-03-24 16:27] mdtauk commented on #3182
![CURRENT](https://user-images.githubusercontent.com/7389110/77450903-da928900-6deb-11ea-8e01-4ed02cbd7f22.png)

When WinUI was looking to update their logo, there was talk about the Community Toolkit and Controls Gallery being part of a family of logos.

WinUI got it's new logo
![Final Blue Logo Shapes _ Shaded 1024](https://user-images.githubusercontent.com/7389110/77451175-3ceb8980-6dec-11ea-84

[2020-03-24 16:40] niels9001 commented on #3182
@mdtauk Great overview. Since we're working on a new icon for WinUI Control Gallery that is hopefully very much in line with the WinUI library logo, having a similar one for the WCT would be great :)!

[2020-03-24 16:46] michael-hawker commented on #3183
Thanks @niels9001! I like the idea of 'Gallery', I'll float this by the team and our communities and get some more input.

I've put this in the 7.0 bucket for now, as that'll be a bigger release with breaking changes, so it'd be a good time to rename the app and include that as part of the press release.

[2020-03-24 16:50] michael-hawker commented on #3182
Thanks @niels9001 and @mdtauk. It's been a while since our last refresh, so it does make sense to take a look into this. It would go nicely with #3183 for timing OR we could think about this for our future release that's on top of WinUI 3 (see #3106).

I don't know how much we want to align specifically with the same iconography of WinUI since we're a separate project (albeit related); however, we

[2020-03-24 16:56] yaichenbaum commented on #3182
![image](https://user-images.githubusercontent.com/39923744/77454322-bf655080-6dce-11ea-8047-3a1bf145b4ef.png)
These concepts align with the new icon for the Controls Gallery while staying close to the existing icon for the Toolkit.

[2020-03-24 17:09] mdtauk commented on #3182
![image](https://user-images.githubusercontent.com/7389110/77455477-d23d4c80-6df1-11ea-98b6-557ea3e94e35.png)

This is an older idea I worked on during the WinUI logo designing

[2020-03-24 17:24] michael-hawker opened #3184 "[Feature] Move from MyGet to Azure or GitHub Packaging Solution"
## Describe the problem this feature would solve
As called out by @clairernovotny [here](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3115#pullrequestreview-374731681) we should move from MyGet to Azure or GitHub packaging solutions for our CI builds.

[2020-03-24 20:13] Hakobyan888 commented on #3177
If the crop and rotate would work like the image above I don't think that there would be any problems you mentioned. So I would like to know is it possible to add rotation feature to  ImageCropper Control.
If no could you please give me some info(what should I change, there are many rects) so I could add init.

[2020-03-24 21:20] #3170 closed

[2020-03-24 21:46] skendrot commented on #3177
I going we're going to have to disagree here. Users will find a way to get themselves into trouble. You'd have to turn rotation on/off or cropping on/off and then it's no different than what I described above having a multi-step approach.

[2020-03-24 21:52] #3118 closed

[2020-03-24 21:54] michael-hawker opened #3185 "Oddness with Theming and Selection in InfiniteCanvas Control?"
## Describe the bug
It appears in certain cases with certain app themes (light vs. dark) the selection highlight on the InfiniteCanvas Toolbar isn't appearing correctly.  This makes it difficult to understand the current state of a textbox within the canvas. See screenshots below.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Re

[2020-03-24 21:59] michael-hawker opened #3186 "Hard to read text while editing a textbox in the InfiniteCanvas control"
## Describe the bug
Editing text in the InfiniteCanvas appears to have some overlay making it hard to read the text, see the screenshot below.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to InfiniteCanvas sample in sample app
2. Add a textbox
3. Start typing
4. Notice that there

[2020-03-24 22:16] azchohfi opened #3187 "Old StyleCop version"
## Describe the bug
The toolkit is using StyleCop.Analysers 1.0.2, which is a 2017 version, ~3 year old. Many fixes are not incorporated into our analysis since we use this old version.
Issue happening here: #3128

## Expected behavior
Latest stable version of StyleCop.

[2020-03-25 03:03] JeffMushmo opened #3190 "WebView doesn't navigate"
Embedded the WebView into my WPF application according to the directions. The app launches, but no URL ever loads. In some cases, when I try calling Navigate, the call just hangs.

This occurs in VS2019 in my WPF app when I'm targeting .NET FW 4.6+ or .NET Core 3+.

[2020-03-25 07:20] Hakobyan888 commented on #3177
https://drive.google.com/file/d/1LhVEq9bLJqr8gisbTLfVFs_J4z0EStAn/view?usp=sharing

Here is the video of what I'm trying to get.

[2020-03-25 07:34] vborovikov commented on #3178
https://youtu.be/xJI1g_u_50A

Notice in the end the ink gets blurry, it's the moment the app crashes.

[2020-03-25 10:51] deanchalk commented on #3185
I would like to start contributing to this project, can this one be assigned to me .?

[2020-03-25 17:20] michael-hawker commented on #3185
Welcome aboard @deanchalk! Thanks for offering to pick this issue up. I was on an Insider build with other oddness going on, so it may just be something with that. Do let us know any findings you have, in the meantime I'll leave it in your great hands!

Also, do let us know if you run into any other problems with the InfiniteCanvas while investigating more such as #3178.

[2020-03-25 17:30] michael-hawker commented on #3177
@skendrot it may well be something beyond what we want to have natively supported by the control. I agree in most scenarios the UX is tricky and generally broken up into different 'modes', so we probably don't want to define any of that behavior and functionality as part of the control (which I think is your main point).

However, this scenario from @Hakobyan888 of cropping a rectangle out of a po

[2020-03-25 17:31] deanchalk commented on #3185
I have submitted a PR (first one ever, so I hope its ok)

[2020-03-25 17:36] Kyaa-dost commented on #3185
@deanchalk Thanks for the PR. I will check it out.

[2020-03-25 17:39] Kyaa-dost commented on #3185
Also @michael-hawker I was able to reproduce this in OS Build 18363.720. Good find!

[2020-03-25 18:48] Kyaa-dost commented on #3186
@michael-hawker I have tried this multiple times in different theme settings, sizes, font styles, and I am still not able to reproduce this bug. Wondering how it showed up as overlaid text for you 🤔

[2020-03-25 19:01] deanchalk commented on #3186
I’ve been working in this area of the code today on another related issue. Would be happy to try and get to the bottom of it if you assign to me - thanks

[2020-03-25 19:07] deanchalk commented on #3176
This looks interesting, I wouldn’t mind digging into this one if I can get it assigned to me

[2020-03-25 19:11] skendrot commented on #3176
@deanchalk You've got it!

[2020-03-25 19:15] skendrot commented on #3177
@michael-hawker  I don't see any requests to rotate the rectangle. Only rotate the image.

[2020-03-25 19:16] Kyaa-dost commented on #3186
@deanchalk are you able to reproduce this?

[2020-03-25 19:22] deanchalk commented on #3186
I think I know how to, will try and get to the bottom of it

[2020-03-25 19:46] Hakobyan888 commented on #3177
@skendrot yes the image should be rotated only. The rectangle should be like the presented image or video.

[2020-03-25 20:09] skendrot commented on #3124
I am able to reproduce this with the latest. It looks like the sender for `ColorItemsVectorChanged` is no longer the ItemCollection that we previously stored. It's some underlying native object. I'm wondering if this is a regression bug with the core SDK. There's no reason we shouldn't be getting the ItemCollection as the sender for the event

[2020-03-25 21:31] Kyaa-dost opened #3195 "The text appears outside of the textbox when type in Boldtext in InfiniteCanvas Control"
## Describe the bug
If type in Boldtext, the text shows up outside of the textbox. Then any additional textbox shows text within the textbox. This only occurs for the first Boldtext textbox when the app is first opened.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to InfiniteCanvas in the sample app
2. Create a textbox
3. Select Bold Text
4. Start typing
5. Now the text will appea

[2020-03-25 22:22] skendrot commented on #3089
@ianier Have you been able to investigate this addition?

[2020-03-26 00:48] azchohfi commented on #3187
Reopening. Sample project and unit tests are not updated.

[2020-03-26 06:37] ianier commented on #3089
I finally inherited from IncrementalLoadingCollection and implemented ICollectionViewFactory.CreateView() to do my own grouping (ICollectionView.CollectionGroups), inheriting from AdvancedCollectionView. Grouping is done with a simple delegate, which proved easier to do than my original idea.
At the moment I don't have time to work on a PR, but here's the code of my collection view in cased someon

[2020-03-26 08:13] #3175 closed

[2020-03-26 14:25] rku-agnitio commented on #3063
Hi,
Now I upgraded to Visual studio 2019 latest version and still issue exists.

WinRT originate error - 0x80131513 : 'System.MissingMethodException: Method not found: 'System.Runtime.InteropServices.WindowsRuntime.EventRegistrationToken Windows.UI.Xaml.FrameworkElement.add_EffectiveViewportChanged(Windows.Foundation.TypedEventHandler`2<Windows.UI.Xaml.FrameworkElement,Windows.UI.Xaml.EffectiveVie

[2020-03-26 14:55] s-beltz commented on #3063
Hi @rku-agnitio, just a thought on this as we experienced a lot of toolchain problems (outside of the Community toolkit space) with our own product as well.
Do you see the MissingMethodException only in **Release** builds of your app? If so the optimizer might have removed required code and you need to adjust your app's rd.xml to omit everything related to the Microsoft toolkit nuget packages.

[2020-03-26 17:03] michael-hawker opened #3196 "[Tests] Investigate how we can use Moq (or similar) in Unit Tests to fake WinRT APIs"
## Describe the problem this feature would solve
Discovered that we currently don't have any mocking setup in our Unit Tests in order to test things like the ConnectionHelper. Related to #2133 and #3165, though this is additional work not blocking the other issues/PRs.

## Describe the solution
Need to find a mocking system that can mock WinRT APIs embedded within our helpers (not sure if this is

[2020-03-26 17:19] michael-hawker opened #3197 "NetworkHelper Singleton isn't thread safe"
##  Describe the bug
Noticed while working on unit tests that [NetworkHelper](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.Connectivity/Network/NetworkHelper.cs) isn't thread safe as we're assigning to a field instead of just using the property backing. We should update to the same pattern we used in #3168. I think in this case though, it's debatable

[2020-03-26 17:21] avknaidu commented on #2239
Closing as this is working as expected.

[2020-03-26 17:21] #2239 closed

[2020-03-26 17:42] michael-hawker opened #3198 "Remove NullableBool MarkupExtension"
## Describe the problem this feature would solve
This is now supported in the latest SDKs for all three values natively in XAML.  We no longer need to have an extension to provide Null values, we can just use `{x:Null}`.  I'm not sure which SDK this was introduced in, so let's put this in the WinUI 3 bucket, and we can quickly test that it still works there.

I've added System Unit tests testing t

[2020-03-26 18:46] rku-agnitio commented on #3063
Hi @s-beltz ,  it is not release build. I am experiencing with debug builds. I haven't tested with release build yet.

[2020-03-26 19:48] michael-hawker opened #3200 "[Discussion] Do we use a .NET Markdown Parser Library instead of our own?"
## Describe the problem this feature would solve
We have a lot of overhead for the `MarkdownTextBlock` supporting Markdown via our own Markdown parser. It may make more sense to refactor on top of a .NET Standard library that's maintained by a larger community, like [Markdig](https://github.com/lunet-io/markdig).

This however, would require updating our `MarkdownRenderer` code to do all the const

[2020-03-26 20:11] michael-hawker commented on #3200
@Kyaa-dost any ideas why the bot added these tags to this issue?

[2020-03-26 20:28] #3158 closed

[2020-03-26 20:30] michael-hawker commented on #2133
Started working on this on my [dev stream](https://twitch.tv/xamlllama), about 1/3ish the way through, but have at least already fixed a bug in the Markdown Parser, though thinking about #3200.

See branch progress here: https://github.com/windows-toolkit/WindowsCommunityToolkit/tree/testsCI%2BUnitTestFixes

[2020-03-26 20:35] michael-hawker commented on #2133
Note: We don't currently have any markdown tests for YAML.

[2020-03-26 20:38] Kyaa-dost commented on #3200
@michael-hawker I was doing testing with the bot so this have occurred due to that. I have scanned through all the features in the bot and none should be causing this.

[2020-03-26 20:55] #3187 closed

[2020-03-26 21:26] azchohfi commented on #2133
This is great. Once we fix the failing tests, we can actually merge #3165 to master, which will be awesome!

[2020-03-26 21:44] azchohfi commented on #2133
These are the tests that are still failing: https://dev.azure.com/dotnet/WindowsCommunityToolkit/_build/results?buildId=30739&view=ms.vss-test-web.build-test-results-tab
With your commits it will go down a little bit, but the markdown ones are still not fixed.

[2020-03-27 04:07] michael-hawker commented on #2133
@azchohfi yup, I didn't get to them all yet, but will dig into them more soon.  I also branched off your branch from #3165 so I can open a PR and see them build in the CI too.

When I have them all resolved, would you prefer to merge #3165 first and then the PR from this work OR just close #3165 once I open the PR for this one and merge it all together?

[2020-03-27 04:13] michael-hawker commented on #3177
@skendrot yes, sorry I meant to refer to the image there not the thumb selector, I'll update my comment.

[2020-03-27 04:23] azchohfi commented on #2133
Let's fix the issues on master, then my tests PR will actually build on the build server hehehe
Make the PR to master.

[2020-03-27 10:48] deanchalk commented on #3176
I have investigated this issue, and the reason for the problem is that within the TextBoxMask code it is explicitly setting the TextBox.Text property of the attached TextBox. However, in the scenario described above, the TextBox.Text property is initially set to a **Binding**, which is then immediately replaced within the TextBoxMask code for a string - for example in the TextBoxMask code we have

[2020-03-27 11:05] jp-weber opened #3202 "[Feature] RadialProgressBar: progress should be animated"
## Describe the problem this feature would solve
Currently progress is not animated by an increase in value. The progress so often seems harsh.

[2020-03-27 11:17] deanchalk commented on #3186
I tried, but simply couldn't reproduce this issue, either with the store app or debugging the code

[2020-03-27 11:21] deanchalk commented on #3195
Ive been working in this area, and happy to try and fix if you assign to me - thanks

[2020-03-27 11:43] deanchalk commented on #3078
I dont mind taking a look at this one if you assign it to me - thanks

[2020-03-27 12:23] deanchalk commented on #3078
Well, having a look I can see that ListViewExtensions never had a `Command `attached property declared (I had a look at the git history). Could this be a mistake on the documentation side ?
I'd happily implement the missing code if thats the right way forward :)

[2020-03-27 16:17] Kyaa-dost commented on #3202
@jp-weber Thanks for the request. Let's see what devs think about this feature.

[2020-03-27 16:56] michael-hawker commented on #3202
Thanks @jp-weber, WinUI is investigating updating the `ProgressRing` in the core library, see their issue [here](https://github.com/microsoft/microsoft-ui-xaml/issues/688). But I'm not sure of their timeline for this work at the moment.

FYI @YuliKl @kathyang @mdtauk

[2020-03-27 17:03] michael-hawker commented on #560
Going to move this to our Graph repo, as I believe anything we do in this area we'd also want to be integratable with the Graph.

[2020-03-27 17:08] michael-hawker commented on #770
@Pinox they never open sourced the Siliverlight version of the control, eh? That'd be the only path I would see forward to get this in the toolkit... otherwise, I'm thinking we may just want to close this issue unless we could find out who still owns that code somewhere in Microsoft... ☹

@stmoy are you aware of this older Silverlight control (I think shipped out of MSR?) and how we might track do

[2020-03-27 17:15] michael-hawker commented on #945
@azchohfi @HerrickSpencer any thoughts on how we optimize our git history? Pulling down the repo is like **436MB** now! However, 419MB of that is the `.git` folder...

[2020-03-27 17:17] mdtauk commented on #770
If the code can be found and ported to WinUI - rather than calling it a Pivot Viewer (which would be confusing with the modern Pivot control - could it perhaps be called something like a **SortingView**?

[2020-03-27 17:22] azchohfi commented on #945
Without loosing history, by push forcing the removal of big files, or all commits to master, I don't think there is a way. It would also be a pain to anyone that already cloned the repo, or forked it, or that have a current PR in place.

[2020-03-27 17:46] Pinox commented on #770
Hi @michael-hawker ,  searching youtube i found the following link by a Microsoft presenter.  I'm sure she would be able to track down this for you.

https://www.youtube.com/watch?v=8Aey3xm0CBg

![image](https://user-images.githubusercontent.com/5297255/77784633-842f7f80-7063-11ea-9a77-ef412f6a9257.png)

[2020-03-27 21:03] Hakobyan888 commented on #3177
I'm sorry when the feature will be added approximately?

[2020-03-27 21:38] michael-hawker opened #3203 "[Current] 6.1 Release Plan"
# 6.1 Release Plan

Incremental release focused on some new features along with bug-fixes and improvements.

**Feature Freeze:** 5/14/2020
**Code Freeze:** ~~5/21/2020~~ 5/29/2020
**Ship Date:** ~~5/28/2020~~ 6/4/2020

### [6.1-Preview1.2 on NuGet!](https://www.nuget.org/profiles/Microsoft.Toolkit)

## Work board Links

**Note:** there are an abundance of items currently earmarked for this release

[2020-03-27 21:55] yanxiaodi commented on #3134
@Sergio0694 I think it would be better to add a `private` constructor for `MyClass` to prevent other classes from instantiating it because that would violate the singleton pattern.
I agree with your opinion.

[2020-03-27 22:19] Sergio0694 commented on #3134
@yanxiaodi Thanks! 😄
I didn't add it there just because it wasn't strictly in the scope of the issue (this was just about the `Singleton<T>` class being unnecessary), and because in some cases uses would still want to leave the singleton class available for other instances (eg. the `Messenger` class in the `MVVMLight` library comes to mind, as it exposes a handy `Messenger.Default` singleton prope

[2020-03-27 23:21] michael-hawker commented on #770
Thanks for the links @Pinox.

Jenn is no longer around, so that's a dead-end to start with unfortunately, but I've found some other folks I may be able to get some history from as a starting point.

[2020-03-27 23:23] michael-hawker commented on #945
@azchohfi would a good time to do something like that be maybe for when we swap over to WinUI 3 as we'd be modifying so many files anyway?

[2020-03-27 23:39] azchohfi commented on #945
We could test it and see how much it would save (probably a lot).

[2020-03-28 00:57] MihaZupan commented on #3200
+1 for Markdig. Feel free to ping me about it

[2020-03-28 05:37] Pinox commented on #770
@michael-hawker , Not sure if this is going to help but names that come up under LiveLabs that were members of the the incubation team at Microsoft.  Gary Flake ,  Mark Bramley , Karim Farouki

https://www.youtube.com/watch?v=2jUrqvwKV74

[2020-03-28 09:07] HHChaos commented on #3177
Sorry, the reply is a bit late. I understand that this ability should be very useful in some cases, and it is also available in the image editor of most platforms. I have considered this problem before and have planned to increase this ability. But for other reasons, I didn't have time to do it. I will try it if I have time on the following weekend, but I can't guarantee when it will be completed.

[2020-03-30 01:54] James-Matthews opened #3204 "AutomationID not binding to control when set in XAML"
## Describe the bug
A clear and concise description of what the bug is.

Setting the AutomationProperties.AutomationID in the XAML does not actually set the AutomationID of the control.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Create a MarkdownTextBlock
2. Set the AutomationProp

[2020-03-30 17:30] michael-hawker commented on #1056
Hi @aL3891, I think there are a lot of other existing frameworks like [MVVMLight](https://github.com/lbugnion/mvvmlight) or [Fody](https://github.com/Fody/PropertyChanged) that solve the underlying problems here you're trying to address.

I think just directing others to these existing solutions would be the best course for the toolkit, we've tried not to overlap too much with these MVVM libraries

[2020-03-30 17:30] #1056 closed

[2020-03-30 21:17] stmoy commented on #770
Silverlight was before my time, I'm afraid 😅 - CC: @ranjeshj, the WinUI controls lead to help us track down current ownership.

[2020-03-30 22:39] Sergio0694 commented on #3064
This seems like an interesting feature, and nice job with the PR as well, I appreciate the insights that went into building that awaitable type. I just have a few question on the feature as a whole.

I'm not entirely sure what's an actual, real-world use case scenario for this. I saw the sample code in this issue and I get how that would work, but I'm confused as to what actual problem users might

[2020-03-31 07:15] azchohfi opened #3205 "Some classes do not work well on Xaml Islands."
## Describe the bug
Related to https://github.com/windows-toolkit/Microsoft.Toolkit.Win32/issues/228

There are a lot of issues when some controls and helpers of the toolkit run in the context of a Xaml Island. We need these fixed.

## Steps to Reproduce
For example, try to use the ThemeListener class in a WPF app with Islands. It will throw exceptions.
Anything that leverages the Dispatcher using

[2020-03-31 18:01] michael-hawker commented on #3177
Thanks @HHChaos understand that you're busy, no problem at all. When you have a minute though if you had any pointers on where someone might get started working on this type of scenario within the control (like where the bounds for the thumbs are restricted), that could be handy.

@Hakobyan888 would you be interested in trying to solve this problem and contribute a PR to the Toolkit to allow the c

[2020-03-31 19:15] Hakobyan888 commented on #3177
Yes, of course, I would like to solve this problem but as you said I need some pointers to start doing it.

[2020-03-31 19:41] #3185 closed

[2020-03-31 23:45] michael-hawker commented on #3200
Looking at Unit Tests, appears the inline GitHub style e-mail parsing is not functioning fully (the original UnitTest had things backwards (as does GitHub)). See [e-mail RFC spec section here](https://tools.ietf.org/html/rfc3696#section-3).

Some e-mails **not** supported properly still by our parser include:
- a^b@test.com
- a.b@test.com
- "a..b"@test.com

[2020-04-01 00:05] salmanmkc commented on #3186
I was able to replicate, just fixed it, will create a PR

[2020-04-01 01:14] salmanmkc commented on #3186
Working on this

[2020-04-01 02:14] hez2010 commented on #3064
Sometimes we only need a few simple UI updates apart from progress report, such as debounce and status indicator.
For example:
[code]

[2020-04-01 13:39] niels9001 opened #3210 "[Feature] Add GazeInput.SetCursorBrush method to change the default GazeCursor color"
## Describe the problem this feature would solve
The current Toolkit implementation allows for setting the visibility of the gaze cursor and the radius of the ellipse.

The brush however, can not be changed - which is unfortunate because the default color does look great and having the flexibility to change it (for e.g. dark vs light themed UIs) to create more accessible apps would be great!

## D

[2020-04-01 16:20] skendrot commented on #3064
@hez2010 How does the sample above benefit? As soon as `DoNetworkRequest` starts the request the async operation starts and the `Button_Clicked` method will be exited giving control back to the UI thread.
I have to agree with @Sergio0694 on the use of IProgress

[2020-04-01 16:28] sibille opened #3212 "ToastNotifications for WPF (.NET Core 3)"
In Windows Template Studio we're looking into adding a ToastNotification Feature to our WPF (.NET Core 3) Templates.
From the [docs](https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/send-local-toast-desktop) we've seen that the necessary DesktopNotificationManager was implemented on the Toolkit, but it's not available on .NETcore 3.

Would be great if WCT could sup

[2020-04-01 20:04] #2133 closed

[2020-04-01 21:54] michael-hawker commented on #3212
Thanks @sibille, I feel like this was just an oversight, so hopefully it wouldn't be that hard to support and is just some build settings.

Have you tried using the API in a MSIX packaged app or only stand-alone?

@andrewleader according to [this doc issue](https://github.com/MicrosoftDocs/windows-uwp/issues/1841) it sounded like your team was investigating the gap here. Have you made progress?

[2020-04-01 21:58] michael-hawker commented on #3210
@niels9001 looks like you copied the signature, did you mean it to be?

[code]

I don't know much about the internals of the Gaze helpers, @peteams thoughts? Is this easy to do?

[2020-04-01 22:03] niels9001 commented on #3210
Oh yeah, sorry about that.. fixed!

I have true lack of C++ knowledge, else I would have put in a PR myself :)! I see in the code that an Ellipse is drawn and the fill is set to IndianRed. Not sure if we could create a simple method that overrides that (like the SetCursorRadius already does)?

[2020-04-01 23:35] virzak opened #3216 "DataGrid for Xaml Islands - cont'd"
This is a follow-up to a previous DataGrid for Xaml Islands [issue](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3015)

Been hoping to see a DataGrid example, but one doesn't exist.

So I added a DataGrid in my [test project](https://github.com/virzak/XamlIslandsDataGrid/blob/47721dce10528b76d801ea1fd92ce7147aef4a6c/ClassLibrary1/MyUserControl1.xaml#L18) which works fine witho

[2020-04-02 12:03] sibille commented on #3212
Within a MSIX packaged app.
We could send the ToastNotification but had problems when implementing App Activation from the ToastNotification.

We tried adding the [DesktopNotificationManagerCompat](https://raw.githubusercontent.com/WindowsNotifications/desktop-toasts/master/CS/DesktopToastsApp/DesktopNotificationManagerCompat.cs) class as suggested in the docs, but this class does not compile as R

[2020-04-02 14:55] Sergio0694 commented on #3203
Leaving some more info/feedback here as requested on Twitter 😄

With respect to my own PRs:

- If possible, it'd be nice to have [these new Guard APIs](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3167) be included in 6.1 as well. It's just a couple of APIs I missed in the initial PR, plus the .NET Standard 2.1 target with some attributes. All tests passing, the PR is ready for

[2020-04-02 16:34] michael-hawker opened #3218 "Readme feature list is out of date"
## Describe the bug
Realized that we haven't been checking for adding new features to our readme in the toolkit repository.  We should make sure these are current or refer to the doc repo which will be more up-to-date.

Options:
1. Track and update Readme after Release
2. **Link to existing Markdown based Table-of-contents in Doc repo**
3. Duplicate feature list in doc repo

Looks like item 2) is

[2020-04-02 16:41] michael-hawker commented on #2729
This may be superseded by swapping out our Markdown parser entirely, see Issue #3200.

[2020-04-02 16:43] michael-hawker commented on #854
Moving out of 6.1, think this needs a bit more clearer definition if it's just an ItemsControl using Canvas to help layout items or something more detailed...

[2020-04-02 17:37] michael-hawker commented on #3008
This is crashing users in the French locale, see https://github.com/microsoft/XamlBehaviors/issues/154

[2020-04-02 17:39] michael-hawker commented on #3008
@JasonStein let us know if you plan to pick this up when you have time. Should just be a matter of doing some tests of the Toolkit behaviors (we have some that have sample pages in the Sample app)

[2020-04-02 18:06] michael-hawker commented on #3122
6.1 is already pretty heavy, and I have a few other bits to focus on with higher priority. However, I think the secondary theme of our 7.0 release can be Animations and Composition helpers, including this one and maybe some others. :)

[2020-04-02 18:15] michael-hawker commented on #2980
@anawishnoff @RBrid is this something we want to try and add for the May 6.1 release of the toolkit or should we just add this scenario to the ongoing discussion with [the Modern DataGrid](https://github.com/microsoft/microsoft-ui-xaml/issues/1500)?

[2020-04-02 18:18] michael-hawker commented on #1128
@vgromfeld is this anything you're familiar with having done the #3201 work? Wondering how we can know the size of this work or at least provide pointers to anyone who wants to pick it up.

[2020-04-02 18:22] anawishnoff commented on #2980
@michael-hawker Not sure. I like the idea of adding a HeaderFontFamily property to DataGridTextColumn - this is something that I'll add to the feature list for the modern DataGrid.

[2020-04-02 20:12] michael-hawker commented on #1383
This was resolved by #3207 and for ones we ignored see #3200.

[2020-04-02 20:12] #1383 closed

[2020-04-02 21:41] #3127 closed

[2020-04-03 08:52] deanchalk commented on #3210
Id really like an opportunity to work on this one if thats OK with everyone else

[2020-04-03 09:15] niels9001 commented on #3210
That would be very much appreciated :)

[2020-04-03 09:57] deanchalk commented on #3210
Does this need to be assigned to me? Or shall I just start work on it :)

[2020-04-03 17:35] azchohfi commented on #3210
I just assigned it to you. Thanks for the help!

[2020-04-03 18:12] Hakobyan888 commented on #3177
@HHChaos could you give me some tips for adding rotation functionality to ImageCropper, please.
Thanks!!!

[2020-04-03 21:49] michael-hawker commented on #3216
@azchohfi are these part of the new test cases you're working on for #3206?

[2020-04-03 21:52] michael-hawker commented on #3142
@ranaprathap2 could you maybe provide a small repro project that shows there error? Or is it possible to get the Sample App to hit this scenario, that's the easiest way for us to test issues and fixes?

[2020-04-03 22:03] michael-hawker commented on #2944
@HHChaos you can mimic `OneRowModeEnabled` with the following XAML:

[code]

We had meant to remove the property long ago, but didn't.

If you change the `HorizontalScrollBarVisibility` to `Hidden` here, then I believe you get your desired behavior?

[2020-04-03 22:08] Felix-Dev commented on #3212
@sibille @michael-hawker You might also want to check out issue https://github.com/microsoft/microsoft-ui-xaml/issues/1939. Not so long ago I was also fighting with the exact same activation issue for a WPF .NET Core 3 misx-packaged desktop app.

[2020-04-03 22:15] michael-hawker commented on #1179
@Sergio0694 thoughts on how our existing [ImageBlendBrush](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Media/Brushes/ImageBlendBrush.cs) and the above would fit/work with your Pipeline brushes #3112?

[2020-04-03 22:20] michael-hawker commented on #1187
@Vijay-Nirmal your details on requirements here sounds a lot like the [TwoPaneView](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/two-pane-view) control provided by the platform now?

Is there a need here to do something specific in the toolkit to the MasterDetailView if a developer needing such flexibility has more building blocks now? Could we close this issue?

[2020-04-03 22:20] azchohfi commented on #3216
Yes they are. I've fixed some of them already. I'll make sure I add some data grid tests.

[2020-04-03 22:31] Sergio0694 commented on #1179
This is (somewhat) already possible with the pipeline API, like so:

[code]

It would definitely be possible to reuse the same internal APIs and expose a some brush type with also more properties on top. Or better yet, add more options directly to that `ImageEffect` type, so that those will be usable from pipelines as well. I mean, we could also do both 😄

This is basically what the updated brushe

[2020-04-03 22:38] michael-hawker commented on #1341
I know Cortana has changed a lot since this initial issue, so I'm not sure if the API mapping is still the same or not. There's also a note on the [docs page](https://docs.microsoft.com/en-us/cortana/voice-commands/support-natural-language-voice-commands-in-cortana) about the feature being removed in 20H1. Going to close this issue.

[2020-04-03 22:38] #1341 closed

[2020-04-03 22:45] michael-hawker commented on #1470
@Odonno @Code-ScottLe this is a supported scenario in the platform with `ItemsStackPanel` see the [documentation here for inverted lists](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/inverted-lists). You can also play with this in the XAML Controls Gallery. Closing this issue.

[2020-04-03 22:45] #1470 closed

[2020-04-03 22:57] michael-hawker commented on #3216
@azchohfi does it make sense to split that PR up a bit since some of it was already reviewed?

[2020-04-03 23:06] michael-hawker commented on #1517
Going to close this issue as there's one open on the [WinUI repo here](https://github.com/microsoft/microsoft-ui-xaml/issues/33) for platform support. I'll post my work-around text above there for now, as I see that better than us having a light-weight custom styled wrapper in the toolkit.

[2020-04-03 23:06] #1517 closed

[2020-04-03 23:25] michael-hawker commented on #1596
@Kyaa-dost @aalok05 this isn't supported out of the box, but I believe @WilliamABradley was hinting that with addition of the ColorCode package and the possibility to have the Render do custom actions, it could be enabled? However, I'm not really sure how to do that (though our Sample App does some of this for its own wrappers for DocFX).

@MihaZupan is this syntax supported by the GitHub extensio

[2020-04-03 23:34] michael-hawker commented on #1653
Thanks @MohammadRoshani for the link, [this is a direct link to the blog](https://docs.microsoft.com/en-us/archive/blogs/shashankyerramilli/implementing-a-custom-semantic-zoom-container). Seems like the solution was to create a new control based off of another container like `Grid` and also have it implement the `ISemanticZoom` interface.

I could see where we could have a container like Grid but

[2020-04-03 23:38] michael-hawker commented on #1658
@Janisku7 I'm going to close this issue for now, as I think it's pretty specific.

What we would probably need is a better understanding of how the 3D [Translation](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.translation#Windows_UI_Xaml_UIElement_Translation) properties that were added into the platform can/could be applied to Mixed Reality applications. If you have any deta

[2020-04-03 23:38] #1658 closed

[2020-04-03 23:42] MihaZupan commented on #1596
Markdig will parse this as any other fenced code block, and the renderer will output the `language-diff` class to it.
It's up to other css/js to handle styling of such html.

[2020-04-04 00:09] azchohfi commented on #3216
I don't think so. Its almost ready to review. I'm just improving the tests now.

[2020-04-04 00:11] michael-hawker commented on #1767
Hey @LokiMidgard, sorry for the lack of response lately, there's been a lot going on since the holidays.

I know you've just put a ton of work into these updates; however, we were just discussing recently, because of all the fiddliness and performance implications of Markdown, if it made sense to leverage a more well-tested implementation of a Markdown parser compared to our own custom one. Then j

[2020-04-04 00:39] michael-hawker commented on #1499
@Vijay-Nirmal can you summarize what items are you waiting on from me at the moment? It sounds like you worked around most of your sample app issues?

If you're pretty close to completeness, can you open a Draft PR with the changes? It'll make it easier to review and point-out any assistance with any open questions you have as well.

Thanks!

[2020-04-04 07:50] LokiMidgard commented on #1767
@michael-hawker No problem.

I can totally understand that decision. And I think it makes sense. When I made the performance tests and couldn't get near the original performance, I already questioned if it is a good idea to integrate this. Having a drastically performance drop to add a feature that probably many that use this library would not need, don't seems to be the correct choice.

 I will p

[2020-04-04 07:50] LokiMidgard commented on #3200
I would like to see that the used parser could be exchangeable. E.g. hidden behind some interfaces. Including a default Implementation that is CommonMark compatible.

There are a bunch of different Markdown flavors out there already in use. If I start from scratch, I can use a flavor that is supported by this library. But if I consume the markdown from another source I don't control and it does no