[2017-08-08 07:11] Raamakrishnan opened #1375 "Using WebAuthenticationBroker for Facebook SignIn"
The Facebook helper currently uses a custom overlay over the app with a built in browser. Why not convert it into `WebAuthenticationBroker`, so that the Facebook signing in process will be consistent with others, like Twitter?

[2017-08-08 10:47] Raamakrishnan commented on #1375
I have created a pull request to do this. So, I am closing this issue.

[2017-08-08 14:47] skendrot commented on #1375
Leave the issue open until the PR has been merged

[2017-08-08 15:39] skendrot commented on #1261
Closing via #1366

[2017-08-08 15:39] #1261 closed

[2017-08-08 15:40] skendrot commented on #1311
Probably not an issue until 2.0

[2017-08-08 15:40] #1311 closed

[2017-08-08 16:30] cbarkerms commented on #952
Picking this back up - can somebody elaborate on the specific services you want to consume and from where please?  We do not have full control over some of the SDKs in terms of bringing .NET Standard support, but it would be interesting to hear which services you'd like to see prioritized.

[2017-08-08 20:52] skendrot commented on #1321
I had found one issue and fixed it. Trying to track down another issue

[2017-08-08 22:36] nmetulev commented on #1300
Should we close this now that we deprecated HttpHelper?

[2017-08-08 22:36] nmetulev commented on #1337
Also need to update documentation for HttpHelper and mark it obsolete

[2017-08-08 22:39] nmetulev commented on #1244
Should this issue still be open per #1260?

[2017-08-09 03:42] WilliamABradley opened #1378 "Microsoft.Toolkit.Core or Cross Platform Bindings Library"
Hi there,
Recently, in an effort to make my Personal Core Library Cross Platform (As well as my apps),
I have been creating a Cross Platform Code Binding Framework based on .NET Standard, for if you want to present a similar experience across .NET and Xamarin (Without using Xamarin Forms, but each platform's native UI Frameworks or Lack of one for .NET Core).

I was just porting the `IncrementalLo

[2017-08-09 06:07] #1300 closed

[2017-08-09 07:09] Code-ScottLe opened #1379 "AdvancedCollectionView's Link on ReadMe is wrong."

[2017-08-09 07:35] Vijay-Nirmal commented on #1226
Mistakes have been corrected, What about improvements?

[2017-08-09 15:45] Liero opened #1380 "PullToReviewListView should react to mouse when IsPullToRefreshWithMouseEnabled"
Steps to reproducuce:

    <controls:PullToRefreshListView x:Name="LV" IsPullToRefreshWithMouseEnabled="True" />

    LV.ItemsSource = Enumerable.Range(1, 100) .Select(i => "Item " + i))

Refresh with the mouse is working, but scroll the listview to the middle and it does nothing. No reaction what so ever. When pulling the ListView by mouse, it should always do something, especially when user cann

[2017-08-09 16:58] nmetulev commented on #1379
Great catch - fixed: https://github.com/Microsoft/UWPCommunityToolkit/commit/83b877582c2719f05871e29f4fd681a9936f7a37

[2017-08-09 16:58] #1379 closed

[2017-08-09 17:05] nmetulev commented on #1226
I like what you have outlined above. The only thing I would change is #5, the properties. Ideally, we would auto generate those from source.

Fancy another PR? :)

[2017-08-09 17:21] nmetulev commented on #1380
This behavior is expected per #647.

Enabling pull to refresh with mouse when not on top of list breaks when the list view is grouped and it's the reason why we had to disable refresh with mouse when not scrolled to the top.

Enabling scrolling with the mouse is possible, but getting a good experience would not be straightforward. We might be able to accomplish a decent experience with Interaction

[2017-08-09 17:43] nmetulev commented on #1378
Hey @WilliamABradley, thank you for sharing this. There is an incredible value in developing APIs that can run cross platform, and building them on top of .NET Standard IMO is one of the best ways to ensure that any platform (past, current, and future) will be able to use it. This is something I've been starting to think more about as well and evaluating how we can build our APIs in such a way tha

[2017-08-09 18:12] nmetulev commented on #1237
#1377 should resolve this

[2017-08-09 18:17] nmetulev commented on #1175
Closing per #1297

[2017-08-09 18:17] #1175 closed

[2017-08-09 18:18] nmetulev commented on #1140
Closing per #1297

[2017-08-09 18:18] #1140 closed

[2017-08-09 19:10] Vijay-Nirmal commented on #1226
@nmetulev Great I will do a PR. Before that, I am having few questions
1. Should this be completed before v2.0? I have exam next week I may not be able to complete before v2.0
2. I want to sync my fork before making a PR but it seen it can't be done in the new GitHub app. Is it possible to do it using old GitHub app? I am not a Git Command Line user
3. If properties are created automatically then

[2017-08-09 20:10] nmetulev commented on #1226
1. We can continuously improve docs and ship them independently from the nuget releases. Not everything needs to be done in one PR :)
2. I don't use the GitHub app so I'm not sure what's the best way to sync using the app.
3. We should just have a link to the API docs (which will be autogenerated) (# 9 on your list)
4. Requirements should be towards the bottom, above the links to the API and sourc

[2017-08-09 22:32] nmetulev commented on #1353
I finally got a machine with VS2015 and was able to verify the issue and run few other test. Unfortunately, we will not be able to resolve this for 1.5. In fact, starting with 2.0, Visual Studio 2015 will no longer be supported across the toolkit - all projects will be updated to target the Creators Update (#1377) and most are using CU APIs in some way. The CU APIs are behind an API check, so deve

[2017-08-09 22:32] #1353 closed

[2017-08-10 07:25] Liero commented on #1380
hmm, is look like it wasn't real fix, it was just workaround that causes another issue. Sorry :)

What we have now is not good experience either. User keeps complaining about it, since there is no indication whether they are on top of the list or no.

I understand that PullToRefreshWithMouse is secondary feature and not many people are using it, but ignoring mouse would be against nature of UWP. I

[2017-08-10 11:23] Vijay-Nirmal commented on #1226
I will do a PR as soon I sync my fork.
@nmetulev Is there any way for you to sync my fork?

[2017-08-10 15:04] Liero commented on #1311
Workaround in v1.5.1 is to override the resource used by ListViewItem template:

    <toolkit:HamburgerMenu PaneForeground="Black">
        <toolkit:HamburgerMenu.Resources>
            <SolidColorBrush x:Key="SystemControlForegroundBaseHighBrush" Color="Black" />
        </toolkit:HamburgerMenu.Resources>

[2017-08-10 19:35] Code-ScottLe commented on #1337
So I assume a bunch of others services are using `HttpHelper` and we want to change it to `HttpClient` ?

Also the link to the source code of `HttpHelper` on the doc is also wrong. I can knock this out tonight or something.

[2017-08-10 20:02] nmetulev commented on #1337
ping @hermitdave

Correct, HttpHelper is deprecated and we need to move to using HttpClient.

Thanks @Code-ScottLe

[2017-08-10 20:03] nmetulev commented on #1226
Done

[2017-08-10 20:07] Code-ScottLe commented on #1337
Okay, I will get on this tonight. Do you want me to fix the doc along the way or that should be a separate PR?

[2017-08-10 20:11] nmetulev commented on #1337
If you can get it in the same PR, that would be preferred.

[2017-08-10 20:21] Code-ScottLe commented on #1337
The doc will have to be updated to show that the API is obsolete anyway. Probably cleaner that way.

[2017-08-11 02:10] Code-ScottLe commented on #1337
Just to make sure, which version of `HttpClient` are we using? `System.Net.Http` or `Windows.Web.Http` ?

[2017-08-11 05:57] Vijay-Nirmal commented on #1226
I have planned to include **Use Cases** topic for each control. This topic will explain the different scenario to use this control, contain sample code and sample image for each use case of a control. What do you think?

[2017-08-11 08:29] hermitdave commented on #1337
Folks.. HttpHelper has just been marked obsolete. We don't need to rush moving to (System.Net / Dotnet Standard 1.4) HttpClient just yet. We can see what other services we move to .NET Standard and then move those to using HttpClient rather than HttpHelper

[2017-08-11 08:29] hermitdave commented on #1337
if we do then yes please go ahead.

[2017-08-11 15:53] lancecontreras commented on #1038
I think you should also check if IsSupported in OnSizeChanged method before calling UpdateShadowSize. I still get the error.

[2017-08-11 21:38] nmetulev commented on #1038
This is the same issue as #1358 and I known issue with the Visual Studio designer. Unfortunately, in my experience, adding the IsSupported check does not resolve the issue.

[2017-08-11 21:41] nmetulev commented on #1337
My thoughts on this, if we can move to System.Net now, we should do it to make it easier down the line if once me move other services to .NET Standard. The obvious exception being Windows.Web.Http.HttpClient is better suited for a specific service.

[2017-08-11 21:44] nmetulev commented on #1226
I'm sure this would be useful for some and if you can add it, please do.

How do you feel about adding template files that we can use to create new documentation when needed? So when we need to add documentation, we simply copy->paste the template and fill in the different sections.

[2017-08-11 21:45] Code-ScottLe commented on #1337
Most of the transition to `System.Net.Http.HttpClient` was smooth without much conflicts. I just need a suitable way to test all of the services which we don't have unit tests on (as noted in the PR).

[2017-08-11 21:56] hermitdave commented on #1337
With most services, I tested out using the sample app

[2017-08-12 04:08] nmetulev opened #1383 "Several markdown tests are failing"
After consolidating Unit Test projects (re #1377), several tests are now failing (I don't believe the tests were actually running before).

[2017-08-12 05:29] Vijay-Nirmal commented on #1226
I have finished documentation for Blur. I will do a PR by today. After verifying this documentation, we can create a template file.

[2017-08-12 14:06] IbraheemOsama commented on #1161
I don't see this worth doing, because we need to force the content to be a UIElement so we can use option ChangeOnGripperHover in splitter CursorBehavior because it is using hover events on the UIElement and these event aren't applied of course on the Content property in ContentControl which is Object.

[2017-08-12 14:06] IbraheemOsama commented on #1161
@nmetulev what do you think ?

[2017-08-12 14:41] IbraheemOsama commented on #1163
@nmetulev @gcaughey @crutkas if no one already started working on this I can do.
Can you guys define what is expected from the helper rather than the following:
1) Start new page as a separate view.
2) Managing current opened views (Switch between views, close view).
3) Exit the application from code safely.

[2017-08-12 15:07] Odonno commented on #1163
@IbraheemOsama And maybe a way to detect the current/focused view.

[2017-08-12 15:13] crutkas commented on #1163
Actually we synced here.  Believe the conclusion was WTS should handle end to end due to all the things that need to be wired up.  Let me dig up the email

[2017-08-14 03:49] ryantrem opened #1385 "ScrollHeader does not work when an ancestor element uses x:DeferLoadStrategy="Lazy""
If ScrollHeader is used within a ListView that in turn has an ancestor element with x:DeferLoadStragegy="Lazy", then ScrollHeader does not work correctly in either Sticky mode or QuickReturn mode.

[2017-08-14 10:20] WilliamABradley commented on #1378
@nmetulev I have moved my Platform Bindings Code into a new Library called the Platform Bindings Framework, you can view it here: https://github.com/WilliamABradley/PlatformBindingsFramework.

It is still in early days, it doesn't have any documentation yet, and lacks most tests, and it doesn't have any NuGet Packages since a few of android functions haven't been implemented yet, although I have j

[2017-08-14 22:34] SharPad commented on #1233
Any more pointers on this appreciated. I would like to have a different style for the Selected Item than the remaining items (opacity), is there a way to do this? Also I am adding items one at a time so the PrepareContainerForItemOverride gets called only when that item is called (which will be the new selected item) but the earlier items now need to have a different opacity. Any help on how I cou

[2017-08-14 23:48] Code-ScottLe commented on #1383
Do we need the text to be fixed or is this problem with markdown control? And do you have a list of tests that is failing? (if this has to be branched off from `dev` instead of `targetupdate`)

[2017-08-15 16:35] nmetulev commented on #1233
One way would be iterate through all the controls on selection changed and apply opacity appropriately (or any style change).

[2017-08-15 16:41] nmetulev commented on #1383
I believe the tests are failing because there are bugs or features missing that were never added.

This are the ones failing right now:
![image](https://user-images.githubusercontent.com/711864/29325786-d855c1bc-819d-11e7-8c22-f579e0a72c0e.png)

[2017-08-15 16:45] nmetulev commented on #1385
@pdehne, do you have any thoughts on this one?

[2017-08-15 17:20] Code-ScottLe commented on #1383
I will take a look. But ping @QuinnDamerell to see if he has any additional context.

[2017-08-15 18:02] nmetulev commented on #1332
The fix was just merged. @Dinchy87, Do you have a repro that we can verify?

[2017-08-15 18:03] nmetulev commented on #1373
PR merged

[2017-08-15 18:03] #1373 closed

[2017-08-15 21:18] nmetulev commented on #1161
What was the original reason to move to ContentControl?

[2017-08-16 03:26] #1370 closed

[2017-08-16 03:28] nmetulev commented on #1368
Up?

[2017-08-16 03:30] nmetulev commented on #1362
@nguyenthanhliemfc, do you have a repro for this?

[2017-08-16 03:34] nmetulev commented on #1331
Up?

[2017-08-16 03:36] nmetulev commented on #1329
Up?

[2017-08-16 03:44] nmetulev commented on #1223
@SpilledMilkCOM, wondering if I should push this one for 2.1 or are you planing to make it for 2.0?

[2017-08-16 03:46] nmetulev commented on #1218
ping

[2017-08-16 06:44] michael-hawker commented on #1373
@hermitdave this definitely works better.  I hit this issue working on some changes to the sample app.  However, I'm still noticing a difference in behavior with RoundImageEx.  It seems like it has a fixed height when placed in a StackPanel compared to ImageEx.

If you compare this:
[code]

to this:

[code]

You'll see they behave differently, though I'd expect RoundImageEx to be the same as Image

[2017-08-16 07:00] michael-hawker opened #1387 "SampleApp sample can become out of sync with Property Options"
If you manipulate a sample and then navigate back to it later, the property options are reset, but the sample is not reloaded.

For instance, if you open the HeaderedTextBlock sample, change the orientation to Horizontal, and then navigate back to the same sample, you'll see the drop-down now says 'Vertical' again but the sample is still shown in Horizontal mode:

![image](https://user-images.gith

[2017-08-16 07:59] hermitdave commented on #1373
@michael-hawker they are very different controls indeed. One uses Image and other uses ImageBrush. I will take a look but I think I can already visualise the issue in my head

[2017-08-16 11:29] Vijay-Nirmal opened #1388 "Sample App doesn't cancel the ProgressRing after Print is canceled"
It seems, In sample app [there is no `OnPrintCanceled` event](https://github.com/Microsoft/UWPCommunityToolkit/blob/cc24be86964da4b90b417b9cd060c336ed68f9a8/Microsoft.Toolkit.Uwp.SampleApp/Controls/CodeRenderer/CodeRenderer.cs#L127) to call [`ReleasePrintHelper()`](https://github.com/Microsoft/UWPCommunityToolkit/blob/cc24be86964da4b90b417b9cd060c336ed68f9a8/Microsoft.Toolkit.Uwp.SampleApp/Control

[2017-08-16 19:15] michael-hawker commented on #1373
@hermitdave thanks, want me to open a new issue for this?

[2017-08-16 20:12] hermitdave commented on #1373
Sure thing

[2017-08-16 20:31] DavTheSuave opened #1389 "It is unclear which NuGet package contains UI.Extensions"
I'm trying to use the ListViewBase extension. Based on this repository and the website, I have no idea which package lets me do that.

[2017-08-16 20:43] #1389 closed

[2017-08-16 20:47] nmetulev commented on #1389
@DavTheSuave, wondering why you closed the issue, did you find out what package it is? Wondering if there is something we should be doing to make easier?

[2017-08-16 21:24] michael-hawker opened #1391 "RoundImageEx Height Collapses in StackPanel"
Follow-up from PR #1373, if you place a RoundImageEx control in a StackPanel it behaves differently than an Image or ImageEx and is not shown at the full image height.  It is instead truncated:

![image](https://user-images.githubusercontent.com/24302614/29385908-5e26b378-828e-11e7-8f73-08d963d91f12.png)

In the above, they were given 200 width in the parent container for images of 200x200 (no wid

[2017-08-17 00:37] DavTheSuave commented on #1389
I did figure out that it was in the Microsoft.Toolkit.Uwp.UI package, but I was only able to figure that out by digging through the .csproj file. I /do/ feel that either there should be a more obvious way to tell which packages contain parts of UI.Extensions, or that I'm missing that obvious thing.
I closed the issue because I don't know how to delete my post. I don't use Github often, so I figure

[2017-08-17 03:21] nmetulev commented on #1387
We were setting the default value in the PropertyControl instead of the actual value. #1392 should fix that.

[2017-08-17 03:22] nmetulev commented on #1388
Fix in #1392

[2017-08-17 04:27] IbraheemOsama commented on #1161
We thought it should be ContentControl as the splitter can contains content :) won't add any new functionality

[2017-08-17 05:44] nmetulev commented on #1161
I'm ok with not doing this if there isn't a specific benefit or need :)

[2017-08-17 16:11] hermitdave commented on #1391
Strangely I can get it to horizontally stretch but not vertically.

![image](https://user-images.githubusercontent.com/1896163/29422133-277d2bea-836f-11e7-8fcc-e78d8584ae69.png)

[2017-08-17 16:30] michael-hawker commented on #1391
@hermitdave Yup, that's what I was seeing.  I called it 'vertical truncation' sorry for the confusion.

I'd expect it to look like your first top image, just with rounded corners.

[2017-08-17 17:34] hermitdave commented on #1391
there are fundamental differences and I am not sure their behaviours can be made identical since underlyings are different. I will play with it further however the height is set to 52 which seems strange.. not sure where it is getting that.

[2017-08-17 17:43] michael-hawker commented on #1391
Yeah, It'd be nice if we could mimic things as well as we can.  I did indeed notice there seems to be some odd clamp on the height value when none is specified.

I feel like the Image/ImageEx both stretch to the available container size width/height (depending on orientation aspect) while maintaining the image aspect ratio.  If that's not possible currently with the RoundImageEx, then if we could

[2017-08-17 22:21] hermitdave commented on #1391
Seems like the rectangle has the value of 52 and everything else just uses that. Going for Image's width / height is a can of worms. I am personally not a fan of RoundImageEx.. Wish XAML team rather introduced corner rounding option.

[2017-08-17 22:54] michael-hawker commented on #1391
Yeah, ideally, it'd work like it does in CSS with border-radius.

Since we're moving the min-version to 14393 and above, could we use a solution with the Compositor now?  Then we can just use the ImageEx control as a base and apply an effect on top to clip the corners. @shweaver-MSFT you're familiar with the composition API, any thoughts on this?

[2017-08-18 17:33] skendrot commented on #1161
We could also just make it a control and remove the Element property. Have people style the control if they want anything different.

[2017-08-18 19:21] nmetulev commented on #1161
We could, but devs can style the control right now if they need to and some are already using the Element property, so why break thing that are already working.

[2017-08-18 19:22] #1237 closed

[2017-08-18 19:23] #1340 closed

[2017-08-19 05:04] WilliamABradley commented on #1391
@hermitdave @michael-hawker Yeah, it was a bit of a stop-gap solution to get rounding working for the ImageEx. It works well for predetermined sizes, such as User Images (Which is why I created it).
It was originally using an ellipse (hence RoundImageEx, but it now uses a Rectangle so not even the name makes sense.

Is it because of how the Image Control is implemented natively that cropping can't

[2017-08-19 05:09] WilliamABradley commented on #1042
I have found that when having unordered Namespaces, that when you Auto-order them, they get inserted below the namespace. Is that an issue with the Ruleset?

[2017-08-19 10:11] hermitdave commented on #1391
@michael-hawker @shweaver-MSFT @WilliamABradley

https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Composition.CompositionMaskBrush
Shows how to use Nine grid brush to provide rounded corners. I'll take a look it later tonight but feel free to play with it.

[2017-08-20 03:58] hawkerm commented on #1391
@WilliamABradley the UWP [Clip](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement#Windows_UI_Xaml_UIElement_Clip) property only supports RectangularGeometry unlike Silverlight/WPF which supported [any Geometry](https://msdn.microsoft.com/en-us/library/system.windows.uielement.clip(v=vs.110).aspx). :(

@hermitdave that last example looks promising.

[2017-08-20 19:31] SpilledMilkCOM commented on #1223
I've been swamped at work and we're buying a new house.  Might need to push it.

[2017-08-20 19:46] nmetulev commented on #1223
No worries, congratulations :)

[2017-08-21 05:33] #1167 closed

[2017-08-21 05:59] #983 closed

[2017-08-21 05:59] #1388 closed

[2017-08-21 05:59] #1387 closed

[2017-08-21 06:08] #1371 closed

[2017-08-21 09:36] #1375 closed

[2017-08-21 16:13] #1337 closed

[2017-08-21 20:32] nmetulev opened #1397 "Move Notifications library to .NETStandard"
The Notifications project source code does not depend on any platform features and can be packaged as a .NET standard library.

[2017-08-21 20:32] nmetulev commented on #1397
@anbare, fyi

[2017-08-21 22:01] #1339 closed

[2017-08-21 22:02] nmetulev commented on #1332
Closing issue as this PR was merged, let us know if you still have issues

[2017-08-21 22:02] #1332 closed

[2017-08-21 22:42] nmetulev commented on #1289
Closing this as HttpHelper has been marked obsolete

[2017-08-21 22:42] #1289 closed

[2017-08-21 22:50] nmetulev commented on #1161
Closing, but if anyone believes we should do this, feel free to open it

[2017-08-21 22:50] #1161 closed

[2017-08-21 22:54] nmetulev commented on #1067
We did not get to this for 2.0, we will try again for 2.1. We are also open to contributions if anyone wants to pick this up ;)

[2017-08-22 01:24] #1107 closed

[2017-08-22 01:44] WilliamABradley opened #1399 "Future Plans for the TextToolbar"
Just some ideas on where this control could be improved.

- Find a fix for the Link Display update for RTF (https://github.com/Microsoft/UWPCommunityToolkit/pull/1116#issuecomment-323615315).
- Add Font and Size Picker to RTF.
- Add Indicator to let people know there are more buttons (https://github.com/Microsoft/UWPCommunityToolkit/pull/1116#discussion_r134329318).
- Work on Mobile Keyboard Attac

[2017-08-22 01:58] nmetulev commented on #1399
Great list

[2017-08-22 05:03] WilliamABradley opened #1400 "Transition to Cake Build Script"
It would be nice to transition the build system from PSake to Cake :)
Cake is much more developer friendly, and I think is more actively developed than PSake,
Even the current maintainer of PSake recommended switching to Cake, and it is C#, so that is even more helpful for the audience of the Toolkit.

Here is my Cake Script, which was initially based of the PSake file for this toolkit, but transl

[2017-08-22 05:28] nmetulev commented on #1400
ping @PedroLamas

[2017-08-22 07:51] dgomezc commented on #1329
@nmetulev Ok, "Main button" works. Maybe you could consider to allow to customize the "AuomationProperties.Name" in the future.

[2017-08-22 07:52] dgomezc commented on #1329
@nmetulev Ok, "Main button" works. Maybe you could consider to allow to customize the "AuomationProperties.Name" in the future.

[2017-08-22 07:56] picatextra opened #1403 "MarkdownTextBlock : StackOverflowException"
Oups , i got an exception with this text:
`
" *\"Jusqu'ici, tout va bien\".\n* \n\n **#RUGBY** Dans un entretien à *[ L'Equipe ](https://www.lequipe.fr/Rugby/Actualites/Gaelle-mignot-jusqu-ici-tout-va-bien/827518)* , Gaëlle Mignot revient sur sa coupe du monde, à quelques heures de la demi-finale contre les Anglaises.\n\n"`

[2017-08-22 08:23] michael-hawker commented on #1267
Just a note: We could use `&` but it has to be written as `&amp;` in XAML code, so it's not as convenient.

[2017-08-22 08:59] hermitdave commented on #1397
@nmetulev what would the benefit of that be ?

[2017-08-22 09:12] cargarfa opened #1404 "AdvancedObservableCollection"
Good morning, I'm an initial programmer and I'm trying to use this toolkit. Could you put more examples of advancedObservableCollection with relational data? Can linq be used in acv.filter or only lambda expressions? The result in the code of this page uses predicate, does it only return one result? Thanks in advance.

[2017-08-22 11:41] bkaankose commented on #1357
Your handler is already running on UI thread for this simple case. You don't need to run it in DispatcherHelper. I'm not sure why helper did not work though.

[2017-08-22 11:44] bkaankose commented on #1331
Your App Secret Key might not be valid. Make sure it's correctly typed and try again.

[2017-08-22 15:28] nmetulev commented on #1267
Agreed, it's not as convenient, my assumption is that most devs would add it through xaml.

[2017-08-22 15:29] #1267 closed

[2017-08-22 15:33] nmetulev commented on #1397
The notification package we have right now already supports multiple lib, this is just for clean up:

![image](https://user-images.githubusercontent.com/711864/29573716-8e369166-8714-11e7-8047-c04b8da74b7d.png)

[2017-08-22 15:44] #1301 closed

[2017-08-22 15:44] nmetulev commented on #1301
PR merged

[2017-08-22 15:45] nmetulev commented on #1293
PR merged

[2017-08-22 15:45] #1293 closed

[2017-08-22 15:46] nmetulev commented on #1266
PR merged

[2017-08-22 15:46] #1266 closed

[2017-08-22 16:23] jchristof opened #1405 "MenuItem an InvalidCastException at runtime on ARM devices : Unable to cast object of type 'Microsoft.Toolkit.Uwp.UI.Controls.MenuItem' to type 'Windows.UI.Xaml.Controls.IControl4'"
[code]
This issue is from our build running on a Lumia 1520. Version 1511. OS build 10.0.10586.11
Same issue on other UWP IOT devices.

[code]
MenuItem runs fine on desktop build Creators Update 15063.

[2017-08-22 16:31] nmetulev commented on #1405
ping @IbraheemOsama

[2017-08-22 16:42] nmetulev commented on #1403
@picatextra, this seems to be working in the sample app:

![image](https://user-images.githubusercontent.com/711864/29576788-05ec8ffe-871e-11e7-8654-eea3703f6b5c.png)

Do you have a repro where it fails?

[2017-08-22 17:04] Code-ScottLe commented on #1303
@nmetulev Are we doing friendlier offline page for 2.0 and leave the full offline documentation to later iteration?

[2017-08-22 17:29] nmetulev commented on #1303
I'm going to try to get the offline pages in #1402. I might not get to it, so we can do it for 2.1

[2017-08-22 17:43] michael-hawker commented on #1303
It's actually be cool if we could pull all the documentation in the background and cache it; so if you're at least online once, we'd have a copy for when you're offline.

[2017-08-22 17:46] Code-ScottLe commented on #1303
That is a neat idea actually, because I was on the fence about baking the docs in with the app (increase app size). Having a cache option is actually a great idea because user can claim back the space if they want to.

[2017-08-22 18:01] picatextra commented on #1403
You're right, i cannot reproduce the crash.
I have a listview of markdown but it was the only item displayed.

[2017-08-22 18:04] michael-hawker opened #1406 "Add Fullscreen Offsets to BladeView"
When the BladeView is in Fullscreen mode, it's hard for a user to tell they can scroll with the new collapsing scrollbars:

![image](https://user-images.githubusercontent.com/24302614/29579895-0f780764-8729-11e7-916d-a72c2e1edede.png)
(e.g. there's blades to the left I can scroll to here.)

It'd be great if we had a `FullscreenMargin` or `FullscreenLeftOffset/FullscreenRightOffset` properties to a

[2017-08-22 18:05] michael-hawker commented on #1406
Was just thinking too, that we could add a 'snap' property and use the leftoffset in either mode too.

[2017-08-22 18:26] nmetulev commented on #1303
BTW, all the docs without images (we don't show images in the docs in the sample app) are a little under 300K, so it wouldn't increase appsize by much

[2017-08-22 21:10] IbraheemOsama commented on #1405
@jchristof did you used MenuItem inside the menu control or just a custom control inside the menu ?
Because Menu allows only MenuItem.
`
<controls:Menu>
<controls:MenuItem></controls:MenuItem> // anything else shouldn't work
</controls:Menu>
`

[2017-08-22 21:13] jchristof commented on #1405
I've used menu items only inside of menu controls - the same code targeting x86 on the local machine runs fine without exceptions.

[2017-08-22 21:21] IbraheemOsama commented on #1405
Which UWPToolKit package you were testing the current Dev Branch or 1.5.1 ?
Because I notice that you're running an OS build (10.0.10586.11) and our Min version is (10.0.14939) and Target is (10.0.15064) so this could be the issue.

[2017-08-22 22:01] jchristof commented on #1405
That solved the issue - I took an update on a Panasonic FZ-E1 device to 10.0.14393.1066 and the menu works there now - thanks for the help.

[2017-08-22 22:01] #1405 closed

[2017-08-22 22:11] nmetulev commented on #1303
I added this commit that adds offline docs: https://github.com/Microsoft/UWPCommunityToolkit/pull/1402/commits/739a119cbb4dd49df4eaeb03f6f282399f484303

I changed the way docs are retrieved from just getting it online to,
* try to get latest from online, if success, cache results
* if not online, or docs not online, try to access cached,
* if not cached, try to read packaged version

I also added

[2017-08-22 22:48] nmetulev commented on #922
Closing with #1336

[2017-08-22 22:48] #922 closed

[2017-08-23 00:49] Bluu opened #1407 "DropShadowPanel: System.Numerics.Vectors, Version 4.1.1.0 File Not Found Exception"
Hi,

When I add the dropshadowpanel control to my xaml, I get the following error:

Could not load file or assembly 'System.Numerics.Vectors, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

The application is building fine and dropshadow are displaying correctly when app is deployed but designer stop display

[2017-08-23 00:55] nmetulev commented on #1407
See #1358

This is a known issue with the designer

[2017-08-23 00:55] #1407 closed

[2017-08-23 10:31] wstaelens opened #1409 "UWP Community Toolkit Sample App links not working"
When going to:

1. Notifications

1.  Toast

1. Click upper right corner on "Github"

You are redirected to: [https://github.com/Microsoft/UWPCommunityToolkit/tree/master/Microsoft.Toolkit.Uwp.Notifications.Shared](https://github.com/Microsoft/UWPCommunityToolkit/tree/master/Microsoft.Toolkit.Uwp.Notifications.Shared)
and you will see a "404 Page not found".

[2017-08-23 12:54] Odonno commented on #1303
@nmetulev I don't know why we should get online docs because if the docs are already packaged with the app, it will work all the time without the need of a network connection.

[2017-08-23 16:10] nmetulev commented on #1303
@Odonno, the idea is to always get and cache latest docs each time in case there has been an update. That way we don't have to update the sample app to update the docs.

[2017-08-23 17:01] Vijay-Nirmal opened #1410 "Saturation animation doesn't work if the previous animation doesn't finish"
While creating an [Example for AnimationSet Doc](https://github.com/Vijay-Nirmal/UWPCommunityToolkit/blob/83c31f976b88eed774287c9295a3bda7bb36bdf8/docs/animations/AnimationSet.md#examples) I notice that Saturation animation doesn't work as expected. If I call different valued saturation animation before it finishes its previous animation then the new animation will not work.

**Repro code:**

[cod

[2017-08-23 17:15] nmetulev commented on #1410
ping @shenchauhan

[2017-08-23 17:53] nmetulev commented on #1409
Thanks for reporting, just fixed it in #1402

[2017-08-23 18:17] Odonno commented on #1303
@nmetulev But users always have to update the sample app if you want to see new controls/helpers/services/etc.. So each version should have its dedicated documentation.

[2017-08-23 18:21] michael-hawker commented on #1303
@Odonno we can still update and improve docs for the existing controls, so the app being able to pull the live ones is useful.  The docs will start updating more out-of-band as they get moved to docs.microsoft.com.

[2017-08-23 18:26] nmetulev commented on #1303
@Odonno, the docs in the sample app will always point to master branch, so any changes in the dev branch will not show up in the sample app. But if we fix issues in the docs in the master branch for existing controls, those will show up in the sample app as well

[2017-08-23 18:48] Odonno commented on #1303
@nmetulev That makes sense.

[2017-08-23 18:54] michael-hawker commented on #1410
@Vijay-Nirmal thanks for finding the repro on this; I can confirm I noticed something fishy too; while I was working on the sample app, but I didn't know what the trigger was.

[2017-08-23 19:26] michael-hawker commented on #1236
I just hit this trying the control out in the new sample app.

@Odonno a gif would be nice to see how it differentiates from the built-in ProgressRing.

[2017-08-23 19:42] mrlacey commented on #1329
Just changing the hardcoded automation property name isn't enough as it doesn't allow for translation

[2017-08-23 19:59] nmetulev commented on #1329
How does the new NavigationView handle this, any idea?

[2017-08-23 20:51] mrlacey commented on #1329
In SDK v16257 the button is styled with "PaneToggleButtonStyle" and doesn't set a value for `AutomationPropertes.Name` instead the control displays a ToolTip which is used as the name for narrator, inspect, etc.
The toolkit version doesn't include a tooltip and so accessibility tools a forced to use the explicit AP.Name value. As there's no need for this button to use localized content the normal

[2017-08-23 21:05] michael-hawker opened #1411 "BitmapImage DecodePixelHeight Property effects how RotatorTile functions"
Noticed this in the sample app.  It looks like the first transition is correct, but every subsequent transition is shifting with a different image than the intended one.  When the transition completes it swaps out the image as the final result:

![rotatortilestartnew](https://user-images.githubusercontent.com/24302614/29638565-764632b6-880c-11e7-8ea6-0ffc84e14790.gif)

You can see at the start the

[2017-08-23 21:07] nmetulev commented on #1329
Makes sense. How do you feel about submitting a PR to resolve these? :)

[2017-08-23 21:11] bkaankose commented on #1350
A long time ago where community toolkit was first released someone mentioned this idea too, and I supported it. We've never took any action for it and I'm pretty sure I was willing to send a PR that time. Can't remember the last situtation we were in though :)

Something like DialogHelper with the support of MessageDialog and ContentDialog (maybe plus with a CustomDialog that will contain all the

[2017-08-23 21:15] nmetulev commented on #1080
PR merged

[2017-08-23 21:15] #1080 closed

[2017-08-23 21:43] michael-hawker opened #1412 "RotatorTile should support Down and Right as Directions"
Would be nice to see them fill out the set.

[2017-08-24 03:28] nmetulev commented on #1224
This should be resolved by #1413

[2017-08-24 03:28] #1224 closed

[2017-08-24 03:32] nmetulev commented on #1358
#1413 should resolve this

[2017-08-24 05:31] michael-hawker opened #1415 "InAppNotification will dismiss a secondary notification when on a timer"
Repro:
1) Set a Dismiss timer (5000)
2) Show a notification
3) Wait 3-4 seconds.
4) Dismiss the notification through the 'X'
5) Show another notification

Note: the notification will be dismissed after the final second of the original timer

Expect; Timer to be reset and wait the full 5 seconds again.

[2017-08-24 05:35] michael-hawker commented on #1415
@Odonno It's from the [Task.Delay](https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/InAppNotification/InAppNotification.cs#L78) we have.  Feel like we need to use a Timer like in the RotatorTile or TileControls so we can stop it before when we dismiss or show a new item.

[2017-08-24 06:27] wstaelens opened #1416 "ToastNotifications on Windows 10 IoT Core (Raspberry Pi 2) don't work"
Make ToastNotifications work on Windows 10 IoT Core
This code works on Windows 10 desktop:
[code]

But on a Raspberry Pi 2 with Windows 10 IoT Core it doesn't seem to work.
(currently not supported according to comments from MSFT on stackoverflow https://stackoverflow.com/questions/45839737/no-toastnotification-on-windows-10-iot-rpi2?noredirect=1#comment78662773_45839737 )

[2017-08-24 08:04] mvegaca commented on #1329
I'm working on this PR :)

[2017-08-24 10:33] mvegaca commented on #1329
PR done, we will be pending on next release to close WTS [Issue](https://github.com/Microsoft/WindowsTemplateStudio/issues/494)

[2017-08-24 13:52] Odonno commented on #1236
I just found a video. :) https://youtu.be/x8wkFfbhYhQ?t=1m7s

[2017-08-24 13:54] Odonno commented on #1415
@michael-hawker We can set a unique id for each notification instance. So, the dismiss task will only dismiss if it match the corresponding id.

[2017-08-24 15:59] nmetulev commented on #1329
Thanks @mvegaca. I noticed you added new dependency properties for the affected controls. Curious if adding the tooltip option @mrlacey describes above would work just as well?

[2017-08-24 16:07] jchristof opened #1419 "Disabled MenuItems can be opened by hovering over their header after clicking an enabled MenuItem"
UWP on Desktop toolkit version 1.5.1
Repro:
Click the "Disabled" menu item
Notice that it does not open
Click the "Enabled" menu item
Notice that the menu opens
Without clicking again move the mouse over the "Disabled" menu item
Notice that the "Disabled" menu item opens to reveal the fly-outs

[code]

[2017-08-24 16:18] nmetulev commented on #1419
ping @IbraheemOsama

[2017-08-24 17:05] michael-hawker opened #1421 "A lot of Property Comments aren't helpful"
We have a lot of 'default' property doc comments which don't actually tell the developer what they are supposed to do.  Some are obvious, but others are a lot more cryptic.  Feel like this will be important as we start generating more of the docs.

[2017-08-24 17:14] bkaankose commented on #1415
Giving every notification is a good idea. That's the way Microsoft handles it. However, for this control I suggest using CancellationToken object that will cancel the delay task. It's easier than changing the design of the control even though it's a simple one.

[2017-08-24 17:58] mrlacey commented on #1329
If the toolkit team wants to make the HamburgerMenu control behave like the NavigationView (in FCU) then this would mean adding the tooltip(s) - for "Open Navigation" and "Close Navigation". I would expect this logic to come with the control, not be something that the consumer would have to implement. I'd also expect to see Two properties (or resource Ids) for setting each of the string values.

I

[2017-08-24 18:35] Code-ScottLe commented on #1421
I would suggest using <remarks> tags if it needs more than 2 lines worth of text to explain. <summary> which shows up with Intellisense is better for quick glance.

[2017-08-24 18:42] cbarkerms opened #1422 "TextToolbar crashes when no properties have been set"
Add <controls:TextToolbar />, run, click "B" (bold), crashes with the following:

System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.Toolkit.Uwp.UI.Controls.TextToolbarFormats.Formatter.get_Selected()
   at Microsoft.Toolkit.Uwp.UI.Controls.TextToolbarFormats.RichText.RichTextButtonActions.FormatBold(ToolbarButton button)
   at Microsoft.Toolkit.Uw

[2017-08-24 18:43] cbarkerms commented on #1422
ping @WilliamABradley

[2017-08-24 18:51] cbarkerms opened #1423 "TextToolbar crashes when trying to re-apply a Link"
Bind TextToolbar.Editor to a RichEditBox.  Run.  Type "abc", drag over, add Link.  Drag over "abc", click add Link, crashes with:

{System.ArgumentException: Value does not fall within the expected range.}

[2017-08-24 18:51] cbarkerms commented on #1423
ping @WilliamABradley

[2017-08-24 19:50] michael-hawker commented on #1411
I notice this issue in the previous and current sample apps, but I didn't notice it when trying to use the control on its own in another project.

[2017-08-24 19:51] skendrot commented on #1421
This is standard documentation for [dependency properties](https://docs.microsoft.com/en-us/dotnet/api/system.windows.frameworkelement?view=netframework-4.7#Fields).

[2017-08-24 19:53] michael-hawker commented on #1411
If I use this template instead:
[code]
It rotates correctly, but then blinks after each transition.

[2017-08-24 19:58] skendrot commented on #1236
[Discussion](https://github.com/Microsoft/UWPCommunityToolkit/pull/828#issuecomment-277417916) about doing something like this in the PR

[2017-08-24 20:02] michael-hawker commented on #1421
Thanks @skendrot, good to know.  The point is though that some of the actual property comments aren't much better.  For instance the RotatorTile time properties don't tell you units.

[2017-08-24 21:08] michael-hawker commented on #1411
The original issue is caused by setting `DecodePixelHeight` on the Bitmap Image for some reason.  I've got a PR coming to remove that piece from the sample app.

Later, we should probably investigate later why this property has such a large effect on the control.

[2017-08-24 21:25] michael-hawker commented on #1411
Interesting, even with the fix, it'll still behave odd an app resume.

[2017-08-24 23:33] stevokk opened #1426 "DropShadowPanel doesn't handle Border with a corner radius"
If a DropShadowPanel wraps a Border with a corner radius it displays as the default shape of a rectangle.

I'm new to the UWP XAML world but reading various documentation led me to the understand that we need to add more cases for each type of UIElement that could possibly be wrapped in a DropShadowPanel.

Is the thinking right that [this if/else block](https://github.com/Microsoft/UWPCommunityToo

[2017-08-24 23:54] #1422 closed

[2017-08-24 23:54] #1423 closed

[2017-08-25 06:14] #1352 closed

[2017-08-25 08:16] Odonno opened #1430 "Improvements on in-app notifications"
* [x] Add events Opened/Opening/Closed/Closing
    * [x] Add details on EventArgs (user action or timeout)
* [x] ~~Show/Hide from XAML~~
* [x] Ability to change animation/transition - Change animation type to fly-in (and/or allow custom animations, I could see Fade being wanted)
* [x] Ability to control animation speed
* [x] Export styles so devs don't have to copy them in their project
    * [x]

[2017-08-25 08:17] Odonno commented on #1415
@bkaankose So, using a unique id + CancellationToken?

[2017-08-25 08:33] bkaankose commented on #1415
@Odonno  Depends on the effort. CancellationToken is enough, but making design changes in a good way is nice. It's just a decision making :)

[2017-08-25 08:35] bkaankose commented on #1415
I also think that this is a must have control in most apps and very useful one. I can send a PR soon if no one is interesting or don't have time for #1430

[2017-08-25 08:39] Odonno commented on #1415
@bkaankose I can do it this evening. But if you have time, you can start it now. It's up to you.

[2017-08-25 08:41] bkaankose commented on #1415
@Odonno take it then. I won't have the time until Saturday :/

[2017-08-25 09:29] mdtauk commented on #1430
With the animation to display the in app "toast" - could you not work with Windows.UI.Xaml.Media.Animation.Transition so the user can change the animation using the existing system transitions?

[2017-08-25 12:09] Odonno commented on #1430
@mdtauk Good idea. But what is the default transition I should use? PopupTransition (https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.media.animation.popupthemetransition) or EdgeUITransition (https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.media.animation.edgeuithemetransition)?

[2017-08-25 13:39] WilliamABradley commented on #1399
@nmetulev @michael-hawker Perhaps allowing Support for more Editors, such as Monaco, TextBox for the Sample App?
This could be used to add things such as Comment/UnComment Button, etc.

@skendrot This rambling is somewhat what you were talking about in the original PR.

It would require a considerable re-write, perhaps making the `Editor` property an Object, and then determining if it is a RichEdi

[2017-08-25 14:38] cbarkerms opened #1432 "Twitter Service: No easy way to provide fully custom queries"

[2017-08-25 16:17] nmetulev commented on #1416
This is an platform API, I recommend creating a [UserVoice on the UWP page](https://wpdev.uservoice.com/forums/110705-universal-windows-platform)

[2017-08-25 16:17] #1416 closed

[2017-08-25 17:16] #1409 closed

[2017-08-25 17:51] michael-hawker commented on #1399
Yeah, that's an interesting idea, probably a couple of ways to do it.  If the Editor was just an element, you could push more of the interaction with that to the formatter or a separate helper, so you'd have different extension classes per object you want to support without having to require the object to inherit from a specific interface.

[2017-08-25 17:52] michael-hawker commented on #1399
@WilliamABradley forgot about it yesterday, but did notice I was able to get into a state in the Sample App where I switched from RichText to MarkDown and it left some of the RichText formatted as bold/italic in the RTB.  I'll see if I can get a solid repro and open an issue.  Probably not a common scenario.

[2017-08-25 19:17] Vijay-Nirmal commented on #1430
A property to set the Top/Bottom spacing to show the notification little below the Top/Bottom line. The animation should look like the content is coming from Top/Bottom Line.

![applicationframehost_2017-08-26_00-41-05](https://user-images.githubusercontent.com/24755596/29728886-77fd175e-89f7-11e7-89ea-5cd975caed8a.png)

[2017-08-25 19:22] michael-hawker commented on #1430
@Vijay-Nirmal it could just be a singular margin property combined with a positional element like the [toastr](http://codeseven.github.io/toastr/demo.html) option.

[2017-08-25 19:48] nmetulev commented on #1430
You could already add margin to it, not sure if a new property is needed

[2017-08-25 19:57] michael-hawker commented on #1430
@nmetulev we should add a margin in the sample app example ;).  Luckily I can test it out quick for myself now, it worked great!

I guess @Vijay-Nirmal's point though was to allow for an animation as a fly-in vs. the stretch we have now.

[2017-08-25 20:15] Vijay-Nirmal commented on #1430
@nmetulev With stretch animation, the notification doesn't look like notification(See the gif below). @michael-hawker got my point, the animation should be fly-in.
![gif](https://user-images.githubusercontent.com/24755596/29730954-1e14f7da-8a00-11e7-8425-8293833e669f.gif)

[2017-08-25 20:19] nmetulev commented on #1430
Got it, that makes more sense

[2017-08-25 20:32] mdtauk commented on #1430
@Odonno  I don't know what the default should be, if the intention is for the notification to hug the edge UI, then Edge Transition makes sense, but it depends on the recommended placement is for the control, and what is flexible with distance from a known edge etc.

[2017-08-25 20:41] Odonno commented on #1430
@Vijay-Nirmal @michael-hawker Seems like you are refering to the animation. I think that's close to what @mdtauk is suggesting with animation/transition by giving devs the ability to change it.

[2017-08-25 20:53] nmetulev commented on #1430
Right now, you can change the animation by re-templating:

https://1drv.ms/v/s!AjZLNGpIZBbgr69nAMdDAruOySR-NA

[2017-08-25 20:55] michael-hawker commented on #1430
@nmetulev maybe it'd be good to show that in one of the example templates?

[2017-08-25 20:57] nmetulev commented on #1430
[I created a gist for reference](https://gist.github.com/nmetulev/71a4e50d038bdda523e15624f4b68b55)

[2017-08-25 20:58] #1415 closed

[2017-08-25 21:17] nmetulev opened #1438 "[Sample App] Add ability to load multiple independent samples per feature"
Add the ability to

- [x] remove samples.json, each sample directory has its own `definition.json` description which is searched for and loaded describing each sample contained within.  It contains name, category, description, platform restrictions, and icon information.
- [x] all code examples get renamed to `.code`
- [x] a sample directory can contain multiple .bind XAML examples.
- [x] each .bi

[2017-08-26 01:03] nmetulev commented on #1419
PR merged

[2017-08-26 01:03] #1419 closed

[2017-08-26 01:04] nmetulev commented on #1303
This is resolved in new sample app

[2017-08-26 01:04] #1303 closed

[2017-08-26 07:45] mcosmin222 commented on #1007
I have the same problem.

[2017-08-26 10:40] PedroLamas commented on #1400
I personally have no problems with that, and I agree that at this stage Cake seems to be more "future proof". @onovotny what are your thoughts?

[2017-08-26 10:42] WilliamABradley commented on #1400
@PedroLamas @nmetulev Checkout #1440

[2017-08-26 20:22] onovotny commented on #1400
My general view on both PSake and Cake are neutral/negative. It's "nothing personal," but I have yet to be convinced of the value an extra layer adds over a simple build script. Both PSake and Cake come with a framework and adds quite a bit of complexity. That's fine if there's a benefit, but that's what I have yet to see.

I'm not the biggest PS person either, but when not abused, it seems pretty

[2017-08-26 21:37] nmetulev commented on #1400
Vaniala script seems simpler and we don't have to depend on a third party tool. On the other hand, I'm sure it would require a bit more work to get the same flexibility we have now. Either way, I'm not an expert in this area, and I'm ok with any approach as long as it is maintainable. :)

[2017-08-26 22:10] WilliamABradley commented on #1400
If you look at the new build script, it is a lot more readable, therefore, I think it is more maintainable. Also it is more extensible, as Cake has a lot of tools and extensions.

It also keeps things up to date easier, such as fetching the latest NuGet on Demand, simple support for Dotnet CLI, Packing and building. You also don't require a copy of the tool in Git, as it fetches itself.
Also it su

[2017-08-26 22:16] WilliamABradley commented on #1400
@nmetulev @onovotny
I think it is more or less finished:
https://github.com/WilliamABradley/UWPCommunityToolkit/blob/7f27a14fd862d392b989ff346b5e35c3d2537457/build/build.cake

One of the benefits is method support, so for the file header verification and replacement, and package creation I could combine the code, to remove duplication.

[2017-08-26 22:29] nmetulev commented on #1400
Thanks for doing all this work, I'm looking forward to reviewing it. Will come back to it after 2.0 ships.

[2017-08-26 23:56] onovotny commented on #1397
One of the outputs is a WinRT, and Native version. Is there any reason to keep the WinMD flavor around? What's in the "native" one?

[2017-08-27 03:55] onovotny commented on #1397
Nevermind on the WinMD; was able to easily build it "the new way" it as well.

[2017-08-27 11:56] Odonno commented on #1430
I tried using `PopInThemeAnimation` and `EdgeUIThemeAnimation` but it did not work as expected. I tried @nmetulev example and it works like a charm. I will create Properties for Offset and Duration of the animation based on this method.

[2017-08-28 07:28] Weasy666 opened #1445 "Sample App crashes"
The sample app 2.0.0.0 crashes when navigating to the InAppNotification page/view and when navigating to the ListViewBase page/view.

[2017-08-28 07:49] Odonno commented on #1445
@Weasy666 Indeed, the InAppNotification page crashes the app. Seems like it only happens on release mode.

cc. @nmetulev

[2017-08-28 08:01] TheSETJ commented on #1445
Also, it crashes in TextToolbar.

[2017-08-28 09:07] Odonno commented on #1445
All pages crashes when I'm offline. I think it is linked to the offline docs feature.

[2017-08-28 09:53] gillesbergerp opened #1446 "ScrollHeader inside grouped ListView"
When using `ScrollHeader` with `Mode="Sticky"` inside a ListView with grouped items, the groups' headers are displayed in front of the header.

### Example

[code]

Where `cvs` is a `CollectionViewSource` with `IsSourceGrouped` set to `True`.

### Result

![unbenannt](https://user-images.githubusercontent.com/13463396/29768608-33432c92-8be7-11e7-8370-b9ab956af744.PNG)

[2017-08-28 15:19] Mike134 commented on #1445
UWP Community Toolkit Sample app 2.0.0 will not open at all on Win Phone 10.0.15245.0.

[2017-08-28 15:49] nmetulev commented on #1445
Thanks for reporting this. Indeed, it looks like the issue is due to the offline docs. Investigating the fix now. In the meantime, will republish the app without the offline docs.

[2017-08-28 16:03] anbare commented on #1397
The Native version is for C++ UWP support. As long as the project supports being used by UWP C#, C++, and JavaScript (and non-UWP C# projects), I'm all for this!
________________________________
From: Oren Novotny <notifications@github.com>
Sent: Saturday, August 26, 2017 8:55:26 PM
To: Microsoft/UWPCommunityToolkit
Cc: Andrew Bares; Mention
Subject: Re: [Microsoft/UWPCommunityToolkit] Move Notifi

[2017-08-28 17:08] nmetulev commented on #1445
Update: I found the issue with the offline docs - it was in the caching code. If the app can't access the docs online, it will try to load cached docs before loading the offline docs. Accessing the cache was throwing an exception if no file was cached. This code only runs in release mode, and I missed to test it.

I already have the fix and doing some final testing. Will submit the update soon and

[2017-08-28 21:09] #1445 closed

[2017-08-28 21:26] nmetulev commented on #1445
The app has started the publishing process and I was able to download the update (2.0.1). Please update and let us know how it works.

[2017-08-29 00:59] Mike134 commented on #1445
2.0.1 is now opening on the phone. Have not found anything that causes an unexpected app exit. Thanks - good work.

[2017-08-29 04:14] TheSETJ commented on #1445
Now app works well, no crash. Thanks.

[2017-08-29 08:19] CabuxaMapache commented on #372
Hi guys, I'm trying to implement a slide gesture to open/close the hamburguer menu, but I'm having trouble with the 1.5.1 version of the control. With version 1.4.1 I close the menu thata way:
`
            var paneGrid = HamburgerMenu.FindDescendantByName("PaneGrid") as Grid;
            paneGrid.ManipulationMode = ManipulationModes.TranslateX;
            paneGrid.ManipulationCompleted += OnPane

[2017-08-29 17:03] Vijay-Nirmal opened #1449 "A button to bring back the default template in TextToolbar Sample Page"
After modifying the TextToolbar, there is no way to bring back the default template in TextToolbar Sample Page(except re-navigating to TextToolbar page). I think It would be nice to have a dedicated button for it.

![gif](https://user-images.githubusercontent.com/24755596/29833716-fbc0cb02-8d09-11e7-9c67-62da14a451d0.gif)

[2017-08-29 17:07] Vijay-Nirmal commented on #1449
ping @WilliamABradley

[2017-08-29 18:20] nmetulev commented on #1446
ping @pdehne

[2017-08-29 20:54] Weasy666 commented on #1445
Yes, works like a charm 😄

[2017-08-30 02:26] nmetulev opened #1451 "Add missing xml comments and fix style analyzer warnings"
we discovered from #1443 that we have many missing xml comments that need to be added and several style issues that should be resolved.

[2017-08-30 02:48] #1397 closed

[2017-08-30 03:31] WilliamABradley commented on #1449
@nmetulev Is there a way to make the Property Bindings Two-Way?
If `Format="@[Format:Enum:Format.RichText]"` could be updated when the Format was set to Custom from CodeBehind, you could switch back to one of the Default Converters using the ComboBox.

[2017-08-30 03:33] nmetulev commented on #1449
Yes, adding @ at the end should make the binding two way. Ex: `Format="@[Format:Enum:Format.RichText]@"`

[2017-08-30 18:05] rezta opened #1455 "Control > Menu > StackPanel: Misspelling of 'shift' in the 'Exit solution' shortcut text."
<TextBlock Text="Exit solution shortcut: Ctrl+Shit+E" />

[2017-08-30 21:25] nmetulev commented on #1295
I created a quick tool that helped me generate the release notes this time around and seemed to do a good job: https://github.com/nmetulev/ReleaseNotesGenerator

[2017-08-30 21:25] #1295 closed

[2017-08-30 21:34] nmetulev commented on #1275
ping @IbraheemOsama

[2017-08-30 21:36] nmetulev commented on #1218
Moving this to 2.1. Should we simply add the default brushes?

[2017-08-30 21:38] nmetulev commented on #1265
ping @IbraheemOsama

[2017-08-30 23:28] nmetulev commented on #1426
Hey @stevokk, for a control to support arbitrary drop shadow, it must support the [GetAlphaMask method](https://docs.microsoft.com/en-us/windows/uwp/composition/using-the-visual-layer-with-xaml#getalphamask-methods). Currently, only TextBlock, Image and Shape support this method. There are tricks to enable this on any controls (take a look at this [blog post](https://mtaulty.com/2016/08/10/windows

[2017-08-30 23:28] #1426 closed

[2017-08-30 23:34] aspnerd opened #1456 "Upgrade Failed All Existing Code"
I updated to 2.0.0 and all of my code around the network helper for connections went red and failed to build. Clearing the app and rebuilding didn't work. I had to downgrade to 1.5.1 to get it to work again.

I'm using Visual Studio 15.3.3 Enterprise Edition on a UWP app using creators edition.

[2017-08-30 23:38] nmetulev commented on #1456
Hey @aspnerd, the network helper has moved to the Microsoft.Toolkit.Uwp.Connectivity package. Apologies for the troubles

[2017-08-31 00:20] IbraheemOsama commented on #1275
it's a bug, I need to work on

[2017-08-31 00:22] IbraheemOsama commented on #1265
the user can just click Alt to know :)

[2017-08-31 03:21] nmetulev commented on #1265
I believe @skendrot is saying the tooltips should not show up when the user hovers on the menuitems, but only when Alt is pressed.

[2017-08-31 04:39] IbraheemOsama commented on #1265
Oops, wrong interpretation :(

[2017-08-31 07:19] wstaelens opened #1460 "Translate the UWP sample app using Microsoft MAT + share MAT info"
Add Microsoft MAT (Multilingual App Toolkit) to the sample app and allow us to contribute/share/translate the xlf files.

For MAT see:

- https://developer.microsoft.com/en-us/windows/develop/multilingual-app-toolkit
- https://blogs.msdn.microsoft.com/matdev/

MAT feedback:
- https://multilingualapptoolkit.uservoice.com/

This is useful information for developers who want to translate their apps.

[2017-08-31 07:52] Odonno commented on #1295
Nice.

[2017-08-31 11:52] Jebarson opened #1462 "Loop for Carousel"
Hey guys, Is any work being done in getting loop functionality for Carousel? If yes, any ETA?

[2017-08-31 12:32] Odonno commented on #1460
@wstaelens That's a huge feature. The big part of this would be to translate documentation hosted on GitHub.

[2017-08-31 15:39] nmetulev commented on #1462
Great idea, ping @mimetis

[2017-08-31 15:41] nmetulev commented on #1460
That's a great idea. @wstaelens, would you be interested in submitting a PR?

[2017-08-31 16:03] nmetulev commented on #1455
Update 2.0.2 is live with this fix

[2017-08-31 16:03] #1455 closed

[2017-08-31 16:27] nmetulev commented on #1403
Closing issue, feel free to reopen if you can reproduce

[2017-08-31 16:27] #1403 closed

[2017-08-31 16:28] nmetulev commented on #1362
Closing this issue, feel free to reopen once you have a repro.

[2017-08-31 16:28] #1362 closed

[2017-08-31 16:30] nmetulev commented on #1357
Closing issue, feel free to reopen if issue continues and there is a repro we can use

[2017-08-31 16:30] #1357 closed

[2017-08-31 16:32] nmetulev commented on #1331
Closing issue. Feel free to reopen with a repro.

[2017-08-31 16:32] #1331 closed

[2017-08-31 16:43] #1242 closed

[2017-08-31 16:43] nmetulev commented on #988
Closing per closed PR

[2017-08-31 16:43] #988 closed

[2017-08-31 20:53] nmetulev commented on #1456
Closing issue, feel free to reopen if you are still having issues.

[2017-08-31 20:53] #1456 closed

[2017-08-31 22:08] dotMorten opened #1464 "Add automatic toolbox integration into Visual Studio"
The Controls nuget package needs the `tools\VisualStudioToolsManifest.xml` file with the following contents:

[code]

(Note: We should probably exclude the deprecated controls #1465)

![untitled project](https://user-images.githubusercontent.com/1378165/29947759-339a1392-8e60-11e7-9702-8e4ebe8d0a4b.gif)

[2017-08-31 22:33] nmetulev opened #1465 "Deprecate controls available in Fall Creators Update"
Following Controls and APIs will be deprecated in 2.1:

- [x] HamburgerMenu
- [x] SlidableListItem
- [x] Paralax animation
- [x] RoundImageEx

[2017-08-31 23:42] nmetulev opened #1467 "Stale issue bot"
There is a need for a bot to keep our issues active. If there is one already built, we should use it.

What I'd like to see:
* the bot should monitor issues and ping the conversation
* if the issue has gone stale without response from the author in a certain time period, the bot should close the issue

Open to suggestions and contributions.

[2017-09-01 00:02] dotMorten commented on #1421
I'm curious what you mean there specifically. The type for those properties are 'TimeSpan'. You specify the units when you create that type. Ie `TimeSpan.FromSeconds(10)`

[2017-09-01 00:27] dotMorten commented on #1451
Several warnings are created by auto-generated code. If you put `<auto-generated>` in the comment header, the compiler will ignore warnings in those files. Example of a typical header:

[code]

https://github.com/StyleCop/StyleCop/blob/3f701f549b5b2cd6dd8dda19866d083022b8da97/Project/Src/StyleCop.CSharp/FileHeader.cs#L104

[2017-09-01 03:07] nmetulev commented on #902
Similar brush will be available in the Fall Creators Update.

[2017-09-01 03:07] #902 closed

[2017-09-01 03:10] nmetulev commented on #1141
This is not something we can add in the toolkit, so I will be closing the issue

[2017-09-01 03:10] #1141 closed

[2017-09-01 05:10] nmetulev commented on #1309
Hey @Vijay-Nirmal, what benefits would this helper provide over the [BackgroundDownloader](https://docs.microsoft.com/en-us/uwp/api/Windows.Networking.BackgroundTransfer.BackgroundDownloader)?

[2017-09-01 05:43] Vijay-Nirmal commented on #1462
Also, It would be nice to have a forward and backward button

[2017-09-01 06:09] wstaelens commented on #1460
sorry, but I currently have no time for it. Hope other can help.
It is just because MAT is not that known yet, not even in WPF, WinForms, ASP.NET etc...
If something is missing in MAT, make sure to add it to the uservoice (hopefully MAT will be added to GIT also by Microsoft).

[2017-09-01 07:40] Vijay-Nirmal commented on #1309
@nmetulev Does `BackgroundDownloader` have are the features I mentioned in my post?

[2017-09-01 08:39] Odonno commented on #1467
Few suggestions :

* Should detect if no response from the community after a period of time
* Should send a reminder after a period of time, and close the issue after 2 or 3 successive alerts
* Should send a message of linked non-closed issues when a PR is merged (that one is for me :) )

[2017-09-01 08:39] Odonno commented on #1467
@nmetulev Do we have some solutions to try? Or should we create it from scratch?

[2017-09-01 12:01] Vijay-Nirmal opened #1469 "List of issues in TextToolbar"
*Note: All the below issues occur in MarkDown format only*

1. Quote, Bullers and Numbering deletes the words when applying to single line

    ![1](https://user-images.githubusercontent.com/24755596/29968087-ae5c81d2-8f37-11e7-9d75-924111027d0b.gif)

2. Bullers and Numbering creates a new line with Bullers and Numbering when the current line is empty.

    ![2](https://user-images.githubuserconte

[2017-09-01 12:01] Vijay-Nirmal commented on #1469
ping @WilliamABradley

[2017-09-01 12:41] Odonno opened #1470 "BottomUpListView"
Based on a previous commit, I wanted to explain the need for a Chat Control. The main impediments when creating a Chat-like control using a ListView is that we don't have a native way to handle incrementalLoading at the top of list.

This is not a tremendous effort to create a `BottomUpListView` (the name can be improved) because there is already an example we can reuse in UWP samples https://gith

[2017-09-01 13:31] Odonno commented on #1467
I found this to check issues/PRs. https://github.com/fat/haunt

[2017-09-01 19:24] nmetulev commented on #1309
So basically a wrapper around [DownloadOperation](https://docs.microsoft.com/en-us/uwp/api/windows.networking.backgroundtransfer.downloadoperation)?

[2017-09-01 19:50] nmetulev commented on #1467
I like it, looks like it will cover what we need, we can probably host it on Azure. Do you want to give it a try?

[2017-09-01 21:06] Odonno commented on #1467
Yes, I will try it on a test repo to see how it works and I'll give you feedback.

[2017-09-01 22:06] Code-ScottLe commented on #1470
Why don't we combine this into the `PullToRefreshListView` as an additional feature? And then rename it to be something like `ListViewEx` (following the `ImageEx` control).

[2017-09-02 03:34] Vijay-Nirmal commented on #1309
@nmetulev I think so. This helper will help to implement all the basic functions (Like Start, Stop, Pause, get speed, setting the speed limit, downloading multiple files, name and size of the downloading item) very easily. I don't think it will be a duplicate of DownloadOperation

[2017-09-02 05:08] Vijay-Nirmal commented on #1465
Fall Creators Update will be released on October 17 and v2.1 will be released on November 22. There is only one month gap. The update will take more than 3 months to reach all users. So if we remove these control in one month then many users won't have new controls(like NavigationView) and also the toolkit controls(like HamburgerMenu). My opinion is to do it for v2.2 instead of v2.1

There is no d

[2017-09-02 09:45] Odonno commented on #1470
@Code-ScottLe We can totally do that. But we need a way to activate either one or all of the features added to `ListViewEx`.

[2017-09-02 09:57] Odonno commented on #1465
Right, the controls will be deprecated when FCU will be released but they should only be removed when FCU and the following version of W10 are released.

@Vijay-Nirmal Indeed, the RefreshContainer has no docs provided but it seems to be included in the Windows Insiders SDK (https://blogs.windows.com/buildingapps/2017/05/11/windows-10-sdk-preview-build-16190-released/).

[2017-09-02 10:05] Odonno commented on #1309
@Vijay-Nirmal Seems interesting if you can also create a page example that can easily be replicated in any app.

[2017-09-02 11:47] Vijay-Nirmal opened #1471 "Feature request: LoopItemsPanel"
This control helps dev to easy achieve looping Items in ItemsControl.

[code]

There is a [Microsoft blog post](https://blogs.msdn.microsoft.com/mim/2013/04/16/winrt-create-a-custom-itemspanel-for-an-itemscontrol/) to create this Panel.

![0207 image_75d6141a](https://user-images.githubusercontent.com/24755596/29995133-e3fe57a2-8fff-11e7-8512-5a8c25827c6a.png)

I found a similar [UserVoice](https:

[2017-09-03 00:30] mdtauk commented on #1471
Is this not a Carousel that loops?  Why not add a loop option to that control?

[2017-09-03 04:36] Vijay-Nirmal commented on #1471
@mdtauk Because looping Carousel will not cover all use cases of looping items. Ex: Carousel always has selected item at centre. In short, Carousel will not cover all the use case of ListViewBase(ListView, GridView, etc). Also, this panel can be easily reused in future controls like TrainView #1209, where it makes lot of sence to have looping items.

[2017-09-03 05:04] Vijay-Nirmal commented on #1309
@Odonno I didn't get you but sounds good to me :) What do you mean by "page example"?

[2017-09-03 05:18] Vijay-Nirmal commented on #1209
Ideas for this control
1. Next and Previous Buttons
2. Vertical and Horizontal mode
3. Single line and multiple lines mode
4. Option to set ItemsPanel. so that we can use LoopItemsPanel #1471
5. Sticky mode (bool) - If this mode is on then after scrolling the first item should be visible completely. In other words, the first item should not be clipped by the border of the control.

[2017-09-03 07:41] mdtauk commented on #1471
Hmm.  From a design point of view, how do you indicate when a loop starts.  A scrollbar indicator goes from one point to another.  How does that work when there is no finite range?  How does it work with mouse and keyboard control?

There is a lot to consider, and then finding use-cases that justify this kind of control needs to be collated.  To see if it is worth the investment of time that would

[2017-09-03 07:53] Vijay-Nirmal commented on #1471
@mdtauk I get this idea from [Microsoft blog post](https://blogs.msdn.microsoft.com/mim/2013/04/16/winrt-create-a-custom-itemspanel-for-an-itemscontrol/). They have explained it with a sample code.

[2017-09-03 10:32] DkmS1953 commented on #1460
Для небольших приложений MAT будет как слон в посудной лавке.
Гораздо проще сделать английский ресурс со строками и комментариями, а добровольцы перевели бы на другие языки.
Я мог бы взяться за перевод на русский.

For small applications, MAT will be like an elephant in a china shop. It is much easier to make an English resource with strings and comments, and volunteers would translate into other

[2017-09-03 10:42] DkmS1953 opened #1472 "Sample APP does not run under Windows 10 AU"
The app is installed from the store, but the launch is limited to a demonstration of splash-screen.
😂

[2017-09-03 11:17] Odonno commented on #1309
@Vijay-Nirmal A page with some UI controls demonstrating the download of a file.

[2017-09-03 13:22] Vijay-Nirmal commented on #1309
@Odonno

That is a good point. I love to see that. If we do this then we should change the name of the helper :)

[2017-09-03 14:31] Vijay-Nirmal commented on #1309
From the design point of view. How can we make it easy to create a ListView like Windows Store?

I have created a ListView. What will be the best way to set the ItemsSource?

[code]

[2017-09-03 15:14] hermitdave commented on #1309
@Vijay-Nirmal uploading is a very different ball game

[2017-09-03 15:21] Vijay-Nirmal commented on #1309
@hermitdave But it will also have the sample controls like start, pause, cancel, ProgressBar

[2017-09-03 16:11] Odonno commented on #1309
I am not sure if it's the best solution but we can create a DownloadItem or DownloadItemNotification class which contains a boolean (IsRunning) and an integer value (Percentage, from 0 to 100). These properties should be updated using INotifyPropertyChanged.

Of course, you can add Speed as a third notifiable property.

[2017-09-03 17:33] Vijay-Nirmal commented on #1309
@Odonno
What would be the best solution to start, pause, stop, cancel?

[2017-09-03 17:46] Odonno commented on #1309
@Vijay-Nirmal Not sure what you mean by "direct", but you can simply use a Command or use x:Bind to stop the Download.

[2017-09-03 18:13] hermitdave commented on #1335
@Odonno While it might be significant for those that need it, I agree with @skendrot it's a very specialised want / need. Not sure toolkit is the right place

[2017-09-03 18:15] hermitdave commented on #1470
I think it's best to leave this out of toolkit. PullToRefresh wo be out soon, this one is too specialized

[2017-09-03 20:53] Pinox commented on #1335
The consumer market probably won't need this, but go and look at most web based admin theme templates out there. Most of them include a chat view. So why would most theme templates include a chat view when nobody needs them ?

Following your logic that all controls in UWP must have "mass appeal" I feel IMHO is slightly flawed. Should the toolkit not cater for all segments including "niche" sometim

[2017-09-03 22:57] hermitdave commented on #1335
@Pinox, most people go to web / online support pages when needing to contact customer services. Maybe I don't use enough apps but can you look at the top 50 apps (desktop and mobile) and tell me how many super chat with customer services?

If you use Android or iOS, the same would be very helpful.

We could create all possible controls.. However there has to be an ask for it, otherwise toolkit wil

[2017-09-04 06:13] wstaelens commented on #1460
@DkmS1953 well have you ever used MAT?
Even for small applications it proves very very useful!

- allows you to easily add new languages

- allows you to automatically (machine) translate a new language, which gives you or the translator a head start (just need to correct or approve in many cases).

- you can lock-down translations so they can't be changed anymore

- you can recycle translations f

[2017-09-04 06:41] Pinox commented on #1335
@hermitdave That is exactly my point. Don't look at the top 50 themes but at the top "admin" themes , most of them includes User Profile  , Settings , Messages , Notification.

[2017-09-04 07:11] Vijay-Nirmal commented on #1470
If it is possible we can create a helper instead of control like IncrementalLoadingCollection at top

[2017-09-04 12:32] Syn-McJ commented on #1472
Can confirm, I updated to 2.0 and my app doesn't run anymore on 14393 or 10586.

[2017-09-04 12:33] DkmS1953 commented on #1460
Yes, I'm familiar with the package description and even tried to apply it
to one of my projects.
The translations into the three languages were actually ready, but the
package did not enjoy it, and he threw out two of my translations, leaving
only the English version.Actually, that's why I hated the package.
It's probably possible to adapt to it over time.😉

Wbr, Dyakov K.M.

2017-09-04 9:14 GMT+0

[2017-09-04 12:37] Odonno commented on #1472
Have you updated to 2.0.1? The 2.0 has a bug that crash the app at the start.

[2017-09-04 12:39] wstaelens commented on #1460
@DkmS1953 well for projects pre-mat enabled have a look here: https://blogs.msdn.microsoft.com/matdev/2016/04/22/published-resxtoxliff-converter-project-on-github/

This is currently one of the biggest limitations to add MAT to existing projects that have translations already that they are overridden, but that resxtoxliff tool helps with it.
for new projects or projects without any translations ye

[2017-09-04 12:40] Syn-McJ commented on #1472
I don't see 2.0.1 in nuget feed yet. I'll try it once it's available, thanks.

[2017-09-04 13:01] Jebarson commented on #1462
@mimetis and @nmetulev , is this coming anytime soon? If not probably I would go ahead and implement

[2017-09-04 16:27] COM8 opened #1473 "MasterDetailsView MasterCommandBar"
Is there any example or documentation on how to use the MasterCommandBar from a MasterDetailsView available?

[2017-09-04 19:09] nmetulev commented on #1465
@Vijay-Nirmal, agree with @Odonno, the controls will be marked deprecated, but won't be removed until a future release when it makes sense to release.

[2017-09-04 19:25] nmetulev commented on #1470
As much as this would be a helpful control to build:
1. I agree we need to make sure that there is a need from the community and we focus our efforts on APIs and control that do have that demand. I'm not convinced that there is a large demand for chat control; for those developers that need it, there is already a helpful copy and paste sample linked above.
2. I agree we should not be creating yet

[2017-09-04 19:33] nmetulev commented on #1472
I think there are two issues here:

I believe @DkmS1953 is refereeing to the sample app in the store not working on 14393. I'm on holiday for the next two weeks and don't have access to a 14393 machine, @DkmS1953, could you run the app from source and see if you can repro the issue that way, might help us figure out what is failing? I did test the app on 14393 before the update was shipped.

@Syn-

[2017-09-04 19:34] nmetulev commented on #1462
@Jebarson, feel free to submit a PR to add this, that would be amazing. No work is currently being done for this.

[2017-09-04 21:10] DkmS1953 commented on #1472
I didn't get it. Visual Studio 2017 is installed on build 16281, and the build 14393 in a virtual machine.
Studio cannot deploy the application on the remote computer:
DEP2100: Unable to copy the file "...\uwpcommunitytoolkit-2.0\docs\animations\blur.md" to the target computer "W10AU". [0x80070003] The system cannot find the specified path. (Exception from HRESULT: 0x80070003)

[2017-09-04 21:16] DkmS1953 commented on #1472
By the way, when I built an application, I had to replace references to some projects with references to the corresponding NuGet packets. The project build required .net 5.0, which I do not have.

[2017-09-04 21:21] DkmS1953 commented on #1472
@Odonno The store installs the version of 2.0.2

[2017-09-04 22:40] johnddx opened #1474 "Request: Add an IsCloseable property to BladeViewItem to hide/disable the Close button"
I have an application with a static set of child views on a page, and I'd love to present them using a BladeView to take advantage of horizontally shared space and collapsibility.  However, the idea of allowing the user to dynamically add/delete BladeView items is incompatible with the scenario of a static set of blades, so I can't use BladeView in its current form.

[2017-09-05 06:57] Odonno commented on #1472
@DkmS1953 Yes, I have the same version (2.0.2). Did it works when you installed it from the store?

[2017-09-05 06:57] xxMUROxx commented on #924
It would be cool if the Header is not limited to `string` but to `object` and optionally has a `HeaderTemplate`

[2017-09-05 09:11] Syn-McJ opened #1476 "DropShadowPanel causes app to crash on emulator below CU on 2.0 version of toolkit"
I updated Microsoft.Toolkit.Uwp.UI.Controls to version 2.0 and now my app is crashing on mobile emulator builds 14393 and 10586 with AccessViolationException. Downgrading to 1.x.x resolves this problem. Unfortunately I don't have a mobile device with those builds to check, but on PC with AU it seems to be working fine.

Repo to reproduce the problem: https://github.com/Syn-McJ/App2

[2017-09-05 09:13] Syn-McJ commented on #1472
@nmetulev yes, sorry for commenting with unrelated problem. I can remove my comments if necessary.

I created new issue with repo to reproduce this problem: https://github.com/Microsoft/UWPCommunityToolkit/issues/1476

[2017-09-05 09:17] DkmS1953 commented on #1472
@Odonno it works on Windows 10 CU+ (last insiders builds on desktop and Mobile).
On Windows AU (14393.1593, 14393.1670) does not work on a tablet or in a virtual machine.

[2017-09-05 13:07] ArchieCoder opened #1477 "With 2.0, it is impossible to sideload the app"
Hello,

I updated Microsoft.Toolkit.Uwp, Microsoft.Toolkit.Uwp.Notifications and Microsoft.Toolkit.Uwp.UI.Controls to 2.0 and when I create a package in release (.NET toolchain enabled or disabled), I cannot sideload the app even with the Powershell script. If I rollback to 1.5.1, it works. My app targets Windows 10 Anniversary edition.

Windows cannot install package [package_hidden_for_git] beca

[2017-09-05 19:42] Raamakrishnan commented on #1430
@Vijay-Nirmal The original implementation that you are referring to was built using `PopupThemeTransition` (cc: @Odonno) with vertical offset. It had a separate grid used as a container to show multiple notifications. As each notification was added, the Transitions were shown.
I think In-App notifications should evolve in the container based approach to better support multiple notifications.

[2017-09-05 20:16] totht91 commented on #1430
another idea: multiple notifications stacks like in visual studio code

[2017-09-06 00:40] miker1423 commented on #1079
Hello! I made the change to PullToRefreshListView of the MasterDetaillsView, but I can't bind an action to the refresh command, how can I bind it?

[2017-09-06 06:50] Odonno commented on #1430
@Raamakrishnan @totht91 Good idea. I think it should be an option for the Host container because Microsoft Edge allow multiple notifications (they are on top of each other, like playing with ZIndex) and VSCode shows them as a StackPanel.

[2017-09-06 07:27] Raamakrishnan commented on #1430
@Odonno Yes, that would be the best. Along with options to control how a new notification behaves with an existing one: replace, stack above or queue behind.

[2017-09-06 14:29] ArchieCoder opened #1479 "With 2.0, targetting Windows 10 Anniversary edition generates errors in Release"
Hi,

1- Create New Project and target version to Win10 Anniversary and set the Min version to Anniversary
2- Add Nuget Microsoft.Toolkit.Uwp and Microsoft.Toolkit.Uwp.UI.Controls
3- Compile in Release

You will get:

1>C:\Program Files (x86)\MSBuild\15.0\.Net\.NetNative\15.0.24211\x86\ilc\IlcInternals.targets(936,5): warning : ILTransform_0005: Type 'Windows.UI.Text.TextDecorations' was not includ

[2017-09-06 15:02] crutkas commented on #1479
@ArchieCoder what is your UWP nuget package?

[2017-09-06 15:02] ArchieCoder commented on #1479
2- Add Nuget Microsoft.Toolkit.Uwp and Microsoft.Toolkit.Uwp.UI.Controls

[2017-09-06 15:06] crutkas commented on #1479
@ArchieCoder i'm asking what is your microsoft uwp nuget package version.  we had an issue that fixed itself depending on if you had the most recent.

Namely, UWP Nuget 5.3.4 or better.  I think 5.4 is out.

https://github.com/Microsoft/WindowsTemplateStudio/issues/907

[2017-09-06 15:12] ArchieCoder commented on #1479
Apologized, I didn't understand your question first.

You were right, I was on 5.2.3 (default from VS).

I updated to latest 5.4.0 and it works!

[2017-09-06 15:15] crutkas commented on #1479
WTS has a similar issue right now for this exact issue.  We are deferring to update that package due to on clean boxes, it adds minutes onto the initial package creation time since you have to download it.  Hoping VS 15.4 update will have a newer version that ships by default.

[2017-09-06 19:56] michael-hawker commented on #1474
@johnddx is the `TitleBarVisibility="Collapsed"` not enough?  You could re-add your own title text to the top of the contents if you still needed text there.

That or you can re-template the bladeitem for the ones you want to remove the close button.  You can see the default template [here](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/BladeView/Bla

[2017-09-06 20:04] michael-hawker commented on #1473
@COM8 copy this into the new sample app under the MasterDetailsView sample definition:

[code]

You'll see it add bars to the bottom of the views:

![image](https://user-images.githubusercontent.com/24302614/30131988-ac130dd6-9303-11e7-8249-d8a17f4bbd49.png)

General CommandBar reference is [here](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.CommandBar).

[2017-09-06 20:09] michael-hawker commented on #1209
@nmetulev this seems related to what you did in the new sample app and the added hover pointer scroll, eh?

[2017-09-06 20:14] michael-hawker commented on #1471
I like the idea of generalizing this.  I think the sticking point as @mdtauk mentioned is how the scrollbar behaves with each control.

[2017-09-06 22:56] taha3azab opened #1480 "HamburgerMenuControl SelectedOptionsItem always null"
`HamburgerMenuControl SelectedOptionsItem` is always null

[2017-09-06 23:23] Code-ScottLe commented on #1470
ping @Odonno , I can create an entry in your place if you need it.

[2017-09-07 02:30] birbilis commented on #1471
I would really like to be able to loop to the start of a long scrolling list (say on the phone) when I reach the bottom. Possibly with a customizable (and optional) visual end marker (horizontal, or vertical if list is horizontral, ruler) so that the looping occurrence is more obvious to the user. And I mean to add "Looping" bool property (defaulting probably to false if xaml-standard opts for com

[2017-09-07 07:04] bartlannoeye commented on #653
Bringing this up again. It should be easy to use the control with MVVM. Changing the datatemplate to bind the command is a few steps too far.

Using behaviors without passing EventArgs (which I only do when I need to manipulate the event) isn't straight forward either, as the SelectedItem is still null at the moment the event is processed.

            <core:EventTriggerBehavior EventName="ItemCli

[2017-09-07 11:49] CabuxaMapache opened #1481 "Sample app: Bottom expander with xaml and code not visible in landscape mode W10M"
v2.0: In my L930 with CU I can not access bottom expander in landscape mode. It works fine in portrait.

[2017-09-07 11:52] CabuxaMapache commented on #1430
@Raamakrishnan  Totally agree with that, stack notifications in mobile can be a really bad idea, there must be option to control that behavior.

[2017-09-07 12:07] Odonno commented on #1470
@Code-ScottLe Please do.

[2017-09-07 12:08] Odonno commented on #1481
Hi @CabuxaMapache. Are you able to provide more information (example project/code) so I can reproduce the bug.

[2017-09-07 12:14] CabuxaMapache commented on #1481
Juat open the sample app (2.0.2) in your device with W10M CU, go to Controls in the menu and change the orientation of your device. It seems like the content is not in a scrollview...

[2017-09-07 12:50] Odonno commented on #1481
Oh, right. Will fix that.

[2017-09-07 16:56] COM8 commented on #1473
Works! Thanks! 👍

[2017-09-07 16:56] #1473 closed

[2017-09-07 17:45] Code-ScottLe commented on #1470
Done. Let me know if you want to rephrase it.

https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/31281628-chat-control-functionality-for-listview

[2017-09-07 18:07] Odonno commented on #1470
@Code-ScottLe Perfect.

[2017-09-07 18:58] 7vn opened #1483 "HamburgerMenuItemCollection"
Hi,

I upgraded from 1.5 to 2.0 and the HamburgerMenuItemCollection does not work anymore.

This does not work.  Is there another way to do this?

<controls:HamburgerMenuItemCollection>
                <controls:HamburgerMenuGlyphItem Glyph="&#xE964;" Label="ECU" />
                <controls:HamburgerMenuGlyphItem Glyph="&#xEC24;" Label="Telltales" />
                <controls:HamburgerMenuGlyphIt

[2017-09-08 12:57] Tirraon commented on #1483
It might help #1361

[2017-09-08 13:03] birbilis commented on #1471
...and loop in the other way too, when I pull enough to overcome spring animation at the start of the list view, I'd like it to loop. Useful for lists that are sorted and long and you know you want to start browsing from the bottom without doing a resorting (or when multiple resorting UIs are too much to add - eg at data entry form fields)

[2017-09-08 14:15] hermitdave commented on #1479
Agree with @crutkas I just created a store package with toolkit 2.0. My UWP project does refer to Microsoft.NETCore.UniversalWindowsPlatform 5.4.0 and I had no issues.

If this resolves your issue.

[2017-09-08 14:41] ArchieCoder commented on #1479
Updating the Nuget of UWP to latest 5.4.0 fixed the issue.

[2017-09-08 14:41] #1479 closed

[2017-09-08 14:46] hermitdave commented on #1477
@ArchieCoder any luck with this ? I managed to sideload a package with 2.0 and built using latest UWP nuget package.

[2017-09-08 14:52] emiliano84 commented on #1477
Did you try to install the dependencies from AppPackages\your_app_name_version\Dependencies ?

[2017-09-08 14:58] 7vn commented on #1483
Hi Tirraon,  I did try that and cannot get it to work with 1.5.1 or 2.0.  Kind of frustrating.

[2017-09-08 15:18] hermitdave opened #1484 "Update Microsoft.NETCore.UniversalWindowsPlatform dependencies for nuget packages"
2.0 binaries for toolkit require Microsoft.NETCore.UniversalWindowsPlatform version 5.4.0.
Can we in any way update the nuget package to set that as a dependency ?

[2017-09-08 15:22] onovotny commented on #1484
That's set in one place, here:
https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Directory.Build.props#L25

Just change that to 5.4.0 and you should be all set.

[2017-09-08 15:31] hermitdave commented on #1484
how do we go about affecting the existing nuget package ?

[2017-09-08 15:32] onovotny commented on #1484
You can't, they're immutable.

[2017-09-08 15:33] onovotny commented on #1484
But why would they require 5.4.0 when everything used 5.3.4 to build them?

[2017-09-08 15:42] hermitdave commented on #1484
#1479 and #1477 possibly had 5.3.. not sure about 5.4.0 but that is more definitive and I don't think pushing 5.4 is a bad idea though

[2017-09-08 15:54] hermitdave commented on #1484
I believe that he had 5.2.3 though the question is how did he get toolkit 2.0 without getting forced to get 5.3.4 ? any thoughts @onovotny

[2017-09-08 15:56] onovotny commented on #1484
We'd need to see a repro. Everything is transitive, the lowest level one brings in the UWP meta package. There are ways to escape that but it'd take an explicit action.

[2017-09-08 15:57] hermitdave commented on #1484
right.. thanks..

[2017-09-09 13:55] GeorgHoffmeyer opened #1489 "App does not work after updating to UWP.Toolkit 2.0"
Hi,
after I just updated the UWP.Toolkit to Version 2.0 I get the following Errors:
HederedTextBlock is missing in using:Microsoft.Toolkit.Uwp.UI.Controls
I also get the error "Ressource for key AppBarButtonBackgroud is missing" when I run my App. So what am I doing Wrong?

[2017-09-09 14:04] GeorgHoffmeyer commented on #1489
Just solved it my self. You Need to Update the TargetVersion of the App.

[2017-09-09 14:04] #1489 closed

[2017-09-10 00:12] IbraheemOsama commented on #996
I got this :)

[2017-09-11 22:11] michael-hawker commented on #1391
@hermitdave I was playing with an RS3 insider build, and the CornerRadius property seems to be respected on the grid now...

[code]
![image](https://user-images.githubusercontent.com/24302614/30299184-6294dd0c-9703-11e7-85a3-2d90e5a10b54.png)

Not sure if there's one that works down-level, but certainly makes this easier in the future.

[2017-09-12 10:26] hermitdave commented on #1391
can you try test the same by changing the ImageEx XAML template ?

[2017-09-12 15:49] michael-hawker commented on #1391
@hermitdave makes sense.  We can deprecate RoundImageEx and then just expose the CornerRadius for the Grid in the ImageEx template for 2.1 and make note that it only works in the Fall Creator's Update.  Once that's our minimum target, we remove RoundImageEx.

[2017-09-12 16:04] hermitdave commented on #1391
Agreed.

[2017-09-13 01:02] SharPad opened #1492 "Min version of Windows 10"
With 1.5.1 version of toolkit my app worked on 10240 and 10586 version of Windows 10. But with the new 2.0 update and going forward, is it possible to update the Target version but keep the Minimum Version to be 10240? Will the controls that don't use any new features work?

Or does this mean I cannot include this toolkit in my app if I want to target all flavors of Windows 10? If I have a shippin

[2017-09-13 05:55] IbraheemOsama commented on #1492
The current min version of the toolkit is 14393 which is Anniversary Update (requires your app to be 14393 or higher). We keep updating the toolkit min/target version because we keep introducing and using new features introduced in the recent Windows updates.
We're doing our best to support lower min version but sometimes that is limiting us from introducing new features so we change the min/targe

[2017-09-13 08:05] #1492 closed

[2017-09-13 13:29] Moreno-Borsalino opened #1493 "OneDrive sample exception"
The OneDrive sample give me always an exception and I can't access to OneDrive with my Microsoft account. To fix the bug I changed this piece of code in the constructor method of OneDriveStorageItem.cs file:

// ParentReference null means is root
            if (oneDriveItem.ParentReference != null)
            {
                    _path = oneDriveItem.ParentReference.Path.Replace("/drive/root:",

[2017-09-13 23:41] IbraheemOsama commented on #1493
@Moreno-Borsalino It would be great if you submit a Pull Request to fix it :) and if you have a question or need something we are glade to help.

[2017-09-14 07:51] Moreno-Borsalino commented on #1493
I just submitted a Pull request. For the current version I used a trick to solve this bug. It is not possible to use RootFolderAsync() because throwns an Exception. So in my code before I call Initialize(...) than LoginAsync() and instead to use RootFolderAsync() I use the following code:

Item oneDriveRootItem = await OneDriveService.Instance.Provider.Drive.Root.Request().GetAsync();
if (oneDrive

[2017-09-15 01:11] 7vn opened #1495 "Carousel Bug"
Ladies/Gents,
Great job on UWP Toolkit so far.
I believe I found a bug for you in the Carousel.  Below you will see the XAML for how I set it up.  The bug tips the app over if you take your mouse or finger and scroll on the empty carousel.  I don't believe I'm doing anything wrong, but who knows.

[code]

Thanks much

[2017-09-15 03:05] IbraheemOsama commented on #1495
@7vn thanks for reporting, we will validate and fix the issue.

[2017-09-15 08:04] Vijay-Nirmal commented on #1495
@7vn FYI, You can use ` ``` Code ``` ` to create a code block

[2017-09-15 09:01] hermitdave opened #1497 "Add Platform specific analyzer to DeveloperTools"
https://github.com/ljw1004/platform-specific-analyzer?files=1 was started as a personal project for showing platform specific differences say between 10240 and 10586.

Dotnet framework has similar done by @terrajobst https://github.com/dotnet/platform-compat/tree/master/src/Terrajobst.PlatformCompat.Analyzers.Tests

I think we should either create a new lib that supports this or add this to dev to

[2017-09-15 09:11] #1484 closed

[2017-09-15 15:18] Swifter commented on #1328
I have a project wherein I use an ImageEx control inside an item template and when this template is used in a FlipView with many ImageEx controls on a page, they never load when IsCacheEnabled="True".  Removing this makes them work again, but this was one of the reasons I wanted to use ImageEx.  Boo.

[2017-09-15 15:22] hermitdave commented on #1328
@Swifter could you please post a repro ?

[2017-09-15 15:50] Swifter opened #1498 "ImageEx IsCacheEnabled="True" breaks binding"
I have the latest 2.0 bits.  I have enabled caching in my app by this code in App.xaml.cs:

            // enable caching
            if (sessionController.SettingItem.Caching)
            {
                // Microsoft UWP Community Toolkit caching
                await ImageCache.Instance.InitializeAsync(ApplicationData.Current.LocalFolder, "ImageCache");

                ImageCache.Instance.Cac

[2017-09-15 15:57] Swifter commented on #1328
@hermitdave This is a HUGE project, but I will try to make a little one for you.

[2017-09-15 16:13] darshanrampatel commented on #1328
@Swifter I use ImageEx controls within a FlipView as well and have no issues with the IsCacheEnabled property. My `ViewModel.Pictures` list contains over 200+ pictures.

[code]

[2017-09-15 17:52] Code-ScottLe commented on #1498
ping @hermitdave

[2017-09-15 18:00] Swifter commented on #1498
Yes, I'm working on the repro project.

[2017-09-15 18:24] Code-ScottLe commented on #1498
Is the ThumbnailImage` an actual image or a uri?

Technically, the ImageCache will be "hashing" the uri that you give it to find any files that it is managing to see if there is a match (at least that was the behavior that i observed awhile ago). If there is a file that has a name matched with the hashed string, the cache then will load it instead of downloading the file again.

[2017-09-15 18:28] Swifter commented on #1498
It is a URI

[2017-09-15 18:35] Code-ScottLe commented on #1498
Can you try to subscribe to the failure events and see if there was a failure? I talked to @hermitdave a few days back and we are looking at the option to retry at loading images on failure but that is a separate issue.

[2017-09-15 18:47] Swifter commented on #1498
Haha, it turns out that making the sample project found a bug in my original code wherein I was trying to use ImageOpened rather than ImageExOpened.    My code works now.

Sorry.  Never mind.

At least I know you're responsive!!!!  Thanks for the toolkit!!!

[2017-09-15 20:15] Code-ScottLe commented on #1498
Haha, glad that it gets squared away.

[2017-09-15 20:24] Odonno commented on #1497
@hermitdave At least, we should use it to detect errors in our codebase.

[2017-09-15 20:37] hermitdave commented on #1497
the future path is being looked at, hopefully we will find out whether its part of dotnet or something independent

[2017-09-15 21:00] hermitdave commented on #1498
@Swifter creating a repro often manages to show err in ways.. been there done that

[2017-09-15 21:00] #1498 closed

[2017-09-16 06:55] IbraheemOsama commented on #1497
If it is something simple or small why not we can add it to a separate project inside the toolkit but if its a bit of work and requires maintenance with every Windows Update IMHO it shouldn't be part of the toolkit.

[2017-09-16 07:05] hermitdave commented on #1497
Makes some sense

[2017-09-16 15:21] Vijay-Nirmal opened #1499 "New ListViewBase extensions - SmoothScrollIntoView"
SmoothScrollIntoView extensions allow scrolling the item into the view with animation.

![smoothscrollintoviewsampleoutput](https://user-images.githubusercontent.com/24755596/30513378-d38602b4-9b1f-11e7-809e-bced16f303e7.gif)

### Properties

| Properties | Type | Description |
|------------|------|-------------|
| Index      | int  | Index of the item to be scrolled |
| ItemPosition | Enum | Spec

[2017-09-17 00:09] Duranom commented on #1465
Seeing as in consumer areas you can be two major updates behind with support, meaning after Fall creators people could in theory still be using Anniversary, will they be obsolete till the last oldest consumer supported version will be fall creators update and then removed?
And what for Enterprises? I think they can have long term service support up to 10 years, could they perhaps be moved to an ob

[2017-09-17 18:57] Swifter opened #1500 "ImageEx in code"
Hi.  I need to get to the bits of the underlying Image object of ImageEx in a read-only way to calculate the dominant hue of the image therein.  I already have code that will do this with an Image object, but see no way to get to the underlying Image of ImageEx, or how to assign an ImageEx object as the source for an Image.

The reason I want to do this is that it is convenient for me to use the S

[2017-09-17 20:47] lukasf opened #1501 "GridSplitter: Weird cursor behavior when using GridSplitter on a cached page"
When the GridSplitter is removed from visual tree and then added again, the cursor handling is broken. This can happen when page caching is used on a frame, which is easy to reproduce in the toolkit sample app: Edit the GridSplitterPage.xaml and add NavigationCacheMode="Enabled" on the Page. Now run the app, open the GridSplitter sample, press app's "back" button, and open GridSplitter sample agai

[2017-09-17 23:50] Swifter commented on #1500
So, I put this into my local repo in ImageEx.Members.cs and I'm going to test it in my application.  I can create an Image from calling this:

        /// <summary>
        /// Returns the image as a <see cref="BitmapImage"/>.
        /// </summary>
        /// <returns>The image as a <see cref="BitmapImage"/>.</returns>
        public BitmapImage GetAsBitmapImage()
        {
            return Is

[2017-09-17 23:53] IbraheemOsama commented on #1500
@hermitdave ping

[2017-09-18 00:19] IbraheemOsama commented on #1499
Seems interesting to me :) maybe we can also include delay in scroll so the developer can control the scroll speed. let see what the community members think

[2017-09-18 02:49] Swifter commented on #1500
Ok, so even though I can return your ImageEx as a BitmapImage by adding this method, it doesn't matter.  There is no way to get the pixels out of a Windows.UI.Xaml.Media.Imaging.BitmapImage or Image object.  It's a one way trip.  Pixels check into these objects, but they never check out.

Also, it seems the Image object in my ImageAnalysis library (I inherited from another developer), uses an Imag

[2017-09-18 05:29] hermitdave commented on #1500
Bitmap operations are not easy with BitmapImage. ImageCache however only deals with BitmapImage.

You must want to look at creating SoftwareBitmap out of the bitmap buffer for easier manipulation.

https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/imaging

[2017-09-18 06:16] hermitdave commented on #1500
You can try reading writing Pixel buffer using similar ways
https://stackoverflow.com/questions/41161216/convert-byte-to-bitmapimage-uwp-c-sharp

[2017-09-18 08:49] hupo376787 opened #1502 "[OrbitView] Specify Child OrbitViewItem's locations for layout"
Hi, I want to show the OrbitViewDataItem label, like below

And also I want to specify the location of each item, for example,
Shen ------ 12 o'clock
David ------7 o'clock
......

How? Thanks.

![_20170918164503](https://user-images.githubusercontent.com/14960168/30534436-cc2bc0c2-9c90-11e7-9ca0-6791dca258c4.png)

[2017-09-18 17:50] skendrot commented on #186
@hawkerm this is available through the [ISuppoitIncrementalLoading](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Data.ISupportIncrementalLoading) interface.

[2017-09-18 17:52] michael-hawker commented on #1499
Based on discussions on this topic I've had, you probably want to make the ScrollIfVisibile a Boolean to separate it from where to scroll the object to.  e.g. you may want to scroll the item to the center, but only if it's not already visible.

[2017-09-18 17:56] michael-hawker commented on #1500
ImageEx just uses an Image object in the end, could you use the VisualTreeHelper to grab that and use your existing code?

[2017-09-18 22:57] skendrot commented on #1079
@miker1423 Are you still having an issue with this? If so, can you post your post your question to [StackOverflow](https://stackoverflow.com/questions/tagged/uwp-community-toolkit) so there is more visibility from search engines.

[2017-09-18 23:10] IbraheemOsama commented on #1502
@nmetulev ping

[2017-09-19 10:29] hermitdave commented on #1500
@Swifter any luck with what you were trying to achieve ?

[2017-09-19 10:31] hermitdave commented on #1465
I've added RoundImageEx to the list. @michael-hawker tested RoundedCorner on ImageEx XAML and that works for FCU

[2017-09-19 10:58] ThomasPe opened #1505 "Rate Application Reminder"
Back in Windows Phone 7/8 there were some tools to easily remind users to rate the app after x tries or after a certain time. I think it would be a nice feature for the toolkit to have such a "Rate Application Reminder" control or service.

What do you think?

Example: [Teleriks Rate Application Reminder for Windows Phone](http://www.telerik.com/blogs/introducing-rate-application-reminder-for-wind

[2017-09-19 11:18] IbraheemOsama commented on #1495
@7vn can you provide a full code that reproduces the issue ? I tried the current data template you provided and another custom one I created and there wasn't any issues.

[2017-09-19 11:26] IbraheemOsama commented on #1505
I like the idea :) if it get enough votes, the core team could easily decide to include it in a future release.
you could start spreading the word on twitter and other social media to get more votes if you like.
(I voted to it myself)

[2017-09-19 11:31] hermitdave commented on #1505
I use a custom mechanism to do this using message dialog. Wouldn't be a bad idea adding this sort of helper

[2017-09-19 11:33] IbraheemOsama commented on #21
@dotMorten are you still working or plan to work on this one or should we include it in the planning of a future release so someone else could pick it ?

[2017-09-19 11:38] IbraheemOsama commented on #469
@nmetulev you still working on this ?

[2017-09-19 11:39] IbraheemOsama commented on #560
@nmetulev this issue needs a SDK check :P

[2017-09-19 11:49] IbraheemOsama commented on #696
@shenchauhan are you still working on this :) ?

[2017-09-19 11:53] ThomasPe commented on #1505
@IbraheemOsama very much appreciated!

@hermitdave being able to add this to an app really quickly would be a big help for devs - I've seen a huge uptick in reviews for my WP apps after adding this.

[2017-09-19 11:56] IbraheemOsama commented on #1464
issue closed because PR is merged.

[2017-09-19 11:56] #1464 closed

[2017-09-19 12:03] IbraheemOsama commented on #1476
The toolkit V2.0 package min version is 14393 and target is 15063 so it shouldn't work on 10586. you will have to upgrade your application to min version 14393.

[2017-09-19 12:33] Syn-McJ commented on #1476
Eh... I see. I was kind of hoping there will be some IsApiContractPresent magic to allow developers to use toolkit without need to abandon 10586 users. We're still having around 5% of them.

[2017-09-19 14:01] michael-hawker commented on #1505
This also fits in the [Windows Template Studio](https://github.com/Microsoft/WindowsTemplateStudio) @crutkas.

Would be a pretty simple extension of their existing [FirstUsePrompt](https://github.com/Microsoft/WindowsTemplateStudio/blob/master/templates/Features/FirstUsePrompt/Services/FirstRunDisplayService.cs) and [WhatsNewPrompt](https://github.com/Microsoft/WindowsTemplateStudio/blob/master/te

[2017-09-19 14:03] michael-hawker commented on #1391
Talked to @hermitdave, will assign to myself and put together a PR for the proposed change for the FCU, adding CornerRadius to ImageEx and deprecate RoundImageEx.

[2017-09-19 14:41] Vijay-Nirmal commented on #1499
@IbraheemOsama We should add 'Speed' (pixels per second) instead for 'Delay' or 'Duration'. So the duration of the animation will be `speed*(Math.Abs(previousOffset - newPosition)`. Also, we could have `MaxDuration` property to override calculated duration if it exceeds `MaxDuration`.

@michael-hawker I like the idea and it would be easy to do.

I am sorry guys. I can't create a PR for this becaus

[2017-09-19 14:47] hermitdave commented on #1505
yes @michael-hawker it would be StorageHelper plus a Custom Dialog

[2017-09-19 14:49] michael-hawker commented on #1502
@hupo376787 there's no way to specify a specific angle for an item currently, they're all laid out automatically in [this method](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/OrbitView/OrbitViewPanel.cs#L98).

You can add labels by restyling the item template though (from the sample app as well):
[code]

![image](https://user-images.githubuserconte

[2017-09-19 20:03] nmetulev commented on #1474
Closing issue due to inactivity, feel free to reopen

[2017-09-19 20:03] #1474 closed

[2017-09-19 20:06] nmetulev commented on #653
@bartlannoeye, due to the new NavigationView control, the HamburgerMenu will be deprecated in 2.1 (per #1465) and will not be updated with new features, only bug fixes.

[2017-09-19 20:15] nmetulev commented on #1483
Do you have DataTemplates for the menu items, can you share the entire code for your HamburgerMenu?

[2017-09-19 22:27] #1493 closed

[2017-09-19 22:54] nmetulev commented on #1465
@Duranom, we will not remove the control until it makes sense for most developers. Even after the controls have been removed, the source code will continue to be available in our release notes.

[2017-09-19 22:58] mjfara opened #1506 "Carousel causing crash in latest version(2.0.0)"
After updating the toolkit from 1.5.1 to 2.0.0, my page with a carousel on it crashes with the following exception:

Cannot find a Resource with the Name/Key AppBarButtonBackground [Line: 275 Position: 358]

Can't seem to find a reference to that anywhere, any ideas?

[2017-09-19 23:08] nmetulev commented on #696
There are currently no plans to do this. I believe we can close this issue per my comment above.

[2017-09-19 23:43] nmetulev commented on #1476
There is, that's why it works on desktop. It should also work on 14393 on mobile as drop shadows are supported on AU. I'll install the AU emulator and try out the sample

[2017-09-19 23:54] nmetulev commented on #1502
Interesting suggestion. One way to add this would be to have a ShowItemLabel property on the OrbitView. However, I'm not sure if this is something that would be used by most developers.

[2017-09-20 00:02] #696 closed

[2017-09-20 00:03] nmetulev commented on #1506
What is the min version of your app. AppBarButtonBackground is used by the TextToolbar and that resource is available starting 14393.

[2017-09-20 00:03] #1481 closed

[2017-09-20 00:17] IbraheemOsama commented on #1499
@Vijay-Nirmal everyone had this moment of 'First PR' :) when I created a gitHub account I didn't have any previous PR :P
Submit a PR and I'll help and share the knowledge through reviewing the PR.

[2017-09-20 02:10] nmetulev commented on #1497
Seems like a great addition, I'm all for it. From the project linked, it doesn't look like this would work as part of an existing lib though, it will probably need to be separate.

@hermitdave, are you already working on this?

[2017-09-20 02:27] nmetulev commented on #469
Added uservoice to gauge if there is interest in this: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/31507663-inkoverlay-control-to-enable-inking-on-top-of-text

[2017-09-20 03:00] hupo376787 commented on #1502
@michael-hawker Thanks.

[2017-09-20 03:03] hupo376787 commented on #1502
@nmetulev I just came up an idea about the orbit view. Imagine we use orbit view to achieve a solar system 3D animation, it would be useful, haha

[2017-09-20 07:18] ThomasPe commented on #1505
What number of votes would be enough to get this feature implemented? Just asking since participation on UserVoice does not seem to be very high.

[2017-09-20 11:05] hermitdave commented on #1505
@ThomasPe I think it has sufficient merit to be added in upcoming version.

[2017-09-20 11:23] IbraheemOsama commented on #1505
Lets ping @crutkas again to see where it would fit better.

[2017-09-20 11:43] hermitdave commented on #1505
Whilst WTS is fantastic, I believe the helpers including one you mentioned should be in toolkit.

[2017-09-20 11:47] 7vn commented on #1483
`<Toolkit:HamburgerMenu
            DisplayMode="CompactInline"
            HamburgerHeight="45"
            HamburgerWidth="45"
            IsPaneOpen="True"
            ItemClick="HamburgerMenu_ItemClick">
            <Toolkit:HamburgerMenu.PaneBackground>
                <LinearGradientBrush EndPoint="0.5,1" StartPoint="0.5,0">
                    <LinearGradientBrush.RelativeTransform>

[2017-09-20 14:59] michael-hawker commented on #1505
@IbraheemOsama @hermitdave yeah, we should certainly figure out where things belong.  If we move them to the toolkit, WTS of course can still make use of them.  I'll start a thread.

[2017-09-20 18:22] nmetulev commented on #1502
I like it, that's the reason why I first created the orbit view, to show orbits :)

[2017-09-20 18:26] nmetulev commented on #1483
Is there a reason why the ItemTemplate is commented out?

[2017-09-20 21:32] hermitdave commented on #1497
@nmetulev discussing whether dotnet / sdk team has any plans. If we add this, should this be a distinct lib or an associated repo ?

[2017-09-20 22:55] nmetulev commented on #1497
I had a quick thread with @unniravindranathan and it doesn't look like there are any plans and he is supportive of the idea.

IMO, it fits well in this repo as a separate lib

[2017-09-20 23:42] Swifter commented on #1500
@hermitdave   It has become moot...the client ran out of hours, but I was just going to use the ImageCache and just read it into a Stream, as shown above, rather than fool around with getting the bits out of BitmapImage.  Thanks for helping though.

[2017-09-21 01:32] HardySoftware opened #1507 "Need native support of command binding when hamburger menu item is clicked or option item is clicked"
I could not find a way to bind my commands to the hamburger menu yet. Additional details could also be found at https://stackoverflow.com/questions/46333978/mvvm-command-binding-to-uwp-toolkit-hmaburger-menu

[2017-09-21 09:16] azchohfi commented on #1163
https://blogs.msdn.microsoft.com/mvpawardprogram/2017/09/19/multiplewindows-in-uwp-mvvm

[2017-09-21 11:08] martinsuchan commented on #1497
I've spent last week digging into this problem so here's a short summary:
- Original Platform Specific Analyzer (PSA) was created as a personal project by Lucian Wischik, who's working in Facebook now. It was often mentioned as a must-have tool on MSDN blog posts and in Build/Channel9 sessions, and I agree that having this functionality in UWP project is really helpful.
- It supports currently onl

[2017-09-21 14:09] skendrot commented on #1507
I believe @bartlannoeye's answer is correct. Closing the issue.

[2017-09-21 14:09] #1507 closed

[2017-09-21 18:18] adamhewitt627 opened #1509 "Store Release Build Error"
I'm seeing a release-build error that the dotnet team shows resolved, but appears to not be: https://github.com/dotnet/sdk/issues/955

It specifically affects the `Microsoft.Toolkit` and `Microsoft.Toolkit.Services` dlls.

[2017-09-21 23:59] IbraheemOsama commented on #353
Here are Tab Control V1 features
1) ItemsControl
2)No associated content for each item (The developer will control which content to show/hide not the control it self so the developer can share same content between different views)
3) Select single item at a time
4) When items reach the width of the control the items panel will reduce the width of all items until a threshold then start to add after

[2017-09-22 15:02] nmetulev commented on #1400
PR merged

[2017-09-22 15:02] #1400 closed

[2017-09-22 16:54] nmetulev commented on #1329
Coming back to this, we should be approaching this the same way the platform has handled it in platform controls including the NavigationView.

That being said, I'm looking at how to actually change the tooltip and AP.Name of the NavigationView in the latest insider SDK. I'm struggling to actually do this as it seems that the Close Navigation and Open Navigation tooltips are set from code behind.

[2017-09-22 16:59] nmetulev commented on #1509
This sounds like a bug on the sdk side per the linked issue, doesn't seem like there is anything needed to be done on our side, or am I misunderstanding the issue?

[2017-09-22 18:40] adamhewitt627 commented on #1509
Yes and no, while the bug is definitely in the SDK, the claimed "fix" doesn't appear to be accurate, and without any response from the SDK team on why that is. I would like to consume the Toolkit without this build error though, suggesting you need to (or should/could) put the suggested workaround in until the fix is correctly included.

Looking at a few of the Toolkit `csproj` files, I don't see

[2017-09-22 20:13] nmetulev commented on #1472
I believe I have found the issue and have a PR in #1510

[2017-09-22 20:21] skendrot commented on #353
Why is the ability to drag-n-drop/reorder tabs a must?

[2017-09-22 20:24] nmetulev commented on #353
IMO, it's a big enough feature that separates it from controls such as pivot that can also be used for tab type scenarios.

[2017-09-22 20:59] nmetulev commented on #1476
Interesting, the exception happens [here](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/DropShadowPanel/DropShadowPanel.cs#L70). No idea why it happens on the phone emulator (14393) only. @robmikh, would you know?

Here is the exception:
![image](https://user-images.githubusercontent.com/711864/30764018-f5b60758-9f9d-11e7-9fa6-4b048d7c2e32.png)

[2017-09-22 21:01] nmetulev commented on #1469
@WilliamABradley, are you able to take a look at these issues?

[2017-09-22 21:23] nmetulev commented on #1509
The two you mentioned are netstandard libraries, the other ones are uwp libraries. I noticed @wes566 added similar fix [here](https://github.com/jamesmontemagno/ConnectivityPlugin/pull/102), let's see if that works here. PR #1511

[2017-09-22 22:17] nmetulev commented on #1500
Seems like this issue can be closed, but feel free to re-open

[2017-09-22 22:17] #1500 closed

[2017-09-22 22:21] nmetulev commented on #1462
@Jebarson, were you still planing on implementing this?

[2017-09-22 22:24] nmetulev commented on #1449
@WilliamABradley, any update on this one?

[2017-09-23 03:03] jhp518 opened #1512 "WrapPanel in SemanticZoom"
I'm using the WrapPanel in a Listview's panel where the listview is used inside of a Semanticzoom. And though the WrapPanel supports grouping it does not switch the zoom mode into zoomed out when clicking on the header. I was previously using the ItemsWrapGrid which worked fine.

[2017-09-23 04:18] robmikh commented on #1476
Sorry for the delay, had to look around for a 14393 mobile image from home.

It looks like this is a known issue with the mobile emulator and the live visual tree debugging tools on build 14393. Turning off the live visual tree debugging tools resolves the issue for me.

You can turn off the live visual tree debugging tools by searching for it in Visual Studio using Quick Launch:

![image](https:/

[2017-09-23 09:18] WilliamABradley commented on #1469
@nmetulev I'll take a look at it when I can, I'm currently stuck into Uni at the moment, but Tests are pretty much over so I might get to it soon.

[2017-09-23 09:22] WilliamABradley commented on #1449
I was going to include this in a patch of General Improvements, but that might take too long, I'll make a quick patch fix.

[2017-09-24 09:30] hermitdave commented on #1497
Could we dynamically load assemblies and query the containing classes using Reflection?

[2017-09-24 16:09] nmetulev commented on #1512
Hey @jhp518 , could you provide a repro that demonstrates the issue?

[2017-09-24 16:11] nmetulev commented on #1476
Nice, thanks for looking into this.

Closing issue. @Syn-McJ, feel free to reopen if you feel like this does not answer your question.

[2017-09-24 16:11] #1476 closed

[2017-09-25 07:40] Jebarson commented on #1462
Yes I am. For some reason I am getting compilation issue with the source code. I will start once i pass that.

[2017-09-25 09:42] hupo376787 opened #1515 "MarkdownTextBlock does not support emoji"
I used the emoji - https://www.webpagefx.com/tools/emoji-cheat-sheet/, but it seems not work in markdown text.

[2017-09-25 13:14] HardySoftware commented on #1507
I know you closed this topic. But I still think would it be better if you can just add direct support to have
`        <controls:HamburgerMenu x:Name="hamburgerMenuControl"
                                Grid.Row="0"
                                Grid.Column="0"
                                PaneBackground="Black"
                                Foreground="White"

[2017-09-25 13:27] bartlannoeye commented on #1507
@HardySoftware as this control will be deprecated (because of the NavigationView control in Fall Creators Update, there won't be any additions, see https://github.com/Microsoft/UWPCommunityToolkit/issues/653.

But since this is all open source, you could for the code add them yourself (and use your own forked control).

[2017-09-25 16:09] nmetulev commented on #1515
Sounds like a good feature to add to MarkdownTextBlock. We can probably use the built in emoji font (as seen [here](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.documents.glyphs)).

How do you feel about adding this functionality in a PR? 🚀

[2017-09-25 17:09] hupo376787 opened #1516 "MarkdownTextBlock have problems with table"
The UWP Community Toolkit Sample App says it supports table,

![image](https://user-images.githubusercontent.com/14960168/30821149-efbf7b52-a256-11e7-9ba1-5721ac5e8cc3.png)

But, during my test, my control version is 2.0.0, failed.

![image](https://user-images.githubusercontent.com/14960168/30821232-2c744dac-a257-11e7-98b2-327f5da79f3d.png)

[2017-09-25 17:44] nmetulev commented on #1516
It looks like you are missing a new line (return) character when setting the text. In xaml for example, that is `&#x0a;`

![image](https://user-images.githubusercontent.com/711864/30822667-6079e0c2-a1de-11e7-9802-48b7cdfea997.png)

[2017-09-26 01:33] hupo376787 commented on #1516
Yeah, it works. But when I read from a txt file, the same problem comes again.

[code]

My original txt is:

Language|Translators

:---|:---

Japanese|citydays

French|FAm

Russian|Kurbatov Vladimir

German|waiting for volunteers(Currently machine translation by Google)

Italian|waiting for volunteers(Currently machine translation by Google)

Portuguese|waiting for volunteers(Currently machine tra

[2017-09-26 16:50] nmetulev commented on #1516
I see, I believe the issue is caused by the line break, try to change the line break of the file to LF (instead of CRLF) and see if it works.

[2017-09-26 22:44] nmetulev commented on #1505
IMO, there should be a disconnect between the logic of these helpers (first run, app updated, rating) and the UI component.

* On the helpers, I can see these being added to the [SystemInformation](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp/Helpers/SystemInformation.cs) class and i do think we should do that. Ex:
[code]

    I'd even like to see more detaile

[2017-09-26 22:46] nmetulev commented on #1502
looks like @michael-hawker answer was the right answer so I'll close this issue. However, feel free to reopen if that is not the case

[2017-09-26 22:48] nmetulev commented on #1499
@Vijay-Nirmal, please let us know if you would be able to submit a PR for this. Most of us would be more than happy to help :)

[2017-09-26 22:53] nmetulev commented on #1495
ping @7vn

[2017-09-26 22:54] nmetulev commented on #1483
ping @7vn

[2017-09-26 22:55] nmetulev commented on #1472
@DkmS1953, can you try the latest version of the app in the store (2.0.3) if it still has this issue?

[2017-09-26 23:28] mrlacey commented on #1505
I can add `SystemInformation.IsFirstRun()` and `SystemInformation.IsAppUpdated()` based on what we have in WTS.

A `LaunchStoreForReviewAsync()` method will also be simple to add.

I think `LaunchCount`, `LaunchDateTime`, and `AppUpTime` need some more thought first though:

- Capturing this information involves hooking into app lifecycle events. Doing so will require more than just adding propert

[2017-09-27 01:10] hupo376787 commented on #1516
LF works :smile:
Thanks, @nmetulev . Hope this bug can be fixed soon.

[2017-09-27 01:32] michael-hawker commented on #1502
@nmetulev there was still the part about specifying custom locations for the orbit items.  Could be interesting to have a property which if set to non-null would override the algorithm for positioning?

[2017-09-27 01:34] michael-hawker commented on #1505
+1 for LaunchStoreForReviewAsync(), wish we could have a similar one to expose for the [Feedback Hub](https://docs.microsoft.com/en-us/windows/uwp/monetize/launch-feedback-hub-from-your-app) without requiring another SDK.

[2017-09-27 03:59] Vijay-Nirmal commented on #1499
Thanks, but I don't think I have enough knowledge about UWP development. I am sorry I can't create a PR for this. But in the future, when I am well versed in UWP development, I will create a PR to create a different feature.

[2017-09-27 04:01] ianier commented on #1184
@nmetulev, what about an Orientation property? Vertical would work better in portrait mode and some mobile layouts.

[2017-09-27 08:08] Vijay-Nirmal commented on #1505
@michael-hawker We can use `feedback-hub:` URI to launch Feedback Hub if we can find its parameters to open a specific apps feedback page

[2017-09-27 08:23] hermitdave commented on #1505
@mrlacey we could use CoreWindow Visibility changed to calculate the AppUpTime
As for what counts and what doesn't, can we provide a virtual method that the developer can override ? This way we provide default implementation and they can modify it.

[2017-09-27 09:09] Odonno commented on #1505
@nmetulev Clearly, we need to add new properties in helpers to be able to make a decision (like how many times the app was launched, is it the first time the app is launched after install/update, does the user bought an IAP).

If the developer wants to make a Rate Reminder, he will use these new properties/methods.

[2017-09-27 11:54] mrlacey commented on #1505
@hermitdave The use of CoreWindow Visibility doesn't cover apps that use background tasks. Surely the time spent running in the task should count for uptime. Especially if tracking location, playing background music, or doing extended execution.
The ability to use an overrideable method will depend on what events are used to track what counts towards uptime as it will need to handle arguments from

[2017-09-27 12:05] hermitdave commented on #1505
@mrlacey whilst tracking location, playing background music, or doing extended execution would need alternative mechanism, those are all very specialised apps. I would suggest MVP should be normal usage scenario with optional delegation to dev to do bit work for other use cases.

Over a time with dev feedback, we can look to enhance what we do and how we do it ?

Any properties that provide insigh

[2017-09-27 15:27] nmetulev commented on #1502
Ah, you are right, that would be interesting to add. All reopen the issue and mark it as help needed.

[2017-09-27 15:37] nmetulev commented on #1184
Interesting suggestion, but curious how many developers will prefer that vs going full screen on narrow view? There is a limit how much you can see, so not sure if it makes sense to try to show multiple blades. My suggestion is to create a new issue and a uservoice to gauge developer need.

For this issue, I recommend @skendrot solution of using an adaptive trigger to automatically go to full scre

[2017-09-27 15:37] #1184 closed

[2017-09-27 16:21] nmetulev commented on #1460
Seems like the fastest way to get started and also is easiest to set up is to add resource strings. I'm all for this idea and I encourage you to submit a PR to start adding those for your languages :)

[2017-09-27 17:58] Mimetis commented on #1471
I'm actually the author of the **LoopItemsPanel**, and the **Carousel** control.

I think (in my opinion) the question is :

1. Do we have to implement the loop mode in the `Carousel` (see #1462 )
2. Do we have to create instead an `ItemsPanelTemplate` to be able to customize any `ItemsControl` control
3. Both ?

[2017-09-27 18:18] Vijay-Nirmal commented on #1471
@Mimetis In my opinion "create instead an `ItemsPanelTemplate` to be able to customize any `ItemsControl` control" will have higher priority than "implement the loop mode in the `Carousel`". Dev can create looping `Carousel` with `LoopItemsPanel` but not vice versa. "Both" is good for devs.

[2017-09-27 19:42] DkmS1953 commented on #1460
What is PR?

Wbr, Dyakov K.M.

2017-09-27 19:21 GMT+03:00 Nikola Metulev <notifications@github.com>:

[2017-09-27 19:58] DkmS1953 commented on #1472
It works fine!

​

Wbr, Dyakov K.M.

2017-09-27 1:55 GMT+03:00 Nikola Metulev <notifications@github.com>:

[2017-09-27 20:17] Mimetis commented on #1471
The `ItemsPanel` Inside the `Carousel` is highly coupled with the control itself.
Actually, it's not possible to replace the Carousel's ItemsPanel with another one.
I already thought to change this behavior to have a carousel control without any dependencies with its items panel, but it's really complicated.
So for now, if you want a `LoopItemsPanel` to be able to use it in a `Listbox` or a `ListV

[2017-09-27 20:30] nmetulev commented on #1460
Sorry, Pull Request

[2017-09-27 20:30] #1472 closed

[2017-09-27 20:31] nmetulev commented on #1472
PR merged, verified works in the store

[2017-09-27 22:05] nmetulev commented on #1471
@Mimetis, what about creating a LoopItemsPanel and extending the CarouselPanel from the LooptemsPanel to get the looping experience?

[2017-09-28 08:40] birbilis commented on #1471
BTW, how are you doing the looping? Are you using some Enumerable implementation that yields items infinitely by looping a cursor over a collection of items? (and having some property on whether it loops at end or not?)

However, since Enumerables are one direction only, I wonder how they’d be used, so guess you’re not using such. Or have Enumerables evolved since last time I checked them?

[2017-09-28 08:50] niels9001 opened #1517 "Grouping extension for ComboBox?"
Hi guys,

I'm not able to find this in the current Toolkit, and if its not there then please consider it as a feature request!

I'm looking for a way to group objects within a ComboBox, in a similiar way to the ListView and GridView (including with a ComboBoxGroupHeader template).

We had this control in WPF, but its not available in UWP which is a shame considering this is being used a lot in bus

[2017-09-28 09:07] Mimetis commented on #1471
As explained in the blog post, it' all about positioning items during the `UpdatePosition` method.
Nothing really complicated, actually.
Using the `RenderTransform` to virtually be able to position the item at the right place :)

[2017-09-28 10:01] Odonno commented on #1517
@niels9001 That's an interesting feature. However, we have a dedicated process for new features and it should start by the creation of a UserVoice entry to help us work on the most wanted features by developers. If this feature gains enough traction, we will start working on it.

Can you create a uservoice entry here https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193

[2017-09-28 10:34] niels9001 commented on #1517
Thanks, for letting me know.

I have created a UserVoice request here: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/31659073-grouped-combobox

[2017-09-28 10:41] birbilis commented on #1471
When doing UI virtualization (say when you have tons of elements to display) I thought that the idea was to have a fixed number of UI items and reuse them. Do you mean you're rearranging that fixed number of items for more speed (wonder if it is faster than just repopulating different ones of the existing UI items) or that you have one UI item per element (no virtualization)?

[2017-09-28 12:12] 7vn commented on #1495
hi guys,
Try putting it in a Pivot container.

[2017-09-28 16:25] nmetulev commented on #1471
Agree that the best place to start is with the LoopItemsTemplate. I think we will learn a lot on how to do the same for the carousel in the process.

I also agree that virtualization is a requirement for a panel such as this.

[2017-09-28 16:32] shyamshr93 opened #1518 "Texttoolbar: Causes app crash in Secondary View"
After creating new view (Secondary view) Texttoolbar crashes if the format is set to Richtext or Markdown.
It also crashes when changing the texttoolbar format to richtext or markdown in secondary view. Work fines if the format is set to custom only. Attached some photos of the error if anyone want to see it.

![sketch 3](https://user-images.githubusercontent.com/25634212/30978535-752ffd64-a498-11

[2017-09-28 16:35] nmetulev commented on #1518
ping @WilliamABradley

[2017-09-28 18:27] theweavrs opened #1519 "How do I animate DropShadowPanel Properties like ShadowOpacity?"
Suppose I have DropShadowPanel like this:
[code]
Now I want to animate the `ShadowOpacity`. I tried this:
[code]

But this doesn't work. Any help would be appreciated.

Thanks.

[2017-09-29 01:29] WilliamABradley commented on #1518
@shyamshr93 You aren't using the correct Dispatcher, each window has their own dispatcher.

I think it you need to surround it in something like newView.Dispatcher.RunAsync() wherever the Dispatcher instance for the newView is.

[2017-09-29 08:30] niels9001 opened #1520 "Blur behaviour on RoundImageEx bug"
Blur behaviour on RoundImageEx is blurring the entire square, not just the round image. My code:

[code]

The effect:

![rolloverfail](https://user-images.githubusercontent.com/9866362/31007527-25e06802-a501-11e7-96fe-2d7aa5d71f35.gif)

[2017-09-29 17:11] nmetulev commented on #1520
ping @hermitdave

[2017-09-29 18:17] nmetulev commented on #1519
Hi @theweavrs, you need to set `EnableDependentAnimation="True"` on your DoubleAnimation in order for the animation to run.

[2017-09-29 19:03] theweavrs commented on #1519
@nmetulev Ah! Thanks. That was it.

[2017-09-29 19:03] #1519 closed

[2017-09-29 19:08] nmetulev commented on #1274
New documentation has working search

[2017-09-29 19:08] #1274 closed

[2017-09-30 03:50] WilliamABradley commented on #1518
@nmetulev This is a User implementation bug, not a Control implementation bug.

[2017-09-30 07:09] theweavrs commented on #1198
Anything above maximum is consider as 1. Just debugged it. And I think this is a bug with `ProgressBar` itself. The new value in the `OnValueChanged` is by default 1 if it is above the maximum limit.

[2017-09-30 08:12] DHitchenUK opened #1522 "RadialGuage blocking code when setting 'Maximum' property"
When setting the .maximum. property of the RadialGuage it can take a long time to complete.

RadialGuage.Maximum = 200: takes about 0.07s
RadialGuage.Maximum = 100,000: takes about 7s
RadialGuage.Maximum = 2,000,000: couldn't wait that long

Thanks
David

[2017-09-30 13:55] GeorgHoffmeyer opened #1523 "MasterDetailView Jumplist (SemanticZoom)"
Is it possible to add Jumplistes (like in the contakt app) to the MasterDetailView?

[2017-09-30 15:53] zipswich opened #1524 "prefix extensions is not defined"
The following is the code in the documentation for ViewExtensions
[code]

extensions is not defined.

The following code works in an app:
[code]

[2017-09-30 23:58] theweavrs commented on #1524
@zipswich I am sure you cannot use the properties and classes in a namespace without defining it first. In you first code snippet, there is no definition of `extensions` namespace. Please define it and re-build your code.

After the changes, you code should look something like this:
[code]
👍

[2017-10-01 08:08] bartlannoeye opened #1525 "Updated documentation links are broken"
Commit: https://github.com/Microsoft/UWPCommunityToolkit/commit/47701ef651031b9641c812f4e3b2ba51fc64d5c4 (and possibly others, I started investigating because an opened tab to HamburgerMenu didn't reload)
Sample link: http://uwpcommunitytoolkit.com/en/master/services/Facebook/ gives 404

http://uwpcommunitytoolkit.com redirects correctly to docs.microsoft.com, but any sublinks don't redirect.

[2017-10-01 16:44] zipswich commented on #1524
Thanks for the clarification.  That is what I thought.  Why does the sample code in the documentation differ?
![image](https://user-images.githubusercontent.com/6095671/31056837-4f2b0810-a6a6-11e7-8313-df149aeee048.png)

[2017-10-01 17:10] Odonno commented on #1524
@zipswich Yes, the docs is wrong. Need a fix.

[2017-10-01 18:22] theweavrs commented on #1525
@bartlannoeye mine are redirecting correctly.

[2017-10-01 18:37] theweavrs commented on #1522
You are experiencing this long delay because of your `TickSpacing`. By default `TickSpacing` is 20. That means for a 100,000 Radial Guage, it will create and draw 5000 ticks. And that is just the normal ticks. For scaled ticks (the ones on the inside), it will take the same time. So, 10,000 ticks. That is ALOT.

Now, if you increase your TickSpacing to something like 1000 or 2000 for a 100,000 Rad

[2017-10-01 19:51] bartlannoeye commented on #1525
Might have been caching/dns propagation issue? Seems to work now here as well.

[2017-10-01 19:51] #1525 closed

[2017-10-01 20:53] hermitdave commented on #1524
Docs have now been fixed by @theweavrs I will close this issue

[2017-10-01 20:53] #1524 closed

[2017-10-01 20:54] hermitdave commented on #1524
The next version of app should have the fix

[2017-10-01 20:55] hermitdave commented on #1520
I will take a look tomorrow. Either way @michael-hawker should be pushing an update soon that should mark RoundImageEx as deprecated.

[2017-10-01 21:27] zipswich opened #1527 "StatusBar.IsVisible="false" stops working after visibility change"
Code in Xaml:
[code]
C# code behind (not sure if this is necessary to reproduce this):
[code]
The steps to reproduce the problem:

1. Start the app.  The status bar is hidden.
2. Tap Window button to go to the start screen.
3. Tap the app icon to make the app visible again, and the status bar is shown.

[2017-10-01 21:31] Odonno commented on #1525
I have also a 404 for the moment.

[2017-10-01 22:33] DreamNetAB opened #1528 "RadialGauge and designtime"
The RadialGauge control is now showing the Needle, ScaleTicks or the Ticks during the designTime. Meanwhile, it shows everything during runtime.

[2017-10-02 02:35] zipswich opened #1529 "NullReferenceException thrown by await OneDriveService.Instance.RootFolderAsync();"
await OneDriveService.Instance.RootFolderAsync(); throws the following exception:

[code]
Device: Nokia Lumia 830
OS: 10.0.14393.1066

[2017-10-02 08:45] DHitchenUK commented on #1522
Thank you, that makes a lot of sense.

[2017-10-02 13:31] zipswich commented on #1529
The following information may be related.  I tested the OneDrive service of the UWP Community Toolkit Sample App and got the following after the two-step authentication:
![image](https://user-images.githubusercontent.com/6095671/31079706-84fb5f5e-a754-11e7-854f-09c396f00bb2.png)

[2017-10-02 16:34] skendrot commented on #1523
@GeorgHoffmeyer I have not tested this but you should be able to restyle the control and add the jump list capability to the ListView that the control uses

[2017-10-02 17:06] nmetulev opened #1530 "Add new issue and new pull request templates and ..."
... update contributing.md to address questions, bugs, and new feature requests

[2017-10-02 18:02] nmetulev commented on #1518
Closing issue per above comment, but feel free to reopen if that is not the case.

[2017-10-02 18:02] #1518 closed

[2017-10-02 18:05] nmetulev commented on #1198
thank you for looking into this @theweavrs, do you fancy submitting a pull request?

[2017-10-02 18:12] nmetulev commented on #1528
#1486 resolves this. It will be available in 2.1 when running in Visual Studio 2017 Update 4.

[2017-10-02 18:12] #1528 closed

[2017-10-02 18:13] nmetulev commented on #1522
Closing issue as it seems resolved

[2017-10-02 18:13] #1522 closed

[2017-10-02 18:27] michael-hawker commented on #1520
@hermitdave yeah, I have to test it on an RS3 machine to make sure it's all good, but I have the code setup in a private branch.  I'll test this scenario on the new version, but it could be a platform issue at that point.

[2017-10-02 18:32] theweavrs commented on #1198
@nmetulev yep. Just wanted to confirm the lead developers agreed to the alternative. Will start the work ASAP.

[2017-10-02 19:48] nmetulev commented on #1198
Thank you for submitting the PR @theweavrs, it helped me understand what the issue is. I also realized that if we set two way binding on the Value property, it will work property. Looks like the one way binding is broken when the control sets Value itself to the maximum value.

Given this (and how the actual ProgressBar works), we should leave the control as is. Apologies for asking you to submit

[2017-10-02 19:54] nmetulev commented on #1198
BTW, since you are a new contributor and if you don't have a contributor t-shirt, feel free to send me you address and I'll mail you one. Email: nikolame at microsoft

☄️

[2017-10-02 20:27] hermitdave commented on #1527
Could you please post a quick repro ? will make reproducing it easier

[2017-10-02 20:51] zipswich commented on #1527
Thanks for trying to help, @hermitdave
I tried to make a repro, then I found out the problem was caused by the code to enable the status bar upon exiting the screen.  The code was there to ensure the status bar would be restored.  I have just removed the code, and the problem is resolved.  The status bar is restored automatically when the app is moved to the background without that piece of code.

[2017-10-02 21:04] hermitdave commented on #1520
@niels9001 I have looked further. The RoundImageEx template contains a Grid that contains two Rectangle children: one for Image source and another for Placeholder. The blur is being applied to image but the grid is a fixed surface and CornerRadius isn't taking effect there

![image](https://user-images.githubusercontent.com/1896163/31099339-99778052-a7bd-11e7-8834-c8952e96b5dc.png)

[2017-10-02 21:06] hawkerm opened #1532 "Add UniformGrid Control"
Looks like there's not really an equivalent for the WPF [UniformGrid](https://msdn.microsoft.com/en-us/library/system.windows.controls.primitives.uniformgrid(v=vs.110).aspx) in UWP.  It has a [variety](https://wpf.2000things.com/tag/uniformgrid/) of uses, and I think would be a beneficial addition for responsive layouts.

[UserVoice Entry](https://wpdev.uservoice.com/forums/110705-universal-window

[2017-10-02 21:07] hermitdave commented on #1527
No worries.. Often the act of creating a repro helps identify the issue.

[2017-10-02 21:07] #1527 closed

[2017-10-02 21:22] avknaidu commented on #1198
@nmetulev there are contributor t-shirts?

[2017-10-02 22:50] nmetulev commented on #1198
Yes there are. Feel free to email me with your address if you don't have one

[2017-10-03 09:23] theweavrs commented on #1198
@nmetulev No problem. It didn't really take too much time. Glad I could help.

About the T-Shirt: I live outside of USA (in Pakistan) so if the offer's still up, I will send you the address :) Thanks.

[2017-10-03 09:27] albertofustinoni commented on #1198
Any chance I could get one of those t-shirts too if you ship internationally? I live in Japan.

[2017-10-03 14:37] COM8 opened #1534 "ImageCache.Instance.ClearAsync() freezes the app"
If I use:
```await ImageCache.Instance.ClearAsync();```
My app and phone freeze and I have to wait about 2 to 3 minutes, until I can use it again (home, back and search buttons will not work any more) and the app crashes.

I'm using v2.0.0 of the UWP Community Toolkit

[2017-10-03 14:53] hermitdave commented on #1534
@COM8 how often do you call it ?

[2017-10-03 14:53] hermitdave commented on #1534
could you please post a repro ?

[2017-10-03 15:21] COM8 commented on #1534
My fault. Fixed it 🤦

[2017-10-03 15:21] #1534 closed

[2017-10-03 15:52] nmetulev commented on #1198
I just created this [survey](https://1drv.ms/xs/s!AjZLNGpIZBbgr7ZvtqjV-LcgdRcc7A). Fill it out if you've contributed - we should be able to ship to most countries. :)

☄️

[2017-10-03 15:52] #1198 closed

[2017-10-03 16:02] michael-hawker commented on #1520
I didn't see the mouse trigger from the sample you provided, but I do believe this will be fixed in general by the changes in RS3 to better support CornerRadius:

![image](https://user-images.githubusercontent.com/24302614/31135303-6c9fbd9a-a819-11e7-8105-5a9d7ed8bde7.png)

I was just using a grid straight-up though, but it seems to work the same if I put the blur on the image inside it or on the

[2017-10-03 16:07] hermitdave commented on #1534
Thanks

[2017-10-03 16:08] hermitdave commented on #1520
@michael-hawker we currently don't have a corner radius on parent grid as it wasn't working before.

[2017-10-03 16:44] hermitdave commented on #1520
I think we need to start requesting a proper repro.. Basic Blur was all that was needed however a repro voids the need to spend long trying to replicate the issue.

[2017-10-03 17:33] niels9001 commented on #1520
`   <DataTemplate x:Key="Key" x:DataType="ModelsModel">
                <Grid x:Name="ListViewItemRootGrid" Width="200" Height="240" Background="Transparent" FlyoutBase.AttachedFlyout="{StaticResource Flyout}">
                    <Interactivity:Interaction.Behaviors>
                        <Core:EventTriggerBehavior EventName="PointerEntered">
                            <Core:CallMethodAction T

[2017-10-03 17:43] hermitdave commented on #1520
@niels9001 it wasn't needed now as I already created a repro. We don't have a solution right now as you can see the underlying grid is very visible in what I pasted.

Once RS3 is out, we will try tweaking the grid's corner radius which doesn't work right now and isn't set.

[2017-10-03 19:34] nmetulev commented on #1529
@zipswich, can you share a repro?

ping @EricVernie @cbarkerms

[2017-10-03 19:42] zipswich commented on #1529
Yes. The repro is the official UWP Community Toolkit App downloaded from the Windows Store as described by my last comment.

[2017-10-03 19:55] zipswich commented on #1529
I have downloaded the project, but am having a hard time updating NuGet packages.  VS simply refuses to update most of them.

[2017-10-03 20:17] zipswich opened #1535 "Error: Cannot modify an evaluated object originating in an imported file"
I figured someone else may have experienced this problem.
I cloned the solution with VS 2017.  I keep getting the following error when trying to update NuGet packages:

Could anyone offer a tip on how to fix this?

[2017-10-04 03:29] nmetulev commented on #1535
Never seen this before. Are you able to open other "similar" projects? I'd guess this is related to your Visual Studio installation.

[2017-10-04 10:46] Jebarson commented on #1462
@nmetulev I completed the code for this and updated the sample also. I have got one question. To achieve this functionality, I had to create a class LinkedList<T>. Should I keep it as a private class inside carousel or should I keep it somewhere in the utilities where it can be used by programmers as well? If it can be exposed what would be the right namespace?

[2017-10-04 13:16] zipswich commented on #1535
I have just updated Visual Studio Installer, then repaired VS2017.  It took about 2 hours.
Unfortunately, I still cannot update NuGet packages inside UWP Community Toolkit solution due t the aforementioned error.

I have no problem in updating NuGet packages for my own VS solutions with many various kinds of projects (10+).

[2017-10-04 15:07] zipswich opened #1537 "Microsoft.Graph related error:"
Cloned the solution without any modification.  Building Microsoft.Toolkit.Uwp.Services generates the following error:

[2017-10-04 16:00] nmetulev commented on #1462
That's great. On the LinkedList<T>, any reason why you created a new class instead of using the built in?

[2017-10-04 16:05] zipswich opened #1538 "'User' is in accessible due to its protection level."
When I build the Microsoft.Toolkit.Uwp.Services without modifying any code, I get the following:

![image](https://user-images.githubusercontent.com/6095671/31186334-5cc424f4-a8fc-11e7-9e06-3534f031f328.png)

[2017-10-04 16:07] zipswich commented on #1535
Finally was able to update some NuGet packages after removing the following from file Directory.Build.props:
[code]

[2017-10-04 16:08] Jebarson commented on #1462
The problem with the LinkedList (inbuilt) is that, it doesn't offer circular. The Linked list I wrote offers both circular and normal single linked list. It basically simplifies the code, otherwise I would be writing separate logic for circular and normal.

[2017-10-04 20:06] twsouthwick commented on #745
This issue is still present - can it be reopened to track finding a fix?

[2017-10-04 21:00] nmetulev opened #1539 "Integrate fluent design in sample app"
Including:
* dark and light theme
* tools to enable/disable fluent features on supported controls

[Current design concept](https://xd.adobe.com/view/47e10036-4a19-4cd7-bbfc-1f6db8b3c414)

[2017-10-04 21:24] #1530 closed

[2017-10-04 21:28] nmetulev commented on #1538
Looks like you are missing a nuget package. It also looks like you are having more than one similar problem, so I'll close this issue and let's discuss all issues you are having in your original issue #1535

[2017-10-04 21:28] #1538 closed

[2017-10-04 21:44] cbarkerms commented on #1529
https://github.com/Microsoft/UWPCommunityToolkit/pull/1540

[2017-10-04 21:51] nmetulev commented on #1537
Closing issue and moving all discussion in #1535

[2017-10-04 21:51] #1537 closed

[2017-10-04 21:52] nmetulev commented on #1535
What version of VS do you have? Update3, 4? If Update 3, do you have the .netcore 2.0 sdk installed?

[2017-10-04 22:20] nmetulev commented on #1529
Just submitted the updated app to the store with @cbarkerms fix, should be available at the earliest by tomorrow.

[2017-10-04 22:20] #1529 closed

[2017-10-04 22:31] zipswich commented on #1535
I am using V15.3.5. Where can I check .netcore 2.0 sdk.  I have the latest package (V5.4.0) of Microsoft.NETCore.UniversalWindowsPlatform.

[2017-10-05 01:48] nmetulev commented on #1535
Try installing the .NET core  2.0 SDK from [here](https://www.microsoft.com/net/download/core) and see if that helps

[2017-10-05 04:18] IbraheemOsama commented on #1539
Do we have any change in the usability of the application, especially the top menu (Controls, Notification, etc) I find it really hard to scroll in controls list using the mouse.

[2017-10-05 06:04] ad1Dima opened #1541 "Sample app Carousel Page need improvements"
## I'm submitting a Sample app request

## Current behavior
For now all sliders (Depth, Margin, Rotation) has intervals starting from zero, so you can't rotate images left for ex.

## Expected behavior
At least, Margin and Rotation sliders should allow to set negative values, so it show Carousel control in all it's shine.

[2017-10-05 13:56] theweavrs commented on #1541
What say you @nmetulev? Shall I make a PR with the changes?

[2017-10-05 13:58] theweavrs commented on #1539
@IbraheemOsama Why not use a HamburgerMenu with menu items (could use Expander) for different categories and sub menu items for the items in those categories?

[2017-10-05 16:42] nmetulev commented on #1541
Great suggestions. Feel free to submit the pr @theweavrs  :)

[2017-10-05 16:46] nmetulev commented on #1539
@IbraheemOsama, yes, we are moving away from the horizontal scroll (you are not the first with this feedback :)). Now all items will show if there is enough room, scrolling vertically when necessary. See [this](https://xd.adobe.com/view/47e10036-4a19-4cd7-bbfc-1f6db8b3c414/screen/e699301c-0659-4676-8d5b-e64a4c00c90b/landingScreenLight-1) for example.

@theweavrs, that is how we have it currently i

[2017-10-05 17:58] Swifter opened #1543 "Build Errors"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

I just synced the toolkit today and tried to build the sample app on VS 2017, Version 15.3.5.  Got these Build errors:

Severity	Code	Description	Project	File	Line	Suppression State
Error		The target "GetPackagingOutputs" do

[2017-10-05 18:18] nmetulev commented on #1543
Hey @Swifter, few things I would try. First clean your local repo by running `git clean -xfd` to make sure any old artifacts are not messing with the build. Second, since you are using 2017 15.3, make sure to also have netcore 2.0 sdk installed (it comes with 15.4, but you need to install it manually for 15.3)

[2017-10-05 18:20] theweavrs commented on #1543
@nmetulev I can confirm the `GetPackagingOutputs` error. I use a workaround. Basically, I add:
[code]
in the `Directory.Build.props` file.

After that, the sample app builds without a hitch.

[2017-10-05 18:25] nmetulev commented on #1543
ping @onovotny

@theweavrs, do you have the [netcore 2.0 sdk](https://www.microsoft.com/net/download/core) installed?

[2017-10-05 18:28] theweavrs commented on #1543
@nmetulev Nope. I think that is the issue. There is nothing wrong with the project but with my own configuration.

[2017-10-05 18:34] Odonno commented on #1539
@nmetulev What about a JumpList/SemanticZoom?

[2017-10-05 19:48] Swifter commented on #1543
@theweavrs This totally worked.  The whole project builds now.  I just added it after the other <Target> like this:

  <Target Name="FixUpVersion"
          BeforeTargets="_GenerateRestoreProjectSpec"
          DependsOnTargets="GetBuildVersion"
          Condition=" '$(NerdbankGitVersioningTasksPath)' != '' " />

  <Target Name="GetPackagingOutputs"/>

Thank you so much!!!

[2017-10-05 19:50] Swifter commented on #1543
@nmetulev

Did you want me to sync this back to the project?

[2017-10-05 20:04] zipswich commented on #1535
I have installed the SDK, restarted VS, but the problems remain unfortunately.
As I explained in other thread, the original problem has been solved by copying the code.  I should be all set, so I have given up on making the Toolkit work on my machine.  I may try my luck again in the future.
Thank you for all the help.

[2017-10-05 21:41] nmetulev commented on #1539
@Odonno, there is already a way to search and jump to recent, where would jumplist or semantic zoom fit?

[2017-10-05 21:43] nmetulev commented on #1529
The fix has not gone out to the nuget packages yet, keep an eye out for next update in the following month and let us know if it still doesn't work

[2017-10-05 21:45] nmetulev commented on #1543
@Swifter, the solution should work if you have the netcore 2.0 sdk installed without having to do any of the  above changes. Let us know if that is not that case.

@onovotny, would the above change break anything?

[2017-10-05 21:46] nmetulev commented on #1535
I'm sorry you ran into so much trouble with the solution, do let us know if you discover what is the issue you were having.

[2017-10-05 21:46] #1535 closed

[2017-10-05 22:21] zipswich commented on #1529
The OneDrive service code that I copied works so well (hats off to you guys) that I hesitate to switch back to the package.  However, I will use the Toolkit when I start using Facebook and other services.

[2017-10-05 22:22] zipswich commented on #1535
I will if I discover anything useful.

[2017-10-05 22:29] nmetulev commented on #1541
PR merged :)

[2017-10-05 22:29] #1541 closed

[2017-10-05 22:50] IbraheemOsama commented on #1539
Excellent :)

[2017-10-06 00:48] Swifter commented on #1543
@nmetulev   So, last I heard .Net Standard 2.0 does not work on UWP yet.  Is this not the same for .Net Core 2.0?

[2017-10-06 01:36] nmetulev commented on #1543
Correct, .NET Standard 2.0 only works with the Fall Creators Update. However, in order to support some of the changes in the solution we added (to support the fall creators update when available), we need the SDK installed (which is not needed in 15.4)

[2017-10-07 17:18] theweavrs commented on #1499
@nmetulev I can take a look at this as soon as possible, if you want? This will be an exciting adventure.

[2017-10-07 18:02] nmetulev commented on #1499
Feel free to take this one @theweavrs

[2017-10-07 23:06] rpedretti commented on #1034
I guess it can be closed since MS is not supporting mobile anymore

[2017-10-09 17:07] #1501 closed

[2017-10-09 23:36] nmetulev commented on #1034
This is a behavior difference issue of mouse vs touch, I can verify the same behavior in the sample app on desktop. However, per #1465, this control is getting deprecated in the next release due to a it being available in the Fall Creators Update and this will not be prioritized.

[2017-10-09 23:40] nmetulev commented on #1404
Thank you for your question @cargarfa, and apologies for the very late response. My recommendation is to post this question on [StackOverflow](https://stackoverflow.com/search?q=uwp+community+toolkit) with the tag `uwp-community-toolkit`  (if you haven't already) as there is a much higher chance of questions being answered there.

[2017-10-09 23:40] #1404 closed

[2017-10-09 23:48] nmetulev commented on #1543
@Swifter, is this still an issue, can this be closed?

[2017-10-09 23:49] nmetulev commented on #1523
Closing issue. If there are any more questions, feel free to re-open, or submit a question on Stack Overflow

[2017-10-09 23:49] #1523 closed

[2017-10-09 23:50] nmetulev commented on #1512
Closing issue with no response, feel free to re-open if necessary.

[2017-10-09 23:50] #1512 closed

[2017-10-09 23:54] nmetulev commented on #1495
Hey @7vn, can you provide a repro project we can try. Unable to reproduce currently.

[2017-10-09 23:55] nmetulev commented on #1483
Closing issue due to no response. Feel free to re-open if needed

[2017-10-09 23:55] #1483 closed

[2017-10-09 23:58] nmetulev commented on #1421
Closing issue as duplicate of #1451

[2017-10-09 23:58] #1421 closed

[2017-10-10 00:01] nmetulev commented on #1380
PullToRefreshListVIew will be deprecated in next release per #1465. Closing issue as will not fix

[2017-10-10 00:03] nmetulev commented on #1378
Closing issue as there is no action pending on this one (apologies if that is not the case, feel free to re-open). There are other issues that cover moving certain APIs to cross platform.

[2017-10-10 00:03] #1378 closed

[2017-10-10 00:06] nmetulev commented on #1369
Hey @hermitdave, is this a bug pending a fix, or should this issue be closed?

[2017-10-10 00:07] nmetulev commented on #1368
Closing issue as can't reproduce and issue looks inactive

[2017-10-10 00:07] #1368 closed

[2017-10-10 00:10] nmetulev commented on #1364
This is a duplicate of #1233

[2017-10-10 00:11] nmetulev commented on #1360
Closing this issue as the platform does not yet support this feature

[2017-10-10 00:11] #1360 closed

[2017-10-10 00:12] nmetulev commented on #1351
Up?

[2017-10-10 00:16] nmetulev commented on #1321
@skendrot, are you still working on this one?

[2017-10-10 00:16] nmetulev commented on #1306
Up?

[2017-10-10 00:19] nmetulev commented on #1286
Seems question was answered, closing issue

[2017-10-10 00:19] #1286 closed

[2017-10-10 00:20] nmetulev commented on #1281
This issue was resolved with #1289 and shipped with 2.0

[2017-10-10 00:20] #1281 closed

[2017-10-10 00:21] nmetulev commented on #1262
HamburgerMenu will be depricated in the next release per #1465 and new features will no longer be added

[2017-10-10 00:21] #1262 closed

[2017-10-10 00:24] #1244 closed

[2017-10-10 00:25] nmetulev commented on #1226
@Vijay-Nirmal, awesome job with the new documentation. How do you feel about adding the template to make adding new documentation easier?

[2017-10-10 00:26] nmetulev commented on #1223
Any update here?

[2017-10-10 00:27] nmetulev commented on #1208
SlidableListItem will be deprecated in 2.1 per #1465 as this control will be available in the Fall Creators Update

[2017-10-10 00:27] #1208 closed

[2017-10-10 00:27] Swifter commented on #1543
@nmetulev  I believe it can.  Visual Studio was updated today for Fall Creators Update.

[2017-10-10 00:27] #1543 closed

[2017-10-10 00:29] nmetulev commented on #1177
Up?

[2017-10-10 00:31] nmetulev commented on #1172
Closing issue due to inactivity.

[2017-10-10 00:31] #1172 closed

[2017-10-10 09:04] Vijay-Nirmal commented on #1226
@nmetulev I will do it. Where should I create a template file (file directory)? template file name?

[2017-10-10 15:26] cbarkerms commented on #1223
@SpilledMilkCOM - please review https://github.com/Microsoft/UWPCommunityToolkit/pull/1433 - the idea is you can specify a custom query and supply your own custom type class.  this should give you the flexibility to return whatever data you like.  Can you please test whether this meets your requirements?

[2017-10-10 16:12] nmetulev commented on #1226
How about adding the template in the root of the docs directory? You can name it _template.md or .template.md?

[2017-10-11 02:26] nmetulev commented on #1142
@edwinvandriel, did you ever look into this? It looks like it was just a conflict between our ListViewBase and the platform ListViewBase

[2017-10-11 02:29] nmetulev commented on #1129
The codeblocks are part of the MarkDown standard we are using and unfortunately there is no way to disable those.

If you have a specific example that we could use that can help us look into it much more reliably. Closing this issue, but feel free to reopen.

[2017-10-11 02:29] #1129 closed

[2017-10-11 02:51] nmetulev commented on #1115
Closing question after period of inactivity. If there is a feature request, please create a new issue

[2017-10-11 02:51] #1115 closed

[2017-10-11 03:07] nmetulev commented on #1066
With the NavigationView now available and the HamburgerMenu getting deprecated ( #1465 ), this issue is no longer necessary as we will not be adding new functionality to the HamburgerMenu - only bug fixes

[2017-10-11 03:07] #1066 closed

[2017-10-11 03:15] nmetulev commented on #1060
HeaderedTextBlock seems to be working as expected with the VS 15.4 designer on x86 and x64. Feel free to reopen this issue if issue comes up again.

[2017-10-11 03:15] #1060 closed

[2017-10-11 03:21] nmetulev commented on #1037
Up?

[2017-10-11 03:42] nmetulev commented on #1023
I can't reproduce this with 15.4. @DanteGagne, can you confirm this was resolved on your end?

[2017-10-11 03:50] nmetulev commented on #952
Closing question after period of inactivity.

[2017-10-11 03:50] #952 closed

[2017-10-11 04:41] Vijay-Nirmal commented on #1465
Since some computers in Anniversary Update are not eligible to upgrade to Creators Update. Microsoft decided to support those computers until 2023. Source: [Microsoft cuts off Windows 10 support early for some PCs](http://www.zdnet.com/article/microsoft-blocks-windows-10-creators-update-on-some-pcs/).

So Microsoft will support these devices until 2023 but UWPCommunityToolkit won't. That seems odd

[2017-10-11 05:20] edwinvandriel commented on #1142
@nmetulev it happens with more extensions not only the ListViewBase. xBind just does not work when de the parameter isn't of type DependencyObject. The problem also existed when the extensions were named ListViewBaseExtensions and didn't had the platform ListViewBase name.

[2017-10-11 09:23] hermitdave commented on #1351
coming up

[2017-10-11 09:28] Odonno commented on #1023
@nmetulev A lot of bugs have been fixed in the last versions of Visual Studio. I do not have this bug anymore since 15.3.

[2017-10-11 09:49] Odonno commented on #1465
@Vijay-Nirmal Well, it looks like a security focus, not a business focus. I am pretty sure Microsoft will stay with the 2 simultaneously maintened Windows 10 versions where 90% of users are.

[2017-10-11 10:01] Vijay-Nirmal commented on #1465
@Odonno Agree, but Windows 10 Security Update (Microsoft) will have support for those devices until 2023 but  UWP Community Toolkit (Microsoft) won't.

Also, Windows 10 November Update on 10-10-2017(Yesterday) but why do we remove November Update support before Windows 10 (Microsoft) is removing it?

[2017-10-11 12:10] Odonno commented on #1465
@Vijay-Nirmal Well, it seems the support of these first Windows 10 versions (like Anniversary Update) have been expanded to additional months. But, in the Windows 10 Servicing Timeline, a Windows 10 major version should only be supported 1 year.

[2017-10-11 12:13] kaohlive opened #1549 "OneDrive Service: How to get items from Shared folders"
I am using the OneDrive Service connected to a personal OneDrive. The user has a folder that was shared by another personal OneDrive. The user included the shared folder into its own OneDrive.
When I use the workaround posted here to get the RootFolder

[code]

And than I get the folder the user selected by path; `var locatedFolder = await rootFolder.GetFolderAsync(userSelectedPath);` I do get the

[2017-10-11 12:38] Vijay-Nirmal commented on #1465
@Odonno Microsoft will support each Windows 10 version for 18 months

Source: [Windows and Office align feature release schedules to benefit customers](https://blogs.windows.com/business/2017/04/20/windows-office-align-feature-release-schedules-benefit-customers)

[2017-10-11 13:03] Vijay-Nirmal commented on #1465
@Odonno Right

[2017-10-11 19:14] nmetulev commented on #1023
Closing this issue as it appears to be resolved

[2017-10-11 19:14] #1023 closed

[2017-10-11 19:18] nmetulev commented on #1549
ping @EricVernie

[2017-10-11 23:20] Code-ScottLe commented on #1037
@nmetulev I don't remember this being addressed, but a lot of things have changed since then. Also., there is a workaround of clearing cache as mentioned above. You can close this if you want and I will re-open it if it is needed.

[2017-10-12 00:29] nmetulev commented on #1037
Ok, I'll close this issue, feel free to reopen or create a new issue if it re-appears.

[2017-10-12 00:29] #1037 closed

[2017-10-12 03:14] #1412 closed

[2017-10-12 03:15] #1451 closed

[2017-10-12 11:19] Vijay-Nirmal commented on #1465
@nmetulev Why was `PullToRefreshListView` removed from the list?

[2017-10-12 11:37] hermitdave commented on #1351
Whilst I have a tweak, I can't replicate this issue on captive portal. sorry finding captive portals is a pain and it took this long

[2017-10-12 17:04] nmetulev commented on #1465
I removed it after I realized that PullToRefresh is not in the latest FCU sdk. No point in deprecating it if there is no replacement

[2017-10-12 17:08] Vijay-Nirmal commented on #1465
@nmetulev Then, should the issues related to PullToRefresh be reopened?

[2017-10-12 17:12] nmetulev commented on #1465
Absolutely correct, will reopen them

[2017-10-12 17:13] nmetulev commented on #1380
PullToRefreshListView will not be deprecated until it is available in the platform, re-opening issue.

[2017-10-12 17:14] nmetulev commented on #1034
PullToRefreshListView will not be deprecated until it is available in the platform, re-opening issue.

[2017-10-13 19:55] nmetulev commented on #1505
PR merged

[2017-10-13 19:55] #1505 closed

[2017-10-13 20:43] Gh0s7 opened #1551 "ReorderGridAnimation with AdaptiveGridView: resizing animation issues"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

Resizing my window makes the animation fire for the grid.
Unfortunately, as you can see in the gif below, it only starts when you carefully resize the window (and it doesn't always happen).
In an everyday use-case, it produces a quite weird looking animation.

![](http://i.imgur.com/EgjDIIj.gifv)

[Imgur link if embed fails](h

[2017-10-13 21:15] skendrot commented on #1551
I don't think there is much we can do here. When we change the size of the items in the AdaptiveGridView, it fires the ContainerContentChanging event. This event is what drives the ReorderGridAnimation.

[2017-10-13 23:14] nmetulev commented on #1551
What happens when you don't have ReirderGridAnimation? If the same thing happens (without the animation), then it's probably a panel issue.

[2017-10-14 09:38] Gh0s7 commented on #1551
This is what happens without the animation:

[Imgur](https://i.imgur.com/aeK2C46.gifv)

I know it's a long gif, sorry for that, but you can see the items flashing and, sometimes, disappearing too. It doesn't look like the correct behavior to me.

[2017-10-15 15:03] OpportunityLiu opened #1553 "ScrollHeader covers focused item in listview"
## I'm submitting a...

[code]

## Current behavior

When `Mode` of a `ScrollHeader` is set to `QuickReturn` or `Sticky`, the focused item in the listview it belongs to will be covered by the header.

## Expected behavior

The focused item should scroll into visible range of the listview. (Instead of the top of listview, which works correctly when using a simple header.)

## Minimal reproduction o

[2017-10-16 11:42] WilliamABradley opened #1555 "Necessity of Build File Lines"
https://github.com/Microsoft/UWPCommunityToolkit/blob/e587b05d03c31dc013c6a00172f847ec874390c2/build/build.cake#L134-L136

@onovotny Are these lines required? I have mimicked this Build File, as well as Git Versioning, and new SDK Project Files in my https://github.com/WilliamABradley/PlatformBindingsFramework Library.

I now have better understanding of how this works, does the NuGet Install add

[2017-10-16 12:06] ThomasPe commented on #186
bumping https://github.com/Microsoft/UWPCommunityToolkit/issues/186#issuecomment-242217629

This would be really helpful.

[2017-10-16 12:14] onovotny commented on #1555
I believe that's mainly there to display the build version.

[2017-10-16 12:25] WilliamABradley commented on #1555
We probably don't need it then, that way we can chuck in the build.sh file, and get free Build compilation for people on other OSes. Although I have no idea how xBuild handles unbuildable projects, and I think there is a separate Cake Alias for it, so it would require some effort.

[2017-10-16 19:04] jhealy opened #1556 "object reference is not set to an instance of an object"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

Git pull the git repo into empty directory
Load "UWP Community Toolkit" into visual studio 15.4
All solutions build and load except for
Microsoft.Toolkit.UWP.SampleApp
Microsoft.Toolkit.UWP.Samples.BackgroundTasks

Attempt a 'reload' on them yields obscure dialog with 'object reference not set to an instance of an object' mess

[2017-10-17 01:53] nmetulev commented on #1556
Hey @jhealy, I'm unable to reproduce the issue, attempted with a clean clone with the same setup as yours. Aside from a VS reinstall, not really sure what else to suggest

[2017-10-17 01:54] nmetulev commented on #1555
Closing issue as it seems unrelated to the toolkit.

[2017-10-17 01:54] #1555 closed

[2017-10-17 02:09] nmetulev commented on #1185
The PR for this PR merged a while ago

[2017-10-17 02:09] #1185 closed

[2017-10-17 02:28] nmetulev commented on #353
After a discussion with @JustinXinLiu, we agreed that his control does not fit in well with the current requirements, it would require starting from scratch. Therefore opening this up for anyone to pick up.

[2017-10-17 02:32] nmetulev commented on #797
Closing issue without response

[2017-10-17 02:32] #797 closed

[2017-10-17 02:36] nmetulev commented on #825
#1209 is a duplicate of this, but closing this one because #1209 has longer discussion and more votes on stack uservoice.

[2017-10-17 02:36] #825 closed

[2017-10-17 02:46] nmetulev commented on #894
Closing as duplicate of #353

[2017-10-17 02:46] #894 closed

[2017-10-17 02:50] nmetulev commented on #923
This was added with #1336

[2017-10-17 02:50] #923 closed

[2017-10-17 02:59] nmetulev commented on #1146
Closing issue after no response

[2017-10-17 02:59] #1146 closed

[2017-10-17 03:01] nmetulev commented on #1351
Closing issue as unable to reproduce

[2017-10-17 03:01] #1351 closed

[2017-10-17 03:04] zipswich opened #1557 "404 Error for "StatusBarExtensions source code""
Clicking "StatusBarExtensions source code" on the DOCUMENTATION page of ViewExtensions results in 404 error.  The link is the following:
https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI/Extensions/StatusBar.cs

[2017-10-17 04:14] nmetulev commented on #1557
Thanks for reporting @zipswich , should be fixed now. Feel free to submit a PR next time to update the docs :)

[2017-10-17 04:14] #1557 closed

[2017-10-17 05:22] Vijay-Nirmal opened #1558 "Wrong sample output link in scale animation"
## I'm submitting a...
[code]

## Current behavior
Scale animation has sample output of fade
`![Scale Behavior animation](../resources/images/Animations/Fade/Sample-Output.gif)`

## Expected behavior
`![Scale Behavior animation](../resources/images/Animations/Scale/Sample-Output.gif)`

[2017-10-17 07:02] nmetulev commented on #1558
@Vijay-Nirmal , do you mind submitting a PR?

[2017-10-17 08:09] zipswich commented on #1557
Thanks, @nmetulev I tried but failed to get the get the toolkit project working on my computer.  Otherwise, I would find the culprit and file a PR for these things.

[2017-10-17 09:59] Vijay-Nirmal commented on #1558
@nmetulev Sure, but does it worth a PR? when you could directly modify the master branch.

Also, old sample output images of animations in [UWPCommunityToolkit/docs/resources/images/](https://github.com/Microsoft/UWPCommunityToolkit/tree/master/docs/resources/images) seems useless.

[2017-10-17 10:41] avknaidu commented on #1516
@nmetulev I had the same issue for one of my prototypes and i was able to fix it by changing Line 228 of `TableBlock.cs` to `if (pos < maxEndingPos && (markdown[pos] == '\n' || markdown[pos + 1] == '\n'))`. Basically i am also looking for next character as line feed for carriage return to complete the whole cell item. Works perfectly fine. Let me know if it is PR worthy.

Also note, this issue onl

[2017-10-17 15:59] nmetulev commented on #1557
No worries, Cool thing about the docs, they are all stored in markdown in the [docs folder](https://github.com/Microsoft/UWPCommunityToolkit/tree/master/docs), no need to get the project loaded in visual studio.

[2017-10-17 16:08] nmetulev commented on #1516
Nice, how do you feel about submitting a PR?

[2017-10-17 16:24] avknaidu commented on #1516
@nmetulev Will do it on thursday.

[2017-10-17 16:37] nmetulev commented on #1467
Bot is now live in the repo, thanks to @Odonno . Source code available at https://github.com/nmetulev/github-bot-uwp-toolkit

[2017-10-17 16:37] #1467 closed

[2017-10-17 16:46] nmetulev commented on #1558
Of course, feel free to submit the PR. For small things like this, I can merge it quickly

[2017-10-17 16:56] nmetulev commented on #1446
Quick update here, I looked into this. The ListViewHeaderItems are always kept up top no mater the Zindex. Tried forcing the ZIndexes but they keep getting ignored. It is possible the visuals are forced on top on the compositor level, and not sure how to override that behavior.

[2017-10-17 17:36] Odonno commented on #1334
I still see a great added-value on this control.

@hawkerm How is it going?

Otherwise, I am interested to see what @nmetulev used to render live XAML editing in the new Sample app.

[2017-10-17 17:38] cbarkerms commented on #1298
this will now be possible with https://github.com/Microsoft/UWPCommunityToolkit/pull/1433

your code will look something like this:

            TwitterDataConfig config = new TwitterDataConfig
            {
                QueryType = TwitterQueryType.Custom,
                Query = "/statuses/show.json?id=917790125190406144"
            };

            var result = await TwitterService.Instance.

[2017-10-17 18:01] Vijay-Nirmal commented on #1558
Closing the issue since PR was merged

[2017-10-17 18:01] #1558 closed

[2017-10-17 18:19] #1298 closed

[2017-10-17 18:22] nmetulev commented on #1334
The sample app is using @hawkerm's control :)

[2017-10-17 18:46] Odonno commented on #1334
@nmetulev Good. It looks like a really functional components.

[2017-10-17 21:25] hermitdave commented on #1324
@martinsuchan are we planning anything on this ? I think UserVoice would be a good start but this is a helper and IMO UV in this instance could be optional

[2017-10-17 21:26] hermitdave commented on #1369
There isn't a fix for this. This is by design and there isn't a way to avoid it.

[2017-10-17 21:26] #1369 closed

[2017-10-17 22:30] IbraheemOsama commented on #1226
@Vijay-Nirmal ping

[2017-10-18 05:31] Vijay-Nirmal commented on #1226
I will do it ASAP

[2017-10-18 09:43] touseefbsb commented on #1231
actually we are still waiting for this feature to be included in uwp community toolkit

[2017-10-18 09:44] touseefbsb commented on #1247
this feature should be included in near future update of uwp community toolkit

[2017-10-18 10:04] martinsuchan commented on #1324
I've an updated, basically rewritten version of this helper available locally. I'll take a look on it this weekend and upload it to my fork.

[2017-10-18 11:50] WilliamABradley commented on #1469
@nmetulev How do I keep this issue open?, I will get to it eventually :) It serves as a reminder.

[2017-10-18 13:10] Odonno commented on #1231
@touseefbsb But it seems we need help to figure out how to make this animation work.

[2017-10-18 13:16] Vijay-Nirmal commented on #1231
@Odonno Is it possible to copy the element to a flyout and scale the size of it?

[2017-10-18 13:21] Odonno commented on #1469
@WilliamABradley We're currently working to improve the bot experience. So don't worry, this issue will remain open.

[2017-10-18 13:26] touseefbsb commented on #1231
@Odonno  Yes I know community together should contribute to make this animation work. I posted this question a while ago because I thought it will help everyone, but so far I havent been able to come up with an ideal solution.

[2017-10-18 13:49] Odonno commented on #1231
@Vijay-Nirmal Maybe. Would have preferred a native 3D animation.

[2017-10-18 13:50] lukasf opened #1561 "Extensions naming collisions after upgrade to 2.0"
While it is a good idea to move extensions into their own namespace, it certainly is not a good idea to remove the "Extensions" postfix from the classes. Especially if that causes a naming collision with important existing framework classes.

If I include Microsoft.Toolkit.Uwp.UI.Extensions in my UI classes, I am suddenly forced to add the full namespace on every (real) ListViewBase, and I am forc

[2017-10-18 13:55] Vijay-Nirmal commented on #1231
@Odonno "native 3D animation" 😲

[2017-10-18 15:56] Odonno commented on #845
I found this blog post https://liftcodeplay.com/2016/02/18/combobox-with-editable-textbox/

Could be interested to create a good looking control to have both edition and selection of items at the same time.

[2017-10-18 18:20] nmetulev commented on #1561
I do agree with this, and I've run into this several times. I will add this to the 3.0 milestone

[2017-10-18 20:05] nmetulev commented on #1247
@touseefbsb, don't believe this is something that would make sense to include in the toolkit since there is a mechanism to enable the exact behavior you described by re-templating the ListViewItem. For example, here is a quick template that enables the behavior you requested: https://gist.github.com/nmetulev/0f35106300830398b4aee75e26c865b5

Every developer has a need for a different animation, an

[2017-10-18 20:05] #1247 closed

[2017-10-19 15:11] patrykpatryk opened #1562 "OrbitView Bug"
Can't turn on notification and navigation bar.  The problem is also in UWP Community Toolkit Sample App-Version 2.0.0.0 .
Windows 10 Mobile Build Number:
- 10.0.14393.1770
App min and target version:
- Anniversary Update (14393)
Device form factor:
- Mobile
Visual Studio
- 2017 15.3

[2017-10-19 20:49] kaohlive commented on #1549
please bot, leave it open, I am still looking for a solution to this question

[2017-10-19 21:08] nmetulev commented on #1562
Not sure what you mean, the OrbitView does not have notifications or navigation bar. Your issue is also missing the repro steps/project. Please add the missing information and we will re-open the issue

[2017-10-19 21:08] #1562 closed

[2017-10-20 05:15] gillesbergerp commented on #560
I just wanted to ask, if there are some news on this topic. I'm highly interested in a standalone calendar control - the built-in just offers far too less customization options.

[2017-10-20 16:49] patrykpatryk commented on #1562
two examples.
first: normal
second: using the View Orbital control
![i](https://user-images.githubusercontent.com/32934488/31832395-2396bbe2-b5c7-11e7-9a43-9f33db149a08.png)

[2017-10-20 17:52] nmetulev commented on #1562
Ah, I see. I remember there was a bug like this on phone in 14393 when you have drop shadow in the app (I bet the same happens on the DropShadowPanel page). This bug should be resolved in recent OS builds.

[2017-10-20 18:07] patrykpatryk commented on #1562
Thank You for your reply.

[2017-10-21 08:26] Odonno commented on #1480
@taha3azab Do you have a repro project?

[2017-10-21 21:18] nmetulev commented on #1551
I submitted a fix for this (#1552), should resolve this issue

[2017-10-21 21:22] nmetulev commented on #560
There is no updates, we should have a uservoice entry for this in order to gauge the need of the community. Do you mind creating one [here](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit)?

[2017-10-21 22:39] nmetulev commented on #1034
#1564 should resolve this

[2017-10-21 23:35] nmetulev commented on #1380
#1564 enables this behavior

[2017-10-22 02:06] nmetulev commented on #887
#1564 resolves this issue

[2017-10-22 02:08] nmetulev commented on #21
Opening up to others if they want to pick it up

[2017-10-22 02:10] nmetulev commented on #1015
Closing issue per #1465

[2017-10-22 02:10] #1015 closed

[2017-10-22 02:20] nmetulev commented on #1251
Updated docs https://github.com/Microsoft/UWPCommunityToolkit/commit/b0b620eb2db3d97167f98e3fa8ffe3fb78ec428c

[2017-10-22 02:20] #1251 closed

[2017-10-22 02:21] nmetulev commented on #1410
ping @shenchauhan

[2017-10-22 02:42] nmetulev commented on #1385
Tried to reproduce issue with both Sticky and QuickReturn by placing the ListView in a Grid with x:DeferLoadStrategy="Lazy". After calling FindName to initialize the Grid, the ScrollHeader worked as expected. Closing issue as can't reproduce. If you are still having this issue, please share a repro project.

[2017-10-22 02:42] #1385 closed

[2017-10-22 02:50] nmetulev commented on #1553
#1565 resolves this issue

[2017-10-22 02:53] nmetulev commented on #1321
ping @skendrot

[2017-10-22 07:16] avknaidu commented on #1516
@nmetulev ping

[2017-10-22 11:16] gillesbergerp commented on #560
I just created a uservoice entry. It can be found [here](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/31977010-add-custom-calendarview-control).

[2017-10-22 18:08] nmetulev commented on #560
Nice, time to spread the word :)

[2017-10-23 12:19] xied75 commented on #1465
Late to the discussion here.

1, From my observation, lots of code/control is in fact able to support earlier versions, because they are not calling anything newer in the SDKs.

2, Being a developer, I'll always try to **NOT** use fancy new APIs if old things also work. Why would I not want to support as wider the OS versions as possible?

3, May I suggest to Document everything that 'once' existe

[2017-10-23 17:50] nmetulev commented on #1465
Hey @xied75, great points there.

On 1 and 2, we agree 100%. Deprecating control does not mean they will be removed from the toolkit immediately. They will remain in the toolkit but create a warning to let developers know that the controls will be removed in the future when it makes sense for most developers to have already moved to the platform controls.

On 3, great suggestion. The docs could st

[2017-10-23 18:19] Vijay-Nirmal commented on #1465
@nmetulev I think [Principle #3](https://github.com/Microsoft/UWPCommunityToolkit#principles) should be changed to (as per the [#1465#issuecomment-335795784](https://github.com/Microsoft/UWPCommunityToolkit/issues/1465#issuecomment-335795784) )

[2017-10-23 18:20] dotMorten commented on #1465
@Vijay-Nirmal @nmetulev Why not support it for the duration of the OS version that is supported? (ie 10240 is no longer in support, and 10586 is soon out of support, so it would make sense to tie it to that support cycle)

[2017-10-23 18:27] Vijay-Nirmal commented on #1465
@dotMorten I am saying the same thing ("supported for three Windows SDK"). Microsoft will support each Windows 10 version for 18 months. (Copy Paste of my above comment)

Source: [Windows and Office align feature release schedules to benefit customers](https://blogs.windows.com/business/2017/04/20/windows-office-align-feature-release-schedules-benefit-customers)

Also, 10586 already ended support

[2017-10-23 19:45] nmetulev commented on #1218
ping @JustinXinLiu, @skendrot, should we just add the setters in default styles for this one? Too late to do any breaking changes

[2017-10-24 16:44] cbarkerms opened #1568 "Add .NET Standard support for OneDrive service"
## I'm submitting a...

[code]

## UserVoice link

https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/32004532-add-net-standard-support-for-onedrive-service

## Current behavior

OneDrive service currently only supported from UWP apps.

## Expected behavior

Be able to consume OneDrive service from Xamarin apps or any that support .NET Standard.

## Minimal reproducti

[2017-10-24 20:27] nmetulev commented on #1499
@theweavrs, were you planing on implementing this one? If so, I'll set the milestone for 2.1

[2017-10-24 20:33] nmetulev commented on #1432
PR is merged

[2017-10-24 20:33] #1432 closed

[2017-10-24 20:44] nmetulev commented on #1223
Closing issue.

@SpilledMilkCOM, if the recent changes to the Twitter service are not enough for what you need and you believe you can improve it even further, let us know and we will reopen this issue

[2017-10-24 20:44] #1223 closed

[2017-10-24 22:05] nmetulev commented on #1549
@EricVernie is following up with the graph team, we will update this issue once there is an update.

[2017-10-24 22:39] nmetulev commented on #1231
I have to admit, I am not convinced this fits in the toolkit. @Vijay-Nirmal answer on SO is perfectly reasonable for anyone that wants to do this. The toolkit should continue enabling developers to build cool experiences such as this by providing tools and helpers (such as the AnimationSet api used in the answer or the new composition XAML helpers in #1567), but leave specific implementation like

[2017-10-24 22:41] nmetulev commented on #1465
We are currently supporting the same SDKs, and I don't expect that to change much in the future. :)

[2017-10-25 00:44] JustinXinLiu commented on #1218
Yeah that'd be the easiest way to fix it for now, unless @skendrot has already started the changes he proposed earlier?

[2017-10-25 02:20] nmetulev commented on #1159
Opening this up for anyone that might want to do it.

[2017-10-25 02:26] nmetulev commented on #1497
This still seems like a great addition to the toolkit, has there been any progress?

[2017-10-25 03:17] hermitdave commented on #1497
The issue here is that there is no way to query for classes and it's members from within the framework.

This means that we will have to provide a hardcoded list with each version. This isn't scalable. We need some input from SDK team here.

[2017-10-25 07:44] Vijay-Nirmal opened #1569 "Issues in AnimationSet doc"
## I'm submitting a...

-  Bug report
- Documentation issue or request

## Current behavior
1. AnimationSet is at last position
![chrome_2017-10-25_13-07-16](https://user-images.githubusercontent.com/24755596/31986271-77390176-b985-11e7-9445-eb77ce8b2822.png)

2. `*** Text ** Text *` - This markdown format is broken in Docs. This occurs in all docs.
![chrome_2017-10-25_13-06-01](https://user-image

[2017-10-25 07:55] Vijay-Nirmal opened #1570 "We should use XAML instead of XML in Doc"
## I'm submitting a...

- Documentation issue or request

## Current behavior

We should use XAML instead of XML. It may cause confusion. This issue is related to all UWPCommunityToolkit docs.

![chrome_2017-10-25_13-23-51](https://user-images.githubusercontent.com/24755596/31986934-c50fbb4a-b987-11e7-9220-539b7aba366e.png)

![chrome_2017-10-25_13-19-14](https://user-images.githubusercontent.com/2

[2017-10-25 08:50] bartlannoeye commented on #1497
Can't you use the contract's XML files (under program files) to work out diffs? I'm not on a Win10 device right now, so don't know how detailed the contract files are.

[2017-10-25 09:45] jhealy commented on #1556
Resolved.  Clean install of vs on new machine.  Had installed but not opened C++ tools in VS2017.  Needed to open C++ tools in VS2017.  Not ya'lls issue.  Thanks..

[2017-10-25 09:45] #1556 closed

[2017-10-25 10:20] WilliamABradley commented on #1081
@nmetulev Should this be closed? My control doesn't cover inking, but it has similarity to OneNotes Toolbar. Inking could be added manually be using Custom Buttons.

[2017-10-25 10:27] WilliamABradley commented on #1125
Anything being done here?
@QuinnDamerell What are your thoughts?
This Control should support other Markdown Specs shouldn't it?
I would think something like this covers a lot of usage across many websites.

[2017-10-25 10:28] Vijay-Nirmal commented on #1081
@WilliamABradley

Toolbar part is over but there is no Canvas that can display and editing both Text and Inking.

[2017-10-25 10:34] WilliamABradley commented on #1081
Take the RichEditBox, the Inking Canvas, and the Inking Toolbar, add a Custom Button to the TextToolbar that enables the Inking Canvas over the top of the text, and make the Inking Toolbar appear over the TextToolbar.

I'm not sure that RichEditBox supports native inking and usage at the same time, I think you can only use one or the other. Microsoft's Implementation in any of their office suite u

[2017-10-25 10:40] Vijay-Nirmal commented on #1081
@WilliamABradley I have tried that but it is difficult than we think. [RichInkTextBox-CustomControl](https://github.com/Vijay-Nirmal/RichInkTextBox-CustomControl)

There are many issues in this approach.

[2017-10-25 13:37] hermitdave commented on #1497
I'll take a look if i can manage tonight. On holiday so it's a bit hectic right now

[2017-10-25 13:39] Vijay-Nirmal commented on #1187
FCU was released. Is there is any hope for this issue?

[2017-10-25 17:06] skendrot commented on #1306
Should this issue remain open with the new navigation view coming out?

[2017-10-25 17:19] nmetulev commented on #1187
I can see the benefit here, really, so I think there is hope. But I'm not sure if there is a big enough need in the community for it. If we do decide to do it, would you be able to do it? Either way, we should have user voice for it, can you create one?

[2017-10-25 17:44] nmetulev commented on #1497
@bartlannoeye, that's a great idea. I did a quick search in the *Program Files (x86)\WindowsKits\10* folder where each SDK is stored, and found the XMLs in the *References\[SDK build num]\Windows.Foundation.UniversalApiContract\[contract number]\en* folders.

[2017-10-25 17:48] nmetulev commented on #1081
It's most likely a custom control written in C++. But I agree, there is a need for an infinite canvas type control that supports inking and text. And it looks like the community agrees given the response on User Voice. @Vijay-Nirmal, do you mind creating a new issue to create the new control and closing this one?

[2017-10-25 17:50] nmetulev commented on #1125
If someone wants to pick this one, feel free. Agree that the control can use improvement.

[2017-10-25 17:51] nmetulev commented on #1570
Agree, do you think you can submit a PR to update the docs?

[2017-10-25 17:51] Vijay-Nirmal commented on #1187
I have created UserVoice: [Use ContentPresenter in MasterDetailsView instead of ListView](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/32019970-use-contentpresenter-in-masterdetailsview-instead)

Can I spread the word about this UserVoice in other issues related to this one?

[2017-10-25 17:52] nmetulev commented on #1569
Great catch. Feel free to submit a PR to fix these :)

[2017-10-25 17:53] nmetulev commented on #1187
Of course :)

[2017-10-25 17:55] Vijay-Nirmal commented on #1569
@nmetulev This issue is related to doc team I think because in GitHub it shows properly.

[2017-10-25 18:00] Vijay-Nirmal commented on #1570
Sure, I will do it but I can only do this, this weekend. I am in the middle of exams.

[2017-10-25 18:05] Vijay-Nirmal commented on #1081
@nmetulev Sure

[2017-10-25 18:15] nmetulev commented on #1569
1. we can edit the [toc](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/docs/toc.md) file to change the order

2. @dend might have an insight on number 2

[2017-10-25 18:19] Vijay-Nirmal commented on #1569
I will submit a PR to fix the first one.

[2017-10-25 18:24] Vijay-Nirmal opened #1572 "Create a Canvas that support Text (Like RichEditBox) and Inking (Like InkCanvas)"
## I'm submitting a...

- Feature request

## Description
Link to original issue #1081

It is very difficult to Create a Custom RichEditBox with all the basic features Like Text Formatting, Bullets and numbering, Support for Inking Like OneNote and also to support adaptive layout, that's too much work for basic Text editing. To make it easy we need two controls

1. Toolbar for text formatting - We

[2017-10-25 18:56] nmetulev commented on #1572
The requirements here are to build an Infinite Canvas that supports:

- [ ] inking
- [ ] rich text
- [ ] scroll and zoom
- [ ] virtualization

Open to anyone that wants to pick this up.

[2017-10-25 18:58] nmetulev commented on #1081
Closing issue

[2017-10-25 18:58] #1081 closed

[2017-10-25 19:51] bartlannoeye commented on #1497
Those are the files I meant.

[2017-10-26 02:58] nmetulev commented on #1226
The API documentation is now live at https://docs.microsoft.com/en-us/dotnet/api/?term=uwp . We should update each documentation to link to the appropriate api docs and make sure the documentation template has a place for this.

[2017-10-26 07:57] Vijay-Nirmal commented on #1572
@nmetulev

What do mean by zoom? no one will zoom in a text editor (OR) do you meant allow devs to scale the whole canvas something like MS Word.

![winword_2017-10-26_13-23-52](https://user-images.githubusercontent.com/24755596/32041220-f446f35a-ba50-11e7-98d0-54b09942e4f8.png)

I have created a checklist in my post. Please edit it if there are any future ideas.

[2017-10-26 08:44] WilliamABradley commented on #1572
Wouldn't the format of things like this require a special Markup or something to store such output?
Microsoft obviously uses the Proprietary Office Formats such as DocX, etc.

Replicating a control like this would be a massive undertaking, wouldn't it?
RTF doesn't have the capability to store Ink does it?

[2017-10-26 11:48] Vijay-Nirmal commented on #1226
@nmetulev How to use API links?

We can't use something like below link. This link will be static. We need to change the link for every release.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.uwp.ui.animations.easingtype?view=uwp-toolkit-ui-animations-2.0.0

[2017-10-26 16:50] nmetulev commented on #1570
PR merged, thanks @Vijay-Nirmal

[2017-10-26 16:50] #1570 closed

[2017-10-26 16:55] nmetulev commented on #1572
@Vijay-Nirmal, correct on zoom. For example, OneNote allows you to zoom in and out of the canvas

@WilliamABradley, agree, this will be more complex then most other controls in the toolkit, but not by much. There will be a need for a custom format, but shouldn't be too complex. Quick approach would be to store the RTF and inking separately and just keep track of them and their location in a json/x

[2017-10-26 17:01] Vijay-Nirmal commented on #1572
@nmetulev What is the use of virtualization in this control?

[2017-10-26 17:13] nmetulev commented on #1226
I tried https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.uwp.ui.animations.easingtype?view=uwp-toolkit-ui-animations and it looks like it takes you to the latest version, seems to work

[2017-10-26 17:16] nmetulev commented on #1572
Canvas such as this that can have infinite size can create performance issues if you keep all the content in memory, especially if there is a lot of content outside of the screen. Virtualization allows to only keep the UI in memory that is on screen (and a bit off screen) and still be able to scroll, zoom, and do everything else

[2017-10-26 17:21] Vijay-Nirmal commented on #1572
Middle button click to scroll

![gif](https://user-images.githubusercontent.com/24755596/32067220-11811c44-baa0-11e7-9d40-38bac7eaf805.gif)

[2017-10-26 18:38] yavuzozge opened #1575 "Update Robmikh.CompositionSurfaceFactory to 0.7.3"
## Update Robmikh.CompositionSurfaceFactory to 0.7.3
Robmikh.CompositionSurfaceFactory has been recently update to 0.7.3 which works with binskim task scans in VS Online builds.

[code]

## UserVoice link

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2017-10-26 19:08] Vijay-Nirmal commented on #1226
I have the warning message. As an official doc, We should use a proper URL.
![chrome_2017-10-27_00-36-18](https://user-images.githubusercontent.com/24755596/32072112-1893db7a-baaf-11e7-9c06-e75d2307ab5c.png)

[2017-10-26 19:28] nmetulev commented on #1575
Sounds reasonable. @yavuzozge, do you fancy submitting a PR?

[2017-10-26 21:51] skendrot commented on #1218
I'll work on getting the above properties added without making breaking changes

[2017-10-27 01:48] nmetulev commented on #1226
Try this: https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.uwp.ui.animations.easingtype

[2017-10-27 01:51] nmetulev commented on #1142
I'm ok with leaving the extensions the way they are unless someone has any concerns, seems to be working currently.

[2017-10-27 10:41] darshanrampatel commented on #1328
@hermitdave @Code-ScottLe Do you want to make a PR to adjust the template to add the `Visibility` property changing in the VisualStates? I can't see any negative impact from this.

[2017-10-27 12:51] EricVernie commented on #1549
As a workaround could you test this ?

 HttpRequestMessage httpRequestMessage = new HttpRequestMessage(HttpMethod.Get, "https://api.onedrive.com/v1.0/drive/oneDrive.sharedWithMe");
                await OneDriveService.Instance.Provider.AuthenticationProvider.AuthenticateRequestAsync(httpRequestMessage);
                var response = await OneDriveService.Instance.Provider.HttpProvider.SendAsync(

[2017-10-27 14:49] hermitdave commented on #1328
I'll have a go when i get back to UK.. Getting little computer time while on holiday

[2017-10-28 21:14] premiaware opened #1577 "Microsoft Translator Sample not working"
I have try to use the Microsoft traslator services, i have created the Azure cognitive Service and i take the Subscription Key.
I have compiled the UWP Toolkit sample, select Translator Services, Inserted the Key, Insert the text to translate "Hello World!!", press the "Get Languages" Button.
The Exception is throw in code:

 Shell.Current.DisplayWaitRing = true;
Languages.ItemsSource = null;
_tra

[2017-10-28 23:57] IbraheemOsama commented on #1572
Seems like an interesting challenge :)

[2017-10-29 20:40] kaohlive commented on #1549
I am not sure how or when to use that code. Id I just call the code I get a nice json in the jsonShareditem with all the folders shared with me and some meta info about them, including the drive id's of the onedrives that are the parent of those folders.
I am still lost on how to than access the drive with the actual files on them.
Interesting enough it gave me the idea to try:
`await OneDriveServ

[2017-10-29 22:44] kaohlive commented on #1549
https://docs.microsoft.com/en-us/onedrive/developer/rest-api/api/drive_sharedwithme
Its that piece, yes we get a list of folders that are shared with me, but to access them
`GET /drives/{remoteItem-driveId}/items/{remoteItem-id}`
And that part seems not to be possible