[2016-06-17 22:01] deltakosh opened #1 "Ensure templated controls' dependency properties' defaults are not being set in the control"
These should be set in the control's style. For example, HamburgerMenu.

[2016-06-17 22:01] deltakosh opened #2 "Fix bug with hamburgermenu and right align"
Go to the sample app and onthe hamburger test page select right for PanePlacement

[2016-06-17 22:03] deltakosh opened #3 "Services - Facebook - Add Better Attribute Support for Feed Query"

[2016-06-17 22:03] deltakosh opened #4 "Services - Facebook - Add Better Query Property Support"

[2016-06-17 22:06] deltakosh opened #5 "Services - Facebook - Add Permissions Property"

[2016-06-17 22:08] deltakosh opened #6 "Composition : Visual Studio Designer Integration"

[2016-06-17 22:09] deltakosh opened #7 "Automate NuGet packages creation"

[2016-06-17 22:09] deltakosh opened #8 "Redo all icons for SampleApp"

[2016-06-17 22:11] deltakosh opened #9 "Port WinUX"

[2016-06-17 22:12] deltakosh opened #10 "Design SampleApp"

[2016-06-17 22:13] deltakosh opened #11 "Port PullToRefreshView from Comet"

[2016-06-17 22:13] deltakosh opened #12 "Services - Create Share Behavior for simple share via Providers"

[2016-06-17 22:14] deltakosh opened #13 "Services - Resolve PCL and WinRT component conflicts"

[2016-06-17 22:14] deltakosh opened #14 "Services - Add Facebook Login support to Facebook Provider"

[2016-06-17 22:14] deltakosh opened #15 "Services - Port remaining AppStudio Data Providers"

[2016-06-17 22:26] deltakosh opened #16 "Port Live tile from Callisto"

[2016-06-17 22:28] xyzzer opened #17 "Update the Color parser from WRTXT to the later version"
The current version is based on
http://winrtxamltoolkit.codeplex.com/SourceControl/latest#WinRTXamlToolkit/WinRTXamlToolkit.Shared/Imaging/ColorExtensions.cs

There is an updated version in the new location of the WRTXT
https://github.com/xyzzer/WinRTXamlToolkit/blob/master/WinRTXamlToolkit/Imaging/ColorExtensions.cs

[2016-06-20 08:46] hermitdave opened #19 "ImageEx - add placeholder image and other relevant bits"
Having a placeholder image gives a good user experience and we should add this to ImageEx control.
- PlaceholderImageSource
- PlaceholderImageStretch
- PlaceholderAnimationDuration
- Need to allow Source Property to get set to null as using the control within ListView Itemtemplate with large number of images will require system to set unset the source.
- For a non zero animation duration, use comp

[2016-06-22 17:41] #11 closed, assigned to nmetulev

[2016-06-23 21:07] hermitdave opened #21 "Staggered Grid / Staggered Panel"
We need a Staggered Grid control that works like wrap grid but can take different sized images (rendered equal width / different heights. Alternatively we could create a Panel that renders items in staggered manner and this can be consumed from GridView by setting ItemsPanel

1) Implement virtualization
2) Each column maintains the current height and the next item is set in the column that fits it

[2016-06-24 18:00] #12 closed, assigned to nobody

[2016-06-27 17:12] #5 closed, assigned to nobody

[2016-06-27 17:12] #13 closed, assigned to deltakosh

[2016-06-27 17:12] #14 closed, assigned to deltakosh

[2016-06-27 17:12] #4 closed, assigned to nobody

[2016-06-27 23:44] #3 closed, assigned to nobody

[2016-06-27 23:46] deltakosh opened #24 "Bing Services - Add support for Videos and photos search"
Add enums to specify more precisely the kind of search we want to do

[2016-06-27 23:47] deltakosh opened #25 "Bing Services - Add support for AppID"

[2016-06-27 23:48] deltakosh opened #26 "Twitter Service - Add support for image in tweets"

[2016-06-27 23:50] deltakosh opened #27 "Facebook Service - Allow pictures to be shared on wall as well"

[2016-06-27 23:52] deltakosh opened #28 "Create login and share button controls for services"
Share to Facebook
Share to Twitter

[2016-06-29 19:59] #2 closed, assigned to nobody

[2016-07-01 16:51] #19 closed, assigned to hermitdave

[2016-07-01 16:53] #1 closed, assigned to deltakosh

[2016-07-01 17:35] deltakosh opened #32 "Add keyboard support for Carousel"

[2016-07-01 17:37] deltakosh opened #33 "SlideableItem should only work with touch (per design guidelines)"

[2016-07-05 17:47] #6 closed, assigned to nobody

[2016-07-05 17:51] shenchauhan opened #36 "Add a back button to sample app navigation"
When the user clicks on a sample within the sample app the back button should appear.

[2016-07-05 17:53] shenchauhan opened #37 "Add SampleCategory name to SamplePicker pages"
When a sample category is selected from the split view menu the main content page needs a title. This should be pulled from the JSON file.

[2016-07-05 21:21] #37 closed, assigned to shenchauhan

[2016-07-05 21:21] #36 closed, assigned to shenchauhan

[2016-07-06 20:03] #26 closed, assigned to deltakosh

[2016-07-06 20:11] #27 closed, assigned to deltakosh

[2016-07-06 20:47] deltakosh opened #38 "[SampleApp] Code preview does not reflect edited values"

[2016-07-06 20:50] #33 closed, assigned to nmetulev

[2016-07-13 22:27] deltakosh opened #41 "When hitting back button, the code panel is not hidden"

[2016-07-13 22:28] #10 closed, assigned to nobody

[2016-07-13 23:22] deltakosh opened #42 "Add service support for LUIS"

[2016-07-13 23:22] deltakosh opened #43 "Add service support for Cognitives Services - OCR"
https://www.microsoft.com/cognitive-services/en-us/computer-vision-api

[2016-07-13 23:23] deltakosh opened #44 "Add service support for Image recognition (Cortana services)"

[2016-07-13 23:34] deltakosh opened #45 "Rework facebook sample code to make it clearer"

[2016-07-14 16:40] #38 closed, assigned to deltakosh

[2016-07-14 16:40] #41 closed, assigned to nobody

[2016-07-15 14:38] #45 closed, assigned to deltakosh

[2016-07-15 15:14] #17 closed, assigned to xyzzer

[2016-07-15 16:21] anbare opened #50 "Add WrapPanel control"
Old school XAML had a WrapPanel, but UWP doesn't. HTML supports this natively (if items don't fit on the current line, they simply wrap to the next line).

UWP XAML has "WrapGrid" and "VariableSizedWrapGrid", but these don't allow truly variable sized items, despite their name. They both take a dependency on the first item's width. The VariableSizedWrapGrid allows different sizes, but the sizes ha

[2016-07-15 18:11] shenchauhan opened #51 "Create Blur behavior"

[2016-07-16 01:29] unniravindranathan-okta opened #53 "Move to target 10586 SDK?"
Is there a reason why we are still targeting 10240? It leads to weird VS experiences since most new users will only have 10586. Note that this will only mean we are compiling with 10586, but the code will still work on 10240.

If there is no objection, I would like to move to targeting 10586.

[2016-07-18 16:21] #51 closed, assigned to shenchauhan

[2016-07-18 16:23] deltakosh opened #54 "Add keyboard support for VariableSizedGridView"

[2016-07-18 16:24] deltakosh opened #55 "Add keyboard support for responsiveGridView"

[2016-07-18 16:24] #15 closed, assigned to deltakosh

[2016-07-18 20:03] #32 closed, assigned to nobody

[2016-07-18 20:03] #54 closed, assigned to deltakosh

[2016-07-18 20:03] #55 closed, assigned to deltakosh

[2016-07-18 22:35] #53 closed, assigned to unniravindranathan-okta

[2016-07-19 17:31] deltakosh opened #58 "Present code samples for helpers"
(like stream or storageFile helpers)

[2016-07-19 18:30] #16 closed, assigned to dotMorten

[2016-07-27 02:46] deltakosh opened #65 "Add code only version of parallax behavior"

[2016-07-27 02:48] deltakosh opened #66 "Move all projects to minVersion = 10586"

[2016-07-27 18:08] shenchauhan opened #69 "Create a carousel using composition"
Creating a carousel that uses composition.

[2016-07-27 22:09] #65 closed, assigned to ScottIsAFool

[2016-07-27 23:12] #7 closed, assigned to pedrolamas

[2016-07-27 23:15] deltakosh opened #71 "Fix sample properties display when opening multiple samples"

[2016-07-28 16:57] #66 closed, assigned to nobody

[2016-07-28 17:54] shenchauhan opened #73 "Create Ticker control"
Create a ticker control with nice animation when changing numbers.

[2016-07-28 18:40] deltakosh opened #74 "Add code sample for parallax"
Only xaml so far

[2016-07-28 21:01] deltakosh opened #75 "Provide a new sample for parallax"

[2016-07-28 21:05] #71 closed, assigned to deltakosh

[2016-07-28 21:54] jasonshortphd opened #76 "Facebook Service typeload Failure"
Create a new project and ONLY reference the Microsoft.Windows.Toolkit.Services assembly.

Attempting to reference: Microsoft.Windows.Toolkit.Services.Facebook.FacebookService.Instance.WindowsStoreId results in a typeload exception.

Additional information: Could not find Windows Runtime type **'winsdkfb.FBSession'**.

Are we going to add an additional dependency on the services assembly or require

[2016-07-28 22:43] jasonshortphd opened #77 "Twitter post always tries to append a mediaid"
When just entering a plain string I still see that the code is attempting to add a media_id on the end of the URL.

https://api.twitter.com/1.1/statuses/update.json?status=testing%20from%20within%20an%20app&media_ids=

[2016-07-28 22:47] #77 closed, assigned to nobody

[2016-07-28 23:37] #76 closed, assigned to nobody

[2016-07-29 00:44] jasonshortphd opened #79 "Typeload Exception"
New project created with 5.1.1 Core runtime.  I added the Facebook SDK ( as described here: https://github.com/Microsoft/UWPCommunityToolkit-docs/blob/master/en-us/uwp-community-toolkit/services/facebook.md ).

At project load I still get this exception loading.  I am referencing the Microsoft.Toollit.Uwp.Services, and winsdkfb libraries.

{"Requested Windows Runtime type 'winsdkfb.winsdkfb_uwp_Xa

[2016-07-29 18:53] #79 closed, assigned to nobody

[2016-07-29 18:53] deltakosh opened #81 "Finish readme.md"

[2016-07-29 21:07] #75 closed, assigned to nobody

[2016-07-29 21:07] #74 closed, assigned to ScottIsAFool

[2016-08-01 17:11] deltakosh opened #82 "Have Bing services automatically detect the current region"

[2016-08-01 17:25] deltakosh opened #83 "Make twitter and facebook working on headless devices (iOT)"

[2016-08-01 18:04] deltakosh opened #84 "Add AnimationSet.ContinueWith"

[2016-08-02 03:44] #84 closed, assigned to nmetulev

[2016-08-02 20:37] deltakosh opened #89 "Add timing delay for rotatorTile"
So far it's between 5 and 10 s
We need to make it configurable

[2016-08-02 21:26] deltakosh opened #91 "Move animations to 14393 SDK"

[2016-08-02 21:33] #91 closed, assigned to nobody

[2016-08-02 22:21] dupuyjs opened #93 "Add FacebookPermissions field in FacebookOAuthTokens for Initialization"
We cannot set permissions at the moment by using only FacebookService.Instance.Initialize(FacebookOAuthTokens) signature.

[2016-08-02 22:45] deltakosh opened #94 "Add documentation links to nuget packages + open doc page when referencing a package"

[2016-08-02 23:06] #8 closed, assigned to nobody

[2016-08-02 23:32] nmetulev opened #97 "Update namespace in xaml.bind files in samples app"
Some bind files are still using old namespaces and need to be updated to the new namespace:

[code]

[2016-08-03 00:01] deltakosh opened #100 "Add support for Twitter errors"

[2016-08-03 15:20] #97 closed, assigned to nobody

[2016-08-03 16:51] dupuyjs opened #104 "BlurBehavior does not automatically starts in Xaml"
It works fine in C#. If I trigger manually StartAnimation no problem reported.
Test has been done with nugget package v0.0.7-build00002.

[2016-08-03 17:15] jasonshortphd opened #106 "Add a 2d grid view as a table"
This is an internal request from HockeyApp team:

See me for more details.

[2016-08-04 15:48] nmetulev opened #109 "SlidableListItem replace storyboarding with composition and optimize element loading"
Feedback received
 - Too abrupt transition once threshold is reached. An animation (possibly with a slight bounce) would feel a lot better.
 - Looks like all elements are created from the beginning, even though none of them are visible and most of them are likely never be visible. In the current example, each SlidableListItem is made of 20 elements. The real content is just 6 of those (70% overhea

[2016-08-04 15:49] nmetulev opened #110 "PullToRefreshListView refreshes on bounce, needs perf optimization"
Feedback received:
 - If I flick towards the top fast it bounces off (as it should) and triggers a refresh (which it shouldn’t). Inertia shouldn’t ever trigger a refresh.
 - Using CompositionTarget.Rendering is not a good idea and can impact smooth scrolling, especially on low-end devices. It should be possible to use ExpressionAnimations instead and make the animation completely independent of th

[2016-08-04 16:18] jasonshortphd opened #111 "Unhandled Exception in Blue Control within Sample"
Feedback from Garage user.  Says that just hitting apply in Sample app on Blur causes unhandled exception.  I could not repro, and I have asked what build of the OS he is running.  Just wanted to capture the issue so someone could look at it.

[2016-08-04 16:38] jasonshortphd opened #112 "Pull to refresh doesn't work with a mouse"
Developer asked to have the option to enable for mouse the same as we do for the swipe gesture.

[2016-08-04 17:21] #100 closed, assigned to nobody

[2016-08-04 17:40] #111 closed, assigned to nobody

[2016-08-04 19:24] #81 closed, assigned to deltakosh

[2016-08-04 21:12] ScottIsAFool opened #115 "Add an Expander control"
Like the one silverlight used to have.

[2016-08-05 15:14] #93 closed, assigned to nobody

[2016-08-11 18:00] #104 closed, assigned to dupuyjs

[2016-08-11 18:06] #94 closed, assigned to deltakosh

[2016-08-11 21:50] deltakosh opened #126 "Add DropShadows to Animations"

[2016-08-12 23:46] dotMorten opened #129 "Add ItemTemplateSelector property to AdaptiveGridView"
Since an AdaptiveGridview will often show a bunch of items, it would be useful to be able to use a an item template selector.

[2016-08-13 05:52] dotMorten opened #131 "AdaptiveGridView: When items are fewer than calculated column count items aren't resized correctly"
Set the desired size really low and only add a few items to the AdaptiveGridView. Resize the window and notive how the items "jitter" in size. Instead the items should fill the first row.

[2016-08-15 14:29] #131 closed, assigned to dotMorten

[2016-08-15 21:43] #58 closed, assigned to nobody

[2016-08-16 16:56] deltakosh opened #137 "Update animations bind information to reflect parameters position"
value is #1 now

[2016-08-16 17:00] deltakosh opened #138 "Add icon to nuget packages"

[2016-08-17 00:40] deltakosh opened #140 "[sample app] about page should not be opened twice"
Can open multiple instances of the about page. We should block this.

[2016-08-17 00:41] deltakosh opened #141 "[sample app] hitting back from about page hides property window"
Launch app. Tap 'Controls' menu option. Tap 'AdaptiveGridView'. Note the section at the bottom or the side of the images, with the chevron and the caption "AdaptiveGridView". Tap 'About' menu option. Tap Back. Note that only the images are now visible and the option at the sided/bottom is not accessible, even if resize the app. (This also happens if the details section is expanded when launch the

[2016-08-17 00:42] deltakosh opened #142 "[sample app] changing minimum too quickly breaks range selector demo"

[2016-08-17 19:54] deltakosh opened #143 "Add link to facebook and twitter doc in sample pages"

[2016-08-17 23:22] rmarinho commented on #43
@PedroLamas  don't you want to take this one? :P

[2016-08-17 23:25] lahloumehdi opened #147 "Add TypeScript definition of Notifications.JavaScript"

[2016-08-17 23:25] deltakosh commented on #147
Do you mean it for the Notifications one? (For JS)

[2016-08-17 23:45] lahloumehdi commented on #147
Yes, and others helpers if there are separated from the UI :) that would be
great !

Btw the typescript team told me that there are working on a 'way' to
provide definitions to uwp in VS without impoting any .d.ts file ! (I don't
know if this feature is stil in the roodmap)

[2016-08-17 23:46] deltakosh commented on #147
If you are motivated it could be could to start with Notifications!

[2016-08-17 23:50] lahloumehdi commented on #147
Yes, I'll take a look ;-)

Le 18 août 2016 01:46, "David Catuhe" <notifications@github.com> a écrit :

[2016-08-18 00:50] PedroLamas commented on #43
@rmarinho we're now a looooog way from Tesseract! ;)

[2016-08-18 04:53] mitchcapper opened #148 "RadialGauge support user adjustment (as a selector)"
The RadialGauge control is beautiful would be great to be able to allow users to select values using it as well (could allow for things like time selecting etc).

[2016-08-18 07:56] bartlannoeye opened #152 "Prevent a dozen of VisibilityConverters"
It might be too late to change (since there's already a v1), but I'm a bit disappointed to see 3 different VisibilityConverters already, with the chance for others to be added as well in the future.

I've always be a fan of a [single converter](https://github.com/AppCreativity/UniversalTools/blob/master/src/AppCreativity.UniversalTools/Converters/VisibilityConverter.cs) that supports booleans, str

[2016-08-18 08:00] JohnnyWestlake commented on #152
x:Bind auto conversion only work with x:Bind, and only then when the MinVersion is >=14393, so no support for 10586. (I'm also not certain it can do inverse conversions?

Though I agree there should be one converter base class for Visibility Conversions, that also allows for inverse conversions.

[2016-08-18 08:03] JohnnyWestlake commented on #109
+1 - should probably look at using `x:DeferLoadStrategy="Lazy"` on most of the items in the template, and realise them as needed.

[2016-08-18 08:06] ScottIsAFool commented on #152
As @JohnnyWestlake points out, x:bind auto conversions are only in the anniversary update, and this toolkit supports older versions of Windows 10.

As for the single converter, feel free to submit a pull request for it :)

[2016-08-18 08:11] llvk opened #153 "Add a MaskedTextBox control"
The one was presented in WinForms but now there is no satisfactory implementation.

531 voices must be heard: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/8482078-maskedtextbox-control

[2016-08-18 08:14] ScottIsAFool commented on #153
Good suggestion

[2016-08-18 08:31] bartlannoeye commented on #152
Do I deprecate the old ones or can they be removed (since we released)?

[2016-08-18 08:32] ScottIsAFool commented on #152
For the moment, do it as an additional one. @deltakosh what do you think about this?

[2016-08-18 08:37] llvk commented on #153
There is an opinion that it must be native control like TextBox because of performance.

I have a simple port of WinForms implementation but it has issues such as
 - [Password|Prompt]Char have a type of character, so devs can't set them in XAML;
 - character doubling during typing on phones;
 - not all keyboard shortcuts are supported.

So I don't know can it be the entry point or not.

[2016-08-18 08:39] llvk commented on #153
But this implementation has a good advantage: it inherits TextBox so the same styles can be applied on both.

[2016-08-18 08:49] Alovchin91 commented on #153
@llvk Also this implementation relies on a ported version of `MaskedTextProvider` which is almost 3000 lines long and is pretty hard to understand.

[2016-08-18 09:07] h82258652 commented on #153
Good suggestion. Not only MaskedTextBox, both MaskedPasswordBox!!!

[2016-08-18 10:11] xied75 opened #154 "Continuous Delivery of Store App?"
I reckon this is needed for every Store App devs?

So we keep source code in GitHub, run UnitTests on AppVeyor, build and package to NuGet, the CI is pretty much that.

But there is an showcase App with UI, I can see that you are not using https://github.com/Microsoft/WinAppDriver for UI testing, so how did you test your App actually does what you want? By Human?

Suppose you add UI testing as wel

[2016-08-18 10:18] xied75 opened #155 "Filter on ObservableCollection? ( the limited CollectionViewSource in UWP )"
When we want to show multiple forms of the same data source on the same page, being sort, grouping, filtering etc, we were told to use CollectionViewSource to take a view on the ObservableCollection, this is the story in wpf, why in the age of UWP we were given a CollectionViewSource that can only do grouping? Was it some change in the best practices?

If taking a view is still the correct way, co

[2016-08-18 10:25] sweggersen opened #156 "SlidableListItem - Enable/Disable Left/Right side"
Should be able to enable or disable each side of the SlideableListItem.

ex:
RightEnabled="False"

[2016-08-18 10:43] totht91 opened #158 "Template10 vs UWPCommunityToolkit"
Hello Guys,

I'm really appreciate to create one library for the UWP developer community instead of having multiply fregmentated libs in the web. But I wonder how do you handle the collaboration with your other product the Template10. There are/will be so many redundant funcionality in this two lib.

[2016-08-18 11:32] gep13 commented on #154
@xied75 You might want to take a look at this tool:

https://github.com/JanJoris/ober

It is my understanding that it would help with exactly what you are asking for.

[2016-08-18 11:33] Piachu91 opened #159 "Selecting items for AdaptiveGridView"
AdaptiveGridView seems like a very nice control, but to be usable it needs to support selecting items (single/multiple) and SelectedItems property.

[2016-08-18 11:47] xied75 commented on #154
@gep13 Thanks a bunch!!!

This is exactly the power of community, for the record, I'm the Fourth to star that repo. :) now more people who read this could follow.

The reason I thought it's not possible, is because I asked the online support from Microsoft, and they said that, so I trusted them. Maybe next time I should ask Siri.

[2016-08-18 11:51] ThomasNigro commented on #154
@xied75 or ask directly to the community ;)

[2016-08-18 12:20] gep13 commented on #154
Thanks a bunch!!!

Not a problem at all, happy to help.

I asked the online support from Microsoft, and they said that, so I trusted them.

Yeah, been burned by that in the past as well :smile:

[2016-08-18 12:38] Odonno commented on #154
I asked years ago, never get a positive answer. Then the submission API looked really great when they talked about it at /build//, but never had access to it...

Thanks @gep13 for sharing this repo. I hope to see a VSTS extension.

[2016-08-18 12:45] Odonno opened #160 "Provide JS code along C# code in the Samples app"

[2016-08-18 12:53] marcopmorais opened #161 "LinkedIn Service"
Now that LinkedIn and Microsoft are friends, can we have a LinkedIn service, such as the Facebook and Twitter service?

[2016-08-18 13:36] totht91 opened #162 "Don't use services as singleton"
Please consider to drop the singleton pattern from the service layer and prepare them for dependency injection with service interfaces.

[2016-08-18 13:52] 4tron opened #163 "Maps services"
Maps services for bing, google, open street. This would be nice to have.

[2016-08-18 14:04] pdehne opened #165 "Add a ListView control with quick return header"
As seen in the Microsoft Groove App in Windows 10:

![groove-quick-return-header](https://cloud.githubusercontent.com/assets/1521198/17776544/54bcae54-655d-11e6-9695-8075fe450852.gif)

I would be happy to help implementing it if someone can outline how it can be done.

[2016-08-18 14:38] Depechie commented on #165
Not sure, but maybe this can be a base to start off? https://github.com/JustinXinLiu/StickyHeader_WindowsComposition

[2016-08-18 14:40] Depechie commented on #115
Jan Joris created one some time ago: https://github.com/JanJoris/Expander

[2016-08-18 14:43] ScottIsAFool commented on #115
Well if @janjoris fancied adding it, that would be great

[2016-08-18 14:44] Depechie commented on #115
Yep, will 'bug' him about it :)

[2016-08-18 14:45] dotMorten commented on #155
I'm guessing the recent we don't have it in WinRT is because it requires reflection, which isn't available in WinRT, and it's also very slow. However since this toolkit is a .NET library, we can use reflection. It doesn't solve the performance issues, but that it might be good enough for several scenarios.

[2016-08-18 14:47] nguyenthanhliemfc opened #166 "Extract ZIP file error?????"
I download ZIP file and Extract error?????????

[2016-08-18 14:47] ScottIsAFool commented on #166
What zip file?

[2016-08-18 14:48] nguyenthanhliemfc commented on #166
UWPCommunityToolkit-master

[2016-08-18 14:49] ScottIsAFool commented on #166
Where is the download link for that? Or are you using GitHub's download button?

[2016-08-18 14:51] nguyenthanhliemfc commented on #166
I download from <>Code tab Clone or download  -- > Download ZIP

[2016-08-18 14:51] dotMorten commented on #163
WinUWP already comes with a built-in map control that supports bing. It is possible to create custom tile sources like OpenStreetMap.
Wrt to Google Maps however, it's against their ToS to use their data outside their own map controls.

[2016-08-18 14:52] ScottIsAFool commented on #166
Ok, that's something that's generated by Github, not us. Although I just tried it and it downloaded and extracted just fine. Maybe give it another try and/or save to a different drive in case where you saved it to was corrupted.

[2016-08-18 14:52] #166 closed

[2016-08-18 14:53] tpspencer commented on #158
I agree, I am using T10 as well and wonder how the two will coexist.

[2016-08-18 14:56] nguyenthanhliemfc commented on #166
Maybe my slow connection when download affect the ZIP file!

[2016-08-18 15:04] jackbond opened #167 "Please add a Datagrid control"
It is mind boggling that this control still isn't included in the framework itself.

MIND BOGGLING!

[2016-08-18 15:04] JanJoris commented on #115
I'll see if I can get this PR'ed somewhere next week.

[2016-08-18 15:09] Depechie opened #168 "Create Azure portal like panel control"
https://liftcodeplay.com/2015/11/12/design-pattern-blades-for-sequential-data-entry-wizards-in-uwp/
Ben Chartrand created this awesome 'blades' control in UWP in reference to the Azure portal hubs.
Would be great to have this in the toolkit also.

[2016-08-18 15:19] deltakosh commented on #168
I like it a lot.

[2016-08-18 15:23] deltakosh commented on #163
I agree with Morten, This is not something we will provide.
Please keep discussing here. I'm just closing the issue for organisation sake :)

[2016-08-18 15:23] #163 closed

[2016-08-18 15:26] deltakosh commented on #162
Hello!

We can easily remove the private from the constructor.

[2016-08-18 15:27] deltakosh commented on #161
We need to check feasibility but this is definitely a must have!

[2016-08-18 15:28] deltakosh commented on #160
Hello, JS is supported only for notifications so far.

[2016-08-18 15:29] deltakosh commented on #159
Definitely agree !

[2016-08-18 15:35] deltakosh commented on #158
We are already working with @JerryNixon
Template10 will use the toolkit for services and controls that make sense.

Template10 is a great high level tool which supports navigation, MVVM, etc.
The toolkit provides high level controls and services that can be used inside applications build with Template10

[2016-08-18 15:35] deltakosh commented on #156
Good idea!

[2016-08-18 15:36] tpspencer commented on #158
Good deal.

[2016-08-18 15:39] deltakosh commented on #154
Hey, happy that you find your answer!
Regarding the question about the testing: we are manually testing it so far and this is far from perfect. We need to add more automatic testing. If you want to help, you are utterly welcome :D

[2016-08-18 15:41] deltakosh commented on #153
@llvk : please provide a PR, the community can then help improving it

[2016-08-18 15:43] deltakosh commented on #152
It this related to this PR?https://github.com/Microsoft/UWPCommunityToolkit/pull/164

I'm totally ok with deprecating the converters we have in v1.

For simplicity sake, I wonder if we should not also keep simple converter (which can use the main one itnernally)

[2016-08-18 15:45] deltakosh commented on #148
Pinging @XamlBrewer who wrote it

[2016-08-18 15:47] ScottIsAFool commented on #168
I believe @NicoVermeir is working on this very thing.

[2016-08-18 15:47] Odonno commented on #160
Hello,

Yes, I saw that. But in the future, I hope there will be more code using JavaScript/TypeScript. Meaning that as you made a C#/XAML tab, maybe it could be great to have a HTML/JS (TS) tab.

[2016-08-18 15:49] Odonno commented on #112
Yes, should be working for all devices.

[2016-08-18 15:51] NicoVermeir commented on #168
I have this working, just need to update the docs and submit a PR
![controls-bladecontrol](https://cloud.githubusercontent.com/assets/3177418/17780603/4d29beca-656c-11e6-8339-49da92c711f5.gif)

[2016-08-18 16:05] deltakosh commented on #160
Completely aligned! We can already add it for Notifications

[2016-08-18 16:05] Depechie commented on #168
Ooh didn't know that @nicobermeir was already busy with that :)

[2016-08-18 16:43] daneshmandi opened #170 "Please add Instagram Service as well"

[2016-08-18 16:47] XamlBrewer commented on #148
I'm considering to build a Behavior for this, like a _RadialGaugeInputBehavior_ with a _StepSize_ property. It would update the control's Value and make the Needle follow the input pointer (finger or mouse). Is this what you have in mind?

[2016-08-18 16:47] deltakosh opened #171 "Add DropShadows in the animation library"

[2016-08-18 16:48] deltakosh commented on #170
Excellent idea
we need to check the feasibility

[2016-08-18 16:48] mitchcapper commented on #148
@XamlBrewer exactly.   I think its a great control and making the user be able to provide input into it would be a fantastic extension.

[2016-08-18 16:56] deltakosh opened #172 "Fix sample app crashing when using combobox on hamburgermenu sample"

[2016-08-18 17:06] ScottIsAFool commented on #170
@daneshmandi what sort of information would you want?

[2016-08-18 18:10] bartlannoeye commented on #152
Seems like #164 is adding in more BoolToXxx converters, while I'm trying to consolidate XxxToVisibility (see code linked in OP). As an empty string or an empty collection is just another boolean check.

Maybe we have to do both, consolidate the input object and differentiate the output:

- ~~ObjectTo~~VisibilityConverter (as in the VisibilityConverter linked in OP)
- ObjectToObjectConverter (to Br

[2016-08-18 18:11] deltakosh commented on #152
Adding @NatMarchand to this thread

[2016-08-18 18:12] dotMorten commented on #148
Perhaps this control should have inherited from Slider ? Then you get all this inherited instead, and it's mainly about templating

[2016-08-18 18:14] dotMorten commented on #152
Just reminder that 14393 has added a lot of options for converting using x:Bind. While I know this wouldn't solve scenarios for apps running on 10586, longer term this would become less of an issue.
I'd prefer we focus on providing converters that the x:Bind improvements doesn't help with.

[2016-08-18 18:25] Depechie commented on #167
The one of MyToolkit is awesome https://github.com/MyToolkit/MyToolkit/wiki/DataGrid

[2016-08-18 19:19] deltakosh commented on #172
After investigating, this bug only happens in release mode

[2016-08-18 19:21] andrejt opened #175 "ImageEx goes to Loaded state before image is downloaded"
With ImageEx, shouldn't VisualStateManager.GoToState(this, "Loaded", true) line go into ImageEx.OnImageOpened handler (like when it's failing)? With slow internet, the control fades into Loaded state before image is even downloaded.

[2016-08-18 19:27] deltakosh commented on #175
Good feedback! Do you want to submit a PR?

[2016-08-18 19:28] JohnnyWestlake commented on #152
In all fairness, normal Bindings still have perfectly valid uses in places where x:Bind doesn't currently work (ElementName bindings in DataTemplates, generic control templates, RelativeSource TemplatedParent, runtime bindings, etc.), so I don't think we should push aside certain converters even if x:Bind does offer some of their functionality - Bindings are still useful!

[2016-08-18 19:37] aL3891 opened #176 "CompositionAnimation helpers - good fit for the toolkit?"
Hey there, i'm the author of the [CompositionAnimationToolkit](https://github.com/aL3891/CompositionAnimationToolkit), basically a bunch of helpers for writing animation expressions in a type safe way using lambdas. Do you think it would be a good fit for this toolkit? Right now its just a tiny library that no one really knows about or uses, so if you're interested I can look at merging it in here

[2016-08-18 19:40] deltakosh commented on #176
Hey!
Thank you very much for this offer. We try to keep the toolkit really simple and on top of composition. This is why I do not think this will be a good fit for your great library :(

[2016-08-18 19:43] aL3891 commented on #176
no worries, it's out there if people want to check it out :)
if you change your mind or want to make a larger community toolkit for the composition layer, feel free to open an issue over at my repo

[2016-08-18 19:44] dotMorten commented on #152
@JohnnyWestlake Good points!

[2016-08-18 19:46] deltakosh commented on #176
For sure!

[2016-08-18 19:48] #176 closed

[2016-08-18 19:52] bkaankose commented on #159
Started working on it, will send pr in a few hours.

[2016-08-18 20:14] mhomde opened #179 "ScrollIntoView doesn't seem to work for PullToRefreshListView"
Well as the title says, when using PullToRefreshListView  ScrollIntoView doesn't seem to work

[2016-08-18 20:14] ScottIsAFool commented on #179
@mhomde are you trying this on desktop or mobile?

[2016-08-18 20:49] mhomde commented on #179
Hi,

Mobile,   anniversary update

[2016-08-18 21:04] deltakosh commented on #179
Pinging @nmetulev

[2016-08-18 21:20] #142 closed

[2016-08-18 21:22] deltakosh commented on #168
Done

[2016-08-18 21:22] #168 closed

[2016-08-18 21:22] #158 closed

[2016-08-18 21:23] #154 closed

[2016-08-18 21:23] deltakosh commented on #126
Duplicate

[2016-08-18 21:23] #126 closed

[2016-08-18 22:00] deltakosh opened #186 "Feature request for Listview"
Hello everyone, we plan to deprecate the PullToRefreshListView and introduce a kind of AdvancedListView with additional services like:
- PullToRefresh
- AlternatingDataTemplates
- Always add HorizontalContentAlignment equal to Stretch on ListViewItem
- Non tilt ListView style : so no animation when 'selecting' an item in the ListView, mostly used for glancing at data an no actual selecting is need

[2016-08-18 22:06] Depechie commented on #186
For reference sake, I added my alternating solution because it's fast and small. But it has limitations in the fact that it would only allow brushes.
Using a datatemplate selector would be more ideal indeed, but that adds some performance overhead.

[2016-08-18 22:19] Depechie commented on #186
Few other things I 'always' tend to add to my projects when working with ListView but are solved with Styles:

- Non tilt ListView style : so no animation when 'selecting' an item in the ListView, mostly used for glancing at data an no actual selecting is needed
- Always add HorizontalContentAlignment equal to Stretch on ListViewItem : why isn't this default in the SDK control ;)

[2016-08-18 22:20] deltakosh commented on #186
For #1 this is possible already I guess when you set selection to none

[2016-08-18 22:21] anbare commented on #186
YES about #2, that is such a pain!

[2016-08-18 22:22] deltakosh commented on #186
Adding #2 to list in my initial post

[2016-08-18 22:26] bartlannoeye commented on #186
Adding to @Depechie's non tilt: I have a non-hover style as well for the data glancing (very annoying on desktop with mouse to have hover over elements if you can't select)

[2016-08-18 22:27] deltakosh commented on #186
Ok adding idea to main list

[2016-08-18 22:49] daneshmandi commented on #170
@ScottIsAFool Simple basics; Sign In and Post.

[2016-08-18 22:51] ScottIsAFool commented on #170
@daneshmandi ok, well posting to instagram is definitely out, we would be able to provide no way of doing that. The Instagram API allows for developers to get profile information and a user's pictures, but you can't post pictures to instagram.

[2016-08-18 22:58] daneshmandi commented on #170
@ScottIsAFool Didn't know that the Instagram API doesn't allow posting. So how apps like 6tag are working then ?

[2016-08-18 22:59] ScottIsAFool commented on #170
@daneshmandi I couldn't comment on how they do it.

[2016-08-18 23:02] daneshmandi commented on #170
@ScottIsAFool

OK. Thanks for the reply then.

I didn't intend to create a new Instagram app but was looking for easier ways to share content/images generated by an app.

[2016-08-18 23:26] ScottIsAFool commented on #170
@daneshmandi is this still a service you would want adding given the lack of posting? @deltakosh is this something we would still like to add given the lack of posting?

[2016-08-18 23:27] deltakosh commented on #170
If we cannot provide a almost complete experience (read/write) I would tend to close the issue

[2016-08-18 23:28] ScottIsAFool commented on #170
@deltakosh even though we cannot write to bing services we still have it... Or is that too different from instagram's case?

[2016-08-18 23:34] deltakosh commented on #170
I would say that someone using Bing does not expect to write to it:)

[2016-08-18 23:35] ScottIsAFool commented on #170
fair enough :) just playing devil's advocate :) Happy to close.

[2016-08-18 23:35] #170 closed

[2016-08-19 00:15] #175 closed

[2016-08-19 00:46] daneshmandi commented on #170
@deltakosh @ScottIsAFool Agreed! if there no way for posting it doesn't have value to me.

[2016-08-19 07:42] pdehne commented on #165
Many thanks for the pointer. Very interesting but the sample works directly with the ScrollViewer, the Header is also directly part of the ScrollViewer content. That make me worry if this aproach allows to keep ListView virtualization working.

I am experimenting with an approach now that uses a Grid with the Header and the ListView in the same cell where scroll offsets and heights are adjusted in

[2016-08-19 08:06] robmikh commented on #165
Using the Composition API to achieve this shouldn't mess with virtualization, even if it works directly with the ScrollViewer. Additionally if this is done entirely through the Composition API with the use of the Expression system, you'll get better performance than by listening to events. If done this way, everything is handled in the system compositor and thus can be done on the same frame as th

[2016-08-19 09:14] NicoVermeir commented on #186
@Depechie @bartlannoeye no need to use styles for that, just switch to ItemsControl instead of ListView. I've always used listviews only when items need to be selectable, otherwise I switch to ItemsControl by default

[2016-08-19 09:16] Depechie commented on #186
@NicoVermeir well depends... if you want to other cool things ( like pull to refresh ) adding it to this merged ListView could be handy.

[2016-08-19 09:19] ScottIsAFool commented on #186
@NicoVermeir ListView also gives you virtualisation out the box.

[2016-08-19 09:20] NicoVermeir commented on #186
@ScottIsAFool ah yes, true. only needed itemscontrol for small collections (around 10-15 items) so far.
carry on!

[2016-08-19 09:29] NatMarchand commented on #152
Well, you'd need to implement the ConvertBack and I think with only one converter it's going to be a challenge.
Personally, I've never used converters such as EmptyCollectionConverter or EmptyStringConverter so I have no real strong opinion about that ^^
I only did my changes on the three to have feature parity.

[2016-08-19 09:44] bartlannoeye commented on #152
The convert back can be a challenge indeed.
I've used empty collection / string a lot in combination with visibility (as in hide if empty). My initial point was to consolidate the initial converters. While yours provide a real added value compared to those as well. So the follow-up idea is: can we combine best of both worlds. If not, do we still need my proposal?

[2016-08-19 09:59] bkaankose commented on #156
Will send a PR to resolve this issue today. Considering IsRightSwipeEnabled & IsLeftSwipeEnabled for naming. What do you think?

[2016-08-19 12:08] bkaankose opened #191 "SlidableListViewItem's background stop working as intentional when swiped without pointer released."
Click on the SlidableListViewItem and swipe straight to the right or left, don't release the mouse click and afterwards swipe straight to the opposite side.

You'll see that the second swipe's background is overrided by first.

[2016-08-19 14:58] deltakosh commented on #156
Ok for the naming!

[2016-08-19 14:59] deltakosh commented on #191
Pinging @nmetulev

[2016-08-19 15:38] #138 closed

[2016-08-19 15:42] #137 closed

[2016-08-19 15:42] #140 closed

[2016-08-19 15:42] #141 closed

[2016-08-19 16:04] haroldma commented on #186
Well, that was fast! But it would be a much better control.  Maybe call it `BetterListView` or `AdvanceListView` :wink:

Here's a possible feature: Built-in item hierarchy. If an item is implementing IHierarchalItem, with a property called Depth, add some padding to it. End result would be something like this:

<img src="https://cloud.githubusercontent.com/assets/5519816/17815898/2b1c3fe0-65eb-11e

[2016-08-19 16:05] ScottIsAFool commented on #186
@haroldma I like that! I like that a lot. Is this something of yours?

[2016-08-19 16:06] deltakosh commented on #186
This is for 1.2 (and by deprecate I mean:keeping it but asking people to use the main one)

[2016-08-19 16:10] haroldma commented on #186
@ScottIsAFool The screenshot is for a random app from google images. BUT here is a screenshot of it on one of my apps: :wink:

<img src="https://cloud.githubusercontent.com/assets/5519816/17816175/afd8c64e-65ec-11e6-9fd3-530e02c8c4ba.png" width="200">

[2016-08-19 16:18] haroldma-zz opened #195 "New control: AutoSuggestBox that allows snapping of resolved items"
Just like the messaging or mail app have. I wrote a control for UWP that does this:
![image](https://cloud.githubusercontent.com/assets/5519816/17816332/8743a5cc-65ed-11e6-9320-17dafa0a4df0.png)
![image](https://cloud.githubusercontent.com/assets/5519816/17816346/90378162-65ed-11e6-88ba-e2c4e5e4b395.png)

Using it internally but hit me up on haroldma@microsoft.com to figure out how we can use it.

[2016-08-19 16:18] ScottIsAFool commented on #186
@haroldma if you have the basis for it and would be willing to add it to this toolkit, that would be amazing :)

[2016-08-19 16:19] deltakosh commented on #186
Just try to not add yet another listview :) I would be ideal if this could be an attached property or something we can plug on a random listview

[2016-08-19 16:21] haroldma commented on #186
@ScottIsAFool willing and able :wink:

@deltakosh like the idea of an attached property for any ListView but also have it baked into the `AdvancedListView`

[2016-08-19 16:23] ScottIsAFool commented on #186
@haroldma I await the PR :D

[2016-08-19 16:23] deltakosh commented on #186
@haroldma : Completely on the same page. Both are important!

[2016-08-19 16:24] deltakosh commented on #186
btw, I like the advancedListView name!

[2016-08-19 16:25] llvk commented on #153
@h82258652 WinForms MaskedTextBox supports password mode.
@deltakosh Ok, next week may be.

[2016-08-19 16:27] deltakosh commented on #195
Do you think it is general enough to be included in the toolkit (not judging at all, just asking)

[2016-08-19 16:31] haroldma commented on #195
@deltakosh oh, yeah. Works the same as AutoSuggestBox and just let the user snap the suggestions (any object type).

Here's another scenario: comment replying in a social app.Use the @ sign to initiate the suggestions and snap users to mention in the comment.

The control only snaps to the left most but it would be easy with a few modifications to allow it to snap items anywhere.

[2016-08-19 16:33] haroldma commented on #195
How it works: wrapper around a list of items. Using the template selector it can display a text block (snapped item) or text box. Use a WrapPanel for the list view to make it mimic a normal text box.

[2016-08-19 16:33] deltakosh commented on #195
Just gave you a thumb up:)
We need to allow it to work from right to left as well

[2016-08-19 16:34] Depechie commented on #186
Also, isn't there a difference in how to 'toggle' multi select with the build in ListView as in reference to the usage of a ListView in the Windows Phone Outlook mail app?
In the mail app you can start multi selecting by pressing on the left side, there is a touch area available.

Would be a great addition too :)

[2016-08-19 16:35] dotMorten opened #197 "Remove all remaining build warnings"
There's still some build warnings left. We'd like to turn on warnings as errors in the appveyer builds, so we need to get to a clean warning-free build first.

[2016-08-19 16:35] deltakosh commented on #186
Too much ideas :D

[2016-08-19 16:36] haroldma commented on #186
Agree, I've seen a few open source implementations in other toolkits.

@deltakosh tell me about it! But that's how we get the Advance prefix into it :wink:

[2016-08-19 16:42] haroldma opened #198 "New control: WrapGrid"
The GridView panel is cool and all but it can't produce something like this:

![image](https://cloud.githubusercontent.com/assets/5519816/17816984/d410e9e8-65f0-11e6-9fcd-fb72e0ce26e5.png)

VariableSizedWrapGrid is the closest but you need to specify  VariableSizedWrapGrid.ColSpan and RowSpan for each GridViewItem, unlike the WrapPanel in WPF.

[2016-08-19 16:43] dotMorten commented on #198
@haroldma Isn't that a duplicate of this? https://github.com/Microsoft/UWPCommunityToolkit/issues/21

[2016-08-19 16:43] deltakosh commented on #198
Or #50 ?

[2016-08-19 16:44] haroldma commented on #198
Apparently so.

[2016-08-19 16:44] dotMorten commented on #198
@deltakosh Right. Which is also mentioned in 21 :)

[2016-08-19 16:44] #198 closed

[2016-08-19 16:44] dotMorten commented on #198
I'm planning to get this started this weekend. Stay tuned :)

[2016-08-19 16:44] haroldma commented on #198
Highly requested feature apparently haha.

BTW here's an MIT implementation for WinRT: https://github.com/Q42/Q42.WinRT/blob/master/Q42.WinRT/Controls/WrapPanel.cs

[2016-08-19 16:45] ScottIsAFool commented on #50
Would also like it if this worked when used in a GridView with grouped data :)

[2016-08-19 16:54] haroldma opened #199 "New control: PullToRefreshGridView"
Should be pretty easy to adapt it from the PullToRefreshListView.

[2016-08-19 16:55] ScottIsAFool commented on #199
Might be worth holding tight on this as we will be deprecating the PTR listview and having it included via other means which may negate the requirement of a separate control.

[2016-08-19 16:55] deltakosh opened #200 "Add xml doc files to nuget packages"

[2016-08-19 16:57] haroldma opened #201 "New control: Re-sizable columns/divider"
One of my most favorite features from ReadIt on Windows 10:

![image](https://cloud.githubusercontent.com/assets/5519816/17817421/4b183382-65f3-11e6-8f7e-bd7179046da4.png)

[2016-08-19 16:57] deltakosh commented on #199
agree with @ScottIsAFool

[2016-08-19 16:58] ScottIsAFool commented on #199
@deltakosh who doesn't :D

[2016-08-19 16:59] haroldma commented on #199
So end up going with an `AdvanceGridView` control as well?

[2016-08-19 16:59] ScottIsAFool commented on #201
:laughing: not laughing at the idea, but the not-so-pg-13 comment in the screenshot :D

[2016-08-19 16:59] deltakosh commented on #199
yes and a random gridview + attached property

[2016-08-19 16:59] ScottIsAFool commented on #199
If the need arises, yes.

[2016-08-19 17:00] haroldma commented on #201
@ScottIsAFool I just noticed that :laughing:

[2016-08-19 17:00] deltakosh commented on #201
Thumb up for this one as well!

[2016-08-19 17:01] #199 closed

[2016-08-19 17:39] chungweileong94 opened #205 "AutomaticallyStart = True doesn't seems to work"
For the animation section, XAML code like:

`<Image x:Name="ToolkitLogo" Source="ms-appx:///Assets/ToolkitLogo.png" Height="100" Width="100" >
      <interactivity:Interaction.Behaviors>
        <behaviors:Fade x:Name="Fade"
                                   Value="0"
                                   Duration="1000"
                                   Delay="0"

[2016-08-19 17:42] PedroLamas commented on #200
I can see the xml docs files are already part of the NuGet packages... what am I missing here?

[2016-08-19 17:42] deltakosh commented on #205
It should work.
This is what we have in the Sample app:
[code]

[2016-08-19 17:42] deltakosh commented on #200
Nothing them..false alert :)

[2016-08-19 17:42] #200 closed

[2016-08-19 17:55] chungweileong94 commented on #205
This is my XAML code:

 **Namespace**
xmlns:interactivity="using:Microsoft.Xaml.Interactivity"
xmlns:behaviors="using:Microsoft.Toolkit.Uwp.UI.Animations.Behaviors"
xmlns:core="using:Microsoft.Xaml.Interactions.Core"

    <Grid>
        <Image x:Name="img" Source="ms-appx:///Assets/back.jpg">
            <interactivity:Interaction.Behaviors>
                <behaviors:Blur x:Name="BlurBehavior"

[2016-08-19 17:57] deltakosh commented on #205
Pinging @dupuyjs as I think he already faced this issue

[2016-08-19 18:09] chungweileong94 opened #206 "Offset Animation failed in XAML code"
As the image below:
![untitled](https://cloud.githubusercontent.com/assets/15154097/17819544/036db948-667b-11e6-95ec-aa81b9a32cc0.png)

[2016-08-19 18:16] deltakosh commented on #206
Does it work when running it?

[2016-08-19 18:17] chungweileong94 commented on #206
No, it throw XamlParseException

[2016-08-19 18:19] deltakosh commented on #206
Can you compare with what we have in the sample app for offset ?

[2016-08-19 18:23] chungweileong94 commented on #206
nothing difference to my code

[2016-08-19 18:25] deltakosh commented on #206
And does the sample app compile and work on your computer? If yes you may be missing a reference or not using the good sdk (10586 and 14393 are fine)

[2016-08-19 18:31] chungweileong94 commented on #206
yes, the sample app did work on my PC

[2016-08-19 18:33] deltakosh commented on #206
Ok so there is something wrong in your project:)

[2016-08-19 18:37] tpspencer commented on #167
@Depechie that datagrid looks really nice.  You have put in a lot of effort into the project.  Would you consider pulling it into the UWPCommunityToolkit?

[2016-08-19 18:38] chungweileong94 commented on #206
OK, I will check on my project.

[2016-08-19 18:39] deltakosh commented on #206
Ok please keep us posted

[2016-08-19 18:56] Depechie commented on #167
@tpspencer ow no no sorry it's not mine :( I only used the grid in a project recently and liked it a lot too!!
Only logged one issue with it that is not yet resolved though...

[2016-08-19 18:59] tpspencer commented on #167
@Depechie oops, the MyToolKit confused me.  I will try and get in touch with the creator.

[2016-08-19 19:13] Depechie commented on #167
It is Rico Suter : @ricosuter on Twitter

[2016-08-19 19:15] tpspencer commented on #167
I sent him an email.  Thanks.

[2016-08-20 00:40] bkaankose commented on #129
@dotMorten any progress on this? If not I was considering to implement it.

[2016-08-20 01:09] bkaankose commented on #28
What are the main features should be here? Are those controls going to be inherited from Button or going to be different UserControls?

Can developers customize the Icon sizes & share label?

[2016-08-20 01:32] dotMorten commented on #129
Waiting for a larger PR for this control to go in first. Shouldn't take long after that.
Until then just use a contentcontrol like here: https://github.com/dotMorten/AllJoynClientLib/blob/master/src/AllJoynSampleApp/MainPage.xaml

[2016-08-20 01:49] nguyenthanhliemfc opened #207 "How to Stretch item in DataTemple of PullToRefresh sample?"
How to Stretch item in DataTemple of PullToRefresh sample

[2016-08-20 03:37] chungweileong94 commented on #206
I tried repair my Visual Studio, but didn't stand a chance =(

This is all the references in my project:

![untitled](https://cloud.githubusercontent.com/assets/15154097/17828645/82d029ec-66ca-11e6-870f-8eff82157958.png)

[2016-08-20 06:58] pdehne commented on #165
I experimented with a simple ListView and a Header but had no luck so far. The visual tree of the ListView is very different to the StickyHeader example where the header and items are under the same parent.

![stickygrid](https://cloud.githubusercontent.com/assets/1521198/17829589/d56653c8-66b3-11e6-8d77-63428ebb8706.png)

![listview-with-header](https://cloud.githubusercontent.com/assets/1521198/

[2016-08-20 06:58] ScottIsAFool commented on #207
The same way you would do it for any other ListView https://github.com/Microsoft/UWPCommunityToolkit/blob/36f3ba7defaa2421daeee83628d6ed9c4b19a2c9/Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Facebook%20Service/FacebookPage.xaml#L103-L105

[2016-08-20 06:58] #207 closed

[2016-08-20 08:04] runceel commented on #206
I have same issue. I couldn't work Blur and Offset behavior.
<img width="525" alt="default" src="https://cloud.githubusercontent.com/assets/79868/17829892/cf7f1014-66f7-11e6-9327-301366ae76d0.PNG">

My project reference is follows.

[code]

[2016-08-20 10:10] pdehne commented on #165
The header is now animating correctly, two issues left:

- To correctly position the header while scrolling, the difference between the current and last vertical scrolling offset is needed. The only way I found to do it is to attach to ChangeView of the ScrollViewer and calculate the offset there.
- The ListView items are always stacked on top of the header. Changing the ZIndex of the header didn'

[2016-08-20 10:53] IbraheemOsama commented on #201
I'm currently working on this feature

[2016-08-20 14:03] bkaankose commented on #82
How do we want to achieve this? By looking at the CurrentCulture or over ip or something?

[2016-08-20 14:52] deltakosh commented on #206
Do you mind sharing a simple repro project?

[2016-08-20 14:54] deltakosh commented on #82
Currentculture seems fine

[2016-08-20 15:00] deltakosh commented on #201
I would be great if this could work for grids directly without having to introduce a new control container

[2016-08-20 15:03] deltakosh commented on #165
If possible I would like to avoid list view proliferation. Could it an additional control working with a regular list view?

[2016-08-20 16:30] shibly77 opened #211 "is there any way to clear blur ?"
suppose I have a button and I have an image, when I click the button image get blurred using blur animation. now I want to clear the animation by clicking another button.

is it possible  ?

[2016-08-20 16:34] deltakosh commented on #211
Yep just call image.blur(0)

[2016-08-20 16:45] shibly77 commented on #211
image.blur(0) is not working, image is blurred still

[2016-08-20 16:46] deltakosh commented on #211
It should:)

Can you try with blur(0,0) to avoid animation?

[2016-08-20 16:50] shibly77 commented on #211
Blur(0,0); is not working.
I have al ready blurred the image , now I want to clear the blur without reloading the image.

[2016-08-20 16:50] chungweileong94 commented on #206
I created a simple project, here's the link: [SimpleAniamtion](https://github.com/chungweileong94/SimpleAnimation)

[2016-08-20 16:51] deltakosh commented on #211
I just did the test and it works for me. Do you mind sharing a simple repro project?

[2016-08-20 16:54] deltakosh commented on #206
I'll check it asap(like next week, sorry for the delay but I'm not in the office right now:))

[2016-08-20 17:00] shibly77 commented on #211
I will share it once it completes uploading, can you please share the project where u have tested and found it is working  ?

[2016-08-20 17:02] deltakosh commented on #211
Just use the sample app and set blur value to 0

[2016-08-20 17:08] shibly77 commented on #211
ok , thanks for the help.
 `await image.Blur(duration: 10, delay: 0, value: 0).StartAsync();`
According to you I need to write this, I think this line does not clear the animation, it sets a new blur animation with value 0.
I have asked about clearing the animation.

[2016-08-20 17:10] deltakosh commented on #211
Sorry I misunderstood.
To stop the animation:
var anim = image.Blur(duration: 10, delay: 0, value: 0);

anim.StartAsync()

to stop it: anim.Stop()

[2016-08-20 17:15] shibly77 commented on #211
I got it now , and if I clear the blur using
`await image.Blur(duration: 10, delay: 0, value: 0).StartAsync(); `
it looks more awesome, I am going to use it.
will cause any issues ? like memory or any other xaml issue ?

[2016-08-20 17:19] pdehne commented on #165
The test project is only a proof of concept so far that is almost working. For wrapping it into a proper control I was thinking about moving the code in MainFrame that setups and drives the animation into the subclass of ListView that should be renamed from MyListView to something like QuickReturnHeaderListView or just QuickReturnListView. Are you suggesting I should try not to subclass from ListV

[2016-08-20 17:26] deltakosh commented on #211
Nope, this is fine!

[2016-08-20 17:28] deltakosh commented on #165
My concern is that we will end up with 10 different listview based controls where I think we could provide controls or attached property that change current listview

More in this thread: https://github.com/Microsoft/UWPCommunityToolkit/issues/186

In your case, I would love to have this kind of construct:
<QuickReturnHeader TargetListView={Binding ElementName=MyListView} />

Does it make sense?

[2016-08-20 17:29] shibly77 commented on #211
thanks its time to gift a great look to my app  :)

[2016-08-20 17:30] deltakosh commented on #211
Lol I did the same for mine:) blur everywhere!!!!

[2016-08-20 17:31] IbraheemOsama commented on #201
Sure, I already designed it to be a single control

[2016-08-20 17:34] shibly77 commented on #211
nope I loved the fade and scale also , there will be a combination , nice thing to work with in and make a productive weekend  :)

[2016-08-20 17:46] pdehne commented on #165
Just for reference, this code was not showing in your comment, got it from the comment notification mail:

`<QuickReturnHeader TargetListView={Binding ElementName=MyListView} />`

Sure, I think it would make a lot of sense to add these kind of features in a way that may allow multiple features to be merged into the standard ListView. I will try to do it this way.

[2016-08-20 17:53] pdehne commented on #186
Another idea: shift or control selecting multiple items could switch into multi select mode. A previous version of the Groove Music app did this. It is a very intuitive way to switch to multi select for desktop users.

[2016-08-20 21:13] MullenStudio opened #216 "ImageEx animation issues"
There are 2 issues currently:
1. It shows animation even without placeholder. I would expect it directly show the image when there's no placeholder defined.
2. The PlaceholderAnimationDuration property doesn't work. It looks like DoubleAnimation.Duration can't be bind with; and also line 54 in ImageEx.Placeholder.cs, should be default(Duration) instead of TimeSpace.Zero.

[2016-08-21 06:55] dotMorten commented on #201
For easy of use and familiarity we should base this on WPF's GridSplitter control and improve where we need to. Ie I always hated that the default content of a GridSplitter was nothing - Would be good if we had default content/width that fits most, but that could be restyled. Would be good to use the default `GripperBarVertical` and `GripperBarHorizontal` symbosl from [Segoe MDL2 icons](https://ms

[2016-08-21 08:08] IbraheemOsama commented on #201
Sure, will work on the comments.

Thanks @dotMorten

[2016-08-21 11:13] Viachaslau-Zinkevich commented on #186
Would it be possible/useful to add a placeholder for a ListView id source is empty?
So that a view isn't just a blank page, but with a message like "Tap "+" to add new item".

[2016-08-21 14:17] Dinchy87 opened #218 "ImageCache to save the image directly while downloading"
Hi guys,

First i want to thank you for this Toolkit, it looks really polished and well done. Now to my question regarding ImageCache. the title may be missleading but i dont know how to clarify my suggestion/feature for ImageCache a different way.

I currently download some RSS, parse it, and update a ObservableCollection of type FeaturedList. Its just 5 RSS items that also have pictures. ImageCa

[2016-08-21 14:47] andrejt commented on #218
Have you considered using the ImageEx control to display your images? It uses ImageCache internally and provides a placeholder.

[2016-08-21 15:27] khamitimur opened #219 "Use of magic numbers in AdaptiveGridView code behind"
`ItemWidth = (containerWidth / _columns) - 5;` in `RecalculateLayout()` method [here](https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/AdaptiveGridView/AdaptiveGridView.cs).

[2016-08-21 15:30] dotMorten commented on #219
The number isn't that magical. It's negating a padding in listviev's layout. Change it to 4 and the items will wrap too early. Change it to 6 and it's too much.

What's the "issue" with it? Are you seeing this causing a bug?

[2016-08-21 15:53] dotMorten commented on #186
Can't you just use the Empty converter to hide the listview and show a message?

[2016-08-21 17:23] bkaankose commented on #216
1) I think showing an animation without placeholder is nice to have like all animations. I don't see any problems about it.

2) You're right it does not work at all. Because xaml binder can't cast integer value to TimeSpan. It needs to be converted first.

[2016-08-21 17:25] khamitimur commented on #219
I'm seeing this causing incomprehension when reading the code. If it's ListView's padding then why don't use it? It's causing an issue cause it's not used like a property or whatever developer can change easily.

[2016-08-21 17:28] ScottIsAFool commented on #216
@bkaankose correct on number 1, we would want the animation regardless of placeholder being set.

[2016-08-21 17:46] MullenStudio commented on #216
In that case, what about while fixing the PlaceholderAnimationDuration issue, also rename it to something without Placeholder? Since for this property, if it works, it should also be able to set the duration when there's no placeholder, and if I don't want any animation (my case 1), I can just set it as 0.

[2016-08-21 17:48] ScottIsAFool commented on #216
@MullenStudio that doesn't sound unreasonable although would be a breaking change to remove it.

[2016-08-21 17:50] MullenStudio commented on #216
@ScottIsAFool Yes, I see it's a breaking change but on the other hand it looks like the property never works so far so maybe no so breaking as well.

[2016-08-21 18:46] dotMorten commented on #219
There's no property for this internal padding exposed on the listview.

I can see that it would make sense to add a comment here, but I don't see the point in exposing it as a property, unless you can show a scenario where the developer would have to change it. If you have a scenario where it's needed, I'm all for either exposing it or auto-detecting it. Until then I don't really see any issue her

[2016-08-21 19:34] Dinchy87 commented on #218
@andrejt how does it cache the pictures? I could have a look into the control because i currently have another image as placeholder below the web based image. And i have tried now to make my snipper different but its still is a 2x work. I wish we could cache while downloading directly, the image while displayed, even from web is somewhere in the memory, i thought this ImageCache could save this fi

[2016-08-21 20:06] Dinchy87 commented on #218
Its me again, i have tested ImageEx and it does what i wanted with the ImageCache :D it has also some nice fading animation. The ImageEx control also saved the images in the same temp folder like ImageCache. great. And can i use the ImageCache.Clear function then to clear the images of ImageEx cache?

[2016-08-21 20:07] andrejt commented on #218
ImageEx uses ImageCache's GetFromCacheAsync, the one you've already tried. What it does is it looks in cache if it's already there. If it's not, it downloads and caches it (saves it as a local file). In both cases the method then returns a cached image. Meaning you get the image as soon it is fully downloaded and saved into file system. In the end, you don't care where the image came from (the web

[2016-08-21 20:09] andrejt commented on #218
@Dinchy87  Yes, you can use the Clear method, it's the same cache.

[2016-08-21 20:14] Dinchy87 commented on #218
Thanks, its a great control, playing with it now. But can i spam this thread with one more question? regarding ImageEx. The placeholder image, is there any control over it i mean over its opacity? i would like to set a placeholder that has a opacity like 0.15 or 0.2 which would look really good for my solution.

[2016-08-21 20:21] ScottIsAFool commented on #218
@dinchy87 just retemplate the control.

[2016-08-21 20:29] Dinchy87 commented on #218
@ScottIsAFool Yeah, or i add a new placeholder that has already the opacity i need. Thanks guys. I love already the whole Uwp Toolkit :)

[2016-08-21 20:30] andrejt commented on #218
@Dinchy87 default cache expiration is set to 24 hours, you can change it with CacheDuration property (which you've already found) - enough to set it once, because it affects all gets from cache.

The files themselves, well they'll stay there 'forever' if you don't delete them (they are stored in LocalFolder).

[2016-08-21 20:31] Dinchy87 commented on #218
Great. Thanks a lot.

[2016-08-21 21:07] dotMorten commented on #216
It might not break any working functionality, but it would break compilations using that property

[2016-08-21 21:27] JohnnyWestlake commented on #219
If I'm reading it right, just sticking the following the <Page.Resources> section of the AdaptiveGridViewPage in Samples will break the intended layout:

[code]

Assumedly it will break any time the developer wants to change the distance between their items with the current solution because the code is expecting the default 0,0,4,4 margin. Getting rid of the spacing entirely isn't unheard of.

[2016-08-21 21:31] dotMorten commented on #219
Thanks for the repro. I'll see if we can't find a way that doesn't require any property to set

[2016-08-22 05:56] LostLogic opened #220 "ImageEx not accepting URIs for Image Source"
Hi!
Thanks for the excellent work with the UWPCT!
I tried the ImageEx control since it implements caching logic directly which is amazing. What I've found is that if I use it in a control that is based on a collection (ListView, GridView, AdaptableGridVIew) it doesn't seem to load the image.
If it is not in a collectionbased control however, it seems to work fine. Is this a know issue, is there a

[2016-08-22 11:02] ScottIsAFool commented on #220
I'm unable to reproduce this. When I use ImageEx to display images from a collection, it's working exactly as expected. Do you have a repro project you can provide that demonstrates the problem?

[2016-08-22 11:05] LostLogic commented on #220
Thanks for replying @ScottIsAFool . I'll cook up a demo repro and post it here.

[2016-08-22 11:20] bkaankose commented on #220
Just tried with a simple ListView which has ObservableCollection<string> binded in its datacontext, seems working fine.

[2016-08-22 12:33] LostLogic commented on #220
Here is a demo project that demonstrates the issue.

[TestProj1.zip](https://github.com/Microsoft/UWPCommunityToolkit/files/430105/TestProj1.zip)

[2016-08-22 12:44] ScottIsAFool commented on #220
@LostLogic thanks, will take a look this afternoon. I can see what you're seeing, just need to figure out what's causing it as it works fine for me in a collection in my own project.

[2016-08-22 12:59] LostLogic commented on #220
Glad you see the same issue as me @ScottIsAFool . I really don't think this is the issue, but all the images have the extension jpeg, not jpg. I'm not sure how the ImageEx works, so...

[2016-08-22 13:20] JohnnyWestlake commented on #220
(not related to this I think, but it's quite strange ImageCache caches everything with a .jpg extension - a file extension isn't really necessary)

[2016-08-22 13:47] bkaankose commented on #220
I think I found the problem. It's not related to the Collections or adaptivegridview itself. You're passing the System.Uri type as source but ImageEx is only loads the passed parameter if it's a string or ImageSource typed.

This is actually nice that we found something missing for the ImageEx because Uris should be recognized by ImageEx. Check line 59 SetSource method in the ImageEx.Source.cs fil

[2016-08-22 13:49] ScottIsAFool commented on #220
@bkaankose ugh, I should have remembered this. I wasn't happy with the Source being an object, I always thought it should be an ImageSource, but that would have removed the image caching. Good spot.

[2016-08-22 13:55] bkaankose commented on #220
@ScottIsAFool in addition to that, I think we need to catch if specified parameter is valid or not. Currently if source is invalid, ImageEx stays at Loading state. It should go to Error state.

[2016-08-22 14:14] ScottIsAFool commented on #220
Ideally we could do with having some kind of logging for the controls that the devs can look at for when stuff isn't working, not sure the best way to achieve that is.

[2016-08-22 17:13] totht91 commented on #186
I think one big ListViewControl is a bad idea. We need to make this as lightwaight as we can and open for some kind of extensions. Attached properties is one way to achieve this, I don't know it is the best.

[2016-08-22 17:15] ScottIsAFool commented on #186
One thing I would like to see is a Go To Top button available for all ListViewBase based controls.

[2016-08-22 17:22] Depechie commented on #186
Good call Scott! Header / title click and optional button somewhere...

[2016-08-22 19:38] pdehne commented on #165
If I use the Live Visual Tree in Visual Studio to set the ZIndex of the marked ContentControl to 1 the header is stacked correctly above the list view items:

![header-and-zindex](https://cloud.githubusercontent.com/assets/1521198/17868758/7dcceb96-68b0-11e6-893a-7849b18755de.png)

Does anybody know how to do this in code?

[2016-08-23 07:05] LostLogic commented on #220
Thank you all. Passing the source as a string resolved the issue I was having. Should I close this issue, or will you guys assign it to someone to fix later.

[2016-08-23 07:10] ScottIsAFool commented on #220
@LostLogic i'll be doing a fix for it in about 10 minute's time :)

[2016-08-23 11:39] pdehne commented on #165
Got it working now. The solution was to decrease the ZIndex of the ItemsStackPanel.

![quickreturnlistviewdemo](https://cloud.githubusercontent.com/assets/1521198/17890468/800b76d0-6936-11e6-9d92-816c2de47c0b.gif)

Trying to refactor this into a mix in class as suggested by @deltakosh now. Updated the [GitHub project](https://github.com/pdehne/QuickReturnHeaderListView) too if someone wants to tak

[2016-08-23 12:27] XamlBrewer commented on #148
I'm working on a version of RadialGauge that has an (optional) _StepSize_ property that does rounding of the _Value_, and an _IsInteractive_ property that allows you to set the _Value_ by listening for _Tapped_ and _ManipulationDelta_.

[2016-08-23 14:54] bkaankose commented on #9
@jeffmcaffer Do you have any completed work on message dialog helper? If not I can send a pr that resolves this.

[2016-08-23 22:15] oliverDOTnet commented on #44
Do you mean the Microsoft Cognitive Services (Computer Vision API)?

[2016-08-24 04:09] vitorgrs opened #228 "Error using blur on XAML instead of code"
So, I already tried with success using blur on code, but when I try on XAML, it gives error.
![image](https://cloud.githubusercontent.com/assets/9909446/17917955/22857e0a-6997-11e6-8a05-c879c3dfdfc7.png)
![image](https://cloud.githubusercontent.com/assets/9909446/17917984/696ec704-6997-11e6-9c73-56cfa86d651c.png)

Any ideas?

[2016-08-24 07:45] DrouSoft opened #229 "Where is OneDrive Service"
Hi,

Tweeter, facebook ok but where is the OneDrive Service ??????

Thanks

[2016-08-24 11:14] akshay2000 commented on #109
Do we actually have performance statistics on this? Items will be created, but won't be rendered. So, there shouldn't be a lot of overhead. I just tested the sample app on Lumia 640, which is low end. Performance was fine.

[2016-08-24 11:28] akshay2000 commented on #218
What does this exactly mean, @andrejt? When cache is cleared, aren't the files deleted? If the app doesn't delete files, does it mean that users will see the app size grow over time?

[2016-08-24 11:48] andrejt commented on #218
@akshay2000 Yes, you have to explicitly call ClearAsync method to delete old files, otherwise it will stay there and fill up your space. You can call it on app start or when you're sure you won't need stored images anymore. That said, I'm using TemporaryFolder in my apps and can't say why LocalFolder was chosen for this implementation.

[2016-08-24 11:49] ScottIsAFool commented on #218
@andrejt maybe a change to TemporaryFolder would be a better approach then? Perhaps submit a PR?

[2016-08-24 12:06] andrejt commented on #218
@ScottIsAFool well, I was thinking of taking it a bit further:

1. Decouple "ImageCache" from "File" cache implementation, e.g. have FileCache class as a base caching service and ImageCacheService for image-related interactions over the cache. That way, the FileCache can be used in other caching scenarios, using  e.g. JsonCacheService, XmlCacheService, etc.

2. Define a IImageCache interface and d

[2016-08-24 12:17] akshay2000 commented on #218
@ScottIsAFool Yes. It will keep the app size from growing. It will also auto handle clearing out of temporary files.
@andrejt While I like the idea, I am afraid this makes it unnecessarily complicated. On the other hand, having more options to cache files seems even better. As long as the toolkit ships with a default implementation of `IImageCache` we should be good to go. We could even set `Image

[2016-08-24 12:21] meulta commented on #228
Hello,

Yes you have to remove the reference toBehaviors SDK and update MIcrosoft.NETCORE.UniversalWindowsPlatform nuget package.

I had the same issue and that solved it :)

[2016-08-24 12:44] andrejt commented on #218
@akshay2000 of course, the plan was that default implementation would stay as is now and would be the one used if not overriden by the property. Flexible, but working out of the box if you like the default cache implementation.

[2016-08-24 13:47] akshay2000 commented on #186
While we are on the topic, I think the control with depth should be a separate control called `TreeView`. I have following reasons to support this:

- Almost always, whenever such data is presented, a functionality is required to expand/collapse the nodes. Use cases being directory structure, Reddit and Imgur comments, etc. Expand/collapse are _really_ out of scope for a `ListView` control.
- The

[2016-08-24 18:04] jneidlinger opened #232 "Unable to build release build in VSO hosted agent with target version set to 10586"
[code]

I noticed Blur animation notes at the bottom of https://developer.microsoft.com/en-us/windows/uwp-community-toolkit/animations/blur.htm that 10.0.14393.0 is required, but https://developer.microsoft.com/en-us/windows/uwp-community-toolkit/getting-started.htm states that only 10586 is required.

[2016-08-24 18:56] jurepurgar opened #233 "ImageCache performance improvements"
Hi guys,

I have a few questions / suggestions about ImageCache:

1. ImageCache could store a reference to limited (configurable) number of created BitmapImages, so the image does not need to be loaded from disk each time it is requested. Kind of memory + disk cache. This would be more performant especially for long virtualized lists where same images are requested multiple times when user scrolls

[2016-08-24 21:42] JerryNixon commented on #186
Here are some ideas:

1. LastItemTempate (for add more, injected if Count>1, but isn't a record)
2. EmptyListTemplate (for zero items, it's too easy not to do)
3. SelectedTemplate (for changed look when selected, esp for blade implementations)

[2016-08-24 21:44] ScottIsAFool commented on #186
@JerryNixon big yes for the first one, definitely like that one :)

[2016-08-24 21:44] JerryNixon commented on #186
Another idea is to expose ListViewItem.IsSelected into the DataTemplate. An easy approach is to expose an interface like this

[code]

And impolement it  sometning like this in the ListView

[code]

Simple, and ultra-useful.

[2016-08-24 21:50] JerryNixon commented on #186
Another idea is the easy ability to collapse items in a group. Like Hub.SectionHeaderClick, we can add ListView.GroupHeaderClick with arguments that include e.ItemsContainerVisibility.

[2016-08-24 21:52] JerryNixon commented on #186
Another idea is to make the ListView natively implement SemanticZoom. Simply add ListView.SemanticZoomTemplate and ListView.IsSemanticZoomEnalbed. No need to require the developer to freaking wrap the ListView and wire up the CollectionViewSource and so on. Just get the beauty of it, built-in.

[2016-08-24 21:57] JerryNixon commented on #186
Another idea is to add ListView.Refresh(); which will re-render the ListViewItems, pre-processing the ItemTemplateSelector or ItemTemplate. When a visual state needs to alter the content of a DataTemplate, there is no way for it to reach into one or all of the DataTemplates and accomplish this change. For example, you might want to change the layout when the app changes orientation. Calling LIstVi

[2016-08-24 21:59] JerryNixon commented on #186
Another idea is to incorporate the wonderful features of the ListViewPersistenceHelper (https://msdn.microsoft.com/en-us/library/windows/apps/dn625103.aspx) for when the user navigates to and from a long, scrolled list. ListView.GetRelativeScrollPosition() and ListView.SetRelativeScrollPositionAsync() would be very welcome.

[2016-08-24 22:03] JerryNixon commented on #186
Another idea would be to enable through ListView.RequireControlForDeselect=false or something so when ListView.SelectionMode=Single, a selected item can be Deselected without requiring CTRL, which is highly unintuitive to a general user.

[2016-08-25 02:13] ScottIsAFool commented on #186
@jerrynixon the only problem with the listviewpersistencehelper is it only works if you don't change the ItemsPanelTemplate from the default.

[2016-08-25 03:34] vitorgrs commented on #228
So after I updated NET Core, I had another problem... So I reinstalled VS. Now, it doesn't give me errors, but blur still doesn't work :(
![image](https://cloud.githubusercontent.com/assets/9909446/17955881/b7f4127a-6a5b-11e6-868d-7ef2fbab5e60.png)

[2016-08-25 04:07] dotMorten commented on #186
And it doesn't work that well with incrementally loading data, virtualization etc. Better to just set the cache mode on the page

[2016-08-25 06:27] Viachaslau-Zinkevich commented on #186
@dotMorten, would you please explain why it doesn't work good with incrementally loading data?

[2016-08-25 06:38] akshay2000 commented on #186
@Viachaslau-Zinkevich I'll venture a guess. When page is cached, the collection bound to it will be cached. But if page is not cached, then depending upon whether the MVVM pattern is used, how ViewModels are instantiated, etc. the collection may or may not be cached.
Now, let's say user was on 5th 'page' of incremental loading collection when she navigated away. Now, when the user navigates back,

[2016-08-25 07:47] h82258652 commented on #233
Good idea!!
memory cache can use WeakReference<BitmapImage> to do.

[2016-08-25 07:51] ScottIsAFool commented on #232
I believe the required versions are for runtime, not build time. At build time you would need to be on the latest build that is required (14393). 10586 is the required build target for apps wishing to consume the toolkit.

[2016-08-25 07:52] ScottIsAFool commented on #211
Can this issue be closed now?

[2016-08-25 07:53] ScottIsAFool commented on #205
I have a feeling this is because the animation is trying to be done before the associatedobject has fully loaded. There's a PR in that should fix this #230.

[2016-08-25 07:55] bkaankose opened #234 "Rearranging animation for AdaptiveGridView."
IMO GridView has been the most needed control for every developer since WinRT. I remember on Xamarin Forms (they didn't have the GridView support for Win 8.1 back then - maybe they still don't, I don't know.) documentation page saying something like "We can't imagine a Windows app without GridView in it".

With AdaptiveGridView it is more beautiful than ever. Since we have the composition api good

[2016-08-25 08:28] meulta commented on #228
Yep  I had the same issue and did a PR to fix it.
Right now, automaticallystart set to true in xaml does not work in some cases.

You can mimic the fix I did by adding a EventTriggerBehavior on the loaded event for your image like this :

`<interactivity:Interaction.Behaviors>
                <core:EventTriggerBehavior EventName="Loaded">
                    <core:CallMethodAction

[2016-08-25 13:40] jurepurgar commented on #233
I don't think WeakReference is what we want here. The point is the image stays in the cache event if it is not used. Consider this scenario: User scrolls to the end of a very long list of images, because of virtualization, list items are getting reused, so BitmapImages might get garbage collected if we use WeakReference. When user scrolls back up images have to be loaded from the disk again. Of co

[2016-08-25 13:51] #211 closed

[2016-08-25 16:35] deltakosh commented on #186
That's a lot of GOOD idea. My guts tell me that we need to let the listview unchanged and provides additional tools that can plug on an existing listview.

But in the meantime, for simplicity sake, I also appreciate the idea of the AdvancedListView who inherites from a listview and add all kind of cool ideas we have here

[2016-08-25 16:45] deltakosh commented on #218
This is a really good idea! Let us know if you need help:)

[2016-08-25 16:47] JerryNixon commented on #229
I want to up-vote this more than once!

[2016-08-25 16:49] JerryNixon commented on #229
Please, please, please model this after Windows.Storage - don't create a brand new file system API for developers to use when this is created! A service like this would unlock OneDrive in UWP apps.

[2016-08-25 16:51] deltakosh commented on #216
Is there someone working on a fix for 2. right now?

[2016-08-25 16:52] ScottIsAFool commented on #216
@deltakosh I got as far as creating a new branch for it locally, but no further right now.

[2016-08-25 16:55] deltakosh commented on #229
Can you explain what you'll expect from this kind of API?
Something like:
OneDriveService.Instance.CreateFolder, .CreateFile, .GetFiles etc... ?

[2016-08-25 16:55] deltakosh commented on #216
I'll do it then :)

[2016-08-25 16:59] uruk commented on #229
Yes, something like that.

[2016-08-25 17:01] #220 closed

[2016-08-25 17:17] jneidlinger commented on #232
This is from an app simply consuming the library via nuget.

[2016-08-25 17:38] deltakosh commented on #9
I think it was for @jamesmcroft ?

[2016-08-25 17:38] deltakosh commented on #44
Absolutely :)

[2016-08-25 17:39] deltakosh commented on #109
Thank you for this feedback!

[2016-08-25 17:39] #109 closed

[2016-08-25 17:41] #205 closed

[2016-08-25 17:48] deltakosh commented on #232
You can use and compile the Animation Nuget package even with required target set to 10586. This is what we do for the sample app.

But if you want to compile the Animation project, then you need to set the required target to14393

[2016-08-25 17:50] deltakosh commented on #229
Ok duly noted!

[2016-08-25 17:50] ScottIsAFool commented on #232
@deltakosh I think what @jneidlinger is saying is they are not trying to build the toolkit, but they have an app that targets 10586, they've added the nuget packages and now it won't build on their build server. Correct?

[2016-08-25 17:52] deltakosh commented on #232
This looks weird as this is exactly what we are doing with the sample app

[2016-08-25 17:53] jneidlinger commented on #232
@ScottIsAFool That is correct - a difference here might be that we are leveraging the hosted build agent pool on VSTS. It may very well be that the hosted pool's images are out of date?

[2016-08-25 17:59] #159 closed

[2016-08-25 18:05] deltakosh commented on #234
Like the idea. I think that @nmetulev was planning to do something like this on another control.

@nmetulev : Can you add animations to current AdaptiveGridView?

[2016-08-25 18:08] deltakosh commented on #233
Hey!
1. Like it!
2. Obviously this one is a must have :)
3. Not sure for this one if this could be useful for a lot of people. Let's say priority 2
4. Yeap agree as well

If you are motivated to help, please go ahead!

[2016-08-25 18:09] deltakosh commented on #232
pinging our build expert @PedroLamas

[2016-08-25 18:09] #228 closed

[2016-08-25 18:13] #162 closed

[2016-08-25 18:14] deltakosh opened #235 "Blade controls should not be clickable"
Pinging @NicoVermeir

[2016-08-25 18:46] deltakosh commented on #235
And I guess it could be great to animate scrolling into new blade as well

[2016-08-25 20:04] PedroLamas commented on #232
I honestly have no clue on why this is failing, but sure looks like a .NET Native issue... I've had my fair share of .NET Native issues (and still have) where I had to add a bunch of manual exclusions on the rd.xml file for reflected types.

We might have to involve the .NET Native team over this one (their public email is dotnetnative@microsoft.com but there's also some internal contacts ;) )

[2016-08-25 20:37] deltakosh opened #236 "SlideableListItem movement should be limited to avoid moving it to far"

[2016-08-25 20:41] deltakosh opened #237 "Hide Properties tab in sample app when there is no property to display"

[2016-08-25 21:01] deltakosh opened #238 "reduce hamburgerMenu itemsSource content to clearly show separation with options"

[2016-08-25 21:35] deltakosh commented on #216
Ok this is interesting...It is not a conversion bug. But for some reasons, thee PlaceholderAnimationDuration is not used at all by the VisualStateManager

[2016-08-25 21:39] ScottIsAFool commented on #216
@deltakosh are you sure? https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageEx.xaml#L67-L82

[2016-08-25 21:40] deltakosh commented on #216
DoubleAnimation.Duration is a Duration object, like the PlaceholderAnimationDuration

[2016-08-25 21:59] deltakosh commented on #216
Seems that XAML does not allow me to template binding inside a VisualState

[2016-08-25 22:15] jurepurgar commented on #233
#242 addresses the first 2 items.

[2016-08-25 22:40] pdehne commented on #165
#227 implements this. There is a slight problem though. When scrolling up the header moves a bit. It seems as if there is the slightest bit of lag between the scrolling and the composition animation kicking in to correct it. I don't know if this can be fixed. Maybe @robmikh has an idea how to fix or work around it?

[2016-08-26 02:13] milos12345 opened #244 "Dropdown crashes app, Properties panel empty, Blur not working"
Please see video
https://youtu.be/kyjmTXzlhJc

[2016-08-26 02:17] deltakosh commented on #244
Hello and thank you for reporting these issues.

The combo box issue has been tracked by #172
Blur only works on 14393+ (I will add a comment on the sample page)

Property Windows bug will be fixed for 1.1

[2016-08-26 02:17] deltakosh opened #245 "Add comment on Blur sample page regarding 14393 requirement"

[2016-08-26 03:53] Code-ScottLe opened #246 "Any place for niche control and services for Microsoft Band?"
I recently came around and designed a pretty straight forward preview of Microsoft Band's pages for one of my application. It looks something like this:
![Band Preview](http://i.imgur.com/YNvqgpU.jpg)

It allows a quick preview of the content that is going to be synced to the Band, given a right format (Which I already have written, just have to adapt it before publishing for everybody to use). So

[2016-08-26 04:25] dotMorten commented on #246
That's really nice! IMHO though this might be a little too specific for the toolkit

[2016-08-26 04:43] dotMorten commented on #234
Perhaps we need to get @ratishphilip to submit the fluid wrap panel to the UWP toolkit?

[2016-08-26 05:06] dotMorten commented on #198
@haroldma Check out my branch: https://github.com/Microsoft/UWPCommunityToolkit/tree/dotMorten/StaggeredPanel
It defaults to vertical stacking, but set it to horizontal orientation, and I believe it matches the layout above

[2016-08-26 05:27] Code-ScottLe commented on #246
Yeah, I think the control might be a little too specialized, but worth adapting my helper classes for syncing with Microsoft Band over? It is one of the few things that I can do for the toolkit :)

[2016-08-26 05:58] MullenStudio commented on #216
Yes, DoubleAnimation.Duration doesn't take template binding. I tried to fix it locally as well and find it's not a simple fix.

[2016-08-26 06:45] ScottIsAFool commented on #216
@MullenStudio If you don't want it to have any animation, then you can at least retemplate the control and remove the storyboards for the Loaded VisualState.

[2016-08-26 11:21] tomzorz opened #248 "A better CollectionViewSource?"
UWP/WinRT's built-in CollectionViewSource is very limited in comparison to the WPF one, as it has no support for filtering or sorting. I think it would make sense to include one in this toolkit.

[2016-08-26 11:58] ScottIsAFool commented on #248
I like this.

[2016-08-26 14:36] deltakosh commented on #244
I'm closing this one as #172 is fixed and all other issues as well

[2016-08-26 14:36] #244 closed

[2016-08-26 14:38] #216 closed

[2016-08-26 14:45] deltakosh commented on #234
Or update the AdaptiveGridView :)

[2016-08-26 14:48] deltakosh commented on #246
Hey!
as Morten mentioned this is a bit too niche for the toolkit. We try to keep it high level with tools tht can be used by the majority of UWP developers.

However, I would like to get everyone's thought on an idea: creating a new project for devices: Microsoft.Toolkit.Uwp.Devices

We could used it for the band, or any IoT devices we could control from UWP app.

Thoughts?

[2016-08-26 14:54] deltakosh commented on #248
Me too.. Now question is: how to do it well?

[2016-08-26 15:05] #237 closed

[2016-08-26 15:33] tomzorz commented on #248
In my lib I have a crude implementation (which is based on a blog post I can't find anymore, but I remember that I cut some features plus moved all of it to C#6) https://github.com/tomzorz/Groves/blob/master/Groves/Groves/Collections/AdvancedCollectionViewSource.cs - I guess this could be a starting point.

The filtering and sorting parts I've used already in production.

[2016-08-26 15:35] deltakosh commented on #248
Do you have some insights regarding performance?

[2016-08-26 15:40] tomzorz commented on #248
We were using it to sort/filter a list of around 0.5k complicated objects (airplane passengers with every bit of information you can imagine they have) - it was working well in that scenario, even on phones. I'm afraid I haven't done any deeper tests on it.

[2016-08-26 15:42] deltakosh commented on #248
why not trying a PR and see what we can all do with it ?

[2016-08-26 16:03] Code-ScottLe commented on #246
A separate project to deal with all external devices might be a really good idea IMO.

The Band SDK itself isn't that great in term of newcomer-friendly and the way the tile works on Band can be a little hard to describe in term of code. So having abstracted them away with higher-level functions might be helpful for people who want to extend their already existed app with a Band Tile that they can

[2016-08-26 16:08] tomzorz commented on #248
Certainly, I just wanted to ask beforehand if there're others who think that this fits in here :+1:

[2016-08-26 16:10] deltakosh commented on #248
And that's the perfect thing to do..I'm always sad to refuse PR because they cannot integrate in the toolkit

[2016-08-26 16:23] deltakosh commented on #246
Hololens is a different beast :)

[2016-08-26 16:26] Code-ScottLe commented on #246
I can dream ;)

Extend the Phone functionalities when you wear a Hololens? Ughhh, give me!

[2016-08-26 16:27] deltakosh commented on #246
Sure :) but I prefer starting small

[2016-08-26 16:31] Code-ScottLe commented on #246
Yeah. With that, I have written a few helper class for syncing stuffs over to the Band. So at least, all the details are all taken care of (establish connection, tile creation, tile sync, data sync...). Probably have to go back and rename some stuffs with a few, but better, try-catch blocks. But after that, it should be good to go for using inside any application.

I will probably gonna dive into

[2016-08-26 16:33] deltakosh commented on #246
Lovely..I just need to get more opinions before starting a new project. This is a community driven project ;)

[2016-08-26 17:02] ScottIsAFool commented on #248
Agreed, submit a PR, but do so with [WIP] at the start of the title so we know it's a work in progress and gives a place for us to discuss the code itself.

[2016-08-26 17:52] Asgardi opened #253 "Please add a few simple charts in addition to the included radial"
Data visualization options are the biggest issue when developing UWP apps in my opinion since learning curve for necessary XAML skills is quite high.

[2016-08-26 17:53] IbraheemOsama commented on #44
Will start in this service in 2 days, will implement the Vision Apis.

[2016-08-26 17:55] Code-ScottLe commented on #246
Any chance of tagging this with service and new feature as well?

[2016-08-26 17:57] Code-ScottLe commented on #232
What is the current NuGet NETCore UWP Package version? I didn't check but should it be 5.2.2 (latest?)

I have run into problems with VSTS build and UWP Package version before.

[2016-08-26 18:58] deltakosh commented on #253
We are on the same page. We are working on finding a smart solution here ;)

[2016-08-26 19:20] Code-ScottLe commented on #253
This could be something to look into.
Beside creating controls from the ground up, a wrapper (in form of a control) to the webview using D3.js could be an alternative as well (but a wrapper is too dependent to the WebView/Edge for my taste)

[2016-08-26 19:28] Odonno commented on #229
Could be a killing feature if natively integrated.

[2016-08-26 19:43] dotMorten commented on #232
.NET version used is 5.1.0, so you need to compile with at least that version in your dependent projects.

[2016-08-26 19:55] Code-ScottLe commented on #232
VSTS Hosted Agent has an out-of-date nuget.exe, anything larger than version 5.2 of UWP will break the nuget package restore. But out-of-date nuget could also result in failure of setting it up right.

Also, you can try [this guide from Buck](https://twitter.com/tfsbuck/status/768627030015508480), it will force using the nuget 3.4.4 (latest at this time) when restoring the packages (this also fixe

[2016-08-26 21:47] mrjfalk opened #254 ""Layout cycle detected" when using ImageEx in grid view data template with visual states."
I'm using the `ImageEx `in a `DataTemplate `which I set as `ItemTemplate `on a `GridView`. The data template adjusts its size using visual states (and adaptive trigger).

After a while when I resize the window the application crashes with a "`Windows.UI.Xaml.UnhandledException`" with the following Message: "`A cycle occurred while laying out the GUI.`" and "`Layout cycle detected.  Layout could no

[2016-08-26 22:37] ScottIsAFool commented on #254
Out of interest, what happens if you put your datatemplate into a separate UserControl class, not just in the UserControl tags in the same page?

[2016-08-26 23:47] Code-ScottLe commented on #229
So probably something close to the UWP OneDrive app in term of functionality?

[2016-08-27 00:50] Code-ScottLe opened #255 "Background Task helper class"
Do we have this already? The process and syntax of dealing with background tasks can be lengthy and unclear. I have had written a helper class to deal with this before (register/unregister, check if task exists... etc).

[2016-08-27 11:31] Viachaslau-Zinkevich opened #256 "New control: ListView/GridView with VariableSizeWrapGrid virtualization"
Is it possible/are the plans to add this kind of virtualized ListView?
I believe that can be useful to implement something like original Photos app.

[2016-08-27 17:04] eraser85 opened #257 "Blur behaviour with opacity on image"
The following code

`<Image Source="{x:Binding ConcreteDataContext.TestImage}" Opacity="0.5">
    <interactivity:Interaction.Behaviors>
        <behaviors:Blur Value="100" Duration="0" Delay="0" AutomaticallyStart="True"/>
    </interactivity:Interaction.Behaviors>
</Image>
`

Produces the result on the left. Removing the Opacity from the Image element produces the result on the right.

![er](http

[2016-08-27 18:00] eraser85 commented on #205
The issue seems to be still here. Autostart=True doesn't seem to be working.
VS2015 Update 3 on Windows 10 AU (14393.82).

[2016-08-27 18:01] deltakosh commented on #205
Ping @meulta

[2016-08-27 20:45] ScottIsAFool commented on #205
@eraser85 to confirm, you're using the code in your project, not the nuget package?

[2016-08-27 20:52] ScottIsAFool commented on #257
Confirmed with latest code

[2016-08-27 20:52] ScottIsAFool commented on #205
I just tried it with the latest code and it does work, but not with the nuget package (which is understandable as that hasn't been updated yet)

[2016-08-27 21:16] eraser85 commented on #205
Yes I'm using the nuget package. That's why then. I'll have to update the code manually and will report back. Thanks for now!

[2016-08-28 07:45] #172 closed

[2016-08-28 11:24] deltakosh opened #258 "Add a default HamburgerMenuItem to simplify usage"
For flexibility sake you can provide your own type for hamburgerMenu ItemsSource.
The idea here is to provide a default type for people not interested in advanced customization

[2016-08-28 12:55] Viachaslau-Zinkevich opened #259 "General approach using AnimationSet"
Hi,
I would like to ask what is the general approach when animating an element extensively. Like swipe item, slide menu item or something like that, when animation happens as a response to manipulation.

Is it better to reuse once created AnimationSet?
Or always creating new through Element.Offset().Start()?

[2016-08-28 18:10] pekspro opened #260 "Strange blur on an image in a pressed button"
I have this simple code:

	<Button>
	    <Image x:Name="image"
	           Height="200"
	           Width="148"
	           Source="ms-appx:///Assets/mytree.jpg"
	           PointerEntered="image_PointerEntered"
	           PointerExited="image_PointerExited" />
	</Button>

	private void image_PointerEntered(object sender, PointerRoutedEventArgs e)
	{
		image.Blur(10, 2000).Start();
	}

	private v

[2016-08-29 00:30] bkaankose commented on #260
It looks like Button's VisualStates are messing something up with the blur. Will look into that.

[2016-08-29 00:34] bkaankose commented on #255
Can be usefull indeed imo. Also providing the valid namespace & class name have always been misleading for many developers when it comes to the background tasks. Maybe checkin for that using some of the reflection goodies?

[2016-08-29 00:37] bkaankose commented on #254
Could you provide a sample project? Because layout cycle may not complete not just because of ImageEx but the other controls on the page that effects on ImageEx. It'll be much easier to understand what causes the error.

[2016-08-29 03:04] Code-ScottLe commented on #255
I'll look into the reflection part. Probably having them type in the class name of the background task, and use reflection to pull the full string path later on. We can leverage Intellisense when they type in the class name too.

[2016-08-29 04:08] miguelarcilla opened #261 "BoolToObjectConverter not available option for custom BoolToVisibilityConverter Implementations"
While there is a [code sample](https://github.com/Microsoft/UWPCommunityToolkit/blob/556cca4bc2915028d8d5e199ca930e2432cbe5bd/Microsoft.Toolkit.Uwp.SampleApp/SamplePages/SlidableListItem/SlidableListItemPage.xaml) that lets us define a `BoolToObjectConverter` like so:

`<converters:BoolToObjectConverter x:Key="BoolToVisibilityConverter" TrueValue="Visible" FalseValue="Collapsed"/>`

It is not amon

[2016-08-29 05:01] NicoVermeir commented on #235
working on it!

[2016-08-29 06:12] ScottIsAFool commented on #261
Are you using the project code in your solution? Or the nuget package? If the latter, then it won't be in that until the next update for it.

[2016-08-29 06:15] miguelarcilla commented on #261
@ScottIsAFool Thanks, this is noted. Does this need to stay open until the next release?

[2016-08-29 06:18] ScottIsAFool commented on #261
Probably not. The code sample is only on the dev branch, which means it hasn't been pushed to master (and so the nuget package). If you update the nuget package when that update goes out and you still don't have the converter then, then re-open this issue.

[2016-08-29 06:18] #261 closed

[2016-08-29 06:43] NicoVermeir commented on #235
#262 fixes the clickable style, but I can't figure out how to animate the scrolling. any help would be appreciated

[2016-08-29 15:19] deltakosh opened #263 "Create MicrosoftGraph service provider"

[2016-08-29 16:39] deltakosh commented on #256
Yep this is a good idea

[2016-08-29 16:40] deltakosh commented on #257
Ok bug confirmed...Added @shenchauhan

[2016-08-29 16:53] deltakosh commented on #259
Adding @nmetulev

[2016-08-29 16:55] deltakosh commented on #259
I would say (But need to be confirmed by Nikola) that recreating should be safer

[2016-08-29 16:57] deltakosh commented on #260
Adding @shenchauhan

[2016-08-29 16:58] deltakosh commented on #255
What kind of API this helper could provide?

[2016-08-29 16:59] deltakosh commented on #235
I guess you can use composition for this but I'm not an expert

[2016-08-29 17:00] deltakosh commented on #261
Pre-release packages are available for our dev repo: https://ci.appveyor.com/nuget/uwpcommunitytoolkit-unwg9jaovwyr

[2016-08-29 17:28] #238 closed

[2016-08-29 17:31] deltakosh commented on #263
@demozone9 is working on it:)

[2016-08-29 17:31] deltakosh commented on #229
@demozone9 is working on it for 1.2

[2016-08-29 17:33] deltakosh commented on #28
Oups! I missed this question! Sorry about that
So here is what I had in mind:
Facebook and Twitter have strong requirement regarding how these buttons should look like so I guess you can specify:
* Logo position (left, right)
* Label
* Should it disapear when logged or should it display user picture?

[2016-08-29 17:34] deltakosh commented on #42
Hey Brandon, how things are going on this feature? Should we keep it for 1.1 ?

[2016-08-29 18:57] Code-ScottLe commented on #255
To register a background task, it needs the name, task entry point (which are string, and easy to confuse and mess up the correct string). Also the Triggers and Condition, which could be simplified.

I was thinking something along the line of having multiple high level methods like `RegisterTimedBackgroundTask(Type backgroundTaskClass, TimeSpan delay, Condition optionalCondition = null)` for regis

[2016-08-29 19:06] ScottIsAFool commented on #255
@Code-ScottLe do you envisage something like this? https://github.com/ScottIsAFool/EchoWallpaper/blob/master/EchoWallpaper.Windows.Shared/Services/BackgroundTaskService.cs

[2016-08-29 20:42] #197 closed

[2016-08-29 21:06] bkaankose commented on #236
The question is "how much is too much?" for me :) Is it something we don't want (moving it too far I mean) or something that developers would want to limit?

[2016-08-29 21:08] deltakosh commented on #236
Let's the developer decide (As always)
So an option to define the max offset you can have could be cool (with a reasonable default value)

[2016-08-29 21:16] bkaankose commented on #236
I'm thinking (width for left/right command button) + 24 px as default. Users have to be able see at least the full context of what they are swiping for if developer didn't set the value.

Also if we're trying to be flexible here, I think this can easily be enabled/disabled by developer by default is enabled.

[2016-08-29 21:18] deltakosh commented on #236
Love it!

[2016-08-29 21:23] Code-ScottLe commented on #255
@ScottIsAFool Some what, but probably going to be closer to this:
https://github.com/Code-ScottLe/USCISTracker/blob/master/USCISTracker/USCISTracker.Services/BackgroundServices/BackgroundService.cs

The problem with registering the task is the name of the background task and the task entry point (which is the namespace of the class) are in string form. If we can solve this my letting user type in

[2016-08-29 22:19] deltakosh commented on #254
Agree with @bkaankose : can you please provide a small repro proejct? I'm sure we can find a fix!

[2016-08-29 22:22] deltakosh commented on #254
For instance I'm pretty sure this could move to ArrangeOverride:
https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageEx.cs#L88

[2016-08-29 22:23] deltakosh commented on #253
I'm not for a wrapper here. But I also agree we need more charting controls. Please stay tuned.

[2016-08-29 22:26] Code-ScottLe commented on #253
Agree. Wrapper is like the last thing I would want to do.

[2016-08-29 22:50] deltakosh commented on #160
Do you think you can provide the JS version for notifications C# code? I'll add a way to display JS code in the property windows on my side

[2016-08-29 22:57] #206 closed

[2016-08-30 06:23] mrjfalk commented on #254
Sorry been quite busy yesterday. Will provide a sample project later today.

[2016-08-30 08:11] Odonno commented on #160
Yes, I think it's possible.

If you can show me the C# implementation, I can write the equivalent in JS (and if you want TS).

[2016-08-30 08:13] Odonno commented on #255
@Code-ScottLe Yes, could be helpful to have a `BackgroundTaskService` with list of current tasks and method to (un)register tasks.

[2016-08-30 09:27] darshanrampatel opened #266 "Dev NuGet Repo empty"
I am trying to use the dev NuGet Repo (https://ci.appveyor.com/nuget/uwpcommunitytoolkit-unwg9jaovwyr) as mentioned in [the README.md](https://github.com/Microsoft/UWPCommunityToolkit/blame/dev/readme.md#L98), but no packages are loading:

![image](https://cloud.githubusercontent.com/assets/14162899/18083638/e1d59e80-6e9b-11e6-91bc-43e415259dfc.png)

When I load this URL in a browser, I get:

![im

[2016-08-30 09:34] ScottIsAFool commented on #266
Did you tick the pre-release checkbox and switch to that particular source?

[2016-08-30 09:36] darshanrampatel commented on #266
@ScottIsAFool, yes, I did both.

[2016-08-30 09:42] PedroLamas commented on #266
The address is incorrect, please use this one instead:

https://ci.appveyor.com/nuget/uwpcommunitytoolkit-dev

[2016-08-30 09:46] #266 closed

[2016-08-30 12:44] darshanrampatel commented on #266
Thanks - that one works.

[2016-08-30 14:01] deltakosh commented on #160
Please just provide a PR with a a.bind for js like these ones:
* https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.SampleApp/SamplePages/LiveTile/LiveTileCode.bind
* https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Toast/ToastCode.bind
* https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp

[2016-08-30 14:02] deltakosh commented on #255
Let's try and see how it looks like:)

[2016-08-30 14:47] Odonno commented on #160
Thanks, I'll do that.

[2016-08-30 16:45] bkaankose commented on #236
Documentation will be added if everything looks fine.

[2016-08-30 17:13] deltakosh commented on #236
I'll have a look soon

[2016-08-30 17:36] mrjfalk commented on #254
Here is a simple UWP app which has this issue. Just run the application, and then resize the window until it hits the width specified by "AdaptiveTrigger" in the DataTemplate (currently set to MinWidth=1440). Then it will crash with the exception Layout circle exception as described earlier.

[App4.zip](https://github.com/Microsoft/UWPCommunityToolkit/files/445494/App4.zip)

Worth noting is that i

[2016-08-30 18:05] jlnostr opened #268 "New control for properly displaying HTML content"
I think a *solid* control for displaying content doesn't exist at the moment. Sure, you can use a `WebView` control, build yourself a HTML template, add some CSS and all the things. But this makes it still complicated to use the `WebView` in a `FlipViewItem` for e.g. next/previous behaviors.

The [`HtmlBlock` control from the *Windows App Studio Libraries*](https://github.com/wasteam/waslibs#html-

[2016-08-30 18:11] deltakosh commented on #268
I'm not sure to get why using the Webview is complicated. Can you picture it a little bit more?

[2016-08-30 18:13] ScottIsAFool commented on #268
@deltakosh the webview might not be difficult as such, but it adds a significant memory overhead that would be preferred to be avoided.

[2016-08-30 18:14] deltakosh commented on #268
But how do you want to render HTML with a webbrowser? :)

[2016-08-30 18:17] jlnostr commented on #268
@ScottIsAFool For example.
@deltakosh I'm missing a control (maybe based on the WebView) that is as easy to use as the rest of XAML. So I can put other controls on top of it (instead of building workarounds with `WebViewBrush`), put it in a FlipViewItem (like in the MSN news app, for example) and so on.

[2016-08-30 18:25] Code-ScottLe commented on #255
I'll give it a go. I'll ping back when it is ready for pull request.

[2016-08-30 19:13] Odonno commented on #255
@Code-ScottLe Another implementation, if you need inspiration https://github.com/Odonno/Modern-Gitter/blob/master/Gitter/Gitter/Gitter.Shared/Services/Concrete/BackgroundTaskService.cs

[2016-08-30 21:38] Odonno opened #269 "[Anniversary] Binding Source property of MediaElement"
I am currently trying the Universary Update SDK and the `x:Bind` binding system is really surprising. There is also a lot new things to learn.

Here is a bug I have. I bind a Source property (from ViewModel) to the Source of a MediaElement. When the source is real (a *.mp3 or *.mp4), it works just fine, but when I want it off (like `null` or `string.Empty`), an Exception occurs (ArgumentException)

[2016-08-31 00:09] dotMorten commented on #269
Please use the forums for generic UWP questions: https://social.msdn.microsoft.com/Forums/en-US/home?forum=wpdevelop

[2016-08-31 00:09] #269 closed

[2016-08-31 05:19] aqibbanday opened #270 "Cast Exception builds less than 14393"
Code Line :>>
await BackgroundImage.Blur(value: 10, duration: 0).StartAsync();

Exception Details:>>

System.InvalidCastException was unhandled
  HResult=-2147467262
  Message=Unable to cast object of type 'System.__ComObject' to type 'Windows.UI.Xaml.Hosting.IElementCompositionPreviewStatics'.
  Source=mscorlib
  StackTrace:
       at System.StubHelpers.StubHelpers.GetCOMIPFromRCW_WinRT(Object ob

[2016-08-31 05:34] ScottIsAFool commented on #270
Can you confirm what you're trying to do? Are you trying to build the toolkit code? Or have you just added the nuget package to an app whose target version is less than 14393?

[2016-08-31 05:35] Hanzalah-Adalan commented on #268
@jlnostr  I have an unanswered issue for the HtmlBlock control.. I think the control has been deprecated since it's not brought into this new UWP Community Toolkit.. There must be a real reason why they ignore it

[2016-08-31 08:43] javitosanchez commented on #268
In my experience the webview approach has 2 problems/limitations:

- Memory consumption
- The webview control handles it's own scroll, so it's not posible to include it into a scrollview. This limits any kind of layout composition

It's obvious that the best way to render html is using the webview control, but currently most of the content providers (rss, YouTube, Twitter...) uses the html as form

[2016-08-31 12:07] dachibox opened #271 "Dialog control that could complement the contentDialog?"
Could be interesting a Dialog control in the Uwp Community Toolkit?

![uwpwindowstoolkit](https://cloud.githubusercontent.com/assets/1771785/18127806/edc9ac94-6f82-11e6-82cf-d96a5db3f7b4.PNG)             | ![uwpwindowstoolkit2](https://cloud.githubusercontent.com/assets/1771785/18127814/f5626982-6f82-11e6-8395-4674078b8d99.PNG) |
--------------------|-------|

You can explore the sample here: [...

[2016-08-31 14:56] aqibbanday commented on #270
Added the nuget package. and used this
"await BackgroundImage.Blur(value: 10, duration: 0).StartAsync();"
to create the blur effect.

[2016-08-31 14:57] aqibbanday commented on #270
I am able to use this on build 14393 but on buils less than 14393 i get an exception given above.

[2016-08-31 18:18] deltakosh commented on #268
@jlnostr and this control should be interactive I guess?

[2016-08-31 18:20] deltakosh commented on #271
I have no option here. MessageDialog was always enough for me but I'm open to discussion :)

[2016-08-31 18:25] deltakosh commented on #270
Which is expected. Blur (as mentioned in the doc, but I guess we should make it more visible) is only supported on 14393+

You can still reference and use the animation library. You can also jeep using Blur but you need to test if it is supported first with:
[code]

[2016-08-31 18:42] ScottIsAFool commented on #268
@deltakosh if by that you mean things like clicking on hyperlinks, yes :)

[2016-08-31 18:43] ScottIsAFool commented on #271
@deltakosh problem with MessageDialog is it suffers a display bug in that the title you assign will be shown twice in the dialog window.

[2016-08-31 18:44] ScottIsAFool commented on #270
@deltakosh from a behaviour stand point, I agree, however, running that method should, at most, do nothing, it shouldn't crash the dev's app :)

[2016-08-31 18:54] deltakosh commented on #271
Ok gotcha

[2016-08-31 19:13] timheuer commented on #271
What does this compliment?  What value is it adding over ContentDialog?

[2016-08-31 19:18] Odonno commented on #160
Hi @deltakosh

I wanted to try my JS version of ToastCode but I am currently having an issue with the NuGet package on a UWP JS app. Did I made something wrong ?

![capture](https://cloud.githubusercontent.com/assets/6053067/18142982/4b17f92c-6fc0-11e6-87bc-4d3e755f049e.PNG)

[2016-08-31 19:33] deltakosh commented on #270
Ping @shenchauhan

[2016-08-31 19:35] Dinchy87 commented on #260
Can confirm this. Tried to do the same in a GridViewItem and it blurs fine but while pressing and holding the item it gets like this above.

[2016-08-31 20:07] deltakosh commented on #160
Ping @anbare

[2016-08-31 20:38] bkaankose commented on #271
Instead of adding another control on top of ContentDialog, I prefer something that helps content dialog to be shown more easily. Dealing with the ContentDialog with the MVVM pattern always been hard for me.

In [this issue](https://github.com/Microsoft/UWPCommunityToolkit/issues/9) we have something called Message dialog helper. I think this can be related to that too.

[2016-08-31 20:47] deltakosh commented on #260
Adding @nmetulev as well just in case

[2016-08-31 21:54] jurepurgar opened #276 "Image processing helper"
Hi guys,

I have a little helper class for image resampling: https://gist.github.com/jurepurgar/8c060ba0eafe0b8c1e56348e4dba2cbf. Of course it needs a lot of work, like different overloads, etc. but does it fit in the toolkit? We could add other image processing stuff in the future. If you think it fits in the toolkit I can make a pull request.

[2016-09-01 00:23] anbare commented on #160
@Odonno Did you set your UWP JS app to "x86" or "x64" or "ARM"? When you reference a C# WinRT library, it won't let you use "AnyCPU".

As for the warnings, I'm afraid there's no way to fix them - I spent plenty of time playing around with the NuGet package, but ultimately what the NuGet package has today was the only thing that actually worked. But if someone else can figure out a better way for t

[2016-09-01 05:08] aqibbanday commented on #270
Well the "if" statement fixes the problem.

[2016-09-01 09:09] JohnnyWestlake commented on #234
Given the animation isn't actually tied to any specific panel and is done with Implicit composition animations, I'd say it'd be better off as a behaviour or attached property you can drop on any panel.

Unless you wanted to write these panel to be backwards compatible with pre 14393 versions of Windows - which is entirely possible but more complicated - and would have to be done as a specific cont

[2016-09-01 09:29] SimoneBWS opened #277 "Add support to CornerRadius for ImageEx control"
It would be nice to have this effect with ImageEx to take advantage of ImageCache.

![ImageEllipse](http://tinyurl.com/jmrf3rq)

[2016-09-01 09:31] ScottIsAFool commented on #277
Not an unreasonable feature request :)

[2016-09-01 13:22] deltakosh commented on #234
Lovely! I'm 100% for an attached property

[2016-09-01 15:11] timheuer commented on #260
This is likely a collision with the existing PointerDownThemeAnimation that already exists in the platform.  A quick test would be to remove that from the Button template and see if that changes anything.

[2016-09-01 17:54] Odonno commented on #160
@anbare Yeah, sorry. I thought it was set by default to x86. It works now, the error disappeared.

Thank you for supported JavaScript developers too. I am just wondering why we can't take advantage of the JS object notation (like a JSON object). Indeed, I converted the `ToastCode` and it is a lot painful since we need to expressly set the object type.

I don't know a lot about WinRT component but

[2016-09-01 18:18] jasonshortphd opened #280 "Fix code docs XAML for Blur"
There is a formatting error in the XML docs where the entry says prior to call Blur/>. We need to remove that closing tag.
    <member name="P:Microsoft.Toolkit.Uwp.UI.Animations.AnimationExtensions.IsBlurSupported">
        <summary>
        Gets a value indicating whether the platform supports blur.
        </summary>
        <remarks>
        A check should always be made to IsBlurSupported pri

[2016-09-01 18:21] anbare commented on #160
Hmm, so are you thinking JS developers would have something like this? Btw, I'm only vaguely familiar with JavaScript, so please correct me or clarify things :)

    new JsToastContent({
        visual: {
            bindingGeneric: {
                children: [
                    {
                        type: "text",
                        text: "Hello world"
                    }

[2016-09-01 18:27] Odonno commented on #160
@anbare Yes, here is my vision :

[code]

I think that's simple, reusable (using a function) and flexible.

[2016-09-01 18:36] deltakosh commented on #270
Ok this is cool. I close the issue

[2016-09-01 18:36] #270 closed

[2016-09-01 19:52] brandonh-msft commented on #42
@deltakosh A great lib was just released that could either serve as fulfillment for this, or be used to fulfill this: https://github.com/Microsoft/Cognitive-LUIS-Windows

[2016-09-01 20:50] deltakosh commented on #42
We can take dependency on it if we can provide real value :) else we can just close this issue

[2016-09-01 21:22] #143 closed

[2016-09-01 21:22] #258 closed

[2016-09-01 21:27] hermitdave commented on #268
Folks,

I have needed this in past and i started with this control
https://github.com/MyToolkit/MyToolkit/tree/master/src/MyToolkit.Extended/Controls/Html

However I couldn't style it and due to lack of time I eventually moved to using HTML to XAML transform

It would be great to implement at least a limited HTML to RichTextBlock transform

[2016-09-01 21:28] #280 closed

[2016-09-01 22:59] brandonh-msft commented on #42
Unfortunately I haven’t taken a strong look at that SDK to know if there is anything we could do to improve it; though I would say that anything that could be done in UWPCT should just be done in it directly.

I say close this one.

From: David Catuhe [mailto:notifications@github.com]
Sent: Thursday, September 1, 2016 1:51 PM
To: Microsoft/UWPCommunityToolkit <UWPCommunityToolkit@noreply.github.co

[2016-09-01 23:14] #42 closed

[2016-09-02 00:44] shaggygi opened #281 "Add DataGrid Control"
Nice work on this Toolkit and video on Channel 9!  Keep up the good work.

It would be nice to have a DataGrid control.  I can only find with 3rd-party like Telerik.

[2016-09-02 04:00] brandonh-msft commented on #161
I'd love to see @msiccdev bring some of his work on UniShare to the project. This one would be a great start

[2016-09-02 06:26] phmatray commented on #167
I've tested this DataGrid and it has many performance problems with a collection of 800 items.
Maybe, it's not the best choice. However, I like it's design.

[2016-09-02 06:44] MSiccDev commented on #161
I will have a look into it, but cannot give any time frame as I am busy with an external Xamarin project atm.

[2016-09-02 07:12] Odonno commented on #271
So, there is no option right now to make a complete custom Dialog ? My current option is to make a UserControl.

[2016-09-02 07:14] Odonno commented on #248
Clearly, a must-have.

[2016-09-02 07:19] Odonno commented on #268
@hermitdave Same, have used a HTML2XAML component but not really enjoy by it because it is very limited. Is there any solution to create an Embedded HTML view inside a XAML component ?

I mean, my current use case is to create a ListView where each item has a DataTemplate that contains some XAML stuff and an HTML block view.

[2016-09-02 08:14] phmatray opened #282 "Bing search language"
With the following url, the result is correct in my browser
All of them are in french and this is what I'm expecting.
http://www.bing.com/search?q=loc:fr+Windows+10&format=rss&count=50

But when I run the service by the unit tests, all the results are in english and in dutch.
It's a nonsense.

I'm digging on this while it seems that the problem is in the "httpClient.GetAsync(settings.RequestedUri)

[2016-09-02 09:43] ScottIsAFool commented on #282
I believe there's a PR in that will fix this #213.

[2016-09-02 09:50] phmatray commented on #282
If you agree, I'll close this issue when I'll be able to test this.

[2016-09-02 09:51] ScottIsAFool commented on #282
Sure. There's one final thing required for that PR I believe.

[2016-09-02 10:40] rsuter commented on #167
Hi everybody,

I'm the developer of the MyToolkit project. I think a DataGrid is a good addition to the UWP Community Toolkit. However there are some issues with the DataGrid from the MyToolkit:

- **Dependencies:** The DataGrid uses other classes from the MyToolkit (e.g. ObservableView: An observable view of a collection with sort order and filter, etc.). You cannot just copy the DataGrid class a

[2016-09-02 10:42] rsuter commented on #281
See https://github.com/Microsoft/UWPCommunityToolkit/issues/167

[2016-09-02 10:43] Depechie commented on #167
@rsuter I for one love the control!! I hope it can be transferred over to the UWP toolkit :)
My only concern with the original one is that it still had a bug open I filed ;) https://github.com/MyToolkit/MyToolkit/issues/52 would be great of that would be solved when migrating it over...
Anyhow, I think this grid is great for adding

[2016-09-02 10:46] rsuter commented on #167
@Depechie I know that there are some open issues, but I currently work on my other open source projects... But I'll look into this - I think it shouldn't be a big problem to fix this.

[2016-09-02 11:34] shaggygi commented on #281
@rsuter Thanks for pointing this out.  Closing out issue as it is a duplicate.

[2016-09-02 11:34] #281 closed

[2016-09-02 15:22] #235 closed

[2016-09-02 15:31] deltakosh commented on #276
Hello!
This seems a bit too niche for me.

[2016-09-02 15:32] deltakosh commented on #271
@Odonno what do you mean? What is the problem right now?

[2016-09-02 15:52] Odonno commented on #271
@deltakosh I want to make a control that looks like the CustomDialog but with more possibilities.

It would be like a subwindow that you can close, that contains buttons and more and that can potentially be used for page navigation. Like a nested page that looks like a W10 dialog.

[2016-09-02 16:15] anbare commented on #160
That'd definitely be neat and much cleaner for JS! It ought to be possible using the ExpandoObject or dynamic objects in C#? Although I'm not sure if those work via a WinRT component.

I don't have time to play around with that, but if you do, go for it!

[2016-09-02 16:27] Odonno commented on #160
@anbare I don't know either. I think the ExpandoObject could be a solution but I am more interested if it could work simply by making POCO for all the classes and extracting methods and default variables into a Helper or a Service class.

But it will change the behavior of the C# library at the same time, right ?

[2016-09-02 17:33] pekspro commented on #260
I did that and then blur worked properly (but the pointer down animation didn’t obviously).

[2016-09-02 17:44] deltakosh commented on #268
I do not see how you can handle all the complexity of CSS + html + JS on a custom control without relying on an effective browsers.
This control has to be perfect or you will spend ages dealing with support and maintenance.

[2016-09-02 17:46] ScottIsAFool commented on #268
@deltakosh I would say most use cases don't require parsing complex html/css/javascript

[2016-09-02 17:47] deltakosh commented on #268
"most"
The risk could be reduced with a SOLID documentation perhaps

[2016-09-02 17:49] deltakosh commented on #268
But once again, I do not want to block this control. Let's try and see how it could work

[2016-09-02 17:59] jurepurgar commented on #276
Even if we add other stuff like crop, rotate, convert (png, jpg gif) etc. and overloads for BitmapImage, Stream, StorageFile, filenames? The point is that dealing with images in UWP can be hard for beginners, with all encoding and decoding so I think a helper would be helpful :)

[2016-09-02 18:07] deltakosh commented on #276
That's totally different then:)

[2016-09-02 19:25] tomzorz commented on #248
Thanks for the input everyone, I'll try to submit the first PR soon based on my version.

[2016-09-02 19:50] deltakosh commented on #271
So basically a control that inherits from CustomDialog and that add a close button?
I'm not sure to get what do you mean with page navigation

[2016-09-02 20:02] Odonno commented on #271
I will show you something soon.

[2016-09-02 20:37] Odonno commented on #160
What I mean by POCO classes is making the library to have C# classes that contains only required properties. Of course, it needs a complete different design from the C# implementation.

I am not sure if it could work in a JSON-like way, I suppose that if type match correctly, I expect it to work.

[2016-09-02 21:32] anbare commented on #160
Yep I understood that meaning after googling POCO. Unfortunately I'm skeptical that it'll allow you to use the JSON-like format, but it's worth a try.

[2016-09-02 21:58] Dinchy87 opened #285 "AccessViolationException on Animations"
Hi guys, i recently started to use the Animations from this Toolkit which are great but i got also sometimes some strange exceptions like this one System.AccessViolationException in Microsoft.Toolkit.UI.Animations.dll. it happens while i want to call this method

`await RatingGridBackground.Blur(value: 10, duration: 0, delay: 0).StartAsync(); `

and it does not happen every time, i dont know what

[2016-09-02 22:44] deltakosh commented on #285
Do you have a small project that can repro this issue?

[2016-09-02 23:07] gisardo commented on #172
Fix shipped and live with UWP Community Toolkit Sample App V1.0.2.0

[2016-09-03 11:41] Dinchy87 commented on #285
I could try to make one, this happens in my main app which is not that small and its complex. I will try to make a new empty project with this issue today.

[2016-09-03 12:26] Di-Roll opened #286 "Can't bind image to HamburgerMenu DataTemplate."
As an example, I used [this](https://developer.microsoft.com/en-us/windows/uwp-community-toolkit/controls/hamburgermenu.htm)
I want to set an image for each item in the hamburgermenu but get no image (and no errors).
My datatamplate look like this:
[code]

MenuItem class:
[code]

When I create the "image" element on the page - everything appears normal.
xaml:
`<Image Width = "24" Height="24" Sourc

[2016-09-03 12:37] #286 closed

[2016-09-03 15:26] linhnd opened #287 "ScrollIntoView not working with PullToRefreshListView"
Cannot use ScrollIntoView to scroll to specific item in PullToRefreshListView. Please fix

[2016-09-03 20:54] hermitdave commented on #268
My thoughts.

1) No JS support. This is an HtmlView control. it renders Html and that's about it.
2) We start with basic html tags. I'd suggest a subset of HTML4
3) CSS again would be a no no.. we could look at inline style attribute as that isn't that bad an option.

[2016-09-04 10:44] deanchalk opened #288 "Cant build test projects"
Hi All

In the UnitTests project there are broken references to MSTestFramework.Universal and TestPlatform.Universal. These are not referenced as nuget packages in project.json, and looking at the csproj file thye look like SDK references.

Can someone tell me what I need to add to Visual Studio in order to fix these references ?

Many thanks

Dean

[2016-09-04 13:50] JohnnyWestlake commented on #277
I've been given this a look at using the simple method of restructuring the XAML to use borders with ImageBrush backgrounds which allows easy corner radius setting, but this means we can't use the NineGrid property anymore.

The next obvious solution is to rewrite the whole thing to be Win2D based (which would also enable you to do more extravagant additions in the future), but that would make GIF

[2016-09-04 13:56] JohnnyWestlake commented on #287
(This is currently already open as #179 )

[2016-09-04 14:00] JohnnyWestlake commented on #271
I'd personally be very interested in some sort of dialog control that can be easily worked to replicated this on Xbox One UWP apps:
![Menu Image](https://www.thurrott.com/wp-content/uploads/2016/08/jump-the-queue-1024x580.jpg)

(Or, seeing as someone at Microsoft probably has the sourcecode for it, if they could kindly just drop it in this project... ;P)

[2016-09-05 08:40] ikarago opened #289 "ResourceHelper for getting strings from the active translation"
I've some code here to easily get the requested text from the translation Resource-files in the code behind. With this you can get the text (in the translation the user is using) with one single line of code in the C#-code, instead of multiple lines per string.

I wondered if there is some interest in it, because if so, I would be happy to share it with you all! :)

[2016-09-05 09:19] ScottIsAFool commented on #277
@JohnnyWestlake yup, that's basically the place both @hermitdave and I got to over the weekend too :)

[2016-09-05 13:52] hermitdave opened #290 "ImageCache Clear Async throws InvalidOperationException"
When using In-memory storage of BitmapImage, calling ClearAsync throws InvalidOperationException as collection keys are being iterated and its being modified at the same time.

[2016-09-05 15:16] phmatray commented on #155
In Silverlight, the PagedCollectionView class was very good for filtering and simple to use.

[2016-09-05 17:19] Odonno opened #294 "Create a gitter channel"
Gitter is a wonderful service for instant communication around GitHub repository/community.

I think it could be valuable for this project by providing fastest communication about things that do not necessarily require an issue.

[2016-09-05 17:38] sidwall opened #295 "New BusyIndicator control"
Would be nice with a BusyIndicator control like the ones that exist for WPF. It would look something like this:
`<BusyIndicator IsBusy="{Binding IsBusy}">
    <Content that would be disabled when IsBusy=True>
</BusyIndicator>`

[2016-09-05 17:54] deltakosh commented on #295
Hello I think this is handle by #247

[2016-09-05 17:55] deltakosh commented on #294
Is it like a chat for Github?

[2016-09-05 17:56] deltakosh commented on #288
I think this is part of VS installation (I did a by default one and it works)

[2016-09-05 17:56] ScottIsAFool commented on #294
@deltakosh yes, think of it like a mini slack channel for github projects.

[2016-09-05 17:56] #287 closed

[2016-09-05 17:58] deltakosh commented on #289
Can you share this code?

[2016-09-05 18:00] Odonno commented on #294
@deltakosh @ScottIsAFool Yes, it is. It is a collaborative tool as a chat. You can have discussions around your own org, your repository and you can also create subchannel if you want, for any details about your ideas/project.

[2016-09-05 18:06] sidwall commented on #295
Yes, you are right, although I think BusyIndicator is a better name :)

[2016-09-05 19:19] ikarago commented on #289
I've made a pull request with the code! :)

https://github.com/Microsoft/UWPCommunityToolkit/pull/297

[2016-09-05 20:03] deltakosh commented on #295
Feel free to comment directly on the PR:)

[2016-09-05 20:03] #295 closed

[2016-09-05 20:19] hermitdave commented on #256
the main issue is that we need to start with something like Canvas and implement Virtualization from zero. All built-in panels are sealed and cannot be inherited.

It would be handy if we have some WPF champs who have done similar stuff before

[2016-09-05 20:48] hermitdave commented on #73
@shenchauhan referring to stock ticker ? or an infinite loop ticker ?

[2016-09-05 21:19] hermitdave commented on #218
i have started working on FileCache and I will built the ImageCache on that once its working well

[2016-09-06 08:53] Dinchy87 commented on #268
I also tried to make my own solution instead of the webview, parsing all the elements of a html document in a richtextblock or different xaml elements inside a scrollviewer but in the end it gets to the same as the webview. Handling JS and cookies and caching and so on there is the webview better and i thought if i do it further i will get to the point of a basic webview. So for me its the same. M

[2016-09-06 09:06] Odonno commented on #255
@Code-ScottLe What is your progress ?

[2016-09-06 09:32] bkaankose commented on #282
Updated #213

[2016-09-06 13:39] assassin316 opened #299 "Does the Facebook service support fetching a user's albums and pcitures?"
After looking at the documentation, can it be that there is not support for fetching a user's pictures and albums ??

[2016-09-06 15:32] deltakosh commented on #167
Developing such a control (like TreeView, charting or DataGrid) is not easy to get right, performant.

For now, we’re holding off on accepting some of these higher complexity controls int the toolkit as the core framework team is actively considering them

[2016-09-06 15:33] #167 closed

[2016-09-06 15:34] deltakosh commented on #253
Developing such a control (like TreeView, charting or DataGrid) is not easy to get right, performant.

For now, we’re holding off on accepting some of these higher complexity controls int the toolkit as the core framework team is actively considering them

[2016-09-06 15:34] #253 closed

[2016-09-06 15:44] deltakosh commented on #288
Ok this is why :) You need vs 2015

[2016-09-06 15:44] #288 closed

[2016-09-06 16:42] Dinchy87 commented on #285
basically this is my sample:

xaml -

`<Grid x:Name="SearchGrid"><Rectangle x:Name="SearchBlurGrid" loaded="SearchBlurGrid_Loaded"/></Grid>
`

and .cs -
[code]

Thats it, nothing more and the app crashes. The app is targeted from 10586 to 14393. Tried it again now and it crashes very often.

[2016-09-06 17:17] dachibox commented on #271
The ContentDialog is just enough for 90% but I think there are some fix that could be very interesting.

- Better MVVM solution. In this example I provided we can just Bind an ICommand for the buttons.
- Possibility to stretch the height or width. I think it is quit impossible to stretch the contentDialog so that 0 margins are left.
- Flexibility for contentDialog forms (Like Windows 8.1 dialogs,

[2016-09-06 17:26] deltakosh commented on #277
Ok so I will close it for now as we do not have a good solution

[2016-09-06 17:26] #277 closed

[2016-09-06 17:28] deltakosh commented on #285
Ping @shenchauhan

[2016-09-06 17:31] Odonno commented on #271
@deltakosh FInally, I found a solution using a `UserControl` based on `ContentDialogBackground` and `ContentDialogBorderBrush` resources.

Maybe it's the same solution here.

[2016-09-06 17:34] #82 closed

[2016-09-06 17:35] deltakosh commented on #294
I'm not really sure I want another channel to look after:) but assuming community is ok to maintain it I will be please to create one

[2016-09-06 17:46] deltakosh commented on #299
Not yet but will try to work on it soon!

[2016-09-06 17:52] deltakosh commented on #268
@hermitdave I still don't buy it as this is too restrictive to be used. I would prefer a MDView then. At least we can support everything for this one

[2016-09-06 17:53] deltakosh commented on #271
Don't get me wrong here. If we can provide a control that is build on top of ContentDialog and which provides a real simplification / improvements, I'm all for it

[2016-09-06 18:07] Odonno commented on #271
Well, for a specific purpose, how can we achieve this dialog control ?

![sans titre](https://cloud.githubusercontent.com/assets/6053067/18285196/80cb08e6-746d-11e6-87da-3b577be03200.png)

[2016-09-06 18:25] deltakosh commented on #271
Do you need to be able to move the window? Else the contentDialog is fine for that

[2016-09-06 18:29] assassin316 commented on #299
Great!  :)   Quick question, would the service returns a list of streams, or would the photos be returned as Url's ??  The reason I ask is because as Url's, I would then be able to use the photos with Microsoft's Cognitive Apis.

[2016-09-06 19:33] hermitdave commented on #268
@deltakosh i agree.. markdown would be easier to support than html

[2016-09-06 19:49] Odonno commented on #268
Sounds good to me.

[2016-09-06 21:11] deltakosh commented on #299
We can consider both :)

[2016-09-06 21:25] deltakosh commented on #268
Ok closing this one and opening a new one for MDView

[2016-09-06 21:26] deltakosh opened #300 "New control to display MD (Markdown) files"

[2016-09-06 21:26] deltakosh commented on #268
Ok closing this one and opening a new one for MDView (#300)

[2016-09-06 21:26] deltakosh commented on #268
Ok closing this one and opening a new one for MDView (#300)

[2016-09-06 21:26] #268 closed

[2016-09-06 23:20] cbarkerms commented on #299
can you share more details on scenario please? for example, how would you envisage selecting the album / photos you wanted?  would it be by album cover photo, album name, album location, something else?  this will help us understand the most appropriate level of abstraction over the underlying api.

[2016-09-07 10:49] bkaankose opened #302 "Scrolling support for property grid."
Property grid in the sample app should be vertically scrollable. It's getting longer and longer as we add more features to the controls.

I can send a PR soon regarding this issue if nobody is interested.

[2016-09-07 10:54] ScottIsAFool commented on #302
@bkaankose please do :)

[2016-09-07 13:43] #302 closed

[2016-09-07 15:05] assassin316 commented on #299
Yes, I would display all albums by album cover, then have the user choose an album to view photos. And then I would use the each photo's url to process them through a Microsoft Cognitive API.

[2016-09-07 16:49] cbarkerms commented on #299
makes sense, thanks.  we will likely supply you with a list of urls for photos (see images field here: https://developers.facebook.com/docs/graph-api/reference/photo).  this will give you multiple representations of image quality for maximum flexibility.  downside is that cognitive services api will likely not have authenticated access to the photos so you may need to download the photo from Faceb

[2016-09-07 16:54] assassin316 commented on #299
Yes of course, thanks! :)

[2016-09-07 19:01] deltakosh commented on #9
Closing this this issue as we should create an issue per item

[2016-09-07 19:01] #9 closed

[2016-09-07 20:22] JeanCollas opened #306 "Is Microsoft.Toolkit.Uwp.Services.Facebook easy to make portable?"
Would it be easy to make the Facebook service portable (I saw there was a windows App Id, but it should be easy to provide one for any platform).
I am looking for an easy way to login to facebook and do basic actions in a Xamarin app, could it be the solution?
Thanks!

[2016-09-07 21:36] deltakosh commented on #306
Interesting question. Did you try to switch project type? What kind of error do you get?

[2016-09-07 21:57] hermitdave commented on #218
i hve done some work on modifying cache and having a common base class. Can I please have some feedback on this ?
https://github.com/Microsoft/UWPCommunityToolkit/tree/hd-cache-rework/Microsoft.Toolkit.Uwp.UI/Cache

[2016-09-08 07:27] hermitdave commented on #218
I'm starting with decoupling of file caching from images caching. As @andrejt mentioned. I'm however not doing pluggable caching mechanism.. Just separate and something we cash build other caching services on

[2016-09-08 08:34] bkaankose commented on #282
This issue can be closed since #213 got merged already.

[2016-09-08 09:26] Paradoxon101 opened #308 "Is it possible to make the Blur behaviour with Brightness?"
Without blur no background, with blur dark background or opacity.

[2016-09-08 11:28] xied75 commented on #294
@deltakosh It's more like the good old IRC. So people jump in to ask question and be gone. To really make that useful, there needs to be people man it, over different time zones, and capable of answering questions, otherwise, it will just gather weed.

Used properly, you can save a lot bandwidth on GitHub issues as people no longer need to stuff it with simple questions or "something doesn't work

[2016-09-08 11:32] Odonno commented on #308
You mean, blur content over blur background ?

[2016-09-08 13:24] Paradoxon101 commented on #308
Sorry, I meant Blur and Brightness.

Here is a sample from this site: http://www.cssreflex.com/css-generators/filter/ with Blur 3px and Brightness 0.5
![sample](https://cloud.githubusercontent.com/assets/11892773/18350916/6143a354-75d8-11e6-910b-a55fab7fc1f6.png)

[2016-09-08 13:54] #282 closed

[2016-09-08 15:31] deltakosh commented on #308
Then you actually need a brighness effect :) Not related to Blur but which can be used simultaneously

[2016-09-08 15:32] deltakosh commented on #294
Agree on implication and this is not something I  (or the team) will be to commit to.

[2016-09-08 15:38] #254 closed

[2016-09-08 15:39] xied75 commented on #155
cross ref https://github.com/Microsoft/UWPCommunityToolkit/issues/248

[2016-09-08 15:40] deltakosh commented on #155
Closing this one as #248 already capture it (Thanks @xied75)

[2016-09-08 15:40] #155 closed

[2016-09-08 15:44] xied75 commented on #294
For the time being, why don't we "re"-use the room I just mentioned? Frankly, I think there probably should be only one room for all things UWP, people rarely are so professional in that they ONLY make controls, or behaviors, or styles, we make App, and we jumping around touching this and that, would be great to have a room with all the experts we could get to advancing UWP.

[2016-09-08 16:06] deltakosh commented on #294
I'm ok with that:) this is mostly a convention between community members

[2016-09-08 17:06] xied75 commented on #235
Should we raise the animation question here https://github.com/Microsoft/WindowsUIDevLabs, they are the base for all things composition.

[2016-09-08 17:11] deltakosh commented on #235
I think so. @NicoVermeir : are you still wokring on it?

[2016-09-08 17:14] xied75 commented on #253
@deltakosh I highly doubt the Core team would have the time/resources to supply something as complete/sophisticated as D3.js. I would rather suggest that we could start some investigation/design here as to having a full system to enable UWP offer brilliant DATA Visualization controls.

I'm not yet sure are we going to build each every possible vis control one by one, or should we rather offer a la

[2016-09-08 17:23] Odonno commented on #294
@xied75 I think that's another subject. Maybe a room for every UWP experts/developers. But we should not have only one big room, we should a room by repository/project (plus a room like you said).

@deltakosh To create the room or not, it's up to you. The gitter chat is mainly based on the trust of everyone and people are usually using that tool to improve collective knowledge, in a different way

[2016-09-08 17:37] deltakosh commented on #253
I was serious when I said that core team is considering it. I do not want to build a control here that will be a "competitor" of a core SDK control.
This is why we have to wait. But I promise you I will update this thread as soon as I know more about it.

My goal is definitely to provide what developers need :)

[2016-09-08 17:39] deltakosh commented on #294
Let me rephrase it: If someone in the community takes the lead on the Gitter channel, I will be pleased to create it but I need someone who can drive it (and believe me this is a full time job :))

I'm also driving Babylon.js community on my spare time and I know how complex it could become

[2016-09-08 17:46] Odonno commented on #308
I think this is not easily possible. If I reference to this page (https://microsoft.github.io/Win2D/html/T_Microsoft_Graphics_Canvas_Effects_BrightnessEffect.htm), there is currently no Composition implementation, only Win2D.

[2016-09-09 05:49] NicoVermeir commented on #235
not on the animations no, not sure how to get started on those

[2016-09-09 06:54] MoleDJ commented on #256
Have a posibility to do same layout as msn news app whould be great. I was trying to do something similar past week without luck

[2016-09-09 14:27] Dinchy87 commented on #308
Set a rectangle behind the picture and use the theme background color and then regulate the opacity of the image?! This would be like brightness without to much memory consumption. Opacity 1 would be 100% brightness, 0.5 - 50% and so on.

[2016-09-09 14:30] Paradoxon101 commented on #308
I try to imitate the same effect of windows 10 in the notification center.
![windows](https://cloud.githubusercontent.com/assets/11892773/18390496/b99b0a2e-76aa-11e6-82bc-569660be1287.PNG)

[2016-09-09 14:50] hermitdave opened #311 "Review StreamHelper code"
SteamHelper used disposable pattern to make http request
https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp/Helpers/StreamHelper.cs

With recent issues that have come to light summed up here
https://www.infoq.com/news/2016/09/HttpClient

We should move away from disposal pattern

[2016-09-09 15:45] Odonno commented on #308
@Paradoxon101 That looks more like Opacity indeed.

[2016-09-09 18:59] stonemonkey opened #312 "How to focus auto selected HamburgerMenu item?"
I'd like to select, from code, the first MenuItem. While I can navigate the content frame to the first associated page, I'm not sure how to focus the item.

[2016-09-09 21:55] hermitdave commented on #311
Additionally the Http Request does not include any compression flags. We should add those to request header since we could be using StreamHelper for more things than just images

[2016-09-09 23:56] daruyanagi opened #313 "System.TypeLoadException in Microsoft.Toolkit.Uwp.Services"
![image](https://cloud.githubusercontent.com/assets/1104827/18406021/928a0c86-7732-11e6-8331-6a24fe4c3d9b.png)

at Windows 10 (version 1607), Visual Studio 2015 Update 3 (Japanese).
Microsoft.NETCore.UniversalWindowsPlatform is v5.2.2.

1. Create new UWP project.
2. Add  Microsoft.Toolkit.Uwp.Services NuGet to the project.
3. Run the project.
4. System.TypeLoadException occurs before MainWindow is

[2016-09-10 00:47] deltakosh commented on #313
Do you mind sharing your project?

[2016-09-10 00:48] daruyanagi commented on #313
OK, here it is.

[ToolKitTwitterService.zip](https://github.com/Microsoft/UWPCommunityToolkit/files/465130/ToolKitTwitterService.zip)

[2016-09-10 01:38] deltakosh commented on #313
Thanks! I'm travelling right now butbI'll check it this Tuesday for sure:)

[2016-09-10 11:44] hermitdave commented on #313
I'd take a look tonight..

[2016-09-10 11:50] hermitdave commented on #313
tried it and no issues.. have to rebuild the project but once I did that it was just fine showing MainPage

[2016-09-10 14:28] bkaankose commented on #313
First, did experience the issue with your sample. Then removed the package and error was gone. Added current dev-branch services project as reference and succesfully launched. Then removed the reference and installed the nuget package again, it was still working.

Weird. :)

[2016-09-10 15:03] hermitdave commented on #313
@bkaankose maybe try deleting the bin and obj and try again.. I did the same and still all good.. btw on this device I don't have AU.. I have the latest SDK but its pre AU build

[2016-09-10 16:36] daruyanagi commented on #313
I rebuild the project, and reload XamlTypeInfo.g.cs, it works fine. I don't know why it works, but I could fix the problem. Thanks for your help.

[2016-09-10 16:44] #313 closed

[2016-09-10 18:00] Odonno commented on #160
Should be ok ?

I'll add another issue regarding simplification of JS toast creation (in JSON-like way).

[2016-09-10 18:02] Odonno opened #314 "[JS] Create toast notification using JS object"
Add ability to create a toast notification using a JS object (JSON-like).

Based on #160 discussion.

[2016-09-10 18:08] deltakosh commented on #160
Yea you can close this issue

[2016-09-10 18:14] #160 closed

[2016-09-11 10:06] boodoolak opened #315 "How to set cache time for ImageEx via xaml?"
I don't find this property in control.
I use MVVM and cannot to use code behind.

[2016-09-11 10:21] ScottIsAFool commented on #315
Why can't you use code behind? Using MVVM does not mean "you must never use code behind!" If anything, setting the ImageCache time out is probably one of those scenarios where it makes no sense having that in your view model.

Also, the ImageCache isn't controlled by the ImageEx control, it's determined by the ImageCache class itself, there's a static property, CacheDuration, you can use to set it

[2016-09-11 11:03] hermitdave commented on #315
add to what @ScottIsAFool said, i'd suggest setting the ImageCache's CacheDuration during application initialisation so it is applicable to all requests.

[2016-09-11 11:55] boodoolak commented on #315
Well, but how can I set CacheDuration for this control  out_of_the_box? And I need different CacheDuration for different images.

[2016-09-11 12:34] hermitdave commented on #315
that isn't possible right now

[2016-09-11 12:34] hermitdave commented on #315
the cache duration applies to all images and is not image specific

[2016-09-11 18:22] pekspro opened #316 "IsItemClickEnabled and SlidableListItem"
I’m trying to use SlidableListItem in a ListView where IsItemClickEnabled is true. If I’m doing this the ItemClick event is triggered even when an attempt to swipe was made (not what I want). Any suggestion how to deal with that?

Tested on version 1.0.0 from NuGet.

**Update:** This happens on a computer when I swipe with a mouse. On a phone it seems to work differently.

[2016-09-11 19:46] bkaankose commented on #316
Since phones don't use mouse for interaction it is working properly, so it is intented.

I don't see a point of using ItemClick with SlidableListItem though. And also event is triggered after the swipe operation is complete. So nothing being triggered during swipe.

Maybe we can implement some kind of a SwipeCompleted and SwipeStarted events to provide more control over this.

[2016-09-11 21:22] hermitdave commented on #316
I think item click in addition to selection is worth having no matter what item type is used.

[2016-09-11 21:40] Odonno commented on #308
@Paradoxon101 I am sorry, I just found the solution to your problem. Indeed, the effect you need is a frost effect. A tutorial was published in the Windows blog (https://blogs.windows.com/buildingapps/2016/08/26/interop-between-xaml-and-the-visual-layer/).

Here is the source code to achieve this effect :

[code]

[code]

[2016-09-11 21:44] Odonno commented on #308
@deltakosh Should we add the frost effect animation in the backlog ?

[2016-09-11 21:46] deltakosh commented on #308
For sure!

[2016-09-12 03:23] shenchauhan commented on #285
I'll look into this sometime this week.

[2016-09-12 07:27] Paradoxon101 commented on #308
Thank you all :)

[2016-09-12 08:49] JohnnyWestlake commented on #316
Considering the default mail app on phones use swipe, selection and itemclick, we should try to deal with it.

[2016-09-12 08:59] JohnnyWestlake commented on #315
I'd be open for setting a cacheduration override on every call to the cache, i.e. `ImageCache.GetImageAsync(string key, TimeSpan? duration = null)`, and then checking the DateLastModified against the current time to check whether the image is expired. Seems like a nicer idea than having to create separate caches every time you want to do that, and then that can bubble up to ImageEx.

(Then ideally

[2016-09-12 09:53] hermitdave commented on #315
@JohnnyWestlake feel free to cook something up..

[2016-09-12 14:54] xied75 commented on #300
Would this be based on a RichText control?

[2016-09-12 15:04] xied75 opened #317 "New Control: Miller columns"
Definition: http://en.wikipedia.org/wiki/Miller_columns

Visual:
http://ux.stackexchange.com/questions/18991/is-there-any-alternative-ui-for-tree-structure
(see the answer by robmclarty picture 2: Columns)
http://onecommander.com/
(home page video top-left part where we can see a bunch of folder in columns folding and unfolding)

Purpose:
At least in my use case: to enable user quickly locate and

[2016-09-12 17:22] cbarkerms commented on #161
@marcopmorais - can you indicate the highest priority functions you'd like to see from the LinkedIn service please? e.g. retrieval of signed in user's basic profile information, being able to share to LinkedIn, ...?

[2016-09-12 17:40] pekspro commented on #316
I just want to add some opinions after some more thinking about this:

* It shouldn’t matter if you use a mouse or touch, at least by default the same events should be triggered.
* Events like SwipeStarted and SwipeCompleted could absolutely be useful. But I’m not sure it will solve this case. It’s kind of tricky to communicate from an SwipeCompleted event that next ItemClick should be ignored for

[2016-09-12 18:30] brandonh-msft commented on #161
I think LI offers similar functionality as FB for now, so i'd say put them in parity where possible.

[2016-09-12 18:32] shenchauhan commented on #285
I've tried to reproduce this issue but I'm not able to get it to throw an exception. Are you able to provide me anything else to help me better assist you?

[2016-09-12 18:37] cbarkerms commented on #161
For FB, the toolkit is currently layered over the top of https://github.com/Microsoft/winsdkfb - in the UWP Community Toolkit we have abstracted the most common user / developer stories to lower the bar to entry.  We will take the same approach for the LI implementation (vs provide an extensive LI SDK which is a non-goal).  This can be extended over time, but I am trying to understand the top LI i

[2016-09-12 19:35] pekspro opened #318 "VisualStateManager doesn’t work in SlidableListItem"
I’m trying to create a control that inherits from SlidableListItem instead of UserControl, which I then use in a list view. In this I have a VisualStateManager. But the states are never triggered. If I change to inherit from UserControl instead everything works as expected.

Here is a sample:

	<controls:SlidableListItem x:Class="UWPCommunityToolkit_IsItemClickEnabled.SlidableListItemUserControl"

[2016-09-12 20:29] brandonh-msft commented on #161
@cbarkerms i'd agree w/ that.

[2016-09-12 20:33] cbarkerms commented on #161
great, thanks!

[2016-09-12 21:03] hermitdave commented on #21
@dotMorten whilst I agree, we need to make a solution that implements virtualisation. Without that the control is very limited much like VariableSizedWrapGrid which doesn't implement virtualisation either

[2016-09-12 22:51] nolanblew opened #319 "AdaptiveGridView in SemanticZoom"
Unfortunately the current `AdaptiveGridView` does not implement ` ISemanticZoomInformation` (Microsoft's own `GridView` does implement this interface). Therefore this makes it impossible to use the control in a semantic zoom control (zoomed in or out), as it must implement `ISemanticZoomInformation` [according to Microsoft](https://msdn.microsoft.com/en-us/windows/uwp/controls-and-patterns/semanti

[2016-09-12 23:41] Code-ScottLe commented on #255
@Odonno hey, sorry. I was incredibly busy with stuff last week. I have done a few functions but had to reconsider the naming and the required/optional parameters for all the functions. I will post the example when I have time.

[2016-09-13 12:46] marcopmorais commented on #161
For a starting point Login(out), Get the user profile and creating new posts are the basic functionalities. Later on, maybe it could be nice to see what kind of apps we can build with LinkedIn and add new functionalities, such as messaging and groups interaction.

[2016-09-13 14:21] cbarkerms commented on #161
thanks - I have this functionality included in my latest pull request so we should be able to get this in for the next release.

[2016-09-13 17:50] deltakosh commented on #235
Pinging @shenchauhan who can help connecting with Windows UI team.

[2016-09-13 18:15] deltakosh commented on #312
Hey, I've just introduced the Items property on the HamburgerMenu (on dev branch).

It is here:
https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenu.Properties.cs#L127

[2016-09-13 18:19] deltakosh commented on #311
Completely agree. Do you have some free cycles to update it?

[2016-09-13 18:20] deltakosh commented on #314
ping @anbare for your info

[2016-09-13 18:23] anbare commented on #314
Oh there's no real info here yet - someone just needs to explore whether WinRT API's can accept a JS object that isn't strongly typed. I don't have time to look into it, my guess would be to try using ExpandoObject and see if that compiles from a WinRT Component library, and if so, it should be possible.

I might be able to explore later this week or next week, otherwise Odonno can potentially exp

[2016-09-13 18:24] deltakosh commented on #314
Sounds good :)

[2016-09-13 18:27] deltakosh commented on #315
I'm closing this one. Please open a new issue with this specific feature

[2016-09-13 18:27] #315 closed

[2016-09-13 18:28] deltakosh commented on #300
I think so

[2016-09-13 18:30] deltakosh commented on #317
I think this is a specific usage of the Blade control. Not sure this is a control for the toolkit as this is really specific.

[2016-09-13 18:34] deltakosh commented on #318
Hello and thank you for this feedback.
I'm currently investigating it.

[2016-09-13 18:34] hermitdave commented on #311
I already changed it locally.. Will push it out in a bit

[2016-09-13 18:36] deltakosh commented on #311
Brilliant!

[2016-09-13 18:36] Odonno commented on #314
I really want to do it, but like you, need time.

I have the same idea, some simple objects (maybe with interfaces) or maybe dynamic/ExpandoObject elements.
But, what is sure is that we need to separate data/properties and methods.

[2016-09-13 18:50] deltakosh commented on #319
I will definitely remove the sealing. Dunno why I did not see it before

[2016-09-13 20:53] nolanblew commented on #319
Sweet 👍

Any info about the SemanticZoom interface requirements?

[2016-09-13 20:58] deltakosh commented on #319
This is not on my todo list so far. But if someone is motivated to implement it... :)

[2016-09-13 21:24] anbare commented on #314
Looks like the "dynamic" type is supported by WinRT, so that might work... haven't tried calling it from JS, but it compiles in the WinRT library.

[2016-09-14 01:40] assassin316 commented on #306
This is the problem that arises when attempting to add the nuget reference. This problem doesn't allow a developer to use it in a PCL library for iOS, Android, Windows:

"**Could not install package 'winsdkfb 0.10.20160621.3'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.6,Profile=Profile44', but the package does not contain any assembly references or

[2016-09-14 13:47] ThaineNorris opened #324 "Twitter post with picture doesn't report errors"
If you try to post a tweet with an image that is too large for Twitter, no error is reported. Instead everything appears to work without error, but the tweet never appears. This is true for your sample app from the Windows Store, and from my own integration of the TwitterService in my app. The TweetStatus function returns true, even though the post failed.

I discovered this by testing a tweet wit

[2016-09-14 13:51] assassin316 commented on #306
BTW, I was able to successfully add **windsdkfb** version **0.11.20160720.1** to a PCL library. Could the problem be resolved by simply updating your reference of wind**s**dkfb to the latest version ??

[2016-09-14 16:16] xied75 commented on #317
@deltakosh I would think this is indeed similar to Blade Control, yet if this is only a special case of that, then surely the industry should all name it Blade, yet if you refer to the wikipedia page, Miller Columns got its name long long time ago, (really old, with lots of research being done), and it was one of the Pillars of Mac OS UI, but never on Windows, maybe there could be some Windows UI

[2016-09-14 17:30] deltakosh commented on #306
Do you want to submit a PR? I can do it else :)

[2016-09-14 17:49] deltakosh commented on #324
Hey
Did you check this (from the doc): https://developer.microsoft.com/en-us/windows/uwp-community-toolkit/services/twitter
**Posting to timeline fails to appear**

Twitter app models allows for read only applications. If the app is tagged as Readonly, but attempts to post there is no error returned. The post is just eaten by the service.
If you are posting from your app and never seeing them show

[2016-09-14 17:50] deltakosh commented on #324
I guess it is not the problem but just in case :)
Does publishing a simple text tweet work?

[2016-09-14 17:51] deltakosh commented on #317
Don't take me wrong. I like this idea. I just think this is a bit too specific for this toolkit :)

[2016-09-14 17:54] #156 closed

[2016-09-14 17:54] #191 closed

[2016-09-14 17:54] #236 closed

[2016-09-14 17:55] #319 closed

[2016-09-14 17:56] assassin316 commented on #306
Sure, as soon as I get a chance I'll do it.

[2016-09-14 18:00] NicoVermeir commented on #317
it does seem very similar to the Blade control, my guess is that this is where the azure guys got their inspiration. it does seem a bit overkill to create a new control for this in my opinion, unless there are some real show stoppers in the current blade control

[2016-09-14 18:00] deltakosh commented on #161
Done

[2016-09-14 18:00] #161 closed

[2016-09-14 18:00] #245 closed

[2016-09-14 18:01] deltakosh commented on #28
@bkaankose I'm wondering if you want to implement it? Or should I remove it from v1.1 ?

[2016-09-14 18:04] deltakosh commented on #306
Cool..this is your finding so I want you to get credits for that :)

[2016-09-14 18:05] deltakosh commented on #317
Ideally I would have love to not create new controls when obvious needs are not here. Can we think about adding things to the blade itself instead?

[2016-09-14 18:13] assassin316 commented on #306
Whoa, it's already up to date    :\   As of July it's been version 0.11.***:

![image](https://cloud.githubusercontent.com/assets/17514380/18524171/5953bf6a-7a85-11e6-96f6-c999f314ccaa.png)

That is strange that it gives that error.

[2016-09-14 18:15] deltakosh commented on #306
Op probably tried using v1.0. The fix is only available on dev branch

[2016-09-14 18:36] deltakosh opened #325 "Add code sample in the sample app for helpers"
The idea could be to mostly present code samples but we can also think about adding interactive sample (like for testing Internet, etc..)

[2016-09-14 19:31] bkaankose commented on #28
@deltakosh I can implement it, but there is a ongoing discussion about making services a PCL on #306. There is no need to work on this issue if services will be in PCL in the future right?

[2016-09-14 19:33] deltakosh commented on #28
Correct. I close it for now :)

[2016-09-14 19:33] #28 closed

[2016-09-15 01:14] ThaineNorris commented on #324
Thanks for getting back to me!

Actually, posting text and posting text with a picture both work, as long as the picture is under some unknown size threshold. The point of my bug report was that TwitterService.TweetAsync returns true even if the upload failed due to the image being rejected by Twitter for being too large.

Doing the same thing with Linq2Twitter returns an error and the message exp

[2016-09-15 09:41] Gh0s7 opened #326 "AdaptiveGridView should extend GridView to allow selection & live reordering."
Basically title.

I think that having an `AdaptiveGridView` that allows interaction with items would be a lot better than the current implementation.

Also, using a `SlidableListItem` inside a `GridView` causes item overlapping while sliding (sliding the second item to left will make it go over the first one), so maybe adding an event to report begin and end of swipe may allow us to set a differen

[2016-09-15 11:13] bkaankose commented on #326
AdaptiveGridView has SelectionMode support in current dev branch. See #194
Reordering is not currently supported, but I think there's an ongoing discussion in #234
Swipe state events are being mentioned earlier in #316

[2016-09-15 12:50] Gh0s7 commented on #326
Uh, I've searched for "Adaptive" before posting, but I guess that GitHub's search only works for full words.
Thanks, I'll keep an eye on the ones that you linked.

[2016-09-15 12:50] #326 closed

[2016-09-15 15:16] deltakosh commented on #324
Ok I completely understand...
I'll add an exception here then:) Do you have a sample repro I can use to test?

[2016-09-15 15:20] ThaineNorris commented on #324
It seems like you can reproduce it easily by trying to post a large image with your tweet.

[2016-09-15 15:21] deltakosh commented on #324
ok sounds good!

[2016-09-15 16:01] Gh0s7 opened #327 "SlidableListItem should have CommandParameter for both Left and Right commands"
I'd use it to mimic what happens in Outlook app, so that I can swipe to delete an Item, and to pass the Item `CommandParameter` is needed.

Current code requires to add the `Command` inside the model class, but I don't really like it and I prefer to have commands in my ViewModel while using `CommandParameter` to pass the objects.

I don't think it's something hard to add, and I'd do it myself but

[2016-09-15 16:05] deltakosh commented on #327
Contributing is never an overkill :)

I would suggest that you create the PR just for the sake of getting credits for this

[2016-09-15 17:51] #327 closed

[2016-09-15 18:35] pekspro opened #329 "SlidableListItem is not transparent"
In the current version (1.0.0) the background SlidableListItem is not transparent by default. If you set the Background to Transparent you will suddenly see the icons and text behind that is used to show the "sliding content".

This causes problem when you use this with a mouse. When hovering over an item it’s normally highlighted but this only works on items with transparent background. It also c

[2016-09-15 19:05] pekspro opened #330 "Need a way to cancel sliding in SlidableListItem"
In an app I want to use SlidableListItem. I also want to show a context menu if the user long pressing (without moving too much) on a list item. This is creating some conflicts :)

In my case I want cancel the sliding if the context menu is being shown.

Another option would be not to show the context menu if sliding has started.

This is my forth issue about SlidableListItem which make me feeling

[2016-09-15 19:14] deltakosh commented on #330
Don't feel guilty :)
In #316 we plan to add events when sliding is started and when it is done.

[2016-09-15 19:55] bkaankose commented on #330
Current nuget version does not have the properties but in dev branch we have IsRightSwipeEnabled and IsLeftSwipeEnabled properties. Not the best solution, but you can simply set them to false if you don't want to slide for a short period of time. :)

[2016-09-15 20:14] CabuxaMapache opened #332 "AdaptiveGridView SelectionMode and IsItemClickEnabled properties missing?"
Where are those properties?
I want to change selectionmode to allow user to multiselect ítems in the control and I dont know how...

[2016-09-15 20:15] ScottIsAFool commented on #332
Can I assume you mean the AdaptiveGridView?

[2016-09-15 20:15] CabuxaMapache commented on #332
Yes, sorry...

[2016-09-15 20:18] deltakosh commented on #332
https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/AdaptiveGridView/AdaptiveGridView.Properties.cs#L178

[2016-09-15 20:20] ScottIsAFool commented on #332
Ah, both of those properties will be in the next release.

[2016-09-15 20:20] #332 closed

[2016-09-15 20:28] CabuxaMapache commented on #332
Any planned date for that please?

[2016-09-15 20:30] deltakosh commented on #332
v1.1 is planned for 10/5/2016

[2016-09-15 20:30] CabuxaMapache commented on #332
Thank you very much!!

[2016-09-16 02:24] sakshamkhanna opened #334 "Instagram Service"
Instagram is a very popular social network. Adding a service will allow many app developers to leverage the functionality without delving into OAuth and its complications.

[2016-09-16 03:50] IbraheemOsama opened #335 "Exception when navigating to notifications sample pages"
I got an exception when I try to navigate to any of notifications samples pages.
Actually I don't know if this is normal or this exception only thrown on my device but I wanted to report it just in case.

Exception:
The system cannot find the file specified. (Exception from HRESULT: 0x80070002)

StackTrace :
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at Syst

[2016-09-16 08:38] ScottIsAFool commented on #334
This was already discussed in #170

[2016-09-16 08:38] #334 closed

[2016-09-16 10:38] bartlannoeye opened #337 "Inconsistent file headers (license)"
I noticed some code files do have a license header and others don't. Is this 'legacy' code from Microsoft brought into the library or should all files have a header? If so, is this something that can be automatically checked?

[2016-09-16 10:40] ScottIsAFool commented on #337
I believe that we will have something in place to add the headers automatically if they don't exist. I think @deltakosh and @PedroLamas could probably clarify.

[2016-09-16 11:43] Dinchy87 commented on #308
I have achieved this with the Blur effect too. Just a rectangle in the control that you want to "frost" set it as the first child in the tree and add a color or something like the Action center uses. Its dark grey with Opacity like 0.5. Blur this Rectangle and you will get this result. Here is an sample that i already use in my app. Dependent on the Blur value the content behind will get more or l

[2016-09-16 11:50] Dinchy87 commented on #285
I dont know what else can help. Maybe it cannot do the blur if the parent of this control is hidden?! At this moment where the code triggers this SearchBlurGrid_Loaded method its parent a Grid is hidden. Maybe this is causing this bug?! But it works very often like it should, just sometimes crashes with the above exception.

[2016-09-16 14:08] bkaankose commented on #335
You're right, there's a bug.
Since ToastCodeJavaScript.bind file's build action is set to none, it is not being copied to the output folder. Therefore shell can't find what to bind to the properties. I will send a PR about this issue in a moment.

[2016-09-16 14:29] deltakosh commented on #337
All files must have it. @pedrolamas will add an automatic check

[2016-09-16 14:37] #335 closed

[2016-09-16 17:08] dguenther opened #340 "Hamburger menu doesn't update when navigating back"
In the sample app, the selected item in the hamburger menu doesn't update when navigating back. I'm still inexperienced with UWP development, but as far as I can tell, the hamburger menu doesn't expose a way to set the currently selected menu item. It'd be nice to have this functionality for keeping the bar up to date.

[2016-09-16 17:20] deltakosh commented on #340
You are totally right! We need to surface the selected items for options and menus

[2016-09-16 18:36] 10Dev opened #341 "OrderedDictionary reference for ImageCache"
Compiling Microsoft.Toolkit.Uwp.UI to 14393 with 5.2.2 has a missing OrderedDictionary used by ImageCache.

It can be found in System.Collections.Specialized available here:

https://www.nuget.org/packages/System.Collections.Specialized/4.0.1

[2016-09-16 18:38] deltakosh commented on #341
Ping @hermitdave

[2016-09-16 18:38] ScottIsAFool commented on #341
Probably just missing a dependency in project.json?

[2016-09-16 18:46] #340 closed

[2016-09-16 18:46] 10Dev commented on #341
I didn't use the word bug because I took the main UI projects and compiled them separately into a project with 14393 as min and max and UWP Core at 5.2.2 instead of the 5.10 you guys are currently using

It all works beautifully except for that one reference so I posted it on the off chance somebody might find it useful.

Congrats on really separating things out in a way that minimizes dependencie

[2016-09-16 18:48] ScottIsAFool commented on #341
I can repro this, not sure why putting it to that version of UWP .net core would be missing that one dependency :s @onovotny any thoughts?

[2016-09-16 18:48] #337 closed

[2016-09-16 19:03] hermitdave commented on #341
I encountered this issue when I did my first rework.. and upgraded references to 5.2.2 Ordered dictionary isn't there. I was tempted to create my own version within Memory storage for that purpose

[2016-09-16 19:14] hermitdave commented on #341
I mentioned this issue when we were discussing why I upgraded sample to 5.2.2.. https://github.com/Microsoft/UWPCommunityToolkit/pull/292

[2016-09-16 19:28] sakshamkhanna commented on #170
There are many use cases where the feed of a hashtag or user is required. Instagram's strict policy doesn't allow posting, but it still is a massively used service( even more than, I daresay, MSGraph). And social apps are all the trend nowadays. I think adding Instagram as a Source is justified. Please reconsider :)

[2016-09-16 19:57] deltakosh commented on #341
Not sure to follow. If we moved to 5.2.2 there is no more OrderedDictionary? Is that correct?

[2016-09-16 20:00] deltakosh commented on #170
Clearly not opposed to it but I'm not seeing a huge demand

[2016-09-16 20:09] sakshamkhanna commented on #170
This Toolkit is aimed at helping first-timers and such mitigate the steep learning curve. Any big firm/experienced developer would write their own pcl's and whatnot. Think from their perspective. I have this situation of a non-developer trying to make an app about cats with a stream of cute cat images from Instagram that I cannot get rid of. He wouldn't know how to demand for it, would he?

That w

[2016-09-16 20:11] deltakosh commented on #170
Lol got it:) but then the question is should we spend our cycle there or on different topic.

That's why I need more people to weight in here

[2016-09-16 20:26] hermitdave commented on #341
yes i believe so.. we could add external dependency

[2016-09-16 20:27] deltakosh commented on #341
Ok :)

[2016-09-16 20:28] shenchauhan commented on #285
Are you able to zip up and send me a quick sample? shen.chauhan@microsoft.com

I tried setting the visibility of the parent to collapsed but it still didn't crash.

[2016-09-16 20:35] pekspro opened #342 "Simplification of formulas in SlidableListItem"
In ContentGrid_ManipulationDelta in SlidableListItem you find these formulas:

	_transform.TranslateX += swipeThreshold - _transform.TranslateX;

and

	_transform.TranslateX += -(swipeThreshold - (_transform.TranslateX * -1));

I suggest to change these to:

	_transform.TranslateX = swipeThreshold;

and

	_transform.TranslateX = -swipeThreshold;

A bit more elegant I think :)

[2016-09-16 20:49] Dinchy87 commented on #285
i have only fully working app where i know that this happens but i will make a sample and strip it down to just this Grid and Rectangle. I will send it to you in a few hours.

[2016-09-16 20:52] pekspro opened #343 "It’s not possible to swipe back if IsLeftSwipeEnabled/IsRightSwipeEnabled is false"
If you set IsLeftSwipeEnabled to false, it’s possible to swipe from left to right. However, if you start to swipe from left to right it’s not possible to back to left.

[2016-09-16 20:52] shenchauhan commented on #285
ok that would be great :)

[2016-09-16 20:54] deltakosh commented on #342
Can agree more:) do you want to submit a PR?

[2016-09-16 21:19] 10Dev commented on #341
I guess you guys will have to track the runtime sooner or later so I've Precogged a bug here.

It was surprisingly difficult to locate which is why I made the effort to post it. It's either a packaging bug in UWP or else a documentation bug if it's been dropped:

[System.Collections namespaces for UWP apps](https://msdn.microsoft.com/en-us/library/mt185493.aspx)

The answer to this SO question yie

[2016-09-16 21:24] ScottIsAFool commented on #341
@10Dev wow, that is an awesome catalogue of UWP tools! I might share that :)

[2016-09-16 21:38] hermitdave commented on #341
@10Dev as a temporary measure it might be worth putting up on your GitHub list. We will try and figure out a way forward on this. 5.2.2 upgrade is still further out as stock VS templates point to 5.1.0. Thank you for raising this issue

[2016-09-16 21:42] pekspro commented on #342
Sure :) Will just have some hours of sleep first:)

[2016-09-16 21:47] bkaankose commented on #343
You're right. It was something that I was going to fix but forgot to create an issue :) Will look into it.

[2016-09-16 22:00] 10Dev commented on #341
@ScottIsAFool - please do that. Anything that makes UWP dev more approachable for people.

On that subject, I think there is a lot of stuff on the list that could get sucked into your project, particularly more controls and animation as the Windows Store just has a new revision going on "all the apps look the same" - Instead of the Windows 8 Grid, we have the Windows 10 Hamburger.

All resources a

[2016-09-16 22:02] deltakosh commented on #341
Regarding staying out of composition: I tend to disagree here: Look for isntance Blur or FadeHeader. The only concern we have is to ensure that we can detect support to provide a decent experience on 10586

[2016-09-17 10:14] Piachu91 opened #345 "Exception when you put AdaptiveGridView inside of ScrollViewer"
I want to use `AdaptiveGridView` from newest commit on branch dev in my app.
I get exception:
`A cycle occurred while laying out the GUI.`
`Layout cycle detected.  Layout could not complete.`
when I put it inside of `ScrollViewer`

[2016-09-17 12:24] bkaankose commented on #345
Layout cycle errors are hard to understand with just a given exception unfortunately. Can you provide any sample app for us to repro?

[2016-09-17 14:27] #342 closed

[2016-09-17 22:18] RemiGC opened #347 "Sync the size of the hamburger menu with the start button"
When you use small icon settings in Windows the size of the hamburger menu will be bigger than the start button breaking the continuous line.

Big icons:
http://i.imgur.com/iYUMkcJ.gifv

Small icons:
http://i.imgur.com/ydCyfiZ.gifv

[2016-09-17 23:39] bkaankose commented on #347
I don't think there's a way in UWP to catch if that setting is set to small or big. Therefore it's not possible atm. But maybe there is, I don't know :)

[2016-09-18 08:49] pekspro commented on #329
I’ve tried to solve this myself and it seems to work pretty well :). Is it worth doing a PR for this?

[2016-09-18 08:50] ScottIsAFool commented on #329
@pekspro sure.

[2016-09-18 09:18] pekspro commented on #330
I’ve dig deeper into this (should have done this earlier, sorry about that!) and the flow is like this:

* User starts pressing on a list item
* If user not moving finger, menu will show up (via a ContextRequested event). In this moment swiping hasn’t started so there is nothing to cancel.
* If the user then starts to move finger swiping will start.

So as @bkaankose mention disable swiping while

[2016-09-18 18:22] JohnnyWestlake commented on #318
I would say this is expected? If you want VisualStates to work, you actually need to be applying VisualStates to the root content of the SlideableListItem ControlTemplate, not applying them to it's content (which won't work because it's not a control). So you need to go about creating a new ControlTemplate style for your SlideableListItem.

Basic

[2016-09-18 20:02] tomzorz commented on #248
I just did the first WIP pull request - basically just moving over the code (todos/comments over there).

[2016-09-18 20:12] pekspro commented on #318
Aha, I see. That actually makes sense! Thanks for the advice :-). I will try this in a day or two.

[2016-09-19 01:08] Code-ScottLe commented on #255
Very sorry for the long delay, a few things happened and I wasn't really available in the last 2 weeks to do anything. Here is the sample class that I have written as an example of how this could be. Any feedback on this would be great.

https://github.com/Code-ScottLe/NotesOnBand/blob/dev/NotesOnBand/NotesOnBand/Services/BackgroundTasksService.cs

[2016-09-19 02:45] Code-ScottLe commented on #255
This is an example on how this would look like from the user perspective:

    bool isServicingHandled = BackgroundTasksService.IsBackgroundTaskRegistered(typeof(ServiceCompletedBackgroundTask));

    if(isServicingHandled == false)
    {
             BackgroundTasksService.RegisterSystemBackgroundTaskAsync(typeof(ServiceCompletedBackgroundTask),SystemTriggerType.ServicingComplete).Wait();
    }

[2016-09-19 07:10] JohnnyWestlake commented on #236
I'm late on this, but given the only popular implementation currently existing on Windows is used in the "Outlook" mail app, which has no limits applied too it when sliding items, I think the default probably would have been better off being "False" for IsOffsetLimited, but no biggie either way,

[2016-09-19 16:38] Code-ScottLe commented on #255
@anbare the thought process behind this, was to provide some helper methods to quickly register a background task that will be fired when something happens (times, sys event are a few popular ones...). I thought this was a good idea since i stumbled upon this myself when i learned about background task (how to have a background task that run in x minutes? Oh , there it is, a time trigger... and th

[2016-09-19 17:31] deltakosh commented on #347
Unfortunately unless I missed something I do not think there is a way to get this info in UWP.

[2016-09-19 17:31] #347 closed

[2016-09-19 17:39] #318 closed

[2016-09-19 17:45] deltakosh commented on #236
Actually it depends on how you use it
In my case I have multiple columns and this was really annoying

[2016-09-19 17:53] shenchauhan commented on #285
We looked at a sample, but the issue is no longer reproducible on either ends. Closing for now as we can't reproduce it. If @Dinchy87 experiences the issue again and is able to send a reproducible sample app we would be more than happy to look into it.

[2016-09-19 17:53] #285 closed

[2016-09-19 17:54] #341 closed

[2016-09-19 18:59] #299 closed

[2016-09-19 18:59] #263 closed

[2016-09-19 19:27] 10Dev commented on #341
Just an idea but this bug might hit you when you finally move to 5.2.2 or whatever is current then. Wouldn't it make more sense to assign it to a milestone? OTOH it should be easy to search at this point.

[2016-09-19 20:35] anbare commented on #255
Good point about it being difficult to discover how to register background tasks like time triggers, it'd be interesting to know if others have ran into the same problem. What I did when I first started using WinRT background tasks was I looked up the documentation for how to use background tasks, and then quickly learned the whole pattern of "triggers". So I personally didn't struggle with discov

[2016-09-19 20:59] deltakosh commented on #341
I'm discussing with .Net team to understand if this is a bug or something we have to work on our side

[2016-09-19 21:11] deltakosh commented on #255
Love the idea of support SPM here! This gives the tool far more interest to me

[2016-09-19 21:20] hermitdave commented on #341
agreed.. I will make sure this isn't forgotten :)

[2016-09-20 09:03] hermitdave opened #353 "Tab control"
We need a control similar to Tab control. iOS has UISegmentedControl as shown below
![sementedcontrol](https://cloud.githubusercontent.com/assets/1896163/18661685/ff94d5e8-7f0e-11e6-9b17-4e0a20ef8e43.jpg)

The control should expose the following properties
UseTabSeparator : determins whether Tab Items are visually separated or not
SeparatorWidth : the distance between 2 tabs in pixels
Items: User

[2016-09-20 09:09] hermitdave commented on #353
I would like thoughts on whether its worth pursuing and what behaviours are expected out of a Tab control

[2016-09-20 10:51] ScottIsAFool commented on #353
The tab control is a tough one (in my mind) given that the pivot control can be used as tab control now (albeit only if the header items don't take up more space than is available). I wonder whether the tab control should maybe extend the pivot? if we can find a way to force tab mode in pivot, then that would be ideal.

[2016-09-20 11:15] hermitdave commented on #353
Pivot also has content area and there's a very specific transition behaviour while looked great in WP7 is dated and not always wanted.

I'd personally stay clear of Pivot just for that reason

[2016-09-20 11:17] ScottIsAFool commented on #353
I disagree with that. Even built in apps in Win10 are still using tabs with transitions. Just look at Alarms & Clocks. That doesn't look out of place or "dated". Plus those transitions are enabled via storyboards in the template, they can be removed if we really didn't want it.

[2016-09-20 11:24] hermitdave commented on #353
One thing that Windows 8 taught many was that just because a stock templates and often stock apps do that doesn't mean it has to be done everywhere..

And more stock apps use Hamburger.. maybe we should just suggest that to everyone

[2016-09-20 11:26] ScottIsAFool commented on #353
Ignore Windows 8, that was just... well, everything about it was wrong. I don't believe it should be us that makes the tab control behave differently from stock controls, but we should build it so other devs can do if they want.

[2016-09-20 11:27] hermitdave commented on #353
I am talking to Islandwood team and they have an equivalent of UISegmentedControl so maybe iOS ported apps will have one design and rest will have different ?

[2016-09-20 11:29] ScottIsAFool commented on #353
Unless you're suggesting incorporating the Islandwood control into this toolkit, I'm not really sure what your point is with that.

[2016-09-20 11:30] hermitdave commented on #353
We should have equivalent control.

[2016-09-20 11:31] ScottIsAFool commented on #353
I've not said we shouldn't...

[2016-09-20 11:32] hermitdave commented on #353
I am trying to get to the bottom on islandwood control behaviour but I doubt they went about templating pivot

[2016-09-20 11:33] ScottIsAFool commented on #353
Isn't all their stuff on github anyway?

[2016-09-20 15:55] deltakosh commented on #353
@hermitdave has a valid point. to me this control is a list of buttons. The pivot has a client area that we do not want here (do we?)

[2016-09-20 16:04] ScottIsAFool commented on #353
@deltakosh then what would be happening when you select one of those tabs?

[2016-09-20 16:06] deltakosh commented on #353
Like on iOS, you receive an event and you do what you want with it

[2016-09-20 16:19] ScottIsAFool commented on #353
Fair enough. Pivot doesn't have to have content though, right? If we subclassed pivot and changed the template to not include content, would that work? Im just thinking we could borrow a lot from pivot.

[2016-09-20 16:20] deltakosh commented on #353
This is worth a try I would say

[2016-09-20 16:29] hermitdave commented on #353
I'm happy to be shown that Pivot and PivotItem are better suited. ToggleButton has both events and properties that PivotItem doesn't

[2016-09-20 16:37] deltakosh commented on #353
(I'm not convinced as well but it is worth trying)

[2016-09-20 16:51] ScottIsAFool commented on #353
What properties and events do you need?

[2016-09-20 16:51] ScottIsAFool commented on #353
And how will togglebutton support multiple items :)

[2016-09-20 16:57] hermitdave commented on #353
I mentioned PivotItem.. ToggleButton is used to derive TabItem.. Creating a container is easy.

Tapped, Click, Command, CommandParameter, a lot of UI behaviours among a few. Please do give it a go. Play with iOS segemented control.

[2016-09-20 17:00] hermitdave commented on #353
Also container has to be constrained to the view bounds.. Items don't scroll and definitely no cycling

[2016-09-20 17:07] ScottIsAFool commented on #353
I know the container needs to be constrained, that's why I mentioned that right at the beginning of this thread! :P

[2016-09-20 17:28] #343 closed

[2016-09-20 17:36] #312 closed

[2016-09-20 17:36] #308 closed

[2016-09-20 17:37] #306 closed

[2016-09-20 17:39] deltakosh commented on #341
This is a known bug: https://github.com/dotnet/corefx/issues/10338

Next meta-package update will fix it

[2016-09-20 18:40] Odonno commented on #268
Had an idea today. I don't know if it's feasible but why not a `RuntimeDataTemplate`, with a possible `RuntimeDataTemplateSelector` ?

I mean, imagining I have a `ListView` and each element inside of the list is pure HTML. I can't bind to a simple `DataTemplate` since the template is variable (based on the content of the HTML). So, a solution could be an HTML to DataTemplate renderer that will be

[2016-09-20 19:04] hermitdave commented on #268
You'd still need templates to render specific html types. How would your handle nesting of html tags. It's a can of worms IMO unless you can define a strict behaviour

[2016-09-20 19:14] Odonno commented on #268
In my opinion, I think it should be flexible. I mean, a `<div>` should be a `Grid`, or maybe the `class="row"` should be a `Grid`. That's entirely up to you to define the behaviour.

Maybe there could be a default behaviour and then you can extend or rewrite the entire generation.

[2016-09-20 19:31] deltakosh commented on #268
I'm still convinced we should not try to parse HTML but instead concentrate on MD parsing

[2016-09-20 19:59] Code-ScottLe commented on #255
Good catch on that, I haven't had time to actually touch SPM on the Anniversary Update yet, but have heard good things about it. I'll update the `Register` method accordingly, probably an overload.
Are there any attributes that we can use to hide the SPM version of `Register` away from users who are not targeting the Anniversary Update?

[2016-09-20 20:03] anbare commented on #255
I don't know of any attributes that we could use - additionally, someone could be targeting 14393 but still using 10240 as min version, so in that case they need to check at runtime what API contract their on, and diverge their code.

I would just make the <summary> comments on the overload clearly state "New in 14393" or something similar, so that when devs see the overload, they're aware that "H

[2016-09-20 20:03] Odonno commented on #268
Or maybe both. :)

You're right, we should try first with MD, and if it works, then try HTML.

[2016-09-20 20:07] anbare commented on #268
+1 for both, I've needed something for HTML before (when I wrote a Craigslist app), and I ended up writing my own HTML -> RichTextBlock. There's definitely sometimes a need for lightweight simple HTML -> native controls translation.

[2016-09-20 21:55] timheuer commented on #353
Is this of material value without content?  Sure you could say that UITabStrip doesn't have a content model, but when used those toggle buttons **DO** navigate to different content areas, so I'd have to ask from an end user experience why Pivot doesn't meet these needs.  As @ScottIsAFool points out you can style the pivot headers to make them look like what you want.

[2016-09-20 22:08] deltakosh commented on #353
Regarding navigating to content: I would have seen this control more like a list view. We should not force the dev to navigate to a different content when clicking one of the options

[2016-09-21 07:44] hermitdave commented on #353
I agree.. Having content pane forces different content model. Pivot and FlipView to an extent already provide that. Having yet another Vivek they behaves in same fashion is pointless

[2016-09-21 07:54] hermitdave commented on #353
And @timheuer by the same token, we should consider retemplating Pivot and deriving FlipView from that (no header and no content transitions) would have made life simpler 👍

[2016-09-21 13:44] mhomde opened #355 "Removing effects of AnimationSet?"
I might be missing something obvious, but how do your remove the effects of an AnimationSet?  Stop() just stops the animation but leaves the underlying effects in place.... like if I blur something and want to stop the animation and remove the blur....

[2016-09-21 14:51] deltakosh commented on #355
Hey! You can just call blur(0) to remove blur

[2016-09-21 14:58] mhomde commented on #355
I thought about that... but it seemed a little clunky for two reasons.:

*  Blur(0) technically does another animation, the default time for that animation is 500 ms, sure you can call Blur(0,0) but seems little bit like a hack

* If you have an composite animation you have to manually go through and revert each effect... Shouldn't Stop() remove all effects and the current behavior be something ak

[2016-09-21 15:39] deltakosh commented on #355
* Blur(0, 0) is the right one to use. I don't find it hacky as this is by design :)

* We can think about a Reset() method. (ping @nmetulev). But not sure we need it. This is the same way animations work (think about a storyboard. There is no reset on it)

[2016-09-21 15:48] timheuer commented on #353
I guess my thought is you mentioned the SegmentedControl -- and the title of this issue is "Tab" control :-) -- show me a tab UI experience that doesn't have content.  I'm not saying 'navigate' in the sense of a different page, but when you invoke a different tab there is different content.  This is true of tab experiences across any OS experience.  One could say, as @deltakosh has, that these are

[2016-09-21 15:49] deltakosh commented on #353
One of the question we need to answer as well is: Does the community want this control. Is there a need?

[2016-09-21 16:23] hermitdave commented on #353
@deltakosh @timheuer @ScottIsAFool my 2p is that if Islandwood has one we need one too..  anything even a template pivot :) otherwise it would lead to parity issues

[2016-09-21 16:26] deltakosh commented on #353
Fair!

[2016-09-21 17:37] nmetulev commented on #329
#348 fixes this

[2016-09-21 17:37] #329 closed

[2016-09-21 17:46] nmetulev commented on #355
Agree with @deltakosh , Blur(0,0) doesn't run an animation and applies the effect immediately. Reset method might work for a single animation, but can easily can get complicated when multiple animations are running in a batch and not all animations need to reset.

[2016-09-21 18:20] deltakosh commented on #345
Up?

[2016-09-21 18:21] #324 closed

[2016-09-21 18:21] #289 closed

[2016-09-21 18:22] deltakosh commented on #234
@shenchauhan is working on something similar

[2016-09-21 18:22] #234 closed

[2016-09-21 18:22] #232 closed

[2016-09-21 18:23] #152 closed

[2016-09-21 18:24] #89 closed

[2016-09-21 18:24] #83 closed

[2016-09-21 18:25] deltakosh commented on #317
Closing this for now..Please reopen it if you consider that the topic is still alive

[2016-09-21 18:25] #317 closed

[2016-09-21 18:25] #148 closed

[2016-09-21 18:27] deltakosh commented on #271
Closing it for now. Please resurrect it if needed

[2016-09-21 18:27] #271 closed

[2016-09-21 18:27] deltakosh commented on #246
As we see no community feedback on this one I'm closing it. But feel free to reopen the issue if required.

[2016-09-21 18:27] #246 closed

[2016-09-21 18:29] deltakosh commented on #255
I guess a PR is required now :) At least to see implications and how one can use the code

[2016-09-21 18:54] Odonno commented on #271
@deltakosh Sorry. Not really need to move it. Maybe someone could have this need, I don't know.

[2016-09-21 19:25] Piachu91 commented on #345
I have trouble recreating this issue with new project - I'll work on that on the weekend.

[2016-09-21 20:27] assassin316 opened #361 "Branch publish is Forbidden"
I'm somewhat new to GitHub, I would like to get a little involved and commit a change to the FacebookService. I've connected to the UWP project successfully, created a new local branch based on **dev**, and then tried publishing the branch, but got this error:

     Error encountered while publishing branch to the remote repository: Response status code does not indicate success: 403 (Forbidden).

[2016-09-21 20:29] Code-ScottLe commented on #255
Alright, I'll make one tonight. I was kinda waiting on your word if this will make it :)

[2016-09-21 20:32] deltakosh commented on #361
This is a really good idea! You cannot directly push but you can instead create a pull request (don't forget to check contributing.md first)

[2016-09-21 20:35] assassin316 commented on #361
Ahhh, i'll have some reading to do  :)   thanks!

[2016-09-21 21:17] #361 closed

[2016-09-21 21:51] mhomde commented on #355
@deltakosh  That's not strictly true, if you Stop a storyboard the properties return to their property values before the animation started, that's why it felt a little counter-intuitive when AnimationSet Stop() didn't ...

[2016-09-21 21:52] deltakosh commented on #355
I'm afraid that this is not possible with our current implementation (but I completely get your point)

[2016-09-21 21:55] mhomde commented on #355
Oki doki, I'll make due :) thanks the reply and good job on the toolkit in general

[2016-09-21 21:56] deltakosh commented on #355
Btw, if you have a good idea on how to add a Reset() method, just feel free to send a Pull Request. I think this could be a really useful feature

[2016-09-21 21:56] #355 closed

[2016-09-21 22:03] mhomde commented on #355
Cool,  I'll take a look, I'm also tempted to implement some kind of RepeatBehavior. Currently I'm doing a forever behavior by using the completed event and just restarting but would be nice if there where extension methods for  something like .Repeat(3) or .Repeat(RepeatBehavior.Forever)

[2016-09-21 22:04] deltakosh commented on #355
Huge! Love it