[2018-06-29 16:11] lucaasrojas commented on #1933
@redoced There is some progress?

[2018-06-29 16:18] lucaasrojas commented on #2034
Whats the current status?

[2018-06-29 16:19] deltakosh commented on #2034
I have a branch with all the work but the core team thought it was not a good idea :(

[2018-06-29 17:07] lucaasrojas commented on #1438
@michael-hawker This issue is assigned to milestone 3.1, is this right?

[2018-06-29 17:45] redoced commented on #1933
well, not on my part. I tried a few things to get this working and to see where the issue actually stems from, but that didn't progress this issue. I was hoping others could chime in.

[2018-06-29 18:02] Bmartin2013 commented on #2143
Hi! What's the current status of this issue?

[2018-06-29 18:13] Bmartin2013 commented on #2138
This control will be obsolete and will be removed shortly from the toolkit soon, therefore, it doesn't make any sense fix up this control.
@nmetulev, can we close this issue?

[2018-06-29 18:15] ThomasPe commented on #985
I guess the status is 5 votes :)
Can certainly submit a PR for this, but it's not my call if it's something you want in the toolkit.

[2018-06-29 19:07] NaveNO commented on #2209
Oh yes, thanks a lot! :)

[2018-06-29 19:07] #2209 closed

[2018-06-29 19:31] gbarcho commented on #2273
@mzhukovs I confirmed  the [breaking change.](https://developers.facebook.com/docs/graph-api/changelog/breaking-changes)

I found two different scenarios

1. Removing the permission FacebookPermissions.PublishActions allow the user to complete the login but end with an error. The next time the user click on connect or login doesn't display the login screen until I change the required permissions.

[2018-06-29 19:35] Bmartin2013 commented on #2094
@Vijay-Nirmal could you share a sample repo with us?

[2018-06-29 21:49] Bmartin2013 opened #2276 "Controls Accessibility Issues"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

### Color & High contrast themes.

#### These controls won't change the background color while the app its running.
- [x] **InAppNotification.**
- [x] **Expander.**
- [x] **Menu.**

#### These controls have other issues with high contrast themes.
- [x] **Radial Gauge.** The progress indi

[2018-06-29 23:09] RexfelisLOC commented on #2273
I'm also running into the failed LoginAsync issue mentioned here using FacebookPermissions.PublishActions.  Hopefully this can get fixed soon as I have to get my app approved prior to August 1, 2018 by Facebook.

[2018-06-30 05:52] Vijay-Nirmal commented on #2094
@Bmartin2013 I can't repo this issue since it happens only in the `MarkdownTextBlock` of the docs panel in the sample app.

[2018-06-30 08:29] hupo376787 commented on #2271
Good idea!

[2018-06-30 14:23] nguyenthanhliemfc opened #2277 "OneDrive Service: redirect_uri ?"
I have follow your sample code but my app error and tell that redirect_uri is null.
1. What is redirect_uri?
2. What I must set for redirect_uri
Thank you!

[2018-07-02 09:45] hawkerm opened #2278 "DropShadowPanel doesn't respect CornerRadius property"
## I'm submitting a...
- Bug report

## Current behavior
When using an element with a CornerRadius the DropShadow is still a box:

![image](https://user-images.githubusercontent.com/8959496/42157195-ea1bd354-7da1-11e8-926c-9445c6282bdf.png)

## Expected behavior
Drop Shadow should follow the contour of the item using `CornerRadius`.

## Minimal reproduction of the problem with instructions
[code]

[2018-07-02 09:47] hawkerm commented on #2278
Could this also be a platform issue with GetAlphaMask()?

[2018-07-02 11:34] huoyaoyuan opened #2279 "MasterDetailsView fails loading if the visual tree does not contains a Frame"
## I'm submitting a Regression
I'm using windowed layout like desktop, not navigation, so I removed the root `Frame` in my application.

## Current behavior
Throw `ArgumentException` in `System.MulticastDelegate.ThrowNullThisInDelegateToInstance`.
Adding a `Frame` around it fixes this.

## Expected behavior
Successfully loads without the `Frame`. This is the behavior in 2.2.0 .

## Minimal reprodu

[2018-07-02 12:40] avknaidu opened #2280 "Cannot Remove Expander Header based on Docs"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

According to Expander Docs, Issue #1851 , PR #1918 we can style the header and remove it out completely. However it does not work as expected. When you add the style resource to the page and add the `HeaderStyle` to Expander from the docs, The Header will be removed but the allocated 40px

[2018-07-02 12:42] JohnnyWestlake commented on #2278
Unfortunately Grid doesn't generate an AlphaMask at all as it's not one of the framework types that have the method on them (Shape/Image/TextBlock), so there's not an AlphaMask on your DropShadowPanel at all.

It just quietly fails / doesn't mask the shadow for unsupported types. Not really anything much that can sanely be done here.

Although it would be nice for the documentation on the Panel to

[2018-07-02 12:52] Odonno commented on #2280
But I have one question, what's the point of having an Expander without Header?

[2018-07-02 13:17] JohnnyWestlake commented on #1641
If you want to look at it - open.

I have a few branches myself but nothing to look at other than knowing it works (and more ideal than the current TileControl).

My current thinking is to have a base `SurfaceTileBrush : XamlCompositionBrush`, which tiles a Surface with alignment and tiling options and then have Image brush inherit from it. ( `ImageTileBrush : SurfaceTileBrush` ). The ImageBrush c

[2018-07-02 13:46] avknaidu commented on #2280
@Odonno It was already discussed [Here](https://github.com/Microsoft/WindowsCommunityToolkit/issues/1851#issuecomment-368631733)

[2018-07-02 16:58] kbrons commented on #2277
Thanks for reporting the issue, but we'll need some more information. According to the [docs](https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.services.onedrive.onedriveservice.initialize?view=uwp-toolkit-dotnet), the redirectUri is only required for Android. Could you give us some more details such as what platform are you coding for, your development environment, the versions of the

[2018-07-02 17:15] skendrot commented on #2280
Are you saying this is a bug with the docs or the control?
The following style should work just fine
[code]
Or even
[code]

[2018-07-02 17:37] avknaidu commented on #2280
@skendrot I already did that while using nuget packages. I think we should update the docs.

[2018-07-03 10:07] nareshmember opened #2281 "Webview control not displaying any page"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]
Webview control not loading any page... No event is invoking.
my system configuration is
Visual Studio 2017 .NetFramework 4.6.2 and 4.7.1
Windows 10 version 1803 OS Build 17134.81
My development machine is in **Hyper-V Manager**
Even I have tried githu

[2018-07-03 14:51] obscuresystems commented on #2273
same problem here - sample app won't work as well

[2018-07-03 16:10] Kath118 opened #2282 "Unknown target type 'DataGridColumnHeader'"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
Unknown target type 'DataGridColumnHeader' error appears adding the TargetType style:
"controls:DataGridColumnHeader"

## Expected behavior
ability to add the column header style

## Minimal reproduction of the problem with instructions
create a dataGrid in xaml, modify the  ColumnHeaderStyl

[2018-07-03 17:22] SpilledMilkCOM commented on #1223
Finally getting to this and created a new project using the Microsoft.Toolkit.Uwp.Connectivity 3.0.0 NuGet package.  I can retrieve statuses/tweets fine, but I thought I'd be able to get a list of followers using the RequestAsync<T>() method, but the TwitterUser is not inheriting from SchemaBase so it is prevented from being sent in as the generic type parameter (compile error). I will try to crea

[2018-07-03 18:35] kbrons commented on #2282
@harinikmsft could you take a look at this?

[2018-07-03 18:41] Bmartin2013 commented on #2094
@Vijay-Nirmal  Which Toolkit Sample App version used to reproduce this issue?

[2018-07-03 19:14] Vijay-Nirmal commented on #2094
@Bmartin2013 Public release (version 3.0.5) and Master branch

[2018-07-03 20:30] Onjay commented on #1122
Mancda's solution of adding a reference for UWPCommunityToolkit to the Default.rd.xml worked for me too!  <Assembly Name="UWPCommunityToolkit" Dynamic="All" />

[2018-07-04 21:58] wind-rider opened #2284 "Some attributes of HeaderedTextBlock have no effect"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior

`HeaderedTextBlock` allows to set attributes like `Background`, `Padding`, `BorderThickness` but these atributes have no effect. Other attributes like `Margin` do have effect.

Since Margin and Padding are often used together, it is confusing if only one of them works.

## Expected beha

[2018-07-05 13:52] ibebbs commented on #866
@deltakosh said 'So far we do not see enough traction on this specific one. It seems too niche for the toolkit' so yes, I believe this can be closed.

[2018-07-05 13:54] lucaasrojas commented on #2284
I'll take a look at this issue

[2018-07-05 17:02] avknaidu commented on #2284
You can [restyle](https://github.com/Microsoft/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/HeaderedTextBlock/HeaderedTextBlock.xaml) the template for now and add `TemplateBinding` on the properties

[2018-07-05 20:43] wind-rider commented on #2284
Thank you!

PS: If they intentionally do not have an effect, that can also be an answer, but then I would expect the properties not to be there.

For now I’m using a StackPanel with two TextBlocks.

[2018-07-05 21:31] Bmartin2013 commented on #2276
Also, we should keep in mind this accessibility issue too submitted by @harinikmsft:
https://github.com/Microsoft/WindowsCommunityToolkit/issues/2233

[2018-07-06 01:13] michael-hawker commented on #2280
Think this may be a regression based on the restyle work done on the Expander afterwards.

@shweaver-MSFT?

[2018-07-06 01:16] michael-hawker commented on #2278
@JohnnyWestlake in the other case couldn't we look for Grid/Border and the `CornerRadius` property though to better handle these scenarios?

[2018-07-06 06:43] JohnnyWestlake commented on #2278
Probably not, we can't actually manipulate the obtained mask in any useful way and we can't directly generate one ourselves.

In the insider SDK at the mo you can generate a compositionShape to use as a clip but when you're not taking into account whether the grid / border has a background, does the background have holes etc.

Easiest thing is for the end developer to just stick an Ellipse in XAML

[2018-07-06 16:58] nmetulev commented on #2280
@avknaidu, could you submit a PR to update the docs?

[2018-07-06 17:05] skendrot commented on #2284
We have discussed removing the HeaderedTextBlock in the next major version because you can use the HeaderedContentControl instead (which defaults to using a TextBlock anyways).
Closing this issue as it doesn't make sense to make any changes. Also note that Some of these properties are purposely not supported in the [HeaderedContentControl](https://github.com/Microsoft/WindowsCommunityToolkit/blob/

[2018-07-06 17:05] #2284 closed

[2018-07-06 17:09] nmetulev opened #2285 "Add Orientation property to HeaderedContentControl and deprecate HeaderedTextBlock in favor of HeaderedContentControl"
## I'm submitting a...

- Deprecation request

## Current behavior

The **HeaderedContentControl** can easily do the same thing as **HeaderedTextBlock**.

[code]

The only property missing is **Orientation** which should be added to HeaderedContentControl before deprecating HeaderedTextBlock

cc/ @skendrot

[2018-07-06 17:10] nmetulev commented on #2284
@skendrot, you beat me to it :). Just created a new issue for that #2285

[2018-07-06 17:12] skendrot commented on #2285
Why even add orientation to the HeaderedControlControl? It's a very simply style one could add to their own resources to use

[2018-07-06 17:14] nmetulev commented on #866
That's fair. Closing issue

[2018-07-06 17:14] #866 closed

[2018-07-06 17:15] skendrot commented on #2285
[code]

[2018-07-06 17:16] skendrot commented on #2285
Note that the [default style](https://github.com/Microsoft/WindowsCommunityToolkit//blob/master/Microsoft.Toolkit.Uwp.UI.Controls/HeaderedContentControl/HeaderedContentControl.xaml) for the HeaderedContentControl uses a Grid to easily take up all space provided by changing the HorizontalContentAlignment and VerticalContentAlignment

[2018-07-06 17:17] wind-rider commented on #2284
Thank you for the clarification!

[2018-07-06 17:21] wind-rider commented on #2285
@skendrot thank you for providing an example; however from a user's (developer's) perspective I would find the `Attribute` option easier to read and write.

I don't know how often this is needed, though.

[2018-07-06 17:23] skendrot commented on #2285
@wind-rider That last sentence is the key. Optimize for the 80% use case

[2018-07-06 21:11] nmetulev commented on #2285
If we didn't have Orientation on the HeaderedTextBlock, I would agree 100% with you that there is no need to add it. However, to make sure there is **easy** transition without having to write a new style, we should add the property. We can keep the grid and instead add Columns that we can change in code behind for the Orientation

[2018-07-06 21:33] skendrot commented on #2285
Setting a style is easy ;)

[2018-07-08 21:06] nmetulev commented on #2285
It's easy but requires extra work. Another option is to add a section in the documentation where we can have a style to copy and paste, but I'd prefer adding the property to minimize changes.

[2018-07-08 21:11] nmetulev commented on #2273
ping @cbarkerms - any ideas what's happening here. Should we change the default permissions?

[2018-07-08 21:13] nmetulev commented on #2277
Closing issue, feel free to comment if not resolved

[2018-07-08 21:13] #2277 closed

[2018-07-08 21:15] nmetulev commented on #1641
/cc @michael-hawker who has created the brushes in the toolkit and might have thoughts on this

[2018-07-08 21:17] nmetulev commented on #2279
PR merged, let us know if it doesn't fix the issue

[2018-07-08 21:17] #2279 closed

[2018-07-08 21:19] nmetulev commented on #2271
This request is coming from the feature team to improve the CameraHelper and CameraPreview control. It's open to the community

[2018-07-08 21:29] nmetulev commented on #2138
It looks like it's only an issue in the sample app. Agree with @Bmartin2013, the HamburgerMenu is scheduled for removal in the near future and we don't plan to fix this

[2018-07-08 21:29] #2138 closed

[2018-07-08 21:35] nmetulev commented on #2034
Closing this issue for now as we made the decision not to include it in the toolkit. (I'd still like to see this as nuget out there :) )

[2018-07-08 21:35] #2034 closed

[2018-07-08 21:36] nmetulev commented on #2162
ping @IbraheemOsama

[2018-07-08 22:29] nmetulev commented on #2269
Looks like PR is merged

[2018-07-08 22:29] #2269 closed

[2018-07-08 22:30] nmetulev commented on #2264
/cc @harinikmsft

[2018-07-08 22:36] nmetulev commented on #2259
Closing this issue, let's use #2170 to track

[2018-07-08 22:36] #2259 closed

[2018-07-08 22:39] nmetulev commented on #1946
We are. You can still continue using the PullToRefreshListView by using the source directly (you can find it in our releases), but we will remove it from the nuget packages in the future and we will not fix bugs

[2018-07-09 01:14] nmetulev commented on #1223
Take a look at #2266, might already be doing this

[2018-07-09 01:16] nmetulev commented on #2258
PR merged

[2018-07-09 01:16] #2258 closed

[2018-07-09 01:32] #2262 closed

[2018-07-09 01:48] nmetulev commented on #2276
Thank you for going through all of the controls and creating this issue that we can use for tracking. This is a lot of work and it's going to take multiple developer to get everything right. If anyone is planing on working on any control, please comment here so we can track.

[2018-07-09 01:54] nmetulev commented on #2276
@Bmartin2013, I like the write up about the expected bahavior. Could you update the [Contributing.md](https://github.com/Microsoft/WindowsCommunityToolkit/blob/master/contributing.md#-quality-assurance-for-pull-requests-for-xaml-controls) doc to add a section on accessibility with this content?

[2018-07-09 04:33] mzhukovs commented on #2273
the issue goes beyond default permissions; even once you set the permissions to not include PublishActions the log-in itself does not appear (this is the main issue.)

[2018-07-09 07:32] timaiv opened #2287 "InvokeScriptAsync crashes App."
I'm submitting a Bug report.

When I have WebView control (i.e. in wpf app) and use NavigateToString to show some HTML string and then use InvokeScriptAsync, app crashes.

Package Version(s):

Windows 10 Build Number:
- [ ] Creators Update (15063)
- [ ] Fall Creators Update (16299)
- [x] April 2018 Update (17134)
- [ ] Insider Build (build number: )

Device form factor:
- [x] Desktop
- [ ] Mobile

[2018-07-09 15:05] cbarkerms commented on #2273
@nmetulev , @mzhukovs on the two issues (a - publish_actions; b - unable to log in):

a. Yes, publish_actions has been deprecated by Facebook.  We need to remove this from 3 places: once in the sample app Initialize call, and once in each of the two Facebook service Initialize overrides.  This means that we also need to *immediately* deprecate two methods on the service: PostToFeedAsync, PostPictu

[2018-07-09 15:08] cbarkerms commented on #2273
(Adding @corradocavalli as I owed you an update on login failure also - please let me know if the above helps)  Ref: https://github.com/Microsoft/WindowsCommunityToolkit/issues/2082

[2018-07-09 15:56] avknaidu commented on #2285
IMHO I am a huge fan of restyling/Setting `Style` Property. Gives me flexibility of modifying the design of controls the way i need. But if it improves the functionality of the Control itself, i think we should add property.

In the case above, just adding property for orientation will not help because we also need to handle margin/padding of the header on both orientations. In Horizontal, Margin

[2018-07-09 17:17] skendrot opened #2288 "Microsoft.Toolkit.Parsers should not reference Json.Net"
## I'm submitting a...

- Feature request (UserVoice request: )

## Current behavior

The Microsoft.Toolkit.Parsers library has a reference to Json.Net but does not use Json.Net.

## Expected behavior

The library should not reference Json.Net

## Environment

[code]

[2018-07-09 18:33] rjmurillo commented on #2165
Update: Edge engineering team has fixed the issue. The fix will go out on a future Windows Insider flight. See [Issue #17666057](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/17666057/) on the Edge issue tracker for more details.

[2018-07-09 21:45] RamiBancosly commented on #2234
I use Microsoft.Toolkit.Uwp.UI.Controls.DataGrid

When you use a DataGridTemplateColumn Includes ComboBox, the following problem appears: When data is loaded, the update is only when scrolling Watch the video please https://1drv.ms/v/s!AjRTHHS4k_XSgY9YB7CUI72g9LUgWg

[https://stackoverflow.com/questions/51252848/combobox-does-not-happen-automatically-at-the-datagrid-uwp](https://stackoverflow.com/

[2018-07-09 21:47] RamiBancosly opened #2290 "Combobox does not Update automatically at the DataGrid Uwp"
I use Microsoft.Toolkit.Uwp.UI.Controls.DataGrid

When you use a DataGridTemplateColumn Includes ComboBox, the following problem appears: When data is loaded, the update is only when scrolling
 Watch the video please https://1drv.ms/v/s!AjRTHHS4k_XSgY9YB7CUI72g9LUgWg

[https://stackoverflow.com/questions/51252848/combobox-does-not-happen-automatically-at-the-datagrid-uwp](https://stackoverflow.com

[2018-07-10 17:00] nmetulev commented on #2287
Could you share a small repro project or at least the HTML string you are using with InvokeScriptAsync?

[2018-07-10 17:04] nmetulev commented on #2082
Closing this issue as it looks like it's the same as #2273 but more recent activity is there.

[2018-07-10 17:04] #2082 closed

[2018-07-10 17:06] nmetulev commented on #2285
Agree, adding the property should make sure the margins are appropriate in each orientation

[2018-07-10 17:07] nmetulev commented on #2290
ping @harinikmsft @MSRegisB

[2018-07-10 21:36] rjmurillo commented on #2287
See #2165

[2018-07-10 22:00] corykroll commented on #2264
@kbrons I'm not sure I fully follow.  From what I have to work with, I'd assume I'd need to implement a HeaderStyle with a Style that has a new ContentTemplate, but I'm not seeing it.
If I create a Style here, what TargetType am I using?

`<controls:DataGrid.Columns>
     <controls:DataGridTemplateColumn>
         <controls:DataGridTemplateColumn.HeaderStyle>
             ?????
         </controls

[2018-07-11 15:59] rjmurillo commented on #2287
@timaiv Thank you for your feedback. Someone else has also reported this issue and we are tracking that in #2165 on GitHub. As a result of this feedback, the Edge engineering team has fixed the issue, which will go out on a future Windows Insider flight. See [Issue #17666057](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/17666057/) on the Edge issue tracker for more details.

[2018-07-11 17:39] Bmartin2013 commented on #1821
Since the phone number method refactor will be a breaking change and it's possible to work around this problem by setting a custom RegEx @nmetulev can we close this issue?

[2018-07-11 21:47] nmetulev commented on #1821
I don't think it's a breaking change as right now it doesn't work as expected, phone numbers should be recognized. We should update the [regex here](https://github.com/Microsoft/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit/Extensions/StringExtensions.cs#L16) which should resolve the issue when ValidationType="PhoneNumber" is used.

[2018-07-11 23:07] skendrot commented on #1821
@avknaidu Do you want to provide a PR with your regex?

[2018-07-12 02:00] michael-hawker commented on #985
The whole syncing a model with a WebView thing is an interesting problem, which the Monaco Editor is trying to deal with to.  There's some [WebViewExtensions](https://github.com/hawkerm/monaco-editor-uwp/blob/master/MonacoEditorComponent/Extensions/WebViewExtensions.cs) there too which help to deal with the Introp between C# and JS.

[2018-07-12 13:13] PedroLamas commented on #2198
I see no practical reason at all to strong sign an assembly.

If we strong-sign this project, any third party NuGet package that didn't specify a dependent version will be automatically broken (package A depending on the toolkit, but didn't specify a particular version).

Also, if a project has a dependency on packages A and B and they depend on different strong-signed versions of the toolkit, tha

[2018-07-12 13:32] PedroLamas commented on #2198
So why don't they just use [StrongNamer](https://github.com/dsplaisted/strongnamer) or something similar in their projects?

My point is that there is a solution for those who require this project to be strong-named, but AFAIK there won't be any solution for those who have mixed version dependencies...

[2018-07-12 13:34] onovotny commented on #2198
StrongNamer is a very bad hack and cannot be used for other shared components. Again, I can't say which one, but there are other products that want to use the modern WebView, that themselves have other people referencing them. We  have to do it the right way. StrongNamer is not professional or valid here.

That's why it's a major version bump, it's a breaking change.

[2018-07-12 13:37] PedroLamas commented on #2198
I can understand that, however, you didn't tell me how are we going to fix the scenario where dependencies A and B require different versions of the toolkit!
Is there any assembly redirection in UWP (manual or otherwise) that I'm not aware of?

[2018-07-12 13:40] onovotny commented on #2198
if A and B require different versions of the toolkit, then there will be problems. But that'd be true strong name or otherwise if there's a breaking change.

Suppose a type was removed from v4 and that A, which needed it and used v3 was fine. Now B needs v4.... you have the same issue. You can't use A and B in that case easily today.

[2018-07-12 13:46] PedroLamas commented on #2198
That's a very fair point there indeed: one does have issues on major versions dependencies, but I guess that's why we make breaking changes only when we change major version (v3 to v4 in your example).

However, strong-signing will cause minor versions issues, so a project with dependencies requiring different toolkit versions will be broken (v4.0.0 to v4.0.1).

[2018-07-12 13:49] onovotny commented on #2198
v4 to v4.0.1 will require binding redirects if we change the assembly version. We can decide what we want to do there.

That said, `AutoGenerateBindingRedirects` does this for you automatically these days

[2018-07-12 13:52] PedroLamas commented on #2198
If that works properly for UWP, I'll shut up now and give it a rest! 😄

[2018-07-12 13:53] onovotny commented on #2198
UWP doesn't need binding redirects because it ignores strong names :)

[2018-07-12 13:57] avknaidu commented on #1821
@skendrot will do

[2018-07-12 14:01] PedroLamas commented on #2198
Well, that works for me!! 😁

[2018-07-12 18:14] grabinat commented on #2178
Please do not remove SlidableListItem.
SwipeControl seems to be kind of buggy. There were several problems with it.
For example: If you scroll vertically through an Listview with an multitouch trackpad, swipes are executed for now reasons. This even happens in the XAML Controls Gallery app.

[2018-07-12 19:45] mdtauk commented on #2285
Redstone 5 is supposed to be adding the ability to display the control header for form elements/text boxes to be to the side, as well as above.

Perhaps this request should be implemented in line with how the Native controls will implement it?

![image](https://user-images.githubusercontent.com/7389110/42655578-78d97f0e-8614-11e8-982c-c1c0fb3f226a.png)

[2018-07-12 20:30] skendrot commented on #2285
Thanks @mdtauk! I'll implement it this new way. Do you know if there is any documentation for this yet? #lazyWeb

[2018-07-12 21:57] mdtauk commented on #2285
As of right now @skendrot , I have not seen any documentation beyond RS4.  Even with the new ColorPaletteResources markup API is not detailed beyond some code provided by a Windows Insider quest, which is only available via Google Cache now!

I believe the implementation for much of the RS5 APIs announced at Build are in a bit of flux.  During Build **ColorPaletteResources** was referred to as Col

[2018-07-12 22:10] nmetulev commented on #2178
@grabinat, I understand your feedback and I encourage you to provide that feedback to the windows xaml team via the [feedback hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). As a developer, you could still use the SlidableListItem by using the source, but we will be removing it from the nuget to ensure that only one control is sup

[2018-07-12 22:12] nmetulev commented on #2178
@mdtauk, I agree. With the Windows UI library providing backward compatibility to previous windows 10 updates, that should be a less of a problem.

[2018-07-12 22:29] skendrot commented on #2285
@nmetulev Should we wait for RS5 to update the controls? That way we can use the same `ControlHeaderPlacement` property?

[2018-07-12 23:16] #2194 closed

[2018-07-13 13:00] avknaidu commented on #2285
@mdtauk Wouldn't that be on the devs using the control to maintain the margins between vertically stacked multiple `HeaderedContentControl`'s? Also if the `ContentPresenter` Is Stretched Horizontally or Vertically based on `HeaderPlacement` Property, The framework element will be stretched too to max size.

Also for the header size, we can always restyle ( or add new property ) so that the text ca

[2018-07-13 13:18] branhill commented on #2076
@rjmurillo It still exists in Windows 10 Build 17692.

[2018-07-13 15:52] Ali1Jamal opened #2297 "0x80004004 (E_ABORT)) Open file from Hard Disk"
Hello:
I have a problem in windows forms opening a JS and HTML project from within the computer storage unit on my project. I have tried JS and HTML in Microsoft Edge and Firefox and it works normally but when I open the project in windows form using Microsoft.Toolkit.Win32.UI.Controls it gives me this error:

[2018-07-13 16:30] #2180 closed

[2018-07-13 16:39] kbrons commented on #2297
Thanks for reporting the issue! Can you provide us with more information to replicate it? Such as the version of the toolkit you're using or a file that provokes the error?

Please try to follow the issue template next time as it helps us analyze the issue and provide a solution.

@rjmurillo can you take a look at this?

[2018-07-13 16:45] nmetulev commented on #2285
@skendrot, sounds like waiting for RS5 is the right approach there. We can still deprecate the HeaderedTextBlock in the meantime.

@avknaidu, if the header in your screenshot is right aligned, then the margin can always be the same. It's also a personal preference, it looks better to me that way :)

[2018-07-13 20:22] #2280 closed

[2018-07-13 21:07] kbrons commented on #1849
@avknaidu given that the PR is already merged, can we close the issue or there's something pending?

[2018-07-13 21:10] #2221 closed

[2018-07-14 06:10] chenxy88 opened #2300 "Menu: Inconsistent flyout placement in vertical orientation"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

The placement of Menu items is inconsistent for vertical orientation.

## Expected behavior

For vertical orientation, the flyout items should always be on the right or left.

## Minimal reproduction of the problem with instructions

Open the Windows Community Toolkit Sample App
Go to Cont

[2018-07-15 06:05] Dylan-H opened #2301 "c++cx"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-07-15 06:11] #2301 closed

[2018-07-16 09:54] Ali1Jamal commented on #2297
yes
i download NuGet package from Microsoft v 3.0.0
my script in c#
`using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Data;
using System.Drawing;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Windows.Forms;

namespace webgl_3d_game_engine
{
    public partial class Form1 : Form
    {
        public Form1()
        {

[2018-07-16 16:02] nmetulev commented on #2300
Is this a bug with the control or the sample app? Have you tried it in a blank app?
cc\ @IbraheemOsama

[2018-07-16 17:03] Kath118 commented on #2282
Any update about this issue?

[2018-07-16 17:09] kbrons commented on #2297
I just noticed this specific case is listed on the [known issues of the webview control](https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/controls/webview-known-issues). Here is the workaround.

Closing as it is a known issue.

[2018-07-16 17:09] #2297 closed

[2018-07-16 17:55] kbrons commented on #2300
I could replicate it on the sample app, I'll give it a try on a blank app

[2018-07-16 18:16] kbrons commented on #2300
Confirmed on a blank app too. Here is a replication project.
[App2.zip](https://github.com/Microsoft/WindowsCommunityToolkit/files/2198827/App2.zip)

[2018-07-16 19:47] Ali1Jamal commented on #2297
Thank you for explaining things to me.

[2018-07-16 20:13] rjmurillo commented on #2297
`NavigateToString` is great if you have content that has only external references or embedded resources. If you have relative resources or links, you can also try the `NavigateToLocal` method on the WebView. In 4.0 a new API exists that allows you to control how resources are loaded `NavigateToLocalStreamUri`. See #2195 and #2194

[2018-07-16 20:13] nmetulev commented on #2300
Thanks for confirming @kbrons. @IbraheemOsama should be able to take a look at this

[2018-07-16 20:55] rjmurillo commented on #2076
@branhill Thanks for the report. I'll look into this

[2018-07-16 21:50] #2252 closed

[2018-07-16 23:32] #2198 closed

[2018-07-17 16:18] ridomin opened #2303 "Toolkit.Services nupkg does not install with packages.config"
I tried to install Microsoft.Toolkit.Services 3.0.0 nuget package in my WinForms 4.7 project, but the install fails with:

`Unable to resolve dependency 'Microsoft.Identity.Client'. Source(s) used: 'nuget.org', 'Microsoft Visual Studio Offline Packages'.`

Because of Identity.Client is in preview I also tried with "Include Prerelease" checked, but it didn't work neither.

If I install directly Ide

[2018-07-17 17:47] kbrons commented on #2303
Hi ridomin, thanks for reporting the issue, but I wasn't able to reproduce it. I'm thinking it may be an issue from NuGet. Please try [clearing the NuGet cache](https://docs.microsoft.com/en-us/nuget/consume-packages/managing-the-global-packages-and-cache-folders#clearing-local-folders) and installing the package again.

[2018-07-17 21:05] anangaur commented on #2303
I was able to repro following @ridomin instructions. I am not sure if this is NuGet bug or not, at this point in time.

[2018-07-17 21:05] anangaur commented on #2303
I am copying this issue to NuGet repo as well.

[2018-07-17 23:52] rjmurillo opened #2306 "WebView: Unhandled MIssingMethodException causing crash"
## I'm submitting a...

-Bug report (I searched for similar issues and did not find one)

## Current behavior

An unhandled exception of type 'System.MissingMethodException' occurred in Microsoft.Toolkit.Win32.UI.Controls.dll
Method not found: 'Void Windows.Web.UI.Interop.WebViewControlProcessOptions.put_UserAgent(System.String)'. occurred

## Expected behavior

The control should initialize witho

[2018-07-18 20:35] lucaasrojas commented on #1306
Should this issue remain open having the navigation view control?

[2018-07-18 20:55] nmetulev commented on #1306
Even though we will eventually remove the HamburgerMenu, I think this issue might be pretty straightforward to fix. @kbrons, would your solution from the MasterDetailsView work here?

[2018-07-18 22:49] harinikmsft commented on #2282
Make sure you are adding a reference to Microsoft.Toolkit.Uwp.UI.Controls.Primitives when you try to target primitive types like DataGridColumnHeader.

Like:

[code]

[2018-07-18 22:49] #2282 closed

[2018-07-19 03:06] elucidsoft opened #2310 "Strange Horizontal Line using DropShadowPanel"
## I'm submitting a Bug report

## Current behavior
- Use DropShadowPanel to create a drop shadow on a Grid
- It creates the drop shadow, however there is a very mysterious line it adds near the bottom of the screen for unknown reasons.

![image](https://user-images.githubusercontent.com/217424/42919189-bca7492c-8ade-11e8-9ea2-50a6bddafb8b.png)

- The XAML is very basic, and I stripped it down to

[2018-07-19 04:48] michael-hawker commented on #2310
Seems like an odd build number, can you confirm?

What's the DPI setting of the monitor this is occurring on?  Does changing that make a difference?

[2018-07-19 12:34] Ali1Jamal commented on #2297
@rjmurillo
Well, but I do not understand how to use this because I have not used Web View before. Can you give me a source of learning or steps to convert a file extension to a "Web View" because I've searched for a continuous day but I did not know how. and I would be thankful to you.

[2018-07-19 13:31] JohnnyWestlake commented on #2310
I've also been seeing this on an insider build recently at 100% DPI, but I've chalked it up to general insider instability.

[2018-07-19 15:52] rjmurillo commented on #2297
@Ali1Jamal Here's a couple of examples. Given you have an application called `MyWebView.exe` in a folder `C:\Apps\WebView`, you could
 - Navigate to content relative to the application (`C:\Apps\WebView\Content.html`) by calling `NavigateToLocal('/Content.html')`.
 - Navigate to content arbitrarily placed on the file system with `NavigateToLocalStreamUri(Uri, IUriToStreamResolver)` where the `Uri`

[2018-07-19 16:21] nmetulev commented on #2310
I'm curios if this also shows up when using composition shadows directly instead of using the DropShadowPanel?

[2018-07-19 16:22] nmetulev commented on #2303
Closing this issue as there is nothing to be done on the toolkit side.

[2018-07-19 16:22] #2303 closed

[2018-07-19 16:35] Ali1Jamal commented on #2297
work fine thank you. here is a webgl picture in this link.
https://imgur.com/HtqXIHB

[2018-07-19 16:40] Trolldemorted commented on #1946
@nmetulev does "older versions" include w10 mobile?

[2018-07-19 16:44] nmetulev commented on #1946
Not sure what their minimum version is, but if it works on Creators Update, then yes.

[2018-07-19 17:19] ThiBro opened #2311 "DropShadowPanel streched in a Viewbox"
Hi Guys,

If I put a DropShadowPanel inside of a Viewbox with Strech="Fill" the DropShadowPanel doesn't work like expected here.

Take a look on my Screenshots for this:

![image](https://user-images.githubusercontent.com/34064136/42959225-4e194e42-8b88-11e8-83da-e04ef30fabc6.png)

![image](https://user-images.githubusercontent.com/34064136/42959251-62ecc6f0-8b88-11e8-8864-730615ab3f24.png)

You c

[2018-07-19 17:39] kbrons commented on #1306
I just tested it and it's working. I'll create a PR.

[2018-07-19 17:59] rido-min commented on #2303
@nmetulev can you avoid pre-release dependencies ?

[2018-07-19 18:16] nmetulev commented on #2303
We try to avoid them where possible or not use them at all. In this case, the package is only in pre-release and is required for the service to work

[2018-07-19 20:08] kbrons commented on #2311
Hi Thilo, thanks for reporting the issue! @hermitdave is there a chance you can take a look at this?

[2018-07-19 20:54] rjmurillo opened #2314 "[Build] Windows SDK 17704 contains delay/test signed managed DLLs"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

Currently Windows SDK 17704 is installed during the build process, however, certain managed applications and DLLs will fail on non-Insiders OS because of the way they are signed. Most notably this includes `Microsoft.Windows.UI.Xaml.Build.Tasks.dll`, which is required for UWP application

[2018-07-19 20:57] rjmurillo commented on #2314
A solution discussed by @onovotny and I is to disable strong name checking in the registry as part of the SDK installation to ensure test/delay signed applications and DLLs will execute during the build

[2018-07-19 21:22] elucidsoft commented on #2310
My DPI is all default out of the box.  Yes I am on an insider build, can someone try this on a non-insider build the code is pretty easy I put it in the issue.  No changing the DPI does not make a difference.  Also it does this on both of my monitors which are different resolutions.  I have corrected my build number.

[2018-07-20 02:43] #2314 closed

[2018-07-20 04:08] hupo376787 commented on #1946
RefreshContainer's min version is 1803, so the mobile device users will never never get it.

![image](https://user-images.githubusercontent.com/14960168/42982777-81af1484-8c15-11e8-978b-01e412601ce4.png)

[2018-07-20 04:28] JustinXinLiu commented on #1946
`RefreshContainer` will be part of the new [Windows UI package](https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls) which will work on earlier versions of Windows 10.

[2018-07-20 05:36] huoyaoyuan opened #2316 "DataGrid: add CanUserEdit property"
## I'm submitting a feature request
UserVoice link: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/34903474-add-canuseredit-for-datagrid

## Current behavior
`DataGridTextColumn` seems to be editable if target property is settable.

## Expected behavior
The developer will want to control whether it's editablt. And also, if the binding is not `TwoWay`, it should se

[2018-07-20 09:14] hupo376787 commented on #1946
Following this guide, [getting-started](https://docs.microsoft.com/zh-cn/uwp/toolkits/winui/getting-started).

And according to my test, RefreshContainer does can't even work on target 16299, not mention earlier other versions. Maybe later will?

`System.TypeLoadException: 'Could not find Windows Runtime type 'Microsoft.UI.Private.Controls.IRefreshInfoProvider'.'`

[My test project gayhub](https:/

[2018-07-20 16:07] purani opened #2317 "WebView: Need Frame name in Frame navigation events"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
FrameNavigation event arguments has only Uri information.
**WebViewControlNavigationStartingEventArgs** - Uri, Cancel
**WebViewControlContentLoadingEventArgs** - Uri
**WebViewControlDOMContentLoadedEventArgs** - Uri
**WebViewControlNavigationCompletedEventArgs** - Uri, IsSuccess, WebErrorSta

[2018-07-20 16:31] kbrons commented on #2316
Thanks for creating a feature request! Please create a uservoice entry with this feature [here](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit) and edit your comment with the link.

@harinikmsft @MSRegisB what are your thoughts about this?

[2018-07-20 17:46] kbrons commented on #2317
Hi purani, thanks for submitting this issue! Based on what you're proposing, this would be a feature request and not a bug. Please update the issue based on that and create a uservoice request [here](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit).

[2018-07-20 20:31] wind-rider commented on #1954
If v4.0 is indeed released 8 August, then that will be before Windows 10 1809 is released - does that change what this issue is tagged for?

[2018-07-20 20:46] JustinXinLiu commented on #1946
First, you are not using the control from the nuget at all because you are not setting the _target version_ correctly:

However, even if you do so, the project will throw the following error:

@nmetulev, could you please let the team know?

[2018-07-20 21:00] Bmartin2013 commented on #2071
I made a sample application to reproduce this problem in version 2.1.1, using two AppBarButtons in a ScrollHeader within a GridView, and I wasn't able to reproduce it.

![screenshot_13](https://user-images.githubusercontent.com/3893598/43024621-4969d552-8c45-11e8-99a3-dcf4a820af99.png)

@Kath118  Is this what you meant?  [2071.zip](https://github.com/Microsoft/WindowsCommunityToolkit/files/2215379

[2018-07-20 21:35] nmetulev commented on #1954
Thanks for catching that @wind-rider, just changed the milestone to 5.0

[2018-07-21 00:56] hupo376787 commented on #1946
Yes, I tried. See my first comment before edited. Same error.

![image](https://user-images.githubusercontent.com/14960168/43030527-e0d6b314-8cc3-11e8-960f-c325a643430c.png)

[2018-07-21 21:37] JustinXinLiu commented on #1946
@hupo376787, no, you cannot just target 16299... If you target 16299, it is still going to use the control in the SDK, NOT the one from the nuget package. You need to make sure the target version is at least 17134.

It will still not work and this is another issue though. We are already looking into this.

[2018-07-22 16:50] JustinXinLiu commented on #2243
I'd love to get some help from you on this one @mdtauk. But keep in mind that some of the stuff here (e.g. the new Shadow API on `UIElement`) are still in preview for RS5.

[2018-07-22 17:18] mdtauk commented on #2243
I kind of assumed that ThemeShadow would be in RS5 release.  Also the MainMenu would probably move to the Windows UI Library. As would Hamburger Menu to NavigationView.

What kind of help were you wanting @JustinXinLiu

[2018-07-22 19:44] JustinXinLiu commented on #2243
We are thinking to refine and standardize the look of feel of all our controls, taking into account the new fluent design features. It will be a long process but we can start with some key controls first and the rest will just follow. I saw your design mockups from the past and thought maybe we can work together on this. :)

[2018-07-23 07:59] codingdna2 opened #2319 "DataGrid: Detect ItemSource IItemsRangeInfo"
## I'm submitting a Feature request
Support virtualization [UserVoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/34902757-datagrid-virtualization)

## Expected behavior
DataGrid should detect if ItemSource implements IItemsRangeInfo in order to support virtualization

[2018-07-23 10:23] huoyaoyuan commented on #2316
UserVoice entry created

[2018-07-23 13:44] kbrons commented on #2319
@harinikmsft @MSRegisB What are your thoughts about this?

[2018-07-23 23:02] nmetulev commented on #2143
PR merged

[2018-07-23 23:02] #2143 closed

[2018-07-23 23:19] nmetulev commented on #2273
PR was just merged that deprecated the methods that depend on publish_actions and removed features from the sample app that leveraged the publish_actions feature.

[2018-07-23 23:19] #2273 closed

[2018-07-23 23:36] nmetulev commented on #2190
PR merged

[2018-07-23 23:36] #2190 closed

[2018-07-23 23:56] #2306 closed

[2018-07-24 08:49] mdtauk commented on #2243
DockPanel, Master Detail View, ScrollHeader should probably all use ThemeShadow as well - they all involve multiple panes or layered UI.

Carousel and RadialGauge, are two controls that really feel out of place on an initial view.  RadialGuage feels like a Windows 7/Metro/Silverlight control, and the 3D angle on Carousel as a default doesn't really fit either.

[2018-07-24 12:59] mdtauk commented on #2243
A quick initial idea for refreshing the BladeView...
![blade-view-ideas](https://user-images.githubusercontent.com/7389110/43139493-c6615ea2-8f49-11e8-97b3-51efb929553e.png)

[2018-07-24 16:16] nmetulev commented on #2243
This is really cool.

The panels on the left look like they are above the panels on the right, is that intentional (feels a bit odd)?

[2018-07-24 16:41] skendrot commented on #2243
I've wanted to use the layout transformer to rotate the title of items when collapsed. These mockups are great

[2018-07-24 17:35] Odonno commented on #2243
@nmetulev Yeah. I think too. My opinion on this is that the shadow should be managed by the user by letting him decide which blade has the focus and then apply a Z-index value on each blade, the shadow starts from the focused blade.

* In default mode, I think the last opened one has the focus (or the one which received an event like Click)
* In overlay mode, the latest has the focus
* In fullscre

[2018-07-24 18:22] mdtauk commented on #2243
@Odonno @nmetulev  The idea is just an initial one, to serve as an initial proposal.  As each blade is sequential, and the first blade is set to not collapse, it felt right that each goes below the other in the "stack".  but that is just as a default.

It would/could be possible to set a Vector3 Translate value on each blade manually, if you wanted them to be above others. (Z-index does not contro

[2018-07-24 22:51] nmetulev commented on #2243
IMO, we should try to keep things simple and avoid adding new properties. I like what you have right now and it's a very good improvement over the current implementation. The shadow should be standardized and if someone wants to change it they can modify the template. My comments was mostly about the stacking order - it feels a bit more natural if new blades are on top

[2018-07-25 01:19] lick300005 commented on #2170
I don't think #2259 is related to reordering.
Maybe I didn't explain very clear in #2259.

I was not trying to get the item to do reordering.
I just drag and drop the item around the screen.
The dragged item will accidentally stuck on the screen, which means that you cannot drag it anymore.
And I think #2259 is not caused by Windows Community Toolkit.
This might relate to windows OS, because it ha

[2018-07-25 08:46] mdtauk commented on #2243
@nmetulev  Normally adding a blade would place it above - but I am thinking of the uses for this control.  I think having the first blade non-collapsible is very common.  And if that is the case, having it be above the subsequent blades makes sense.

Other than the Xbox One blades, and the older Xbox One friends UI, I don't see all that many examples of this UI out there to base these on.

![15032

[2018-07-25 11:06] arthurrump opened #2320 "Connected Animation doesn't work with target inside ScrollViewer"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

When the target of a connected animation is inside a ScrollViewer, the animation doesn't start.
![current](https://user-images.githubusercontent.com/10365257/43197220-d3042290-900a-11e8-9f93-07a656c46830.gif)

## Expected behavior

The animation should play in the same way as it would wi

[2018-07-25 14:20] alexchx opened #2321 "PowerBIEmbedded: The report is loaded twice so the performance is not ideal"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Minimal reproduction of the problem with instructions
Due to the PowerBI JavaScript library issue described in this [StackOverflow post](https://stackoverflow.com/questions/51363842/powerbi-javascript-mobilelandscape-layout-isnt-included-in-the-reports-connect), a workaround is introduced in, and that would

[2018-07-25 16:21] kbrons commented on #2321
Hi @alexchx, this repository doesn't have anything to do with PowerBI. Please avoid creating issues unrelated to the toolkit.

[PowerBI-Javascript](https://github.com/Microsoft/PowerBI-JavaScript) might be the repository you're looking for.

[2018-07-25 16:31] nmetulev commented on #2243
Yeah, I guess it depends on the usage. Another scenario is the Azure portal blades which work a bit differently and act almost as page navigation

[2018-07-25 16:32] nmetulev commented on #2321
@kbrons, this is related to #2231

[2018-07-25 16:35] nmetulev commented on #2320
Out of curiosity, have you tried to get this to work by using the Connected Animations APIs directly instead of using the helper in the toolkit?

[2018-07-25 16:38] kbrons commented on #2321
My bad, sorry about that.

[2018-07-25 17:59] arthurrump commented on #2320
Yes, I tried that too and it did work. It's on the [master branch of the repo I linked](https://github.com/arthurrump/ConnectedAnimationTest/tree/master), if you want to take a look at it.

[2018-07-25 18:39] mdtauk commented on #2243
Not an Azure user, but I tried looking at demos in some Build videos.  Does Azure still use that blades interface?

[2018-07-25 20:30] Bmartin2013 commented on #2320
After looking into it, I found the underlying issue with the control. When using the ScrollViewer, the key registration happens after the page loads. When the helper looks for the connected items, it can't find the key, so it cancels the animation.
In any other case, the key registration happens before the page loads.

![1](https://user-images.githubusercontent.com/3893598/43225797-662fa880-9030-1

[2018-07-25 20:46] nmetulev commented on #2320
Thanks @Bmartin2013, that's great too know. Different issues seems to pop up randomly as the helper seems to be running the animations too soon and wondering if there is something we can do to delay it and make sure things have loaded properly.

[2018-07-25 20:48] nmetulev commented on #2243
This [video](https://www.youtube.com/watch?v=Yp6x43gORY8) seems to show a good workflow of the Azure Portal

[2018-07-25 23:23] nmetulev commented on #2320
Something weird is happening with a ScrollViewer - it seems to load independently from the parent. The issue here is caused by exactly that: we wait for an element to load so we can register the key with the parent frame (we need to register with a frame in cases where there are multiple nested frames), and we run the animations when the page loads. In general that works before elements need to lo

[2018-07-27 02:08] ClairelyClaire opened #2325 "Twitter service - TwitterUser.cs - WithheldInCountries is erroring"
## I'm submitting a...
Bug report

## Current behavior
WithheldInCountries in TwitterUser.cs of the Twitter service doesn't parse properly. It's supposed to be a string, but something is causing Newtonsoft.Json to error. The problem is, this attribute is very rarely used, so it's null most of the time, which is making this hard to repro.

Filing an issue now so I can merge my changes in PR #2266 t

[2018-07-27 04:56] Richasy opened #2326 "RadialGradientBrush will transparent when minimize the window"
## I'm submitting a...

Bug report

## Current behavior

The RadialGradientBrush, have a very obvious BUG that when you minimize the window and open it again, the color will transparent or maybe Brush is broken.
## Expected behavior

like LinearGradientBrush, don't transparent.

## Minimal reproduction of the problem with instructions

use it in rectangle, minimize the window and open it again, bo

[2018-07-27 09:44] hupo376787 opened #2327 "StaggeredPanel does not support Incremental Loading Collection and Data Visualization"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

I found incremental loading collection is discussed at https://github.com/Microsoft/WindowsCommunityToolkit/issues/2191. But closed with no solution.

I love this control very much, cause it's used by photo site to display waterfall images.
Unfortunately, it does not support Incremental Lo

[2018-07-27 14:49] skendrot commented on #2327
As mentioned in #2191, this is not supported. "Normal" panels do not support ISupportIncrementalLoading .

[2018-07-27 14:49] #2327 closed

[2018-07-27 14:49] lucaasrojas commented on #2326
I tried to replicate the issue without success.

[code]
![issue2326](https://user-images.githubusercontent.com/26610409/43327636-4e677170-9192-11e8-9fe0-05ec68ffafd4.gif)

[Issue_2326.zip](https://github.com/Microsoft/WindowsCommunityToolkit/files/2236166/Issue_2326.zip)

Can you add the code that you used?

[2018-07-27 14:49] skendrot commented on #2327
Duplicate of #2191

[2018-07-27 17:54] lostmsu opened #2328 "Crash in Wpf.WebView: The remote procedure call failed. HRESULT: 0x800706BE"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
`WPF.WebView` initialization crashes

## Expected behavior
Wpf.WebView should succesfully initialize

## Minimal reproduction of the problem with instructions

## Environment
Nuget Package(s): Microsoft.Toolkit.Win32.UI.Controls-3.0.0; MahApps.Metro-1.6.5

Windows 10 Build Number:
- [ ] Cr

[2018-07-27 18:09] lucaasrojas commented on #2327
As was explained in the issue[ #2191](https://github.com/Microsoft/WindowsCommunityToolkit/issues/2191), this use case is not supported.

[2018-07-27 18:12] nmetulev commented on #2128
PR was just merged

[2018-07-27 18:12] #2128 closed

[2018-07-27 18:17] rjmurillo commented on #2328
Can you provide more information about the machine that has the problem, possibly even memory dump?

[2018-07-27 18:45] lostmsu commented on #2328
@rjmurillo , unfortunately, I can't provide the mem dump, as it is a cutstomer's laptop. I know the model though, it is Inspiron 17-7779.
I also don't know the exact circumstances, but my guess would be that it happens when the control is created while a monitor is being connected/disconnected, or Explorer is forcibly restarted.

[2018-07-27 21:34] mdtauk commented on #2243
Here is an updated design taking everything mentioned into account.  Depth is now determined by the last added blade.  Full Screen Blade collapses all others on either side to preserve Blade ordering.  My proposed Overlay mode is modal so instead of a collapse button it uses a back button and goes back to the previous Blade.

![blade-view-ideas-v2](https://user-images.githubusercontent.com/7389110

[2018-07-28 21:44] mdtauk commented on #2243
Also as a similar control, and a simple implementation, here is the Master Detail View control with depth shadows.

![master-detail-view](https://user-images.githubusercontent.com/7389110/43360855-c107bd36-92b7-11e8-93c8-f12c8e593091.png)

[2018-07-29 08:05] RamiBancosly opened #2329 "Add methods for data collection and filtering as in Tellerk Grouping"
Add methods for data Grouping and filtering as in telerik

- Feature request (UserVoice request: )
[DataGrid]
#2318

[2018-07-29 17:20] elucidsoft commented on #2310
I have confirmed this issue only exists in the Insider Build and has been resolved in rs5 branch.

[2018-07-29 17:20] #2310 closed

[2018-07-30 04:53] IbraheemOsama commented on #2300
Will have a look this weekend :)

[2018-07-30 14:19] kbrons commented on #2329
Hi RamiBancosly, the DataGrid control already has support for [data grouping and filtering](https://github.com/Microsoft/WindowsCommunityToolkit/blob/master/docs/controls/datagrid_guidance/group_sort_filter.md). Would you mind adding a more detailed description of the behavior you're requesting?

Also, please create a [UserVoice request](https://wpdev.uservoice.com/forums/110705-universal-windows-

[2018-07-30 15:48] nmetulev commented on #2243
Awesome. Is the shadow on the bottom one different on purpose?

[2018-07-30 16:16] mdtauk commented on #2243
@nmetulev  Actually no, let me correct the image, there shouldn't be a difference in depth shadows.

I had the wrong element masked.

[2018-07-30 16:40] nmetulev commented on #2326
It could be a graphics card issue. Can you tell us more about your device?

[2018-07-30 17:41] lucaasrojas commented on #2017
I tried to reproduce the issue using the @shweaver-MSFT test app with v2.2 and v3.0 without success.

[2018-07-30 18:37] lucaasrojas commented on #2017
I tried to replicate the issue using the v2.2 and v3.0 without success. I also tried moving the back button outside of the grid, but I couldn't replicate the issue.

[2018-07-30 19:19] kbrons commented on #2017
@michael-hawker Did you have a chance to look at this?

[2018-07-30 19:31] JustinXinLiu commented on #2243
I think the shadow in the Master/Detail view gives the wrong depth. The left bar should be higher (closer to you) than the middle pane and the middle pane should be higher than the content area, in the Z axis. Imagine you want to slide to hide the middle pane or the content area, they will move on top of their parent in the current design.

The depth shadow should be applied on the RHS of the left

[2018-07-30 19:35] nmetulev opened #2330 "Strong named uap packages are referencing non-strong named packages"
#2200 added strong naming for various assemblies to prepare for XAML islands scenarios when available. However, the uap packages are referencing assemblies which are not strong named. This will not cause any issues for UWP apps, but it is not yet clear if this will cause issues when uap packages are referenced by .NET framework apps.

To be safe, we should investigate if strong naming is appropria

[2018-07-30 19:58] mdtauk commented on #2243
@JustinXinLiu  That makes sense, if we are just talking about visuals, however logically there is a hierarchy at work.  You choose navigation on the left most pane, which opens the Master View, and selecting an item from there, goes into the Detail View.

Also the Acrylic values increase in opacity as you move up through the workflow, leading to an opaque value for the Detail View.

If the Titleba

[2018-07-30 22:35] JustinXinLiu commented on #2243
I don't mind if we reverse the shadow depth if we are going to do desktop Acrylic, but then we need to rethink how the in/out animation works as they cannot slide from underneath their parent.

In your case though, to me the only scenario that the yellow Current Tab being the highest layer is for it to contain primary commands. But it could get a little bit confusing as the Tab is on top of everyt

[2018-07-30 23:16] mdtauk commented on #2243
@JustinXinLiu  With Sets in a weird limbo for now, and no change likely coming to the default Title Bar commenting on it for now is a little academic.  Essentially the Current tab would contain the App's UI, so it would logically come after the Window and Titlebar in terms of depth order.  But it needs to stand out in terms of Acrylic tinting, and for apps like Office, would use the app's brand co

[2018-07-30 23:17] rjmurillo commented on #2328
@lostmsu Can you tell me which OS version is on the machine?

[2018-07-30 23:41] wjk opened #2333 "Feature Request: WPF Acrylic Blur API"
As detailed in UserVoice, there is no current official way to create the Acrylic Blur effect in a Win32-, WPF-, or Windows Forms-based application. The private API required to do this has been discovered, but it has changed once in the past in a backwards-incompatible fashion, and may do so again in the future. Would it be possible to add a library that does version-detection on the Windows 10 bui

[2018-07-30 23:55] JustinXinLiu commented on #2243
One thing to keep in mind is that, we don't really need depth for every single layer we have in an app. Having a top bar, left bar, middle pane and content doesn't mean we need 4 layers with different depth to make them stand out.  Theme shadows are more likely to be placed on popups and windows.

Take your light themed Groove Music Design for example, I'd try removing the middle vertical shadow t

[2018-07-31 02:37] rjmurillo commented on #2328
@lostmsu So you did, I just can't read 🙄 Can you clarify what you mean by having a min app version? The targets should apply to UWP applications, in which case there is already an Edge-based web view available. If it's a Win32 application and you're setting an app version for the MSIX manifest, you should target 17134 since that's the first version that Win32 web view is available

[2018-07-31 06:25] hupo376787 opened #2335 "New design advertisement control"
## I'm submitting a...

 Feature request
(UserVoice request: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/34922509-new-design-advertisement-control-on-uwp-platform)

## Current behavior

Hi, the existing Microsoft Advertising SDK for xaml is out of date, and designed for a long time. When using it in my app, the horizontal ad always can't show ads, and even does

[2018-07-31 07:43] ThiBro commented on #2311
Hi @kbrons @hermitdave

frist of all thanks for your help.
I just wanted to ask if you're working on this issue :)

Best Regards
Thilo

[2018-07-31 09:26] mdtauk commented on #2243
Those ideas are just Photoshop mockups, and so when it comes to shadows, I would of course defer to using ThemeShadow to produce them, and until there are Design Toolkits, I am just kind of winging it.  So consider the shadows just indicating depth, while not perfectly showing the look of the shadow 👍

For the Groove mockups, yea without a toggle for the sidebar, it doesn't need any depth, and its

[2018-07-31 09:38] hermitdave commented on #2311
I'm out of town at present with little computer time. I'll look at our next week

Apologies

Hermit

[2018-07-31 14:22] tedjeddine1 opened #2336 "Art"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-07-31 14:24] tedjeddine1 commented on #2336
Artists have to be developped on all styles

[2018-07-31 14:29] kbrons commented on #2336
Hi @tedjeddine1.
Thanks for reporting the issue, but we're going to need more detail to help you. Could you please elaborate more on what the problem/feature you're reporting is?

Thanks!

[2018-07-31 14:48] MaxBarraclough opened #2337 "UI Lockup when closing a WinForms form containing a WebView"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior
I'm finding my WinForms UI locks up 'permanently' if I close a form containing a WebView.

The issue does not arise if I call `Close()` on the WebView instance before the containing form itself closes. (This workaround is shown in my demo code linked below, in `Form1.cs`)

## Expected beh

[2018-07-31 14:54] lostmsu commented on #2328
@rjmurillo , I will try that

[2018-07-31 15:04] kbrons commented on #2335
Hi @hupo376787, I've been looking a bit into the Advertising SDK and, correct me if I'm wrong, but at least for the click count, you can check the [Advertising performance report](https://docs.microsoft.com/en-us/windows/uwp/publish/advertising-performance-report). What would be your idea for this? A new control wrapping the Advertising SDK?

[2018-07-31 15:14] hupo376787 commented on #2335
For the performance report, it shows all uses' click times. I want to summary an end-user click times. For example, if an end-user click the ad 5 times, then he will earn 5 golds.

For my request and user voice, I want MS team to design a new ad control, cause the current one is designed for a very long time, maybe out of date.

[2018-07-31 15:53] kbrons commented on #2335
As for getting a specific end-user click count, I think creating a wrapper control that implements that functionality would be a good solution.
But for the issue with the ad control being outdated or asking for a redesign, I don't think this is the right place for that. @nmetulev what do you think?

[2018-07-31 16:05] hupo376787 commented on #2335
I don't know where to post this question. So I asked for help here.

[2018-07-31 17:33] mdtauk commented on #2243
I am no expert, but if the elements are given a Vector3 translation on the Z axis, and then the developer either adds a <ThemeShadow /> to the Shadow property.  That determines if the shadow shows or not.

When looking over the default templates for a future version, then you should test with and without a ThemeShadow and see what makes sense in terms of implementing it as a default.

If applying

[2018-07-31 17:36] nmetulev commented on #2335
Yeah, not sure what the right place for this feedback is. @mcleanbyron or @mijacobs (authors of the docs [here](https://docs.microsoft.com/en-us/windows/uwp/monetize/display-ads-in-your-app)), do you know a good place for providing feedback on the advertising sdk?

Closing issue here

[2018-07-31 17:36] #2335 closed

[2018-07-31 17:39] mcleanbyron commented on #2335
I'm passing along this feedback to the engineering team that owns the Advertising SDK.

[2018-07-31 18:28] rjmurillo commented on #2337
@MaxBarraclough thank you for the bug report (and reduction!). I'll investigate.

[2018-07-31 18:39] rjmurillo commented on #2337
Tried it on
 - 17723.rs5_release
 - 17134.rs4_release

On the RS4 build there is a pause of 3-5 seconds when the pop up form is closed. @MaxBarraclough is this what you mean?

The issue does not repro on the last Insiders RS5 build.

I'll look at the code for RS4 to see if there's something better we can do here.

[2018-07-31 19:42] lucaasrojas commented on #2242
I reproduced this issue and I think that the problem might be in the __VSCodeActivityBarStyle__ style or how the NavigationView uses it. Using the Live Visual Tree, I saw that the item is loaded but is out of the menu.

![image](https://user-images.githubusercontent.com/26610409/43482252-8dd788fa-94de-11e8-968b-75dcfba60bad.png)

I reduced the menu height to see it better.

![image](https://user-i

[2018-07-31 19:47] lucaasrojas commented on #2242
I reproduced this issue and I think that the problem might be in the __VSCodeActivityBarStyle__ style or how the NavigationView uses it. Using the Live Visual Tree, I saw that the item is loaded but is out of the menu.

![image](https://user-images.githubusercontent.com/26610409/43482252-8dd788fa-94de-11e8-968b-75dcfba60bad.png)

I reduced the menu height to see it better.

![image](https://user-i

[2018-07-31 20:03] rjmurillo commented on #2337
On the toolkit side I see the stack as follows:
[code]
On 17134 I can confirm a delay of a couple seconds in `WebViewControlHost.Close`, which is taken in `EdgeManager.dll`.  During RS4 process closure is synchronous, and the two second delay during dispose is causing messages to not pump to the UI. Calling `Close` prior to disposing the control effectively makes the Dispose method not do anything

[2018-07-31 20:22] #2336 closed, assigned to nobody

[2018-07-31 20:25] nmetulev commented on #2333
This sounds interesting but we must avoid using private APIs. If there are public APIs that sounds awesome. Wondering if XAML Islands can help here

[2018-07-31 20:26] wjk commented on #2333
Unfortunately, after investigation, it turns out that this API is much less useful than I thought at first. It won't work with Windows Forms at all, as predicted. I've tried, and the result is an unreadable mess. When used with WPF, it is only functional when the window has a transparent background, which in turn requires that the window not have a standard title bar. This prevents it from being u

[2018-07-31 20:30] wjk commented on #2333
@nmetulev If you'll check my UserVoice request, you'll see my reasoning as to why I don't think that XAML Islands will help. Even if XAML Islands could create the requisite background effect (which I doubt), I would the then be limited to displaying UWP controls on top of the background. IMO, these are pointlessly overlarge to the point of being unsuitable for use with a traditional mouse-and-keyb

[2018-07-31 20:30] #2333 closed

[2018-07-31 21:38] nmetulev commented on #2333
Not sure I agree. The xaml team at Build showed a new compact density in UWP controls that introduces an opt in property to increase the density if you only care about mouse and keyboard - effectively reaching the same density as WPF controls.

[2018-07-31 22:41] mdtauk commented on #2333
@nmetulev  You describe it as an opt in **property**, but at Build I heard it described as a ResourceDictionary you add to your app.

A property you set on a page or panel sounds best to me, as it means the templates and values will be consistent from app to app, and stay consistent as the OS updates, and the Windows UI Library updates.

[code]

[2018-07-31 22:52] nmetulev commented on #2333
I'm not sure what they'll decide to use, I haven't seen any documentation released yet

[2018-08-01 01:01] dishantmshah commented on #248
How do I update collection sort order when mentioned Sort property in the collection is changed?

[2018-08-01 03:00] xiedongweo opened #2341 "I cannot build the latest release version of UWP community toolkit"
## I'm submitting a...

Regression (a behavior that used to work and stopped working in a new release) -->

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]
When I build the whole solution, I got the errors:

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1201	Project Microsoft.Toolkit.Uwp.UI.Controls

[2018-08-01 03:56] Richasy commented on #2326
Ok, my computer is Mi Book Pro:
- CPU: **i7-8550U**;
- Graphics card: **NVIDIA GeForce MX150**
- RAM: **16GB**

[2018-08-01 04:43] JustinXinLiu commented on #2326
Can you provide a better gif or video recording exactly what you did there? Also, did you bring back the window right after you minimized it or you waited for a bit?

[2018-08-01 04:53] Richasy commented on #2326
The video is here: Link

And yes, I wait a few seconds, but its seems doesn't matter.

Thanks for your reply

------------------ 原始邮件 ------------------
发件人: "Justin Liu"<notifications@github.com>;
发送时间: 2018年8月1日(星期三) 中午12:44
收件人: "Microsoft/WindowsCommunityToolkit"<WindowsCommunityToolkit@noreply.github.com>;
抄送: "青锋"<zar234@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [Microsoft/Window

[2018-08-01 05:04] JustinXinLiu commented on #2326
Did you forget to attach the link? :)

[2018-08-01 09:18] MaxBarraclough commented on #2337
@rjmurillo For me it's not a 5 second pause, the lock-up is indefinite

[2018-08-01 13:07] kbrons commented on #2341
Hi @xiedongweo.

As detailed on the issue #2047, this is a known issue in MSBuild and shouldn't affect successful building of the projects/solution and debugging the sample app. If you can't run the sample app or the build fails, make sure to update VS, have all the required dependencies installed and clean your local copy by running `git clean -xfd` (with VS closed).

Closing the issue.

[2018-08-01 13:07] #2341 closed

[2018-08-01 16:35] mdtauk commented on #2243
@goranalkovic That is how I understood it yea.  There are a set of depth values which are recommended/suggested/implied at - but there is no definitive documentation on what controls/flyouts are at which depth value.

![image](https://user-images.githubusercontent.com/7389110/43535142-120245a2-95b1-11e8-9896-e67156eb1f6c.png)

And in build 17728 they have started fixing some controls which were no

[2018-08-01 17:09] goranalkovic commented on #2243
@mdtauk Interestingly, that was already fixed in 18204

[2018-08-01 17:18] mdtauk commented on #2243
I had 18204 installed for a few hours before my install corrupted, now I am back on RS5 builds.

And the CommandBarFlyout is gone from Cortana's Search Box.

Do you have that shadow tool posted anywhere like GitHub @goranalkovic ?

[2018-08-01 17:36] goranalkovic commented on #2243
@mdtauk Not posted yet, created it just to see how it all works. I guess I could push it to GitHub.

[2018-08-01 20:45] lucaasrojas commented on #2326
I tried to reproduce the issue using two notebooks:

Lenovo ThinkPad X250
- CPU: __Intel i5 5200U 2.20ghz__
- GPU:  __Intel HD Graphics 5500__
- RAM: __8 GB DDR3__
- SO: __Windows 10 Enterprise v1803__

In this notebook, the issue can't be replicated, used to create the solution 5 days ago.

Microsoft Surface

- CPU: __Intel i5 6300U 2.40ghz__
- GPU:  __Intel HD Graphics 520__
- RAM: __8 GB__
- SO

[2018-08-01 20:48] lucaasrojas commented on #2326
I tried to reproduce the issue using two notebooks:

Lenovo ThinkPad X250
- CPU: __Intel i5 5200U 2.20ghz__
- GPU:  __Intel HD Graphics 5500__
- RAM: __8 GB DDR3__
- SO: __Windows 10 Enterprise v1803__

On this laptop, the problem could not be replicated. This device was used to create the solution 5 days ago.

Microsoft Surface

- CPU: __Intel i5 6300U 2.40ghz__
- GPU:  __Intel HD Graphics 520__

[2018-08-02 00:14] JustinXinLiu commented on #2326
@lucaasrojas awesome! What is the full error message?

[2018-08-02 13:14] lucaasrojas commented on #2326
@JustinXinLiu  The error message is: __Size = '((Windows.UI.Xaml.Application)sender).Resources.Size' threw an exception of type 'System.InvalidOperationException'__
I had to copy the message to the notepad because it didn't let me see the error.

[2018-08-02 17:10] johot opened #2345 "How does this relate to the Windows UI Library? It also features new UWP controls."
How does this relate to the Windows UI Library? It also features new UWP controls.

Can it be stated in the Readme.md file the difference between the WCT and the new WinUI library? For me this is really confusing atm. Thanks!

[2018-08-02 17:27] mdtauk commented on #2345
Well the hamburger menu started here and became a native control.  So did the Main Menu control.

So this is a collection of controls not included in the main control set.  And future controls that show up here, may end up in the main library in future

[2018-08-02 18:01] rjmurillo opened #2346 "ScriptNotify in WPF WebView does not fire as expected"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

Given the following code

**MainWindow.xaml**
[code]

**MainWindow.xaml.cs**
[code]

The event handler `WebView_ScriptNotify` is never fired.

## Expected behavior

The `WebView_ScriptNotify` event handler is fired

## Minimal reproduction of the problem with instructions

## Environment

[2018-08-02 18:04] rjmurillo commented on #2346
There is a timing issue here where a number of methods can be invoked before initialization is completed. In this case, properties are read from the control via the dispatcher; however, navigation occurs and `DOMLoadEvent` is fired before initialization finishes setting properties for enabling JavaScript, IndexedDb, and ScriptNotify.

[2018-08-02 18:18] lucaasrojas commented on #2326
I couldn't find the underlying cause of this issue, but I found this workaround that solves it. #2348

[2018-08-02 18:35] kbrons commented on #2345
This is the home for controls/helpers/utilities built and maintained by the community for the community. As @mdtauk said, many controls may start here as a creation of the community and are later added to the OS itself.

The Windows UI Library is managed by Microsoft and provides new controls, updated versions of controls already available on the OS and XamlDirect APIs for older versions of the OS

[2018-08-02 18:35] #2345 closed

[2018-08-02 22:32] #2253 closed

[2018-08-02 22:36] nmetulev opened #2350 "PromptBehavior for Microsoft Graph should be set to SelectAccount by default"
## I'm submitting a...

- Default value change

## Current behavior

See comment [here](https://github.com/Microsoft/WindowsCommunityToolkit/pull/2340#discussion_r206987389)

Need to test fully to make sure this change does not break anything.

[2018-08-03 03:22] duke7553 opened #2351 "DataGrid: Error (HRESULT E_FAIL has been returned from a call to a COM component) After Editing CellStyle Template"
## I'm submitting a...

 Bug report (I searched for similar issues and did not find one)

## Current behavior

Upon attempting to edit the DataGrid CellStyle template, the error "**HRESULT E_FAIL has been returned from a call to a COM component**" occurs when executing the program and navigating to the applicable page containing the DataGrid. This bug also occurs when using a copy of the default t

[2018-08-03 03:58] #2330 closed

[2018-08-03 18:32] kbrons opened #2353 "Implement interfaces for TwitterService and LinkedInService on .NET Framework"
## I'm submitting a...

 - Feature request (UserVoice request: )

## Current behavior

The Twitter and LinkedIn services were recently migrated to NET Standard. To achieve this, all the UWP specific code is now separated as implementations of these interfaces:
- IPasswordManager (Handles storing and retrieving credentials)
- IStorageManager (Handles application settings storage)
- IAuthenticationB

[2018-08-03 20:11] lucaasrojas commented on #1772
What's the current status of this issue?

[2018-08-03 20:16] lucaasrojas commented on #1740
@Vijay-Nirmal  The PR #1775 has been merged, can we close this issue?

[2018-08-03 20:33] Vijay-Nirmal commented on #1740
@lucaasrojas No, we can't. This issue is not fixed (as for as I know) unless @WilliamABradley fixed it in #1755 (I didn't follow the PR since I was busy). It was supposed to be done by me after #1755 PR merge.

[2018-08-03 20:54] nmetulev commented on #1740
Links now show up as links but don't work as anchor links. That's something that should be done in the actual MarkdownTextBlock

[2018-08-03 20:55] nmetulev commented on #2353
Sounds great, we should do this

[2018-08-03 21:01] lucaasrojas commented on #195
What's the status?

[2018-08-03 21:09] nmetulev commented on #2351
ping @MSRegisB

I could verify this issue with the latest pre-release package

[2018-08-04 06:57] rattapong00 commented on #2328
afellayno22@hotmail.com​

[2018-08-04 20:28] mdtauk commented on #2243
In build 17730, the settings app is using 12pt text instead of the current default 15pt text.  I wonder if this is part of the new UWP standard, like 40 x 40 epx for buttons instead of 48 x 48 epx

![settings-font-comparison](https://user-images.githubusercontent.com/7389110/43680232-462c0af6-982d-11e8-84c3-2a0c2bffc417.png)

[2018-08-05 20:38] wind-rider opened #2355 "Connected Animation feels not fluent - animated item is snapped in place after first animation part ends"
## I'm submitting a Bug report (I searched for similar issues and did not find one)

## Current behavior

The Connected Animation functionality seems to be processed in two steps and this breaks the fluent feeling:
- first it is resized and moved a bit
- then it is snapped in vertical direction into its final position.

This behaviour happens at least on Windows 10 build 17730. It can be reproduce

[2018-08-05 20:43] wind-rider commented on #2355
In my own app, the snapping is even worse (more visible):
- item is selected from a listview
- item is resized while new page is opened
- item ends up in the middle of the new page
- the new page (out of the box from Windows Template Studio?) slides to the top (I don't know why this happens, but I notice that it also happens to pages in the Community Toolkit Sample App, or when opening the downloa

[2018-08-05 21:53] wind-rider commented on #2355
Thank you for confirming it!

How can we best take it further from here? I know it is possible to report developer platform bugs in the Feedback Hub but I fear that it won’t be picked up there..

[2018-08-05 22:02] JustinXinLiu commented on #2355
Hey @stmoy, wonder if you are aware of this issue? I saw this on @nmetulev 's machine the other day too.

[2018-08-06 08:04] MatthieuCharbonnier opened #2356 "WPF Webview's IsPrivateNetworkClientServerCapabilityEnabled ignored when using ItemTemplate"
## I'm submitting a Bug report (I searched for similar issues and did not find one)

## Current behavior
When embedding **Webview** in the **WPF** **ItemControl** / **ItemTemplate**, the `IsPrivateNetworkClientServerCapabilityEnabled` property is ignored, and the local network websites always returns 404 error.

## Expected behavior
By setting `IsPrivateNetworkClientServerCapabilityEnabled` to `tr

[2018-08-06 16:25] rjmurillo commented on #2356
Thank you for the bug report.

After investigation I've found that the property change notification setting the `IsPrivateNetworkClientServerCapabilityEnabled` to `true` does not occur during initialization on the main thread when the WWAHost.exe process is created, but rather after the process is created and we've serialized state to the dispatcher. I will look further into the issue for a possib

[2018-08-06 16:51] rjmurillo commented on #2356
@MatthieuCharbonnier I believe I've found the issue:

Previously the process was created while the dispatcher flushed other messages to reduce "start up time" for the web view. With this change there may be a delay during initialization on April 2018 builds as the dispatcher needs to have had a pass performed prior to invoking our initialization code. Startup is faster in Insiders builds so the de

[2018-08-06 17:07] kbrons commented on #2158
Should we add a link to the repo in the WebView documentation page?

[2018-08-06 18:59] rjmurillo commented on #2337
So it's longer than a 5 second pause for me now (on a VM): a 60 second pause. The UI will again become responsive after `EdgeManager.dll` call finishes. Still looking into something we can do

[2018-08-06 19:12] SuperJMN opened #2360 "DataGrid integration with System.ComponentModel.DataAnnotations"
This is a suggestion:

Since there's a well-known `DisplayAttribute`, why don't you use it when auto-generating columns?

[2018-08-06 22:25] rjmurillo commented on #2346
Closed via #2347 and #2349

[2018-08-06 22:25] #2346 closed

[2018-08-06 22:28] michael-hawker commented on #2242
@nmetulev the underlying os code is changing each release, so the extensions keep breaking.  @JustinXinLiu looked at building them on top of the WinUI preview, but it was looking even more complicated.

Justin ended up re-implementing this for where I was using it.  I'll look into creating a sample or something for it instead for 5.0, but we may want to deprecate these extensions specifically.

[2018-08-06 22:30] michael-hawker commented on #2178
@nmetulev does this need to get updated/split now that we've had the version rev?

[2018-08-06 22:33] mdtauk commented on #2178
Another question to consider would be, does the UWP XAML Community Toolkit, take on a dependency of the Windows UI Library?  So Microsoft.UI.Xaml as well as Windows.UI.Xaml?

[2018-08-06 22:55] nmetulev commented on #2178
I don't see why not if we need to. For example, the InfiniteCanvas uses the ColorPicker which doesn't work on Creators Update right now so taking a dependency on WinUI would enables us to fully support Creators Update for that controls.

[2018-08-06 23:01] stmoy commented on #2355
Thank you for reporting! This is a known platform regression and has been fixed in the very latest version of Windows.

[2018-08-06 23:04] JustinXinLiu commented on #2355
Awesome! Thanks @stmoy, good to know it's already fixed. I am closing the issue now.

[2018-08-06 23:04] #2355 closed

[2018-08-06 23:49] nmetulev commented on #2242
Agree on deprecating, it's seem more work than it's worth. @lucaasrojas, could you submit a PR deprecating this extension?

[2018-08-06 23:50] mdtauk commented on #2178
I think it is safe to speculate that one day, the Windows UI Library may outpace OS versions for controls and XAML features.  And it is a slim possibility that Windows may strip out the XAML controls completely so the UI Library is the only way to use XAML controls.

So as long as the future of the UI Library is secure, it probably makes sense as it will remain backwards compatible to the same N-2

[2018-08-06 23:53] nmetulev commented on #2178
If WinUI decides to move faster than that Windows SDK and update the controls more often, we can take a dependency on updated controls sooner while keeping the current backward compatibility (which is n-2)

[2018-08-06 23:59] mdtauk commented on #2242
Could this not be achieved with hiding the Hamburger Toggle Button, and setting the template for the NavigationViewListItems?  With the NavigationView now supporting the navigation pane at the top, how does this style make sense for that?

[2018-08-07 00:03] nmetulev commented on #2242
It doesn't, it's another reason why we should deprecate this extension.

[2018-08-07 00:10] #2049 closed

[2018-08-07 00:11] mdtauk commented on #2242
@nmetulev  Removing the extension and providing a warning/error message makes sense.  But if all you want is a non toggled navigation view, with larger icons.  Provide it as a style you can apply, and ensure the top navigation pane orientation items are also styled.

[2018-08-07 00:15] JustinXinLiu commented on #2242
You can just change the display mode to dock the pane to the left and it won't go to the top, but this is not where the issue is.

By name, the `NavigationView` control is designed for page navigation, with built-in menu support. Currently, it's simply not designed for a VS code like menu system and restyling is not always enough. Even it worked in previous builds, newer changes broke the control

[2018-08-07 02:45] mdtauk opened #2364 "Main Menu not rendering flyouts with correct RequestedTheme"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

When the Toolkit App and System is set to Light Theme, but the control example is set to Dark.  The Flyouts don't use the correct background colour/acrylic colour.

![image](https://user-images.githubusercontent.com/7389110/43751161-a6c3970e-99f3-11e8-8da8-cba2f1f8943f.png)

## Expected

[2018-08-07 03:34] nmetulev commented on #2364
ping @IbraheemOsama

[2018-08-07 04:45] Richasy opened #2365 "Perhaps the Markdown parser can add support for the YAML header."
## I'm submitting a...
Documentation issue or request

## Current behavior

I read the source of the Markdown parser, and I have gained a lot, but the parser still has some shortcomings. For Blog, the YAML heading seems to be a useful thing, like this:
[code]
## Expected behavior

My code is poor, but I guess you can see what I want to say, and I think it would be better if you wrote it. Can Markd

[2018-08-07 05:09] JustinXinLiu commented on #2365
Hey, don't be afraid to submit a PR for it! :)

[2018-08-07 11:01] #2365 closed

[2018-08-07 12:56] PoulBak opened #2367 "Windows Forms Webview.InvokeScript causes deadlock on javascript errors"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
Describe how the issue manifests.

When a JavaScript error occurs, the the app deadlocks..
(requires that a successfull InvokeScript is called before the faulty one.

## Expected behavior
Thow exception like the async version does.

## Minimal reproduction of the problem with instructions
I

[2018-08-07 13:42] PoulBak commented on #2367
Look under 'Visual Studio' above, there's 'WindowsApp1.zip'

[2018-08-07 13:46] kbrons commented on #2367
Sorry, I didn't see it. Can you move it to the "Minimal reproduction" section? That's the section where it belongs.

[2018-08-07 13:54] PoulBak commented on #2367
Done! Sorry I'm new to this thing :-)

[2018-08-07 17:38] #2356 closed

[2018-08-07 17:38] rjmurillo commented on #2356
Closed via #2358 and #2359

[2018-08-07 18:13] #2242 closed

[2018-08-07 19:34] rjmurillo commented on #2367
@PoulBak thanks for the repro. I'll take a look

[2018-08-07 20:09] rjmurillo commented on #2367
I'm able to reproduce this issue. The deadlock occurs because the task is awaited in the UI context. I'm looking into possible ways to correct the problem

[2018-08-07 20:15] rjmurillo commented on #2367
I've made a fix for WinForms, will evaluate WPF separately. See aca45b9431e8b56965658fe05724c650bb07fb82

[2018-08-07 20:44] rjmurillo commented on #2367
The complete fix for WinForms and WPF is at d10f1f17017da80ddce1a5c924bd4ec050227139

[2018-08-07 21:11] michael-hawker commented on #2326
@lucaasrojas what about the `CompositionBrush` object, does it's value change at all?

[2018-08-07 21:29] michael-hawker commented on #2017
@kbrons @shweaver-MSFT I think I hit this again.  I was on a Surface Book, so I wonder if it's HW dependent?

[2018-08-07 21:32] michael-hawker commented on #1641
Sorry, I somehow missed this thread before.  Can we reuse the [CanvasBrushBase](https://github.com/Microsoft/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI/Media/CanvasBrushBase.cs) class I created for the RadialGradient to do this?

[2018-08-07 21:39] #2367 closed

[2018-08-08 01:24] Swifter opened #2372 "Expander Transparency Regression"
## I'm submitting a...

Regression (a behavior that used to work and stopped working in a new release)

## Current behavior

Transparency of the Expander control works as expected in Version 2.2, but regresses with 3.0 and 4.0.  In 3.0 and 4.0, there appear to be two panels on the Expander, one behind the other.  The back panel has the transparency value but does not collapse.  The front panel col

[2018-08-08 09:30] MaxBarraclough commented on #2337
@rjmurillo I ran my reduction application again, with a bit more patience this time. You're right, it's not indefinite. For me the lock-up was roughly 90 seconds.

If I update the _Microsoft.Toolkit.Win32.UI.Controls_ NuGet package to the new 4.0.1 version, the lock-up no longer occurs 👍

[2018-08-08 12:57] kbrons commented on #2372
Hi @Swifter, thanks for reporting the issue! I'll take a look at it

[2018-08-08 16:58] mdtauk opened #2373 "DataGrid Header colours are not adapting to Dark Theme. (Are they not using ThemeResources?)"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
The Header row does not change colours to adapt to the Dark Theme.  Either System Wide Dark Theme, or when toggling the RequestedTheme in the Sample App

![data-grid-header-dark-in-light](https://user-images.githubusercontent.com/7389110/43851614-0ff93a54-9b33-11e8-9441-a617397d31a9.PNG)

!

[2018-08-08 17:13] purani opened #2374 "WebView: Overloaded Navigate method with HttpMethod and header gets stuck in runtime"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
WebView.Navigate(System.Uri, System.Net.Http.HttpMethod, string, System.Collections.Generic.IEnumerable<System.Collections.Generic.KeyValuePair<string, string>>) message call gets stuck on Dispatcher.

Call stack:
 	WindowsBase.dll!System.Windows.Threading.DispatcherSynchronizationContext.Wa

[2018-08-08 17:25] purani opened #2375 "WebView: Session cookies are not shared across WebView instances"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
When using multiple WebViews, session cookies are not shared.

## Expected behavior
Session cookies are shared.

## Minimal reproduction of the problem with instructions
Login to a sample CRM instance in one webview. Choose 'yes' to 'Stay Signed in'.
Open another WebView instance to navigate

[2018-08-08 17:31] michael-hawker commented on #1672
I have some prototypes that work partially, but getting the Pivot to respond correctly for all scenarios is proving to be more work than this is probably worth.  Recommending we close this in favor of #353 again, which I'm actually going to start looking at in more detail.

[2018-08-08 17:37] rjmurillo commented on #2337
@MaxBarraclough Thanks for your patience and glad we could get that issue resolved for you. Closing via #2362 and #2363

[2018-08-08 17:37] #2337 closed

[2018-08-08 17:41] mdtauk commented on #1672
Whilst it may still be an idea to include these Templates and Resources...

Microsoft has formalised using the NavigationView with the pane set to Top, to do Tab Navigation, instead of using a modified Pivot or set of CheckBoxes.

This doesn't replace a need for a proper Tab Control, in the same vein as the Edge and Sets tabs, but for navigation in Alarms & Clock, Store, Films & TV, or the Phone a

[2018-08-08 17:46] harinikmsft commented on #2233
These have now been fixed in the release version.

[2018-08-08 17:46] #2233 closed

[2018-08-08 17:52] purani opened #2377 "WebView: 'Remember password' does not work across multiple WebView instances"
## I'm submitting a...
 Bug report (I searched for similar issues and did not find one)

## Current behavior
Navigate to a webpage which requires basic auth. Auth dialog shows up.
Enter credentials and check the 'Remember Password' checkbox.
Navigate to the same webpage on another WebView instance.
Auth dialog shows up to fill password.

## Expected behavior
Auto login should happen.

## Minimal r

[2018-08-08 17:57] purani opened #2378 "WebView: Need provision to inject a preload script"
## I'm submitting a...
Bug report

## Current behavior
There is no way to detect script errors on the page load.

## Expected behavior
Need a provision to inject a preload script to achieve this functionality.

## Minimal reproduction of the problem with instructions
N/A

## Environment
Nuget Package(s): Microsoft.Toolkit.Win32.UI.Controls.dll

Package Version(s): 4.1.0

Windows 10 Build Number:
-

[2018-08-08 18:16] nmetulev commented on #2378
Not sure if this is a bug or a feature request. ping @rjmurillo

[2018-08-08 18:18] nmetulev commented on #1672
Agree on closing this and focusing on creating a new control

[2018-08-08 18:18] #1672 closed

[2018-08-08 18:52] skendrot commented on #1672
@nmetulev Wait, What!?!?!?

[2018-08-08 18:57] mdtauk commented on #2373
ThemeResources update at runtime if the Theme changes, but StaticResources do not.  So if you are using the ControlTemplate's ResourceDictionary, make sure you are calling on and using ThemeResources.  See if that helps

[2018-08-08 19:01] skendrot commented on #2377
I wouldn't think it would be as simple as just having two webviews. I would think you would need to carry over the cookies from one to the other.

[2018-08-08 19:03] skendrot commented on #2375
Wouldn't you need to set the cookies on one from the other?

[2018-08-08 19:15] rjmurillo commented on #2375
There are two behaviors that this issue covers.

Session close and session "resume"
 - Given a web view (web view 1)
    - and a cookie set on that web view with a future expiration,
  - when the web view is closed and relaunched,
  - then the cookie should be persisted and available to the new instance

Session sharing between web views
 - Given a web view (web view 1)
    - and a cookie set on t

[2018-08-08 20:16] harinikmsft commented on #2373
@mdtauk is right, I do see a lot of resources specified as StaticResources which might be the source of the problem. @MSRegisB  - can you take a look?

[2018-08-08 20:58] WilliamABradley opened #2379 "TextToolbar Text Area - RTF Applied with CommandBarFlyout in Markdown Mode"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior

On the new Windows SDK, The RichTextArea has the new Text CommandBar Flyout Enabled, this is great for RTF formatting, but applies RTF formatting in Markdown Mode.

## Expected behavior

The Command Bar Flyout buttons apply Markdown Formatting.

Investigate overriding the Text CommandBarF

[2018-08-08 21:03] WilliamABradley opened #2380 "Grid Splitter goes completely white when pressed in Dark Theme"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

The Grid Splitter goes blinding white when selected.

## Expected behavior

The Grid Splitter goes Dark when selected, following the Dark Theme.

## Minimal reproduction of the problem with instructions

Click the Drag the Grid Splitter for the Info Pane in the Sample App. Notice it goes

[2018-08-08 21:14] nmetulev commented on #1672
After talking to @michael-hawker in person, I agree that it makes more sense to build something from scratch. The Pivot does a lot of work in code behind that makes it difficult to build a true tab control

[2018-08-08 21:54] rjmurillo commented on #2375
After some more investigation I've found that this behavior is controlled by the browser itself, and session state is never persisted to disk. There is some code that "stuffs" session state from one tab to the next in the browser. State sharing appears to be broken in UWP in the above described scenario, but can work with Win32 if certain conditions are met. I'm investigating further about what th

[2018-08-09 00:46] rjmurillo commented on #2375
@purani I have more information. Web views can share session cookies if they are created in the same process. I've updated the toolkit in #2381 to add a new `.ctor` for the control to accept a `WebViewControlProcess` which you can manage within your shell or obtained from an existing `WebView` control instance.

[2018-08-09 01:06] rjmurillo commented on #2378
In RS5 the review board changed the name of an API. Need to see if it has made it to the new SDK and change the name of our API to match.

Technically it's a breaking change. To make it not so I'd have two APIs, the old one and the new one, with the old one pointing to the new one.

[2018-08-09 07:34] mvegaca commented on #2152
Hi @nmetulev any advances here?

[2018-08-09 19:52] rjmurillo commented on #2374
I was able to reduce this issue

**MainWindow.xaml**
[code]

**MainWindow.xaml.cs**
[code]

As a workaround you can move `Natvigate` method call into `MainWindow_OnLoaded` event handler to allow the control to initialize through the dispatcher queue.

[2018-08-09 20:38] kbrons opened #2383 "Twitter Sample App page - Tweets text not visible with dark theme"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior

When using the sample app with the dark theme, on the Twitter sample page, the text of the tweets is not visible.

![image](https://user-images.githubusercontent.com/14252330/43924277-8fedf8ae-9bfa-11e8-97e7-22ebc18f25a9.png)

## Expected behavior

The text of the tweets is visible

##

[2018-08-09 21:43] rjmurillo commented on #2374
This is the case with a few other properties and methods as well:

- Properties
  - `Process`
- Methods
  - `GetDeferredPermissionRequestById`
  - `InvokeScript`
  - `InvokeScriptAsync`
  - `Navigate`
  - `NavigateToLocal`
  - `NavigateToLocalStreamUri`
  - `NavigateToString`

[2018-08-09 22:45] rjmurillo commented on #2378
This is available now as `AddPreLoadedScript` which may or may not work depending on Windows SDK and OS build you're on.

[2018-08-09 23:15] rjmurillo commented on #2374
The fundamental problem here is that HwndHost has not yet created the Hwnd we need to attach the web view within the `MainWindow()` method. There are cases where I can block and wait for the control to initialize (like Navigation), but there are cases where I cannot (such as when a return value is expected, such as InvokeScript). Where it cannot work due to requiring a return value from a callback

[2018-08-10 00:16] rjmurillo commented on #2378
The name was changed in SDK 17723 to `AddInitializeScript`. PR forthcoming

[2018-08-10 00:47] rjmurillo commented on #2377
I think this is a dupe of #2375. @purani Can you confirm the changes for #2375 solve this problem as well?

[2018-08-10 00:54] rjmurillo commented on #2085
Note this has been updated in Insider builds to display a different string

![image](https://user-images.githubusercontent.com/6811113/43933231-4f6ac9ee-9bfd-11e8-8900-866ad8194a00.png)

[2018-08-10 11:25] purani commented on #2377
Yes it resolves this issue as well

[2018-08-10 13:56] rjmurillo commented on #2375
Fix also resolves #2377

[2018-08-10 15:45] Ullmie02 opened #2386 "MasterDetailsView Header Margin"
## I'm submitting a...
UI bug report

## Current behavior
The HeaderContentPresenter has a margin of 12 Pixels at the sides and doesn't fill the whole space.
![current](https://user-images.githubusercontent.com/16425113/43967613-10ece7ba-9cc5-11e8-9ac6-7eaf5c21fcbd.PNG)

## Expected behavior
The HeaderContentPresenter should have no margin; if someone wants a margin, they could add it easily. with

[2018-08-10 15:47] Ullmie02 commented on #2386
I would be able to submit a pull request and resolve the bug as it is just removing the margin.

[2018-08-10 16:09] michael-hawker opened #2387 "Can't follow DataGrid How-To links in Sample App"
## I'm submitting a...

- Bug report

- Sample app request

## Current behavior
![image](https://user-images.githubusercontent.com/24302614/43968722-cca05134-9c7c-11e8-9499-ac44c59f9348.png)
If I go to the DataGrid documentation, it's mainly an index page to other tutorials.  That list doesn't seem to appear correctly nor (and more importantly) can I click on them to see the tutorials...

## Expec

[2018-08-10 16:12] michael-hawker commented on #2116
@harinikmsft did you want to submit a PR for this since you identified the fix?

[2018-08-10 16:29] Kath118 opened #2388 "Add click event for row- Datagrid"
## I'm submitting a...
New Feature

Please add a click event for row in datagrid.
The selection changed event does not work when is necessary to open a new page.
Because to select the same row is necessary select another row and then re-select the previous row.

[2018-08-10 16:52] Kath118 opened #2389 "Sorting Items"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
Sorting the datagrid list causes the datagrid to be rebuilt. So it takes 4 seconds to sort the list according to the selected column. In addition, the sort direction of the column is not kept, so when the datagrid is rebuilt the arrow is not shown.

The datagrid has 94 columns and 500 rows.

[2018-08-10 17:11] avknaidu commented on #2386
Why not restyle the control and remove the margin? Or Add `Margin="-12,0"` on the Grid Inside `MasterHeader`?

![image](https://user-images.githubusercontent.com/6171200/43971395-ded95b26-9c9e-11e8-8d39-5f5f1f0ebbd3.png)

[2018-08-10 17:29] skendrot commented on #2386
The margin is there to align the header with the content of the list. The ListviewItem has a default padding of 12,0. So, to properly align the header text with the content of the listview, the header is given a default margin of 12,0 as well. This optimizes the 90% use case where the header is just text. If your application requires you to have something other than text, the HeaderTemplate can be

[2018-08-10 17:29] #2386 closed

[2018-08-10 17:51] kbrons commented on #2388
Hi @Kath118, can you create a [uservoice request](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit) for the issue and add it to your comment?

Thanks!

[2018-08-10 19:33] Kath118 commented on #2388
@kbrons  Hi
Link: [](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/35081719-add-click-event-for-row-datagrid)

[2018-08-11 06:30] fatcatz888 commented on #2017
FYI it just occurred again after I upgraded to 4.0.0. I was testing GridSplitter in the Windows Community Toolkit Sample App using a Desktop PC. If I open the Mouse extension example the cursor appears normal again.

[2018-08-12 14:19] hupo376787 opened #2390 "MasterDetailPage's loaded event invoked everytime after navigate back"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

I have a master detail page and a settings page. I have set
[code]

But every time I navigate to Settings page, and navigate back, MasterDetailPage's loaded event always triggered.

Is this a bug or not?

## Expected behavior

MasterDetailPage's loaded should trigger once.

## Environment

[2018-08-13 02:30] hupo376787 commented on #2390
I was wrong, it's not a bug. Close for now.

[2018-08-13 02:30] #2390 closed

[2018-08-13 14:29] kbrons commented on #1596
Closing the issue because of inactivity. Let's reopen if someone wants to work on it.

[2018-08-13 14:32] kbrons commented on #1638
Closing the issue due to inactivity and availability of the control outside the toolkit.

[2018-08-13 14:32] #1638 closed

[2018-08-13 20:55] dckorben commented on #2261
It might help devs who missed the no-cache headers initially. If you remove the specific cached files located in C:\Users\\AppData\Local\Packages\Microsoft.Win32WebViewHost_cw5n1h2txyewy\AC
that will effectively reset the webview.
Obviously, of no use in deployed apps and incredibly poor hack but it helped me clear the cache to get the headers on the docs that were influx so testing could continue

[2018-08-13 22:49] #2375 closed

[2018-08-14 04:34] 632575987 opened #2391 "2 Bug on Menu control"
## I'm submitting two bugs on Menu control:
1:  When I change the theme from system settings, the sub menu item does not change its background and foreground color.
2:  When the menu is open, mouse point over the other menu item, sometimes there is a highlight block appear around the menu.

## Expected behavior
make background color feedback when mouse point on menu item

## Environment

Windows 1

[2018-08-14 08:59] Evilpaule commented on #2281
I have the same issues as i use the sample from here.... Only light gray webview with no content in mainview

[2018-08-14 14:58] kbrons commented on #2391
Hi @632575987, thanks for reporting these bugs! The first one was already reported on #2364, so you can remove it from here.

As for the second bug, is this what you're referring to?
![issue 2391 focus border](https://user-images.githubusercontent.com/14252330/44099269-a47917e2-9fb8-11e8-9433-c967b12215bc.gif)

[2018-08-14 17:45] nmetulev commented on #1596
Let's leave this issue open in case someone wants to work on it. I'll mark it as help wanted

[2018-08-14 19:46] WilliamABradley commented on #1596
#1650 is now finished, and there is a PR here for this: WilliamABradley/ColorCode-Universal#3

[2018-08-15 05:50] ac-lap opened #2392 "DataGrid: Preventing cell selction and hiding columns"
## I'm submitting a...
Sample app request

## Query
[1] In DataGrid control is there a way I can prevent the individual cells from being highlighted?
![image](https://user-images.githubusercontent.com/5137736/44133274-9b42c00a-a07c-11e8-8f1a-0e093360ca5f.png)

[2] Can I hide an entire column at runtime from c#?
![image](https://user-images.githubusercontent.com/5137736/44133351-09a76866-a07d-11e8-

[2018-08-15 09:32] Vijay-Nirmal opened #2393 "What's new and notification for each release in SampleApp"
## I'm submitting a...

- Sample app request

## Current behavior

Currently, the users have to go to the release notes to fine changes/What's new

## Expected behavior

We can have a What's new popup after an update and Push Notifications to alert for breaking changes.

[2018-08-15 09:41] JohanO commented on #2380
Should be simple to change the color. I can take a look at this.

[2018-08-15 14:12] kbrons commented on #2392
Hi @ac-lap! To answer your questions:
1. That highlight is the focus indicator, which is the base of navigation without a mouse. Without it, users that don't use a mouse would find it hard to know where they're standing on the control.
2. The DataGrid control has a _Columns_ property. You can get any column and set the _Visibility_ to _Collapsed_ to hide it.

Closing the issue.

[2018-08-15 14:12] #2392 closed

[2018-08-15 17:04] JustinXinLiu commented on #2393
Also, controls that are new in this release should have a "new" icon on their tile.

[2018-08-15 17:11] ac-lap commented on #2392
@kbrons, Thanks for the reply.
On (1), I understand the point you are making, but for my app I don't want individuals cell to be highlighted, highlighting the entire row is all I need.
If this is currently not possible through any of the parameters, can you point me the code which I can tweak to get this functionality?

Thanks

[2018-08-15 20:36] #2377 closed

[2018-08-15 21:13] #2380 closed

[2018-08-15 21:15] skendrot commented on #2393
Why the need for a pop and push notification? I think a new icon and a breaking changes icon would be fine. We would need to be careful with this that previous tags are removed on the next release

[2018-08-15 21:29] mdtauk commented on #2393
Maybe a version number with a background colour. Like a badge, so you know when a control was added or update

[2018-08-16 04:29] Vijay-Nirmal commented on #2393
@skendrot Push notification is to an alert user after an update. Popup will be similar to release note, so users can see all changes within the app. The user should not dig into the sample app just to find the breaking changes/What's new. The user should be alerted about the breaking changes as soon as possible.

[2018-08-16 08:18] Odonno commented on #2393
@skendrot Yeah. It looks fine. I think the most important is the "what's new" icon. The UI should not overloaded by too many icons. To check if it is a new control/service/.. we can use the ApplicationVersion to automatically set the icon.

[2018-08-16 11:43] avknaidu commented on #2393
There is a "What's New" section already on the sample app. Why not use/improve this section instead of modifying the icons itself?

[2018-08-16 13:59] 632575987 opened #2396 "New features suggestion about markdowntextblock"
1: support gif images render in the markdowntextblock ;
2: support html syntac : sometimes we want to show a text with special color / font / fontsize ..etc,I think html is flexiable to do it .( Currently if I want to show a string  with red color,I usually write a custom support in the c# codebehind and set the foreground to red, then  use the [ \```custom    helloworld    \``` ] to display a red

[2018-08-16 14:38] skendrot commented on #2393
@Vijay-Nirmal I would be so frustrated if I got a notification that the toolkit had breaking changes. Most likely I'm not even using the thing that had breaking changes! Breaking changes are noted in the release notes and in the blog that is published. Developers understand to look for these

[2018-08-16 15:02] Vijay-Nirmal commented on #2393
@skendrot We can have an option to turn off the notification. If Breaking changes notification makes the user frustrated then we can simply say "New version has been released, check out What's new and changes in the toolkit"

[2018-08-16 15:59] michael-hawker opened #2398 "Notifications Documentation Lacking"
## I'm submitting a...

 - Documentation issue or request

## Current behavior
Notifications documentation doesn't really explain what benefits the toolkit provides in this area or how to use it directly:
https://docs.microsoft.com/en-us/windows/communitytoolkit/notifications/notificationsoverview

First links followed don't go into more details either on code side.  And other links have a manual

[2018-08-16 16:00] hansmbakker opened #2399 "Connected Animation "hangs floating" and then pops away when navigating back to originating list"
## I'm submitting a bug or a question (not sure)

## Current behavior
I am using a Windows Template Studio generated UWP project based on the Prism framework.

I have a ListView containing search results bound to an ObservableCollection. When tapping / clicking a ListView item (search result), the app navigates to a search result detail page. The search result item from the ListView is shown on th

[2018-08-16 16:02] michael-hawker commented on #2393
I think a pop-up content dialog on the home page after an update would be good.  It'd also make a good sample for the sample app to have using the SystemInformation APIs we added.

[2018-08-16 16:12] JustinXinLiu commented on #2393
It's OK to have a "What's New" section, but icons would make it so much easier for people to discover new things.

I am also not a huge fan of popups. I think we just need to make the release notes panel more obvious when there are breaking changes.

[2018-08-16 16:34] mdtauk commented on #2393
What's New gives you a definitive list, but doesn't go into enough detail to explain all the changes made to an updated control, along side new controls.

Some kind of indicator is good for showing new controls, but also to alert people where a control has been changed

[2018-08-16 16:43] Vijay-Nirmal commented on #2393
@JustinXinLiu Are you requesting users to open all the below tabs to find What's New?
![applicationframehost_2018-08-16_22-09-53](https://user-images.githubusercontent.com/24755596/44222103-26f1fd80-a1a1-11e8-8847-d8598d65fc54.png)

I think a simple what's new popup will solve the problem. Also, what's new popup is common in all the Microsofts app. That said, I also like to have a "new" icon.

[2018-08-16 16:48] mdtauk commented on #2393
@Vijay-Nirmal  There is a What's New list already, but I think you keep that, click the header to view a more detailed list of new and updated controls, **and** add icons on the controls that are new or updated for the current version installed.

![image](https://user-images.githubusercontent.com/7389110/44222441-62c69c00-a17c-11e8-99fa-fb3ed1ca8c26.png)

[2018-08-16 17:13] Vijay-Nirmal commented on #2393
@mdtauk I know, it's just a link to the corresponding page. Do you like to have that or What's new popup like the images below?

![gif](https://user-images.githubusercontent.com/24755596/44223457-4a1eac00-a1a5-11e8-9615-bbe03a92b278.gif)

![909869](https://user-images.githubusercontent.com/24755596/44223482-615d9980-a1a5-11e8-9581-42e9b3aa6dde.png)

![applicationframehost_2018-08-16_22-41-02](http

[2018-08-16 17:34] nmetulev commented on #2399
@JustinXinLiu, any thoughts on this?

[2018-08-16 17:35] nmetulev commented on #2398
ping @andrewleader

[2018-08-16 17:37] nmetulev commented on #2152
not yet, I'will take a look at this for next release

[2018-08-16 17:41] JustinXinLiu commented on #2399
Is it possible to have a repo?

[2018-08-16 17:45] andrewleader commented on #2398
@michael-hawker the first sentence states the benefits (you get an object model rather than having to deal with the XML directly)

![image](https://user-images.githubusercontent.com/13246069/44224843-8ec42c00-a140-11e8-84e7-d524abd9fada.png)

The links in the docs are indeed outdated. Can someone make those changes? They should be updated to...

[Adaptive Tile Notifications](https://docs.microsoft

[2018-08-16 17:45] JustinXinLiu commented on #2393
To me these popups offer little help when you need detailed information. When developers want to go into the details, they should go to the GitHub links and that's normally how they do it.

We just need to make sure the links on the main page are super clear. If there's breaking changes, we highlight it. Imagine this, if you accidentally closed the popup, or you closed it but wanted to go back to

[2018-08-16 18:05] Odonno commented on #2393
Yep. I think a popup is too much. Having an icon is enough. Some times ago I asked myself what was added to the Toolkit recently.. A "new icon" is fine and it will last only until the next major/minor release. Not sure about an "update icon"/"change icon", it can be useful too.

[2018-08-16 18:05] kbrons commented on #2399
I'm working on a reproduction project, but I'm having some issues getting the animation to work from a listview

[2018-08-16 20:10] hansmbakker commented on #2399
@kbrons thank you so much already for working on a reproduction project!

I'm willing to provide a repro project as well, but I can't do that earlier than tomorrow evening or coming Saturday I'm afraid. I posted this already to see whether anybody had seen the behavior in their own apps.

I couldn't reproduce the behavior in the Windows Community Toolkit Gallery, but I believe that is because ther

[2018-08-16 20:15] kbrons commented on #2399
It might be related to that, but I'm trying to reproduce it to make sure. I can try to simulate that behavior delaying the loading of an ObservableCollection. If that works, I'll take the Prism route and see what happens

[2018-08-16 21:28] WilliamABradley commented on #2396
Hi @632575987,
While you can use Custom Code Blocks to set special colours, fonts, font sizes, etc. We won't support it natively with the MarkdownTextBlock.

Markdown is designed to be a lightweight Markup format, without specific formatting, as that is left to the renderer to interpret. HTML might be supported by **_some_** Markdown Renderers, that is because they are Web Based, and have Native H

[2018-08-16 21:28] #2396 closed

[2018-08-16 22:25] skendrot commented on #2383
To get this view to show do you have to enter twitter key/secret?

[2018-08-17 06:26] Vijay-Nirmal commented on #2393
Don't see this as an addition to the app. See this in a developers perspective.

 Let's say a new version of the toolkit has been released.

**With the current set up:**
1. Now the developer has to go to blogs (or other sites) to find out this news.
2. Next, they want to go to release notes in GitHub to find out What's new/Changes.
3. Next, they want to go to the sample app to check out these chan

[2018-08-17 10:03] hansmbakker commented on #2399
@kbrons @JustinXinLiu @nmetulev reproduction repo at https://github.com/hansmbakker/ConnectedAnimationIssueReproduction

[2018-08-17 10:03] hansmbakker commented on #2399
![bugreproduction](https://user-images.githubusercontent.com/3463496/44260716-999cc080-a215-11e8-8b79-43a55655a28b.gif)

[2018-08-17 12:40] kbrons commented on #2383
Yes, that's the screen after entering the app credentials and logging in with an account.

[2018-08-17 19:04] Bmartin2013 commented on #2399
I tried to reproduce the issue by delaying the loading of an ObservableCollection without success. Now we can be sure that the problem has nothing to do with the RestorableState attribute and, therefore, with the toolkit itself.

[2018-08-17 21:08] rattapong00 opened #2402 "afellayno22@hotmail.com"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-08-17 21:08] joncamp opened #2403 "WebView Build Errors in Microsoft.Toolkit.Win32.UI.Controls"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
The following build errors are appearing in Microsoft.Toolkit.Win32. The build errors prevent building of local nuget packages, which makes this a blocking issue for certain scenarios.

`
1>------ Build started: Project: Microsoft.Toolkit.Win32.UI.Controls, Configuration: Debug Any CPU ---

[2018-08-17 22:02] skendrot opened #2404 "Should closing a BladeItem completely remove the blade, not just hide it?"
Open for discussion.

Should closing a BladeItem completely remove the blade, not just hide it? I'm working to change the BladeView to allow binding the ItemsSource to a collection that is not BladeItems. When closing a Blade, should it remove the item from the collection? Or should it continue to just hide the item and allow the user to remove?

[2018-08-17 22:27] nmetulev commented on #2404
Is it possible to bring back a BladeItem back once it's closed (if not removed from the collection)? I'd expect the item to be removed from the collection otherwise.

[2018-08-17 22:43] mdtauk commented on #2404
Wouldn't removing the blade when a new one is created, be the same behaviour visually as a Master/Detail control?  Isn't what makes the BladeView control unique is that it lays out multiple blades sequentially?

[2018-08-17 23:12] skendrot commented on #2404
@nmetulev Currently, yes you can change the `IsOpen` property of the `BladeItem` to bring it back. Going forward with allowing binding to the ItemsSource, this property could be bound to a property. However, I think just adding a new model to the collection is just as easy.

@mdtauk What are you referring to? I never said anything about closing/removing an item when one is added

[2018-08-18 08:46] mzhukovs commented on #2273
@gbarcho were you able to get this to work? I upgraded to the latest nuget and same behavior as before... pop-up only flashes without giving chance to log-in and it fails.

[2018-08-18 15:55] touseefbsb commented on #2404
how about putting a boolean property on the control for both possibilities?

[2018-08-19 16:53] moneylow opened #2405 "AdaptiveGridView Layout when BorderThickness is not 0"
AdaptiveGridView doesn't take into account BorderThickness of the gridview (RecalculateLayout()), which causes some mild misfires on the layout of the items, like not fully filled rows and edge items flickering up and down as resizing occurs.

[2018-08-20 07:50] aodpi opened #2406 "HamburgerMenu regression"
## I'm submitting a...

- Regression (a behavior that used to work and stopped working in a new release)

## Current behavior
Setting the `SelectedIndex` property on HamburgerMenu control doesn't make the Selected rectangle visible, thus visually there is no selected item, even if setting the `SelectedItem` property itself.

## Expected behavior

The selection rectangle to be displayed whenever `S

[2018-08-20 13:50] skendrot opened #2407 "BladeView should allow binding ItemsSource"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)
- Feature request (UserVoice request: )

## Current behavior

Currently the BladeView does not allow binding of the ItemsSource to a (view)model. The BladeView assumes that all items in the collection are of type `BladeItem`

## Expected behavior

Should be able to bind ItemsSource to a (view)model

## Minima

[2018-08-20 14:19] zootyzoot commented on #2281
Same issue here. Nothing but a blank, grey screen, when using WPF.
With winforms the entire form will not display.
Sometimes I get this error: The remote procedure call failed. (Exception from HRESULT: 0x800706BE)

[2018-08-20 15:28] onovotny opened #2412 "GraphLogin control does not appear in toolbog"
The GraphLogin control in the Microsoft.Toolkit.Services does not appear in the toolbox.

The instructions to use it are incorrect:
https://docs.microsoft.com/en-us/windows/communitytoolkit/services/graphlogin#add-the-graphlogin-component-to-the-visual-studio-toolbox

There are several issues with those instructions:
1. It assumes the user is using `packages.config` by way of having a local `packa

[2018-08-20 15:50] clairernovotny opened #2413 "GraphLogin / AadLogin / Microsoft Graph Service don't allow for other resources"
Using the GraphLogin / AadLogin controls today is limited to using the Graph service. This is too limited as it is common to need to call a custom API as well. An application should not need to login multiple times, once for graph and again for the custom API.

The GraphLogin/AadLogin infrastructure should expose the underlying AuthenticationContext or at least another way of getting access tokens

[2018-08-20 16:58] #2378 closed

[2018-08-20 17:38] clairernovotny opened #2416 "GraphLogin / AadLogin needs to accept tenant id"
Right now the GraphLogin is hard-coded to the common endpoint for v2. It needs to accept the tenant id as an option as there can be tenant-specific apps.

[2018-08-21 00:34] JustinXinLiu commented on #2399
OK, just realized that you are using `RestorableState`. So you don't need to do the manual cache at all. Simply wrap your control with a `Grid` and your issue should go away.

[2018-08-21 07:06] JustinXinLiu commented on #2320
Actually this bug is fixed in RS6. Both animations run smoothly on my machine. Can someone else who's using RS6 pre-release please confirm?

[2018-08-21 08:33] hansmbakker commented on #2399
Hi @justinxinliu,
Thank you for your investigation and elaborate feedback and workaround! I’ll try it tonight!

[2018-08-21 10:29] Frydex commented on #2264
@corykroll use this:

xmlns:dataprimitives="using:Microsoft.Toolkit.Uwp.UI.Controls.Primitives"

and

<controls:DataGridTemplateColumn.HeaderStyle>
                                <Style TargetType="dataprimitives:DataGridColumnHeader">
                                    <Setter Property="ContentTemplate">
                                        <Setter.Value>

[2018-08-21 15:12] rev3ng opened #2418 "Errors in design using TextBoxRegex. Works after starting an app"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

Reports errors:

## Expected behavior

No errors

## Minimal reproduction of the problem with instructions

    <Page
    x:Class="App4.Views.AddPage"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
    xmlns:

[2018-08-21 16:47] lucaasrojas commented on #2406
Can you add the code and some screenshots?

[2018-08-21 16:55] kbrons commented on #2406
Thanks for reporting the issue, but I don't think this is worth fixing, as the HamburgerMenu will soon be deprecated. You should check out the [NavigationView](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/navigationview) control from the [Windows UI Library](https://docs.microsoft.com/en-us/uwp/toolkits/winui/).

[2018-08-21 16:55] #2406 closed

[2018-08-21 17:00] aodpi commented on #2406
@kbrons NavigationView has it's issues as well 😢

[2018-08-21 18:20] JustinXinLiu commented on #2406
@aodpi are you sure? I am using it and I don't see the issue.

[2018-08-21 18:25] jefhai opened #2419 "DropshadowPanel does not fade with button fade page navigation"
In newer builds of Windows 10 running UWP apps, navigating between pages automatically applies "animations." In this case I have a Button with Button.Content

[code]

When the Page navigates back it applies an opacity animation on the button. This opacity animation affects the image in the button but not the drop shadow. So it looks weird, a dark square dropshadow and a semi transparent image on t

[2018-08-21 19:44] JustinXinLiu commented on #2406
Which control are you talking about? And why would you set it to such a big number?

[2018-08-21 19:45] JustinXinLiu commented on #2399
Great! I am closing the issue now.

[2018-08-21 19:45] #2399 closed

[2018-08-21 19:45] aodpi commented on #2406
@JustinXinLiu NavigationView

[2018-08-21 19:56] JustinXinLiu commented on #2406
Consider posting this on StackOverflow.

[2018-08-21 20:08] lucaasrojas commented on #2419
Can you add a video or a GIF image showing the problem?

[2018-08-21 20:11] lucaasrojas commented on #2406
@aodpi Maybe the `ExpandedModeThresholdWidth` has a limit value. Did you try a lower value?

[2018-08-21 20:18] aodpi commented on #2406
@lucaasrojas I've tried some other values of course, but with no luck 😢 But if i change to the latest version of UWP (1803) it works just fine.

[2018-08-21 22:16] nmetulev commented on #2393
Just to throw in another option, we could add a non disruptive InAppNotification that points to the release notes. Or a small section in the top of the landing page that only shows up the first few times (with a hide button). Just a quick, "Hey a new version is now available, make sure to view the release notes".

[2018-08-21 22:48] mdtauk commented on #2393
@nmetulev  Is it just about showing what is new to the developer.  Or about reminding what version includes what features/properties/events weeks or months after release?

[2018-08-22 02:05] rjmurillo commented on #2281
Thanks for the reports. From what it sounds like here, Win32WebViewHost is failing during startup which is causing WWAHost to fail to initialize the web view. I'm going to look at our telemetry stream to see if there's a underlying problem.

[2018-08-22 02:14] rjmurillo commented on #2403
Yes. Please be sure to run `.\build\Install-WindowsSdkISO.ps1` with the latest insiders SDK version as first argument. Right now I think we're on 17733 as of d5fc571f93eee403b8e5a24be4fc5b540a6265e1

[2018-08-22 03:29] #2374 closed

[2018-08-22 03:31] #2403 closed

[2018-08-22 03:34] nmetulev commented on #2393
My suggestions is about showing what's new. I'm not against including version info in the samples/icons

[2018-08-22 03:42] mdtauk commented on #2393
Fair enough @nmetulev 👍

[2018-08-22 03:44] AnsonWooBizCloud commented on #2281
I have the same issue for my own project but the sample Project works for me! I have tried to reproduce the issue but no luck. And even the but sample project able to display the page, there is an error in my event log:

Hope this helps! Thanks!

[2018-08-22 16:05] nmetulev commented on #2404
So if changing the `IsOpen` property moves the BladeItem to the front, would that also modify the collection?

[2018-08-22 16:36] rjmurillo commented on #2281
@AnsonWooBizCloud @zootyzoot @Evilpaule @nareshmember Do you have problems with other UWP apps on that machine? Specifically, Sticky Notes or Xbox Identity Provider?

[2018-08-22 16:45] lucaasrojas commented on #2418
Can you upload a sample project?

[2018-08-22 16:50] rjmurillo commented on #2281
I've opened an issue with the Edge engineering team. If you could, please upvote that issue.

https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/18763561/

[2018-08-22 17:42] rev3ng commented on #2418
A sample project is available on my github repo.
https://github.com/rev3ng/MVVMLightUWP

[2018-08-22 18:52] lucaasrojas commented on #2418
I'm not seeing any errors on my side. Could you add more information?

[2018-08-22 18:52] lucaasrojas commented on #2418
I'm not seeing any errors on my side. Can you add more information?

[2018-08-22 19:13] nmetulev commented on #353
Here is the recording of our first live standup where we discussed this control in detail: https://www.youtube.com/watch?v=qd14_3etv98

[2018-08-22 20:35] mdtauk commented on #353
@nmetulev I had no idea you were planning to do video stream discussions!  Great idea.  Am watching it now.

[2018-08-22 21:36] michael-hawker commented on #353
@mdtauk it's our first one!  We hope to continue them in the future after the success from today.

![image](https://user-images.githubusercontent.com/24302614/44492246-a7d54d00-a618-11e8-9960-23ebb8fe41c0.png)

I'll post more of the document info I shared here in a bit, I want to finish my investigation on using `ItemsSource` first (hopefully tomorrow).

In the meantime, you can find my working br

[2018-08-22 22:05] mdtauk commented on #353
It may be helpful to document WPF and Win32 uses for Tabs and Tab Controls, and offer guidance where pivots and NavigationView Top position should replace traditional tab usage.

Then you can focus on building a tab control that handles those scenarios were Tabs "should be used" and let that help answer some of the questions you come up against while planning and developing it.

![image](https://u

[2018-08-22 22:17] rjmurillo commented on #2281
@AnsonWooBizCloud  @zootyzoot  @Evilpaule @nareshmember  Could any of you share the specs of your host and VM? I think we've found the problem and want to get a repro case. From what it looks like there is an exception that occurs when attempting to set focus on the web view. Like @kbrons I don't see it, but I can conform via telemetry that a crash is indeed happening.

[2018-08-22 23:10] skendrot commented on #2404
@touseefbsb The BladeItem already has the Expanded property, and IsOpen is really just the same as Visiblity. I think the correct way forward is to actually remove the item if it is closed.

@nmetulev  Yes, currently When the visibility of the BladeItem changes (which is what [changing IsOpen does](https://github.com/Microsoft/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/B

[2018-08-22 23:15] skendrot commented on #2404
Just noticed a bug with the `IsOpen` property as well. If the user changes the `Visibility` property of the `BladeItem` instead of the `IsOpen` property, the item will hide and show properly, but the `IsOpen` property will **not** change .

[2018-08-22 23:35] JustinXinLiu commented on #353
This is what I would suggest:

If you use the tab control for a small section inside one of your pages, use the new `TabView`.
If you want tab control to be function-rich, use the new `TabView`.
If you want a touch-friendly tab, use the `Pivot`. However, I'd suggest the `TabView` should be touch-friendly too.
If you need a **top-level**, **responsive** and tab-like menu, use the `NavigationView`.

[2018-08-22 23:59] mdtauk commented on #353
@JustinXinLiu  That seems a little vague especially in your guidance on the Pivot.

**Pivots**  Originally the intent was for filtering views of the same data, but have become a generic way to "swap out" a region/area within a view/window/screen.  It is the most lightweight visually and in terms of complexity.

(Simple)**Tabs**  Once considered obsolete in a touch first, immersive UI. Favoured by

[2018-08-23 07:31] Evilpaule commented on #2281
Specs:

- Windows 10 pro version 1803

- HP Z440 workstation (Intel xeon E5-1620 v3, 16GBRAM, 225 GB SSD + 2TB HDD )

- Working with VS Enterprise 2017 version 15.8.1

- installed version >.Net 4.7

[2018-08-23 08:13] zootyzoot commented on #2281
@rjmurillo

Sticky notes seems to work just fine.

Specs:

-Windows 10 Enterprise version 1803 build 17134.228
-Lenovo Thinkpad T470S
- VS 2017 Enterprise Version 15.8.1
- .Net 4.7.2
- Microsoft Edge 42.17134.1.0
- Microsoft EdgeHTML 17.17134

[2018-08-23 08:59] AnsonWooBizCloud commented on #2281
@rjmurillo

I don't have any other UWP apps, but only this WPF app, so I am not sure did they all / partially works or not, sorry.

And this is my spec:
Machine: iMac 21.5 (2017 Version)
Machine OS: macOS 10.13.6
VM Host: VMware Fusion 10.1.3
VM OS: Windows 10 Pro x64 / Version 1803 / Build 17134.228
VM Browser: Microsoft Edge 42.17134.1.0 / EdgeHTML 17.17134
CPU: i7-7700 / 16GB RAM
Target .NET Fr

[2018-08-23 20:53] michael-hawker commented on #2418
@rev3ng since it still lets you build and run the app, and they only appear when the xaml file is open, this feels more like a VS designer bug.

Can you report it in VS with their feedback tool as well (yellow flag in upper-right)?

[2018-08-23 23:53] JustinXinLiu commented on #353
@mdtauk This thing is that the new `TabView` control should be able to do everything a `Pivot` does,  plus a lot more in the future.
When we get to that point, I don't think one would use the `Pivot` at all.

[2018-08-24 01:10] rjmurillo commented on #2281
@AnsonWooBizCloud @zootyzoot @Evilpaule @nareshmember Would any of you be able to try a recent Windows Insider build to see if the issue is resolved (can download an ISO from [here](https://www.microsoft.com/en-us/software-download/windowsinsiderpreviewadvanced))? We're trying to tease apart exactly where this error is occurring to see what our options might be for a fix.

[2018-08-24 01:45] mdtauk commented on #353
@JustinXinLiu  I do understand the idea of a **TabView** control becoming a super-set of the Pivot in a way.  However the Pivot control is more lightweight with a distinct typographic and clean visual style.  I think the Pivot should remain, and its use encouraged for the more simple _tap or swipe to swap the area_ scenarios.  Tabs being more visually heavy in that there is a background for the ta

[2018-08-24 06:29] AnsonWooBizCloud commented on #2281
@rjmurillo

What I found in Windows Insider Preview:
1. Sample Project from @kbrons, no more error.
2. My Project, same, nothing show up as before

[2018-08-24 07:27] michael-hawker opened #2421 "StaggeredPanel's quick description text is wrong"
![image](https://user-images.githubusercontent.com/24302614/44570916-338fcc00-a734-11e8-9a7b-74c14df20634.png)

This is the HeaderedContentControl's text which looks like it was copied.

It should say:

    The StaggeredPanel allows for layout of items in a column approach where an item will be added to whichever column has used the least amount of space.

[2018-08-24 07:36] rev3ng commented on #2418
Yes i will. Thank for help :)

[2018-08-24 07:36] #2418 closed

[2018-08-24 08:04] xiedongweo commented on #2341
@kbrons  Thank you.

[2018-08-24 12:17] lucaasrojas commented on #2421
@michael-hawker  I made a PR. Can you take a look to it?

[2018-08-24 13:39] kbrons commented on #2320
I have a VM with RS5 and might be able to test with that, but I don't have access to RS6. Do you know where I can get it?

[2018-08-24 15:37] nmetulev commented on #2320
I'm gonna take this on trying to figure out a work around, even though this seems like a platform bug.

[2018-08-24 15:37] nmetulev commented on #2421
PR merged

[2018-08-24 15:37] #2421 closed

[2018-08-24 17:45] JustinXinLiu commented on #2320
I think the Skip-ahead setting in Windows Update will get you RS6. But @kbrons could you please also test it on the latest insider build of RS5?

[2018-08-24 18:00] michael-hawker commented on #2243
This is a great thread!

@mdtauk I love the new mock-ups for the BladeView.  I think my only sticking point would be about the title presence of the First BladeViewItem changing the behavior.  Almost feels like we need a `IsSticky` property or something and then determine what that means if it's not the first one in the other scenarios.

[2018-08-24 18:14] mdtauk commented on #2243
@michael-hawker  I am going by the sample app which says "The first blade has a hidden TitleBar, so you can't close it."  And it doesn't seem to minimise like the other blades do.  I assume it is the Titlebar property which defines this behaviour.  But I am focusing on the Aesthetics mainly, bringing them into a Fluent design style.  And proposed a new mode based on how the Xbox One handles it's "

[2018-08-24 20:29] #2383 closed

[2018-08-25 03:13] h82258652 opened #2428 "Track elements enter or leave the viewport"
## I'm submitting a...

 - Feature request (UserVoice request: ) https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/35209264-track-elements-enter-or-leave-the-viewport

Take an example, you can load the image until it entered the viewport which the Image control is in a ScrollViewer.

[2018-08-25 11:43] lhak opened #2429 "Uploading files to OneDrive for Business fails with ServiceException"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
Uploading a file to a OneDrive for Business account using the code shown in the section "Creating or uploading files - that exceed 4MB" of the documentation fails with the following error:

Microsoft.Graph.ServiceException: Code: itemNotFound
Message: The resource could not be found.

Inner

[2018-08-28 15:13] kbrons commented on #2429
Hey, I've been looking into it and the service seems to work when adding "/me" to the URL for requesting an upload session. Couldn't check what happens on a personal OneDrive, as the two accounts I tried just returned an access denied error, no matter the permissions I gave to the app. Can anyone confirm? The change is on the UploadFileAsync method of the OneDriveStorageFolderPlatform file.

![iss

[2018-08-28 18:00] joseartrivera commented on #2276
I will be taking a look at a few of these. To start off I will take the first batch of issues under "These controls won't change the background color while the app its running."

[2018-08-29 13:16] ismaelestalayo opened #2436 "Layout cycle detected"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior

When resizing the window of the application when I'm on the page with the DataGrid causes the app to close because of "Layout cycle detected" error. It does not happen on any of my other pages of the app.

[Video of the bug](https://1drv.ms/v/s!AsetwX0BbAP1k8ZxPF-V7PVo4C3NFw)

## Expect

[2018-08-29 20:16] JohnnyWestlake commented on #2419
You're probably observing an effect of the fact Opacity is applied down the visual tree on each element seperately and not applied flatly at the layer at which you set it.

If you don't want to see the shadow as the button is fading out, you can set CacheMode="BitmapCache" on the Button - as long as you're not animating anything inside the button.

[2018-08-29 21:27] MannusEtten opened #2438 "Can't login to onedrive"
can't login to one drive.

exception:
Could not load type 'Microsoft.IdentityModel.Clients.ActiveDirectory.PromptBehavior' from assembly 'Microsoft.IdentityModel.Clients.ActiveDirectory.Platform, Version=3.19.8.16603, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.

[2018-08-30 00:51] michael-hawker commented on #2438
@MannusEtten thanks for reporting an issue, but could you provide a few more details?
- Like after which call are you seeing this error?
- What version of the Toolkit are you using?
- What version of Windows are you using?
- Are you trying to login with an MSA or a federated account?

[2018-08-30 07:24] juma-msft opened #2441 "I'd like to have a Vertical TextBlock to render East Asian Text"
## I'm submitting a...
Feature request (UserVoice request: )

## Current behavior
XAML doesn't provide a way to render text vertically like so.
![image](https://user-images.githubusercontent.com/3760863/44835953-98857d80-ac70-11e8-9e8d-739a8b9ddece.png)

## Expected behavior
It would be nice to have that behavior. There's already some discussion on the social sites:

https://social.msdn.microsoft.

[2018-08-30 08:37] nbevans opened #2442 "InAppNotification often doesn't self-dismiss despite all queued notifications using a modest 5000ms duration"
## I'm submitting a...

## Current behavior
Queuing up multiple InAppNotification's with the QueueBehind mode results in the notification box often not self dismissing.

## Expected behavior
The notification box should self-dismiss the notifications that specified a duration.

## Environment

[code]

[2018-08-30 12:57] lucaasrojas commented on #2442
Can you upload an example code?

[2018-08-30 17:19] jasonjoh opened #2443 "Sign Out menu item on AadLogin does not invoke the SignOutCompleted event handler"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

Using an `AadLogin` control correctly invokes the `SignInComplete` event when the user clicks on the control to sign in. When the user then clicks the control, gets the pop-up menu, and then selects "Sign Out", the `SignOutComplete` event is not called.

## Expected behavior

The `SignOutC

[2018-08-30 18:55] Pinox opened #2444 "Rx Mvvm Framework"
Hi ,

Is there any future plans for ReactUI Mvvm inside UWP Community toolkit ?

Would be a great addition taking into account the popularity of Rx and I understand it's very performant as well.

[2018-08-30 19:46] Odonno commented on #2444
I know that Reactive Programming is a really great programming paradigm but I don't understand why adding a huge framework like Rx inside the toolkit will benefit everyone. Or maybe you have something specific in mind?

[2018-08-30 20:31] Pinox commented on #2444
Agree @Odonno , posted on the wrong forum much better suited in template studio. That is the Mvvm part.

[2018-08-30 20:31] #2444 closed

[2018-08-31 13:11] touseefbsb opened #2445 "infinite canvas size issue."
I'm Submitting a :

## Bug

## Current behavior

Whenever the canvas control is loaded in smaller size it remains smaller even after maximizing window, on the other hand if the control is loaded on maximized size then u can keep changing the window size and canvas will keep changing its size as per available space.

## Expected behavior

even when loaded in smaller size canvas should react to wind

[2018-08-31 19:38] PoulBak opened #2448 "WebView blocks UI thread when calling 'InvokeScriptAsync'"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

When calling 'InvokeScriptAsync', the UI threads blocks while script is running. This goes against the idea of having an asynchron method.

## Expected behavior

The UI thread should be responsive.

## Minimal reproduction of the problem with instructions

Run the attached app. Click the b

[2018-08-31 20:52] PoulBak opened #2449 "WebView: A popup form crashes the app when calling 'InvokeScriptAsync'."
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

When the app creates a popup form and displays it, the app crashes if you call 'InvokeScriptAsync' in the 'Form activate' event.

## Expected behavior

The app should not crash!

## Minimal reproduction of the problem with instructions

Run the attached app, notice it crashes after a few s

[2018-09-03 22:38] PoulBak opened #2450 "WebView: Add public CurrentDirectoryStreamResolver"
## I'm submitting a...

 Feature request

## Current behavior

It is quite confusing finding out how to write a 'UriToStreamResolver' to use with  'NavigateToLocalStreamUri'
## Expected behavior

An easy to use 'UriToStreamResolver' . The resolver simply uses the 'CurrentDirectory' as basis (which is normally set to the app's output directory). Users can easily override 'CurrentDirectory' without

[2018-09-04 16:57] rjmurillo commented on #2448
A reduction for those interested

**Form1.cs**
[code]

**HTMLPage1.html**
[code]

[2018-09-04 17:39] kbrons commented on #2450
Hi @PoulBak, thanks for creating the feature request! Please create a [uservoice request](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit) and add the link to the issue.

@rjmurillo what are your thoughts about this?

[2018-09-04 18:41] rjmurillo opened #2451 "Integrate MSBuild.Sdk.Extras for Win32 projects"
## I'm submitting a...

## Current behavior

csproj includes elements that are covered by incorporating MSBuild.Sdk.Extras package. With the introduction of more Win32 projects, this needs to by DRY. See conversation in #2435

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-09-05 19:28] gaojunxuan opened #2452 "Latest version of Microsoft.Toolkit.Uwp.UI.Controls is causing errors while running VSTS build test"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

The latest version of Microsoft.Toolkit.Uwp.UI.Controls package are causing error while running VSTS Build Test. I'm using Visual Studio App Center to run build tests on my UWP app while the build test kept failing after updating the Microsoft.Toolkit.Uwp.UI.Controls package from 2.1.1 to

[2018-09-05 20:09] kbrons commented on #2452
Seems to be more of a ColorCode or .NET Standard issue than the toolkit's. You should continue reporting to the .NET Standard issue or, if there's a fix that could be done from ColorCode's side, you can create an issue in [this repository](https://github.com/WilliamABradley/ColorCode-Universal).

[2018-09-05 22:32] WilliamABradley commented on #2452
@gaojunxuan @kbrons I will update ColorCode to use Full PDB Output and create a PR to the Toolkit to fix this.

Release Mode should still work.

[2018-09-06 00:01] rjmurillo commented on #2450
We had a version of this in 3.0 [`UriToLocalStreamResolver`](https://github.com/Microsoft/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/UriToLocalStreamResolver.cs) that was made internal. Reason I did that is there are a whole bunch of security issues to contend with that are best left to the implementor. Right now there's a `Navigat

[2018-09-06 00:58] PoulBak commented on #2450
I don't understand why a Windows forms app (that can access the Whole harddisk) should have such security concerns. You can always load the file into a string, if you want, only this way, it automatically fetches stylesheets and scripts. This is not UWP.

[2018-09-06 01:03] rjmurillo commented on #2449
This is an underlying issue with the web view. Issue reported to Edge team in [#18908657](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/18908657/)

[2018-09-06 17:28] rjmurillo commented on #2450
The WebView is based on the UWP web view, and uses UWP principles for sandboxing and security. In order to execute code for URL rewriting, we need to pass some information back and forth to some system processes (Win32WebViewHost and WWAHost), which run under different security contexts than the Win32 application and within a UWP sandbox. The issue isn't with the permissions of the Win32 applicati

[2018-09-06 18:50] MannusEtten commented on #2438
i use the latest version of Windows
i downloaded the latest source code (but of course not usable because building errors)
so now i tried the sample app from the windows store

msa or federated account? i have no clue, i have a microsoft-account which i try to use.

i fill in my email and then "sorry, we have technical difficulties and unabled to login". I get this screen already for days.

i have

[2018-09-06 18:59] michael-hawker commented on #2441
Thanks for submitting an issue @juma-msft.  Can you file a [UserVoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit) issue for this request as well?  Thanks.

[2018-09-06 19:50] skendrot commented on #2441
I think that would be the default behavior for the standard TextBlock when the culture is set...

[2018-09-06 19:57] azchohfi commented on #2441
The platform control doesn't currently support this, so we could only achieve this with a custom control.

[2018-09-06 20:02] skendrot commented on #2441
I understand, I'm saying it should be the default. This is something that should go directly into the platform

[2018-09-06 20:28] jefhai commented on #2419
@JohnnyWestlake unfortunately setting the bitmap chase mode didn't work...

[2018-09-06 20:47] chrisaswain commented on #2442
I'm seeing this same issue.  When I have it set to QueueBehind and I show the same notification more than once.  See code below.  Where the ShowNotification method shows the notification with QueueBehind and it displays for 10 seconds before self-dismissing.

[code]

[2018-09-06 20:50] mdtauk commented on #2441
Windows Phone 7/8 supported this with the in-built apps.  Perhaps you could talk to team members who built the Windows Phone UI to see if they can offer any sample code that could be adapted.

Of course, it would be better for this to be built into the platform controls...

[2018-09-07 10:53] GaelGirodon commented on #2226
Is it possible to allow localhost access without having to set a loopback exemption (this can’t be done on each computer where the application will be installed)?

If I understand well, there’s a security reason to forbid UWP applications to send network traffic to the local computer. But, imagine we need, for prototyping purposes, to build an Electron-like application with a .NET/WPF/WebView/Edge

[2018-09-07 16:05] rjmurillo commented on #2226
Unfortunately the exemption is a requirement since the web view process hosting Edge for Win32 is UWP. This was not necessary for the WebBrowser control since it was hosted in the same process as your Win32 application and would be unaware of the UWP sandbox if it were running with Desktop Bridge.

[2018-09-07 16:40] GaelGirodon commented on #2226
Thank you very much for your quick reply and for this explanation. I think that using the WebView control for my project is not the right solution. I will continue to look for something that is more suited to my use case.

[2018-09-07 17:23] lhak opened #2456 "Crashes with Windows Forms XAML Host"
## I'm submitting a...

 Bug report (I searched for similar issues and did not find one)

## Current behavior

I have added a quite complex UWP control to a Windows Forms application to test the XamlHost control. Compared to beta build 4.1.0-build.27 I see the following crashes with the current build:

System.BadImageFormatException thrown by DiscoverMetadataProviders() in MetadataProviderDiscover

[2018-09-07 18:38] kbrons commented on #2456
@jwilcox1701 can you take a look at this?

[2018-09-07 18:42] GraniteStateHacker commented on #2456
Hi, Kevin,  we're looking into this.  I don't know all the details, but I believe it's a late change in a recent Insider build that's involved.  (looping in @ryalanms in case there's been more info about this...?)

[2018-09-08 15:28] robloo commented on #2436
I wrote a bar chart control some time ago and it was redrawn on the SizeChanged event. Whenever the user would do some very quick resizing, or go to a very specific size, the 'layout cycle detected' exception would occur crashing the app. I really dug into things to find the root cause of this but was unable to. My code seemed correct. The only thought is it just wasn't able to redraw fast enough

[2018-09-09 15:39] mscherotter opened #2457 "InfiniteCanvas does not work with RadialController/Surface Dial"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

On a Surface Pro 3 with the Surface Dial, running on Windows 10.1803 the zoom functionality with the InfiniteCanvas control (as seen with the Sample App) does not work as expected.  It should zoom smoothly as it does with the ctrl-mouse wheel.  It zooms in definite increments every 10 de

[2018-09-09 19:10] Symbai opened #2458 "WebView - Resize form makes webview jump out of screen"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
Resizing WPF application will make the webview jump out of screen and never comes back.

![ezgif com-optimize](https://user-images.githubusercontent.com/14368203/45267863-cc785400-b463-11e8-846b-891d9209a799.gif)

## Expected behavior
Webview resizes like all other controls

## Minimal repro

[2018-09-09 19:46] Symbai commented on #2458
Note to devs: Putting webview in a grid like below solves the problem, but I guess its still a bug as it has been already inside a grid.

[code]

[2018-09-10 22:08] azchohfi commented on #2457
@IbraheemOsama can you check this out?

[2018-09-10 22:08] azchohfi commented on #2458
@rjmurillo Can you investigate this?

[2018-09-11 02:12] copernico2k opened #2459 "Application crash after using PrintHelper from a child page"
I'm submitting a Bug report for the PrintHelper when printing from a different pager other than the main page in UWP.

Application crash after using PrintHelper for printing a content from a different page other than the main page in UWP. Even though the document was printed correctly.
It only happen when the same code is ran from a child windows, not the main windows. When ran from the main windo

[2018-09-11 02:16] copernico2k commented on #2459
this are some of the errors and trace from the issue:

[2018-09-11 02:17] copernico2k commented on #2459
The application called an interface that was marshalled for a different thread. (Exception from HRESULT: 0x8001010E (RPC_E_WRONG_THREAD))

   at Windows.UI.ViewManagement.ApplicationView.GetForCurrentView()
   at Inventory.ServiceLocator.get_Current()
   at Inventory.App.OnUnhandledException(Object sender, UnhandledExceptionEventArgs e)

   Element not found. (Exception from HRESULT: 0x80070490)

[2018-09-11 12:40] aodpi opened #2460 "ImageEx IsCacheEnabled property not working."
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
At the moment the property 'IsCacheEnabled` from `ImageEx` control doesn't seem to work. Setting it to false displays a cached image even though the physical image has changed.

I think that the code at this line:
https://github.com/Microsoft/WindowsCommunityToolkit/blob/6baca53664113e5518c

[2018-09-11 14:34] copernico2k commented on #2459
Hi Lucas,

Sure, as soon as get back home at night I will create a small version of it, if I have to upload it in public, otherwise I can send it to you the entire project if needed, so it will be easy for me not having to recreate the whole thing.

Sorry, Im new to github community, so I don’t know where to upload it, or if I just can send it to you by email.

Regards,
Jorge.

From: Lucas Rojas <

[2018-09-11 15:28] lucaasrojas commented on #2458
I tried leaving only the WebView and the problem persist. It seems to be a WebView issue. Also, I tried the Symbai solution with the same result.

[2018-09-11 15:55] lucaasrojas commented on #2459
@copernico2k Add the reproduction sample file in the issue's description, that way any community member can help to fix it. Every day is a learning experience, don't worry.

[2018-09-11 16:30] nbevans commented on #2442
Sorry don't have time to create a standalone repro. There is definitely a bug. I've fixed it for myself by writing my own robust queuing mechanism that avoids using any of the queuing stuff built into InAppNotification.

[2018-09-11 16:55] joncamp opened #2461 "Need standardized HID Parsing code for eye tracker head position, eye position, etc."
## I'm submitting a...
- Feature request

## Current behavior
No standardized HID parsing is available for eye position, head position, etc.

## Expected behavior
Provide standard HID parsing logic for extracting eye position, head position, etc

## Minimal reproduction of the problem with instructions

## Environment
Nuget Package(s): all

Package Version(s): all

Windows 10 Build Number:
- [ ] C

[2018-09-11 23:31] azchohfi opened #2463 "WindowsXAMLHost docs pointing to old XamlRoot properties"
## I'm submitting a...
- Documentation issue or request

## Current behavior
WindowsXAMLHost docs points to old XamlRoot and XamlRootChanged properties.

## Expected behavior
These properties have been renamed to Child before the PR merge. They need to be updated.

[2018-09-11 23:35] azchohfi commented on #2460
@WilliamABradley could you take a look at this? Is this broken? What is the expected behavior?

[2018-09-11 23:38] WilliamABradley commented on #2460
@azchohfi Sorry, I have no idea, I only separated ImageExBase from ImageEx for the RoundImageEx.

[2018-09-12 05:03] copernico2k commented on #2459
[PrintHelperTester.zip](https://github.com/Microsoft/WindowsCommunityToolkit/files/2373609/PrintHelperTester.zip)
This is a test project where you can see the issue (only from the child page, we get the error)

[2018-09-12 05:33] JohnnyWestlake commented on #2460
AFAIK IsCacheEnabled was only intended to control ImaheCaches *own* custom cache implementation and never intended to actually change the platforms own caching behaviour. So it's doing as intended, but it's not very well labelled. Arguably this should be a enumeration to choose between platform caching, ImageEx caching and disabling entirely if there were to be an option.

[2018-09-12 06:30] aodpi commented on #2460
Thank you for feedback, i'll try to implement a solution to this with a PR soon.

[2018-09-13 10:06] pm64 commented on #2076
Is anyone aware of a straightforward workaround for this issue while we await the fix? The control appears to snap into its intended visual size the moment its container is resized (I have at least confirmed this is the case for containers of type Window), so there ought to be some hack, but as of yet I haven't been able to identify it.

[2018-09-13 13:46] JohnGalt1717 opened #2466 "Add Auto-fallback for webview wpf/winforms"
## I'm submitting a...
Feature request (UserVoice request: )

## Current behavior
Currently with the new webviewcontrol you are all or nothing. Windows 10 or bust. But if you have users that are on Windows 10 and some on Windows 7, we want to be able to support both.  The WebViewControl should allow a way for it to automatically degrade to the old IE 11 based browser (AND IT SHOULD BE IN IE 11 MOD

[2018-09-13 15:15] kbrons commented on #2466
@rjmurillo do you think this is possible?

[2018-09-13 16:55] azchohfi commented on #2403
Maybe the Install SDK script is not installing all the required SDKs for the Win32 project. The win32 project does require a different SDK (I think it it 17733). @jwilcox1701 , any insight?

[2018-09-13 17:00] GraniteStateHacker commented on #2403
Yes, it's looking for 17733, according to what I'm looking at in the directory.build.props file...

[2018-09-14 03:41] copernico2k commented on #2459
Hi @lucaasrojas, were you able to check the sample project?

[2018-09-14 08:41] pm64 commented on #2403
Worked like a charm, thanks gentlemen.

[2018-09-14 14:26] ismaelestalayo commented on #2436
Thanks for the info @robloo I've been looking into the SizeChanged event as well, but haven't been able to fix it either. Would love some comment about it from someone from Microsoft tho, so it can be fixed in some future release.

[2018-09-14 18:04] ClairelyClaire commented on #1767
@WilliamABradley can you provide an example using this?

[2018-09-14 18:06] ClairelyClaire commented on #1879
I think it would be useful to implement this, specifically _because_ GitHub supports it. If I want to render the readme.md for a project within my app, for example.

[2018-09-14 18:22] ClairelyClaire opened #2468 "MarkdownTextBlock doesn't render hyperlinks with NavigateUri property set, so links are nonfunctional"
## I'm submitting a...
Bug report
(I searched for similar issues and did not find one)

## Current behavior
MarkdownTextBlock - rendered hyperlinks are mising the NavigateUri property, so they don't actually link to anything.

## Expected behavior
NavigateUri should be the same as Markdown.TextBlock.HyperlinkUri

## Minimal reproduction of the problem with instructions
Render some markdown in a Ma

[2018-09-14 22:37] ClairelyClaire commented on #2468
An update - I looked at both the toolkit's sample app and my own app, and I'm not seeing any differences in my implementation...but it works fine in the toolkit sample.

I found a workaround by adding a function to LinkClicked.

Here's my XAML:

[code]

and my code behind:

[code]

[2018-09-14 22:42] ClairelyClaire opened #2469 "Vertical GridSplitter doesn't render grabber node - repros in sample app"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
A GridSplitter positioned vertically doesn't display the grabber node. It shows up in the live xaml view; it just doesn't appear.

In the sample app, navigating in the Pivot on the right side of the window magically makes the node appear.

Example:

![2018-09-14_14-25-33](https://user-images

[2018-09-15 14:16] copernico2k commented on #2459
Thank you very much Kevin,

To be honest, I tried a few different options I saw online related to that topic, but I was not able to get a proper solution for that. I got a stuck in that error, since it is a major functionality that I will need, before I will be able to deploy my application.

I would really really appreciate if you could explain me with more detail or even better a fixing the smal

[2018-09-15 21:17] avknaidu commented on #2468
@ClairelyClaire  This is already explained in [Docs](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/markdowntextblock#linkclicked). Links and Images should be handled using `LinkClicked` and `ImageClicked` Events.

[2018-09-16 09:32] x1unix opened #2471 "ScrollHeader: additional controls support"
## I'm submitting a...

[Feature request](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/35416678-scrollheader-support-of-stackview)

## Current behavior
Currently, ScrollHeader control supports only GridView or ListView and cannot be used in other controls (like `Grid`, `StackView`, etc).

## Expected behavior
Please add support of embedding `ScrollHeader` into o

[2018-09-17 21:34] ClairelyClaire commented on #2468
I see that now - I must have missed that when I was researching this. Thanks!

[2018-09-17 21:34] #2468 closed

[2018-09-18 17:45] nmetulev commented on #2441
Agree that this should be part of the platform, but, AFAIK, there are currently no plans. I've discussed offline with @juma-msft and this makes sense to add to the toolkit as a step to the platform and I'm all for it. But of course this is open to a discussion.

Another thing that's not mentioned here is that this is a C++ control. It would be a whole new binary and it could be a open the door for

[2018-09-18 18:08] nmetulev commented on #2443
@alexchx is this something you can help with?

[2018-09-18 23:17] JustinXinLiu commented on #2441
Keep in mind that some Asian languages make sense for vertical alignment **but this shouldn't be the default behavior**.

My vote goes to support this in the toolkit.

[2018-09-19 07:30] linhnddev opened #2473 "Lastest version crash on Windows 10 SDK 14393"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-09-19 07:55] Pinox opened #2474 "Deprecated : SlidableListItem"
Hi ,

I see the SlidableListItem is getting deprecated in the next release of the toolkit.  As I use this control extensively (including the sideswipe) on desktop the swipecontrol is not a viable alternative for me.

I downloaded the source code of UWP toolkit and copied the cs files into one class to create a copy of this control for the future , but the sideswipe on the listview does not seem to

[2018-09-19 09:59] mvegaca opened #2475 "How can I handle MasterDetail Back with NavigationView BackButton?"
### Handle MasterDetail Back with NavigationView BackButton

## Current behavior
In Windows Template Studio we are creating MasterDetail pages using the Windows Community Toolkit Control in different project types (Blank, Navigation Pane, Pivot).

In Navigation Pane, we are making different Proof of concepts to integrate the WinUI NavigationView instead of SDK NavigationView and also move the go b

[2018-09-19 13:15] lucaasrojas commented on #2473
@linhnddev Thanks for upload the issue. Can you add more information about it?

[2018-09-19 16:28] nmetulev opened #2476 "OnNavigateTo method does not get called in sample pages"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

- Sample app request

## Current behavior

For example, the CameraHelper page does not get initialized and is currently broken.

## Expected behavior

The OnNavigateTo method should get called for every sample page

## Minimal reproduction of the problem with instructions

1. Open Sample app
2. Navigate to H

[2018-09-19 16:29] nmetulev commented on #2476
@WilliamABradley, this looks like an artifact from the latest sample app update, can you take a look?

[2018-09-19 17:12] onovotny opened #2477 "WebViewCompatible doesn't work on Windows prior to RS4/Downlevel Windows"
Trying it out gives this (I modified the sample app to use the compatible version):

[code]

Looking here:

https://github.com/Microsoft/UWPCommunityToolkit/blob/f285437d68692173ba3a82bef212d0ba66d21ba8/Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.Controls.WebView/WebViewCompatible.cs#L21

The problem is that it's relying on `ApiInformation` to do the check, but that type itself is in `Windows

[2018-09-19 17:27] MSRegisB opened #2478 "DataGrid sample page does not reverse sort order"
## I'm submitting a...
Bug report

## Current behavior
Using the SampleApp of the Windows Community Toolkit: After you turn on CanUserSortColumns for the DataGrid control, when you click a column header it only sorts descending and clicking a second time doesn’t switch to ascending.

## Expected behavior
Clicking a column header a second time should reverse the sorting order.

Device form factor:

[2018-09-19 17:55] rjmurillo commented on #2477
@GraniteStateHacker: CR comment in Xaml islands PR indicated to use the `IsSupported` property instead, which checks version in a different manner and should be safe for down level.

[2018-09-19 17:57] onovotny commented on #2477
Can't do that if I put the control on the XAML design surface.

[2018-09-19 18:01] rjmurillo commented on #2477
IsSupported is static and should be able to be used?

[2018-09-19 18:01] onovotny commented on #2477
What type is `IsSupported` defined on?

[2018-09-19 18:02] rjmurillo commented on #2477
On the WebView itself. https://github.com/Microsoft/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs#L316

[2018-09-19 18:03] rjmurillo commented on #2477
This should handle cases where Edge is also not supported (e.g. Windows Server)

[2018-09-19 18:03] onovotny commented on #2477
That's fair, but how does that cover Win7?

[2018-09-19 18:04] onovotny commented on #2477
Ah, I see the impl here:
https://github.com/Microsoft/WindowsCommunityToolkit/blob/8837c0ca5de6ac362df0bed07b959890d928e60f/Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlHost.cs#L117

Looks like that should work if that's the only thing.

[2018-09-19 18:05] rjmurillo commented on #2477
it makes an OS check first, so it won't try more advanced detection unless it's sure that the API probably
won't throw

[2018-09-19 18:08] onovotny commented on #2477
Confirmed. I changed the two places `ApiInformation` was used in that type to use `WebViewControlHost.IsSupported` and it works on my Win7 VM.

[2018-09-19 18:35] michael-hawker commented on #2478
Think this is a duplicate of https://github.com/Microsoft/WindowsCommunityToolkit/issues/2116?

[2018-09-19 20:54] #2477 closed

[2018-09-19 22:43] nmetulev commented on #2475
@skendrot might be able to help here

[2018-09-19 22:46] nmetulev commented on #2474
Not sure what you mean by sideswipe? Have you added the Generic.xaml as well?

[2018-09-19 22:47] nmetulev commented on #2473
Also please keep in mind that the toolkit is not supported on 14393 (current min version is 15063)

[2018-09-19 22:48] #2473 closed

[2018-09-19 22:50] nmetulev commented on #2471
I'm curious how much work would it take to get a version that works with ScrollViewer. @x1unix, is this something you can help us investigate?

[2018-09-19 22:55] nmetulev commented on #2466
#2453 adds a new control called WebViewCompatible that does exactly what is described in this issue. The control will be available in preview soon for WPF and released as part of next major release.

[2018-09-19 22:55] #2466 closed

[2018-09-19 23:11] rjmurillo opened #2482 "WebViewCompatible does not show up on WPF Toolbox"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

When using the WPF designer, WebViewCompatible does not show in the toolbox.

## Expected behavior

WebViewCompatible should show with WebView in the toolbox.

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-09-19 23:12] nmetulev commented on #2460
Please do @aodpi. Including @hermitdave for review as well

[2018-09-19 23:40] rjmurillo opened #2483 "WebViewCompatible does not render as expected in designer"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

When adding the WebViewCompatible to a WPF surface, the web page is rendered but not to the dimensions requested.

![image](https://user-images.githubusercontent.com/6811113/45787490-858c1a80-bc2a-11e8-9bbc-70dffbd1f4de.png)

## Expected behavior

When layout is set to Auto (default) for

[2018-09-19 23:47] rjmurillo commented on #2456
Two PRs should fix what's going on here: #2480 and #2481

[2018-09-20 05:15] filipwa84 opened #2484 "Add ComboBoxColumn in DataGrid"
## I'm submitting a...
- [Feature request](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/35467054-add-comboboxcolumn-for-datagrid)

## Current behavior
ComboBoxes are frequently used in DataGrids in order to edit data from a collection. Currently there is no specific ComboBoxColum, instead the TemplateColumn has to be used.

## Expected behavior
Include a ComboBo

[2018-09-20 07:13] Pinox commented on #2474
Hi @nmetulev

By sideswipe I should probably say "slidable".

![swipecontrol](https://user-images.githubusercontent.com/5297255/45801705-f37d2400-bcb4-11e8-8d67-5831d03d5251.gif)

I copied:
SlidableListItem.cs
SlidableListItem.xaml
SlidableListItemSwipeControlTemplate.xaml
SwipeStatus.cs
SwipeStatusChangeEventArgs.cs
Generic.xaml

Still no luck , app runs fine but the listview is not slidable. I m

[2018-09-20 14:26] sonnemaf opened #2487 "Animated Headered TextBox"
I would like to add a AnimatedHeaderedTextBox control to the Toolkit. Are you interested?
I can add only a style + behavior or create a custom control for it. What do you prefer?

See:
https://reflectionit.nl/blog/2017/xaml-animated-headered-textbox-style
https://reflectionit.nl/blog/2017/xaml-animated-headered-textbox-style-part-2

There are 9 UserVoice votes for it: https://wpdev.uservoice.com/f

[2018-09-20 15:56] touseefbsb commented on #2445
@IbraheemOsama  is there any progress on its investigation?

[2018-09-20 16:10] #2076 closed

[2018-09-20 16:31] kbrons commented on #2478
Issue #2116 refers to the third click while this one is about the second click changing the sort order. Can we merge them @MSRegisB @harinikmsft?

[2018-09-20 17:56] kbrons commented on #2474
Just tried to do the same. While checking it out, I noticed that the code can't get the ContentGrid, so the manipulation events are never applied.

![image](https://user-images.githubusercontent.com/14252330/45837252-4d95dd80-bce5-11e8-9cd3-0b0327525e26.png)

[2018-09-20 19:20] x1unix commented on #2471
@nmetulev I can try to do that but I'm a beginner in UWP-platform based development.

[2018-09-21 02:19] #2482 closed

[2018-09-21 02:44] nmetulev commented on #2471
No worries. Feel free to give it a shot and ask questions on this issue, I'm sure myself and the community can help :)

[2018-09-21 02:55] nmetulev commented on #2474
If there is a repro project you can share, that would help greatly.

Here is my quick test where it seems to work: [SlidableListItemTest](https://github.com/Microsoft/WindowsCommunityToolkit/files/2403750/App22.zip)

[2018-09-21 03:05] nmetulev commented on #2487
This seems like a duplicate of #424. This scenario is very cool but IMO it doesn't fit in the toolkit as a control. I'd optimize for building helpers to enable developers to build cool animation scenarios like this vs building complete styles. Thoughts on this @JustinXinLiu?

[2018-09-21 03:08] nmetulev commented on #1143
If this is not working, could you create a new issue with repro steps (preferably a repro project)?

[2018-09-21 03:48] nmetulev commented on #2436
PR merged

[2018-09-21 03:48] #2436 closed

[2018-09-21 03:51] nmetulev commented on #2442
@Odonno might be able to help here. @nbevans, can you solution be applied to the the control in the toolkit?

[2018-09-21 03:57] nmetulev commented on #2419
@jefhai, could you provide a repro for this, using the latest version of the toolkit?

[2018-09-21 04:01] nmetulev commented on #2438
@MannusEtten, can you share a bit more info about how you are trying to log in? I apologize for the issue you are seeing, but any info you can provide can help us fix this

It seems like you are trying to log in to the sample app? If so, what sample and how are you generating an app id? Can you provide a screen shot.

If not in the sample app, what nuget package and what API are you using? Can you

[2018-09-21 04:04] nmetulev commented on #2452
@WilliamABradley, has this been completed? If not, could you create an issue for tracking?

[2018-09-21 04:05] Vijay-Nirmal commented on #2487
We can have a `HeaderedTextBox` control with a property to turn on/off the animation.

[2018-09-21 04:35] JustinXinLiu commented on #2487
The `TextBox` control has already got a `Header` and `HeaderTemplate`. But I wonder if we should start thinking about creating **extended** controls for enabling additional features.

Imagine a `ToolkitTextBox` that would allow you to do this, a `ToolkitTextBlock` would allow you to fade/offset/scale new/old text, and a `ToolkitButton` with animated shadow and icon support...

Behaviors and attach

[2018-09-21 09:09] sonnemaf opened #2489 "Add OnDevice MarkupExtension"
Maybe I could add my **OnDevice** MarkupExtension to the toolkit. It can be used for DeviceFamily specific property values. It is inspired on the OnPlatform/OnIdiom markup extensions from Xamarin.Forms 3.2

[code]

I'm not sure if it should have a **Mobile** property because MarkupExtension require minimum sdk version 16299 which is not supported on Mobile.

Source: https://github.com/sonnemaf/Win

[2018-09-21 09:32] sonnemaf commented on #2487
Must the HeaderedTextBox/ToolkitTextBoxhave it's own custom template or use the default TextBox template?

How would you implement the animation in the control? My current implementation uses Style/Template with an extra VisualStateGroup named HeaderStates with states Empty and NotEmpty.

Extending the TextBox, TextBlock, Button controls might cause a maintenance problem when the templates of thes

[2018-09-21 09:43] touseefbsb commented on #2487
@JustinXinLiu  I love the idea of **ToolkitButton** with animated shadow and icon support, a big encouragement for fluent design in my opinion :)

[2018-09-21 11:58] Pinox commented on #2474
thanks @nmetulev  @kbrons

@nmetulev  your solution worked for me, took me a couple hours to figure out why as I had the same content.

turns out I'm using   <ResourceDictionary.MergedDictionaries>  so you have to specifically add the Generic.xaml to your merged dictionaries otherwise it will not work.

[2018-09-21 11:58] #2474 closed

[2018-09-21 19:27] aodpi commented on #2460
@svidouse Could it be that those images that don't load didn't succeed to cache,?

[2018-09-21 20:12] JustinXinLiu commented on #2487
@sonnemaf Keep in mind that in some cases, you might need to consider adding the ability to change the font size of the header in two different states too. So I wouldn't recommend using `RenderTransform` here since it's hard to control the position and size of the _same_ element.

I would create two header `TextBlock`s and let the [Connected Animation API](https://docs.microsoft.com/en-us/windows/

[2018-09-21 21:03] svidouse commented on #2460
I think so

Cordialement,

Stéphane Vidouse
Cassio SPRL

Le 21 sept. 2018 à 21:27, Valeriu Balan <notifications@github.com<mailto:notifications@github.com>> a écrit :

@svidouse<https://github.com/svidouse> Could it be that those images that don't load didn't succeed to cache,?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/

[2018-09-21 21:43] nmetulev commented on #2474
Glad that worked

[2018-09-21 23:13] azchohfi commented on #2456
There is one more issue with focus. We've already synced with @ryalanms about it.

[2018-09-21 23:27] nmetulev opened #2491 "WinForms app using WindowsXamlHost crashes when focus is changed away and back to the app"
Re: #2456

## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

Create a new Forms app, add the WindowsXamlHost with UWP content and launch app. Change focus away from app and back to the app. App crashes

## Expected behavior

App should not crash

## Environment

[code]

ping @ryalanms

[2018-09-21 23:33] nmetulev commented on #2456
Created new issue to track last issue #2491

[2018-09-22 06:06] ClairelyClaire opened #2492 "BladeView control - when BladeMode=Fullscreen, autoscrolling to newly-created BladeItems stops working after five blades."
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
I have a `BladeView` control used to render items selected from a list in the first `BladeItem`. Each selection appends a new `BladeItem`. If more than five `BladeItems` are opened, `StartBringIntoView()` stops working.

This works fine when `BladeMode=Normal`.

## Expected behavior
The `Bla

[2018-09-22 17:01] maxmin88 opened #2493 "DataGrid DataGridTemplateColumn CalendarDatePicker and DatePicker Flash Then Desappear!"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

In a DataGridTemplateColumn with a CalendarDatePicker as the template when clicking on the date or icon the calendar picker flashes and then disappears.  This is the same for CalendarDatePicker and DatePicker.  Also the same result if CellTemplate or CellEditTemplate is used.

See code exa

[2018-09-23 07:48] MohammadRoshani commented on #1653
https://stackoverflow.com/questions/52455775/how-can-used-semantic-zoom-for-3-level-in-uwp/52464082#52464082

[2018-09-23 11:58] touseefbsb commented on #2484
if the uservoice entry is created please include its link here as well so that those who are interested can vote.

[2018-09-23 16:42] filipwa84 commented on #2484
@touseefbsb The link is included. Click where it says "feature request" and vote!

[2018-09-23 16:44] Odonno commented on #2442
Hi there,

I think there may be some misunderstanding here. The notification box (visual grid) is dismissed only when there is no notification left to be displayed. I mean, it is the behavior you can find when using the Edge browser.

But, yeah, if you want to dimiss cascadingly your notifications, you can create a list of notifications and subscribe to the `Dismissed` event to show the next one.

[2018-09-23 19:55] Odonno commented on #2492
Hi @ClairelyClaire, can you provide a full reproduction project?

[2018-09-24 13:09] lucaasrojas commented on #2493
Can you provide a reproduction project?

[2018-09-24 18:17] nmetulev commented on #2456
Do you have repro steps on these two crashes?

[2018-09-24 20:26] ClairelyClaire commented on #2492
I can, but it's a private repo on visualstudio.com because I have yet to obtain permission to use some of the content in the app. I can add you to the repo if that works - just PM me your email address.

[2018-09-24 20:40] nmetulev commented on #2489
Thank you for creating this issue. This would be a cool addition to the toolkit but we will discuss this with the core team for including it after next release.

[2018-09-25 08:06] Odonno commented on #2492
Can you not create a new project with just what we need to reproduce the problem.

I could take a look at your repository but I do not know how to PM you.

[2018-09-25 13:28] sonnemaf commented on #2489
OK, I will wait for that.

[2018-09-25 13:43] touseefbsb commented on #2475
seems @skendrot  is busy, can someone else have a look at it? @nmetulev  ?

[2018-09-25 14:44] skendrot commented on #2475
Hey, was on vacation, thanks for the additional ping. I don't think we currently handle this, but it is something we've been talking about doing. We had talked about a way to just turn off showing/hiding/using the system back button. But I could also see that maybe we could integrate with the new navigation view as well.
What do you think about the following:

- Default to using the system back bu

[2018-09-25 14:46] skendrot commented on #2475
We could also have an enum to control the back button
System, NavigationView, Off

[2018-09-25 14:49] skendrot commented on #2492
I'm seeing an issue in a the sample app that clicking adding a new blade does not scroll to the end at all. This is probably a different issue as the blades are not full screen at all, but still is similar. I'll take a look at this

[2018-09-25 15:07] Odonno commented on #2492
@skendrot Well, I do not have the problem in the sample app. Whatever how much blade I add, the behavior is still the same. So, I thought it was linked to the databinding.

[2018-09-25 15:58] nmetulev commented on #2475
I like having the enum to control the behavior, that seems like the most developer friendly way to handle it. Having a way to turn it off completely and let the developer handle back button also makes sense for future scenarios that we can't support immediately

[2018-09-25 17:27] lhak commented on #2456
Yes, the first crash can easily be reproduced by using the wpf sample app: Just place an unrelated c/c++ dll (for example one of the visual c++ libraries vccorlib140.dll) into the output directory and the app will fail to start with the reported exception.

I did some more debugging and I can recreate the second issue by creating a windows forms app, adding a XAML host element (no content required

[2018-09-25 18:04] nmetulev commented on #2456
thanks for taking the time to provide this extra info. If you already have a fix, it be great if you can submit a PR. ping @ryalanms, @rjmurillo, and @azchohfi for their opinion as well.

[2018-09-25 18:06] rjmurillo commented on #2456
I thought I fixed the loader problems: I can look into that

[2018-09-25 18:18] rjmurillo commented on #2456
#2494 for the DLL loading issue

[2018-09-25 21:28] Code-ScottLe opened #2498 "Builders for ToastContent and TileContent"
## I'm submitting a... [Feature Request](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/35523763-builders-for-toastcontent-and-tilecontent)

## Current behavior

Current way of creating a `ToastContent` (and `TileContent`) requiring user to have multiple lines of code using inline-initialization, which are very counter-intuitive given the nature of the `ToastConte

[2018-09-25 21:45] kbrons commented on #2498
Sounds great! Would you like to submit a PR? 🙂

[2018-09-25 21:46] Code-ScottLe commented on #2498
I got the basics down , but still have to work out all the kinks ATM, will send in a PR later.

[2018-09-25 21:47] touseefbsb commented on #2475
how about having an enum for this and also turning off system back button by default and then developers can turn it on if they want to? Because the new back button navigation within NavigationView is being encouraged in the docs going forward.

[2018-09-25 21:54] kbrons commented on #2498
Great! If you need a hand, you can ask here or send a PR as a WIP

[2018-09-26 00:49] nmetulev commented on #2498
ping @andrewleader for review on this idea as well

[2018-09-26 00:57] nmetulev commented on #2475
IMO, that would create a behavior change for existing users unless we can detect the new navigation view. @skendrot, what do you think?

[2018-09-26 01:35] nmetulev commented on #2442
I'm trying to understand the issue. If this is the intended behavior, is there an opportunity to add a new behavior?

[2018-09-26 01:39] nmetulev commented on #2429
Should we update the documentation here?

[2018-09-26 06:48] MannusEtten commented on #2438
Sorry guys, I stopped using the UWP Toolkit for OneDrive. I switched to DropBox because I am struggling so much to get it working every time. Every update of the toolkit and my apps are broken, can't fix, unreadable and non-understandable exceptions. I gave up...

I even tried to merge in some nice features to the facebook-client, wasn't able to get those in, so many changes in a few days that I h

[2018-09-26 08:15] nbevans commented on #2442
The current behaviour is inconsistent.

- Sometimes a backlog of popups will be spun through and automatically dismissed, entirely, including the last in the queue - leaving no popups on screen.
- Other times, the backlog of popups will get "stuck" and requires the user to press the X to unstick it.
- Other times, the backlog of popups will dismiss each properly until the last one - leaving the la

[2018-09-26 14:13] touseefbsb commented on #2445
@kbrons seems that @IbraheemOsama is busy, can someone else please have a look at this? Thanks

[2018-09-26 14:15] touseefbsb commented on #1840
@nmetulev  the uservoice entry has 7 votes, how much we might need to take this into consideration?

[2018-09-26 14:59] touseefbsb commented on #1499
once this is fixed then maybe we can successfully create a TrainView ( #1209 ) ourselves.

[2018-09-26 15:29] Vijay-Nirmal commented on #1499
Just waiting for the sample app to support multiple sample page (by @michael-hawker )

[2018-09-26 16:55] joncamp commented on #2403
For those that may continue to run into this periodically - the solution that I have found thus far is to look at the Directory.Build.props and then run the associated sdk installer command.

[2018-09-26 17:03] joncamp opened #2500 "Feature Request: Modify build.ps1 to check installed sdk version"
## I'm submitting a...
- Feature request

## Current behavior
As noted in #2403, the build.ps1 script will fail sometimes when the installed sdk does not match. This is fairly common since the toolkit often relies on preview SDKs. The failure is opaque, and the fix is to run a command that is in a comment in the Directory.Build.props file...definitely not an intuitive solution.

## Expected behavi

[2018-09-26 17:05] rjmurillo commented on #2403
Opened #2501 to share a script I use to determine which Windows SDKs are referenced and their installation state.

[2018-09-26 17:10] nmetulev commented on #2500
@onovotny, is there a known way to query the target version in the props file from our Build script?

[2018-09-26 17:13] nmetulev commented on #2500
Looks like @rjmurillo has an amazing script that does exactly this in #2501

[2018-09-26 17:31] nmetulev commented on #2438
Thank you so much for the feedback @MannusEtten. As it is now, we unfortunately don't have enough information to be able to help. Please keep in mind, any details you can provide with your issue (ex: reproduction steps, screenshots, code, projects), we can use to replicate the issue so we can help fix it much faster. Next time, make sure to fill out the issue template which requests all this infor

[2018-09-26 17:31] #2438 closed

[2018-09-26 17:33] lhak commented on #2456
I can confirm that the first issue is solved. Regarding the second issue: I do not really know much about the win32 APIs, so the pull request is just related to the documentation about this function.

[2018-09-26 17:50] JustinXinLiu opened #2503 "Add Shape controls"
## I'm submitting a...

**Feature request**

Create `Shape`s such as [`PieSlice`](https://github.com/xyzzer/WinRTXamlToolkit/tree/b760e26cbc1682786e5de12238adb0cbc342623e/WinRTXamlToolkit/Controls/PieSlice), [`RingSlice`](https://github.com/xyzzer/WinRTXamlToolkit/tree/b760e26cbc1682786e5de12238adb0cbc342623e/WinRTXamlToolkit/Controls/RingSlice), `Star`, `Arrow`, etc..

[**Reference**](https://twi

[2018-09-26 18:28] rjmurillo commented on #2500
This may also be fixed by falling back to the WinMD shipped with the OS, which may or may not have the types required. In the case of #2403, it would work fine and the SDK is not required for the controls, but would be required for Gaze.

[2018-09-26 19:13] rjmurillo commented on #2491
Isn't this fixed with #2481?

[2018-09-26 20:11] rjmurillo commented on #2491
Ryland checked and #2497 and #2502 should put the WinForms stuff in a relatively good place (still some weirdness with focus and activation, but that will get fixed in future Insiders OS updates and we can remove the focus workaround).

[2018-09-26 21:01] DkmS1953 opened #2506 "DataGrid: Sample app crashes by hitting on "DataGrid" in What's new"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

1. Install the app from the store on the phone Lumia 550/650 with Windows 10 Mobile b.15254.530
2. Launch the application and in the section "What's new" tap on the DataGrid link.

## Environment

[code]

[2018-09-27 00:41] MSRegisB commented on #2493
I don't have an explanation for the flashing issue yet - I suspect it's a focus problem. The CalendarDatePicker's drop-down must be losing focus right away.

As for the second part, i.e. the binding not working: make sure you bind the CalendarDatePicker.Date property to a DateTimeOffset.   In my test scenario, I have a Person object with a DateOfBirth DateTime property, and I can bind to the Perso

[2018-09-27 10:21] svidouse opened #2507 "App Crash with ImageEx on Server 2016"
## I'm submitting a bug
Bug report (I searched for similar issues and did not find one)

## Current behavior
Using ImageEx in UWP Project hang app when loading page using ImageEx under Microsoft Hyper-V Server 2016 Version 1607 (OS Build 14393.2515)

## Expected behavior
No crash

## Minimal reproduction of the problem with instructions
Create simple app, add ImageEx, sideload on a Windows Server

[2018-09-27 12:41] pkar70 opened #2508 "Facebook - "listening to" and similar updates (feature request)"
Facebook has several "standard" statuses, e.g. "listening to", "watching".
Could WCT add methods to simplify adding such items?
e.g.
facebook.UpdateStatus(facebook.Listening, string)
?

[2018-09-27 14:50] touseefbsb commented on #2475
yeah that is a fair point, keeping existing users in check is also very important, I agree.

[2018-09-27 15:15] nmetulev commented on #2508
ping @cbarkerms

[2018-09-27 15:30] nmetulev commented on #2507
ping @hermitdave

[2018-09-27 15:31] cbarkerms commented on #2508
The examples quoted no longer return data - please see https://developers.facebook.com/docs/graph-api/changelog/breaking-changes#open-graph-4-4

Given that, I assume there would be limited value in having them implemented in the toolkit, but please let me know if that is an incorrect assumption.

[2018-09-27 15:39] hermitdave commented on #2507
I will take a look..

[2018-09-27 15:39] pkar70 commented on #2508
I don't know what exactly means "Returns no data as of April 4, 2018" in documentation, but I do know that via WWW Facebook interface I still have ability to enter what I'm listening :)

[2018-09-27 16:00] cbarkerms commented on #2508
I recommend you confirm, but from a quick test of https://developers.facebook.com/docs/reference/opengraph/action-type/music.listens/ using the Graph Explorer https://developers.facebook.com/tools/explorer/, here is what I got in my HTTP response:

{
  "error": {
    "message": "(#200) The permission(s) publish_actions are not available. It has been deprecated. If you want to provide a way for you

[2018-09-27 16:32] rjmurillo commented on #2456
@nmetulev We also want #2497 which would solve another crashing issue that may occur

[2018-09-27 17:34] lhak commented on #2456
The reported crashes have all been fixed

[2018-09-27 17:42] harinikmsft opened #2509 "Touch Scrolling not working properly when UWP DataGrid is rotated using RotateTransform"
Issue was originally reported in VS feedback forum- https://developercommunity.visualstudio.com/content/problem/344419/touch-scrolling-not-working-properly-when-uwp-data.html

See link above for sample app. Important details copied below as reported by OP in the VS forum:

We have tried to rotate the MS Datagrid with the following code example and the control is loaded properly in 90 degree angle,

[2018-09-27 18:55] lhak opened #2510 "Windows Forms XAML Host: Arrow buttons change focus instead of allowing interaction with the UWP control"
## I'm submitting a...

 Bug report (I searched for similar issues and did not find one) -->

## Current behavior

Pressing an arrow key moves the focus to the next element instead of interacting with the currently focused control. This can be reproduced by adding a slider to the XAML host element. Pressing an arrow key should change its value instead of focusing the next element. Interestingly, w

[2018-09-27 19:10] skendrot commented on #2475
That was mentioned in the first comment. Keep things as they are, but see if we have a new NavigationView as a visual parent. If so, we should just use that for the back button instead of the system back button. I think we should still provide a way to turn it off completely if a developer wants to control everything themself

[2018-09-27 21:01] kbrons commented on #2510
@GraniteStateHacker @rjmurillo can you take a look at this?

[2018-09-27 21:59] TGoodhew opened #2511 "Sample app no longer runs on 15063 from branch Master"
## I'm submitting a Bug report (I searched for similar issues and did not find one)

## Current behavior
The sample app from the Master branch crashes with an exception on 15063:

Windows.UI.Xaml.Markup.XamlParseException
  HResult=0x802B000A
  Message=The text associated with this error code could not be found.

Failed to assign to property 'Windows.UI.Xaml.ResourceDictionary.Source' because the

[2018-09-27 22:04] michael-hawker commented on #2503
I think Pie/RingSlice could be condensed to the same control no?  Pie just doesn't use the InnerRadius, eh?

[2018-09-28 11:02] hermitdave commented on #2507
I installed Windows 2016 Server (updated Feb 2018) - Standard server with desktop experience.

I tested with my work app which is primarily Windows 10 app and uses ImageEx extensively. I would not install the version supporting latest Windows 10 versions (15063 and later). However the version supporting 10240 though to 14393 works just fine.

[2018-09-28 12:30] Jon-Salmon commented on #2429
Any update on the solution to this?

[2018-09-28 12:38] DkmS1953 opened #2512 "Please add a service like Onedrive to work with HealthVault"
## I'm submitting a...

- Feature request (UserVoice request: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/35608549-add-a-service-like-onedrive-to-work-with-healthvau)

## Current behavior

The data is now being sent to the service through the desktop program "HealthVault", developed for Windows 8. Such a program is not at all for phones under Windows 10 Mobile.

[2018-09-28 17:06] rjmurillo commented on #2510
This would be for @ryalanms

[2018-09-28 17:31] andrewleader commented on #2498
Seems like a good idea to me, I like the API shown in your samples!

[2018-09-28 20:55] Code-ScottLe commented on #2498
Look like we are greenlighted, I'll create a prototype for `TileContentBuilder` :)

[2018-09-29 14:29] BobbyCannon opened #2514 "TryAttachProcessExitedEventHandler block while inside the VS debugger"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
Inside the TryAttachProcessExitedEventHandler method the WebView1?.Process is blocking and never letting the handler to complete. I think it's also the reason why WebView is not rendering while debugging.

## Expected behavior
TryAttachProcessExitedEventHandler should complete.

## Minimal r