[2021-04-28 19:04] michael-hawker commented on #4002
@Kyaa-dost does it make sense for us to move questions to discussion after and mark answers? Not sure if we have old ones in the repo we could do this for to build a bit of a database?

[2021-04-28 19:56] Kyaa-dost commented on #4002
@michael-hawker I was thinking more in terms of opening/asking questions in "discussions" so our community would be in the habit of checking the Discussions tab as well and provide input. We certainly want questions to be answered and by emphasizing Discussions, we will be bringing as much traffic. This way we can prioritize essential issues and features in the Issues section and keep the issues d

[2021-04-28 21:34] AbdAlghaniAlbiek opened #4006 "ShadowPanel (New Control)"
I was using DropDownShadow it works perfect on any UIElement but when I change CornerRadius value of any kind of panel (Grid, StackPanel, .....) the shadow still with sharp edges
then I noticed that it works with rectangle when I change  RadiusX and RadiusY the shadow will be with rounded corners, that because DropDownShadow use composition effects and composition take a mask for the control itsel

[2021-04-28 21:37] michael-hawker commented on #3442
Yeah, since we have revamped the animations as well to work with the Effects library, it'd be cool if we could extend or build on top of all these bits so they all play nice together.

Am I correct that these interfaces get used and tied into the composition APIs in your existing library [here via extensions](https://github.com/ratishphilip/CompositionProToolkit/blob/master/CompositionProToolkit/C

[2021-04-28 22:14] Kyaa-dost commented on #4006
@AbdAlghaniAlbiek Based on your description your proposal seems unclear. Are you referring to something like [this](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3607)?

[2021-04-28 22:45] #3955 closed

[2021-04-29 05:09] h82258652 commented on #3484
@Kyaa-dost I don't know if it is worth, there are lots of **File** and **Directory** APIs which means very much works to do, and seems Microsoft giving up the WinRT.:disappointed_relieved:

[2021-04-29 12:49] ratishphilip commented on #3442
Thanks @Sergio0694. I have completed the porting the rendering surfaces from CompositionProToolkit to Windows Community Toolkit. However, I felt it might still be a little complicated for the users to define every thing in code.
So I started creating brushes (derived from `XamlCompositionBrushBase`) for each of the surfaces. This way it would be easy to define them in XAML.
Creation of the brushes

[2021-04-29 13:32] Sergio0694 commented on #3442
That sounds great to me, and I'm really curious to see the changes in the PR and the documentation! 🙂

There's absolutely nothing to be sorry for! You're doing these contributions on your own initiative and to help the community, and we appreciate your time working on this! You don't have to justify yourself if life keeps you busy outside of this project! 😄

[2021-04-29 18:35] michael-hawker commented on #3122
Because ThemeShadow is limited, we're still planning to investigate if we can create a similar solution for DropShadows for 7.1. Something that's easier to add on top of existing XAML than having to insert special panels like `DropShadowPanel` today.

[2021-04-29 18:36] michael-hawker commented on #4006
@AbdAlghaniAlbiek thanks for the report, we're aware of these limitations. This seems like a duplicate request of #3607 as Kyaa pointed to. We're trying to track an improved version of the pattern in #3122 for 7.1 already. Mind if we close this request as duplicate?

[2021-04-29 21:51] AbdAlghaniAlbiek commented on #4006
My problem is the same with #3607 request that we can't make a rounded corners shadow and each of us make a solution for this problem, in my solution is making completely new user control that supports shadow in easiest way without masking as #3607 solution do
In addition, this user control support TopLeftCornerRadius, TopRightCornerRadius, BottomRightCornerRadius and BottomLeftCornerRadius and th

[2021-04-30 16:49] Kyaa-dost commented on #4006
@AbdAlghaniAlbiek so this is a duplicate issue of #3607. Please feel free to include any other details of the proposal in #3607 and work on the changes if you want to by creating a PR. Thanks

[2021-04-30 16:51] Kyaa-dost commented on #4006
Will be closing this issue due to redundancy.

[2021-04-30 19:43] michael-hawker commented on #3705
@ShaneOss let us know if this worked for you and we can close this out. Thanks!

[2021-05-01 17:00] #4006 closed

[2021-05-03 17:21] vgromfeld opened #4011 "`InvalidArgumentException` raised by `ExpressionNode` in _release_ mode"
## Describe the bug
The animation expression builder is throwing an `InvalidArgumentException` in _release_ mode when removing all the  *.Net Native* directives from `default.rd.xml`.

## Steps to Reproduce

Steps to reproduce the behavior:
1. Get the attached sample app
[ExpressionBuiilder.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/6416393/ExpressionBuiilder.zip)
2. Com

[2021-05-03 17:51] #3940 closed

[2021-05-03 20:51] #3311 closed

[2021-05-03 22:43] michael-hawker commented on #4011
FYI @Sergio0694

[2021-05-04 09:53] ShaneOss commented on #3705
All good, thanks.

[2021-05-04 09:53] #3705 closed

[2021-05-04 16:57] michael-hawker commented on #4011
@vgromfeld since you've identified the code line, did you have a chance to try changing that and seeing if it makes an improvement? Did you want to submit a PR?

[2021-05-04 17:21] #4005 closed

[2021-05-04 17:51] Sergio0694 commented on #4011
Huh, that's interesting that the missing metadata actually causes such a visible behavioral difference there 🤔
Looks like the fix is straightforward enough thankfully, good find @vgromfeld! 🥳

[2021-05-04 21:21] michael-hawker commented on #4011
It looks like we could replace the magic string with the type with what the Pipeline builder uses to create a unique string:

[code]

It seems like this reference is pulled up from the hash when needed, so it shouldn't matter what the string is as long as it's unique and confines to the requirements for the Comp APIs.

@Sergio0694 said he's going to optimize that method and move it to a central lo

[2021-05-05 08:07] #4011 closed

[2021-05-05 13:22] RosarioPulella commented on #3839
I am having issues building (Default|Any CPU) from on `main` again it may be like #3718
The error I saw
`37>C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Microsoft\DesktopBridge\Microsoft.DesktopBridge.targets(689,5): error : Specified EntryPointExe 'UnitTests.XamlIslands.exe' was not found in the project outputs.`

[2021-05-06 12:04] Marv51 opened #4015 "FocusTracker crashes with NullReferenceException when `IsActive="True"`"
FocusTracker crashes with NullReferenceException if the `IsActive="True"` property is set in XAML.

I'm on WinUI 3.0 (desktop, Reunion 0.5.6) with Community Toolkit 7.0.1

Stacktrace points to [ClearContent](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/529624cf1af8f034bed9c4f9927d0e0d62f1a6db/Microsoft.Toolkit.Uwp.DeveloperTools/FocusTracker/FocusTracker.cs#L110).

I think this

[2021-05-06 14:43] Kyaa-dost commented on #4015
Thanks for looking into this @Marv51! Do you want to fix this issue and create a PR?

[2021-05-06 20:56] Kyaa-dost commented on #3679
Seems to be a Duplicate of #4005

[2021-05-07 08:09] Marv51 commented on #4015
@Kyaa-dost I think somebody with a already set up dev-environment can add those null checks in a couple minutes. So I prefer if somebody else could do this?

[2021-05-07 23:00] #3679 closed

[2021-05-10 10:36] zipswich opened #4016 "Should Microsoft.Toolkit.Graph.Controls related issue be posted here?"
I have [an issue related to Microsoft.Toolkit.Graph.Controls and Microsoft.Toolkit.Uwp.UI.dll](https://github.com/windows-toolkit/Graph-Controls/issues/102).  Could anyone take a look at it to see if it should be posted here?

[2021-05-10 16:57] Kyaa-dost commented on #4016
@zipswich Thanks for highlighting the issue. You have initially opened the issue in the correct place. Windows Community Toolkit repo only serves the purpose of WCT related issues, therefore, it would be considered a duplicate. I will loop in other community member/s in the original post and see if they can investigate further.

[2021-05-10 17:06] #3841 closed

[2021-05-10 18:18] RosarioPulella commented on #3957
Can do. I'll try to have a something soon.

[2021-05-10 19:20] michael-hawker opened #4017 "CI Test Failure in MVVM WeakReferenceMessenger"
## Describe the bug
We're seeing a random CI failure now in the [latest build from main](https://dev.azure.com/dotnet/WindowsCommunityToolkit/_build/results?buildId=51741&view=ms.vss-test-web.build-test-results-tab&runId=4169918&resultId=100077&paneView=debug) in the `Test_Messenger_AsyncCollectionRequestMessage_Ok_MultipleReplies (Microsoft.Toolkit.Mvvm.Messaging.WeakReferenceMessenger)` test:

[

[2021-05-10 19:51] Sergio0694 commented on #4017
Tried running the tests locally a dozen times, can't replicate the issue.
Coupled with the fact that we've never seen CI errors in that test before, I do think it might be some rare race condition of sorts. Will investigate the code and see if I spot any bits that could technically be problematic with respect to this 🙂

[2021-05-10 20:19] michael-hawker commented on #4017
Thanks @Sergio0694, [rerunning the build](https://dev.azure.com/dotnet/WindowsCommunityToolkit/_build/results?buildId=51741&view=logs&jobId=d132e6a3-a6b5-58c5-a2ae-8751f7e3d0a8&j=d132e6a3-a6b5-58c5-a2ae-8751f7e3d0a8&t=1b99bf33-750a-517d-e4a9-62680d277ebe) did succeed, so it is indeed a random failure that seems highly unlikely as this is our first time seeing it and this code was last touched a wh

[2021-05-11 14:42] dgellow opened #4019 "[Feature] Simple helper function to check that a shortcut is being invoked"
## Describe the problem this feature would solve

Problem originally reported via https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/4008.

To set the context, three points:

1. In Windows, pressing down the key `AltGr` is equivalent to pressing down the keys `AltLeft` and `Control` at the same time (both key are considered `Down`).
2. `AltGr` is generally used by non-US keyboard layo

[2021-05-12 00:47] #3957 closed

[2021-05-12 10:58] sibille opened #4021 "Backbutton disappearing in WinUI 3 Desktop app with NavView and ListDetail Page when resizing the app"
## Describe the bug
When you resize an app with a ListDetailView in a WinUI 3 NavigationView the BackButton disappears and re-appears intermittently.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [ ] Can this be reproduced in the Sample App? (Either in a sample as-is or with new XAML pasted in the editor.) If so, pl

[2021-05-12 15:19] alove-kahua opened #4022 "TypeLoadException in Release using Behaviors with an ICommand"
## Describe the bug
Using a Behavior that has an ICommand property fails to run in Release build when using a standard Binding in XAML as such:
            <Interactivity:Interaction.Behaviors>
                <Core:EventTriggerBehavior EventName="PointerPressed">
                    <Core:InvokeCommandAction Command="{Binding TestCommand}" />
                </Core:EventTriggerBehavior>

[2021-05-12 15:42] michael-hawker commented on #4021
@sibille to clarify, this is a slightly different issue than the older UWP based one about the Back Button from here: https://github.com/windows-toolkit/WindowsCommunityToolkit/discussions/3993?

[2021-05-12 16:25] sibille commented on #4021
Yes, this is a different new issue. It only happens on WinUI 3 (not in a UWP app). The other issue only happens when the ListDetail page is the first page and there is no backstack from the NavView. This issue happens independently on the position of the ListView in the NavView.

[2021-05-12 17:37] alove-kahua commented on #4022
Still fails in 7.0.2.

[2021-05-12 18:21] Kyaa-dost commented on #4022
Based on the above repro above i am seeing this error.
Unhandled exception at 0x09185F61 (Windows.UI.Xaml.dll) in CommandIssue.exe: 0xC000027B: An application-internal exception has occurred (parameters: 0x0AC7EF48, 0x00000005).

Let's see if any community member can take a look at the code.

[2021-05-12 18:32] alove-kahua commented on #4022
You can get more details if your Debugger type is set for Mixed (Managed and Native) in the project properties.

[2021-05-12 18:37] michael-hawker commented on #3851
@RosarioPulella when we see it being called from the ListView, do we know what the `count` value normally seems to come through as?

[2021-05-12 19:26] michael-hawker commented on #3950
@LeftTwixWand we just shipped the 7.0.2 version of the WinUI packages on top of Reunion 0.5.6: https://www.nuget.org/packages/CommunityToolkit.WinUI.UI.Controls/7.0.2

Let us know if you have any more issues, thanks!

[2021-05-12 19:26] #3950 closed

[2021-05-12 19:26] michael-hawker commented on #3984
This is resolved with the shipping of 7.0.2 here: https://www.nuget.org/packages/CommunityToolkit.WinUI.UI.Controls/7.0.2

[2021-05-12 19:26] #3984 closed

[2021-05-12 19:36] RosarioPulella commented on #3851
I seem to have made the incorrect assumption that the `DataFetchSize` on the `ListView` is directly used. I modified the sample app to have a `DataFetchSize` and set up a button to trigger loading more items and I was getting very unexpected numbers coming threw for the `count` on `IAsyncOperation<LoadMoreItemsResult> LoadMoreItemsAsync(uint count)`.

With `DataFetchSize` set to `5` I the count wo

[2021-05-12 19:41] RosarioPulella commented on #3851
It seems like any notion of a "Page Size" is actually calculated from the amount of the items that can fit in the list. So that count might come from the `"Page Size" * DataFetchSize`

[2021-05-12 19:50] LeftTwixWand commented on #3950
Great job! Thank you, guys)

[2021-05-12 20:48] michael-hawker commented on #3851
Yeah, the first request always being `1` seems a bit odd. Maybe something we should file an issue about on the WinUI repo?

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/d1f334a946396d97e7e17b793d589b8bc75f706c/Microsoft.Toolkit/IncrementalLoadingCollection/IIncrementalSource.cs#L32

So the `pageSize` is from `IIncrementalSource`, but all we're really doing is passing the `ItemsP

[2021-05-13 09:50] OneFingerCodingWarrior commented on #3838
bug is fixed by version 7.0.2

[2021-05-13 09:50] #3838 closed

[2021-05-14 04:17] Nirmal4G opened #4026 "Cleaning up the repository"
It's hard to read and understand the repo because of all the redundant files. It is also difficult to create PRs cleanly without introducing some sort of formatting change.
The following changes (_although not exhaustive_) would improve the contribution experience a little bit better.

- [x] Remove un-used, un-necessary and duplicate files
- [x] Clean-up trailing white-spaces and new-lines
- [x] U

[2021-05-14 08:16] mixturify opened #4028 "Eyedropper crash the app"
## Describe the bug
Eyedropper make the app crash.

## Steps to Reproduce
It's not possible to reproduce the crash at least on my devices and environments but at lot of users encountered it.

Crash log:

[code]

## Environment

[code]

[2021-05-14 09:40] stephtr opened #4029 "[Feature] RangeSelector: Moving past second handle"
### Describe the problem this feature would solve
When grabbing one thumb of the `RangeSelector`, let's say the `RandeEnd` one, its movement is restricted by the position of the other thumb (solid red arrow in the screenshot).

### Describe the solution
For some users (for example "power users") it would be more efficient, if moving the `RangeEnd` thumb past the `RangeStart` one would also move th

[2021-05-14 17:16] Kyaa-dost commented on #4029
@stephtr This sounds like an interesting feature! Would you like to work on this and create a PR?

[2021-05-14 17:20] Kyaa-dost commented on #4028
@mixturify Can you please provide more details on this? The steps you took? What app this was used in? etc..

[2021-05-14 17:42] mixturify commented on #4028
@Kyaa-dost Hi, the color picker is used on Inkodo app and error was reported into my App Center. This had my attention because every month there are at least 1K reports in the dashboard.

Maybe the issue not really made the app crash, it's just displayed under the crash tab on the dashboard but for sure, I struggling know what trigger this.

Anyway, I just use the ColorChanged event and inside the

[2021-05-14 20:19] Kyaa-dost commented on #4028
@mixturify Thanks for providing a background.

@robloo have you ever seen this error mentioned in the repro above?  ⬆️

[2021-05-14 23:51] myokeeh opened #4032 "'System.Text.Json.ReflectionMemberAccessor' could not be found"
## Describe the bug
Projects updated to latest 7.0.2 version now building with this warning:

Embedded manifest in Microsoft.Toolkit.Uwp.UI.Controls.Media: Microsoft.Toolkit.Uwp.UI.Controls.Media.Properties.Microsoft.Toolkit.Uwp.UI.Controls.rd.xml(5): warning : ILTransform : warning ILT0027: Type 'System.Text.Json.ReflectionMemberAccessor' could not be found.

Not seen on version 7.0.0 or 7.0.1

#

[2021-05-15 15:39] giraudremy commented on #3950
No problem with the 7.0.2 version of the WinUI packages and project Reunion 0.5.7

[2021-05-16 13:21] 1cue-jrupp opened #4033 "DataGrid WinUI3 Crashing with ThreadPointer Exception"
## Describe the bug
In a simple WinUI3 Desktop App the CommunityToolkit DataGrid Keeps crashing while scrolling or resizing the columns a few times. It feels also really lagging before crash. The unhandled Exception is:

"Ausnahmefehler bei 0x79554B97 (Microsoft.ui.xaml.dll) in CrashTest.exe: Der Stapelzeiger des Threads befand sich außerhalb des gültigen Stapelumfangs für den Thread."

## Steps t

[2021-05-17 01:52] robloo commented on #4028
@Kyaa-dost I´m not sure this is related to the ColorPicker at all. The issue description and crashes appear to be related to the Eyedropper control. The comments "the color picker is used on..." are probably just referring to the usage of the Eyedropper to pick a color from on screen.

[2021-05-17 05:32] Jaiganeshkumaran opened #4034 "[Feature] EnumToStringConverter"
## Describe the problem this feature would solve
Many apps use enums for storing options and today there isn't a straightforward way to show them on the UI.

## Describe the solution

Provide a new EnumToStringConverter which uses reflection to convert an enum value to its string representation and vice versa.

## Describe alternatives you've considered

None

## Additional context & Screenshots

[2021-05-17 08:19] mixturify commented on #4028
Yes, my bad, the crash it's just the from the component EyeDropper which is added at the bottom of the Color Picker used for picking and applying the color.

[2021-05-17 16:28] Kyaa-dost commented on #4028
@robloo That makes sense and thanks for the clarification.

@HHChaos any insight on this error ⬆️

[2021-05-17 16:57] Kyaa-dost commented on #4034
Thanks, @Jaiganeshkumaran for the request! Opening this for discussion with the community to receive further input regarding this proposal.

[2021-05-17 16:59] Kyaa-dost commented on #4033
Thanks, @1cue-jrupp for highlighting the issue. Looping in @anawishnoff and @RBrid

[2021-05-17 17:09] Kyaa-dost commented on #4032
@myokeeh can you try recreating your project? Also, please specify the steps you are taking from the beginning.

[2021-05-17 17:24] robloo commented on #4034
A few comments:

 1. This is extremely simple to implement using `Enum.GetValues(typeof(<enum>))` and `(<enum>)Enum.Parse(typeof(<enum>), str, true)` which already likely use reflection internally.
 2. The reason why this isn't done automatically is due to localization and 'multiple word' enums. You shouldn't display to the user `AutoColor` and should instead show "Automatic Color" and for Spanish

[2021-05-17 19:12] tzdlr opened #4035 "MasterDetailsView is nopt supported in UWP application"
After updating the toolkit from 6.1.1 to 7.02 i'm getting the message from Visual Studio, that MasterDetailsView from Microsoft.Toolkit.Uwp.UI.Controls is not supported in UWP. Is there any info on how to handle that after updating to a new stable release? didn't find any hint on that.

[2021-05-17 19:23] michael-hawker commented on #4034
@Jaiganeshkumaran we have the [`EnumValuesExtension`](https://docs.microsoft.com/windows/communitytoolkit/extensions/enumvaluesextension) already, isn't this what you're talking about for your scenario?

FYI @Sergio0694

[2021-05-17 19:27] michael-hawker commented on #4035
@tzdlr apparently I missed this in [the release notes](https://aka.ms/wct/releasenotes/7.0.0); I've updated them. The control has been renamed to the `ListDetailsView` as per #3606.

[2021-05-17 19:27] #4035 closed

[2021-05-17 19:29] michael-hawker commented on #4033
@1cue-jrupp can you help us a bit more by specifying the versions of the Toolkit and Reunion packages you are using? Are they all the latest?

FYI @azchohfi as well.

[2021-05-17 19:31] michael-hawker commented on #4032
@azchohfi I had moved the `System.Text.Json` version up in our last patch here: https://github.com/windows-toolkit/WindowsCommunityToolkit/commit/f08a351b5983a5d27f11fcbc2a98a77ea635f207

I didn't notice any issues in the smoke tests or our unit tests around this. Thoughts?

[2021-05-17 19:36] michael-hawker commented on #4028
This is the function that seems to be in the call stack, it's pretty long, so not sure if it's easy to determine where the issue might be stemming from:

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/2b124ff5e7ebc2061f64a3dff7953f1c1f548807/Microsoft.Toolkit.Uwp.UI.Controls.Media/Eyedropper/Eyedropper.Logic.cs#L71-L108

Outside of updating some dependencies, I don't think this co

[2021-05-17 19:43] #4026 closed

[2021-05-17 19:43] azchohfi commented on #4032
That file has changed, and, in theory, to fix the issue we were working around with out rd.xml file:
https://github.com/dotnet/runtime/commit/c73ef4965d397c57ca1ef37435fc9cfc818773d3#diff-f5720afdbbfb4d6676f9ae0daad63b3ddd84a818803f00c2566cdc4c9f5a0ac3
Maybe we just don't need that line anymore? Not that it matters much, but the rd.xml files do not seem to match the project name, so it took me a w

[2021-05-18 03:15] Jaiganeshkumaran commented on #4034
But it isn't a XAML converter

[2021-05-18 04:45] Nirmal4G commented on #3896
@michael-hawker @Sergio0694

It may seem like I'm changing things too much but is an incremental change (_that's probably why it's hard to review since we can't see full picture yet_) and part of a larger refactoring that'll make the codebase better for maintenance  and contribution.

_I could put all of my changes onto a single branch like @azchohfi did with his `winui` branch but it'll be harder

[2021-05-18 07:37] 1cue-jrupp commented on #4033
@michael-hawker I'm currently using the following package versions:

CommunityToolkit.WinUI.UI.Controls 7.0.2
Microsoft.ProjectReunion 0.5.7
Microsoft.ProjectReunion.Foundation 0.5.7
Microsoft.ProjectReunion.WinUI 0.5.7

[2021-05-18 09:18] Jaiganeshkumaran commented on #4034
In certain enumerations, localization doesn't matter. Eg: https://docs.microsoft.com/en-us/uwp/api/windows.security.cryptography.binarystringencoding?view=winrt-19041

[2021-05-18 09:46] Sergio0694 commented on #4034
Not sure I understand why a converter is necessary here 🤔
As @robloo said, if you need to localize the enum you're going to need some specialized solution anyway.
If you're fine with the raw enum value instead, then I reckon you can just do `{x:Bind TheValue.ToString()}`, with no converter?

We should try to avoid using `IValueConverter`-s as much as possible going forwards.
They're clunky, verbos

[2021-05-18 14:39] Jaiganeshkumaran commented on #4034
Will that work in TwoWay mode?

[2021-05-18 14:50] Marv51 opened #4036 "[Feature] FocusTracker: Handle RootScrollViewer has focus and window unfocused better"
## Describe the problem this feature would solve
Focus in UWP/WinUI is a not exactly trivial problem, I guess that's why FocusTracker was added in the first place.

This is what the FocusTracker looks like if the RootScrollViewer has focus:
[code]

It is hard to understand what is going on in this case, because this ScrollViewer is not visible and not added by the users XAML.

In the case that the

[2021-05-18 15:39] Kyaa-dost commented on #4036
Thanks, @Marv51 for the initiative! @michael-hawker what do you think about more explicitly describing the fields?

[2021-05-18 16:33] michael-hawker commented on #4036
Thanks for the issue @Marv51, FocusTracker is a pretty naïve helper at the moment just calling to ask about what has focus. If you think there can be some light-heuristics to add on top of it, feel free to continue the discussion here with suggestions.

I'm not sure how the window focus stuff will work with WinUI 3 in the future, so I'd just want to make sure we're thinking ahead with any extra lo

[2021-05-18 16:48] azchohfi commented on #4036
There is no difference in the APIs being used for UWP vs WinUI3 in this control. It is all just event that the Xaml framework automatically fires. The biggest difference was that in the past, before XamlRoot, we used the FocusManager.GetFocusedElement() method, and now we use the XamlRoot version, but that was/is already the case if the UWP APIs reports that there is a XamlRoot. Any change here wo

[2021-05-18 16:55] michael-hawker commented on #3210
Haven't heard from @deanchalk lately, hope everything is alright. Later last year for 7.0.0 we ported the gaze code to C#, so it should be easier to modify directly in the future for improvements like this one.

In the meantime, if anyone wants to take on taking a look at adding this function, let us know.

[2021-05-18 17:07] myokeeh commented on #4032
@Kyaa-dost, do you still need more info given the last two comments?

[2021-05-18 17:26] michael-hawker commented on #4032
@myokeeh I've tried removing the line that @azchohfi tested here: https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/4037

When it builds it should provide a NuGet package you can try by following our [preview package steps in our wiki here](https://github.com/windows-toolkit/WindowsCommunityToolkit/wiki/Preview-Packages) - would you mind trying that out and seeing if it resolves your

[2021-05-18 17:47] michael-hawker commented on #4036
@azchohfi I was thinking more for the focus of the application itself as @Marv51 calls out as a potential improvement, like `(Window unfocused)`.

[2021-05-18 18:57] Nirmal4G commented on #3896
@michael-hawker @Sergio0694

It may seem like I'm changing things too much but is an incremental change (_that's probably why it's hard to review since we can't see full picture yet_) and part of a larger refactoring that'll make the codebase better for maintenance and contribution.

_I could put all of my changes onto a single branch like @azchohfi did with his `winui` branch but it'll be harder

[2021-05-19 12:39] Nirmal4G commented on #4032
@azchohfi

I also did hit a different issue that prompted me to check and rename these files to match the library name. The changes are already in my PR #3894.

[2021-05-20 11:01] HppZ opened #4038 "Implicit Animation causes dead lock."
## Describe the bug
Implicit Animation causes dead lock.
![image](https://user-images.githubusercontent.com/12285582/118967465-5448e700-b99d-11eb-94d1-e07ad4e43bad.png)

## Steps to Reproduce
https://github.com/HppZ/ImplicitAnimationBug

Steps to reproduce the behavior:
click Button, click 'show toast', repeat until the bug out

## Expected behavior
no dead lock.

## Environment

[code]

## Additi

[2021-05-20 17:34] Kyaa-dost commented on #4038
@HppZ If you can provide more detail on the repro step by step that would be great. Thanks!

[2021-05-20 18:11] RosarioPulella opened #4039 "ListvewExtensionsPage Command prop not found"
## Describe the bug
A clear and concise description of what the bug is.
After building the sample app locally (Debug|x64) when opening the `ListViewExtensions` sample the sample app crashes with the error
[code]
- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [ ] Can this be reproduced in the Sample App? (Either in a s

[2021-05-20 18:17] RosarioPulella commented on #4039
@deanchalk and @Sergio0694, maybe you can us investigate whats going on here.

[2021-05-20 18:23] Sergio0694 commented on #4039
Mh, this is odd, the `ListViewExtensions` sample page is working just fine for me with the app from the Store. Clicking on items also works correctly, invoking the command that's bound through the extension. Were you using the Store version or a local build? If it was a local build, this was with .NET Native in Release mode I assume? 🤔

[2021-05-20 18:47] zipgenius opened #4040 "Microsoft.Toolkit.Uwp.Ui.Controls v. 7.0.2 can't be installed due to Microsoft.Bcl.AsyncInterfaces not being compatible with UAP 10.0.*ble with UAP"
## Describe the bug
The version 7.0.2. of Microsoft.Toolkit.Uwp.Ui.Controls package doesn't upgrade from 7.0.1 and it doesn't install directly in a new blank UWP app.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Just create a new blank UWP application
2. Go to 'NuGet Package Manager'
3. Search for "Microsoft.Toolkit.Uwp.Ui.Controls"
4. Install version 7.0.2
5. Install fails because o

[2021-05-20 20:39] michael-hawker commented on #4039
This seems similar to the issue we were seeing before with Menu as well. Which all work fine in Release mode I believe in the store app. So this may be an SDK issue?

We probably need to construct a small repo with XamlReader in an app to open an issue on WinUI?

[2021-05-20 23:46] Kyaa-dost commented on #4040
@azchohfi seems to be a compatibility issue ⬆️ Does 7.0.2 have any restriction against certain framework?

[2021-05-21 00:54] HppZ commented on #4038
click Button, click 'show toast', repeat until the bug out

you can't reproduce the bug using the repo?

[2021-05-21 01:05] HppZ commented on #4038
![动画](https://user-images.githubusercontent.com/12285582/119067011-b3494300-ba13-11eb-80c3-ffd83b506cac.gif)

[2021-05-21 16:37] Kyaa-dost commented on #4038
@HppZ Thanks for showcasing it via gif and I am able to repro. Do you want to work to create a PR and work on this fix?

[2021-05-21 18:41] michael-hawker commented on #4040
@Kyaa-dost we think this is from the upgrade to `System.Text.Json` we did in 7.0.2 for the Controls.Media package.

@RosarioPulella want to see if you can reproduce on your machine? @Sergio0694 wasn't able to see it on his end.

[2021-05-21 18:42] michael-hawker commented on #4038
FYI @Sergio0694

[2021-05-22 21:11] dollscythe opened #4041 "DropShadowPanel not applying properly to rounded grid."
## Describe the bug
DropShadowPanel not applying shadow/masking properly on grids with CornerRadius.

## Steps to Reproduce

[code]

## Expected behavior
The shadow should be rounded to match the rounded grid.

## Screenshots
![image](https://user-images.githubusercontent.com/84644005/119240812-21226700-bb07-11eb-9da6-7400df0b07da.png)

## Environment

[code]

## Additional context

[2021-05-24 05:02] michael-hawker commented on #3876
Sorry missed being pinged on this in April, the Data Grid style is here: https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/main/Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGrid.xaml

[2021-05-24 05:03] #3876 closed

[2021-05-24 06:13] HppZ commented on #4038
how is this going?

[2021-05-24 07:48] Sergio0694 commented on #4038
It's only been 4 days, and there was also the weekend among those 4 days. I'll take a look at this later today 🙂

[2021-05-24 07:50] HppZ commented on #4038
Thanks~

[2021-05-24 09:47] Sergio0694 commented on #4038
Alright I have a small update, I don't think the bug is caused by the Toolkit per se.
I've removed the usage of those implicit animations entirely and just manually set them up via the Composition Animations:

[code]

And I got the same result. I also tried to invoke these two methods both when applying the template for the custom control, both just right from the constructor (so not on the root `

[2021-05-24 10:05] IsmailHassani commented on #4039
I have the same issue.\
As soon i use an ICommand or Attached property with iCommand in a ListView you get this error.\
I posted this issue on [Discord post](https://discord.com/channels/372137812037730304/669640275500466197/842166485618524181) a while ago, but it seems this issue was causing the problem initially why i couldn't upgrade to version 7.0.2.\
If i go back to version 6.1.1 the issue is

[2021-05-24 10:05] IsmailHassani commented on #4039
I have the same issue.\
As soon i use an ICommand or Attached property with iCommand in a ListView you get this error.\
I posted this issue on [https://discord.com/channels/372137812037730304/669640275500466197/842166485618524181](discord) a while ago, but it seems this issue was causing the problem initially why i couldn't upgrade to version 7.0.2.\
If i go back to version 6.1.1 the issue is gone

[2021-05-24 16:11] RosarioPulella commented on #4040
I am not seeing this issue.

[2021-05-24 17:58] michael-hawker commented on #4038
Thanks @Sergio0694 - think we should open a new WinUI issue with your example code or do you think it's related to the other issue you linked to?

FYI @marb2000 @MikeHillberg

[2021-05-24 18:14] Sergio0694 commented on #4038
@michael-hawker I think opening an issue in the WinUI repo will be useful to better track this. If anything, it can't hurt 😄
My guess is (though I'm not wary of the eexact internal details of how the XAML framework works) that the two issues might be related or at least have a similar root cause due to the similarities in how they present, but regardless I'd saying opening a separate issue makes s

[2021-05-24 22:54] michael-hawker commented on #4041
This is a known issue, see #3516 and #3607.

[2021-05-24 22:55] #4041 closed

[2021-05-24 22:56] michael-hawker commented on #3607
FYI @JustinXinLiu @Sergio0694

[2021-05-25 03:40] DaZombieKiller opened #4043 "[Feature, HighPerformance] Public length and indexer properties for RefEnumerable<T>"
## Describe the problem this feature would solve
I'd like to implement a `Reverse` extension method for `RefEnumerable<T>` that mimics the one for `Span<T>`, but since the `Length` property on `RefEnumerable<T>` is non-public, and there's no indexer, this can get complicated.

## Describe the solution
The following additional APIs will be available on `RefEnumerable<T>`:
[code]
It may also be wort

[2021-05-25 03:42] HppZ commented on #4038
https://github.com/microsoft/microsoft-ui-xaml/issues/5051

[2021-05-25 08:59] Sergio0694 commented on #4038
Closing this as it was confirmed to be caused by a UWP XAML bug and not related to the Toolkit 🙂

[2021-05-25 08:59] #4038 closed

[2021-05-25 12:57] nlogozzo opened #4044 "Support for WinUI 3 & C++?"
Hi all,

I know that there is support for WinUI3 in this library, however it only works with C#. I thought WinUI 3 was supposed to support C# and C++ as the components are universal winrt components. Why doesn't this library work with C++ and how hard would it be to add support for C++.
I'm a C++ developer who is looking to build modern windows applications for the desktop and I need some controls

[2021-05-25 15:43] michael-hawker commented on #4044
Duplicate of #3704

Hi @nlogozzo not all components have to be universal or "Windows Runtime Components" which work with both languages. Developing Windows Runtime Components has more overhead and limitations on the developers, so we didn't go down that path in the Windows Community Toolkit. Therefore our controls are mainly targeted towards C# development only.

However, (at least on UWP) it is p

[2021-05-25 15:44] #4044 closed

[2021-05-25 15:56] michael-hawker opened #4045 "[Future] 7.1 Release Plan"
# 7.1 Release Plan

**Main Theme:** Release focused on incremental improvements to existing scenarios and Identity/Graph.

Secondary Themes:
- Improving Docs and Samples.

## The plan

[Milestone](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues?q=is%3Aopen+is%3Aissue+milestone%3A7.1)
[Feature Board](https://github.com/windows-toolkit/WindowsCommunityToolkit/projects/11)
[Bug Boar

[2021-05-25 15:58] michael-hawker commented on #4043
Thanks for the proposal @DaZombieKiller, sounds like you want to implement it too? @Sergio0694 any feedback on the proposal?

[2021-05-26 01:11] DaZombieKiller commented on #4043
Yes, I would be more than happy to handle the implementation for this.

[2021-05-26 09:33] Sergio0694 commented on #4043
The proposed API surface makes sense to me:

[code]

Though of course the same needs to be added to `ReadOnlyRefEnumerable<T>` as well:

[code]

My rationale here is that adding these two makes sense to align the API surface with `Span<T>` and `ReadOnlySpan<T>` as well, which is what I did in #3353 anyway with all the various new APIs on these two types (eg. `Clear()`, `Fill(T)`, etc.). My reserva

[2021-05-26 12:29] DaZombieKiller commented on #4043
@Sergio0694 What are your thoughts on exposing `Step` publicly too? It'd allow an implementation of `Reverse` that avoids bounds checking like the `Span<T>` implementation does:
[code]
This would change the API surface to:
[code]

`Span2D<T>` doesn't expose its `Stride` value, so I left `Step` out of the OP's proposal, but since `RefEnumerable<T>` is a bit lower level it might make more sense here

[2021-05-26 23:42] michael-hawker commented on #3704
Since this is our main issue, copying [this comment here](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/4044#issuecomment-847982961):

[2021-05-27 03:43] arcadiogarcia opened #4049 "[Feature] Introduce more compact style for ExpressionNode strings"
## Describe the problem this feature would solve

Currently ExpressionNodes are resolved to strings that look like this:
[code]

This verbose style is great for being able to read the generated expressions but it also causes the expression size to grow faster, which can be problematic for complex animations that reach the 1000 character limit. Being able to read the generated expression is not tha

[2021-05-27 15:57] jamers99 opened #4051 "Docs about "Row Virtualization in DataGrid""
### Discussed in https://github.com/windows-toolkit/WindowsCommunityToolkit/discussions/4025

<div type='discussions-op-text'>

<sup>Originally posted by **jamers99** May 13, 2021</sup>
Is there any way to enable UI virtualization on the DataGrid rows? This is able to be done in WPF with [DataGrid.EnableRowVirtualization](https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.datagrid

[2021-05-27 16:04] zipgenius commented on #4040
I found a workaround for this really strange behaviour that seems to be happening in my notebook - even after a clean install of Windows 10 and VS2019: I had to install the following packages...
- "Microsoft.Bcl.AsyncInterfaces" version 6.0.0-preview.4.21253.7
- "System.Runtime.CompilerServices.Unsafe" version 6.0.0-preview.4.21253.7

I don't know why this is not necessary in my desktop PC with a

[2021-05-27 16:38] Kyaa-dost commented on #4051
@jamers99 Closing this as we have a dedicated Docs repo so feel free to open the issue in the [Docs](https://github.com/MicrosoftDocs/WindowsCommunityToolkitDocs/issues) repo

[2021-05-27 16:38] #4051 closed

[2021-05-27 16:40] Kyaa-dost commented on #4049
@arcadiogarcia Thanks for highlighting your interest in this area. Opening this for further discussion to gain more input from the community,

[2021-05-27 16:55] jamers99 commented on #4051
https://github.com/MicrosoftDocs/WindowsCommunityToolkitDocs/issues/527

[2021-05-27 19:04] chingucoding opened #4052 "[Feature] NuGet button in sample app linking to NuGet package containing feature"
## Describe the problem this feature would solve

Let's assume I am new to the whole WCT world. I find a cool helper inside the WCT Sample app. Now I want to add it to my app. I could try to find the information inside the docs, however beside the namespace it does not tell me the actual package I should use to get the feature. So I am now left with guessing what package to use or have to google i

[2021-05-27 19:29] Kyaa-dost commented on #4052
That sounds like a fantastic idea! @chingucoding is that something you are willing to work on and create a PR?

@michael-hawker what do you think? ⬆️

[2021-05-27 19:34] chingucoding commented on #4052
Sure, I can work on this ☺

Question would be how we solve this the best. I was thinking about adding an entry to the samples.json. Does that seem reasonable to store what which NuGet package should be opened for every feature?

[2021-05-27 19:47] Kyaa-dost commented on #4052
@chingucoding I appreciate you taking an initiative in this area as this upcoming release is all about restructuring and improving our documentation, sample app, workflow, etc.

Great question and correct that's exactly what my first thought was when you mentioned this feature. Let's see if other community members have any input in this area 🚀

[2021-05-27 19:48] michael-hawker commented on #4052
@chingucoding do you think we need to add metadata for it? Couldn't we detect the assembly from a type? (Though I guess we don't necessarily tie samples to types of the controls...) 😉

[2021-05-27 19:55] chingucoding commented on #4052
I think it would be more solid that way. If you try to generate the NuGet package URL from the assembly there might be slight oddities in it and then it won't work for some controls. Having the URL in there would be a safe way.

[2021-05-27 19:58] chingucoding opened #4053 "Saturation GitHub link ends in 404"
## Describe the bug
A clear and concise description of what the bug is.

Open Saturation page in sample app. Click on GitHub button.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [x] Can this be reproduced in the Sample App? (Either in a sample as-is or with new XAML pasted in the editor.) If so, please provide cust

[2021-05-27 20:43] chingucoding commented on #4053
I would like to look into this issue :)

[2021-05-28 18:19] Kyaa-dost commented on #4053
Thanks, @chingucoding for creating a PR for this issue ❤️

[2021-05-28 18:27] chingucoding commented on #4053
Always a pleasure contributing ❤️

[2021-05-29 09:18] wldevries opened #4055 "Add shapes like Arc and RegularPolygon from Microsoft.Experssion.Drawing"
The Microsoft.Expression.Drawing library had some really great reusable shapes. Unfortunately it is no longer maintained by Microsoft and the library is .NET 4 only. It would be great to bring some of these shapes to WPF on .NET 5 and UWP / WinUI.

[2021-05-29 11:06] ChristianGalla opened #4056 "[Feature] Toast Notification Uninstaller improvements"
## Describe the problem this feature would solve

[According to the documentation](https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/send-local-toast?tabs=desktop#step-4-handling-uninstallation) the uninstaller of an unpackaged Desktop app should call `ToastNotificationManagerCompat.Uninstall();` to "clean up any scheduled and current notifications, remove any assoc

[2021-05-29 16:56] ChrisGuzak commented on #3704
Please provide native C++ support. interop is painful and comes with perf impact.

[2021-05-29 19:00] Nirmal4G commented on #4055
Did @Microsoft release reference source for these libraries or is it closed source only? I couldn't find it anywhere else!

[2021-05-29 19:25] wldevries commented on #4055
As far as I know Microsoft has only released the xaml behaviors part of the Blend SDK as open source.

[2021-05-31 19:30] Kyaa-dost commented on #4055
@wldevries Thanks for the request. Will open this up for further discussion and see what community members think about this feature.

[2021-05-31 21:21] juwens opened #4057 "[Feature] AsyncRelayCommand.Execute should catch and raise an Exception if possible"
It easily happens that you use the AsyncRelayCommand somewhere as ICommand, if i call the ICommand.Execute i get no Exception, even if the async Method throws an Exception.

I know it's hard, to synchronous call an async method wait for it and raise the Exception in sync context.
But i've seen soltuions in the past, which need some plumbing.

[2021-06-01 13:30] curia-damiano commented on #4022
Hi, we are facing the same issue, even with Debug builds.

[2021-06-01 16:43] michael-hawker commented on #4057
@juwens this seems similar to the [discussion happening here](https://github.com/windows-toolkit/WindowsCommunityToolkit/discussions/3961) maybe?

FYI @Sergio0694

[2021-06-01 16:45] michael-hawker commented on #4056
FYI @andrewleader thoughts on this?

[2021-06-01 16:48] Kyaa-dost commented on #4056
@ChristianGalla Thanks for providing detailed information and showcasing multiple options. Going to open this up for the rest of the community and see what they think 🤔

CC: @andrewleader

[2021-06-01 16:52] michael-hawker commented on #4055
So, `ArcSegment` for paths still work in UWP, as [discussed in this article](https://www.c-sharpcorner.com/UploadFile/mahesh/drawing-arc-using-arcsegment-in-xaml/). That sample works in UWP as-is for me.

@XamlBrewer also had a [sample on how to do arcs in composition](https://github.com/XamlBrewer/UWP-Elliptical-Arc-Sample/tree/master/XamlBrewer.Uwp.ArcPathSample) as well, though that's a bit mor

[2021-06-01 16:52] #4055 closed

[2021-06-01 17:01] andrewleader commented on #4056
Excellent feedback :) I'm definitely looking forward to seeing if others have feedback or thoughts on this, but I'll add some info/clarifications...

You asked "If the impact of not calling this method is minimal, maybe it can be completely omitted?"

* In many cases, it is likely okay if `Uninstall()` isn't called.
* The primary scenario where it's very important `Uninstall()` properly gets calle

[2021-06-01 17:02] #4053 closed

[2021-06-01 17:08] michael-hawker commented on #3704
@ChrisGuzak we're a managed C# based project; the best we could do is be a Windows Runtime Component, which still would load the .NET runtime. As I called out elsewhere there's restrictions with being a WRC and it's not something feasible for us to do.

We're also not going to re-write things in C++, that's what the platform's WinUI library is for. If there's something that's in the Toolkit that y

[2021-06-01 20:31] michael-hawker opened #4059 "WeakEventListener in NetworkConnectionStateTrigger is duplicated"
## Describe the bug
Looks like [`NetworkConnectionStateTrigger`](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/main/Microsoft.Toolkit.Uwp.UI/Triggers/NetworkConnectionStateTrigger.cs) is using a private copy of WeakEventListener, it's identical to the one we already have in the Toolkit, so we should update the source to use the [existing code within the Toolkit](https://github.co

[2021-06-01 21:36] Sergio0694 commented on #4057
This seems to keep being raised in multiple places (including the conversation at https://github.com/windows-toolkit/WindowsCommunityToolkit/discussions/3961), so I think it can be worth looking into at least to get a feel for what it would be required to add something like a static event for command exceptions. I'm not a fan of the ugly workarounds users are doing right now to detect crashes from

[2021-06-01 22:22] michael-hawker commented on #4057
@Sergio0694 yeah, I mean there can be general problems with tracking async exceptions in general too (even outside of commands).

I know there was some helper library you could tack on calls to async calls to help better log stacktraces across source and execution, but I don't remember what it's called.

Is this something that a proposal in .NET or WinUI itself could help us solve too? Like just w

[2021-06-02 13:33] juwens commented on #4057
Thanks for pointing out the discussion #3961, i didn't notice it in advance.
You are right, my feature-request seems to be covered by the discussion.

[2021-06-02 14:19] ChristianGalla commented on #4056
I think the footprint of some registry keys is minimal and can be ignored. I do not think there is any uninstaller that removes old registry keys and cleans up data from the profile folder of other users. I think this would be hard to implement for example for roaming user profiles.

Is there any use case to show (timed) notifications for programs that are not available anymore? I do not think the

[2021-06-02 20:17] Kyaa-dost commented on #3593
@Jaiganeshkumaran please let us know if the fix from #3504 works for you?

[2021-06-02 20:37] Kyaa-dost commented on #3954
@HppZ based on the conversation from #3852 are you going to working on this one and create a separate PR or was this already fixed in that PR? Just looking for more clarity here.

[2021-06-03 21:24] michael-hawker commented on #4039
Wondering if this is related or the same as https://github.com/microsoft/microsoft-ui-xaml/issues/4614 as we did take the dependency on WinUI 2.5 at that time.

[2021-06-04 08:56] curia-damiano opened #4062 "Initialization of pages is very slow in 7.0.2"
## Describe the bug
My customer is developing a big UWP application that uses the Windows Community Toolkit.
The behavior of the application is fine when using WCT 6.1.1.
After updating the NuGet package to 7.0.2, the application becomes very slow: it pretty unresponsive and in particular initialization of pages are very slow.

- [X] Is this bug a regression in the toolkit?  If so, what toolkit ve

[2021-06-04 16:58] Kyaa-dost commented on #4062
@curia-damiano Thanks for highlighting this issue. Have you tried it in a different machine? or reinstalling it to see if you are seeing similar response time?

[2021-06-04 17:46] michael-hawker commented on #4062
@curia-damiano can you provide some more details here please:
- What controls are you using from the Toolkit on the pages you're navigating between?
- Is this only during Debug more or with the Debugger attached?
- Can you reproduce this in an isolated project?
- Have you tried the 7.0.0 or 7.0.1 packages to compare?

The Controls package is a meta package in 7.0 now as well. If you're only using

[2021-06-04 18:46] winston-de opened #4063 "Setting a value of NaN to StaggeredLayout.DesiredColumnWidth will cause the app to become unresponsive"
## Describe the bug
Setting a value of NaN for StaggeredLayout.DesiredColumnWidth will cause the app to become unresponsive. Sometimes it will even give the good ol' "<app> has stopped responding" dialog.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [x] Can this be reproduced in the Sample App? (Either in a sample

[2021-06-04 19:22] Kyaa-dost commented on #4063
@winston-de Thanks for the highlight! I am able to repro this as well. Do you want to work on this and create a PR?

[2021-06-04 21:05] winston-de commented on #4063
@Kyaa-dost Sure!

[2021-06-04 22:48] Arlodotexe commented on #4039
I managed to trigger (x64, Debug) this in my own app after making changes in the configuration manager. Cleaned, and it's either fixed it, or another problem has covered it up.

[2021-06-05 17:32] IsmailHassani commented on #4039
There is definitely something strange happening.
I just noticed that one assembly is not referenced. The "Microsoft.UI.Xaml.Markup" library.

working version:
![image](https://user-images.githubusercontent.com/7172716/120900329-8ceeee80-c634-11eb-9892-495373d9c3b3.png)

Non-working version:
![image](https://user-images.githubusercontent.com/7172716/120900339-97a98380-c634-11eb-9efa-ca5668d3122e.pn

[2021-06-07 17:04] ChrisK91 opened #4065 "DataGrid - The thread's stack pointer was outside the legal stack extents for the thread. when using the mouse wheel"
## Describe the bug
Creating and scrolling a DataGrid creates an exception when scrolling through a longer list of items using the mouse wheel.

## Steps to Reproduce

See the sample files below. I'm using the default Debug/x86 settings on a German locale system ("de-de") with default settings for visual studio.

1. Create the application with the files you can find below
2. Start the app and scro

[2021-06-07 17:11] michael-hawker commented on #4039
FYI @ranjeshj @StephenLPeters - does this seem like the linked WinUI bug or something else you may be tracking?

[2021-06-07 17:49] Kyaa-dost commented on #4065
Looping in @anawishnoff and @RBrid ⬆️

[2021-06-07 17:55] StephenLPeters commented on #4039
hmm, I wonder if @alwu-msft might know what this is.

[2021-06-07 18:50] alwu-msft commented on #4039
On the surface they do appear similar, although the fact that it only appears to be broken in Debug builds is a wrinkle. What happens if you add `<EnableTypeInfoReflection>false</EnableTypeInfoReflection>` to the project and build as `Debug`?

(@RealTommyKlein as FYI)

[2021-06-07 19:08] RealTommyKlein commented on #4039
Pretty sure this is the linked bug I opened against WinUI 2, microsoft/microsoft-ui-xaml#4614 (or at least the error message is idewntical) - @michael-hawker and I had an email thread about it titled "Issue with ICommand Binding in UWP Debug Mode" and the error message/repro is identical to the issue I'd investigated.

[2021-06-08 18:24] michael-hawker commented on #4039
Thanks @RealTommyKlein for the reminder! I had forgotten about that thread from before I was on a vacation in April. Yeah this still seems related then, we had just opened this issue on GitHub later for our own tracking.

I'm not sure what impact of your proposed workaround would have on the Toolkit (and its binary size), do you think a fix will be coming in WinUI 2.6 (as we do plan to update the

[2021-06-09 17:08] ChrisK91 commented on #4065
In the App I'm currently working on, the same issue also appears when I sort the DataGrid via updating the ItemsSource (as shown in the documentation here https://docs.microsoft.com/de-de/windows/communitytoolkit/controls/datagrid_guidance/group_sort_filter#2-sorting )

[2021-06-10 17:39] RealTommyKlein commented on #4039
I don't think it's fixed for WinUI 2.6, but @ranjeshj can confirm.  For putting the workaround in the toolkit (and its samples), the size impact would be minimal and would allow the WCT sample apps to run, but it could still be hit by other external apps which consume WCT and  use `ICommand` themselves.  Also forgot to mention this in my original reply, but I can also confirm that `EnableTypeInfoR

[2021-06-11 16:19] RosarioPulella commented on #4063
This is relevant to the issue discussion as well. https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/4064#issuecomment-859692955

[2021-06-14 20:35] michael-hawker commented on #4065
FYI @azchohfi as this is on WinUI 3.

Seems like the stack is also containing this issue still: https://github.com/microsoft/microsoft-ui-xaml/issues/4481

Almost seems like a regression of the number of fixes that WinUI made when we were trying to resolve https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3585 / https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3635

[2021-06-15 10:13] touseefbsb opened #4066 "UWP AdvancedCollectionView filter not working with strings"
I have a **AdvancedCollectionView** from **Windows Community Toolkit** version **6.1.1** and trying to use it to filter out on 2 string properties.

I have created a simple app to reproduce the issue : https://github.com/touseefbsb/UWP-Filter-List

It has a textbox for filtering between **StartNumber** and **EndNumber** properties of items.

![image](https://user-images.githubusercontent.com/11542

[2021-06-15 11:26] touseefbsb commented on #4066
This issue was fixed here : https://stackoverflow.com/questions/67967567/uwp-advancedcollectionview-filter-not-working-with-strings

[2021-06-15 11:26] #4066 closed

[2021-06-15 15:21] AbdAlghaniAlbiek opened #4067 "ImageEx has problem with expander"
When I put ImageEx in the content of expander control, It make crush, I don't know why?
but when I put ImageEx in the header of the expander it works well

[2021-06-15 15:32] RosarioPulella commented on #4039
@michael-hawker I would like to try this proposed workaround, but I could not find any mention of one anywhere. Can you elaborate so I can try it out locally.

[2021-06-15 16:07] michael-hawker commented on #4067
@AbdAlghaniAlbiek can you please use our template when filing out an issue? It'd be helpful to have more info if you can repo in our sample app and what version of the packages and windows you're using.

[2021-06-15 16:24] michael-hawker commented on #4063
@winston-de I think the root of the question is why you're trying to use `NaN` as a value, I find that pretty unusual. I know it works in the panel scenario, but then I'd argue why are you trying to use the Panel like that as then it's just a vertical layout?

Can you elaborate a bit on your main objective/scenario behind this issue (vs. from a technical viewpoint)? Thanks.

@skendrot any thoughts

[2021-06-15 16:24] AbdAlghaniAlbiek commented on #4067
I'm using Windows 10 October update 2018 SDK
Example on problem:
`
        <cont:Expander HorizontalAlignment="Center"
                       VerticalAlignment="Top"
                       Width="1006"
                       IsExpanded="False"
                       CornerRadius="{StaticResource SmallCornerRadius}">

            <cont:Expander.HeaderStyle>
                <Style TargetType="Toggle

[2021-06-15 17:44] michael-hawker commented on #4067
Thanks @AbdAlghaniAlbiek and which version of the Toolkit are you using?

I copied the simple example we have in the Sample App:
[code]

Into the Expander example:
[code]

And was unable to reproduce the crash:
![image](https://user-images.githubusercontent.com/24302614/122098938-4cc30500-cdc6-11eb-8b26-e3d91991dd34.png)

I then copied your example above into the Sample App and was able to get it

[2021-06-15 18:58] Kyaa-dost commented on #4067
@AbdAlghaniAlbiek I am unable to reproduce this either.

[2021-06-15 21:16] #3896 closed

[2021-06-16 00:16] winston-de commented on #4063
@michael-hawker I have no use for this, I just figured the unhandled exception was not the intended behavior, and in my pr implemented what I presumed to be the expected behavior. However, I can imagine that ``NaN`` could be passed in instances where the column size is bound to a NumberBox's value property.

[2021-06-16 13:51] #3688 closed

[2021-06-16 17:15] RosarioPulella commented on #3839
I think I meant to write (Debug|Any CPU). Either way I am no longer seeing any local build issues.

[2021-06-16 17:15] #3839 closed

[2021-06-17 10:09] Nirmal4G opened #4068 "Format and Update Markdown files"
The `ReadMe` and other markdown files in the repository have not been updated in a long time. Thus, with tools like `MarkdownLint` there were several issues being reported when editing them.

- [x] Using `MarkdownLint` or similar tools, fix and format the markdown files
- [x] Replace GitHub emoji identifiers (aka **:emoji_id:**) with actual emoji symbols

Please do suggest if there any other chang

[2021-06-17 16:07] Nirmal4G opened #4071 "[Build] Upgrade Cake and its dependencies"
## Describe the problem this feature would solve

Build is currently using out-of-date and unsupported `Cake` build runner. Its dependencies are also out-of-date and some are unsupported!

## Describe the solution

Upgrade `Cake` Build and its dependencies to their latest version possible!

## Describe alternatives you've considered

Removing dependency on Cake build runner entirely. It requires h

[2021-06-17 16:20] Nirmal4G opened #4073 "[ProgressBar] Meld `BindableProgressBarValue` into `AdaptiveProgressBarValue`"
## Describe the problem this feature would solve

It's confusing to have `BindableProgressBarValue` and `AdaptiveProgressBarValue` providing similar functionality but on different platforms with no common type, even though that's possible.

## Describe the solution

The difference between them is subtle and is platform specific. So, melding the changes from one class into the other shouldn't be an

[2021-06-17 20:38] michael-hawker commented on #3628
@jamesmcroft I had [pinged you over here](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3623#issuecomment-781649256), but just wanted to pick your brain on some of the overarching scenarios here so we can define some expected behavior.

We have our interaction and visual unit testing frameworks setup, so @jp-weber if we can basically make a spec and implement tests for how we exp

[2021-06-18 11:23] Arlodotexe opened #4077 "Cannot create BlurEffectAnimation from code behind"
## Description
When creating a BlurEffectAnimation from code behind, the user is met with the error "The target effect cannot be animated at this time. If you're targeting one of the built-in effects, make sure that the PipelineEffect.IsAnimatable property is set to true", even if the property is set correctly.

## Steps to Reproduce

This cannot be reproduced in the sample app as it requires exec

[2021-06-18 12:29] sibille opened #4078 "Exception thrown when using AdaptiveGridView or ListDetailsView in Project Reunion 0.8 RC"
## Describe the bug
We're getting the following exception when adding an AdaptiveGridView or ListDetailsView to an app created with the Project Reunion 0.8 RC: `Cannot find a resource with the given key: SystemControlBaseAcrylicBrush.'.`

## Steps to Reproduce

Steps to reproduce the behavior:
1. Create a new WinUI 3 Desktop App using the Project Reunion 0.8 RC vsix (or use attached SampleApps)
2.

[2021-06-18 12:34] sibille opened #4079 "Exception thrown when using DataGrid in Project Reunion 0.8 RC"
## Describe the bug
We're getting the following exception when navigating to a page with a DataGrid in an app created with Project Reunion 0.8 RC: `Could not load type 'Microsoft.System.DispatcherQueueTimer' from assembly 'Microsoft.WinUI, Version=3.0.0.0, Culture=neutral, PublicKeyToken=de31ebe4ad15742b'.`

## Steps to Reproduce

Steps to reproduce the behavior:
1. Create a new WinUI 3 Desktop Ap

[2021-06-18 17:59] Kyaa-dost commented on #4079
@sibille have you tried using the latest version of Toolkit? FYI @azchohfi ⬆️

[2021-06-18 18:02] Kyaa-dost commented on #4078
@azchohfi anything missing here that is causing this error?

[2021-06-18 18:14] azchohfi commented on #4078
0.5 libraries are not compatible with 0.8, especially with the release candidate that has some nasty bugs. I have a local branch with 0.8 RC changes, but it is not in a state we want to ship. We'll ship a new version of the toolkit only when there is a 0.8-GA (not RC). That should not take long.

[2021-06-18 18:49] Kyaa-dost commented on #4077
Looping in @Sergio0694 here to provide further analysis regarding the Additional Context mentioned above ⬆️

[2021-06-18 19:38] sibille commented on #4078
Awesome, thanks for the quick answer!

[2021-06-18 21:06] Sergio0694 commented on #4077
Hey @Arlodotexe, this isn't a bug, your examples are just not using the APIs correctly 🙂

I can definitely see how we might want to either add some more documentation specifically for this, or possibly look into adding some more APIs to help setting things up from C# in the future, if there's need. The thing is that all these types were meant to be used primarily from XAML, so the architecture is

[2021-06-18 21:06] #4077 closed

[2021-06-18 21:30] #3790 closed

[2021-06-20 01:04] omnilogix opened #4080 "Exception thrown when clicking Datagrid header for sorting"
## Describe the bug
When attempting to sort the datagrid as described here: https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/datagrid_guidance/group_sort_filter, the app crashes.  The number clicks required to crash the app varies from a few to a few dozen.

## Steps to Reproduce

- [ X] Can this be reproduced in the Sample App? (Either in a sample as-is or with new XAML pasted i

[2021-06-21 09:57] steinhilber opened #4081 "MessageHandlers not called anymore by WeakReferenceMessenger after UnregisterAll"
## Describe the bug
The attached message handlers of a WeakReferenceMessenger do not get called anymore correctly for all registered objects after unregistering one of them.

There seems to be an issue with the enumerator of the ConditionalWeakTable. The linked list nodes are not iterated correctly when a key gets removed while enumerating. In this case the "Next"-property of the node is set to nu

[2021-06-21 17:07] Kyaa-dost commented on #4080
@azchohfi is there any compatibility issue with the packages mentioned above? ⬆️

[2021-06-21 18:05] azchohfi commented on #4080
Yes @Kyaa-dost.
@omnilogix 0.8 **RC** is not supported by the WCT. We will ship new packages that support 0.8 soon.
Could you test this with Reunion 0.5? If the problem still exists, then it might be actually be an issue.

[2021-06-21 18:08] Marv51 commented on #4080
Crashes for me in 0.5.7 with the same exception.

[2021-06-21 18:15] azchohfi commented on #4080
@RBrid / @anawishnoff any idea?

[2021-06-21 18:29] Kyaa-dost commented on #4080
@azchohfi Thanks and yes certainly crashes with 0.5.

[2021-06-21 19:13] omnilogix commented on #4080
Confirmed still crashes with Reunion 0.5.7

[2021-06-21 22:47] michael-hawker commented on #3949
Also related to #2719

[2021-06-22 16:15] michael-hawker commented on #4081
FYI @Sergio0694 thoughts on this?

[2021-06-22 17:19] Sergio0694 commented on #4081
Oh, good catch @steinhilber, thanks!
I had missed the fact that removing a `LinkedListNode<T>` also did side-effect on the node and cleared it 😄

@michael-hawker Just to add some more context here, this bug _only_ affects the polyfill for `ConditionalWeakTable<K, V>` that we use when targeting .NET Standard 2.0 and below, so thankfully this bug doesn't affect all consumers of the MVVM Toolkit toda

[2021-06-22 19:07] XAML-Knight commented on #3839
On a clean dev machine, for my initial build of the WCT, I was able to repro the same compilation errors on the PlatformTypes.cs file.  After adding the necessary using statements, and doing a full clean & rebuild, I was able to successfully run the Sample App.

The warnings with the references (same as above) still remain, however:
![image](https://user-images.githubusercontent.com/86266896/12298

[2021-06-23 00:06] jaldinger commented on #3662
I tried this method on WinUI3 (Project Reunion 0.8-rc) with Uno Platform (v2.4.0).
I had to swap GetForCurrentView() with GetForViewIndependentUse() to make it work.
Not sure if that is expected, but I thought I'd leave the info here...

[2021-06-23 01:00] omnilogix commented on #4080
For what it's worth, I'm seeing this same exception stack for other scenarios of navigating and clicking in a WinUI 3 app.
![image](https://user-images.githubusercontent.com/9586533/123018603-b70a1580-d383-11eb-9b21-a93dc591e28c.png)

[2021-06-23 19:33] HerrickSpencer commented on #3662
thanks for the information @jaldinger !

[2021-06-23 21:12] XAML-Knight opened #4084 "XamlIslands Package project does not build in Visual Studio"
## Describe the bug
When building the toolkit solution for 'Any CPU', a compilation error occurs:  `Specified EntryPointExe 'UnitTests.XamlIslands.exe' was not found in the project outputs.`
-Project: UnitTests.XamlIslands.Package

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:  can't recall seeing it during my initial builds on a new machine.

[2021-06-23 22:02] michael-hawker commented on #4084
I do know that XAML Islands requires to be built specifically for x86 or x64, but thought we had setup the Any CPU config to do so. Probably a missing checkbox/config in Visual Studio/solution file.

I thought we had resolved this before though already... Yup from #3599... (though slightly different error, so could be an update from VS). Original fix PR was #3601.

It could also be one of the solu

[2021-06-24 00:24] michael-hawker commented on #3949
I did a quick comparison with how WPF behaves (as our control is supposed to be API compatible for the most part with it).

What WPF does is when the cursor moves back in the opposite direction after having passed a bound, it doesn't start moving the gripper bar again until the cursor has caught back up to it. So while it doesn't break the boundaries (as expected), it is still always 'snapped' to

[2021-06-24 19:03] omnilogix commented on #4080
@Kyaa-dost This issue should probably be moved to a more appropriate repo.  Although it is reproducible by clicking on the DataGrid, I am seeing this same exception stack (~AutoPeg) for may different crashes when interacting with the WinUI gui in general.

[2021-06-24 19:24] Kyaa-dost commented on #4080
@omnilogix Datagrid issue channels through here. Based on the testing above seems like the issue is isolated to Datagrid.
@anawishnoff @RBrid can someone please investigate this issue? Thanks!

[2021-06-26 04:05] nlogozzo opened #4085 "TabbedCommandBar not working Windows App SDK 0.8"
When will the `TabbedCommandBar ` be ported to Project Reunion?

[2021-06-26 11:43] #3999 closed

[2021-06-28 13:48] Avid29 opened #4086 "[Feature] ListViewBase parent type for DataGrid"
## Describe the problem this feature would solve

``DataGrid`` is not considered an ``ItemControl`` or ``Selector``, despite having all the properties.

## Describe the solution

``DataGrid`` shares all functionality with ``ListViewBase``, so giving it a more specific base type will allow abstraction for developers with their lists when using ``DataGrid``.

## Describe alternatives you've consider

[2021-06-28 18:28] michael-hawker commented on #4086
@RBrid is this something you can comment on as to why the control wasn't made to inherit from the beginning?

FYI @anawishnoff.

[2021-06-28 19:21] azchohfi opened #4088 "Can't build WCT in VS2022 Preview"
## Describe the bug
Can't build the sample app on VS2022 due to failure to build the notifications project.

## Steps to Reproduce

Open the toolkit sln in VS 2022, try to build the sample app. It will fail

## Expected behavior
Builds fine on VS2019 as well as VS2022.

## Environment

Windows 10 Build Number:
- [ ] Fall Creators Update (16299)
- [ ] April 2018 Update (17134)
- [ ] October 2018 Up

[2021-06-28 22:39] ChrisGuzak commented on #3704
@michael-hawker got it. I see the [project page](https://github.com/windows-toolkit/WindowsCommunityToolkit) does not mention C#, C++, managed or native. consider updating it to set expectations for people that might want to use it from C++.

[2021-06-28 22:58] michael-hawker commented on #3704
Thanks @ChrisGuzak in the about box we call out .NET:

![image](https://user-images.githubusercontent.com/24302614/123713472-59fddc00-d829-11eb-8d32-6c198296a8d5.png)

But we don't really mention this in the readme, so if you scroll past it then it'd be good to re-iterate.

We've typically tried to call it out as .NET as it's not specific to C#, many things can be used in VB as well. It's more a f

[2021-06-28 22:59] michael-hawker commented on #3704
Assigning to myself as I still have the example to publish, I should probably push the basics I have now, though there's more I want to do with it.

In the meantime, @RosarioPulella @Sergio0694 any thoughts on phrasing for our Readme?

[2021-06-29 01:15] Avid29 opened #4091 "DataGridComboBoxColumn overrides Style"
## Describe the bug
A clear and concise description of what the bug is.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [ ] Can this be reproduced in the Sample App? (Either in a sample as-is or with new XAML pasted in the editor.) If so, please provide custom XAML or steps to reproduce. If not, let us know why it can

[2021-06-29 03:23] #4088 closed

[2021-06-29 04:12] nlogozzo commented on #4085
@michael-hawker I have the following XAML:
[code]
And this is the resulting window:
![image](https://user-images.githubusercontent.com/17648453/123736117-8b4ccb00-d86e-11eb-9572-56413c4b41b6.png)

Again using Project Reunion 0.8 with WinUI3 and have the following package `CommunityToolkit.WinUI.UI.Controls V7.0.3` installed for WCT

[2021-06-29 14:24] Nirmal4G commented on #3183
Here's Visual Studio Community Toolkit project: [Community.VisualStudio.Toolkit](/VsixCommunity/Community.VisualStudio.Toolkit)

Their project, package naming and namespaces are similar to what I proposed! We could follow something similar to what they did!!

For both packages and namespaces, same as what I proposed before but we can swap `Community` so that it comes first!

[2021-06-29 16:11] michael-hawker commented on #4091
FYI @anawishnoff @RBrid

[2021-06-29 17:03] michael-hawker commented on #4085
@azchohfi I was using this in 0.5 before for my C++ test project, can you double-check with 0.8? What do you see?

[2021-06-29 17:26] #4063 closed

[2021-06-29 17:31] michael-hawker commented on #3905
@vgromfeld is this something you'd need? I was thinking we'd just have `InAppNotification` use an `InfoBar` internally and then we could just expose the `Severity` property.

[2021-06-29 17:38] michael-hawker commented on #3643
@robloo are you planning to make more improvements to the ColorPicker/ColorPickerButton in the next month or so for our 7.1 release? #4010 should be merged today (didn't notice the auto-merge got stuck the other day).

[2021-06-29 17:43] michael-hawker commented on #3737
@ratishphilip wanted to check-in and see if you were planning to add more to the Toolkit for 7.1 in the next month or so. If so, let us know, and I can leave this or other items in our milestone for tracking. Otherwise, I can move this out for later when you have more time again in the future, as I know you had mentioned wanting to bring more things over. Thanks!

[2021-06-29 17:46] michael-hawker commented on #3297
@MartinZikmund wanted to revive this discussion. I think we basically need to brainstorm or figure out the best possible helpers, but at minimum a C# helper function to start gets things going still, right?

FYI @Sergio0694 in case you have any thoughts in this area.

[2021-06-29 17:48] michael-hawker commented on #4036
@Marv51 is this something you still wanted to try and contribute to the Toolkit? If so, feel free to check out our [wiki](https://aka.ms/wct/wiki) with intro on getting started with contributions, and let us know if you run into troubles. Thanks!

[2021-06-29 17:52] michael-hawker commented on #2612
@vgromfeld is this something you would need?

[2021-06-29 17:56] robloo commented on #3643
@michael-hawker I certainly won't have time to get to the full list above. However, I may try to finish 1 or 2. I would say the chances I will have time are low but we should still keep this on 7.1 for now.

[2021-06-29 18:02] michael-hawker commented on #4085
Thanks Alex for letting me know this is due to https://github.com/microsoft/microsoft-ui-xaml/issues/3502, we can at least provide a work-around for now when we ship an update.

@nlogozzo could you try adding a property to the XAML initialization of the control?

[code]

[2021-06-29 18:14] michael-hawker commented on #3183
@Nirmal4G we've already adopted and chosen `CommunityToolkit` as our root package identity and namespace, we won't be changing it.

[2021-06-29 18:18] nlogozzo commented on #4085
@michael-hawker My New Xaml:
[code]
And the new result:
![image](https://user-images.githubusercontent.com/17648453/123847487-a22e0480-d8e4-11eb-9790-53c9e1b43e36.png)

The tabs are missing now

[2021-06-29 18:33] michael-hawker commented on #4085
@yoshiask so originally `TabbedCommandBar` was based off the system `NavigationView`. WinUI removed the `NavigationViewList` to replace it with an ItemsRepeater a few versions ago, so since WinUI 3 is based off the latest WinUI 2.x, it means the template is no longer valid.

Now that we have the dependency on WinUI directly anyway, think you'd have time to update the current Toolkit version to be

[2021-06-29 18:38] nlogozzo commented on #4085
@michael-hawker So no work around for this as of now? Have to wait for an update...

[2021-06-29 19:01] Nirmal4G commented on #3183
Okay.

[2021-06-29 19:05] Nirmal4G commented on #3183
Okay. What about the App name, then? Do you have any preference?

[2021-06-29 19:39] ratishphilip commented on #3737
@michael-hawker yes, I will be able to add in the Surface Brushes to the toolkit for 7.1 by next month. Coding is almost complete. Preparing the samples and documentation right now. Hope to finish it soon. 🤞

[2021-06-29 22:03] michael-hawker commented on #3737
Awesome, good to know @ratishphilip. Feel free to submit a draft PR if you're looking for any early feedback or assistance with integrating to any of @Sergio0694's APIs.

[2021-06-29 22:09] michael-hawker commented on #3183
@Nirmal4G we're still figuring out what to do with the next version of our sample app. Until we have plans we haven't been thinking about changing it. We want to know what our next direction is before we think about rebranding it.

[2021-06-30 07:42] harishsk opened #4093 "[Feature] Build a set of user controls optimized for gaze input"
## Motivation
The `Microsoft.Toolkit.Uwp.Input.GazeInteraction` library in the toolkit, makes handling gaze input in a UWP app incredibly easy. By adding only a few lines of XAML code it makes it possible to enable buttons and other controls to respond to gaze input. However, the default controls in UWP are optimized for mouse, pen and touch. Gaze has less accuracy, is more noisy as a signal. Ther

[2021-06-30 09:10] vgromfeld commented on #3905
I don't have this need yet 😊, but I agree that we can use `InfoBar` as the base brick for the `InAppNotificationControl`.

`InfoBar` has an `IsIconVisible` property to control if the `Severity` indicator should be displayed or not. I guess we should also have it if we add the `Severity` support.

[2021-06-30 09:12] vgromfeld commented on #2612
Yes, that would be something nice to have.

[2021-06-30 17:22] michael-hawker commented on #3905
Thanks @vgromfeld I'll leave these in the milestone then and we'll see if you or someone picks them up before we ship.

[2021-06-30 19:00] RosarioPulella opened #4094 "[Feature] Tool/script that takes screen shots of a bunch of different controls in conexts and configrations ( aka scenes?)."
## Describe the problem this feature would solve

As a maintainer, I want a way to quickly see the visual appearance of all the controls so that I can check for visual issues that are hard to find or catch threw automation.

## Describe the solution

Add a **script or tool** in the repository that can be easily run ( maybe a cake script), that will initialize controls in as many relevant **UI cont

[2021-07-02 01:17] yoshiask commented on #4085
Been a bit busy with my day job, but I should have time this week. Hopefully I can get it done before next week.

[2021-07-02 18:38] chingucoding opened #4096 "Header on TokenizingTextBox has creative interpretation of being a header (faulty rendering)"
## Describe the bug
A clear and concise description of what the bug is.

When creating a TokenizingTextBox with the Header property set, the header is displayed is inside the input area and not on top of it.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [ ] Can this be reproduced in the Sample App? (Either in a samp

[2021-07-02 19:04] sahilrawat001 commented on #3831
Hello,I wants to work n this issue. can you tell me what to do in this issue?

[2021-07-04 18:08] sylveon commented on #3603
Accessing named resources in define `Themes\Generic.xaml` doesn't even work from within the same project in, so it seems like an intentional design choice that the resources in there aren't added to the application's resources by default.

[2021-07-04 18:11] chingucoding commented on #3603
@sylveon Is 100% correct, this seems to be by design. Styles inside Themes\Generic.xaml files will be used to lookup the default style, however resource wise, you can't access them. Only way to access them is by manually adding them to the resources dictionary (e.g. through merged dictionaries). This is also what WinUI does. Not that manually referencing the resources will also override existing r

[2021-07-05 07:07] oenarap commented on #3284
hi @michael-hawker
it's been a while. i finally have some bit of free time.
is anyone here working with the same idea?

i'm doing some prototyping [here.](https://github.com/oenarap/Cdln.School.People/tree/master/School.People.Uwp.Controls/AdaptiveBladeView)

i'd be glad if you could give some guidance. thanks!

[2021-07-05 10:55] jp-weber commented on #3628
Thanks for highlighting the pull request @michael-hawker. I've had a lot on my plate lately and haven't been able to look into it further. The days when I have time again I can implement the unit tests with the cases and define the expected behavior. @jamesmcroft you can look over the finished cases, whether this then fits so.

[2021-07-05 17:26] #4081 closed

[2021-07-06 16:24] michael-hawker commented on #4096
Nice catch @chingucoding! Never thought of putting a header I guess, so we didn't adjust the template for it. Looks like we put the header on the inner ItemsPresenter here:

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/1973504661ad0a6152b67deb9896f35103cdae44/Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenizingTextBox.xaml#L94-L101

Instead we should probably hav

[2021-07-06 20:04] chingucoding commented on #4096
Sure I can take a look at this. Feel free to assign this to me :)

[2021-07-07 14:29] DennisBergemann opened #4100 "PeoplePicker is crashing while start typing"
## Describe the bug
While typing the peoplepicker is crashing with unhandled exception in "Microsoft.Graph.Core.dll"
System.NullReferenceException: "Object reference not set to an instance of an object."

  | StackTrace | "   bei Microsoft.Graph.HttpProvider.<SendAsync>d__18.MoveNext()" | string

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

[2021-07-07 22:55] #4043 closed

[2021-07-07 23:07] michael-hawker commented on #4043
Thanks @DaZombieKiller for adding this feature! 🎉🎉🎉

[2021-07-07 23:08] DaZombieKiller commented on #4043
No problem! Happy to have contributed

[2021-07-08 13:29] #2815 closed

[2021-07-08 14:43] RamenTurismo commented on #3511
@Kyaa-dost Sorry for the late response. We still haven't updated the packages.
Hard to say if we will ever! Maybe towards the end of the year.

[2021-07-08 18:30] XAML-Knight commented on #4039
I'm still hitting this error when testing WinUI 2.6 (x64, Debug, VS 16.10.2).

I am able to successfully open ListViewExtensions when I switch to Release mode, however.

There is an issue on my dev laptop with the WindowsDesktop SDK:
![image](https://user-images.githubusercontent.com/86266896/124973068-ed7c9d00-dfdf-11eb-927d-b29c3690a3e2.png)

[2021-07-09 23:36] michael-hawker opened #4103 "Aspect ratio respecting presenter"
### Discussed in https://github.com/windows-toolkit/WindowsCommunityToolkit/discussions/4060

<div type='discussions-op-text'>

<sup>Originally posted by **chingucoding** June  2, 2021</sup>
As a developer, sometimes the need arises to scale content based on the aspect ratio. E.g. when creating using UI Elements to convey diagrams (e.g. using Paths etc). Right now however, this is hardly possible.

[2021-07-10 21:12] sangitamalviya opened #4105 "InfiniteCanvas Control Giving Crash On WinUi3 Desktop App"
Description:
app is getting crash if use InfiniteCanvas control on Winui3 Desktop Application

Steps to reproduce the behavior:
1.Create a new WinUI 3 Desktop App
2.Add a InfiniteCanvas to MainWindow.xaml
3.Start the App && Observe

Enviroment:
NuGet Package(s): CommunityToolkit.WinUI.UI.Controls(7.0.2)
                  Microsoft.ProjectReunion(0.5.7)
![InfiniteCanvasBug](https://user-images.gith

[2021-07-11 14:44] IsmailHassani commented on #4039
Hi guys, me again.
I found another strange thing.
To clarify some stuff, i'm using an own [Mvvm library](https://github.com/I-Synergy/I-Synergy.Framework/tree/master/src/ISynergy.Framework.Mvvm) which has an Command and Command{T} class.
This library is multiplatform and generates a .net standard (for UWP) and a .net 5.0 library.
The Command is inheriting the System.Windows.Input.ICommand interfac

[2021-07-11 23:03] michael-hawker commented on #4105
@sangitamalviya there's a new version for Reunion 0.8 as well for 7.0.3, do you see the same issue there?

Can you also provide the details from the exception and stack trace. You can inspect the `e` parameter to the UnhandledException to get those.

FYI @azchohfi

[2021-07-12 12:14] sangitamalviya commented on #4105
hi @michael-hawker, I have updated ProjectReunion with version 0.8.0 still it's giving exception.On e parameter it shows Element not found. (0x80070490)
![stacktrace](https://user-images.githubusercontent.com/53295795/125284228-d4088780-e336-11eb-96cb-111819794afd.PNG)

[2021-07-12 16:45] azchohfi commented on #4105
Hello @sangitamalviya. This is a known issue. The InfiniteCanvas control doesn't work in WinUI3 and will not work until WinUI3 supports Inking (Microsoft.UI.Xaml.Controls.Ink* such as InfiniteCanvas, InkSynchronizer, InkToolbar, etc).

[2021-07-13 20:16] michael-hawker commented on #3461
@chrisglein saw you had been working on something seemingly similar in WinUI previously here: https://github.com/microsoft/microsoft-ui-xaml/issues/694

Was that something you were still working on at some point in the future?

[2021-07-13 22:20] arcadiogarcia commented on #3693
This is the fork I've been using myself; I'd be happy to contribute it as a temporary solution: #4107

[2021-07-14 01:09] Nirmal4G commented on #3897
@michael-hawker [Review in PR](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3894#pullrequestreview-705654041)

What's the reason? If it's too vague or generic, we can use `Common`/`Core`, etc.. But that's just introducing different words for the same meaning into what is seemingly a simple package title.

[2021-07-14 01:12] Nirmal4G commented on #3897
@michael-hawker [Review in PR](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3894#pullrequestreview-705654041)

What's the reason? If it's too vague or generic, we can use `Common`/`Core`, etc.. But that's just introducing different words for the same meaning into what is seemingly a simple package title.

If we are worried about search index, package tags will take care of it. P

[2021-07-14 01:14] Nirmal4G commented on #3897
@michael-hawker [Review in PR](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3894#pullrequestreview-705654041)

What's the reason? If it's too vague or generic, we can use `Common`/`Core`, etc.. But that's just introducing different words for the same meaning into what is seemingly a simple package title.

If we are worried about discoverability (_Web/NuGet search_), package tags

[2021-07-14 12:59] Balkoth opened #4109 "[Question] MarkdownTextBlock horizontal scrolling"
I took the sample app from https://github.com/windows-toolkit/MVVM-Samples and came across the `MarkdownTextBlock` control.

This is how its used in the last page "The final result!":

[code]

![image](https://user-images.githubusercontent.com/80055480/125623891-d68b80ce-d681-4d67-8979-6a97a24e2484.png)

![image](https://user-images.githubusercontent.com/80055480/125625160-ab35e025-cd24-47b8-9cc2-

[2021-07-14 13:54] mrlacey commented on #4079
I can still reproduce this issue with 7.0.3 and WinUI 0.8.1
repro project at https://github.com/microsoft/microsoft-ui-xaml/issues/5451#issuecomment-879912886

[2021-07-14 20:49] stephtr opened #4110 "RangeSelector breaking WinUI 3.0 when setting Minimum/Maximum via code to the same value"
## Describe the bug
When programatically setting a `RangeSelector`'s `Minimum` and `Maximum` property to the same value, the app's UI breaks and partially doesn't respond to user actions (like hovering over a button). This behaviour was either introduced by Community.Toolkit.WinUI.UI.Controls v7.0.3 (not present in v7.0.2) or Project reunion 0.8.0 (not present in 0.5.6).

- [x] Is this bug a regre

[2021-07-14 22:30] michael-hawker commented on #3897
@Nirmal4G "Basic" isn't any more descriptive and also is more diminutive. It's also introducing another term we're not using to describe any of the packages anywhere else. We can think about if there's a better term for the future, but for now let's just keep it simple and work on merging the PR as there's already been a lot of discussion on things that have very minimal impact overall. Like the T

[2021-07-14 23:57] Nirmal4G commented on #3897
Some of the new titles you've proposed doesn't follow the format I mentioned above. If `Basics` doesn't cut it, How about using `Common`/`Core`?

Then, does it matter when there's a (_new_) term to describe those packages?

_If we can't decide right now, I could separate the title changes into a new PR._

[2021-07-15 00:29] michael-hawker commented on #3134
@Sergio0694 think there's a place in the .NET docs we can better highlight folks searching how to perform this pattern?

in reference to: https://github.com/CommunityToolkit/WindowsCommunityToolkit/discussions/4108

[2021-07-15 13:21] ahmed-abdelrazek opened #4111 "[Feature] Add byte[] to image converter"
byte[] to image converter is one of the most used converters in xaml and it would be nice to not have to implement it in almost every new project like your every kind of the visibility converter

[2021-07-15 18:44] michael-hawker commented on #3897
That's what I updated them too. We can fiddle on this later if we need to, but think the updated formatting with the hyphen is fine. I've committed my suggestions, so all that's left on that PR is the open comment about reverting the targetframework for Uno. If you can do that bit, we can get that PR merged and move on to your other PRs.

[2021-07-15 20:45] michael-hawker opened #4113 "Smoke Test Pipeline Metrics should compare against last release sizes"
@azchohfi Hmm, was just messing with the `DownloadPipelineArtifact` wondering if we published it as an Artifact if we could use the `specific` flag to somehow grab the latest pipeline artifact from the main branch? Not sure if we can get that specific with the `project` guid? `runVersion` `latestFromBranch` maybe? 🤔 That looks promising. I can try it out later once I get the base script running.

[2021-07-15 20:56] michael-hawker commented on #4113
We should also investigate the retention policy on the DevOps and figure out how to ensure we retain artifacts for our `rel/*` branches if we start comparing against those. For a first pass of this comparing against main is acceptable as we'll be auditing it moving forward.

[2021-07-15 23:10] #1499 closed

[2021-07-15 23:17] michael-hawker opened #4114 "UI Test results should be part of Test report interface in DevOps"
## Describe the bug
DevOps has a dashboard for seeing the test results of a build. This currently only shows our unit test results as they're MSBuild based. The UI Tests use TAEF to run in the CI. We need to convert those result outputs into a format the DevOps dashboard understands.

This will make it easier to see and look up test failures when they occur.

FYI @azchohfi

@kmahone any tips/point

[2021-07-16 20:13] #3279 closed

[2021-07-16 22:09] kmahone commented on #4114
We don't run our tests directly on the build machine, rather we run them in Helix. But we face the same issue: we need to convert the TAEF logs to a a different format. In our case we convert from TAEF logs to XUnit logs (which is what Helix supports).

It looks like WindowsAppSDK are already running TAEF tests in their CI Pipeline using VSTest. I assume it is using an adapter of some kind. @jefge

[2021-07-17 16:23] ratishphilip commented on #3442
Hi @Sergio0694 @michael-hawker ,
I have submitted the draft PR for the render surfaces and their corresponding XAML brushes.
Kindly review it.

Still working on the documentation. Will update PR once done.

[2021-07-17 16:24] ratishphilip commented on #3737
Hi @Sergio0694 @michael-hawker ,
I have submitted the draft PR for the render surfaces and their corresponding XAML brushes.
Kindly review it.

Still working on the documentation. Will update PR once done.

[2021-07-19 16:20] RosarioPulella opened #4116 "Faillure rendering sample docs."
## Describe the bug
A clear and concise description of what the bug is.
Some doc pages fail to render in the sample app due to not being able to handle certain markdown.
When parsing special quotes with special style tags like [!NOTE] or [!TIP], the sample app does not handle there not being one of those style tags at the beginning of the quote and the example code would crash the rendered.

In th

[2021-07-19 19:42] jefgen commented on #4114
Sure, I can try to share what I know... However, to be honest, I couldn't find much documentation about it -- so I'm not very well versed in *how* it works.

The "Microsoft.Taef" Nuget package includes a test adapter called "Taef.TestAdapter". This adapter allows for running TAEF tests using VSTest, either in a Azure DevOps build pipeline, on the command line with vstest/mstest, or with the Visual

[2021-07-19 19:57] RosarioPulella opened #4118 "[Feature] Use or create bot to help contributors with build erros."
## Describe the problem this feature would solve

## Describe the solution

We add a bot that comments on PR with errors and warnings from the CI pipeline. If possible it should also suggest changes if there is any reasonable default changes (like formatting changes).
## Describe alternatives you've considered

## Additional context & Screenshots

[2021-07-19 20:17] michael-hawker commented on #4118
Yeah, I know we've asked the fabric bot folks about this, but don't think they're working on it. We'd probably need our own bot which figures out how to get the logs from the DevOps pipeline and spits it back out as a PR comment. Probably worth following up with the bot team again though about it.

[2021-07-20 04:32] michael-hawker commented on #4022
I believe this to be the same issue we're tracking with WinUI [here](https://github.com/microsoft/microsoft-ui-xaml/issues/4614), though in that case we're only seeing the issue in Debug mode.

[2021-07-20 04:36] michael-hawker commented on #4100
Thanks @DennisBergemann are you using the same version of the Graph library in your app that we have as a dependency for the controls? Do the 6.1.1 controls work for you?

We started doing some restructuring for 7.0, so anything for the graph controls after 6.1.1 isn't necessarily stable. We should have a preview in the near future for 7.1 where everything is aligned again.

[2021-07-20 05:30] thiago-cs opened #4119 "DataGridRowGroupHeader background and theme changes"
The DataGridRowGroupHeader background brush does not respond to app theme changes.
The easiest way to reproduce this is by launching the WindowsCommunityToolkit app, navigate to the DataGrid section, click the "Group by" button. Switch to Windows Settings and switch the system theme. When you go back to the WindowsCommunityToolkit app, you notice the mentioned brush has not updated.
It is not that

[2021-07-20 05:35] thiago-cs commented on #4119
Actually, it is even easier to just use the theme switcher right in the app: simpler and same results.

[2021-07-20 10:09] DennisBergemann commented on #4100
Hi Michael,

I will test, paßt holidays. Thank you

[2021-07-20 10:38] R00Tnnm opened #4120 "[Win32]"

[2021-07-20 10:40] R00Tnnm commented on #4120
rootkit на ПК

[2021-07-20 14:17] JanRajnoha opened #4121 "Color Picker custom style not load on selected pane"
## Describe the bug
I want to set color picker style like this to have only predefined pallet with colors
![image](https://user-images.githubusercontent.com/16069721/126331549-b8dd39dc-1b8c-4a20-976f-d48530571a6a.png)

Problem is color picker load with spectrum selector, which is wrong. This selector is not even in top menu to select.
![image](https://user-images.githubusercontent.com/16069721/126

[2021-07-20 16:14] #4116 closed

[2021-07-20 18:25] DennisBergemann commented on #4100
I will check this past holidays. Iam not checked for a 6.1.1 Version first, so this can be the solution first.

[2021-07-20 18:34] #3898 closed

[2021-07-20 18:34] #3897 closed

[2021-07-20 21:55] #4120 closed

[2021-07-20 21:56] michael-hawker commented on #4121
FYI @robloo

[2021-07-20 22:43] robloo commented on #4121
This might also be related to the SwitchPresenter as well. Regardless, it should be an easy fix with some update code added to the Loaded event. I'll take a look soon and see where the problem might be occurring though.

[2021-07-22 18:56] ratishphilip opened #4124 "Cleanup of namespaces of public classes under Microsoft.Toolkit.Uwp.UI.Media"
Several classes under the Microsoft.Toolkit.Uwp.UI.Media project have their namespaces based on their folder location within the project.

I would recommend renaming the namespaces to Microsoft.Toolkit.Uwp.UI.Media. We can target this for 8.0 release.

@michael-hawker

[2021-07-22 18:57] michael-hawker commented on #4124
FYI @Sergio0694

[2021-07-22 20:40] Sergio0694 commented on #4124
Sounds like a good idea for 8.0, to follow what we did in #3422.
We can definitely take a look once #3442 is merged 😄

Note: I don't think we should just place everything in `Microsoft.Toolkit.Uwp.UI.Media` and it might still make sense to keep some nested namespaces in some cases, but we can definitely look into reducing the coupling and simplifying things a bit 👍

[2021-07-22 22:17] chrisglein commented on #3461
It just recently reentered the conversation, so yes possibly. I was just rehydrating that change this week after it sat for 2 years. Having a XAML implementation for flexbox may allow us to solve problems with React Native for Windows like [react-native-windows#7601](https://github.com/microsoft/react-native-windows/issues/7601)

[2021-07-22 23:33] michael-hawker commented on #3461
@chrisglein there was an initial PR provided by baskren here: https://github.com/CommunityToolkit/WindowsCommunityToolkit/pull/3485 - So not sure if you had another implementation you were working on or needed a starting point. There were still a few comments to resolve still to shore-up the implementation for production use. Let me know your thoughts as happy to ship something based on C# in the

[2021-07-23 19:34] michael-hawker commented on #4121
Thanks @robloo for taking a look! The `SwitchPresenter` binds to the `ColorPanelSelector` item.

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/d863f1154a5e2b54cf1cc0b487b41cb9cd49f552/Microsoft.Toolkit.Uwp.UI.Controls.Input/ColorPicker/ColorPicker.xaml#L95-L98

So not sure if it's an issue with the SelectedItem being null at first maybe or something else. The `IsSelected` proper

[2021-07-23 19:56] robloo commented on #4121
Yes, I was thinking the same. Will take a look this weekend.

[2021-07-23 21:41] #3889 closed

[2021-07-23 22:41] michael-hawker opened #4127 "ListDetailsView uses hardcoded string to find NavigationView"
## Describe the bug
In the past, we didn't have a hard dependency on WinUI. It looks like the ListDetailsView then does 'hacks' to look it up in the Visual Tree to do better integration with the back button.

We should instead, now that we have a dependency on WinUI, just use the strongly-typed `FindAscendent` method and clean this code up. I think other spots where it registers to events or thing

[2021-07-23 22:45] michael-hawker commented on #4119
Thanks for the report @thiago-cs, it is useful to stick to our template though for longevity of the history of the problem.

Seems like we're probably using a `StaticResource` somewhere instead of a `ThemeResource`. I'd assume this would be in the controls resources vs. something we're doing for the sample app example specifically.

Think you want to take a stab at fixing it for the community?

FY

[2021-07-23 23:10] michael-hawker commented on #4085
We'll fix this as part of a different PR for Windows App SDK

[2021-07-25 20:55] Vijay-Nirmal opened #4128 "SmoothScrollIntoView method should be truly asynchronous"
## Describe the bug
Currently `SmoothScrollIntoViewWithIndexAsync` is not truly asynchronous but it will return a `Task`.

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/8ecc496d02dd778088e6527f0236e619204cc35d/Microsoft.Toolkit.Uwp.UI/Extensions/ListViewBase/ListViewExtensions.SmoothScrollIntoView.cs#L29-L30

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit ve

[2021-07-26 17:18] Mynameisnew01 opened #4130 "[Win32]"

[2021-07-26 17:32] XAML-Knight commented on #4127
I'll take this issue

[2021-07-26 23:12] XAML-Knight opened #4133 "ListDetailsView: Back/Forward nav buttons are non-operational"
## Describe the bug
When interacting with the ListDetailsView in the Sample App, clicking either the Back or Forward buttons (near bottom of list view on left-hand side) does not perform as expected.

## Steps to Reproduce

- [ ] Can this be reproduced in the Sample App? (Either in a sample as-is or with new XAML pasted in the editor.) If so, please provide custom XAML or steps to reproduce.

**No

[2021-07-26 23:53] robloo commented on #4121
@michael-hawker This issue is partially related to the `SwitchPresenter`. The ColorPicker code does not handle "tab" selection at all. It instead is designed to rely on selection automatically being updated by the container. This means if a "tab" is set to collapsed visibility the container should figure out it can't be selected and then select the next available "tab". Selecting a collapsed tab s

[2021-07-27 07:28] #4130 closed

[2021-07-27 07:29] michael-hawker commented on #4133
Thanks @XAML-Knight. These are part of the sample itself, eh? Are they hooked up and not doing anything, or do they just provide no function?

[2021-07-27 16:11] XAML-Knight commented on #4133
The ListDetailsView control, itself, serves up an empty CommandBar as a dependency property, and it stays empty, until the Sample page comes along and places two buttons (Back, Forward) in it, with no events/commands wired up.

[2021-07-27 16:35] michael-hawker commented on #4133
Yeah, think these were just for design aesthetic vs. meaning to be functional.

We should probably have a comment in the XAML to point out they are placeholders.

We could theoretically create new behaviors for a `ListViewBase` to move the selected item next or previous and wire those up in the sample via XAML. Not sure how useful those would be, probably a separate issue for us to track and get s

[2021-07-27 18:45] Vijay-Nirmal opened #4136 "SmoothScrollIntoView will scroll to the new offset even after is already scrolled to the correct position"
## Describe the bug
SmoothScrollIntoView will scroll to the new offset even after is already scrolled to the correct position. This will happen only when item placement is `Default` and Scroll If Visible is `true`.

## Steps to Reproduce

- [x] Can this be reproduced in the Sample App?

1. Give a horizontal offset with item placement as `Default` and Scroll If Visible as `true`
2. Click `Start Smo

[2021-07-27 18:47] Vijay-Nirmal commented on #4136
Looping @RosarioPulella for the discussion :)

[2021-07-27 21:37] RosarioPulella commented on #4136
Okay so I thought about this from a few perspectives and what I am finding is that `Default` does not communicate any clear behavior to the consumer or to us as maintainers/implementers. What the option seems to do though is a sort of "Scroll until the item is in view, and stop once it is no matter what the direction it came from is". I think we could **have** a default `ScollIteamPlacement` but t

[2021-07-28 08:34] Vijay-Nirmal commented on #4136
- `SmoothScrollIntoView` method is a replacement for [`ScrollIntoView`](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.listviewbase.scrollintoview?view=winrt-20348) built-in method which uses [`ScrollIntoViewAlignment`](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.ScrollIntoViewAlignment?view=winrt-20348) for specifying the item placement. `Default` value in

[2021-07-28 12:45] HppZ opened #4137 "NetworkHelper.Instance.ConnectionInformation.IsInternetAvailable is not reliable."
NetworkHelper.Instance.ConnectionInformation.IsInternetAvailable is **True** even when WLAN switch is off for my app.

[2021-07-28 12:55] HppZ commented on #4137
and my app can't access network.

[2021-07-28 15:18] RosarioPulella commented on #4136
So to me it seems `ScrollIntoViewAlignment` and our `ScollItemPlacement` actually differ significantly (Except for `Default`).
The rest of the placements are relative to specific edges of the view, but our `Default` and the `ScrollIntoViewAlignment` are about what part of the item aligns with the edge the item encounters when it scrolls into view. For that reason it seems like a good idea to separ

[2021-07-28 16:35] #4127 closed

[2021-07-28 17:20] thiago-cs commented on #4119
Fixed and submitted PR #4138.

[2021-07-28 17:32] thiago-cs opened #4139 "Dead link in the PR markdown form"
## Describe the bug
The PR form in markdown that we have to fill contains a dead link. To be honest, I am not really sure whether this is the right channel to report this. Forgive if it is not.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [X] Can this be reproduced in the Sample App? (Either in a sample as-is or wi

[2021-07-28 21:00] michael-hawker commented on #4085
FYI @azchohfi this is all working now in the https://github.com/CommunityToolkit/WindowsCommunityToolkit/pull/4132 PR, so hopefully you won't have problems when merged in the WinUI 3 branch.

[2021-07-28 21:07] michael-hawker commented on #4137
@HppZ we're not doing anything special here and just relying on the System APIs.

If you hook to the underlying [`NetworkStatusChanged`](https://docs.microsoft.com/uwp/api/windows.networking.connectivity.networkinformation.networkstatuschanged) event are you seeing it fire when you flip the app switch?

We then call [`GetInternetConnectionProfile`](https://docs.microsoft.com/uwp/api/windows.networ

[2021-07-28 21:15] michael-hawker commented on #4139
Thanks @thiago-cs looks like the link should be https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/main/ReadMe.md#supported (not sure how the original link could have worked in the past though, so probably just an oversight). The [PR template is here](https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/main/.github/PULL_REQUEST_TEMPLATE.md). Hmm, it uses relative links,

[2021-07-29 02:50] Nirmal4G commented on #4139
Original link was also broken. I've checked this too when creating my recent PRs. It was on my todo list. I wanted to check whether we have direct link references to `readme.md` in the wild, either to revert the rename or simply adjust our PR form link.

Seems, there are no direct references to our link outside our repo. Hence, it's safe to just update our links to reflect that. I have also update

[2021-07-29 02:58] Nirmal4G commented on #4139
See that the link <https://github.com/CommunityToolkit/WindowsCommunityToolkit/ReadMe.md#supported> also doesn't work.

But, the link <https://github.com/CommunityToolkit/WindowsCommunityToolkit#supported> works. If we want a relative link, then the link <../#supported> also works.

I've updated my markdown PR with this patch.

[2021-07-29 02:59] Nirmal4G commented on #4139
See that the link <https://github.com/CommunityToolkit/WindowsCommunityToolkit/ReadMe.md#supported> also doesn't work.

But, the link <https://github.com/CommunityToolkit/WindowsCommunityToolkit#supported> works. If we want a relative link, then the link [`../#supported`](../#supported) also works.

I've updated my markdown PR with this patch.

[2021-07-29 03:01] Nirmal4G commented on #4139
Original link was also broken. I've checked this too when creating my recent PRs. It was on my todo list. I wanted to check whether we have direct link references to `readme.md` in the wild, either to revert the rename or simply adjust our PR form link.

Seems, there are no direct references to our link outside our repo. Hence, it's safe to just update our links to reflect that. I have also update

[2021-07-29 03:11] Nirmal4G commented on #4084
@XAML-Knight I've updated the solution file with my recent refactoring. So, Can you check this with the latest `main`?

[2021-07-29 06:03] HppZ commented on #4137
actually I want to detect if this switch is on or off for my app, but found no way.
do you know how?

[2021-07-29 06:26] thiago-cs opened #4140 "AlternatingRowForeground is not honored"
## Describe the bug
AlternatingRowForeground is not applied when in Light theme.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [X] Can this be reproduced in the Sample App?

Steps to reproduce the behavior:
1. Open the Sample App.
2. Go to DataGrid.
3. Switch to Light Theme.
4. See error: the gray AlternatingRowFore

[2021-07-29 08:41] thiago-cs commented on #4091
@Avid29  The code snippet provided above uses DataGrid**Check**BoxColumn. The following answer assumes you mean DataGrid**Combo**BoxColumn.
The DataGridComboBoxColumn has two Style properties: `ElementStyle` and `EditingElementStyle`.
ElementStyle expects `<Style TargetType="TextBlock">`
EditingElementStyle expects `<Style TargetType="ComboBox">`

[2021-07-29 09:03] thiago-cs commented on #4091
Regarding the Sample App crashing, it crashes because the DataGridComboBoxColumn throws an ArgumentException because Binding is unset.
I have faced this exact behavior before in my project which also crashed in early design stages. I did not expect that to happen since a WPF DataGrid does not crash or complain about it (see snippet below).
Maybe we could align the behaviors of the WPF DataGrid and

[2021-07-29 09:27] michael-hawker commented on #4137
I'm not sure, I would have suspected the APIs I pointed to that we're using in the Toolkit may provide some indication, but I believe that switch/feature for apps was added later. If you could do some investigating and report back about what those APIs report with the switch enabled/disabled that could give us a starting point to investigate this issue further.

[2021-07-29 16:18] chrisglein commented on #3461
Intent is to do in C++ and contribute to WinUI directly. We have some customers that need this and need it to be C++ all the way through. It's good to have another starting point, though. There's some adaptation that needs to be done to match the Measure/Arrange pattern that makes taking existing implementations like Yoga tricky, as well as integrating with `Repeater` and its virtualizing layout h

[2021-07-29 16:23] XAML-Knight commented on #4084
Yes, @Nirmal4G, that worked - I'm now able to successfully build off of `main `(with 'Any CPU' configuration) without this nefarious XamlIslands error.

[2021-07-29 16:23] #4084 closed

[2021-07-29 19:03] michael-hawker commented on #3461
Thanks for the info @chrisglein, is there an issue tracking that on WinUI? If so, I can point to it and close our issue out.

[2021-07-29 19:26] #3903 closed

[2021-07-29 20:42] #4071 closed

[2021-07-29 20:43] michael-hawker opened #4143 "UI Tests only run at 100% DPI"
## Describe the bug
@azchohfi had discovered that our UI Tests assume there's a 100% DPI set for them to run on. The `InputHelper` is moving in absolute pixels, but the app is looking for the adjusted movement.

Alex has applied a fix in the `winui` branch, @RosarioPulella can you look at translating that back to our UWP AppService in the main branch? Thanks! Reach out to Alex if you need more inf

[2021-07-29 20:51] azchohfi opened #4144 "Debugging the Toolkit's UI tests is hard since we build in Release mode"
## Describe the bug
Since we build in release mode, even if we attach the debugger to the ui tests, we can't get any meaningful information.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Run build.bat and attach the debugger to the UI Tests process (host or guest).

## Expected behavior
We can easily build the toolkit

[2021-07-29 22:35] #4144 closed

[2021-07-30 04:32] HppZ commented on #4137
https://github.com/microsoft/WindowsAppSDK/issues/1139

[2021-07-30 18:05] michael-hawker commented on #4137
Thanks @HppZ for digging deeper and opening an issue on the Windows App SDK! 🦙❤

Looks like there's a good discussion there. @andrewleader if we do find there's an existing API for this scenario we can look at adding a case in the Toolkit; otherwise, it looks like you have a handle in the new SDK now! Thanks!

[2021-07-30 18:38] azchohfi opened #4149 "Build fails if Env variable Platform=x64"
## Describe the bug
If your environment has a variable Platform=x64 (or anything other than empty or AnyCPU), the build fails.
The build.ps1/build.bat should ignore this environment variable, as we always need to restore/build the solution in AnyCPU.

## Steps to Reproduce
1. Open a cmd
2. set platform=x64
3. Run the build.bat
4. See error

## Expected behavior
Build ignores this environment varia

[2021-07-30 18:40] michael-hawker opened #4150 "[Feature] TilesBrush Surface can be DPI Aware"
## Describe the problem this feature would solve
If you create a `TilesBrush` with a URI to an [image that are context aware](https://docs.microsoft.com/windows/uwp/app-resources/images-tailored-for-scale-theme-contrast), then it only loads the normal scaled image instead of the one for the specific DPI of your monitor.

This is because `SurfaceLoader.LoadImageAsync` that is used is using the unde

[2021-07-30 21:47] #4085 closed

[2021-07-31 04:15] Nirmal4G commented on #4073
Now that I see, `Adaptive` doesn't seem to describe it's purpose/function clearly. `Bindable` seems to fit perfectly. But do we expect to extend the class to provide more than just binding in the future?

If so, then we'll keep the `Adaptive` name. We should also change `BindableString` to `AdaptiveString` to be consistent.

[2021-07-31 04:16] Nirmal4G commented on #4073
@andrewleader @michael-hawker

[2021-08-02 17:32] chrisglein commented on #3461
There's [this one](https://github.com/microsoft/microsoft-ui-xaml/issues/694). Not immediately scheduled (making the fundamentals of WinUI3 happen has taken priority).

[2021-08-02 17:54] #3461 closed

[2021-08-02 18:47] RosarioPulella commented on #4143
Interestingly enough, on my laptop the recommended is 125%, and on `main` under 100%, 125% is the test pass and under 150% and 175% the test fail.

I cant seem to be able to build the `winui` branch, but the only DPI related change I can see is that there is a way to retrieve the DPI into the test method, but the test does not seem to use the DPI, so I can't see how it handles the DPI better.

Eit

[2021-08-02 19:03] RosarioPulella commented on #4143
Also I have to say, our usage of ProtoBufs in the `winui` branch looks nice. We could bring that code into main, making one less thing to merge from the `winui` branch and so we don't have to maintain two ways to communicate between the test app and the driver.

[2021-08-02 19:36] RosarioPulella commented on #4143
I think it is my system.

[2021-08-02 19:54] azchohfi commented on #4143
I didn't solve the problem on the test itself, I've only started the work.
Unfortunately, I don't think we can use the protobuf solution in main since it runs inside the sandbox, and I don't think it would be available to be connected from the tests.

[2021-08-02 20:52] RosarioPulella commented on #4143
Okay that clarifies things, I'll just add the "get dpi" to the service and figure out the rest for the API dependent tests. I wonder if there is a way to not need API dependent code in the tests methods, but that can be figured out later.

I cant help but to wonder if we should keep the assumption that the test run under 100% DPI. If some tests need DPI specific code but we don't test on multiple

[2021-08-02 20:58] azchohfi commented on #4143
I believe we need to fix this... Or else we force anyone that wants to contribute to the toolkit to use 100% dpi (to run the tests locally).

[2021-08-02 21:08] RosarioPulella commented on #4143
But without running the UI test in CI at multiple DPIs (which could take a lot more time in CI), future PRs could bring in tests that fail on other DPIs. If we can't find a global fix, we can fix the test we have now and fix any test methods as we discover they don't work on other DPIs.

[2021-08-02 22:22] #4128 closed

[2021-08-03 06:14] Balkoth commented on #4109
So nobody here can answer my question?

[2021-08-03 16:27] #4149 closed

[2021-08-03 16:40] #4103 closed

[2021-08-03 22:44] michael-hawker opened #4158 "Add ThirdPartyNotice file to packages"
## Describe the bug
We should add our ThirdPartyNotice.txt file to our packages as a loose file like we do with the license.

Should be here:

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/41b0c9a4c61f15f352898c0529755b7d583907bc/build/Windows.Toolkit.Common.targets#L15-L18

[2021-08-03 22:48] michael-hawker commented on #4158
Also noticed we're missing the last two copies of licenses in the file... 🙋‍♂️

[2021-08-04 17:53] asklar opened #4159 "WCT Sample app Gaze page shows overlapping text, doesn't seem to work"
![image](https://user-images.githubusercontent.com/22989529/128230161-3aa952bd-601d-4c63-96ad-4d91e3cc58b9.png)

[2021-08-04 19:11] ArchieCoder opened #4161 "Compiling the solution with AnyCPU does not work"
## Describe the bug
Compiling the project with the default configuration will lead to the following output:

![image](https://user-images.githubusercontent.com/1608424/128240611-acabae92-3a98-4fdd-a18f-dcf95d120b62.png)

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [ ] Can this be reproduced in the Sample App? (Eith

[2021-08-04 22:08] michael-hawker commented on #4159
@asklar I think one of the messages is "please attach eye tracking device", what model eye tracker do you have?

[2021-08-04 22:52] asklar commented on #4159
I don't have an eye tracking device 🙃 running an internal build number > 22000.

[2021-08-05 16:17] RosarioPulella commented on #4161
I am having no problems building the solution. Could you share the output for the build from the `output` tab?

[2021-08-05 16:21] michael-hawker commented on #4159
Alright, so this is more about the error message not being visible than an issue with the functionality! 😉

[2021-08-05 17:07] #4119 closed

[2021-08-05 17:24] ArchieCoder commented on #4161
@RosarioPulella [
[output.txt](https://github.com/CommunityToolkit/WindowsCommunityToolkit/files/6940534/output.txt)
](url)

Steps:
1- Clone to a fresh folder
2- Build solution (there will be no error)
3- Open the Samples folder in the Solution Explorer and select Microsoft.Toolkit.Uwp.SampleApp then right click Build

Errors are shown in the output.txt file.

[2021-08-05 17:45] RosarioPulella commented on #4161
I am seeing the issue locally now, thanks @ArchieCoder.

[2021-08-05 17:46] RosarioPulella commented on #4161
@Nirmal4G I have a hunch this is related to recent project files refactor, can you help shed some light on this?

[2021-08-05 18:08] azchohfi commented on #4161
I don't think this is related to @Nirmal4G's work. UWP never supported AnyCPU as a target. You need to select a specific architecture. That is by design.
Is the underlying issue that the default solution configuration/platform when you freshly clone the repo is equal to Something/AnyCPU? Not sure how to change that.

[2021-08-05 18:22] Nirmal4G commented on #4161
Both @RosarioPulella and @azchohfi are right. This might've been my updates to the solution file. But also, a side effect of fixing the solution config.

See that the `BackgroundTasks` project is skipped when `Any CPU` is selected in the attached [`build`](../files/6940534/output.txt) log.

[code]

Let me check and report back!

[2021-08-05 18:24] ArchieCoder commented on #4161
If WCT will never support Any CPU, it can be removed from the solution entirely.
![image](https://user-images.githubusercontent.com/1608424/128401703-17005430-2320-4887-9095-541df0bb8a65.png)

[2021-08-06 03:51] Nirmal4G commented on #4093
Do we put Gaze controls in the `Input` namespace or the `UI.Controls` namespace?

Seems the PR has it in the `Input` namespace.

[2021-08-06 04:29] Nirmal4G commented on #4118
I personally don't like bots especially when they add too much noise in the comments section. As you said, it might help but the resolved bot comments should be either hidden or deleted from the comments section.

Bots should also detect force-push and react accordingly. When a contributor is new to the Toolkit project, bot should help them out but should stay out of the way as much as possible, l

[2021-08-06 14:36] RosarioPulella commented on #4140
Fixed by #4138

[2021-08-06 14:46] RosarioPulella commented on #4140
Fixed by #4138

[2021-08-06 14:46] #4140 closed

[2021-08-06 17:43] shweaver-MSFT commented on #3672
I have a draft PR up to handle the support requested in the original issue, which is to limit the number of potential tokens in the underlying `TokenizingTextBox`. However, I did not address the actual implementation of the `ListViewBase.SelectionMode` property.

So even once that PR is merged, I think this issue should remain open until we document the lack of support for the `ListViewBase.Select

[2021-08-06 22:04] shweaver-MSFT commented on #4118
I could see a bot that makes suggestions for trailing whitespace fixes or missing license headers. Not sure how feasible that is, but those are the types of issues I see most commonly.

[2021-08-06 22:06] shweaver-MSFT commented on #4100
Hey @DennisBergemann, our [7.1.0-preview1 release](https://devblogs.microsoft.com/ifdef-windows/windows-community-toolkit-7-1-preview-release/) is now available. Check it out and let me know if you are still encountering those errors :)

[2021-08-07 01:57] Nirmal4G commented on #4118
How about detecting spelling and grammar mistakes and suggesting fixes. I saw this on some official Microsoft repo a while back but I don't remember which one!

[2021-08-07 10:02] DennisBergemann commented on #4100
Thanx i will test it asap

[2021-08-08 05:41] sylveon opened #4166 "MultipleX and MultipleY are missing the ConstraintPropertyChanged callback"
## Describe the bug
The MultipleX and MultipleY dependency properties on ConstrainedBox do not register the ConstraintPropertyChanged callback, meaning that if they are changed, the layout isn't updated until something else invalidates it

- [ ] Is this bug a regression in the toolkit? No

For example ScaleY:
https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/ee933854d0013c7856890c1b

[2021-08-08 10:35] Vijay-Nirmal commented on #4136
I am back.

Additional offset is important for `default` item placement, it is inspired by many smooth scroll implementations in build-in apps like Store, PowerPoint etc. Additional offset for `default` should work dynamically because if the item is aligned at the top/left then we should add the offset but if the item is aligned at the bottom/right then we should subtract the offset, in this case,

[2021-08-08 12:38] Vijay-Nirmal commented on #4136
Also, Should I combine `Top` and `Left` item placement to `Starting` and combine `Right` and `Bottom` to  item placement `Leading`?

[2021-08-08 12:47] Vijay-Nirmal commented on #4136
After further thought, why anyone would want to scroll to the nearest edge when the item is visible?

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/ee933854d0013c7856890c1b2b5bec9e3850f908/Microsoft.Toolkit.Uwp.UI/Extensions/ListViewBase/ListViewExtensions.SmoothScrollIntoView.cs#L115
https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/ee933854d0013c7856890c1b2b5bec

[2021-08-09 07:03] hawkerm opened #4167 "MVVM Source Generator `NotNullIfNotNullAttribute` and `NotNullAttribute` missing when using `INotifyPropertyChanged`"
## Describe the bug
Having an issue with compilation in the generated source with attributes used in a .NET Standard 2.0 project with the Source Generators for the MVVM Toolkit.

## Steps to Reproduce

.NET Standard 2.0 project:

[code]

Getting errors:

[code]

Same happens if using the **`[ObservableObject]`** property on the class, but inheriting from `ObservableObject` works fine.

## Expected

[2021-08-10 06:34] DennisBergemann commented on #4100
@shweaver-MSFT  eventually iam wrong..
iam using this...
![image](https://user-images.githubusercontent.com/87080564/128819282-b93b7df2-9982-4d96-ab2c-595f5e346e25.png)
you refer to this
![image](https://user-images.githubusercontent.com/87080564/128819376-20e0c473-fdb6-434e-b81d-ca5a700bff58.png)

Am i totally wrong here or is my research the right, that this is the followup?

Thank you

[2021-08-10 13:50] jader1313 commented on #3161
From what I researched on the Web, changing this behavior would be of great use to many users including me.

[2021-08-10 15:18] bolyb commented on #3161
I agree, this is still very frustrating for our users and we still receive regular complaints about it. Is there any update on this, or any workarounds we can implement in the meantime?

[2021-08-10 16:28] michael-hawker commented on #4100
@DennisBergemann correct `Microsoft.Toolkit.Graph.Controls` is the old package, we're moving to a new package identity to `CommunityToolkit.*` so `CommunityToolkit.Graph.Uwp` is the new one (and includes a few other helpers beyond controls).

@shweaver-MSFT looks like we forgot to include the Toolkit NuGet image in the packages as well.

[2021-08-10 17:29] shweaver-MSFT commented on #4100
@DennisBergemann, What Michael said; We did a major renaming recently to use the `CommunityToolkit.*` namespacing. You found the correct package :)

@michael-hawker You are right! I'll get the image added.

[2021-08-10 19:45] ghost1372 opened #4171 "WindowsCommunityToolkit Can not be installed on WinUI 3 version 1.0 Experimental"
## Describe the bug
WindowsCommunityToolkit can not be installed on WindowsAppSDK 1.0-Experimental version
it seems that This is due to the renaming of windowsAppSDK nuget packages
If possible, please publish a new version compatible with this version.
https://github.com/microsoft/WindowsAppSDK/issues/1209

## Steps to Reproduce

Steps to reproduce the behavior:
1. Create a new WinUI3 Packaged App

[2021-08-10 21:27] michael-hawker commented on #3704
I've published the sample which shows how to do this here: https://github.com/CommunityToolkit/Sample-Windows-CppWinRT

I'll close this issue now. Thanks!

[2021-08-10 21:27] #3704 closed

[2021-08-10 21:28] michael-hawker commented on #4044
I've published our UWP based C++ sample here: https://github.com/CommunityToolkit/Sample-Windows-CppWinRT

I have a new issue tracking a similar sample for WinUI 3 here: https://github.com/CommunityToolkit/Sample-Windows-CppWinRT/issues/3

[2021-08-10 21:35] michael-hawker commented on #4171
Thanks for the report @ghost1372. This is a known issue, we currently only support version 0.8 as per the [WinUI release notes](https://github.com/microsoft/microsoft-ui-xaml/issues/5651).

We're also waiting for WinUI 3 to [adopt the WinUI 2.6 changes](https://github.com/microsoft/microsoft-ui-xaml/issues/5651#issuecomment-896049838) as we've updated to WinUI 2.6 in our main branch for our upcomi

[2021-08-10 21:48] Goz3rr opened #4174 "Compiling fails when trying to use to ObservableProperty source generator property"
## Describe the bug
When I try to do anything with the property generated from the ObservableProperty source generator the compiler says it doesn't exist. Intellisense however does think it exists, and I can press F12 to inspect the generated code with the property. Binding to the generated property at runtime also works without any issues. No errors show up in the error list in VS either, only in

[2021-08-11 05:35] sylveon opened #4175 "FrameworkElementExtensions.Ancestor causes an XAML memory leak"
## Describe the bug
Setting the `AncestorType` property on an object will store the parent of the object as an attached property, causing a reference loop (the parent holds a reference to the child, the child holds a reference to the parent).

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [x] Can this be reproduced i

[2021-08-11 06:16] DennisBergemann commented on #4100
OK. So iam right here. Thanx

With the CommunityToolkit.* namespace my code is totally wrong.

It seems to be you changed the way for "using Microsoft.Toolkit.Graph.Providers;" totally?

Iam totally confused :-)

some examples here (do not work anymore :-) )
// Configure MSAL provider

                MsalProvider.ClientId = appId;
                MsalProvider.Scopes = new ScopeSet(scopes.Split('

[2021-08-11 06:54] michael-hawker commented on #4100
@DennisBergemann things should be pretty similar, but you just configure the provider in code-behind vs. the XAML helper; see the steps for comparison in the [readme of the graph repo](https://github.com/CommunityToolkit/Graph-Controls).

[2021-08-11 08:25] HppZ opened #4176 "[IncrementalLoadingCollection] is CancellationToken useful?"
No Cancel call with _cancellationToken, so is it necessary？

![image](https://user-images.githubusercontent.com/12285582/128995609-a6b27fe1-b737-441a-8078-fbb4b31918f8.png)

[2021-08-11 10:23] DennisBergemann commented on #4100
I believe your code is a great one , but some things have changed i think, so it is a complete new one and not an followup.
My code from before can not compile with your work, so have to start from the beginnig.

thanx for your help

[2021-08-11 10:23] #4100 closed

[2021-08-11 21:33] michael-hawker commented on #4174
@Sergio0694 is the field allowed to be set a default value like this:

[code]

I don't remember any of your examples with this. Was this a generation scenario you didn't think of?

[2021-08-11 21:38] azchohfi commented on #4171
This is also blocked by:
https://github.com/CommunityToolkit/WindowsCommunityToolkit/issues/4171

[2021-08-11 21:38] michael-hawker commented on #4176
@HppZ FYI you can use the 'copy permalink' feature to link to the code in the repository directly and insert as a snippet so that we get direct context.

If you follow the code path, then you'll see it gets passed to the the `LoadDataAsync` and `GetPagedItemsAsync` methods which developers can override or implement on their source and then potentially cancel:

https://github.com/CommunityToolkit/W

[2021-08-12 00:34] HppZ commented on #4176
How to cancel previous `LoadMoreItemsAsync` request() if I call `RefreshAsync` multiple times in a short time?

[2021-08-12 01:18] michael-hawker opened #4177 "[Feature] Update Issue Templates to use Issue Form template GitHub feature"
## Describe the problem this feature would solve
See https://github.com/dotnet/runtime/tree/main/.github/ISSUE_TEMPLATE 🤯

There are some new features of GitHub Issue Templates, such as providing direct link to other urls (like we could do that for discussions and stackoverflow potentially) as well as providing structure forms which would be handy for bug reports and features. 🙂

[2021-08-12 03:30] arcadiogarcia commented on #3693
Closing this now that the PR has been merged :)

[2021-08-12 11:03] Sergio0694 commented on #4174
@michael-hawker That is supported - source generators can only generate new code, so annotated fields will just remain exactly how they're defined, and using a field initializer like that is just standard C# syntax and therefore perfectly valid as well 🙂

This issue kinda strikes me as potentially being more about tooling in some way rather than about a bug in the source generator itself. The fact

[2021-08-12 11:12] Sergio0694 commented on #4174
So turns out the temporary fix is to just this to the .csproj file:

[code]

This is tracked in https://github.com/dotnet/wpf/issues/3404, with the fix also being bundled with .NET 6 and the new .NET 5 SDK. Closing this as it's an external issue not related to the MVVM Toolkit itself. Thanks @Goz3rr for the report though! 😄

[2021-08-12 11:12] #4174 closed

[2021-08-12 18:02] michael-hawker opened #4178 "Controls meta package is missing 'DeveloperTools' controls package"
https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/18b86b72c8691d25e3809d73679d2be81a89af00/Microsoft.Toolkit.Uwp.UI.Controls/Microsoft.Toolkit.Uwp.UI.Controls.csproj#L21-L29

We don't have AlignmentGrid/FocusTracker in here? I feel like the AlignmentGrid at least has more uses beyond devlopment, at least if we beefed it up a bit in the future.

Should we have this package as part of

[2021-08-12 18:20] #4068 closed

[2021-08-12 18:20] #4139 closed

[2021-08-12 19:10] michael-hawker commented on #3693
I was leaving it open so we remember to add support for this on our new shadows too 😉

[2021-08-12 20:41] #3910 closed

[2021-08-13 03:31] #4167 closed

[2021-08-13 10:03] Goz3rr commented on #4174
Thank you for the temporary fix 👍

[2021-08-13 23:12] #3620 closed

[2021-08-14 09:00] Nirmal4G commented on #4178
Don't add developer tools to controls meta-package, there's a reason for it to exist separately, let us keep it that way. But if we have more usage for `AlignmentGrid` beyond its intended ways, then we could copy/move it to Layout/Core controls package.

[2021-08-14 09:04] Nirmal4G commented on #4177
I'll see what I could come up with..., based on our needs. We could do this when we merge and expand our community toolkits from other teams.

[2021-08-15 02:12] nlogozzo commented on #4085
When can we see this fix in an update?

[2021-08-15 05:24] yoshiask commented on #4085
According to the 7.1 milestone, "mid-2021ish"

[2021-08-15 13:24] Nirmal4G opened #4180 "[Build] Centrally manage NuGet package versions"
## Describe the problem this feature would solve

NuGet package references are spread across project files. It is difficult to track versions and upgrade them properly. It would be simple and easier to manage the versions and the packages centrally, if there were a way to store versions, separately in a central location, away from the project files. In the future, you could also separate testing v

[2021-08-16 06:55] mmarinchenko commented on #3183
+1 for a shorter name. Just to illustrate the issue:

![Screen](https://user-images.githubusercontent.com/21952330/129523186-2df45376-743f-4063-bd18-4623471c9333.png)

[2021-08-16 17:19] michael-hawker commented on #4085
Since we updated to the latest WinUI 2.6 styles at the same time, we're waiting for WinUI 3 support for WinUI 2.6 styles before we can ship an update including this fix. Worst case they only ship the updated styles for WinUI 3 when they ship 1.0 later this year, but hopefully one of their next previews would contain them instead.

[2021-08-16 19:38] michael-hawker commented on #3183
@brminnick we could host MAUI controls in a UWP app as well (I mean the UWP versions of them at least)? That should theoretically work, eh?

Wondering if it makes sense for us to coordinate more on the samples side as move forward with revamping our sample app. Then we could just have it be the "Community Toolkit Gallery" app?

FYI @Sergio0694 for .NCT as well.

[2021-08-16 19:41] #4166 closed

[2021-08-17 06:20] mmarinchenko commented on #3183
There is also [Xamarin Community Toolkit](https://github.com/xamarin/XamarinCommunityToolkit). I think it can be renamed to MAUI Community Toolkit or something similar in the future. Therefore, the new name should contain a reference to WinUI or AppKit (unless, of course, we are talking about combining 2 toolkits under one name).

[2021-08-17 07:18] mmarinchenko commented on #3183
For reference: [XAML Controls Gallery](https://github.com/Microsoft/Xaml-Controls-Gallery) has been renamed to WinUI 3 Controls Gallery in Microsoft Store.

[2021-08-17 19:42] michael-hawker commented on #3183
@mmarinchenko yup we're working with the MAUI folks (who owned the Xamarin Community Toolkit as well), you can read about it on our [blog post here](https://devblogs.microsoft.com/ifdef-windows/welcome-to-the-community-toolkit/) and [as they announced as well](https://devblogs.microsoft.com/xamarin/the-future-of-xamarin-community-toolkit).

So, that's part of this discussion here is about working

[2021-08-18 06:19] mmarinchenko commented on #3183
@michael-hawker thanks for the info! It's nice to see the joint efforts 👍

[2021-08-18 13:16] nickrandolph opened #4184 "Validation source code generation not working for annotated field"
## Describe the bug

If you annotate a field with `ObservableProperty` along with validation attributes, the generated source code for the `ValidateAllProperties` method doesn't include all the properties.

## Steps to Reproduce

Create a class that inherits from `ObservableValidator` and has at least one field that has the `ObservableProperty` and validation attributes, eg:

[code]

Compile code

[2021-08-18 20:03] pavll opened #4185 "[Feature] Datagrid - Change ColumnHeader Background Color"
## Describe the problem this feature would solve

Option to change the background of your ColumnHeaders.

## Describe the solution

That you can change the background like the font size in the snippet below:

[code]

## Additional context

For example, I would have done an acrylic background as you see above but it does not affect the style of the header.

[2021-08-18 20:07] michael-hawker commented on #4175
Thanks @sylveon for the report! We probably need to switch to a weak reference pattern here, eh?

Thoughts on approach @XAML-Knight @Sergio0694?

@XAML-Knight did you want to pick this one up to work on?

[2021-08-18 20:08] michael-hawker commented on #4184
FYI @Sergio0694

[2021-08-18 20:09] sylveon commented on #4175
I don't think attached properties can store weak references. At least, not from the C++ side. Adding an Unloaded event handler which just cleared the attached property worked for me to solve the issue.

[2021-08-18 21:07] michael-hawker commented on #4175
@sylveon just worried about hitting [the unloaded bug](https://github.com/microsoft/microsoft-ui-xaml/issues/1900) and if there's more we can add to mitigate it potentially beyond that. 🙂

[2021-08-18 21:27] XAML-Knight commented on #4175
I'll take a look at this.

[2021-08-19 00:10] brinko99 opened #4186 "[Question] [DataGrid] Binding RowStyle Foreground/Background"
I'm new to UWP, coming from WPF.

I'm struggling to bind the DataGrid's `RowStyle` `Foreground` (and `Background`) properties. The scenario is a log message viewer where the row color indicates the log message severity.

[code]

The above produces a `NullReferenceException` in `DataGridRow.EnsureForeground()`. Examining the code, it's hard to see where the null reference might be coming from.

[Th

[2021-08-19 18:14] michael-hawker commented on #3122
See the PR with the new shadow system we have for Drop Shadows here: https://github.com/CommunityToolkit/WindowsCommunityToolkit/pull/4179

Super simple to use with Win2D, and not much harder to use with just composition!

[2021-08-19 18:20] XAML-Knight commented on #4175
I've opened a draft PR: #4187 , which implements the suggestion from @sylveon

Ancestor property will _eventually_ be set to null (i.e., the unload event fires multiple times, and as stated, will finally set ancestor to null).  However, still investigating the significance of the unloading bug #[1900](https://github.com/microsoft/microsoft-ui-xaml/issues/1900), and would we be better off finding a

[2021-08-19 18:35] michael-hawker commented on #4175
Yeah, thinking about it more, while we could setup a WeakReference internally, the usage pattern with Binding to grab the `Ancestor` would just have to unravel that anyway and then the bound property would still hold a strong-reference I think. It'd basically cascade up the chain of where we use it.

In the end we have to set the `Ancestor` value to `null` in order to release all the bound instanc

[2021-08-19 18:39] sylveon commented on #4175
In my use case I access a property of the ancestor control which is just an IObservableVector, so no reference loop happens at the usage site, the IObservableVector gets freed once both the parent control and the child control gets freed

[2021-08-19 18:45] michael-hawker commented on #4186
Binding in styles is not supported by UWP. Direct link to [Migration Notes in docs](https://docs.microsoft.com/uwp/api/Windows.UI.Xaml.Setter#migration-notes) and open [WinUI issue on this topic](https://github.com/microsoft/microsoft-ui-xaml/issues/719#issuecomment-494252661).

[2021-08-19 19:22] brinko99 commented on #4186
Wow... fundamental limitation indeed. And this looks to be the same for WinUI 3 :-(

Thanks for the quick answer.

[2021-08-19 19:22] #4186 closed

[2021-08-19 21:06] michael-hawker commented on #4186
@brinko99 yeah, hopefully when they get to the backlog of items for WinUI 3, after 1.0+, it'll be on the list. WPF compat is certainly on their radar. I've tagged that issue with the appropriate label for that as it was missing.

[2021-08-20 18:16] omikhailov opened #4188 "[Feature] Add Currency format to TextBoxExtensions"
## Describe the problem this feature would solve

[TextBoxExtensions](https://docs.microsoft.com/en-us/windows/communitytoolkit/extensions/textboxextensions) has support for [Decimal](https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.uwp.ui.textboxextensions.validationtype?view=win-comm-toolkit-dotnet-7.0) validation type, but this kind of validation does not allow currency signs, e.g.

[2021-08-23 20:28] azchohfi opened #4190 "Test_ConstrainedBox_AllInfinite_AspectBothFallback fails on high DPI"
## Describe the bug

Test_ConstrainedBox_AllInfinite_AspectBothFallback fails on DPI other than 100%.

Failed Test_ConstrainedBox_AllInfinite_AspectBothFallback [45 ms]
  Error Message:
   Assert.AreEqual failed. Expected a difference no greater than <0.01> between expected value <493.6666564941406> and actual value <493.3333435058594>. Actual width does not meet expected value of 493.666656494140

[2021-08-23 22:08] XAML-Knight opened #4192 "Weather toast notification not appearing on non-primary monitor"
## Describe the bug

When running the Sample App on a monitor that is **not** considered to be your primary monitor, navigate to the WeatherLiveTileAndToast sample page, click the 'Pop Toast' button, and observe that no toast notification appears.

- This is happening in both the Store Sample App, as well as with newer code (WinUI 2.6.2).

- [ ] Is this bug a regression in the toolkit?  If so, wha

[2021-08-23 23:03] XAML-Knight opened #4193 "ViewportBehavior logging events only fire once"
## Describe the bug

When interacting with the `ViewportBehavior `Sample page, notice that the events that log the user interaction (i.e., element is scrolled into view, then scrolled out, then back in, etc.) only get logged **once** to the Log display.  After the visual/UI element is scrolling _into_ view, and then _fully_ in view, no more logging occurs, regardless of user interaction.

- [ ] Is

[2021-08-24 10:16] vgromfeld opened #4194 "[Feature] Prevent InAppNotification from disappearing when hovered"
## Describe the problem this feature would solve
The `InAppNotification` control is automatically hidden after the expiration of the notification duration. The durations we are hardcoding in our applications may not be long enough to allow the users to fully read the message. We should have a way to keep the notification visible for a longer time if the user wants/needs it.

## Describe the soluti

[2021-08-24 18:01] #4190 closed

[2021-08-25 07:48] Marv51 commented on #4080
Any update on this? I'm still seeing this crash in 0.8.2

[2021-08-25 23:03] michael-hawker opened #4196 "Some 1903 APIs not Guarded"
## Describe the bug

There are a few instances where we're exposing `XamlRoot` and `UIContext` in parameters to methods which won't work on our min version of 1809 as those APIs were introduced in 1903. We need to ensure we have a way to call these on 1809 still.

For instance:
- SystemInformation.TrackAppUse:

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/83a5bce011a51880f446d9

[2021-08-27 15:31] dpaulino opened #4199 "[Feature] Conditional tooltip attached property"
## Describe the problem this feature would solve

When developing my UWP apps, there are times when I only want to show a tooltip based on certain conditions. For example, if I have a textblock, I normally don't want to show any tooltip. But if the textblock gets trimmed for some reason (such as when user switches to 225% text scale for a11y), then I want the textblock to show a tooltip. So this c

[2021-08-27 23:09] #3122 closed

[2021-08-30 21:12] #4121 closed

[2021-08-31 16:03] #3607 closed

[2021-08-31 16:06] #3693 closed

[2021-08-31 16:08] michael-hawker commented on #3643
@robloo I know some of these were fixed in #4134, are they all done as part of that or are there some remaining? Should we split off what's left into a new issue or leave this one for tracking?

[2021-08-31 16:16] michael-hawker commented on #3473
I think the main thing here is that with `Slider` you can set the tick and steps independently, so the tick marks can be shown, but you can snap at them or other points in-between.

I think we'd want to first mirror that behavior in RangeSelector and not deviate from it. So I think this is really just about adding the `TickFrequency` and `TickPlacement` properties?

But @hansmbakker then it sounds

[2021-08-31 16:20] michael-hawker commented on #2713
@sonnemaf I know your Voice Command PR got stuck as we had trouble understanding how permissions were behaving with existing apps (seems like a system bug we should diagnose). I think it's something we can move to our upcoming Labs environment at least to get more data from other folks with as we try and find the right folks to talk to about how those permissions should work when upgrading an app.

[2021-08-31 16:24] michael-hawker commented on #3628
@jp-weber moving this to our next milestone. Let us know when you can get back to it. Just want to make sure we validate how this effects the user experience for folks that are using it and upgrade. Thanks!

[2021-08-31 16:28] michael-hawker commented on #3265
@Sergio0694 this would be a .NCT thing. Wondering if we want a label for all these types of things so we can move them over to the new repo when we're ready? Think that's something easy for you to identify and label any existing issues on?

[2021-08-31 16:33] michael-hawker commented on #3872
@Sergio0694 I think these needed updated docs? We probably just want a one-pager about it to supplement the existing ones. Do you have a PR open on that already?

[2021-08-31 16:45] michael-hawker commented on #4039
This was fixed as part of #4182 with the fix from WinUI 2.6.2

[2021-08-31 16:45] #4039 closed

[2021-08-31 16:45] michael-hawker commented on #3788
I think this was related to the #4039, and as part of that I also resolved an issue where the error message wasn't displaying in the Sample app notification box. So going to close this.

[2021-08-31 16:45] #3788 closed

[2021-08-31 16:51] robloo commented on #3643
@michael-hawker This one is basically an epic for tracking. I always keep it up to date and I've already included the changes in #4134 (the boxes checked so far are for that PR).

[2021-08-31 16:51] michael-hawker commented on #3100
@harishsk do you know someone (if not yourself) that could help us investigate this? Thanks!

[2021-08-31 16:54] Sergio0694 commented on #3265
@michael-hawker We already have the `.NET Standard` label we've been using for general .NET APIs as well, would adding that to this issue work? 🙂

[2021-08-31 17:12] michael-hawker commented on #3161
@bolyb we don't have anyone to work on this at the moment, so happy for anyone to pick this up to investigate a fix.

In the meantime, maybe something could be done with the `PreparingCellForEdit` event like this example for a TextBox:

[code]

Not sure if a `ComboBox` can be requested to be opened programatically?

[2021-08-31 17:35] sonnemaf commented on #2713
Hi @michael-hawker,

I would love to start on the development of some new Behaviors in October. September is very busy. Is that ok?

It is ok to move the  Voice Command PR to the new Labs environment. Not sure what the Labs environment is/will-be. I will learn it on the way.

Fons

[2021-08-31 17:36] michael-hawker commented on #2942
@harishsk same here?

[2021-08-31 17:44] michael-hawker commented on #3097
@shweaver-MSFT we should just validate how this scenario works with the new helpers in 7.1.

[2021-08-31 17:48] michael-hawker commented on #2816
@dpaulino @Sergio0694 think this is related at all to that other implicit animation issue you saw?

[2021-08-31 17:51] peteams commented on #3100
I do not believe TextBox has ever been supported. I believe the only controls supported are buttons and button-like controls. Things like buttons tend to perform an action when clicked that can be simulated through fixating gaze. A TextBox has a far richer set of interactions available, I do not believe there is a single simple action that you could define it to perform when fixated.

A fuller imp

[2021-08-31 17:59] michael-hawker commented on #3289
@marcpems any known issues being reported we should be aware of or has everything seemed good on your side?

[2021-08-31 18:00] michael-hawker commented on #3446
@andrewleader what did you want to do with this one? I've moved to our next milestone for now.

[2021-08-31 18:04] andrewleader commented on #3446
I don't have the bandwidth to further investigate (we never really figured out the root issue), and it unfortunately doesn't sound like this is impacting many people (so far only this one report, so low pri), so I currently don't have any plans to address this bug. Moving to the next milestone sounds good with me.

[2021-08-31 18:06] michael-hawker commented on #3738
We think this is fixed with the update to WinUI 2.6.2, just need to re-validate.

[2021-08-31 18:07] michael-hawker commented on #4049
@arcadiogarcia your PR addressed this right, we can close the issue?

[2021-08-31 18:13] michael-hawker commented on #3595
In 7.1 we added the [`IAlphaMaskProvider`](https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/main/Microsoft.Toolkit.Uwp.UI/Shadows/IAlphaMaskProvider.cs) interface to allow for custom masking and used with our new Attached Shadow implementation that is replacing DropShadowPanel.

[2021-08-31 18:13] #3595 closed

[2021-08-31 18:16] michael-hawker commented on #3100
Thanks @peteams for the background here, do you think you could open a PR to make a suggested edit for this info to the existing guidance [here](https://github.com/MicrosoftDocs/WindowsCommunityToolkitDocs/blob/master/docs/gaze/GazeInteractionLibrary.md)?

[2021-08-31 18:17] michael-hawker commented on #2713
Sounds great @sonnemaf, thanks! I'll be working on setting up Labs hopefully in September, so think our timings sound all aligned. No rush! Appreciate your continued enthusiasm! 🦙❤

[2021-08-31 18:32] michael-hawker commented on #3643
Thanks @robloo issues are used to generate release notes; so it could be good to have a separate one with the things fixed in 7.1 that we can close and have rolled into that list too.

[2021-08-31 18:35] arcadiogarcia commented on #4049
@michael-hawker  Sure, closing it!

[2021-08-31 18:35] #4049 closed

[2021-08-31 18:41] michael-hawker commented on #4021
Moving to the next milestone as we should be more focused on WinUI issues for that one.

[2021-08-31 18:42] michael-hawker commented on #4021
@sibille we did update the template for ListDetailView in 7.1 as part of #4197. We don't have an updated WinUI 3 build yet, but should in the future. Will be curious if that makes any changes to this issue or not.

[2021-08-31 19:16] robloo commented on #3643
Can we tag this as epic? Epics are handled differently and should be ignored by automated release notes in most cases. I won't have the time to manage a bunch of separate issues for the ColorPicker.

That said, the main fix in the PR already had a separate issue #4121. As mentioned in the PR, this issue is only related.

[2021-08-31 19:41] RosarioPulella commented on #3738
Tested, no longer an issue.

[2021-08-31 19:41] #3738 closed

[2021-08-31 20:34] michael-hawker commented on #3404
We should test this same scenario against the WinUI Expander to see behavior, if it exhibits the same issue, we should file an issue on WinUI and close this one since we'll eventually deprecate ours.

[2021-08-31 20:35] XAML-Knight opened #4207 "Dead link in Graph Toolkit Getting Started documentation section"
## Describe the bug

When trying to configure a blank UWP app to be able to use the Graph Toolkit, and after reading the Getting Started section on GitHub, you'll come a across what seems to be a helpful link, yet it leads to a 404 Not Found.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [ ] Can this be reproduced i

[2021-08-31 20:46] zateutsch opened #4208 "ColorPicker Bottom Shade Adjuster Resets Color to White"
## Describe the bug

Using the bottom shade adjuster while on the darkest shade resets the selected color to white.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [x] Can this be reproduced in the Sample App? (Either in a sample as-is or with new XAML pasted in the editor.) If so, please provide custom XAML or steps

[2021-08-31 20:51] michael-hawker commented on #4208
Thanks @zateutsch, I had mentioned this to @robloo before during the initial review. I don't think the memory tracking is on his feature board in #3643, so good to have an issue tracking it. Putting out to next milestone for now.

[2021-08-31 21:08] bolyb commented on #3161
Hi @michael-hawker

Thank you for your insight on this issue, I've created a [pull request](https://github.com/CommunityToolkit/WindowsCommunityToolkit/pull/4209) that should hopefully resolve this. In this scenario, after the first click to highlight the cell, the next click expands the DropDown. From my testing, I think the behavior creates a much more intuitive user experience.

I implemented t

[2021-08-31 21:32] michael-hawker commented on #3516
Our new attached shadow feature coming in 7.1 (available in `7.1.0-rc1` package now) should resolve these issues as they have and respect a `CornerRadius` property on the shadow itself which can be aligned to a UI Element.

[2021-08-31 21:32] #3516 closed

[2021-08-31 21:37] michael-hawker commented on #3161
Thanks for opening a PR @bolyb, we'll take a look at it soon! Definitely seems like a straight-forward fix; appreciate you digging into the code to find out where it could be applied!

[2021-08-31 21:40] michael-hawker commented on #4079
@azchohfi thoughts on this issue? I'm going to move it to our next milestone as we'll be more focused on WinUI specifically then.

[2021-08-31 21:46] michael-hawker commented on #3358
Thinking about this more, isn't this just our existing `StickyHeaderBehavior`?

[code]

[2021-08-31 21:51] michael-hawker commented on #3361
I feel like option 2 aligns more with how the new Attached Shadows behave. @Sergio0694 @JustinXinLiu @Ryken100 thoughts?

[2021-08-31 21:58] michael-hawker opened #4210 "New 7.1 Controls missing from package descriptions"
## Describe the bug
Looks like in the NuGet package description we're missing the new controls we've added in 7.1: ContrainedBox, MetadataControl, RichSuggestBox.

Probably some of the behaviors from the behavior package.

We should add them to the package description (without going over 4000 char limit).

## Steps to Reproduce

Steps to reproduce the behavior:

1. Open VS Package Manager
2. Find

[2021-08-31 22:01] XAML-Knight opened #4211 "Misspelling in Graph Toolkit home tutorial page"
## Describe the bug

One of the code samples ([2. Make a Graph request with the Graph SDK](https://github.com/CommunityToolkit/Graph-Controls#2-make-a-graph-request-with-the-graph-sdk)) has a code misspelling (`ProviderMananager`).

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [ ] Can this be reproduced in the Sampl

[2021-08-31 22:01] michael-hawker commented on #3186
Wonder if this is related/duplicate of #2248?

[2021-08-31 22:05] XAML-Knight commented on #4211
Also, further be aware of the issue a developer trying to compile this code in section 2 (as it's written) will face with trying to `await `the last line of code (I can open up a new issue, for this, if I need to)

[2021-08-31 22:13] XAML-Knight commented on #4211
... and further down in this section, in [Make a Graph request manually](https://github.com/CommunityToolkit/Graph-Controls#make-a-graph-request-manually), there is some code that expects the user to know to install the  `Newtonsoft.Json` NuGet package.  **_Most_** developers will know to do this.  A precedence has already been set in this tutorial, to list known NuGet packages that will need to b

[2021-08-31 22:40] michael-hawker opened #4212 "Can't directly bind ObservableCollection to MetadataControl Items"
## Describe the bug

You can't directly provide an `ObservableCollection` to the `MetadataControl` as it expects a `List` specifically (even though it supports observing).

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

[code]

[code]

## Expected behavior

Able to bind. Think we need to try using `IList` instead.

## S

[2021-08-31 22:54] michael-hawker opened #4213 "Can't easily Map collection from .NET Standard to MetadataControl?"
## Describe the bug

Since we've been doing a lot more with the MVVM Toolkit lately, I was thinking about the scenario where your data model may be coming from .NET Standard. E.g. having a list of items for tags or something.

Currently, you'd have to hard create a new list of `MetadataItem` from that list and make sure you observe any changes to re-map yourself.

It'd be nice if we could take in

[2021-09-01 00:10] zateutsch opened #4214 "AttachedDropShadow Doesn't Update on Position or Visibility changed"
## Describe the bug

- [ ] If you change the visibility to "Collapsed" of an element with a shadow and then resize the window, the AttachedDropShadow will remain at the elements past position when visibility is set to "Visible"

- [ ] If a resize of another element in the view moves an element with an AttachedDropShadow, the shadow doesn't get recast until the window is resized.

## Steps to Repro

[2021-09-01 00:10] robloo commented on #4208
Yea, this was called out before. Thanks for pointing this out in real-world usage.

I did initially think this needs to be fixed by remembering the last color before white. However, just operating in HSV should be enough (and a lot easier / more elegant). The Hue doesn't change in the bottom preview and accent colors area (it behaves just like a Value-channel slider with 5 discrete steps). This me

[2021-09-01 00:31] robloo commented on #3643
In the next update I plan to tackle all features/issues except eyedropper and recent colors palette. Assuming the DropShadow replacement API is ready that will be included too.

Target for completing this will be September.

[2021-09-01 07:39] vgromfeld commented on #4213
Agreed. We are actually using the following converter function in our code when binding out .Net standard VM to the UI. This allows us to only expose standard types from the VM layer and have them converted to `MetadataUnit`. `ICommandWithLabel` is a custom interface which adds a label to an `ICommand`.

This could be something we add in the toolkit as a basic helper for the `MetadataControl`

[co

[2021-09-01 14:00] OneFingerCodingWarrior opened #4215 "AttachedDropShadow overridden by ImageEx Stretch="UniformToFill""
DropShadowPanel works well

[code]
## Expected behavior

AttachedDropShadow works like DropShadowPanel

## Screenshots

![image](https://user-images.githubusercontent.com/53161726/131684942-8efb1071-99fa-4852-a775-38ec5032bc69.png)

[2021-09-01 15:35] OneFingerCodingWarrior commented on #4215
looks like it do relate to Stretch="UniformToFill"
[code]
![image](https://user-images.githubusercontent.com/53161726/131700695-f287283a-0606-41c7-8015-dab3fb8a0e30.png)

[2021-09-01 16:27] michael-hawker commented on #3643
Thanks @robloo yeah, DropShadow API is shipping with 7.1 that we're closing out this week, so it'll be there for you in September. The main thing with the EyeDropper is that control we have in the Toolkit currently is part of our Win2D Media package, so that'd be a hard dependency to add, so we may have to think about how that interaction works. Beyond that though, the composition based drop shado

[2021-09-01 17:07] michael-hawker commented on #4215
Thanks for the report @OneFingerCodingWarrior, I'll play with this a bit and see if I can figure out what's going on. I wonder if the position of the ShadowTarget grid makes a difference here too... 🤔

[2021-09-01 20:05] RosarioPulella opened #4216 "MVVM Source Generators: ObservablePropertyAttribute on member var named `value`"
## Describe the bug
If you put the `ObservablePropertyAttribute` on a member var named `value` it successfully generates a source code for a property that does reference the member variable named `value` in the generated code as intended. Instead the member var named `value` gets shadowed by the property setter key word `value` and the value from the setter gets compared with its self and the memb

[2021-09-01 20:18] harishsk commented on #2942
Please take a look at:
https://github.com/MicrosoftDocs/WindowsCommunityToolkitDocs/blob/master/docs/gaze/GazeInteractionLibrary.md#gaze-concepts

And

https://github.com/MicrosoftDocs/WindowsCommunityToolkitDocs/blob/master/docs/gaze/GazeInteractionLibrary.md#statechangedeventargs-properties

Does this meet your needs? If not, can you please explain your scenario?

[2021-09-01 20:42] michael-hawker opened #4218 "🚨 7.1 Package Size Regressions"
## Describe the bug

Analyzing our package sizes between 7.1-rc1 and 7.0 stable has revealed some increases to our base package sizes, some minimal amounts can be expected from new features, but these seem more significant.

- [x] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

**Mar 16** - This is a report generated from a ne

[2021-09-01 22:41] Sergio0694 commented on #4216
Oh, whoops! I forgot to add `this.` here, good catch! 😄
Should be an easy fix at least!

[2021-09-02 09:05] czdietrich commented on #3872
@Sergio0694 So the tasks for "CanExcecute"-support are not checked. Does it mean it is currently not supported by the source generators?

[2021-09-02 09:21] Sergio0694 commented on #3872
@czdietrich That is correct, the current source generator support in the MVVM Toolkit is still to be considered in preview. We plan to fix all currently known bugs by the time we ship the 7.1 release, but not all planned features will be included by then. The general plan is to make it feature complete with the release after that, which should align with the MVVM Toolkit and the other .NET librari

[2021-09-02 17:24] hansmbakker commented on #3473
Thank you for getting back to this @michael-hawker!

I believe `TickFrequency` / `TickPlacement` only covers regular intervals, and I was looking for snapping at only specific values - e.g. not snapping at all except for those specific values.

I am not currently working on the app anymore and find it difficult to say from the top of my head what the solution should be - I think some discussion (i

[2021-09-02 19:24] #4216 closed

[2021-09-02 22:30] #3161 closed

[2021-09-02 23:27] michael-hawker opened #4223 "DataGridTemplateColumn should have independent edit events"
_Came from discussion here: https://github.com/CommunityToolkit/WindowsCommunityToolkit/pull/4206#pullrequestreview-745586724_

## Describe the bug

`DataGridTemplateColumn` is hard to customize as it expects to take DataTemplates nicely from XAML, but then has overrides for a subclass on its methods like `PrepareCellForEdit` and `CancelCellEdit` vs. having event based properties. To customize thi

[2021-09-02 23:45] duke7553 commented on #4223
@michael-hawker This sounds good to me, considering a user's natural tendency against subclassing DataGridTemplateColumn when:
- Other DataGridColumn derivatives likely won't require it for their standard use cases
- The DataGridTemplateColumn happily exposes a mechanism to take DataTemplates from markup

wrt. one of your proposed events on DataGridColumn, how would it differ from the [PreparingCe

[2021-09-02 23:46] #4096 closed

[2021-09-02 23:50] michael-hawker commented on #4223
@duke7553 yeah, I started writing this and then realized the parent DataGrid had a catch-all event. I just like the idea as a developer that I can just add an event to the one templated column I have without having to have some way of checking which column is the column being edited as in the first example I showed at the end of the proposal.

Overall a developer could use either approach still. T

[2021-09-02 23:57] michael-hawker opened #4224 "Mountain CSV file doesn't contain precise data"
## Describe the bug

Our DataGrid Mountain CSV file: https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/main/Microsoft.Toolkit.Uwp.SampleApp/Assets/mtns.csv

Doesn't contain all the precise dates. Would be good if we can fill in more month/dates for the list from https://en.wikipedia.org/wiki/List_of_first_ascents (though this list doesn't have them all and you have to watch out for

[2021-09-03 01:08] #2493 closed

[2021-09-03 02:51] JasonWei512 opened #4225 "MVVM Source Generators: CS1038 Error if [ObservableProperty] attribute is in a #region block"
## Describe the bug

Compilation fails If the Microsoft MVVM Toolkit source generator attribute [ObservableProperty] is in a `#region` block.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [x] Can this be reproduced in the Sample App? (Either in a sample as-is or with new XAML pasted in the editor.) If so, please pro

[2021-09-03 20:56] michael-hawker commented on #4225
FYI @Sergio0694

[2021-09-04 12:52] Nirmal4G commented on #4210
This might not be the best way moving forward. We should instead add a `ReadMe` to packages locally now that NuGet Gallery supports it. Move the detailed descriptions to the `ReadMe` and keep only the list of controls and a short description.

[2021-09-04 13:03] Nirmal4G commented on #4158
We also have a `ReadMe` support now too. We could update each package with its own `ReadMe` as well. We could do this along with #4210!

[2021-09-06 16:31] curia-damiano opened #4228 "[Feature] WindowsAppSDK 1.0.0-experimental1 support"
I would like to use the WindowsCommunityToolkit with WindowsAppSDK 1.0.0-experimental1.
Currently the NuGet package references Project Reunion 0.8, and this is incompatible with WindowsAppSDK.

Create a new version with dependency on WindowsAppSDK

To be able to compile my application with WindowsAppSDK 1.0.0.-experimental1

## Additional context & Screenshots

[2021-09-07 04:16] hawkerm opened #4229 "Source Generator needs new .NET lang version to be modified in project?"
## Describe the bug

More of a doc issue maybe? Seems like the Source Generators require the .NET Standard project to be modified to a newer language version than the default template:

[code]

## Steps to Reproduce

Steps to reproduce the behavior:

1. Open VS and create a new .NET Standard 2.0 Class Library
2. Add MVVM Toolkit package (7.1-rc1)
3. Start using source generators like `ObservablePr

[2021-09-07 09:43] Sergio0694 commented on #4229
Ah, yeah the generated code assumes that C# 9 is available in the target project 😄

We have a couple options regarding this:

1) Detect this from the generator, and automatically enable C# 9 in the target project if needed (and document this).
2) Leave the errors if the target project uses C# < 9, and document this in the docs as well.

I think option 1) would likely be the one making things easie

[2021-09-07 16:11] michael-hawker commented on #4229
Thanks @Sergio0694 is it hard to add a new analyzer, is this something you think we can do easily this week?

[2021-09-07 16:20] Sergio0694 commented on #4229
Not a problem at all, I'll see if I can do it later tonight. No worries for the 7.1 release schedule 😄

[2021-09-07 16:32] michael-hawker commented on #4228
As per the Discussion on WinUI 3 [here](https://github.com/CommunityToolkit/WindowsCommunityToolkit/discussions/3912#discussioncomment-1192249) we're waiting on WinUI 3 to support the WinUI 2.6 styling, as we've already updated our UWP based code to WinUI 2.6 for our upcoming 7.1 release.

Once we they ship bits that have been updated with the new styles, we'll release a new update. For now we onl

[2021-09-07 16:32] #4228 closed

[2021-09-07 16:46] michael-hawker commented on #4158
The Third Party Notice file is a legal document we just need to include. It's not something we need to put content into the readme for.

[2021-09-07 16:47] michael-hawker commented on #4210
Not sure if we want to have a readme for every package, this is mostly for folks to easily see a quick list of things in the package when finding the package on NuGet or in Visual Studio.

[2021-09-07 18:36] michael-hawker commented on #4215
Able to reproduce in the Sample App with this code:

[code]

It's specific to `ImageEx` though as using a regular image seems fine:

[code]

@OneFingerCodingWarrior is there a reason you're using ImageEx here over Image? Also, FYI you only need one `ShadowTarget` area for your app/page.

I was also noticing some weird behavior with ImageEx not showing the image properly in the sample app on load u

[2021-09-07 19:35] michael-hawker commented on #4215
Looks like for the Lazy Loading scenario the Visual State isn't moving to the `Loaded` state as the Image.ImageOpened event isn't firing until whatever interaction (like resizing) occurs. Not sure why this is the case. FYI @h82258652.

Since we can await the setting of the image source with the call to `SetSource` going to see if we can just invalidate the arrange of the image when we do that to g

[2021-09-07 19:47] michael-hawker commented on #4215
Using the Win2D shadow works fine in this scenario:

[code]

Though since it doesn't mask it doesn't work in the 2nd scenario, which is basically expected as ImageEx loads the Image within itself:

![image](https://user-images.githubusercontent.com/24302614/132401490-3d79e3f8-eab5-4f24-884e-fdd4123dc253.png)

I'm assuming this has to do with how the mask is being calculated for ImageEx as we get i

[2021-09-07 19:55] michael-hawker commented on #4215
I tried one last thing of setting our `ui:UIElementExtensions.ClipToBounds` on the Image in the ImageEx template, but that didn't actually seem to do anything for it. Is that expected @vgromfeld?

[2021-09-07 22:05] michael-hawker commented on #4215
For instance in this particular example, the workaround is just to put the Shadow in the outer grid anyway:

[code]

[2021-09-07 22:52] michael-hawker commented on #4214
![image](https://user-images.githubusercontent.com/24302614/132420335-c50a398d-40a1-4163-a45b-dcdc1160bd82.png)

It ignores scaling as well.

I tested the implicit animation sample which shows this off pretty well as a problem (though the `AttachedCardShadow` works much better (as expected)).

Here's the text XAML I was using:

[code]

[2021-09-08 00:17] Nirmal4G commented on #4158
That's not what I meant.

[2021-09-08 00:31] Nirmal4G commented on #4210
We'll still have a brief list but a little bit verbosity won't hurt anyone. Infact, it could give users an intro into the Toolkit.

[2021-09-08 02:19] OneFingerCodingWarrior commented on #4215
I have lots of images to display on page ,ImageEx's EnableLazyLoading do improves the performance greatly.

I must use ShadowTarget for every ImageEx, because it's encapsulated in a control which is located in another assembly. If only one ShadowTarget is placed on the top of the page, the app crash without even raise a exception in VS(i checked all the exception settings)

I have a control which

[2021-09-08 06:55] michael-hawker commented on #4215
Thanks for the scenario @OneFingerCodingWarrior, can you take a dependency on Win2D? Using the `AttachedCardShadow` here would give you better performance since they're all squares, that doesn't require the ShadowTarget at all.

I'm curious about why a control from another assembly would cause the app to crash with the ShadowTarget, we're not doing anything too much differently here than we did wi

[2021-09-08 07:10] OneFingerCodingWarrior commented on #4215
I will try out AttachedCardShadow .
Maybe the crash caused by the lack of ShadowTarget element at runtime. After adding the  ShadowTarget element as the sibling of ImageEx, the app is back to normal

[2021-09-08 09:04] vgromfeld commented on #4215
Yes, `ClipToBounds` only ensure that the child elements will be displayed only with the parent bounds. It does not have any impact on images.

[2021-09-08 18:30] #3805 closed

[2021-09-08 18:31] #4229 closed

[2021-09-09 00:51] michael-hawker commented on #4218
Crunched some more numbers today. In the pipeline half the increase is due to how WinUI dependency seemed to be totaled. I'm not sure what has been happening there, but at least that can be discarded.

In some more practical tests, it seems like the optimizations at the AppX .NET Native level remain, so even if the Primitives package has increased, the overall impact is actually nil currently.

Up

[2021-09-09 00:55] OneFingerCodingWarrior commented on #4215
AttachedCardShadow works for me. Thanks

[2021-09-09 15:34] michael-hawker commented on #4215
Thanks for confirming @OneFingerCodingWarrior.

I'll move this out of the 7.1 milestone. We should probably re-work ImageEx at some-point, so this will be something to keep in mind.

I'll leave it open as it is weird, but it's really just a function of how these two specific Toolkit things are trying to work together and how they are functioning internally.

[2021-09-09 16:42] carldebilly opened #4235 "DataGrid: DataGridDetails height can grow, but never shrink"
## Describe the bug
When using the `RowDetailsVisibilityMode="VisibleWhenSelected"` mode on `<DataGrid />` and having a content with dynamic size, the content can grow but never shrinks. If the content shinks, the allocated space won't shrink.  **SEE ANIMAGED GIF BELOW, THE PROBLEM IS OBVIOUS**.

Is this bug a regression in the toolkit?  **DON'T THINK SO**

## Steps to Reproduce

Can this be repro

[2021-09-09 17:40] michael-hawker commented on #4218
Alright, did some more poking. An interesting fact it seems is like the `Microsoft.UI.Xaml.winmd` file wasn't being included in the packaged output with WinUI 2.5/WCT 7.0, but _**it is**_ with WinUI 2.6/WCT 7.1. So this seems like an inherent change to how WinUI was configured and something we can factor out of our numbers.

With this in mind, even our Primitives package and most others the size c

[2021-09-09 18:05] #4214 closed

[2021-09-09 20:29] michael-hawker commented on #4218
Discussing with the Toolkit team, we think this is acceptable for now. We'll monitor in the future, but at least have pin pointed this to something in the RichSuggestBox PR to investigate later. It is a bit odd as I don't think there's any super special APIs we'd be calling there when RichEditBox itself didn't have a bit impact on footprint.

Also, we need to continue to investigate how this works

[2021-09-09 20:29] #4218 closed

[2021-09-10 06:40] AkramMikrani opened #4237 "#EDFC_ransomware - Someone had attack my HP laptop data's with EDFC ransomware."
![IMG_20210908_144106.jpg](https://user-images.githubusercontent.com/70053006/132810944-092c94aa-cbde-46fd-a11e-2346a62e3767.jpg)

Can anyone help me decrypt my data.

How can i decrypt my data for free. please help me it is very important and urgent.

[2021-09-10 18:56] ShtibsDev opened #4239 "An option for disabling a button with the AsyncRelayCommand while the task is running."
## Describe the problem this feature would solve
Users can push the command button many times while the asyn task is already running, causing the task to trriger many times.

## Describe the solution

Adding a built in 'OnPropertyChanged()' for the 'IsRunning' property .
With a boolean in the constructor (somthing like 'bool disableWhileRunning = false) so the CanExecute property will bi allerted

[2021-09-10 20:45] Nirmal4G opened #4240 "[Build] clean-up build warnings from all projects"
Either suppress/ignore the known warnings or try to fix them. This will clean-up the log output from the builds.
This also provides a tension free dev experience for our contributors.

There are lots of warnings and lots of ways to fix and suppress them. This issue tracks all of them by Code or by project.

### Warnings by Project
**TBA**

### Warnings by Code
**TBA**

[2021-09-10 20:45] Nirmal4G commented on #4240
I'll update the description with the detailed report later in the 7.2 cycle.

[2021-09-10 20:45] Nirmal4G commented on #4240
I'll update the description with the detailed report in the beginning of the 7.2 cycle.

[2021-09-10 20:56] Nirmal4G commented on #4240
Reopen this issue when it's automatically closed by the 4125 PR.

[2021-09-10 21:11] michael-hawker commented on #4239
FYI @Sergio0694

[2021-09-10 21:13] michael-hawker commented on #4237
I'm sorry we can't help you with this issue here. Updating to the latest version of Windows can help protect you against these types of attacks in the future.

[2021-09-10 21:13] #4237 closed

[2021-09-10 23:12] Sergio0694 commented on #4239
This is already on my todo list for a future update, it's definitely one of the things that I plan to look into 🙂
We're just temporarily paused with work until after 7.1 is done and the .NET Community Toolkit is started, but we'll get to it!

[2021-09-12 08:48] hawkerm opened #4241 "Can't x:Bind an `int` to `AspectRatio`"
## Describe the bug

If you try and bind an int value to the `AspectRatio` of the `ConstrainedBox` then it won't convert as it can't cast it to double... Should provide implicit converters for `int` in addition to `double` to help this scenario where you want a `N:1` aspect ratio, where `N` is an `int`.

## Steps to Reproduce

[code]

[code]

## Expected behavior

Able to bind.

## Environment

Nu

[2021-09-13 10:39] ShtibsDev commented on #4239
Ok thanks for the update!

On Sat, 11 Sep 2021 at 2:12 Sergio Pedri ***@***.***> wrote:

[2021-09-13 17:28] yoshiask commented on #4032
I just ran into this issue today, even though I updated to 7.0.2 three months ago and successfully built Release packages multiple times since then.

[2021-09-13 18:08] Sergio0694 commented on #4212
@michael-hawker I'm a bit confused, is it possible you've tested this with an older build of the package? Because the property is already of type `IEnumerable<MetadataItem>` and not `List<MetadataItem>`, and as such your snippet works fine 🤔

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/5dfc5754a44bb5619fa083a4be4b5c240462e982/Microsoft.Toolkit.Uwp.UI.Controls.Core/MetadataCont

[2021-09-13 18:47] michael-hawker commented on #4212
I'm so confused. I created a test project... VS gave me the error message...

I just reloaded it just changed this bit back and it worked now... I'm so confused...

🤷‍♂️

[2021-09-13 18:47] #4212 closed

[2021-09-13 20:14] RosarioPulella opened #4244 "ListDetailsView: Won't focus list even if `ViewState` is not `ListDetailsViewState.Details`"
## Describe the bug
Because of this code the list is not found when we try to focus it.
https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/5dfc5754a44bb5619fa083a4be4b5c240462e982/Microsoft.Toolkit.Uwp.UI.Controls.Layout/ListDetailsView/ListDetailsView.cs#L406-L412

We try to focus the list here, if the `ViewState` is not `ListDetailsViewState.Details`
https://github.com/CommunityToo

[2021-09-13 20:32] RosarioPulella opened #4245 "ListDetailsView: Can report incorrect SelectedIndex if two items are the same object."
## Describe the bug

Because we bind the `SelectedItem` in the `ListView` to the `SelectedItem` prop in the `ListDetailsView` when a user clicks an item it raises the `OnSelectedItemChanged` method and it does not directly raise the `OnSelectedIndexChanged` method.
https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/5dfc5754a44bb5619fa083a4be4b5c240462e982/Microsoft.Toolkit.Uwp.UI.Con

[2021-09-13 20:36] RosarioPulella commented on #3546
Discovered this issue, could be related #4244. I am exploring a solution to both in my branch. #4222

[2021-09-13 22:39] michael-hawker commented on #3465
Took a quick look at this. Feel like if `_printCanvas` is null then it means the `PrintHelper` has already been disposed, as that's the only time it's cleared from its initialization. But then this is only called after a Print has been completed (either successfully or not), so it'd be weird for it to be cleaned-up in-between. Could this be a case of a print being initiated and then the app closed

[2021-09-14 16:32] michael-hawker commented on #4245
Does that even work in `ListView`, it's usually odd for a collection to contain two copies of the same object?

In either case, if we need the index, we probably don't want to use `Items.IndexOf(Item)` and instead use `IndexFromContainer(ContainerFromItem(Item))` that may also handle this edge case?

[2021-09-14 17:21] XAML-Knight opened #4246 "[Feature]"
## Describe the problem this feature would solve

Unit tests, when ran by the build script, do not pass, whereas they *do* pass when run with Visual Studio Test Explorer.

## Describe the bug

Steps to reproduce the behavior:

1. Run unit tests for PR #[4236](https://github.com/CommunityToolkit/WindowsCommunityToolkit/pull/4236) via the build script (i.e., not in Visual Studio Test Explorer)
2. Er

[2021-09-14 17:51] #4029 closed

[2021-09-14 18:41] michael-hawker opened #4247 "[Feature] Markup Extensions for WinUI 2.x"
## Describe the problem this feature would solve

We have some great icon based [Markup Extensions](https://github.com/CommunityToolkit/WindowsCommunityToolkit/tree/main/Microsoft.Toolkit.Uwp.UI/Extensions/Markup) in the Toolkit. However, they only work for System XAML controls as WinUI 2.x has their own fork of the base `IconSource` type elements. This means they can't mix and match. 😟

## Descri

[2021-09-14 22:37] michael-hawker opened #4248 "TokenizingTextBox exposes InterspersedObservableCollection instead of ObservableCollection"
## Describe the bug

The original intent of the TokenizingTextBox was to not expose the internal collection type of `InterspersedObservableCollection` and by providing an `ObservableCollection` to the `ItemsSource` property a developer could retrieve only the tokenized elements from the control for their datamodel (or provide them as a pre-population/rehydration on a form).

A developer could then

[2021-09-14 23:39] michael-hawker commented on #4248
I've at least started on a fix for the sample itself to work-around the issue here: d528479b09037a85682b0346e12454b0369225d9

I think it's going to be tricky to resolve out-right though as `ItemsSource` is automatically picked up by the `ItemsPresenter`, so we need it to be the full collection vs. what we want exposed through the property externally...

I'm not sure what alternatives we may have h

[2021-09-15 19:57] #3253 closed

[2021-09-15 20:48] XAML-Knight commented on #3467
Behold the sparkly new dismiss button (at 225%):
![image](https://user-images.githubusercontent.com/86266896/133507310-2a744c44-95e6-4781-bff2-41773322574f.png)

[2021-09-15 21:08] michael-hawker commented on #3467
@XAML-Knight nice, the buttons are part of the sample vs. the control itself, eh? Should we make our sample a bit more responsive as well? I'm assuming we restricted the button height or have a large margin somewhere in the data template in the sample?

[2021-09-15 21:27] XAML-Knight commented on #3467
Turns out the secret sauce is to apply a 4 pixel surrounding Padding to the dismiss button

[2021-09-15 21:46] michael-hawker commented on #3467
@XAML-Knight sorry I wasn't clear. I was referring to the "OK" and "Cancel" buttons in your screenshot which have their text clipped.

[2021-09-15 21:52] XAML-Knight opened #4250 "InAppNotification OK & Cancel button text is cut when using 225% text scaling"
## Describe the bug

The text in the OK & Cancel buttons of the `InAppNotification `control are cut when setting the text scale to 225% from Windows settings:

![image](https://user-images.githubusercontent.com/86266896/133513992-0b188b5f-424d-47e4-b2db-38af659b38b3.png)

... leads to ...

![image](https://user-images.githubusercontent.com/86266896/133514320-5950da98-283e-41d6-a829-532bd59570ef.pn

[2021-09-15 21:59] XAML-Knight commented on #3467
Yes, this pair of buttons also has issues.  I applied the same fix to these pair of buttons that I did for the Dismiss button (the padding), but it was not working.  This issue (3467) specifically calls out the Dismiss button.  For OK & Cancel, I then opened up a new issue: #4250, to continue tracking.

[2021-09-15 22:00] XAML-Knight commented on #3467
Opened a PR for the Dismiss button:  #4249

[2021-09-16 06:58] rudyhuyn opened #4252 "ConstrainedBox crashes with all cultures not using '.' as the decimal separator"
## Describe the bug

`ConstrainedBox` crashes with all cultures not using '.' as the decimal separator.

## Reason

`ConvertToAspectRatio` in `AspectRatio` uses  `Convert.ToDouble` which is region/culture-sensitive.

The method will crash if you try to parse "1.666" if the region is France, Italy or other regions not using '.'  as the decimal separator.

Instead, the method should use:
`double val

[2021-09-16 15:09] omikhailov opened #4254 "[Question] DataGrid and System.Reflection.MissingMetadataException: 'Windows.Foundation.IReference`1<Double>'"
Hello!

I have the following problem: I changed hardware, installed the latest Windows updates and also updated the WCT and WinUI 2 packages, and now after starting the application in Release mode, it fails. In Debug mode with enabled Optimize Code and .Net Native Toolchain options, the following exception is thrown in GetXamlTypeByType() within XamlTypeInfo.g.cs :
[code]
Default.rd.xml has follow

[2021-09-16 15:43] RosarioPulella commented on #4245
I still have to make a sample to test this.

I think it would be even better if we simply bound to the `SelectedIndex` of the list rather than the `SelectedItem` then we would lose no information of what the user clicked on.

[2021-09-16 17:12] michael-hawker commented on #4254
Hi @omikhailov the project looks a bit complex, can you point us to the project that should be run (you can also just attach zip files to issues directly usually)?

What specific versions of the Toolkit and WinUI are you using as there are various previews and stable releases available at the moment?

[2021-09-16 17:19] #4158 closed

[2021-09-16 17:19] #4210 closed

[2021-09-16 18:06] omikhailov commented on #4254
Hi, Michael!

Startup project is called Hamburger, and all projects within solution use Windows Community Toolkit 7.0.2 and WinUI 2.7

[2021-09-16 18:17] #4225 closed

[2021-09-16 18:19] #4252 closed

[2021-09-16 18:34] #4184 closed

[2021-09-16 18:34] michael-hawker commented on #4250
Actually, in testing #4249, I didn't notice this issue. Wonder why it was clipped in your screenshot... hmm

[2021-09-16 21:55] michael-hawker opened #4257 "ListDetailsView steals focus away when user clicks in details"
## Describe the bug

Found this while testing #4255, but behavior is the same with the new code from that PR as it was in 7.0, so just creating a new bug for tracking in next release.

Basically, it appears the first time after the ListDetailsView has loaded, if you click on a `TextBox` added to the details content of the control, the focus will switch back to the list instead of staying in the Te

[2021-09-16 22:03] #3100 closed

[2021-09-16 22:04] #3546 closed

[2021-09-16 22:04] #4244 closed

[2021-09-16 22:05] #3467 closed

[2021-09-17 01:24] Nirmal4G commented on #4240
The PR attached doesn't clear all the warnings, some are left. So, keep this issue open.

[2021-09-17 01:41] gfreudenberger commented on #4210
Thx

[2021-09-17 19:26] XAML-Knight opened #4258 "ListDetailsView runtime error in Store App when spawned from VS Debug hyperlink"
## Describe the bug

When reviewing a Toolkit Docs PR, encountered a runtime error, when loading the ListDetailsView in the Store App.  This error was encountered when following a hyperlink in a VS Toolkit debug session (i.e., not from within the Store App itself), which spawned the Store App with ListDetailsView as a query string value.  The hyperlink in question is in the Documentation section o

[2021-09-18 17:02] huoyaoyuan commented on #4171
@michael-hawker This is currently blocking existing WinUI applications to try the new alpha.

What I need is a package with 7.0 feature (thus depending on features of WinUI/Reuion0.8) and recompiled for WinUI/WindowsAppSDK1.0 . It's OK to be alpha and sit on private feed. Cloning and forking the community toolkit is just too big work for the projects.

If we can migrate to the new package earlier,

[2021-09-18 23:02] kmgallahan commented on #4171
@azchohfi The Bootstrap.dll issue seems to of been resolved in the latest WindowsAppSDK preview release.

After that roadblock was resolved I then hit the next one in that the toolkit doesn't work, hence what led me to this issue...

[2021-09-20 19:47] michael-hawker commented on #4171
Thanks everyone for letting us know, we're aware that this has been a paint-point and are working towards, if anything, an interim solution.

As suggested this just maybe a more 'preview' type drop that supports the latest 1.0-preview but may be a bit wonky from still having the mixed styles from 2.5 vs. 2.6, at least until 1.0 ships.

@azchohfi has the AnyCPU issue https://github.com/microsoft/Wi

[2021-09-20 23:10] michael-hawker opened #4262 "NRE in Animation API"
## Describe the bug

Getting a Null Reference exception when navigating away from a sample page that is animating.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [x] Can this be reproduced in the Sample App? (Either in a sample as-is or with new XAML pasted in the editor.) If so, please provide custom XAML or steps t

[2021-09-20 23:14] michael-hawker commented on #4258
Yeah, we've seen this in the past, see https://github.com/CommunityToolkit/WindowsCommunityToolkit/issues/3788.

It's transient and weird though, as if I hit a key in the XAML view without changing the XAML, it loads and displays. There's some other oddity going on here somehow.

We can see if just removing the styles makes it more stable?

[2021-09-20 23:33] michael-hawker commented on #4258
I tried locally changing them to `StaticResource` (not sure why they were `ThemeResource`), that worked the first time. Will keep an eye on it as I test sample app for the release.

[2021-09-21 07:46] Dimigergo opened #4263 "AdvancedCollectionView ArgumentOutOfRangeException when remove the last element"
## Describe the bug

When I use an AdvancedCollectionView and remove the last element from the bound collection the following exception thrown: 'System.ArgumentOutOfRangeException' in System.Private.CoreLib.dll Index was out of range. Must be non - negative and less than the size of the collection.

- [ ] Is this bug a regression in the toolkit?

## Steps to Reproduce

- [x] Can this be reproduced

[2021-09-21 18:59] michael-hawker commented on #4258
So far this switch has been working in my testing

[2021-09-22 06:15] laolarou726 opened #4266 "Microsoft.Toolkit.MVVM IAsyncRelayCommand.IsRunning does not trigger property changed event"
## Describe the bug

IAsyncRelayCommand.IsRunning does not trigger property changed event in WPF.

## Steps to Reproduce

ViewModel.cs
[code]

View.xaml
[code]

When AsyncCommand is fired, binding of Button.IsEnabled will not be refreshed.

## Expected behavior

When clicked the button, the button should be disabled.

## Environment

- Windows 11 21H2
- Visual Studio 2022 Preview 4.1

NuGet Packag

[2021-09-22 10:31] Sergio0694 commented on #4266
Mmh it's not clear to me by just glancing at the code why that wouldn't work, the property changed events seem perfectly fine here. I'll try to create a repro on UWP when I have some time to see whether this is an actual bug or some WPF-specific quirk.

[2021-09-22 19:39] #4262 closed

[2021-09-23 00:41] #4258 closed

[2021-09-23 02:16] JonasLara commented on #3305
Nothing yet?  :(

[2021-09-23 09:26] AbdAlghaniAlbiek commented on #3516
Thank you all. I was following you on twitter, I saw a sample how to implement it in uwp application it is awesome 🔥

[2021-09-23 16:15] Strypper opened #4270 "Carousel swiping issue"
## Describe the bug

When scrolling through the carousel with
+ Touch panning
When I do a quick swipe => release my finger => then re-touch screen and keep scrolling => the carousel not moving
I have to lift my finger up and swipe again in this scenario
+ Touchpad windows 10 precision
 - The touchpad doesn't seem to work with the horizontal swipe but only vertical swipe
 - Event with vertical swip

[2021-09-24 03:18] laolarou726 commented on #4266
It may be because this class does not implement the INotifyPropertyCHanged interface.

[2021-09-24 12:43] rick-palmsens opened #4271 "Cannot reduce cell padding in DataGrid"
## Describe the bug
I unable to remove the padding in cells. I am however able to remove the padding in the column headers.

## Steps to Reproduce
Steps to reproduce the behavior:

1. Create a new WinUI App
2. Add DataGrid to MainWindow.xaml:
[code]

3. Add data to the DataGrid in MainWindow.cs:
[code]
}

4. Compile and run the application
5. See this:
![image](https://user-images.githubuserconten

[2021-09-24 13:07] svestin opened #4272 "[Bug]ObservableValidator.ValidateAllProperties() throws exception when no Validation rules exists."
Possible bug in Microsoft.Toolkit.Mvvm version 7.0.2 (running on .Net Framework 4.7.2):
(note: same behaviour in 7.1.0)

Windows 10 Enterprise 1909, 18363.1734
Visual Studio 2019, 16.11.3

Maybe I have misunderstood the usage of ObservableValidator.ValidateAllProperties(), but
when I run the example below, I end up with the unexpected exception:
“System.ArgumentException: 'Non-empty collection req

[2021-09-24 13:19] gfreudenberger commented on #4272
Ok

[2021-09-24 16:00] Sergio0694 opened #4273 "Setting the implicit animations to null doesn't reset the animations"
## Describe the bug

When setting any of the implicit animations properties (eg. `Implicit.Animations`) to `null` after having previously set them, that doesn't actually reset the animations, but instead it does nothing. This also means that implicit animations can't be removed from eg. a visual state setter by setting the value of the attached property to `{x:Null}`.

## Steps to Reproduce

Steps

[2021-09-24 16:23] laolarou726 commented on #4266
But this code is still not working in the WPF environment. I created a new WPF project and tried it. It also not working. Maybe it is because of the different binding methods between UWP and WPF?

[2021-09-24 16:29] Sergio0694 commented on #4266
It could be, sure. I'll look into it, but just haven't had the time yet. I should note though that in case the bug is indeed caused by a WPF specific behavior and not a bug with the command type itself, we won't be providing a fix for it. We'll see once I can get to properly triaging and reproducing this on my end next week 😄

[2021-09-24 21:08] michael-hawker commented on #4272
@svestin have you tried the newly release 7.1 package as well, does it exhibit the same issue?

FYI @Sergio0694

[2021-09-24 21:13] azchohfi opened #4275 "PipelineBrush samples are not working"
## Describe the bug
Loading of relative paths on the xaml bind files are not loading properly, so the DropShadowPanel is not working, for example.

- [X] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work: 7.1

## Steps to Reproduce
Run sample app, go to DropShadowPanel sample. Will not be showing the images properly.
- [X] Can this be reproduced in the

[2021-09-24 21:13] azchohfi commented on #4275
@Sergio0694 Can you help here? I believe you know these code paths better than I do.

[2021-09-24 21:13] svestin commented on #4272
@michael-hawker : Yes I see the same behavior in 7.1.0.

[2021-09-24 21:17] michael-hawker commented on #4275
I think the `ImageBlendBrush` and `PipelineBrush` samples show this better, the DropShadowPanel is working for me in UWP, but not those:

![image](https://user-images.githubusercontent.com/24302614/134740651-b3ceb941-7e77-4b58-838f-98ee2c2b50f9.png)

Maybe there's two different issues here?

[2021-09-25 02:19] #4273 closed

[2021-09-25 03:29] quangtrang1111 opened #4276 "[Feature] Support TextAlignment in DataGridTextColumn to allow align the text in rows to right"
## Describe the problem this feature would solve

Hi all,
I am implementing my app with a table has number rows.
So, I need to align the number value in rows to right.

## Describe the solution

I add optional property named TextAlignment in the class DataGridTextColumn.

## Additional context & Screenshots

Here is the result after I implemented TextAlignment

![image](https://user-images.githubu

[2021-09-25 12:23] DavidZidar opened #4278 "[Feature] ICommandGenerator should support canExecute relay command argument"
## Describe the problem this feature would solve

Currently there seems to be no way of using this source generator for relay commands that need to use the `canExecute` argument of `RelayCommand`/`AsyncRelayCommand`. This means that many commands will still have to be implemented the old way and now there are two ways of doing commands in a given project.

## Describe the solution

I imagine a pot

[2021-09-25 17:08] jp-weber opened #4279 "VS Designer crash: MissingManifestResourceException"
## Describe the bug

The VS designer crash when I use the toolkit controls in XAML. With version 7.0 all works fine.

[code]

- [x] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work: 7.0

## Expected behavior

## Screenshots

## Environment

NuGet Package(s):

Package Version(s): 7.1

Windows 10 Build Number:

- [ ] Fall Creators Update (16299)
- [ ] Ap