[2022-07-12 18:02] #4552 closed

[2022-07-12 21:57] SuperJMN opened #4600 "ObservableProperty doesn't work for generic classes"
### Describe the bug

This scenario isn't supported:

[code]

This is the generated code:

![image](https://user-images.githubusercontent.com/3109851/178601938-fa4cbe44-aacf-4cb1-9f32-effce12e029d.png)

This is the error that is reported.

*CS0246	The type or namespace name 'T' could not be found (are you missing a using directive or an assembly*

Error	CS0246	The type or namespace name 'T' could

[2022-07-13 09:32] SuperJMN commented on #4600
It seems this is fixed in 8.x (still in preview)

[2022-07-13 09:32] #4600 closed

[2022-07-13 10:05] eduardoagr opened #4601 "Add a 50 max limitation for the Textbox Mask"
### Describe the problem

Currently, there is no way to add a 50 max limitation for the Textbox Mask directly and you still have to put these characters manually

### Describe the solution

`         <TextBox
             Header="First Name"
             ui:TextBoxExtensions.Mask="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" />`

### Alternatives

_No response_

### Additional info

_No response_

##

[2022-07-13 22:02] michael-hawker opened #4603 "WinUI libraries should support down to 17763 (1809)"
### Describe the problem

Looks like with ProjectReunion originally only down to 18362 was supported, so that's what we used for our `CommunityToolkit.WinUI` packages. However, with the change and release of 1.x of the WindowsAppSDK [down to 17763 is supported](https://docs.microsoft.com/windows/apps/windows-app-sdk/#consistent-experience-across-windows-versions).

We just never noticed this chang

[2022-07-13 22:50] azchohfi commented on #4603
No concerns.

[2022-07-14 00:22] #4519 closed

[2022-07-15 08:14] vgromfeld commented on #4453
I realized that I never opened the WinUI bug 😓 so here it is: [ListViewBase.ItemClick can be triggered with a null ItemClickEventArgs.ClickedItem even if it does not contain any null item.](https://github.com/microsoft/microsoft-ui-xaml/issues/7382).

I initially added a second attached property to avoid a breaking change. A (configurable) behavior may be more convenient here. I don't have any str

[2022-07-18 01:29] GreenShadeZhang opened #4606 "On the Windows app SDK using CameraHelper, FrameArrived time execution for a period of time will not be triggered."
### Describe the bug

When I use wasdk 1.1.2, the processing of camera frame data, at first the FrameArrived event is normal, but after a period of time, the event does not trigger, I suspect it is was wasdk bug, but I will confirm it here first.
The uwp code is normal
like this
https://github.com/GreenShadeZhang/GreenShade.UWPDemo/tree/master/GreenShade.ML.EmoticonDetection

But when the code is

[2022-07-18 14:36] Suriman opened #4607 "ResourceNameToResourceString converter does not find the resource altough it exists."
### Describe the bug

Using the converter to obtain a named resource provokes a NullReferenceException.

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

No error should be produced and the string resource should be set to the TextBlock.

### Screenshots

_No response_

### Wi

[2022-07-18 15:19] sidharthakaryampudi opened #4608 "Can we customize the Expander Header Arrow Icon?"
Hi,

For the **UWP Expander** control.

We'd like to customize the header icon with **+ & - icons** instead of **Arrow**.

Please let me know how to do that.

Thanks,

[2022-07-19 14:00] #4608 closed, assigned to nobody

[2022-07-19 14:17] michael-hawker commented on #4606
@GreenShadeZhang I don't believe any of the Camera/Media stuff is enabled in the WindowsAppSDK yet (at least to the point it's exposed in the same way that we consume in the Toolkit). We've been waiting for them to enable support for these scenarios. I know that's definitely true for the `CameraPreview` which uses the `MediaPlayerElement`, but not sure what's supported or not 100% with the underly

[2022-07-20 14:30] RedX2501 opened #4610 "[Feature] Use CallerArgumentExpression in Guard"
### Describe the problem

The nuget for Microsoft.Toolkit.Diagnostics repostiory link to this repo. Not sure whether this is the correct place for this feature request as I can't find any code implementing Guard here.

Since I can't find the code I can't see if this has been implemented yet.

Searching the code and issues for `CallerArgumentExpression` has returned no results.

Currently it is nec

[2022-07-20 19:43] michael-hawker commented on #4487
Hey all!

`Windows Community Toolkit Labs` has launched! 🎉

- Blog Post: https://devblogs.microsoft.com/ifdef-windows/announcing-the-windows-community-toolkit-labs/
- Repo: https://aka.ms/toolkit/labs/windows
- Website: https://toolkitlabs.dev/

[2022-07-22 05:54] amulobaev opened #4611 "Build errors when using the class ObservableValidator (.NET SDK 6.0.302, WPF)"
### Describe the bug

Build fails when using the class ObservableValidator (.NET SDK 6.0.302, WPF)

[code]

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

Build didn't fail on .NET SDK 6.0.301

### Screenshots

![image](https://user-images.githubusercontent.com/7335786/18037

[2022-07-22 06:21] #4611 closed

[2022-07-22 08:19] GreenShadeZhang commented on #4606
Thank you very much for your answer. About the media playback control and video preview control is not porting too difficult to become a low priority?

[2022-07-22 11:58] mahfuzmr commented on #4513
In my case, I just use Converter as suggested in WPF, and that caused Parsing Error. Samples are below:

`  <controls:DataGridTextColumn Binding="{Binding UploadDate, Converter={StaticResource DateTimeConverter}}" Header="Date" />`

And in the code behind:

`    public class DateTimeConverter : IValueConverter
    {
        public object Convert(object value, Type targetType, object parameter, str

[2022-07-22 17:20] Arlodotexe commented on #4607
I've verified that the bug is there in the provided solution, and I've triaged this so we can begin work on it.

Additional information for the person who fixes this, this is the place where the nullref happens:
![image](https://user-images.githubusercontent.com/9384894/180491528-340cc54f-4098-4bce-bae9-38adbdb68888.png)

[2022-07-22 18:43] michael-hawker commented on #4606
Hi @GreenShadeZhang, I'm not 100% sure I'm following what you're asking here. The Windows App SDK team handles the underlying APIs we're using, so filing an issue on their repo and asking for clarity on what should be supported is a first step. They may clarify if it's supposed to work now, not supposed to work, or something they're planning to implement in an upcoming release or not.

From there,

[2022-07-22 21:09] LalithaNadimpalli commented on #4385
I am unable to reproduce the bug with the provided sample. It would be helpful if you could provide more info on this issue

[2022-07-22 21:40] LalithaNadimpalli commented on #4443
Hi, It would be great if you can supply steps to reproduce the issue to work on fixing it sooner.

[2022-07-22 22:34] LalithaNadimpalli commented on #4595
The link provided for the bug didn't work for me, Can you provide more info on the issue

[2022-07-22 23:30] h82258652 commented on #4595
Oh, sorry. I forget to make it public. It should works now. Could you try again? Thanks.

[2022-07-23 19:51] NGame1 opened #4612 "Microsoft.Toolkit.Uwp.UI.Controls V7.1.2 conflict with Microsoft-UI-Xaml V2.8"
### Describe the bug

1、After Update to V2.8, got the following error
PRI175: 0x80073b0f - Processing Resources failed with error: Duplicate Entry.
2、V2.7.1 works fine

### Regression

_No response_

### Reproducible in sample app?

- [X] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

Should compile without errors 😁

### Screenshots

_No respo

[2022-07-25 19:53] DanielGlick commented on #3463
@RBrid @anawishnoff

Is there any update here? I was going through my open issues and noticed this is still here. I would at least like to know if you are planning to fix this. If not I am in favor of closing it since on our end we have a suitable workaround.

[2022-07-26 15:51] GNFulLT opened #4613 "Microsoft.Toolkit.Uwp.UI.Controls / Runtime Component / XAML Parsing Failed"
### Describe the bug

I am trying to use DropShadowPanel in Windows Runtime Component UWP project.  It gives Xaml Parsing Failed error.

### Regression

_No response_

### Reproducible in sample app?

- [X] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

Should be compiled.

### Screenshots

![image](https://user-images.githubusercontent.com/73

[2022-07-26 15:57] GNFulLT commented on #4613
![image](https://user-images.githubusercontent.com/73427021/181052967-49aee792-fdda-4c35-96f9-479f86d2971a.png)
 Don't know why the xaml image didn't uploaded to screenshots. For any Microsoft.Toolkit.Uwp.UI.Controls component it gives sam exception.

[2022-07-26 17:13] LalithaNadimpalli commented on #4613
Hi..Can you provide the reproduce for the issue.

[2022-07-26 17:19] GNFulLT commented on #4613
Sure, I created repo https://github.com/GNFulLT/Drawer. ChartDraw.UWP is startup of project. And the code is in .TComponents , SqlView

[2022-07-26 17:27] LalithaNadimpalli commented on #4612
Can you share the reproduce of the issue. I have trouble opening the reproduce shared on Xaml UI GitHub

[2022-07-26 19:13] NGame1 commented on #4612
To be honest, No. 😐
Not because I don't want Because it's not happening on a dummy project I made 😑

But still, I have this issue with my main project. If you want I can provide you with a full build log.
Is that helpful?
But, I forget where was the option to set the output window log level.

[2022-07-26 21:52] Arlodotexe commented on #4612
@NGame1 Any additional information is helpful, but the most helpful thing is a minimal repro.

Minimal repros allow us to diagnose the issue much faster and gives us assurance that it really is a bug with the Toolkit or Microsoft.UI.Xaml.

[2022-07-26 21:54] NGame1 commented on #4612
@Arlodotexe Nice to meet you here.
Unfortunately, I don't know why it doesn't happen on a new project. I can send you the full project privately.
It's happening on the next Winsta version, and the source code is not really minimal.

[2022-07-26 22:01] Arlodotexe commented on #4612
From MagicAndre1981 [in the linked issue](https://github.com/microsoft/microsoft-ui-xaml/issues/7397#issuecomment-1191686250):

@LalithaNadimpalli Maybe this is part of the problem, we could try using this to repro the issue on our end.

[2022-07-27 00:30] OneFingerCodingWarrior commented on #4612
I can repro the issue on new project with my two computers.
![image](https://user-images.githubusercontent.com/53161726/181134394-efde3550-3139-4ff3-858a-62394b169a93.png)
Microsoft.NETCore.UniversalWindowsPlatform 6.2.14
Microsoft Visual Studio Community 2022 (64-bit) - Current
Version 17.2.5

[2022-07-27 00:47] OneFingerCodingWarrior commented on #4612
It's just a simple new project with two nuget packages.
I can download and compile the project without any trouble.
I upload the sample project again
[App3.zip](https://github.com/CommunityToolkit/WindowsCommunityToolkit/files/9194112/App3.zip)

[2022-07-27 01:22] OneFingerCodingWarrior commented on #4613
I download the project , build with no error.
![image](https://user-images.githubusercontent.com/53161726/181139594-92798315-5fb0-42cf-a1af-a9cd36674cd3.png)
Microsoft Visual Studio Community 2022 (64-bit) - Current
Version 17.2.5

[2022-07-27 14:42] NGame1 commented on #4612
your screenshot helped me out in finding a workaround.
Add all these dependencies in all projects (Just in those you need not really all class libraries)
Microsoft.NETCore.UniversalWindowsPlatform 6.2.14
Microsoft.Toolkit.Uwp.UI.Controls V7.1.2
Microsoft-UI-Xaml V2.8

Adding one of them to the main project and the other one to the other class library pr project is the main cause of this problem.

[2022-07-27 14:44] GNFulLT commented on #4613
It is really interesting because I tried another computer too and it gave the same error. I also updated Visual Studio 22 to Version 17.2.5 but it keeps giving the same error. Did you do anything additional after installation? I am using Windows 11 Home Single Language 21H2.

[2022-07-27 14:54] OneFingerCodingWarrior commented on #4613
I do a little change to the project, retarget minimum SDK version to 19041

[2022-07-27 15:12] GNFulLT commented on #4613
After I retarget the minimum SDK version to 19041 it fixed my issue but I didn't understand why it gives an error when targeting to version 17763 because documentation says the minimum targeting version is version 17763. Anyways it solves my issue, Thank you so much.

[2022-07-27 15:12] #4613 closed

[2022-07-27 18:04] MagicAndre1981 commented on #4612
what happens if you add Microsoft-UI-Xaml 2.8 to the class lib?

[2022-07-27 19:19] NGame1 commented on #4612
I think that should be documented somewhere.
I didn't know that there's such dependency between these two NuGet packages.
Even, it's not mentioned here in NuGet dependencies
<img width="654" alt="image" src="https://user-images.githubusercontent.com/19765248/181354367-ed667e17-5cc9-4ed1-9147-8cc19d20caa5.png">

[2022-07-27 19:43] MagicAndre1981 commented on #4612
if it [referenced ](https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/78161891471e366935a7475f4b85148471707280/build/Windows.Toolkit.UWP.Controls.targets#L8) it should appear as a dependency. Maybe nuspec generation bug ? Does adding it fixes it?

If not also try to add `<AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>` to generate redirects so that references to 2.

[2022-07-27 19:51] NGame1 commented on #4612
Yes, I added both NuGets to the Main project and class libraries, and the problem was fixed.
@OneFingerCodingWarrior Can you test it and report if this workaround works for you too or not?

[2022-07-27 19:57] NGame1 commented on #4612
@MagicAndre1981 I checked the NuGet package also

<img width="988" alt="image" src="https://user-images.githubusercontent.com/19765248/181360447-19777f3d-f828-4b5a-ad9b-60ce21378e1a.png">

The Microsoft-UI-Xaml >= 2.7.0 dependency didn't mention.
Seems there's something going wrong with the build or NuGet package-making process.

[2022-07-27 20:02] MagicAndre1981 commented on #4612
this "PackageReference Include" is buggy when detecting dependencies so I install them on my own like in packages.config days to have full control over dependencies.

Nice to hear that you got it working

[2022-07-27 21:24] blakepell commented on #2913
I'm not sure there is a pull request (not from me anyway).  I did have something working based off of the snippet above, but I ended up porting my app to WPF when .NET Core started supporting it.  The fix I used worked flawlessly (for me) but without a broad perspective of how this class is used elsewhere I didn't have the confidence say it couldn't wreak havoc for someone else.  As I recall, I en

[2022-07-27 22:26] LalithaNadimpalli commented on #4613
@OneFingerCodingWarrior Thank you for providing the sol. @GNFulLT I see you were able to solve the issue. I will try to get more info on the version

[2022-07-27 23:51] OneFingerCodingWarrior commented on #4612
It works for me too, thanks

[2022-07-28 00:02] OneFingerCodingWarrior commented on #4612
Maybe WinUI 2.8.0 should responsible for the bug, because UI.Controls 7.1.2 is happy to work with WinUI 2.7.1。
Besides ,i don't want to install WinUI2.8 all over around

[2022-07-28 16:44] #4581 closed, assigned to nobody

[2022-07-28 18:35] #4318 closed, assigned to HerrickSpencer

[2022-07-28 20:16] #4599 closed, assigned to nobody

[2022-07-28 21:29] #4323 closed, assigned to nobody

[2022-07-28 21:33] #4315 closed, assigned to andrewleader

[2022-07-29 11:22] MagicAndre1981 commented on #4612
but you should do it to prevent such issues. I had similar issues in the past and now install the dependencies on my own to fully control them

[2022-07-29 20:40] #4199 closed, assigned to nobody

[2022-07-30 07:56] billyzkid opened #4695 "StopAnimationActivity and StartAnimationAction dependency properties are incorrectly registered"
It looks like these two dependency properties are registered with the wrong owner type.

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/63cbb4a51bdef59083ccfc86bbcba41f966d0027/Microsoft.Toolkit.Uwp.UI.Animations/Xaml/Activities/StopAnimationActivity.cs#L32

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/63cbb4a51bdef59083ccfc86bbcba41f966d0027/Microsoft.Toolkit

[2022-08-02 00:56] DanyaSWorlD commented on #4357
Have same isuue. Any workarounds? I'm using version _7.1.2_ and _.NET 6.0_

[2022-08-02 18:14] #4178 closed, assigned to nobody

[2022-08-02 18:40] Sergio0694 commented on #4695
![PandaFacepalmGIF](https://user-images.githubusercontent.com/10199417/182449349-e59abc26-e892-4a8a-a492-d7065ad7c74c.gif)

[2022-08-02 20:13] lukedukeus opened #4712 "Unable to bind to TokenizingTextBox SelectedItems"
### Describe the problem

I have a TokenizingTextBox control that I would like to bind to like this:
`Page.xaml`:
[code]
`PageViewModel.cs`:
[code]

However this is not possible because SelectedItems is not a dependency property, and you can only access it in the code behind.

### Describe the solution

I'm not sure. That's why I'm asking here. Right now, the way I am doing it is by manually updat

[2022-08-03 07:30] HavenDV opened #4713 "Missing HeaderedContentControl.HeaderTemplateSelector property"
### Describe the bug

WPF and WinUI Expander have this property

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

It is necessary for some complex cases

### Screenshots

_No response_

### Windows Build Number

- [X] Windows 10 1809 (Build 17763)
- [ ] Windows 10 1903 (Build

[2022-08-03 14:58] phandrieu commented on #4583
@michael-hawker I've tried to enable mixed debugging, but havent't had any further relevant information.
Though, I found out that the following "Information" was reported in the event observer of windows right after the app crashed :
`Détecteur d'erreurs 1942354950714111180, type 5
Nom d’événement : FaultTolerantHeap
Réponse : Non disponible
ID de CAB : 0

Signature du problème :
P1 : UniversalWhi

[2022-08-03 17:31] Arlodotexe commented on #4453
Since this is an underlying platform issue and not a problem with the toolkit, we're closing this issue as "not planned".

Please continue in the [issue filed](https://github.com/microsoft/microsoft-ui-xaml/issues/7382) in the WinUI repo

[2022-08-03 17:38] #4487 closed

[2022-08-03 17:46] michael-hawker commented on #4583
@phandrieu thanks, can you share that minimal project with the bin/obj folders removed and attach here? Does it crash as soon as the app loads, do you interact with the canvas in a specific way?

[2022-08-03 19:54] Avid29 opened #4714 "Color Picker Alpha Slider doesn't show in light mode"
### Describe the bug

The checkers on the ColorPicker alpha channel don't show in light mode because a transparent white is still white over a white background.

### Regression

_No response_

### Reproducible in sample app?

- [X] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

The checkers should inverse colors for light mode.

### Screenshot

[2022-08-03 20:19] phandrieu commented on #4583
[TestWB.zip](https://github.com/CommunityToolkit/WindowsCommunityToolkit/files/9254702/TestWB.zip)
@michael-hawker Here it is, it crashes randomly while I'm writing on the canvas, it may take from 10 seconds to 10 minutes of writing, depending on an unknown factor... Hope it'll help 🤞
Thanks :)

[2022-08-04 22:18] michael-hawker commented on #4583
Thanks @phandrieu, @Arlodotexe you want to see if you can reproduce on your machine?

[2022-08-05 08:11] phandrieu commented on #4583
@michael-hawker Just in case I recorded a video of the small app crashing, but as I said in my previous posts, the number of lines needed to make the app crash is random from one time to the other...
Also, I sent the AppX file to my gf and it also crashes on her Surface Pro, so it doesn't seems to be caused by my specific device.

[Video link](https://user-images.githubusercontent.com/38033164/183

[2022-08-08 20:13] michael-hawker commented on #4713
WPF doc for reference: https://docs.microsoft.com/dotnet/api/system.windows.controls.headeredcontentcontrol.headertemplateselector

FYI @niels9001

[2022-08-08 20:17] michael-hawker commented on #4714
@Avid29 looks like you wanted to help out. 🦙❤ What assistance do you need?

[2022-08-09 16:04] pouchbunny opened #4715 "MAUI Button IsEnabled Binding"
### Describe the bug

I started noticing my buttons acting weirdly when trying to disable via bindings where in my current project even after setting IsEnabled binding value to false I can still click the button and fire off the binding command.

I created a new app to test and found out that despite when the app first starts and the binding is false, the button can still be clicked until I set it

[2022-08-09 16:17] michael-hawker commented on #4612
The Controls package is a meta package, if you look at the individual packages within them, then you'll see WinUI listed:

![image](https://user-images.githubusercontent.com/24302614/183704492-ae012664-32cd-487d-93f1-0424e703d7b2.png)

[2022-08-09 16:44] #4517 closed

[2022-08-09 16:56] michael-hawker commented on #4714
I wonder if this was addressed at all in https://github.com/CommunityToolkit/WindowsCommunityToolkit/pull/4502? Maybe if so, we can pull it out of there?

[2022-08-10 19:17] AathifMahir opened #4716 "Toolkit Doesn't Detect UnSupported C# Version"
### Describe the bug

Visual Studio Doesn't Specify the Error with Community Toolkit As a Dependency on Supported Lang Version

### Regression

7.1.2

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

Visual Studio Should Declare the Cause of this error by specifiying the dependency, In this Case C# Lang Ver

[2022-08-10 20:08] Arlodotexe commented on #4716
@AathifMahir Are you saying Visual Studio should prevent you from installing the Toolkit if you're using an unsupported C# version?

[2022-08-10 20:14] AathifMahir commented on #4716
Nope, I was saying the opposite of that, I mean community toolkit should present a language barrier or output the issue after Initialization or installation if possible, seems like I wrote the issue in a complex way. Let me edit that

[2022-08-10 21:42] Arlodotexe commented on #4483
I'll be taking over this issue from here.

I spent some time setting up a minimal repro, and wasn't able to get it to produce the bug.
Going back to the original discussion, I found a [repro](https://github.com/CommunityToolkit/WindowsCommunityToolkit/discussions/4478#discussioncomment-2148248) from the original author.

I'll be updating this comment with my findings as I go.

[2022-08-10 22:01] michael-hawker commented on #4483
@Arlodotexe the LoadImageFromFile function seems to be awaiting the setsource here:

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/7a9bf31975a084338b586d7fdfe3b1e077c8da33/Microsoft.Toolkit.Uwp.UI.Controls.Media/ImageCropper/ImageCropper.cs#L373-L382

Basically there's either something that's happening in the XAML system for image loading or our Source changed callback here:

ht

[2022-08-10 22:35] Arlodotexe commented on #4483
@michael-hawker I did try adding this code in the `OnSourceChanged` method:

[code]

Which caused some fun side effects that we don't want.

I think the root of the issue is definitely that the AspectRatio is being set while the image is still being loaded. There's a lot of code in `UpdateAspectRatio()` that is getting skipped and probably not called again once the image is loaded. Investigating i

[2022-08-10 22:39] Arlodotexe commented on #4483
!!!

That was it. Calling `UpdateAspectRatio(true);` inside of `ImageCanvas_SizeChanged` fixes the issue, that's all it took 🚀

[2022-08-11 03:36] JasonWei512 opened #4717 "[Feature] Set the image alignment of MarkdownTextBlock"
### Describe the problem

Currently I can't find a way to set the image alignment of MarkdownTextBlock.

The default alignment is "Left".

### Describe the solution

[code]

### Alternatives

_No response_

### Additional info

_No response_

### Help us help you

_No response_

[2022-08-11 18:08] meilleur102 opened #4718 "[ObservableProperty] on a model don't update the UI"
### Describe the bug

Hi!
I have a weird problem with the ObservableProperty.
When I create a property in the ViewModel, if I create a string, int, bool etc...or an ObservableCollection<MyModel> the Ui update without any problem.
When I create a properties of the Model itself it's not working.

For example

[code]
I Change of course the DataContext of the StackPanel and even the intellisence can s

[2022-08-12 02:42] HavenDV opened #4721 "ColorPickerButton Binding errors"
### Describe the bug

[code]
I am getting the following error messages:
However, everything seems to work.

Target confuses me, as if it's some kind of internal converter.
[code]
These errors occur at the moment the button is clicked, at this moment the converter is not called.
This is preceded by a call to IValueConverter.Convert with a non-null value, as is the initial initialization.

I wasn't

[2022-08-12 10:23] berkbb opened #4722 "Cannot Access Second Defined XAML Toolkit Expander on WinUI 3."
### Describe the bug

Hi,
I'm developing a WinUI 3 app with CommunityToolkit.WinUI.UI.Controls v 7.1.2. I used  this toolkit Expander for hide some UI elements. I hide / show elements with code behind when page size changed. My UI is :

[code]

I can access  Expander **x:Name="gitMetaExpander"** from function directly.  However I cannot access to Expander   **x:Name="chipsExpander"** from function

[2022-08-12 12:58] epy-remec commented on #4591
This bug has been fixed in the latest version of Winui (Winui 3 v1.1.4). For more information, see this post: https://github.com/microsoft/microsoft-ui-xaml/issues/7101

[2022-08-12 19:24] kmgallahan commented on #4718
Wrong repo:

https://github.com/CommunityToolkit/dotnet

[2022-08-14 07:53] boris1993 commented on #2992
Facing the similar issue here.
@Kyaa-dost any updates?

[2022-08-15 12:02] meilleur102 commented on #4718
MB sorry

[2022-08-15 12:02] #4718 closed

[2022-08-15 21:48] michael-hawker commented on #4722
@berkbb I'm not sure if I follow your issue, there's a lot going on here. Can you provide a minimal set of information related to the issue you're seeing?

If you're trying to access controls that are part of an item template, you can't do that with `x:Name` from code-behind. You would need to use the VisualTreeHelper APIs to take your container/sender and find the Expander instance within the tem

[2022-08-15 21:54] michael-hawker commented on #4721
@HavenDV I think you're saying there may be an issue with the initialization/converter being used in the template of the control?

Do you know if this is happening in UWP as well or just WinUI 3? It'd be great if we could define a test case in our unit tests which can replicate this issue and then find a solution.

I'll assign to you to take a look at. If we can find a solution in the next week/we

[2022-08-16 05:31] berkbb commented on #4722
Hi. I am out of city without any PC now.   I cannot send ant sample but you can clone the sample from  https://github.com/berkbb/BBCase. Thanks @michael-hawker

[2022-08-16 05:39] berkbb commented on #4722
I can access components from code behind via x:Name except  one expander. It is a little bit strange 😏 I commented the issue on MainPage.xaml.cs.

[2022-08-16 06:58] odp-remec commented on #4591
fixed in v1.1.4 of Microsoft.WindowsAppSDK

[2022-08-16 06:58] #4591 closed

[2022-08-16 15:19] niels9001 commented on #4714
Thanks @Avid29 ! I was able to reproduce the bug, and it seems that this only happens when switching theme - but once the slider gets moved it sets the right color. Since it's a minor bug and some UI updates being worked on by @robloo (https://github.com/CommunityToolkit/WindowsCommunityToolkit/pull/4502) we'll keep the fix for 8.0 😊.

[2022-08-16 16:03] robloo commented on #4714
In this case the slider selection circle is supposed to go back to the default text color (which does contrast correctly with the window background). Something isn't working correctly I think because that functionality was implemented.

[2022-08-17 01:52] AlexanderBlackman commented on #4606
I've had a similar problem, I guess it can wait until the MediaPlayerElement is updated in the SDK.

[2022-08-17 03:22] GreenShadeZhang commented on #4606
Recently I replaced the camera API of UWP with opencvsharp, and the effect is OK is that the CPU occupation is too high, I don't know if you have any good way.

[2022-08-17 16:25] Wandtket commented on #4406
I can confirm that this is still an issue in CommunityToolkit.WinUI.UI 7.1.2

Hopefully there's a fix for this soon as I would like to not have to proceed with DropShadowPanel.

[2022-08-17 18:18] Arlodotexe opened #4726 "StickHeaderBehavior.HeaderElementProperty has wrong containing type, incorrect summary."
### Discussed in https://github.com/CommunityToolkit/WindowsCommunityToolkit/discussions/4724

<div type='discussions-op-text'>

<sup>Originally posted by **h82258652** August 17, 2022</sup>
![Snipaste_2022-08-17_14-30-15](https://user-images.githubusercontent.com/5144550/185050190-0bebbedf-4cdb-4652-b42c-68d835ae8c56.png)
</div>

[2022-08-18 04:09] HavenDV commented on #4721
Yes, the problem manifested itself in both WinUI and UWP. SampleApp also shows this issue:
<img width="1901" alt="image" src="https://user-images.githubusercontent.com/3002068/185291437-4d730c57-de0a-4883-b453-8b9ab3b82e82.png">

As I understand it, I can add validation directly to existing test:
https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/main/UITests/UITests.Tests.Shared/Con

[2022-08-18 09:37] OleksiiD opened #4731 "TypeExtensions.ToTypeString does not support generic types definitions"
### Describe the bug

TypeExtensions.ToTypeString throws the ArgumentOutOfRangeException exception for generic type definitions.

    TypeExtensions.ToTypeString(typeof(IDictionary<,>))

The easiest solution would be to add the following code in the FormatDisplayString method:

[code]

### Regression

_No response_

### Reproducible in sample app?

- [X] This bug can be reproduced in the sample ap

[2022-08-18 20:51] michael-hawker commented on #4721
@HavenDV the `Page` part of the UITests happen at the app level, so you could have the page register to the event and change some element on the page based on success/failure. Then in the test file side just look for that element to have changed after invoking the change in the test to see the result as a simple form of communication between the two sides.

For the sample app, that's just running

[2022-08-18 21:00] michael-hawker commented on #4726
For some reason I thought we had an issue for this already some where? And was there more than one file this effected (as we have 3 header behaviors, right?)

[2022-08-18 21:03] michael-hawker commented on #3945
I feel like part of the problem could be the content template is a `TextBlock` accepting a binding, and then the content itself is being set as another `TextBlock`, so that could be causing some issues.

@niels9001 I know we're revamping this for 8.0, so something or us to keep in mind or at least potentially show some examples of overriding different parts of the templates.

[2022-08-19 03:57] HavenDV commented on #4721
Yes, the problem is present in the sample application, you only need to have a debugger attached to see it.
The same goes for tests. The DebugSettings.BindingFailed event won't fire without a debugger attached to the app (not tests), which is why I didn't add it to the PR

[2022-08-19 16:28] LalithaNadimpalli commented on #4695
Hi, Thank you for raising the issue. Created a PR with the necessary changes

[2022-08-19 16:32] LalithaNadimpalli commented on #4545
Hi, Thank you for raising the issue, I see the issue got fixed for MVVM toolkit now but under High Performance, we see info of MVVM toolkit now(In Sample App), but everything looks fine when we run the application in Main repo. This should be fixed when we release the next version of the sample app in store.

[2022-08-20 23:45] robloo commented on #4721
I confirmed this issue in the SampleApp.

![image](https://user-images.githubusercontent.com/17993847/185769590-03d819a3-f1f1-42bd-8c0e-c190cd6b4c71.png)

As stated, it is caused by the two-way binding of a nullable `GridView.SelectedValue` with the non-nullable `ColorPicker.Color` property. Going from ColorPicker -> GridView is fine but the convert back when there is no selection will attempt to

[2022-08-21 00:02] robloo commented on #4714
This issue dissapears as soon as the color value is changed (see video at the end of the comment). This means the `DefaultForeground` is getting correctly set upon theme changes (XAML looks fine as well).

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/7a9bf31975a084338b586d7fdfe3b1e077c8da33/Microsoft.Toolkit.Uwp.UI.Controls.Input/ColorPicker/ColorPicker.xaml#L121

The issue is

[2022-08-23 16:10] michael-hawker commented on #4603
We'll want to update to .NET 6 and the latest 1.1.4 WindowsAppSDK package.

[2022-08-23 16:23] #4726 closed

[2022-08-23 16:25] #4695 closed

[2022-08-23 16:39] fmaeseele opened #4734 "ToastContentBuilder.Show do not display expected content on Winui3/Unpackaged/.Net6 application"
### Describe the bug

Using this code:

[code]

Show a notification with text as expected: "My Title"

If I try to use an asset image like this:

[code]

Do not display a Toast Notification with "My Title" text and image, but instead a classic Windows Notification witch the name of my application and its icon, and the text "New notification". Please see following french screenshot:
![ToastNotifica

[2022-08-23 16:58] michael-hawker commented on #4607
May be related? https://github.com/microsoft/WindowsAppSDK/issues/1674

[2022-08-23 17:11] michael-hawker commented on #4607
@Suriman this is not an issue with the Toolkit, your key needs to be `Resources/ConverterResource` to look up the resource you want as part of the path to the resource file.

https://docs.microsoft.com/en-us/windows/apps/windows-app-sdk/mrtcore/mrtcore-overview

As seen in the raw API sample here as well:
https://github.com/microsoft/WindowsAppSDK-Samples/tree/main/Samples/ResourceManagement/cs-wi

[2022-08-23 17:23] azchohfi commented on #4607
I believe this is the "Resources" xml tag inside the file, not the file name itself. I'm not sure how the resource manager works on regards to bundling things in the final resource dictionary.

[2022-08-23 18:29] michael-hawker commented on #4607
@LalithaNadimpalli since you have the project setup, mind quickly testing what happens if you rename the `Resources.resw` file?

[2022-08-23 19:09] LalithaNadimpalli commented on #4607
Hello world is not displayed just shows an " A resource loaded via converter" msg on the output window

[2022-08-24 06:02] michael-hawker commented on #4607
@LalithaNadimpalli could you elaborate on that compared to the normal behavior? Trying to remember what the sample did by default, so I've missed the context somewhere. Thanks! (And what outputs the message in the output window, is it part of the repro code?)

[2022-08-24 10:48] xEsteem opened #4735 "IncrementalLoadingCollection not loading more data when GridView uses StaggeredPanel"
### Describe the bug

I am using an IncrementalLoadingCollection from CommunityToolkit.WinUI 7.1.2 to incrementally load a collection of images inside a GridView.
The logic was working fine, until i switched the panel of the gridview to use the StaggeredPanel CommunityToolkit,WinUI.UI.Controls.Primitives, and now when i get to the bottom of the scrollviewer, the IncrementalCollection does not requ

[2022-08-24 14:37] jackmcc08 commented on #3097
@zipswich thank you very much for the code you posted above, massively helpful for the task I was working on (uploading large files to SharePoint Document Libraries!

As a side note and for future users, ChunkedUploadProvider is now deprecated and I updated the above code to use LargeFileUploadTask, using the code illustrated in this Microsoft Documentation: [Link](https://docs.microsoft.com/en-us

[2022-08-24 14:54] dojo90 commented on #3584
Any news on this? I would like to connect the `IncrementalLoadingCollection` to a DataGrid, but no data is loaded at all..

[2022-08-24 15:51] LalithaNadimpalli commented on #4607
The string that the user stored looks like the screenshot attached.
![String](https://user-images.githubusercontent.com/63084352/186463325-3987da2e-2470-46ab-912c-ed2886e3ff41.png)
When we change the name from Resources.resw to let's say Resource.rsew and pass it in xml.cs file
 public string TestResourceKey = "Resource/ConverterResource"; the output window looks like
![Screenshot 2022-08-23 12045

[2022-08-24 18:37] StanlsSlav opened #4736 "Expander crashes the app when nested with an ItemsRepeater"
### Describe the bug

Having an `ItemsRepeater` in a `Expander` will crash the app. Other controls seem to work normally with the expander

[code]

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

The app will continue running and show the items from `ItemsRepeater` as with a

[2022-08-24 19:27] michael-hawker commented on #4607
Ah, so it does look like the path passed into the converter matches the file name, e.g. if the file was named "Foo.resw" you'd need to do "Foo/ConverterResource".

[2022-08-24 20:07] zipswich commented on #3097
Thank you for the tip, @jackmcc08.  I will update my code with LargeFileUploadTask accordingly.

[2022-08-24 21:03] LalithaNadimpalli commented on #4607
Yes, I did the same if eg: the file is abc.resw and then we pass the TestResourceKey=abc/ConverterResource it shows the output as
![Screenshot 2022-08-23 120458](https://user-images.githubusercontent.com/63084352/186522623-c2ea43a0-19ad-4478-96e0-0d545b15b2e2.png)
but if the file name is Resources.resw and then pass TestResourceKey=Resources/ConverterResource it shows the output
![Screenshot 2022-

[2022-08-24 21:30] michael-hawker commented on #4603
Right now the following dependencies have 18362 (19H1) as a minimum:
- ColorCode
- XAML Behaviors
- Win2D

[2022-08-24 22:13] Arlodotexe commented on #4612
👋 After some investigation, I found that this issue is still present when the Community Toolkit is removed from the equation.

It can be reproduced using only class libraries and the Microsoft.UI.Xaml nuget package:
![image](https://user-images.githubusercontent.com/9384894/186529792-8e1dc540-52b3-4056-ab32-064d41df1781.png)

After additional testing, the issue will go away if either of these cond

[2022-08-24 22:13] #4612 closed

[2022-08-25 06:52] dojo90 commented on #3584
I have exactly the same problem. New items are only reloaded when the application is resized but not when maximized..

![incremental](https://user-images.githubusercontent.com/17551597/186595199-ec63a862-bec0-4694-b913-29c2457685ad.gif)

[2022-08-25 13:41] KenionX opened #4737 "Memoryleak on DataGrid TableHeader"
### Describe the bug

Moving the mouse over the table headers on a DataGrid will cause an event handler leak, resulting in a Memoryleak on the control

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

No memory leak

### Screenshots

![devenv_2USYr4idPF](https://user-images.gi

[2022-08-25 16:29] michael-hawker commented on #4607
Looks like for x:Uid and the XAML PRI system it kind of assumes there'll be a `Resources.resw/pri` file, see [docs here](https://docs.microsoft.com/en-us/windows/uwp/xaml-platform/x-uid-directive#remarks):

[And here](https://docs.microsoft.com/en-us/windows/uwp/app-resources/resource-management-system):

The resources.pri file at the root of each package is automatically loaded when the [Resource

[2022-08-25 19:13] michael-hawker commented on #4357
Was able to reproduce this in UWP as well, so not specific to WinUI 3. It was overlooked with the change to `TwoPaneView` for this component in PR #3768, so setting `ListPaneWidth` before loading is just broken due to lack of `null` check in `OnListPaneWidthChanged`, fix should be:

[code]

[2022-08-25 20:33] Arlodotexe commented on #4736
Was able create a minimal repro of the issue using the steps provided: [App1.zip](https://github.com/CommunityToolkit/WindowsCommunityToolkit/files/9428100/App1.zip)

We'll look into fixing this as part of 7.1.3 or 7.2 release.

[2022-08-25 21:21] michael-hawker commented on #4734
FYI @vaheeshta

@fmaeseele you can also try the nightly packages https://aka.ms/wct/wiki/previewpackages? I believe the packages are actually agnostic, so the Uwp one should work from here I think still for WinUI 3? https://dev.azure.com/dotnet/CommunityToolkit/_artifacts/feed/CommunityToolkit-MainLatest/NuGet/Microsoft.Toolkit.Uwp.Notifications/versions/8.0.0-build.40

[2022-08-25 21:31] michael-hawker commented on #4735
Hi @xEsteem, none of the panels in the toolkit were built for virtualization which is required for the `ISupportIncrementalLoading` interface. So, this is by design. The `IncrementalLoadingCollection` was built to just help controls with support for that interface like the built-in ListView/GridView.

If you need a virtualized `StaggeredPanel` then you should be looking at using an `ItemsRepeater`

[2022-08-25 21:31] #4735 closed

[2022-08-25 21:33] michael-hawker commented on #4736
@StanlsSlav do you need the Expander in Left/Right mode? Otherwise, you should just use the built-in WinUI expander instead.

@Arlodotexe we plan to try and rebuild on top of the WinUI Expander for 8.0; so I don't think we should fix this unless it's something super trivial.

[2022-08-25 21:38] michael-hawker commented on #4737
@RBrid I know you're busy, but I don't see where we'd be registering an event here in the Pointer Moved event or anything. If you had a couple of minutes to maybe point us in the right direction here, that'd be much appreciated. Thanks!

[2022-08-25 21:41] michael-hawker commented on #4722
@berkbb your Expander you call out is part of a DataTemplate here:

https://github.com/berkbb/tower_winui_case/blob/fbcbc31dbb701573f161d05c752e6d2f1cfca802/BBCase/Views/MainPage.xaml#L54-L55

You can't reference things in template in your code behind like that.

You should be using DataBinding on a property on the item the template represents to tackle handling the expanded state.

This isn't an

[2022-08-25 21:41] #4722 closed

[2022-08-25 21:55] vaheeshta commented on #4734
You're seeing "New notification" because this is our default state in Window 11 if there is a bug in your notification content code. The issue seems to be with your .AddHeroImage("ms-appx:///Assets/logo.png"). Can you try with another image? Such as .AddHeroImage(new Uri("https://picsum.photos/364/180?image=1043")) from https://docs.microsoft.com/en-us/windows/apps/design/shell/tiles-and-notificat

[2022-08-25 22:04] xEsteem commented on #4735
Ah okay perfect thank you!

[2022-08-25 22:29] fmaeseele commented on #4734
Hi,
As described in the title of the bug and this is important, this issue is only hapening because this is an **Unpackaged application**. Meaning there is no appx manifest, this is a pure Winui3 desktop application.
So, according to the documentation, http images are not supported in this mode.
It turns out that testing the `.AddHeroImage(new Uri("http://xxxxx"))` did not display the image but di

[2022-08-25 22:31] fmaeseele commented on #4734
@michael-hawker  I dit try the nightly package with the same result. In fact, 8.0 branch Notification code is pretty much the same as current 7.x branch, without a "fix for pre 7.01" version.

[2022-08-26 01:29] fmaeseele commented on #4734
I also tried from Microsoft documentation:
[code]

It doesn't work at all: same notification with "New notification" instead of displaying the combobox.
In my opinion, using toast notifications from Non Packaged application has serious issues.

[2022-08-26 06:25] berkbb commented on #4722
Hi @michael-hawker . I understand. But can you explain how can I use fist expander at code behind with x:Name ? The first expander is not in data template ? I'm using data bindings, I know that.  Thanks.

[2022-08-26 06:43] StanlsSlav commented on #4736
In left mode.

[2022-08-26 12:43] xEsteem commented on #4735
@michael-hawker sorry, i'm having the exact same problem with the `ItemsRepeater` and the `StaggeredLayout`. When i get to the bottom of the scrollviewer, the IncrementalLoadingCollection does not request more items.
Is there any way of achieving a Staggered-like visual in conjunction with the IncrementalLoadingCollection?

[2022-08-26 16:45] LalithaNadimpalli commented on #4357
Hi, Thank you for raising the Issue, Created a PR with the suggested changes

[2022-08-26 17:05] vaheeshta commented on #4734
@fmaeseele The team has been working to fix those issues along with other pain points. Recently we released the latest notifications APIs via the **[Windows App SDK](https://github.com/microsoft/WindowsAppSDK/)** with consistent support for unpackaged and packaged applications. I'd recommend trying it out! [Release notes](https://docs.microsoft.com/en-us/windows/apps/windows-app-sdk/stable-channel

[2022-08-26 17:17] fmaeseele commented on #4734
Thank you [vaheeshta](https://github.com/vaheeshta) .
I'll take some time to give a try with the notification api from Windows App SDK and I'll update this thread with the results.
But let's say I can successfuly send a Toast Notification with image, is there gona be a fix for the WindowsCommunityToolkit.Notifications package, or will it be deprecated ?

[2022-08-26 17:33] azchohfi commented on #4607
I thought that the compilation process bundled everything into a resources.pri file, and that is why it had to start with "Resources/*". Maybe @RealTommyKlein can clarify.

[2022-08-26 17:41] vaheeshta commented on #4734
Thanks, looking forward to the feedback! And that would be a question for @michael-hawker

[2022-08-26 19:34] michael-hawker commented on #4734
@vaheeshta once you implement a migration of the `ToastContentBuilder` in the Windows App SDK, we'll depcreate and eventually remove the notification package here, as per our regular policy when things transition to the SDK.

If that'll be a while, we can also discuss with your team, replacing the core of the notifications package to be built on top of the new Windows App SDK bits with the remaini

[2022-08-26 20:17] vaheeshta commented on #4734
Let me ping you internally on this @michael-hawker!

[2022-08-26 20:35] michael-hawker commented on #4587
Was able to reproduce in the sample app with some tweaks to the implicit animation sample

[code]

And using a `Rectangle` over a `Border` without the `Canvas` see #4739

[2022-08-26 20:40] #4587 closed

[2022-08-27 00:50] Arlodotexe commented on #4595
Thanks for supply the repro @h82258652. I was able to use it + a local copy of the toolkit source to rewind git and find the culprit.

The commit which introduced this issue is fa6a3ed9f4de06a275fb4f2046da04ce3aef592f.

I'll continue debugging this on Monday. @arcadiogarcia, this is code you added in #4183, any insight you can provide in the meantime?

[2022-08-28 09:54] fmaeseele commented on #4734
Hi All,

After digging into the [sample code](https://github.com/microsoft/WindowsAppSDK-Samples/tree/main/Samples/Notifications/App)., it appears that if you want to display an image in the toast, you have to reference the image with its full path on the disk, and not with the "ms-appx:///" scheme like it is mentioned into the documentation.

So after all, it seems to me that the current package

[2022-08-29 13:58] petrxh opened #4743 "DataGrid.SelectedItems as ObservableCollection"
### Describe the problem

Hi all,
it would be nice to have an option to use DataGrid's SelectedItems in MVVM pattern also for setting selected items programatically,  simillar to CollectionView in Xamarin. Now it is read only IList.

### Describe the solution

Publish SelectedItems as ObservableCollection or some other type implementing some of observable patterns.

### Alternatives

_No response_

[2022-08-29 14:21] petrxh opened #4744 "DataGridRowGroupHeader as Template"
### Describe the problem

Hi all,
it could be usefull to have an option to fully customize DataGridGroupHeader with DataTemplate.

### Describe the solution

Make possible to use simillar syntax like in CollectionView in Xamarin:
<CollectionView.GroupHeaderTemplate><DataTemplate>...

### Alternatives

_No response_

### Additional info

_No response_

### Help us help you

No.

[2022-08-29 22:34] michael-hawker commented on #4505
@Sergio0694 this was done in #3960 to fix #3311 as the [docs guidance](https://docs.microsoft.com/uwp/api/windows.ui.xaml.dependencyproperty.unsetvalue#remarks) is to return UnsetValue instead of null.

[2022-08-30 21:47] boriskleynbok opened #4746 "WinUI Button with a command in the Grid Row using MVVM"
I would like to have a Button with a Command property with a CommandParameter in the DataGrid.
Everything in the application is following MVVM pattern with dependency injection.
When I click the button it does nothing. When I switch to the Binding instead of the x:Bind the button does nothing.
Is there a way to reference Ancestor DataContext to the Command and bind a current Item into CommandParam

[2022-08-31 00:23] vaheeshta commented on #4734
Thanks for the update! Adding @drewbatgit for the documentation issue. @fmaeseele, can you please clarify if the documentation that you are referring to is the "Image size restrictions" section of the "Toast content" page? https://docs.microsoft.com/en-us/windows/apps/design/shell/tiles-and-notifications/adaptive-interactive-toasts?tabs=builder-syntax#image-size-restrictions

Adding @robertzhou-wp

[2022-08-31 16:38] robertzhou-wpn commented on #4734
Add @sharath2727 for the issue "My application exe file is "com.mycompany.myapplicationname.exe" and unfortunately the toast header is displaying "com" instead of "myapplicationname".

@fmaeseele , as a workaround, in WinAppSDK1.2 preview, https://github.com/microsoft/WindowsAppSDK/blob/release/1.2-preview1/specs/AppNotifications/AppNotifications-spec.md#registering-for-app-notifications-using-ass

[2022-09-01 13:52] Dieveral opened #4749 "TokenizingTextBox Text property cannot be set manually from code behind in Release mode"
### Describe the bug

In Release mode TokenizingTextBox Text property cannot be set from code behind or with x:Bind. In Debug mode everything works as expected.

### Regression

_No response_

### Reproducible in sample app?

- [X] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

You can change Text property of TokenizingTextBox from code behind

[2022-09-01 16:27] michael-hawker opened #4750 "AttachedDropShadow Sample App Crash"
### Describe the bug

While looking at #4548 and seeing if we could reproduce it in the sample app, hit a crash when pasting in the XAML into the sample app...

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

No crash

### Screenshots

_No response_

### Windows Build Number

[2022-09-01 20:13] LalithaNadimpalli commented on #4750
It's crashing if we just replace the ScrollViewer code but it works fine if we replace the whole code by just including the<Page> tag

[2022-09-01 20:21] fmaeseele commented on #4734
@vaheeshta Sorry I didn't take time to give you the links for the documentation about the image uris schemes. Will do it very soon.
Regarding the workaround for the DisplayName, thank you for the documentation about the upcoming Windows App Sdk, but is this version considered reliable enought ? As its name is 'experimental'... I'm a bit afraid of switching to it.

[2022-09-01 20:59] michael-hawker commented on #4750
Hmm, interesting. We do have logic on that page in the code-behind:

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/main/Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Shadows/AttachedDropShadowPage.xaml.cs

So, I wonder if something with this particular example is just causing that to fail. Should be easy to see what's failing if you run the Sample App from VS and reproduce the cra

[2022-09-02 11:03] stephenhauck opened #4753 "Appcenter build fails"
### Describe the bug

I don't quite think this is a bug in the project but people need to know and if you know how to fix the Appcenter build with additional scrips and such it would be helpful.

I upgraded a project to C# 9 and added the toolkit, refit all my properties and commands with [ObservableProperty] and [RelayCommand] that was awesome.

I'm running VS 2022 locally and it runs fine in the

[2022-09-02 11:24] stephenhauck commented on #4753
Sorry, here is more of the error detail ... looks similar to an issue in wpf

"/Users/runner/work/1/s/***/***.Android/***.Android.csproj" (PackageForAndroid target) (1) ->
"/Users/runner/work/1/s/***/***/***.csproj" (default target) (2:2) ->
(MVVMToolkitRemoveAnalyzersForRoslyn3 target) ->
  /Users/runner/.nuget/packages/communitytoolkit.mvvm/8.0.0/buildTransitive/netstandard2.0/CommunityToolkit.M

[2022-09-02 12:39] kmgallahan commented on #4753
Wrong repo:

https://github.com/CommunityToolkit/dotnet

[2022-09-02 14:07] yaichenbaum commented on #4538
@Arlodotexe one of the reasons we don't use this control is because it doesn't support virtualization. I don't think it was ever supported but we'd love to switch if this was resolved.

[2022-09-02 16:59] LalithaNadimpalli commented on #4548
I copy pasted the Grid code in the sample app and see the issue when we adjust the window size changes abnormally and the PR created fixes the issue(Shadow remains constant as we adjust the window size)

[2022-09-02 18:20] #4548 closed

[2022-09-02 18:24] #4357 closed

[2022-09-03 05:26] Kiryuumaru opened #4754 "[Feature] Add ability to specify the access modifier of the property getter and setter"
### Describe the problem

I cannot use the source code generator to generate the property getter or setter access modifier. I have to do it by implementing the property manually and calling the generated SetProperty.

### Describe the solution

An additional parameter for the ObservablePropertyAttribute to specify the access modifier of the property getter and setter.

Example class
[code]
Will ge

[2022-09-03 06:47] #4754 closed

[2022-09-03 06:48] Kiryuumaru commented on #4754
This issue is specific to the https://github.com/CommunityToolkit/dotnet repo I didn't notice.

[2022-09-05 14:46] Leisvan opened #4755 "AttachedDropShadow in ListViewItem crashing"
### Describe the bug

I found this bug when using [MS Community Toolkit](https://github.com/CommunityToolkit/WindowsCommunityToolkit)'s AttachedCardShadow in a UWP and I wanted to share it in case someone have any insights on that. The issue is when attaching the card shadow to a ListViewItem, after removing that item and then adding a new one the app crashes or doesn't render the shadow at all in

[2022-09-05 19:37] arcadiogarcia commented on #4595
Haven't tried running the code yet, but mI'm pretty sure that the issue is that my fix didn't take into consideration the pattern where CreateConstantVector3 (or some of the other equivalent methods) is used - creating a Vector3 with a ParamName predetermined at its constructor - so then when CreateExpressionAnimationFromNode invokes ClearReferenceInfo it clears the user-given property name and re

[2022-09-05 22:01] #4385 closed

[2022-09-06 06:51] ADD-David-Antolin commented on #4607
Hi. I'm a colleague of @Suriman. The same sample project using UWP works without having to prefix the key with 'Resources\'. Furthermore, it does not provoke the `NullReferenceException` if it does not find the key, which happens when you do `public string TestResourceKey = "Resources/ConverterResource"`.

[2022-09-06 07:57] Balkoth commented on #4109
Closing this as nobody seems to have cared for over a year...

[2022-09-06 07:57] #4109 closed

[2022-09-06 12:38] fmaeseele commented on #4734
@vaheeshta, I tried to use the Windows App SDK 1.2 experimental, and the following line is throwing InvalidCastException!

`        var notificationManager = AppNotificationManager.Default;`

_System.InvalidCastException
  HResult=0x80004002
  Message=Specified cast is not valid.
  Source=WinRT.Runtime
  StackTrace:
   at WinRT.IObjectReference.As[T](Guid iid)
   at Microsoft.Windows.AppNotificati

[2022-09-06 17:03] vaheeshta commented on #4734
Thank you for sharing, adding @robertzhou-wpn and @sharath2727 to take a look!

[2022-09-06 17:47] LalithaNadimpalli commented on #4750
I see the crash when I try to reproduce the issue in VS and it throws NRE(NullReferenceException) in

![Image](https://user-images.githubusercontent.com/63084352/188704300-b952aaef-c7b4-4bfb-8c0d-f7b01fa3158e.png)

[2022-09-06 18:24] Arlodotexe commented on #4595
@arcadiogarcia Thanks, I think I understand the issue and why it's happening now. I'll give the proposed fix a try and report back.

[2022-09-06 18:33] robertzhou-wpn commented on #4734
Add @loneursid. Eric, have you seen similar issues in c# samples before? Any ideas here?

[2022-09-06 18:41] arcadiogarcia commented on #4595
@Arlodotexe Cool! And sorry for the delay, I don't check my github notifications very often, feel free to ping me here or by other channels if I can be of help.

[2022-09-06 20:22] loneursid commented on #4734
I don't remember having seen this specific error but it seems to indicate the app has encountered an issue connecting to the COM server. Initializing the AppNotificationManager can be tricky and things need to happen in a specific order early in the app lifecycle so, I  would recommend using the sample as a reference.

I have downloaded the C# app notification sample, updated it to using the Windo

[2022-09-06 22:22] RealTommyKlein commented on #4607
We do bundle all app resources into a `resources.pri` by default.  There's also a separate `resources.pri` that ships with the Windows App SDK framework package itself which is handled/loaded separately by the WinUI 3 framework, containing resources like `generic.xaml` and builtin theme/static resources.

I _think_ the notion of "PRI file name = MRT resource map name" is correct, so to reference a

[2022-09-07 12:59] fmaeseele commented on #4734
Hi @loneursid
I installed the new Windows App SDK 1.2 Preview1, instead of the experimental version, and everything is working fine.
Thanks to the new builder api, I could remove the dependency on the Windows Community Notification package.

I still have the issue of the notification title which is "Com" instead of "SmartHome" with my application "com.mynamspace.SmartHome"

The workaround suggeste

[2022-09-07 16:44] michael-hawker commented on #4750
Thanks @LalithaNadimpalli can you provide the call stack as well? What called into this method?

This is where the code is (you can select multiple lines in GitHub and get a permalink from the triple dot menu to embed these in comments as well like this):

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/5d5d86fd7d7ad75fa989683a95b6835aeb4efdc4/Microsoft.Toolkit.Uwp.UI/Shadows/Atta

[2022-09-07 18:21] LalithaNadimpalli commented on #4750
I created a PR by adding a null check to ShadowElementContextTable which fixed the issue

[2022-09-07 20:04] michael-hawker commented on #4749
@LalithaNadimpalli this could be a good one for you to pick up next. Maybe see if you can reproduce in a new UWP project first? At least we can see if it's a general issue or specific to WinUI 3?

@Dieveral what Windows App SDK version are you using in your app? (@Arlodotexe we probably want to add that to our issue form template too. (For both WinUI and WindowsAppSDK - do they support conditional

[2022-09-07 20:07] michael-hawker commented on #4755
Thanks @Leisvan for the report. You mentioned a crash as well sometimes, do you have the stack trace/message for that handy? I know we have a few fixes for drop shadow in the works too, though trying to remember if they'd made it to our main branch yet. So we could try the preview package too https://aka.ms/wct/wiki/previewpackages

@Ryken100 any initial thoughts on this scenario?

[2022-09-07 20:49] michael-hawker commented on #4603
Add links to tracking issues on dependencies to original post.

[2022-09-07 20:52] LalithaNadimpalli commented on #4749
The issue is reproducible in UWP

[2022-09-07 22:44] michael-hawker commented on #4749
Thanks @LalithaNadimpalli, want to attach your reproduction project here as well?

I built this version of the control, so let me know if you have any questions in digging into what might be happening here when the text isn't being set.

[2022-09-08 06:01] robertzhou-wpn commented on #4734
@fmaeseele. Thanks for your feedback.
We will create a work item on our side to track the icon and name issue.

[2022-09-08 13:14] Dieveral commented on #4749
@michael-hawker I am using TokenizingTextBox control in UWP project.
Target: Universal Windows
Target version: Windows 10, version 2004 (Build 19041)
Minimum version:  Windows 10, version 1809 (Build 17763)

[2022-09-08 16:24] michael-hawker opened #4759 "UITest PFX Expired"
### Describe the bug

Our PFX for the UI Test App (which we need for the cross-app communication) expired at the end of August.

We need to renew it (and we should change the CN to be `toolkit`).

Last year's change: https://github.com/CommunityToolkit/WindowsCommunityToolkit/commit/f606fa8e7c77af3870148e5acd638a0ff54f58a2

See other impact of CN change from same change did in winui PR here: https

[2022-09-08 16:34] michael-hawker commented on #4759
I'm pretty sure since we're being consistent with `toolkit` as the CN name, it'll be `yeyc6z1eztrme` for the end of the app string for the publisher (I think it's a hash).

[2022-09-08 18:57] sharath2727 commented on #4734
Hi @fmaeseele,

Thanks for pointing out the displayName issue here.

Let me start off with some context:
https://github.com/microsoft/WindowsAppSDK/blob/main/dev/AppNotifications/AppNotificationUtility.cpp - As you are calling Register() API with no assets(displayname and iconuri) we are trying to follow the best approach by trying to glean the assets from possible places by calling GetAssets API

[2022-09-08 21:37] #4759 closed

[2022-09-09 16:42] LalithaNadimpalli commented on #4750
This is how the call stack looks like with NRE

![Image](https://user-images.githubusercontent.com/63084352/189399836-8435daa1-0da5-4bea-844e-ca8f99773ddb.png)

[2022-09-09 19:51] Arlodotexe commented on #4505
@Sergio0694 Do you have an updated link to a working repro?

[2022-09-09 19:58] Leisvan commented on #4755
I've had some crashes but I don't know how to reproduce them consistently. I'll try the preview packages and check what the results are. Thanks!

[2022-09-12 15:47] olejsc opened #4763 "[Feature] Unregister all receipents by TToken in IMessenger"
### Describe the problem

I would like to request a new api method for the IMessenger interface.

The challenge is that the unregister process becomes too tightly coupled in my opinion to the receipent instances, and while it is easy for a receipent to unregister from listening to IMessenger call, it is currently not possible for a source to indicate no further messages will be coming on a specifi

[2022-09-12 15:51] olejsc commented on #4763
Would add the mvvm-toolkit label if i knew how to .

[2022-09-13 21:22] michael-hawker commented on #4749
Synced with Laltiha and we think we found the root cause.

We discovered that it looks like the `Text` property appears to update and is set correctly (you can see this same behavior directly in the sample app as well as the clear tokens button should clear the text as well):

![image](https://user-images.githubusercontent.com/24302614/190008937-b10c66af-e330-447b-93c7-17e3119dfa95.png)

Above the

[2022-09-13 21:40] Ryken100 commented on #4755
Unsure on initial thoughts. There may be something going on when the `ListViewItem` is removed from the visual tree 🤔

[2022-09-14 18:32] xperiandri commented on #3710
Any updates?

[2022-09-15 17:59] jrovny opened #4766 "DataGrid Does Not Respond to ObservableCollection Changes"
### Describe the bug

When the page a DataGrid is on is cached using NavigationCacheMode.Enabled and the ObservableCollection the DataGrid is bound to changes when another page has the focus, the DataGrid does not reflect the changes when the page it's on receives the focus again.
[SampleCode.txt](https://github.com/CommunityToolkit/WindowsCommunityToolkit/files/9577838/SampleCode.txt)

### Regres

[2022-09-15 21:03] Sergio0694 commented on #4505
@Arlodotexe It's no longer crashing in the sample app because I used a temporary converter as a workaround, see https://github.com/CommunityToolkit/MVVM-Samples/commit/0138b7a494219d206a25c0521c8e66f6929fa1e1. If you remove it you can then repro the crash there as well. Imho we should just change this back to returning `null`. This is not the value being read from a dependency property, it's a val

[2022-09-16 13:10] CesGan opened #4767 "ListDetails control BackButton not working"
### Describe the bug

The back button is not behaving as expected when you're on Details only view.

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

I expected to follow the steps mentioned above and no exception to be throwned.

### Screenshots

_No response_

### Windows Bu

[2022-09-16 19:44] michael-hawker commented on #4505
@Sergio0694 I think what the docs and we're trying to say is the binding should be this:

[code]

As passing `UnsetValue` should have the XAML engine use the `FallbackValue` instead. Though it's unclear if this is going to refer to old-style `Binding` vs. `x:Bind` as x:Bind only says _"Specifies a value to display when the source or path cannot be resolved."_.

[2022-09-17 04:04] Scighost opened #4768 "[Feature] Change `CacheBase.GetCacheFileName` to virtual method"
### Describe the problem

There are two urls:
https://file.xunkong.cc/genshin/talent/UI_Talent_S_Shougun_06.png
https://file.xunkong.cc/genshin/talent/UI_Talent_U_Shougun_02.png

When I cache them via FileCache, they are treated as the same file because the default hash algorithm is too simple. This problem has happened at least 10 times in my application.

![image](https://user-images.githubuserc

[2022-09-17 14:42] Sergio0694 commented on #4505
Wouldn't that apply to an actual dependency property though? In this case it's just a converter. It's receiving a value that has no result, so it's giving you back `null`, which is also consistent with what the extension does. I'm not sure I understand why it should return `DependencyProperty.UnsetValue` in this context 🤔

I've always treated the fallback path to be someting to use if the actual p

[2022-09-19 21:32] michael-hawker commented on #4768
Thanks for reporting this issue @Scighost. Definitely an interesting scenario. Does seem like the hash algorithm is weak here.

Wondering if it's worth improving it vs. exposing the internal method (as that's really just an implementation detail). Ideally the cache should just work.

@hermitdave @azchohfi @Sergio0694 @Arlodotexe wondering if you have any thoughts here.

[2022-09-21 04:57] lunelake opened #4772 "TokenizingTextBox crashes the app in CommunityToolkit.WinUI"
### Describe the bug

Having an `TokenizingTextBox` in WinUI crashes the app. The same code works well in UWP.

[code]
![designme_cKfgF05iK0yAw-5qW7Uzmg](https://user-images.githubusercontent.com/5918681/191417062-83c6f431-87e0-4c45-b368-d5bc8af6b2c0.jpg)

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[c

[2022-09-21 15:18] hermitdave commented on #4768
IMO both can be done.. it would be good to change default implementation to something that isn't that simplistic.

[2022-09-22 16:10] #4750 closed

[2022-09-22 17:14] Arlodotexe commented on #4755
This may be a bug with `EventTriggerBehavior`. Attaching the debugger, `StartAnimationAction.Execute` isn't being called after "Hit me" is pressed in the provided repro app.

Replacing `StartAnimationAction` with `CallMethodAction` and removing all shadows, the issue is still present: `ICommand.Execute` isn't being called.

Quick demo with all toolkit components removed:

https://user-images.githu

[2022-09-22 17:14] #4755 closed

[2022-09-22 17:17] Leisvan commented on #4755
Thanks you so much @Arlodotexe. This will be very helpful. Thanks!

[2022-09-25 13:42] Jaiganeshkumaran opened #4773 "ObservableGattCharacteristics - ValueChanged handler not reattached"
I don't know if this is a real bug but while looking through the source code for the Connectivity package, I noticed that ObservableGattCharacteristics attaches Characteristic.ValueChanged in its constructor but doesn't detach the event from the old object and reattach it with the new object.

See https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/main/Microsoft.Toolkit.Uwp.Connectiv

[2022-09-25 20:37] hdufortlaumie opened #4774 "TabbedCommandBar Issue on v7.1.2"
### Describe the bug

Getting a exception when using TabbedCommandBar from version 7.1.x
But work great on version 7.0.2

**Error:**
[code]

**Environment**
Windows 11 Pro
Universal Windows Projet

Microsoft Visual Studio Professional 2022
Version 17.3.4
VisualStudio.17.Release/17.3.4+32901.215
Microsoft .NET Framework
Version 4.8.04161

Installed Version: Professional

Visual C++ 2022   00476-800

[2022-09-26 10:03] GreenShadeZhang commented on #4606
Recently I found out that the Windows app SDK 1.2 preview version supports MediaPlayerElement, so I feel that 8.0 can test the integrity of this feature.
https://learn.microsoft.com/en-us/windows/apps/windows-app-sdk/preview-channel#winui-3

 In addition, I also saw some precautions for camera data processing in the document, and I don't know if I need to pay attention to these things in the windo

[2022-09-26 16:56] Arlodotexe commented on #4768
Making `GetCacheFileName` virtual is a good "fast" solution for the end user, but we really should be using SHA256 or Kekkak/SHA-3 to avoid hash collisions properly.

Changing the hashing algorithm is a potentially breaking change. If we do, we'll need to keep the previous one around so it can still find files that were cached by older code.

[2022-09-26 20:52] Arlodotexe commented on #4774
Thanks @hdufortlaumie. It looks like you've pasted the code from the sample app into a blank UWP project. Is that right? We'll need more information about your setup so we can investigate.

[2022-09-26 21:47] michael-hawker commented on #4606
Thanks @GreenShadeZhang, our big hope with 8.0 is to maintain everything from a single codebase (vs. the forks/branches we have now). So, ideally we'll be able to make this easier for us to validate the behavior of and test across both UWP and the Windows App SDK.

[2022-09-27 03:09] GreenShadeZhang commented on #4606
Sounds very good and very exciting.

[2022-09-27 07:41] niels9001 commented on #4774
@hdufortlaumie I'm getting a different error when trying to recreate this:

<img width="299" alt="image" src="https://user-images.githubusercontent.com/9866362/192463684-3ee7a9a0-a5c6-431f-b04b-b8e4f8be9a52.png">

But the cause might be the same: the Toolkit has a dependency on WinUI and its resources (like OverlayCornerRadius and DefaultCommandBarStyle).

Did you add the resources into App.xaml?

[2022-09-27 07:52] niels9001 commented on #4772
Able to reproduce. Stacktrace:

`   at WinRT.ExceptionHelpers.<ThrowExceptionForHR>g__Throw|20_0(Int32 hr)
   at Microsoft.UI.Xaml.FrameworkElement.MeasureOverride(Size availableSize)
   at Microsoft.UI.Xaml.FrameworkElement.Microsoft.UI.Xaml.IFrameworkElementOverrides.MeasureOverride(Size availableSize)
   at ABI.Microsoft.UI.Xaml.IFrameworkElementOverrides.Do_Abi_MeasureOverride_0(IntPtr thisPtr

[2022-09-27 16:22] michael-hawker commented on #4774
@hdufortlaumie can you confirm adding the WinUI resources to your project resolves the issue?

[2022-09-27 20:32] Arlodotexe commented on #4774
@niels9001 It's also noteworthy that the code from the sample app is using some brush definitions that aren't defined in the displayed code.

This line, for example:
[code]

[2022-09-27 21:38] boriskleynbok opened #4777 "BoolToVisibilityConverter doesn't refresh the UI in the UserControl"
### Describe the bug

I have a Page with a UserControl that has a property ViewModel that is created by the DI container.
The BoolToVisibilityConverter does not refresh the UI in the UserControl.

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

Expected for the BoolToVisibili

[2022-09-27 21:47] hdufortlaumie commented on #4774
Thanks Michael Haeker, That exactly what wrong. I adjust the app.xaml and the error is gone.
Sorry for tanking your time.

[2022-09-27 21:47] #4774 closed

[2022-09-27 22:30] michael-hawker commented on #4777
@boriskleynbok there's a lot of pieces here. You also didn't share the definition of your ViewModel property in the code-behind for the UserControl or any of that code.

Is there a reason you're using `BoolToObjectConverter` instead of `BoolToVisibilityConverter` or even just the functionality of `x:Bind` itself to go from bool to visibility?

These converters have a lot of millage underneath them

[2022-09-28 19:35] Marv51 opened #4778 "Custom DataGridColumns: Access OwningGrid"
Sometimes, you want to build a custom DataGrid column. For example, because the ComboBoxColumn doesn't really fit my needs exactly.

But this quite difficult, because the you don't have access to the `OwningGrid` property on the DataGridColumn base class:

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/c4d62eea1065a0df44240943d62a5ba2662e67a1/Microsoft.Toolkit.Uwp.UI.Controls.Dat

[2022-09-28 20:39] LalithaNadimpalli commented on #4777
I was trying to reproduce the WinUI project of this but it would be great if could provide the code behind ViewModel

[2022-09-28 21:31] michael-hawker commented on #4777
I imagine since the latest MVVM Toolkit version is called out, it'd at least be something like this:

[code]

[2022-09-29 12:14] baskren opened #4779 "Subclass of DataGrid does not render"
### Describe the bug

An instance of a subclass of the WinUI3 DataGrid does render.

A demo project is provided here: https://github.com/baskren/DataGrid_Subclass

Screenshot (WCT.DataGrid on left, Subclass of DataGrid on right):
<img width="638" alt="image" src="https://user-images.githubusercontent.com/2528888/193023404-7414445f-6963-4065-8bfb-858d4694087e.png">

### Regression

Microsoft.Toolki

[2022-09-29 13:32] jhertel0 commented on #4778
This would be helpful to me also, I was going to make a selector column, but I'm not able to because of this visibility of OwningGrid.

[2022-09-29 15:11] boriskleynbok commented on #4777
`public UserDetailsViewModel ViewModel
    {
        get;
    }

    public AddEditControl()
    {
        ViewModel = App.GetService<UserDetailsViewModel>();
        this.InitializeComponent();
    }`

`using System.Collections.ObjectModel;
using System.Windows.Input;
using CommunityToolkit.Mvvm.ComponentModel;
using CommunityToolkit.Mvvm.Input;
using CSA2.Contracts.ViewModels;
using CSA2.Core.Co

[2022-09-29 15:34] boriskleynbok commented on #4777
Looks like setting up ViewModel as Property for the UserControl in the codebehind doesn't work for x:Bind pattern.
Setting the Data Context works regular {Binding }
`controls:AddEditControl x:Name="AddEditControl" DataContext="{x:Bind ViewModel.UserDetailsViewModel}" />`

[2022-09-29 16:13] michael-hawker commented on #4777
Setting the Data Context works regular {Binding }
`controls:AddEditControl x:Name="AddEditControl" DataContext="{x:Bind ViewModel.UserDetailsViewModel}" />`

@boriskleynbok `x:Bind` is `OneWay` by default, so if you're binding to a ViewModel property you're setting after the initialization of the control, the property will never get notified of that change to your component. Maybe that's your issu

[2022-09-29 16:20] michael-hawker commented on #4767
This sounds really familiar, and I thought we had resolved it, but maybe I'm thinking of something else... 🤔

[2022-09-29 16:22] michael-hawker commented on #4766
@jrovny thanks for reporting the issue. Do you know if you follow your same steps for UWP if the same issue occurs?

[2022-09-29 16:24] michael-hawker commented on #4778
@Marv51 @jhertel0 do you have some example code of the custom columns you've tried to build. Is there a reason you're going down that route vs. trying to use a templated column in XAML?

[2022-09-29 16:29] boriskleynbok commented on #4777
I tried to set the ViewModel in UserControl like this

`public UserDetailsViewModel ViewModel
    {
        get;
    }

    public AddEditControl()
    {
        ViewModel = App.GetService<UserDetailsViewModel>();
        this.InitializeComponent();
    }`
That is what did not work for the BoolToVisibilityConverter in the XAML on the top of the discussion thread

[2022-09-29 18:11] jhertel0 commented on #4778
@michael-hawker Here is an example of what I was trying to do: https://gist.github.com/jhertel0/ae522d4cb642d97a4f293f5544ee1eaf

I can use the templated column but I'll have to repeat the same code in multiple places, its most likely what I'll end up having to do.

[2022-09-29 20:25] michael-hawker commented on #4777
Does anything change if your `ViewModel` property is a dependency property? This really seems like an issue with the composition and connection of your properties and binding than with the converter itself. If you inspect the bindings in the live visual tree and properties, do they show as valid and connected?

You've shown setting `DataContext` and initializing in the constructor your property, a

[2022-09-29 20:39] boriskleynbok commented on #4777
For example in the UserControl XAML that I have above in the comment thread a code snippet
`<TextBox x:Uid="UserNameNullText"
                         Grid.Row="0"
                         Grid.Column="1"
                         IsReadOnly="{x:Bind ViewModel.IsReadOnly, Mode=TwoWay}"
                         Margin="0 0 5 5"
                         Width="250"
                         Height="25

[2022-09-29 21:56] #4545 closed

[2022-09-29 22:19] #4483 closed

[2022-09-29 22:28] Arlodotexe commented on #4737
This issue is reproduceable on UWP:  [App1.zip](https://github.com/CommunityToolkit/WindowsCommunityToolkit/files/9679387/App1.zip)

[2022-09-29 22:28] Arlodotexe commented on #4737
I'm still looking for what exactly causes this, but after investigating I've found that this line is causing extra allocations:

![image](https://user-images.githubusercontent.com/9384894/193152940-399aa0b7-2fe9-45ad-b545-c2c874a3deb9.png)

Commenting out the line, the memory increase goes away.
Leaving the line there but removing all code in the handler, the memory increase comes back.

Attaching

[2022-10-03 12:07] Endt4sk opened #4781 "How can I use datagrid control in WinUI c++?"
WinUI C++ project can not install CommunityToolkit through NuGet, so How can I use that control in WinUI C++ project?

[2022-10-04 16:31] michael-hawker commented on #4736
Will investigate as part of the work we want to do in https://aka.ms/toolkit/labs/windows for building Expander on top of the system Expander.

[2022-10-04 16:40] michael-hawker commented on #4768
Let's look at this holistically in 8.0 where we can make more breaking changes if needed.

[2022-10-04 20:58] jrovny commented on #4766
@michael-hawker I tested in UWP and the issue occurs there as well. Interestingly, the grid _will_ update when adding or removing items, just not when individual items are updated. I even tested this without navigating away from the page the data grid is on and the grid still wouldn't update.

[2022-10-04 21:24] michael-hawker commented on #4766
@jrovny thanks for testing on UWP, that certainly makes it easier to debug/work within the repo at the moment. I noticed your sample code is missing the DataGrid page itself. It'd be good to know how the bindings are setup there in relation, even if it's just the WTS default.

[2022-10-04 21:56] jrovny commented on #4766
@michael-hawker oh my bad. Here's the XAML markup for the data grid (this is in the UWP app I sampled):

[code]

[2022-10-04 22:22] michael-hawker commented on #4603
XAML Behaviors and Win2D have shipped. So we should be good to update our version in the pipeline once we update ColorCode for ourselves.

[2022-10-04 22:26] michael-hawker commented on #4781
@Endt4sk the Toolkit controls aren't built for consumption by C++.  Are you using UWP or the Windows App SDK at the moment? (WinUI is a bit ambiguous).

If you're using UWP, we have an example we put together here on how to create a C#/WinRT component to host a Toolkit component for consumption by a C++/WinRT app: https://github.com/CommunityToolkit/Sample-Windows-CppWinRT

However, we haven't att

[2022-10-05 05:48] AlexanderBlackman opened #4783 "[Feature]Add the AcceptsReturn property to the RichSuggestBox"
### Describe the problem

In the RichEditBox and TextBox control, there is a bool property AcceptsReturn that determines whether pressing enter/return will give a new line.
In the AutoSuggestBox control, enter/return will never  give a new line.

The RichSuggestBox on the otherhand, always gives a new line when return is pressed, with no property to change it.  This makes it unuseable if you want

[2022-10-06 15:11] niels9001 commented on #4772
Able to reproduce this in UWP as well, seems to be an issue with the WrapPanel:

[code]

The app crashes when the Size gets returned in the MeasureOverride function - is it because the width is considered Infinity?
<img width="561" alt="image" src="https://user-images.githubusercontent.com/9866362/194349857-5d32d152-a029-48ce-be5e-fc4f017ada7d.png">

[2022-10-10 21:59] boriskleynbok commented on #4777
@LalithaNadimpalli  @michael-hawker tried simple binding without BoolToVisibilityConverter.
Using WinUI 3 Community Toolkit template with DI
In the Page added control
`   <controls:AddEditControl x:Name="AddEditControl" />
`
Created dependency property for UserControl ViewModel
`public AddEditControl()
    {
        ViewModel = App.GetService<UserDetailsViewModel>();
        this.InitializeCompone

[2022-10-11 15:00] niels9001 commented on #4767
Reproducable in UWP as well. See repro project (using a local copy of the ListDetail control): https://github.com/niels9001/ListDetailNavigationBug

[2022-10-11 15:25] niels9001 commented on #4406
Followed the repro steps mentioned above, and I'm not able to reproduce this.

Windows 11
Microsoft.WindowsAppSDK 1.1.5
CommunityToolkit.WinUI 7.1.2

@Wandtket @wbokkers are you on Windows 10?

[2022-10-11 16:29] michael-hawker opened #4784 "Fix/Optimization of RadialGauge event handlers"
### Describe the bug

Follow-on from #4456

1) Noticed the event handlers are only getting cleaned up in the Unloaded event instead of OnApplyTemplate before new ones are registered.
2) Since the Keyboard accelerators don't rely on a template piece, we can register in constructor/loaded event.
3) we can make lambda's static as https://learn.microsoft.com/uwp/api/windows.ui.xaml.input.keyboardaccel

[2022-10-11 16:35] michael-hawker commented on #4772
Going to move to 8.0 when we can better test this component in our new infrastructure.

[2022-10-11 19:43] #4595 closed

[2022-10-11 20:53] #4773 closed

[2022-10-11 22:27] michael-hawker commented on #4406
@niels9001 I installed your test app and it worked fine (once I switched to light mode) on my Win 10 (21H2 19044.2006) box:

![image](https://user-images.githubusercontent.com/24302614/195209417-e37e9b1d-a2a0-4bf8-abb3-76bc7163ff09.png)

Oh, @niels9001 I just noticed your code above. You're using `AttachedDropShadow`. This bug is about **`AttachedCardShadow`**...

They're two different implementat

[2022-10-11 22:29] #3243 closed

[2022-10-11 23:07] michael-hawker commented on #4749
Split up a test case and added two new ones:

![image](https://user-images.githubusercontent.com/24302614/195207551-53237899-38f3-49a5-a09a-d743da722c21.png)

Above is debug and we can see clearly the scenario not working for clearing the text.

And when run in Release, we can see...~the issue with setting the text initially as well (this works when in Debug for whatever reason)~:

![image](https:

[2022-10-12 14:24] Strypper commented on #3909
Any update on this ?

[2022-10-12 16:35] michael-hawker commented on #3909
This is working in our sample app:

![image](https://user-images.githubusercontent.com/24302614/195398253-dcf51d61-b2ba-488b-b673-f0a339c83187.png)

This is not an issue with the toolkit, it's an issue with the xaml compiler/metadata generator.

You just need to reference your enum in XAML somewhere, so the XAML metadata generator creates the type:

https://github.com/CommunityToolkit/WindowsCommu

[2022-10-12 16:35] #3909 closed

[2022-10-12 17:54] Strypper commented on #3909
This work for me

[2022-10-12 18:16] michael-hawker commented on #4783
Great suggestion @AlexanderBlackman.

Should be able to add a bool dependency property here: https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/main/Microsoft.Toolkit.Uwp.UI.Controls.Input/RichSuggestBox/RichSuggestBox.Properties.cs

And then template bind it to the inner RichEditBox here:

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/ca55adeae070e0aaf38e9e935f0d8

[2022-10-12 19:24] niels9001 commented on #4406
*Facepalm*. I've updated the snippet above. AttachedCardShadow works fine on my machine as well, so no changes there!

[2022-10-12 19:32] wbokkers commented on #4406
@niels9001 I can't remember exactly, but I was probably running Windows 10. I was not able to reproduce it with newer templates, but on adding it to my app originally created with older templates, the crash happens.
If I find time I will try to AttachedCardShadow again.

[2022-10-12 22:10] michael-hawker commented on #4406
@wbokkers could be something changed in the templates or some VS config related to the Windows App SDK.

Going to move this out of our current milestone as we can't reproduce, but let us know if you get a repro with any of the current code for the Windows App SDK and/or toolkit.

[2022-10-13 17:09] appindus-ibiller commented on #4406
Still an issue FWIW on 1.1.5
System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation.||EXCEPTION OCCURRED:System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation.
 ---> System.Runtime.InteropServices.COMException (0x80040154): Class not registered (0x80040154 (REGDB_E_CLASSNOTREG))
    at WinRT.BaseActivati

[2022-10-13 23:29] michael-hawker commented on #4406
Thanks @appindus-ibiller, we haven't been able to reproduce. Do you happen to have a minimal file->new project with just a shadow added which can trigger this crash?

Can you provide some info about what version of Windows you're on?

[2022-10-14 13:38] E4zily opened #4785 "NT AUTHORITY\SYSTEM Toast Notifications 0x80070005 (E_ACCESSDENIED)"
### Describe the bug

i am trying to send a toast notification, but when the app runs as NT AUTHORITY\SYSTEM, it throws an unauthorizedaccessexception:
`Unhandled Exception: System.UnauthorizedAccessException: Access is denied. (Exception from HRESULT: 0x80070005 (E_ACCESSDENIED))
   at Windows.UI.Notifications.ToastNotifier.Show(ToastNotification notification)
   at Microsoft.Toolkit.Uwp.Notifica

[2022-10-14 15:19] appindus-ibiller commented on #4406
As I tried to create a minimal project with the crash I almost gave up as I couldn't get it to crash. But for whatever reason, it works on my dev computer. When I load it on one of our kiosk machines it still crashes though. That machine is running 17763.. so I'm guessing that isn't a viable build for at least this stuff. I tested it on a random windows 11 machine and it worked fine too, so it wou

[2022-10-14 18:28] michael-hawker commented on #4406
@appindus-ibiller 17763 is indeed going to be your issue then. I'm surprised it lets you target and install on that, the current Toolkit WinUI package only supports down to 18362. See issue #4603.

@Ryken100 the Win2D type in the stack I imagine is due to Win2D also not supporting down to 17763 at the time, right? Once we fix #4603 I imagine that won't be an issue with WinUI 3 as any types should

[2022-10-17 17:24] boriskleynbok commented on #4777
To reproduce this issue I am only setting ViewModel in code-behind of the UserControl

[2022-10-17 17:49] AlexanderBlackman commented on #4783
I'll get to it,
Sorry for the delay, my new internet is super slow.

[2022-10-17 17:59] michael-hawker commented on #4607
So, these are the two bits of code we're comparing [from UWP](https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/main/Microsoft.Toolkit.Uwp.UI/Converters/ResourceNameToResourceStringConverter.cs):

[code]

And [Windows App SDK](https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/winui/CommunityToolkit.WinUI.UI/Converters/ResourceNameToResourceStringConverter.cs):

[code]

[2022-10-17 21:34] michael-hawker commented on #4749
Sorted out the test:

![image](https://user-images.githubusercontent.com/24302614/196287846-d83a0e63-e3f5-4b3c-b29c-9a4a5fd719c6.png)

There was a rogue binding which should have been meaningless, and wasn't working as expected, but also somehow causing the test to pass even though the correct behavior wasn't working when tested in the sample app.

Removed the binding and now the test fails as exp

[2022-10-17 23:36] michael-hawker commented on #4749
Figured out the issue, was only setting the initial text for the last box. Should be resolved now. Not sure how to go about testing that yet, may need to beef up tests there in 8.0 world.

[2022-10-18 10:04] niels9001 opened #4788 "[SettingsCard] BitmapIcon does not have MaxWidth"
### Describe the bug

When settings a BitmapIcon, the icon itself scales to the existing space:

![image](https://user-images.githubusercontent.com/9866362/196400513-5b89a850-3bc4-434a-98f0-4bf8d2a3d986.png)

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

The Icon should be

[2022-10-18 16:28] #4784 closed

[2022-10-18 16:30] michael-hawker commented on #4785
FYI @vaheeshta @adambarlow

[2022-10-18 17:25] #4721 closed

[2022-10-18 17:25] #4749 closed

[2022-10-18 20:14] michael-hawker commented on #4453
@Arlodotexe was just going through the issue list and saw this one. I agree we don't want to patch over platform issues usually. This is a pretty annoying case though.

I wasn't a fan of adding a property here to change the behavior. But I'm wondering if we just ignore if the clicked item is null in all cases outright? Like if the platform isn't providing the item, what is a command going to do? U

[2022-10-19 06:51] vgromfeld commented on #4453
Most of the time, the commands relying on a parameter are expecting something not null.
But I can see the case of a "hybrid" command expecting any kind of parameter. For example, a "play" command can either receive the item to play or null as its parameter. If it receives something, it plays it otherwise, it plays everything.

[2022-10-20 18:12] michael-hawker commented on #4505
Hmm, was just looking at our existing tests here:

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/b2b1c238e658f9be2e164d80e8c4bc0b249117f6/UnitTests/UnitTests.UWP/Converters/Test_TaskResultConverter.cs#L72-L103

If any task is bound, it should return null if there is no result, so I'm confused now. Let me pull down the MVVM Sample app and try and get a repro there to better under

[2022-10-20 22:20] michael-hawker commented on #4505
I tested this out directly in the MVVM Sample App and I understand now where @Sergio0694 and I were disconnecting. The MVVM Toolkit's `AsyncRelayCommand` doesn't set the `ExecutionTask`'s value until it is actually executing (i.e. the default isn't an empty Task it's `null`).

This means the binding in the app was pointing to a `null` instance and not a `Task` and passing this `null` instead of an

[2022-10-20 22:34] michael-hawker commented on #4300
Talked to Sergio and we decided we should keep these for 8.0 instead of including in the hotfix release that we decided to ship. Will revert the commit for now and then we'll work to port these all into the new Labs-type infrastructure and add these back along with some other helpers/tweaks we've discovered along the way like #4771 and the depth parameter.

[2022-10-21 02:05] #4505 closed

[2022-10-21 06:22] #4714 closed

[2022-10-24 23:09] Jay-o-Way opened #4793 "Area "Release notes" on main page: overlapping text"
### Describe the bug

Text is not properly displayed

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

Pretty layout of text

### Screenshots

![image](https://user-images.githubusercontent.com/65828559/197646595-9a064f3b-c582-463d-94c0-2d4833032462.png)

### Windows Build Num

[2022-10-25 17:11] michael-hawker commented on #4767
@CesGan I think this is the general workaround for now:

[code]

The issue is that the back button needs to be enabled on the NavigationView, but you're telling the frame to go back in every case. We can't intercept/know that, so instead you need to check if you're in the Details mode and clear the item instead.

This isn't really something we can fix based on how these systems interact with one a

[2022-10-25 20:03] michael-hawker commented on #4793
Thanks @Jay-o-Way, this is a duplicate of #4432 and resolved in #4451, I thought we had released an update of our app since then, may do that for the upcoming hotfix release, so you should hopefully see it in the app in the future.

[2022-10-25 20:03] #4793 closed

[2022-10-25 20:15] Jay-o-Way commented on #4793
Last release is 11 months ago. Yeah, maybe it's time for an update 😛

[2022-10-25 21:20] michael-hawker commented on #4793
We updated the app in May 2022, but I apparently had cherry-picked a couple of fixes and missed this one. I'll look into doing a full integration from `main` before I update the app again.

[2022-10-25 22:30] Jay-o-Way commented on #4793
I didn't see that on the Releases page. Am I missing something?

[2022-10-26 12:57] appindus-ibiller commented on #4406
@michael-hawker Update: Loaded Windows 10 IoT Enterprise LTSC version 19044 fresh out of the box and problem still occurs. Seems like it works okay on Home and Pro versions.. so it might not even be the build version causing the problem, it might be IoT/Enterprise? Any idea what the issue could be? I can attach a minimal sample to reproduce (which is literally just add Effects.SetShadow(img, new A

[2022-10-26 19:51] frostshoxx opened #4794 "ToastContentBuilder().Show() throw unhandled exception System.AccessViolationException"
Hi there I have a background task that will read .NET Channels message and generate ToastContentBuilder() based on that.

However, I notice some random occurence of System.AccessViolationException after several .Show() is called.

Here is my example code.
[code]

[code]

[2022-10-27 07:57] mikegoatly opened #4795 "[Feature]"
### Describe the problem

When dragging and dropping from one ListView to another you sometimes need to know the index of the dropped item so you can update a model accordingly. `DragEventArgs` doesn't expose this information, so it has to be manually calculated by the position of the drop and the current scroll container state.

### Describe the solution

Provide an extension method (a convenienc

[2022-10-27 18:18] michael-hawker commented on #4406
@appindus-ibiller thanks for the additional info. It could be the IoT build, that's not something we really test for (I don't know if we know how to set that environment up to try and reproduce at the moment, unless we could do it in a VM?).

Since you're using WinUI 3 though, all the APIs used here should be abstracted from the OS?

I wonder if you tried to create a sample which just called `Micr

[2022-11-01 16:55] michael-hawker commented on #4794
@frostshoxx is this in a UWP or WinUI/WindowsAppSDK project? Which version of the NuGet package are you using?

FYI @AdamBarlow @vaheeshta

[2022-11-01 16:58] frostshoxx commented on #4794
I tried separately and had problem on both of them (`CommunityToolkit.WinUI.Notifications` and `CommunityToolkit.WinUI.Notifications` version `7.1.2`)

[2022-11-01 17:38] frostshoxx commented on #4794
I tried separately and had problem on both of them (`CommunityToolkit.WinUI.Notifications` and `Microsoft.Toolkit.Uwp.Notifications` version 7.1.2). I first thought it was a WinUI library issue, but once I switched to the Uwp one, it still throws the same error. Note that the issues have not happened on the first call to .Show() from what I tried to reproduce so far. Sometimes the .Show() were cal

[2022-11-01 21:45] michael-hawker commented on #4794
@frostshoxx we just released 7.1.3 (UWP package, but should work for WinUI as well); can you try that one and see if it exhibits the same behavior?

[2022-11-01 21:46] frostshoxx commented on #4794
Sounds good, I'll give that a try. Thanks!

[2022-11-01 22:27] frostshoxx commented on #4794
@michael-hawker,

I ran the code for about half an hour and had not seen the issue coming back so far. I'll try to run it overnight before calling a day and see if the issue comes back.

Do you have any plan on publishing the WinUI package version?

Thanks again!

[2022-11-01 22:53] frostshoxx commented on #4794
Unfortunately, it still happens same error. The only thing I did was to change the code branch and rerun it (also made sure that the active branch is using latest UWP 7.1.3).

Could this have anything to do with "conversationId" or some attribute that ties to an old toaster notification from previous runs?

[2022-11-03 19:54] mbragg12 commented on #4785
For what it is worth, we are seeing a similar issue in a few user logs/dumps.  Not certain of why it only fails for some.
[code]

[2022-11-05 12:52] Gaoyifei1011 commented on #4412
这是我的解决方案，可能有些笨拙。欢迎大佬献策。
Here is my solution, probably a little clumsy. Welcome the big guy to contribute.

我使用visual studio 2022创建了一个新的空白应用，使用的是Windows app sdk 1.1.5，经过测试发现，当系统主题发生变化时，UISettings().ColorValuesChanged事件仍然能够被触发。在事件触发后，可以读取注册表  “计算机\HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Themes\Personalize”项的两个键值，其中“AppsUseLightTheme”对应的是“默认应用模式”的设置，“SystemUsesLightTheme”对应的是“默认Wi

[2022-11-16 16:53] artkat opened #4804 "[Feature] DateTimeOffset, DateOnly are not supported in TwoWay Binding"
### Describe the problem

TwoWay binding a DateTimeOffset property to a custom DataGrid column, derived from DataGridBoundColumn does not work as the GenerateEditingMethod will never be called.

This issue does not happen when binding to a DateTime property.

This issue also happens when binding to a DateOnly property

### Describe the solution

The CanEdit and DataTypeIsPrimitive methods in DataG

[2022-11-23 07:27] pellea commented on #4390
Hello, since I have the same issue, I did not open another one.

NuGet cannot restore the Monaco.Editor 0.10.0 alpha package.
Where can we find it?

[2022-11-23 09:02] LeonSpors opened #4807 "StopAnimationAction ArgumentNullException"
### Describe the bug

**StopAnimationAction** gets executed before the property **Animation** got populated. The result of that is that _Execute()_ throws an ArgumentNullException.
Weirdly the same behavior doesnt effect on **StartAnimationAction**.

`Message = "Value cannot be null. (Parameter 'Animation')"`

### Regression

_No response_

### Reproducible in sample app?

- [X] This bug can be re

[2022-11-24 00:28] jrovny commented on #4766
Hi @michael-hawker , I believe the DataGrid is actually functioning correctly. I had forgotten that ObservableCollection publishes events for when items are added to or removed from the collection, but not when properties within the items themselves are modified. To enable the DataGrid to display changes when properties within the items within the ObservableCollection are changed, the item needs t

[2022-11-24 00:28] #4766 closed

[2022-11-29 18:38] michael-hawker commented on #4807
Thanks for the report @LeonSpors, saw you mentioned version 7.1.2? Have you tried the latest 7.1.3? I feel like we changed some small things here.

In your scenario above, is the `IsSynchronizing` value in the VM `true` by default on initialization.

[2022-11-30 21:07] aquinn39 opened #4809 "[Feature] Add an option in Microsoft.Toolkit.Uwp.UI.FrameworkElementExtensions.Cursor to use the pen cursor"
### Describe the problem

Currently, the Microsoft.Toolkit.Uwp.UI.FrameworkElementExtensions.Cursor extension does not allow using the pen cursor (this cursor here:
![image](https://user-images.githubusercontent.com/43898231/204906367-3488d0ac-c614-4fc6-9413-c9fdace5ceba.png)
). This would be a very useful option for inking applications, so that they can indicate that clicking and dragging will dr