[2021-09-27 11:34] Sergio0694 commented on #4278
Hey @DavidZidar, yup that's already planned indeed, I just didn't have the time to implement it just yet 😄
Remember that the source generator support in the MVVM Toolkit is still to be considered in preview for now. You can track progress in [this issue](https://github.com/CommunityToolkit/WindowsCommunityToolkit/issues/3872), and you can see this proposal to support the same scenario you mentione

[2021-09-27 11:35] Sergio0694 commented on #4275
@azchohfi Sure thing, taking a look at this today! 😊

[2021-09-27 12:51] Sergio0694 commented on #4272
Hi @svestin, I cannot seem to be able to repro this issue on my end, are you sure your repro steps are complete?
I tried both with and without source generators (which would be what the MVVM Toolkit did prior to 7.1).

I defined these two classes:

[code]

Then tested them like so:

[code]

Which worked just fine, it just didn't do anything.

When using source generators, it makes sense that this

[2021-09-27 15:57] DavidZidar commented on #4278
@Sergio0694 That's excellent! I somehow missed that issue while searching. Your proposed solution seems very similar to what I proposed above. I guess that means this issue is redundant, do you want me to close this issue or leave it open for visibility?

[2021-09-27 16:02] Sergio0694 commented on #4278
Glad to hear that! We can leave this open for tracking, no worries 😊

[2021-09-27 16:42] svestin commented on #4272
More info:
This time on another computer with Win 10 Pro 21H1, 19043.1237
Visual Studio 2019, 16.11.3
MvvmToolkit 7.1.0

If I create a WPF-app with **.Net5** (and as a result a SDK-style project file), **everything work as expected**.

Repeated the same small example on **WPF .Net Framework 4.8** (old stye project file) and now I end up with

**Exception thrown: 'System.ArgumentException' in Syste

[2021-09-27 16:49] Sergio0694 commented on #4272
Oooh, that helps, thanks for the additional info! 😄
I think this bug is an interesting combination of (1) the source generators somehow not being picked up in your project and (2) .NET Framework seemingly having a bug (or at least a different behavior) that is causing the compiled LINQ expression to crash if there are no input expressions in its constructor. Specifically, I believe this is the par

[2021-09-28 11:59] svestin opened #4283 "[Bug]Mvvm Toolkit 7.1.0 no longer supports .NetStandard 2.0 ?"
Windows 10 Enterprise 1909, 18363.1734
Visual Studio 2019, 16.11.3

After upgrading to Mvvm Toolkit 7.1.0 I can no longer compile my .Net Standard 2.0 projects. I did not have any problems with Microsoft.Toolkit.Mvvm version 7.0.2.

Result:
2>Target CoreCompile:
2>  CSC : error MVVMTK0013: The source generator features from the MVVM Toolkit require consuming projects to set the C# language version

[2021-09-28 12:24] ShahinDohan commented on #4283
I'm seeing the same behavior in our .NET 4.8 project after updating to 7.1.0

[2021-09-28 13:29] svestin commented on #4283
@ShahinDohan If you look at the simple example in the attached ObservableValidatorTest_netStd2.zip , the WPF-application in .Net 4.7.2 has a class

    public class MyBase : ObservableValidator

that compiles just fine for me, using .netFW 4.7.2 (or 4.8)
In the .Net Standard 2.0 project however, I end up with the strange compilation error.

[2021-09-28 13:47] ShahinDohan commented on #4283
Ah, I had an SDK-style project and I had to set the language version explicitly : `<LangVersion>latest</LangVersion>` and now it works.

Nevermind 🙂

[2021-09-28 20:46] christosk92 commented on #4279
It's worse when you're debugging and you make a change and you use hot reload, VS just blatantly crashes

[2021-09-29 06:38] starkfall commented on #4279
I also have an error like this in xaml designer (VS2019, VS2022Preview).
For now I have build a WindowsCommunityToolkit 7.1.0 project and instead of nuget packages I use the compiled dlls. And designer works well.

Exception stack with nuget packages:
System.Resources.MissingManifestResourceException
Could not find any resources appropriate for the specified culture or the neutral culture.  Make s

[2021-09-29 07:26] ShahinDohan commented on #4283
So it seems like now the minimum required version of C# for MVVM Toolkit is 9, which is not officially supported by Microsoft for .NET Framework (The language change dropdown was disabled in VS 2019 because of this)

So now I'm forced to use an unsupported language version in our .NET Framework solution by editing `csproj` or `Directory.Build.props` and I don't feel very comfortable with that... I

[2021-09-29 08:59] Nirmal4G commented on #4279
@michael-hawker Assign this to me. I might have a general idea of what's going on here!

Let me take a look…

[2021-09-29 09:05] svestin commented on #4283
I was under the impression that .Net Framework 4.8  (and 4.7.2) was using C# 7.3 and in my small example I had no problem compiling with MvvmToolkit 7.1.
The problem shows in .Net Standard 2.0 (that also uses C# 7.3, I think)
I might be missing something here...

Anyway, I hope someone will have a look at this because for me, it is kind of a “show stopper”.

[2021-09-29 09:10] HavenDV opened #4284 "MUXC NavigationView Header displays unnecessary indentation"
### Current behavior

![image](https://user-images.githubusercontent.com/3002068/135217936-7360f57c-95d0-40ae-8487-f6af2936e955.png)
I'm not sure what exactly the problem is. The problem is either indentation or default vertical alignment. This showed up after updating to 3.11.0-dev.242 from about 3.10.0-dev.500

### Expected behavior

![image](https://user-images.githubusercontent.com/3002068/135

[2021-09-29 17:37] pisc-software opened #4288 "Code Generators degrade VS performance, add excessive load to Roslyn Analyzers and high CPU utilization"
## Describe the bug

Visual Studio C# Code Editors get very sluggish, Roslyn Analyzer with high CPU usage. No actual work can really get done in the editors.

- [ X ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:
Not observed on 7.0.2, after update to 7.1 this is showing. Reverting back to 7.0.2 is fixing this. Seems to be the Source Generators are

[2021-09-30 11:38] archergod opened #4289 "VS2019 Hot Reload Crashes Visual Studio, Designer Windows Don't load"
Since I upgrade my UWP App from 6 to 7.10 It start crashing my Visual Studio 2019 (and VS2022 Preview 4.1) when I try to use Hot Reload and Edit XAML file while application is running.

Also, VS 2019 for some reason stop showing XAML interface and gives following error. VS2022 Preview 4.1 still loads.

![image](https://user-images.githubusercontent.com/4686220/135448301-51e07963-76c6-41ed-8b36-a75

[2021-09-30 12:20] cruelcoding commented on #4289
I suppose this is the same
https://github.com/CommunityToolkit/WindowsCommunityToolkit/issues/4279

[2021-09-30 12:21] archergod commented on #4289
agree

[2021-09-30 12:21] #4289 closed

[2021-09-30 12:22] archergod commented on #4279
+1 on this bug, for me too.

[2021-09-30 15:59] christosk92 commented on #4279
Hm... It also crashes in preview 4.1 for me. Is there a setting you changed?

[2021-09-30 18:24] RosarioPulella commented on #3546
@michael-hawker  I don't believe that #4255 fixed that issue. #4222 correctly tests for the underlying cause of this issues but lacks a solution.

[2021-10-01 06:13] archergod commented on #4279
VS 2022 Preview 4.1 Crashes, but Editor loads, for me VS 2019 Editor doesn't load. (I am talking about XAML Text Editor (not even designer one)

[2021-10-02 10:40] Sergio0694 commented on #4288
Hi @pisc-software, I'm going to assume this is about the MVVM Toolkit given it's the only project with source generators. There currently is a known performance issue on large projects due to the generators not being incremental, which is something I plan to do in the final release of the source generators in an upcoming version of the MVVM Toolkit (currently they're in preview). Are you using the

[2021-10-02 10:55] Sergio0694 commented on #4283
I think this issue is the same as in https://github.com/CommunityToolkit/WindowsCommunityToolkit/discussions/4269#discussioncomment-1384049.
I'm fixing this in https://github.com/CommunityToolkit/WindowsCommunityToolkit/pull/4285, which will be published in a 7.1.1 release soon 😄
Sorry for the inconvenience!

[2021-10-02 16:11] 333fred commented on #4288
@chsienki is the person to ask.

[2021-10-02 22:46] matheus-inacio opened #4293 "DispatcherQueueTimerExtensions bug"
## Describe the bug

The Debounce extension method is not correctly updating the Action in the ConcurrentDictionary. This is causing the debounce extension to trigger the oldest version of the action in the 'chain' instead of the latest.

## Steps to Reproduce

I've made a small test in order to confirm the bug:

[code]

## Expected behavior

As i understand, the debounce should trigger the latest

[2021-10-03 18:29] WillemBos commented on #4279
Yes VS 2019 is very unstable with this version: debugging with hot reload crashes VS and XAML designer is not loading but shows the above error.

[2021-10-04 06:39] michael-hawker commented on #4293
Nice catch @matheus-inacio, not sure how we haven't caught this. Mind adding your nice set of tests to our test suite as well for the future in your #4294 PR? Thanks!

[2021-10-04 11:32] Sergio0694 commented on #4266
I've investigated this and can confirm this seems to be a WPF bug, as the code works just fine on UWP.

<details>
    <summary><b>XAML (click to expand):</b></summary>
<br/>

[code]

</details>

<details>
    <summary><b>C# code-behind (click to expand):</b></summary>
<br/>

[code]

</details>

Which results in this, as expected:

![sGiHrcgxHo](https://user-images.githubusercontent.com/10199417/13

[2021-10-04 11:32] #4266 closed

[2021-10-04 17:32] archergod commented on #4279
I also report crash of VS to MS: https://developercommunity.visualstudio.com/t/Editing-UWP-XAML-Crashes-VS19-and-VS2022/1543576?entry=problem (please upvote for it too).

[2021-10-04 21:11] matheus-inacio commented on #4293
Done

[2021-10-05 13:27] oduis commented on #4279
Same problem here. Disabling the GUI preview by opening the page as pure XML Editor does not help it seems.

[2021-10-05 14:09] mixturify commented on #4279
Reassured to see I am not the only one with this very annoying problem :(

[2021-10-05 15:24] archergod commented on #4279
For now, if you are not using VS2022 preview 4.1 use that it is much more workable than VS2019.

[2021-10-05 18:04] michael-hawker commented on #4279
@Nirmal4G were you able to investigate? Any leads yet?

[2021-10-05 18:11] michael-hawker commented on #4284
Hi @HavenDV, is there a reason you're reporting this on the Toolkit repo instead of the [WinUI repo](https://aka.ms/winuigithub)?

[2021-10-05 21:34] HavenDV commented on #4284
Hi. No, my mistake.

[2021-10-05 21:34] #4284 closed

[2021-10-06 09:01] Sergio0694 opened #4299 "Shouln't AttachedCardShadow be in Microsoft.Toolkit.Uwp.UI?"
## Overview

With respect to the ongoing effort to streamline the namespace structure in the Toolkit (see https://github.com/CommunityToolkit/WindowsCommunityToolkit/issues/3422), and also because this particular instance is technically breaking our established pattern of using the core namespace for additional "addon" features from other packages, shouldn't `AttachedCardShadow` be in `Microsoft.T

[2021-10-06 14:44] Sergio0694 opened #4300 "[Feature] Improve/extend the visual tree extensions"
## Describe the problem this feature would solve

The `DependencyObjectExtensions` exposes APIs that offer a very convenient (and efficient) way to interact, query and traverse items in the visual tree linked to a given object. There are currently some limitations though that force developers (eg. us in the Store team) to have to implement some additional features manually. I think it would make s

[2021-10-06 15:42] AbdAlghaniAlbiek opened #4301 "[Feature] Adding Shimmer effect and Blur images when we waiting loading resources from the server"
## Describe the problem this feature would solve
Hi, first of all, I noticed that new Microsoft Store have Shimmer effect when loading the resources from the server so I was so excited for this, then I searched libs that makes shimmer effect libs for UWP apps and I found out that all libs for xamarin (especially xamarin.Android) Unfortunately 😢

![shimmer_effect](https://user-images.githubusercont

[2021-10-06 17:41] jhwheuer commented on #4279
Merci, thank you

[2021-10-07 20:35] #4283 closed

[2021-10-07 21:29] #4293 closed

[2021-10-07 23:00] michael-hawker commented on #3831
Hi @sahilrawat001, sorry we missed your comment. Let us know if you're still interested in lending a hand.

This issue is about cleaning up our XML comments, so for instance this one:

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/63cbb4a51bdef59083ccfc86bbcba41f966d0027/Microsoft.Toolkit.Uwp.UI.Media/Brushes/RadialGradientBrushInterop.cs#L18-L24

It has both a link still using

[2021-10-08 11:19] Sergio0694 commented on #4288
@michael-hawker As far as I know there is now way to only run the generators optionally, as they're just added as references when adding the MVVM Toolkit dependency and then are active by default. The best we can do so far until we switch to incremental generators is just to make them bail out as early as possible if they detect there's no work to do, but on large solutions just exploring the vari

[2021-10-10 06:45] veler opened #4303 "Copied text from TextBox isn't preserved in the clipboard after shutting down the sample app."
## Describe the bug

Copying anything from a regular TextBox in the sample app isn't preserved un the clipboard after shutting down the app.

- [X] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:
I do not know if it's a regression, but it seems like the bug has been fixed in the past with the following snippet:
https://github.com/CommunityToolkit/Win

[2021-10-11 03:32] DaZiYuan opened #4304 "AddAudio doesn't work in WPF"
## Describe the bug

can not play audio in WPF project.

## Steps to Reproduce

[code]

## Expected behavior

## Screenshots

## Environment

NuGet Package(s):

Package Version(s):

Windows 10 Build Number:

- [ ] Fall Creators Update (16299)
- [ ] April 2018 Update (17134)
- [ ] October 2018 Update (17763)
- [ ] May 2019 Update (18362)
- [x] May 2020 Update (19041)
- [ ] Insider Build ({build_num

[2021-10-11 05:11] iloxmn opened #4305 "TabbedCommandBar Issue with FocusVisualKind"
## Describe the bug
Set this in App.xaml.cs
public App()
{
this.FocusVisualKind = FocusVisualKind.Reveal;
}
then create a TabbedCommandBar in MainPage.xaml and the header is missing

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [x] Can this be reproduced in the Sample App? (Either in a sample as-is or with new XAML

[2021-10-11 16:37] Sergio0694 opened #4306 "Inconsistent/glitchy behavior for repeated explicit animations with starting value + delay"
## Describe the bug

Using a XAML `ScalarAnimation` with a delay results in a weird snapping animation after the first time the animation is played. Running the same exact animation in C# using `AnimationBuilder` works fine instead. This issue is forcing us to write more animations in C# than we'd like in the Store client. We should investigate and fix this to ensure consistency between C#/XAML.

[2021-10-11 22:08] HerrickSpencer opened #4308 "OnDevice Extension Sample has an error shown in the monaco editor (missing reference)"
## Describe the bug

In the OnDevice Markup Extension Sample there is an error shown in the Monaco editor, stating that the OnDevice class does not exist.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Run the current app, navigate to extensions, navigate to the OnDevice Extension... look at the monaco editor.

- [x] Ca

[2021-10-11 22:47] michael-hawker commented on #4111
Moving feature to next milestone out of hotfix release.

[2021-10-12 06:22] Nirmal4G commented on #4279
@michael-hawker @jp-weber

This took a while since I thought the problem was in the generated sources from ResX files but turns out SDK-style and Legacy projects handle Namespace assignment a bit differently.
Hence, using `RootNamespace` property as a single source of truth should fix the issue. Please check with the PR build's latest packages.

[2021-10-12 16:42] michael-hawker opened #4312 "Samples use custom theme resources"
## Describe the bug

Some of our samples (like ListDetailsView) use custom theme resources `{ThemeResource Brush-Blue-01}` which cause problems if copied blindly. Any resources defined or used should be part of the sample XAML or we should only use system level resources that are part of OS/WinUI 2.x.

## Steps to Reproduce

- [x] Can this be reproduced in the Sample App? (Either in a sample as-is

[2021-10-12 19:35] azchohfi opened #4313 "Drop .Net Core 2.1 support"
## Describe the bug

We should drop support for netcoreapp2.1. It is out of life, and our tests will start to fail on ADO since we don't manually install this framework.

[2021-10-13 00:12] #4279 closed

[2021-10-13 01:21] raymond-wh-leung commented on #4306
I’m not 100% positive what’s causing the jump, but I think one thing you can try is to just skip the StopAnimation() call.
The StartAnimation call() would stop existing animation if any, and without triggering any StopBehavior.

[2021-10-13 09:15] pierresa opened #4314 "Update to 7.10 seems to cause issue with VS Xaml designer"

[2021-10-13 16:21] Sergio0694 commented on #4313
Awesome! We should do that right after 7.1.1 is out, probably so sometime late next week or the week after that? 😄

[2021-10-13 17:14] andrewleader opened #4315 "[Feature] Clarify that toast Audio doesn't support full C:/ paths"
## Describe the problem this feature would solve

Toasts don't support audio paths that are full paths like `C:/...` or `F:/...`, they only support `ms-resource` and `ms-appx`. But the comment on AddAudio doesn't explain this, and it doesn't throw an exception either.

## Describe the solution

1. Add info to the AddAudio method comment that clarifies what URIs are supported.
2. Throw an exception

[2021-10-13 18:41] peteams opened #4316 "OneEuroFilter incorrectly translates from duration to frequency."
## Describe the bug

The GazeInteraction library implementation of OneEuroFilter is broken. The conversion from C++ to C# broke a calculation between time and frequency. The 100000000.0f (1e8) in the following line should be 10000000.0f (1e7).

This:

float samplingFrequency = 100000000.0f / Math.Max(1, (args.Timestamp - _lastTimestamp).Ticks);

Is better expressed as:

var samplingFrequency = (fl

[2021-10-13 21:49] HerrickSpencer opened #4318 "[Feature] ResourceString Markup Extension for easy localization"
## Describe the problem this feature would solve
Microsoft’s current documentation shows examples of how to globalize your UI facing strings in UWP/WPF XAML by using the Uid as a lookup in an included resx file. This technique works great, but does have some limitations.

Commonly used resource string technique:

`<Button x:Uid="MyButton"/>`

In a [blog post I wrote for \#ifdef](https://devblogs.m

[2021-10-14 10:04] Nirmal4G commented on #4314
Duplicate of #4279. This has been fixed. Assuming the linked issue is same as this. If not please eloborate.

[2021-10-14 10:17] Nirmal4G commented on #4161
@ArchieCoder There were a few updates to solution file since then. Can you confirm if this is fixed in my PR #4234?

[2021-10-14 10:32] Nirmal4G commented on #4313
For build related stuff, I think I could offer some help if guys are busy.

Also, I do have some ideas about the build and repo structure. The current repo structure is too difficult to navigate or understand. So, when we do split, we should try to follow a build repo template for all Toolkit repos similar to what the @dotnet org follows with @dotnet/arcade!

Is there any issue open for these disc

[2021-10-14 20:36] #4316 closed

[2021-10-14 20:46] HerrickSpencer commented on #4318
Great thoughts @Sergio0694 This was discussed in the blog post as well... I like the idea of both options, so I've created a static function to allow users to choose either. I've also updated the Sample app page to show this as well.
Thanks for this suggestion.

[2021-10-14 20:47] #4314 closed

[2021-10-15 08:06] HHChaos opened #4323 "[Feature] A animation helper that morphs between two controls"
## Describe the problem this feature would solve

Hi, I am a member of the Microsoft store team. we created a cool helper in the store for transitioning from one control to another. For example, we scroll down on a product page, and we can see the header of this page transformed to a sticky bar fixed at the top. This helper helps us to transform the image, title, buttons and other controls in the

[2021-10-15 16:18] pfresnay opened #4324 "No DropShadowPanel alternative when targeting latest LTSC (17763)."
## Describe the bug

AttachedDropShadow and AttachedCardShadow use [`CompositionVisualSurface`](https://docs.microsoft.com/uwp/api/windows.ui.composition.compositionvisualsurface) that is only available starting with Build 18362.
DropShadowPanel is marked as deprecated and there isn't any alternative when targeting 17763 witch is the latest LTSC windows 10 edition.

## Steps to Reproduce
1. Create

[2021-10-15 20:32] michael-hawker commented on #4324
@pfresnay as long as you don't try and round the corners of the shadow on 17763, it should work just the same as DropShadowPanel does:

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/72ab567a06b986e615b67289cc303fcad64f4d71/Microsoft.Toolkit.Uwp.UI/Shadows/AttachedDropShadow.cs#L279

It just uses `CompositionVisualSurface` for better performance to make a rounded rectangle shadow

[2021-10-16 12:02] pjmagee commented on #4228
Is there a a github issue that tracks this is a blocker as I suppose many people wont be using 0.5 or 0.8 now that the 1.0 is released and renamed from Reunion?

[2021-10-18 17:19] michael-hawker commented on #4171
@tinmac we'll post a discussion when we release and close this issue. Right now we're waiting for Preview 3 as WASDK Preview 1 and 2 have a critical bug, see https://github.com/microsoft/WindowsAppSDK/issues/1599

[2021-10-20 22:25] DominicMaas opened #4331 "AttachedCardShadow not working on Windows 10 when Corner Radius is set on control"
## Describe the bug

I'm trying to add a shadow to an image with rounded corners. This works as expected on Windows 11, but on Windows 10 the shadow does not appear.

[code]

If I remove the `CornerRadius` from the Border element, the shadow will appear (but the image is no longer clipped as expected).

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it

[2021-10-20 22:37] DominicMaas commented on #4331
Oh, if I use a `Rectangle` for the image instead of a `Border`, it appears to work.

Possibly just me being dumb attempting to use a `Border`.

[2021-10-20 22:43] Ryken100 commented on #4331
Hi @DominicMaas,

On Windows 10, non-templated elements such as `Border`, `Grid`, `ContentPresenter` etc will clip their children when `CornerRadius` is applied, so you can't apply `AttachedCardShadow` directly to these elements. You can apply it to templated controls such as `Button`, or as you've noticed, a rounded `Rectangle` :)

I wasn't aware that this clipping behavior was changed in Windows

[2021-10-21 13:38] Sergio0694 opened #4332 "Incorrect target type for RelativeAncestor attached properties"
## Describe the bug

The attached properties for the "relative ancestor" feature are currently targeting the wrong type:

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/44ad0cc6806c99f1a693c923cb94ea7551718c13/Microsoft.Toolkit.Uwp.UI/Extensions/FrameworkElement/FrameworkElementExtensions.RelativeAncestor.cs#L18-L21

These are defined in `FrameworkElementExtensions` but target a

[2021-10-22 07:43] archergod opened #4334 "TextBoxExtensions Mask"
I am trying to use TextBox Mask Extension as per sample (https://docs.microsoft.com/en-us/windows/communitytoolkit/extensions/textboxmask) I put my mask as "99-99-99", but when UWP app runs, it shows me field as "__-__-__", which is fine (and expected).

But now to data enter in this field, user has to select the "_" and then type its numeric character, i.e. he select individual underscore ( _ ) a

[2021-10-22 21:59] w-ahmad opened #4339 "AdvancedCollectionView throws ArgumentOutOfRangeException when live shaping set to true."
## Describe the bug

AdvancedCollectionView throws ArgumentOutOfRangeException when live shaping set to true and try to change values of filter properties.

## Steps to Reproduce

I've created a test app to reproduce this issue. The app contains two lists each of lists items source is bound to filtered advanced collection view source. To reproduce this issue drag & drop first item from list1 to li

[2021-10-27 06:03] #4334 closed, assigned to nobody

[2021-10-27 15:46] fandco-public opened #4346 "Namespace: Microsoft.Toolkit.Uwp.UI.Extensions appears missing in 7.1.1"
Hi,

Namespace: Microsoft.Toolkit.Uwp.UI.Extensions appears missing in 7.1.1  Its available in 6.1.1
I am looking for LogicalTree extension class  but i could not find it.  Is this moved in some other nuget package or namespace ?

Regards

[2021-10-29 09:46] tinmac opened #4352 "GridSplitter throws ResourceLoader exception"
## Describe the bug

When using the GridSplitter debugger throws an exception in ResourceLoader.h

'Continue' button shows the GridSplitter and its working ok.

Ctrl-f5 doesnt crash the app, it works ok.

## Steps to Reproduce

The sample app does'nt have a WinUI 3 version so reproducing exception there isnt applicable.

Steps to reproduce the behavior:

- Drop the Gridsplitter into a new WinUI 3

[2021-10-29 19:50] azchohfi commented on #4352
Hello @tinmac.

This is not only on the GridSplitter, but actually on anything that uses the StringExtensions.
It is a static initialization, and this exception is caught,
https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/winui/CommunityToolkit.WinUI/Extensions/StringExtensions.cs#L20

I'll look into trying to ignore this, but it might just be an issue that we would need to raise in

[2021-10-29 23:13] azchohfi commented on #4352
Ok, found out a better solution. Instead of using the ResourceLoader, I'll switch to use the ResourceManager, which doesn't throw that internal exception. Code is a little bit more verbose, but the behavior is exactly the same.

[2021-10-30 00:36] azchohfi commented on #4352
https://github.com/CommunityToolkit/WindowsCommunityToolkit/commit/82e2bbb5df41ca9a9ba6aa6ec6dad2070aa3c90a
This will be out in our next public release.

[2021-10-30 09:51] tinmac commented on #4352
@azchohfi  that was super quick. Can this be closed?

[2021-10-30 11:34] huoyaoyuan commented on #3872
Quick feedback: if I implement `IRecipient<>` on a user control with generated code from xaml (I know this might be anti-pattern), the generator will attempt to generate twice. Roslyn reports duplicated hint name from the generator.

[2021-10-31 20:38] gus33000 opened #4355 "TokenizedTextBox throws "NamedResource Not Found. (0x80073B17)" upon load with AppSDK preview 3"
## Describe the bug

Upon loading a TokenizedTextBox control in an App SDK packaged or unpackaged project, when using localized properties, the following exception is thrown:
![image](https://user-images.githubusercontent.com/3755345/139600007-d595c2f6-f1ec-4162-a450-6f55aba24e17.png)

- [x] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work: 7.1.1 (UWP)

[2021-10-31 21:15] gus33000 opened #4356 "SystemInformation helper throws an exception with Unpackaged Windows App SDK projects"
## Describe the bug

Upon using the SystemInformation class, the following exception is thrown in unpackaged Windows App SDK projects:

![image](https://user-images.githubusercontent.com/3755345/139601356-5f285343-f2b8-45ea-b84e-f9b087ad9b81.png)

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [ ] Can this be reproduc

[2021-10-31 21:44] gus33000 commented on #4356
The issue seems to be caused by the following call which will fail under applications with no package identity:

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/07fa14d34a5a678def14344c20d29b58a4604ebe/CommunityToolkit.WinUI/Helpers/SystemInformation.cs#L41

I don't think the other fields would actually fail in the same way with no package identity available.

[2021-11-01 18:09] huoyaoyuan opened #4357 "ListDetailsView not working with WinUI3/WindowsAppSDK 1.0.0-preview3"
## Describe the bug

`ListDetailsView` causes hard crash in normal usage.

- [x] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:
7.0.1

## Steps to Reproduce

- [ ] Can this be reproduced in the Sample App? (Either in a sample as-is or with new XAML pasted in the editor.) If so, please provide custom XAML or steps to reproduce. If not, let us know wh

[2021-11-01 18:16] huoyaoyuan commented on #3872
Another quick feedback: the observable property generator doesn't handle generic class. It loses the `<T>` in class definition in generated code.

[2021-11-02 12:35] 11v1 opened #4359 "Application activation does not work from toast for unpackaged app Framework 4.8"
## Describe the bug

If application is built for framework 4.8 then it's activation (when app is closed) from toast does not calls OnActivation after app start.

## Steps to Reproduce

- [*] This can be reproduced in the Sample App. Need to change target framework to net48 and replace MainWindow.DownloadImageToDisk with:
[code]

Steps to reproduce the behavior:

1. Change Microsoft.Toolkit.Win32.W

[2021-11-02 16:30] michael-hawker commented on #4359
FYI @andrewleader

[2021-11-02 16:36] michael-hawker commented on #4346
Hi @fandco-public, see our release notes for [7.0.0 here](https://github.com/CommunityToolkit/WindowsCommunityToolkit/releases/tag/v7.0.0), in it we call out that we flattened the namespace, so things that were in `Microsoft.Toolkit.Uwp.UI.Extensions` are now just in `Microsoft.Toolkit.Uwp.UI`. You just need to remove the 'Extensions' from the namespace usage in your C# or XAML file and they're st

[2021-11-02 16:39] #4045 closed

[2021-11-03 01:01] #4331 closed

[2021-11-03 09:46] wbokkers opened #4364 "AttachedCardShadow not working (WinUI 3 WinAppSDK 1.0 Preview 3)"
## Describe the bug

I can't get the AttachedCardShadow to work in WinUI 3 Windows App SDK 1.0 Preview 3.

## Steps to Reproduce

Using Windows App SDK 1.0 Preview 3 and WinUI 3,
And given this XAML:

[code]

I get the following result:
![image](https://user-images.githubusercontent.com/4835617/140037618-d09b94c7-47ac-478b-8a8b-ec40405cc7cf.png)

Alas, no shadow.

## Expected behavior

I would exp

[2021-11-03 09:50] wbokkers commented on #4364
This is **not** a duplicate of https://github.com/CommunityToolkit/WindowsCommunityToolkit/issues/4331. I used the suggested solutions, and the corner radius does not have any effect.

[2021-11-03 17:18] michael-hawker commented on #3882
@azchohfi I noticed an issue with the `AttachedCardShadow` in Preview 3 as well. Are these shadow samples working for you on your machine with the WinUI 3 version of the sample app?

[2021-11-03 17:24] michael-hawker commented on #4364
Yeah I hit this too, may be related to #3882. FYI @azchohfi

[2021-11-03 19:46] huoyaoyuan commented on #4357
The call stack is native SystemNavigationManager::GetForCurrentView, so this is https://github.com/microsoft/microsoft-ui-xaml/issues/4174 again.

[2021-11-04 11:58] cbuduknui opened #4366 "DataGrid not working (WinUI 3 WinAppSDK 1.0 Preview 3)"
<ctwuc:GridSplitter Grid.Column="1" MinWidth="150" MaxWidth="500"
                            ResizeDirection="Columns" VerticalAlignment="Stretch" Visibility="{x:Bind DptmentTreeVisible,Mode=OneWay}" />

<ctwuc:DataGrid
            Grid.Row="2"
            BorderThickness="1"
            BorderBrush="LightGray"
            AutoGenerateColumns="False"
            FrozenColumnCount="5"

[2021-11-04 16:49] Nirmal4G commented on #4355
We recently fixed a similar resource loading issue filed in #4279 via PR #4310. At the surface, it doesn't seem to be related to that.

I see that you're loading resources from a class instead of `x:Uid` attribute. Does it only fails with the Toolkit package? What about other versions?

[2021-11-04 18:19] gus33000 commented on #4355
Hello,

It does work correctly for all other controls in my project that are not from the toolkit, and worked fine with the toolkit in UWP projects. I can see if the issue happens with other controls from the toolkit in WinUI 3 but I got no issues on 7.1.1 (UWP).

[2021-11-04 20:16] michael-hawker commented on #4366
@azchohfi I know you said DataGrid seemed to work for you in our sample app, but have been getting some other reports about Win 11, were you testing on Win10 or 11 at the time? I know the UWP one works on Win 11 fine.

@cbuduknui do you have an isolated sample you could share?

[2021-11-04 20:27] michael-hawker commented on #4357
Thanks @huoyaoyuan I think we missed from the original WinUI discussion that there was code we needed to update here too. Thanks for filing an issue.

@azchohfi looks like we missed how best to convert these APIs here:

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/82e2bbb5df41ca9a9ba6aa6ec6dad2070aa3c90a/CommunityToolkit.WinUI.UI.Controls.Layout/ListDetailsView/ListDetailsView.

[2021-11-04 20:29] Sergio0694 commented on #3872
Hey @huoyaoyuan, thanks for the feedbacks!

To be honest I'm surprised this didn't just fail to build directly. As far as I know there's some issues with generators working on files that also targeted by the XAML compiler, due to how the XAML generator is inserted into the build pipeline. I'm not entirely sure this is something that can be addressed by us, as we're really just shipping a normal so

[2021-11-04 20:29] michael-hawker commented on #3598
We did this in 7.0, closing.

[2021-11-04 20:29] #3598 closed

[2021-11-05 01:50] cbuduknui commented on #4366
I have no windows 10 environment right now.
At win11,I create a sample:

<Window
    x:Class="App2.MainWindow"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
    xmlns:local="using:App2"
    xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
    xmlns:mc="http://schemas.openxmlformats.org/markup-compatibili

[2021-11-05 02:30] huoyaoyuan commented on #4357
How about WinUI 3 with UWP? On Win32 I think we can remove it.

[2021-11-08 10:27] Marv51 opened #4367 "ColorPickerButton SelectedColor binding not updating correctly"
## Describe the bug

ColorPickerButton's SelectedColor property, ignores changes to the source color completely. The color picker never reflects the updated color, even after it is closed and opened.

From looking at the source ColorPickerButton does not seem to forward changes of the "SelectedColor" to the internal ColorPicker. This is because the Color gets set once during [OnApplyTemplate](http

[2021-11-08 12:50] tinmac opened #4368 "Should I be using Microsoft.Toolkit.Mvvm.ComponentModel OR CommunityToolkit.Mvvm.ComponentModel?"
In a  WinUI 3 Desktop app, should I be using Microsoft.Toolkit.Mvvm.ComponentModel OR CommunityToolkit.Mvvm.ComponentModel?

[2021-11-08 19:24] kmgallahan commented on #4368
https://devblogs.microsoft.com/ifdef-windows/windows-community-toolkit-for-project-reunion-0-5/#package-identity-and-renaming

[2021-11-08 20:18] tinmac commented on #4368
@kmgallahan  appreciate that.

[2021-11-08 20:18] #4368 closed

[2021-11-08 20:24] #4352 closed

[2021-11-09 01:08] XAML-Knight commented on #4367
Hi @Marv51 , yes, adding a DP callback method would be my first inclination - go ahead and file a PR for this.

[2021-11-09 13:58] Marv51 commented on #4367
@XAML-Knight PR is ready.

[2021-11-09 18:16] michael-hawker commented on #4364
Validated the `AttachedDropShadow` was working though seems to have issues with `CornerRadius`

`AttachedCardShadow` was being blocked by an old UWP check, so we're investigating a fix. Thanks @azchohfi!

[2021-11-09 18:25] michael-hawker commented on #4357
@huoyaoyuan sorry are you creating a WinUI 3 UWP project? We only support WinUI 3 Desktop projects with the Toolkit.

[2021-11-09 18:28] michael-hawker commented on #4357
Ah, we found some unguarded cases in https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/main/Microsoft.Toolkit.Uwp.UI.Controls.Layout/ListDetailsView/ListDetailsView.BackButton.cs, so those may be it as well. We're adding guards :)

[2021-11-09 18:32] michael-hawker commented on #4356
Thanks @gus33000 we haven't checked unpackaged support yet with the Toolkit. Not sure if there's an alternative method we can call to get the app name in unpackaged scenarios?

[2021-11-09 19:16] huoyaoyuan commented on #4357
@michael-hawker No, just in case if you are missing that scenario.

[2021-11-09 21:44] get-flat opened #4374 "DataGridCheckBoxColumn flickers"
## Describe the bug

https://user-images.githubusercontent.com/74671895/141005297-59a8d014-fe60-4ee5-82cf-9449b9f1f6b0.mp4

## Steps to Reproduce

source code: https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/datagrid_guidance/datagrid_basics#binding-a-datagrid-to-a-data-source

## Environment

NuGet Package(s): 7.1.1-preview3

Package Version(s):

Windows 10 Build Number:

- [ ]

[2021-11-09 23:09] michael-hawker commented on #4357
@huoyaoyuan we just shipped an update which we think will address the issue?https://github.com/CommunityToolkit/WindowsCommunityToolkit/releases/tag/winui-7.1.1-preview3.1

Please let us know, thanks!

[2021-11-09 23:09] michael-hawker commented on #4364
Fixed here: https://github.com/CommunityToolkit/WindowsCommunityToolkit/releases/tag/winui-7.1.1-preview3.1

[2021-11-09 23:09] #4364 closed

[2021-11-10 07:28] huoyaoyuan commented on #4357
@michael-hawker Yes it works.

However, I discovered that `ListPaneWidth` has a another issue. It throws NRE (0x80004003 : 'Object reference not set to an instance of an object.') if I set it in xaml. It works correctly if I set it later in xaml hot reload.

This is not so critical and I can wait for next version.

[2021-11-10 13:54] wbokkers commented on #4364
@michael-hawker Thanks. It works most of the time. When the AttachedCardShadow is attached to a Border that has a CornerRadius set, the shadow is still not visible.

[2021-11-10 14:04] wbokkers commented on #4364
@michael-hawker I also have an issue now with the AttachedCardShadow not starting at the edge of the control, but leaving a gap between the control and the shadow (only at the right and bottom edges):
![image](https://user-images.githubusercontent.com/4835617/141127192-b9e00b83-0cc3-4712-b4d4-dd80a9ebbf85.png)

I think this is somehow related with this WinUI issue:
https://github.com/microsoft/mic

[2021-11-10 14:21] kmgallahan commented on #3872
@Sergio0694

Great work so far on the source generators! Really liking `[ICommand]` and looking forward to `[CanExecute]`. Just wish there was better support for Intellisense from XAML, but AFAIK that is dependent on work being done elsewhere.

Right now I use [Fody/PropertyChanged](https://github.com/Fody/PropertyChanged) to handle `INotifyPropertyChanged` via IL weaving. The beauty of it is an o

[2021-11-10 17:30] Javier118 opened #4376 "how can I activate the CheckBox"
as I can check to choose the row to delete a database table row in sql.

[2021-11-10 18:18] michael-hawker commented on #4364
@wbokkers yeah, I didn't notice this when putting a shadow on a square image, so seems related to the issue you linked to. Didn't know about that one, so thanks for linking!

[2021-11-10 21:31] XAML-Knight commented on #4376
Hi @Javier118 , could we get more details on where the you're seeing this problem?  And would this CheckBox in question have been somehow disabled (i.e, `Enabled = false`)?

[2021-11-11 08:41] Javier118 commented on #4376
I only put checkebox the datagrid but when I click on the checkbox I do not get the chec
![Captura de pantalla (44)](https://user-images.githubusercontent.com/17751683/141266006-d4b5552e-cc54-4a68-8e61-62aa613bc4ed.png)
k.

[2021-11-11 11:39] Sergio0694 commented on #4313
@azchohfi I removed all .NET Core 2.1 targets from the .NET Community Toolkit (https://github.com/CommunityToolkit/dotnet/commit/941098338f31309495d4616a5c305aa12f9dd62d), and the entire repo has been migrated and setup now. Let me know if you need help with a PR to delete everything related to the .NCT. Then the only remaining place to remove .NET Core 2.1 from should just be that notification pr

[2021-11-11 20:45] yariker opened #4378 "ObservableValidator triggers warning SA1633 "The file header XML is invalid" when using StyleCop.Analyzers"
## Describe the bug

If you have a class inheriting from `ObservableValidator` from `Microsoft.Toolkit.Mvvm.ComponentModel` namespace, it would trigger a source code generator producing a file without a header. If code analysis is enabled in the project, such a file will be the subject of analysis.

Although the generated class is annotated with `GeneratedCode` attribute, it does not solve the iss

[2021-11-12 13:34] gus33000 commented on #4356
The only way I think that is standardized of setting an application name without a package probably would be AssemblyInfo for .NET apps. We could get the package version name copyright and more using this.

I was wondering if it would not be a good idea to make a Package like class but for unpacked apps as some sort of shim. UWP apps and Unpackaged apps would use this class to get the same info bu

[2021-11-12 20:28] zateutsch commented on #4356
@gus33000
 I did some digging around and found this API:
`Windows.ApplicationModel.AppInfo.Current.DisplayInfo.DisplayName` which is supported for 19041 and on. As far as I can tell, this shouldn't be dependent on whether or not the app is packaged.

[2021-11-12 22:30] XAML-Knight commented on #4376
Take a look at this similar open issue, and see if you're hitting the same problem: #4374

[2021-11-12 22:33] capegreg opened #4379 "Warning: Does not have a strong name Microsoft.Toolkit.Uwp.UI.Controls.DataGrid"
I am trying to troubleshoot a UWP package release build that installs but crashes on startup. I have a second UWP app that does not use Microsoft.Toolkit.Uwp.UI.Controls.DataGrid and does not crash on startup. I wanted to ask if this warning may be a concern to my issue.

Severity	Code	Description	Project	File	Line	Suppression State
Warning	CS8002	Referenced assembly 'Microsoft.Toolkit.Uwp.UI.Cont

[2021-11-14 15:36] sangitamalviya opened #4380 "IS there any way that Webview can Wrap the Content?"
[code]
it display Html Text Content when size is reduced text is not wrap, is there any property of WebView that can be wrap the content according to the screen size.

[2021-11-15 19:15] XAML-Knight commented on #4378
FYI @Sergio0694

For the record, I tried to repro this issue with VS 2022 (17.0.0) on Windows 11, and the closest I was able to repro was receiving multiple warnings of the following:

`warning SA1633: The file header is missing or not located at the top of the file. `

[2021-11-15 21:23] michael-hawker opened #4382 "Remove .NET Standard Code from Repo"
## Describe the problem this feature would solve

We've moved our .NET Standard Code to now be the .NET Community Toolkit. 🎉🎉🎉

Its new home is now [in this repo here](https://github.com/CommunityToolkit/dotnet).

## Describe the solution

We migrated all the history over there as well, so now we just need to remove the following packages from our repo to complete the transfer:

- Microsoft.Toolki

[2021-11-15 21:27] Sergio0694 commented on #4382
@michael-hawker Just to double check, we do plan to hold on this PR until we push 7.1.2 out, correct?
Otherwise we'll have no way to do so, unless we branched off of `rel/7.1.1` I guess? 🤔

[2021-11-15 21:29] michael-hawker commented on #4382
@Sergio0694 we can pick up an intermediate build at the moment, but yes we'd base off of 7.1.2 eventually. If you plan to put that together this week, then we can coordinate too, especially if we update for WinUI 3 1.0. FYI @azchohfi.

[2021-11-15 21:30] Sergio0694 commented on #4382
Sure thing! Happy to setup a meeting for tomorrow if you want so we can figure out all these details 😄

[2021-11-17 16:53] kmgallahan opened #4383 "[Feature] Add support for using .NET 6 with the WASDK 1.0 release"
As per [this request](https://github.com/CommunityToolkit/WindowsCommunityToolkit/pull/3998#issuecomment-971609595) to create a tracking issue, and [this comment](https://github.com/CommunityToolkit/WindowsCommunityToolkit/pull/3998#issuecomment-963546873):

The `CommunityToolkit.WinUI` package needs to be updated to support .NET 6 as a target in order to use it with WASDK 1.0.

| Project | Releas

[2021-11-17 17:03] azchohfi commented on #4383
What exactly is your TargetFramework? There can be many possibilities here.
net6.0
net6.0-windows
net6.0-windows10
net6.0-windows10.0.17763.0(or other SDKs).

The last one, or any higher Windows10 SDK version) should be working by now.
The Windows App SDK 1.0.0 doesn't even target .NET6.0. It targets .NET5.0, which works fine on .NET6.0.

[2021-11-17 17:32] kmgallahan commented on #4383
@azchohfi

Creating a new Packaged WinUI 3 app in VS 2022 and adding WCT produces this `.csproj` file:

[code]

Switching the Target Framework combobox to .NET 6 produces this one:

[code]

And this error:

[code]

Note that switching to .NET 6 sets the Target OS combobox to (None). Changing that to Windows results in VS 2022 throwing this error:

![Screenshot 2021-11-17 123048](https://user-image

[2021-11-17 17:52] azchohfi commented on #4383
Oh, interesting. It looks like you did change through the UI in Visual Studio, not manually editing the csproj.
Your csproj should have the TargetFramework property set to this:
[code]
Literally just change the **5** to **6**.

[2021-11-17 18:13] kmgallahan commented on #4383
I trusted the tooling too much 🤦‍♂️

In fairness, the WCT error made me assume it was the issue though, and in the linked issue they mentioned the WCT needed an update to resolve the problem.

Doing this for my actual project and trying to update to WASDK results in the following error:

[code]

Although Google is telling me this issue is not directly related to the WCT.

Should I close this issue

[2021-11-17 21:46] kmgallahan commented on #4383
In case Google sends anyone here - the above APPX1101 error stopped occurring after removing a package reference for:

**Microsoft.EntityFrameworkCore.Tools**; version 5.0.12 or 6.0.0

No other versions were tested. So that package for whatever reason isn't currently playing nicely with WASDK 1.0 and `net6.0-windows10.0.19041.0` as the target framework.

[2021-11-18 07:43] lighterhy opened #4384 "[Feature]Adds support for DataTemplateSelectors to InAppNotification."
## Describe the problem this feature would solve

Currently InAppNotification does not support DataTemplateSelector.

[code]

And when I say:

[code]

The template selector ArgumentKeyTemplateSelector does not take any effect and SelectTemplateCore not fired.

## Describe the solution

InAppNotification is a great control to show notifications in my app. But I feel difficult to reuse the DataTempl

[2021-11-18 11:28] lee011 opened #4385 "`MarkdownTextBlock`'s links will cause app freeze if background acrylic is applied to `Page`"
## Describe the bug

When hovering on a link in `MarkdownTextBlock` of a `Page` with background acrylic for some time, the app will freeze.

- [ ] Is this bug a regression in the toolkit? If so, what toolkit version did you last see it work: I don't know.

## Steps to Reproduce

- [ ] Can this be reproduced in the Sample App? (Either in a sample as-is or with new XAML pasted in the editor.) If so,

[2021-11-18 16:54] suchja commented on #4357
I do have the same problem with `ListPaneWidth`. Unfortunately it comes out of some template and I can't find any workaround for this:

<img width="750" alt="Bildschirmfoto 2021-11-18 um 17 49 34" src="https://user-images.githubusercontent.com/3649865/142460150-a315cc88-959d-415a-b72f-cc273be15c07.png">

As far as I can see there is not custom template I supply which changes the `ListPaneWidth`. S

[2021-11-19 19:59] chingucoding opened #4390 "Unable to build all projects in solution on the winui branch"
When using the [winui branch](https://github.com/CommunityToolkit/WindowsCommunityToolkit/tree/winui), building the solution wth VS 2022 ends with a few projects failing to build. Build log: https://gist.github.com/chingucoding/5fd6d1cdf7b9e6fd297ce6a2c032b236

Context: I was trying to figure out why unit test projects for WinUI 3 were not working and the awesome @azchohfi suggested to checkout th

[2021-11-19 20:07] azchohfi commented on #4390
Ah, there is the issue.
The **UI Tests** are enabled on the winui branch, but the **Unit Tests** are enabled only on the [winui_unittests](https://github.com/CommunityToolkit/WindowsCommunityToolkit/tree/winui_unittests) branch. I still haven't merged these into the winui branch yet, due to an issue that we are still investigating. The issue happens only on our test project that has many, many tes

[2021-11-19 20:21] chingucoding commented on #4390
Ah I see. I'm building the project through Visual Studio. The first times it failed, but after running the build.bat file inside the build folder, the build errors for the UI tests project didn't seem to occur again and the tests ran fine. After cleaning the projects again though, trying to run the UI tests ended in a build issues and the tests not running.

[2021-11-21 21:43] asklar opened #4391 "Provide native-consumable libraries"
Prior discussions (which were locked so I can't comment on those...):
- #3704
- #4044
- #2714
- #750

The repo description talks about supporting **UWP** and **.NET** apps; however, the repo only supports .NET apps.
UWP apps can be written in C++ (and other non .NET languages), as can WinAppSDK apps. I believe the WCT wants to/should support these kinds of apps too.

Plus, some parts of the WCT do

[2021-11-21 21:43] asklar commented on #4391
CC @chrisguzak

[2021-11-21 22:07] nlogozzo commented on #4391
Yes please we need this! Especially for Windows App SDK development with C++...there's no DataGrid so I'm forced to write my applications with QT

[2021-11-22 00:48] Sergio0694 commented on #4391
With this I take it that this proposal is about basically rewriting the actual Toolkit libraries in C++, not even just exposing APIs as a Windows Runtime Component written in C# (as that would still cause the CLR to be loaded anyway). This is not going to happen for several reasons, including that it would (1) be a monumental amount of work and (2) would result in worse performance for C# develope

[2021-11-22 00:48] #4391 closed

[2021-11-22 00:50] Sergio0694 commented on #4391
That said, @michael-hawker did make a proof of concept for how to reference a package from the Toolkit from a C++ app, which may at least be a viable solution for those willing to love with the overhead of having to load up a managed component. I'm sure he'll be happy to share a link, can't recall where it was 😄

[2021-11-22 05:21] asklar commented on #4391
Please make it clear then, that this is a .NET only library.
As it stands, this is the "Windows Community Toolkit", but it only works for _certain_ types of Windows apps (.NET, or apps willing to pay the price of loading the CLR).

[2021-11-22 08:36] Berrysoft commented on #4391
I don't think it is a problem to bring in CLR, because anyway it is almost pre-installed in the consumers' device, and should not be that slow with .NET Native. However, I'm really interested in reference the Toolkit from C++.

[2021-11-22 11:20] Sergio0694 commented on #4391
@Berrysoft We have a full sample here you can use as a reference: [Windows Community Toolkit from C++/WinRT sample](https://github.com/CommunityToolkit/Sample-Windows-CppWinRT).
Let us know if this works for you! 😄

[2021-11-22 13:31] olivier-spinelli opened #4393 "Guard: Constrained generic type to class/struct prevent any unconstraint use."
## Describe the bug

Being able to use struct instead of class for performance is more and more common. Hoewever, the Guard.IsNotNull cannot be used for such case. However, removing the constraints gives the exact same results.

- [ ] This bug is not a regression.

## Steps to Reproduce

Below is a concrete example:
[code]
This doesn't compile.
CS0452	The type 'T' must be a reference type in order

[2021-11-22 22:09] XAML-Knight commented on #4385
I wasn't able to repro the app freeze, but when interacting with this project's files within Visual Studio 2022 (like trying to expand MainPage.xaml within the Solution Explorer window) caused VS22 to close unexpectedly and without warning **four** separate times.

[2021-11-22 23:38] XAML-Knight commented on #4385
@lee011

1. Do you by chance have the Visual Studio Designer open (such as, for MainPage.xaml) in the IDE while this is happening?
2. Could you update your App.xaml to this newer style for XAML controls, and see if the app still crashes?:
`<Application
    x:Class="App1.App"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/x

[2021-11-22 23:39] XAML-Knight commented on #4385
Confirmed that VS appears stable as long as I don't have the VS Designer open (see ref #4279 and #4310).

[2021-11-23 02:09] lee011 commented on #4385
1. This happens regardless of whether Visual Studio Designer is opened or not.
2. I have tried to modify App.xaml as above, but still have problem.

[2021-11-24 00:01] XAML-Knight commented on #4393
FYI @Sergio0694

[2021-11-24 20:17] Javier118 commented on #4374
How can I activate check?

[2021-11-26 09:07] wbokkers opened #4398 "AttachedCardShadow crashes app when installed from MSIX"
## Describe the bug

Using AttachedCardShadow works great in both Debug and Release mode from Visual Studio.
But as soon as I package the app (MSIX) and install it (side loading), the app crashes immediately.

## Steps to Reproduce

[code]

Steps to reproduce the behavior:

1. Create a WinUI3 app, using the above sample XAML
2. Create a MSIX package (right click Publish => Create App Packages)
3.

[2021-11-26 10:10] #4398 closed

[2021-11-26 10:12] wbokkers commented on #4398
This issue has nothing to do with AttachedCardShadow. This is a WinAppSDK1.0/WinUI3 bug where it just crashes for some UI-element sizes.

[2021-11-28 09:25] teohumeau commented on #3142
This is happening to me too, here is my AppCenter report from a 10.0.19043 OS.

System.Runtime.InteropServices
McgMarshal.ThrowOnExternalCallFailed (Int32, RuntimeTypeHandle)
__Interop
ComCallHelpers.Call ($__ComObject __this, RuntimeTypeHandle __typeHnd, Int32 __targetIndex, Void* arg0, Void* arg1) Call at 15732480
System.__Canon> (Void* InstParam, $__ComObject __this, __Canon dp, Object value, I

[2021-11-28 17:16] AbdAlghaniAlbiek commented on #4318
@HerrickSpencer
Hi dear. I noticed some limitation when using this helper ❗❗
Firstly, your helper depends on getting strings from "Resources.resw" file and due to this I can't get strings from another .resw files (for example: every page has .resw file for it like => Home.xaml have Home.resw & About.xaml have About.resw)

Secondly, There is no way to dynamically convert all strings from language t

[2021-11-28 18:36] AbdAlghaniAlbiek opened #4400 "[Feature] PointerStatesHelper"
## Describe the problem this feature would solve
In some cases when I modify the color button's background and when I hover or pressed it gets me the behavior that was described in the template of button .. this situation not only for button, it's almost for all controls
So, I searched for a solution then I found this repo [https://github.com/cnbluefire/PointerStateHelper](url)
I'm wondering if th

[2021-11-28 18:42] AbdAlghaniAlbiek commented on #4400
If the url doesn't work, please copy it and open a new tab then paste it -> and it works

[2021-11-28 19:00] AbdAlghaniAlbiek opened #4401 "[Feature] declare AnimatedIcon.SetState(....) in Xaml directly"
## Describe the problem this feature would solve
Is there any way to set states of an AnimatedIcon control directly in xaml without making pointer events and do all of this in code behind ????

## Describe the solution
¯\_(ツ)_/¯

## Describe alternatives you've considered
¯\_(ツ)_/¯

## Additional context & Screenshots
![Screenshot (44)_LI](https://user-images.githubusercontent.com/37735487/1437820

[2021-11-29 10:21] AbdAlghaniAlbiek opened #4402 "[Feature]Make AttachedCardShadow available for 1809 update"
## Describe the problem this feature would solve
Hi @Ryken100, sorry to bother you but I was searching in the issues and pull requests and I didn't found  pull request for updating AttachedCardShadow to accomplish 1809 update, you told me that the reason of working of this type of shadow only on May 2019 update and above that it's depending on CompositionVisualSurface and there is way to make it w

[2021-11-29 15:57] michael-hawker commented on #4401
@AbdAlghaniAlbiek seems like a Behavior could be the solution here to simplify within XAML easily enough.

Only thing right now is our Behaviors package doesn't include a dependency on the WinUI library... 🤔

[2021-11-29 19:39] michael-hawker commented on #4401
Looks like @vgromfeld is also needing the reference for #4399, so that may also push us to an 8.0 update (along with the .NET Community Toolkit split) and this would make a great inclusion for that as well. Will need to figure out a plan forward.

[2021-11-30 01:59] AbdAlghaniAlbiek commented on #4401
I'm looking forward to this very much, thanks you all

[2021-11-30 02:08] #4400 closed

[2021-11-30 03:24] asklar commented on #4391
It does not help, I cannot load the CLR, but thanks for the link.

[2021-11-30 17:09] Ryken100 commented on #4402
Hi @AbdAlghaniAlbiek, that will be the next thing I will work on :)

[2021-11-30 23:37] michael-hawker commented on #4402
@Ryken100 is #4404 what would address this then or is the CompositionVisualSurface still used? We need a tracking issue for the new PR, so just wondering if we could re-use this one or not.

[2021-12-01 08:25] wbokkers opened #4406 "AttachedCardShadow crashes side-loaded packaged WinUI 3 app"
## Describe the bug

When using AttachedCardShadow anywhere in my app (WinUI3 / WinAppSDK 1.0), it runs fine from Visual Studio.
But as soon as I package the app and run it, the app crashes.
I get the following stack trace:
![image](https://user-images.githubusercontent.com/4835617/144197856-0b6ffca9-da1e-4beb-94b0-116d50c92611.png)

The  exception message is:
"System.Runtime.InteropServices.COMEx

[2021-12-01 14:07] grizoood opened #4408 "[Question]"
Hello, I have a problem with validations. The validation border is still present after performing the validation of the property. I work with WPF

I create a shopping list (with 2 properties: start and end). For each race I pass the shopping list as a parameter.

Course class :

`    public class Course : ObservableValidator
    {
        #region Fields

        private IEnumerable<Course> _course

[2021-12-01 15:09] curia-damiano commented on #4062
Hi @kyaa-dost and @michael-hawker,
sorry for my delay in answering to the request of information for this issue.

During these months we have updated to 7.1 and lately to 7.1.2, but we still have the same issue.
In all versions, the issue still happens.

So:
- compiled in Debug mode, the application runs normally, without any slowness, but from the debugger and out from it;
- when compiled in Rele

[2021-12-01 15:33] curia-damiano commented on #4062
Here is a trace collected with dotTrace:
<img width="788" alt="Screenshot 2021-12-01 162914" src="https://user-images.githubusercontent.com/18611507/144263484-9be4d0c3-5d4f-4e3d-8bc7-3ff22101cbcc.png">
You see that the majority of the time is spent in some RHBinder function, that is not user code.

Also from this:
<img width="185" alt="Screenshot 2021-12-01 163154" src="https://user-images.githubu

[2021-12-01 19:04] michael-hawker commented on #4062
Hi @curia-damiano, between 6.1 and 7.0 we made the Controls package a meta-package to include all our controls, as we created smaller sub-packages to reduce application foot-print size. I'd be curious if the same issue exists if including only the required packages directly vs. the entire controls package.

I can reach out to you directly for more info, if that's more effecient.

[2021-12-01 19:07] AbdAlghaniAlbiek opened #4409 "[Feature] Updating WCT project Icon"
## Describe the problem this feature would solve
I noticed that the icon of WCT is metro style icon and not match the fluent design language, so I used my poor knowledge in illustrator to make this concept 😅😅

![Untitled-6](https://user-images.githubusercontent.com/37735487/144294794-edc31561-8a79-44b9-b32c-10353fdc2c52.png)

and when I install WCT packages from nuget, sometimes I download the wro

[2021-12-01 22:16] Ryken100 commented on #4402
@michael-hawker that PR doesn't address this one

[2021-12-01 22:29] michael-hawker opened #4410 "Improving performance of AttachedCardShadow by clipping inner content via CompositionMaskBrush"
### Discussed in https://github.com/CommunityToolkit/WindowsCommunityToolkit/discussions/4396

<div type='discussions-op-text'>

<sup>Originally posted by **Ryken100** November 24, 2021</sup>
DWM can struggle to clip visuals using rounded rectangle geometry, which leads to reduced framerates on lower end devices when lots of elements with `CornerRadius` set rendered are on screen at once. Clipping

[2021-12-01 23:53] michael-hawker commented on #4408
Thanks for providing more details @grizoood, didn't see this initially when I responded to your [discussion here](https://github.com/CommunityToolkit/WindowsCommunityToolkit/discussions/4407#discussioncomment-1732474).

Going to transfer this to the .NET Community Toolkit repo where the MVVM Toolkit lives. FYI @Sergio0694

[2021-12-01 23:56] michael-hawker commented on #4406
@azchohfi I don't think they had any migration steps for upgrading between WASDK versions, eh? I think the best bet here is to start a new project from the latest templates and copy the project's code over to it and see if it resolves the issue?

This seems like a config/environment issue potentially?

[2021-12-02 00:32] azchohfi commented on #4406
This is an activation issue. Which DLL does your app.manifest registers that type in? Is this a clean build? Try deleting bin/obj and rebuilding it.

[2021-12-02 10:51] curia-damiano commented on #4062
Hi @michael-hawker, as suggested by you, I have replaced the inclusion of the full Microsoft.Toolkit.Uwp.UI.Controls with the more specific NuGet packages.
This has solved the slowness of my customer.

[2021-12-02 10:51] #4062 closed

[2021-12-02 11:13] wbokkers commented on #4406
@azchohfi I tried to delete bin/obj folders and rebuilding again. Will try again.

[2021-12-02 11:27] wbokkers commented on #4406
@azchohfi Unfortunately, I don't know what to make of what you're saying about the app.manifest.

[2021-12-02 13:04] Nirmal4G commented on #3446
@mtissington Can you check if you can reproduce this with PR #4234 packages?

[2021-12-02 13:09] Nirmal4G commented on #3511
@RamenTurismo Can you check if you can reproduce this either with the latest main or with the PR #4234 packages?

[2021-12-02 13:19] RamenTurismo commented on #3511
@Nirmal4G I would say that it is kind of complicated to test. This is a production app, where we peer review everything pull request.
I think this is too much time as I would need to get the repo, build the NuGet, publish it on our own NuGet feed, update the NuGets and so on

[2021-12-02 13:40] Nirmal4G commented on #3511
Is it not possible just to create a blank app project and try to repro it in the same build server as your production app?
Then I'm assuming, you don't need to go through all those complicated processes!
Since the issue is dependent on build system and the package's pdb file rather than your project.

This is mainly due to PDBs for control packages being generated as Portable PDBs, since you're us

[2021-12-02 16:06] mtissington commented on #3446
@Nirmal4G Because of the issue we needed to remove our dependency on this.

[2021-12-02 16:16] michael-hawker commented on #3511
@RamenTurismo we also have a PR Feed that has pre-built NuGets for every PR (assuming it was built recently), see our wiki: https://aka.ms/wct/wiki/previewpackages

[2021-12-02 18:00] RamenTurismo commented on #3511
@Nirmal4G @michael-hawker So I've tried re-creating a project, including the build you indicated to add.

[Here is the repository to reproduce](https://github.com/RamenTurismo/CommunityToolkit-WindowsCommunityToolkit-issues-3511)

My first issue with the PR package is that is not compatible :
![image](https://user-images.githubusercontent.com/14222512/144476546-7e10acf7-6cf6-427c-9ae2-00e0ad61c897

[2021-12-02 18:15] azchohfi commented on #4406
Oh, my bad. I looked into this better and it seems like a Win2D issue.
@getrou / @iablaauw-MS

[2021-12-02 19:44] XAML-Knight commented on #4409
This is a good idea - maybe an indicator to separate the Microsoft.Toolkit from the CommunityToolkit NuGet?
![image](https://user-images.githubusercontent.com/86266896/144491966-454f1908-98d9-45f7-8c7d-784675ad41dc.png)

[2021-12-02 20:34] AbdAlghaniAlbiek commented on #4409
@XAML-Knight  yes of course it's need an indicator to see the difference 🦖
It's just an idea that crossed my mind , If you don't want to change it, l will close this issue 🌚

[2021-12-02 21:15] #4382 closed

[2021-12-02 21:20] fmccown opened #4411 "IsNullOrEmptyStateTrigger not working for ListView"
## Describe the bug

The XAML below is for a UWP app uses a VisualStateManager with an IsNullOrEmptyStateTrigger from the Microsoft.Toolkit.Uwp.UI package. The trigger is supposed to disable the button when no items are selected from the ListView. However, the button always remains enabled. The ListView's SelectedItem should be null when nothing in the list is selected (nothing is selected when yo

[2021-12-02 21:44] michael-hawker commented on #4410
FYI @Ryken100 (need to ping you to assign to you)

[2021-12-02 23:24] michael-hawker commented on #4390
@azchohfi you mentioned you've merged these two branches together now I think, eh?

[2021-12-02 23:42] azchohfi commented on #4390
Yes, the winui_unittests branch was merged into the winui branch.

[2021-12-02 23:54] michael-hawker commented on #4390
@chingucoding let us know if you have better luck now and what issues still remain.

[2021-12-03 02:14] yoshiask opened #4412 "ThemeListener.ThemeChanged does not work in WinUI 3"
## Describe the bug
`ThemeListener` seems to do nothing in WinAppSDK apps. [A comment in a related issue](https://github.com/CommunityToolkit/WindowsCommunityToolkit/issues/3656#issuecomment-810063280) points out that the events `ThemeListener` relies on are no longer supported in WinUI 3.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:
7.1.2

[2021-12-03 03:31] HeathJared commented on #4266
I'm not sure this issue was correctly closed.

We had this exact same issue using .NET 4.8 and WPF.
We solved this problem by simply wrapping the AsyncRelayCommand and doing the notification ourselves after the task.

[code]

[2021-12-03 18:53] chingucoding commented on #4390
Well using VS, I'm still getting build errors https://gist.github.com/chingucoding/97da4bce3c21beead463ba85396c0518
It seems that it fails to download some dependencies properly, could I be missing the link to a NuGet repository?

Btw, tests seem to be running now.

Btw², it seems that you also have the issue of the UI being created and not cleaned up; is that worth looking into?

[2021-12-03 19:09] michael-hawker commented on #4390
The SampleApp won't build in the branch out-of-the-box at the moment as there's not a package of the Monaco editor for WinUI 3 yet, that has to be built manually from Alex's branch in that repo. Eventually hope to have a package using WebView2 for it across platforms, but have been waiting for WebView2 to support hosting objects for scripting interop vs. doing manual messaging.

Is this only in Wi

[2021-12-03 19:21] michael-hawker commented on #4412
I believe this is still a known issue as there's no corresponding API yet in the WinAppSDK for this, right @azchohfi?

Not sure how we should best mark things that we know aren't working yet...

[2021-12-03 19:23] chingucoding commented on #4390
Ah I see, that makes sense. So to a degree those build failures are expected. Should this issue be kept open then so people know that this is (partially) expected?

UWP test apps don't exhibit this behavior, so far only WinUI 3 apps do this (at least from what I have seen).

[2021-12-03 19:25] azchohfi commented on #4390
You should still be able to build the solution from VS if you target Release/AnyCPU. That should not build the sample app and should just work. Or just run the build.bat command from the build folder.

[2021-12-03 19:31] chingucoding commented on #4390
Ah I see. Building with Release/AnyCPU, two projects still fail to compile, below is the build log:
[code]

[2021-12-03 19:42] azchohfi commented on #4390
This is not happening on my box, neither on the build server, so I don't know exactly what is happening.
It seems like this is a known issue:
https://github.com/grpc/grpc/issues/26116
I've found a few possible answers too:
https://stackoverflow.com/questions/67249017/additionalprotocarguments-parameter-is-not-supported-by-the-protocompile-task
and
https://medium.com/@woeterman_94/quickfix-the-addi

[2021-12-03 20:06] azchohfi commented on #4412
Yes, these events are not supported:
https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/desktop-to-uwp-supported-api#events

I don't know for sure, but I believe it will be possible to track this when they add the EnvironmentVariableChangeTracker. It should be out on 1.1, but I'm not 100% sure.

[2021-12-03 20:19] chingucoding commented on #4390
This seemed to fix one of the two projects failing, one project is still failing to build with VS:

[code]

However I think this is still somewhat to unsurprising on my machine. Running a NuGet fails, not having the project.assets.json then is not too surprising here. Not sure why NuGet restore fails though, it complains about projects not being compatible with the targeted UAPs for some libraries

[2021-12-03 21:07] azchohfi commented on #4390
Do you have the 19041 SDK installed? How about 18362?

[2021-12-03 22:25] tesar-tech commented on #3120
I also have this issue. Simple link like this: `[somehting](https://github.com)` will freeze the app when hovering the link. It does not crash (immediately ), it just use more and more of memory (so I guess it's SO exception)?

[2021-12-03 22:31] chingucoding commented on #4390
I have installed all SDKs Visual Studio Installer lets me install:
![Screenshot of installed Windows 10 SDKs](https://user-images.githubusercontent.com/16122379/144681426-a352a2bb-dd49-44b6-89de-43b3184ee574.png)

[2021-12-04 00:51] Arlodotexe commented on #3120
@tesar-tech Are you referring to #4385?

[2021-12-05 11:33] nodew opened #4414 "How to set min height for the ListPane of ListDetailsView?"
I'm trying to use ListDetailsView to present a list with detail view, but I found that when I have only one or two items, the ListDetailsView doesn't fulfill the rest of content automatically. How could I make it fulfill the rest of content when only have few items?

[2021-12-05 12:04] #4414 closed

[2021-12-05 12:50] #4409 closed

[2021-12-06 10:13] atom0s opened #4416 "Small Typo In ObservableProperty XML Docs"
## Describe the bug

_I wasn't sure if this belonged in the other 'Docs' repo tracker, so I'll report it here since the code typo is within this repo._

There is a small typo in the XML doc for `[ObservableProperty]` found here:
https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/37caf88b68463ebb23b67c2e5d3f095485c9ecc5/Microsoft.Toolkit.Mvvm/ComponentModel/Attributes/ObservableProper

[2021-12-06 20:26] Avid29 opened #4417 "[Feature] Node Graph Control"
## Describe the problem this feature would solve

A node graph is a fairly niche control, but as UWP becomes used for more technical projects flow charts are more common. This would be a useful control for creating a graphs visually.

## Describe the solution

A control with Nodes, Ports, and Connections. Similar to Blender, Unity, or UE4 shaders.

## Describe alternatives you've considered

Anyti

[2021-12-06 22:28] atom0s opened #4418 "Editor Issues While Using `[ObservableProperty]`"
## Describe the bug

While making use of the new `[ObservableProperty]` source generator, and potentially the other new generators, accessing the injected property names (and potentially other injected code) causes the editor to show errors.

As an example, here is a simple ViewModel that can reproduce the error:
[code]

Visual Studio marks a few things here that may need to be fixed:

 - The cons

[2021-12-07 02:09] atom0s commented on #4418
Looking a bit more into this all, and I think most of this is basically summed up right now as "expected" behavior.

---

## The constructor is marked with a warning. (CS8618)

C# seems to do this no matter what if you are using a property with a backing field. For example, the following also gives CS8618:

[code]

This is pretty simple to fix just by giving the property a default value, such as:

[2021-12-07 06:25] PandaFoxx opened #4419 "[Question] Windows SDK Dependency Not found"
Is the dependency on Windows 10 SDK in version 7.1.2 really necessary?

It's not viable for us to redistribute the Windows 10 SDK with our application, so is there a workaround for this?
Is there a DLL we can include? Or can this dependency be removed entirely?
Our users are not developers and so won't likely have Visual Studio installed on their machines at all.

Ever since version 7.1.2

Users w

[2021-12-07 09:16] Naveen61097 opened #4420 "AttachedCardShadow not working with corner radius"
## Describe the bug

AttachedCardShadow not working with corner radius if the container contains any element.

![image](https://user-images.githubusercontent.com/59611026/145000045-99b928df-cb05-4315-b357-9a96135e3033.png)

![image](https://user-images.githubusercontent.com/59611026/145000058-2026617d-1599-40bc-8560-abb1e03b2886.png)

## Steps to Reproduce

- create new Windows App SDK 1.0 project

[2021-12-07 12:53] AbdAlghaniAlbiek commented on #4420
@Naveen61097
May your problem the same as described here #4331

[2021-12-07 17:52] Naveen61097 commented on #4420
I don’t think so. In my case the shadow is not working in windows 11 too.

[2021-12-07 18:21] azchohfi commented on #4419
Hello @PandaFoxx
This error is not asking your users to install the full Windows 10 SDK, but rather just saying that a DLL is missing. This is the `Microsoft.Windows.SDK.NET.dll` that should be within your output directory. You need to deploy this dll file together with your executable, just like any other file in this folder.

[2021-12-07 20:33] PandaFoxx commented on #4419
Thanks @azchohfi

So this dll was included in the installation. The strange thing was that it was version 10.0.18362.19 when my debug output was version 10.0.18362.21

I solved this by upgrading the TargetFramework of the project to net5.0-windows10.0.19041.0 and this distributed the Microsoft.Windows.SDK.NET.dll as version 10.0.19041.19 (which is at least higher than the version required).

[2021-12-07 22:04] AbdAlghaniAlbiek opened #4421 "[Feature] AnimatedCornerRadius"
## Describe the problem this feature would solve
I have made a TemplatedControl that have 4 new properties (TopLeftCorner, TopRightCorner, BottomLeftCorner, BottomRightCorner)  and each of them control in the radius of corner that associated with.
And the purpose of doing this that in WPF there type of animation called: **"ThicknessAnimation"** and this animation provide me the ability to animate

[2021-12-07 23:19] XAML-Knight commented on #4411
Nice catch, @fmccown .  A similar bug occurs in the toolkit's Sample App, for the `IsNullOrEmptyStateTrigger` sample page, if you set the trigger on the `SelectedItem` property of the `ListBox`.

[2021-12-08 07:42] PandaFoxx commented on #4419
It seems to me like the Agent on Azure Pipelines is packaging version 10.0.18362.19 instead of 10.0.18362.21

[2021-12-09 15:34] michael-hawker commented on #4421
Thanks for the example @AbdAlghaniAlbiek, did you have a scenario in mind where you were trying to animate the corners of an element?

@Sergio0694 thoughts on this? Can we not animate them in another method already?

[2021-12-09 15:38] michael-hawker commented on #4420
Thanks @AbdAlghaniAlbiek, I agree it should be basically the same issue.

@Naveen61097 see my comment [here](https://github.com/CommunityToolkit/WindowsCommunityToolkit/issues/4331#issuecomment-948091339), this is also called out in our sample app. Adding a `CornerRadius` to a panel changes its clipping behavior when there's content, so you need to nest an element. This generally isn't a problem w

[2021-12-09 15:43] michael-hawker commented on #4402
@AbdAlghaniAlbiek I don't think @Ryken100 is mad? I was just clarifying the PR and issue alignment for tracking purposes? I think it was his intent to potentially look at this anyway and you just happened to file an issue at the same time. 🙂

[2021-12-09 20:49] AbdAlghaniAlbiek commented on #4421
In Telegram when you swip an item from your contracts list, the corners of swiped item will be rounded like

https://user-images.githubusercontent.com/37735487/145471757-63cdd7f4-b4d3-44ce-b1a5-a14b21353bb5.mp4

The problem is that there isn't a  **"DoubleAnimation"** that can make animate each of corner of this control in AnimationBuilder

[2021-12-09 20:58] Sergio0694 commented on #4421
Yes, and it's not a coincidence that this animation type was removed on UWP: it's absolutely terrible for performance. It's even worse than regular double animations targeting properties such as eg. "Opacity". If we want to add a way to animate corner radiai, we should do that with a proper composition animation targeting the right property on the shadow visual, if there's one.

Also, side note: y

[2021-12-09 21:44] Arlodotexe commented on #4250
@XAML-Knight What resolution the display you saw this on?

[2021-12-09 21:48] Arlodotexe commented on #4312
@michael-hawker What do you think is a good solution to this? Copy each brush definition into the sample, hardcoding a neutral color that works under both themes, or trying to switch to some platform-defined brush?

[2021-12-09 22:26] XAML-Knight commented on #4250
I was using a different dev laptop when I filed the issue, but it would have been roughly 1920 x 1080 (on Windows 10).  Now that I'm on a different laptop (Windows 11), I'm unable to repro this issue.

[2021-12-09 23:19] XAML-Knight commented on #4416
FYI @Sergio0694

[2021-12-09 23:54] Arlodotexe commented on #4250
I was able to reproduce the issue on Windows 10 (19041) and 11 (22000).

The higher the text scaling, the worse it gets.
![image](https://user-images.githubusercontent.com/9384894/145493569-56c363c2-fab2-4297-bd74-1f6f73ea231e.png)
![image](https://user-images.githubusercontent.com/9384894/145493661-0835d665-ed5d-4fb9-a00d-321778349396.png)

[2021-12-10 10:19] Javier118 commented on #4376
How can I activate the Check?

[2021-12-10 13:10] wbokkers commented on #4406
@azchohfi I don't know what the valid equivalent is. If I include the inProcessServer extension, the manifest is invalid.

[2021-12-10 20:01] andrewleader opened #4422 "Toast OnActivated marshalled for a different thread exception in WinUI 3 app"
## Describe the bug

It looks like the toast library activation code might not work for WinUI 3 apps correctly... or maybe devs need to do something different. I noticed this when trying to use a background activation toast, I'm still investigating but logging this to track the issue.

[code]

![image](https://user-images.githubusercontent.com/13246069/145634390-7b3ed36d-f110-43d4-9cca-7808c8f3b22

[2021-12-10 20:11] andrewleader commented on #4422
Ah I figured it out. From within the activation callback, WinUI 3 apps need to dispatch to their UI thread if they have a window open before performing any subsequent calls to toast APIs (or likely several other APIs too).

Simple way to do that below...

[code]

Closing as this isn't a bug in the toolkit, but wanted to share this info so if others run into it, they hopefully can discover it onlin

[2021-12-10 20:11] #4422 closed

[2021-12-12 22:41] laolarou726 commented on #4266
Are you fix this by editing the code of AsyncRelayCommand or create another class and let it to inherit AsyncRelayCommand？

[2021-12-13 06:34] ianier opened #4423 "InAppNotification can no longer be dismissed after canceling the Closing event"
## Describe the bug

Setting InAppNotificationClosingEventArgs.Cancel to true in the InAppNotification.Closing event prevents Dismiss from closing the notification as expected. However, subsequent calls to Dismiss will no longer raise the Closing event.

## Steps to Reproduce

- Handle the Closing event to set Cancel to true.
- Set a breakpoint in the event.
- Call Dismiss. The breakpoint will be

[2021-12-13 20:24] zateutsch commented on #4356
Update:
The SystemInformation class is dependent on [ApplicationDataStorageHelper](https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/winui/CommunityToolkit.WinUI/Helpers/ObjectStorage/ApplicationDataStorageHelper.cs), which also doesn't support unpackaged scenarios (no Application Data without Package identity).

Will need to address both for proper functionality in WinUI3 unpackage

[2021-12-14 09:51] Lightczx opened #4425 "[Question] SetProperty not overloaded property in .NET 6 ?"
[code]
I have a .NET 6 project with `nullable` enabled

I tried to apply this method in one of my property
[code]
and I wrote something like below
[code]
but VS seems to recognize my code into
[code]
this wrong method overload

[2021-12-14 17:09] Arlodotexe commented on #4380
Hi @sangitamalviya 👋 we need a bit more info before we can help. Can you provide an example of the content you're giving to the webview?

[2021-12-14 20:33] Arlodotexe commented on #2816
@dan-meier Thanks for providing that setup for us. The Toolkit uses ElementCompositionPreview under the hood, and the Native example you provided uses Storyboards, so we'll need to try the native example again using only ElementCompositionPreview and no toolkit code.

I'll set this up and report back when I have something 🙂

[2021-12-14 21:15] michael-hawker commented on #4419
@PandaFoxx is this issue resolved now then for you?

[2021-12-14 21:22] michael-hawker commented on #4412
@azchohfi @zateutsch this is another case similar to #4356 where there's a missing API or an API that doesn't work in unpackaged. I'm not sure if there's system APIs that are in similar places and get annotated as such somehow? Is there any better attributes or practice we should be doing here to better indicate what's not going to work currently with WinUI 3/WASDK?

[2021-12-14 21:58] michael-hawker commented on #4376
@Javier118 based on the info you've provided it feels like this is a duplicate of #4374? Can you look at that issue and confirm from the videos that is the same behavior you're seeing in your application? Any more details you can provide about the version you're using and the code which shows how to reproduce the issue (if you can modify the XAML in the sample app that helps a bunch).

[2021-12-14 22:19] XAML-Knight opened #4428 "[Feature] Refactor StateTriggerBase to include an IsActive bool dependency property"
## Describe the problem this feature would solve

A few of our triggers use their own `IsActive` Dependency Property, and so it seems like refactoring the bool property (as useful as it is) into the parent base class (`StateTriggerBase`) would be in order.

## Describe the solution

`StateTriggerBase` would be the proud new parent of a bool `IsActive` dependency property (and potentially also an O

[2021-12-14 22:22] duke7553 commented on #4374
@michael-hawker It does indeed seem similar. I wonder if my solution from before can be adapted to DataGridCheckboxColumn

[2021-12-14 22:46] Arlodotexe commented on #2816
I've modified the Native sample to use Composition animations, no references to the toolkit.

[AnimationsInBladeViewNative_Composition.zip](https://github.com/CommunityToolkit/WindowsCommunityToolkit/files/7715194/AnimationsInBladeViewNative_Composition.zip)

@michael-hawker Looks like we've uncovered a platform bug, will need to escalate to the relevant team.

[2021-12-14 22:54] Arlodotexe commented on #4428
Will need to name it something else to avoid confusing with the platform `StateTriggerBase`

[2021-12-14 22:58] Arlodotexe commented on #4428
Linking https://github.com/microsoft/microsoft-ui-xaml/issues/1460

[2021-12-14 23:00] Arlodotexe commented on #4428
Should be noted that [`StateTrigger`](https://github.com/microsoft/microsoft-ui-xaml/issues/1460) already exposes an `IsActive` dependency property, but it's marked as sealed.

[2021-12-14 23:47] dotMorten commented on #4428
`StateTriggerBase` isn't part of the community toolkit. The linked WinUI issue above is the correct one to comment on.

The intended usage is that that is how you trigger that specific trigger - by setting it to true. It might have been more clear if it was called `WhenTrueStageTrigger` ;-)

[2021-12-14 23:53] Arlodotexe commented on #4428
We're creating our own base class for the toolkit that has this property to reduce the copy-pasted boilerplate code for our own triggers, as described at the top of the issue.

[2021-12-14 23:57] Arlodotexe commented on #4428
I'm not entirely sure I understand the problem with allowing it to be publicly settable?
There are details to iron out, but letting devs override the state externally seems fine to me at first glance.

[2021-12-15 00:04] michael-hawker commented on #2816
Thanks @Arlodotexe for digging in! 🦙❤

If we have a minimal repro and clear-enough understanding of the problem, it's probably just easiest to open an issue on the [WinUI repo](https://aka.ms/winuigithub) (if there isn't one already). We can link it back to this one and then work with them to find the right folks to see if this is known, if there's a work-around, or what we can do moving forward.

[2021-12-15 00:07] dotMorten commented on #4428
For `StateTrigger` it is already publicly settable. For `StateTriggerBase`, that doesn't make sense, as there are other properties on its subclasses that you are meant to set in order to make it active/inactive. Take the adaptive trigger for instance: It is controlled by the view width, so what does it mean to also set the `IsActive` property? Will that override the width-based trigger? Which take

[2021-12-15 00:12] Arlodotexe commented on #4428
These are the "details to iron out" I mentioned 🙂

Setting `IsActive` would act as an override. When set, it would just call `SetActive()` interally.

However, the main point of exposing `IsActive` is to allow for reading _when_ the trigger is active, and to allow for subscribing to state changes on individual triggers. Handling the setter behavior is secondary.

[2021-12-15 00:14] duke7553 commented on #4374
No guarantees given my schedule, but I can probably take a look at it during the coming weeks and see if I can reproduce and fix it similar to the other bug.

Steps from the reporter would be 👌 too.

[2021-12-15 00:16] michael-hawker commented on #4428
I think the original intent and problem https://github.com/microsoft/microsoft-ui-xaml/issues/1460 is describing is not around trying to override the `IsActive` state (if you need to do that just bind whatever to the vanilla `StateTrigger`) - It's about being able to monitor and understand when the state is set so you can potentially bind something else to it.

So, maybe this is a read-only DP tha

[2021-12-15 00:26] Arlodotexe commented on #4428
I don't think we need this at all, setting IsActive just activates or deactivates the trigger temporarily.

But thinking through the possible scenarios the setter could be used for -- making it readonly sounds good.

[2021-12-15 00:30] dotMorten commented on #4428
Which is what my proposed design suggests. Subclasses like the `StateTrigger` can still add a setter to a read-only property.

[2021-12-15 00:30] dotMorten commented on #4428
@XAML-Knight  I'm curious about this justification:

Why are the triggers doing this in the first place?

[2021-12-15 00:35] Arlodotexe commented on #4428
Should be noted that users can still set IsActive since dependency properties aren't truly readonly in UWP. Maybe still handle the changed callback and `SetActive()` for advanced scenarios that come up.

[2021-12-15 00:37] Arlodotexe commented on #4428
I have to agree with @michael-hawker's comment in the WinUI issue, maybe `StateTrigger` and `StateTriggerBase` should be a single class.

[2021-12-15 00:37] dotMorten commented on #4428
@Arlodotexe As already noted here: https://github.com/microsoft/microsoft-ui-xaml/issues/1460#issuecomment-543949001

Since the `StateTriggerBase` isn't in the CommunityToolkit but in UWP and WinUI3, should this issue be closed?

[2021-12-15 00:39] dotMorten commented on #4428
Again as noted in the other issue, that would be a breaking change. Secondly there are different purposes to the two. They aren't the same thing, and shouldn't be merged, as they serve different purposes. Having IsActive settable on the base class would be a huge problem for all other state triggers.

[2021-12-15 00:40] dotMorten commented on #4428
@Arlodotexe You thumbed my comment down. Do you care to explain why? Is there something the community toolkit can do here about a class that is defined in a completely different product, or am I misunderstanding something else that you want the community toolkit to do?

[2021-12-15 00:43] Arlodotexe commented on #4428
Most of our discussion so far has been to address that specific comment.
We aren't trying to replace the inbox `StateTriggerBase` -- we're creating our own base class for the toolkit that has this property to reduce the copy-pasted boilerplate code for our own triggers, as described at the top of the issue.

[2021-12-15 00:45] dotMorten commented on #4428
@Arlodotexe Gotcha. I misunderstood the bit about introducing a _second_ base class.
In that case it might be good to dive a bit deeper in to [this question](https://github.com/CommunityToolkit/WindowsCommunityToolkit/issues/4428#issuecomment-994170100) then.

[2021-12-15 00:48] dotMorten commented on #4428
Actually just looked at all the state triggers in this repo. Not a single one I can see has an `IsActive` property, which makes me question this justification:

[2021-12-15 01:01] XAML-Knight commented on #4428
In my case, with `IsNullOrEmptyStateTrigger`, I needed a way to initially set the trigger to true, for when a control loaded and wasn't applying the trigger logic like I expected it to.  I exposed `IsActive` as a dependency property, so that it could easily be set from XAML.

Another trigger, `ControlSizeTrigger`, also provides an `IsActive` property, although it's just a .NET property (_not_ a de

[2021-12-15 01:13] dotMorten commented on #4428
Did you see my comment in your PR about just calling `base.SetActive(true);` in the constructor instead? You shouldn't have to have the developers have to set two properties.

[2021-12-15 16:24] djspider117 commented on #4417
I have a prototype that is native UWP
![image](https://user-images.githubusercontent.com/20155221/146224695-c1b29a36-6739-4d57-86d1-afd9eab866a4.png)

but it uses win2d (for drawing the lines) and i wonder if that is a restriction

[2021-12-15 18:13] XAML-Knight commented on #4428
I'd suggest you take a second look at the `ControlSizeTrigger` - granted, it's `IsActive` property is just a .NET property, and not a dependency property (or is this the next thing we'll be arguing about??).

[2021-12-15 18:21] Javier118 commented on #4374
when I point to the checkbox the checkbox is not activated

[2021-12-15 18:25] Javier118 commented on #4374
this is code xaml   The Datagrid  version Microsoft.Toolkit.Uwp.UI.Controls 7.1.2
`<controls:DataGrid
                x:Name="DataGrid1"

                Grid.Row="1"
                Grid.Column="0"
                Grid.ColumnSpan="2"
                Margin="12"
                VerticalAlignment="Stretch"  HorizontalAlignment="Stretch"
                VerticalScrollBarVisibility="Visible"

[2021-12-15 18:46] Javier118 commented on #4374
the problem is when I click on the checkbox comes out as in the video
![Captura de pantalla (44)](https://user-images.githubusercontent.com/17751683/146245718-5cd76441-b141-483a-804d-0f65a9123917.png)

[2021-12-15 18:52] Arlodotexe commented on #2816
I've slimmed down the repro to just Composition Animations and ItemsControl/ItemsPanelTemplate and filed the issue with the WinUI team.

https://github.com/microsoft/microsoft-ui-xaml/issues/6483

[2021-12-15 18:52] #2816 closed

[2021-12-15 18:56] #4177 closed

[2021-12-15 19:17] Arlodotexe commented on #4417
It shouldn't be an issue, but it does make it harder to port x-plat. If being done from scratch, maybe we could try using SkiaSharp for that part?

[2021-12-15 19:23] Avid29 commented on #4417
In my opinion the curves should also be a templated control. Is it not possible to just use a `<Path/>`?

[2021-12-15 19:30] Arlodotexe commented on #4417
If not a templated control, the style should at least be customizable.

[2021-12-15 22:02] michael-hawker commented on #4428
@XAML-Knight the `ControlSizeTrigger` is a `private set`:

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/213d3f21b6b0c2b8cc01910f6c1a7e739297b034/Microsoft.Toolkit.Uwp.UI/Triggers/ControlSizeTrigger.cs#L139

This new base would allow us to refactor this. But it's doing it for the same reason so the state can be inspected from the outside vs. manipulating its logic.

Also, we're

[2021-12-15 22:31] michael-hawker commented on #3511
Thanks for the details @RamenTurismo. Once the classical editor is used, I thought it should generate a YAML file still (it's just a visualization of that). The '...' menu may have an option to view it? Though that interface looks different than the one we normally see.

For the SDK version, we did bump the minimum in 7.x to be 17763 (1809), so if the project is still trying to minimum target 1713

[2021-12-16 17:32] TamBuiWork opened #4431 "CS0433 compilation error on Project Reunion 0.8.6"
### Describe the bug

I have upgraded to, as of this writing, the latest Project Reunion stack 0.8.6, and my application runs just fine. But as soon as I install the nuget package for CommunityToolkit.WinUI.UI.Controls 7.1.2 and try to compile, I get the following compilation error:

### Regression

N/A

### Reproducible in sample app?

- [X] This bug can be reproduced in the sample app.

### Step

[2021-12-16 17:40] kmgallahan opened #4432 "The Release Notes section of the WCT Sample App has overlapping text."
### Describe the bug

The Release Notes section of the WCT Sample App has overlapping text.

### Regression

_No response_

### Reproducible in sample app?

- [X] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

Release dates should be visible.

### Screenshots

![Screenshot 2021-12-16 123803](https://user-images.githubusercontent.com/5379488/14

[2021-12-16 21:14] michael-hawker commented on #4432
Thanks for the report @kmgallahan! We've started having longer release notes and extra ones for previews, so it's not something we normally dealt with. Seems we should just add some text trimming or something to it as the main version number on the left should be sufficient.

[2021-12-16 21:18] michael-hawker commented on #4431
@TamBuiWork this should be expected. The 7.1.2 release for WinUI only supports the 1.0.0 release of the WindowsAppSDK.

For 0.8.x you should use the 7.0.3 versions of our WinUI packages. We don't plan to support multiple versions of the WindowsAppSDK, we plan to ship each subsequent version on the latest version available at that time.

Let us know if upgrading to 1.0.0 of the WindowsAppSDK or dow

[2021-12-16 21:28] michael-hawker opened #4433 "AccessibilityView for MetadataControl"
### Describe the bug

Placeholder for release notes for PR #4328

Adds accessibility info to the MetadataControl

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

Accessible

### Screenshots

_No response_

### Windows Build Number

- [ ] Windows 10 1809 (Build 17763)
- [ ] Wi

[2021-12-16 21:29] #4433 closed

[2021-12-17 18:03] TamBuiWork commented on #4431
@michael-hawker Upgrading to 1.0.0 resolved everything for me. Thank you!

[2021-12-17 18:03] #4431 closed

[2021-12-18 22:00] #3882 closed

[2021-12-18 22:33] PandaFoxx commented on #4419
@michael-hawker unfortunately we don't have the time or resources to confirm whether setting the TargetFramework will be compatible with Windows 10.0.18362.0 or whether there is a setting in Azure agent to change this detail... So we have deferred this and reverted back to WindowsCommunityToolkit v7.0.3 which is stable for now.

[2021-12-18 22:33] #4419 closed

[2021-12-22 04:08] 0xNF opened #4437 "Fatal crash using TokenizingTextBox with SelectionMode=None (uwp)"
### Describe the bug

As the title says:

[code]

and

[code]

Both of these cause the following failure when pressing backspace:

[code]

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

Not crashing

### Screenshots

_No response_

### Windows Build Number

- [ ] Windows 10

[2021-12-22 21:27] Arlodotexe commented on #4437
Thanks for reporting this issue @0xNF. Can confirm that this issue is present in 7.1.2 and is reproducible in the current sample app. We'll look into this.

[2021-12-22 21:56] XAML-Knight commented on #4437
Can also reproduce the issue by using the left arrow key.

[2021-12-24 21:43] duke7553 commented on #4374
@michael-hawker I looked into this more, and it seems like we need a reliable way to determine if focus has actually left the DataGrid. The loop we have [here](https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/62c49344a8261eb8137bc18c289c8c339383b2fd/Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGrid.cs#L5739), doesn't seem to take into account template column cell content

[2021-12-24 21:45] duke7553 commented on #4374
[code]

I don't think something like this would work either

[2021-12-26 06:48] athulrajts opened #4438 "ListViewExtensions.AlternateColor only gets applied on hover"
### Describe the bug

ListViewExtensions.AlternateColor only gets applied on hover over the item on WinUI3 1.0

### Regression

_No response_

### Reproducible in sample app?

- [X] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

Alternate color should get applied when listview loads
![image](https://user-images.githubusercontent.com/6525704/14

[2021-12-26 19:30] jzebedee opened #4439 "MissingMethodException with netstandard2.0 target"
### Describe the bug

When a `netstandard2.0` library with a dependency on `Microsoft.Toolkit.HighPerformance` uses certain extension methods such as `StreamExtensions.Write(Stream,ReadOnlySpan<Byte>)`, it can lead to unexpected runtime failures with a `System.MissingMethodException` when run on a target that has `SPAN_RUNTIME_SUPPORT`.

Example: Class library multitargets `net6.0` and `netstandar

[2021-12-27 00:30] zipgenius commented on #4364
I'm having the very same issue in WASDK 1.0 (no shadow attached to a Grid element)

[2021-12-27 21:37] XAML-Knight opened #4440 "Remove samples.json references to detached code"
### Describe the bug

The WCT samples.json file contains references to code packages that have already been detached:

- Guard APIs
- High Performance APIs
- MVVM Toolkit

### Regression

_No response_

### Reproducible in sample app?

- [X] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

Detached projects should not appear in the Sample App

#

[2021-12-27 22:56] XAML-Knight commented on #4439
FYI @Sergio0694

[2021-12-28 21:20] Arlodotexe commented on #4438
Can confirm that this bug is also present in the Sample app. Should help expedite the fix. @michael-hawker got a project board for this?

[2021-12-28 21:25] Arlodotexe commented on #4192
@XAML-Knight I'm still unable to repro this. Can you provide more insight?

Were you on an Insider version of Windows?  Did you have Quiet Hours turned on?

[2021-12-28 21:58] Arlodotexe commented on #4385
I'm also unable to reproduce this bug with the provided sample / repro steps.

[2021-12-29 17:48] XAML-Knight commented on #4192
I'm on Windows 11 now (_not_ Windows 10, when this issue was first raised), and now I'm also unable to reproduce the problem.

- This was not an Insider version of Windows
- No, Quiet Hours was not enabled

[2021-12-29 18:47] Arlodotexe commented on #3538
Can verify that this bug is reproducible in the sample app. It's not announcing thumb values at all, only "Max thumb / thumb" and "Min thumb / thumb".

Maybe we're looking at this the wrong way.

RangeSelector is just 2 sliders (min and max value) bundled into 1 control, so rather than trying to use a single `IRangeValueProvider` on the entire control, perhaps we implement a `RangeBaseAutomationPe

[2021-12-29 21:25] nickprotop opened #4443 "Unhandled exception of Datagrid control"
### Describe the bug

I receiving unhandled exceptions about Datagrid control by telemetry. The exceptions seems random to me, and I can't find a pattern reproducing the bug. I am using latest Community Toolkit and Windows App SDK version 1.0.

This is the stack trace reported back to app center:

`Exception Stack:
System.Runtime.InteropServices.COMException: Η εφαρμογή κάλεσε μια διασύνδεση που ε

[2021-12-29 23:00] Arlodotexe commented on #4192
Closing the issue until we can repro it

[2021-12-29 23:00] #4192 closed

[2021-12-30 00:27] Arlodotexe commented on #3320
Unable to repro on 21H1 (19043.1415) and the latest version of the toolkit.

[2021-12-30 17:52] Javier118 commented on #4374
this code where it goes in the c #

[2021-12-30 22:43] Bigous opened #4444 "Binding to Foreground property on DataGridTextColumn breaks the app"
### Describe the bug

The Issue #2991 should not be closed if it was not solved.

This is still the same problem and there is an workaround - not use the DataGridTextColumn and use a template with the TextBlock inside that doesn't break the app.

That's why people are not complaining. But it changes the `xaml` file from this:

[code]

To This:

[code]

Using the `Foreground` property without bindi

[2022-01-01 22:05] duke7553 commented on #4374
@michael-hawker Happy new year!

I've created a prototype to treat focused `Popups` as if they're an external editing element. This should show success with both types of `DataGridColumns` unlike my last fix which was specifically designed for `DataGridTemplateColumns`.

The prototype can be found [here](https://github.com/duke7553/WindowsCommunityToolkit/commit/0a035b65fbcfeea57e0735a6a541992320a

[2022-01-02 23:04] julianpoelmann opened #4445 "[Feature] Net6 Support"
### Describe the problem

So far it does not have net 6 support which is kinda a bummer, just posting this here but i probably can guess more people have, just kinda hoping this is possible as i just made my program with net 6 and i kinda need to have notifications working

### Describe the solution

well getting it to net 6 eventually

### Alternatives

_No response_

### Additional info

i do lo

[2022-01-02 23:21] julianpoelmann commented on #4445
wait hold on i might just be dumb i just noticed something

[2022-01-02 23:24] julianpoelmann commented on #4445
yep now i know exactly what they meant with target framework, please ignore this

[2022-01-02 23:24] #4445 closed

[2022-01-05 11:04] Marv51 opened #4446 "ListDetailsView might not properly virtualize items"
### Describe the bug

I'm using a small to medium amount of data in a `ListDetailsView` and the load time of that control is currently not great.

To me it looks like, even with a small amount of data, that a large amount of UIElements are created (Judging from the Live Visual Tree). Maybe leading me to the thought that list virtualization must not be working properly.

### Regression

unclear, ma

[2022-01-09 18:21] chrfin opened #4449 "ToastNotificationManagerCompat.OnActivated not triggered if MAUI app not running"
### Describe the bug

Using .NET MAUI (preview 11) the `ToastNotificationManagerCompat.OnActivated` event is not triggered if a toast is clicked when the app is not running. The app is started and `ToastNotificationManagerCompat.WasCurrentProcessToastActivated()` returns `true`, but the event does not trigger. If the app is already running everything works fine.

### Regression

_No response_

###

[2022-01-09 19:46] Javier118 commented on #4374
then with this code you could make checkbox work

DataGridCheckBoxColumn

[2022-01-10 17:20] vgromfeld opened #4453 "Add an option to discard null ItemClickEventArgs.ClickedItem before executing ListViewExtensions.Command"
### Describe the bug

The system `ListView` and `GridView` controls exhibit an unexpected behavior when their items are reordered while a `ListViewBase.ItemClick` event is being processed. It seems that there is some internal race inside the control since we can receive a null `ItemClickEventArgs.ClickedItem` in the event even if there is no null item within the list.

This issue can easily by hit

[2022-01-10 19:15] Arlodotexe commented on #4453
This ListViewExtension directly passes the ClickedItem provided by your ListView. If that value is nullable, you should be able to handle that on your side. Is this feature request because it's not possible, or because it's inconvenient?

[2022-01-10 22:48] XAML-Knight commented on #4449
Looping in .NET MAUI, for awareness: @jsuarezruiz

[2022-01-11 00:25] michael-hawker commented on #4254
@Arlodotexe @XAML-Knight wonder if this repros for either of you? I don't think we've heard reports of this from anywhere else.

[2022-01-11 00:27] michael-hawker commented on #4254
Actually, just got a notification on another issue which appears to be very similar filed on the platform here: https://github.com/microsoft/microsoft-ui-xaml/issues/2545

@Sergio0694 do you remember context here? Did it go away targeting a newer platform version? @omikhailov have you tried updating to the latest SDK, Toolkit, and WinUI versions since?

[2022-01-11 08:11] vgromfeld commented on #4453
True but in some (rare) cases, we can receive a null clicked item from the `ListView`/`GridView` whereas there is no null item in the list/grid.

Our code is designed to not accept any null value since we consider them as invalid. I can still go through all the code and add a null check but I don't want to modify everything on my side because of the control bug. For now, I'm using a copy/pasted va

[2022-01-11 13:47] Javier118 commented on #4374
this code serves par asolucciona rel checkBox

[2022-01-11 14:18] omikhailov commented on #4254
Just tried and it didn't resolve the issue.

[2022-01-11 17:15] michael-hawker commented on #4453
@vgromfeld is there an issue for this filed with the WinUI team? Would like to know their input on this type of issue.

Is the idea that if you click and hold and drag an item to re-order it, that it's both moving it and firing an `ItemClick`? I wouldn't of thought the `ItemClick` should fire in that case?

We can sync offline if it's more sensitive, but could be handy to get more info or a video

[2022-01-11 18:53] XAML-Knight commented on #4254
Confirming the runtime error in the Hamburger app.

[2022-01-11 22:04] zateutsch commented on #4446
@Marv51 Hey there. I was able to recreate this issue today with a super simple test scenario and it looks like you were right - items don't seem to virtualizing with the ListDetailsView. Gonna do some more digging later today

[2022-01-12 04:16] DhananjayDhamale opened #4457 "MVVM.Tollkit: WeakReferenceMessenger.Send throws System.IO.FileLoadException"
### Describe the bug

Hi All,

We are migrating our class library application from MVVMLight to MVVMToolkit. We are using latest nuget package (V 7.1.2)  We are using WeakReferenceMessenger to send message.

WeakReferenceMessenger.Default.Send(new XXXLoaded(this)); The send call throws "System.IO.FileLoadException" as below -

_System.IO.FileLoadException: 'Could not load file or assembly 'System.

[2022-01-12 04:44] zateutsch commented on #4446
So it appears this is a problem with WinUI's [TwoPaneView](https://github.com/microsoft/microsoft-ui-xaml/blob/main/dev/TwoPaneView/TwoPaneView_v1.xaml#:~:text=%3CGrid.ColumnDefinitions%3E,%3C/contract7Present%3AScrollViewer%3E), which is placing the leftmost pane in a grid column of width "Auto", which disables virtualization by default. Looking into workarounds.

[2022-01-12 05:02] zateutsch commented on #4446
[Link](https://github.com/microsoft/microsoft-ui-xaml/issues/6578) to created WinUI issue.

[2022-01-12 08:17] vgromfeld commented on #4453
No, this seems to work fine. We can repro the issue if we click several times on a list item and the first click triggered a reorder of the list.
1. click on list view item
2. ItemClick event is raised
3. list is reordered
4. 2nd click
5. ItemClick event is raised with a null item

When this issue occur, the source for the click event is the ListView/GridView.

[2022-01-12 16:46] #4379 closed

[2022-01-13 18:33] michael-hawker commented on #4449
Adding @andrewleader for notifications, FYI @brminnick too

[2022-01-13 20:07] brminnick commented on #4449
@VladislavAntonyuk FYI

[2022-01-13 21:33] michael-hawker commented on #4453
@vgromfeld is there a reason putting the null check in the command is a problem? Or is it that there's a lot of commands attached to the item in the template?

[code]

[2022-01-13 23:11] #4432 closed

[2022-01-13 23:36] michael-hawker commented on #4376
Closing this issue as may be duplicate and we don't have enough issue. @Javier118 if you can provide more specific details if it is not a duplicate of the referenced issue, let us know.

[2022-01-13 23:36] #4376 closed

[2022-01-14 07:58] vgromfeld commented on #4453
There would be a lot of commands to update (+ all the associated unit tests) since none of our commands are expecting a null input.
It is easier to fix the issue in the attached property. For now we are using the following forked attached property code:

[code]

[2022-01-14 15:01] Javier118 commented on #4374
checkbox can be used in DataGrid other than DataGridCheckBox

[2022-01-17 16:02] tuggernuts opened #4458 "WinUI 3 ListView with WrapPanel has incorrect layout"
### Describe the bug

Replacing the items panel in a WinUI 3 ListView with a Wrappanel causes an unexpected layout. Without header is fine, but if a header is added, the header is placed to the left of the control. The panel is then clipped on right by the bounds of the control.

### Regression

_No response_

### Reproducible in sample app?

- [X] This bug can be reproduced in the sample app.

##

[2022-01-19 12:18] Javier118 commented on #4374
Hello:  you know something about the  CheckBox bug

[2022-01-19 17:12] chucker opened #4461 "Microsoft.Toolkit.Mvvm no longer works with TunnelVisionLabs.ReferenceAssemblyAnnotator"
### Describe the bug

I have a .NET Standard 2.0 project that references both this package, and a third-party one:

[code]

If I upgrade Microsoft.Toolkit.Mvvm to 7.1.0 (or 7.1.2), I get multiple build errors:

[code]

This is likely because `TunnelVisionLabs.ReferenceAssemblyAnnotator` synthesizes the `NotNullAttribute`, and I'm _guessing_ recent versions of `Microsoft.Toolkit.Mvvm.SourceGenerato

[2022-01-19 18:00] michael-hawker opened #4462 "[Feature] Add Automated Accessibility Testing"
### Describe the problem

In the lastest [WinUI Community Call](https://www.youtube.com/watch?v=k6WJmymqNKE) @chingucoding showed adding automated accessibility testing with [Accessibility Insights](https://accessibilityinsights.io/). Seems like something we should add and then audit within our controls.

### Describe the solution

Not sure if we want to work more into Toolkit Labs as part of futu

[2022-01-19 18:06] michael-hawker commented on #4458
This isn't specific to WinUI 3, the UWP version behaves the same way. The same thing occurs if you use a built-in horizontal `StackPanel`, so I don't think this is specific to the Toolkit and probably a WinUI/documentation/sample issue?

[code]

[2022-01-19 18:37] tuggernuts commented on #4458
Ok then, I'll take it up with the WinUI team. Thanks!

[2022-01-19 22:53] tuggernuts commented on #4458
After going back and getting a bug report ready, I'm now not sure this is a bug at all. I may have confused the ListView's Header property with that of other controls, like a ComboBox. The header in this case is being rendered within the items presenter. The header is not a header for the control; it is for the list. I think.

Closing. I appreciate the help.

[2022-01-19 22:53] #4458 closed

[2022-01-19 22:57] #4367 closed

[2022-01-19 23:00] michael-hawker commented on #4458
@tuggernuts yeah, I'm not sure what the expected behavior here is. It's certainly a bit odd it seems to be treated as an item vs. a predicate to the control. @chingucoding any thoughts on this? Think we should open a WinUI question?

[2022-01-19 23:48] michael-hawker commented on #4438
The UWP code is here: https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/main/Microsoft.Toolkit.Uwp.UI/Extensions/ListViewBase/ListViewExtensions.AlternateRows.cs

The WinUI 3 code is here: https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/winui/CommunityToolkit.WinUI.UI/Extensions/ListViewBase/ListViewExtensions.AlternateRows.cs

I don't see anything that jumps out as

[2022-01-20 00:32] Arlodotexe commented on #4438
@michael-hawker The issue can be repro'd in the Toolkit Sample App, doesn't seem to be specific to WinUI 3.

[2022-01-20 08:13] #4423 closed

[2022-01-20 19:30] chingucoding commented on #4458
I think this feels inline with what one would expect if setting the orientation to horizontal. Putting the Header on top of the control would not work if you have multiple headers so they need to be part of the "list" part. One could open an issue, but I don't really think this is a bug and it might be closed as "intentional design" of the control.

[2022-01-20 19:35] michael-hawker commented on #4438
@Arlodotexe I'm seeing this work on my machine in the version from the store on Windows 10, so this looks to be a Win 11 specific issue then... 🙁

I also noticed if I toggle the theme combo box then the already loaded sample works fine, so this could be an initial loading/timing issue maybe? Want to dig-in and take a look and see if anything obvious stands out?

[2022-01-20 20:50] Arlodotexe commented on #4438
@michael-hawker Looks like you're right, it's working as expected on Windows 10 but not on Windows 11. I can investigate this 🙂

[2022-01-21 17:38] texaclou opened #4465 "AdvancedCollectionView insert at bad index"
### Describe the bug

Hello, this is my first issue here, I hope I dot it the right way.

With a AdvancedCollectionView used with a Filter and without SortDescription,
When a add a item to the source collection, the item is not inserted at the end of the CollectionView,
it inserted before the last item.

With no filter there is no problem

### Regression

_No response_

### Reproducible in sample

[2022-01-22 21:15] Arlodotexe opened #4467 "[Feature] Behaviors for WeakReferenceMessenger and StrongReferenceMessenger"
### Describe the problem

The MVVM Toolkit has a [StrongReferenceMessenger](https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.mvvm.Messaging.StrongReferenceMessenger?view=win-comm-toolkit-dotnet-7.0) and a [WeakReferenceMessenger](https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.mvvm.Messaging.WeakReferenceMessenger?view=win-comm-toolkit-dotnet-7.0), used for relaying mess

[2022-01-24 12:28] Sergio0694 commented on #4467
This is an interesting proposal. As I mentioned on Discord, I think before discussing this in detail, we should reason about where would this go. Given this requires whatever package contains it to have a reference to the MVVM Toolkit, this automatically means it's a complete non-starter for any of the existing packages in the Windows Community Toolkit. As such, we'd need to create a new package t

[2022-01-24 19:28] erikthysell opened #4468 "[Feature] Snipppets for MVVM toolkit"
### Describe the problem

In order to minimize repetitivity, snippets similar to propfull

### Describe the solution

I would love snippets similar to[ Prism Template Pack](https://prismlibrary.com/docs/getting-started/productivity-tools.html)

### Alternatives

using Prism Template Pack (just for `propp` which I guess would work, cmd would not since PRISM has the DelegateCommand instead of RelayC

[2022-01-25 00:11] michael-hawker commented on #4312
@Arlodotexe I think sticking as much to possible to system defined brushes would be great as then even copying a snippet of a sample would work. Worst-case if we need a custom resource, we should probably copy them into each sample as needed from whatever design structure/guidance we have setup, if it's a common thing/color.

We'll need a list of these little details for things to keep track of fo

[2022-01-29 17:45] Javier118 commented on #4374
Hello:   if I use checkbox to delete rows you can use Row and Cell for Uwp

[2022-01-29 19:39] duke7553 commented on #4374
@michael-hawker Going to open a PR for this soon. Can you assign me? Thanks!

[2022-01-30 15:25] nandin-borjigin opened #4471 "Enable Grid to dynamically switch layouts"
### Discussed in https://github.com/CommunityToolkit/WindowsCommunityToolkit/discussions/4470

<div type='discussions-op-text'>

<sup>Originally posted by **nandin-borjigin** January 30, 2022</sup>
## Usecase
Imagine we want to show a list of items and each list item is a 3-column grid.
[code]

Now, we want to be responsive to the window size changes and decide to collapse this list item into 2 ro

[2022-02-01 12:10] phizch opened #4473 "[Bug] Exception is thrown when removing the last item in a group in ObservableGroupedCollection bound to a DataGrid"
## Description
When the item at the last index of an `ObservableGroup` that is in an `ObservableGroupedCollection` bound via a `CollectionViewSource` to a `DataGrid` is removed, an `ArgumentOutOfRangeExcpetion` is thrown.

#### Short example:
[code]

### Expected behavior
No exception should be thrown.
The DataGrid should remove the row, and if the row was selected, either select the next or previ

[2022-02-02 21:15] michael-hawker commented on #4033
@1cue-jrupp have you still been noticing an issue with the v1.0 release of the Windows App SDK and the latest toolkit package?

[2022-02-02 21:20] michael-hawker opened #4475 "DataGrid crash in Sample App"
### Describe the bug

There's been a few reports on our app reviews for the sample app that the DataGrid sample is crashing immediately when navigated to. I haven't been able to reproduce on my Win 10 or Win 11 machine.

I have seen a couple of stack traces from Partner Center that look like this:

0 | SharedLibrary.dll | System::DateTimeParse.Parse | 0x00000000000000D5
-- | -- | -- | --
1 | Share

[2022-02-03 09:07] Javier118 commented on #4374
hello:

how can I delete the Rows in Datagrid with checkbox in Sql Server?

[2022-02-03 10:13] HEIGE-PCloud commented on #4475
I am able to reproduce this with regional format set to UK.

[code]

Which is caused by `DateTimeOffset.Parse` trying to parse the date with `DD/MM/YYYY` format.

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/6d300f0fc24682d2d414b3bdff1e2bc9245a7574/Microsoft.Toolkit.Uwp.SampleApp/Data/DataGridDataSource.cs#L51

I have submitted a PR to fix it by setting the `formatProvider` to

[2022-02-03 16:32] michael-hawker commented on #4475
@HEIGE-PCloud thank you so much for digging in and finding the issue! 🦙❤

I figured it must be something like that. @XAML-Knight want to review the PR and we can get it merged in?

[2022-02-03 16:45] XAML-Knight commented on #4475
I was looking to bring in `DateTimeOffset.TryParse`, but if someone found a more direct cause & fix for the bug, let's investigate that first.

[2022-02-03 21:20] michael-hawker commented on #4188
Using issue for discussion as PRs are in flux.

@NaftoliOst was talking with @Arlodotexe about culture variants. We were thinking maybe we should extend the `IsNumeric` and `IsDecimal` functions in the .NET Community Toolkit to accept culture arguments too? (FYI @Sergio0694)

Then we could have a new Culture attached property for the regex extensions we could use to configure the culture setting f

[2022-02-04 12:11] HEIGE-PCloud commented on #4437
It may be caused by trying to set `SelectedItems` while the selection mode is `None` or `Single` as only one or no item can be selected.

Changing this

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/a39654ca7e825f459c0b014a46bd9e51de76f169/Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenizingTextBox.Selection.cs#L220

into

[code]

does seem to stop it from crashi

[2022-02-04 19:19] #4475 closed

[2022-02-08 00:27] XAML-Knight opened #4479 "GridSplitter vs ContentSizer"
Both `GridSplitter` and `ContentSizer` allow a control to be resized by the user.  But _when_ to use one or the other?

# When to use GridSplitter:
When the developer is trying to resize a grid-based layout (i.e., rows and columns)

- Resize methods utilizing `RowDefinition` and `ColumnDefinition` properties
- Grid interior `GridResizeBehavior` such as resizing scheme based on `CurrentAndNext` or

[2022-02-09 01:11] Difegue commented on #4417
+1 on this, would be open to contributing to a control like that as I have potential needs for one 😌

I think using Win2D for the paths would be fine for a first version of the control (You'd already have a fair bit of templating to do for the nodes themselves), I also don't think any controls in the WCT currently use skiasharp?
Do correct me if I'm wrong on this 😅

[2022-02-09 03:20] Avid29 commented on #4417
Someday, if nobody else makes this I will. In the meantime, I did some research a while ago and I'm willing to share what I learned with anyone who's interested.

[2022-02-09 12:32] Difegue commented on #4417
Oh sorry to disappoint but I didn't 😂 Just saw this issue while doing some searching.
I'm likely going to fallback to using https://github.com/panthernet/GraphX for my own project, but a simpler toolkit control would've probably been better/leaner.

[2022-02-10 18:12] michael-hawker opened #4483 "How to get perfect square with ImageCropper"
### Discussed in https://github.com/CommunityToolkit/WindowsCommunityToolkit/discussions/4478

<div type='discussions-op-text'>

<sup>Originally posted by **jhariel8** February  7, 2022</sup>
Hello,

I'm working on a project in which we need to have an image that is either taken or uploaded by a user cropped to a perfect square. I thought that setting the aspect ratio to 1.0 would accomplish this;

[2022-02-11 20:16] michael-hawker commented on #4473
This is related or duplicate of #2913 and #3924 I believe. There's some open PRs/work in this space, but I believe we were waiting on a more performant solution and some more testing.

[2022-02-14 20:39] michael-hawker opened #4487 "🧪 Toolkit Labs for Windows 💻"
# `Windows Community Toolkit Labs` has launched! 🎉

- Blog Post: https://devblogs.microsoft.com/ifdef-windows/announcing-the-windows-community-toolkit-labs/
- Repo: https://aka.ms/toolkit/labs/windows
- Website: https://toolkitlabs.dev/

Original plans left below.

----

_Read more about our [2022 Release Plan summary on the discussion here](https://github.com/CommunityToolkit/WindowsCommunityTool

[2022-02-14 20:39] michael-hawker opened #4488 "8.0 Release Plan 📝"
_Read more about our whole [2022 Release Plan summary on the discussion here]()._

_Before we start looking at our full 8.0 release, we're re-working our infrastructure for the toolkit. [Read all about the new Toolkit Labs for Windows coming first here]()._

# ~Q3 2022 - 8.0 Release – Create/Rename Windows Community Toolkit Repo to `CommunityToolkit/Windows`

   - Leverage new tooling/improvements

[2022-02-16 12:09] Shomnipotence commented on #4488
Will it get a new icon?

[2022-02-16 22:15] chingucoding opened #4489 "[SampleApp] GitHub icon not centered (NIT)"
### Describe the bug

The GitHub icon is not centered inside the button. While this is not visible on its own, when hovering over the icon, the imbalance is visible:
![GitHub icon not centered inside the "Open on GitHub" button](https://user-images.githubusercontent.com/16122379/154366152-5607e8f3-2f7e-4129-8d34-91622ac9c956.png)

### Regression

_No response_

### Reproducible in sample app?

- [

[2022-02-17 00:44] michael-hawker commented on #4489
Thanks @chingucoding! I may be pushing an update out to the sample app soon for the DataGrid issue, so if you'd like to submit a PR, feel free.

Otherwise, as you know from our #4486 memo, we'll be redoing a lot of the infrastructure and that should replace our current sample app. Happy to have your input and advice as we move forward in those directions. Hopefully we'll be ready in the next week

[2022-02-17 00:48] michael-hawker commented on #4488
Possibly, there has been discussion on this topic in the past #3182. As we get closer to setting a release date for 8.0, it's definitely something we should consider. Thanks for reminding us!

[2022-02-17 03:51] HavenDV opened #4490 "[Feature] Add WPF MouseDragElementBehavior alternative"
I want to port [this Behavior](https://github.com/microsoft/XamlBehaviorsWpf/blob/master/src/Microsoft.Xaml.Behaviors/Layout/MouseDragElementBehavior.cs) from XamlBehaviorsWpf as a FrameworkElementExtension:
[code]

I'm not really sure if it's worth moving this as a Behavior to https://github.com/microsoft/XamlBehaviors because, at the moment, I'm only using XamlBehaviorsWpf because of this behavi

[2022-02-17 20:36] michael-hawker commented on #4489
@chingucoding if you think it'll just take you 10 minutes and you want to get a quick fix in, then happy to do it now for the patch of the sample app. But since it's a minor nit, I'm fine if we just leave it for now too. 😋

[2022-02-17 21:28] chingucoding commented on #4489
Yeah it shouldn't take too much time to fix, I'll get right to it.

[2022-02-20 08:21] Nirmal4G commented on #4487
I'm interested in `build` infra side of things and I have some ideas about repo structure.

[2022-02-20 08:24] Nirmal4G commented on #4488
The namespace for Community Toolkit for Windows with `CommunityToolkit.WinUI` is too restrictive for what it enables or represents. I propose we move to `CommunityToolkit.Windows`!

[2022-02-20 08:26] Nirmal4G commented on #4488
The namespace for Community Toolkit for Windows with `CommunityToolkit.WinUI` is too restrictive for what it enables or represents. I propose we move to `CommunityToolkit.Windows`!

I also have some ideas about repo structure that might not require heavy refactoring when and if we rebrand in the future.

[2022-02-27 14:12] beatofangel opened #4525 "[HELP]Using Uwp.Notifications in VSTO(winforms)"

[2022-02-27 20:13] robloo commented on #4208
This was fixed in an internal version of the control.

 1. A new ColorPreviewer control was added to handle the bottom color preview area as well as the accent colors (this helps clean up and simplify ColorPicker code while making feature additions simpler)
 2. As mentioned above, the ColorPreviewer now works in HSVA color representation instead of RGBA. That preserves Hue information even in min/

[2022-03-02 18:45] Avid29 opened #4499 "[Feature] Marquee Text Control"
### Describe the problem

Looking for a convenient TextBlock that can scroll text like a Marquee

### Describe the solution

A MarqueeText control that uses a Storyboard and two TextBlocks to scroll text across the screen if it doesn't fit

### Alternatives

_No response_

### Additional info

I wrote a control like this for StrixMusic, however I think I could do it better if I took another go at

[2022-03-03 00:19] michael-hawker commented on #3949
I'm working on a fix finally for this as part of our refactor! Realized the manipulation events in UWP provide the Cumulative values as well which should make this fairly straight-forward. I have it working on our new `ContentSizer` control with the new base class we're creating. I just need to update the GridSplitter code to utilize it as well... doing that on my dev stream at this very moment...

[2022-03-03 01:21] michael-hawker commented on #3949
I've also confirmed that this behavior was shipped back in the original 1.1 version of the Toolkit code, as far as I can tell. It was in its current form as of 2.0 in the Manipulation events. But both used `Delta` offsets to update as things dragged vs. the new `Cumulative` method.

So this'll probably go down as longest outstanding bug to be fixed in the Toolkit for a while... 😋

[2022-03-04 08:28] teohumeau commented on #3142
Is there any fix available ?

From the v7.1.2 on a 10.0.22000 OS, AppCenter report this:

Date/Time:       2022-03-03T15:26:42.3980346Z
OS Version:      10.0.22000 (10.0.22000.493)

Exception Type:  System.ArgumentException

Application Specific Information:
*** Terminating app due to uncaught exception 'System.ArgumentException', reason: 'Value does not fall within the expected range.'

Last Exce

[2022-03-05 01:11] michael-hawker opened #4500 "[BUILD] Build Failure .NET Core 2.1.0 missing"
### Describe the bug

Our build pipeline is failing. FYI @azchohfi @Arlodotexe @Sergio0694... 😢

Think this may have to do with .NET Core 2.x retiring?

See failure from other PR here: https://dev.azure.com/dotnet/CommunityToolkit/_build/results?buildId=66861&view=logs&j=4a47a688-b50e-58f6-4d2c-6d1b829fc8e2&t=ae438b9a-8c74-5e36-ef90-6b85cacfd6fb&l=1800 (_I had built this commit locally with our bu

[2022-03-05 01:16] Sergio0694 commented on #4500
Mmh this might just be a leftover we forgot to nuke. All .NET Code 2.1 targets should just be deleted, yeah. I can help with a PR if you need 🙂

[2022-03-05 01:18] michael-hawker commented on #4500
Thanks @Sergio0694 that'd be great if you could take a quick look on Monday. 🦙❤

[2022-03-05 01:31] michael-hawker commented on #4499
Thanks @Avid29, sounds like a great thing for Toolkit Labs 🧪 #4487. We'll hopefully be in a good spot later in the month to start onboarding experiments to test our infrastructure. Can give you a ping then if you want to help be a guinea pig for us to help try it out.

[2022-03-05 18:21] robloo commented on #4208
Fixed in #4502

[2022-03-05 19:12] robloo commented on #4488
I would like to add back `DropShadowPanel` and not deprecate it. The dev experience with this control is far superior to the new ideas in `AttachedDropShadow` which are just wrapping the implementation in composition (which is also poorly designed and doesn't fit in with XAML). `AttachedCardShadow` is slightly better but missing a lot of properties to control the look.

[2022-03-07 18:16] #4500 closed

[2022-03-08 14:23] touseefbsb opened #4503 "ObservableProperty should support lazy initialization."
### Describe the problem

**ObservableProperty** right now doesnt provide a way to initialize property or **lazy initialize the properties**. So in case where we need that we have to manually do that in the constructor.

**Example**

Following is a property (along with backing field) with traditional mvvm way and I am including lazy initialization in it so that this object will never be null when

[2022-03-08 18:21] Arlodotexe commented on #4503
Hi @touseefbsb, thanks the feedback. I've transferred this issue to the .NET Community Toolkit where we can better assist you.

[2022-03-08 18:28] Arlodotexe commented on #4488
Plans included supporting WinUI on other platforms, not just Windows, so using `WinUI` would be more appropriate.

[2022-03-09 04:37] Nirmal4G commented on #4488
Okay. But WinUI still represents Windows UI! Also, `CommunityToolkit.WinUI.UI` is more visually confusing at a glance. It's **disturbing** (_to look at_) to say the least.

May be `CommunityToolkit.UI.Xaml` would be a better alternative…?

[2022-03-09 11:50] jaimecbernardo opened #4504 "[Bug]MarkdownTextBlock links mouse hover and click zone extends horizontally past the link"
### Describe the bug

In MarkdownTextBlock, if a link is the last element in the line, its click zone and zone where it shows the tooltip extends to the end of the line as well.
It should not extend past the link.
Creating this issue as suggested in https://github.com/microsoft/PowerToys/issues/16902

### Regression

_No response_

### Reproducible in sample app?

- [X] This bug can be reproduced

[2022-03-10 13:24] Sergio0694 opened #4505 "TaskResultConverter causes an InvalidCastException (can't cast COM object to T)"
### Describe the bug

The `TaskResultConverter` returns `DependencyProperty.UnsetValue` in the fallback path.
This causes invalid cast exceptions downstream when trying to convert the object to some type.
The converter should just return `null` if no value is available.

### Regression

No, always been like this.

### Reproducible in sample app?

- [X] This bug can be reproduced in the sample app.

[2022-03-13 11:17] jeranio opened #4506 "Cannot add [ObservableProperty] tag to a variable."
### Describe the bug

The project won't run and this error comes up.
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0102	The type 'Test' already contains a definition for 'FirstName'	LCI_WCT	E:\SOFTWARE PROJECTS\LCIProject\LCI QC App\LCI_WCT\CommunityToolkit.Mvvm.SourceGenerators\CommunityToolkit.Mvvm.SourceGenerators.ObservablePropertyGenerator\LCI_WCT.Test.cs	12	Active

No

[2022-03-13 21:58] huynhsontung opened #4509 "[Feature] IconExtensions should use Segoe Fluent Icons font"
### Describe the problem

Icon extensions currently use "Segoe MDL2 Assets" by default and in `SymbolIconExtension` case, the font family is hardcoded. This limits the ability to use the new Segoe Fluent Icons that are available on Windows 11.

### Describe the solution

`TextIconExtension` should use "Segoe Fluent Icons" font family by default and only use "Segoe MDL2 Assets" as fallback font.

R

[2022-03-15 05:21] duke7553 commented on #4374
@Javier118 Sorry for the delay. I got around to authoring a fix for this today, which should be in PR now: #4511

[2022-03-15 05:35] jeranio commented on #4506
The YouTube presenter got back to me and says I should try the demo on WCT 8 which I believe is still in preview release. I am going to see if I can get the v8 and see if that solves the issue.

[2022-03-17 17:03] Siyh opened #4513 "DataGridComboBoxColumn bindings produce an exception if you use a converter."
### Describe the bug

See [here ](https://stackoverflow.com/questions/71471480/uwp-datagridcomboboxcolumn-converter?noredirect=1)for details.

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

Comboboxes with displayed values that differ from those underlying.

### Screenshots

[2022-03-19 03:45] Avid29 commented on #4499
@michael-hawker I'd love to participate however you're offering

[2022-03-21 22:26] Avid29 opened #4515 "[Feature] Flow Direction demos for the sample app"
### Describe the problem

Proper right to left behavior isn't always clear. Toolkit maintainers likely don't test their controls in RTL flowing languages and developers writing with RTL flowing languages in mind don't always know the proper behavior.

Adding a Flow Direction option next to theme in the SampleController would at least allow Toolkit maintainers to easily test the behaviors of the co

[2022-03-21 23:49] Avid29 opened #4517 "Carousel scrollers wrong direction with key input in Right to Left flow direction"
### Describe the bug

In Right to Left flow direction, left key inputs scroll the carousel right and right key inputs scroll the carousel left

### Regression

_No response_

### Reproducible in sample app?

- [x] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

The right arrow key should scroll right, the left arrow key should scroll left

###

[2022-03-22 20:23] michael-hawker commented on #4467
FYI @Sergio0694 this may also play into what you've been playing with lately too as a separate or coordinated lab idea.

[2022-03-23 12:21] Avid29 opened #4519 "Unexpected behavior with FlowDirection RTL for RadialProgressBar and RadialGauge"
### Describe the bug

In RightToLeft FlowDirection the RadialGauge flows RTL however the expected behavior in a culture with RTL language is still LTR gauges.

### Regression

_No response_

### Reproducible in sample app?

- [X] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

Unless specified otherwise the FlowDirection should default to LeftT

[2022-03-23 18:16] FANMixco opened #4522 "[Feature] Bring back full containerization of apps like in UWP for WinUI 3+"
### Describe the problem

I'm not sure if this is considered for the future, but in the v1 is not supported:

https://docs.microsoft.com/en-us/windows/apps/windows-app-sdk/migrate-to-windows-app-sdk/what-is-supported

This was one of the greatest features of UWP since your apps were clean and easy to install from the store. This is something similar to what happens in macOS.

### Describe the solu

[2022-03-24 16:25] Arlodotexe commented on #4522
Hi @FANMixco! Thanks for the feedback. The Windows Community Toolkit is a library of common controls and helpers for building a Windows application.

While I'd love to see WinUI 3 get this feature, this repo isn't the place to request it. I recommend filing an issue in the [Windows AppSDK](https://github.com/microsoft/WindowsAppSDK) Github repo.

[2022-03-24 16:25] #4522 closed

[2022-03-26 02:27] Nirmal4G commented on #4488
What about the non-UI WinRT namespace `CommunityToolkit.Uwp`? Seems farfetched to use `WinUI` here!!

[2022-03-26 02:28] Nirmal4G commented on #4488
@Arlodotexe @michael-hawker

[2022-03-28 17:43] michael-hawker commented on #4525
FYI @andrewleader

[2022-03-28 17:52] #4509 closed

[2022-03-28 18:04] michael-hawker commented on #4488
There's still a base package without 'UI', but maybe it should just be `WinAppSDK`. I agree with @Nirmal4G that the current `WinUI.UI` is a confusing repetition, but we don't have a good solution for this at the moment mapped out. It is something we should figure out within our current naming scheme.

The main thing is that we want the UWP and WinUI packages to be closely aligned enough, but all u

[2022-03-28 18:16] robloo commented on #4488
Why not "CommunityToolkit.Uwp.UI" and "CommunityToolkit.Win.UI" for example. "Win.UI" makes sense but doesn't follow branding is the only issue I see.

[2022-03-28 19:20] michael-hawker commented on #4488
Yeah, I guess it's a matter of what we align to. We could go like `CommunityToolkit.Windows.UI` for instance. That may solve the conflicts. Though `Windows` is pretty broad (though we are the Windows Community Toolkit 😅). It's just that we know we're fairly aligned with building mostly on top of the `WinUI` platform, so we figured that alignment made more sense from the namespace/packaging perspec

[2022-03-28 19:30] robloo commented on #4488
@michael-hawker

I think Windows perfectly describes the platform the toolkit operates on. WinAppSDK is supposed to encompass a lot of different API's as well bringing them all together under one 'Platform'. WinUI is similar thinking I suppose.

That said, "Windows.UI.Xaml" for example with UWP was supposed to be the be-all-end-all platform as well and took the "Windows" term in a similar way. Loo

[2022-03-28 19:40] michael-hawker commented on #4488
Agree there are many forms of Windows app (thus my initial apprehension going in that direction); but that said, the "Windows App SDK" is the new branding for building Windows apps. And while we do depend on WinUI at the `Uwp.UI` layer, our current `Uwp` package and future `Windows` package would just depend on the Windows App SDK, as we may want to build more off of just that in the future.

I th

[2022-03-28 19:44] jeromelaban commented on #4488
I agree with @Arlodotexe here, using `CommunityToolkit.WinUI` seems to be clearer, and more specific to which framework it is targeting.

Yet, following the argument from https://github.com/CommunityToolkit/WindowsCommunityToolkit/issues/4488#issuecomment-1081063575, it should be `CommunityToolkit.WinAppSDK.WinUI` since there are WinAppSDK apis that are not WinUI specific, but are from a subset of

[2022-03-28 19:49] Arlodotexe commented on #4488
Something like that would work for the package names on Nuget, though I think the discussion here is for the namespaces in the libraries, which will all be using the same namespaces as they're multi-targeting UWP, WinAppSDK and Uno.

We just need to agree on what the best choice of namespace is for something like this.

[2022-03-28 19:59] michael-hawker commented on #4488
Yeah, that's the main concern is that we're still bridging this transition. And while `CommunityToolkit.WinAppSDK.WinUI` may be accurate for the new package (albeit verbose), it's even weirder to use as a namespace for existing UWP projects.

That's where both `WinUI` and `Windows` as roots here are more agreeable to being used in both UWP and WinAppSDK projects, are shorter, and not going to be c

[2022-03-28 20:03] Arlodotexe commented on #4488
Agreed. My main concern is that the Community Toolkit will be _very_ widely used, and `Windows` encompasses more than just UWP and the WinAppSDK, which could cause confusion for Win32, WPF, MAUI, etc.

Also, these packages are now cross-platform thanks to Uno, and not explicitly tied to Windows anymore.

[2022-03-28 20:15] Arlodotexe commented on #4488
Perhaps a good middle ground would be
- `CommunityToolkit.Windows` - for any APIs that are tied to the Windows SDK that ships with Windows (WinRT, not Win32).
- `CommunityToolkit.Windows.WinUI` - for anything that depends on both the Windows SDK and WinUI (2/3)

Though I haven't seen a library that references only the Windows SDK without going through UWP or the WinAppSDK, though 🤔

[2022-03-29 20:06] Wandtket opened #4526 "Datagrid Template Columns not retaining values on some controls."
### Describe the bug

When using DataGridTemplateColumn and binding certain columns to an observable collection, custom template columns won't retain their values such as comboboxes, datepickers, and sometimes Autosuggest boxes.

Also when scrolling the Datagrid with large amounts of data it sometimes duplicates previous inputs.

### Regression

_No response_

### Reproducible in sample app?

- [

[2022-04-01 18:37] michael-hawker commented on #4488
Another thing to consider is that we've already shipped `CommunityToolkit.WinUI.*` and `CommunityToolkit.WinUI.UI` versions of these packages for our existing WindowsAppSDK/WinUI 3 support, so if we change the pattern for 8.0, it'll be another breaking change for them (though part of the point of 8.0 is to break this to align for the future, so it's OK to do, but just want to be conscious that we'

[2022-04-04 05:04] Nirmal4G commented on #4488
@Arlodotexe @jeromelaban

With Windows' current position among Devs, there'll be many more `WinUI`s and `WinAppSDK`s come and go but the one thing that'll never change (_for the time being_) is `Windows`. Even if you're targeting via `Uno`, you're still using `Windows.*` namespaces than `Uno.*`. Apart from all the internal transliteration that Uno provides, on the surface it's still using Windows

[2022-04-04 06:51] danielchalmers opened #4576 "[Feature] Source generator for DependencyProperty boilerplate"

[2022-04-04 17:49] michael-hawker commented on #4488
@Nirmal4G the VS extensions may have chosen to use `Community`, but there are a few other pre-existing projects that are using `Community` as a root; so they/we can't take ownership of that to get the 'checkmark' on NuGet. That's why we chose `CommunityToolkit` as a root to associate directly with our GitHub organization and the .NET Foundation, as you call out as important.

Appreciate your input

[2022-04-04 17:51] Arlodotexe commented on #4488
Important to note that this distinction misrespresents what we're doing. We're writing WinUI code here. It works under WinAppSDK, UWP and other platforms via Uno, but it's all WinUI.

Windows apps can be developed with many other UI frameworks that aren't WinUI. There may one day be toolkits for those (we already have a Maui Community Toolkit), so we need to be mindful of them and not take a names

[2022-04-05 03:25] Nirmal4G commented on #4488
@michael-hawker

NuGet has a concept of multiple owners per root and different owners per sub root. The `Community` is WE and we are not one person or organization. NuGet could reserve the certain roots like `Community` and the roots that starts with username as .NET Community or something along the lines.

This is a special case than roots like `Microsoft` or `Windows`. You can do the ownership o

[2022-04-05 15:39] michael-hawker commented on #4488
@Nirmal4G we can't claim a NuGet sub-root unless we own the root. So, we can't own the root of `Community` if many different other folks are already using it, as is the case here. That's why we went with `CommunityToolkit` as it's something specific we could own as a root and delegate sub-roots out as we work with different communities like the MAUI folks.

With `Microsoft.Toolkit`, `Microsoft` wa

[2022-04-05 15:56] Arlodotexe commented on #4488
@Nirmal4G

WinUI is a product name, the name of the UI framework we're using. It matters when looking for the nuget package that is compatible with the UI framework in your app.

Agreed. We won't be using WinAppSDK in the namespace, we'll have a single unified `CommunityToolkit.WinUI` namespace for both WinUI 2 and WinUI 3, which will work under UWP and WinAppSDK respectively.

[2022-04-05 16:55] Nirmal4G commented on #4488
@michael-hawker @Arlodotexe

Guess it's a limitation of NuGet. Can't be helped then!

Hmmm... Still don't like the separation between `CommunityToolkit.WinUI` and `CommunityToolkit.Uwp` or whatever it ends up. That's why I liked the single `Community.Toolkit.Windows` namespace.

BTW, the assembly/package names can be different. We can use UWP or WinRT and WinUI moniker on Package and Assembly name

[2022-04-05 17:18] Nirmal4G commented on #4487
Any update on the labs repo? I don't see it in the org page.

[2022-04-05 22:16] michael-hawker commented on #4488
To clarify, the current thinking/plan will be that we'll have a singular namespace, e.g. `CommunityToolkit.WinUI.*` (or whatever) but two sets of packages under: `CommunityToolkit.UWP.*` for UWP and `CommunityToolkit.WinUI.*` for WinUI 3.

This would help with interop and migration of moving from UWP to WinUI 3 as the namespaces will be aligned, and allows us the opportunity to merge with Uno in t

[2022-04-06 04:38] Daniellled commented on #4056
I was wondering if any progress has been made on this issue?

[2022-04-06 06:04] Nirmal4G commented on #4488
@michael-hawker

The `WinUI` can be for UI APIs but what about the non-UI APIs? Will they use the existing `UWP` or older `WinRT` or something else?

I recommend using `Windows` in the namespace as you proposed previously as it unifies nicely. But we can use different moniker on assembly/package names.

I do agree that `CommunityToolkit` is more of a vendor name in the namespace. Having to separat

[2022-04-06 06:17] Nirmal4G commented on #4487
@michael-hawker Just wanted to know what was the proposed layout and structural changes to the repo. I'm more interested in repository maintainance and build infra side of things than the actual Toolkit code.

I also maintain an private fork of the Toolkit with significant layout and structural changes along with our patches for own uses. So, I want to know if there are any repo-wide changes that

[2022-04-06 17:09] Arlodotexe commented on #4488
I'll re-post this [from above](https://github.com/CommunityToolkit/WindowsCommunityToolkit/issues/4488#issuecomment-1081095363) for consideration:

---

Perhaps a good middle ground would be

* `CommunityToolkit.Windows` - for any APIs that are tied to the Windows SDK that ships with Windows (WinRT, not Win32).
* `CommunityToolkit.Windows.WinUI` - for anything that depends on both the Windows SDK

[2022-04-06 21:46] andrewleader commented on #4056
Hey @Daniellled, the Windows App SDK team is working on adding the notification features seen here to the Windows App SDK, so all work within the WCT has been effectively paused.

Version 1.1 of the Windows App SDK has an initial version of the notification API, supporting registering and sending notifications (but is missing the XML builder APIs so you still have to either use raw XML, or can use

[2022-04-08 12:18] Aurumaker72 opened #4528 "NonSerializable/XMLIgnore Attributes with ICommand/ObservableProperty attributes"
### Describe the problem

A way/special attribute to be used in conjunction with ICommand or ObservableProperty which signalizes the backing field not to be serialized

### Describe the solution

[code]
Example which should compile to

[code]

### Alternatives

_No response_

### Additional info

_No response_

### Help us help you

_No response_

[2022-04-10 00:31] knightmeister opened #4529 "[Feature] Events when manipulating the image cropper"
### Describe the problem

At the moment, from what I see from a quick read of the source and a thorough read of the documentation, no events are raised when the cropped area is manipulated.

This works fine for simple scenarios, but for a more complex user interface there would ideally be a mechanism to update the `Rect` against a view model or receive an event when the crop area is manipulated (m

[2022-04-12 19:12] michael-hawker commented on #4526
I'm not sure if I follow the scenario you're trying to layout here @Wandtket.

Are you trying to make a distinction between edited data that hasn't been committed yet and the original source?

If so, there are additional interfaces like `IEditableObject` needed to support that, see docs here: https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/datagrid_guidance/editing_inputvalidati

[2022-04-12 19:13] michael-hawker commented on #4529
Related/Duplicate of #3163

[2022-04-13 13:52] fatscally opened #4530 "[Feature] AndAlsoExecute(NameOf(Method)) on PropertyChanged."
In this situation I have a DatePicker control on a XAML form bound to a property in the viewmodel:
`[ObservableProperty]`
`public DateTime bookingDate;`

I am hoping to introduce another annotation that will allow me to call a function after the property is updated.
`[AndAlsoExecute(NameOf(GetBookings)]`

I created a Q. about it over on StackOverflow:
https://stackoverflow.com/questions/71857854/h

[2022-04-14 19:15] fatscally opened #4531 "DataGrid not working on .Net6"
### Describe the bug

I tried to install the DataGrid on my .Net 6.0 app and got the following error.   I leave it here in the hands of the right people :)

[code]

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

I was thinking it would work seamlessly with .Net 6.0

### Scre

[2022-04-15 06:07] michael-hawker commented on #4531
@fatscally the min version of the toolkit currently is `-windows10.0.18362`, have you tried using `net6.0-windows10.0.18362` instead?

[2022-04-15 10:02] fatscally commented on #4531
Hello Michael!

I have spent the last hour or so trying every different configuration based on your suggestion.
I've tried Microsoft.Toolkit.Uwp.UI.Controls.DataGrid  and  CommunityToolkit.WinUI.UI.Controls.DataGrid.

I have played about with the Target OS version.  Everything builds and runs fine until I try to use the controls:DataGrid
![Screenshot 2022-04-15 104028](https://user-images.githubus

[2022-04-15 12:30] fatscally commented on #4531
### Seems to me it's not working anywhere!...

I opened VS2022 17.1.4
Created new WPF Application.  Framework .Net5.0 (current)
Right click on project and select Properties.
Target OS version:  **10.0.17763.0**

Open Nuget manager.

1.  Try install **Microsoft.Toolkit.Uwp.UI.Controls.DataGrid** Latest Stable 7.1.2
Error:
`Package Microsoft.Toolkit.Uwp.UI.Controls.DataGrid 7.1.2 is not compatible w

[2022-04-15 14:13] thomasrea0113 opened #4532 "WPF on net6.0 - AsyncRelayCommand blocks UI"
### Describe the bug

IAsyncRelayCommand does not run asyncronously. the `IsRunning` property is only updated *after* the task has completed. The task completes, `IsRunning` is set to `true`, and then immediately set to `false`. I verifed this by adding a handler to `ProcessCommand.OnPropertyChanged` and can see that the async action completes before `IsRunning` is ever set to tru.

All other bind

[2022-04-15 17:40] michael-hawker commented on #4531
@fatscally these controls are for UWP or WinUI 3, they don't work in a WPF project directly unless you use XAML Islands.

You can read more about [WinUI 3 here](https://aka.ms/winui3) and more about [using the Toolkit with WinUI 3 here](https://aka.ms/wct-winui3).

[2022-04-15 18:14] thomasrea0113 commented on #4532
I was able to work "fix" this by wrapping the `IAsyncRelayCommand` delagate in a call to `Task.Run`, but this seems superfluous, and none of the samples show this as being necessary.

[code]

Maybe this is a misunderstanding on my part about how `IAsyncRelayCommand` is intended to work, but it seems that the IU will block until `await` is actually called within the delegate. So in the above exampl

[2022-04-15 21:31] michael-hawker opened #4533 "DataGrid sample not sorting the First Ascent Column"
### Describe the bug

_[Follow up from Discord discussion here](https://discord.com/channels/372137812037730304/671870147354427422/964608979546296331)_

Looks like our sample in the sample app isn't properly sorting the DateTime column for some reason (there's no reason why this shouldn't be possible, but feel like something in the logic is currently missing for this added column).

Needs to be lo

[2022-04-16 11:11] fatscally commented on #4531
Yup! That explains it.   I had my suspicions.  I haven't gone down the WinUI rabbit hole yet.
Right so let's delete this "bug"!   :)

[2022-04-19 08:07] minesworld opened #4536 "[ObservableProperty] Mvvm SourceGenerator does not work for Generics"
### Describe the bug

[code]

will generate

[code]

and thus VisualStudio won't build the project as CS0535 error occurs:

`'X<P,M>' does not implement interface member IX.Value`

### Regression

7.1.2

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

should generate the right code (whatever this is, I'm a

[2022-04-19 08:13] minesworld commented on #4536
in case of a

[code]

the `M` is carried over into the generated source file... . it just the class declaration line which is wrong

[2022-04-20 07:54] RossCoeH opened #4537 "[Feature] add ability to copy template of xaml items into winui3"
### Describe the problem

In xaml designer, there is a copy template item, which is useful - providing all style templates and behavior triggers. This is a fantastic learning tool for beginners because it exposes both styles ànd trigger behaviours. The end result is usually a trimmed copy adjusting one or two behavior or styles.

Now winui3 does not have an xaml designer view, and I cannot find th

[2022-04-22 14:44] ArchieCoder opened #4538 "[DataGrid] Scrollbar not visible and performance issue"
### Describe the bug

My grid in the video contains 3 rows and the number of columns expands fast (every half second). The first 4 columns are fixed.
https://user-images.githubusercontent.com/1608424/164730612-4d2b9047-fc36-4d23-9a4b-37ac705d8010.mp4

Problem 1: Scrollbar not visible
![Definition](https://user-images.githubusercontent.com/1608424/164730956-ec11fd48-3d9c-4e53-8354-d8c151af4379.png)

[2022-04-22 23:19] michael-hawker commented on #4537
Hi @RossCoeH this GitHub repo is specific to the Windows Community Toolkit. You'd want to file this feedback with Visual Studio directly using the Send Feeback icon on the top-right of Visual Studio itself:

![image](https://user-images.githubusercontent.com/24302614/164816482-ea730cc6-07e1-45f5-8e23-78fb7ccc812c.png)

They'll be able to redirect the inquiry to the proper team.

[2022-04-22 23:20] #4537 closed

[2022-04-24 10:45] mcneo1972 opened #4540 "DataGrid crashing in sample app 7.1.0"
### Describe the bug

When accessing the DataGrid control in the sample app the app crashes. Other controls appear to be ok

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

Sample app should show example of Datagrid control

### Screenshots

_No response_

### Windows Build N

[2022-04-24 16:10] tutkus commented on #3831
Hi, If the issue is still open and no one is working on it then I'm willing to cover that. It will be a good one for my first contribution here ;-) Please assign it to me

[2022-04-24 17:01] tutkus commented on #3243
Hi, I'm willing to work on it.

[2022-04-24 17:37] h82258652 opened #4541 "If keep pressed and re-enter the window when using the Eyedropper, the preview will not display"
### Describe the bug

https://user-images.githubusercontent.com/5144550/164988821-3984ffde-7bce-4c43-9cbc-4f15092ae247.mp4

### Regression

_No response_

### Reproducible in sample app?

- [X] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

If re-enter the window with mouse left button pressed, the preview should be visible.

### Screenshots

[2022-04-25 23:12] michael-hawker commented on #3243
Thanks @tutkus, I've assigned this to you. Feel free to ask any questions if you need assistance, and otherwise open up a PR. Note we're in a bit of a transition period, so not sure when we may get to new things, but I think this seems pretty well-scoped and simple, so should be easy to migrate as needed with our plans.

[2022-04-25 23:16] michael-hawker commented on #3831
Thanks @tutkus, that's great to know! We're going to be in the progress of some migrations in the near future (see the discussion in #4486). It'd probably be best to tackle these types of wide-spread changes after our initial refactoring/migration work (to make sure they don't get lost or create troubles for merging branches). Want me to reach out once we've gotten to a good point with that in a c

[2022-04-26 06:17] tutkus commented on #3831
@michael-hawker, all good. pls let me know once you get the source code to the shape which allows to move farther with this issue. I can work on it. In the meantime if you have sth else which I could pick up (apart of the one already assigned to me), fell free to assign to me as well (very willing to help).

[2022-04-26 06:19] tutkus commented on #3243
@hansmbakker  - all good, I managed to built the code and started looking into it.
I assume once I will have this issue fixed, the PR should be sent to master branch, right ?

[2022-04-28 14:34] muthink opened #4542 "Compiler emits warning CS8785 when implementing IRecipient<> on partial classes"
### Describe the bug

Whenever you implement IRecipient<> on a C# **partial** class, which is split into two or more files, and gets registered in .NET core, the compiler will emit an 8785 warning during build.
CSC : warning CS8785: Generator 'IMessengerRegisterAllGenerator' failed to generate source. It will not contribute to the output and compilation errors may occur as a result. Exception was

[2022-04-29 00:37] cesarchefinho opened #4544 "XAML MVVM Binding Extensions to simplify Markup and integrate VIEW with VIEWMODEL and ViewModel Attributes"
### Describe the problem

XAML is too verbose and cant read from anotations attibutes like validatos, data type etc in ViewModel

also XAML does not have and Validation Error mecanism for individual control error messages binded to ViewModel

### Describe the solution

Binding Extensions MVVM Proposal to WINUI3 and UWP

An Extension to XAML language that simplify markup and expand XAML capabilitie

[2022-04-29 00:50] cesarchefinho commented on #4544
also for previous example here is your viewmodel

public partial class ExtendedObservableValidator : ObservableValidator
{
   // ... lot of goodies
   // but

    [IndexerName("Item")]
    public string this[string columnName] =>
        string.Join(Environment.NewLine,
                    (from ValidationResult e
                       in GetErrors(columnName)
                   select e.ErrorMes

[2022-04-29 17:38] dongle-the-gadget opened #4545 "MVVM Toolkit in Sample App shows introduction for High Performance package"
### Describe the bug

In the Windows Community Toolkit Sample App (version 7.1.0), opening MVVM Toolkit shows the introduction for the High Performance package instead.

### Regression

_No response_

### Reproducible in sample app?

- [X] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

It should show information about MVVM Toolkit.

### Screen

[2022-04-29 21:06] AbdAlghaniAlbiek commented on #4488
Hey @michael-hawker
In the list of new features, I remember you put my issue #4401 beside StackedInfoBar behaviour under "introduce big changes"  mark.. Are you forget something or it's error from github because this issue/PR #4338 has mentioned twice !?

[2022-04-29 23:09] michael-hawker commented on #4488
Yup, just a copy/paste issue, I've fixed the link to the PR above. We've been pretty focused on getting #4487 ready to go. Once that's up, we'll move some of the current PR/features over there to continue their development/feedback before we restructure the current repo here for 8.0 on top of the new infrastructure.

[2022-04-30 00:46] AbdAlghaniAlbiek commented on #4488
Thank you all. And good luck ✊

[2022-04-30 21:03] tutkus commented on #4538
Hi @michael-hawker,
I can work on it. Please assigne to me if noone else has booked it yet.

[2022-04-30 21:05] tutkus commented on #4111
Hi @michael-hawker ,
Looks like the prev PR were not merged. That seems to be quite stright forward so if noone else has taken it yet pls assigne to me.
I will implement.

[2022-05-02 18:05] michael-hawker commented on #4544
@cesarchefinho we're close to opening up our Toolkit Labs #4487. That'll be a place to start a proposal for something like this and gather more feedback/input from the community on an implementation. Though we can gather some of that here now. @Arlodotexe @Sergio0694 @mrlacey would be interested in your thoughts.

In general though from my perspective, part of the massive effort we put towards cre

[2022-05-02 19:26] cesarchefinho commented on #4544
No, because dataannotation attributes already have support for localization and strings resources..

This aproach dont mix the things.

Actualy we have to descrieve propertyes in View
and again descrive the same properties in model. A lost of time, A duplication of information and a source of bugs

In other words we need to make tuo times the same thing !

with this aproach we only make the model

[2022-05-02 22:26] mrlacey commented on #4544
This seems an interesting idea but the vagueness of the outline and partial code samples leave lots of open questions.

For starters:
- Are `be:MVM`, `be.MVVM`, & `be:MVVM` meant to be all the same or are they deliberately different?
- This feels like it could be a framework all of its own. How does it work with other common coding conventions and frameworks? Can it?
- Can you show a complete samp

[2022-05-02 22:33] Sergio0694 commented on #4544
As of right now, this proposal is not actionable. If new APIs are being proposed, there should be an actual API breakdown that can be reviewed. Right now I don't really understand what APIs are actually being proposed, how they would work, or how they would be used 🙂

[2022-05-03 02:01] cesarchefinho commented on #4544
MVVM is only a pleasant sugar name, can be other name like be:AnnotationBinder

  Yes can be, but I will prefer to donate it to Microsoft in advance of community and for broader audience

Yes, It have no dependencies to other things than ComponentModel.DataAnotations Attributes and can easily integrated on any Model View Framework

I will provide an sample.

The difference is that you don't put an

[2022-05-03 02:07] cesarchefinho commented on #4544
the api is

<anycontrol be:MVVM.PropertyName="PhoneNumber"  be:MVVM.ViewModel="vm" />

and the infrastructure to make all things automatically binded from view model, independent of type of the control

And this dont break any existing API or modify XAML. It is an Upgrade like x:Bind upgraded x:Binding

[2022-05-05 15:52] chenjt2001 opened #4548 "AttachedDropShadow size changes abnormally"
### Describe the bug

AttachedDropShadow display problem when the size of the element that owns the AttachedDropShadow changes.

`
<Page
    x:Class="Temp.MainPage"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
    xmlns:local="using:Temp"
    xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
    xmlns:mc

[2022-05-05 16:38] michael-hawker commented on #4544
@cesarchefinho do you have your code in an existing repository somewhere that folks could look at or try directly?

[2022-05-05 18:06] michael-hawker commented on #4548
Thanks for filing an issue @chenjt2001!

We're registering to the `SizeChanged` event here, so I would have suspected this to be fired in this scenario to update the shadow:

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/00e9790337b17115ca9f7d2b966422f7f221f275/Microsoft.Toolkit.Uwp.UI/Shadows/AttachedDropShadow.cs#L140-L160

Maybe this is related to the note here about the exis

[2022-05-05 22:03] cesarchefinho commented on #4544
Dont Worried about reflection, this is the first version and all reflections that today is made in runtime can be eliminated and made at compile time to generate non reflection code that is statically compiled.

And this extension is an option to user, the user can use this extension to code fast when is appropriate or user can do thinks in the traditional way...

[2022-05-05 22:05] cesarchefinho commented on #4544
if you authorize i can post a code here

[2022-05-05 22:17] Sergio0694 commented on #4544
There is nothing to authorize, you're free to post code you wrote wherever you want, you own that.

[2022-05-06 04:24] michael-hawker commented on #4544
@cesarchefinho why don't you create your own repository on your own account first to show more about how your idea works with a sample/example project?

There's a lot of gaps here that we're not able to follow based on your brief textual descriptions.

[2022-05-06 06:09] cesarchefinho commented on #4544
[sourcecode.zip](https://github.com/CommunityToolkit/WindowsCommunityToolkit/files/8637914/sourcecode.zip)

this is the complete first version implementation of binding extensions and an sample forrm and view model

[2022-05-06 08:34] chenjt2001 commented on #4548
Thanks. I found that the RenderSize is correct and the problem is that the mask is not updated. See the PR #4549.

[2022-05-06 21:44] cesarchefinho commented on #4544
i made an repository

https://github.com/cesarchefinho/MVVMBindingExtensions

[2022-05-06 21:55] michael-hawker commented on #4544
Thanks @cesarchefinho for the repo, note that the Toolkit is licensed under an MIT license, I noticed you made your repo GPL 3.0. Do you mind changing it? Makes it easier for us to look at or consume later if something were to happen to you, or someone else wants to pick it up and contribute or help you contribute it to the Toolkit or another .NET or .NET Foundation project later (as the majority

[2022-05-06 22:10] cesarchefinho commented on #4544
changed to MIT license. Thanks.

[2022-05-08 18:26] cesarchefinho commented on #4544
If you have any comments or suggestions for me about this extensions, please make it.

I also don't have the knowledge to implement an compiler time version of this without reflection.

If you have any information about xaml compilation phase or if you want to contribute with coding, please tell me.

Thanks

[2022-05-10 02:14] 292390450 opened #4551 "[Feature]"
### Describe the problem

`<b:Interaction.Triggers>
                                                                <b:PropertyChangedTrigger Binding="{Binding ElementName=MutilSelect,Path=IsChecked}"  >
                                                                    <b:CallMethodAction   MethodName="MutilSelected"  TargetObject="{Binding RelativeSource={RelativeSource AncestorType=local:Searc

[2022-05-10 08:24] michael-hawker commented on #4551
@292390450 Is this an issue specifically about XAML Behaviors? If so, their repo is here: https://github.com/Microsoft/XAMLBehaviors

[2022-05-10 16:00] michael-hawker commented on #4538
@tutkus thanks! Please feel free to take a look; I'll assign it to you.

[2022-05-10 17:05] Sergio0694 opened #4552 "[Feature]: make the Notifications package linker-friendly"
### Describe the problem

Currently, the `Microsoft.Toolkit.Uwp.Notifications` package is heavily relying on reflection for the XML serialization of the various toast/tile/visual templates it can create. This fundamentally breaks trimming, and can result in incorrect behavior (ie. broken notifications) on anyone enabling it (eg. on UWP). The workaround is to explicitly add a runtime directive to p

[2022-05-11 15:59] ArchieCoder opened #4554 "NavigationView hamburger button shows the Focus rectangle when using the mouse when resizing"
### Describe the bug

Using the mouse, when resizing at smaller size, the big white rectangle will appear around the hamburger menu. It's affecting all apps using the NavigationView.

### Regression

_No response_

### Reproducible in sample app?

- [X] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

No focus rectangle

### Screenshots

![Focus

[2022-05-11 16:26] timforever commented on #4554
I am able to also repro this in the WinUI 3 Controls Gallery app.

[2022-05-12 16:30] michael-hawker commented on #4554
@ArchieCoder this is the Toolkit repo you want this on the [WinUI repo](https://github.com/Microsoft/microsoft-ui-xaml) or if it's specific to the sample app [that repo here](https://github.com/microsoft/WinUI-Gallery).

[2022-05-12 16:30] #4554 closed

[2022-05-15 02:19] hawkerm opened #4557 "[Feature] More SwitchPresenter Samples"
### Describe the problem

`SwitchPresenter` is powerful, but there are complexities when trying to use it with certain types.

### Describe the solution

- Show using `{x:Null}` as a case (I know this is working, at least with a nullable `?` type).

- Show casing on an integer (I don't know if this is working?).

- Using with a `NavigationView` for page selection vs. Frame

- Not sure of other pot

[2022-05-16 05:55] Avid29 opened #4558 "[Feature] Add static functions to converters in provided IValueConverters"
### Describe the problem

Adding static functions to the converters would allow static function binding instead of using actual Converters. Actual converters could still be used where appropriate though.

### Describe the solution

Add a static functions that can beused instead of the IValueConverter

### Alternatives

Use the converter as a StaticResource value converter

### Additional info

_No

[2022-05-16 12:10] dojo90 commented on #3089
Does the `AdvancedCollectionViewEx` class still work for you? The objects are sorted correctly for me, but they are not displayed correctly in the visualization and are sometimes mixed up.

[2022-05-16 16:08] ianier commented on #3089
Yes, it still works for me. That's what I use for the media library in my app 'Chronotron'.

[2022-05-17 05:51] dojo90 commented on #3089
Hello @ianier, thank you for the feedback,

maybe you can take a look at where my problem is. I'll go crazy.. 😫

[code]
**ViewModel**
[code]

**XAML**
[code]
**Preview**
![grafik](https://user-images.githubusercontent.com/17551597/168738176-ca6ad8dc-eec8-4253-8668-9ce5a061c18d.png)

[2022-05-17 23:26] michael-hawker commented on #4558
Huh, thought we had something tracking this already. I know it's been on the backlog for a while to do something like this.

I know it's trickier too as x:Bind functions need to match source/destination types exactly to work, so you end up needing more combinations of functions to accept different types and be used in different places.

I would imagine we would want one general helper class vs. pr

[2022-05-18 17:21] Avid29 commented on #4558
What I had in mind was simply a refined set of converters that included static methods. Here's an example

[code]
(A static ``ConvertBack`` could be provided where appropriate as well)

This both provides consistency between the ``IValueConverter`` based converters and static functions, it also makes convert back methods easier to implement. This would also help keep track of them together and ens

[2022-05-18 17:31] Avid29 commented on #4558
Here is also a more complicated example with a convert back, the static method takes to arguments and the ``IValueConverter`` has a property.

[code]

[2022-05-19 17:23] michael-hawker commented on #4540
Duplicate of #4475 - @Arlodotexe this is a locale issue, it's fixed in main. Just haven't pushed the update yet. Need to do this for //Build. It's been on my backlog. I'll try and look at it tomorrow.

[2022-05-20 23:00] #4540 closed

[2022-05-21 04:54] michael-hawker commented on #4540
Didn't realize we had a bot for this... anyway I've pushed the fix to the store finally. @mcneo1972 hopefully you should see the `7.1.2` version of the app install over the next few days. Let us know if that resolves the issue for you. Thanks!

[2022-05-21 07:49] mcneo1972 commented on #4540
Thank you. I will update my app.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Michael Hawker MSFT (XAML Llama) ***@***.***>
Sent: Saturday, May 21, 2022 5:55:06 AM
To: CommunityToolkit/WindowsCommunityToolkit ***@***.***>
Cc: Matt Chandler ***@***.***>; Mention ***@***.***>
Subject: Re: [CommunityToolkit/WindowsCommunityToolkit] DataGrid crashing in sampl

[2022-05-23 06:03] michael-hawker commented on #4540
Thanks @mcneo1972 let us know if that for some reason doesn't work for you. The update should be live in the store now. You should be able to scroll down on the home page of the app and see the `7.1.2` version number under `About the App`.

[2022-05-23 07:53] mcneo1972 commented on #4540
That is working perfectly now. Thank you for your help

From: Michael Hawker MSFT (XAML Llama) ***@***.***>
Sent: 23 May 2022 07:04
To: CommunityToolkit/WindowsCommunityToolkit ***@***.***>
Cc: Matt Chandler ***@***.***>; Mention ***@***.***>
Subject: Re: [CommunityToolkit/WindowsCommunityToolkit] DataGrid crashing in sample app 7.1.0 (Issue #4540)

Thanks @mcneo1972<https://nam12.safelinks.protec

[2022-05-23 19:25] michael-hawker commented on #4545
🤦‍♂️ Forgot about this, and I just pushed an update to the sample app out. We hope to push the dedicated sample app out for the MVVM Toolkit in the near future anyway, so that'll have to do for now. FYI @Sergio0694

[2022-05-23 19:49] tutkus commented on #4538
@michael-hawker
I spent a bit of time with the example attached to the issue. I run profiler and figured out that the problem most lilkly is with Panels: DataGridColumnHeadersPresenter,  DataGridRowsPresenter, DataGridCellsPresenter. Each of them in order to prepare layout goes through all columns in: ArrangeOverride and MeasureOverride. Based on my investigation this is a root casue of performanc

[2022-05-23 20:52] michael-hawker commented on #4538
Thanks for the investigation @tutkus. I would imagine the original architecture of the DataGrid assumed that data would expand in rows vs. columns being used for data as in @ArchieCoder's scenario.

@ArchieCoder can you explain why your time is in columns vs. transposing the grid or using a chart? Are the rows always a fixed/static/smaller number in your scenarios?

I'd be a bit hesitant to make a

[2022-05-23 20:56] ArchieCoder commented on #4538
@michael-hawker This is a specification that I got from the client. You can see the desired result using the Telerik DataGrid. In the meantime, the DataGrid works up to 1000 columns, but after it has its limitation. I tried to convince the client that data grid in general is made for vertical expansion. A column is added each time a new data entry comes in.

![image](https://user-images.githubuser

[2022-05-23 21:13] Arlodotexe commented on #4538
The performance issue smells of broken virtualization. Has anyone taken a look to see if that's the issue?

[2022-05-23 21:18] tutkus commented on #3875
I can help to fix that issue. Please assign it to me.

[2022-05-23 21:20] Arlodotexe commented on #4558
I think you'd already get intellisense for this, since you have to use the `converters:` namespace. If that's the code, I'd want to keep the static method in each relevant converter to help keep things clean and maintainable.

[2022-05-23 21:22] tutkus commented on #4538
Give me couple of days so I could implement my ideas, next i will push to my fork and share the link to my repo here so you could have a look.  Next you will decide what to do farther.

[2022-05-23 21:25] Arlodotexe commented on #4558
If we're bringing this to Labs vs improving what's currently in the toolkit, I think we should look at creating some kind of `ChainConverter` as well. That way we could avoid creating converters that are combinations of existing simpler converters.

For example, an `InverseNullToVisibilityConverter` could easily be `NullToBoolConverter` + `InverseBoolConverter` + `BoolToVisibilityConverter`. It wo

[2022-05-23 22:36] michael-hawker commented on #4558
In general probably solving the converter/x:Bind debacle is best done with source generators somehow. We're never going to be able to account for all the possible conversions folks are going to want to do, see https://github.com/microsoft/microsoft-ui-xaml/issues/2407.

What if we have a single static class which defines the methods for all the translations we want to support that can be used by x

[2022-05-24 00:40] Arlodotexe commented on #4558
That's quite a bit different than what I had in mind. If we create chain converters, we'd want it to be something we can declare in XAML.

Taking the ChainConverter mentioned earlier as an example:
[code]

As you can see, this is pretty easy to do with classic `IValueConverter`s since the input/output is always `object`.

However, we want to also be able to declare these in Xaml and use them with

[2022-05-24 00:50] Avid29 commented on #4558
@Arlodotexe that's not necessary.

`{x:Bind foo:Foo.For(bar:Bar.Bar(target))}` is acceptable binding. To add a resource is highly unnecessary

[2022-05-24 02:11] michael-hawker commented on #4558
@Avid29 that shouldn't be a valid x:Bind statement, unless they fixed https://github.com/microsoft/microsoft-ui-xaml/issues/2407 in WinUI 3 and didn't tell anyone?

You can't nest x:Bind statements in UWP, that's the big limitation that's made this so hard to get done practically in the toolkit for so long.

[2022-05-24 16:41] Arlodotexe commented on #4558
That's definitely new to me! A bit of a wacky syntax, but if it works already then no need to set up a source generator 😄

I want to reiterate that keeping just the simple converters in the Toolkit while allowing chaining them together would add significant flexibility, while reducing maintenance overhead and namespace clutter.

If we're revamping our converters, this is something we should keep i

[2022-05-25 01:19] tutkus commented on #4538
I started with simple case in: DataGridColumnHeadersPresenter. This is commit in to my fork: https://github.com/tutkus/WindowsCommunityToolkit/commit/fa73a913de4047e1f35dee417b5af5992b41dcf7

What I did is:
1. MeasureOverride handles only these columns which are in the visible area on the screen (ShouldDisplay method)
2. ShouldDisplay were extracted from DataGridCellsPresenter and converted to ext

[2022-05-26 20:54] michael-hawker commented on #4558
To be clear, nested x;Bind functions were never working; it's a feature request for the future. 😉

[2022-05-31 01:20] DominicMaas opened #4567 "AttachedCardShadow causes WinUI3 App to crash (HP RP7)"
### Describe the bug

I think this very much depends on the machine, but I was having issues with AttachedCardShadow on a kiosk (never encountered this before).

[code]

[code]

When I run the application via VS Remote Debugging, the app simply throws an unhandled exception:
Exception Message: ".ctor"
Message: "Exception has been thrown by the target of an invocation."

Maybe has something to do w

[2022-05-31 10:11] knightmeister opened #4569 "[Feature] Add ability to load from a Stream to the image cropper"
### Describe the problem

At the moment, the image cropper can only load from a file (via a `StorageFile` or path).

There are scenarios where loading from a stream is beneficial (i.e. when downloading from the web). It's obviously trivial to work around this, but given all `LoadImageFromFile` does is create a stream, why not just expose the stream?

### Describe the solution

Create a new method

[2022-05-31 20:39] michael-hawker commented on #4567
@DominicMaas according to the output it looks like you have 'Just My Code' enabled? Can you try disabling that and changing the debug mode in the properties to be Mixed (Native and Managed):

![image](https://user-images.githubusercontent.com/24302614/171280429-df8be5dc-4c23-4e16-8c43-354fdac19a8e.png)

That should hopefully let you load more symbols for Win2D and WinUI in the stack traces to help

[2022-05-31 20:39] Avid29 commented on #4558
Yeah. I'm aware and it's pretty frustrating. We could have source generation for having methods that return bool also have a version that returns visibility I guess.

[2022-05-31 20:41] michael-hawker commented on #4569
Seems like a good idea, in the meantime you should be able to just set the `Source` directly as the `LoadImageFromFile` is just a light-weight wrapper:

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/7eed078067eee2d81f1864ce8267e84c58dca9e2/Microsoft.Toolkit.Uwp.UI.Controls.Media/ImageCropper/ImageCropper.cs#L373-L382

[2022-05-31 22:29] michael-hawker commented on #4185
FYI there should be a set of resources which control this here:

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/7eed078067eee2d81f1864ce8267e84c58dca9e2/Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGrid.xaml#L24-L25

Though ideally something like this can be templatebound and just set these as the default in the style instead, like normal.

[2022-06-01 01:49] DominicMaas commented on #4567
When I have the chance, I'll try that. (Don't have access to the machine anymore though). I did notice that this appeared in AppCenter (I think related??)

`System.Runtime.InteropServices.COMException: Class not registered (0x80040154 (REGDB_E_CLASSNOTREG))`

[code]

[2022-06-01 17:14] michael-hawker commented on #4567
Thanks @DominicMaas if that's the same issue, that stack is more useful.

That'd be this bit of code here:

https://github.com/CommunityToolkit/WindowsCommunityToolkit/blob/a10204e648c372f6a6837c5aa40065761847132e/CommunityToolkit.WinUI.UI.Media/Shadows/AttachedCardShadow.cs#L107-L123

@Ryken100 there shouldn't be any special case here, eh? @azchohfi thoughts on how this could fail on a particular

[2022-06-01 20:43] azchohfi commented on #4567
Yeah, we had that issue before.
https://github.com/CommunityToolkit/WindowsCommunityToolkit/issues/4406
and
https://github.com/microsoft/Win2D/issues/831

I'll ask the Win2D team if this is planned to be fixed anytime soon.

[2022-06-01 21:11] michael-hawker commented on #4567
@DominicMaas is this taking down your app? Can you see if the appxmanifest suggestion from the Win2D thread [here](https://github.com/microsoft/Win2D/issues/831#issuecomment-909460475) resolves your issue?

[2022-06-06 19:12] michael-hawker opened #4573 "TextBox Extensions for SurfaceDial not working for CommunityToolkit WinUI 3 for desktop"
### Discussed in https://github.com/CommunityToolkit/WindowsCommunityToolkit/discussions/4571

<div type='discussions-op-text'>

<sup>Originally posted by **victorchinn** June  4, 2022</sup>
I am getting a XAML parsing error
Microsoft.UI.Xaml.Markup.XamlParseException: 'XAML parsing failed.'
when using this code example in the XAML for TextBox:
<ui:TextBoxExtensions.SurfaceDialOptions>

[2022-06-07 16:56] mikebattista commented on #4021
This still reproes with latest Template Studio builds. I worked around by changing BackButtonBehavior from Automatic to Manual to take the ListDetailsView back button out of the picture.

From https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/masterdetailsview#backbuttonbehavior, Automatic has some logic to detect when it's inside a Frame hosted in a NavigationView, and my guess i

[2022-06-07 19:28] KiruyaMomochi opened #4574 "DataGrid does not display new data when the source is grouped"
### Describe the bug

I'm using a grouped collection as source of `DataGrid` and inserted a new group of data into the collection. When I added new data to this new group, these data didn't show up in `DataGrid`.

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

</details>
4. Add our newly created p

[2022-06-13 10:01] LeoCarriere opened #4577 "CameraPreview control not working on WinUI 3"
### Describe the bug

### The Problem :
CameraPreview from CommunityToolkit.WinUI.UI.Controls ( which I managed to make it work perfectly fine under UWP on the same computer ) is unable to show frames from the camera.
### Output from Debug :
When the StartAsync() method is initiated I get multiple instance of the following error ( see screenshots section ) :
`avcore\mf\frameserver\fsutils\fsutils.

[2022-06-13 17:43] KusiTec opened #4578 "ListDetailsView: Grouping items does not work"
### Describe the bug

The items are not grouped in a ListDetailsView control, if the settings for that are setted like in a ListView:
- Implemented CollectionViewSource and GroupStyle.

Is this behavior known?

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

Behavior like gro

[2022-06-13 18:32] azchohfi commented on #4577
Hello @LeoCarriere , thanks for the report. Unfortunately, this is a known issue, as the CameraPreview control depends on MediaPlayerElement, which is still not supported on WinUI3.
Not sure if it will make it into WAS 1.2, but maybe @andrewleader knows?

[2022-06-13 18:34] andrewleader commented on #4577
@marb2000 is the person to ask for WinAppSDK

[2022-06-13 18:38] KusiTec commented on #4578
I vorget the platform: WinUi3

[2022-06-13 19:12] lukedukeus commented on #4417
+1 on this too, https://github.com/miroiu/nodify is super cool, but only supports wpf ☹️  A uwp/ winui implementation would be cool

[2022-06-14 06:02] LeoCarriere commented on #4577
Thank you for your fast response, I im impatient to see the next update then.

[2022-06-15 09:25] quangtrang1111 commented on #4443
Hi guys, can anyone have a look at this issue? I also got this exception in my app.
![image](https://user-images.githubusercontent.com/8206726/173793405-6cc83267-481b-42e2-9333-5990752bad63.png)

[2022-06-21 15:44] mthode88 opened #4580 "Source Generated Properties in View Model"
I have noticed an issue that was unexpected but has a work around for now. The property changed notifications are not triggering if you update the private field in the same class using the attributes for source generators. Additionally you can not access the public properties from the other partial class as this causes and error at build time. This means you have to either hard code a `OnPropertyC

[2022-06-21 17:57] athulrajts commented on #4580
property changed notifications won't trigger if you update the private field, it would only trigger if you set value using the property. but I'm not sure why you can't access the source generated properties.
may be you can provide a reproduceable sample.

[2022-06-22 19:50] appindus-ibiller commented on #4406
Any luck with this? I'm having this problem on an unpackaged v1.1.1 WinUI3 app. This was the only WinUI3 shadow I could get working, and of course outside of VS it fails. Any suggestions for alternatives?

[2022-06-22 20:07] niels9001 commented on #4406
@michael-hawker

I have not, I'll give it a try tomorrow to see if I can reproduce this 👍

[2022-06-22 20:25] Avid29 opened #4581 "[Feature] Image accent color determiner"
### Describe the problem

A fairly common feature in my opinion is having the accent color of an app be related to an image shown.
There is not any massively leading library for this, and while Color Thief .NET exists, it is not currently being updated.

### Describe the solution

I would like to add a service to the library that determines the accent color of images for easy use.

### Alternative

[2022-06-22 20:25] Avid29 commented on #4581
I of course expect this to be a toolkit labs thing for now

[2022-06-23 01:57] Arlodotexe commented on #4580
Transferring to the dotnet toolkit

[2022-06-24 07:44] phandrieu opened #4583 "InfiniteCanvas Crashing"
### Describe the bug

InfiniteCanvas is crashing after a few lines drawn, and the Event Observer captures the following error :

Nom de l’application défaillante UniversalWhiteboard.exe, version : 1.0.0.0, horodatage : 0x61628bc9
Nom du module défaillant : ntdll.dll, version : 10.0.22000.708, horodatage : 0x71bf5f26
Code d’exception : 0xc0000374
Décalage d’erreur : 0x000ea619
ID du processus défai

[2022-06-26 07:52] jtorjo opened #4586 "[Feature] DataGrid --add hit testing"
### Describe the problem

There's no way at this time to find out where the mouse is -- hovering a cell, row.

### Describe the solution

WPF's DataGrid is insanely more rich. Please add a way to find out where a point is, related to our items.

### Alternatives

_No response_

### Additional info

_No response_

### Help us help you

_No response_

[2022-06-28 18:57] Ryken100 opened #4587 "AttachedCardShadow with InnerContentClipMode == CompositionMaskBrush isn't correctly resized when the UIElement it's attached to changes size"
### Describe the bug

When `AttachedCardShadow.InnerContentClipMode` is set to `CompositionMaskBrush`, and the size of the element it's attached to changes, the shadow isn't properly resized to match.

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

All elements of the shadow

[2022-06-29 11:47] jader1313 commented on #4576
I believe it would be easy to implement and VERY VERY useful

[2022-06-29 11:50] jader1313 commented on #4576
UNO Platform already has something implemented:
https://platform.uno/docs/articles/uno-development/Internal-DependencyProperty-Generator.html

[2022-06-29 15:28] bedaronco opened #4590 "Cannot clone xaml elements that bind to a RelayCommand"
### Describe the bug

XamlReader.Load throws the following exception on elements that bind to RelayCommands because RelayCommand does not have a default constructor:

`MissingMethodException: No default constructor found for type 'CommunityToolkit.Mvvm.Input.RelayCommand'. You can use the Arguments or FactoryMethod directives to construct this type.
`

A common way to clone xaml elements is to use

[2022-06-30 09:18] odp-remec opened #4591 "App Crash with GridSplitter Control in combination with a ListView"
### Describe the bug

WinUI 3 application throws an exception when you move the GridSplitter Control. This happens if you use a GridSplitter in combination with a ListView or a TreeView.

### Regression

_No response_

### Reproducible in sample app?

- [X] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

GridSplitter can be moved without any ex

[2022-06-30 22:55] QJS-RH opened #4592 "MVVM Toolkit ObservableProperty Key"
I am looking at the new Code Generation in MVVM Toolkit.
I am attempting to create a database using Code First and EntityFrameworkCore.
If I use the Observable Validator I can generate a column as:

[ObservableProperty]
[Key]
[Required]
string m_CPY_ID;

But it does not recognise the KEY attribute.

I then have to generate any KEY attributes as :
private string m_CPY_ID;

     [Key]
     [Required

[2022-07-06 02:27] h82258652 opened #4595 "Expression animation does not work after update the Microsoft.Toolkit.Uwp.UI.Animations nuget package"
### Describe the bug

After update the ```Microsoft.Toolkit.Uwp.UI.Animations``` nuget package. The expression animation does not work.

### Regression

7.0.2

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

I create a bug demo here: https://github.com/h82258652/ToolkitExpressionReferenceBugDemo
The 7.0.2 version is working and the 7.1.

[2022-07-06 14:13] boexler opened #4596 "[DataGrid] 'Unable to find a type named 'Microsoft.UI.Xaml.WindowChrome' Exception when click on a row"
### Describe the bug

When I click on a line, the application crashes immediately.

The last major change to my application was updating the windows sdk to v1.1.0
Before that I had v1.0.3 and with this everything was still working.

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behav

[2022-07-07 01:56] AbdAlghaniAlbiek commented on #4421
Hi @Sergio0694 hope you have nice day. I'm sorry for bother you, but I was searching for a solution for this problem then I found this [repo](https://github.com/ratishphilip/CompositionProToolkit) from the awesome @ratishphilip.
He was explaining how to make "Squircle" using composition and he animate it's corners as you see 👇👇
![Squircle_Gif](https://user-images.githubusercontent.com/7021835/8327

[2022-07-07 18:31] michael-hawker commented on #4487
FYI on July 20th I'll be giving a talk about Toolkit Labs at the [.NET Foundation Summit](https://www.dnfsummit.org/).

[2022-07-07 18:45] michael-hawker commented on #4591
@odp-remec can you try the new version of GridSplitter we have from Labs? See [Preview Packages](https://aka.ms/wct/wiki/previewpackages) for setting up the Toolkit Labs feed, and then use the [`CommunityToolkit.Labs.WinUI.SizerBase` package](https://dev.azure.com/dotnet/CommunityToolkit/_artifacts/feed/CommunityToolkit-Labs/NuGet/CommunityToolkit.Labs.WinUI.SizerBase). That one has at least be re

[2022-07-07 18:48] michael-hawker commented on #4583
Thanks @phandrieu were you able to reproduce on your machine with our [sample app](https://aka.ms/windowstoolkitapp) or in a file new project? That'd at least help us narrow down where the issue may be coming from and reproduce it to try and get under a debugger.

[2022-07-09 19:35] phandrieu commented on #4583
Hi,
Thanks for your awnser.
I was not able to reproduce the issue in your sample app, nor in a file new project. Even though, my codebase is very small, and running it with a debugger doesn't give any further information as the debugger is not able to handle the error... Do you have any idea ?
PS : I tried on another machine (a Surface Pro 2017 m3 4Gb running Windows 11 as well) and the same error

[2022-07-10 04:18] tungox6 opened #4598 "ListDetailsView does not show item list on CommunityToolkit.WinUI.UI.Controls 7.1.2"
### Describe the bug

I just copy code from the Sample App to test ListDetailsView. Items are not shown.

### Regression

_No response_

### Reproducible in sample app?

- [ ] This bug can be reproduced in the sample app.

### Steps to reproduce

[code]

### Expected behavior

Items must be shown

### Screenshots

_No response_

### Windows Build Number

- [ ] Windows 10 1809 (Build 17763)
- [ ] W

[2022-07-10 04:29] tungox6 commented on #4598
Changing `ItemsSource="{Binding Emails}"` to `ItemsSource="{x:Bind Emails}"`, the code works!

[2022-07-11 14:13] niels9001 opened #4599 "[Feature] Add CodeCornerRadius property to MarkdownTextBlock"
### Describe the problem

At the moment, there's no easy way to set the CornerRadius of a CodeBlock in the MarkdownTextBlock.

![image](https://user-images.githubusercontent.com/9866362/178285266-5dc0b823-1ea9-4cf0-80a5-04709d13aa0b.png)

### Describe the solution

Introduce a new CodeCornerRadius resource (that inherites from ControlCornerRadius as the default).

This resource should be set to th

[2022-07-11 21:59] michael-hawker commented on #4583
Hmm, @phandrieu `ntdll.dll` is a system dll. Have you tried turning on mixed debugging (native and managed)? That usually tends to catch some of these native type exceptions and provide a better stack trace (as well as turning all exceptions on to catch the earliest exception).

Since we're an OSS project and source link should be enabled. You could try and browse through the source using F12 on t