[2020-07-28 00:07] michael-hawker commented on #3400
Thanks @mrlacey for reporting and raising this issue. You're right that most focus in on WinUI 3 at the moment. We have been communicating with @anawishnoff and @RBrid about trying to fix some DataGrid issues for the 7.0 Toolkit release as a stop-gap still. I've added this one into the milestone for tracking and hopefully we can find out the scope of these tasks.

Please continue to file any acces

[2020-07-28 14:57] alexandrebodi commented on #3398
Hi @michael-hawker, thanks for clarifying.

The thing is that I wanted to display my "no items" message specifically inside the master panel, and leave the details panel with the, already-provided, "no selection" message.

Thanks for mentioning #1187. Indeed, that seems to be what I'm asking for here. The issue itself even goes further, asking for the possibility to fully customize the master list

[2020-07-28 15:22] skendrot commented on #3398
@alexandrebodi My suggestion was to display the message **over** The MasterDetailsView. You can align it to the left so it's over the master area. You would then still have the details section visible as well.

[2020-07-28 18:48] mrlacey commented on #3399
what a dreadful original title - fixed. sorry.

[2020-07-28 22:50] XPoppyX opened #3402 "Foreground theme resource does not apply in dark mode [DataGridTextColumn]"
## Describe the bug
Using "ThemeResource" I want to change the foreground (DataGridTextColumn) depending on whether it is in light mode or dark mode, but it works only in light mode, in dark mode use the default color

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Expected behavior
Change foreground by switching to dark mode

## Screensho

[2020-07-28 23:37] michael-hawker commented on #3321
As a note to my future self, we should also document how we work with branches and what our current active branches are.

[2020-07-29 00:28] michael-hawker commented on #3295
@azchohfi noticed on stream that the EnumValues Markup Extension was crashing in WinUI 3 Preview 2 with a pretty cryptic error when binding to a ComboBox?

[code]

This would probably be something we report to the WinUI team? I can share a sample.

[2020-07-29 00:58] azchohfi commented on #3295
I think this is a CSWinRT issue. @stevenbrix , is this being tracked?

[2020-07-29 13:16] stevenbrix commented on #3295
@azchohfi that's most likely the case if this is happening in desktop but not uwp. Is there a call stack or small repro to look at?

[2020-07-29 14:54] Kyaa-dost commented on #3402
Thanks for reporting this issue. I am going to add this issue in our 7.0 release bucket as the Datagrid team is highly focused on WinUI 3 at the moment. @anawishnoff and @RBrid for visibility ⬆️

[2020-07-29 16:16] michael-hawker commented on #3295
@stevenbrix sent you a copy of the project as it's not ready to publish yet. The error was just `HRESULT E_FAIL`, happened [here on my stream](https://www.twitch.tv/videos/693471439?t=05h07m00s) yesterday.

[2020-07-29 20:44] alexandrebodi commented on #3398
Understood, @skendrot. Thank you for the suggestion.

[2020-07-29 20:44] #3398 closed

[2020-07-30 17:11] michael-hawker commented on #2976
Linking to #2719 as well

[2020-07-30 17:15] michael-hawker commented on #1840
@vgromfeld thought this one might be up your alley for knowing a bit more on the technical side0. Do you think anything like this is possible to hook into the MediaPlayerElement control or would this just be a ton of custom work?

[2020-07-30 17:23] michael-hawker opened #3403 "[Feature] Mouse Hover Extensions don't support Custom Cursor"
## Describe the problem this feature would solve
I noticed while looking at the GridSplitter refactor (to use the mouse extensions), GridSplitter allows for creating a custom cursor on hover, but the Mouse extensions currently do not, they ignore the Custom value type.

## Describe the solution
We should add an additional 'CustomCursor' property to the extensions so if the `Cursor` property is set

[2020-07-30 19:43] michael-hawker opened #3404 "Expander Animation isn't smooth when bottom aligned"
## Describe the bug
The Expander doesn't animate nicely in certain layout scenarios.

## Steps to Reproduce

[code]

1. Use XAML above in sample app (Expander)
2. Click on the Expander to collapse
3. Note how that it 'jumps' to the bottom after the animation has played.

## Expected behavior
Expander's height should animate along with content collapsing so it smoothly collapses?

## Screenshots
If

[2020-07-30 20:19] michael-hawker commented on #3404
If you set `ExpandDirection` to `Up` and have the Expander `VerticalAlignment` to `Top` you see the same problem.

[2020-08-01 00:35] #3230 closed

[2020-08-03 18:50] #3123 closed

[2020-08-04 18:14] anawishnoff commented on #3355
Thanks @FreddyD-GH, looks like this has been fixed in PR mentioned above.

@Kyaa-dost, I don't have the ability to close issues but this can be closed.

[2020-08-04 18:36] anawishnoff commented on #3354
@rick-palmsens Wanted to update you that there might be a workaround for you after speaking with @RBrid.

You can set the `HeaderStyle` property on a `DataGridColumn` to a Style object that sets a custom header template of your choice. In the Style that you assign to this property should be a control template with the same TargetType as the Style itself, i.e.

[code]

More info in the "Styles and

[2020-08-04 18:52] anawishnoff commented on #3354
Also just an FYI that having an explicit HeaderTemplate property on DataGridColumn is something that we're planning on including with the [WinUI 3 version of DataGrid](https://github.com/microsoft/microsoft-ui-xaml/issues/1500). 😊

[2020-08-04 19:40] #3355 closed

[2020-08-04 23:12] Kyaa-dost opened #3411 "Spelling Errors in few documentation of WCT"
## Describe the bug
Some documents of Windows Community Toolkit have spelling errors that needs to be revisited and fixed.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Will have to go through each document individually in the repo to find errors.

## Expected behavior
Error free documents 🚀

## Screenshots
If applicab

[2020-08-05 08:13] vgromfeld commented on #1840
The [MediaTransportControls.ThumbnailRequested](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.mediatransportcontrols.thumbnailrequested?view=winrt-19041) event mentioned in the linked stack overflow post is a good way to provide the image to the `MediaPlayerElement`.

[TimedMetadataTrack Class](https://docs.microsoft.com/en-us/uwp/api/windows.media.core.timedmetadatatrack?view=

[2020-08-05 16:47] anawishnoff commented on #3402
Thanks for filing this, @XPoppyX! How are you programmatically switching between light and dark modes? It definitely seems fishy that the cell would listen to the light mode resources but not the dark mode resources. Do your styles for High contrast work?

[2020-08-05 18:38] XPoppyX commented on #3402
![thememode](https://user-images.githubusercontent.com/61259627/89448781-13415800-d726-11ea-8404-f874561d030b.jpg)
I'm not sure how high contrast works, but it doesn't change the foreground either.

**there are more people with more experience working in this app, if you need more info I can contact them to answer any other questions**

[2020-08-06 09:38] rick-palmsens commented on #3354
It works!

There seem to be two possible ways to do it.

DataTemplate:
[code]

ControlTemplate:
[code]

Setting the ControlTemplate also overrides any header clicking behaviour, while DataTemplate keeps the behaviour and places the DataTemplate inside of it.

[2020-08-06 10:14] rick-palmsens commented on #3354
And now to create a binding... 🤔

[2020-08-06 15:40] michael-hawker commented on #3079
@RBrid I noticed you made a comment in your PR to this issue, is this issue now resolved or is there a bit more work here to be done?

[2020-08-06 19:26] RBrid commented on #3079
@michael-hawker, let's close this issue. I could not detect any behavior difference between Release and Debug, and Narrator now says "Row Selected" / "Row unselected". All the automation peers seem to be used as expected.

[2020-08-06 19:26] #3079 closed

[2020-08-06 21:35] michael-hawker commented on #3200
I also want to bring up the issue of #268 again about HTML content (thinking snippets or other things), I just encountered this need again with Teams messages from the Microsoft Graph with our GraphPresenter control.

As part of this parser swap, could it make sense to have the renderer be more generalized to support a different parser for display or would these just be two parallel efforts?

[2020-08-06 21:51] michael-hawker commented on #3200
Actually just found this [Xamarin solution for HTMLLabel](https://github.com/matteobortolazzo/HtmlLabelPlugin), will test that out for my scenario. :)

[2020-08-07 00:54] azchohfi commented on #889
I'm going to reopen this, since it is something we are working on.

[2020-08-07 13:40] #3411 closed

[2020-08-07 14:59] zhuxb711 opened #3415 "ScrollHeader may cause ListView to scroll unexpectedly"
## Describe the bug
See this [Issue](https://github.com/microsoft/microsoft-ui-xaml/issues/2542)

Version 6.1.0

[2020-08-07 17:52] Kyaa-dost commented on #3415
@zhuxb711 Let's see if devs from the community can investigate the problem that is pushing Scrollheader to cause ListView to scroll unexpectedly when changing ContextFlyout property.

Please let us know if you find anything on your end as well.

[2020-08-07 18:31] michael-hawker commented on #889
@azchohfi I had #3060 to track that as this one was talking about DataContractSerializer vs. System.Text.Json. We probably only need one, which would you prefer we keep open?

We can assign the one that remains open to the 7.0 milestone as it looks like we can do this earlier than we originally thought.

[2020-08-07 19:07] azchohfi commented on #889
Oh, my bad. Its that one, not this one.

[2020-08-07 19:07] #889 closed

[2020-08-07 21:04] Kyaa-dost commented on #3156
Testing

[2020-08-07 22:20] #3156 closed

[2020-08-08 04:09] tpxxn opened #3416 "WrapPanel cannot contain all items correctly"
## Describe the bug
WrapPanel cannot contain all items correctly, as the picture shows:
![bug](https://user-images.githubusercontent.com/10829204/89702109-04e67c80-d970-11ea-9d16-90e2951873c9.png)
The Bisque area is the area of ​​the WrapPanel, but there is a item that goes below.

## Environment

[code]

[2020-08-08 04:16] tpxxn commented on #3416
xaml code is as follows:
![code](https://user-images.githubusercontent.com/10829204/89702190-f64c9500-d970-11ea-94bf-8a57785f4e2b.png)

[2020-08-08 04:55] Kyaa-dost commented on #3416
@tpxxn Thanks for highlighting this! Do you want to work on the fix and create a PR?

[2020-08-08 05:22] tpxxn commented on #3416
@Kyaa-dost sry,  I don't know how to fix it...

[2020-08-09 20:17] Kyaa-dost opened #3417 "Bot Test"
## Describe the bug
A clear and concise description of what the bug is.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
A clear and concise description of what you expected to happen.

## Screens

[2020-08-09 20:17] Kyaa-dost commented on #3417
Test Complete

[2020-08-09 20:39] michael-hawker commented on #3416
@tpxxn the xaml code doesn't show the items you're putting inside these wrap panels. The Grid layout you have here with two wrap panels seems a bit odd.

Could you explain a bit more in what you're trying to do, what you expect to have happen here, and why you think WrapPanel isn't working.

I don't see enough details here to follow what you think the problem is. If you can share a simple independ

[2020-08-10 13:28] LeiYangGH commented on #3230
is this feature ready to use? I tried install Microsoft.Toolkit.mvvm to my .net framework 4.7.2 application but nuget cannot search such package.
Which package in Microsoft.Toolkit is equivalent of mvvmlight?

[2020-08-10 13:32] LilyStilson opened #3418 "WrapLayout is not found in Microsoft.Toolkit.Uwp.UI.Controls"
## Describe the bug
Since `<WrapPanel />` does not have any direct item binding, I found in **Windows Community Toolkit Sample App** sample code of `<WrapLayout />` usage with `<muxc:ItemsRepeater />`. But when I installed latest version (6.1.0) of **Microsoft.Toolkit.Uwp.UI.Controls** through NuGet, Visual Studio says the following:
[code]

- [ ] Is this bug a regression in the toolkit? If so, wh

[2020-08-10 13:39] mrlacey commented on #3230
This is currently only available in preview (from the [MyGet source](https://dotnet.myget.org/gallery/uwpcommunitytoolkit))
It will be released as part of version 7.0

Documentation on migrating from MvvmLight is currently in progress.

[2020-08-10 13:39] Sergio0694 commented on #3230
Hey @LeiYangGH - the feature is ready but it's still in early preview for now, so the package is only available on MyGet. If you'de like to try it out, you need to create a `nuget.config` file next to your `.sln` project, with this content:

[code]

Then you need to go to the NuGet package manager page for your project and ensure that the `ToolkitMyGet` feed is selected. From there, you should be

[2020-08-10 13:47] LeiYangGH commented on #3230
thanks a lot! your response is the **fastest** i've ever seen in github. i'll try myget.

[2020-08-10 15:50] tpxxn commented on #3416
@michael-hawker
the sample project at https://github.com/tpxxn/BugExample
The three items in the example should be in one line, but actually take up two lines.
I found that it seemed to display well under the 1909 operating system, but there were exceptions under the 2004 operating system.

[2020-08-10 17:43] Kyaa-dost commented on #3418
@LilyStilson Did you try installing NuGet package Microsoft.Toolkit.Uwp.UI.Controls.Layout as well?

[2020-08-10 22:27] mjfusa opened #3419 "WinRT C++ UWP Can't add nuget package Microsoft.Toolkit.Uwp.Notifications"
## Describe the bug
When adding the nuget library Microsoft.Toolkit.Uwp.Notifications, the following error is displayed and the install fails:
[code]
- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. In Visual Studio 2019 v 16.6 create a Blank App (C++/WinRT) project
2. Attempt to add the

[2020-08-11 00:44] LilyStilson commented on #3418
@Kyaa-dost That solved my problem, thanks :)
You guys should have put that in documentation.

[2020-08-11 00:44] #3418 closed

[2020-08-11 04:35] Kyaa-dost commented on #3418
@LilyStilson No worries. It is mentioned in the [Requirements](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/layout/wraplayout#requirements) and you can also find that in the documentation of Sample App as well. I am glad that helped :)

[2020-08-11 04:46] Kyaa-dost commented on #3419
@mjfusa can you try updating App min and target version to  "May 2020 Update (19041)"?  It is installing fine on my end.

[2020-08-11 19:38] ratishphilip opened #3421 "[Feature] Adding Win2d Path Mini Language Parser to WCT"
## Describe the problem this feature would solve
WPF has a [Path Mini Language](https://docs.microsoft.com/en-us/dotnet/framework/wpf/graphics-multimedia/path-markup-syntax) which is used to describe geometric paths and figures. Support for a similar language does not exist in Win2d library.

## Describe the solution
In the [CompositionProToolkit](https://github.com/ratishphilip/CompositionProTool

[2020-08-11 20:48] mjfusa commented on #3419
@Kyaa-dost Thanks - I tried that and no luck. Are you adding the package to a Blank App (WinRT/C++) project? This is where the problem is - it works fine with a C# app. You will need to add C++/WinRT support to VS if you haven't already by installing this: https://marketplace.visualstudio.com/items?itemName=CppWinRTTeam.cppwinrt101804264

[2020-08-11 21:16] Kyaa-dost commented on #3419
@mjfusa Thanks for the detailed info. I am able to reproduce this now.

Let's see what devs have to say about this bug.

[2020-08-11 21:29] mrlacey opened #3422 "Review namespaces and folder structure coupling"
## Describe the problem this feature would solve

The way namespaces are currently used across the codebase is inconsistent.

This is a follow-on from the discussion started around #3405

## Describe the solution

Ideally, there should be a standard that is defined for how namespaces are used. This should be documented.
The existing code should then be updated to this standard.

I propose that a s

[2020-08-11 23:43] Sergio0694 commented on #3422
I'm all for fixing the inconsistencies you mentioned, like:

- UWP.UI/Helpers.DesignTimeHelpers isn't in the Helpers namespace but everything else in the folder is
- most of UWP.UI.Controls are in a single namespace apart from the MarkdownRenderer & TextToolbar

I agree that there shouldn't be weird situations with single items breaking the pattern used in that package, or being the only exception

[2020-08-12 01:26] michael-hawker commented on #3422
Thanks @mrlacey! This is definitely something we should address alongside the dependency clean-up already planned for 7.0. I've added this issue for the namespace discussion specifically to our planning issue.

I definitely think there's some opportunities for things like `Panels` to move to their own package, though they may also live under the `Controls` namespace as they are generally all used

[2020-08-12 01:28] michael-hawker commented on #3419
@andrewleader have you noticed any problems here in this space? Any thoughts on what might be going on here?

FYI @azchohfi as well.

[2020-08-12 09:32] mrlacey commented on #3422
Redefining what goes in separate packages should probably be a separate issue as there's lots of opportunity for discussion about what should go where.
Do you have real-world usage data to help back up decisions about what should go where? For example, are there lots of people only using "Panels" and no other controls? or is there another benefit of putting these in a separate package?

[2020-08-12 09:44] jamesmcroft commented on #3422
Namespaces are definitely important and some packages definitely won't warrant everything being bundled under the same namespace. It defines a clear separation between components and ultimately allows developers to access the bits they need from those.

Obviously for some parts and this leads into a different convo, is having smaller more discrete packages for a more "pick and choose" approach whi

[2020-08-12 09:49] jamesmcroft commented on #3422
I think looking at the associated PR which was closed around the new MVVM package, I think there are some cases where it might make sense for things to be less separated out.

For example, ObservableObject and ObservableRecipient are core to the MVVM toolkit. You might expect those at the root. For the rest though, these are what I'd class as additional components. You've no need to use Messenger,

[2020-08-12 09:53] mrlacey commented on #3422
[ .NET Framework design guidelines for namespaces](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/names-of-namespaces)

However, acknowledging that rules for a large framework don't automatically apply to a _much_ smaller library.

StackOverflow has lots of questions asking about how to structure/name namespaces and almost all answers point back to the framework guidelines.

Th

[2020-08-12 10:14] Sergio0694 commented on #3422
@jamesmcroft The rationale here was to closely mirror the BCL namespaces to reflect the fact that we're providing "reference implementations" for the interfaces there. I've mentioned this in a previous reply to @mrlacey, in general it goes like this:

- `Microsoft.Toolkit.Mvvm.ComponentModel` ---> `System.ComponentModel` (`INotifyPropertyChanged`)
- `Microsoft.Toolkit.Mvvm.Input` ---> `System.Wind

[2020-08-12 10:36] Kryptos-FR commented on #3230
@Sergio0694 should I report improvement proposals on this issue or open a new one?

[2020-08-12 10:59] mrlacey commented on #3422
- What makes sense for a large framework such as the BCL doesn't automatically apply to a small library.
- Many part of the larger namespaces in `System` are divided into separate sub-namespaces as they are distributed in different assemblies.

I'm not convinced your above arguments apply here.

[2020-08-12 11:09] Sergio0694 commented on #3422
I never claimed it _automatically_ applies to a small library, I said I think it makes sense for these toolkit packages 😊

And yeah I know some of the `System` APIs are distributed in separate packages, but even them many of those include APIs from a number of different namespaces, as they directly map to the original APIs in the BCL. To make an example, the `System.Memory` package includes APIs f

[2020-08-12 12:02] mrlacey commented on #3422
I think there are two potentially conflicting positions that are being argued for here.
1. What's best for (or preferred by) the authors of the toolkit code.
2. What's best for the people consuming the toolkit libraries in their apps.

In an ideal world these align but that's not always the case.

_Having lots of knowledge about the code (due to writing it) makes it incredibly different to imagine

[2020-08-12 12:13] Sergio0694 commented on #3422
Not to nitpick, but I think you're strawmanning my position here:

My use of quotes around "convenience" was deliberate, but you replied to that as if I hadn't used them at all.

I did _not_ say that we should not prioritize convenience, but that we should not prioritize "apparent" convenience (hence the quotes). What I mean by this is - you can _already_ access all the types anyway. IntelliSense

[2020-08-12 12:39] mrlacey commented on #3422
@Sergio0694  Given that you're the author of the MVVM package you get the final say in how it's structured. I'll agree to differ with your preferences.
In terms of the wider toolkit, are there any broad guidelines that can be applied, or should this issue just be about addressing inconsistencies and anomalies in the current codebase?

[2020-08-12 13:18] Sergio0694 commented on #3422
Just to reiterate, while I disagree with you on some points mentioned, I do appreciate the conversation! 😊

And I absolutely agree on fixing all the various inconsistencies/anomalies across packages, for starters 👍

[2020-08-12 14:09] andrewleader commented on #3419
Hmm, the System.Tuple dependency isn't compatible with C++ WinRT? I'm not sure when that was added but I'm betting older versions of the library didn't have this dependency. @mjfusa can you try installing some older versions of the library and see if that works?

[2020-08-12 15:01] mjfusa commented on #3419
@andrewleader - Yes 5.1.1 installs without a problem. However it is missing critical functionality needed for notifications.

[2020-08-12 17:51] Kyaa-dost commented on #3421
@ratishphilip Thanks for showcasing the work. Let's see what the community has to say whether this is something we want to move forward with or not.

[2020-08-12 19:15] andrewleader commented on #3419
Hey @mjfusa, I think I've fixed the issue. Are you familiar with how to install local copies of NuGet packages?

Here's an updated local copy (extract it first and then place the NuGet package somewhere on your computer, and then in VS, change NuGet Package Explorer to look in that folder): [Microsoft.Toolkit.Uwp.Notifications.7.0.0-build.175.gec43fb1a8e.zip](https://github.com/windows-toolkit/Win

[2020-08-12 19:51] mjfusa commented on #3419
Thanks @andrewleader - That worked! However, can you base the fix on 6.1.0? This added the ToastContentBuilder class which I need. It looks like the 7.0.0 preview is based on 6.0? <a href='https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.uwp.notifications.toastcontentbuilder?view=win-comm-toolkit-dotnet-stable'>ToastContentBuilder Class (Microsoft.Toolkit.Uwp.Notifications) | Microsof

[2020-08-12 20:37] mjfusa commented on #3419
@andrewleader For C++/WinRT (C++/CX is no longer recommended), you need to add support to VS if you haven't already by installing this: https://marketplace.visualstudio.com/items?itemName=CppWinRTTeam.cppwinrt101804264

[2020-08-12 20:39] andrewleader commented on #3419
Awesome to hear it worked! I have the project templates in VS, but maybe I needed something else... I'll have to check that out, thanks so much Mike for validating that this worked!!

@azchohfi can we bring this fix in the PR down to 6.1.0? It's a super simple one-liner fix :)

[2020-08-12 21:09] azchohfi commented on #3419
@michael-hawker can we cherry pick #3423 to another branch from rel/6.1.0 (dev/6.1.1)?

[2020-08-12 21:47] #3419 closed

[2020-08-12 22:38] azchohfi commented on #3419
https://www.nuget.org/packages/Microsoft.Toolkit.Uwp.Notifications/6.1.1

[2020-08-12 22:48] azchohfi commented on #3399
Closing, as this is now shipped:
https://www.nuget.org/packages/Microsoft.Toolkit.Uwp.Notifications/6.1.1

[2020-08-12 23:37] mjfusa commented on #3419
I hope this fix didn't break this: https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/2499
It seems Tuple is required for the ToastContent changes,
@azchohfi @andrewleader

[2020-08-12 23:38] GSonofNun opened #3425 "Make MediaPlayerElement.MediaPlayer properties accessible via XAML"
## Describe the problem this feature would solve
When using a MediaPlayerElement in XAML, there were a couple properties on MediaPlayerElement's MediaPlayer instance I wanted to set/bind in XAML.
The properties I needed to set were IsLoopingEnabled and IsMuted.
`<MediaPlayerElement IsMuted="True" IsLoopingEnabled="True"/>`
However, these properties aren't available on MediaPlayerElement.

## Descr

[2020-08-12 23:46] andrewleader commented on #3419
I think the ToastContentBuilder class was never supported for C++, looking at the Builder code (I wasn't the one who authored it), there's an `#if !WINRT` that I believe causes all the Builder code to not be included in C++.

Is it correct that by "break" you simply mean the ToastContentBuilder class isn't appearing from your C++/WinRT project?

In a C# project, I tested the updated library and To

[2020-08-12 23:50] mjfusa commented on #3419
@See the PR review - it mentions why Tuple was needed and the additional nuget package dependency was approved. So the last fix may have broke this.
Yes - I am not seeing the class in C++.  But now I can build. I'll have to do this without the ToastContentBuilder class.

[2020-08-12 23:55] andrewleader commented on #3419
The Tuple dependency is still included on everything except `native` (which is C++), see the screenshot below. Native doesn't support the Tuple dependency, so that's probably also why they excluded the ToastContentBuilder class from being compiled in the native code (but they previously still had the Tuple dependency be included on native, which was why it failed installing).

![image](https://use

[2020-08-13 00:08] mjfusa opened #3426 "Enabling ToastContentBuilder for C++/WinRT"
## Describe the problem this feature would solve

The excellent class ToastContentBuilder was added to Microsoft.Toolkit.Uwp.Notifications -Version 6.1.0, but does not support C++/WinRt because of it's dependency on System.ValueTuple. This is blocking C++ devs from using this class.

## Describe the solution
Refactor the ToastContentBuilder class so it'll also work for C++ apps and not have the de

[2020-08-13 00:09] mjfusa commented on #3419
Done. https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3426 Thanks!

[2020-08-13 02:37] ratishphilip commented on #3421
@Kyaa-dost is it ok to submit the PR while this issue is still being discussed?

[2020-08-13 16:06] Sergio0694 opened #3428 "[Feature] Microsoft.Toolkit.Mvvm package (Preview 5)"
## Overview

This issue is meant to be used to track all the feature requests and discussions regarding API changes or other tweaks for the `Microsoft.Toolkit.Mvvm` package, which was introduced with #3230 and recently announced. 🎉

Find initial docs and samples here at https://aka.ms/mvvmtoolkit.

### Key Tenants

- **Platform and Runtime Independent** - **.NET Standard 2.0** 🚀 (UI Framework Agno

[2020-08-13 17:54] joncamp opened #3431 "Gaze Interaction button click not working with Eye Gaze"
## Describe the bug
Unable to click the button in the Gaze Interaction sample page, even though the app is properly picking up eye tracking data.

- [X] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:
v4 worked as I recall

## Steps to Reproduce
Steps to reproduce the behavior:
1. With HID Enabled eye tracker connected and working, navigate to Gaze i

[2020-08-13 18:37] Kyaa-dost commented on #3431
@joncamp Thanks for highlighting the issue. Assuming @peteams will be working on this issue, please let us know if you have any questions 😊

[2020-08-13 19:04] Kyaa-dost commented on #3421
@ratishphilip yes, we can certainly do that and if the team wants to move forward we will merge the PR 😊 Thank you!

[2020-08-13 20:29] joncamp commented on #3431
@Kyaa-dost - yes, @peteams would be the one on our side. Seems like there was a UI framework change at some point in the sample app which broke something. The gaze interaction library itself seems to be working, so the issue is specific to the sample app.

[2020-08-14 08:38] SetTrend opened #3432 "[Feature]: Accept icon font glyphs and SVG for notification button images"
# Proposal: Accept icon font glyphs and SVG for notification button images

## Summary
Currently, [according to documentation](https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/adaptive-interactive-toasts#buttons-with-icons), a [ToastButton](https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.uwp.notifications.toastbutton) only accepts rasterized images fo

[2020-08-14 15:50] mvegaca opened #3433 "MasterDetailView make app crash on WinUI3 Desktop App"
Windows Template Studio Team is working on a WinUI mockup for creating new templates.

I've created [an Issue](https://github.com/microsoft/WindowsTemplateStudio/issues/3807) and [a mockup](https://github.com/microsoft/WindowsTemplateStudio/tree/Mockup-WinUI3/mockup/WinUI3) with the WinUI3 code.

One of the initial specs was to create a MasterDetailPage with the WCT MasterDetailView control as it

[2020-08-14 17:35] azchohfi commented on #3433
Hello Martin.
I've downloaded the source from that branch and ran the app just fine:
![image](https://user-images.githubusercontent.com/527713/90277085-cd694b80-de19-11ea-84a1-72c987ee33b8.png)

All the menu options worked perfectly fine (at least no crash).

Do you have a list of steps you did to simulate the crash?

Quick question, which version of .Net 5 Preview are you using? Right now, WinUI3

[2020-08-14 18:20] Kyaa-dost commented on #3432
@SetTrend Thanks for highlighting this feature. Opening this for discussion with the community.

[2020-08-17 07:40] BigJimOfficiel commented on #3092
Hello,

 Is there any progress on that ticket?

Regards,

[2020-08-17 07:55] mvegaca commented on #3433
Hi
Sorry, I've just added the master detail page, this is the error I get.

![image](https://user-images.githubusercontent.com/5556784/90371265-fe8e8980-e06e-11ea-9329-7eb53f87b5b6.png)

Running
`dotnet new globaljson --sdk-version`
I get
`SDK Version: 5.0.100-preview.5.20279.10`

The page is a emptypage with a MasterDetailView control but I would like to add a MasterDetailPage based on Windows Te

[2020-08-17 22:15] Sergio0694 opened #3436 "[Feature] Microsoft.Toolkit lacks nullability annotations (and others)"
## Overview

I was going through the codebase for the main `Microsoft.Toolkit` package while reading #3315 and noticed the package has a few inconsistencies and issues now compared to the other .NET Standard packages (especially `Mvvm` and `HighPerformance`):
- It lacks the nullability annotations
- It lacks some extra annotations in general (eg. `[Pure]` when needed)
- Some methods have unclear/i

[2020-08-17 22:24] Sergio0694 commented on #3062
On the topic of API deprecation, there are a number of array extensions in the base `Microsoft.Toolkit` package that I think could (should?) be deprecated as well, both because the implementation is not super optimized, and because they've basically all been replaced by APIs in the `HighPerformance` package, especially so once #3353 gets merged, which adds a ton in this area 🚀

The extensions in q

[2020-08-18 08:46] Marv51 opened #3438 "Changing Checkbox requires three mouse clicks in DataGridCheckBoxColumn"
## Describe the bug
Changing a Checkbox in a DataGridCheckBoxColumn in a DataGrid requires the user to click on the checkbox three times.
Presumably once to select the row, then enter edit mode and then again to change checkbox value. This is very unexpected behavior.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps

[2020-08-18 16:36] Kyaa-dost commented on #3438
@Marv51 Thanks for highlighting the issue. The behavior in this scenario is similar to #3161

@anawishnoff @RBrid for visibility ⬆️

[2020-08-18 20:01] michael-hawker commented on #3438
Yeah, I think this is a general problem that's been highlighted with the DataGrid and how it's interaction behaviors are designed.

I think we can close this as a duplicate? @anawishnoff we should make sure to solve this for the new datagrid overall to make editing easier/more fluid.

In the meantime, I'm not sure what can be done in the existing code-base without a lot of work? @RBrid do you know

[2020-08-18 20:03] michael-hawker commented on #3433
@azchohfi should we pull someone in from the WinUI team on this? Any ideas on what the problem might be and why it works for you but not @mvegaca?

I am noticing the machine keyboard/locale may be different, could that be a problem here?

[2020-08-18 20:16] michael-hawker opened #3440 "[Discussion] Bump Minimum Version to 1809"
We're going to be updating our Target to 19041/19042 for our 7.0 release (depending on SDK timing in the future as that's TBD).

However, we're still currently targeting 16299 to make it easier for developers to target projects back to that platform. This does add a lot of complexity for newer properties like `CornerRadius`, ComboBox `IsEditable`, TextBox `Description`, etc... that we want to use

[2020-08-18 20:56] michael-hawker commented on #3440
This would also help us with some of the issues we've been facing due to https://github.com/microsoft/microsoft-ui-xaml/issues/2556, as I didn't notice the SDK bump helping, but was also trying on a weird property (IsEditable) which exists just behavior change on older versions.

[2020-08-18 21:01] michael-hawker commented on #3186
@deanchalk and/or @salmanmkc were you still interested in taking another look at this? I think the underlying issue here is that we're trying to both render on the canvas directly and have the text box above.

I think when in 'Edit' mode we should just be using the TextBox itself, and when we're done switch back to the rendered version? I think this would make it more reliable without having to de

[2020-08-18 22:01] RBrid commented on #3438
@michael-hawker, @anawishnoff, unfortunately there is no quick fix for this behavior. It's the same story as for the combo box column: first click makes the cell current, second click enters editing mode, third click switches the value.
In the new control, we could have a column-level property like column.CurrentCellEntersEditing=true;

[2020-08-18 22:03] azchohfi commented on #3433
I don't think that the keyboard is the problem here.
@mvegaca can you just F5 thru it? Do you have a call stack?
@stevenbrix, any idea?

[2020-08-18 22:07] azchohfi commented on #3440
I don't think that conditional XAML would make much sense to use any of this properties on WinUI3, since everything will be lifted and available (that is one of the value propositions of it).

@michael-hawker Sorry but, why is that the case?

[2020-08-18 22:31] michael-hawker commented on #3393
FYI @anawishnoff @RBrid

[2020-08-18 22:39] michael-hawker commented on #3421
Thanks @Kyaa-dost! I've been talking to @ratishphilip a bit in the Discord server about his toolkit already. 🙂 His work is really amazing, and I'm looking forward to seeing things come to the WCT and be centralized for our developers.

I think with the Animation improvements @Sergio0694's planning in #3108 we're going to have a lot of great graphical APIs and improvements for folks building amazin

[2020-08-18 22:42] michael-hawker opened #3441 "Unify references to types in XML comments"
Based on a comment in #3434, we should do a better job of consistency in our XML comments.

We should do an audit and then add guidance in our contributor docs.

_Originally posted by @Sergio0694 in https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3434#discussion_r472129802_

[2020-08-18 22:44] michael-hawker commented on #3441
Another example: https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3434#discussion_r472131133

[2020-08-19 08:14] salmanmkc commented on #3186
Yeah makes sense, currently I don't think it's scaling well since it's not divisible by 4, hiding/showing wouldn't be necessary if it is perfectly aligned which I think I alluded to at the end of the PR I made and you followed up on mentioning the transparency during dark mode. Perfectly lining it up would be needed to give no effect of shifting. Could this potentially be something to do with the

[2020-08-19 11:00] Marv51 commented on #3438
Hi, thanks for looking at this so quickly!

Is there any work-around people have found to this? Can I enter edit-mode programmatically on selection?

Otherwise, I guess I will have to change to an ItemsRepeater, which unfortunately misses many of the features in a GridView.

I would consider this an important issue, but it seems a bit more complex to fix than I am able to invest into this right no

[2020-08-19 11:56] Sergio0694 commented on #3428
Posting an update here regarding the changes to the `SetPropertyAndNotifyOnCompletion` method.
The signature now has a custom delegate instead of the `ref` + `Expression<Func<T>>` pair, which gives us:
- Less parameters (just one and with no duplication, so it's less error prone and verbose)
- Faster performance (no reflection anymore)
- Less memory usage

Code changes:
[code]

And some benchmarks

[2020-08-19 13:59] oenarap commented on #3284
Hi @michael-hawker! Something unexpected came up and i lost the chance and free time to keep my hands on this. I definitely will get back on and push my idea. Stay safe.

[2020-08-19 14:38] ratishphilip opened #3442 "[Feature]"
## Describe the problem this feature would solve

[CompositionProToolkit](https://github.com/ratishphilip/CompositionProToolkit) library provides five types of rendering surface interfaces which can be used for , rendering custom shapes and images or creating masks from geometric shapes or images.

- _`IRenderSurface`_ - This interface acts as the base interface for interfaces which render to the

[2020-08-19 16:16] michael-hawker commented on #3440
@azchohfi for WinUI 3 I was saying by bumping our min version we'll be removing a lot of conditional XAML in the Toolkit, so we'll be one step closer as we wouldn't need it in WinUI 3 later anyway.

As for this, if we have a min of 1809, an application developer can't go below that as their minimum target and include the Toolkit. Otherwise the tools won't load it, even if you use conditional XAML

[2020-08-19 16:24] michael-hawker commented on #3442
Thanks @ratishphilip could you provide a bit more detail on where this would live in the toolkit and what developers will be able to do with this platform? I'm assuming it's about creating more complex effects, but it'd be good to know what that looks like in terms of other technologies this applies to.

@Sergio0694 I think you understand this space more than I do. These could also be integrated w

[2020-08-19 16:36] michael-hawker commented on #3186
@salmanmkc that seems like a smart idea to adjust the position of the text and then basically adjust the border position to 'snap' to a clear pixel spot based on the DPI? Kind of like a dynamic padding?

We definitely need to figure out how to align the edit/display modes, but definitely think we should just rely on one rendering for each vs. trying to 'hide' the textbox text. As long as we have t

[2020-08-19 16:48] michael-hawker commented on #3438
Thanks @RBrid. Like that idea of the property proposal in the future. It may also just make sense to have a property on the Grid itself to signal if the Grid is mean to be a read-only display of data vs. a table that people expect to edit as well (where you're basically always in edit mode as you navigate around the table).

@Marv51 I don't know if anyone's tried, but you may want to quickly try h

[2020-08-19 17:11] ratishphilip commented on #3442
@michael-hawker I have updated the details. Kindly let me know if that would suffice.
(Thanks for updating the title 😊 I missed that out)

[2020-08-19 17:25] ratishphilip commented on #3442
@Sergio0694 It would be awesome if it is integrated with Pipeline Brushes.

[2020-08-19 17:40] anawishnoff commented on #3402
@XPoppyX Sorry for the late response! Looks like you're changing the color/theme twice - once in your Xaml, with the ThemeResource GrayTextColor, and again programmatically in ThemeHelper.cs, although I could be misunderstanding how the app works. Maybe a little bit of explanation would help along with the diagram above?

@RBrid does it look like the issue is just the styling for the button being

[2020-08-19 19:40] azchohfi commented on #3440
Our min right now is 16299 (1709).
Our target is 18362 (1903).

When we move to WinUI3, our min should align with whatever min WinUI3 supports since, AFAIK, there will be no reason to be any higher since WinUI3 will support everything down to that min. That is one of the advantages of WinUI3.

WinUI3's min version is 17134 (1803), so we'll need to bump our min anyway, but only to that. I'm not see

[2020-08-19 20:44] XPoppyX commented on #3402
in grid view the color changes correctly

_tested with blue for light mode and red for dark mode_

![Anotación 2020-08-19 162010](https://user-images.githubusercontent.com/61259627/90685506-eae24f00-e237-11ea-9cd9-58eada2f2652.png)
![Anotación 2020-08-19 162023](https://user-images.githubusercontent.com/61259627/90685513-ec137c00-e237-11ea-9662-d0e28376cbba.png)

[2020-08-19 21:04] anawishnoff commented on #3402
@XPoppyX Sorry, I think I wasn't reading closely enough in my previous comment, I see that you're only changing the TitleBar styling in your .cs code. This might be a bug, unless @RBrid has a different idea 😊

[2020-08-19 22:08] michael-hawker opened #3443 "[MarkdownTextBlock] SVG Image doesn't render"
## Describe the bug
Noticed in our MarkdownTextBlock sample that we have SVG images referenced in the sample text. However, they don't render. This seems odd...

- [x] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work: Not sure, must have worked sometime as it's in the sample text...

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to Markd

[2020-08-19 22:10] michael-hawker commented on #3062
@azchohfi should we remove the `WPF and WinForms Controls` section from the sample app for 7.0 or wait until WinUI 3? Thoughts here?

I imagine we should at least remove the older 'WebView' references now that WebView2 is supported everywhere else (at least in preview).

[2020-08-19 23:27] azchohfi commented on #3062
I think its better to deprecate them now, and remove them on 8.0.
Is the WebView1 already deprecated? If so, lets remove it now.

[2020-08-19 23:59] nanney54 commented on #3230
Hello,
have you plan to add support of cancellation to async command (New class CancelAsyncCommand or add to existing implementation) ?
Adding property like IsBusy/progress or whatever would be great too.

[2020-08-20 00:21] Sergio0694 commented on #3230
We've considered it, but it seemed like too much functionality for a base implementation to add to the library at least for now. It should be relatively easy to write a custom command extending the async command interface, to also add cancellation support. Of course, it's certainly doable to also just add support for this to the `IAsyncRelayCommand` interface, though we'd need more feedbacks on th

[2020-08-20 18:19] michael-hawker commented on #3062
@azchohfi yeah, wondering if we need a listing in the Sample App to point to docs still and such. Let's discuss at the next toolkit sync.

[2020-08-20 18:21] michael-hawker commented on #3062
@Sergio0694 as long as we're not using them anywhere else in the toolkit code (and thus pulling in the HP package to a larger package), then we should be good to remove those in 7.0. If we have docs, we can just update them to point to the HP pages instead.

For AsFormat, I think we were using it in x:Bind or for Localization? So we may want to check how easy it is to swap the code-base out or use

[2020-08-20 21:43] RBrid commented on #3393
Hello - I just tried this:

I added this markup to a Page that uses a DataGrid:
    <Page.Resources>
        <Color x:Key="GreenishColor">#FF60B560</Color>
        <Color x:Key="YellowishColor">#FFFFF700</Color>
        <Color x:Key="BlueishColor">#FF00e5ff</Color>
        <StaticResource x:Key="DataGridColumnHeaderBackgroundColor" ResourceKey="GreenishColor"/>
        <StaticResource x:Key="DataG

[2020-08-20 22:39] Sergio0694 commented on #3062
@michael-hawker Awesome, did the changes in https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3444!

I've just marked those extensions as `[Obsolete]` for now, not sure if that's what you meant with "to remove those in 7.0" or if I should just outright delete those methods? I mean, as I thought we needed 2 cycles to completely remove existing APIs 🤔

[2020-08-21 02:00] RBrid commented on #3402
The behavior sounds right to me. See how the TextBlock/TextBox's Foreground brush gets set in the DataGridTextColumn's cells, via the RefreshForeground method. It uses the DataGridTextColumn.Foreground property or DataGridRow.ComputedForeground property (which uses DataGridRow.Foreground or DataGrid.RowForeground or DataGrid.AlternatingRowForeground). It's a pretty complicated inheritance mechanis

[2020-08-21 02:38] XPoppyX commented on #3402
@RBrid Thank you very much, I'll test it tomorrow

[2020-08-21 14:26] DevEarley opened #3445 "Sample App Infinite Canvas - Mouse issues - Screen locks up in Touch Inking mode while using mouse."
## Describe the bug
While using the Windows Community Toolkit Sample App with a mouse, I am unable to draw at all. If in Touch Inking mode,  the screen locks up and flashes black.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Open Windows Community Toolkit Sample App - Go to Infinite

[2020-08-21 14:45] #3445 closed, assigned to nobody

[2020-08-21 16:50] mtissington opened #3446 "Can't load Microsoft.Toolkit.Uwp.Notifications in preview 2 (FileNotFoundException)"
Have been running preview-1 without any issues, upgraded to preview-2 and now when I build a release version and ship we get the following exception.

System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Toolkit.Uwp.Notifications, Version=7.0.0.0, Culture=neutral, PublicKeyToken=4aff67a105548ee2' or one of its dependencies. The system cannot find the file specified.File name

[2020-08-24 17:32] Kyaa-dost commented on #3446
@mtissington What's the App min and Target Version are you using?

[2020-08-24 17:45] mtissington commented on #3446
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />

[2020-08-25 02:11] nanney54 commented on #3428
It was fast ! did you have a git stash ready on your PC before my post ? 😁

[2020-08-25 03:58] duzhenyi commented on #3446
你好，请问.NET Core3.1支持吗？怎么最新版本没有WebViewCompatible这个对象了

[2020-08-25 08:42] chingucoding commented on #3062
Regarding feature parity of RadialProgressBar and the WinUI 2.5 ProgressRing, the only missing APIs are:

* `Outline`: Gets or sets the color of the circular outline on which the segment is drawn
* `Thickness`: Gets or sets the thickness of the circular outline and segment

Those two customization options are not yet available with the WinUI 2.5 ProgressRing. There is already a [tracking issue](ht

[2020-08-25 09:12] promicor opened #3447 "UWP class library used in UWP app throws “XAML parsing error.” when Certification in Windows Store"
UWP control library is in separate project inside solution that also has UWP project. In UWP project I have setup nuget Microsoft.Toolkit, references and all necessary namespaces.
In Visual Studio it work good, but when i try Certification in Windows Store is written in Certification Report:
XAML parsing failed.
I am tried used MasterDetailsView XAML Control from example (again it work good on any

[2020-08-25 16:24] michael-hawker commented on #3447
@promicor can you provide a bit more information on the exact XAML you're using or provide a simple repo project? What's the exact error you're getting from the report, can you share its logs? Do you have the latest SDK?

Is this blocking store submission or only happening locally?

FYI @marb2000 @azchohfi

[2020-08-25 16:30] michael-hawker commented on #3446
@duzhenyi see info about WebView [here](https://github.com/windows-toolkit/Microsoft.Toolkit.Win32#webview-notice). Everything has moved to WebView2 which you can find out about [here](https://aka.ms/WebView2).

@mtissington is this a C# or C++ project, can you provide a bit more details on your configuration?

The PR you mentioned would have occurred with 6.1.0, so if that's working for you it ma

[2020-08-25 16:36] mtissington commented on #3446
It as c# project - and I include the config file contents.

preview2 causes the provided exception, if we revert to preview1 everything works correctly.

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b

[2020-08-25 16:58] azchohfi commented on #3446
@michael-hawker yes. The PR was merged on master, and cherry-picked to a branch of rel/6.1.0, just for 6.1.1.

[2020-08-25 17:41] michael-hawker opened #3448 "[Testing] Add Analysis for Assembly Sizes"
## Describe the problem this feature would solve
We should have a bot or something output the sizes of the assemblies so we can track changes to our package sizes and dependencies.

## Describe the solution
I think the key is to figure out how much any particular package adds to the size of an application. However, dependencies that those packages pull in play a factor as well.

@azchohfi  is thin

[2020-08-25 17:59] michael-hawker opened #3449 "[Testing] Check for overriding string resources in the controls package"
## Describe the problem this feature would solve
If a developer wants to override a string resource from a control in the Toolkit, we have no guidance on how to do this.

## Describe the solution
I believe they can just append the assembly name to the resource key in their own app's resource file to do this, I thought I had tested this, but we should have an actual test case and document how this

[2020-08-25 21:10] promicor commented on #3447
Excuse me for my mistake it nuget Microsoft.Toolkit not XAML islands( please delete this tag)
1. locally it work ok on, any different pc too
2. XAML easy (same as template) and work ok
3. I am Created app package and uploaded it to windows store for certification
4. Tester send me email with this problem  "XAML parsing failed" whe i used MasterDetailsView XAML Control
p.s. and when i changed compo

[2020-08-25 21:38] simeoncran commented on #3440
FYI, Lottie-Windows requires 1809 in order to actually render a Lottie. LottieVisualSource will load on earlier versions but we can't render a Lottie, so AnimatedVisualPlayer will render its FallbackContent on Windows< 1809.

Therefore, moving up to 1809 will not change anything in Lottie-Windows behavior, and will be very welcome (because I always feel like we're disappointing customers who expec

[2020-08-25 23:34] michael-hawker commented on #3447
Thanks @promicor, if you run the [WACK tool](https://developer.microsoft.com/en-us/windows/downloads/app-certification-kit/) locally does it fail?

If you could forward the e-mail from the tester with those details to me, I could try and follow-up with the store team as well. We know other apps are using this control without issue in the store, so this seems quite odd. My e-mail is my first name d

[2020-08-25 23:42] Kyaa-dost commented on #3402
@XPoppyX did that resolve the issue?

[2020-08-26 00:15] XPoppyX commented on #3402
We haven't tested yet, but I think this issue can be closed

[2020-08-26 08:55] promicor commented on #3447
Thanks, i sent an email with additional info to you.
 WACK tool  - success all tests

[2020-08-26 09:37] vgromfeld opened #3451 "Calling show/dismiss/show on InAppNotification is not working"
## Describe the bug
When using `InAppNotification` and running the `Show()`/`Dismiss()`/`Show()` sequence "too fast", we never see the last notification.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Add the following code in `InAppNotification` sample page
[code]
2. Run the application and click on the new *Show hide show* button

## Actual behavior
There is no notification displayed

[2020-08-28 10:16] mvegaca commented on #3433
Steps I'm reproducing

Launch the app with debuggin F5 and select MasterDetail Page

![image](https://user-images.githubusercontent.com/5556784/91549880-f284b080-e927-11ea-928e-ace992dbfb04.png)

App Crash

![image](https://user-images.githubusercontent.com/5556784/91549953-0defbb80-e928-11ea-9d67-d835a02f8cac.png)

This is the exception details

[code]

The App Crash and I can't catch in a global

[2020-08-28 14:54] rick-palmsens opened #3453 "DataGrid not using its entire height to draw items"
## Describe the bug
This GIF probably explains it a lot better than I can:
![datagrid](https://user-images.githubusercontent.com/57390463/91580545-8f0d7980-e94d-11ea-89c5-c944469a42ad.gif)

As you can see, there is a scrollbar for the entire height of the control, but it only seems to draw at most 2 elements at a time.

## Steps to Reproduce
Steps to reproduce the behavior:
Not sure, and the behav

[2020-08-28 16:11] Kyaa-dost commented on #3393
@ForerunnerG34 ⬆️

[2020-08-28 16:16] Kyaa-dost commented on #3453
@rick-palmsens Thanks for highlighting the issue.

Tagging the team for visibility @anawishnoff @RBrid

[2020-08-28 17:06] Sergio0694 opened #3454 "[Feature] ThrowHelper APIs with return values"
## Describe the problem this feature would solve

The new `ThrowHelper` APIs added in #3346 currently can't be used within switch statements or in cases where users need a return value from the invoked API in order to make the C# compiler happy. Consider this sample:

[code]

That `throw` can't be replaced with a `ThrowHelper` call, as they all return `void`. This forces users to either manually w

[2020-08-28 18:09] CesarIntriago1980 commented on #3393
Yes, I proposed that in my PR, however the use of Color with hexadecimal value was not recommended.

[2020-08-28 21:39] eschlot opened #3456 "[Feature] UWP DataGrid Horizontal Scrollbar shall have an API to not overlaps DataGrid Content"
## Problem description
I am using the community toolkit DataGrid and the data presented to the user require a horizontal (and vertical) scrollbar.
When using the keyboard and pressing cursor down at some point in time the scrolling of the content starts and renders the selected line behind the semi-transparent horizontal scrollbar at the bottom.

The problem is that this selected line is not reada

[2020-08-31 07:16] promicor commented on #3447
Hello. Have you received my email?

[2020-08-31 17:35] Kyaa-dost commented on #3456
@eschlot Thanks for highlighting the request. I saw that Richard already responded in [Doc Q&A](https://docs.microsoft.com/en-us/answers/questions/79438/uwp-datagrid-horizontal-scrollbar-overlaps-datagri.html?childToView=80711#answer-80711) that as you want to separate Scrollbar and row display area; the best way to make this work would be utilizing VisualTreeHelper.

Looping in @anawishnoff and @

[2020-08-31 23:16] #3451 closed

[2020-09-01 05:45] ABIKO-TETU opened #3458 "[Win32]"

[2020-09-01 13:39] vgromfeld commented on #3440
Based on the support dates, 1803 is almost no longer supported. By the time the toolkit ship, it will probably no longer be supported at all.

Targeting 1809 for the min version seems to be a good choice for now, most of the users are there, it is compliant with WinUI3 min version and it targets an LTSC Windows build.
That seems to be a good start point 🏁.

We can also directly target 1903 but tha

[2020-09-01 15:21] mvegaca commented on #3433
I've updated my windows version and now it works, My machine was installed 18362 and now works with version 19041.

[2020-09-01 15:45] Kyaa-dost commented on #3458
Closing this issue as there was no description provided. If there is any issue please reopen with detailed information.

[2020-09-01 15:45] #3458 closed

[2020-09-01 16:55] michael-hawker commented on #3440
@azchohfi this should be pretty straight-forward to implement, eh? The main thing is just if we want to go and clean-up all the conditional XAML and any other weird checks, eh?

I synced with @andrewleader on the notifications package. We'll leave the min down where it is excluded from this bump, but we'll make sure the target version aligns with the rest of the toolkit still so we can still get a

[2020-09-01 17:03] azchohfi commented on #3440
Yes, literally just change it, and the TFMs for the nugets.

[2020-09-01 18:32] michael-hawker commented on #3393
@CesarIntriago1980 @RBrid is saying he is seeing the ability to override it at the app level, so suggesting that no change is needed to the DataGrid.

Could you maybe provide a bit more details on reproducing the issue you were seeing with customizing the DataGrid?

[2020-09-01 19:04] MartinZikmund opened #3459 "[Feature] LaunchTracker API"
## Describe the problem this feature would solve

In many apps, it is useful to track app launches for scenarios like:

- Number of times the app was launched (e.g. to show a review dialog after `n` launches)
- The last date the app was launched (e.g. to offer the user some incentive to offer if they didn't launch the app for a longer time)
- Checking if this is the first launch of the app after a

[2020-09-01 19:12] michael-hawker commented on #3459
@MartinZikmund we've had helpers in the Toolkit for a while here in the [SystemInformation class](https://docs.microsoft.com/en-us/windows/communitytoolkit/helpers/systeminformation).

I'm pretty sure these are also ported as part of the Uno fork of the Toolkit [here](https://github.com/unoplatform/Uno.WindowsCommunityToolkit/blob/uno/Microsoft.Toolkit.Uwp/Helpers/SystemInformation.cs).

Is there

[2020-09-01 19:17] MartinZikmund commented on #3459
Ha :-D ! How did I miss that :-D ?!

What could be added there would be the version history, but since everything else is in place, that probably does not bring that much value.

[2020-09-01 19:20] MartinZikmund commented on #3459
@michael-hawker Also time to update my blogpost with this newfound knowledge then 😀 .

[2020-09-01 19:29] #3459 closed

[2020-09-01 20:09] michael-hawker commented on #3459
@MartinZikmund no worries! I think the toolkit's gotten to the point where it's probably impossible for one person to know everything that's in it! 😋

My go to guidance is usually just 'check the toolkit first' now. 🙂 However, if this was hard to find, we should probably open up an issue on our [docs repo](https://github.com/microsoftdocs/WindowsCommunitytoolkitdocs) and figure out how we can opti

[2020-09-01 20:33] ForerunnerG34 commented on #3393
Hi @michael-hawker , yes of course, if you copy both the StaticResource and Color to the app, you can customize it. However that is not the reason for this PR, my thinking is that the DataGrid should ship with correct code, and looks like that is not the case, as a developer using the DataGrid I would expect to be able to customize the color just by changing the SolidBrush or the Color, however as

[2020-09-01 20:33] ranjeshj commented on #3062
In ProgressRing, Foreground/Background properties are tied to ring and background. We currently do not expose the thickness, but you there is the ability to swap out the entire Lottie animation (using DeterminateSource/InDeterminateSource properties). Given that level of customization is available, do we need the thickness exposed as a property ?

[2020-09-01 20:55] michael-hawker commented on #3451
@vgromfeld also see #3390 and #3391 these are also related, but more from the timing mechanisms.

[2020-09-01 21:42] michael-hawker commented on #3449
Alright, so if we don't specify the resource path in the toolkit usages, then we can override it, but then the toolkit can't find it either for the default value.

We almost need a fallback approach where we look things up first without a path and then look for the path afterwards?

[2020-09-01 22:05] michael-hawker commented on #3449
Alright, I think this is the best choice in that we need to potentially do two lookups...

So before:
[code]

After:
[code]

Good news is that it wouldn't be a breaking code change, just behavioral, and should make it easier for any developer to allow for this type of 'override'.

@Sergio0694 I'm assuming there's a more performant way we can do this?

@vgromfeld I can do some further testing here,

[2020-09-02 06:58] vgromfeld commented on #3449
@michael-hawker It seems good to me. I allows apps to easily override strings in their own resources files without the need of another file (which reduces the burden on the localization teams 😀)

[2020-09-02 12:49] baskren opened #3461 "[Feature] FlexPanel"
## Describe the problem this feature would solve

Wrap panel is a good layout but it doesn't have the flexibility found in the [CSS Flexible Box Layout Module](https://www.w3.org/TR/css-flexbox-1/).  Commonly known as flex layout or flex-box, it is called that because it includes many flexible options to arrange children within the layout.  Xamarin.Forms has such a [FlexLayout](https://docs.micros

[2020-09-02 15:19] stevenbrix commented on #3433
Not sure, adding @ranjeshj in case this sounds familiar

[2020-09-02 16:17] ranjeshj commented on #3433
Could you try enabling all the exceptions, debug both managed and native (in project properties/debug) and see if you can get a callstack (with symbols resolved) ?

[2020-09-02 17:26] Kyaa-dost commented on #3461
@baskren Thanks for highlighting this feature. Let's see what devs think regarding the feasibility of this feature in the toolkit.

[2020-09-02 23:58] michael-hawker commented on #3461
Hi @baskren! Thanks for the proposal, this sounds really interesting! 🎉

QQ: Would this be derived from the [Panel class](https://docs.microsoft.com/uwp/api/Windows.UI.Xaml.Controls.Panel) or the [Layout class](https://docs.microsoft.com/uwp/api/microsoft.ui.xaml.controls.layout) that's used for ItemsRepeater?

If the former, we'd probably want to name it `FlexPanel` instead to be consistent with

[2020-09-03 02:17] DanielGlick45 opened #3463 "DataGridRows are not where they should be in release mode"
I had opened a previous issue about DataGridRows not being accessible in release mode (https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3079). Sadly, I was not active in the issue and it got closed without being fixed. I did a little more digging and came up with good steps to reproduce the issue.

## Describe the bug
- DataGridRows show up on the tree differently in release mode

[2020-09-03 06:20] Marv51 opened #3464 "Animating height of element in a DockPanel jumps from start to finish immediately"
## Describe the bug
When animating the height of a Border with `Dock="Top"` element inside a DockPanel. The animation is not executed, and the height jumps from start to finish immediatly. This seems to be Height specific, as Opacity works for me without issue.
No errors, exceptions or other are shown.

Element defined like this:
[code]

Animated like this inside a VisualState:
[code]

- [ ] Is th

[2020-09-03 09:04] #3454 closed

[2020-09-03 16:13] Kyaa-dost commented on #3463
Thanks @DanielGlick45! Looping in the team @anawishnoff and @RBrid ⬆️

[2020-09-03 16:58] Kyaa-dost commented on #3464
@Marv51 That's an interesting find. Do you want to work on this issue and create a PR?

[2020-09-03 20:19] anawishnoff commented on #3463
Hmm, this is an interesting issue, thanks for reporting it. I'm not sure why the tree would change in debug vs release mode. @RBrid calling upon your wealth of knowledge once again...

[2020-09-04 07:06] promicor commented on #3447
Hello!
I dublicate text of email.

2.	That is tester text
App Policies: 10.1.2 Functionality

Notes To Developer

Unfortunately, we can’t test your product, the product's primary functions are not usable.
When users select Чаты (chats) there is an error message that something went wrong, XAML parsing failed.

Tested Devices: Sony Vaio Duo 11 (SVD112A1ST), Acer Iconia W700

3.	That is XAML

<Page

[2020-09-04 07:49] MartinRichards23 opened #3465 "Null reference error from PrintHelper"
## Describe the bug
We are occasionally getting occasional null reference errors from users in our logging, originating from the PrintHelper.

I haven't been able to reproduce the issue, only seen in the logs, I have provided the stack trace.

Is the fix as simple as adding a null ref check in the PrintHelper class?

[code]

## Environment
It doesn't seem to be specific to any device, Toolkit or W

[2020-09-04 12:01] Marv51 commented on #3464
@Kyaa-dost I'm really not that familiar with how animation works in this context. Seems to be difficult to fix because the panel needs to be re-"arranged" every frame?

[2020-09-04 13:13] vgromfeld opened #3466 "Add vertical alignment support to WrapPanel"
## Describe the bug
The `WrapPanel` control does not respect the required vertical alignments of its children controls.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Use the following code
[code]

## Expected behavior
The panel should vertically align the children based on their vertical alignment values.

## Screenshots
**Actual behavior**
![image](https://user-images.githubuserconte

[2020-09-04 13:20] vgromfeld opened #3467 "InAppNotification dismiss button is cut when using 225% text scaling"
## Describe the bug
The dismiss button of the `InAppNotification` control is cut when setting the text scale to 225% from Windows settings:

![image](https://user-images.githubusercontent.com/20152272/92243569-f71a0d80-eec1-11ea-8dff-5472818f648c.png)

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the

[2020-09-04 15:59] Kyaa-dost commented on #3464
@Marv51 no worries, will see if any community member can jump in to investigate this further.

[2020-09-04 16:10] Kyaa-dost commented on #3467
Thanks, @vgromfeld! This is a great find. Will you be creating a PR for this? or not sure if you are already on it.

[2020-09-04 16:25] Kyaa-dost commented on #3466
Thanks, @vgromfeld for highlight this. Padding has been a known issue similar to #3257 and #3416

[2020-09-04 16:35] Kyaa-dost commented on #3465
@MartinRichards23 can you please provide the steps you are taking from the beginning and what windows build number and target version being used?

[2020-09-05 20:08] droppingIN commented on #2947
MSVS Community 2019 Version 16.7.2 with xamarin

got the same with "en-En" and "en".
i set `[assembly: NeutralResourcesLanguage("en-US")]` in AssemblyInfo.cs, selected `<DefaultLanguage>en-US</DefaultLanguage>` for uwp project - nothing works.

always get an error, depending on the option:
`GENERATEPROJECTPRIFILE : warning : PRI257: 0xdef00522`
i guess, the only solutoin is to suppress it.

[2020-09-06 02:51] Hosch250 commented on #3121
Since you guys are recommending everyone switch to MarkDig, should this issue be closed as won't-fix?

[2020-09-06 05:37] Nirmal4G commented on #3422
My suggestion is that we should follow the existing Windows Runtime APIs naming conventions. There should be internal docs on best practices. Since Windows Toolkit extends UWP, I think opening up the dev docs within Project Reunion and extend them here as per our needs.

No need to reinvent the wheel. Personally, we should straight up ask either @terrajobst or Framework Design Guidelines for help.

[2020-09-06 08:24] MartinRichards23 commented on #3465
Hi Kyaa-dost, we are targeting version 1903, build 18362, minimum version Fall Creators update, build 16299.

Our code is essentially the same as the demo provided here https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PrintHelper/PrintHelperPage.xaml.cs

We are using App Center for logging, this issue seems rare so its not something

[2020-09-07 16:25] #3125 closed

[2020-09-08 17:49] michael-hawker commented on #3089
Thanks @ianier, I think the ask here is basically the same as #1128 and have ACV support grouping, right?

Appreciate your code hint here too. We'll see if we can get a community member to pick this up and see if we can work this all together somehow.

[2020-09-09 06:35] promicor commented on #3447
Hello!
I am close this issue. I dont know where was problem (may be on the windows store side or on my side) anyway but this is has helped me:
change
...
                    <TextBlock Text="{x:Bind name}"
...
to
                    <TextBlock Text="{Binding name}"

[2020-09-09 06:35] #3447 closed

[2020-09-09 21:19] michael-hawker commented on #3447
Hi @promicor, I hadn't heard back from the store team either yet, so I'm following-up again with your new details.

When you bundled to submit to store, was it in release mode with .NET Native on?

[2020-09-10 23:49] michael-hawker commented on #3431
Not sure how I missed seeing this issue, this is resolved and working in the move to C# done in the PR here: #3427.

[2020-09-10 23:50] michael-hawker commented on #3431
@azchohfi assuming you tested in release mode as well? I think I may have been in Debug only, so I suppose it could be related to that too?

[2020-09-11 13:46] promicor commented on #3447
Hi, yes i  bundled to submit to store, in release mode with .NET Native on.
Today app in store and i don now where was problem, i think on store side.

[2020-09-11 14:04] Jaiganeshkumaran opened #3470 "XAML parse error while using MasterDetail control"
## Describe the bug
The app crashes when I use the MasterDetail control in my application.

- [x] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:
7.0.0.preview1

## Steps to Reproduce
Steps to reproduce the behavior:
1. Install Windows Community Toolkit
2. Add the MasterDetail control to your page with a command bar for both of the details and master

[2020-09-11 19:20] 632575987 opened #3472 "Markdowntextblock iframe support"
I want to show a website in markdowntextblock, but the iframe attributes seems not supported in markdowntextblock, is there other way to do this?

[2020-09-11 19:29] skendrot commented on #3466
What other Panels offer VerticalContentAlignment and HorizontalContentAlignment? StackPanel does not, and Grid does not. Why offer it for the WrapPanel?

[2020-09-11 20:03] Kyaa-dost commented on #3121
@Hosch250 Thanks for checking. Will leave this open for now until we have more input in this from the community.

[2020-09-11 20:08] Kyaa-dost commented on #3472
Not certain if this is expected by design or a bug. Let's see if any community member can shed light on this or even if there is any workaround regarding the situation 🤔

[2020-09-11 21:13] michael-hawker commented on #3466
Thanks @skendrot I agree that we should just be inspecting the child's alignment property in the layout pass of the panel vs. a separate property, I commented more in the [pr here](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3471#issuecomment-691313632).

The bug itself here about the property currently not being respected is a valid concern still though. I think we can just pi

[2020-09-11 21:18] #3396 closed

[2020-09-11 23:26] Kyaa-dost commented on #3470
@Jaiganeshkumaran can you please share the screenshot/s of the error you are seeing?

[2020-09-12 08:38] 632575987 commented on #3472
Really hope this feature will be officially supported, or could you tell me how to implement this feature in additional code, many many thanks~

[2020-09-13 11:27] ianier commented on #3089
@michael-hawker: Yes, this is a subset of #1128. I've been using the code above in my app for a while and it works well. IMO, the idea of using a delegate at the collection level (as opposed to having to implement IGrouping on the item) makes it easier to use.

[2020-09-13 12:50] hansmbakker opened #3473 "[Feature] Snapping support for RangeSelector"
## Describe the problem this feature would solve

I would like to have snapping support for the `RangeSelector`.
- **Snapping values** should be a bindable list of numerical values.
- The **snapping distance** should be a configurable / bindable numerical value.
- The **breaking distance** should be a configurable / bindable numerical value.
- When one of the `Thumb`s comes within the configured d

[2020-09-14 14:23] michael-hawker commented on #3089
@vgromfeld @Sergio0694 can we also use the new grouping stuff we added to help in this case as well?

@Vijay-Nirmal was interested in trying to help out with improvements to the AdvancedCollectionView, so hoping we can pool all this knowledge together to find a general solution we can have in the Toolkit?

[2020-09-14 16:23] Thomas1664 opened #3474 "Dismiss icon of InAppNotification is dark on hover on dark theme"
## Describe the bug
When using dark theme, the dismiss icon of the `InAppNotification`-control is black on hover.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Select dark theme in Windows settings
2. Use the control `InAppNotification` with standard stylings
3. Hover over the dismis

[2020-09-14 16:27] michael-hawker opened #3475 "Improve Code Coverage/Add to CI"
@michael-hawker Regarding this, as a side note, I saw that ReSharper includes a Unit Test Coverage tool that's quite easy to use. It's not perfect (eg. it sometimes skips a line, and it doesn't seem to deal with compiler directives properly, but AFAIK code coverage tool are known not to be 100% accurate), but it should be nice to at least have a point of reference to check locally until we eventua

[2020-09-14 16:29] michael-hawker commented on #3475
To clarify, I don't think the CI should be gated on this; however, a report should be generated so we can inspect it easily.

[2020-09-14 16:39] michael-hawker commented on #3473
@hansmbakker we have the existing `StepFrequency` property just like the normal [Slider control](https://docs.microsoft.com/uwp/api/windows.ui.xaml.controls.slider), is that not sufficient to cover these scenarios?

[2020-09-14 16:43] hansmbakker commented on #3473
@michael-hawker My use case is that I want to have several of these range selectors below each other. When dragging a Thumb I would like it to snap when the value matches one of the other values.

`StepFrequency` is for snapping to fixed intervals, but that doesn't work for my use case.

[2020-09-14 16:47] Sergio0694 commented on #3475
@michael-hawker Just as an FYI (not sure if it might be useful as a reference), `ImageSharp` is using the CodeCov bot for this.
For instance, here's a post that it generated in one of my PRs: https://github.com/SixLabors/ImageSharp/pull/1314#issuecomment-673563553

![image](https://user-images.githubusercontent.com/10199417/93114285-b472e500-f6ba-11ea-8bc0-8a8aaf6c6867.png)

I mean that one might

[2020-09-14 16:48] michael-hawker opened #3476 "RangeSelector StepFrequency doesn't behave properly at larger values"
## Describe the bug
In the sample app, with the example range between 0-100, values over 30 (40, 50) etc... don't act properly.

For instance, 30 snaps at 30 and 60 but not 90.
40 snaps at 40, but not 80
60 doesn't snap...

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to RangeSelector sample in sample app.
2. Go to XAML tab
3. Set StepFrequency to a custom value
4. See behavior abo

[2020-09-14 19:12] Kyaa-dost commented on #3474
@Thomas1664 tried hovering over the dismiss icon and it just brings the contrast color which is to highlight the button. The behavior is consistent throughout the app so I am not sure what you mean by light since it's already in a dark mode.

[2020-09-14 19:15] Thomas1664 commented on #3474
@Kyaa-dost You can't see a black icon on a dark background very well.

[2020-09-14 19:18] Kyaa-dost commented on #3474
@Thomas1664 not sure if its actually a bug or intended like this. @vgromfeld can you please confirm on your end?

[2020-09-14 21:46] michael-hawker commented on #3475
@Sergio0694 that's pretty cool, it's [this one](https://github.com/apps/codecov) right? @azchohfi thoughts? Seems like an easy win?

[2020-09-14 21:58] Sergio0694 commented on #3475
@michael-hawker Yup, that's the one! 👍

[2020-09-14 21:58] azchohfi commented on #3475
This one is a github extension, not an azure devops, but it is possible to do the same in azure devops. As long as it exports a cobertura file (lets avoid JaCoCo), we can easily integrate it with ADO.

[2020-09-14 22:14] michael-hawker commented on #3472
@632575987 can you provide some examples of the markdown you're trying to display? Are you just trying to embed HTML tags directly with the `iframe` tag in order to show an embedded page?

It's not a scenario we've seen requested before, so curious to know more about your use-case.

There are some customizations available with the MarkdownTextBlock already. For instance if you wanted to make any H

[2020-09-14 22:24] michael-hawker commented on #3470
@Jaiganeshkumaran if you could provide the exact XAML you're using that's be helpful. Is your machine also have 19041 installed? Is this on a new UWP project? What is your locale and keyboard configuration of your machine?

This seems eerily similar to the problem @promicor encountered [here](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3447).

@fabiant3-zz any thoughts on why

[2020-09-15 00:20] nickrandolph commented on #3321
cc @nmetulev @hermitdave @cbarkerms @clairernovotny @VisualByteStudios @deltakosh @jwilcox1701 @normesta @rjmurillo @TGoodhew @JustinXinLiu
Can you please review any branches that you have and delete them if they're no longer relevant. If relevant, can you rebase them so we know they're still active

[2020-09-15 04:36] SaSiNO97 commented on #2913
I'm getting the following issue when deleting item 0 from an ACV bound to a (community toolkit) DataGrid:

[code]

[2020-09-15 07:02] vgromfeld commented on #3474
This issue has been fixed with #3369.
It will be available in the next release of the toolkit. You can already try it using the 7.0 preview build.

[2020-09-15 07:33] vgromfeld commented on #3089
Yes, looking only at the high level, it seems that there is some overlap with what has been done in `ObservableGroup`.

[2020-09-15 11:02] Sergio0694 commented on #3089
Potentially related - I'm probably missing something here but I'm a bit confused about the `AdvancedCollectionView` type 🤔
As in, shouldn't the collection types be only using .NET Standard 2.0 APIs so that they can used in a shared backend, with all the platform-specific code being deferred to some platform-specific wrapper of sorts?

For instance, what I've been doing in my apps is this:
- Have a

[2020-09-15 15:55] Kyaa-dost commented on #3474
Thanks, @vgromfeld! @Thomas1664 please try it and let us know.

[2020-09-15 16:35] michael-hawker commented on #3464
@Marv51 have you tried slowing the time range down? I tried to recreate in the sample app to help us with reproducing, but I couldn't quite get it to trigger, not sure what I'm missing:

[code]

@JustinXinLiu any thoughts here? I don't think we intended these panels to support animations originally.

[2020-09-15 20:54] michael-hawker commented on #3321
Thanks @nickrandolph, @Kyaa-dost @RosarioPulella and I went quickly over them this morning as well, there are a lot I know from some folks which are just stale and we can get rid of from past projects too. 🙂

@Kyaa-dost I think you have the right permissions to get rid of ones from tgoodhew, rjmurillo, and jwilcox1701 that we know are all from past projects?

[2020-09-15 20:56] TGoodhew commented on #3321
If you need me to I'm happy to delete those old dead decaying and, frankly, somewhat smelly branches with tgoodhew on them.

[2020-09-15 21:04] Kyaa-dost commented on #3321
Thanks, @michael-hawker will clean it up. @TGoodhew if you have any stale branches that are closed or non-active please feel free to delete them, thanks 😄

[2020-09-15 21:05] michael-hawker commented on #3089
This may be a case where we just need a good sample which shows how these different elements fit together:

 - Having a base source collection (.NET)
 - Grouping that collection (.NET) in UI (UWP - ListView/GridView)
 - Filtering on that Collection (.NET) from User Input (UWP - AutoSuggestBox)
 - Incrementally loading new things into the collection (.NET) from User Input (UWP - ScrollViewer)

If w

[2020-09-15 21:06] TGoodhew commented on #3321
Just tried - Looks like I don't have permissions - Sorry

[2020-09-15 23:52] Sergio0694 commented on #3089
Exactly 😊
I'm all in for offering helpers (either through dedicated types or extension methods) to facilitate scenarios with specific operations such as filtering, grouping and whatnot. My main issue here is that this collection type seems to at least in part be mirroring the same functionality being offered by the `CollectionViewSource` type, and also the fact that this collection ha strong depen

[2020-09-16 00:15] nickrandolph commented on #3321
@Kyaa-dost / @azchohfi  are you able to assist  @TGoodhew with tidying up branches?

[2020-09-16 00:27] Kyaa-dost commented on #3321
@nickrandolph Yes, all clear!

[2020-09-16 00:49] RBrid commented on #3453
@rick-palmsens, thanks for your report. I am afraid we'll need more info to debug this. We'll probably need an entire application's code to repro and not only its XAML markup. Thank you.

[2020-09-16 00:53] RBrid commented on #3438
Removed this bug label since this behavior is by design for this DataGrid control.

[2020-09-16 16:16] Kyaa-dost commented on #3438
@RBrid Thanks! Closing the issue as it seems to be a duplicate and the feature intended by design.

[2020-09-16 16:16] #3438 closed

[2020-09-16 17:42] #3060 closed

[2020-09-16 17:48] michael-hawker commented on #2957
We've removed JSON.NET now for 7.0, so closing this issue.

[2020-09-16 17:48] #2957 closed

[2020-09-16 18:49] Nirmal4G commented on #3440
We can just target what WinUI 3/Project Reunion does!!

[2020-09-16 18:51] azchohfi commented on #3440
@Nirmal4G we absolutely can, on 8.x. This change is for 7.x.

[2020-09-16 18:54] Nirmal4G commented on #3440
So 7.x is not on top of WinUI 3?

[2020-09-16 18:55] DanielGlick45 commented on #3463
@anawishnoff is there any update here? It would be really nice to have this resolved. This is holding us up from writing UITests that use the DataGrid

[2020-09-16 19:03] MarissaMatt commented on #3062
@chingucoding sorry for the delay but I created a new issue to track adding a thickness property. https://github.com/microsoft/microsoft-ui-xaml/issues/3293

[2020-09-16 19:05] azchohfi commented on #3440
No. 7.x is still on OS XAML UWP.

[2020-09-16 20:28] marb2000 commented on #3440
Also, XAML Islands only works on 18362 (1903).

[2020-09-17 01:45] RBrid commented on #3463
I am seeing the same issue using the Windows Community Toolkit's built-in SampleApp (its DataGrid control test page).

Debug screenshot:
![DataGridAccessibilityDebug1](https://user-images.githubusercontent.com/36547063/93409093-f29f0e80-f84a-11ea-82e0-b05cc6fb456c.png)

Release screenshot:
![DataGridAccessibilityRetail1](https://user-images.githubusercontent.com/36547063/93409106-faf74980-f84a-11e

[2020-09-17 14:46] michael-hawker opened #3479 "Look for more opportunities to use x:UId"
We should investigate where we can use/add more x:UId to components for more flexible customization of components/text (or if we've missed any in our resources).

We should also have a test which checks overriding these from the app level as can be done with `GetLocalized` in #3460 and as verified by @vgromfeld.

_Originally posted by @michael-hawker in https://github.com/windows-toolkit/WindowsCo

[2020-09-17 14:47] michael-hawker commented on #3479
@RosarioPulella this could be a good thing to keep an eye on while you're reviewing any other PRs and ramping on the project. Feel free to comment and make suggestions for anything on this Issue, thanks!

[2020-09-17 14:48] #3349 closed

[2020-09-17 14:48] #3449 closed

[2020-09-17 15:30] RosarioPulella commented on #3479
@michael-hawker Sounds good, I'll keep an eye out.

[2020-09-17 17:08] Sergio0694 commented on #3363
Was reading a blog post about the new WinUI-powered Syncfusion controls, and noticed they have a new `DropDownColorPicker` control as well, which conceptually seems very very similar to this one, so I figured I'd mention it.
The link to the blog post is [here](https://www.syncfusion.com/blogs/post/sneak-peek-at-syncfusion-winui-3-preview-controls.aspx), and here's a screenshot of that control in p

[2020-09-17 17:24] robloo commented on #3363
Its always good to see what others are doing! I think the ColorPickerButton has some key design differences that address additional issues (like overall size, separation of functionality, palette, etc.) that makes it a more valuable control at this point. Of course I'm biased 😀

[2020-09-17 19:02] RosarioPulella opened #3480 "System.TypeInitializationException after #3460"
## Describe the bug
After #3460 as merged, when I select any of the samples I get this exception. (In this case `AlignmentGrid`)
### Exception
[code]
### Call Stack
[code]
- [x] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work: 0e2d49ff7

## Steps to Reproduce
Steps to reproduce the behavior:
1. Click 'Controls'
2. Click 'AlignmentGrid' (or any other s

[2020-09-17 19:26] RosarioPulella commented on #3480
I added `var a = ResourceLoader.GetForViewIndependentUse();`
at `Microsoft.Toolkit.Uwp.UI.Controls.dll!Microsoft.Toolkit.Uwp.UI.Controls.GridSplitter.GridSplitter() Line 171`
and got the exception
[code]

[2020-09-18 00:18] oenarap commented on #3284
@michael-hawker I can't go the BladeView route. I do not wish to break lots of stuffs.

[2020-09-18 10:46] h82258652 opened #3484 "[Feature] Faster file and directory operation use api-ms-win-core-file-fromapp-l1-1-0.dll"
## Describe the problem this feature would solve

The storage API is very slow. Take an example, when you call ```StorageFolder.GetItemsAsync``` on a folder which contains lots of files, it will takes very long.

## Describe the solution

Use ```FromApp``` series API in **api-ms-win-core-file-fromapp-l1-1-0.dll** can improve the performance. But these API are both Win32 API, which means we need to

[2020-09-18 16:04] sibille commented on #3433
Reproducing on a different machine with Windows Version 1909 as mvegaca updated his machine.

If I enable all exceptions I get another exception when starting the application before the exception on the Master Detail Page.
![image](https://user-images.githubusercontent.com/24698018/93618741-fd3ade80-f9d7-11ea-8508-6b3d5fc69bb1.png)
but still no stacktrace.

I'm using the following symbol servers:

[2020-09-18 18:01] Kyaa-dost commented on #3484
@h82258652 Thanks for highlighting the issue. Opening the discussion with the team to investigate further and provide any possible resolution.

[2020-09-18 20:27] michael-hawker commented on #3480
Nice catch @RosarioPulella, sorry for the troubles!

[2020-09-18 20:38] #3480 closed

[2020-09-18 22:10] baskren commented on #3461
FWIW:  PR: https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3485

[2020-09-18 22:20] baskren commented on #3461
@michael-hawker

Per your request, here is the repo I used for development, and has a more comprehensive demo app than what I submitted to the PR, so there are some interesting demo pages that show its capabilities.  Also, it's built for the Uno Platform (FWIW).

For reference, here are related links that give background about this control:

* [Documentation submitted with PR](https://github.com/b

[2020-09-20 12:24] HppZ commented on #3124
any update here?

[2020-09-20 18:26] huynhsontung opened #3486 "[Feature] Raw text support for TokenizingTextBox"
## Describe the problem this feature would solve
Currently, `TokenizingTextBox` only accepts tokens. It can be expanded to support raw text as well. With this addition, `TokenizingTextBox` can be used as chat box or comment box where mention feature is available.

## Describe solution
The control will accept raw text like a regular `TextBox`. When a specified token opening signifier is matched (e.

[2020-09-21 05:19] filipwa84 commented on #3073
@RBrid I just had this happen again after not seeing it for months. I managed to replicate it while doing a screen capture.
https://www.youtube.com/watch?v=hC7KdJ2rQdA&feature=youtu.be

[2020-09-21 12:53] Sergio0694 opened #3487 "Inconsistent behavior for [Logical|Visual]Tree extensions"
## Describe the bug

There are a number of inconsistencies in the various extensions in the `LogicalTree` and `VisualTree` extensions. Specifically, in the way input arguments are validated and used to perform the various requested operations. For instance:

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/ca461ca17112c5967730b56f34187d9c5d5cc3ac/Microsoft.Toolkit.Uwp.UI/Extensions/

[2020-09-21 14:54] Sergio0694 commented on #3322
Forgot to update/close this issue, this feature has now been added in #3346 😄🚀

[2020-09-21 14:54] #3322 closed

[2020-09-21 15:36] skendrot commented on #3124
@michael-hawker Have we heard back about this yet?

[2020-09-21 15:48] Sergio0694 commented on #3134
This was fixed in https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3435, closing this 🚀

[2020-09-21 15:48] #3134 closed

[2020-09-21 16:30] Kyaa-dost commented on #3486
@huynhsontung Thanks for the detailed description. Is this something you can work on if approved by the team?

Looping in @marcpems and the team as well for discussion.

[2020-09-21 17:33] RosarioPulella opened #3491 "Exception thrown on "LoginButton" sample."
## Describe the bug
In the sample app, when opening the `LoginButton` sample the app crashes.

- [x] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work: v6.1.0

## Steps to Reproduce
Steps to reproduce the behavior:
1. Run the sample app from visual studio
2. Select the "LoginButtom" sample
3. Exception is thrown.

## Expected behavior
The "LoginButton"

[2020-09-21 17:37] RosarioPulella opened #3492 "Exception thrown on "PersonViewPage" sample."
## Describe the bug
In the sample app, when opening the `PersonViewPage` sample the app crashes.

- [x] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work: v6.1.0

## Steps to Reproduce
Steps to reproduce the behavior:
1. Run the sample app from visual studio
2. Select the "PersonViewPage" sample
3. Exception is thrown.

## Expected behavior
The "PersonV

[2020-09-21 18:42] huynhsontung commented on #3486
@Kyaa-dost Of course. I would love to take a stab at it as I do need this control for my app. I have not looked at the source code for TokenizingTextBox so I can't really tell what to expect.

[2020-09-21 20:08] michael-hawker commented on #3484
@h82258652 what's your specific suggestion/ask for the toolkit? It seems like there's already discussion going on in the WinUI/Reunion threads about this?

[2020-09-21 20:14] michael-hawker commented on #3486
@huynhsontung a lot of the base control code should already support this, as we support having unparsed tokens as text that can be manipulated. This just wasn't one of the core scenarios for this type of usage, so we didn't test or expand making it easier to use in this way.

It's probably a matter of improving a bit of the handling around the token separation and processing of text loaded (as we

[2020-09-21 20:17] michael-hawker commented on #3487
@Sergio0694 I was referring to the Visual/Logic tree helpers before, so appreciate you taking a look. Agree we should be consistent here, I think originally I was thinking the element would never be null as an extension method, but it doesn't mean it can't just be called directly either.

Happy for you to take a stab at working your magic here to optimize and improve these methods. I think we have

[2020-09-21 20:22] michael-hawker commented on #3491
Thanks @RosarioPulella for the Graph Controls I think this is expected due to the complexities in how we build the graph controls, as we reference built assemblies here. They're just currently out-of-date to the changes from the main repo.

We've talked about moving to sub-module references instead, so that could make this easier/streamlined. I think that would fall under some of the work we're pr

[2020-09-21 20:23] michael-hawker commented on #3492
We'll make this a duplicate of #3491

[2020-09-21 20:23] #3492 closed

[2020-09-21 20:25] michael-hawker commented on #3270
We'd also talked about having a sub-module to our documentation repo to make it easier to include/validate docs within the sample app rather than requiring our current 'special' convention.

[2020-09-22 00:13] michael-hawker commented on #3461
Thanks @baskren, so this is based off the Xamarin implementation? Would the goal here also to be for that to then leverage the UWP implementation for UWP apps or are they just going to be separate? Trying to understand all the connections here, thanks! 🙂

[2020-09-22 00:17] #3359 closed

[2020-09-22 01:41] h82258652 commented on #3484
@michael-hawker Oh sorry, I don't describe this clearly. I hope the toolkit can add some IO classes like this:
[code]
Same usage as ```Directory.EnumerateFiles```, the developers can easy replace their codes.
And also the toolkit can improve the performance which used the Storage API (like [this](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI/Cache/

[2020-09-22 12:01] Sergio0694 opened #3493 "Inconsistent naming for singleton properties (Shared|Default|Instance)"
## Describe the issue
A clear and concise description of what the bug is.

We have a bunch of singleton properties in the toolkit, but with inconsistent naming. I'm wondering whether it wouldn't make sense to have them all converge on a single term, to make them more intuitive for developers. Changing the name would obviously be a breaking change, so this seems like a good moment to consider this

[2020-09-22 16:02] RosarioPulella opened #3494 "The light sample animates to the top left corner when opened."
## Describe the bug
On master as of a7f8976, when opening the light animation sample the light animates to the top left. Not sure how serious it is, but It might reveal an issue with the library.

- [x] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work: 6.1.0

## Steps to Reproduce
Steps to reproduce the behavior:
1. Run the Sample App
2. Open the Light

[2020-09-22 16:29] michael-hawker commented on #3493
I see the argument for all the current names, they're all slightly different cases. I think `Instance` is the original we started with which is kind of the standard for the pattern?

I mean I see developers grabbing the instance of `SystemInformation` more than them regularly going to grab the other ones?

So, I'm not sure if I see this as a big problem if we want to keep them separate. It also he

[2020-09-22 16:33] Sergio0694 commented on #3493
Yeah that's a fair point about `SystemInformation` using `Instance`, also because that class is mostly just a collection of info rather than a service-like instance actually doing work on its own like the others (especially eg. `ArrayPool<T>`).

I was mostly thinking about the `Default` for the messengers, and wondering whether there it wouldn't be clearer to use the same `Shared` name as the `Arr

[2020-09-22 16:36] azchohfi commented on #3493
If we change anything, we should deprecate, instruct with a clear warning message, and then delete in a future version. Lets not directly remove any property which would cause a big breaking change and frustration to devs.
I don't mind that much, but agree that consistency would be good. Now... for which one we should pick, that is a complex call hehe
I like ```Instance``` way more than ```Shared`

[2020-09-22 16:41] Sergio0694 commented on #3493
Ah, naming being the most difficult problem in software engineering strikes back 🤣

If we don't want to deprecate/break things here (which is a good point I can agree with!), I guess then the remaining question for now would mostly just be about what to use for `Default` in the messengers? As in, whether to leave that and have a 3rd different name, or to switch them to `Shared` to be at least in l

[2020-09-22 16:44] michael-hawker commented on #3484
Thanks @h82258652 that's much clearer. I thought that might be where you were going with the suggestion, but I wasn't sure.

So, basically the idea would be to replicate the existing UWP API surface, but with the differing implementation underneath to allow for swapping it out with a namespace change and improving performance.

This seems like a bigger undertaking, the first step would be mapping

[2020-09-22 16:50] novinsab opened #3495 "How do I fix an issue with Reflection MissingMetaDataException using UWP Microsoft.Toolkit.Uwp.UI.Extensions FrameworkElement.FindChildByName?"
I am using code-behind to retrieve a FrameworkElement in a UWP app using Uwp.UI.Extensions. It all works great in debug mode but on release mode. I get the following error:

This object cannot be invoked because it was metadata-enabled for browsing only:

**'Windows.UI.Xaml.Controls.TextBlock.Inlines' For more information, please visit http://go.microsoft.com/fwlink/?LinkID=616867 at Internal.Refl

[2020-09-22 17:23] michael-hawker commented on #3392
Hi @sonnemaf, sorry for the delay, missed question on where to put these.

We're thinking as part of our #3062 to move the Behaviors to their own Toolkit package. There's some work to be done still there. Let me look into that, and then we'll have a clear place to put this. 🙂

[2020-09-22 17:44] #3440 closed

[2020-09-22 17:45] michael-hawker commented on #3495
@novinsab it's not complaining about the toolkit function missing, it's complaining about `Windows.UI.Xaml.Controls.TextBlock.Inlines`, did you try adding that to the rd.xml file?

That said, why are you using the tree extensions to grab an element you've already named? If you're in your page code-behind, you can just do `printHeader.Visibility = Visibility.Visible`? Or you could use `x:Bind` to b

[2020-09-22 17:49] novinsab commented on #3495
Thanks for the quick response.

I didn’t add “Windows.UI.Xaml.Controls.TextBlock.Inlines” but I added “Windows.UI.Xaml.Controls.TextBlock” and previously “Windows.UI.Xaml.Controls” with no change. Should I try the full thing and if yes, is this a namespace or an assembly or a type? What should my rd.xml look like?

I have to use tree extensions to grab the control as they reside on a page within t

[2020-09-22 20:43] duke7553 opened #3496 "[Feature] Provide a configurable data source for XAML list controls that implements random access data virtualization"
## Effortless Use of Random Access Data Virtualization
This feature would allow users to easily leverage the [IItemsRangeInfo](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Data.IItemsRangeInfo?view=winrt-19041) and [ISelectionInfo](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.data.iselectioninfo?view=winrt-19041) interfaces for random access data virtualization without havi

[2020-09-22 21:30] michael-hawker commented on #3496
Thanks @duke7553 for the feature idea. I think this is a slightly different scenario than our existing [Incremental Loading Collection](https://docs.microsoft.com/en-us/windows/communitytoolkit/helpers/incrementalloadingcollection), correct?

This is more about these things are already loaded to some degree, but could be 'enhanced' with more details as cycles permit?

Or could this be an extension

[2020-09-22 21:32] michael-hawker commented on #3487
Yeah, think the Gaze usages would be a prime example of scenarios where performance can matter. Not sure if those scenarios can be better optimized independently or require new methods/features to our existing set to better centralize code. Something to look at though.

[2020-09-22 21:36] michael-hawker commented on #3100
Thanks @niels9001, we're just converting the gaze to C# (PR #3427), so that should hopefully help us with working on these in the future and looking into this type of bug.

[2020-09-22 21:41] michael-hawker opened #3497 "[Feature] Improve Toolkit controls support for Gaze"
## Describe the problem this feature would solve
Windows exposes interfaces like `IExpandCollapseProvider` to help with automation. Things like our `Expander` control should implement this interface to help with things like Gaze and other input/accessibility tools.

## Describe the solution
We should evaluate all toolkit components and interfaces and decide which ones would make sense to implement

[2020-09-22 21:42] michael-hawker commented on #3497
I'm not sure when we want to do this work yet, but could be a good spot if anyone with a gaze device wants to help us understand any gaps once we get PR #3427 in and testable with our MyGet packages or a NuGet preview.

[2020-09-22 21:52] baskren commented on #3461
Some background: https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3485#discussion_r492784526

So, this is meant to be independent of the Xamarin.Forms implementation.  Rather, it is meant to give UWP and Uno apps the control that I've found very useful in Xamarin.Forms.

[2020-09-22 23:00] duke7553 commented on #3496
@michael-hawker This would be different from the existing Incremental Loading Collection because it would start out with every item present (perhaps a placeholder or partial storage item) and fire an event when the visible ranges are updated. Rather than loading entirely new item containers when scrolling downwards, they are already present and we would perform an action to update the items in the

[2020-09-22 23:09] michael-hawker commented on #3497
For instance with the Gaze code, if we had an alternate `FindAscendant` method which could take a filter type function (to look for some statement about the item in the tree), we could do something like this:

[code]

vs.

[code]

This could work for a variety of scenarios, for instance looking for a visible or collapsed element, etc... Kind of a broader case than some of our named element finders

[2020-09-22 23:10] michael-hawker commented on #3487
For instance with the Gaze code, if we had an alternate `FindAscendant` method which could take a filter type function (to look for some statement about the item in the tree), we could do something like this:

[code]

vs.

[code]

This could work for a variety of scenarios, for instance looking for a visible or collapsed element, etc... Kind of a broader case than some of our named element finders

[2020-09-22 23:29] michael-hawker commented on #3497
There's definitely an issue with ComboBox for base controls, the cursor doesn't go into the Popup/dropdown and the highlight rectangles don't properly highlight the right items. This worked a bit better in the C++ version, but only with highlighting the ComboBox itself, beyond that it had the same other issues once the dropdown was open. See [discussion here](https://github.com/windows-toolkit/Win

[2020-09-23 00:11] michael-hawker commented on #3496
Thanks @duke7553, we have the [ViewportBehavior](https://docs.microsoft.com/windows/communitytoolkit/helpers/viewportbehavior) too which does some of this, but in a different way. So seems like we'd be looking for an easier to use more general solution for the collection control itself.

Trying to think how this scenario works with `ItemsRepeater` and how we'd differentiate how to use each solutio

[2020-09-23 00:21] duke7553 commented on #3496
@michael-hawker If ItemsRepeater has the same magic under the hood as ListView to support IItemsRangeInfo, than this would work afaik.

[2020-09-23 10:47] sonnemaf commented on #3392
Hi @michael-hawker, no worries I was very busy myself.

I have updated my sample [project](https://github.com/sonnemaf/VoiceCommandsDemo). The SpeechRecognition engine used by the trigger is now pluggable. This makes it way better. It really needs a review. That will come when I create the PR. Hope you find a nice place for this behavior. I think it is very cool.

[2020-09-23 15:00] novinsab commented on #3495
I tried the following in rd.xml but no change:

`
<Directives xmlns="http://schemas.microsoft.com/netfx/2013/01/metadata">
  <Application>

    <Assembly Name="*Application*" Dynamic="Required All" />

    <Namespace Name="Microsoft.Toolkit.Uwp.UI.Extensions" Serialize="Required All" />
    <Namespace Name="Windows.UI.Xaml.Controls.TextBlock.Inlines" Serialize="Required All" />
    <Type Name="Win

[2020-09-23 16:01] duke7553 commented on #3496
@michael-hawker Nope. It looks like the docs claim these interfaces have no effect on ItemsRepeater:
![image](https://user-images.githubusercontent.com/20365014/94038311-47cfa880-fd94-11ea-90f8-862c4d95b0a1.png)

I guess if we need to support the ItemsRepeater, then https://github.com/Microsoft/microsoft-ui-xaml/issues/374 is a pre-requisite for this issue.

[2020-09-23 16:08] michael-hawker commented on #3495
@novinsab can you email `dotnetnative at microsoft.com` with the details? FYI @tommcdon.

Do you still own each page of the app? Can they just all implement a common interface like `IPrintable` and you have a method that returns the content? Then you can grab the page, cast it and have your parent page controlling the content access things that way?

[2020-09-23 17:38] skendrot commented on #3476
I took a look and this is happening because of [this line](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/RangeSelector/RangeSelector.cs#L680)
[code]
For large values performing the `Maximum - newValue` will be less than StepFrequency.
Example: 100 - 90 = 10 which is less than 30.
I removed the or for the else statement and the values go up

[2020-09-23 23:05] skendrot commented on #3473
@hansmbakker Is this functionality available in any websites apps so get an understanding of how it would be used?

[2020-09-23 23:09] skendrot commented on #3470
@Jaiganeshkumaran Is this only an issue with the 7.0 preview builds? Can you provide a sample repo for this?

[2020-09-23 23:15] skendrot commented on #3425
@GSonofNun Did you try creating some attached properties for this? This seems like the easiest solution

[2020-09-23 23:25] skendrot commented on #3416
I just tested this and everything is working fine
![image](https://user-images.githubusercontent.com/1594689/94084042-d0187280-fdc1-11ea-9d0c-cee1cea4343c.png)

[2020-09-23 23:28] skendrot commented on #3360
@michael-hawker Do we still need this issue? The Menu control has been deprecated

[2020-09-23 23:30] skendrot commented on #3348
I just tested with the latest dev build and I cannot reproduce this issue. @chingucoding Can you confirm?

[2020-09-24 04:58] 632575987 commented on #3472
# example code like this: #
[code]
to show a website in the MarkdownTextBlock, I know it supports hyperlink tag, but somethimes to directly show the webcontent is more convenient than click the hyperlink . Otherwise  It's too hard to custumize the MarkdownRenderer for me☹

[2020-09-24 07:20] rick-palmsens commented on #3453
I hope you understand that we cannot simply share our entire proprietary code base.

We also ran into memory leaks involving the DataGrid, so we are going to wait for WinUI and use that DataGrid instead.

[2020-09-24 09:59] sonnemaf opened #3500 "SwipeTriggerBehavior"
## Describe the problem this feature would solve
There is no easy way to detect a swipe interaction in UWP.

## Describe the solution
I think a Behavior could make this much easier. I have created a SwipeTriggerBehavior for this. A demo app including the source and video can be found in this [repository](https://github.com/sonnemaf/SwipeTriggerDemo).

Maybe this is useful for the toolkit.

[2020-09-24 13:58] hansmbakker commented on #3473
@skendrot no I don't, but my use case is to use the `RangeSelector` instances to configure `TimeSpan`s of task executions.
The reason for the custom snapping behavior is that some tasks should
- start at the same time as other tasks,
- start at the time another task ends

The concept is this:
![image](https://user-images.githubusercontent.com/3463496/94154770-8772bf00-fe7e-11ea-99d6-1141e963662d.p

[2020-09-24 14:01] hansmbakker commented on #3473
By the way: If anybody has a better way of editing the timing schema of tasks within a project, I would be curious to hear about it :)

[2020-09-24 14:31] skendrot commented on #3473
Looking at your drawing I'm still confused how this would be handled from the developer of the app. How are those "inside" snapping points determined? They seem to be  random and not correlate to anything else. The first "inside" snapping point seems to be when Task 1 ends? But then from there how are they determined? And then how would they be determined for all four tasks? You would need to impl

[2020-09-24 14:42] hansmbakker commented on #3473
Every `Thumb` value from every `RangeControl` (that is not in `dragging` state) would contribute to a list of snapping values. Every control could be bound to that list.

The `Thumb` being dragged would then snap to the values in that list. Only when the `Thumb` is released, the snapping values list would be updated.

[2020-09-24 14:56] skendrot commented on #3473
Thanks, that makes more sense on how those are handled

[2020-09-24 15:08] skendrot commented on #3284
Looking at the video again I wonder if this is best achieved through triggers based on the available size combined with a RelativePanel forbest display. You should also be able to put a MasterDetailsView as the Details of another MasterDetailsView

[2020-09-24 15:13] skendrot commented on #3259
The mockups by @mdtauk and @shaheedmalik and the Word version all seem like they can be achieved with a tab and menu bars. Is this something we need a full control for?

[2020-09-24 15:18] mdtauk commented on #3259
- Common resize behaviours and layout adjustments;
- Contextual tabs;
- UI Commands;
- Applying altered control templates for controls within a ribbon;
- Consistency between apps and Office;
- Easing of the transition from Win32 to WinUI;
- WPF and MFC parity;

Just a few reasons

[2020-09-24 15:21] shaheedmalik commented on #3259
These three are huge.

[2020-09-24 16:43] XamDR commented on #3259
As I said at the beginning of my post, sure you can you a TabView with a Command/Menu bar, but that's just a workaround and not a real solution. On the other hand, I don't think I have anything to add to what @mdtauk wrote earlier. The last 3 reasons are important enough, IMO, to have a full Ribbon control.

[2020-09-24 18:19] #3317 closed

[2020-09-24 18:25] mysteryx93 commented on #3428
This rewrite of MvvmLight sounds like an excellent idea! We've been left with no official .NET Core support for quite some time. And IMO, this should have been part of the .NET Framework from the start. WPF/UPF development has been a mess because many required bricks were missing and everybody was hacking around it on their own.

If you rethink a minimalistic support, however, I'd like to question

[2020-09-24 18:41] Kyaa-dost commented on #3500
@sonnemaf Thanks for presenting a demo via repo and looks very interesting. Opening the request for discussion with the community members to explore the possibilities of adoption in the toolkit 🙂

[2020-09-24 18:47] Sergio0694 commented on #3428
Hey @mysteryx93 - glad to see your enthusiasm for this project! 😊
This library is indeed positioned to help fill those gaps you mentioned in the BCL, as well as providing basic build blocks for people using MVVM. Since we're going full .NET Standard here, the issue of supporting different runtimes is also indirectly solved by this approach.

That's... Exactly what the messenger is 😄
We're in the p

[2020-09-24 19:44] chingucoding commented on #3348
Closing this as this seems to be fixed now.

[2020-09-24 19:44] #3348 closed

[2020-09-24 20:05] mysteryx93 commented on #3428
My point is... IMO that's a very niche usage that I haven't found a use for yet, and I don't see what it has to do with MVVM either. Perhaps some application can use it, but why is it a core MVVM feature?

WOW! MVVM Docs!?? That would be a nice supplement!!

(in the meantime I found out that there *is* some PRISM doc that can serve to understand MvvmLight)

[2020-09-24 20:19] Sergio0694 commented on #3428
Mmh not sure why that link wasn't working, I've fixed it now (also, it was in the first post in this issue too) 😄

You can argue it's not a part of MVVM per se, yes. But it's still a useful feature to have, especially since it's fully self-contained in the library, so we can include it without having to pull other dependencies in, so there's no cost in doing that. Also, MvvmLight offered that too,

[2020-09-24 20:30] mysteryx93 commented on #3428
I'm also curious about one thing. MvvmLight had a special RelayCommand for WPF otherwise the default one wouldn't work correctly, and this ugly work-around was the only solution they found.

How would this situation be handled by this framework? I think the problem had to do with command enabled/disabled status being properly updated on the UI.

[2020-09-24 23:19] Sergio0694 commented on #3428
So, I've investigated that a bit and also looked at the source for `RelayCommand` in MvvmLight.
I don't think it's possible to offer proper support for WPF in the MVVM Toolkit, no. To be honest, I would argue the solution in MvvmLight isn't ideal either, but I can understand why they did that - it seems the problem is with WPF itself.

Apparently controls in WPF rely on the [`CommandManager`](http

[2020-09-25 02:27] mysteryx93 commented on #3428
There are various things that are frustrating about WPF, like fundamentally-needed features that aren't there and require every user to hack around them -- meaning a SHARP learning curve for every new dev until they develop their own toolkit. After that it goes a lot smoother once the basics are working.

This is just one example of things that are broken or missing in WPF.

I wish WPF was careful

[2020-09-25 09:50] Sergio0694 commented on #3500
The behavior looks pretty handy!
Not sure it should be in the toolkit though, instead of being added to the [XAML Behaviors](https://github.com/microsoft/XamlBehaviors) repo directly? 🤔
I've created a new behavior as well (to support the `ListView.ItemClick` event with commands) and opened a PR there too 👍

[2020-09-25 13:28] sonnemaf commented on #3500
I already created a [PR](https://github.com/microsoft/XamlBehaviors/pull/146) in the [XAML Behaviors](https://github.com/microsoft/XamlBehaviors) repository. It was rejected (closed) because it was a "novelty" behavior, The XAML Behaviors is only for "generic" behaviors.

The toolkit is the best alternative. I also suggested to move all "generic" XAMLs to the toolkit but that idea is also rejected

[2020-09-25 15:32] Sergio0694 commented on #3500
Oh, I didn't know they had decided to restrict the main repo in that sense, this makes sense now 😊

I think this could be a nice addition to the `Microsoft.Toolkit.Uwp.UI.Behaviors` namespace, sure 🚀

[2020-09-25 15:55] novinsab commented on #3495
That would mean changing the whole code for printing.

I would rather implement printing the way it is now which a parent grid is passed onto the main page through the tag and that is picked up by the print function and added as an element to print. Simple and works great.

I'm not sure why it is only happening with pages or grids on certain pages. Could it be because these grids have an adaptive

[2020-09-25 18:06] Kyaa-dost commented on #3500
@michael-hawker thoughts?

[2020-09-25 19:30] michael-hawker commented on #3500
Yeah, I think the main thing with behaviors is we're getting enough now that we probably want them to be split out into their own `Microsoft.Toolkit.Uwp.UI.Behaviors` NuGet package as well so that we don't pull in the Behaviors package for everyone else who may not be using them?

[2020-09-25 19:39] michael-hawker commented on #3428
@Sergio0694 do you know if there was an open WPF issue open on their repo about this scenario? I feel like this is one of those cases where it'd be great if the platform could be improved based on what we've learned moving forward. If anything, it'd at least be good to have something to point to.

[2020-09-25 22:06] chingucoding opened #3501 "[SampleApp] GitHub icon not centered"
The GitHub icon is not centered inside the button:
![image](https://user-images.githubusercontent.com/16122379/94318098-0d2e6180-ff88-11ea-8301-67256c02dad0.png)

Screenshot if from freshly built sample app using latest commit on master branch.

[2020-09-25 22:29] Kyaa-dost commented on #3501
@chingucoding Thanks for highlighting the issue. I am not certain if it was actually intended like this by design or if it's a bug.

Looping in @michael-hawker to shed light on this 💡

[2020-09-26 03:56] tpxxn commented on #3416
I installed the 2004 version of the system in the virtual machine, and it works fine. But on the system upgraded from the old version to the 2004 version, it does not work normally, it seems to be a system bug.

[2020-09-26 15:42] jamesmcroft opened #3502 "Expander control doesn't project Automation ID correctly in UI Automation tree"
## Describe the bug
A clear and concise description of what the bug is.

When providing an Automation ID to the `Expander` control in XAML, it cannot be referenced by that ID within a UI test.

Tooling to read the UI suggests that the `Expander` button shown is the control's root and this has a preset automation ID of `PART_ExpanderToggleButton` provided by the button's name.

This makes it diffic

[2020-09-26 16:17] jamesmcroft commented on #3502
Looking into sorting this by the way. The problem is the lack of an `AutomationPeer`.

[2020-09-26 17:38] Sergio0694 commented on #3428
I've searched for WPF or command related issues in [MvvmLight](https://github.com/lbugnion/mvvmlight) but couldn't find anything specifically about this behavior in the `RelayCommand` classes unfortunately. Also tried git blame to check the commits that added those WPF-specific lines, but they had no issue linked to them. I guess we could ask Laurent if he remembers the conversation/scenario that

[2020-09-27 16:03] jamesmcroft opened #3506 "Carousel control doesn't expose Selection in UI Automation tree"
## Describe the bug
A clear and concise description of what the bug is.

When querying the `Carousel` control using a tool for analyzing the UI Automation tree, the control doesn't expose the currently selected item. This is due to the nature of the inherited `ItemsControl` which doesn't expose properties for the selected item (these have been implemented as part of the custom control).

As the co

[2020-09-28 17:32] michael-hawker commented on #3501
@Kyaa-dost yeah this is a bug. Thanks for filing an issue @chingucoding! Did you want to take a stab at fixing it?

I think it's probably smaller than it used to be too. Not sure what happened here to break this in the past.

[2020-09-28 17:47] chingucoding commented on #3501
I can take a look.

[2020-09-28 18:08] michael-hawker commented on #3496
@duke7553 that's ok, I think we could still figure something out for ListView/GridView. We should just keep an eye on that other issue for ItemsRepeater for the future. 🙂

[2020-09-28 18:12] Kyaa-dost commented on #3501
Thanks, @chingucoding and please let us know when you have it ready. Will test it out 😊

[2020-09-28 18:17] chingucoding commented on #3501
PR's out now (#3508).

[2020-09-28 18:21] Sergio0694 opened #3509 "Refactor pass with Unsafe.NullRef<T> and Unsafe.IsNullRef<T>"
## Overview

Follow up from @michael-hawker's comment here: https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3380#discussion_r485199623

There are places in the toolkit were we have verbose expressions to check for null refs or get null refs, eg:

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/070d69014d8e7e85aa2be2359c0ee564e25b66bc/Microsoft.Toolkit.HighPerformanc

[2020-09-28 22:43] #3501 closed

[2020-09-29 11:55] JeremyFerreira opened #3511 "Latest version of Microsoft.Toolkit.Uwp.UI.Controls is causing errors while running VSTS build"
## Describe the bug

Exactly this error [#2452](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2452), but not quite the same conditions.
Building & Compiling is done via `Visual Studio build` using the `Latest` parameter in version. We're trying to build it in **Release** mode.

Works locally with the same command using `msbuild.exe`.

- [x] Is this bug a regression in the toolk

[2020-09-29 12:22] JeremyFerreira commented on #3511
I can confirm by downgrading every package `Microsoft.Toolkit.` to `6.0.0`, the build passes without any error.
I did try to downgrade only some of them, but I think there is some dependencies that won't allow this to work.

[2020-09-29 16:46] michael-hawker commented on #3511
Thanks @JeremyFerreira for the initial investigation. Last time in the linked issue, it was due to dependencies on the `Microsoft.NETCore.UniversalWindowsPlatform` package version updated in [this commit](https://github.com/windows-toolkit/ColorCode-Universal/commit/e9a715d148c2ab499929d95f2154c297bf550a9d). But that was in the Color Code project.

The media package was updated in 6.1 with some ne

[2020-09-29 17:01] michael-hawker commented on #3502
Thanks @jamesmcroft for finding these issues and taking a look at them! Much appreciated. 🦙❤

I've assigned it to you for tracking.

[2020-09-30 08:20] JeremyFerreira commented on #3511
@michael-hawker As this is a company project, I cannot test out anything without getting into trouble. I only try to upgrade our NuGet packages to the latest available (non-preview) version.

[2020-10-01 15:19] RosarioPulella opened #3514 "Binding fails for `TextBox` with a `Mask` bound to the `Text` of another `TextBox` using `Binding`."
## Describe the bug
When a `TextBox` with a `Mask` is bound to the `Text` from another `TextBox` using `Binding` It does not load showing the target value.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Use `Binding` to bind the `Text` from a `TextBox` with a `TextBoxMask.Mask` to a `

[2020-10-02 16:11] AbdAlghaniAlbiek opened #3516 "DropDownShadow doesn't reponse to CornerRadius property"
When I add DropDownShadow control to a control like rectangle then I make rectangle's corners more rounded the shadow stay with sharp corner to solve that I saw CornerRadius property that introduced in October update in DropDownShadow properties, and when I give values to CornerRadius property nothing change (shadow stay with sharp corners)

App min and target version:
- [Min] October 2018 Update

[2020-10-02 16:47] Kyaa-dost commented on #3516
@AbdAlghaniAlbiek Thanks for highlighting the issue! Not certain if this is a bug or there is anything that perhaps is required to make this work. Let's see if any devs can shed light on this 💡

[2020-10-03 14:26] jamesmcroft opened #3517 "BladeView isn't exposed correctly in UI Automation tree"
## Describe the bug
A clear and concise description of what the bug is.

When querying the `BladeView` and `BladeItem` controls using a tool for analyzing the UI Automation tree, the hierarchy of the UI is not rendered correctly making it difficult to automate UI tests.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

NuGet Package(s):

- Uwp.

[2020-10-04 21:55] hansmbakker opened #3519 "[Question] how to show added children in grouped collection // workaround for ObservableGroup immutable key restriction?"
I'm trying to build an app that allows modifying a grouped collection (nested `ObservableCollection`) in a `ListView`. I am showing the grouped collection in the `ListView` using a `CollectionViewSource`.
I am not yet using the `ObservableGroup` / `ObservableGroupedCollection` yet, my question is whether they are a viable option.

I would like to achieve the following:
- edit the group names
- edi

[2020-10-05 08:25] Poopooracoocoo opened #3521 "Drawing with finger on InfiniteCanvas is really slow and glitchy"
## Describe the bug
A clear and concise description of what the bug is.
Drawing with finger (and probably pen too) on InfiniteCanvas is really slow and glitchy

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to InfiniteCanvas sample control
2. Tap on draw with finger
3. draw

## Exp

[2020-10-05 17:07] Kyaa-dost commented on #3521
@Poopooracoocoo working fine for me and without any glitches. Can you screen record and send it as a gif so we can see exactly what you are seeing?

[2020-10-05 17:14] Kyaa-dost commented on #3519
@hansmbakker that's a good question. Let me loop in the team and see if anyone will be to assist you with this or tell you if it's feasible with ObservableGroup or ObservableGroupCollection.

[2020-10-05 17:27] hansmbakker commented on #3519
Thank you!
As a workaround, I see this probably can be built with nested `ListView`s, or with a custom `ItemsRepeater`, but I was wondering what the "proper" way of doing this is.
So I'm curious to hear what they will say.

[2020-10-05 17:33] hansmbakker commented on #3519
Also, maybe good to mention @vgromfeld who created these types originally :)

[2020-10-05 18:21] arcadiogarcia opened #3523 "The ! operator for ExpressionBuilder BooleanNodes always throws"
## Describe the bug
Trying to use the BooleanNode ! operator, e.g.:

[code]

always results in the following exception being thrown:

I looked at the implementation and

- ExpressionNodeType.Not is defined as a OperationType.Operator in ExpressionFunctions.cs
- ExpressionNode.ToExpressionStringInternal has code to check that every node of type OperationType.Operator has exactly 2 params
- The impl

[2020-10-05 18:32] arcadiogarcia commented on #3523
(If this is indeed a bug and we need to add different OperationType values for Operations of different arity so we can do the appropriate check in each case, or just need to add a special case for this operator, I'm happy to send the fix once I get confirmation that this is indeed a bug)

[2020-10-05 22:39] Kyaa-dost commented on #3523
@arcadiogarcia This is an interesting scenario. I am going to open the discusssion with the team and if anyone can confirm you can then proceed with the fix 🚀 If not then hopefully we have a possible solution.

[2020-10-06 04:51] Poopooracoocoo commented on #3521
@Kyaa-dost
![xxXYbIyx97](https://user-images.githubusercontent.com/51363864/95160222-b9274680-07eb-11eb-8dd8-7a041747ebe5.gif)

you can't see the glitches in the recording

[2020-10-06 07:29] vgromfeld commented on #3519
@hansmbakker `ObservableGroup<TKey, TValue>` seems to be a good choice since it provides *almost* all you need.
The only missing part is to make the `ObservableGroup<TKey, TValue>.Key` property mutable.
This should be easy to change. `ObservableGroup<TKey, TValue>` is already inheriting from `INotifyPropertyChanged` so if you change the `Key` property to read/write, you can directly raise the prop

[2020-10-06 10:39] hansmbakker commented on #3519
@vgromfeld thank you for your response!

Are you suggesting to modify the classes in the WCT?

If so, I was wondering whether the read-only setting was meant for a particular requirement or behaviour?

[2020-10-06 11:48] vgromfeld commented on #3519
@hansmbakker Yes, you can modify the toolkit classes.

The `Key` property is read-only because I didn't need it to be writable when I implemented it 😁.

[2020-10-06 13:01] niels9001 opened #3525 "[Add Test] Unhandled exception when gazing at Flyout"
## Describe the bug
Whenever I use a gazetracker and 'gaze' at a Flyout, the application crashes.

Simple project that shows the bug:
https://github.com/niels9001/UWPGazeFlyoutBug

Error:
![image](https://user-images.githubusercontent.com/9866362/95203772-7b262480-07e3-11eb-8417-3688dd05edbf.png)

## Steps to Reproduce
Steps to reproduce the behavior:
1. Create a new project, and add a normal butt

[2020-10-06 16:16] michael-hawker commented on #3523
Yeah, I'm not too familiar with this part of the library. Looks like @skendrot brought it over originally?

@JustinXinLiu have you used these before? @Sergio0694 does this relate to things you've been doing in your animation stuff as well?

[2020-10-06 16:24] michael-hawker commented on #3521
@Poopooracoocoo thanks for the report, but we're unable to reproduce this.

Can you share a few more details about your configuration and hardware of your device?

Are your graphic drivers up-to-date as well?

Do you notice any issues with the `InkCanvas` sample in the `XAML Controls Gallery` app as well?

[2020-10-06 16:26] michael-hawker commented on #3519
@hansmbakker thanks for raising the issue, did you also want to submit a PR for this change?

[2020-10-06 16:31] Sergio0694 commented on #3523
@michael-hawker Do you mean in the animation APIs in the `UICompositionAnimations` library? If so, then no that's not really related as I'm not using expression animations there - my APIs are just wrappers for either XAML (`Storyboard`-based) or composition animations. As for the other animation I've added in the toolkit (the one for the `ScrollViewer` manipulation set), that's using expression an

[2020-10-06 16:40] michael-hawker commented on #3516
@AbdAlghaniAlbiek can you provide more details on the XAML you're using? Screenshots are helpful too. As well as a mock-up of what you're expecting.

Generally, you should use `RadiusX` and `RadiusY` on the Rectangle within the `DropShadowPanel` in order to round the corners OR the `CornerRadius` of the inner control, not the `CornerRadius` property of the DropShadowPanel itself.

`CornerRadius` i

[2020-10-06 16:47] michael-hawker commented on #3511
@JeremyFerreira is this a MAX_PATH issue or something? Is it possible to try and build your project and use nugets from another location that's closer to the root of the drive? Would be good to at least rule that out as a possibility?

Can you also clarify about where it's succeeding and failing in VS/msbuild?

Does it also work locally in VS? It's only failing in your pipeline with msbuild?

And

[2020-10-06 17:56] jamers99 commented on #3463
Our company has a very high interest in making this work in Release. @DanielGlick45 and our team will be looking into fixing this. Any help would be greatly appreciated! Thanks for the tips @RBrid.

[2020-10-06 18:03] #3335 closed

[2020-10-06 18:31] Poopooracoocoo commented on #3521
No issues with the InkCanvas in XAML Controls Gallery or any other apps that let you ink that use XAML or WinUI, namely Inkodo. There's also MS Whiteboard but that is a little weird. I don't think it's WinUI. Anyway, the inking experience is fine there too. This bug doesn't affect _my_ inking.

My graphics drivers are up to date. I have a fast, recent laptop.

[2020-10-06 18:34] RBrid commented on #3463
One of our automation gurus provided this info that could be helpful: "I do not see that exact result, but I would check DataGridRowsPresenter and its functionality to return children.

From a very quick look, it looks like GetChildren of the row presenter (DataGridRowsPresenter) does not return any children? Quite likely the bug is due to that, the data items inside the grid fall back to the wind

[2020-10-06 20:03] hansmbakker commented on #3519
Looking at it in more detail now, I see that the `ObservableGroup` and `ObservableGroupedCollection` types are `sealed`.

I want to base two viewmodel types on them, but because of them being `sealed` I cannot extend them.

Were there any design considerations to add this restriction?

[2020-10-06 20:59] hansmbakker commented on #3519
@michael-hawker I'm providing https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3526 as-is: I'm willing to contribute the changes that unblocked me, and I updated the documentation for it, but I feel not confident in changing the larger picture of this as I am not aware of design considerations that were there when these classes were added.

For example I left `ObservableGroupedColle

[2020-10-06 21:10] arcadiogarcia commented on #3523
Yes, in that example inverting the condition is a valid workaround. That was just a simple repro though, in real scenarios like mine where the input is a preexisting boolean node you need to be a bit more creative and do things like:

Which basically reimplements the ! operator in a less-than-ideal way using the available operations.

[2020-10-07 08:18] niels9001 commented on #3525
@michael-hawker where can I find it and how do I add it to my project :)? Can't seem to find anything in the docs.

[2020-10-07 13:14] #3519 closed

[2020-10-07 16:12] JeremyFerreira commented on #3511
@michael-hawker

I do not have the rights to change anything on the pipeline.
The path itself (` C:\windows\ServiceProfiles\NetworkService\.nuget\packages\microsoft.toolkit.uwp.ui.controls\6.1.1\lib\uap10.0.16299\Microsoft.Toolkit.Uwp.UI.Controls.pdb`) doesn't look that long (153 char). In the documentation, [they state that the max default is 260](https://docs.microsoft.com/en-us/windows/win32/fi

[2020-10-07 18:07] DanielGlick45 commented on #3463
@RBrid. A few things I have found...
1. I am not seeing a method GetChildren on DataGridRowsPresenter.
2. I noticed is that in Accessibility Insights if I listen to events and click on a row I see the DataGrid in the list of events getting focus
3. In accessibility insights, if I find the row (or data item as it shows in Accessibility Insights), the SelectionItemPatter.SelectionContainer is the da

[2020-10-07 21:28] michael-hawker commented on #3511
I'm not surprised about the media package, as that doesn't have any other dependencies on toolkit packages.

The main thing we changed that I think could be related between 6.0.0 and 6.1.0 is switching from full to portable PDBs:

![image](https://user-images.githubusercontent.com/24302614/95387563-bdb03580-08a5-11eb-825e-dee2b4161d92.png)

@azchohfi @clairernovotny any thoughts here on what might

[2020-10-07 23:30] Sergio0694 commented on #3428
Opened a new (draft) PR with changes for the MVVM Toolkit Preview 4 (or final release, not sure), it's #3527.

I've updated the first post in this issue with a link to that, and I'll be reporting all new changes there as well so that it'll be easy to check the progress of the new PR, as we did for the Preview 3. Feel free to leave any commends or feedbacks in this issue! 😄

[2020-10-08 20:34] michael-hawker commented on #3393
@ForerunnerG34 I think we need to take a step back here, I'm having trouble following the discussions here and in the PR and understanding the root of the issue.

_Can you expand the original report and describe (in XAML or code) what you were trying to customize in step 2 that you saw not working?_

As I think that's the part where we're missing the connection. I think you're saying it's not cust

[2020-10-08 21:02] michael-hawker commented on #3521
Yeah, this is very odd @Poopooracoocoo as for that we should still just be using `InkCanvas` which should just behave the same way as the XAML Controls Gallery.

May be easier to understand with a video showing the interaction with the device, but if we can't reproduce, we can't resolve the issue.

Are you able to reproduce building and debugging the sample app locally? If so, it could be handy to

[2020-10-08 21:06] michael-hawker commented on #3523
@arcadiogarcia to clarify, I believe you're hitting this exception code, correct?

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/5e030db32da16715696d1b18bf54127760b288e3/Microsoft.Toolkit.Uwp.UI.Animations/Expressions/ExpressionNodes/ExpressionNode.cs#L496-L500

Is this just a case where `Not` was improperly defined as an Operator instead of a Function?

[2020-10-08 21:08] michael-hawker commented on #3525
@niels9001 we actually just shipped a NuGet preview, so you can test this out with the `7.0.0-preview3` NuGet package, just make sure to check 'include pre-release' when searching from the NuGet package manager in VS. 🙂

We should be moving our feed soon from MyGet, so we'll be sure to put updated guidance for testing nightly bits in our new wiki guides too.

[2020-10-08 21:25] arcadiogarcia commented on #3523
@michael-hawker Yes, that is the exception I'm hitting.

At a quick glance it seems that if we declare Not as a Function then ToExpressionStringInternal would do the right thing, but I think that is fortuitous and only happens because both functions and the Not operator use a prefix notation, and the extra parentheses that the "function call" adds do not cause any side-effects.

Maybe adding a new

[2020-10-08 21:41] RBrid commented on #3463
@DanielGlick45, sorry for the confusion, he was talking about automation peer children, as in DataGridRowsPresenterAutomationPeer's returned children.  Is DataGridRowsPresenterAutomationPeer.GetChildrenCore() returning children representing the rows?

[2020-10-09 00:10] DanielGlick45 commented on #3463
@RBrid, do you have any tips for debugging this in release mode? I am finding that it is very difficult to get consistent debugging in release. Debug is fine, but in release I set breakpoints and it doesnt always hit them, sometimes the breakpoints are disabled with a warning like "No symbols have been loaded for this document", just different things like that.

Anyway. GetChildrenCore on DataGrid

[2020-10-09 02:05] Poopooracoocoo commented on #3521
I have no idea how to build and debug it. Guess what happened when I installed Windows Toolkit today? I couldn't reproduce it! Either a fix landed, which is unlikely, or this just fixed itself.

[2020-10-09 02:05] #3521 closed

[2020-10-09 15:52] michael-hawker commented on #3521
@Poopooracoocoo glad you've been unblocked, but very odd that it just resolved itself, I don't think we've touched this code in the past little bit.

If you find any more details or notice if it happens again in certain circumstances, please let us know!

[2020-10-10 01:10] #3393 closed

[2020-10-10 01:15] ForerunnerG34 commented on #3393
I'm closing or request closing this issue for two reasons:

1. I couldn't find a way yet to use themed resources with the Color class. Even if the shipped code already has hardcoded values, I agree is not the best way.
2. At the end, there is a workaround for the header colors, instead of just overwriting the Brush, you have to overwrite the Background color and change the SolidBrush to Color clas

[2020-10-10 14:29] Sergio0694 opened #3528 "ImageEx.CornerRadius property not working anymore"
## Describe the bug
The `ImageEx.CornerRadius` property is no longer working.
Setting that doesn't change how the image is displayed - no matter its value the image is always just a square.

- [X] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work: `6.1.1`

## Steps to Reproduce

- [X] Can this be reproduced in the Sample App?

Steps to reproduce the beh

[2020-10-13 18:28] michael-hawker commented on #3528
Nice catch, thanks @Sergio0694!

Were there any other controls we were doing this on? (I'm guessing not, but could be good to check for new properties we've overridden).

[2020-10-14 19:44] alisaesh commented on #3463
@RBrid Is the expected behavior of the datagrid to find the row in Accessibility Insights when you hover over the row or do you have to click the row to be able to find it?

[2020-10-14 20:57] Sergio0694 commented on #3528
@Sergio0694 Did a solution-wise search and didn't find anything, so I think we should be good 😄

[2020-10-15 17:33] alisaesh commented on #3463
A few observations from debugging:
I seems as though it doesn't find the row at all in release unless you click into it. I tried to click into a row in a UI test in release and the test can't find the row. It would appear that you need to be able to hover over the row and find it to be able to use it in UI tests. As @DanielGlick45 stated, DataGridRowsPresentor.GetChildrenCore() as far as I can tel

[2020-10-15 18:34] alisaesh commented on #3463
@jamers99 Enabling .NET Native in debug does reproduce the issue.

[2020-10-15 19:27] #3528 closed

[2020-10-19 07:47] niels9001 commented on #3525
@michael-hawker I can confirm that using 7.0.0-preview3 solves the issue 👍 .

[2020-10-19 19:07] Tominator-T1000 commented on #3072
@anawishnoff I have been hoping to get more involved in the community so I may try to pick this up. I did try a while back but had issues getting the codebase to build. I may give it another shot when I have some free time.

[2020-10-19 19:21] jamers99 commented on #3463
@RBrid see @alisaesh's comment. Looks like this issue is entirely in the .NET Native Compiler. Who should we reach out to? How do we reach out? If there are logs or dumps needed, we should be able to help out, but for now, our team is not working on this anymore.

[2020-10-19 20:52] michael-hawker commented on #3525
Thanks @niels9001 that's great!

@RosarioPulella I'm going to leave this open for now in case we can figure out how to mimic Gaze inputs for our integration tests later. This could be a good scenario to try setting up with the repo, having a test to exercise it, and then seeing it work on the latest code-base.

It can be a lower priority for now though, since I know we're trying to still figure ou

[2020-10-19 22:24] tommcdon commented on #3463
Hi! To help us investigate the .NET native issue, please send us an [ILC repro](https://github.com/dotnet/core/blob/master/Documentation/ilcRepro.md) to dotnetnative@microsoft.com.  This should give us what is needed to investigate next steps.

[2020-10-20 18:36] jp-weber opened #3535 "Microsoft.Toolkit.Uwp.UI.Controls 7.0.0-preview3: Missing MarkdownTextBlock"
## Describe the bug
With the version 7.0.0-preview3 the MarkdownTextBlock is missing in Microsoft.Toolkit.Uwp.UI.Controls. To #3062 the package should actually be moved to a separate package, but this cannot be found.

## Screenshots
If applicable, add screenshots to help explain your problem.
![grafik](https://user-images.githubusercontent.com/10946850/96629313-bceeb900-1313-11eb-8f38-65115ac2d04

[2020-10-20 20:11] tombarry25 opened #3536 "MemoryStream.ValidatePosition throws when Position == length"
If you read to the end of the MemoryStream, Position == length.  If you then try to
call mstrm.Postion = mstrm.Position, it throws an ArgOutOfRangeException

[code]

In MemoryStream.cs, should probably be '>' rather than '>=' to be consistent with the behavior of other streams

[code]

NuGet Package(s): microsoft.toolkit.highperformance

Package Version(s): v6.1.1

Windows 10 Build Number:
- [ ] F

[2020-10-21 01:19] jamers99 commented on #3463
@alisaesh is this something you could do for @tommcdon?

[2020-10-21 17:56] Kyaa-dost commented on #3535
@jp-weber did you try to fix the error where it's asking you might be missing an assembly reference?

[2020-10-21 18:06] Kyaa-dost commented on #3536
@tombarry25 Can you please provide detailed information and expected behavior? Screenshots/gifs are highly recommended. Thanks!

[2020-10-21 19:56] Kyaa-dost commented on #985
Closing this issue for now as there is no clarity regarding the need in the updated toolkit.

[2020-10-21 19:56] #985 closed

[2020-10-21 20:43] Kyaa-dost commented on #908
Closing this issue for now as there is no clear status and not certain if we need this now in the toolkit.

[2020-10-21 20:43] #908 closed

[2020-10-21 21:39] Kyaa-dost commented on #1790
@jefhai if you still want to work on this feature please let us know.

[2020-10-21 21:48] jefhai commented on #1790
@Kyaa-dost I’m going to give it some thought. I’ll post back here

[2020-10-21 21:50] Kyaa-dost commented on #1460
Closing this issue for now as there is clarity and due to the limitation of the feature mentioned above.

[2020-10-21 21:50] #1460 closed

[2020-10-21 22:05] tombarry25 commented on #3536
Hello Kyaa,

Not sure what else I can provide.  The issue I entered has code to reproduce the error and even where I think the problem might be.

So, unlike other streams, you are unable to set the Position of the Microsoft.Toolkit.HighPerformance.Streams.MemoryStream equal to its Length.  You also are unable to seek to the end of the stream either.  Both throw an out of range exception.

The snip

[2020-10-21 22:14] Kyaa-dost commented on #2498
This was merged #2499

[2020-10-21 22:14] #2498 closed

[2020-10-21 22:44] chingucoding opened #3537 "RadialGauge sample does not load when opened while narrator open"
## Describe the bug
A clear and concise description of what the bug is.

When opening the RadialGauge sample page while narrator is open, the sample does not load and the XAML sample code reports an error.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [x] Can this be reproduced in the Sample App? (Either in a sample

[2020-10-21 23:04] chingucoding opened #3538 "RangeSelector does not announce value changes when changing thumb position with arrow keys"
## Describe the bug
A clear and concise description of what the bug is.

When using RangeSelector with narrator, pressing left/right arrow key changes the thumb value, however users are not being updated on the new value of the thumb.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [x] Can this be reproduced in the Sa

[2020-10-21 23:33] chingucoding opened #3539 "RadialGauge: Pressing arrow key crashes app while narrator is on"
## Describe the bug
A clear and concise description of what the bug is.

When pressing arrow keys while focusing a RadialGauge and narrator is turned on, the sample app crashes.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [x] Can this be reproduced in the Sample App? (Either in a sample as-is or with new XAML past

[2020-10-21 23:40] chingucoding opened #3540 "TextToolbar contains option "Strikethrough" twice though one is actually option "italic""
## Describe the bug
A clear and concise description of what the bug is.

The TextToolbar in the sample app has two buttons that announce themselves as "strikethrough", though one of them is actually the option "italic".

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [x] Can this be reproduced in the Sample App? (Eith

[2020-10-22 01:42] Kyaa-dost commented on #3540
@chingucoding I was able to reproduce all the issues you opened today #3539 #3538 #3537 Kudos to you for finding and highlighting these issues 🙌 If you want to work on any or all the issues feel free to create a single PR and we can merge them all together. Let us know if it's possible.

[2020-10-22 08:25] AtosNicoS opened #3541 "No release tag for 6.1.1"
Version 6.1.1 is available on nuget, but it is not tagged here. Also there is not changelog because of the missing tag (or I could not find one)

[2020-10-22 08:28] chingucoding commented on #3540
Sure, I'll work on all four of them.

[2020-10-22 15:07] chingucoding commented on #3540
I can't repro this specific issue with the text in debug builds of the sample app, so I think this was fixed. Or are there any differences between the store version and the debug builds of the app? (Closing this issue in the meantime)

[2020-10-22 15:07] #3540 closed

[2020-10-22 17:14] chingucoding commented on #3538
It seems that this issue and #3537 are both being caused by deriving from RangeBase and providing a custom AutomationPeer. See  [this WinUI issue](https://github.com/microsoft/microsoft-ui-xaml/issues/3467) for more context. From what I can tell, the only way to handle this is to not derive from RangeBase and implement the necessary logic yourself. Is that an acceptable response to that?

[2020-10-22 17:15] chingucoding commented on #3539
It seems that this issue and #3537 are both being caused by deriving from RangeBase and providing a custom AutomationPeer. See  [this WinUI issue](https://github.com/microsoft/microsoft-ui-xaml/issues/3467) for more context. From what I can tell, the only way to handle this is to not derive from RangeBase and implement the necessary logic yourself. Is that an acceptable response to that?

[2020-10-22 17:49] chingucoding opened #3542 "RadialGauge: Changing value does not announce changes to Narrator"
## Describe the bug
A clear and concise description of what the bug is.

When using arrow keys to change the value of a RadialGauge control, the narrator is not being updated on the new value.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [x] Can this be reproduced in the Sample App? (Either in a sample as-is or wit

[2020-10-22 17:50] jp-weber commented on #3535
@Kyaa-dost  As already mentioned, with version 7 markdown should be moved from the normal control package to a separate one. However with preview 3, there seems to be no package available at the moment. At the old preview 2 markdown is in the control package.

[2020-10-22 18:27] Kyaa-dost commented on #3542
@chingucoding Is this also related to #3539 #3537?

[2020-10-22 18:29] Kyaa-dost commented on #3542
@chingucoding also do you want me to assign these issues to you since you mentioned you will be working on them?

[2020-10-22 18:29] chingucoding commented on #3542
No, this is a separate bug as the RadialGauge automationpeer does not handle value changes.

Yes, sure feel free to assign the issues to me.

[2020-10-22 18:31] Kyaa-dost commented on #3542
@chingucoding Thanks for the clarification and it makes sense ❤️

[2020-10-22 19:13] Kyaa-dost commented on #3541
@AtosNicoS Correct it isn't tagged here because the latest major release we have is [v6.1](https://github.com/windows-toolkit/WindowsCommunityToolkit/tags). v6.1.1 does not count as a major release and was a patch therefore the tag is not listed among all the major releases. There is a [rel/6.1.1](https://github.com/windows-toolkit/WindowsCommunityToolkit/tree/rel/6.1.1) branch that you can utiliz

[2020-10-22 19:41] michael-hawker commented on #3541
Thanks for the issue @AtosNicoS, our GitHub integration with our release pipeline has been broken as well, so we've done everything manually for a while and we haven't generated notes for our patches (as it's usually just fixing something that was causing something not to work the way it was intended - like causing a build failure when being consumed).

It's on our list of things to fix for our up

[2020-10-22 19:44] michael-hawker commented on #3536
@Sergio0694 this one's for you! 🙂

[2020-10-22 19:48] michael-hawker commented on #3535
@jp-weber sorry for the troubles, we had issues with our last push to NuGet with this package and then discovered problems with the package due to the new Smoke Tests we're trying to add in #3450.

We unfortunately haven't resolved the issue yet for that though, we're trying to track down why that test is now failing with this package and have to do some more investigations.

We just setup new [pr

[2020-10-22 20:11] Sergio0694 commented on #3536
Hey @tombarry25, thanks for the detailed issue and repro, and for spotting the bug! 😄

You were absolutely correct, the stream shouldn't throw an exception when seeking to the end.
Added a fix and a new unit test including the repro you provided, along with further validation for other seeking APIs.

[2020-10-22 20:13] tombarry25 commented on #3536
Sounds good.  Thanks for the quick turnaround.

From: Sergio Pedri [mailto:notifications@github.com]
Sent: Thursday, October 22, 2020 3:12 PM
To: windows-toolkit/WindowsCommunityToolkit <WindowsCommunityToolkit@noreply.github.com>
Cc: Barry, Tom <Tom.Barry@magnetar.com>; Mention <mention@noreply.github.com>
Subject: Re: [windows-toolkit/WindowsCommunityToolkit] MemoryStream.ValidatePosition throws

[2020-10-22 20:46] chingucoding commented on #3538
So there seems to be a small issue with providing a good way to use this control through UIA. There doesn't seem to be a [pattern](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.automation.peers.patterninterface?view=winrt-19041) that does exactly what this control does, the closest would be RangeValue, but that isn't really a good choice here.

So raising a property changed on the Range

[2020-10-22 21:30] jp-weber commented on #3535
Many thanks for the explanation. No need to apologize for it. I just found it confusing at this point what the plan with the markdown control looks like.

I looking forward to the release of version 7 👍

[2020-10-22 21:30] #3535 closed

[2020-10-23 03:09] Kyaa-dost commented on #3244
Assuming the issue might have been resolved as we have requested a response repeatedly. Closing this issue for now as there has been no clarity provided by the author.

[2020-10-23 03:09] #3244 closed

[2020-10-23 03:26] Kyaa-dost commented on #2971
Closing this issue as it seems out of the scope of the project and due to the lack of SDK support to the phones.

[2020-10-23 03:26] #2971 closed

[2020-10-23 03:34] Kyaa-dost commented on #2884
@HHChaos I know it's been a while since you have mentioned this and seems like a great feature to me. Is this something you can work on and submit a PR?

[2020-10-23 03:51] Kyaa-dost commented on #2713
@sonnemaf I know it's been a while and thanks for suggesting this feature. Are you still willing to work on this feature if the community finds it suitable?

[2020-10-23 03:55] Kyaa-dost commented on #2704
@zhuxb711 It's been a while and seems like the issue might be related to WebView control but I was wondering if the issue is still persistent?

[2020-10-23 03:57] zhuxb711 commented on #2704
@Kyaa-dost  I haven't used WebView for a long time, so I am not sure if this problem still exists

[2020-10-23 04:08] Kyaa-dost commented on #2704
@zhuxb711 I am not able to reproduce this on my end so assuming it could be a temporary glitch or have occurred in the past due to other systematic issues.

[2020-10-23 04:30] Kyaa-dost commented on #2704
Going to close this issue for now. Let us know if it occurs again.

[2020-10-23 04:30] #2704 closed

[2020-10-23 07:04] sonnemaf commented on #2713
Yes I am sure.

[2020-10-23 17:31] Kyaa-dost commented on #2933
Closing this issue as it was discussed and answered by the community.

[2020-10-23 17:31] #2933 closed

[2020-10-23 17:36] Kyaa-dost commented on #2879
Closing this issue for now as the possible solutions were provided by the community members.

[2020-10-23 17:36] #2879 closed

[2020-10-23 17:55] Kyaa-dost commented on #2123
@rvinothrajendran any update on this one?

[2020-10-23 18:43] michael-hawker commented on #2933
Also wanted to link to #3106 which is the issue tracking making a version of the Toolkit which works on top of WinUI 3.

[2020-10-23 23:10] chingucoding opened #3545 "Sample App: Sample code errors are hard to read"
## Describe the bug
A clear and concise description of what the bug is.

Errors in the XAML Sample are hard to read as the background-red does not work well with text:

![Image showing hard to read text](https://user-images.githubusercontent.com/16122379/97060991-92139780-1595-11eb-9e26-a9e81e28dda8.png)

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see

[2020-10-24 03:01] rvinothrajendran commented on #2123
Sorry , am not

[2020-10-26 17:20] #3536 closed

[2020-10-26 17:45] Kyaa-dost commented on #3545
@chingucoding Thanks for highlighting the issue. Are you going to be creating a PR for this?

[2020-10-26 18:03] chingucoding commented on #3545
Unfortunately, I don't have enough knowledge of the markdown renderer, so I'll gladly leave this issue to someone who is familiar with that.

[2020-10-26 18:58] yoshiask commented on #3062
Is 17763 going to be the final min SDK version for 7.0?

[2020-10-26 19:40] Kyaa-dost commented on #3545
@chingucoding No worries. Will see if any other developers can pick this up.

[2020-10-26 21:04] michael-hawker commented on #3062
@yoshiask Yup, 17763 (1809) is the min version we'll be using for 7.x.

[2020-10-27 11:36] huwpascoe opened #3546 "ListDetailsView navigation data loss"
## Describe the bug
MasterDetailsView, navigation events are processed in incorrect order resulting in data loss for controls that use **{x:Bind UpdateSourceTrigger=LostFocus}** type binding.

## Steps to Reproduce
[code]
[code]

## Expected behavior
MasterDetailsView
1 ItemSelected
2 LostFocus => {x:Bind} saves data
3 Navigate

## Actual Behavior
1 ItemSelected
2 Navigate => unsaved data overwrit

[2020-10-27 15:45] Kyaa-dost commented on #3546
@huwpascoe Thanks for highlighting the issue. Do you want to work on it and create a PR?

[2020-10-27 16:02] michael-hawker opened #3547 "[Feature] Add .vsconfig file"
## Describe the problem this feature would solve
The [vsconfig](https://devblogs.microsoft.com/setup/configure-visual-studio-across-your-organization-with-vsconfig/) can help folks pulling down the repo install dependencies.

[2020-10-27 16:08] michael-hawker commented on #3545
This color is defined by the lines of code here:

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/a47305cbaea5cfeb8ecdfd8c74e2570b86ed26e2/Microsoft.Toolkit.Uwp.SampleApp/Controls/XamlCodeEditor.xaml.cs#L124-L127

If I remember the contrast may be alright on light theme, but we probably need to make this theme aware using our [ThemeListener](https://docs.microsoft.com/en-us/windows

[2020-10-27 16:22] michael-hawker commented on #3546
Yeah, tested with a WinUI TabView and that works as expected. I imagine it has something to do with how we update the selected item and update the presenter from the selection somewhere here?

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/90871947640ccc1622ca9328c2c78aae27a241e7/Microsoft.Toolkit.Uwp.UI.Controls/MasterDetailsView/MasterDetailsView.cs#L106-L142

[2020-10-27 16:30] michael-hawker commented on #1790
@jefhai cool, I know the original roadblock was because UWP doesn't have the `IServiceProvider` access in MarkupExtensions as was used in the WPF CalcBinding project linked to above.

However, I believe WinUI 3 [according to their issue](https://github.com/microsoft/microsoft-ui-xaml/issues/741) is going to support it in the future. I'm not sure if it's part of their previews yet, you'd have to ch

[2020-10-27 16:38] michael-hawker commented on #3182
I think rebranding and updating everything when we move to WinUI 3 is going to make the most sense. We'll be changing package names and namespaces, so it'll be better to message all the changes together than making big changes release to release.

[2020-10-27 16:41] michael-hawker commented on #2713
@sonnemaf I'm trying to get some metrics to understand if we should have a dedicated behavior package. If so, I'll split that out next week and let you know, so all these related behavior items you're working on can go there!

[2020-10-27 16:47] michael-hawker commented on #2640
@LyalinDotCom Is this anything you know about if it's exposed anywhere? Otherwise I think we'll just close this issue.

@sonnemaf may be better to create a request on the Visual Studio feature requests (through the drop-down in VS) as a starting place?

[2020-10-27 16:49] michael-hawker commented on #2512
[HealthVault has shutdown](https://medcitynews.com/2019/04/microsoft-healthvault-is-officially-shutting-down-in-november/) so closing this issue.

[2020-10-27 16:49] #2512 closed

[2020-10-27 17:04] michael-hawker commented on #2684
Closing for now, we can re-open later if we want.

[2020-10-27 17:04] #2684 closed

[2020-10-28 07:18] sonnemaf commented on #2640
You can close it. I gave up hope. I hoped for an quick/easy solution. It isn't a must have.

[2020-10-28 07:18] #2640 closed

[2020-10-28 17:51] mysteryx93 commented on #3428
Will this support MVVM pattern for Blazor?

[2020-10-28 17:56] virzak commented on #3428
@mysteryx93

I tried it and this library works just fine with MVVM and Blazor.

This issue contains an example
https://github.com/dotnet/aspnetcore/issues/26677

[2020-10-28 18:14] #3502 closed

[2020-10-29 03:04] hol430 opened #3549 "Markdown parser: incorrect parsing of inline italics"
## Describe the bug

Underscore characters placed inside a word without spaces around them (e.g. `x_y_z`) are treated as opening/closing an italic span. [This does not appear consistent with the commonmark standard](https://spec.commonmark.org/0.29/#emphasis-and-strong-emphasis).

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Rep

[2020-10-29 08:22] michael-hawker commented on #3549
Thanks @hol430, unfortunately our parser isn't perfect. We have an open issue to move to a standard Markdown parser. See #3200. Though I don't think we're going to get to that for 7.0 at this point.

If you think it's a simple fix, we do have unit tests in this area, so it may be possible to add one for this case, debug it, and then submit a fix if it's a simple one. We just updated our Wiki with

[2020-10-29 14:06] DkmS1953 commented on #2512
Hi.
Microsoft shut down HealthVault long ago, November 20, 2019.
As a result, there was no need for a named API.

Wbr, Dyakov K.M.

вт, 27 окт. 2020 г. в 19:49, Michael Hawker MSFT (XAML Llama) <
notifications@github.com>:

[2020-10-29 18:49] #3537 closed

[2020-10-29 18:49] #3539 closed

[2020-10-29 18:50] #3542 closed

[2020-10-29 19:22] Janisku7 commented on #3497
Does the C++ version also have those issues so are those issues then same when using ComboBox?

[2020-10-29 19:25] Janisku7 commented on #3496
might be something underlying issue there but yeah could be good for figure out for ListView/GridView so if the thing is similar what give no affect on Itemsrepeater then we could solve it that way too

[2020-10-29 21:46] #3466 closed

[2020-11-03 07:10] HHChaos commented on #2884
@Kyaa-dost I'm not working on this right now, and I don't think I'll have time to do it in the near future, so is anyone else interested in contributing it?

[2020-11-03 17:15] Kyaa-dost commented on #3157
Test complete

[2020-11-03 17:15] #3157 closed

[2020-11-03 22:05] michael-hawker opened #3553 "Event unregistering out of order for RemoteDevicePicker?"
I would expect the `UnhookEvents` call to happen here before we grab the new templated items, eh?

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/b7d3d62ebe60db90851b25b2c959a093ae8c2cef/Microsoft.Toolkit.Uwp.UI.Controls/RemoteDevicePicker/RemoteDevicePicker.cs#L144-L155

[2020-11-03 22:05] michael-hawker commented on #3553
@avknaidu thoughts on this?

[2020-11-05 07:33] dhanrajKumbhar opened #3554 "[UWP] Capture image and crop it using rectangle"
Hi
After clicking on the camera button the UI gave the option to crop the picture. Then, the picture could be cropped in a rectangle. However, now the crop is a circle.
I'm using below code

[code]

I want to go back on the rectangle crop

How can I achieve this?
please help me
Thanks in advance

[2020-11-05 10:31] Marv51 opened #3555 "ThemeListener not disposed"
The sample [ThemeListenerPage](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ThemeListener/ThemeListenerPage.xaml.cs) does not implement any kind of disposing for the (IDisposable)ThemeListener.

I believe this should be fixed? Might also be a good idea to update the code sample in the docs.

[2020-11-05 18:44] Kyaa-dost commented on #3554
@dhanrajKumbhar are you referring to the Image Cropper Control? Can you please provide screenshots as well of what you are seeing?

[2020-11-05 22:54] michael-hawker commented on #3555
Thanks @Marv51, yeah we don't really show how to dispose this. Though I'm wondering @Sergio0694 @azchohfi should this helper be an instance or something vs. creating multiples? Thoughts?

[Doc link](https://docs.microsoft.com/en-us/windows/communitytoolkit/helpers/themelistener) for reference.

[2020-11-05 22:59] michael-hawker commented on #3554
@dhanrajKumbhar this appears to be in reference to the system [CameraCaptureUI](https://docs.microsoft.com/en-us/uwp/api/windows.media.capture.cameracaptureui) API? This isn't part of the toolkit. It should probably be filed in the WinUI or Project Reunion repos I'd imagine. FYI @ranjeshj can you help direct this?

[2020-11-05 23:05] azchohfi commented on #3555
I think the implementation itself is fine. Its only the sample app that is not disposing it properly, so we should update that.

[2020-11-06 05:07] dhanrajKumbhar commented on #3554
@Kyaa-dost
Thanks for the reply
Actually, I am seeing Circle crop after capturing the image from the CameraCaptureUI API. but previously it was showing Rectangle crop. I don't have an idea of how it was changed.
but I want to back on the rectangle crop after capturing the image.
Please check the attached screenshot
![Preview_Showing_Circle](https://user-images.githubusercontent.com/55383898/983284

[2020-11-06 18:13] Kyaa-dost commented on #3554
@dhanrajKumbhar Yeah that does not seem to be part of the toolkit as @michael-hawker mentioned above.

Looping in @ranjeshj for helping triage to the relevant team.

[2020-11-06 19:55] yoshiask commented on #3259
For anyone who may not have seen it yet:
Part of this feature request is implemented in PR #3556 (specifically, the TabbedCommandBar). There's still a lot to do even for just this simpler ribbon control, but a lot of it should be reusable in the full ribbon control.

The build pipeline is currently broken, but once it's fixed you should be able to install a preview build of the Toolkit and test it

[2020-11-06 20:04] alisaesh commented on #3463
Done.

[2020-11-06 20:15] yoshiask commented on #3259
Here's what it looks like so far. The default background brushes are based on the very last design that @mdtauk shared (they can be changed if the dev doesn't plan on extending into the title bar, but I suspect most who use this control will).
![image](https://user-images.githubusercontent.com/7549325/98410402-3982d680-203a-11eb-9883-ef8535879eb1.png)

[2020-11-06 20:44] michael-hawker commented on #3554
Yeah, this is not a toolkit bug, so closing here for now. Sounds like a support engineer on Stack Overflow suggested filing on Feedback hub as well, though seems like the team is aware now.

You could recreate the experience using components from the toolkit to customize as you see fit, but that's more work than just using that API.

[2020-11-06 20:44] #3554 closed

[2020-11-06 20:45] michael-hawker commented on #3259
@yoshiask the pipeline is fixed, if your CI builds properly in the CI then a package will drop on the new [Preview Package feed](https://github.com/windows-toolkit/WindowsCommunityToolkit/wiki/Preview-Packages).

[2020-11-06 21:33] michael-hawker commented on #3295
FYI anyone using the NuGet packages from the MyGet feed, we just switched over to our new DevOps feed, so you'll need to switch your feed url to the new one. I updated this info above. Info in the Wiki as well: https://github.com/windows-toolkit/WindowsCommunityToolkit/wiki/Preview-Packages

[2020-11-06 23:45] #3197 closed

[2020-11-07 18:18] jcbeppler opened #3557 "DataGrid with DatePicker Flashing"
This issue has already been reported before, although MSFT bot closed it LOL (no comments regarding this):

https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2493

Funny thing in this issue is if you set IsReadOnly="True" it indeed solves the date picking problem but if you are using MVVM, you won't get your data generating notification.

                    <controls:DataGridTempl

[2020-11-07 19:04] mrlacey commented on #3332
I was investigating this problem in another app and so thought I'd contribute the fix here too.

The issue was that some `.xaml` files were configured to be copied to the output file. However, this was not needed and the build process already copied binary compiled versions of those files (`.xbf`) to the same location. The build process was looking for changes and missing output files, saw the .xa

[2020-11-07 19:35] mrlacey commented on #3067
I've started to have a look at these.
Is it possible to rerun the smoke tests (linked) and share the full build report that lists all failures. The report linked from the docs issue is not publicly available.

[2020-11-08 00:56] Kyaa-dost commented on #3557
Looping in @anawishnoff @RBrid ⬆️

[2020-11-09 18:51] michael-hawker commented on #3557
@Kyaa-dost the old issue has more details, looks like the old bot aggressively closed it :(.

Can we unlock that one and add @jcbeppler's details to it as well?

[2020-11-09 19:03] Kyaa-dost commented on #2493
@jcbeppler ⬆️

[2020-11-09 19:06] Kyaa-dost commented on #3557
@michael-hawker done ✔️

Going to close this for now if not needed.

@jcbeppler tagged you there.

[2020-11-09 19:06] #3557 closed

[2020-11-09 19:07] Kyaa-dost commented on #2493
Seems like this issue is still active as @jcbeppler pointed out in #3557

CC: @anawishnoff @RBrid

[2020-11-09 20:03] jcbeppler commented on #2493
@Kyaa-dost after I mentioned this issue, I just realized a second issue which is related to WinUI and the CalendarDatePicker. It is possible that the issue there, generates this issue with the toolkit. See here:

https://github.com/microsoft/microsoft-ui-xaml/issues/3571

[2020-11-09 20:18] Kyaa-dost commented on #2493
@jcbeppler good catch! There is a possibility. We can find this out once the devs investigate this further. Meanwhile, feel free to dive into further analysis or possible resolution.

[2020-11-09 21:25] #3332 closed

[2020-11-09 21:47] michael-hawker commented on #3250
Lots of discussion [here](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3255) around some discovers with this issue, but we've still been unable to identify the root cause.

[2020-11-09 21:49] mandalorianbob opened #3559 "An UnresolvableAssemblyReference error in Microsoft.Toolkit.UWP.UI.Controls"
## Describe the bug
Whenever I build a 16299 UWP App referencing a 16299 UWP Library that's referencing Microsoft.Toolkit.UWP.UI.Controls in Release or in Debug w/ .NET Native, I get
[code]

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work: Haven't used previous versions.

## Steps to Reproduce

- [X ] Can this be reproduced in the Sample App? (E

[2020-11-09 23:23] #3363 closed

[2020-11-10 17:30] #3509 closed

[2020-11-10 17:37] michael-hawker opened #3560 "[Build] Create 2nd Stage/Job for Smoke Tests"
I also thought we had discussed before, but could we split the smoke test part into a 2nd [job/stage](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/stages?view=azure-devops&tabs=yaml)? That'd make the build report and publish to the PR feed as a separate check from the smoke test itself which could run after, eh?

![image](https://user-images.githubusercontent.com/24302614/986273

[2020-11-10 17:39] michael-hawker commented on #3560
All the work for the smoke tests are done, this should just be some YAML configuration for splitting the step out into it's own stage or something to get it to appear as a new line item after the build.

[2020-11-10 19:36] #3448 closed

[2020-11-10 19:39] michael-hawker commented on #3448
@azchohfi the build artifacts are where we can see the size of the end packages, eh?

[2020-11-10 19:44] azchohfi commented on #3448
Yes, example:
https://dev.azure.com/dotnet/WindowsCommunityToolkit/_build/results?buildId=41520&view=artifacts&type=publishedArtifacts

[2020-11-10 20:30] mrlacey commented on #3196
After a few hours searching I'm not sure there's a supported mocking framework that will enable this.

[TypeMock.Isolator](https://www.typemock.com/isolator-product-page/) _may_ be a possibility but I'm not sure of the practicalities of adding a dependency on something with a paid license.

I'd instead look at creating a stub or adapter around the native calls that can then be adjusted as necessar

[2020-11-11 00:29] michael-hawker commented on #3196
Thanks for taking a look @mrlacey. 🦙❤ Some libraries have open source licenses, it was hard to tell if they do or not.

I think with our new Unit Tests and soon to be Integration tests running in the CI that should cover the majority of the toolkit.

I'll see if any of our inbox app teams are doing anything in this space as well and have any suggestions.

[2020-11-11 00:32] Kyaa-dost commented on #3559
@mandalorianbob Thanks for highlighting the issue. Will see if any dev can pick this up and investigate the root cause of this issue.

[2020-11-11 17:11] michael-hawker commented on #3559
@mandalorianbob have you reported through the Visual Studio reporting as well? We haven't heard of any similar reports elsewhere. A binlog could by helpful too.

@MichalS @TomMcDon seen anything like this before?

[2020-11-11 18:13] mandalorianbob commented on #3559
I did report it to the dotnet github, but since it only happens to your library I closed that one.

You can reproduce the behavior in 16.7.7. Here's a zip of the min repo. I'm going to try upgrading to 16.8 to see if it still happens.
[NetNativeMinRepo.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/5525937/NetNativeMinRepo.zip)

[2020-11-11 19:27] michael-hawker commented on #3559
@mandalorianbob thanks, let me know how 16.8 works; we've had issues building the toolkit for it, but hopefully consuming the toolkit works fine.

By reporting in Visual Studio, I meant using their 'report a problem' from the drop-down menu at the top-right of Visual Studio:
![image](https://user-images.githubusercontent.com/24302614/98855252-8dae0200-2410-11eb-8856-dc4e492a8fa3.png)

They can the

[2020-11-11 19:46] mandalorianbob commented on #3559
Alright. Unfortunately, upgrading to 16.8 didn't help.

I added the feedback here https://developercommunity2.visualstudio.com/t/unresolvableassemblyreference-in-windows-community/1252340

[2020-11-12 06:46] michael-hawker opened #3561 "Update NuGet tags to license and icon (vs licenseUrl and iconUrl)"
## Describe the bug
NuGet updated their schema and we've yet to migrate:

[code]

We should fix this before our final 7.0.0 release, should be a matter of updating the properties across our project files, though icon may live in the root props file?

[2020-11-12 11:00] michael-hawker commented on #3559
Thanks @mandalorianbob, looks like they've directed it to an engineering team. If you haven't heard back by Monday, let me know, and we can start a thread with the .NET Native folks. In the meantime, we just shipped a new preview package, `7.0.0-preview4`, would be curious if that exhibits the same problem for you. We haven't heard of any other folks having problems or seeing this on any of our sy

[2020-11-12 13:21] Sergio0694 commented on #3428
Reopening this to track changes for the next preview that are being done in https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3562 🚀

[2020-11-12 17:26] mandalorianbob commented on #3559
Wait, so you aren't able to reproduce it with the min repro? I've had it fail both locally and on a build machine but if my coworkers can get it working maybe that's a potential workaround. I won't be able to check the preview bits till Monday, but I'll let you know.

[2020-11-13 00:23] SvetBonev commented on #3559
@mandalorianbob @michael-hawker

The issue is with the Microsoft.Toolkit.Uwp NuGet package. It targets Windows 10 version 10.0.16299, but it uses types that don't exist in that version of Windows, specifically, the RemoteSystemEnumerationCompletedEventArgs class.
Per the documentation, it was introduced in 10.0.17134: https://docs.microsoft.com/en-us/uwp/api/windows.system.remotesystems.remotesyst

[2020-11-14 00:31] jamers99 commented on #3463
@tommcdon I was debugging this and found that there is an exception being thrown in our app when I hover over a row.
- In Release
- Attached the debugger
- All CLR Exceptions enabled in "Exception Settings"
- (I did not try this in the sample toolkit app)

![image](https://user-images.githubusercontent.com/20806279/99133053-66109280-25e6-11eb-86bf-f8827c1798ed.png)

I tried adding this to our appl

[2020-11-14 21:23] vgromfeld opened #3564 "Can't build on VS 2019 16.8"
## Describe the bug
After updating VS2019 to 16.8, the Windows Community Toolkit solution is no longer building.

The build is failing at the nuget restoration step with:
[code]

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce

- [X] Can this be reproduced in the Sample App? (Either in a sample as-is or with new XAML past

[2020-11-15 12:33] davesmits opened #3565 "Microsoft.Toolkit.Uwp.Notifications not working in a .Net 5 webapi project"
## Describe the bug
Create a .net 5 webapi and include Microsoft.Toolkit.Uwp.Notifications nuget. This will fail with error:  error NETSDK1130: Referencing a Windows Metadata component directly when targeting .NETCoreApp,Version=v5.0 is not supported. Use the C#/WinRT projection tool (https://aka.ms/cswinrt) or a provided projection for this target.

- [ ] Is this bug a regression in the toolkit?

[2020-11-15 14:21] jcbeppler opened #3566 "DataGridCheckBoxColumn not updates Binding value when changed"
Short description of my system: Windows 10 (2004), Visual Studio 16.8...) and the Toolkit (7.0.0 preview 4)

To the issue:
When I check mark a DataGridCheckBoxColumn , the value is not updated immediately and just changes the binding model when I either click on another cell or change for the next line. This behavior appears to have been copied from text fields on which is expected that the user p

[2020-11-15 20:14] laurentkempe commented on #3428
I think you should reconsider the decision to have `WeakReferenceMessenger.Default` auto magically injected through the `ObservableRecipient` [default constructor](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/a778ffc7bc8508aad1994fdec243a2baf7990a6a/Microsoft.Toolkit.Mvvm/ComponentModel/ObservableRecipient.cs#L24-L34).

This can hide the choice of messenger you are doing when yo

[2020-11-16 07:29] zhuxb711 commented on #3415
Any solution about this issue ?

[2020-11-16 17:09] Kyaa-dost commented on #3564
@vgromfeld Correct as you mentioned currently removing the 'native' in Microsoft.Toolkit.Uwp.Notifications.csproj should do the job. Hopefully, this will get fixed soon 🚀

[2020-11-16 17:16] Kyaa-dost commented on #3566
looping in @anawishnoff @RBrid :arrow_up:

[2020-11-16 17:20] Kyaa-dost commented on #3565
@davesmits This problem is most likely related to #3564

Can you please try removing the word 'native' in  Microsoft.Toolkit.Uwp.Notifications.csproj and then try again?

[2020-11-16 22:42] Kyaa-dost commented on #3415
@zhuxb711 Unfortunately no one has picked up this one yet. Will continue to monitor and see if anyone wants to work on this issue.

[2020-11-16 22:44] Kyaa-dost commented on #3415
@Difegue are you planning to work on the fix?

[2020-11-17 09:58] davesmits commented on #3564
Not sure if understand you; how do i remove it?  I just included with the nuget so dont have the csproject

[2020-11-17 11:00] vgromfeld commented on #3564
@davesmits, I faced the issue while working on a PR for the toolkit. I had the UWP Community Toolkit solution opened.
Unfortunately, if you're just consuming the nuget package, this workaround does not apply to you 😥

[2020-11-17 12:49] Difegue commented on #3415
I'm not planning to work on this for the time being. It does affect one of my apps, so I might eventually get to it. 😅

[2020-11-17 15:40] mrlacey commented on #3428
Following on from the comment by @laurentkempe, is it possible to have the best of both worlds by having a single constructor with a default value for the parameter?

[code]

If I was concerned about developers in a team calling the constructor and not passing a specific messenger, I'd add an analyzer to the project to check for this.

---

Having the `StrongReferenceMessenger` forces users to do

[2020-11-17 15:49] Sergio0694 commented on #3428
@mrlacey Unfortunately that is not a valid C# signature, as values for default parameters need to be compile-time constants.
In this case `WeakReferenceMessenger.Default` is just a statically initialized property, so that doesn't qualify 😟

I agree that using the `WeakReferenceMessenger` type as the default is the right choice though (as much as I like the `StrongReferenceMessenger` too, for obvio

[2020-11-17 17:02] michael-hawker commented on #3564
@vgromfeld we filed an issue with the VS team on this and are awaiting more info: https://developercommunity.visualstudio.com/content/problem/1249858/failing-to-build-project-with-vs168.html

@davesmits interesting to know this is happening when consuming the NuGet as well, can you provide some more details on that?

[2020-11-17 17:04] michael-hawker commented on #3565
@Kyaa-dost I think we have two different issues related to the same package. One is for building it and this other one for consuming it.

@azchohfi you know anything about this message? I think we need a separate .NET 5 target, eh? Which until we resolve #3564 we can't generate?

[2020-11-17 17:21] azchohfi commented on #3565
Yes, we need a separate target for net5.0 since the way that 3.1 references WinMDs is different. This is a known breaking change from 3.1->5.0.

[2020-11-17 17:54] michael-hawker commented on #3565
@azchohfi the WinUI version of this package is only targeting .NET 5 and has the updates already right? So, when we ship the update for WinUI 3 preview 3 it should have all the new changes we just shipped in 7.0.0-preview4 too...

Info for that feed is here: https://github.com/windows-toolkit/WindowsCommunityToolkit/wiki/Preview-Packages#winui-3-previews

It currently has an older build, but shoul

[2020-11-17 18:09] Kyaa-dost commented on #3415
@Difegue Thanks for the PR ❤️

@zhuxb711 Seems like we have a [PR](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3568) open now for this fix so feel free to test it out.

[2020-11-17 19:01] michael-hawker commented on #1236
WinUI has added determinate progress to the ProgressRing control: https://github.com/microsoft/microsoft-ui-xaml/pull/2584

Plan is to deprecate our RadialProgressBar in 7.0 now.

[2020-11-17 19:02] #1236 closed

[2020-11-17 19:08] laurentkempe commented on #3428
@mrlacey Even if that would work, and it doesn't because `WeakReferenceMessenger.Default` is not compile time constant (oh I see now @Sergio0694 replied to it also), it is not a great idea to have those hidden defaults in a framework like MVVM toolkit. I feel the same about `WeakReferenceMessenger.Default` and `StrongReferenceMessenger.Default`, why providing a `Default`, such a singleton could be

[2020-11-17 19:29] michael-hawker commented on #3428
Thanks @laurentkempe, I do like the idea of forcing the decision for those upgrading. I mean there is a benefit to using the new model; we just want to keep it simple as well for those onboarding to MVVM for the first time. Not having to worry about the lifetime of the messenger is a benefit from that standpoint.

This is also not the default case as usually `ObservableObject` will be used unless

[2020-11-17 19:54] laurentkempe commented on #3428
You are welcome @michael-hawker I am just trying to help!

I totally understand the point easing the onboarding of newcomers and see it has a valid point and has you said the default case is usually `ObservableObject`! Nvertheless for more complex applications people will be using `ObservableRecipient` and I those ones need to make a conscious decision about using `WeakReferenceMessenger` or `Stro

[2020-11-17 20:59] Kyaa-dost commented on #3202
WinUI already has the Indeterminate model for ProgressRing control. Please see here microsoft/microsoft-ui-xaml#2584. Therefore, you will have to utilize their control. We will be deprecating RadialProgressBar in the 7.0 release.

[2020-11-17 20:59] #3202 closed

[2020-11-17 21:09] Kyaa-dost commented on #2624
Closing this as WinUI already supports TabView control and will be removing this from WCT in 7.0 release.

[2020-11-17 21:09] #2624 closed

[2020-11-17 21:10] Kyaa-dost commented on #2663
Closing this as WinUI already supports TabView control and will be removing this control from WCT in 7.0 release.

[2020-11-17 21:10] #2663 closed

[2020-11-17 21:12] Kyaa-dost commented on #2935
Closing this as WinUI already supports TabView control and will be removing this from Windows Community Toolkit in 7.0 release.

[2020-11-17 21:12] #2935 closed

[2020-11-17 21:14] Kyaa-dost commented on #2670
Closing this as WinUI already supports TabView control and will be removing this from the Windows Community Toolkit in 7.0 release.

[2020-11-17 21:14] #2670 closed

[2020-11-17 21:29] Kyaa-dost commented on #1969
Closing this issue as we no longer support RadialGradientBrush and will be removing it in the 7.0 release. Please check out RadialGradientBrush from [WinUI](https://microsoft.github.io/microsoft-ui-xaml/).

[2020-11-17 21:29] #1969 closed

[2020-11-17 21:30] Kyaa-dost commented on #2950
Closing this issue as we no longer support RadialGradientBrush and will be removing it in the 7.0 release. Please check out RadialGradientBrush from [WinUI](https://microsoft.github.io/microsoft-ui-xaml/).

[2020-11-17 21:30] #2950 closed

[2020-11-17 21:34] tommcdon commented on #3463
@jamers99 It looks like [AutomationPeer](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.automation.peers.automationpeer?view=winrt-19041) is an object, and and so adding the [MarshalObject](https://docs.microsoft.com/en-us/dotnet/framework/net-native/missinginteropdataexception-class-net-native#usage-details)="Required All" attribute should hopefully resolve the issue.    Please take a l

[2020-11-17 21:37] jamers99 commented on #3463
Thanks for the info! A few follow up questions...
1. Should I be doing it for Type Name "Windows.UI.Xaml.Automation.Peers.AutomationPeer" or does it need to include the IList generic?
2. Which project should specify this? Documentation is not clear on where these should be defined.

[2020-11-17 21:42] jamers99 commented on #3463
@tommcdon I used https://dotnet.github.io/native/troubleshooter/type.html to help me generate what I needed. Is this a supported tool? It seems it didn't generate the proper attributes.

![image](https://user-images.githubusercontent.com/20806279/99453955-b7c16180-28f3-11eb-887a-03c9da8126ba.png)

[2020-11-17 22:00] tommcdon commented on #3463
@jamers99

Great point!  I should have looked at the exception more closely.  You are correct that the IList<AutomationPeer> is what the exception the specific error.  If not too much trouble, I would try adding both to the rd.xml, and if it solves the problem try removing the AutomationPeer-specfic item.

Another great question.  .NET native compiles the application and its references together in

[2020-11-17 22:11] jamers99 commented on #3463
@tommcdon @RBrid so from the sound of it, we can resolve this issue in our app (I'm testing it out now), but is there a way that the toolkit library can fix it for everyone in any project?

This...

...makes it sound like it needs to be done per application?

[2020-11-17 22:20] Kyaa-dost commented on #3360
Closing this issue as Menu has been deprecated.

[2020-11-17 22:20] #3360 closed

[2020-11-17 22:20] jamers99 commented on #3463
By the way adding...
[code]
...fixed the problem for me! I now see the DataGrid as it is in Debug in the Accessibility Insights! Thanks so much for your help! I would like to see this fixed at the library level though, @RBrid do you think we would be able to do that?

[2020-11-17 22:28] Kyaa-dost commented on #3340
#3352 already fixed this issue.

[2020-11-17 22:28] #3340 closed

[2020-11-17 22:32] Kyaa-dost commented on #3216
#3352 fixed this issue :rocket:

[2020-11-17 22:32] #3216 closed

[2020-11-17 22:50] Kyaa-dost commented on #2207
Closing this as Platform Analyzer will be removed from the toolkit in the 7.0 release #3396

[2020-11-17 22:50] #2207 closed

[2020-11-17 22:54] Kyaa-dost commented on #3516
@AbdAlghaniAlbiek any update on this? Are you still having this issue?

[2020-11-17 22:59] Kyaa-dost commented on #3494
Closing this as the Light has been deprecated and will be removed in the 7.0 release.

[2020-11-17 22:59] #3494 closed

[2020-11-17 23:12] Kyaa-dost commented on #3358
Please let us know if you are able to pick this up for our 7.0 release.

[2020-11-17 23:15] Kyaa-dost commented on #3068
@michael-hawker is this control possible to adopt? Curious about the licensing restrictions 🤔

[2020-11-17 23:23] Kyaa-dost commented on #770
@ranjeshj do you know? ⬆️

[2020-11-17 23:32] michael-hawker commented on #3068
Yeah, that's a good question. I remember discussing this for other scenarios, and I think the license prevents these types of scenarios, but I'd have to double-check. We'd effectively just be wrapping things up in a WebView as an API though...

[2020-11-17 23:43] Kyaa-dost commented on #2206
Closing this as Platform Analyzer will be removed from the toolkit in the 7.0 release #3396

[2020-11-17 23:44] #2206 closed

[2020-11-17 23:51] Kyaa-dost commented on #2321
Closing this as the issue was resolved with #2231

[2020-11-17 23:51] #2321 closed

[2020-11-18 00:11] Kyaa-dost commented on #2965
Closing this issue for now as we were unable to reproduce the issue.

[2020-11-18 00:11] #2965 closed

[2020-11-18 00:22] Kyaa-dost commented on #2910
Closing this issue as it was resolved with this https://github.com/NuGet/Home/issues/8388

[2020-11-18 00:22] #2910 closed

[2020-11-18 04:40] huoyaoyuan commented on #3295
When will new version targeting WinUI3 Preview3 be released?
Since Preview 3 has SDK side breaking change, older package is currently a blocker.

[2020-11-18 15:46] mvegaca opened #3569 "Usage of ObservableValidator in Windows Template Studio"
Hi

We are working on a Mockup for WinUI3 Templates in Windows Template Studio that uses the MVVMToolkit libraries.
You can find the code at [Mockup-WinUI3](https://github.com/microsoft/WindowsTemplateStudio/tree/Mockup-WinUI3).

As part of this mockup we're looking at a FormPage that allows users to add a new order to an in-memory SampleOrder Collection.
We want to validate the user input and giv

[2020-11-18 18:26] Kyaa-dost commented on #3569
@mvegaca Thanks for highlighting this as it does seem a very peculiar behavior because ideally it should work once the requirements are fulfilled or even reset.

@Sergio0694 any insight on this? 🤔

[2020-11-18 18:45] Sergio0694 commented on #3569
With respect to these two:

They're not currently supported, that is correct. Those features would be extra additions on top of the standard `INotifyDataErrorInfo` interface. Not saying they'd be bad, just explaining why they weren't added initially 🙂

As for the issue mentioned here:

Do you have a minimal repro? Also, have you checked whether the same happens when eg. using UWP WinUI 2.x, or WPF

[2020-11-18 20:09] michael-hawker commented on #3295
@huoyaoyuan we had a bit of a delay updating our pipelines as the VS 16.8 SDK was required now to build. We've shipped the updates today though, sorry for the delay!

[2020-11-18 20:14] mandalorianbob commented on #3559
@michael-hawker So it looks like this problem still exists in 7.0 - can that helper be put behind an API flag?

[2020-11-18 23:24] michael-hawker commented on #3564
This is blocking our CI now as they've updated the VMs in our Azure environment...

[2020-11-18 23:27] michael-hawker commented on #3565
We're blocked by #3564 now, but once that's resolved, we should be able to update this package.

[2020-11-18 23:29] michael-hawker commented on #3569
@mvegaca thanks for filing the issue and taking this class for a spin! QQ: Is this for WinUI 3 Desktop or WinUI 3 UWP?

FYI @stevenbrix as well.

[2020-11-18 23:40] michael-hawker commented on #3559
Thanks @SvetBonev for the detailed breakdown. That looks like a good culprit. Though surprised if it's not being used that it'd be a problem (even though we forgot a guard).

We probably missed this as we had upped the min of our sample app for gaze helpers a while back. Surprised it wasn't caught sooner, I was able to see the issue in the min repo @mandalorianbob after I installed the 16299 SDK.

[2020-11-18 23:46] mandalorianbob commented on #3559
I can't bump my min target version.

I'll try switching to version 5.0 and seeing if that works.

[2020-11-19 01:00] michael-hawker commented on #3559
@mandalorianbob why can't you bump your min target version? If you look at our referenced issue, the majority of the market has moved off of 16299 and it's no longer in support.

[2020-11-19 02:18] mandalorianbob commented on #3559
Well the short answer is: I'm not in charge haha. But I'll forward the referenced data because it's come up recently.

Switching to 5.0 did work, and I'm unblocked.

Thanks!

[2020-11-19 13:40] mvegaca commented on #3569
Hi

We're working with WinUI3 Desktop (Packaged) Preview 2.

I've created a [quick repro App](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/5566413/Issue3569ReproApp.zip) to show you the range validation behavior.

![image](https://user-images.githubusercontent.com/5556784/99659721-92eafc80-2a61-11eb-8aef-172e6be56bb7.png)

![image](https://user-images.githubusercontent.com/5556

[2020-11-19 14:04] sibille commented on #3569
Are there plans to add this functionality to the MVVMToolkit ObservableValidator or to allow to extend it's functionality in the ViewModel?

[2020-11-19 14:17] Sergio0694 commented on #3569
Thanks @mvegaca for the small repro, I'll take a look! Also curious to see if I can repro that on UWP, to check whether that issue is specifically related to the type being used from WinUI 3, or just a bug in the type on its own. Will update when I know more 👍

We haven't looked at adding them yet for the first public release. I know @stevenbrix mentioned the WinUI team has looked into offering so

[2020-11-19 14:37] mvegaca commented on #3569
Exactly, those two features are what we need for our WinUI3 Form Template.
Our WinUI3 Templates are still in preview. For now, we are going to generate a [custom ObservableValidator](https://github.com/microsoft/WindowsTemplateStudio/blob/Mockup-WinUI3/mockup/WinUI3/WinUIDesktopApp/Helpers/ObservableValidator.cs) class that supports those two features. Once the toolkit supports those methods we wi

[2020-11-19 15:18] Sergio0694 commented on #3569
Tried to run the sample, and that didn't work for me either. Attached the local MVVM Toolkit package so that I could step into it, looks like the call to [`Validator.TryValidate`](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.validator.tryvalidateobject?view=net-5.0) throws a C++ exception somewhere within WinUI I guess, maybe that's why the UI isn't updated cor

[2020-11-19 21:34] michael-hawker commented on #3559
Going to close this issue now as it should be resolved moving forward in 7.0.0 with our updated mintarget.

[2020-11-19 21:34] #3559 closed

[2020-11-19 22:00] stevenbrix commented on #3569
Thanks for all the great work here @mvegaca! A lot of these issues are some of the same things I came across as well, and something that needs to be spec'd out so we can have a default experience that "just works".

Per what @Sergio0694  said, these services would need to be added on top of the existing support, however there are a few known issues with what currently exists mainly, this one:

Dep

[2020-11-19 22:43] michael-hawker commented on #3565
@davesmits can you test out using the WinUI 3 Preview 3 package for this one package? Info here: #3295

That version is built for .NET 5 only, so it may resolve your scenario until we can get the 7.0.0 main branch updated for .NET 5 as well.

[2020-11-20 07:57] michael-hawker opened #3571 "MVVM Toolkit - WPF CommandManager RelayCommand `canExecute` Issue"
If you migrate a WPF application and swap the `using Galasoft.MvvmLight.CommandWpf;` to `using Microsoft.Toolkit.Mvvm.Input;` all your commands using `canExecute` will stop working due to the specific handling of `CommandManager` missing in Windows Community Toolkit MVVM framework!

_Originally posted by @laurentkempe in https://github.com/windows-toolkit/MVVM-Samples/pull/14#r523771777_

[2020-11-20 08:04] michael-hawker commented on #3571
@Sergio0694 @jamesmcroft opening this here for tracking from the comment @laurentkempe raised in the sample repo and on Twitter: https://twitter.com/laurentkempe/status/1327707975532810243

@sonnemaf I know you wrote a WPF sample a while back here: https://github.com/sonnemaf/ToolkitMvvmDemo - Is this something you encountered as well or did you not have the same setup for this scenario?

@deancha