[2017-01-12 06:23] nmetulev commented on #647
#787 should fix this issue. Refreshing with mouse caused the content to scroll even when not scrolled to the top. Prevented mouse refresh when content is not scrolled to the top and set default behavior of control to disable refresh with mouse.

[2017-01-12 18:18] #783 closed

[2017-01-12 18:18] deltakosh commented on #774
Do you mind sharing your project?

[2017-01-12 18:18] deltakosh commented on #773
Ping?

[2017-01-12 18:22] achabill commented on #773
Update crashed and did not complete. Lost UWP tools as a result. I'm trying again.

[2017-01-12 18:35] dotMorten commented on #751
The rotator works by having two areas: Current and next. When it rotates ,it sets 2nd area to the new image, the rotates over. Once complete, it also sets the 1st area to the new image, then resets the rotation.
So what you're seeing is the reset. Generally this should happen instantly and you wouldn't really see the flip.

Now I'm guessing you have some kind of animation on the item template? I'm

[2017-01-12 18:38] #751 closed

[2017-01-12 21:56] #781 closed

[2017-01-12 23:33] #112 closed

[2017-01-12 23:33] #500 closed

[2017-01-12 23:34] deltakosh commented on #642
Up?

[2017-01-13 04:01] nmetulev commented on #648
Hi there, I was not able to replicate this issue. Using the IncrementalLoadingCollection with the PullToRefreshListView worked as expected; when scrolling the list view, items loaded as needed. The refresh needs to be handled in the RefreshRequested event, in most cases you should reload the data when refresh is requested.

Could you share a project that reproduces the issue you are seeing?

[2017-01-13 05:08] nmetulev commented on #676
Thanks for sharing the repro, could not have found the issue without it. The exception was caused because the second listview was attempting to set the refreshindicator content to an element that the first listview was already using which was specified in your extended control template.

The fix is in the [PullToRefreshFixes branch](https://github.com/Microsoft/UWPCommunityToolkit/tree/PullToRefre

[2017-01-13 14:30] arcsinW commented on #648
I try this again and It's worked well either on a class inherited from ISupportIncrementalLoading or IncrementalLoadingCollection in toolkit. I don't remember why can't I do that a month ago, it appears to be I change the style of PullToRefreshListView, which also makes PullToRefreshListView can't pull down on pc.

Thank you for your efforts.

[2017-01-13 14:55] #648 closed

[2017-01-13 17:00] petriw commented on #774
In this project, you can see that we have the SwapChain first, then we put things on top of it:
https://github.com/Microsoft/UWPExperiences/blob/master/apps/Atomosphere.UWP/Atmosphere/MainPage.xaml#L15

[2017-01-13 23:14] deltakosh opened #790 "Need documentation for Scroll Header"
Ping @pdehne :)

[2017-01-14 00:40] #756 closed

[2017-01-14 01:36] IbraheemOsama commented on #753
@deltakosh @hermitdave @skendrot @ScottIsAFool
how do you imagine this control ? I mean should it be similar to textbox mask when setting the mask what should indicate for a max length variable etc

[2017-01-14 08:38] hermitdave commented on #759
hello both, the simple repro didn't exhibit that behaviour. I have asked Org owner how I can invite you both. hopefully soon

[2017-01-14 18:39] twsouthwick opened #791 "MasterDetailsView does not adapt to keyboard control in details view"
Keyboard works fine when both master and details are open. However, if only one is open, it automatically shows the details, but it also allows the keyboard to move to new items in the master. This presents a really odd user experience, especially as you can see the outline of the selected item overlaid on the details view.

Here's an example:

![screenshot 5](https://cloud.githubusercontent.com/a

[2017-01-14 19:13] skendrot commented on #791
@twsouthwick I'll look at this tonight unless you want to submit a PR for it

[2017-01-14 19:33] twsouthwick commented on #791
I have a very hackly work around in a current project, so I'll see if I can get it cleaned up for a PR

[2017-01-15 01:37] twsouthwick opened #793 "Tab navigation includes controls that are not navigable"
The tab stops should be removed for:

- HamburgerMenu
  1. HamberMenu
  2. MainSplitView
- MasterDetailsView
  1. MasterDetailsView

Using VS 2015 Live Visual Tree explorer, the focused element can be tracked to see where it is at.

There may be other controls this is the case, but I've only used the ones listed.

[2017-01-15 03:59] achabill commented on #773
Sorry for the delay.
It works now.
- VS Enterprise 2015 update 2 to VS Community 2015 Update 3
- Downgrade from Windows 10 Insider preview build 14951 to Windows 10 version 1607 build 14393 **public release.**

Tested `RadialGuage` and `HeaderTextBlock`

[2017-01-15 04:02] deltakosh commented on #773
Excellent news! Thanks for the follow up:)

[2017-01-15 04:02] #773 closed

[2017-01-15 04:39] skendrot commented on #753
This sounds like a problem for a RegEx attached property

[2017-01-15 13:28] ahmed-karim-tantawy opened #795 "Is there a new control required"
Is there a need for a new control to be added to add value that I can participate is?
Thank you

[2017-01-15 13:33] ahmed-karim-tantawy opened #796 "NFC Helper"
I have developed a small and simple library that can use NFC device of a Windows Phone mobile with these features:

1. Send/Receive data from one device to another.
2. Write/Read data on an NFC tag.

If possible I want to share it in the toolkit.
It is simple for now (sends/receives text data), but can be improved by contributors participation.

Thanks.

[2017-01-15 22:49] IbraheemOsama commented on #796
Hi ahmed, is it for UWP ?

[2017-01-15 22:52] IbraheemOsama commented on #795
Sure :) just check the issue and pick one that you can start with. you'll find in the issue the controls that need to be implemented so feel free to pick a control from issues or pick a bug

[2017-01-15 23:12] ahmed-karim-tantawy commented on #796
Both versions UWP and Windows Phone 8.1

[2017-01-15 23:14] ahmed-karim-tantawy commented on #795
OK. Thank you :)

[2017-01-16 03:26] IbraheemOsama commented on #753
I guess we can add RegEx attached property with another property called isValid and we validate on focus this proeprty and set the IsValid attached property of the textbox so the user can validate on submit !!
What do you think ? of course this is not a mask we can say it's a regex validation not a mask

[2017-01-16 04:26] deltakosh commented on #753
I like the idea of having a second attached property that works with a regex instead of a mask.

[2017-01-16 06:42] pdehne commented on #790
I'll look into it!

[2017-01-16 07:51] IbraheemOsama commented on #796
Can you initiate a PR with the implementations, please also check the contribution guide
https://github.com/Microsoft/UWPCommunityToolkit/blob/master/contributing.md

[2017-01-16 08:20] ahmed-karim-tantawy commented on #796
Is there anything needed before PR? I mean any kind of confirmation to start my work, and is there any guarantee that my code will be merged? And in which cases it can be accepted or rejected?

[2017-01-16 08:23] IbraheemOsama commented on #796
if you got latest from master no merge problem will occur and even if it's easy to merge the conflicts manually.
Regarding  accepting the PR just stick to the contribution guide lines and the reviewers will do their job if they see there something needed to be changed, just try your best to get minimal comments on the PR :)

[2017-01-16 08:24] dotMorten commented on #796
Does this fit the scope of the toolkit? Feels to me it should be its own thing.

[2017-01-16 08:30] IbraheemOsama commented on #796
@ahmed-karim-tantawy also what would it provide better than  https://github.com/andijakl/ndef-nfc ?

[2017-01-16 08:46] Kumara-Krishnan opened #797 "Adaptive GridView throws ArgumentException when Resized"
When resized, AdaptiveGridView throws ArgumentException
StackTrace:
System.ArgumentException: Value does not fall within the expected range.
   at Windows.UI.Xaml.DependencyObject.SetValue(DependencyProperty dp, Object value)
   at Microsoft.Toolkit.Uwp.UI.Controls.AdaptiveGridView.RecalculateLayout(Double containerWidth)
   at Microsoft.Toolkit.Uwp.UI.Controls.AdaptiveGridView.OnSizeChanged(Objec

[2017-01-16 10:32] jonathanantoine opened #798 "Let me decode image off the UI Thread"
Hello everyone,

I would like to be able to decode images off the UI Thread.
It was a feature of the Nokia Imaging SDK I liked a lot because image decoding can sometimes consume a lot of CPU.

Regards.

[2017-01-16 12:15] IbraheemOsama commented on #798
I guess this is too specific to be used in the toolkit :) but this is my own opinion

[2017-01-16 12:18] ScottIsAFool commented on #798
@IbraheemOsama why? is this not something ImageEx could be made to do?

[2017-01-16 12:26] IbraheemOsama commented on #798
I see this is a big amount of work (Maybe I'm wrong)!! but sure if it is required and there are a lot of people requesting it why not !!

[2017-01-16 14:45] hermitdave commented on #798
we closed off #276 because there was little interest.
@jonathanantoine Lumia imaging sdk still exists https://msdn.microsoft.com/en-us/library/mt598502.aspx

best place for image manipulation

[2017-01-16 16:50] skendrot commented on #797
In what context are you using it? I am unable to reproduce

[2017-01-16 17:07] #641 closed

[2017-01-16 17:17] deltakosh commented on #796
There is no guarantee to be merged and the first question to ask is: Is it helpful to the wide community? What are the scenarios we try to simplify here?

[2017-01-16 23:22] twsouthwick opened #800 "Sample app dismisses code example in MasterDetailsView when back is pressed in narrow view"
It seems that after #677 was merged, the code preview in the sample app goes away after the back button is pressed. To repro:

1. Go to the MasterDetailsView sample
2. Make sure you're in the narrow state
3. Click on an item (which will take you to the details view)
4. Press the back button

**Expected:** The items list with the code sample at the bottom
**Observed:** The items list with no code s

[2017-01-17 16:06] xied75 commented on #796
Just to say we also have this:
https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/Nfc

@ahmed-karim-tantawy On GitHub nobody ever promise a merge. :) You can always show your work in your own repo, then people can start discussion. If that's good code, it will get used no matter in the toolkit or not.

[2017-01-17 16:17] xied75 opened #801 "BladeView ItemSource binding and other questions"
Dear all,

Now I'm using the great BladeView control in my app. 👍

The question is, I was trying to bind like this:

[code]

In my ViewModel:

[code]

This does work, so I can have arbitrary levels of Blades showing, the problem is, it does NOT scroll to the most recent blade added? I see in the toolkit example it does scroll. So anything I can/should do for this?

Another question regarding state

[2017-01-17 16:58] deltakosh opened #802 "Add visual tags to sample app to identify RS1/RS2 features"
The idea is to add a visual tag with "Creator Update" or "Anniversary update" to samples that required Rs1 or rs2

[2017-01-17 16:59] deltakosh opened #803 "Fix wrappanel and masterdetailsview sample text"

[2017-01-17 16:59] deltakosh opened #804 "Add C# code to markdown sample to show how to display content from github"

[2017-01-17 17:01] deltakosh opened #805 "Move print button to header, add github link and documentation display to sample app"

[2017-01-17 17:01] #795 closed

[2017-01-17 17:01] deltakosh commented on #800
Ping @skendrot

[2017-01-17 17:02] #798 closed

[2017-01-17 17:04] deltakosh commented on #790
Thanks a lot!

[2017-01-17 17:09] jonathanantoine commented on #798
Too bad 😟we don't know if the Lumia SDK will be supported for long and it has some license restrictions which make it hard to use sometimes.

Would have been nice to have it easy to use in the toolkit. But I don't know how to code this.

Thanks for the discussion anyway!

Have a nice day!!

[2017-01-17 18:28] ahmed-karim-tantawy commented on #796
@xied75  then I should prepare it in a repo to be available for review

[2017-01-17 18:38] deltakosh commented on #804
I would like to provide a C# sample that display github content like this page:https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/docs/index.md

[2017-01-17 20:09] Odonno commented on #804
And so we could integrate Markdown files/code in the sample app, I suppose.

One thing not to forget is that it should support both Light theme (like in GitHub) and Dark theme (like in VS Code)

[2017-01-17 21:53] deltakosh commented on #804
For doc support I'm working on it. Every sample will display the doc directly in the sample app

[2017-01-17 21:54] deltakosh commented on #804
See #805

[2017-01-17 22:41] deltakosh commented on #804
Are you working on it? I'll take it else

[2017-01-17 22:41] #325 closed

[2017-01-17 22:44] Odonno commented on #804
No, you can do it if you want to.

[2017-01-17 22:45] deltakosh commented on #804
ok I'm on it:)

[2017-01-18 14:35] XamlBrewer commented on #771
I don't think it's really hard to add an extra layer with icons and/or markers via an extra ViewBox. The radial gauge contains all code to translate a value to an angle, and vice versa - you can copy that code to calculate the positions of labels and icons.
I don't think there's an easy way to incorporate it in the control itself.

[2017-01-18 18:08] #771 closed

[2017-01-18 18:09] #647 closed

[2017-01-18 18:10] #800 closed

[2017-01-18 20:36] Code-ScottLe opened #813 "Readme missing links to BackgroundTaskHelper documents"
As title.
Per request of @deltakosh .

[2017-01-18 21:19] hermitdave commented on #743
I think we are looking to launch next version in early Feb. If you want to push a PR now would be a good time to start

[2017-01-19 00:26] #802 closed

[2017-01-19 16:17] bitloks commented on #743
Sorry for not pushing but this weekend i will surely do it :)

On Thu, Jan 19, 2017 at 2:49 AM, Hermit Dave <notifications@github.com>
wrote:

[2017-01-19 18:02] #793 closed

[2017-01-20 09:29] LudoFran commented on #670
If it's not too late, I suggest you https://developer.microsoft.com/en-us/windows/samples

[2017-01-20 17:01] mauriciomagni opened #815 "error "DropShadowPanel does not exist" in Style Dictionary"
Hello
I am taking my first steps with Microsoft.Toolkit; by now I am just trying to use DropShadowPanel, so I have define a Style in a StyleDictionary using it. The problem is that I get the error:The name "DropShadowPanel" does not exist in the namespace "using:Microsoft.Toolkit.Uwp.UI.Controls"
the namespace is referenced this way:
`xmlns:toolkit="using:Microsoft.Toolkit.Uwp.UI.Controls"`
and th

[2017-01-20 17:37] skendrot commented on #815
You currently cannot create a style for the DropShadowPanel. You will be able to in 1.3.
Could you say why you are trying to create a new style for the panel?

[2017-01-20 17:38] dotMorten commented on #815
https://github.com/Microsoft/UWPCommunityToolkit/pull/789

[2017-01-20 17:47] mauriciomagni commented on #815
Hello
We create styles as a way to standardize the look & feel of the application.
I will try removing that style and assigned values each time we use a ShadowPanel.
Thank you.

[2017-01-20 17:47] #815 closed

[2017-01-21 00:13] dotMorten opened #816 "Reduce code needed for HamburgerMenu default scenarios"
The HamburgerMenuItems has a TargetType property that could be used to navigate to a frame, but it doesn't automatically do this.
I suggest we make the default content of the HamburgerMenu a Frame, and if an item with a targetype that is a page is clicked and the Content is a Frame, we handle the navigation for you.
This means I don't have to write any code to handle ItemClick or OptionItemsClick

[2017-01-21 00:28] dotMorten commented on #797
This would happen if `CalculateItemWidth` returns an invalid ItemWidth. Question is why that happens. Should be a simple fix, but a repro would be nice, so we can understand why we're ending up with invalid widths and fix it correctly.

[2017-01-21 09:44] totht91 commented on #816
Please take care about that we often use a service for the navigation (eg. Prism), so we don't navigate directly on the frame.

[2017-01-21 18:31] Odonno opened #818 "Control to guide user"
I know there is some negative feedback at the moment with notification/popup control but I think it was a pretty good initiative with the first release of the W10 OS (like how to use Edge, Cortana, etc..).

I don't know precisely if it is or will be integrated in the UWP SDK but my goal is to add the controll you can see in the picture below :

![image](https://cloud.githubusercontent.com/assets/6

[2017-01-21 18:45] Odonno opened #819 "HamburgerMenu navigation"
I do not see anywhere that UWP Community Toolkit offers some way to manage navigation using the HamburgerMenu control.

Writing an app recently, I made a service that handle some scenarii using navigation with the HamburgerMenu. Here is a list of things that I take care of :

* Act as a NavigationService (contains page definition with key/types and provide a way to navigate)
* Have a list binded t

[2017-01-21 20:28] totht91 commented on #818
I think we need to think more generic. I could accept something advanced flyout management (with behaviors or attached properties) but I would not make it tight to this use-case.

https://mareinsula.wordpress.com/2015/12/02/advanced-flyouts-for-uwp-windows-10/

[2017-01-22 00:57] dotMorten commented on #816
@totht91 Are you still having the root element inside the content be a Frame, and do you still set the TargetPageType ?

[2017-01-22 09:56] totht91 commented on #816
I think I'm not using this control in the cannonical way because of the NavigationService. I will investigate on this.

[2017-01-22 11:03] puppetSpace commented on #819
I also have an issue with the current selection not updating. When navigating back I update the SelectedItem, but this does nothing. I even tried using SelectedIndex. Still nothing.

You can bind a list to the MenuItems. I bind a IEnumerable<HamburgerMenuGlyphItem>.
The annoyance I have is that you also have to bind a separate list for the Options. It would be better to Have one list and have an e

[2017-01-22 12:40] Odonno commented on #819
@puppetSpace About the binding to SelectedItem, I know that there was a fix after the 1.2.0 version so it should be fixed if you update to the latest beta package or you can wait until 1.3.0 version. That's why my service requires the latest package version. If you use 1.2.0 version, it would not work as it is supposed to.

About binding, you have to make one to each collection (MenuItem and Optio

[2017-01-23 00:40] deltakosh opened #820 "Facebook service seems to not save your info from one session to another"
Using Facebook service to publish on my timeline, I have to reenter my credential on every session.
(Using PostToFeedUsingDialogAsync)

[2017-01-23 01:40] bkaankose commented on #801
There must be some kind of a property changed call missing when you add a new blade to the collection. This is why it is not scrolling to the latest blade. I will check for it.

Your RepoBladeItemModel must be serializable. If you are using Prism, there's a service called SessionStateService which handles suspension scenarios like you mentioned above if you registered them as known type. Service w

[2017-01-23 01:51] bkaankose commented on #818
Storyboarding is always a much needed thing to have. I'd like to see some kind of a attached property to show little flyouts for which control is doing what. I also prefer having advanced flyouts like @totht91 mentioned above but I do not know if advanced flyouts should being used for this purpose.

And if we are going to develop sth like this, it should be easily order managable. Nobody wants to

[2017-01-23 07:27] Odonno opened #821 "Integrate Power BI charts"
I don't think there is an easy way to integrate Power BI charts inside a UWP app.

It could be interesting to provide a control that to generate and show a Power BI chart.

http://community.powerbi.com/t5/Desktop/Power-BI-Embedded-Integrate-a-report-into-a-UWP-app/td-p/59360

[2017-01-23 10:43] PedroLamas commented on #816
@dotMorten I personally agree with the default navigation approach you described (in fact, I use it in Cimbalino's own HamburgerFrame control)

The lack of default style seems that the job was left in the middle... I agree that we should have a default style for this!

I also suggest adding a `Parameter` for navigation purposes (that way we can have multiple items with the same `TargetPageType` ye

[2017-01-23 15:05] skendrot commented on #801
@xied75 Are the items being added to the blade view but just not scrolling? Does it go to the added item or do you have to scroll to it?

[2017-01-23 15:13] xied75 commented on #801
@skendrot New blades created fine, just not scrolling, I need to manually do that. Thanks for helping

[2017-01-23 15:53] Odonno commented on #801
@xied75 On what device(s) ?

[2017-01-23 15:57] xied75 commented on #801
A touch enabled ThinkPad X1 Carbon and a 12 inch Atom Tablet.

[2017-01-23 16:00] skendrot commented on #801
Looks like there are a few issues with binding to a collection. I'm looking into it

[2017-01-23 16:09] deltakosh commented on #821
Hey!
We are about to open an UserVoice for idea submissions. I'll keep you posted

The plan is to use UserVoice to evaluate which controls/features to develop (based on most voted ones)

[2017-01-23 16:09] deltakosh commented on #818
Hey!
We are about to open an UserVoice for idea submissions. I'll keep you posted

The plan is to use UserVoice to evaluate which controls/features to develop (based on most voted ones)

[2017-01-23 16:11] #749 closed

[2017-01-23 16:37] #803 closed

[2017-01-23 16:40] deltakosh commented on #683
Moving this one to 1.4. Please let me know if you can finish it before next monday (1/30) and I'll revert it to 1.3 then.

[2017-01-23 16:40] #676 closed

[2017-01-23 16:40] deltakosh commented on #670
It is never too late
Thanks for this idea I'll add it

[2017-01-23 17:21] gitxpj opened #822 "AdaptiveGridView in listview problem"
there's code:

                <ListView x:Name="HotListView" RelativePanel.Below="Banner">
                    <ListView.ItemTemplate>
                        <DataTemplate>
                            <Grid>
                                <Border x:Name="HotTitle">
                                    <TextBlock Text="{Binding Title}" FontSize="24" Margin="5" />
                                <

[2017-01-23 17:40] deltakosh commented on #822
Do you mind providing a simple VS project that reproduces the issue?

[2017-01-23 17:42] deltakosh commented on #813
Fixed by #814

[2017-01-23 17:42] #813 closed

[2017-01-23 17:43] deltakosh commented on #796
Hey, to decide which features to add to the toolkit we will soon open an UserVoice. I'll keep you posted!

[2017-01-23 17:43] deltakosh commented on #790
@pdehne We plan to close the 1.3 this monday (1/30) do you think you could write the documentation before that date?

[2017-01-23 17:44] deltakosh commented on #696
Ping?

[2017-01-23 17:45] #581 closed

[2017-01-23 17:45] deltakosh commented on #469
I guess we can move this one to 1.4 :)

[2017-01-23 17:51] ahmed-karim-tantawy commented on #796
And what is UserVoice ?

Ahmed Abdelkarim
Senior Windows developer

Mobile:  (0020)  12 2129 0994

[https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png]<https://eg.linkedin.com/pub/ahmed-karim/79/367/393>   [http://i.stack.imgur.com/oURrw.png] <http://stackoverflow.com/users/6249148/ahmed-karim?tab=profile>

________________________________
From: David Catuhe <notifications@g

[2017-01-23 17:53] deltakosh commented on #796
Uservoice.com, it is a place where you can propose an idea and ask for the community to vote for it. We will use it as a tool to define what should be implemented in the toolkit

[2017-01-23 17:54] gitxpj commented on #822
ok there's simple code:

        class item
        {
            public string bind { get; set; }
        }

        class item_collection
        {
            public string title { get; set; }
            public List<item> items { get; set; }
        }

        public MainPage()
        {
            this.InitializeComponent();
            this.Loaded += MainPage_Loaded;
        }

        priv

[2017-01-23 18:00] deltakosh commented on #816
I agree on not breaking changes:
- Adding a default style for HamburgerMenuGlyphItem
- Adding a SelectionChanged event

But I'm not for making a frame the default content of the hamburgerMenu. For instance in may apps, I have several things around the frame (like a title bar or some animations impostors). Furthermore this is a big breaking change

[2017-01-23 18:01] gitxpj commented on #822
and can't set ScrollViewer.VerticalScrollBarVisibility or some about ScrollViewer property

[2017-01-23 18:02] deltakosh commented on #822
Does it work if you replace the AdaptiveGridView with a GridView?
Are you using the prerelease version of 1.3 ?

[2017-01-23 18:03] gitxpj commented on #822
no i am using 1.2 on nuget, GridView is ok.

[2017-01-23 18:04] deltakosh commented on #822
We fixed issues regarding layout cycle in 1.3. You can get a version on this repo: https://dotnet.myget.org/F/uwpcommunitytoolkit/api/v3/index.json

[2017-01-23 18:21] gitxpj commented on #822
thx.

[2017-01-23 18:21] #822 closed

[2017-01-23 18:46] ahmed-karim-tantawy commented on #796
That will be good. And thank you for telling me.

Ahmed Abdelkarim
Senior Windows developer

Mobile:  (0020)  12 2129 0994

[https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png]<https://eg.linkedin.com/pub/ahmed-karim/79/367/393>   [http://i.stack.imgur.com/oURrw.png] <http://stackoverflow.com/users/6249148/ahmed-karim?tab=profile>

________________________________
From: Davi

[2017-01-23 18:55] pdehne commented on #790
Sure, no problem

[2017-01-23 19:10] deltakosh commented on #790
Thanks a lot!

[2017-01-23 19:24] deltakosh commented on #774
Closing for now. Please reopen if required

[2017-01-23 19:24] #774 closed

[2017-01-23 20:21] dotMorten commented on #816
Good idea on the parameter!

[2017-01-23 21:52] #670 closed

[2017-01-23 23:24] deltakosh opened #824 "Rename MosaicControl To TileControl"

[2017-01-23 23:44] LudoFran opened #825 "PagedItemControl"
I tried to recreate a control similar to the one in Groove on the Explore page.

Its purpose is to have an horizontal list with previous / next button to scroll automatically.

If there is an interest in the (future) UserVoice I can do a PR so we can start working on it :)

[2017-01-23 23:45] deltakosh commented on #825
Sure I'll keep you posted as soon as the UserVoice is open

[2017-01-24 00:34] claudiuslollarius commented on #819
I have my own different implementation of hamburger menu, which does not need extensive modifications to an app's default configuration.

The default app.xaml.cs is kept intact, with the main window having a frame as the content. Hamburger menu XAML is embedded in individual pages, which allows for pages without extra UI elements (useful for media/picture viewers).
Visually, it looks and behaves s

[2017-01-24 12:04] albertofustinoni opened #827 "RadialProgressBar control"
I have created a radial progress bar control, essentially replicating the functionality of the standard progress bar but displaying progress as a filling circle instead of a line segment. Very much like the circle progress bar in the Windows 10 installer.

It supports styling and automatically shapes the circle to touch the borders of the control's bounding area.

By default it looks like this (st

[2017-01-24 12:08] PedroLamas commented on #827
I actually find that quite useful and could think of a scenario or two where it could come quite handy! 😄

[2017-01-24 12:13] albertofustinoni commented on #827
That was quick :)

Actually, I had already forked the UWPCommunityToolkit repo and integrated the code, so I could create a PR.

A few questions:
- The control is implemented as a custom control. is that OK
- Do I need to write unit tests?
- Any guidance on how to integrate the control in the sample app?

[2017-01-24 12:17] PedroLamas commented on #827
- The control **should** be a custom control (user controls have bigger overhead and should be avoided when possible, especially for external components such as this toolkit).
 - Unit tests (if possible) are always welcome!
 - No specific guidance that I could think of, just check how the other samples have been done and follow up accordingly

[2017-01-24 12:19] albertofustinoni commented on #827
Got it, I'll do my best to integrate the control in the sample app and create a PR then.

[2017-01-24 12:22] ScottIsAFool commented on #827
And be sure to follow code and xaml guidelines stated in the contributions doc

[2017-01-24 12:50] Odonno commented on #827
Yeah! Really good idea!

[2017-01-24 15:44] skendrot commented on #827
Rather than a specialized progress ring, how about a progress control that you can specify the style you would like to have. This could be done through an enum.
example:

[code]

This would make it easier for other progress styles to be added later.

[2017-01-24 15:51] hermitdave commented on #827
in addition to what skendrot, would be nice to provide custom content using ContentPresenter so you can chose what to animate

[2017-01-24 17:12] albertofustinoni commented on #827
Opened a pull request #828

[2017-01-24 20:06] BekOV opened #830 "MasterDetailsView Back Button"
I can see that in your sample when we have the narrow state(width<=320px) the back button will show MasterListView? But it looks like it doesn't work out of box. What I have now : I selected one of the item in master listivew then I able see only details, but when I click on back button I will be navigated on previous page. How I can handle that? I use Prism for handling back navigation

[2017-01-24 21:03] devhawk opened #831 "INotifyPropertyChanged base class"
The UWP sample app includes an implementation of INotifyPropertyChanged called BindableBase. This seems like it would be a useful class to include in the UWP Toolkit proper.

There's a similar implementation in the Windows Network Helper QuizGame Sample (https://github.com/Microsoft/Windows-appsample-networkhelper/tree/master/DemoApps/QuizGame/Common)

[2017-01-24 21:07] skendrot commented on #830
Hey @BekOV, can you try with the latest bits? https://dotnet.myget.org/feed/uwpcommunitytoolkit/package/nuget/Microsoft.Toolkit.Uwp.UI.Controls

[2017-01-24 21:51] Odonno commented on #831
I am not sure about this because I think it might be a source of conflicts with current MVVM solutions like MVVMLight or Prism.

Of course, if there is no doubt this class should be added to the toolkit, go for it.

[2017-01-24 21:55] deltakosh commented on #831
I'm not for it either. they are numerous great MVVM frameworks available in the ecosystem

[2017-01-24 23:30] Weasy666 opened #832 "ImageEx size of Progress Ring"
Is there a way to resize the Progress Ring of the ImageEx Control?
I have rather large images and the Progress Ring is damn small on them, so i'd really like to resize it.

[2017-01-24 23:34] deltakosh commented on #832
Hello

the best option is to edit the default template:https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageEx.xaml

[2017-01-24 23:57] Weasy666 commented on #832
Thanks for the fast answer.
Ok...so i just copy the template and add it as a custom resource with the ImageEx control as target, right?

But i'm wondering why the Ring is not scaling. Shouldn't it scale automatically because of the `Margin="16"`?

[2017-01-25 00:05] deltakosh commented on #832
Correct :) (It is not scaling because of horizontal and vertical center

[2017-01-25 00:05] #832 closed

[2017-01-25 00:31] Weasy666 commented on #832
Thanks again! 😃
Btw: Great Toolkit, it really makes creating an uwp app a lot easier 😄

[2017-01-25 00:32] deltakosh commented on #832
Thanks:)

[2017-01-25 00:34] #831 closed

[2017-01-25 02:38] cbarkerms commented on #718
@mscherotter - when the OneDrive service is available in the toolkit, you will need to remove your existing OneDriveSDK nuget reference.  You should have minimal code changes if you do something like this:

IOneDriveClient OneDriveClient = OneDriveService.Instance.Provider;

This will remove the current conflict issue and allow you to leverage the other services in the toolkit.  Would that work?

[2017-01-25 07:57] pdehne commented on #790
I added the documentation. See #834.

[2017-01-25 11:24] BekOV commented on #830
I installed Microsoft.Toolkit.Uwp.UI.Controls Version 1.3.0-dev00419 and all uwp community toolkit packages with this version also Robmikh.CompositionSurfaceFactory that is dependency for UI.Controls. But it is not working. Sometimes I click on back button and nothing happens, then again click on back button and it navigates back on previous page. And it seems that this prerelease package is buggy

[2017-01-25 15:22] skendrot commented on #830
Could you supply a sample project to reproduce? I cannot reproduce the issues you are describing with the sample app with the current code

[2017-01-25 16:08] BekOV commented on #830
@skendrot I created the sample project. https://1drv.ms/u/s!AuA5o3xqJaHhh4QS4TZTrqO7_7vTJA

[2017-01-26 08:44] LudoFran commented on #830
In your sample project, if I upgrade your toolkit version to the v1.3.0-dev00489, I can't reproduce the issue. You are currently using the v1.2.0

[2017-01-26 12:45] Weasy666 opened #837 "Edge like Forward and Backward Navigation Control"
It would really be great if there was a control which allows to move forward an backward like the Microsoft Edge Browser does with touch input or touchpad input, like this
<img width="1080" alt="edge previous" src="https://cloud.githubusercontent.com/assets/11967542/22331782/8c5a17fe-e3cd-11e6-8ecf-a1409f7d8ae6.PNG">

I'm not able to pull something like this off, but i think it really would be a n

[2017-01-26 13:09] jamesmcroft commented on #837
@Weasy666 could you provide a scenario where you might use this in an application? It seems like a great idea but I'm not sure how many applications would opt to use this style of app navigation.

[2017-01-26 13:14] Weasy666 commented on #837
My use case would be in a manga reader app.
You have a manga with a number of chapters and i would use this to navigate from one chapter to another.
You read the chapter and if you scroll to the last page you can go to the next chapter when you continue with the scrolling.
I hope you understand what i mean, if there is anything unclear i will try to clarify.

[2017-01-26 13:30] hermitdave commented on #837
this could be implemented like the pull to refresh option in listview.
For FlipView detecting user interaction on first / last page and then possibly attaching command.

[2017-01-26 17:32] skendrot commented on #837
I believe the FlipView would work as-is for this

[2017-01-26 17:36] hermitdave commented on #837
no I meant forward / backward navigation once you get to first or last navigation

[2017-01-26 17:53] Weasy666 commented on #837
@hermitdave that is what i meant, except that i am not using a FlipView but a GridView/ListView because all pages are shown in a continuous manner.
![unbenannt1](https://cloud.githubusercontent.com/assets/11967542/22343441/5bf495dc-e3f8-11e6-9eeb-1974d12af893.png)
So it should work like the PullToRefreshListView, like you said, but at both sides.

[2017-01-26 17:54] skendrot commented on #837
I'm saying you can reproduce the experience from Edge using a FlipView as-is. Restyle a little to match exactly

[2017-01-26 17:59] skendrot commented on #830
@BekOV I can confirm as well that I tested your project with the latest bits and everything works fine. Can you please confirm

[2017-01-26 18:11] Bekhub commented on #830
@LudoFran @skendrot Finally I found where is issue. That is custom style for Master Details Control -
[code]
I overrode the default because I want change ListView Items horizontal orientation to Stretch.
[code]
When I removed style, everything works ok. Except that AdaptiveGridView ItemClickCommand does not work with preview.

[2017-01-26 18:25] skendrot commented on #830
If you only wanted to extend the ListViewItem you can do that through an implicit style.
Example:
[code]

[2017-01-26 18:33] deltakosh opened #838 "Documentation for AdvancedCollectionView"
Hey @tomzorz, do you mind creating a documentation page for the AdvancedCollectionView ?

[2017-01-26 18:37] #790 closed

[2017-01-26 18:46] Bekhub commented on #830
@skendrot Okay, I am gonna use this. But how to be with AdaptiveGridView ItemClickCommand ? It is not working.

[2017-01-26 18:54] skendrot commented on #830
Make sure you have set `IsItemClickEnabled` to true

[2017-01-26 18:58] Bekhub commented on #830
@skendrot Ohh, I did not know about that. Thank you so much for your fast feedback! Great work!

[2017-01-26 19:05] skendrot opened #840 "AdaptiveGridView ItemClickCommand usage can be confusing"
The `ItemClickCommand` of the `AdaptiveGridView` requires that `IsItemClickEnabled` is set to true.

As noted by [this comment](https://github.com/Microsoft/UWPCommunityToolkit/issues/830#issuecomment-275478293), The documentation for the command should state that setting `IsItemClickEnabled` to true is required.

[2017-01-26 19:07] #830 closed

[2017-01-26 21:43] hermitdave commented on #840
and by this comment ?
https://github.com/Microsoft/UWPCommunityToolkit/pull/504#pullrequestreview-5217393

[2017-01-26 21:44] hermitdave commented on #840
we shouldn't expose itemclick command we do have a helper in place.

[2017-01-26 22:46] tomzorz commented on #838
Sure :)

[2017-01-26 22:54] deltakosh commented on #838
thanks a lot

[2017-01-26 23:34] tomzorz commented on #838
Boom, it's done. (hopefully without any issues 🤞)

[2017-01-27 15:09] marcpems opened #845 "New Control Request: Editable Combo Box"
Request for an editable combo box that allows:
- keyboard focus for the edit box
- ability to type a value that matches an item in the dropdown
- ability to type a value that does not match an item in the dropdown (enabled as a control option)
- auto complete of the item name while typing
- keyboard navigation for opening the dropdown using Alt + down arrow.
- keyboard navigation for moving throug

[2017-01-27 16:19] deltakosh commented on #838
You rock!

[2017-01-27 16:19] #838 closed

[2017-01-27 16:23] deltakosh commented on #845
Thank you for this request. We will soon open an Uservoice and I'll make sure to add this one to the list

[2017-01-27 16:31] #824 closed

[2017-01-27 16:36] #805 closed

[2017-01-27 17:06] #804 closed

[2017-01-27 17:10] #840 closed

[2017-01-27 17:11] #300 closed

[2017-01-27 20:19] bkaankose commented on #837
Styled FlipView and some advanced ItemTemplateSelector will do the trick for your scenario I guess. I don't see common scenarios other than you provided here.

Working on a control for this purpose will not be a priority to me, but I won't detain my contributions if we decided to create one :)

[2017-01-27 20:36] deltakosh opened #848 "Check if Services nuSpec is up to date"

[2017-01-27 20:38] #229 closed

[2017-01-27 20:38] deltakosh opened #849 "Add Drive.Special.AppRoot support to OneDrive API"

[2017-01-27 20:43] deltakosh opened #850 "Add File.LastModifiedDateTime to OneDriveStorageFile"

[2017-01-27 20:55] deltakosh opened #851 "OneDrive service documentation"

[2017-01-28 06:07] enghch opened #854 "A CanvasView Control"
I find myself writing this control over and over in various projects and it's never vey good. I'd love a control that would be a sibling to ListView or GridView only it was backed by a 2D Canvas instead of an ItemsStackPanel. The control should allow the placement of rectangular items in 2D, allow the user to select items, drag them around and resize them. (An optional bonus would be to allow the

[2017-01-28 08:16] hermitdave commented on #854
I think @jamesmcroft created one and mentioned it in #490 maybe he can comment

[2017-01-28 08:18] hermitdave commented on #854
Either way we are going to open uservoice in coming days and we can let community help us prioritise ideas and requests

[2017-01-28 16:37] enghch commented on #854
Thanks! Yeah, #490 does look a lot like what I was imagining. I will go comment on that issue as well. I would love to submit this as a UserVoice request. Just so I don't forget, here are my various use cases:

1) I want to enable my users to tag faces and other things in an image. I want to let them stretch out a rectangular selection (or multiple selections) overlaying the image.

2) I want to c

[2017-01-28 16:44] enghch commented on #490
I think this is a fantastic idea for a control. In #854 I described something very similar and gave several use cases where it would really help me.

[2017-01-28 21:48] Odonno commented on #854
@enghch I suppose that all your use cases can be achieved using the Canvas control. So I think that your question is not about a new control but on all the possible ways to achieve more use cases easily using the Canvas control. Each child of the Canvas could have these attached properties :

* Drag & Drop properties
* Rotation properties
* Stretching properties
* Touch properties ? (like selectio

[2017-01-28 21:53] ScottIsAFool commented on #854
Simplifying drag and drop, you mean like this https://metronuggets.com/2016/08/29/introducing-dropfilesbehaviour/?

[2017-01-28 22:05] Odonno commented on #854
@ScottIsAFool Yeah! That is one possible example.

[2017-01-29 05:23] ZingPow opened #855 "Interesting selected text behavior for TextBoxMask"
There is a reason why they call me Dr. Evil when it comes to testing but here is an interesting behavior that I'm not sure about.  So I have a text box with Mask="9999", if I click into that text box and then select all, then press the number 2 on my keyboard, the text box will now have '2222' whereas given I only press the '2' key once I would have expected it to have only entered a single '2'.

[2017-01-29 07:23] IbraheemOsama commented on #855
Thanks @ZingPow  for reporting but I designed it to be like that to give the flexibility for the end user to fill the whole textbox with a single keydown and to view which placeholders should be filled with the typed character :)
If the community see this as an unexpected behavior including you we could change it.

[2017-01-29 07:29] skendrot commented on #855
That seems odd to me

[2017-01-29 10:35] Odonno commented on #115
Thank you all for your comments.

@deltakosh I think we can close the issue.

[2017-01-29 17:27] enghch commented on #854
Yeah, that's a good solution too. When you say "rotation properties" or "stretching properties" are you referring to using behaviors? If all the items in your list were easy-to-add behaviors that played together well then I think that's a great solution.

[2017-01-29 20:05] #115 closed

[2017-01-29 22:04] ZingPow commented on #855
@IbraheemOsama I'm a big believer in matching user expectations so my test for stuff like this is what other apps behave like this (Office being the gold standard), or what use case can be made for this behavior?

[2017-01-30 08:36] Paradoxon101 commented on #699
Already something new?

[2017-01-30 15:07] darshanrampatel opened #856 "Expander control: Error: BindingExpression path error: 'HorizontalContentAlignment'"
I'm trying to use the new expander control in my app, but am seeing the below error:

`Error: BindingExpression path error: 'HorizontalContentAlignment' property not found on 'MyApp.ViewModels.DetailsPageViewModel'. BindingExpression: Path='HorizontalContentAlignment' DataItem='MyAppr.ViewModels.DetailsPageViewModel'; target element is 'Windows.UI.Xaml.Controls.ContentPresenter' (Name='PART_MainCo

[2017-01-30 15:49] skendrot commented on #856
@Odonno  can you fix this? HorizontalAlignment should template bind to Horizontal internal if mentioned. Likewise for Vertical alignment and VerticalContentAlignment

[2017-01-30 16:15] Odonno commented on #856
Yeah, I'll do it.

[2017-01-30 18:06] #851 closed

[2017-01-30 18:06] #850 closed

[2017-01-30 18:06] #849 closed

[2017-01-30 18:06] #848 closed

[2017-01-30 18:25] deltakosh commented on #699
I'm not able to reproduce on my side

[2017-01-30 18:31] Code-ScottLe commented on #699
Not here either. I took a quick dive a while back but was not able to.

[2017-01-30 18:38] deltakosh opened #858 "DropShadowPanel does not work when used inside a DataTemplate (for a gridview)"
Ping @dupuyjs FYI

[2017-01-30 19:07] deltakosh opened #859 "Add support for thumbnailSet in Onedrive service"

[2017-01-30 19:09] deltakosh commented on #855
@IbraheemOsama do you think you can do it asap?

[2017-01-30 19:58] #856 closed

[2017-01-30 21:17] #858 closed

[2017-01-30 23:09] deltakosh commented on #855
(btw I agree with @ZingPow )

[2017-01-30 23:12] deltakosh opened #861 "Textbox mask: cursor does not move automatically from one region to another"
example: 999-999
when I typed the third number I expect the cursor to move AFTER the hyphen 

[2017-01-30 23:19] IbraheemOsama commented on #855
@deltakosh  Will finish it in 10 hours, just once I'm home :)

[2017-01-30 23:30] deltakosh opened #862 "Add analytics tracking in sample app"

[2017-01-30 23:36] deltakosh commented on #855
sounds like a perfect plan

[2017-01-31 00:18] nmetulev commented on #657
After inspection, the margin is actually default padding from the ListViewItem and does not come from the SlidableListItem. See this relevant [StackOverflow](http://stackoverflow.com/questions/33786886/listview-margins) on how to remove margin/padding.

I will close this issue. Feel free to open if I misunderstood.

[2017-01-31 00:18] #657 closed

[2017-01-31 01:04] WiteCastle commented on #699
Hmm, I'm really not sure what it is than. You can't reproduce it with the sample project? I do my development on two different machines so I'm not sure if its a configuration issue on my side. I'll try to do a clean install of Visual Studio to see if that fixes it.

[2017-01-31 10:29] Odonno opened #865 "Add copy button inside Markdown code"
With the recent add of the Markdown control, I think it could be interesting to include a button inside the code block so users can copy the entire code inside the block.

[2017-01-31 10:30] Odonno commented on #862
@deltakosh You mean adding ApplicationInsights ?

[2017-01-31 14:17] ibebbs opened #866 "Using SpeechSynthesisStream with AudioGraph"
Hi all,

I recently wrote [a blog post](http://ian.bebbs.co.uk/posts/CombiningUwpSpeechSynthesizerWithAudioGraph) about combining [SpeechSynthesisStream](https://msdn.microsoft.com/en-us/library/windows/apps/windows.media.speechsynthesis.speechsynthesisstream.aspx?f=255&MSPPError=-2147217396) with the [AudioGraph API](https://msdn.microsoft.com/en-us/library/windows/apps/windows.media.audio.audiog

[2017-01-31 15:27] deltakosh commented on #862
I will add some google analytics to the sample app

[2017-01-31 16:17] deltakosh commented on #865
Good idea!

[2017-01-31 16:19] deltakosh commented on #699
Ok thanks, please keep us posted

[2017-01-31 18:03] nmetulev opened #867 "MarkdownTextBlock: add property for Link Foreground colors"
Links in MarkdownTextBlock do not seem customizable, they use the accent color. Add a property to customize the color of the Link's different states

[2017-01-31 18:05] nmetulev opened #868 "MarkdownTextBlock: Support for unspecified schema in Links"
MarkdownTextBlock only supports a handful of schemas and custom schemas/protocols do not work unless using some workaround.

[2017-01-31 19:01] deltakosh commented on #866
Hey @ibebbs!
In order to evaluate if a feature can be added to the toolkit we created a new category on WPDEV Uservoice:
![image](https://cloud.githubusercontent.com/assets/1306056/22479925/733bb4aa-e7a4-11e6-969d-87b414fe8af4.png)
Can you please create an entry for your idea? based on upvote we will be able to know if this is something we can add to the toolkit!

Thank you very much

[2017-01-31 19:02] deltakosh commented on #854
Hey @enghch !
In order to evaluate if a feature can be added to the toolkit we created a new category on WPDEV Uservoice: https://wpdev.uservoice.com/forums/110705-universal-windows-platform?query=A%20CanvasView%20Control
![image](https://cloud.githubusercontent.com/assets/1306056/22480021/cd881692-e7a4-11e6-97c4-38c86d0bb743.png)

Can you please create an entry for your idea? based on upvote we w

[2017-01-31 19:04] deltakosh commented on #845
Hey @marcpems !
In order to evaluate if a feature can be added to the toolkit we created a new category on WPDEV Uservoice: https://wpdev.uservoice.com/forums/110705-universal-windows-platform?query=Editable%20Combo%20Bo
![image](https://cloud.githubusercontent.com/assets/1306056/22480074/01650678-e7a5-11e6-9f1d-0830686a8a49.png)

Can you please create an entry for your idea? based on upvote we wi

[2017-01-31 19:06] deltakosh commented on #837
Hey @Weasy666 !
In order to evaluate if a feature can be added to the toolkit we created a new category on WPDEV Uservoice: https://wpdev.uservoice.com/forums/110705-universal-windows-platform?query=Edge%20like%20Forward%20and%20Backward%20Navigation%20Control%20
![image](https://cloud.githubusercontent.com/assets/1306056/22480161/453b0f00-e7a5-11e6-8a33-f6996c2d8b18.png)

Can you please create an

[2017-01-31 19:07] deltakosh commented on #825
Hey @LudoFran !
In order to evaluate if a feature can be added to the toolkit we created a new category on WPDEV Uservoice: https://wpdev.uservoice.com/forums/110705-universal-windows-platform?query=PagedItemControl
![image](https://cloud.githubusercontent.com/assets/1306056/22480197/6aa3b6ca-e7a5-11e6-8057-b24e88704557.png)

Can you please create an entry for your idea? based on upvote we will be

[2017-01-31 19:08] deltakosh commented on #821
Hey @Odonno !
In order to evaluate if a feature can be added to the toolkit we created a new category on WPDEV Uservoice: https://wpdev.uservoice.com/forums/110705-universal-windows-platform?query=Power%20BI%20charts%20

![image](https://cloud.githubusercontent.com/assets/1306056/22480225/8e6d116e-e7a5-11e6-9002-23ae13f8b37e.png)

Can you please create an entry for your idea? based on upvote we wi

[2017-01-31 19:09] deltakosh commented on #819
Closing for now. Please reopen if required

[2017-01-31 19:09] #819 closed

[2017-01-31 19:10] deltakosh commented on #818
Hey @Odonno !
In order to evaluate if a feature can be added to the toolkit we created a new category on WPDEV Uservoice: https://wpdev.uservoice.com/forums/110705-universal-windows-platform?query=Control%20to%20guide%20user

![image](https://cloud.githubusercontent.com/assets/1306056/22480315/d5590a2e-e7a5-11e6-96c1-3a008d630d9c.png)

Can you please create an entry for your idea? based on upvote

[2017-01-31 19:11] deltakosh commented on #797
Ping?

[2017-01-31 19:11] deltakosh commented on #796
Hey @ahmed-karim-tantawy !
In order to evaluate if a feature can be added to the toolkit we created a new category on WPDEV Uservoice: https://wpdev.uservoice.com/forums/110705-universal-windows-platform?query=NFC%20helper

![image](https://cloud.githubusercontent.com/assets/1306056/22480390/12b7cf22-e7a6-11e6-8915-696d841e5649.png)

Can you please create an entry for your idea? based on upvote we

[2017-01-31 19:14] enghch commented on #854
OK, thanks! I've got it recorded here: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/17902486-a-canvasview-control

We can close this issue now if you'd like.

[2017-01-31 19:14] deltakosh commented on #770
Hey @Pinox !
In order to evaluate if a feature can be added to the toolkit we created a new category on WPDEV Uservoice: https://wpdev.uservoice.com/forums/110705-universal-windows-platform?query=Pivot%20Viewer%2FControl

![image](https://cloud.githubusercontent.com/assets/1306056/22480493/6a29a2c6-e7a6-11e6-8fea-7d49874f842e.png)

Can you please create an entry for your idea? based on upvote we w

[2017-01-31 19:14] #753 closed

[2017-01-31 19:18] deltakosh commented on #854
I'll keep it open. Please start socializing it :)

[2017-01-31 19:27] enghch commented on #854
Thanks! Tweets are on the way! :)

[2017-01-31 19:31] deltakosh commented on #760
Ok I know why this happened:
When the ScrollViewer.ChangeView call is being made, the finger is still registered as an active contact point.  We do not want to animate the view while the finger is still down, and we jump instead. This has been the same from the beginning of the DManip-enabled ScrollViewer.

If you run the same app on a desktop, the same thing happens when you tap the buttons with

[2017-01-31 19:35] Weasy666 commented on #837
Ok, done!
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/17902768-edge-like-forward-and-backward-navigation-control

[2017-01-31 19:35] deltakosh commented on #837
Thanks!

[2017-01-31 20:20] Odonno commented on #818
Done.

https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/17903386-control-to-guide-user

[2017-01-31 20:23] Odonno commented on #821
Done.

https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/17903440-power-bi-charts

[2017-01-31 22:27] deltakosh commented on #818
Thanks!

[2017-01-31 22:27] deltakosh commented on #821
Thanks!

[2017-02-01 09:00] ibebbs commented on #866
Thanks @deltakosh, I've added a new idea [here](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/17908648-using-speechsynthesisstream-with-audiograph)

[2017-02-01 13:11] Odonno commented on #825
@LudoFran Does it look like the Carousel control? Or maybe I think about the wrong control.

[2017-02-01 16:09] deltakosh commented on #866
Thanks!

[2017-02-01 16:11] #855 closed

[2017-02-01 16:12] #759 closed

[2017-02-01 16:12] #861 closed

[2017-02-01 17:18] LudoFran commented on #825
@deltakosh I created it [here](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/17913145-pageditemscontrol)

@Odonno I tried to explain it a little more in the uservoice.
If you want an other example, it's a control similar to FlipView but when you go to the next "page", you scrolled through the full width of the control

[2017-02-01 18:18] hermitdave commented on #469
![wp_ss_20170201_0001](https://cloud.githubusercontent.com/assets/1896163/22520061/b6954372-e8aa-11e6-976e-7735cf4d1a63.png)
Did you mean this one?

[2017-02-01 18:20] nmetulev commented on #469
It's the inking on top of textbox (I believe it's shown before that part in the video)

[2017-02-01 18:20] hermitdave commented on #469
Or this one?
![wp_ss_20170201_0002](https://cloud.githubusercontent.com/assets/1896163/22520154/236facda-e8ab-11e6-95f0-a788bc21e8a5.png)

[2017-02-01 18:21] nmetulev commented on #469
yeah, that's the one

[2017-02-01 18:21] hermitdave commented on #469
@nmetulev right.. Posting from phone can be slow..  I might have a look later

[2017-02-01 18:59] #859 closed

[2017-02-01 19:48] #760 closed

[2017-02-01 19:49] ArchieCoder opened #871 "The ConnectionHelper hides an important issue"
Hello,

This is my 1st comment in the UWP Community Tookit :)

The provided ConnectionHelper does not take care of the remarks from Connectivity.ConnectionProfile.GetNetworkConnectivityLevel (https://msdn.microsoft.com/query/dev14.query?appId=Dev14IDEF1&l=EN-US&k=k(Windows.Networking.Connectivity.ConnectionProfile.GetNetworkConnectivityLevel);k(TargetFrameworkMoniker-.NETCore,Version%3Dv5.0);k(Dev

[2017-02-01 20:05] skendrot commented on #871
Are you suggestion to make it a Task returning method as well as have an event to notify when it changes?

[2017-02-01 20:09] ArchieCoder commented on #871
Yes, in my provided zip file above, I have one property that does no work: InternetStatus and an event handler InternetInformationChanged.

In your app initialization phase, a call to NetworkInformationProvider.Start service is required which it will call in a background task the GetNetworkConnectivityLevel and the InternetStatus will be updated automatically when the InternetInformationChanged ev

[2017-02-01 20:17] hermitdave commented on #871
@ArchieCoder see #455 I suggested a service for the purpose but it was deemed too complicated

[2017-02-01 20:17] hermitdave commented on #871
specifically https://github.com/Microsoft/UWPCommunityToolkit/issues/455#issuecomment-252096056

[2017-02-01 20:19] hermitdave commented on #871
I use custom NetworkService for similar use and if @deltakosh deems it fit (or uservoice) I can add those either for 1.3 or for 1.4

[2017-02-01 20:21] hermitdave commented on #871
@ArchieCoder I am not disagreeing with you.. that is the right way and I have used it in prod apps for 2+ years now

[2017-02-01 23:48] ZingPow opened #872 "TextBoxMask returning part of the Mask if input length < mask length"
I'm trying to get a 1 or 2 digit number for number of minutes a timer is to run for.  I have TextBoxMask.Mask="99" and if the user only enters 1 digit the return from the control is '1_' which causes the string to number conversion some grief.  I don't think any of the mask should be returned but again I could be wrong on this.

I should add that I'm running v1.3.0-dev00760

[2017-02-02 00:28] IbraheemOsama commented on #872
But what do you suggest to do ? remove the '_' or replace it with spaces !! both scenarios will give something different from the original string :)
For this reason we created TextBoxRegex, try it will fit in your scenario.

Thanks for reporting

[2017-02-02 00:45] deltakosh commented on #871
We can create an uservoice for it (And I'll vote for it!)

[2017-02-02 03:26] ArchieCoder commented on #871
@deltakosh Could you put the uservoice link in the Readme please? I tried to do an Internet search and I couldn't find it! I know it has been announced recently.

[2017-02-02 04:58] skendrot commented on #872
I voiced this same thing when it was being created. I don't like how it sets the actual Text property of the TextBox because it then messes up binding. The only way to work around this would be to create a custom TextBox or to modify the visual tree to place a TextBlock on top of the TextBox. This would be very complex given all the cases of where the TextBox might be.

As @IbraheemOsama stated, t

[2017-02-02 07:57] Odonno commented on #871
@ArchieCoder https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit

[2017-02-02 14:31] xied75 opened #873 "[ScrollHeader] when all 3 properties enabled"
Just playing with dev branch Sample App, if we enable all 3: QuickReturn, Sticky, Fade (all to On), seems only Fade is still working, both QuickReturn and Sticky are gone.

[2017-02-02 14:46] xied75 commented on #862
@Odonno I thought ApplicationInsights no longer work with Store Apps, the replacement is HockeyApp.

@deltakosh Can we stay away from the evil company?

HockeyApp is very easy to setup, just one NuGet then a single line of code, all done. Let's close this issue to release v1.3. So many features I need to use. :) 👍

[2017-02-02 14:51] deltakosh commented on #862
We will also add hockey app in 1.4 but I need some analytics for sample app. 1.3 is ready and will be published on 2/8

[2017-02-02 15:28] Odonno commented on #862
@xied75 Oh, yes you're right. I live in the past. :) AppInsights was really good.

[2017-02-02 15:35] deltakosh commented on #873
I agree. we must fix it before 1.3
two options:
- move to an enum to avoid incompatible options (sticky, fade, quick return,quickreturn&fade)
- turn off options not compatible (like if sticky == true then set everything else to false)

I'm for option 1
ping @pdehne

[2017-02-02 16:10] #872 closed

[2017-02-02 17:20] deltakosh commented on #873
I'll go ahead and implement the enum solution :)

[2017-02-02 20:35] #862 closed

[2017-02-02 20:35] #873 closed

[2017-02-02 21:57] noujaimc opened #877 "MasterDetailsView : SelectedItem throws NullReferenceException"
When setting a SelectedItem before the Loaded event is raised, a NullReferenceException is thrown.

See example below to reproduce exception :
[code]

Thank you

[2017-02-02 22:01] IbraheemOsama commented on #877
@skendrot FYI

[2017-02-02 23:08] skendrot commented on #877
Thanks for reporting this! A fix has been submitted.
@deltakosh: Hopefully this can make 1.3

[2017-02-02 23:16] #877 closed

[2017-02-02 23:16] deltakosh commented on #877
Yep still ok:) thanks for being so fast

[2017-02-03 03:18] nmetulev commented on #469
FYI, for reference, I checked in the current version of the control under the paper branch: https://github.com/Microsoft/UWPCommunityToolkit/tree/paper

[2017-02-04 01:43] twsouthwick opened #881 "Can sort description be used to sort on the object itself in AdvancedCollectionView?"
I'm attempting to use the new sort descriptions in the AdvancedCollectionView and would like to sort on the object itself and not a given property of the object. Since currently a NullReferenceException is thrown if you pass in `null` or `string.Empty`, can we use a property with either of those names to indicate the sort is on the object itself?

I can supply a PR if this behavior is acceptable.

[2017-02-04 01:51] deltakosh commented on #881
I'm fine to support this behavior

[2017-02-04 12:17] Romasz opened #883 "How about creating a method returning BackgroundDownload in OneDriveStorageFile?"
We have *BackgroundTransfer* in UWP and it seems that OneDriveService (or even API) doesn't have a method helper for creating background download. What do you think about providing such in `OneDriveStorageFile`?

For start I can share the one I'm using now.

[2017-02-05 20:09] Pinox opened #884 "Menu Blur"
Not too familiar with UWP toolkit.  Can someone plse point me in right direction. Want to create a transparent blur in the hamburger menu. Is something like this possible in existing toolkit ?

![uwp blur](https://cloud.githubusercontent.com/assets/5297255/22629454/2a856fea-ebef-11e6-9250-2973b9fbd0d8.jpg)

[2017-02-05 20:14] Odonno commented on #884
@Pinox I don't think that's possible to make a part of the app transparent to the desktop background. The app in the screenscrhot seems to use Project Neon design, which not yet available.

What you can do however is to add a frosted glass effect to the menu with a background image in your own application, not the computer background. Example here : https://xamltips.wordpress.com/2016/07/15/froste

[2017-02-05 20:54] Pinox commented on #884
Thanks @Odonno much appreciated.

[2017-02-05 20:54] #884 closed

[2017-02-06 05:23] ianier opened #885 "IncrementalLoadingCollection reload"
We should be able to tell IncrementalLoadingCollection to reload data from its source, something like a Refresh() method. The use case I have is implementing a filter on the collection.
I presume it's as simple as clearing the collection, setting CurrentPageIndex to zero and HasMoreItems to true. Unfortunately the HasMoreItems setter is private.

[2017-02-06 07:48] Odonno opened #886 "How to change Background color of SelectedItem in HamburgerMenu?"
I don't want to use the user Accent color but a color picked from the Theme of the app.

[2017-02-06 09:51] JohnnyWestlake commented on #884
FYI, with hte latest pre-release SDK you can actually create Window Blurs using new Composition SDK's - some documentation for that will rpobably appear towards the end of the week, but it'll only be available for people using Windows 10 Creators Update

[2017-02-06 10:07] Odonno commented on #884
@JohnnyWestlake When the docs will be published, I hope we will reopen this thread.

[2017-02-06 13:01] MichaelB-pl opened #887 "Cannot swipe Pivot when I have PullToRefreshListView inside PivotItem"
I have the Pivot, each PivotItem has only a Frame. I can swipe touching any item in any PivotItem excluding PullToRefreshListView.

I have UWPToolkit v1.2.0

[2017-02-06 16:14] CodeForCSharp opened #888 "How to apply the DecodePixelWidth/Height in ImageEx"
Can't cache the image when using DecodePixelWidth/Height in ImageEx.Source.What should I do?

[2017-02-06 16:25] hermitdave commented on #888
Can't remember who I was discussing this but I was told that setting the width / height should automatically set the decode pixel values for bitmap image.

ImageEx as such uses ImageCache and there's no way to set those values directly. Let me check further

[2017-02-06 16:30] hermitdave commented on #888
I don't think this will be added to 1.3 but we can look to add those properties in 1.4

[2017-02-06 16:48] hermitdave commented on #885
I've had a similar need before and played about with clearing items and setting HasMoreItems to true. We could add these. Feel free to raise a PR if you have time.

[2017-02-06 18:32] deltakosh commented on #886
It is not supported yet but we should expose the ItemContainerStyle in next release

[2017-02-06 18:32] deltakosh commented on #885
Agree. this is a good idea

[2017-02-06 18:33] deltakosh commented on #883
Ping @cbarkerms

[2017-02-06 18:37] #881 closed

[2017-02-06 20:20] nmetulev commented on #887
Thanks for reporting this. Could you share a quick repro that can help speed up a fix?

[2017-02-06 21:07] cbarkerms commented on #883
makes sense to me.  @EricVernie - just to make sure we're not duplicating, is this something you have already looked at?

[2017-02-06 22:07] xied75 commented on #750
@deltakosh you didn't give a reason as why this is closed.

[2017-02-06 22:20] bkaankose commented on #886
I can start working on it if no one is interested.

[2017-02-06 22:23] xied75 opened #889 "Go the extra mile to Not depend on newtonsoft.json package?"
Related to closed issue: https://github.com/Microsoft/UWPCommunityToolkit/issues/750

Currently there are 28 C# files that are referencing newtonsoft.json, most inside service part; I can't judge all of these, but at least it is possible to remove the dependency and simply use **DataContractJsonSerializer**  in the case of ObjectStorage/BaseObjectStorageHelper.cs.

Being The de facto standard in C

[2017-02-06 22:37] hermitdave commented on #889
We will have a discussion regarding this for toolkit v1.4

[2017-02-06 22:44] EricVernie commented on #883
Good idea I have not any plan on my side

[2017-02-07 00:14] deltakosh commented on #750
It will be on per project basis. Initially we did not pick winrt but UWp as base because the vast majority of users we are targeting are using C#
But if we can migrate a project to be winrt compatible while keeping backward compatibility, I'm ok

[2017-02-07 00:15] deltakosh commented on #886
Please go ahead ;)

[2017-02-07 00:15] deltakosh commented on #889
As long as we can keep the services backward compatible, I'm fine removing json.net

[2017-02-07 02:32] arcsinW commented on #887
I face the bug too, here is the repository [https://github.com/arcsinW/PullToRefreshListViewDemo](https://github.com/arcsinW/PullToRefreshListViewDemo)

[2017-02-07 03:00] nmetulev commented on #887
Thanks. Tried it with the latest from the dev branch and it seems to be working. Must have fixed it when fixing another bug :)

Closing this bug. If you find this is still not working in the upcoming release, please re-open the issue.

[2017-02-07 08:19] Odonno commented on #889
I am just wondering why the WIndows team did not integrated the Newtonsoft.Json library inside the Windows SDK, liek they did with SQLite.

Otherwise, if we can remove a dependency, I vote for it.

[2017-02-07 13:37] yanxiaodi opened #891 "How to use tab/pivot control in the Master/Detail layout?"
I found the Master/Detail control in the project. It's very cool and makes it easily to implement a Master/Detail layout like the Mail App. But I want to put a pivot control as container in the Master panel, and every pivot item do has a ListView as a child.  How to do this? Or can I use this control for this requirement?

Thanks!

[2017-02-07 15:06] skendrot commented on #891
You can accomplish this my restyling the control. You can replace the ListView that is in the master section. You would then need define how the SelectedItem property is set. By default we bind the SelectedItem of the ListView to the SelectedItem of the control. If you are using a Pivot with ListView as content, the easiest way to set the SelectedItem would be by subscribing to the SelectionChange

[2017-02-07 15:17] skendrot commented on #886
Wasn't this part of a PR already?

[2017-02-07 15:18] skendrot commented on #886
#682

[2017-02-07 15:24] Odonno commented on #886
@skendrot It looks like.

[2017-02-08 00:24] GrantMeStrength opened #893 "MasterDetail view - add buttons to the bottom of the left-hand list"
With many apps, that use the MasterDetail pattern, there is a bar of controls at the top or bottom of the listview that allows items to be (for example) deleted or added. However, I cannot work out how to add any other controls within the toolkit's MasterDetail implementation. I can only add a CommandBar that sits under the entire M/D view, and as the CommandBar buttons all align right, it doesn't

[2017-02-08 08:06] Odonno commented on #413
We still need that. :)

Will it be embedded inside the Toolkit?

[2017-02-08 08:11] Odonno opened #894 "Tab control like in Microsoft Edge"
It can happen that sometimes we do need a control to store a list of pages/elements that looks like a Pivot control but with a infinite list of pages/elements. So, I think the tab (header) control of Microsoft Edge can be reused with :

- [ ] A list of default templates
    - example 1 : only title
    - example 2 : icon with title
    - example 3 : icon with title and a close button (like Microso

[2017-02-08 08:23] skendrot commented on #893
Currently the only way to do this would be by restyling the control.
I think adding a MasterCommandBar and DetailsCommandBar makes sense.

[2017-02-08 09:37] shyamshr93 opened #895 "Add Control to Crop, Resize and Rotate Image."
It would be very helpful to have control to crop, resize and rotate image.
I hope someone will look into it.
Thank you

[2017-02-08 09:38] ScottIsAFool commented on #895
Have you had a look at WriteableBitmapEx? https://github.com/teichgraf/WriteableBitmapEx

[2017-02-08 11:37] CabuxaMapache opened #896 "Light animation in Sample App causes my phone to reset"
This issue is with v1.3 and keeps reseting my Lumia 930 everytime I open Light animation sample.

[2017-02-08 12:40] hermitdave commented on #896
@CabuxaMapache what OS build are you running ?

[2017-02-08 12:58] angusbreno commented on #895
I have a implementation of crop and a chooser... Maybe it's something to put in the toolkit?

https://github.com/NaylahProject/Naylah.Toolkit.UWP#image-chooser

[2017-02-08 13:06] hermitdave commented on #895
@angusbreno consider raising a uservoice issue and if there's sufficient interest we can add it to the toolkit
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit

[2017-02-08 13:28] hermitdave commented on #896
okay light animation causing reboot on 930, 640, and 650 all running 10.0.14393.x

it works on 950 + 950XL

Sadly no exception is thrown - the animation does not start and after a few seconds the device resets

[2017-02-08 14:24] CabuxaMapache commented on #896
My Lumia 930 is running 10.0.14393.693

[2017-02-08 14:34] deltakosh commented on #413
ping @dotmortem:)

[2017-02-08 14:37] deltakosh commented on #896
ping @shenchauhan

[2017-02-08 16:12] SmartPolarBear opened #897 "Microsoft.Toolkit.Uwp.Notifications causes System.MissingMethodException"
It happens after I upgrade nuget package _Microsoft.Toolkit.Uwp.Notifications_ to version 1.3.0, The exception is caused during setting the Text property of AdaptiveText for toast notifications, which runs normally when using version 1.2.0.
The error info is:"Method not found: 'Void Microsoft.Toolkit.Uwp.Notifications.AdaptiveText.set_Text(System.String)'."

my codes:

            ToastContent toa

[2017-02-08 16:20] deltakosh commented on #897
ping @anbare

[2017-02-08 16:33] deltakosh commented on #893
Could be great addition to the existing control

[2017-02-08 17:53] deltakosh commented on #563
Clsoing this one as now we have the solution to use telerik charts:https://github.com/telerik/UI-For-UWP

[2017-02-08 17:53] #563 closed

[2017-02-08 18:29] beto-rodriguez commented on #563
LiveCharts started as an alternative to expensive charting frameworks, it has a MIT license and the UWP version has some issues but WPF version is close to 1.0, this means UWP will have more love soon, in case some one is interested.

[2017-02-08 18:32] xyzzer commented on #563
Awesome! Does it mean I can finally stop "supporting" the Silverlight Chart in WinRT XAML Toolkit and redirect people to https://github.com/telerik/UI-For-UWP ? :)

[2017-02-08 18:34] anbare commented on #897
Hey @SmartPolarBear, thanks for reporting this! I'm unable to repro this issue using your exact code (in both debug and .net native release mode).

Can you share some info about your project setup? **Is this code inside the main UWP project?** Or a WinRT component library? Or a portable class library?

[2017-02-08 18:35] xyzzer commented on #563
Is it rendered with XAML or DX?

On Wed, Feb 8, 2017 at 10:29 AM, Alberto Rodríguez <notifications@github.com

[2017-02-08 18:46] Pinox commented on #563
![image](https://cloud.githubusercontent.com/assets/5297255/22752040/ac650c8a-ee3f-11e6-8ed5-3f010b3e113a.png)

https://github.com/beto-rodriguez/Live-Charts

[2017-02-08 19:05] anbare commented on #897
Ahh, do you have multiple projects in your solution, and only updated one of your projects to 1.3.0, and left the other one on 1.2.0?

Looks like you probably have a secondary project where this code is written (maybe a class library or WinRT component).... this secondary project is still referencing 1.2.0... but your main app is referencing 1.3.0.

That'll cause this exception. Make sure all nuge

[2017-02-08 19:48] 7vn opened #898 "Expander"
How do I change background of Expander from Default Blue?  I set it in XAML and it wont transpose to control.

[2017-02-08 21:13] deltakosh commented on #898
Hello if you think about the content you have full control inside your code.
For expander header, you can redefine the Expander style (check my background=red here)
[code]

I agree this is not ideal and we should improve it for next release (ping @Odonno)

[2017-02-08 21:36] skendrot commented on #898
I think the header background is fine with restyling, but the control does not respect setting the background on the control itself.
So, doing the following has no effect:
[code]

[2017-02-08 21:37] deltakosh commented on #898
Yep we need to fix it for next release

[2017-02-08 22:45] Weasy666 opened #899 "Hidden App Backup with OneDrive Service"
With this service is it possible to create a hidden backup of some app data, like WhatsApp is doing it on Windows Mobile?

[2017-02-09 00:39] deltakosh commented on #596
Closing this one as now Telerik provided an open source control for it: https://github.com/telerik/UI-For-UWP/

[2017-02-09 00:39] #596 closed

[2017-02-09 00:42] deltakosh commented on #563
@beto-rodriguez looks awesome. I cannot find the UWp version on nuget. Is it expected?

[2017-02-09 00:50] beto-rodriguez commented on #563
https://www.nuget.org/packages/LiveCharts.Uwp/ but I do not recommend you to use it for now

[2017-02-09 00:52] deltakosh commented on #563
ok:) I checked your repo this looks really promising
Please keep us updated when this will become available for UWP

[2017-02-09 00:59] yanxiaodi commented on #891
Thank you! I'll try it.

[2017-02-09 03:55] iamstudentVN opened #900 "ScrollHeader not work"
I run UWPCommunityToolkit app is work but when i build a app is not work?

[2017-02-09 07:59] Odonno commented on #898
I'll do it.

By default, we should set the accent color, right?

[2017-02-09 11:09] Odonno opened #902 "Frosted glass"
I don't know why the Frosted Glass effect has not been integrated in the toolkit yet.

I'll need it really soon. Can I submit a PR based on the code here https://docs.microsoft.com/en-us/windows/uwp/graphics/using-the-visual-layer-with-xaml#frosted-glass ?

[2017-02-09 11:56] Liero opened #903 "customizable CameraCaptureUI and ImageCropping control"
UWP does have powerfull CameraCaptureUI API. Unfortunatelly, the UI isn't very customizable. For example I was not able to set the cropping rect to detected face bounds. I suggest to add set of controls and helpers to work with camera to UWP Community Toolkint.

It should meet this requirement:

1. Display preview stream and handle different rotations and oriantations
2. Provide API to get bounds

[2017-02-09 12:21] angusbreno commented on #895
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/4308936-picture-cropping-control

[2017-02-09 12:40] xied75 commented on #900
Please give more information as what you did and what happens, better with some source code.

[2017-02-09 12:43] hermitdave commented on #895
I think I can see the case for a Toolkit helper in this instance.

[2017-02-09 12:45] xied75 opened #904 "Sample App crashes when network is down"
Hi all,

Just discovered this yesterday, if there is no network around, when you fire up the sample app, and click e.g. Helpers -> SystemInformation, (or anything else), the app crashes immediately.

Apparently a httpclient not within a try catch block.

[2017-02-09 12:48] angusbreno commented on #895
@hermitdave Using App Service right?

[2017-02-09 12:49] hermitdave commented on #895
IMO that might be a good start. We aren't creating new bits in toolkit but making existing functionality simpler for all. Windows 10 by default ships with the Photos app so we could try and discover ways to make other things easier.

[2017-02-09 12:57] xied75 opened #905 "Sample app does not adjust to fit items when tablet orientation changed"
In the sample app, after you get AdaptiveGridView sample showing, if you turn the tablet to vertical, it can be observed that items is not adjusting properly. :)

[2017-02-09 13:20] SmartPolarBear commented on #897
@anbare Thanks very much. With your advice, I solved the problem. The reason is I forget to update the library in one of my class libraries......

[2017-02-09 13:22] JohnnyWestlake commented on #896
Not surprising - if you play with the Windows UI Dev Labs sample app you'll get your phone to reboot quite occasionally too. (Display driver crash / malfunction on Windows Mobile doesn't have a recovery mechanism outside of rebooting the phone...). With enough combinations of magic you can also take down your desktop PC's display driver

Afaik, this was only fixed at OS / driver level with the Cre

[2017-02-09 14:17] JulienTheron opened #906 "MasterDetailsView stays in the Master ViewState after resizing"
Hi,

I've discovered an issue with the MasterDetailsView control.
When the control is displayed on a window whose width is less than 720px, and then I expand the width of the window, the ViewState of the MasterDetailsView doesn't change. The ViewStateChanged event isn't raised, and the BackButton isn't shown (the MasterDetailsView is on the MainPage). If an item is selected in this state, the even

[2017-02-09 14:48] hermitdave commented on #896
The problem is that it only takes one go on these devices

[2017-02-09 14:49] #897 closed

[2017-02-09 15:11] deltakosh commented on #898
yep:)

[2017-02-09 15:52] skendrot commented on #906
Can you provide a repo? This is not reproducible with the sample app

[2017-02-09 16:21] deltakosh commented on #902
I'm for it:)

[2017-02-09 16:22] deltakosh commented on #899
What do you mean by "hidden" ?

[2017-02-09 16:22] deltakosh commented on #904
I'm on it

[2017-02-09 16:25] Weasy666 commented on #899
When do a backup of your conversations, Whatsapp stores them on OneDrive at an app specific location. This location can't be seen or edited when you log in to OneDrive, neither in the FileExplorer nor in OneDrive Online.

[2017-02-09 16:30] deltakosh commented on #899
ping @cbarkerms
Current version allows you to save in an app specific folder: OneDriveService.Current.AppRootFolderAsync

[2017-02-09 16:36] Weasy666 commented on #899
ah...great! Thank you! Haven't seen that in the docs. I only saw the `OneDriveService.Instance.RootFolderAsync()` and (if i understood it correctly) that is the normal OneDrive folder you see in the FileExplorer.
I'll try it with the `OneDriveService.Current.AppRootFolderAsync`

[2017-02-09 16:37] JulienTheron commented on #906
Hi just created a repo to reproduce the issue.
Make sure not to be attached with a debugger when launching the app.
[MasterDetailsView_Issue906](https://github.com/JulienTheron/MasterDetailsView_Issue906.git)

Thanks.

[2017-02-09 16:38] deltakosh commented on #899
Great :)

[2017-02-09 16:38] #899 closed

[2017-02-09 16:45] skendrot commented on #906
Thanks @JulienTheron. I'll look into it

[2017-02-09 16:48] Odonno commented on #902
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18007249-frosted-glass

[2017-02-09 16:49] deltakosh commented on #903
Do you mind creating an Uservoice entry?
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit

See also #895

[2017-02-09 16:54] deltakosh commented on #904
Fixed with https://github.com/Microsoft/UWPCommunityToolkit/commit/e0ffccd784102a22c6a0796422b67b8d51632f1f

[2017-02-09 16:54] #904 closed

[2017-02-09 16:55] deltakosh commented on #896
It is a known bug. Composition team fixed it for Creator Update
I added a warning in the sample app.

[2017-02-09 16:55] #896 closed

[2017-02-09 18:15] Liero commented on #903
I've created new idea on user voice: [Customizable CameraCaptureUI including ImageCropping](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18008278-customizable-cameracaptureui-including-imagecroppi), but I believe this was also asked here [Improve CameraCaptureUI ON Windows 10 Desktop](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestio

[2017-02-09 19:13] shams92 opened #908 "Proper image zoom control with full gesture support and capable of being placed in a popup"

[2017-02-09 19:17] totht91 commented on #908
I think you need to explain more. BTW the Image in ScrollViewer works good for pinch zoom.

[2017-02-09 19:31] shams92 commented on #908
ScrollViewer has an issue with default zoom factor, always zoomed in by default, and it cannot be placed inside a popup.
enabling double tap gesture would be very helpful.

[2017-02-09 20:44] skendrot commented on #905
Just to make sure I'm understanding correctly. The reproduction steps are:

1. Download sample app from Store
2. Launch app with laptop/tablet in landscape
3. Open the AdaptiveGridView sample
4. Rotate laptop/tablet to portrait

Is this correct?

[2017-02-09 20:49] myokeeh opened #909 "WrapPanel children rendered as zero width & height in XAML designer"
I'm using Visual Studio 2015, UWPCommunityToolkit 1.3.0, and Template10 1.1.12. Targeting build 14393.

I'm using the WrapPanel sample code.

In the XAML designer in VS2015, children are bunched up at the top left corner of the WrapPanel. Zero width and height.

When I run the app, the WrapPanel and the children behave/show as expected.

[code]

[2017-02-09 20:51] hermitdave commented on #908
@shams92 We should raise this as a user voice for this. https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit

I have just finished created a zoomable image control that uses scrollviewer and sets min, intermediate and large points and allows pinch zoom as shown

I have uploaded a video of it here
https://youtu.be/5r_aH6PlRio

[2017-02-09 21:03] shams92 commented on #908
thank you for your help. Hope to see this feature implemented soon.

[2017-02-09 21:12] hermitdave commented on #908
can you please create a uservoice entry ? @shams92

[2017-02-09 21:18] shams92 commented on #908
yes, i have created one just now.

[2017-02-09 21:20] hermitdave commented on #908
if you can edit it and add please more info. having a long header doesn't help.

[2017-02-09 21:24] shams92 commented on #908
okay, sure

[2017-02-09 21:25] deltakosh commented on #908
think about this as a ticket for a team of developers to create it :)

[2017-02-09 21:26] rozele commented on #650
Thanks so much for adding this feature, it works great for http://github.com/ReactWindows/react-native-windows

[2017-02-09 21:29] rozele opened #910 "ImageCache query cached URI capability"
React Native supports querying for which URIs are currently cached (https://github.com/facebook/react-native/blob/master/Libraries/Image/Image.android.js#L221).  The function is basically something "given a list of URIs, return a mapping from URIs to the string 'memory' or 'disk' (or no mapping for images that are not currently cached)".  I'd like to be able to implement something like this using

[2017-02-09 21:40] hermitdave commented on #910
@rozele right now you can query for underlying storage file
https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI/Cache/CacheBase.cs

if you get null the item does not exist.

There method name is GetFileFromCacheAsync

Right now cache code does not support passing a list of items. If there's sufficient interest we could at these.

[2017-02-09 22:04] IbraheemOsama commented on #909
@myokeeh thanks for reporting but it works fine on my device
![capture](https://cloud.githubusercontent.com/assets/6191377/22805035/c8312008-ef6f-11e6-8d46-94eb5059af9b.PNG)
My target version is 14393 and min version is 10586 and I download the toolkit from nuget

[2017-02-09 22:07] hermitdave commented on #909
@IbraheemOsama is the wrap panel only supported within items control ? I created panel by itself and added children and they appear to overlap in designer whilst not being rendered

[2017-02-09 22:08] IbraheemOsama commented on #909
@hermitdave please share the code and a screen shot :)

[2017-02-09 22:12] IbraheemOsama commented on #909
@hermitdave no it supports both. I tried both and working fine on my machine that's why I need a screen shot

[2017-02-09 22:29] hermitdave commented on #909
![screenshot 64](https://cloud.githubusercontent.com/assets/1896163/22805818/401f093a-ef17-11e6-95a9-3f344f313c37.png)

[2017-02-09 22:45] hermitdave commented on #909
mine is just toolkit sample modified

[2017-02-09 22:48] myokeeh commented on #909
Just to confirm, I'm still seeing the same behavior even targeting min build 10586. Also got rid of the ItemsControl with the same control.

I also see the same problem on two different machines.

To clarify, I'm using the Hamburger (Template 10).

I created a new project from the template and deleted everything under the main RelativePanel in MainPage.xaml and pasted my code from the original pos

[2017-02-09 22:50] rozele commented on #910
I'm not worried about passing a list of items.  This should be exactly what I'm looking for, thanks! I'll close if I can get this to work.

[2017-02-09 22:52] rozele commented on #910
@hermitdave any way to tell if an image is cached in memory?

[2017-02-09 23:11] xied75 commented on #905
Yes, turn from landscape to portrait.

[2017-02-09 23:13] xied75 commented on #904
Would this warranty a bug-fix-release of the Store app?

[2017-02-09 23:13] deltakosh commented on #904
i hope so. I tested it with no network

[2017-02-09 23:22] xied75 commented on #904
So you'll release a 1.3.1 to store soon? BTW how do you do the delivery pipeline? Any automation there?

[2017-02-09 23:30] deltakosh commented on #904
Should hit the store today or tomorrow
For nugets publication we use Myget.org
For the store app it is manual

[2017-02-09 23:46] xied75 commented on #904
Would be great if the store app could be pushed by CD. If you can find a machine to run Jenkins, I might try to utilize this https://github.com/JanJoris/ober to setup a CD pipeline.

[2017-02-09 23:47] IbraheemOsama commented on #909
@hermitdave it just work fine on my machine :) here is 2 screen shot. the problem is with your VS designer :P
![capture1](https://cloud.githubusercontent.com/assets/6191377/22808063/5067680c-ef7e-11e6-80ab-b2d26c6bf3ca.PNG)
![capture2](https://cloud.githubusercontent.com/assets/6191377/22808072/551b6628-ef7e-11e6-8ce8-cdec9e6b8c49.PNG)

[2017-02-09 23:48] IbraheemOsama commented on #909
@myokeeh will investigate the scenario :) thanks for the clarification

[2017-02-09 23:49] deltakosh commented on #904
we do use VSTo for this but the push on the store (on the dev center) is done by hand

[2017-02-10 00:04] timheuer opened #911 "NuGet for Microsoft.Toolkit.Uwp is incorrect"
The description for the Microsoft.Toolkit.Uwp NuGet package is incorrect.  As it reads it feels like that is the super package and all I need to get everything.  In fact it isn't.  It is also different description than what reads on the screenshot of the GitHub readme page.

[2017-02-10 00:05] deltakosh commented on #911
Good catch. I'll update it with the desc we have on the readme: "NuGet package includes code only helpers such as Colors conversion tool, Internet Connection detection, Storage file handling, a Stream helper class, etc."

[2017-02-10 01:00] iamstudentVN commented on #900
ScrollHeader modes not work. it's like a normal Listview
This is my code: `<ListView Name="listView">
            <ListView.Header>
                <controls:ScrollHeader Mode="QuickReturn"
                                       TargetListViewBase="{x:Bind listView}">
                    <Grid x:Name="MyHeaderGrid"
                          MinHeight="250"
                          Background="Gre

[2017-02-10 06:24] hermitdave commented on #910
Not at the moment but we can fix that bit if needed

[2017-02-10 11:00] Odonno commented on #898
@skendrot I tried something yesterday. I didn't succeed because the Background property is set for the default VisualState, not the Checked VisualState of the ToggleButton.

So, I think we should provide a way to change the ToggleButton style of the Expander control, and not setting the Background property. What do you think?

[2017-02-10 11:11] Odonno commented on #904
@xied75 @deltakosh There is a VSTS extension to push updates to the Windows Store (flight or normal release). https://marketplace.visualstudio.com/items?itemName=MS-RDX-MRO.windows-store-publish

[2017-02-10 13:22] amkuchta opened #913 "Rename HamburgerMenu Tag Property"
I know that this will be a breaking change, but the `Tag` property on the HamburgerMenu is not very intuitive - I suggest renaming it to `DisplayContentItem`, which (in my opinion) more adequately defines what it is used for.

[2017-02-10 14:24] rozele commented on #910
Thanks @hermitdave.  In order to have parity on this feature with ReactAndroid, we'll need the ability to query for images cached in memory.  It's not blocking right now as we can easily get started with just the disk query, but still a nice-to-have.

[2017-02-10 14:46] hermitdave commented on #910
I will add that in soon.. is a simple Boolean check good enough ?

[2017-02-10 14:49] deltakosh commented on #904
thanks I'll check

[2017-02-10 15:21] xied75 opened #914 "[AdvancedCollectionView] type, why we can't set CurrentPosition?"
The CurrentItem allows Gets and Sets, but the CurrentPosition only allows Gets?

Related to this type, can we have an indexer [] on it? (Not sure if this fits with a CollectionView abstraction though).

3rd question, if we use this ACV in xaml binding, we would create an ACV in ViewModel constructor, but by this time the real data might not exists yet (e.g. need user to click button to fetch some

[2017-02-10 15:23] deltakosh commented on #914
good ideas. fancy doing a PR?

[2017-02-10 15:26] xied75 commented on #914
Sure, but I need to know from you guys what I asked is not insane :)
Besides, the original authors might have opinions as well.

[2017-02-10 15:29] deltakosh commented on #914
Completely fair. I think the original author will appreciate any improvement to his creation:)

[2017-02-10 15:31] xied75 commented on #914
Right, if there is no objection, I'll wait a bit for cool-down period, then make the PR.

[2017-02-10 15:53] hermitdave commented on #911
Err maybe we should consider having a super package as well ?

[2017-02-10 15:57] deltakosh commented on #911
what would be the value added? save you from two or three clicks?:)

[2017-02-10 17:37] deltakosh commented on #913
Hello not sure to follow here.
The tag is intended to be like in Windows Forms. A user defined value that could be useful for hosting app

[2017-02-10 18:23] Kapranov98 opened #916 "Add support for images and triple backticks code block for Markdown"
It would be nice to add an image display support for Markdown Textblock. It is very lacking to complete the work with this feature

[2017-02-10 18:26] Odonno commented on #916
Yeah, that's clearly needed.

By the way, I think you should add the suggestion to the Uservoice.

[2017-02-10 18:42] skendrot commented on #898
@7vn The Expander uses system defined ThemeResources to style the header. You can change the color of the header by modifying the colors defined by those resources.

Example:
[code]

You can also put that at a page level to apply to all expanders. Changing these values will have the added benefit of changing any other controls that use the style.

[2017-02-10 19:21] deltakosh commented on #900
Does it work on your computer if you use the Sample App?

[2017-02-10 19:33] Odonno commented on #898
@skendrot Yes, there was no TemplateBinding for Background. It is now binded to the Content of the control.

[2017-02-10 19:48] deltakosh commented on #898
Regarding initial question: You can also provide a HeaderTemplate to control how the header behaves.

[2017-02-10 20:31] Odonno commented on #898
@deltakosh Already asked. Already done. :)

What I suggested is to override the `Style` of the ToggleButton, but I am not sure if it's a good idea.

[2017-02-10 21:51] amkuchta commented on #913
Currently, I am using the `Tag` property HamburgerMenu to bind a custom `UserControl` that I am implementing as a view.   The main content area of the HamburgerMenu is bound in such a way that the `UserControl` associated with the `Tag` property of the SelectedItem shows in the main content area.

Am I missing a better way to display a custom view in the main content area without using Navigation?

[2017-02-10 22:04] deltakosh commented on #913
if it works for you this is fine but the Tag cannot be renamed based of you need (because tag is a generic property)

Btw you are not forced to use an HambugerMenuItem. you can use your own class and provide you datatemplate

[2017-02-10 22:55] amkuchta commented on #913
@deltakosh Please don't misinterpret the request - I am capable of using the `Tag` property, it just doesn't seem like the best of names.  To me, it should be intuitive - `Tag` does not give the best of ideas as to what it should be used for.

I'll go ahead and close the issue - just wanted to make the suggestion.

[2017-02-10 22:55] #913 closed

[2017-02-10 22:57] deltakosh commented on #913
No worry I appreciate the feedback :D and thank you very much for it!

[2017-02-11 05:52] IbraheemOsama commented on #909
It work fine at my device even in template 10 project inside the main page inside the relative panel :)

[2017-02-11 08:34] Klepeto opened #918 "Killed by fast typing in TextBoxMask"
If you type in TextBoxMask really fast (crazy pressing random keys) with keys that don't match regex (like letter on numeric textbox) it will will kill the app. I think it has something common with `textbox.TextChanging`.  This question on SO is similar: http://stackoverflow.com/questions/39579461/crash-after-fast-typing-in-textchanging-event

[2017-02-11 08:42] IbraheemOsama commented on #918
Interesting, we will investigate.
Thanks for reporting

[2017-02-11 09:03] IbraheemOsama commented on #918
![textboxexception](https://cloud.githubusercontent.com/assets/6191377/22852665/064c7e8e-f095-11e6-9377-c8eb37dfb263.PNG)

Exception message
0xC0000005 occurred
Message: Exception thrown at 0x630954BC (TextInputFramework.dll) in Microsoft.Toolkit.Uwp.SampleApp.exe: 0xC0000005: Access violation writing location 0x00000000.

[2017-02-11 09:06] IbraheemOsama commented on #918
@deltakosh this an unmanaged exception !!

[2017-02-11 12:46] iamstudentVN commented on #900
both computer and phone

[2017-02-11 13:46] iamstudentVN commented on #900
I updated version 1.3.1

[2017-02-11 13:50] iamstudentVN commented on #900
sample app in the store fine

[2017-02-11 16:08] deltakosh commented on #900
can you share your project?

[2017-02-11 17:20] pekspro opened #919 "Saturation"
Are the any plans to add saturation animation support in UWP Community Tookit? I wanted to convert images to grayscale in my project, so I copied the code for Blur animation and modified it to support saturation instead. I was able to get this to work (but I’m not sure how… :-).

If any interest I might do a PR for this.

[2017-02-11 18:22] Anarh2404 opened #920 "AnimationSet Completed event broken"
After the update broke event animation completed. The first time works correctly, but if you run the animation the second time the event is not called. In version 1.2 it works correctly.

[2017-02-11 18:22] deltakosh commented on #920
Ping @nmetulev

[2017-02-11 19:13] deltakosh commented on #919
Like the idea..please add a uservoice entry for it ;)

[2017-02-11 21:39] bkaankose commented on #903
It's a good idea, but needs a lot work. Even just re-design the current UI would be a lot. I am not even counting customizable part :) It looks like a simple camera area with a few buttons here and there but the functionality behind is crazy.

I'd love to work on this if we agree to implement it in the toolkit though.

[2017-02-11 23:42] myokeeh commented on #909
A head-scratcher for me.

I just tried this again. Using 1.3.1. I can confirm that in a new Hamburger Template10 project I just generated, the children display. However, I've practically reduced my original App's MainPage.xaml to what's in the test app's MainPage.xaml with the added code below. My original app still doesn't display the children in the designer.

[code]

[2017-02-12 02:16] nmetulev commented on #920
Thanks for reporting. Is it possible to share a quick repro project, it can help quite a bit?

[2017-02-12 02:31] iamstudentVN commented on #900
@deltakosh Yes

[2017-02-12 07:38] Anarh2404 commented on #920
It was not an event. The animations do not work if it is run the second time
Simple example.  In version 1.3 works only first time. In version 1.2 always works

`<Page x:Class="TestApp.MainPage"
      xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
      xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
      xmlns:local="using:TestApp">

    <Grid Background="{ThemeResource

[2017-02-12 11:17] Odonno opened #921 "OneWay binding to IsChecked property of ToggleButton"
I started to use a ToggleButton that is directly binded to a Bool property from a ViewModel. This property can only change from the code (using a Command or via a Refresh method inside the ViewModel).

I did not understand why but the color (value?) of the ToggleButton went wrong between the ViewModel property and what is shown at the screen.

I tried the following solution in my code and it works

[2017-02-12 12:29] ScottIsAFool commented on #921
I see no issue with adding this

[2017-02-12 12:37] Odonno commented on #921
@ScottIsAFool I have one question eventually. Should we only add the DP (like in the code I showed you) or should we create a new control (ToggleButtonEx) with new properties?

[2017-02-12 12:38] ScottIsAFool commented on #921
No need to create a new control for this, the attached property is perfectly sufficient for this

[2017-02-12 12:43] hermitdave commented on #921
ToggleButton, ToggleSwitch etc works fine with nullable bool properties.. Do we really need attachable properties??

[2017-02-12 12:47] ScottIsAFool commented on #921
@hermitdave this is about when your property on the viewmodel is not a nullable bool, then the binding won't work properly.

[2017-02-12 13:31] hermitdave commented on #921
Its not like the VM is going to be someone else's sealed code.

[2017-02-12 13:40] hermitdave commented on #921
Alternatively we should have Bool to Nullable Bool converter

[2017-02-12 14:41] Odonno commented on #921
@hermitdave I tested both with a simple bool property AND with a nullable bool property with a `NullableBoolToBoolConverter`.

I did not understand why the `IsChecked` binding property of the ToggleButton does not care of PropertyChanged event. But like I said, using the custom Dependency Property fixed the bug.

[2017-02-12 14:57] skendrot commented on #921
I don't understand the need for this. Can you give a use case for wanting to bind IsChecked one way? Why would you not want the user clicking the button to change your view model but changing the view model would change the toggle?? Should it even be a toggle button if you don't want it changing the value from user interaction.

[2017-02-12 14:59] ScottIsAFool commented on #921
Well, it wouldn't have to be restricted to just oneway, if we add it, it could support two way binding too.

[2017-02-12 15:01] skendrot commented on #921
??? What would be the point of this? ToggleButton works just fine with TwoWay binding to IsChecked

[2017-02-12 15:02] Odonno commented on #921
@skendrot Here are possible reasons I do a OneWay binding :

1) The RelayCommand act on the property (so the IsChecked binded property is updated in the Command)
2) Another action on the View can update the IsChecked property.

[2017-02-12 15:03] skendrot commented on #921
Can you give a concrete example?

[2017-02-12 15:06] skendrot commented on #921
I understand wanting to change your view model from another action. I'm having a hard time understanding why you would not want the click of the button to change your view model

[2017-02-12 15:07] skendrot commented on #921
For your number two, your view should be changing the value for your view model also, not IsChecked on the toggle

[2017-02-12 15:40] Odonno commented on #921
@skendrot Sorry, I may have not used the proper words. Let's go back to my my examples where I stay with a OneWay binding (from ViewModel to View) :

1) I have set the Command of the ToggleButton to the RelayCommand in the ViewModel that update the Property in the ViewModel and using PropertyChange will update the View (not working by default, work with the fix)
2) Another Command or whatever will

[2017-02-12 20:08] Liero commented on #903
"it needs a lot of work" - that's exactlty why it should be part of Community Toolkit :)

I definitelly can contribute. I'm working on an larger solution and something like this will be part of it. I believe I could then make it public.

[2017-02-12 20:42] hawkerm opened #922 "Expander Should Have ExpandDirection Property"
Right now the default and only option for expansion is 'Down'.

For parity with WPF, the Expander control should have an [ExpandDirection](https://msdn.microsoft.com/en-us/library/system.windows.controls.expander.expanddirection(v=vs.110).aspx) Property that controls which way the expander content goes in relation to it's header bar.

I've used it in the past for containers on the side of my windo

[2017-02-12 21:05] hawkerm commented on #894
It'd be great if this type of control also automatically allowed/handled ripping out a tab into it's own new window view like Edge (and most browsers) as well.

[2017-02-12 21:40] hawkerm opened #923 "Add LayoutTransform Helper"
Rotating text without this is a [pain](http://stackoverflow.com/questions/36245815/vertical-text-in-uwp-apps-with-xaml) as the text will get clipped as the container size doesn't change with the rotation.

Just found out this was missing, there's been a couple of requests for it in the past on user voice [here](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/613865

[2017-02-12 21:43] hermitdave commented on #921
https://github.com/hermitdave/ToggleSample

@Odonno one way binding and command works just fine

[2017-02-12 22:07] Pinox commented on #770
I opened a uservoice ticket , for anyone liking the feature

https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18058147-pivot-viewer-control-silverlight-equivalent

[2017-02-12 22:38] Odonno commented on #894
@hawkerm It is not what I intended to create. The first goal will be to offer the minimum experience of multiple tabs like we can use in a browser or some apps that use this control.

But if more interested features can come from this control, I am 100% OK to do it.

[2017-02-12 22:53] Odonno opened #924 "Improve Expander control (animation, color)"
From #917, we started a discussion about how to improve the Expander control and how it should behave based on colors and animations. Here is the list of things I noted :

* [x] Header should have animations (like scale of the arrow)
* [x] Content should have animations (when opening/closing the content)
* [x] The Background of the control should be binded to (header/content/entire control)?

cc.

[2017-02-13 04:06] skendrot commented on #905
I tested in the sample app. I think what you are seeing is an issue with the sample app itself. Something does not size itself properly in the sample app. Notice the GitHub link in the bottom right corner. Only part of the link is visible. This can be seen in any sample. Resize the splitter a little to the left and you'll see that it works fine. Have you tested this within a simple app?

[2017-02-13 04:08] skendrot commented on #922
Completely agree here. I opted to not require this for the initial version of the Expander, but this it is a must have feature. You could of course add this quite easily by restyling the control.

[2017-02-13 04:11] skendrot commented on #924
My votes:

1. I like this option. It's subtle, but noticeable.
2. Not a must, but I think it's important
3. Background of the control should change the background of the entire control, not just the header or the content portion

[2017-02-13 06:47] Odonno commented on #922
Yeah, that's a good idea.

[2017-02-13 07:45] hermitdave commented on #921
@Odonno did you get a chance to look at the sample?

[2017-02-13 08:00] Odonno commented on #921
Not for the moment, I'll send a message when it's done.

[2017-02-13 09:11] hermitdave commented on #910
@rozele this is now supported in the dev myget builds.. Will be pushed to 1.4 next month

[2017-02-13 09:11] #910 closed

[2017-02-13 09:13] Odonno commented on #921
@hermitdave I tried and it works fine like you said. I made a `NullableBoolToVisibilityConverter` to see if it change anything but still working.

I'll try to remove the fix in my app later and I will give you a project where the bug is reproducable.

[2017-02-13 10:29] DanielSchiermeier commented on #900
the scroll header behavior is only called on mode change and not on initial set in xaml.
in the sample app the mode is set with binding and the scroll header behavior is called.

[2017-02-13 11:58] pekspro commented on #919
Done :)

https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18079645-saturation

[2017-02-13 15:36] MatthieuBapaume opened #927 "Compilation error when referencing Microsoft.Toolkit.Uwp.Controls"
Hi,

I wanted to test to RotatorTile control, but just after added the package with nugget, i had this compilation error (sorry i didn't translate)

I have the last windows 10 sdk installed on my vs:

Gravité	Code	Description	Projet	Ligne	Fichier	État de la suppression
Erreur		La charge utile contient plusieurs fichiers avec le même chemin d'accès de destination 'Microsoft.Xaml.Interactivity.dll'.

[2017-02-13 15:47] deltakosh commented on #927
Hello,
are you referencing the behavior assembly directly in your project?

[2017-02-13 16:04] MatthieuBapaume commented on #927
Thanks for the reply,

I've just removed the behaviour sdk, it works fine.
I won't use trigger interactions anymore, x:bind seems better to me right now.

[2017-02-13 16:04] #927 closed

[2017-02-13 16:09] totht91 opened #928 "Add HamburgerMenuItem.IsEnabled support"
We need an easy (and bindable) way to disable and hide hamburger menu items. I can create a PR later this week if you want.

[2017-02-13 16:34] deltakosh commented on #923
Hello! This is open for discussion but I'm not sure we can do it on our side. This seems to be something for the XAML engine team.

[2017-02-13 16:37] deltakosh commented on #900
ping @pdehne :)

[2017-02-13 16:39] deltakosh commented on #922
Like it!!!

[2017-02-13 16:40] deltakosh commented on #922
@Odonno fancy doing it?

[2017-02-13 16:41] deltakosh commented on #924
Mine:
1. +1
2. +1
3. Agree with Shawn. I'm expecting the background to be applied to all control

[2017-02-13 16:44] deltakosh commented on #928
Hello,
the menu items are in a list. So you can provide an obersablecollection and add/remove items dynamically

[2017-02-13 17:22] hawkerm commented on #923
Yeah, not sure if it's possible to inject some sort of extension property to make it more natural.

But if you look at the initial stackoverflow [link](http://stackoverflow.com/questions/36245815/vertical-text-in-uwp-apps-with-xaml) in the post, someone made a layouttransform contentcontrol.  It's not the prettiest, but it worked nicely for my text conundrum.  Not sure if there's an easier workaro

[2017-02-13 17:24] hawkerm commented on #894
@Odonno of course, minimal viable product first. :)

Just wanted to add that in for future tracking as it's a scenario that'd add a lot of depths to apps if it could be generalized, as I know it's probably not a trivial add-on.

[2017-02-13 18:26] Odonno commented on #922
Yeah, sure. I have some priorities before but I'll do it whenever I can.

[2017-02-13 19:49] Odonno opened #929 "Why can't we register background tasks with typeof in Single Process Model?"
I tried to use the `BackgroundTaskHelper` which is a really great.

I have one question regarding the implementation of the method in Single Process Model :

* Why can't we use the `typeof` like we can do for the normal `Register` method?
* I think we can be confused between the two `Register` methods (with/without SPM), why not renaming it to `RegisterInSingleProcess` or something similar?

[2017-02-13 19:55] totht91 commented on #928
It's a little bit odd to create a collection of dependency objects in the ViewModel, but the disabled  state is still not supported.

[2017-02-13 20:26] nmetulev commented on #920
Thanks, just submitted PR for a fix (#930)

[2017-02-13 20:56] deltakosh commented on #928
How are you doing it today on a regular gridview?

[2017-02-13 21:10] #920 closed

[2017-02-13 22:52] deltakosh commented on #929
Ping @Code-ScottLe

[2017-02-13 22:53] deltakosh commented on #918
Ping @timheuer : What is the best option here to track this one internally?

[2017-02-13 23:01] #911 closed

[2017-02-13 23:01] #898 closed

[2017-02-13 23:03] deltakosh commented on #885
@ianier fancy doing the PR?

[2017-02-13 23:04] #743 closed

[2017-02-13 23:04] #699 closed

[2017-02-13 23:11] hermitdave commented on #905
@xied75 I have it in my app too and it works fine when changing orientation

[2017-02-13 23:28] skendrot commented on #895
Worth noting here that Clint Rutkas posted on the User Voice request that you can use the Photos app using App-2-App communication: https://myignite.microsoft.com/videos/2571 11 minutes in

[2017-02-13 23:30] xied75 commented on #905
@hermitdave @skendrot Then maybe we should edit the title to fix the sample app on this?

[2017-02-14 01:09] nmetulev commented on #683
Just created a PR for my version of the control, and we already have a PR for @Mimetis version, so it's now up to the community to decide which one to use take in :)

Version 1 (#712): beautiful transition animations and a way to control a lot of the way the control works and looks. It also has nice virtualization and way for user to control it. However, because it is based on storyboards, it can

[2017-02-14 03:14] iamstudentVN commented on #900
@DanielSchiermeier  Ok thanks! it work 😄

[2017-02-14 03:53] iamstudentVN commented on #900
How to use WrapPanel in this listview ?

[2017-02-14 04:54] hawkerm commented on #922
Yeah having something like #923 makes this easier (just deciding how to flip between the layout styles).  I restyled the template to be an explicit right-open expander just by adding that type of wrapper and changing the rows to columns:

[code]

![image](https://cloud.githubusercontent.com/assets/8959496/22915750/510fbe28-f22e-11e6-9cae-4388ec3b710c.png)
![image](https://cloud.githubusercontent.c

[2017-02-14 05:48] pdehne commented on #900
#933 fixes the initial issue and correctly initializes the ScrollHeader if no binding is used.

[2017-02-14 05:52] pdehne commented on #900
@iamstudentVN I dont think the WrapPanel is supported in UWP apps, right?

[2017-02-14 06:04] hermitdave commented on #900
@pdehne the toolkit now has a wrap panel control

[2017-02-14 07:07] DanielSchiermeier commented on #900
@pdehne maybe the property TargetListViewBase shoud be changed to ListViewBase so we can use the scroll header in ListView and in GridView

[2017-02-14 07:08] ianier commented on #885
@deltakosh I tried, but unfortunately found no elegant solution.
Here's what I did in my Refresh method: If not Loading, clear the collection, set CurrentPageIndex to zero and HasMoreItems to true. If Loading, then set a flag to defer the same actions when loading completes, and in the UI thread.
The problem is that whenever the collection is empty (e.g. when loading didn't return any items) there

[2017-02-14 07:59] pdehne commented on #900
@DanielSchiermeier It is already :-)

[code]

[2017-02-14 08:03] pdehne commented on #900
WrapPanel does not inherit from ListViewBase. Therefore ScrollHeader can't be used with WrapPanel. It only works with controls that inherit from ListViewBase.

[2017-02-14 08:16] totht91 commented on #928
Ohh I see, the menu items are in a `ListView` se we need to use custom ItemTemplate. #816 is also ralated because the `HamburgerMenu` doesn't have default `ItemTemplate` it's kind of boilerplate.

[2017-02-14 08:17] DanielSchiermeier commented on #900
@pdehne yes the dependency property TargetListViewBaseProperty but not the property TargetListViewBase :)

`        public ListView TargetListViewBase
        {
            get { return (ListView)GetValue(TargetListViewBaseProperty); }
            set { SetValue(TargetListViewBaseProperty, value); }
}`

[2017-02-14 08:48] pdehne commented on #900
Oooh, right. Thanks for pointing that out. I'll fix that :-)

[2017-02-14 10:22] xied75 commented on #801
ping. Any chance this could be fixed for 1.4?

[2017-02-14 11:32] GeertvanHorrik opened #934 "[1.3.1] PullToRefreshListView seems broken in latest release"
Just updated an app from 1.2.0 => 1.3.1 in my app, and suddenly the PullToRefreshListView no longer works.

1. Mouse interaction does nothing at all
2. Touch interaction scrolls up a bit, but doesn't actually cause a refresh

Reverting to 1.2.0 fixes the issue.

[2017-02-14 11:33] ScottIsAFool commented on #934
@GeertvanHorrik there was a breaking change around mouse usage for this control, documented in the Release notes https://github.com/Microsoft/UWPCommunityToolkit/releases/tag/v1.3.0

[2017-02-14 11:35] GeertvanHorrik commented on #934
Thanks for the fast reply.

A breaking change in a 1.* release, that's a bit unexpected. However, I do have it explicitly set to true, so that change shouldn't affect me.

[2017-02-14 11:36] ScottIsAFool commented on #934
Are you able to provide a quick repro project for the issues at all?

[2017-02-14 11:46] GeertvanHorrik commented on #934
[PullToRefreshIssue.zip](https://github.com/Microsoft/UWPCommunityToolkit/files/773954/PullToRefreshIssue.zip)

[2017-02-14 11:46] GeertvanHorrik commented on #934
If you downgrade the project to 1.2.0, it works again.

[2017-02-14 11:47] GeertvanHorrik commented on #934
Once I have time, I might look into this, but need to finish a few other OSS tasks first ;-)

[2017-02-14 12:35] Odonno commented on #922
Yes, handling the direction state is not the hardest task but having great animations when you user change the direction seems difficult. I have some ideas :

* using LayoutTransform so it renders the control perfectly (based on measurements) looks like the best solution, but it is not supported in UWP for now (only WPF)
* using Composition API, but I do not know where to start
* having some Visua

[2017-02-14 12:44] Odonno commented on #928
Notice that since 1.3, you can use `ItemTemplateSelector` to use a different `ItemTemplate` based on the value of your Items.

By the way, I am 100% ok to support the `IsEnabled` property for `HamburgerMenu` items.
About the `Visibility` property, like @deltakosh said, I assume you can handle your Items collection with an `ObservableCollection`.

[2017-02-14 12:57] yanxiaodi commented on #906
I found this problem too. I have writed a statetrigger to resolve it. I'll pull a request about this.

[2017-02-14 13:49] yanxiaodi opened #935 "PullToRefreshListView doesn't work correctly with HeaderTemplate"
I used PullToRefreshListView in my project. It works fine until I set the HeaderTemplate for it.

This is my XAML code:
[code]

and the HeaderTemplate code:
[code]

The problem is when I pull the listview down with mouse, the main listview area will scroll with the mouse but the header of the PullToRefreshListView dose not move. It was very odd. I think maybe this function is implemented by Header

[2017-02-14 14:32] Odonno commented on #905
Works fine for me too. Maybe it is for a specific screen size.

[2017-02-14 14:33] xied75 commented on #905
@Odonno you mean the sample app or your own app? I can provide the screen resolution if that helps.

[2017-02-14 14:37] Odonno commented on #905
@xied75 Sorry, in my own app.

[2017-02-14 14:50] Odonno commented on #683
@nmetulev I would opt for Composition one if it offers fluid and beautiful animations. I think that's the design goal of the control.

Otherwise, if the two controls are too differents, why not keeping both by providing the right names? If that add values to developers and not confusion of course.

[2017-02-14 15:33] #900 closed

[2017-02-14 16:24] deltakosh commented on #816
So based on this one and #928, I will:

- [ ] Adding a default style for HamburgerMenuGlyphItem
- [ ] Adding a SelectionChanged event
- [ ] Add a IsEnabled property to menu items

[2017-02-14 16:24] deltakosh commented on #928
Hello I will work on it:
https://github.com/Microsoft/UWPCommunityToolkit/issues/816

[2017-02-14 16:24] deltakosh commented on #928
Closing this one then.

[2017-02-14 16:24] #928 closed

[2017-02-14 16:25] deltakosh commented on #934
Pinging @nmetulev

[2017-02-14 16:28] deltakosh commented on #683
The controls are really comparable. I would love to merge both actually.

[2017-02-14 16:28] deltakosh commented on #683
can you provide a small video of both to help people decide which one they prefer?

[2017-02-14 16:29] deltakosh commented on #905
Ok so this is a fix for sample app...Updating the title

[2017-02-14 19:03] Code-ScottLe commented on #929
I had a similar discussion with @anbare when the PR was still going. You can see it [here](https://github.com/Microsoft/UWPCommunityToolkit/pull/364#discussion_r80347445).

But to answer your questions directly:

1. We can, because SPM requires a task name only and task name can be anything.
2. I think the decision of not having a `RegisterInSPM` was the confusion of having both `Register` and `Re

[2017-02-14 19:09] Anarh2404 commented on #935
And Footer too

[2017-02-14 19:31] Odonno commented on #929
@Code-ScottLe I asked 2) because it is related to 1). I mean I can't create the Register method with a Type for SPM because there is already a method with the same arguments that is used for MPM. Or maybe the comments are wrong?

[2017-02-14 19:41] Code-ScottLe commented on #929
I think there were a slight misunderstanding here.

It is correct that the overload for `Register` that use `Type` is currently being used only for registering MPM and not SPM. And from the technical stand point, we can definitely use `Type` for registering SPM. But by doing this, we have to create a new function, with a new name (can't be another overload for `Register` because the current overlo

[2017-02-14 20:16] Odonno commented on #929
@Code-ScottLe Thanks for the clarification. Like I said, I would like a method with `Type` to register Background Task in SPM without breaking changes and removing any confusion. We'll discuss with other.

[2017-02-14 21:13] nmetulev commented on #935
You are correct, the issue here was using the HeaderTemplate instead of the Header property. Should be fixed now in #936

[2017-02-14 21:15] hermitdave commented on #889
looking at https://github.com/Microsoft/UWPCommunityToolkit/tree/dev/Microsoft.Toolkit.Uwp/Helpers/ObjectStorage IMO it will be difficult to achieve same functionality with native libraries. I think we could ask James to create a #uwp wrapper for it ?

[2017-02-14 21:16] nmetulev commented on #934
The issue here was found by using the ItemWrapGrid and allowed me to find the bug. Should be fixed in #936

[2017-02-14 21:23] deltakosh commented on #929
I agree with @Odonno

[2017-02-14 21:36] nmetulev commented on #683
Agree, these controls are too similar to have both of them.

Great idea on video. Here is [version 1](https://1drv.ms/v/s!AjZLNGpIZBbgr4NRwR0t4zgYGc8vCg) and [version 2](https://1drv.ms/v/s!AjZLNGpIZBbgr4NS9KZwhP_hzaYYow).

[2017-02-14 21:37] deltakosh commented on #683
Music is great :D

[2017-02-14 21:44] AquilaNL opened #938 "Grid doesn't work as expected in MasterDetailsView templates"
When creating a grid in the ItemTemplate or the DetailsTemplate of the MasterDetailsView, it does not work as expected. Consider this example based on the SampleApp.

[code]

Expected behaviour of the first column is to stretch (indicated with `Width="*"`) to the next column. However, this does not work in the ItemTemplate/DetailsTemplate: the Button is placed immediately after the first column, w

[2017-02-14 21:45] michael-hawker commented on #922
@Odonno I don't see the need to dynamically change the expansion direction at runtime though, or are you just talking about animation support in genereal?

For 1 | See #923, it's possible to have something similar in UWP, but not sure how integratable that is here yet.

[2017-02-14 22:03] AquilaNL opened #939 "Titlebar back button visible when it shouldn't after navigating (MasterDetailsView)"
How to recreate:

1. Create UWP app where the back button is not always visible in title bar on W10 desktop (this is the default setting).
2. Create page which implements the MasterDetailsView.
3. Create another page (can be blank).
4. Implement hamburger menu so you can navigate (other ways of navigating probably works too).
5. Navigate to page which implements MasterDetailsView, navigate to othe

[2017-02-14 23:01] Odonno commented on #683
@nmetulev Wow. Really great videos. From what I see, version 2 looks better. Animation of the version 1 seems really slow, can we reduce the delay between transition? Does it still look fluid when the delay is low (like 200ms)?

[2017-02-15 02:59] iamstudentVN commented on #900
![image](https://cloud.githubusercontent.com/assets/12800744/22958975/4fb7ee6e-f365-11e6-865c-debbdcdacca0.png)
which way do this look like?

[2017-02-15 03:23] iamstudentVN commented on #900
Ok, it work this:

                <ItemsPanelTemplate>
                    <ItemsWrapGrid Orientation="Horizontal"/>
                </ItemsPanelTemplate>
            </ListView.ItemsPanel>

[2017-02-15 04:34] skendrot commented on #939
Thanks for reporting this. I'll look into it

[2017-02-15 04:38] skendrot commented on #683
I like the options of number one. I thought both looked good animation wise, but #2 was too fast.

[2017-02-15 05:17] skendrot commented on #938
The MasterDetailsView does use a ListView for the Master portion. The behavior you are experiencing is the default behavior for a ListView. You can override this by modifying the style of the ListViewItem within your page.
Example:
[code]
As far as the DetailsTemplate is concerned, I cannot reproduce. The content should stretch.

[2017-02-15 05:27] nmetulev commented on #683
@Odonno , thanks :). The videos are a bit deceiving in terms of animations. Version 1 follows the finger/mouse as it is moving, so that is why it looks like it is going too slow. I'd recommend trying them out to get the best feel for each one.

[2017-02-15 06:44] skendrot commented on #905
And I changed again to show it's the entire app, not one sample page

[2017-02-15 06:46] skendrot commented on #801
@xied75 Yes, it will be fixed for 1.4 😄 , but thanks for the bump as a reminder!

[2017-02-15 08:21] JohnnyWestlake commented on #922
If the animation is **just** for when user changes direction with the Expander already open - it's not exactly the most important use case ever. However, with Composition you could just enable some basic ImplicitAnimations on the panel to have the content automatically move. (Similar to [this](https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Animations/ReorderGrid

[2017-02-15 08:21] Odonno commented on #922
@michael-hawker In general, every developer wants to do everything it is possible to do. :) So, handling orientation change with animations seems to be necesary.

About #923, as it is not delivered yet, we are not sure it will work AND we cannot start the PR if we choose this solution right now.

[2017-02-15 09:17] shyamshr93 opened #942 "Swipeable Hamburger menu"
It would be really great to have a Swipeable Hamburger Menu. This would certainly help a lot of users and developers.
Thank you!

[2017-02-15 12:09] xied75 opened #943 "Add DelegateCommand/RelayCommand to the Toolkit"
Hi all,

Within our sample app we have a class of DelegateCommand, I just discovered in the *Microsoft/Windows-universal-samples* there is another similar thing called RelayCommand, e.g. here:
https://github.com/Microsoft/Windows-universal-samples/blob/master/Samples/XamlUIBasics/cs/AppUIBasics/Common/RelayCommand.cs

These two almost look identical except the name. And RelayCommand seems having a

[2017-02-15 12:17] ScottIsAFool commented on #943
This got discussed in #556

[2017-02-15 12:19] xied75 commented on #943
Yes, moving is discussed there, but I was talking more about the naming history.

[2017-02-15 12:21] ScottIsAFool commented on #943
"I wonder shall we follow the history and also make this into the lib rather than in sample app only." That sounds like the previously had discussion :) As for the naming of it, I'm not sure that really matters to be honest.

[2017-02-15 12:22] xied75 commented on #943
Well if history is not important then there will never be Gang of Four or any patterns exist.

[2017-02-15 12:32] Odonno commented on #943
@xied75 I think that was done for the sample app but it is not intended to be replicated/reused in other project. MVVM Frameworks already have their own implementation of Command like MVVMLight or Prism.

[2017-02-15 12:40] Odonno opened #944 "Add emoji control"
Add emoji control to easily render emoji in a page. A single emoji or even a collection of emojis.
Here is the list of Microsoft emojis : http://emojipedia.org/microsoft/

Based on an example (http://emojipedia.org/penguin/), the control should handle at least one of these properties :

* Unicode (ex: `U+1F427`)
* Shortcode (ex: `:penguin:`)
* Name/Tag (ex: `penguin`)

https://wpdev.uservoice.com/

[2017-02-15 12:41] xied75 commented on #943
@Odonno But I'm not using both you mentioned here as those are too heavy for me even one called **Light**. Same goes for the Sample App, compared with lots of current Apps in store, the Sample App is much useful (to me at least) and well written yet without using these frameworks. So why do we assume any UWP app will definitely use some kind of cool fx?

If you check my link pointing to Microsoft/

[2017-02-15 12:46] ScottIsAFool commented on #944
Have you put this on uservoice?

[2017-02-15 12:52] Odonno commented on #943
@xied75 I understand your need of the minimum code for your app, like having a Command and nothing more.

The fact is that other libraries already implemented the Command pattern and I don't think it will be valuable to create duplicates of existing code, mostly to avoid conflicts between libraries.

I am not against adding a Command-like class in the toolkit but maybe @ScottIsAFool has a good rea

[2017-02-15 12:54] Odonno commented on #943
I renamed the issue to suit the subject of the topic.

[2017-02-15 12:56] Odonno commented on #944
@ScottIsAFool There is one now. :)

[2017-02-15 13:00] ScottIsAFool commented on #944
*cough* put the link in here *cough*

[2017-02-15 13:33] xied75 opened #945 "Might-be-trivial issue to you: the repo size is growing"
It used to take a flash to clone the repo. Now the repo size has grown to a whopping **257MB**, with but 21720 git objects in the pack to be downloaded.

Why I use **whopping**, to compare:
Git itself has 286253 git objects, with a size of 112MB
.NET Corefx has 749047 git objects, with a size of 181MB.

With a checkout on the master, we can see this folder info:
[code]

Going further down we can d

[2017-02-15 13:36] xied75 commented on #943
Nah, my concern really is on the naming, to respect history and pattern. I almost started to include RelayCommand source in my app before I realized I already got it in another name. :)

[2017-02-15 13:41] ScottIsAFool commented on #943
If the command only appears in the sample app code, what difference does the name make?

@odonno Have a look who opened my originally referenced PR :)

[2017-02-15 13:45] yanxiaodi commented on #935
Thanks! Good work.

[2017-02-15 13:50] Odonno commented on #945
I agree. The repository should be huge. Until everyone can use GVFS, I think we can reduce the size of images/gif.

What about the `SampleApp` folder? There is an abnormal size too.

[2017-02-15 13:52] bkaankose commented on #945
I agree on this. Also I wasn't able to compile the solution for some reason when I cloned the repo from the scratch. I don't remember the reason but there are some things that prevent solution from building. Not sure if they're still there though. I need to check again.

[2017-02-15 14:03] JohnnyWestlake commented on #944
Worth pointing out it's already quite easy to do using the Segoe UI Emoji font and a TextBlock, I believe with the Unicode codes. Name's would be nice if someone wants to map 'em.

TextBlock seems nicer as you can stick them in runs with normal text. Perhaps being crazy, an attached property that can turn a Run into an emoji might be slightly more beneficial, or a worthy extra alongside?
[code]

[2017-02-15 14:06] ScottIsAFool commented on #944
Ah, I totally read this control as an emoji selection control. But I like the idea of an attached property.

[2017-02-15 14:06] xied75 commented on #945
@Odonno you mean it **should** be huge? :) Regarding the SampleApp, ```UWPCommunityToolkit/Microsoft.Toolkit.Uwp.SampleApp/Assets/Photos```

[2017-02-15 14:11] BrettEzra opened #946 "LinkedIn Service does not work."
The linkedIn service does not work. Although an app will show "Post Shares" in the linked In dev center, the post will not show up in the feed.  However, The UWP community toolkit app will make a post to the feed without issue. Here's some code.

private async void LinkdinCheckBox_Checked(object sender, RoutedEventArgs e)
        {

            var oAuthTokens = new LinkedInOAuthTokens

[2017-02-15 14:14] JohnnyWestlake commented on #944
On the other end of the spectrum, there's also the argument that things like SymbolIcon exist in the framework which essentially does the same thing (textblock with SymbolFont inside it), but prevents the end-dev from screwing it up by setting different font families or something.

So we could inherit [IconElement](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.iconelement) for

[2017-02-15 14:33] deltakosh commented on #945
Interesting feedback. what do you recommend? if we push an update to reduce gif size the original will still be in history

[2017-02-15 14:35] xied75 commented on #945
@deltakosh that solve --depth=1 and speedup CI/CD. Regarding big thing in history, ............. I can try to find a solution if we prefer to solve this.

[2017-02-15 14:36] deltakosh commented on #945
I would like both:)
As a first step I agree we can at least reduce image size, if someone wants to volunteer;)

[2017-02-15 14:38] xied75 commented on #945
Probably also set a RULE regarding image size also.

[2017-02-15 14:45] skendrot commented on #942
Can you give more details please?

[2017-02-15 15:03] bkaankose commented on #942
@skendrot I think @shyamshr93 is referring to the swipe gestures where you can open the menu without pressing a button but instead holding your touch input on the menu itself and swipe to the right.

I like the current implementation, but swipe support would be interesting.

[2017-02-15 15:44] skendrot commented on #943
The DelegateCommand originated from the original Prism framework for WPF. This framework was written by the Microsoft Patterns and Practices team somewhere around 2007. The DelegateCommand has a lot more history behind it.

[2017-02-15 16:03] xied75 commented on #943
@skendrot Thanks for clarify this, as I said I was trying to follow the history, if the history turns out that DelegateCommand is much older than RelayCommand, then apparently it's the other team not following the pattern, therefore I'm happily accepting DelegateCommand as the right name.

Besides, someone else google search later might land here and find useful.

[2017-02-15 16:11] #943 closed

[2017-02-15 16:12] deltakosh commented on #943
Closing it (see @skendrot comment)

[2017-02-15 16:21] deltakosh commented on #942
Hello we won't add more code to Hamburger Menu because the XAML team will soon officially provide one : https://developer.microsoft.com/en-us/windows/platform/features/navigationview/?q=navigation%20view

[2017-02-15 16:21] #942 closed

[2017-02-15 16:23] deltakosh commented on #945
Do you want to try reducing picture size?

[2017-02-15 16:31] skendrot commented on #945
I'm guessing items like the 27 meg gif will need to be re-recorded, not just compressed

[2017-02-15 16:42] deltakosh commented on #944
I really like the idea of an EmojiFont control

[2017-02-15 16:51] cbarkerms commented on #946
When you login to the LinkedIn service via your app you should be prompted to authorize the permissions you have requested - are you being asked to authorize profile and write/share access as part of that dialog?

[2017-02-15 17:01] deltakosh commented on #885
we can still add an event this is not a problem. regarding the refresh issue with empty collection I did not check yet. If someone wants to give a try:)

[2017-02-15 17:12] ScottIsAFool commented on #885
Why not just create a new instance of your collection? Would that not have the same effect?

[2017-02-15 17:43] LudoFran opened #948 "Add controls from "Windows App Studio WinRT XAML & UWP Libraries" repo"
I just found this repo from the Windows App Studio Team [https://github.com/wasteam/waslibs](https://github.com/wasteam/waslibs)

Some controls can only be found in the "waslibs" repo.

Maybe we can merge the two repos, what do you think of it ?

[2017-02-15 17:46] deltakosh commented on #948
We ported some controls initially to start the UWP Community Toolkit. We chose the most used one.
Today as the toolkit is getting bigger we try to be cautious on which control we want to add (and support :)).

This is why we moved to an Uservoice based approach to ensure that every control we add will be useful to the community

[2017-02-15 17:51] LudoFran commented on #948
Okay, I understand.

I close this issue ;)

[2017-02-15 17:51] #948 closed

[2017-02-15 18:03] AquilaNL commented on #938
@skendrot Thank you very much. Modifying the style of the ListViewItem resolved my issue. I used another custom control (also using ListView) of my own before and never had this issue, but I guess somewhere I did set that style manually as well.

Regarding the DetailsTemplate, I looked again with a fresh mind and the cause was a property on the grid which I had overlooked a lot of times trying to

[2017-02-15 18:03] #938 closed

[2017-02-15 18:08] #635 closed

[2017-02-15 18:09] deltakosh commented on #681
Hello we won't add more code to Hamburger Menu because the XAML team will soon officially provide one : https://developer.microsoft.com/en-us/windows/platform/features/navigationview/?q=navigation%20view

I really want to thank you for the time spent on this PR but I do not want to waste your time on a control we will deprecate in favor of XAML one.

[2017-02-15 18:09] #681 closed

[2017-02-15 19:49] Odonno commented on #921
@hermitdave Ok. I made the sample and the bug is reproducable. https://github.com/Odonno/uwp-togglebutton-oneway

Just play a little with the app by pressing the different buttons and you will see that background color of the ToggleButton will not change but the Content (I assume binded value too) will change.

And like I said, the fix I found (see my first comment) works perfectly.

[2017-02-15 20:49] lukasf commented on #683
I think it is hard to decide. Both controls have their ups and weaknesses.

Version 1:
+ Nice animations
+ Lots or properties to customize behavior
- No Keyboard or directional navigation (this is a no-go I think? but should be easy to add)
- No vertical layout
- No real virtualization. Items are collapsed, this can help a bit, but still all templates are completely realized on loading, which will

[2017-02-15 21:58] deltakosh commented on #426
Almost done. Need to finish radial gauge and I'll send a PR

[2017-02-15 22:23] skendrot commented on #683
Before doing a code review on either of them, please note that the control will need to be an ItemsControl.
@Mimetis @nmetulev

[2017-02-15 23:03] #727 closed

[2017-02-15 23:03] deltakosh commented on #727
Closing for now. Please reopen if required

[2017-02-15 23:03] deltakosh commented on #718
Should be ok now with 1.3

[2017-02-15 23:03] #718 closed

[2017-02-16 06:19] ianier commented on #885
@ScottIsAFool Good idea as long as the source allows simultaneous calls for different pages (e.g. if the collection is switched while loading is in progress). This is the same requirement as when connecting multiple collections to the same source, btw.

[2017-02-16 10:13] hermitdave commented on #945
@skedrot I think gifs need resizing..  I will push it on a separate branch

[2017-02-16 10:18] hermitdave commented on #945
@deltakosh I think instead of certain animated gifs we might be better off with screen capture video as wmv

[2017-02-16 10:19] hermitdave commented on #945
both parallax and animate grid videos are way too large

[2017-02-16 10:22] Mimetis commented on #683
Hi skendrot.
I'm currently working on the first version, adding keyboard controls and vertical orientation as well.
Migrating to an ItemsControl is a lot of work, why is it mandatory for you ?
I mean, one of the advantage to migrating to ItemsControl (imo) is to be able to seperate the logic of the renderer (ItemsPanel) the list beahvior (ItemsControl) and the item template (ItemTemplate).

ItemTe

[2017-02-16 15:01] assassin316 opened #952 "PCL project unable to add reference"
I'm trying to add the nuget package to a PCL, but it never works, depending on the targets I choose, I get either "Restore Failed" errors or "ActiveDirectory" errors. Can someone tell me which PCL targets are compatible with this toolkit?  Should I swich to .Net Standard?

The ActiveDirectory error makes no sense as I have no other packages installed, therefore I don't know why I get that error.

[2017-02-16 15:09] Odonno commented on #952
The Tookit only targets Windows 10 / UWP projects. So, it is compatible with PCL projects. It may change in the future based on user feedback.

[2017-02-16 15:56] skendrot commented on #683
Why should it be an ItemsControl? That's a good question.

1. It is a control that displays a collection of items
2. User should be able to define an ItemsSource
3. User should be able to add items directly as content
4. User should be able to define the template for items (ItemTemplate)
5. User should be able to define an ItemTemplateSelector

Once again, I would prefer it to be a Selector, but t

[2017-02-16 16:07] Mimetis commented on #683
Thx to rely on my own article :D

[2017-02-16 16:12] skendrot commented on #683
HA! That's awesome!

[2017-02-16 16:17] skendrot commented on #683
One thought, can this be accomplished with a FlipView? I once restyled a flipview to show the previous and next items but never looked into changing the transform of the previous/next items

[2017-02-16 16:56] assassin316 commented on #952
It used to work previously with the winfbsdk update:

https://github.com/Microsoft/UWPCommunityToolkit/issues/306

[2017-02-16 18:05] deltakosh commented on #952
Unfortunately this is beyond our control. Per itself you can reference the Services project but it seems that the winfbsdk dependency blocks the process
Ping @cbarkerms

[2017-02-16 18:06] deltakosh commented on #944
Seems like @ScottIsAFool is working on something :)

[2017-02-16 18:07] amkuchta opened #954 "Suggestion - HamburgerMenu Scrolling"
## Issue

_If the window is sized to be smaller than the height of the `HamburgerMenu`, `OptionsListView` overlaps `ButtonsListView`.  Additionally, the Scrollbar is only visible when the `HamburgerMenu` is expanded._

### Suggestion

_Ideally, the `PaneRoot` would not be allowed to have a height smaller than is required to show all of the items in the pane.  My suggestion is to use a `DockPanel`

[2017-02-16 18:13] Odonno commented on #952
Maybe there is a chance to switch to .NET Standard if possible.

[2017-02-16 18:18] Odonno commented on #954
What is the use case? Why not having a Trigger when the Height is smaller to reduce the number of items in the Pane?

[2017-02-16 18:19] deltakosh commented on #954
You can also update the hamburgermenu template in your application to add the DockPanel

[2017-02-16 18:46] ScottIsAFool commented on #944
@JohnnyWestlake The only issue with what you suggested is IconElement has a private/internal constructor, so you can't actually inherit from it. Another genius decision by the platform team :(

[2017-02-16 19:27] #886 closed

[2017-02-16 19:28] deltakosh commented on #916
I'm working on adding:
- [ ] Triple backticks code block
- [ ] Images

For videos I don't think this is required here

[2017-02-16 19:29] deltakosh commented on #916
I changed the title to better align with the upcoming PR

[2017-02-16 19:31] deltakosh commented on #886
Please see my comment in the associated PR

[2017-02-16 19:32] deltakosh commented on #353
To definitely close on this one I suggest creating an Uservoice :)

[2017-02-16 19:33] deltakosh commented on #954
I will close this one for now. The platform team is working on a Hamburger Menu replacement. I do not want to accept more PR on our version as it will be deprecated soon in favor of the platform one (https://developer.microsoft.com/en-us/windows/platform/features/navigationview/?q=hamburger)

[2017-02-16 19:33] #954 closed

[2017-02-16 19:39] Odonno commented on #886
@deltakosh No problem. I hope the coming HamburgerMenu will be amazing.

[2017-02-16 19:42] deltakosh commented on #886
It will;)

[2017-02-16 20:34] amkuchta commented on #954
@deltakosh  heard - thanks for the update!  My use case is simply that my window has the ability to be shrunk to a point (vertically) where the number of items exceeds the available space.  I don't understand why Options items are given priority over Standard items - to me, it is counter intuitive to hide anything on the window as it responds to size changes unless that is the intended effect.  It

[2017-02-16 20:40] deltakosh commented on #954
Completely agree. options items list is declared after main list so it is rendered on top of it.
we should have added the two list view inside a grid with two rows

[2017-02-16 20:45] amkuchta commented on #954
Concur - is there any way to push this up to the platform team as a suggestion to have it implemented there?

[2017-02-16 20:45] deltakosh commented on #954
I will for sure

[2017-02-16 20:46] amkuchta commented on #954
Thanks!

[2017-02-16 21:25] Odonno commented on #954
@amkuchta @deltakosh Menu Items should be prioritized over Options Items. I don't know why it was not implemented this way. I think there is an easy fix for that like @deltakosh said.

[2017-02-16 21:28] Odonno commented on #916
@deltakosh Why not videos? In the use case of documentation for example, people usually use text, code, images and videos.

[2017-02-16 21:29] deltakosh commented on #916
We could add it later. I want to do a first PR with these two. Adding video when images are done will be trivial

[2017-02-16 21:29] amkuchta commented on #954
@Odonno personally, I think that having either one prioritized over the other is a mistake - I personally separated mine because the logical division just made sense, not because one was more important than the other.  As for implementation to correct, either @deltakosh or mine is fine - I just know that mine works (I tested before I suggested 😆)

[2017-02-16 21:30] deltakosh commented on #954
We can still merge your fix if it is simple. I mean: the hamburger menu will be deprecated but in the meantime nothing prevents us to fix issues for the one we have

[2017-02-16 21:35] amkuchta commented on #954
Oh, I meant implementation on the next iteration @deltakosh.  If you'd like to implement the change here, I am all for it, but I understand the desire to wait for the next version.  Any ideas on when that will be implemented?

Also, @punker76, I thought I would bring you into this, just so you are aware for MahApps.Metro

[2017-02-16 21:40] deltakosh commented on #954
The next version will be done by platform team. I cannot share the ETA yet.
So please go ahead and submit a fix :)

[2017-02-16 21:48] Odonno commented on #916
That makes sense.

[2017-02-16 21:54] MrBluster opened #955 "HamburgerMenu needs a more granular sample --just for HamburgerMenu."
Everything in UWPCommunity seems to demo in a  monster sample with dependencies that are not clear.   Not usable to someone wanting to start with a few features.   The code shown in the monster for HamburgerMenu does not work in a new UWP blank app.  Seems like it, or a sample app, should work.

[2017-02-16 21:57] deltakosh commented on #955
Hello,
if you go there: https://github.com/Microsoft/UWPCommunityToolkit/tree/dev/Microsoft.Toolkit.Uwp.SampleApp/SamplePages, you will find simple sample for each control/service.

For instance the HamburgerMenu is here: https://github.com/Microsoft/UWPCommunityToolkit/tree/dev/Microsoft.Toolkit.Uwp.SampleApp/SamplePages/HamburgerMenu

Other option is to install the UWP Community Sample App from

[2017-02-16 23:26] MrBluster commented on #955
I have been trying your approach much of the day.  I guess I'll wait until it matures a bit.  Check out the sample apps in Template10.  Very clear.  Very narrow. All run.   I was just hoping these community controls would not come with all the attached baggage of Template10.  Thanks though.

________________________________
From: David Catuhe <notifications@github.com>
Sent: Thursday, February 16,

[2017-02-16 23:37] deltakosh opened #957 "Add search feature for sample app"
Now that we start to have a lot of features in the toolkit, it could be convenient to add a search box in the menu of the sample app.

[2017-02-16 23:38] deltakosh commented on #955
Can you elaborate on the issue you faced? Which errors did you get?

[2017-02-16 23:48] deltakosh commented on #918
Closing it with won't fix. SDK team is aware of the issue

[2017-02-16 23:48] #918 closed

[2017-02-17 00:09] skendrot commented on #957
Would you image this in the left pane of the Shell?

[2017-02-17 00:10] deltakosh commented on #957
Yes, something like Groove does:
![image](https://cloud.githubusercontent.com/assets/1306056/23047083/67d7d786-f462-11e6-830b-ec660b33e979.png)

[2017-02-17 00:11] skendrot commented on #957
All for this improvement!

[2017-02-17 02:09] MrBluster commented on #955
That was a great request.  I got it working!  Glad I had another try at it.   There could be an Example.csproj project file for each gizmo.  That way anything necessary is in one place and can be studied without the frustrating stuff.  Or, perhaps a solution holding each gizmo's project example.   Monster demo complexity is generally of less value.  Thank you David.

______________________________

[2017-02-17 02:42] amkuchta commented on #954
@deltakosh @Odonno corrected via #960, the pull request is awaiting approval now.  Thanks for the feedback on the suggestion!

[2017-02-17 06:49] Odonno commented on #957
Yeah. I remember one time when this feature could have saved me time. I vote for it.

[2017-02-17 09:38] Odonno commented on #921
@timheuer Hi, @hermitdave told me to contact you.

There is bug that happens with OneWay binding on the IsChecked property of a ToggleButton. You can check the repository here https://github.com/Odonno/uwp-togglebutton-oneway and try to reproduce the bugs : by clicking on buttons, you'll see after some time that Odd is in Checked state or Even is in Unchecked state.

Like I said, I found a fix on

[2017-02-17 12:49] watashimeandeu opened #962 "Angle parameter on Offset animation"
It was great if we can set Angle parameter to do offset with arc effect, for example, angle = 180.
For now offset is only straight line...

[2017-02-17 13:23] Odonno commented on #929
@Code-ScottLe Ok, now I have a better understanding of BackgroundTask in Single Process Model. I am frustrated that there is no good documentation. I had to check on 10 different websites to collect enough information to understand the behavior of BackgroundTask in SPM and the differences with Parallel Process Model.

Here are the facts/conclusions I made :

* I tried to use the Register (with SPM

[2017-02-17 13:28] Odonno commented on #929
@Code-ScottLe Otherwise, regarding the implementation of `Register` method, I found it is ok to have only a string argument and not `Type` because we can register a BackgroundTask in SPM no matter what the name is. For example, It could be `The name of my awesome Background Task in SPM`.

[2017-02-17 15:46] #905 closed

[2017-02-17 15:49] deltakosh commented on #962
Hello, this seems really niche to me :)

[2017-02-17 15:49] #916 closed

[2017-02-17 15:50] deltakosh commented on #955
You can help by supporting this idea then :)
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/17930920-export-simple-project-from-each-sample-page

[2017-02-17 15:50] #955 closed

[2017-02-17 16:42] darshanrampatel opened #963 "WrapPanel namespace"
The WrapPanel control is in its own namespace:

[namespace Microsoft.Toolkit.Uwp.UI.Controls.WrapPanel](
https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/WrapPanel/WrapPanel.cs#L18)

Is there any reason why it's not in `Microsoft.Toolkit.Uwp.UI.Controls`?

[2017-02-17 16:44] skendrot commented on #963
Bad code reviews! Sorry that was my bad for not spotting it. @deltakosh this should get updated but would be a breaking change

[2017-02-17 16:49] deltakosh commented on #963
We miss it!!!
We will change it for 2.0

[2017-02-17 18:05] MrBluster commented on #955
In becoming a UWPCommunity genius, maybe I could resist interconnection.  At least I will save my work and think about this.

________________________________
From: David Catuhe <notifications@github.com>
Sent: Friday, February 17, 2017 9:50 AM
To: Microsoft/UWPCommunityToolkit
Cc: Rick; Author
Subject: Re: [Microsoft/UWPCommunityToolkit] HamburgerMenu needs a more granular sample --just for Hambu

[2017-02-17 18:25] Code-ScottLe commented on #929
@Odonno SPM requires you to be on 14393 SDK , the Sample app of this toolkit is targeting 10586, can you verify that your test app is targeting 14393 at the minimum?

I will get back to you on this. But having to override the `OnBackgroundActivated` seems a little weird to me.

[2017-02-17 18:44] Code-ScottLe commented on #957
+1 for this one as well.

[2017-02-17 19:35] Odonno commented on #929
@Code-ScottLe I was not using the Sample app but one of my own app. Targeting minimum SDK 14393 does not change anything.

One fact is that my class is not on the default namespace of the app but in the sub-namespace (like MyNamespace.MyTasks). Maybe, maybe not. Like I said, the docs are not really user-friendly.

Using `Activator` in `OnBackgroundActivated` is the only way I found. And it makes s

[2017-02-17 19:42] Odonno commented on #929
By the way, here is the code I use to execute Background Task in SPM :

[code]

[2017-02-17 21:44] michael-hawker commented on #957
It'd be great if the sample app had the sample of how to add the search to the hamburger control as well!

[2017-02-17 23:11] SpilledMilkCOM commented on #727
Yes.  This is done.  THANKS!!

[2017-02-18 15:21] MichaelStgt opened #966 "Improve Expander control: Overlay Content"
As in an other Feature request mentioned, the control should be able to expand in different directions instead of only downwards. If this functionality will be implemented, wouldn't it be nice to overlay the content over the other page content? Just like in the SplitView Control, where devs can select the DisplayMode.

[2017-02-18 15:57] Odonno commented on #966
@MichaelStgt I think that's feasible. If I understand correctly, you will have the Header of the Expander on top of its content, or the contrary?

[2017-02-18 17:10] MichaelStgt commented on #966
I have no idea how far you guys want to go in detail, but for my understanding, the expander should expand from

- Top to down
- Down to top
- Left to right
- Right to left

When ever the control should expand vertically, you could use columns as containers for the header and the content. The Header Column could just contains some rotated content depending on the direction.
If yould look somehow l

[2017-02-18 22:19] watashimeandeu commented on #962
Yep and i really need it. :)
There is any way to help me with? [http://stackoverflow.com/questions/42301572/how-to-set-offset-path-in-uwp](url)

[2017-02-19 00:24] BrettEzra commented on #946
Yes... the dialog shows and I log in... Like I said... I'm logging post shares in my app dashboard... but they dont show :/

[2017-02-19 00:58] anbare commented on #929
Yep, that's the correct code snippet for SPM. You simply override that method in your App.xaml.cs file. You have to be **targeting SDK 14393 or higher**.

Then, when you register a background task, if you don't specify an entry point, the OnBackgroundActivated will be triggered.

It doesn't make sense to have an overload that only takes a Type for SPM. What would the type even be? This isn't like

[2017-02-19 04:26] ryantrem opened #968 "UWP Community Toolkit Sample App makes my second display rotate 90 degrees"
Seems rather bizarre and I'm guessing it must be related to one of the UWP Community Toolkit features, but when I run the UWP Community Toolkit Sample App, it causes my second display to rotate 90 degrees. Specifically, I have a Surface Pro 3 with a Dell ultra wide 34" monitor (primary display). When I run the UWP Community Toolkit Sample App and it has focus, my Surface Pro 3 display rotates 90 d

[2017-02-19 05:47] skendrot commented on #968
@deltakosh We need to remove that orientation setting. This is the second issue raised for it.

[2017-02-19 10:10] Odonno commented on #929
@anbare Check my PR #965

I think people may have misunderstand how to use Background Task in SPM. And you can count me in.

The sample app is using SPM so I started a PR to fix, I mean show how to use it. Then, I will update the docs so anyone can clearly understand how to do.

[2017-02-19 23:50] Code-ScottLe commented on #929
I thought we were overriding the 'BackgroundActivated` Event itself and not the Event Handler `OnBackgroundActivated` , my bad there. But overriding the function `OnBackgroundActivated` is the correctly way to handle SPM background task.

And with the `Type` thing, the only convenience that you get out of that for SPM is not having to maintain a name string, but that could be easily solved by usin

[2017-02-20 02:03] deltakosh commented on #968
It is mostly useful for mobile, we can only use it when detecting windows mobile

[2017-02-20 06:57] Odonno commented on #929
@Code-ScottLe No worry. Let's fix that so anyone after me do not have to search the info.

And thanks for the tip, I did not think of nameof but that is a really good solution.

There is a problem that I can't solve alone. I want to provide a way for people to do as less code as possible to handle Background Tasks in SPM, but in the same time, we need to let them some flexibility.

[2017-02-20 08:14] hermitdave commented on #968
@deltakosh we should make the toolkit sample orientation agnostic

[2017-02-20 08:48] XamlBrewer commented on #902
We could move the BackDrop control into the toolkit and rename it to FrostedGlass (which is a better name):
https://xamlbrewer.wordpress.com/2016/11/28/backdrop-a-control-for-dynamic-blur-in-uwp/

[2017-02-20 09:42] Pinox opened #969 "Hamburger menu item focus incorrect"
Using the toolkit I noticed that the hamburger menu highlighted item focus does not change when accessing the navigation stack (using the back button)

Example , when clicking on menu item Services and using the back button , the page will move from Services to the previous page selected in the stack , but the last clicked event on the hamburger menu is still Services therefor the highlighted focu

[2017-02-20 11:06] Odonno commented on #902
@XamlBrewer Yes, I was thinking of something like this.

I'll do it asap.

[2017-02-20 13:03] japf opened #970 "Interested in having a clock control inspired by Material Design?"
Hi there,

I'm currently working on a clock control for my UWP todo-list app [2Day](https://www.2day-app.com):

![image](https://cloud.githubusercontent.com/assets/2237018/23126003/fb7eb2d8-f774-11e6-9431-dd239460bdc8.png)

I'm creating this control using inspiration from the great [Material Design WPF](http://materialdesigninxaml.net/). The very early work in progress version is available on my r

[2017-02-20 13:20] hermitdave commented on #970
Hi @japf we now have a user voice and are increasingly using that to determine additions to the toolkit. Why not raise an request there and we can look at it based on what users make of it ?

https://wpdev.uservoice.com/forums/110705-universal-windows-platform

[2017-02-20 15:16] h82258652 opened #971 "DropShadowPanel IsTabStop property should be False"

[2017-02-20 15:22] hermitdave commented on #971
sure..

[2017-02-20 15:40] japf commented on #970
Will do that. I'm closing this issue.

[2017-02-20 15:40] #970 closed

[2017-02-20 19:03] IanStorm opened #972 "AdaptiveGridView ScrollViewer.VerticalScrollBarVisibility not working?"
I recently upgraded the reference of the toolkit in one of my projects from version 1.1 to 1.3.1. Now I am seeing that the vertical scroll bar (when setting the ScrollViewer.VerticalScrollBarVisibility property to "Hidden") of the AdaptiveGridView is not hiding anymore as it did before. The same holds for version 1.2.
I additionally set up a MWE to reproduce this "behavior". Is this intended?

Tha

[2017-02-20 20:57] skendrot commented on #968
I don't even think we need to. The adaptvie triggers should be enough

[2017-02-20 21:29] skendrot commented on #972
Looks like this was introduce with some OneRowMode changes https://github.com/Microsoft/UWPCommunityToolkit/commit/7e8787dd2c20151e725788d33616f51a8710f5dd#diff-64e763d776268be5661a9954709df928R180

[2017-02-21 00:09] amoraitis opened #973 "ItemClick Property doesnt work with ScrollHeader"
Tried to use the ScrollHeader Control and i mentioned that the ItemClick property(hambergermenu's like doesnt work.
here is my code:

- c# `private void listView_ItemClick(object sender, ItemClickEventArgs e)
        {
            var handlemenu = e.ClickedItem as MenuItem;
            MenuItem handleMenuClick = (MenuItem)listView.SelectedItem;
            //((Frame)Window.Current.Content).Navigat

[2017-02-21 01:23] Code-ScottLe commented on #929
I also had that question when i first implemented this API, but then after the discussion on the original PR, I ended up with this overload:
`public static BackgroundTaskRegistration Register(string backgroundTaskName, IBackgroundTrigger trigger, bool forceRegister = false, bool enforceConditions = true, params IBackgroundCondition[] conditions)`

Technically, this one was designed to register SPM

[2017-02-21 06:49] IbraheemOsama commented on #973
You can use Pointer Pressed on the header itself to achieve the click or press behavior on the header ex
`<controls:ScrollHeader Mode="{Binding Mode.Value}"
                                       PointerPressed="ScrollHeader_PointerPressed"
                                       TargetListViewBase="{x:Bind listView}">`
Is this what you're asking ?

[2017-02-21 09:59] amoraitis commented on #973
Nope, I m trying to set the click action to an item in the listview, see my XAML, thanks

[2017-02-21 10:48] #973 closed

[2017-02-21 11:55] ThePyrobri opened #974 "An exception of type 'System.ArgumentException' occurred in System.Private.CoreLib.dll but was not handled in user code"
When trying to put my app in the store I got rejected due to an issue that does not happen during debugging. When I attached a debugger to a Release Version deployed on my desktop I get the following error:
An exception of type 'System.ArgumentException' occurred in System.Private.CoreLib.dll but was not handled in user code

Additional information: Arg_ObjObjEx, System.String, GrooveSharedFeature

[2017-02-21 12:43] h82258652 opened #976 "[Feature Request]IncrementalLoadingCollection Refresh method."
It is necessary to add a Refresh method in IncrementalLoadingCollection.
This method will clear all the items and reset the CurrentPageIndex.
I think it is better than create another collection and reset the binding.

[2017-02-21 12:52] hermitdave commented on #976
see #885

[2017-02-21 12:53] h82258652 commented on #976
@hermitdave
Oh, thanks. I search "refresh" so I don't found that issue.
I will close this one.

[2017-02-21 12:53] #976 closed

[2017-02-21 12:54] h82258652 commented on #885
It is necessary to add a Refresh method in IncrementalLoadingCollection.
This method will clear all the items and reset the CurrentPageIndex.
I think it is better than create another collection and reset the binding.

[2017-02-21 13:20] Odonno commented on #974
@ThePyrobri I am not sure but I think `ObservableCollection` cannot be serialized.

Can you try to save/read using a List and not an ObservableCollection? I hope that will fix your problem.

[2017-02-21 13:26] ThePyrobri commented on #974
@Odonno But then I would expect it to fail during Debug, it works fine when deployed with Debug configuration to both PC and Phone, just fails when deployed as Release.
More importantly though its not actually that part that is failing. When you run the App the first time the log doesn't exist hence this check:
if (await localStorageService.FileExistsAsync(applicationLogKey) == false)
It is actual

[2017-02-21 13:38] Odonno commented on #974
@ThePyrobri Well, that's weird. Either it is a problem with the key (filename) you use or it could be a bug that happen using the method.

I need to try that.

Anyway, what is the value of `applicationLogKey`?

[2017-02-21 14:15] ThePyrobri commented on #974
@Odonno Its actually a const string defined at the top of my FileIO class so it never changes and is used throughout the App. Its just "ApplicationLog"

[2017-02-21 14:18] hermitdave commented on #974
@ThePyrobri can you please post a repro?

[2017-02-21 14:25] ThePyrobri commented on #974
I knew someone was going to ask that lol.
Will need to create a new app and separate it out. However I go on holiday tomorrow so was hoping to find the issue and get my App submitted back to the store before I left.
Figured it might be a long shot but worth a try.
I will get the repro done but will most likely have to wait until I get back home now unfortunately.
Cheers

[2017-02-21 14:27] hermitdave commented on #974
@ThePyrobri sorry mate.. just try and create a simple one view app that just does that..  you should be able to knock one out in a minute or two :)

[2017-02-21 14:41] ThePyrobri commented on #974
No its cool don't worry. I might get time tonight.
This is actually for a personal project and I am at work so a bit tricky to do more than email right now ;)

[2017-02-21 15:39] cbarkerms commented on #946
@BrettEzra - can you ping me a mail (cbarker@microsoft.com) so we can dig into this some more please? thanks.

[2017-02-21 16:00] #971 closed

[2017-02-21 16:26] deltakosh commented on #885
I tend to agree (marking this one as Help wanted)

[2017-02-21 16:28] deltakosh commented on #972
Not sure why it is forcefully set to visible.
Ping @andriikrupka

[2017-02-21 16:28] deltakosh commented on #968
Someone interested to tackle this one?

[2017-02-21 16:30] deltakosh commented on #969
Hello, this is expected as the HamburgerMenu does not control the navigation. It can host a frame but you are responsible for navigation and selection synchronization

We must fix it in the sample App.

[2017-02-21 16:31] deltakosh commented on #962
We won't do it in the toolkit but I'm sure contributors can help on your stackoverflow question :)

[2017-02-21 16:31] #962 closed

[2017-02-21 16:33] skendrot commented on #968
I can look at it later this week. If someone gets to it earlier no worries.

[2017-02-21 16:35] skendrot commented on #972
It's set to visible because it's set to Disabled when using OneRowMode. We should probably save the previous value and set it to that

[2017-02-21 16:39] ianier commented on #885
@h82258652 I had tried that solution - see my comment above -, but unfortunately it doesn't work when the collection is empty, at least not with a GridView.

[2017-02-21 16:51] Odonno commented on #969
I made a solution some weeks ago but it is still not integrated in the Toolkit. Are you interested in a service to handle navigation for HamburgerMenu?

[2017-02-21 17:15] deltakosh commented on #969
not for the hamburgermenu as I want to keep it agnostic (and we do not add more features on it since the XAML team is working on a platform one)
But I would love to fix the issue on the sample app (without introducing much complexity)

[2017-02-21 18:57] deltakosh commented on #972
I'll fix it

[2017-02-21 18:58] deltakosh opened #977 "Support for tables in the MarkdownTextBlock XAML Control"
Table support seems broken on sample app. Need to investigate and fix it

[2017-02-21 18:59] deltakosh commented on #977
Ping @QuinnDamerell

[2017-02-21 19:49] deltakosh commented on #871
It's a go :) please do a PR when you want :)

[2017-02-21 19:50] deltakosh opened #978 "Support for videos in the MarkdownTextBlock XAML Control"

[2017-02-21 19:52] deltakosh commented on #919
Validated!!!

[2017-02-21 19:57] deltakosh opened #979 "Create "developer helpers" system (starting with the Focus Manager)"
Idea here is to provide tools that a developer can drop in his app to help while developing. example: the FocusManager: a tool that display where the focus is

[2017-02-21 19:58] deltakosh opened #980 "ViewManagement extension methods"
From a developer’s perspective setting properties for TitleBar / StatusBar require use of code behind as there is no declarative support.
We should provide extension such that that would enable developers to set TitleBar and StatusBar from XAML using attachable properties.

[2017-02-21 20:07] hermitdave commented on #871
Will do @deltakosh

[2017-02-21 20:24] Odonno commented on #974
@ThePyrobri I tried using a code similar to what you showed us. No exception were thrown. I am using the v1.3.1 of the Toolkit and v14393 of Windows 10 PC in the x86|Release configuration.

Maybe a repro step can help us to understand where the bug is.

Otherwise, happy holiday! :)

[2017-02-21 20:45] deltakosh commented on #871
thanks:)

[2017-02-21 23:24] deltakosh opened #981 "Create a "classic menu" control"
Things to consider:
- [x] Accelerator (shortcuts) support
- [x] Leverage existing MenuFlyout if possible
- [ ] Provide binding support (ICommand?)

We could start from something like this:
[code]

[2017-02-22 00:14] h82258652 commented on #885
@ianier
Make sure the HasMoreItems property is True after clear all the items.
And then, call ```LoadMoreItemsAsync(1)```. At least it work for me now.

[2017-02-22 06:48] ianier commented on #885
@h82258652 : that's one of the things I tried, but there was something I didn't like about it: either we don't await on LoadMoreItemsAsync, or make the refresh method something like RefreshAsync. I would have preferred Refresh not to be awaitable, but I dislike the idea of not awaiting on LoadMoreItemsAsync. @deltakosh can you give us some guidance on what's acceptable from an API design perspecti

[2017-02-22 12:49] ThePyrobri commented on #974
Hi there, many thanks for having a look, I had a go at creating a bare bones project last night, at first I had the problem, then I tinkered and it went away, now I have got it back again but the solution as is in the project provided is currently having that error pop up.
Deploy the app using release configuration, if you run it from start and click the create file button the app should crash. Th

[2017-02-22 13:24] hermitdave commented on #974
it is behaving weird @ThePyrobri
[code]

the folder's TryGetItemAsync seems to be cranking out.

What I tried was I tried upgrading the Microsoft.NETCore.UniversalWindowsPlatform dependency from 5.1.0 to 5.2.2 and that seems to have fixed that issue.

You still need to sort out the observablecollection bit. Try reading / writing List or array not Collection

[2017-02-22 13:32] ThePyrobri commented on #974
OK will give that a go, I tried upgrading the dependency to 5.3.0 but then realised that was VS2017 only so had to roll back, didn't spot the intermediate 5.2.2 👍
Going to have to wait until I get back now but thank you for your help :)

[2017-02-22 13:34] Odonno commented on #974
@hermitdave @ThePyrobri I checked on Google and indeed, it seems you can fix the bug by upgrading `Microsoft.NETCore.UniversalWindowsPlatform` package to 5.2.2 at least.

https://github.com/dotnet/corefx/issues/5456

[2017-02-22 18:11] deltakosh commented on #885
Simplicity should be our guide. So anything that requires no code from user is great

[2017-02-22 18:16] #963 closed

[2017-02-22 18:16] skendrot commented on #963
This should probably remain open until it's fixed

[2017-02-22 18:17] deltakosh commented on #963
I'll open a list for v2

[2017-02-22 18:19] deltakosh opened #983 "v2.0 upcoming breaking changes"
I'll use this issue to track the breaking changes we will introduce in v2.0

- [x] Fix WrapPanel namespace
- [x] Remove Blade and BladeControl controls (They were replaced by BladeItem and BladeView controls)
- [x] Remove CastingElement from DropShadowPanel control
- [x] Remove ConnectionHelper in favor of NetworkHelper
- [x] Unify extension classes under same namespace (re #1140)
- [x] Move the f

[2017-02-22 18:44] ianier commented on #885
OK, let's give it a first try:

[code]
...where _refreshOnLoad is a private bool class member. Then in LoadDataAsync:

[code]

[2017-02-22 19:01] deltakosh commented on #885
seems good as first glance. Just concerned by the _refreshOnLoad variable. We may need to protect it into a critical section

[2017-02-22 19:29] hermitdave commented on #885
@iamier better make a PR so we can have a better view

[2017-02-22 19:31] Code-ScottLe commented on #981
Any example of this "classic" version that we are talking about?

[2017-02-22 19:33] deltakosh commented on #981
Think about VS:
![image](https://cloud.githubusercontent.com/assets/1306056/23228808/c3333e10-f8f2-11e6-84d2-7308d5837415.png)

[2017-02-22 19:34] hermitdave commented on #981
Maybe this might be even better
https://www.thomasclaudiushuber.com/2017/02/18/lessons-learned-from-building-a-visual-studio-shell-with-uwp/

[2017-02-22 19:41] Code-ScottLe commented on #981
Do we have a defined set of features that we want to support? So far i see using keyboard shortcuts and keyboard navigation with this. Styling is going to be weird as well.

[2017-02-22 19:45] deltakosh commented on #981
yep keyboard nav, shortcuts(access keys)

[2017-02-22 19:54] bkaankose commented on #981
Current MenuFlyout is not mvvm compatible afaik. No matter what we do we must consider mvvm approach first imo.

[2017-02-22 20:11] Code-ScottLe commented on #981
Probably a combination of keybinding and button command (both bind to a ICommand) ?

[2017-02-22 22:11] IbraheemOsama commented on #909
Can't reproduce the issue.

[2017-02-22 22:11] #909 closed

[2017-02-23 00:57] h82258652 commented on #885
@ianier good.
Maybe we should add a ```OnRefresh``` Method in ```IIncrementalSource<TSource>``` interface?
But I don't know it is necessary.

[2017-02-23 01:12] xied75 commented on #983
@deltakosh The second item description is a bit scary, you actually mean the legacy part of Blade, not the later BladeView right? People not familiar with the history may think you are removing *Blade* all together.

[2017-02-23 01:30] skendrot commented on #983
The new items are BladeView which replaced BladeControl and BladeItem which replaced Blade. These changes were made to align with Manning in the framework controls

[2017-02-23 07:41] Odonno commented on #983
@xied75 Thanks for the info, I was scared for a moment.

[2017-02-23 08:18] ThomasPe opened #985 "WebViewExtensions for binding JavaScripts"
I wrote a little extension for binding / executing JavaScript in a WebView. Would this be something I should commit to the toolkit?

[2017-02-23 09:08] Odonno commented on #981
@hermitdave The blog post of Thomas Claudius Huber is really awesome. I like the look of the menu in his Visual Studio made with UWP.

[2017-02-23 18:20] deltakosh commented on #983
Let me fix my description :)

[2017-02-23 18:24] deltakosh commented on #985
Hello @ThomasPe
this could be a great idea. However, with the success of the toolkit we try to avoid adding features if they are not required by the community.

The basic idea then is to create a Uservoice entry and try to socialize it. If we see that this could be helpful to several developers then we can add it to the toolkit

Does it make sense?

If yes, please create an entry here: https://wpd

[2017-02-23 19:13] pekspro commented on #919
Unless someone else is working on this I will dig into this this weekend :)

[2017-02-23 20:51] LanceMcCarthy opened #987 "UIElement.RenderSize.Height stopped reporting value"
I'm not sure when this stopped working, but this issue affects certain behaviors.

See [this line ](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/FadeHeaderBehavior.cs#L157)as one example of the problem. The height is required for the ExpressionAnimation to work properly.

I've been able to reproduce this outside of the toolkit, so it se

[2017-02-23 20:52] deltakosh commented on #987
Thank you for reporting it
Ping @shenchauhan fyi

[2017-02-23 21:07] LanceMcCarthy commented on #987
Temporary workaround discovered: Explicitly set a height for the element

[2017-02-24 07:43] Romasz opened #988 "Further improvements of BackgroundDownload in OneDriveService."
As we have *BackgroundDownload*, I think it would be nice if we also have extension for normal *StorageFile* that will allow *BackgorundUpload* - will try to implement something in near future.

I'm also working on OneDriveFolder extension to provide a method for creating a background download of the whole folder. Here I've encountered an issue with Parallel downloading of multiple files on mobile

[2017-02-24 10:47] JohnnyWestlake commented on #987
As an aside, it'd probably be better off using the header Visual's height inside a PropertySet as the parameter in cases like this rather than RenderSize.Height - the animation would then automatically pick up height changes during the animation and behave appropriately.

(You're also meant to ideally dispose all user-create compositor objects, but there's not really any of that in this project)

[2017-02-24 10:51] ianier commented on #885
@deltakosh I'll try replacing ```AsyncInfo.Run((c) => LoadMoreItemsAsync(count, c));``` by ```LoadMoreItemsAsync(count, new CancellationToken()).AsAsyncOperation()``` to run all continuations in the caller thread context (i.e. the UI thread) and therefore get rid of all the synchronization code.

[2017-02-24 15:24] deltakosh commented on #988
ping @cbarkerms

[2017-02-24 15:24] LanceMcCarthy commented on #987
Thanks Johnny, the problem still exists even if I use `FrameworkElement` instead of `UIElement` and use `ActualHeight` instead of `RenderedHeight`.

The value of ActualHeight is being reported as "1" (which of course breaks the ExpressionAnimation as it causes the fade to occur completely in a 1 pixel scrollviewer scroll).

[Here's a screenshot.](https://www.screencast.com/t/dX79sDCmHA)

The part

[2017-02-24 16:16] JohnnyWestlake commented on #987
Ah, I meant something close to using the Visuals size, like this:

[code]

(Not on a Windows machine right now so I can't remember the exact syntax).

BTW, this still doesn't work for images. I was doing something similar to create an expression that always set the centerpoint of an expression animation to the center of the image - and an expression using the Visual size like above keeps it workin

[2017-02-24 16:55] LanceMcCarthy commented on #987
Thanks, I'll look into using a `ReferenceParameter` instead of a `ScalarParameter`.

I believe the same problem you saw, and ultimately the underling problem behind this thread, is that `RenderedHeight` and `ActualHeight` don't have PropertyChanged plumbing. So, when the value is updated after initial rendering (from 1 or 0 to the Image's final height), the expression animation doesn't have the la

[2017-02-24 18:27] deltakosh commented on #978
I will close this one as there is no official support for it in markdown. We will only implement the image support for now.

[2017-02-24 18:27] #978 closed

[2017-02-24 18:45] shenchauhan commented on #919
Thanks for offering, I really appreciate it.  If I could ask you to hold off on this just for a little while, I may do a re-architecture so adding effects is easier.  This could be quite involved and I don't want to put that amount of work on you when the title just says Saturation.

[2017-02-24 18:56] Odonno commented on #978
To clarify this issue, I think we can have a reasonable solution by following the MarkDown standard http://stackoverflow.com/questions/14192709/is-it-possible-to-embed-youtube-vimeo-videos-in-markdown-using-a-c-sharp-markdow

The challenge would be to find a way to convert the link (to a video) into a Video/Media player.

While waiting for this feature to be done, we can still be able to have an i

[2017-02-24 19:07] pekspro commented on #919
No problem, I will wait :-). If it will be easier to add effects I’m just happy :-).

[2017-02-24 19:09] deltakosh commented on #978
We already support images and links so I see no reason why it won't work ;)

[2017-02-24 19:21] Odonno commented on #978
@deltakosh Yes, that works with images and links. But the value added is to have a Video player instead. Not important but still a must have.

[2017-02-24 19:23] deltakosh commented on #978
I get your point. I'm just struggling with "how can we detect the link is to a video"?
That's why I think the video marker should be first integrated into markdown format. We will have to hijack something that will work just for the toolkit control and this is not the goal

[2017-02-24 19:33] Odonno commented on #978
@deltakosh I think people had already find a way to make it work. But sure, it is not really safe especially if MarkDown will be updated to handle videos.

[2017-02-24 19:36] deltakosh commented on #978
agree

[2017-02-24 22:27] LanceMcCarthy commented on #987
I'm closing this as it does appear to be related to the content not having an initial size due to the image source not being loaded yet.

The solution is to use SizeChanged and keep track of such an update, then reapply the ExpressionAnimation.

[2017-02-24 22:27] #987 closed

[2017-02-25 05:08] ianier commented on #885
FYI, I'm ready with the changes on my local repository. Now I'm trying to figure out how to do the PR (I'm new to GitHub)

[2017-02-25 16:42] Mimetis commented on #683
Hi All;
I've updated my Carousel version.
Well, to be honest, I rewrite it from scratch :)
Today, the Carousel control:

- Inherits from ItemsControl (even if it wasn't necessary, you asked for it, so :)
- Keyboard access : Works correctly with keyboard (left right, up down)
- Mouse control : Wheel mouse works like a charm
- Gesture control : Gestures are functionnals and works as expected
- Orien

[2017-02-26 22:43] #935 closed

[2017-02-26 22:44] #934 closed

[2017-02-26 23:07] nmetulev commented on #683
This is amazing, I vote for Version 1 now. We can move to Composition and add virtualization in future version if there is a need.

One thing that should be added to the controls (both are missing now) is the focus visual and proper focus management. Currently, there is no indication for when the focus is captured by the control, and this is very important on Xbox. Also, it looks like focus is bei

[2017-02-27 00:30] deltakosh commented on #683
I also voting for 1 and yeah we need to ensure that focus can be visualized: https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/contributing.md#quality-insurance-for-pull-requests-for-xaml-controls

[2017-02-27 03:19] h82258652 commented on #924
Good idea, it should be have a size animation when opening/closing the content.

[2017-02-27 16:56] rozele commented on #910
Thanks @hermitdave!

[2017-02-28 10:18] jamesmcroft commented on #924
I've got a similar Expander control in [WinUX](https://github.com/jamesmcroft/WinUX-UWP-Toolkit/blob/develop/WinUX.UWP.Xaml.Controls/Expander/Expander.xaml) which has animations on the content. They aren't particularly the best and could be improved but it works quite nicely.

As with Shawn and David, I'm all in on the points raised. Would be happy to pick this up.

[2017-02-28 11:33] Odonno commented on #924
@jamesmcroft If you can do it, feel free to PR. But keep in mind that we have multiple requests regarding the Expander control :

* Animations (that are requested in this issue)
* Expander direction #922
* Overlay content #966

The Expander should be designed to allow future improvements. Good luck!

[2017-02-28 14:13] deltakosh commented on #924
Please go ahead @jamesmcroft:)

[2017-02-28 15:48] mrlacey commented on #981
It's important to understand the motivation behind wanting something like this. Is it that someone must have an identical equivalent to the current/traditional/classic menu? Or is it something that's needed as a "stepping stone" to a newer, more modern, interface? I ask because there's no justification here which makes it hard to know that the right thing is being built and I'm reminded of a proje

[2017-02-28 16:00] deltakosh commented on #981
One of the motivation here is to provide a required control for desktop developers. They may be motivated to move from WPF or Winforms while keeping some of their UI

[2017-02-28 18:27] #977 closed

[2017-02-28 18:28] #426 closed

[2017-02-28 18:59] #944 closed

[2017-02-28 19:00] deltakosh commented on #929
Closing it as we updated the sample app

[2017-02-28 19:00] #929 closed

[2017-02-28 19:01] deltakosh commented on #914
Hello I think we can proceed with the PR now :)

[2017-02-28 19:02] deltakosh commented on #921
Closing it for now as this seems more a SDK related question

[2017-02-28 19:02] #921 closed

[2017-02-28 19:02] deltakosh commented on #893
Hello @skendrot, do you think you will be able to tackle it for 1.4 ?

[2017-02-28 19:03] deltakosh commented on #968
Thanks!

[2017-02-28 19:16] skendrot commented on #893
Yea, I should be able to get it in for 1.4

[2017-02-28 19:17] deltakosh commented on #893
thanks a lot!

[2017-02-28 19:39] #885 closed

[2017-02-28 20:08] mrlacey commented on #981
@deltakosh Sorry, I wasn't clear. The point I was trying to make is that it's valuable to understand why the people who will use this control want it. It's always better to understand what people want and then build that, rather than build something and then ask if it's what they want. Doing the research up front avoids wasted effort and disappointment when people don't get what they were hoping f

[2017-02-28 20:55] deltakosh commented on #981
Ok I get your point.
My initial thinking was to provide a WinForms comparable Menu control but you are completely right,let's use this issue to discuss what kind of API do we want.

ANy thoughts on this?

[2017-03-01 10:13] hermitdave commented on #968
I am removing Portrait requirement which is set in App.xaml.cs

[2017-03-01 13:29] Liero opened #995 "HeaderedContentControl"
I'm just writing HeaderedContentControl as we know it from WPF.

Do you think it is good idea contribute with HeaderedContentControl? It should be pretty straitforward.

Vote here: [uservoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/20069167-headeredcontentcontrol)

[2017-03-01 13:31] Liero opened #996 "DockPanel"
Not sure if there is a good alternative in UWP. There is relative panel, but as far as I know there is nothing like `<DockPanel LastChildFills="True">`

Is this suitable candidate for UWP Community Toolkit?

EDIT: since there already is uservoice, I will not create another: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/17781382-implement-dockpanel
Please vote the

[2017-03-01 14:02] hermitdave commented on #996
Hi.. why not raise a user voice entry here https://wpdev.uservoice.com/forums/110705-universal-windows-platform and we can gauge the developer interest ?

[2017-03-01 15:20] skendrot commented on #996
If you want it to be toolkit specific use this link: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit

[2017-03-01 15:53] skendrot commented on #995
I've thought about this from time to time, especially with the toolkit having a HeadersTextBlock. I don't think the HeaderedContentControl was extended too often in WPF which is why it didn't make it into other platforms. (Note: This is just a guess, and not from any official channels).
There are two use cases for a HeaderedContentControl.

1. Custom controls with header element
2.  Adding a Heade

[2017-03-01 15:58] #969 closed

[2017-03-01 16:20] ryantrem commented on #968
Glad this is getting addressed, but would still love an explanation of how it is even possible for a UWP app to cause my second display (not even the one the app is displayed on) to rotate. Are you saying that if you require Portrait in App.xaml.cs, then it will somehow affect a display that the app is not even on? Is this not a Windows bug?

[2017-03-01 16:23] deltakosh commented on #968
Looks like a bug to me. On my build I cannot reproduce the issue

[2017-03-01 16:25] hermitdave commented on #968
@ryantrem its possible that its a bug affecting certain devices.. I have SB and SP4 that I attach to Dell ultra wide and they do not exhibit this behavior

[2017-03-01 17:12] Liero commented on #995
It's all about readability and DRY.

I have just written this peace of UI:

![image](https://cloud.githubusercontent.com/assets/3494407/23471091/6f5db34a-fea8-11e6-9f74-ab4bab1474e9.png)

using HeaderedContentControl:

[code]

and using stackpanel as you suggested:

[code]

Without HeaderedContentControl I had to specify header style, separator style, background style and content style multiple ti

[2017-03-01 17:16] Liero commented on #996
If I will contribute and the quality will be excellent, do you need votes on uservoice for this feature in order to accept my PR?

[2017-03-01 17:19] deltakosh commented on #996
I'm pretty sure quality will be excellent :) But to be sure we are not adding controls in the toolkit that are not used (even if they are excellent) we need to measure the community interest

[2017-03-01 17:20] deltakosh commented on #996
As you can see here, there is not a big traction: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/17781382-implement-dockpanel
But this could also because people are not aware of this entry.

[2017-03-01 17:23] skendrot commented on #995
Obviously I wouldn't expect someone to repeat content over and over. Creating a new View (UserControl) would allow for the same functionality. However, creating a UserControl view would require a bit more work to allow for this.

[2017-03-01 17:28] skendrot commented on #996
Any reason you cannot use a Grid? I personally find myself using Grids over DockPanels in WPF to help understand the layout when viewing XAML. This also helps future developers understand the layout.

[2017-03-01 17:37] skendrot commented on #995
Could you give examples of what the style for the StackPanel (SubtitlePanelStyle1) would be?
If displaying a TextBlock as the content you would need to define the style for either the StackPanel or the HeaderedTextBlock.

For repeating content like this very page, that would be done in the ItemTemplate of the ItemsControl.

I'm not saying this is a bad idea. I've gone back and forth many times on

[2017-03-01 17:49] Liero commented on #996
this feels more natural for me:

[code]
than this:

[code]

I also like UniformGrid, since its very common UI pattern - columns with equal width.

[code]
than this:

[code]

UniformGrid is especially useful when using it as  `ItemsPanelTempalte`, because grid does not work here. But maybe there is alternative I don't know about

People are complaining about verbosity of XAML all the time and these

[2017-03-01 17:58] deltakosh commented on #867
Fixed by #958

[2017-03-01 17:58] #867 closed

[2017-03-01 17:59] deltakosh commented on #868
Fixed by #958

[2017-03-01 17:59] #868 closed

[2017-03-01 18:05] Liero commented on #995
In my case it is the background.

Agree, but you may have to reuse it at multiple places and in such case it is good to separate the Layout from the DataTemplate. For example, on this very page you reuse it it the comments (ItemsTemplate) and in the markdown editor.

I suggested it, because I do manually create it just for every UWP project I work on.

[2017-03-01 18:05] deltakosh commented on #946
Up? If no news I will close it

[2017-03-01 18:12] #888 closed

[2017-03-01 18:18] #974 closed

[2017-03-01 22:37] deltakosh commented on #683
Ping @Mimetis for the comments :)

[2017-03-01 22:40] deltakosh commented on #816
Closing this one now as we will not add any new feature to the HamburgerMenu (as the platform team is working on one)

[2017-03-01 22:40] #816 closed

[2017-03-02 10:16] totht91 commented on #816
Which will not be possibly available before RS3 (late 2017)...

[2017-03-02 15:03] deltakosh commented on #816
I have different information

[2017-03-02 15:46] Mimetis commented on #683
Thx all.
Will take a look on all issues as soon as possible :)

[2017-03-02 18:27] deltakosh commented on #988
I've just sent a question internally to find who can help us :)

[2017-03-02 18:29] deltakosh commented on #981
My POV here is that we should start by mimicking the WinForms behavior while keeping it simple.

Who is motivated to give a first try?

[2017-03-02 18:50] skendrot commented on #981
Just you really just say

[2017-03-02 18:53] deltakosh commented on #845
ping?

[2017-03-02 18:55] deltakosh commented on #796
Ping?

[2017-03-02 18:57] deltakosh commented on #764
hello what about creating a uservoice entry now that we have this opportunity?

[2017-03-02 18:58] hermitdave commented on #981
I read it as start with something simple.

[2017-03-02 19:02] deltakosh commented on #981
Yep, no need to go wild directly. A first step with a really simple menu

[2017-03-02 20:34] Romasz commented on #988
@deltakosh Great, hopefully someone will find some time to take a look.

[2017-03-02 20:38] Code-ScottLe commented on #981
I will try to find time to do it. Anybody is welcome to pick this up in the mean while.

[2017-03-02 21:19] mrlacey commented on #981
If there's nobody asking for this and able to provide any specific requirements then I'd support the approach of creating something simple at first and then extending it as requested.

Specifically, I think it needs to have:
- Accessor keys for menu items
- Optional icons with text
- Item separators (lines)
- Shortcut keys
- Submenus
- Checkboxes for items
- Ability to enable/disable individual it

[2017-03-02 21:44] hermitdave commented on #981
@mrlacey not seen common usage of checkboxes in menu. but agree with general list.. I'd add commanding so be forward looking

[2017-03-02 21:45] deltakosh commented on #981
Agree with both of you. If we have a first version with all of these it's gonna be perfect

[2017-03-03 00:04] micahiverson commented on #981
How critical is Touch support, classic menus get criticized for lack of "Touch" ease of use, so what is primary input needed for this new menu system since it's UWP which focuses heavily on touch friendliness?

[2017-03-03 00:05] deltakosh commented on #981
Keyboard, mouse and touch must be supported

[2017-03-03 00:34] #865 closed

[2017-03-03 04:39] schemburkar commented on #981
Its not a control per say, but I have used something like below in my app.

![menu](https://cloud.githubusercontent.com/assets/3159347/23538461/535e9784-fff9-11e6-922c-2ad088ae9782.PNG)

and

![menu 2](https://cloud.githubusercontent.com/assets/3159347/23538485/79c3f68a-fff9-11e6-8c71-f9db869f9571.PNG)

We can replace the icon only to test to give it a menu feel.

[2017-03-03 05:51] micahiverson commented on #981
Personally, I'd prefer to move away from a "Top" menu with dropdowns and instead have "Shelves" with menu items within a panel.

I'd want the first "Shelf" to be a customized list of actions that I use frequently - Visual Studio has countless menu items, but in reality you only use 10-20 of them on any given day. Let me add the ones I want and let me re-order them.

Secondly, I'd want to have a cu

[2017-03-03 07:13] totht91 commented on #816
So is the official HamburgerMenu control is in RS2 preview SDK? Because I don't think it will be extended before RS2 RTM.

[2017-03-03 08:42] hermitdave commented on #981
@micahiverson these changes have to be phased in. If you have a binary option, menu (old way) and something totally different, the adoption would be very small.
The old ways are still in heavy use and desktop bridge and further adoption of XAML / UWP by those apps would depend on how close the UI / UX can be.. not how modern.

[2017-03-03 08:57] marcpems commented on #845
thanks.
Done: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18505435-editable-combo-box

[2017-03-03 10:32] tipa opened #1001 "Theme-dependent colors in MarkdownTextBlock"
Currently, the colors in the MarkdownTextBlock are hardcoded and the same for light and dark theme (e.g. #FFE0E0E0 for CodeBackground). This makes the Codeblock very hard to read in the dark theme. It would be great if one could put them into a ThemeDictionary and adjust for the dark theme.

[2017-03-03 15:09] skendrot commented on #1001
Great idea! Is this something you'd like toi do @tipa?

[2017-03-03 15:11] skendrot commented on #845
Isn't this basically the [AutoSuggestBox](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.AutoSuggestBox)?

[2017-03-03 15:14] hermitdave commented on #980
#1002 pushed for review

[2017-03-03 15:15] tipa commented on #1001
I can try. I once tried to do a pull request but wasnt successful. I think it's time to try again :)

[2017-03-03 15:17] BrandX3 commented on #664
Can you reopen this one. I have this problem on VS2015 Update 3, I've reset the Toolbox, but I'm still getting this error.

![2017-03-03_06h48_40](https://cloud.githubusercontent.com/assets/10144757/23556391/58424204-ffe1-11e6-9f2e-31d25e397864.png)

[2017-03-03 15:18] deltakosh commented on #664
it is a known issue of vs2017. It will be fix on vs side

[2017-03-03 15:18] BrandX3 commented on #664
This is 2015, not 2017.

[2017-03-03 15:21] marcpems commented on #845
that control has some of the behaviour, but an editable combo combines the suggestion with a combo box list, so the user can open the list and select an item, or type the item, or partially type and get a suggestion.
See this article from WPF docs:
https://msdn.microsoft.com/en-us/library/system.windows.controls.combobox.iseditable(v=vs.110).aspx

the editable property is available in UWP but alwa

[2017-03-03 15:25] deltakosh commented on #664
please open a new issue then as this one is about 2017

[2017-03-03 15:36] BrandX3 opened #1003 "Error adding controls to toolbox in VS2015 Update 3"
Following the instructions on this page:
http://docs.uwpcommunitytoolkit.com/en/master/Toolbox-Support/

I try and add the controls to a new tab on the VS2015 Update 3 toolbox and I get this error. I have reset the toolbox.

![2017-03-03_06h48_40](https://cloud.githubusercontent.com/assets/10144757/23557156/eabdb9f4-ffe3-11e6-8a5a-5f4198b14822.png)

[2017-03-03 15:39] skendrot commented on #845
If you need a way to open the dropdown you can do the following:
[code]

[2017-03-03 16:02] tipa commented on #1001
Think I need some final help here. As you can see I comitted the change into my fork. How can I now create a pull request?

[2017-03-03 16:10] marcpems commented on #845
the AutoSuggestBox control is missing current selection, both in the control and the list.
An editable combo has a list, with a selected item, and an associated text box that allows free text as well as the suggestion behaviour of the AutoSuggestBox.

[2017-03-03 16:11] skendrot commented on #1001
To go your repo [homepage](https://github.com/tipa/UWPCommunityToolkit) and click the Pull Request button on the right about 300px down from the top.