[2017-05-26 15:02] skendrot commented on #1184
@Pinox have you tried setting the [BladeMode property ](https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/BladeView/BladeView.Properties.cs#L48)to FullScreen?

[2017-05-26 15:10] skendrot commented on #1177
Making it a DP does not remove the ability to also create it in code.

[2017-05-26 15:15] tomzorz commented on #1177
@skendrot I never denied that ;) It just feels a wee bit weird (at least for me)

[2017-05-26 16:05] nmetulev commented on #1177
As long as there are no breaking changes and it can still be used the way it is used right now, I'm ok with you extending it so it can be used in more scenarios. Feel free to submit a PR. :)

[2017-05-26 16:35] Vijay-Nirmal commented on #1182
If it is possible then Yes. But I highly doubt it is possible. If we can do it then it will make 'Continue in different device' easier to implement.
ControlName.CreateURIProtocol(ProtocolName) //Use App Logo as Logo and App name as Display Name
ControlName.LaunchUriAsync(SelectedDevice, URI)

Also, we should make easier to navigate to a specific Page while launching through URI. Currently, It is a

[2017-05-26 17:12] Pinox commented on #1184
Hi @skendrot  , thanks for the tip, will definitely use it.  I'm recommending the enhancement more from a perspective so that the toolkit is comprehensive in displaying adaptive use.

[2017-05-26 18:22] Pinox commented on #1163
great idea, biggest drawback of UWP apps compared to a browser right now. multiple tabs as in browser or multiple views as in browser

[2017-05-26 20:03] cbarkerms commented on #1171
out of curiosity, could you try assigning your result to a listview.itemsource and let me know if you still don't get any data back/rendering?

[2017-05-26 20:33] nmetulev opened #1185 "HamburgerMenu - update styles and functionality to match the new NavigationVew in Fall Creators Update"
This will allow developers to transition to the NavView with minimal impact when they are ready and still have the same look and feel on older versions.

[2017-05-26 20:35] skendrot commented on #1185
What functionality should be added?

Header
MenuItems
AlwaysShowHeader

etc..

[2017-05-26 20:52] nmetulev commented on #1185
We could look into adding the Settings and PaneFooter while still supporting OptionsItems

[2017-05-26 20:56] nmetulev commented on #1184
Just brainstorming a little here, but could be add an option for the BladeView to automatically go into FullScreen for narrow views?

[2017-05-27 10:50] Pinox commented on #1184
@nmetulev ,  yes I think that can work. As screen narrows it then displays last open blade and as user close blades it displays the previous blade in sequence.

[2017-05-27 12:37] SebastiaandenBoer commented on #1176
I'd like to see a property added for developer control over the back button as well.

[2017-05-27 15:19] Vijay-Nirmal opened #1187 "Use ContentPresenter in MasterDetailsView instead of ListView"
I know I am asking you to reduce the features of MasterDetailsView but I think it is necessary. Let me explain

At present MasterDetailsView is like a ListView with a place to show Content. It limits the use of MasterDetailsView. If a developer wants to do something different then they must write their own MasterDetailsView or they should restyle the whole control.

If we Use ContentPresenter in M

[2017-05-27 20:03] nmetulev commented on #1184
@skendrot, what do you think?

[2017-05-28 06:06] mrueedi commented on #715
I still get the same error using RadialGauge in VS2017 (Microsoft.Toolkit.Uwp.UI.Controls 1.4.1).
Is there a fix for RadialGauge too?

[2017-05-28 06:44] spadmana opened #1188 "MarkdownTextblock: Can the image be embedded in a sentence?"
Is the image support in the MarkdownTextBlock 1.4.1 only at the end of line?
I have a line such as :
           If you can see [settingsImage] click **Continue**.
my markdown is as follows:
          ` If you can see ![settings](ms-appx://App1/Assets/Settings.png) click **Continue**.
`The image shows up correctly but the line ends there.
Output Displayed:
           `If you can see [settingsImage]

[2017-05-28 20:13] nmetulev commented on #1188
I can verify this issue, #1189 should fix this

[2017-05-28 22:01] nmetulev commented on #1187
Great feedback. The reality is, we had a long discussion around this when the MasterDetailsView control was being created (see #452). The consensus was to build a control that is very simple to add without the need for the developer to build much around the master or the detail. Maybe I'm not understanding you correctly, but you are essentially asking the developer to build their own master detail

[2017-05-29 12:07] Vijay-Nirmal commented on #1187
@nmetulev
My Idea is to create a Skeleton for Master/Detail view. So that developers can create Master/Detail view like News app(With GridView), Mail(With ListView) or in their own style. It is not limited to a single kind of Master/Detail view.

Here is my concept

1. When Master and Detail view are in Side-by-Side state it should act like two `<Frame>` are in Side-by-Side.
2. When Master and Det

[2017-05-29 17:21] mdtauk commented on #1187
Could it not be templated, so you change the type of list view in the MasterView.  So it could be a GridView, ListView, or even a custom control with an ItemSelectionChanged event?
Heck, even change the basic Root part so you can re-template and change the grid which positions the Master and Detail panels.

[2017-05-29 17:46] Vijay-Nirmal commented on #1187
@mdtauk

This is the part that doesn't sit right with me. Why should we re-template the whole thing in order to use the default controls Like `RefreshContainer`? What about Connected Animation? In my opinion, we should create a skeleton for Master/Detail view so that it isn't limited by anything and developers can easy take advantage of all controls.

I know this may sound like a bad idea. Why sho

[2017-05-29 18:07] mdtauk commented on #1187
@Vijay-Nirmal  It is a choice about having a bare bones implementation, developers would have to program themselves, or architecting the control into something to allow re-templating the MasterDetails core template, which could easily be as simple as:
`<Grid>
    <Grid.ColumnDefinitions>
       <ColumnDefinition Width="120" />
       <ColumnDefinition Width="*" />
        <cntrls:MasterPanel Grid.

[2017-05-29 18:16] Vijay-Nirmal commented on #1187
@mdtauk

New developers don't know to re-template.

Data Binding is an easy part even new developers can do it.

[2017-05-29 20:02] Kapranov98 commented on #686
WebView does not quite fit. It can not be used with a transparent background, it will not be possible to flexibly customize the elements. You need the same element of control as for Markdown

[2017-05-30 03:39] nmetulev commented on #1187
@Vijay-Nirmal, what you are describing feels like a bare-bone structure that won't work unless a developer implements the functionality, which is not much more work than a developer implementing what you describe from scratch. Sounds like a modified version of a SplitView to be honest. Apologies, as I'm still struggling to see the benefit.

[2017-05-30 06:14] Vijay-Nirmal commented on #1187
@nmetulev Excuse me if I am saying something wrong.

Lets me consider myself a new developer then I will know about XAML Controls and Data Binding. Let us consider I want to implement `MasterDetailsView` with the Pull-To-Refresh feature. I know to achieve Pull-To-Refresh with `RefreshContainer` because it is very easy but If I want to implement Pull-To-Refresh in `MasterDetailsView` I want to re-T

[2017-05-30 09:43] Odonno commented on #1163
@Pinox Multiple tabs is the subject of another issue #894

[2017-05-30 14:17] skendrot commented on #1185
Ran into complications due to the ListViewItemPresenter not allowing siblings. Still looking into this

[2017-05-30 14:37] hermitdave opened #1190 "TimeSpanPicker control"
Both TimePicker and TimePickerFlyout support Hour and Minute and Period (AM / PM) selection. However second selection is often very useful and needed.

A control that offers hour, minute & second selection would be helpful.

https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/19444333-timespanpicker-control

[2017-05-30 14:41] hermitdave commented on #1179
Having looked at it further, I believe that in order to provide ImageEx Brush, we would need to ditch the shared code for ImageExBase. ImageExBrush would inherit from TileBrush and implement additional bits as needed.

Whilst this isn't difficult, I just want us to be on the same page.

[2017-05-30 15:24] skendrot commented on #1187
RefreshContainer isn't even [in the docs yet](https://docs.microsoft.com/en-us/windows/uwp/controls-and-patterns/) so [new] developers do not know anything about it because they have no way to use it. There is [a request ](https://github.com/Microsoft/UWPCommunityToolkit/issues/1087) (made by you) to replace the ListView with the PullToFreshListView control. I personally don't see anything wrong w

[2017-05-30 15:48] maddentist opened #1191 "RegexTextbox Email Validation"
Email validation works ok excepts that is rejects emails with more than 3 letters domain name (exemple : .aero which is valid as my website and attached email addresses are working)

[2017-05-30 16:00] cbarkerms commented on #1172
@assassin316 - I just ran your sample and it worked for me (after associating project with my dev centre app and adding in the App Id to the code). did you "Associate app with the Store" in VS via Store context menu for your project?

[2017-05-30 16:24] skendrot commented on #1184
I think an adaptive trigger makes sense for this

[2017-05-30 17:28] avknaidu commented on #1191
The `Regex` is set to calculate min 2 characters max 3 characters.

    private const string EmailRegex = @"^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$";

I suggest instead of max 3, it should be empty so that any length domain extension can be used.

Example:

    private const string EmailRegex = @"^([\w\.\-]+)@([\w\-]+)((\.(\w){2,})+)$";

[2017-05-30 17:29] skendrot commented on #1191
@avknaidu great point. Would you like to submit a PR for this?

[2017-05-30 17:40] avknaidu commented on #1191
@skendrot On it now.

[2017-05-30 19:06] nmetulev commented on #1190
Would this extend TimePicker to add the second selection?

[2017-05-30 19:24] hermitdave commented on #1190
TimePickerFlyoutPresenter is sealed if I'm not mistaken

[2017-05-30 19:40] avknaidu commented on #1191
ping @skendrot

[2017-05-30 20:33] #1143 closed

[2017-05-31 04:07] #1191 closed

[2017-05-31 05:14] Vijay-Nirmal commented on #1187
@skendrot

I don't think this makes harder to implement `MasterDetailsView`. They just need to enclose the same `<DataTemplate>` in `<ListView>`. Sure, they need to handle Back Navigation but I don't think It is a hard part.

Agree. So we will continue this discostion after Fall Creators Update. Also `RefreshContainer` is just an example control I gave you.

[2017-05-31 05:51] IbraheemOsama commented on #1156
PR merged

[2017-05-31 05:51] #1156 closed

[2017-05-31 09:24] praveenchintala opened #1194 "MasterDetails Control - Details panel visibility issue"
When "SelectedItem" is set from code behind or ViewModel , then the details panel is collapsed. It is because the selecteditem is initially null when control is bound and then setting it would just fire "HasSelection" state. This issue is observed on tablet device and not in desktop mode.

An easy fix is to add Visibility in "HasSelection" state, in [MasterDetailsView.xaml](https://github.com/Micr

[2017-05-31 11:46] tiiwii58 opened #1195 "MasterDetails Binding"
I can not bind ObservableCollection on MasterDetails which is annoying when you want to refresh the UI based on bind objects.

Is there another way to refresh the UI without reloading an object list?

[2017-05-31 13:39] Vijay-Nirmal commented on #1195
@tiiwii58 You can bind `ObservableCollection` on MasterDetails. Can you provide some sample code?

[2017-05-31 14:50] skendrot commented on #1194
#729

[2017-05-31 15:01] skendrot commented on #1194
@praveenchintala Do you have a repo we could use to reproduce?

[2017-05-31 18:39] lukasf commented on #1050
I just created a PR for solving this!

[2017-05-31 19:09] Code-ScottLe commented on #1185
Is this anyway related to https://github.com/Microsoft/UWPCommunityToolkit/issues/1066  ?

[2017-05-31 20:44] lukasf commented on #1182
I like the first part of the idea, to provide a picker control for the devices (maybe call it RemoteDevicePicker). Every app that supports remote launching would need to have something like this, so IMHO this is exactly what this toolkit is made for. A device filter could be set through a property, so only supported devices will appear. The control would then show the list of devices and fire an e

[2017-05-31 22:26] mattmunich opened #1197 "Different types of objects are bound to the DetailsPanel preventing the use of {x:Bind}"
I am using [Prism ](https://github.com/PrismLibrary/Prism) along with the `MasterDetails `control.  I have a viewmodel for the masterdetails view (`MasterDetailsViewModel`) and another one specifically for the details control (`DetailsControlViewModel`). When there is no item selected (initial load), the toolkit attempts to use the `MasterDetailsViewModel `for the `DataContext`, and when an item i

[2017-05-31 23:00] mattmunich commented on #1197
Aside -- not sure where to put this, but I have a fix in a local branch, but cannot push it up (403/unauthorized) -- not sure why...

[2017-06-01 02:07] shenchauhan opened #1198 "Radial Progress Bar : Stops updating if the Value is greater than the maximum limit"
When I set the Value to a greater value than what I've set in the maximum property, the progress no longer updates.

[2017-06-01 04:34] nmetulev commented on #1185
It is in many ways. The control needs to continue working on previous versions, but we should update the styles and functionality to match the new platform control.

[2017-06-01 04:37] nmetulev commented on #1197
ping @skendrot

@mattmunich, if you have a potential fix for this, we'd love to see a pull request to verify the issue :)

[2017-06-01 04:38] nmetulev commented on #1198
ping @albertofustinoni

[2017-06-01 10:27] praveenchintala commented on #1194
I Don't have a sample, but here are the steps for reproducing it

1. ViewModel has observable collection
2. It communicates with Web API  which is async Task
3. Once the data is pulled from service, an item from collection is selected (could be FirstOrDefault, or in our case a selector with predicate)
4. The view shows the selected item on details panel for half second
5. And the details panel go

[2017-06-01 10:31] praveenchintala commented on #1194
Adding below line of code in "HasSelection" state solved the problem
` <Setter Target="SelectionDetailsPanel.Visibility" Value="Visible" />`
If you try to look into it and confirm, I can create a PR for this

[2017-06-01 12:54] mattmunich commented on #1197
@nmetulev, I'm not sure what's going on but I get a 403 when trying to push a new branch:

![image](https://cloud.githubusercontent.com/assets/2685336/26680564/edceb8d6-46a7-11e7-846f-8854b8a4f9c2.png)

[2017-06-01 13:59] skendrot commented on #1197
I believe this is a duplicate of #745

[2017-06-01 14:13] skendrot commented on #1194
@praveenchintala I modified the sample app with the following and was not able to reproduce. Can you please provide a sample repo that reproduces the problem.

[code]

[code]

[2017-06-02 01:17] #1197 closed

[2017-06-02 07:09] axelriet commented on #773
"Microsoft.Toolkit.Uwp.UI.Controls": "1.4.1" - same problem here. Such a brittle little platform. Everything I try seems to break one way or another.

[2017-06-02 17:11] nmetulev commented on #773
:(, do you have a quick repro sample you can share. Could you also share details about your setup (osversion, vs version, sdk targets, etc)

[2017-06-03 09:27] Odonno commented on #1185
@nmetulev I think the HamburgerMenu is already close to the NavigationMenu. The only differences I see are :

1. Selection color (selected item color) which was introduced in Creators Update if I remember
2. A Header
3. And the NavigationView modes (Minimal, Compact and Expanded)

The features 1 and 2 will be a really great enhancements for the HamburgerMenu but it will be much more complicated to

[2017-06-03 13:01] hermitdave commented on #1178
This has been implemented. Closing the issue

[2017-06-03 13:01] #1178 closed

[2017-06-04 07:24] DusanDJovanovic opened #1203 "Carousel, using x:Bind to an empty list breaks the control"
Hello, I have an observable collection of: private ObservableCollection<Movie> Suggested { get; set; }

When I tried to bind carousel to this collection, which is initially empty, I get an error that a binding property is of invalid range (0 elements) as soon as I navigate the xaml page containing the carousel control.
[code]

Am I doing something wrong? My Observable collection of type "Movie" is

[2017-06-04 07:25] DusanDJovanovic commented on #1203
If anyone could come up with a solution until Wednesday night I would be very grateful, kind of in a hurry :-)

[2017-06-04 10:46] tiiwii58 commented on #1195
Excuse me, I had missed a stage. I close the issue.

[2017-06-04 10:46] #1195 closed

[2017-06-04 12:04] Vijay-Nirmal commented on #1203
@DusanDJovanovic Carousel is to show images then what it will show without any images. My solution is to have a default image (Ex: AppLogo) in `ObservableCollection` and hide the Carousel control until first API requests. After the first API requests, Add all the images in the `ObservableCollection` and remove the Default image.

[2017-06-05 13:54] pekspro opened #1204 "ContentGrid_ManipulationCompleted should check if SwipeStatus == SwipeStatus.Idle"
Currently my application that uses **SlidableListItem** is in a weird state and it sometimes crashes in **ContentGrid_ManipulationCompleted**. The reason is that **_contentAnimation** is null. This is fine, because when **ContentGrid_ManipulationStarted** was called both **IsLeftCommandEnabled** and **IsRightCommandEnabled** was set to false, therefore swiping was not enabled. But one of them is t

[2017-06-05 20:10] paxspark commented on #820
Sent possible solution to David on 5/5.  Will re-open if does not resolve.

[2017-06-05 20:11] cbarkerms commented on #820
Sent possible solution to David on 5/5. Will re-open if does not resolve.

[2017-06-05 20:12] #820 closed

[2017-06-05 21:43] boodoolak opened #1205 "IncrementalLoadingCollection get new items if scrolling to top"
I need the collection to get new items when I make scrolling up. Like in Telegram and WhatsApp.
How do I do that with IncrementalLoadingCollection?

[2017-06-06 11:43] lukasf commented on #1203
@Vijay-Nirmal When there are no images, then the control should just show no images. All list controls show an empty view when the list is empty. Delayed adding of content should not break the control, it is a very common scenario.

[2017-06-06 20:01] touseefbsb opened #1206 "adaptivegridView throws exception on oneRowModeEnabled to true"
when I try to set OneRowModeEnabled to true it throws exception but if I set it to false app runs fine and later on during app is running if I set it to true then app doesn't crash and gridview turns to one row mode just fine.

[2017-06-06 22:00] ahmed-karim-tantawy opened #1207 "Underlined TextBlock"
There is no underlined TextBlock control in UWP, so I suggest to build it myself by customizing TextBlock control.

Opinions please?

[2017-06-06 22:29] skendrot commented on #1207
This can be accomplished today with the TextBlock control
[code]

[2017-06-06 22:29] #1207 closed

[2017-06-06 22:34] skendrot commented on #1206
I am not able to reproduce by changing the sample app. Can you provide a sample repo or code.

[2017-06-07 03:05] matheus-inacio opened #1208 "Change the SlidableListItem Icons Dependency Properties from Symbol to IconElement"
I think it would be better to change the RightIcon and LeftIcon properties of the SlidableListItem control from a Windows.UI.Xaml.Controls.Symbol type to an Windows.UI.Xaml.Controls.IconElement. That way the developer can set a different icon other than the available at the Symbol Enumeration.
[code]

[2017-06-07 08:51] touseefbsb opened #1209 "new control : adaptive train view"
ignore the name its weird but I couldn't think of any proper name, basically I want to say a control like adaptivegridView but in this case it will be one row only ( which already exists in adaptiveGridView, but it will have slider buttons on both right and left sides ( like in a normal flipview ) so basically this control can be used on app homepages to scroll through suggestions of items, and sc

[2017-06-07 09:20] touseefbsb commented on #1206
here is a sample and minimal repo with sample project which causes this exception.
https://github.com/touseefbsb/AdaptiveGridViewTest.git

[2017-06-07 13:54] Odonno commented on #1209
I suppose what you suggest refer to the ListView control with Buttons on each side of the list.

[2017-06-07 13:57] touseefbsb commented on #1209
yes something like that, it will be usually horizontal with buttons on each side and will act as a listview :)

[2017-06-07 14:04] skendrot commented on #1209
As @Odonno suggested, this can already be accomplished with a ListView. A better choice would probably be a FlipView. You could even do it with a Frame. I don't see a need to create a control around this when adding buttons on the left and right of a FlipView is pretty easy to do.

[2017-06-07 14:14] touseefbsb commented on #1209
actually flipview shows only 1 element at a time, I want to show multiple elements at a time like Listview

[2017-06-07 14:27] skendrot commented on #1209
FlipView can show the previous and next items with a little styling.
In any case I think what your asking can be accomplished rather easily unless I'm missing something

[2017-06-07 14:39] Vijay-Nirmal opened #1210 "What about a Helper to Convert Html To XAML for UWP?"
I found a NuGet Package called [HtmlToXamlConverter](https://www.nuget.org/packages/HtmlToXamlConverter) but It seems it will not work with UWP apps. So there is no easy method to convert Html To XAML for UWP.

[2017-06-07 14:44] touseefbsb commented on #1209
if that is the case can you please redirect me to a source? where I can see how to achieve this scenario? :)

[2017-06-07 14:55] skendrot commented on #1209
If you are having particular questions about UWP I would recommend the [Microsoft forums](https://social.msdn.microsoft.com/Forums/Windowsapps/en-US/home) or [Stackoverflow](https://stackoverflow.com/questions/tagged/uwp)

[2017-06-07 14:56] Vijay-Nirmal commented on #1209
@touseefbsb @skendrot You can use [Carousel XAML Control](http://www.uwpcommunitytoolkit.com/en/master/controls/Carousel/) to achieve this. Just set `ItemDepth = 0`, `ItemRotationX = 0`, `ItemRotationY = 0`,  `ItemRotationZ = 0`, `Orientation = Horizontal`.

[2017-06-07 15:12] skendrot commented on #1210
Duplicate of #686 and @268

[2017-06-07 15:12] #1210 closed

[2017-06-07 15:14] skendrot commented on #686
This isn't recommended for full out HTML, but you can use an approach of [parsing the HTML yourself](http://visuallylocated.com/post/2015/01/16/Displaying-HTML-content-in-a-TextBlock.aspx).

[2017-06-07 15:23] avknaidu commented on #1210
@skendrot @Vijay-Nirmal if you really want to show html using Xaml Controls. you can use [this](https://github.com/hey-red/Markdown) to convert your html to `MarkdownText` and then use `MarkdownTextBlock` to show it. I have used this for basic text format in html and it works fine. Never tried Links and Images though.

[2017-06-07 18:32] touseefbsb commented on #1209
@Vijay-Nirmal  How can I add the functionality of scrolling in the side buttons of the carousel?

[2017-06-07 18:37] Odonno commented on #1209
@Vijay-Nirmal I think it will not have the same result.

But as @touseefbsb seems to highlight, Windows Store or even some other Microsoft apps have pretty good UI controls and it could be interesting to be able to use them instead of rewriting them. I am not saying it should be included in the Community Toolkit but maybe another library. @skendrot What do you think?

[2017-06-07 19:48] skendrot commented on #1209
Maybe I'm misunderstanding the request. Can you give any examples of this being used today?

[2017-06-07 19:57] touseefbsb commented on #1209
as I mentioned before it is used on Windows Store Homepage for suggested apps with a "See all" hyperlink to go and explore more apps in gridview  on another page.it is also used on homepage of youtube.com as they show suggested videos from channels in this horizontal type of view.

[2017-06-07 20:37] skendrot commented on #1209
The store does not have buttons for previous next. It's pretty much an AdaptiveGridView with scrolling OneRowMode and scrolling disabled

[2017-06-07 20:39] Odonno commented on #1209
I think we talk about Windows Store Anniversary Update, the new one (Windows Insiders) does not have the ListView with Buttons like @skendrot said.

[2017-06-07 20:40] skendrot commented on #1209
I'm on Creators Update

[2017-06-07 20:43] Odonno commented on #1209
@skendrot Sorry, yes, we do not talk of Windows Store of Creators Update or Fall Creators Update but the one before (Anniversary Update).

Or if you want Something we can all see no matter what version, please refer to the Netflix app. Each category is a line with right/left Arrow Button.

[2017-06-08 00:39] nmetulev commented on #1204
Great catch. Could you create a PR fixing the issue?

[2017-06-08 00:43] nmetulev commented on #1205
Are you referring to [Pull To Refresh](http://docs.uwpcommunitytoolkit.com/en/master/controls/PullToRefreshListview/)?

[2017-06-08 00:44] nmetulev commented on #1203
Agree, that seems like a bug. @mimetis, what do you think?

[2017-06-08 00:45] nmetulev commented on #1208
Good suggestion, we can take a look into this for 2.0

[2017-06-08 03:56] Vijay-Nirmal commented on #1209
@touseefbsb You can increase (or decrease) `SelectedIndex` on each button click.

@Odonno

I think we can achieve it. Maybe It won't be perfect. I also like to see a dedicated control for this.

[2017-06-08 09:23] touseefbsb commented on #1209
yeah there are many media like apps and store which use the same control so it will be a control which will be used a lot just like listview so it would be beneficial if we can have such control

[2017-06-08 11:17] MarkWi commented on #1023
DanteGagne
" but the exception can be safely ignored. Everything should still work after that."  Do you mean that the exception won't happen if you don't edit and continue?  It certainly throws every time I try to edit whilst running the app.
Is there any fix on its way?
Many thanks.

[2017-06-08 13:40] Vijay-Nirmal commented on #1209
@touseefbsb Agree, I also like to see a dedicated control for this
@skendrot I think you should reopen this issue

[2017-06-08 14:14] skendrot commented on #1209
@touseefbsb please create a user voice for this request. Best to make sure the item is well detailed

[2017-06-08 14:55] touseefbsb commented on #1209
I havent created a user voice before, kindly guide me how to do that :)

[2017-06-08 14:59] skendrot commented on #1206
When setting `OneRowModeEnabled` to true, you must set the `ItemHeight` of the `AdaptiveGridView`. The MaxHeight of the AdaptiveGridView is set to the ItemHeight. Without a MaxHeight set the GridView will wrap items vertically. Setting MaxHeight allows the GridView to only be as big as the items

Normal layout Example
 1  2  3
 4  5  6
 7  8  9

OneRowMode **without** MaxHeight
 1  4  7
 2  5  8

[2017-06-08 15:00] #1206 closed

[2017-06-08 15:05] Vijay-Nirmal commented on #1209
@taoyouh
1. Go to [wpdev.uservoice.com](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit)
2. Enter your Idea in the "Enter your idea or find an existing suggestion" box
3. Click "Post a new idea..." button
4. Set the category as UWP Community Toolkit
5. Describe your idea in detail in the next box and Click Post
6. Share the Post link in th

[2017-06-08 16:06] touseefbsb commented on #1209
thnks @Vijay-Nirmal

[2017-06-08 16:43] touseefbsb commented on #1209
I have created a user voice and here is the link to it :) https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/19537171-horizontal-listview-with-next-and-previous-buttons

[2017-06-08 17:10] touseefbsb commented on #1206
yes thankyou this solved my problem :)

[2017-06-08 20:21] touseefbsb commented on #1203
I encountered a very similar issue

[2017-06-08 20:47] touseefbsb commented on #1203
@Vijay-Nirmal  I tried to provide the app logo as default 1st image in my first object, but its still giving the same exception.

Initialization in ViewModel

Videos = new ObservableCollection<Video>()
            {
                new Video
                {
                    Display =new BitmapImage
                    {
                        UriSource =new Uri("ms-appx:///Fluent_Video_Playe

[2017-06-09 00:39] taoyouh commented on #1209
@Vijay-Nirmal I know nothing about this issue. Why did you mention me?

[2017-06-09 03:56] Vijay-Nirmal commented on #1209
@taoyouh I am very very sorry. I thought of mention "touseefbsb" but when I type "t" without seeing the name I pressed Enter. I thought it will show only the participants of this issue at first.

[2017-06-09 09:09] Vijay-Nirmal opened #1212 "Create a Helper (JsonDocument) to Document JSON"
It is easy to get data from HTML thanks to `HtmlDocument` but it is not in the case of JSON.  So it will be nice to have a Helper to Document JSON(Like in Python).

[2017-06-09 13:43] #1150 closed

[2017-06-09 13:51] nmetulev commented on #1212
Hey @Vijay-Nirmal, what is the benefit of a helper like this over Json.Net for example

[2017-06-09 13:59] Vijay-Nirmal commented on #1212
@nmetulev Developer don't want to generate classes using [json2csharp](http://json2csharp.com/)

[2017-06-09 14:31] nmetulev commented on #1212
How do you envision this API working?

[2017-06-09 14:43] Vijay-Nirmal commented on #1212
@nmetulev I think it would be nice if we implement just like Python did.

[2017-06-09 14:49] Vijay-Nirmal commented on #1212
@nmetulev Here are few lines of code from Python
  # Use the json module to load the string data into a dictionary
  theJSON = json.loads(data)

  # now we can access the contents of the JSON like any other Python object
  if "title" in theJSON["metadata"]:
    print (theJSON["metadata"]["title"])

[2017-06-09 18:18] Odonno commented on #1212
@Vijay-Nirmal You can do the same using JSON.NET Library

[code]

[2017-06-09 18:18] #1212 closed

[2017-06-10 16:32] kiewic opened #1214 "Could not resolve this reference. Could not locate the assembly "Microsoft.Toolkit.Uwp.Notifications"."
I have a JavaScript universal windows app, and I installed the NuGet package *Microsoft.Toolkit.Uwp.Notifications.JavaScript* version *1.4.1*, and I am getting the following warning when building the app:

[code]

I track the issue, and apparently, the error is because of the following tag in my *.jsproj* file:

[code]

This line is in an auto-generated section when importing the package:

[code]

[2017-06-10 16:47] kiewic commented on #1214
Never mind, I just see the comment in *Microsoft.Toolkit.Uwp.Notifications.JavaScript.nuspec*. It seems is a known issue. But now I am wondering why is it bad to copy the assemblies to the local directory?

[2017-06-11 20:15] Pseudocode99 opened #1215 "[Feature Request] MasterDetailsView - scrollchanged or scrollviewchanged event"
I would like to detect, if the list reached the bottom and need a **ViewChanged** event from the scrollviewer in the masterlist.
Currently there is no scroll event in the list.
Is there any workaround to detect the scroll event?

[2017-06-12 19:53] OpportunityLiu commented on #1085
Seems caused by error of float numbers

![12](https://user-images.githubusercontent.com/13471233/27052242-adadcae2-4feb-11e7-8cd3-d7ba36588caf.png)
![13](https://user-images.githubusercontent.com/13471233/27052243-adafdff8-4feb-11e7-9f0f-f02a6be904f3.png)
XAML
[code]

[2017-06-12 20:12] OpportunityLiu commented on #1085
Here is a solution, but I'm not sure if it works for all cases.

[code]

[2017-06-12 21:52] skendrot commented on #1215
The best way is to get the ScrollViewer from the view:
[code]

This is the same approach you would take if just using a ListView

[2017-06-12 23:03] IbraheemOsama commented on #1085
if you just add 1 pixel to width or height based on orientation, it will work fine :) but the idea here what is the right implementation for the wrap panel that fixes this issue without adding random number on the width or height.

[2017-06-13 00:34] nmetulev commented on #1214
ping @anbare

[2017-06-13 00:37] nmetulev commented on #1215
Agree, this is the recommended way.

[2017-06-13 00:37] #1215 closed

[2017-06-13 00:39] anbare commented on #1214
Yeah, I had to make the JavaScript nuspec force it to NOT use CopyLocal, since otherwise it won't run (or at least with VS 2015 it wouldn't, there were actual issues - I forget whether they were compile errors or runtime errors).

[2017-06-13 00:40] anbare commented on #1214
Maybe in VS 2017 this works without removing that CopyLocal? I haven't tried it there. But a functional-with-warnings NuGet package was better than a non-functional package :)

[2017-06-14 11:56] JustinXinLiu opened #1218 "BladeItem Brushes somehow causes app crash in secondary view"
I came across this StackOverflow [question](https://stackoverflow.com/questions/44457358/multiple-views-with-blades/44521853#44521853) and was able to find a workaround for it - turned out the issue is related to two brush properties defined in `BladeItem`.

My answer works but I feel like this could be a bug in the framework as I can't see why they would cause this kind of hard crash.

[2017-06-14 12:55] IbraheemOsama commented on #1218
Ping @skendrot

[2017-06-14 15:29] skendrot commented on #1218
For version 2.0 I would like to see these properties removed in favor of `Title`, `TitleTemplate`, and `CloseButtonContent`, `CloseButtonContentTemplate`. How's that sound @nmetulev?

Not sure why setting the properties would cause whatever issue this is to go away. They both default to Black
[code]

[2017-06-14 21:00] JustinXinLiu commented on #1218
Yeah that's what I thought. The code looks fine to me. I will raise it with the UI team.

[2017-06-15 07:50] syaifulnizamyahya commented on #715
Like @mrueedi , I also experience the same issue in VS2017. Would love to see an update on this issue.

[2017-06-15 11:43] gillesbergerp opened #1219 "[ScrollHeader] Content in front of header, when changing mode from "None" to "Sticky""
In my app, I have a narrow and wide style (based on AdaptiveTriggers). While in narrow style my ScrollHeader's mode is set to "None", in wide style it is "Sticky". If I navigate to the page being in wide style, everything works fine. But if I now change my page's size and the style is set to narrow and then to wide again (so ScrollHeader mode is changed to "None" and then back to "Sticky"), the Li

[2017-06-16 13:58] skendrot commented on #1219
@gillesbergerp, in the sample app we have the ability to change the mode from `Sticky` to `None` with a dropdown. I do not see any problems when changing the Mode of the header

[2017-06-16 18:12] skendrot commented on #1185
I tried to change the style of the list portion but ran into complications because the ListViewItem uses the ListViewItemPresenter. The ListViewItemPresenter is a complete 180 for XAML styling because you have no ability to change anything about it. It must be the first child within the template so you cannot do the following:
[code]

You can't change the content of the ListViewItemPresenter. Whic

[2017-06-17 09:03] gillesbergerp commented on #1219
I've figured out, what caused this behavior. In the `OnApplyTemplate()` method of ScrollHeader.cs, the ItemsPanel of its TargetListVieBase is placed below header. But when changing from narrow to wide style, I'm also adjusting the ListView's ItemsPanelTemplate - so I just had to set `Canvas.ZIndex = "-1"`:
`<ItemsPanelTemplate x:Key="WidePanel">
            <ItemsStackPanel Margin="0,24" Canvas.ZI

[2017-06-17 11:57] TheSETJ commented on #903
Much time passed, but I have a suggestion about ImageCropper. As I understood, this issue's request is only limited to the camera. I think it's good if there will be a standalone ImageCropper control for cropping and some other related editing. Because not all images will be picked using the camera. Something like image cropper in built-in Photos app is good. It has options for aspect ratio. flipp

[2017-06-17 16:22] #1219 closed

[2017-06-18 02:59] FabienLavocat commented on #1070
Hey @deltakosh, I am using the v1.4.1 and still have this problem.

[2017-06-18 10:56] karmaecrivain94 opened #1221 "MarkdownTextBlock doesn't support simultaneous bold and italic"
Currently, the markdowntextblock supports **bold text** (`**bold text**`), *italic text* (`*italic text*`), but, unlike the vast majority of markdown parsers, it does not support ***bold and italic text*** (`***bold and italic text***`). I don't know how complicated this would be to add, but it feels like quite an important feature of markdown that's not functional.

[2017-06-19 01:23] SpilledMilkCOM opened #1223 "Extend TwitterUser and add some API."
I would like to extend the TwitterUser.  I believe that the response of the API call returns more information than is parsed into the object.  In an attempt to set up some automation, I would also like to add some API that retrieves the followers and other information.  I only need a few for the moment and I feel that others might benefit from these additions.

[2017-06-19 01:37] syaifulnizamyahya opened #1224 "Error when trying to use RadialGauge Control."
When I add RadialGauge Control, I get this error
`Method not found: 'Void Windows.UI.Composition.Visual.put_Size(System.Numerics.Vector2)'.`

I tried with clean new project.

Thanks.

[2017-06-19 06:40] Vijay-Nirmal commented on #1081
@nmetulev Is it possible to create a control like this? Because I asked in [StackOverflow](https://stackoverflow.com/questions/43293731/how-to-create-a-richeditbox-with-support-for-inking-like-onenote) and I didn't get any answer (even after stating bounty)

[2017-06-19 07:16] Vijay-Nirmal commented on #353
@hermitdave It would be nice to a Tab control like OneNote
![onenote tabs](https://user-images.githubusercontent.com/24755596/27273532-133b9bea-54ed-11e7-8a3c-aece156ffa58.gif)

[2017-06-19 08:28] schnitty opened #1225 "NullReference exception when selecting ImageEx control in xaml in blend"
In certain situations if I have a relatively deep visual tree on a page
When I load the page for the first time and select the control the designer crashes with the following exception:

[code]

I have a repro project and short video that shows the issue.  Let me know where/how you would like me to send those.

[2017-06-19 10:17] Vijay-Nirmal opened #1226 "Add more details in Docs"
Some Docs are made very well like [Fade](http://www.uwpcommunitytoolkit.com/en/master/animations/Fade/), [Carousel](http://www.uwpcommunitytoolkit.com/en/master/controls/Carousel/). But other have very little info like [MasterDetailsView](http://www.uwpcommunitytoolkit.com/en/master/controls/MasterDetailsView/). Some have broken links like [MicrosoftGraph](http://www.uwpcommunitytoolkit.com/en/mas

[2017-06-19 14:30] skendrot commented on #353
About 99% sure that's a restyled Pivot control

[2017-06-19 14:33] skendrot commented on #1223
Sounds great!

[2017-06-19 14:58] SpilledMilkCOM commented on #1223
Excellent!  I doubt it'll be done before the Denver Dev Day, but I'll start on it after Comic Con (June 30th).  I'll start putting the methods into the Provider and just try to stick to the key ones.

[2017-06-19 15:16] hermitdave commented on #353
yes that most certainly is a Pivot control

[2017-06-19 15:59] mdtauk commented on #353
@skendrot  Not so sure, unless the pivot control lets you specify the forwards and backwards navigation transitions.  Pivot will transition from left to right as you tap on a "next" pivot heading.  And transitions right to left, as you click on "previous" pivot headings.

[2017-06-19 16:54] Vijay-Nirmal commented on #353
@skendrot What about the close option? I think it can't be done by restyled Pivot control (It won't be easy)

[2017-06-19 17:27] skendrot commented on #353
@Vijay-Nirmal closing isn't demonstrated in the gif you posted. But any element can be collapsed

[2017-06-19 17:31] #1085 closed

[2017-06-19 17:34] Vijay-Nirmal commented on #353
@skendrot I mention it below the GIF. My idea is to create a Tab Control that can be used like Tabs in OneNote or Tabs in Edge #894. Single Control multiple use cases.

[2017-06-19 17:35] nmetulev commented on #1218
@skendrot, Agree, I'll add this to 2.0 milestone. Is there a quick fix we can add for 1.5?

[2017-06-19 17:56] nmetulev commented on #903
Agree, I think it makes sense to separate the functionality. Looks like we need to discuss this for 2.0.

[2017-06-19 18:09] skendrot commented on #1218
Note: I haven't tested the issue
It's possible setting the foregrounds in the default style would fix this.

But, it's a very small corner case and it would be fixed in the 2.0 version by removing them in favor of Templates

[2017-06-19 18:15] nmetulev commented on #1221
Great suggestion. I'll add this to 2.0 as I believe it is too late to get in for 1.5

[2017-06-19 18:19] nmetulev commented on #1224
@syaifulnizamyahya, can you share more info about your issue. What version of the toolkit, os and sdk build, repro steps, etc.

[2017-06-19 18:20] nmetulev commented on #1081
The TextToolbar control that @WilliamABradley is adding to the toolkit should cover this

[2017-06-19 18:22] nmetulev commented on #1225
+ @hermitdave

@schnitty, a link to any repro project and video would be amazing :)

[2017-06-19 18:23] nmetulev commented on #1226
Thanks for the feedback @Vijay-Nirmal, I believe we should do this work for 2.0. We could also use the help if you are offering :)

[2017-06-19 18:25] nmetulev commented on #1223
That's great @SpilledMilkCOM , thanks for the assist. I'll add this to the 2.0 milestone

ping @cbarkerms

[2017-06-19 18:29] nmetulev commented on #1218
OK, let's keep it for 2.0 then

[2017-06-19 22:25] hermitdave commented on #1225
@schnitty repro would be nice to have.

[2017-06-19 22:26] hermitdave commented on #1225
@nmetulev my work app has a relatively complex visual tree.. I occasionally use live visual tree and property explorer. A repro especially a one a clean project can reproduce each time might be interesting.

[2017-06-19 23:56] cbarkerms commented on #1223
sounds good!

[2017-06-20 01:11] schnitty commented on #1225
[ToolkitXamlDesignerBug.zip](https://github.com/Microsoft/UWPCommunityToolkit/files/1086708/ToolkitXamlDesignerBug.zip)

Please see repro attached.

I also have a video that shows it but GitHub doesn't support uploading mp4s so if you need that then let me know where I can send it.

I'm not sure what the cause is at the moment.  Could be Visual Studio 2017/Blend 2017, could be Template 10, Could b

[2017-06-20 01:13] schnitty commented on #1225
Unfortunately I haven't been able to create a simple reproducible project that unequivocally shows a single cause.  Can't reproduce with just Template10 stuff.  Cant reproduce with just Toolkit stuff.  It is only when I combine Template10 with a third party toolkit (UWP toolkit or Telerik controls) that I encounter this problem.

[2017-06-20 02:56] Vijay-Nirmal commented on #1226
I am in

[2017-06-20 03:00] schnitty commented on #1225
[XamlDesignerBugs.zip](https://github.com/Microsoft/UWPCommunityToolkit/files/1086881/XamlDesignerBugs.zip)

I uploaded the incorrect repro before.  Sorry about that

[2017-06-20 03:24] Vijay-Nirmal commented on #894
What about a Tab Control that can be used as Tabs in OneNote(Home, Insert, Draw, ...) or Tabs in Edge? #353

[2017-06-20 07:39] hermitdave commented on #1225
@schnitty I almost never use designer but I will have a look

[2017-06-20 07:48] kingmathers313 opened #1227 "HamburgerMenu: Option Buttons appear at the end of long list"
Hello,

I use the HamburgerMenu and populate the Menu with one options button (OptionsItemsSource) and several normal Buttons. In some cases, there are more Buttons than can be displayed on the screen.

In this case in 1.3, the options buttons would always be visible at the bottom of the window and the other buttons would be scrollable. Since 1.4, the options button does not stay at the bottom but

[2017-06-20 08:58] hermitdave commented on #1225
@schnitty I can't even compile the project.
XamlCompiler error WMC1006: Cannot resolve Assembly or Windows Metadata file 'System.Runtime.dll'

I have encountered this on VS but can't remember the solution on top of my head. All nuget references are up to date. Use VS 2017

[2017-06-20 12:26] gpbicego opened #1228 "TextBoxMask: binding problem"
Repro

[code]
[code]

*   Change a digit on 'TextBox1'
*   Select 'TextBox2'
*   Select 'TextBox1' and digit disappears.

[2017-06-20 16:24] JohnnyWestlake commented on #1227
It was an intentional change from this commit: https://github.com/Microsoft/UWPCommunityToolkit/commit/e261664fed5d441618b84d05e200e3ce2f0190e3

I can't find the rational behind it, but I prefer the original behaviour. If you want the behaviour back right now, you can just re-template the control to use the original template from that commit.

[2017-06-20 16:27] JohnnyWestlake commented on #1227
Related ticket here: https://github.com/Microsoft/UWPCommunityToolkit/pull/960

Looks like it was to fix a bug, but it did unintentionally change the behaviour / break the "intended" layout. Might be worth attempting to re-work the bug fix.

[2017-06-20 17:46] nmetulev commented on #1228
ping @IbraheemOsama

looks like, from my quick test, that the two way binding does not reflect the content of the textbox once the mask is applied

[2017-06-20 18:10] Odonno commented on #894
@Vijay-Nirmal This issue is about Tabs like in Microsoft Edge. I am open to other forms of tabs but my idea was to follow some sort of "official" UI controls.

The thing with OneNote Tabs is that they are related to Office UI design which looks good but in my opinion it does not offer a lot of reusability as a base control. That's why I am currently waiting for a UI control exactly like you can se

[2017-06-20 23:39] schnitty commented on #1225
Thanks for looking into this, I appreciate it.

I'm using W10 Creators Update with latest version of  VS 2017.  The issue occurs in both VS and Blend XAML designers.

Microsoft Visual Studio Enterprise 2017
Version 15.2 (26430.13) Release
VisualStudio.15.Release/15.2.0+26430.13
Microsoft .NET Framework
Version 4.7.02046

To be certain that I didn't mess up "again" I extracted the zip file and open

[2017-06-20 23:46] IbraheemOsama commented on #1228
@nmetulev this PR should solve this issue #1216

[2017-06-21 03:17] nmetulev commented on #1228
That's great, just tested it with the fix and it seems to work as expected

[2017-06-21 03:54] nmetulev commented on #1225
I can repro it on my machine, but it doesn't happen all the time. It might be a designer bug. @unniravindranathan, any ideas?

[2017-06-21 03:54] Vijay-Nirmal commented on #894
@Odonno I didn't talk about the design I talk about the feature. My idea is to create a control to be used like Tabs in OneNote(Without the close button) or Tabs in Microsoft Edge(With the close button) by just setting `IsCloseButtonVisible`. If you like the design of the Tabs in Microsoft Edge then let it be. Then there will be a single Tab control that can be used in Multiple Cases.

[2017-06-21 04:09] schnitty commented on #1225
Yeah, it looks like a some kind of designer bug, have logged with Visual Studio team as well
https://developercommunity.visualstudio.com/content/problem/70658/xaml-designer-crash-with-null-reference-exception.html

It is just tough one because I can only seem to get it to occur with combination of Template10, Third party control and VS XAML Designer.

For other people's benefit the way I have made

[2017-06-21 04:31] nmetulev commented on #1227
We are actually updating the HamburgerMenu to act more like the new NavigationView which has the behavior from 1.3 (see #1185). This is the same behavior that is needed by the [Windows Template Studio team](https://github.com/Microsoft/WindowsTemplateStudio/pull/452).

See #1229 for PR

[2017-06-21 04:31] #1227 closed

[2017-06-21 04:33] nmetulev commented on #1185
#1229 is part of this

[2017-06-21 04:34] nmetulev commented on #954
FYI, we are reverting this back to the earlier behavior in order to match the behavior in the new NavigationView. See #1229

[2017-06-21 04:36] nmetulev commented on #1214
Closing this as expected

[2017-06-21 04:36] #1214 closed

[2017-06-21 04:36] #1205 closed

[2017-06-21 04:37] nmetulev commented on #1205
Closing issue for now, feel free to re-open if it doesn't answer your question

[2017-06-21 04:40] nmetulev commented on #1180
Closing issue, feel free to re-open if it doesn't  solve your issue.

[2017-06-21 04:40] #1180 closed

[2017-06-21 04:42] nmetulev commented on #1194
Closing issue. If this is not resolved, feel free to re-open

[2017-06-21 04:42] #1194 closed

[2017-06-21 07:23] JohnnyWestlake commented on #1185
@skendrot Retemplate the ItemContainerStyle to start with the `ListViewItemExpanded `template instead, and remove all the fluff you don't need instead? Once you've killed off everything you don't need performance is pretty on-par (or sometimes better) than ListViewItemPresenter. Though the actual template for NavigationView still uses ListViewItemPresenter with no SelectionMode and does all the cu

[2017-06-21 10:06] Mimetis commented on #1203
Hi all;
The last PR #1139 is correcting this error.
I have made a test with an empty `ObservableCollection<T>` binded to the Carousel using ``x:Bind` and it's working as expected :)

Be careful, in your code, you set the `SelectedIndex` to 4. Remember to remove this affectation

Here is my code (working with the correction added with this PR)

        <controls:Carousel x:Name="CarouselControl"

[2017-06-21 17:41] touseefbsb commented on #1203
I removed the selected index property and just bound it to an empty collection, and I am still getting the same error. I am binding it to a ViewModel property actually.

[2017-06-21 18:45] Odonno commented on #894
@Vijay-Nirmal Please check my first comment. Let me know if something is missing.

[2017-06-21 19:50] Vijay-Nirmal commented on #894
@Odonno Sorry, I missed the default template part.

[2017-06-21 20:02] Odonno commented on #894
@Vijay-Nirmal I am not sure how these templates can interact with the `ItemTemplateSelector`. What about `SelectedItemTemplate`?

[2017-06-22 00:04] nmetulev commented on #1203
Thanks for testing this @touseefbsb . I haven't had a chance to test it, did you try this with the PR (#1139) in progress?

[2017-06-22 04:19] Vijay-Nirmal commented on #894
`SelectedItemTemplate` look good to me. Is there is any method to use "previewing content tab like a small window" without using multiple threads? Also, It would be nice to have built-in multiple threads mechanism (One thread for each tab like Microsoft Edge) as an option.

[2017-06-22 09:00] touseefbsb commented on #1203
no I havent tested it with PR, I am using nuget package, can you please guide me how can I use PR version of the library? thanks

[2017-06-22 15:17] mdtauk commented on #894
Edge Tabs, Office Tabs, it should just be TabBar, with templates to choose the design of the Bar and the TabItems, and the control has an event that is triggered when changing tabs, which can be used to control a frame containing toolbars, or content.

[2017-06-22 16:44] Vijay-Nirmal commented on #894
@mdtauk Is built-in multi-thread mechanism (One thread for each tab like Microsoft Edge) as an option an overkill?

[2017-06-22 20:33] nmetulev commented on #1225
Thanks for sharing. I'll close out the issue and let's keep track of it on the visual studio side

[2017-06-22 20:33] #1225 closed

[2017-06-22 21:45] nmetulev commented on #1203
I just tested it with the latest PR (binding to an empty collection) and seems to be working ok :)

If you want to test it yourself, you can use the nugets generated from AppVeyor on that PR: https://ci.appveyor.com/project/dotnetfoundation/uwpcommunitytoolkit/build/1.5.1-PullRequest01139.7.build.1183/artifacts

[2017-06-22 21:53] nmetulev commented on #1171
ping @assassin316, are you still having issue with this?

[2017-06-22 22:33] skendrot commented on #1185
I have a ListViewItem style, but the selection color only changes when you select an item and mouse out of the item. The selection also does not go back to normal when unselected. This is very weird.

Here is my current Style
[code]

[2017-06-22 22:45] skendrot commented on #1185
@JohnnyWestlake not sure what you mean when you say to edit the `ListViewItemExpanded` template. I've never seen this template

[2017-06-23 02:10] IbraheemOsama commented on #902
@Odonno shouldn't we close this issue  ? the PR is already closed

[2017-06-23 05:49] Odonno commented on #902
@IbraheemOsama Still waiting the Acrylic PR from Microsoft team.

If you want, I can close this one and create a new one about Acrylic Brush.

[2017-06-23 07:57] JohnnyWestlake commented on #1185
@skendrot The Generic.xaml for each SDK version has a template for a full ListViewItem (and GridViewItem) implementation done in XAML and not using ListViewItemPresenter - it's a kitchen-sink implementation so it has a bunch of stuff you don't need, but it's fairly easy to just chop out the states and containers you don't need.

The 14393 SDK version of the style is here : https://gist.github.com/

[2017-06-23 08:18] Vijay-Nirmal opened #1231 "New Animations to create PopUp effect"
I came across [this](https://stackoverflow.com/questions/44681242/uwp-gridview-selecteditem-popup/44707177#44707177) question in StackOverflow. It seems it is very difficult to create a PopUp effect. I have [answered](https://stackoverflow.com/a/44707177/7331395) his question but it is only for selection changed. It would be nice if we create an animation for PopUp effect when PointerOver. It woul

[2017-06-23 13:26] JohnnyWestlake commented on #1231
The most difficult thing here is the Z-Indexing, I can't think of a way to do that generically that will also cover most use-cases (and stop itself getting cropped by over-eager ScrollContentPresenters and whatnot)

We can of course make a limited use-case version but that's less exciting.

(Though in the case of Fluent Design Language, I think reveal highlights are nicer anyway, perhaps coupled w

[2017-06-23 14:09] Vijay-Nirmal commented on #1231
Agree, Because mostly developers will use this in ListView or GridView.

This effect in Hamburger Menu Items is an example.

[2017-06-23 17:48] Avid29 opened #1232 "EmojiPickerFlyout"
A PickerFlyout, like TimePickerFlyout, that allows you to select an Emoji

[2017-06-23 17:52] krishnakumar-mob-incedo opened #1233 "Carousel: Unable to override style of items of Carousel."
I am trying to write a style for Carousel items for ViewState Normal, OnFocus/Selected, Unselected, PointerOver etc. But unable to do this.
Created one UWP app, run on XBOX. When focus on one of the item of Carousel, It's display 2 border in white and black. I tried to change the color or width of that border but not possible

[2017-06-23 18:43] skendrot commented on #1233
There was talk to make a CarouselItem control but originally went against it. @Mimetis what are you thoughts about having this control? Any way to accomplish this without the control?

[2017-06-23 18:44] skendrot commented on #1233
Slightly related to #956

[2017-06-23 18:45] skendrot commented on #1232
Slightly related to #956

[2017-06-23 19:04] touseefbsb commented on #1231
yeah popup in navigation menu or even Pivot headers will be very effective and user friendly and will make fluent design even more attractive for the user and for the developer. we should definitely make a generic animation for this purpose.

[2017-06-23 19:46] nmetulev commented on #902
ping @shenchauhan

[2017-06-23 20:01] nmetulev commented on #1233
You can try to itterate over all the controls and change the Focus Visual Properties. For example:

[code]

[2017-06-23 20:03] nmetulev commented on #1232
Please create a [UserVoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit) item for this.

[2017-06-23 20:12] nmetulev commented on #1231
Not sure what I think about this one. For example, as @JohnnyWestlake has pointed out, fluent design defines light as one way to focus on items and draw attention, not pop up. It's a cool animation, but not sure if its something that needs to come with the toolkit, vs developers consciously building it for their apps where it makes sense for them.

[2017-06-23 20:36] totht91 commented on #1232
I think in the upcoming Windows update there will be a native emoji picker for any text input.

[2017-06-23 20:48] Odonno commented on #1232
@totht91 Indeed.

![image](https://user-images.githubusercontent.com/6053067/27499852-f788a506-5865-11e7-9f76-d44224d39a7d.png)

[2017-06-23 21:07] Odonno commented on #1231
@nmetulev From what I read/saw, Reveal experience will not only be limited to Light but they are working to bring Depth too.

Moreover, I can see there is a sample in the UI Dev labs. Chec kthe source code here https://github.com/Microsoft/WindowsUIDevLabs/tree/831b879459e83dede4249a909612c7c2d29b3f64/SampleGallery/Samples/SDK%2014393/LayerVisual

[2017-06-23 21:21] touseefbsb commented on #1231
@Odonno  I know that I am no expert but I haven't been able to use much of the samples on dev ui labs because majority of them use a custom control **composition image** and I cant even find its Style XAML file. So I don't know how I can apply same effects to my use case of grid View and listview scenarios with data templates which have more than just images. Also the Layer Visual also uses just g

[2017-06-23 21:24] Avid29 commented on #1232
Oh, great

[2017-06-23 21:31] Odonno commented on #1231
@touseefbsb I checked the samples and I found this particular one. It looks closely to what you expect I know it does not use ListView/GridView. I don't know see why it would not work but I suppose you can reuse the work by creating Scale animation and by handling PointerEntered and PointerExited events.

[2017-06-23 21:34] #1232 closed

[2017-06-23 21:37] touseefbsb commented on #1231
it will work but it will not scale the entire grdiviewItemm because of the boundaries it has which was the original problem from the first place. it only scales the content within the gridviewItem, and that scaling remains within the item and the item itself doesn't scale

[2017-06-23 23:08] nmetulev commented on #1149
#1234 should fix this issue, thanks for reporting it.

The ScrollHeader was a tabstop which forced the page to scroll to the top since it was the first element. The fix will resolve this. However, in your code, you had a AutoSuggestBox inside the ScrollHeader which in itself is a tabstop, and will create the same behavior (even if not using the ScrollHeader)

[2017-06-24 07:05] Vijay-Nirmal commented on #1231
@nmetulev Developer can use this animation in other places also Like to show a large Image in Carousel or in AdaptiveGridView and in many other places. Even it can be used to notify user Like "before Click this You should Click that(that item should PopUp to highlight that item)".

As for As I know the PopUp effect is a very basic effect. So it can be used in many cases.

[2017-06-24 08:30] touseefbsb commented on #1231
I agree with @Vijay-Nirmal  if its generic it will be very useful in a lot of use cases

[2017-06-24 14:48] assassin316 commented on #1171
@nmetulev  Sorry for the delay, but I haven't tested this, the small project has been since abandoned and on a new project now.

[2017-06-24 18:02] dave-c-whitney commented on #1187
As a novice in this entire area, I'd like to know how I'd get SemanticZoom into the list view portion of this control. If it's possible to do with templates or styles, could someone provide a detailed tutorial about how it's done? If it's not possible to do, that would be a further argument in favor of the original poster's request.

[2017-06-24 19:20] Odonno opened #1236 "Indeterminate RadialProgressBar"
Now we have the RadialProgressBar control, it could be interesting to add a `IsIndeterminate` property on it. So, we can reproduce the XBox progress bar.

[2017-06-25 01:48] IbraheemOsama commented on #1097
Closed because PR is merged.

[2017-06-25 01:48] #1097 closed

[2017-06-25 10:53] #1228 closed

[2017-06-25 16:20] #1149 closed

[2017-06-25 16:22] #1204 closed

[2017-06-25 20:01] nmetulev commented on #1171
OK, thanks for letting us know, I will close this issue. Let us know if you run into any issues again

[2017-06-25 20:01] #1171 closed

[2017-06-25 20:03] nmetulev commented on #1236
Interesting idea. Do you have a screenshot (or even better, a gif) to link to this?

[2017-06-25 20:16] #1092 closed

[2017-06-25 20:18] nmetulev commented on #1092
PR merged, closing issue

[2017-06-25 20:35] nmetulev opened #1237 "[Testing] not all tests run when tests are run"
Only the notification tests seem to run, need to make sure all tests run

[2017-06-25 20:49] Odonno commented on #1236
What about that?

![image](https://user-images.githubusercontent.com/6053067/27519650-584ee394-59f8-11e7-8cc7-dd7e4183afb7.png)

I will try to make a video or a gif when I can but you can see this UI control on Xbox One or even in the Xbox app for Windows 10. I suppose it uses Accent color.

[2017-06-25 20:52] Odonno commented on #1237
It is related to the appveyor build? Or also VSTS build?

[2017-06-26 04:51] Vijay-Nirmal commented on #1187
@dave-c-whitney This tutorial may help you: https://mva.microsoft.com/en-us/training-courses/xaml-for-windows-10-controls-14482?l=yDKg0B8sB_604819052

[2017-06-26 08:18] JohnnyWestlake commented on #1233
I'd definitely make a vote for having a CarouselItem in the future for proper re-templating support.

As well you the above, you could inherit Carousel if you want and override the

[code]

[2017-06-26 15:45] shenchauhan opened #1238 "Bluetooth LE APIs"
Please add Bluetooth LE APIs to support the discovery of Bluetooth LE devices.

[2017-06-26 16:21] nmetulev commented on #1238
@drache42 is working on this

[2017-06-26 17:59] #1096 closed

[2017-06-26 18:01] nmetulev commented on #1098
This is now merged

[2017-06-26 18:01] #1098 closed

[2017-06-26 18:02] #1134 closed

[2017-06-26 18:02] nmetulev commented on #1158
PR is now merged

[2017-06-26 18:02] #1158 closed

[2017-06-26 22:06] skendrot commented on #816
default styling for hamburger menu items in PR #1240

[2017-06-26 22:07] skendrot commented on #816
default styling for hamburger menu items in PR #1239

[2017-06-27 04:02] #1154 closed

[2017-06-27 08:44] emiliano84 opened #1242 "Use cm/in in printhelper"
Hi,

I don't know if this is the right place, is there a way to convert width/height in XAML controls to cm/in and vice versa? for example if I need to print a square of 10cm, how can I know the value to put in the XAML? thanks!

kind regards

[2017-06-27 11:50] Odonno commented on #1242
@emiliano84 I think you can easily create a converter that will automatically convert a cm value to a pixel value.

I assume you want to create a printable page where all controls (containers) are based on cm/in and not pixel. Here is a possible solution :

[code]

[2017-06-27 13:37] krishnakumar-mob-incedo commented on #1233
@nmetulev
That solution display following error:
![image](https://user-images.githubusercontent.com/13046305/27590288-d5665726-5b6b-11e7-8109-cb8995076c90.png)

[2017-06-27 13:41] emiliano84 commented on #1242
@Odonno yeah that's a great idea, I know how to do it, but I don't know how to find the ratio? thank you so much

[2017-06-27 13:42] skendrot commented on #1233
@krishnakumar-mob-incedo `FindDescendant` is an extension method within the toolkit. It's in the `Microsoft.Toolkit.Uwp.UI` namespace. The dialog knows this and at the bottom has the Show potential fixes message. If you type the key combo Visual Studio will actually add the missing namespace for you

[2017-06-27 13:47] krishnakumar-mob-incedo commented on #1233
Thanks.
Actually, I am new for this tookit library. Just started last week using this. So have much info.
We have any document, which have all the info?

[2017-06-27 14:24] skendrot commented on #1233
The sample app has a documentation for each item and you can also find documentation at http://docs.uwpcommunitytoolkit.com

[2017-06-27 16:34] nmetulev commented on #1242
ping @deltakosh

[2017-06-27 16:59] Gauntlet opened #1244 "Allow use of HttpClientHandler with HttpHelper"
Currently if the ImageEx source uri requires basic authentication it requests it for each individual image being loaded on screen. A solution to this would be to allow the app creator to provide a custom HttpClientHandler (or a factory) to the HttpHelper.

In my particular case it would allow the authentication headers to be set according the base uri of the request allowing my app to pull resourc

[2017-06-27 18:05] nmetulev commented on #1244
ping @hermitdave

[2017-06-27 18:42] arthurrump opened #1246 "AdaptiveGridView.ItemContainerStyleSelector doesn't work"
[Repro files](https://gist.github.com/arthurrump/fc7b8c48f758127563c8645816684e22)

The `SelectStyleCore()` function in the StyleSelector doesn't get called.

[2017-06-27 18:54] Odonno commented on #1242
We may be able to provide helpers methods like CmToPixel and InchToPixel (and vice versa). @nmetulev What is your opinion?

[2017-06-27 19:41] nmetulev commented on #1242
That would be an interesting helper, should be straightforward to add. @Odonno, want to add it?

[2017-06-27 19:55] skendrot commented on #627
Closing via #1049

[2017-06-27 19:55] #627 closed

[2017-06-27 20:19] touseefbsb opened #1247 "listview selection changed animation"
I want to give a suggestion that we should have an optional animation which developers can use to apply on selection changed event of any collection like gridview or listview, so that when a new Item is selected programatically or by the user, the selected UI should shift from the previously selected Item to the new selected item gradually with any type of animation like fade, or slight popup or g

[2017-06-27 21:20] #1102 closed

[2017-06-27 21:29] shenchauhan opened #1251 "Microsoft Translator documentation needs updating"
New method has been introduced, so we should add this to the documentation

[2017-06-27 21:30] skendrot commented on #981
closing via #1086

[2017-06-27 21:30] #981 closed

[2017-06-27 21:41] #1188 closed

[2017-06-27 21:49] hermitdave commented on #1244
@Gauntlet Since ImageEx does not directly touch the HttpHelper, I think it might be a better idea to consider this feature by means of CacheBase so this can be set when Cache is initialised.

[2017-06-27 22:09] nmetulev commented on #1251
re #1148

[2017-06-27 22:12] azchohfi opened #1253 "BladeItem - Support manual sizing"
- Add MinWidth prop
- Add MaxWidth prop
- Add a prop to define if the user can manually resize the BladeItem or not.

Maybe use the GridSplitter for this...

[2017-06-27 22:38] skendrot commented on #1253
BladeItem is a ContentControl so it already has Min and MaxWidth.
The BladeItem can resize to any size. Just don't set the Width (as in done in the sample

[2017-06-27 22:46] azchohfi commented on #1253
What I meant by "manual sizing" is just like the GridSplitter: using touch ou mouse to manually size the BladeItem, not defining it on XAML.

[2017-06-27 23:03] Gauntlet commented on #1244
I agree a "lower level" implementation would be better, was just using ImageEx as an example of my use case. My opinion would be to have a DelegateHandlerFactory property in the HttpHelper class. When HttpClients are created they would be initialised with the DelegateHandler created by the factory. This would take advantage of the existing design of the HttpClient and maintain its functionality.

[2017-06-27 23:13] #1162 closed

[2017-06-27 23:14] #1203 closed

[2017-06-27 23:16] #1055 closed

[2017-06-28 05:53] nmetulev commented on #1246
Looks like this is due to the style being set in the [constructor](https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/AdaptiveGridView/AdaptiveGridView.cs#L56)

@skendrot, is there a reason why we can't define a style for the AdaptiveGridView

[2017-06-28 05:56] nmetulev commented on #1247
Hey @touseefbsb , thanks for submitting this. Can you provide a bit more detail on this. For example, how would this be different than overwriting the default template for the listviewitem?

[2017-06-28 09:13] Mimetis commented on #1233
Actually, this is a good question. Applying a new Focus style is, today, not straightforward...
I tried several approaches, but no one was fine enough, in my point of view.
I will try an implementation, in the next couple of weeks, with a new CarouselItem style object.
Will make a PR is the solution is smart enough to resolve those kinds of problems / behaviors.

[2017-06-28 10:14] karmaecrivain94 opened #1256 "MarkdownTextBlock: How to enable normal new line behavior"
I know that it is part of the Markdown spec that single new lines should not be counted so that `line 1 \n line 2` should display in a single line, and not `line 1 \n\n line 2`. However, not all markdown implementations behave like this, so would it not be a good idea to support disabling this feature? What line of code needs to be changed for the MarkdownTextBlock to support normal new lines?

[2017-06-28 11:05] arthurrump commented on #1246
That seems to be the problem, yes. I commented out that line and the StyleSelector now works, which is a workaround if you need the StyleSelector, but I guess it isn't a feasible solution.

[2017-06-28 13:19] Gauntlet commented on #1244
So after reading through the source for HttpHelper and docs again, I've realised that IHttpFilter has replaced DelegateHandler. In light of that I'm thinking that GetDefaultFilter() should be replaced with a delegate like so:

[code]

Then a developer can provide a delegate when the app is started and everything that uses HttpHelper.Instance will use the filter provided.

[2017-06-28 13:35] hermitdave commented on #1244
HttpHelper.Instance is used heavily within Toolkit and I wouldn't risk messing with it. I might think about decoupling the httpclient usage from individual consumers. I think we should also consider switching to .NET standard HttpClient rather than WinRT version which is just a wrapper on top.

[2017-06-28 14:09] skendrot commented on #1246
That was done to [fix stretching of the GridViewItems](https://github.com/Microsoft/UWPCommunityToolkit/commit/99ee3dc1609c7874fd540c5184b2a4f02fd097fb#diff-64e763d776268be5661a9954709df928). That commit lists two issues fixed. Because this happens in the constructor the style can still be overridden in XAML or code behind.

Example from changing the sample app
[code]
![image](https://user-images.

[2017-06-28 14:10] Gauntlet commented on #1244
@hermitdave Okay, so if each of the consumers require a delegate and the StreamHandler applies the handler on the request when it is created like this for example:
[code]
Would that make sense to do?

[2017-06-28 14:11] hermitdave commented on #1244
@Gauntlet since you are actively looking at it, why not give it a go for real and then raise a PR ?

[2017-06-28 14:33] skendrot commented on #1246
It appears that if you define an ItemContainerStyle you are not able to use the ItemContainerStyleSelector. We do need to set the HorizontalContentAlignment and VerticalContentAlignment of each GridViewItem. We could set it in `PrepareContainerForItemOverride` but that means the enduser would not be able to change them.

[2017-06-28 14:48] Gauntlet commented on #1244
@hermitdave will do.

[2017-06-28 15:19] crutkas opened #1257 "Menu Control: When expanded, opening other menus on mouse over"
In a classic Win32 menu, when i mouse-over from different top level controls, they open up.  Currently i have to click twice to open a different menu

[2017-06-28 15:20] crutkas opened #1258 "Menu Control: When expanded, left alignment to parent"
Right now the flyout is aligned center versus left align.  Classic menus have the menus, when expanded, left aligned.

[2017-06-28 15:22] crutkas opened #1259 "Menu control, non clickable gap"
![image](https://user-images.githubusercontent.com/1462282/27645386-c9d5d57a-5bda-11e7-9f1b-4a88b6d03808.png)

I've found myself tending to click in this small region that is not clickable.  a classic menu has the top level and menu as "one".

![image](https://user-images.githubusercontent.com/1462282/27645463-f6c644d4-5bda-11e7-95c7-a3548b3771b9.png)

[2017-06-28 16:27] nmetulev commented on #1257
My understanding is that this is due to how Flyouts work in UWP. The solution here would be to use something else, which is not a small feat. @IbraheemOsama, what do you think?

[2017-06-28 16:30] nmetulev commented on #1258
ping @IbraheemOsama

[2017-06-28 16:33] nmetulev commented on #1259
Don't think we will be able to make them as one, but might be able to raise the flyout. Ping @IbraheemOsama

[2017-06-28 17:10] skendrot commented on #1257
Couldn't we still use flyouts and just check mouse over events of the other items? This [was mentioned](https://github.com/Microsoft/UWPCommunityToolkit/pull/1086#pullrequestreview-34588995 )in the original PR

[2017-06-28 17:59] touseefbsb commented on #1247
I am not so sure whether this would be simple to do by overriding the default templates. Because there is no animation at all when an item selection is shifted from one item to another. If there is any animation that can be edited to meet our needs. But I think there isnt, I am not an expert so I maybe wrong, If I am please enlighten me if it can be done with the default template.
The behaviour I

[2017-06-28 22:01] IbraheemOsama commented on #1257
We can use Shawn's suggestion, that shouldn't be a problem.

[2017-06-28 22:06] IbraheemOsama commented on #1259
This is the MenuFlyoutItem and MenuFlyoutSubItem problem, I think we will need to extend both or provide a custom style.
Will have a look :)

[2017-06-28 22:06] IbraheemOsama commented on #1258
@crutkas Thanks for your valuable feedback :)

[2017-06-28 22:18] IbraheemOsama commented on #1258
The menu flyout doesn't have a margin property :( even I tried
`_menuFlyout.SetValue(MarginProperty, new Thickness(10));` but I received a beautiful exception.

[2017-06-28 22:29] IbraheemOsama commented on #1257
Event OnPointerMoved not triggering when the Flyout is opened :( I think because the flyout behaves like a popup.

[2017-06-28 22:36] IbraheemOsama commented on #1258
Will try showAt

[2017-06-28 22:44] nmetulev commented on #1257
That was my understanding. It lives outside of the page and puts a shadow on top of everything

[2017-06-28 22:46] #1165 closed

[2017-06-28 22:47] nmetulev opened #1261 "Update ExpressionBuilder documentation"
ExpressionBuilder documentation is not complete. We also need to convert the word documentation to markdown

Ref #1165

[2017-06-28 22:48] crutkas commented on #1258
Looking at even material design, their menu is left aligned unless it is going to be cut off

[2017-06-28 22:58] crutkas commented on #1257
Is using a fly out causing more issues than it solves?

[2017-06-28 23:04] IbraheemOsama commented on #1258
The menu in Material design is build with WPF, the UWP version has only themes. I'll figure it out :)

[2017-06-28 23:09] Duranom opened #1262 "Hamburgermenu expose SelectionMode"
Was wondering if it is an idea that the HamburgerMenu exposes two SelectionModes where one is for the items and another for the options. Currently when you click/tap on an item in the list it will keep it selected and to disable it you have to take over the whole style to set the two listviews to `SelectionMode.None.`

[2017-06-29 02:08] nmetulev commented on #1262
I think this is possible. But should it be one property shared by both, or do you think two separate properties are needed?

[2017-06-29 02:54] nmetulev commented on #1256
The CommonMark spec defines a [hard line break](http://spec.commonmark.org/0.27/#hard-line-break) as having two or more spaces at the end of the line. This should work in the MarkdownTextBlock so `line 1  \n line 2` will display as two lines (as long as there are two or more spaces before \n).

[2017-06-29 05:23] skendrot commented on #1262
What is the use case for needing this change? Why would you not want an item to be selected?

[2017-06-29 06:44] Odonno opened #1263 "Selecting suggestion in searchbar of HamburgerMenu does not navigate to the correct page"

[2017-06-29 08:58] JohnnyWestlake commented on #1262
Take the default news app as an example: The user account button in the bottom options list is just a button, not a navigation item. Though that case is also different from the above as it's an individual item in the options list that doesn't have a selection mode, rather than the entire list.

(I'd argue their feedback hub menu item should do the same)

[2017-06-29 09:33] Duranom commented on #1262
@skendrot The idea is a bit like @JohnnyWestlake mentioned, by being able to have the option to turn off selection mode you have the option to have the menu more than just a navigation overview. For example in one page you would like to have it as a navigation (master/detail type) where in a different page you want to have it with actions like with Home and Rate, Feedback, Email or Reload or other

[2017-06-29 09:42] JohnnyWestlake commented on #1247
For what I can tell, you can achieve that with animated VisualStateTransitions from Normal / PointerOver-> Selected / PressedSelected/PointerOverSelected (and the reverse) when you re-template a ListViewItem if you just want to co-ordinate fades. If you actually want to *translate* the border over to the new selected item, that becomes more involved

[2017-06-29 10:21] touseefbsb commented on #1247
Yes that is exactly what i an suggesting, the aim is to drag users attention to selected element so connected animation would be better

[2017-06-29 14:44] skendrot commented on #1263
This is working fine for me with latest

[2017-06-29 14:44] skendrot commented on #1263
Is there a specific page it is not navigating to? I've tried `Menu`, `Master` and it works fine

[2017-06-29 15:05] skendrot opened #1265 "Menu tooltips show when they shouldn't"
In the Menu control it's possible to enable the keyboard shortcuts tooltips to show when mousing over.
1. Open the Sample app
2. Open the Menu page
3. Press and release the `Alt` button
4. Click anywhere on the page to dismiss the tooltips
5. Mouse over the menu items

[2017-06-29 15:07] skendrot opened #1266 "Menu keyboard shortcuts do not work after pressing Alt"
Pressing and releasing the `Alt` key will show the kryboard shortcuts but pressing one of the keys will not open the menu
1. Open the sample app
2. open the menu page
3. press and release the `Alt` key
4. press `F` key

Menu does not open despite the shortcut tooltips showing

[2017-06-29 15:15] skendrot opened #1267 "Menu keyboard shortcuts should show when holding Alt"
The keyboard shortcuts on the menu only show after you press and release the `Alt` key. They should show when press and hold the `Alt` key

Related to #1266

[2017-06-29 15:16] skendrot commented on #1262
I don't think this fits in with what we want from the HamburgerMenu. Any changes made should bring it more in line with the new NavigationView. For your case @JohnnyWestlake we could add the PaneFooter property that the NavigationView has.

The options in the HambugerMenu are for navigation. That's the point of them. For other use cases I see the PaneFooter being a good approach and brings the Ham

[2017-06-29 16:45] karmaecrivain94 commented on #1256
@nmetulev but what should I change if I want to disable the hard line break? I can't find the relevant code :'(

[2017-06-29 18:14] crutkas commented on #1258
I was talking about real material :)  https://material.io/guidelines/components/menus.html

[2017-06-29 19:55] shenchauhan opened #1271 "Changing color in the sample app breaks the XAML output"
When you change the colour property in the Sample app, the updated XAML returns:
Background="Windows.UI.Xaml.Media.SolidColorBrush"

This should be something like:
Background="LightGray"

[2017-06-29 19:58] Odonno commented on #1271
In what page? Can you provide a screenshot?

[2017-06-29 20:19] shenchauhan commented on #1271
Try the RadialProgressBar, change the colour in the drop down and then look at the XAML.

[2017-06-29 20:20] shenchauhan opened #1272 "Menu sample page crashes when clicking documentation"
Open the sample app
Select the Menu from the controls section
Click on the documentation tab

Exception gets thrown

[2017-06-29 20:23] azchohfi opened #1273 "RoundImageEx default PlaceholderStretch is not the same as ImageEx."
It should be expected that changing from ImageEx to RoundImageEx should just add the rounder behavior with corner radius, but doing it also stretches the placeholder by default.

[code]
![image](https://user-images.githubusercontent.com/527713/27708533-25eef6d6-5cce-11e7-8485-f62669479bd8.png)

[2017-06-29 20:29] azchohfi opened #1274 "Search documentation is not working."
Read the docs is not working.

[2017-06-29 20:39] Odonno commented on #1271
Yeah. I see. It was already here since 1.4 and maybe before.

[2017-06-29 20:57] azchohfi opened #1275 "Menu control does not behave the same as on Desktop Windows when using the arrows for navigation."
That is it. Just test this sample out and try to navigate with the arrows (Up Down, Left, Right). Very different behavior when compared to Win32.

[code]

[2017-06-29 21:04] IbraheemOsama commented on #1272
Same thing happens to Orbit Control. Will fix both

[2017-06-29 21:11] IbraheemOsama commented on #1272
Will work on an enhancement for menu :) if some one can fix for both Menu and Orbit control

[2017-06-29 21:12] Duranom commented on #1262
Bit off topic, It should be a bit more in line with NavigationView but not as replacement, for that I would recommend than a separate NavigationView that would than serve for those targeting older.
With NavigationView I would expect in a way to only have navigation but a HamburgerMenu I would assume it would be capable of a bit more than that so it serve more than just big or harder to use views l

[2017-06-29 21:15] shenchauhan opened #1276 "View Extensions in sample app doesn't expose all properties"
View Extensions only exposes IsVisible on sample page.

There are all these properties which aren't in the properties tab:
      extensions:StatusBar.BackgroundColor="Blue"
      extensions:StatusBar.BackgroundOpacity="0.8"
      extensions:StatusBar.ForegroundColor="White"
      extensions:ApplicationView.Title="View Extensions"
      extensions:TitleBar.BackgroundColor="Blue"
      extensions:Ti

[2017-06-29 21:16] deltakosh opened #1277 "Items are not rendered in hamburgerMenu"
My app (urzagatherer) is using the hamburgermenu from 1.5
When I moved to latest beta, there is no more items in my menu.

I thought it was my style so I removed all styles.
Here is the dataTemplate I'm using:
[code]

And the menu itself:

[code]

[2017-06-29 21:28] skendrot commented on #1277
You no longer need to supply a data template for the HamburgerMenuGlyphItem. It is now a control with a default style. Try removing the ItemTemplate from the menu

[2017-06-29 21:34] skendrot commented on #1275
Can you please give more detail about what is different. Also remember this the Menu control isn't meant to be a 100% replica of the old Win32 Menu control

[2017-06-29 21:36] skendrot commented on #1271
Seeing as there is no **colour** property, I think we can safely close this 😉

[2017-06-29 21:45] azchohfi commented on #1275
On Win32, if the focused element have any children, and you keep pressing right, it will go inside that element until the focused element doesn't have any children. When it doesn't, it will focus the element right next to it, one level up.

For example, on VS2017, when you press **Alt, Down, Right, Right**, it will focus the "File" menu option(**Alt**), open it and focus "New"(**Down**), focus "Pr

[2017-06-29 21:57] skendrot commented on #1275
That is how the Menu control behaves in the toolkit as well

[2017-06-29 22:35] nmetulev commented on #1273
ping @hermitdave

[2017-06-29 22:39] azchohfi commented on #1275
Use the sample source I sent and press the Right arrow 10 times and you'll see that it is not working. It will move from 1st to 2nd and ten to 3rd, but not to 4th. Sometimes it just doesn't work at all.

[2017-06-30 00:03] nmetulev commented on #1272
It was related to the new ImageResolving method in MarkdownTextBlock, fixed

[2017-06-30 00:03] #1272 closed

[2017-06-30 00:05] #1263 closed

[2017-06-30 00:55] #1258 closed

[2017-06-30 04:16] nmetulev commented on #1276
Manually subscribed to PropertyChanged event to update properties

https://github.com/Microsoft/UWPCommunityToolkit/commit/c073fecbb8909208c29cf71aced86bdcdecfae1e

[2017-06-30 04:16] #1276 closed

[2017-06-30 04:19] nmetulev commented on #1271
Replaced SolidColorBrush.ToString() with SolidColorBrush.Color.ToString() in sample app

https://github.com/Microsoft/UWPCommunityToolkit/commit/ae13d30a3033c5df771ef6c4aa8ef5ed333054f9

[2017-06-30 04:19] #1271 closed

[2017-06-30 04:54] #1259 closed

[2017-06-30 04:55] #1238 closed

[2017-06-30 06:45] Odonno commented on #1274
The docs are not working for new controls/services. Isn't it?

It is because the docs for new samples are not pushed to master branch so docs url is unreachable. Maybe we should target local files if we run in DEBUG mode.

[2017-06-30 06:50] gpbicego commented on #1228
There are still some problems, I resolved by this way:
* Move the block *‘Case change due to Text property is assigned a value (Ex Textbox.Text="value")’* before *‘Delete or backspace is triggered’* block.
* Move the return outside the else block.

[code]

[2017-06-30 10:11] hermitdave commented on #1273
@azchohfi I will take a look at it @nmetulev is this in 1.5 ?
I think the main reason for different behaviour is the RoundedImageEx uses ImageBrush as opposed to Image for both Main and Placeholder in case of ImageEx

[2017-06-30 11:57] hermitdave commented on #1142
@edwinvandriel with the ListViewBase extension I get error when attaching command

error CS1503: Argument 1: cannot convert from 'Windows.UI.Xaml.FrameworkElement' to 'Windows.UI.Xaml.Controls.ListViewBase'

[2017-06-30 11:58] hermitdave commented on #1142
I think we should look into this and others to ensure that nothing else has broken

[2017-06-30 15:48] nmetulev commented on #1274
Docs seem to be working, but search doesn't return anything... looking into it

[2017-06-30 15:49] nmetulev commented on #1228
ping @IbraheemOsama

[2017-06-30 16:12] nmetulev commented on #1273
I'm ok with getting it in for 1.5 as a fix (unless it is by design :) )

[2017-06-30 17:07] hermitdave commented on #1273
I don't think we can force image stretch options on ImageBrush (making it by design)

[2017-06-30 17:09] hermitdave commented on #1273
My bad.. Stretch is there.. I'll take a look tonight

[2017-06-30 17:13] hermitdave commented on #1273
Found the offender in constructor
PlaceholderStretch = Stretch.UniformToFill

[2017-06-30 23:00] hermitdave commented on #1273
Could you please check the behaviour on latest builds? Stretch is now same as ImageEx and can be modified in xaml

[2017-06-30 23:36] IbraheemOsama commented on #1228
@gpbicego what is the problems ? can you please elaborate. I you see that your code works please submit a Pull Request with your fix but describe the problem first :)

[2017-07-01 14:38] azchohfi commented on #1273
Fixed!

[2017-07-01 14:38] #1273 closed

[2017-07-01 19:18] snrnats opened #1281 "ImageEx caching vs internal BitmapImage caching"
I've noticed that native **Image** control caches images with http **Source** to persistent storage _%packageId%/AC/INetCache_. It won't download the image again when creating another **Image** control with the same URI. It is managed by **CreateOptions** in **BitmapImage** and is enabled by default.
I'm using Windows 10 1703 (15063.413) and building an app targeting Anniversary Update.

- Should

[2017-07-01 22:38] hermitdave commented on #1281
@snrnats Thank you for raising this issue. The mechanism of persistence for ImageEx and Image will be identifical if IsCacheEnabled is false. The reason is that it is just using regular image.

https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Media.Imaging.BitmapImage#properties_ just mentions use of internal caching mechanism that isn't design to be controlled by developer. Its a default

[2017-07-02 20:51] karmaecrivain94 commented on #1256
I finally found how to replace the hard line break with a normal line break:

Replace the following:

[code]

In the file `MarkdownDocument.cs` with a simple `paragraphText.Append("\n");`. It would be nice to have enabling or disabling hard line break as a boolean property (true by default) in future versions :)

[2017-07-03 09:43] JohnnyWestlake commented on #1281
FYI, caching to INetCache can be turned off with the assistance of a HttpProtocolFilter

[code]

As only the writebehaviour is set and not the read, it will still check the INetCache first to see if it's already there.

As to whether this should be the cache's default behaviour is questionable. It's close to dev's shooting themselves in the foot by turning on & off system optimization they're not

[2017-07-03 11:58] edwinvandriel commented on #1142
Sorry for the late response but I was on a short vacation. @hermitdave thanks for reverting it back. I will take a look why that is happening.

[2017-07-03 12:26] hermitdave commented on #1142
@edwinvandriel no worries. Its the auto generated code that is generated when using x:bind.
[code]

[2017-07-03 12:27] hermitdave commented on #1142
The same applies for WebView extensions both Content and ContentUri.

[2017-07-03 12:38] hermitdave commented on #1281
@JohnnyWestlake I am tempted to disable the common HttpHelper instance and go back to each consumer having their own. This way they can initialise it however they please.

I agree that INetCache is no way accessible to WinRT API and the Toolkit Cache is an independent mechanism

[2017-07-03 18:49] nmetulev commented on #1274
This is a known issue with RTD ad MKDocs, the bug has been opened for a while now (https://github.com/rtfd/readthedocs.org/issues/1088). Will investigate workarounds for this for 2.0

[2017-07-03 18:50] nmetulev commented on #1277
@deltakosh, did this resolve your issue, or are you still unable to see the items in your hamburger menu?

[2017-07-04 01:45] skendrot commented on #1277
I haven't tested to see what the issues is, but if there is a problem it appears to be a breaking change...

[2017-07-04 07:09] hellodear commented on #626
Hi team,

I am really impressed with the convo went over here. I have one small question: I want to display all images from pictures library in my photo editing app. How can I do that in a fast way?

Basically, I want to create a gallery in my app which will show the images from Pictures library. As written above, we can't show the images directly from Pictures Library. So how can I do this?

Than

[2017-07-04 09:21] hermitdave commented on #1277
@skendrot we should have any significant breaking changes until next version

[2017-07-04 12:48] EdAlexander opened #1286 "Direction with Graph/Office365 service?"
I have just started using the toolkit and mostly helping me save some coding cycles (thanks to all).  My questions are with regard to use of Graph service.  I am used to getting "silent" token (with refresh) from the authentication helper, loginasync doesn't seem to implement that function and authenticating graph to AzureAD doesn't work with OneDrive and SharePoint libraries.  Drives is null foll

[2017-07-04 13:44] marcominerva commented on #1251
Do you mean add documentation to this page? https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/docs/services/MicrosoftTranslator.md?

[2017-07-04 15:23] CodingNinjaOctocat opened #1287 "How to "PERFECT" implementation Tabbar navigation controls?"
I've been trying to build Tabbar navigation controls in recent days (just like iOS and Android platforms), but I've been having problems, and I've read the "[Microsoft/Windows-universal-samples/XamlPivot](https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/XamlPivot)",in this sample, the TabsStylePivot/TabHeaderControl with some **Shortcomings**:

1. TabHeader at the top(I w

[2017-07-04 17:12] nmetulev commented on #1251
Yup, that's the one. However, I noticed most of those pages are missing properties/methods/events, so I think we need a larger effort to update all of them, and look into generating this documentation automatically.

[2017-07-04 21:50] hermitdave opened #1289 "Moving certain bits from UWP .NET to .NET Standard API"
Hello All,

I have been debating whether we should consider moving

- [ ] HttpHelper
- [ ] CacheBase

I think we should also remove (or mark it obsolete) HttpHelper.Instance and force consumers to instantiate an instance as desired.

[2017-07-04 21:58] gmgallo opened #1290 "HamburgerMenuImageItem throws a compiler error"
Hi, I installed the latest nugget package v1.4.1 and am trying to use the HamburgerMenu. However I'm getting several errors:
1) The HTML page from the Sample in a fresh new UWP app created with VisualStudio 2017 throws the following
Error:
**Cannot assign text value 'Assets/BisonBadlandsChillin.jpg' into property 'Thumbnail' of type 'BitmapImage'**	...
If I make a copy in my project of that class

[2017-07-05 04:50] y4hmez commented on #1224
hello (anyone) I'd assume this is  that same issue as this link (as in design time).

[https://github.com/Microsoft/UWPCommunityToolkit/issues/715](url)
[https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/18892300-fix-the-uwp-designer-errors](url)

[2017-07-05 07:11] JohnnyWestlake commented on #1289
From my point of view, the HttpClient in .Net Standard is quite different from the Windows.Web HttpClient (importantly, it does't have support for INetCache control)

The Windows.Web HttpClient also has the advantage of sharing it's cookies / cache / other things with WebViews in the same app container, so I'd vote sticking with it.

[2017-07-05 08:45] julienshepherd commented on #1023
Same here

System.NotImplementedException: The method or operation is not implemented.
at Microsoft.Toolkit.Uwp.UI.Controls.Microsoft_Toolkit_Uwp_UI_Controls_XamlTypeInfo.XamlSystemBaseType.get_IsConstructible()

[2017-07-05 17:05] nmetulev commented on #1290
Hey @gmgallo, do you mind sharing a repro project of the issue you are seeing? I'm unable to reproduce it on my side.

[2017-07-05 17:08] nmetulev commented on #1289
Curious why?

[2017-07-05 18:49] wutipong opened #1292 "PrintHelper does not print Image"
I'm trying to use PrintHelper to print an image. For some reason, it doesn't show up in the print preview nor the output.  The image source is created in code, using `SoftwareBitmapSource`. I tried both direct and indirect printing in the `ShowPrintUIAsync()`

I've put my test code in my repository [here](https://github.com/wutipong/TestPrintUWP).

Here's the image loading code

           var pic

[2017-07-05 19:22] hermitdave commented on #1292
@wutipong I will take a look at this shortly. Thank you for the repro

[2017-07-05 19:24] totht91 opened #1293 "Classic Menu tweeks"
I have the following requests to the classic menu:

- [ ] Slow opening animation at some time:
- [x] ~Add icons to menu items into the left side~ Sorry I missed that MenuFlyoutItem has Icon property. MenuItem does not need to have Icon. Maybe we can add some example of MenuFlyoutItem.Icon to the sample app.
- [ ] Add shortcut info to menu items into to right side

anim:
![menu](https://user-images

[2017-07-05 19:27] hermitdave commented on #1289
The default instance is used all internal consumers. Like in #1244 if a requirement comes from one of the consumers, we end of introducing stuff that could impact all the consumers. In most cases (except ImageEx), each consumer only requires only one ever HttpClient. If we force all internal consumers off, we can expose the constructor params like IHttpFilter for desired consumers like in #1244 th

[2017-07-05 19:32] hermitdave commented on #1289
@JohnnyWestlake Not supporting INetCache isn't a bad thing - #1281 noticed there's dual caching when its isn't needed. .NET Standard HttpClient however is bound to improve faster in coming releases. Never considered sharing cookies / cache etc with webviews. That is a valid point

[2017-07-05 20:02] hermitdave commented on #1292
@wutipong I think its the way you are loading the image. I modified the code to load image in the manner below
[code]

It shows the image perfectly and prints as shown in pdf atta
[TestPrint.pdf](https://github.com/Microsoft/UWPCommunityToolkit/files/1125893/TestPrint.pdf)
ched

[2017-07-05 20:41] hermitdave commented on #1292
If its okay with you please close the issue

[2017-07-05 20:53] avknaidu commented on #1067
@deltakosh I don't mean to be pushy but can i know if you / someone is working on this? I am using `Syncfusion` pdf helper but Printing `MarkdownTextBlock` without Page Breaks is not so good.

[2017-07-05 21:23] nmetulev commented on #1293
ping @IbraheemOsama

Thanks for the feedback @totht91

1. Not sure what you mean by

    Could you expand?

2. We can easily change the Header of a MenuItem to support any Content and I think we should do that, then you can just do this to add the icon:

[code]

3. Tooltips show up under the MenuItems when alt is pressed and released. Did you have something else in mind?

[2017-07-05 21:51] nmetulev commented on #1287
Hey @CodingNinjaOctocat, this is  a great question and as you can see by #894 and #353, this is something that the community is trying to figure out as well. :)

I'll close this issue as duplicate - feel free to contribute to the discussion in the other threads if you have any suggestions

[2017-07-05 21:51] #1287 closed

[2017-07-05 21:52] nmetulev commented on #1286
Great question. ping @cbarkerms

[2017-07-05 21:58] gmgallo commented on #1290
Hi Nikola,

I have attached two Zip files with a minimalist test project that only contains the HamburgerMenu control.

Before preparing this mail I copied the project to a second computer, a Surface Notebook that I use for travel, to compile it there to make sure it is not an environment issue in my main development system. The project didn’t with the nugget packages, so, I proceed to install tho

[2017-07-06 08:54] JohnnyWestlake commented on #1293
For 3, it's something like this where we actually display the keyboard shortcut in the menu

![shortcuts](https://user-images.githubusercontent.com/2319473/27903397-13aad9a0-6231-11e7-8500-a6171dff1cc4.jpg)

[2017-07-06 10:18] wutipong commented on #1292
@hermitdave  Yes, it does work. Thank you.

I'll be closing the issue right away.

[2017-07-06 10:18] #1292 closed

[2017-07-06 13:08] JohnnyWestlake commented on #353
Office team actually built their own Ribbon implementation for that, no relation to any pivot. Their layout panels are custom (all RenderTransform based rather than standard arranging, etc), those guys like building stuff :P But Tab & Ribbon would be different controls in my eyes anyway...

Either way I think building from the ground up is the simplest way to go too, it's not an especially complic

[2017-07-06 13:42] Vijay-Nirmal commented on #1293
I also notice.

Focus Box(Black box) will appear on the MenuItem but MenuItemFlyout only opens after the Focus Box hide. If we move fast then Flyout will not open.

![uwp community toolkit sample app 06-07-2017 04_56_24 pm](https://user-images.githubusercontent.com/24755596/27909606-172e8c5a-626f-11e7-97a0-40857288dda5.gif)

[2017-07-06 13:47] JustinXinLiu commented on #353
You can actually style my tab control to be like OneNote's. I restyled it for our Bullclip app [here](https://twitter.com/justinxinliu/status/811149814826078208?s=09).

[2017-07-06 13:52] hermitdave commented on #353
I think we all just need to agree on

1. What sort of Tab control we need
2. Should the data model be per tab

Control itself is simple enough

[2017-07-06 13:54] hermitdave commented on #353
@JustinXinLiu I just saw your comment and I see that its disappeared after I tapped back button on edge a couple of times. Did you remove it or did I delete it without realising it ?

[2017-07-06 14:01] Vijay-Nirmal commented on #353
@hermitdave I too saw it. In my opinion, it was awesome. It completely goes with Fluent Desyin System.

[2017-07-06 14:23] hermitdave commented on #353
here it is either way.. https://twitter.com/justinxinliu/status/811149814826078208?s=09

[2017-07-06 15:39] nmetulev opened #1295 "Autogenerate Release Notes on each release"

[2017-07-06 16:33] nmetulev commented on #1290
I'm glad the update fixed the issue :)

To try to answer your question on including nuggets in the project zip, you can download the nugets from nuget.org and add them locally (see [this](https://docs.microsoft.com/en-us/nuget/tools/package-manager-ui) on adding local package sources)

[2017-07-06 16:33] #1290 closed

[2017-07-06 16:50] nmetulev commented on #1293
I see what you mean, this is something we should take a look at for both 1 and 3. @IbraheemOsama, any thoughts on this?

[2017-07-06 16:54] nmetulev commented on #1289
Agree sharing cookies/cache with webviews is important and we should stick with it.

Makes sense for moving away from using Instance

[2017-07-06 16:58] totht91 commented on #1293
@nmetulev see the two attached gif. Sometimes the menu is not showing immediately.

[2017-07-06 17:19] Code-ScottLe commented on #1277
I think the move from 1.4 to 1.5 breaks pretty much all Hamburger Menu usage. Using the pre-1.5 example of how to set up the `HamburgerMenuGlyphItem` with `SymbolIcon` now will result in the default smiley of the `SymbolIcon` control, despite setting the Glyph to the correct string.

Are we still able to override the default template by setting it manually? This smells funny to me for some reason.

[2017-07-06 17:31] nmetulev commented on #1262
agree with @skendrot, we should add the PaneFooter property to align with the NavigationView instead of adding the SelectionMode. For these cases where selection mode needs to  be changed, I'd recommend overriding the style

[2017-07-06 17:32] #1257 closed

[2017-07-06 17:35] nmetulev commented on #1256
Glad you figured it out :)

[2017-07-06 17:35] #1256 closed

[2017-07-06 18:29] nmetulev commented on #1277
Just tested it with the sample page that was using the templates prior to this change and it looks like Binding in the DataTemplate for ItemTemplate and OptionsItemTemplate is broken. Interestingly, x:Bind works great, which is why we didn't catch this originally. @Code-ScottLe, are you using Binding or x:Bind?

[2017-07-06 18:31] Odonno commented on #1295
@nmetulev Something like that? https://jerel.co/blog/2011/07/generating-a-project-changelog-using-git-log

[2017-07-06 19:42] Code-ScottLe commented on #1277
I was using Binding.

            <DataTemplate x:Key="HamburgerMenuItem">
                <Grid Width="240"
                      Height="48">
                    <Grid.ColumnDefinitions>
                        <ColumnDefinition Width="48" />
                        <ColumnDefinition />
                    </Grid.ColumnDefinitions>
                    <SymbolIcon Grid.Column="0"

[2017-07-06 20:00] nmetulev commented on #1277
Can you try this (trying to narrow down the bug):

[code]

[2017-07-06 20:08] nmetulev commented on #1295
@Odonno, that's a good one. We need to see if we can use it to only grep PRs as we only use those for the release notes

[2017-07-06 20:18] Odonno commented on #1295
Oh yes. So it seems a bit more difficult. Or we could force every PR to be squashed to 1 commit so we can use the grep without any problem.

[2017-07-06 20:29] nmetulev commented on #1295
There are few other tools that might do what we want, but haven't played with them yet:

https://github.com/GitTools/GitReleaseManager

https://github.com/GitTools/GitReleaseNotes

[2017-07-06 20:34] DkmS1953 opened #1296 "After the package is upgraded to version 1.5, items of hamburger in my program are not displayed correctly."
Characters (glyphs) are not displayed at all. Text labels do not appear in the Phone emulator (version 15063). When you click the "Invisible" menu items, the actions you want to perform are performed.
The program was based on your example for version 1.4. Fixing the XAML as in the new example (removing the Grid from DataTemplate and adding hamburgermenuglyphitem) does not give the result.

P.S. Un

[2017-07-06 20:36] nmetulev commented on #1296
Thanks for reporting this issue @DkmS1953, it is a known issue that we are tracking and working on a resolution. Could you share your xaml for your hamburgermenu, it will help us with debugging?

[2017-07-06 20:37] Code-ScottLe commented on #1277
@nmetulev Busy with work ATM. I'll let you know by the night.

BTW, while I think switching over to `FontIcon` is a great idea (as Segoe MDL2 Icon Font has much more than `SymbolIcon`), but it is less friendly + also requires knowledge on how to acquire the font value. We should still also offer some sort of solution for using the `Symbol` Enum for quick layout as well.

[2017-07-06 21:29] hermitdave commented on #1289
@nmetulev Shall I create another issue for HttpHelper Instance related change?

[2017-07-06 23:49] DkmS1953 commented on #1296
In attach versions shell.xaml for 1.4 (work in store app) and for 1.5 (not a very successful patch).
[Shells.xaml.zip](https://github.com/Microsoft/UWPCommunityToolkit/files/1129555/Shells.xaml.zip)

[2017-07-06 23:52] DkmS1953 commented on #1296
In attach versions shell.xaml for 1.4 (work in store app) and for 1.5 (not
a very successful patch).

Wbr, Dyakov K.M.

2017-07-06 23:36 GMT+03:00 Nikola Metulev <notifications@github.com>:

[2017-07-07 01:59] nmetulev commented on #1289
Let's do it

[2017-07-07 02:17] nmetulev commented on #1296
Thanks @DkmS1953

There is an issue when using **Binding** that I can reproduce and looking into. Replacing it with **x:Bind** seems to work and I recommend using it in your templates in the meantime

For example, the template would look like:

[code]

[2017-07-07 04:52] Code-ScottLe commented on #1277
Nope. Still broken.

http://imgur.com/5LReON8

[2017-07-07 06:40] Odonno commented on #1295
Oh, I see. What do you prefer? Using commit messages, PR titles or commit titles?

[2017-07-07 06:49] JustinXinLiu commented on #353
Ahh sorry @hermitdave I deleted right after 'cause I thought I should have published a Style like that before showing anything. :P I will see if I can create a new Style for it this weekend.

[2017-07-07 11:40] DkmS1953 commented on #1296
Yes, it works. But studio only writes "Binding" when using the appropriate
wizard...

Wbr, Dyakov K.M.

2017-07-07 5:17 GMT+03:00 Nikola Metulev <notifications@github.com>:

[2017-07-07 12:01] EricVernie commented on #1286
@EdAlexander We silently redeem an access token after one hour, but for the current session only. We don’t cache the token for a next session (i.e when you restart the app).
For OneDrive For business you can use the OneDrive Service.
Regarding the evolution of the service it’s only a matter of time and we have to decide what to implement

[2017-07-07 15:01] skendrot commented on #1296
Better to just remove the template

[2017-07-07 15:19] nmetulev commented on #1277
Weird, can you send me your xaml for your page?

[2017-07-07 15:20] nmetulev commented on #1295
We have been using PRs as they naturally group commits.

[2017-07-07 15:53] DkmS1953 commented on #1296
After removing HamburgerMenu.ItemTemplate
and HamburgerMenu.OptionsItemTemplate application hangs:
System.Runtime.InteropServices.COMException: No installed components were
detected.

Cannot apply a Style with TargetType
'Microsoft.Toolkit.Uwp.UI.Controls.HamburgerMenuGlyphItem' to an object of
type 'Windows.UI.Xaml.Controls.Control'.
   at Windows.UI.Xaml.FrameworkElement.MeasureOverride(Size ava

[2017-07-07 17:01] rymate1234 opened #1298 "Is it possible to return a single tweet via ID from the Twitter service?"
I'm wanting to use the twitter service in my application in order to get tweets in order to view them inline in the application.

Is it possible to use the twitter service to fetch a tweet via ID?

[2017-07-07 18:49] Code-ScottLe commented on #1277
It's nothing special. Here it is.

<Page xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
      xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
      xmlns:local="using:ProjectMango.UWP"
      xmlns:ignore="http://www.galasoft.ch/ignore"
      xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
      xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/

[2017-07-07 18:56] Code-ScottLe commented on #1296
Temporary revert back to 1.4+ version if you have to. There are some issue with the template overriding that we are tracking in #1277 .

[2017-07-07 20:53] IbraheemOsama commented on #1293
Will start working on the tweeks :)

[2017-07-07 21:45] Code-ScottLe commented on #1095
Is this getting greenlit? With most of the code already in the PullToRefreshList, this should be somewhat easier to adapt?

[2017-07-07 22:04] nmetulev commented on #1277
@Code-ScottLe, after replacing it to x:bind, the code above seems to work for me:

![image](https://user-images.githubusercontent.com/711864/27978643-89f9e372-6325-11e7-977d-74d2ddfe8d72.png)

[2017-07-07 22:12] Code-ScottLe commented on #1277
@nmetulev Hmm, interesting. I wonder what happened on my end. I can try again tonight, removed the `TransparentHamburgerMenu` (as I updated the toolkit dependency to 1.5) on a branch. Let see if I can reproduce it over there.

[2017-07-07 22:32] nmetulev commented on #1296
@DkmS1953, that seems like a different issue than what we are tracking. Do you mind sharing the new code, once again?

[2017-07-08 00:00] lukeatron commented on #996
I just found this issue trying to figure out why I don't have DockPanel in UWP.  As a dev who's spent years building Windows WPF apps, DockPanel was perhaps only second to StackPanel in terms of the primary tool I use for layout.  Perhaps I'm missing something (I'm pretty new to UWP) but RelativePanel seems to require you name everything you want to layout.  Naming a bunch of mundane things that d

[2017-07-08 01:03] JustinXinLiu opened #1299 "Shadow size calculation should happen under SizeChanged of DropShadowPanel.Content instead of DropShadowPanel itself"
I might have spotted a small issue in the `DropShadowPanel` while answering this [SO question](https://stackoverflow.com/questions/44952640/uwp-adaptive-gridview-renders-1st-element-wrong).

As I haven't used this control before, maybe it's worthwhile for someone else to have a look at this and confirm if this is indeed an issue.

[2017-07-08 04:35] skendrot commented on #1277
Also what happens when you remove the ItemTemplate?

[2017-07-08 04:39] Code-ScottLe commented on #1277
I don't think it would work. The `HamburgerMenuGlyphItem` on 1.5 uses `FontIcon`, so the simple string `Library` won't work. I'm away from home at the moment, will try later tonight.

[2017-07-08 15:00] DkmS1953 commented on #1296
The code is the same, but two properties have been removed from the
HamburgerMenu element.

    <controls:HamburgerMenu
        x:Name="HamburgerMenu"
        ItemTemplate="{StaticResource HamburgerMenuItem2}"
        OptionsItemTemplate="{StaticResource OptionTemplate}"
        DisplayMode="CompactOverlay"
        Foreground="{ThemeResource AppBarItemForegroundThemeBrush}"
        ItemClick="Hamb

[2017-07-08 20:35] hermitdave opened #1300 "Mark HttpClient.Instance obsolete and move to instance per consumer"
We need to move away from using HttpClient.Instance singleton. Each consumer should create an instance as needed. This would enable changes to individual consumer behaviour easier

See #1244

[2017-07-09 03:12] neilsustc commented on #884
It's time to reopen this? 😀

[2017-07-09 04:20] skendrot commented on #1296
That's what I meant. Is everything working now with the item template not being set?

[2017-07-09 04:33] skendrot commented on #1296
Can you share how you are adding items to the HamburgMenu? Not as a zip, but here in plain text

[2017-07-09 15:00] DkmS1953 commented on #1296
1. *Options item - in XAML code*:
        <controls:HamburgerMenu.OptionsItemsSource>
            <controls:HamburgerMenuItemCollection>
                <controls:HamburgerMenuGlyphItem
                    x:Name="SettingsProga" x:Uid="SettingsWN"
                    Glyph="&#xE115;" Label="#Settings#"
                    TargetPageType="settings:SettingsWrPa" />
                <controls:Hamburge

[2017-07-09 19:54] artemious7 opened #1301 "Menu control: doesn't let to choose a submenu with a pointer if it has 2 or more rows"
Menu control doesn't let to choose a submenu using pointer if it has 2 or more rows. Instead, it focuses on a menu item that is under the opened popup of submenu items and closes the latter.

![uwp-toolkit-menu-bug](https://user-images.githubusercontent.com/16724889/27997075-0b4baea4-64f9-11e7-84df-aeb399709b47.gif)

[2017-07-10 11:55] IbraheemOsama commented on #1301
@artemious7 nice catch 👍

[2017-07-10 15:02] JustinXinLiu commented on #353
So I just updated the design for the [`Tab`](https://github.com/JustinXinLiu/Continuity/blob/master/Sample.Main/Views/PlayersView.xaml) control. Feel free to check it out. :)

<img width="747" alt="tab2" src="https://user-images.githubusercontent.com/1710184/28024520-47fab13e-65d4-11e7-8611-c8265cdd7b4f.PNG">

<img width="748" alt="tab1" src="https://user-images.githubusercontent.com/1710184/28024

[2017-07-10 15:47] mdtauk commented on #353
I think by default the Tab control's design should match the existing UWP tab UI, all be it with some fluent design animation of the current tab selector underline.  And perhaps include some alternate styles along with the control, for Edge Tabs (with closing x) and the iconless versions as used by Office.

[2017-07-10 15:52] timheuer commented on #353
@mdtauk what *is* the 'existing UWL tab UI'?  I would use @JustinXinLiu's version in a heartbeat

[2017-07-10 15:58] nmetulev commented on #1299
ping @hermitdave

[2017-07-10 16:02] hermitdave commented on #1299
@JustinXinLiu @nmetulev a few weeks ago someone mentioned similar behaviour but we didn't have va repro.. I'll take a look. Thank you

[2017-07-10 16:19] hermitdave commented on #353
Agreed.. We don't have existing control and this looks great

[2017-07-10 17:17] Vijay-Nirmal opened #1302 "New Helper to connect to a SQL Server database"
As far as I know, there is an API to connect a Local Database(Like SQLite) but there is no API to connect to a Server Based Database(Like SQL Server database). There is an API(ADO.NET) for WPF but it is not compatible with UWP.

[2017-07-10 17:22] hermitdave commented on #1302
Support for sql server uwp support was announced at build 2017. I believe it will be supported when .net 2.0 supports UWP lands

[2017-07-10 17:44] Vijay-Nirmal commented on #1302
@hermitdave Are you sure? I can't find it in [.NET Standard 2.0] (https://github.com/dotnet/standard/blob/master/docs/versions/netstandard2.0.md)

[2017-07-10 17:56] hermitdave commented on #1302
Sorry it's in EFCore as mentioned.. See note by @ClintRutkas https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/9327945-uwp-sql-server-api

[2017-07-10 18:01] nmetulev commented on #1296
The issue seems to come from the derived class HamburgerMenuGlyphItem2. Adding a default style for that type should resolve the issue:

[code]

This is just a copy of the HamburgerMenuGlyphItem default style

[2017-07-10 18:10] Vijay-Nirmal commented on #1302
@hermitdave So it's time to wait. I will close this issue.

[2017-07-10 18:14] nmetulev opened #1303 "Add friendlier error messages when SampleApp is offline"
Current example:
![1](https://user-images.githubusercontent.com/711864/28032857-e74e6b46-6560-11e7-9934-700d0bf70abf.jpg)
![2](https://user-images.githubusercontent.com/711864/28032863-e8d0dc74-6560-11e7-8737-9bd5f0e22f7b.jpg)

[2017-07-10 18:48] mdtauk commented on #353
I do really like @JustinXinLiu 's design.  But UWP does have a version of tabs (restyled pivot) and Windows 10 has enough inconsistency as it is.  Personally I'd like Justin's version to be the default throughout the OS!
![tabs_alarms-and-clock 1](https://user-images.githubusercontent.com/7389110/28033897-9062aa9e-65a7-11e7-8d9a-0467a5313028.png)
![wp_ss_20170710_0001 2](https://user-images.github

[2017-07-10 19:47] #1302 closed

[2017-07-10 20:33] DkmS1953 commented on #1296
Yes, it works 👍
But it's not very clear why you want to define a style for a descendant class if, in the sense of display, it is no different from a parent?
The DataTemplate design looks more beautiful:
        <DataTemplate x:Key="HamburgerMenuItem2"
            x:DataType="controlsD:HamburgerMenuGlyphItem2">
            <controls:HamburgerMenuGlyphItem Glyph="{x:Bind Glyph}" Label="{x:Bind Label

[2017-07-10 20:53] avknaidu commented on #1303
Why not add a Offline Page and whenever there is no connection, navigate to that page? That way when they go back, they can still access offline content if required.

Also another way to do it is, to show a flag that says Internet Required. May be a `FontIcon` on the `GridView` that shows that and if there is no internet, Disable the selection.

Just Suggestions.

[2017-07-10 21:00] AlfredBauer opened #1304 "Radial Progress Bar Property Outline is incorrect working"
When I set an Outline property it change color of "empty" space of progress, not a progress brush line.
Brush line is always in blue color and it is not changing. In Community Toolkit App I see the same strange.

[2017-07-10 21:12] nmetulev commented on #1296
@DkmS1953, I agree, and I'd recommend using DataTemplates with x:Bind in this case.

You have a completely valid scenario that we did not account for when we did this change. We are looking into a different approach for the next version while avoiding breaking changes

[2017-07-10 21:16] nmetulev commented on #1303
Great suggestions @avknaidu, Offline page would work great for places that always require internet, like the documentation. We could also consider making the documentation offline as well.

[2017-07-10 21:18] JustinXinLiu commented on #353
@hermitdave I am more than happy to. I haven't done one yet so it's gonna be fun. ;)

I will see if I can make it flexible so you can restyle it like the official one too! @mdtauk

[2017-07-10 21:21] nmetulev commented on #1304
@AlfredBauer, Try the **Foreground** property, that should controls the color of the progress bar.

[2017-07-10 21:33] hermitdave commented on #353
@JustinXinLiu will ping back as soon as possible. looking forward to adding it to the tookit

[2017-07-10 22:30] skendrot commented on #1296
You should not need to define a style for a class that derives from another control. By default it will take the style of the derived control. This does need to be investigated

[2017-07-10 22:36] skendrot commented on #995
@Liero was a UserVoice entry created for this?

[2017-07-10 23:01] DkmS1953 commented on #1296
I first tried, somehow through XAML, to implement visible and enable properties, but it was like this...

[2017-07-10 23:10] DkmS1953 commented on #1296
As long as the style for the derived class has not been set, the program
has fallen, although it should not have. 🤔 It's working now.

Wbr, Dyakov K.M.

2017-07-11 1:30 GMT+03:00 Shawn Kendrot <notifications@github.com>:

[2017-07-10 23:11] DkmS1953 commented on #1296
@skendrot, As long as the style for the derived class has not been set, the program has fallen, although it should not have. It's working now.

[2017-07-11 07:59] AlfredBauer commented on #1304
Yes, it works. I've been confused in off doc https://uwpcommunitytoolkit.readthedocs.io/en/master/controls/RadialProgressBar/
there is outline property is changing a brush line.

[2017-07-11 10:24] Pinox opened #1306 "Hamburger menu focus indicator incorrect when using keyboard"
Just reporting a bug that i noticed in the UWP sample app.  The hamburger menu focus indicator does not update when using the up/down arrow on your keyboard.

Steps to reproduce.  Select say "controls" with your mouse in the hamburger menu.  Now use your keyboard up/down keys.  The focus indicator will move around but will not update unless you press enter.
Not sure what the behaviour should be bu

[2017-07-11 10:49] JohnnyWestlake commented on #1306
Looks like the Focus and Selection states are visually linked too each other which they shouldn't be - you should be able to move focus without changing selection.

[2017-07-11 11:03] DkmS1953 commented on #1296
@nmetulev, DataTemplates with x:Bind works only in Insider Preview build of Windows 10. 👎
I have build 16237.
When running on 15063 release, the menu items on derived classes are not visible.
I've helped you with the previously proposed crutch - style for the derived class. 👍

[2017-07-11 11:25] Vijay-Nirmal commented on #353
@JustinXinLiu If you have plan to support existing UWP tab UI then make the underline to flow smoothly between headers because [`NavigationView`](https://docs.microsoft.com/en-us/windows/uwp/controls-and-patterns/navigationview) has that kind of animation.

[2017-07-11 13:04] kingmathers313 opened #1308 "Changing height of HamburgerMenu Item not possible."
Hello,

I noticed that with 1.5 I can no longer change the height of an item in the Hamburger Menu. I use the ItemsTemplate Property of the HamburgerMenu and within the template I have a Grid. In 1.5, if I set the height to something greater than 40px, the HamburgerMenu will only show the top 40px of the content and the rest gets cut off. In 1.4.1, the Menu Item is shown completely and the height

[2017-07-11 14:11] Vijay-Nirmal opened #1309 "New Helper for Downloading from the web"
Downloading from the web is a very common thing to do in Apps but it doesn't have any dedicated control for it. So it would be nice to have one.

Feature request for this control:

- `Downloader.URI(URI)` should set the item to be Download
- `Downloader.GetInfo.Name`, `Downloader.GetInfo.Size`,  ... to get the Info about the item to be Downloaded
- `Downloader.Start`, `Downloader.Pause`, `Download

[2017-07-11 15:11] hermitdave commented on #1309
Hi @Vijay-Nirmal thank you for the suggestion. To gauge wider interest, can you please create a uservoice entry with as much detail as possible ?

https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit.

[2017-07-11 15:20] #1094 closed

[2017-07-11 15:24] #1050 closed

[2017-07-11 15:39] Vijay-Nirmal commented on #1309
I have created [UserVoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/20037256-new-helper-for-downloading-from-the-web)

@hermitdave Give a [search](https://stackoverflow.com/search?q=%5Buwp%5D+downloader) in StackOverflow. You can see many people trying to use Downloader.

[2017-07-11 16:22] skendrot commented on #1308
@kingmathers313 this is by design. The HambugerMenu now has the same default styling as the new NavigationView control.

[2017-07-11 16:24] nmetulev commented on #1308
To changes this, use the default template for the HamburgerMenu and the HambugerMenuItemStyle found [here](https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenu.xaml) and copy them to your app.xaml. Then, in the HambugerMenuItemStyle, remove the Height property of the LayoutRoot Grid.

Or just copy the below to your app.xaml

[code]

[2017-07-11 16:24] skendrot commented on #1306
This is standard ListView behavior. You do not want to select an item just when mousing around. Only when you hit `[enter]` or `[space]` should it select

[2017-07-11 16:26] nmetulev commented on #1304
Ah, good point, I updated the docs to make it more clear, thanks for the find :)

[2017-07-11 16:26] #1304 closed

[2017-07-11 16:32] nmetulev commented on #1306
While this is a standard ListView behavior, the selected indicator should not move with the focus. The focus rectangles should be able to move across items without selecting them. The issue here is that we are handling the itemclick event, but the selection can change without an item being clicked

[2017-07-11 16:33] nmetulev commented on #1298
ping @cbarkerms

[2017-07-11 16:43] cbarkerms commented on #1298
we do not currently support retrieving a tweet via ID unfortunately, but we would welcome a PR if you wish to contribute this feature? thanks!

[2017-07-11 18:41] skendrot commented on #1306
Just tested and I did not realize the selection indicator border moves as well!

[2017-07-11 20:36] hermitdave commented on #1289
@JohnnyWestlake in discussion today, a decision to start moving some services to .NET Standard was taken. The services use HttpHelper and as a result, we will move HttpHelper to .NET Standard with 2.0

[2017-07-11 23:51] skendrot commented on #1306
Discussion: Should the menu

1. change when using mouse click and keyboard up/down 👍
1. change when using mouse click and enter/space? 🥇

[2017-07-12 00:41] miker1423 commented on #891
Hello, I tried to change the ListView to a PullToRefreshListView on the master/detail but I was unable to achieve it. Can somebody help me please?

[2017-07-12 08:49] Liero commented on #995
I originally wanted to check with you whether it is good idea, or no. There has been enough discussion around it. You've made HeaderedTextBlock after all. IMHO that wasn't best solution, since it solves only half of the problem.  Think about HeaderedContentControl like improvement to the existing HeaderedTextBlock.

[2017-07-12 12:19] mdtauk commented on #353
@JustinXinLiu   :)  You could have TabTemplate, TabBarTemplate, and TabIndicatorBrush etc

[2017-07-12 13:54] Vijay-Nirmal commented on #353
@JustinXinLiu Also add Drag and Drop support to reorder Tabs

[2017-07-12 14:27] Liero opened #1311 "Make HamburgerMenuItems Foreground customizable"
Currently, the all Foreground of MenuItems is hardcoded in the template, see `HamburgerMenuGlyphItem` in [HamburgerMenu.xaml](https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenu.xaml)

I've modified the template, so I can customize foreground like this:

[code]
but it should inherit from HamburgerMenu.PaneForeground, imho

[2017-07-12 15:10] skendrot commented on #995
Can you create a UV entry for it please?

[2017-07-12 15:18] skendrot commented on #1311
Thanks for spotting this. The new styles and pane foreground came in close together so I missed it.

[2017-07-12 15:59] Pinox opened #1313 "Hamburger menu startup focus"
I have noticed that the UWP toolkit store app has focus on the hamburger menu when the app starts.

![image](https://user-images.githubusercontent.com/5297255/28127094-c272b5c6-672b-11e7-8e9e-6d03f41615c6.png)

Is that the default behaviour ?

[2017-07-12 16:55] skendrot commented on #1313
It is the first focusable control. So probably just the default

[2017-07-12 17:24] mdtauk commented on #353
@Vijay-Nirmal @JustinXinLiu   Here are some ideas for creating a flexible and powerful TabControl/TabBarControl

**TabsCanClose** | True, False
![uwp-tabs-close](https://user-images.githubusercontent.com/7389110/28129148-3c6f5fd4-672a-11e7-938d-b7c22c7b438a.png)
![uwp-tabs-horiz-close](https://user-images.githubusercontent.com/7389110/28130594-2cfc4c56-672f-11e7-9bac-d89bef9e13d8.png)

**TabsFixed

[2017-07-12 17:29] skendrot commented on #626
@hellodear General UWP questions are best for StackOverflow or the MSDN forums.

[2017-07-12 19:28] Vijay-Nirmal commented on #353
@JustinXinLiu In addition to @mdtauk points

- Close Button won't be easy to tap in touch screen it would be nice if we integrate some gestures control to control the tabs like swipe up to close etc
- **+** Button to add Tabs
- In addition to having **TabItemTemplate** have **TabSelectedItemTemplate**

[2017-07-12 19:38] skendrot commented on #353
Let's not focus on "extras" like closing or moving tabs. I would not consider these to be required at all

[2017-07-12 19:40] avknaidu commented on #353
@skendrot I was just about to say the same thing, and saw your comment.

[2017-07-12 19:42] hermitdave commented on #353
All.. agree with @skendrot V1 should be MVP.. bells and whistles come later.

[2017-07-12 19:54] mdtauk commented on #353
@hermitdave  @skendrot  I agree also, but keeping things in mind for V2, V3 etc, should be in the back of minds so the control can be made in a way that allows it to be updated without a need to re-factor too much, or lead to breaking changes.

And I know it shouldn't need saying, but THANK YOU @JustinXinLiu for contributing, and giving us all a voice here!

[2017-07-12 20:39] nmetulev commented on #1306
🥇(I couldn't choose this :) )

If i think about how this would work for controller or tab navigation, option 2 makes more sense to me. Otherwise, the way it is used by most apps, I would have to navigate to multiple pages as I focus through each one before I navigate to the page I want.

[2017-07-12 20:43] skendrot commented on #1306
Changed the symbol used for option 2

[2017-07-12 20:57] nmetulev commented on #1313
Do you think it should be focused on another element? There is no content when you first start it

[2017-07-12 21:11] Pinox commented on #1313
No, just trying to understand why when opening and closing the hamburger menu do u not see the focus anymore.  Where does the focus shift to, as there is then still no content ?

[2017-07-12 21:44] nmetulev commented on #1313
Hmm, interesting, I don't see the same behavior in the sample app. When opening and closing the hamburger menu (with the keyboard) the focus stays on the hamburger button

[2017-07-12 22:43] JustinXinLiu commented on #353
Thanks @mdtauk those screenshots are very helpful and I will try to use them as a guide on what the control will need to support. @Vijay-Nirmal drag-and-drop will be a big task so it will likely come at a later time. ;)

[2017-07-13 07:16] Pinox commented on #1313
![uwp](https://user-images.githubusercontent.com/5297255/28154728-93e61c86-67ab-11e7-9369-fff3b486b276.gif)

I'm not referring to keyboard input , just the mouse. Hamburger menu has focus , when opening and closing the menu the focus shifts not sure where to , but after that you don't see the "focus" bar anymore.

[2017-07-13 07:40] Liero commented on #995
User voice entry created: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/20069167-headeredcontentcontrol

[2017-07-13 07:42] Liero commented on #1311
Just out of curiosity, should be bugs fixed as soon as possible? Why wait for next major release (Milestone 2.0)?

[2017-07-13 12:26] skendrot commented on #1311
This will [most likely] go out in the update for 1.5. @nmetulev do you agree?

[2017-07-13 13:25] skendrot commented on #1306
What is the behavior in the new NavigationView?

[2017-07-13 13:37] skendrot commented on #1311
Looks like PaneForeground was never supported for the items. Only the hamburger button itself. I'm working on a fix for it supporting the items as well. In the mean time you can get your items to use the foreground by using the following style:
[code]

[2017-07-13 16:35] #1111 closed

[2017-07-13 16:35] #1299 closed

[2017-07-13 17:16] nmetulev commented on #1313
I'm not sure I'm seeing the problem. If I use the keyboard to focus around, I see the focus rect. After I close the app, the next time I start the app, the focus rect is still there. If I use the mouse, the focus rect disappears, and the next time I launch the app, it's not there. Tried it with other apps, and I noticed the same behavior.

[2017-07-13 17:20] nmetulev commented on #1311
Agree, we should push out these changes as soon as possible

[2017-07-13 17:40] nmetulev commented on #1306
Just tested it, it's option 2

[2017-07-13 18:39] Pinox commented on #1313
@nmetulev the behaviour I'm seeing is slightly different to yours. I always see the "keyboard" focus in a release app. Anyway, from your answers I gather that this is the default behaviour, I just find the behaviour odd and inconsistent among various MS apps, so just wanted to check if there exists an "official" behaviour. Thanks again.

[2017-07-13 20:11] skendrot commented on #1306
Option 2 it is.

I think we may need a new list type like the NavigationView has. Using a standard ListViewItem isn't applying the style when the ListView has a SelectionMode of None

[2017-07-13 20:14] skendrot commented on #1311
I'm not having any luck getting the ListViewItem to accept to the PaneForeground. Setting the Foreground of the ListView doesn't work and removing the [Foreground setter](https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenu.xaml#L54) of the ListViewItem doesn't help.

And yes, I did remove the Foreground properties of the [Hamburge

[2017-07-14 00:01] nmetulev commented on #353
Thanks for taking this on @JustinXinLiu. Before starting the work, we need to define what core functionality will be built for V1 and come to a consensus. The screenshot above remind me a lot of pivot, and we should avoid creating just another pivot (even though it might be prettier :) )

[2017-07-14 00:02] nmetulev commented on #1313
No problem, I'll go ahead and close this issue, feel free to re-open it if anything else is needed

[2017-07-14 00:02] #1313 closed

[2017-07-14 01:12] nmetulev commented on #1311
Yeah, I've ran into this before. ListViewItem has a default style that sets the Foreground. It can be done through code behind by changing the ItemContainerStyle of the listviews when the PaneForeground changes

[2017-07-14 06:46] Liero commented on #1311
My workaround was to use ThemeResource instead of StaticResource in HamburgerMenuGlyphItem. That way I was able to overwrite the resource, see the original post.

    <Style x:Key="HamburgerMenuGlyphItemStyle" TargetType="toolkit:HamburgerMenuGlyphItem">
        <Setter Property="Foreground" Value="{ThemeResource PaneForeground}" />
        <Setter Property="Template">
            <Setter.Value>

[2017-07-14 12:46] ThePyrobri opened #1316 "Question: What are the purpose of the Title, Message and Description fields in the Facebook Service"
So I am trying to form posts that I can share to Facebook, I have tried using both PostToFeedAsync and PostToFeedWithDialogAsync.
I populate:
title, message, description, linkUrl, imageUrl
The posts appear on my page without error however much of the information is missing.
title, message and description never appear no matter which method I use.
Is this expected behaviour?
Where should we expect

[2017-07-14 14:36] skendrot commented on #1311
@Liero Would you like to submit a PR for this issue?

[2017-07-14 15:29] nmetulev commented on #1316
ping @cbarkerms

[2017-07-14 16:11] nmetulev commented on #1277
Hey everyone, it turns out x:Bind only works on Insider Builds (per #1296) and I've been able to verify this. It's too late to revert back to 1.4 style hamburger menu as that will break folks that have already adopted the 1.5 version of the hamburger menu. I have a bit of a controversial proposal that I've created at #1315 :

* Change **HamburgerMenuItem** to an interface - I'll explain below why

[2017-07-14 16:14] nmetulev commented on #1296
@DkmS1953, thank you for catching that, I have verified it as well. I think I might have a workaround that we could potentially add to the toolkit, I'd love to get your opinion on it as well. See https://github.com/Microsoft/UWPCommunityToolkit/issues/1277#issuecomment-315400080

[2017-07-14 16:42] skendrot commented on #1277
Why go through the trouble of doing this and having users change the type of their objects, instead of just having them remove the ItemTemplate?

[2017-07-14 16:58] cbarkerms commented on #1316
Is this working for you using the sample app?  https://www.microsoft.com/en-us/store/p/uwp-community-toolkit-sample-app/9nblggh4tlcq

I just ran a quick test and it worked for me:

![image](https://user-images.githubusercontent.com/11426757/28222028-8d05d03a-687a-11e7-843c-944cf3dc6122.png)

Here is the line of code the sample app uses:

         await FacebookService.Instance.PostToFeedWithDialog

[2017-07-14 17:07] nmetulev commented on #1277
What if you want to actually apply a different template?
Or want to extend HamburgerMenuItem to create your own type with Symbol as discussed above?
Or extend existing types to add your own properties as in #1296?

What's the point of having a dependency properties for templates if they don't work with binding.

These can all be done by extending the default templates, but that's not what the tool

[2017-07-14 18:27] nmetulev commented on #1277
After discussing with the core team, we feel the right decision is to revert back to inheriting DependancyObject for HamburgerMenuItem (rather than Control). This will allows us to still use the new styles in 1.5 and developers can continue using their templates for HamburgerMenuItem from 1.4.

However, for those that have adopted the default templates, those will no longer work. We will investiga

[2017-07-14 21:14] DkmS1953 commented on #1296
Ok. So far, there's a solution, and then we'll see. ;-)

[2017-07-14 21:14] #1296 closed

[2017-07-15 02:42] gmgallo opened #1320 "Hamburger Menu Items not visible in Designer window if target CPU is ARM"
Hi, I'm retrofitting a project that targets a ARM CPU and I can't get the Hamburger icon and the menu Items to display in the designer window when the target CPU is ARM. Switching the target to x86 the designer reloads and you get the WYSIWYG. However, deploying the project to the target system the menu displays correctly, so, it is an annoyance but not a show stopper.  I created a blank project t

[2017-07-15 09:29] ThePyrobri commented on #1316
Hi, thanks for the quick response.
So here is my code:
![image](https://user-images.githubusercontent.com/24525162/28238285-467f3402-6948-11e7-8f64-1b901578d2de.png)

For testing purposes I just commented out the two lines I actually tried using and put in two tests that directly enter title, description etc.

Here are the results of those two tests:
![image](https://user-images.githubusercontent.

[2017-07-15 09:56] ThePyrobri commented on #1316
And actually here is an example of it not seemingly working from the toolkit either.
![image](https://user-images.githubusercontent.com/24525162/28238465-bee0cb7e-694b-11e7-9c7a-d8d77395a74d.png)
![image](https://user-images.githubusercontent.com/24525162/28238468-dba31f50-694b-11e7-9cc7-826282e06c83.png)

Could this be something to do with the way the Facebook App is configured as that is the onl

[2017-07-15 13:47] Jebarson opened #1321 "AdaptiveGridView refuses to sit inside the template of bladeview"
I am trying to put AdaptiveGridView inside the data template of BladeView and it fails saying "Incorrect Parameter". I tried replacing the BladeView with ListView and it works.

  <ctl:BladeView Grid.Row="1" ItemsSource="{x:Bind ViewModel.blah}"
                ItemTemplate="{StaticResource BladeItemTemplate}" BladeMode="Normal">
        </ctl:BladeView>

            <DataTemplate x:Key="BladeItem

[2017-07-17 08:35] ThePyrobri commented on #1316
Sorry not quite sure how I closed this..

[2017-07-17 16:55] cbarkerms commented on #1316
Hi,

Thanks for raising this.  I have reproduced and the behaviour seems to be due to deprecated fields on the underlying Facebook Graph API.  Here is the call flow:

(Toolkit) FacebookService.Instance.PostToFeedWithDialogAsync ->
(winsdkfb) Provider.ShowFeedDialogAsync ->
(Facebook Graph API) https://www.facebook.com/v2.x/dialog/feed ->
(Facebook Graph API) https://www.facebook.com/v2.9/dialog/sh

[2017-07-17 16:55] #1316 closed

[2017-07-17 19:01] Code-ScottLe commented on #1320
I think the designer has trouble of running project code if the target build is ARM. The only thing that it can display while in ARM mode is the default layout that it can parse from the XAML (which makes sense because your CPU doesn't understand ARM ).

I haven't had any problem ưith the Visual Tree viewer, not sure what happened there. I can check back later.

[2017-07-18 07:19] ThePyrobri commented on #1316
Ah great news in that it isn't just me doing something wrong, shame about the fields though and at least posting isn't broken, thanks for looking in to this.

[2017-07-18 08:33] CabuxaMapache commented on #942
IMHO we should reopen this as the officially one is still in development and I am not sure this is comming to versions prior to CU... what do you think guys?

[2017-07-18 14:12] martinsuchan opened #1324 "Attached property for easily changing the Cursor type"
Currently it's not possible to easily define different cursor to be displayed over specific element, only globally using this code:
[code]
So I've created simple **Mouse.Cursor** helper class with simple XAML syntax: `Mouse.Cursor="Hand"`.
![cursor](https://user-images.githubusercontent.com/3041397/28321211-f8f78080-6bd2-11e7-9690-3e9831df23f4.gif)

**Update**, Pull Request with this feature is av

[2017-07-18 15:51] skendrot commented on #1324
I like it. Do you know if there is already a user voice entry for cursors? If not could you create one?

[2017-07-18 16:09] hermitdave commented on #1324
Love it..

[2017-07-19 10:23] Dianefeejm commented on #773
i face this problem Last some month ago. Last month ago i just download and use Microsoft toolkit And its works fine. Some of website are provide Fake Toolkit and Some are provide good one [Like here.](https://www.kmspico4u.com/microsoft-toolkit-windows-10-free-download/)

[2017-07-20 02:44] nmetulev commented on #1277
1.5.1 is now released, resolving this issue.

[2017-07-20 02:44] #1277 closed

[2017-07-20 13:19] darshanrampatel opened #1328 "Many ImageEx controls causing Windows.UI.Xaml.LayoutCycleException"
I have a ListView (containing around ~180 items) where the DataTemplate contains an ImageEx control:
[code]

If I try and load these all at once, I get one of the below exceptions:
[code]

[code]

Changing the `ImageEx` control to a standard `Image` control doesn't cause this exception:
[code]

Is there anything I can do to work around this apart from switching back to the `Image` control?

[2017-07-20 17:57] Code-ScottLe commented on #1328
ListView will use virtualization on the item container (`ItemsStackPanel` to be exact), so it is definitely not loading up all 180+ items at the same time. Could you post a project that we can reproduce?

cc  @hermitdave .

[2017-07-21 11:37] dgomezc opened #1329 "Question: accessibility on hamburger menu"
In windows template studio we are improving the accessibility and we need set a name to the main button of the hamburger menu so that it can be read by the Windows narrator.

Is there a way to set a name for the main menu button on the hamburger menu?

[Windows Template Studio - #494 Accessibility: Narrator support verified](https://github.com/Microsoft/WindowsTemplateStudio/issues/494)

[2017-07-21 15:25] avknaidu commented on #1328
@Code-ScottLe @hermitdave @darshanrampatel  My stack overflow app loads around 30 users per page and it has no issue. Maybe it is something related to number of ListViewItems? Can you try decreasing the loading count and see if it still crashes?

[2017-07-21 16:10] COM8 commented on #773
Once I change the target version of my project to: Windows 10 (10.0; Build 10586)
I'm getting:
Cannot find type Windows.UI.Composition.DropShadow in module Windows.Foundation.UniversalApiContract.winmd

If I switch to Windows 10 Creators Update(10.0; Build 15063) I works and there is no .

[2017-07-21 20:02] skendrot commented on #1329
It already [has a name](https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenu.xaml#L158)

[2017-07-22 03:21] hawkerm opened #1330 "Add Windows Phone/Silverlight RadialGradientBrush"
It'd be great to have this brush helper for radial gradients to compliment the built-in linear gradient brush.  I just found out this was missing when trying to convert an old windows phone project.

There's already quite a bit of support in User Voice for it: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/5890481-please-add-the-radialgradientbrush-to-windows-stor

[2017-07-22 05:14] nguyenthanhliemfc opened #1331 "Facebook login error "This field must be at most 32 characters long.""
Facebook login error "This field must be at most 32 characters long."

[2017-07-22 06:57] hermitdave commented on #1328
Can you post a repro?

[2017-07-22 11:17] darshanrampatel commented on #1328
Will try and get a repro together this weekend.

From: Hermit Dave
Sent: 22 July 2017 07:57
To: Microsoft/UWPCommunityToolkit
Cc: Darshan; Mention
Subject: Re: [Microsoft/UWPCommunityToolkit] Many ImageEx controls causingWindows.UI.Xaml.LayoutCycleException (#1328)

Can you post a repro?
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute t

[2017-07-22 15:46] gillesbergerp opened #1332 "Custom ItemsPanel for AdaptiveGridView"
When setting a "custom" ItemsPanelTemplate for AdaptiveGridview, there will always be some unused space to the right of the control.

[code]

This is, what the XAML above produces:
![e](https://user-images.githubusercontent.com/13463396/28492477-01b8d590-6f05-11e7-93f2-3dc4150bb35f.PNG)

[2017-07-22 20:03] darshanrampatel commented on #1328
@hermitdave @Code-ScottLe @avknaidu

[Repro solution](https://github.com/darshanrampatel/uwptoolkit-imageEx-1328)

If you uncomment one of the below `Image` or `ImageEx` controls in [MainPage.xaml](https://github.com/darshanrampatel/uwptoolkit-imageEx-1328/blob/b63a0ed8f620df335f175a3b90c8039b23db65c3/ImageExIssue/Views/MainPage.xaml#L44), you should see the same behaviour as me:
[code]

[2017-07-23 02:12] Code-ScottLe commented on #1328
Few things, your project above doesn't have enough stuffs (missing base Microsoft.Toolkit.Uwp and Microsoft.Toolkit.Uwp.UI).

[And I can run your project no problem](http://i.imgur.com/ebWYAv6.jpg)

[2017-07-23 08:02] hermitdave commented on #1328
@darshanrampatel how did you add a reference to the controls lib? Nuget is good because it automatically downloads dependencies

[2017-07-23 09:57] darshanrampatel commented on #1328
Can you try this with the app maximised please?

From: Scotty Le
Sent: 23 July 2017 03:12
To: Microsoft/UWPCommunityToolkit
Cc: Darshan; Mention
Subject: Re: [Microsoft/UWPCommunityToolkit] Many ImageEx controls causingWindows.UI.Xaml.LayoutCycleException (#1328)

Few things, your project above doesn't have enough stuffs (missing base Microsoft.Toolkit.Uwp and Microsoft.Toolkit.Uwp.UI).
And I can

[2017-07-23 09:59] darshanrampatel commented on #1328
I did use NuGet... Though I think I added the controls library only, not the main toolkit one.

From: Hermit Dave
Sent: 23 July 2017 09:02
To: Microsoft/UWPCommunityToolkit
Cc: Darshan; Mention
Subject: Re: [Microsoft/UWPCommunityToolkit] Many ImageEx controls causingWindows.UI.Xaml.LayoutCycleException (#1328)

@darshanrampatel how did you add a reference to the controls lib? Nuget is good becaus

[2017-07-23 10:06] adrientetar opened #1334 "Text Editor component"
It would be nice to have a text editor component with syntax highlight, line numbers, autocompletion.

I'll probably give it a shot if someone can give an overview of how to implement this efficiently in UWP.

[2017-07-23 10:21] Odonno commented on #884
@neilsustc There is already an issue for this. The `AcrylicBrush` should come soon to the toolkit.

ping @shenchauhan

[2017-07-23 11:02] Odonno commented on #1334
@adrientetar So, that would be a Code Editor, and not a Text Editor?

If that's so, we should reuse the beautiful Monaco Editor. https://microsoft.github.io/monaco-editor/
I suppose the easiest way to integrate it is to use an embedded webview.

[2017-07-23 11:21] Odonno commented on #353
Thanks @mdtauk for this description. I think we have all the desired control in a single message.

I have the same opinion that @nmetulev, we should not create another Pivot control so we should focus on the "must-have" of this control.

If I go back to my issue #894, the main features would be to add a new tab (the + button), to order them and to close them (the X button). And that is pretty much

[2017-07-23 11:51] mdtauk commented on #353
@Odonno  There could be a TabButton control style included, and the ability to add a button/content to the left and right of the tabs.  Like the left and right content areas on the Pivot Control.

[2017-07-23 11:55] TheSETJ opened #1335 "ChatView control"
I suggest adding a new control specific for displaying chat messages, especially for those developers who want to always display the bottom of the list (like Telegram app). In this case, any new message should be inserted into the bottom of the list and also when user scroll up, older messages should load. It's exactly reverse of a normal **ListView**.

I tried to achieve this using 2 method:

1.

[2017-07-23 12:02] Odonno commented on #1335
I think I got exactly what you seek. https://docs.microsoft.com/en-us/windows/uwp/controls-and-patterns/inverted-lists

[2017-07-23 12:06] TheSETJ commented on #1335
Unfortunately:

@Odonno

[2017-07-23 12:21] Odonno commented on #1335
Ok, so the objective is to backport the new features of ListView to previous versions of Windows 10.

[2017-07-23 12:58] TheSETJ commented on #1335
@Odonno I've created a small project to test **ItemsUpdatingScrollMode** property on **ListView**. It works fine for displaying bottom item in the list, although it seems not working properly with incremental loading.

More items should be loaded if the user scrolls up and passes the threshold at the _top_. But what I've seen in my project was that **ListView** loads more and more items without st

[2017-07-23 14:20] Odonno commented on #1335
@TheSETJ Ok. I checked your sample and I take a look at the UWP samples here https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/XamlBottomUpList

About your samples, you tried to add more items (to the bottom) using IncrementalLoading but I suppose it was not designed to work with the "Chat" ListView because the IncrementalLoading is only at the bottom edge. In the UWP samp

[2017-07-23 14:46] Odonno commented on #1324
Nice and simple. We need it.

[2017-07-23 14:50] Odonno commented on #1329
@skendrot @dgomezc Do you refer to `AutomationProperties` Name? In my opinion, we should change "Main button" to "Hamburger button". is that enough?

[2017-07-23 14:52] Odonno commented on #1332
What if you remove the `DesiredWidth` property?

[2017-07-23 16:14] Code-ScottLe commented on #1328
I only minimized this so I can show you how long it was running. Showing no problem at all.

[2017-07-23 17:04] gillesbergerp commented on #1332
Removing the `DesiredWidth` property produces this result:

![e](https://user-images.githubusercontent.com/13463396/28501311-ae177718-6fd9-11e7-94f8-b0d3b08fddb0.PNG)

[2017-07-24 00:10] adrientetar commented on #1334
Well, code is a special kind of text.

I am using Monaco in a web view currently but:

1. web view has an initial white flash before it loads the page
2. web view swallows some events like drag and so it prevents performing a file drag on the page when hovering over the web view
3. needs a special bridge to communicate with c#, all the editor logic is to be written in js, won't use XAML brushes ev

[2017-07-24 09:22] darshanrampatel commented on #1328
@Code-ScottLe Hmm, I always get a crash instantly.

See this video: [ImageExIssue.zip](https://github.com/Microsoft/UWPCommunityToolkit/files/1169346/ImageExIssue.zip)

[2017-07-24 10:20] Odonno commented on #1334
@adrientetar Nice arguments. A native Monaco editor for UWP would bring a better user experience but from my point of view, it's a huge amount of work unless someone already did it.

I don't say we should not do it, we first need to see the value of this. Can you create a uservoice entry for a native Monaco editor? Here is the link https://wpdev.uservoice.com/forums/110705-universal-windows-platfo

[2017-07-24 13:40] goranalkovic commented on #664
Can confirm that it doesn't work in VS 2017. Shows the same error.

[2017-07-24 14:08] skendrot commented on #1332
Why are you trying to change the ItemsPanel?

[2017-07-24 14:10] skendrot commented on #1329
Menu button would be better

[2017-07-24 14:21] gillesbergerp commented on #1332
I want to set the ItemsPanel's margin based on screen size. I could set the AdaptiveGridView's margin but then its ScrollBar wouldn't be at the far right of the page.

[2017-07-24 14:22] skendrot commented on #1332
Are you able to accomplish this with a normal GridView?

[2017-07-24 14:26] gillesbergerp commented on #1332
Setting/Updating the ItemsPanel works for both, GridView and AdaptiveGridView - the problem is, that size calculation of AdaptiveGridview seems to stop working.

[2017-07-24 22:24] nmetulev commented on #1321
I can verify this issue. The workaround here is to add the DesiredWidth property to the AdaptiveGridView and it should work.

Not sure why it fails though without it, @skendrot any ideas?

[2017-07-24 22:32] cbarkerms opened #1337 "Resolve service dependencies on obsolete HttpHelper class"
HttpHelper will become obsolete in v2.0 of the toolkit.  We need to remove service dependencies from HttpHelper to HttpClient to prevent a large number of warnings upon building.

[2017-07-24 22:33] cbarkerms opened #1338 "Move OneDrive service to Graph and MSAL for v2 auth model"
Investigate removing OneDrive SDK dependency.

Investigate whether now is the right time to move to MSAL (https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-libraries) and use v2 auth model to ensure consistency across OneDrive services.

[2017-07-24 22:43] nmetulev commented on #1320
The designer seems to work best when the target build is set to x86. Can you share your VS/OS/SDK version?

[2017-07-24 22:47] skendrot commented on #1321
Does the GridView have to have items? I just did a quick test where the grid view did not have any items and everything worked fine

[2017-07-24 22:49] michael-hawker opened #1339 "ViewExtensions Doc Links Broken"
The API links on the ViewExtensions Documentation page are broken.

http://www.uwpcommunitytoolkit.com/en/master/helpers/ViewExtensions/

Looks like the name 'Extensions' was removed from the end of some of the class names?

[2017-07-24 22:50] nmetulev opened #1340 "Move all packages to target Build 15063 and UWP .NETCore 5.3.3"

[2017-07-25 00:54] gmgallo commented on #1320
I'm working with VS 2017 Comunity Edition latest patch applied as of today, Windows 10 Pro, Version 10.0.15063 Build 15063, nugget packages .NET UWP v5.3.3,. xxUI.Controls v1.5.1 and the project targets:
![image](https://user-images.githubusercontent.com/11802515/28550759-8ec4d4ce-70a0-11e7-8d5f-765e42a0f7cd.png)

My understanding is that Designer is a XAML parser. I can't see how a different CPU

[2017-07-25 03:19] Jebarson commented on #1321
I will upload a sample Shawn.

From: Shawn Kendrot [mailto:notifications@github.com]
Sent: Tuesday, July 25, 2017 04:17
To: Microsoft/UWPCommunityToolkit <UWPCommunityToolkit@noreply.github.com>
Cc: Jebarson Jebamony <jebarson007@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [Microsoft/UWPCommunityToolkit] AdaptiveGridView refuses to sit inside the template of bladeview (#1321)

Do

[2017-07-25 03:52] WilliamABradley opened #1341 "Cortana Extensions"
Hi there,
I built this tool [Cortana Extensions](https://github.com/WilliamABradley/CortanaExtensions), a while ago (GitHub link).
It was inspired by NotificationExtensions, where you can create the Cortana VCD.xml using C# instead of figuring out how to define the XML yourself.

This can be really helpful if you want to easily create a Multi-Lingual Cortana Experiences, if you use RESW. As well a

[2017-07-25 04:43] sirtwist commented on #1267
Maybe I missed it, but is there a way to underline the shortcut like in old-style menus? You could put & before the underline letter.

[2017-07-25 05:46] skendrot commented on #1321
I should able to get a sample that could reproduce

[2017-07-25 09:00] hawkerm commented on #1334
I can't believe the timing of this.  I just started wrapping Monaco in a UWP runtime component this weekend: https://github.com/hawkerm/monaco-editor-uwp

Not sure if it makes sense to pull into the toolkit with the dependency, but it's a start.  There's a lot of work left to be done on the wrapper, but I did fix your first issue on your list.  It doesn't show until it's ready to render, so there'

[2017-07-25 09:02] hawkerm commented on #637
I was able to create a pretty good [listener class](https://github.com/hawkerm/monaco-editor-uwp/blob/master/MonacoEditorComponent/Helpers/ThemeListener.cs) for this in my project.

[2017-07-25 09:53] Odonno commented on #637
I would like to see that on the Toolkit.

ping @nmetulev

[2017-07-25 10:32] Odonno commented on #1334
@hawkerm Nice. When do you think you can have a first version with the most wanted features (drag'n'drop, C# <-> JS communication, events) ? Can you post some screenshots of the result once it is done?

I suppose we can integrate it in the Toolkit later but first, I think you should stay on your repository for now.

[2017-07-25 10:35] Odonno commented on #1339
Indeed, the API links redirects to a 404.

ping @hermitdave

[2017-07-25 11:37] Vijay-Nirmal commented on #1339
Many links are broken in Docs For Example [MicrosoftGraph](http://www.uwpcommunitytoolkit.com/en/master/services/MicrosoftGraph/)'s Sample Page link. There is a separate issue to correct all these links in addition to improving the quality of the Docs. Check #1226

[2017-07-25 14:46] skendrot commented on #637
As noted by @timheuer there is already a way for devs to hook into this. Not sure adding something to the toolkit is going to help

[2017-07-25 14:48] #1308 closed

[2017-07-25 15:46] Odonno commented on #637
@skendrot Yes but ColorValuesChanged is not ThemeChanged.

[2017-07-25 16:49] hawkerm commented on #1334
@Odonno I'm developing it for some other projects, so whatever I need for those is going to get done first, next on my list are things like line highlighting (for like error messages).

I did take a look at drag'n'drop quite a bit last night actually.  I had some of the tracking and event propagation hooked up, but there are a couple of issues.  1) I can't see a way that UWP let's you construct yo

[2017-07-25 18:07] Code-ScottLe commented on #1328
I can't playback your video for some reason. Make sure you have all of the packages. Even the Animation one. Some of the controls does use some of the animations from our own toolkit.

[2017-07-25 18:21] hermitdave commented on #1328
I'll take a look in a few minutes

[2017-07-25 19:42] hermitdave commented on #1328
I can't seem to reproduce the issue. I can maximize and restore back to original size without any issues.

[2017-07-25 19:46] hermitdave commented on #1328
@darshanrampatel can you please try and run the sample app (download from store) and see if you have the same issue ?
I use ImageEx extensively and whilst I haven't upgraded to 1.5.1, there have been no significant changes for a long time.

[2017-07-25 19:57] hermitdave commented on #1339
we are going through significant changes w.r.t naming of these extension classes for 2.0. Will keep an eye on it.

[2017-07-25 20:59] nmetulev commented on #1320
Hey @gmgallo, this is because of the restriction that an x86 process (which the XAML designer is) cannot run ARM or x64 code. I'd recommend filing a UserVoice entry with the VisualStudio team [here](https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/category/44115-uwp-wpf-xaml-tools).

[2017-07-25 20:59] #1320 closed

[2017-07-25 21:40] nmetulev commented on #773
AFAIK, this is caused by [ApiInformation](https://docs.microsoft.com/en-us/uwp/api/windows.foundation.metadata.apiinformation) and how the check is done on the platform side. ApiInformation runs against the OS version, not the target version of the app.

[2017-07-25 21:58] darshanrampatel commented on #1328
@hermitdave  I can run the store app with no issue.

Just so it's clear, this is an issue with having so many `ImageEx` controls on the same page, all being loaded at the same time.

Just to confirm, I am maximising the app _before_ I press the refresh button so that the maximum number of `ImageEx` controls load at the same time.

I have tested this and I can load **120** `ImageEx` controls (I am

[2017-07-26 02:55] nmetulev commented on #1331
ping @cbarkerms

Can you provide a more details about the code you are using?

[2017-07-26 03:16] nmetulev commented on #1329
@dgomezc is "Menu button" (the way it is now) sufficient or are you looking for something else?

[2017-07-26 03:32] skendrot commented on #1329
It's currently 'Main button'

[2017-07-26 03:54] nmetulev commented on #1332
#1345 should fix this, it looks like we were not accounting for the panel margin in the calculations, so the panel wrapped the extra items.

As a side note, we should really be doing these calculations in a custom panel, but we can revisit that in the future if it becomes necessary.

[2017-07-26 03:59] nmetulev commented on #664
@goranalkovic, what version of VS 2017 are you using? I'm not able to reproduce the error

[2017-07-26 04:00] nmetulev commented on #1329
You are correct, edited my comment :)

[2017-07-26 04:04] nmetulev commented on #1341
This is interesting. Do you mind creating a user voice for this to gauge the interest from the community in including this in the toolkit?

[2017-07-26 04:08] nmetulev commented on #1267
ping @IbraheemOsama

[2017-07-26 04:18] WilliamABradley commented on #1341
@nmetulev Added UserVoice

[2017-07-26 07:07] hermitdave commented on #1328
@darshanrampatel my daily mail online app has around 400 imageex controls on channel pages. I have a simplified template to not include progress ring.

[2017-07-26 07:13] BenAffleckIsBatman opened #1346 "Implement SIP link support for MarkDownTextBlock Control"
Hi all,
when using the MarkDownTextBlock Control recently, I recognized that it does not parse SIP links. SIP links redirect the user to his installed Voice Communication Application (e.g. Skype for Business) when clicking.

**Here is a sample:**
`[SipContact](SIP:name@company.com)`

This is commonly supported by other markdown parsers and should be implemented by this control. You can test it wit

[2017-07-26 08:32] darshanrampatel commented on #1328
@hermitdave Interesting.

If I adjust the template to not include the progress ring, I don't get any exceptions and can load 200+ controls at once.

[2017-07-26 08:56] BenAffleckIsBatman commented on #1346
I made the necessary changes HyperlinkInline.cs and adjusted the UnitTests. How do I submit this to you?

[2017-07-26 09:23] BenAffleckIsBatman commented on #1346
I made the changes and pull requested #1347
Please review.

[2017-07-26 10:12] TheSETJ commented on #1335
There is a note in XamlBottomUpList sample which I noticed:

I think for implementation of new control it should be considered.

[2017-07-26 10:14] Vijay-Nirmal commented on #1226
@nmetulev I have updated my post with all Mistakes I could find.

[2017-07-26 12:15] gillesbergerp commented on #1332
Works like a charm - thank you!

[2017-07-26 12:16] IbraheemOsama commented on #1267
Good suggestion but it requires small changes in the menu item template as I'll implement TextBlock with adding underline in case of alt press.
@sirtwist what do you mean by adding '&' before underline letter ?

[2017-07-26 12:19] IbraheemOsama commented on #1226
@Vijay-Nirmal what about submitting a PR fixing this issues ? :) if you need any help or have an question please don't hesitate to ask.

[2017-07-26 13:22] Odonno commented on #314
Got no opportunity to work on this. I close for now.

[2017-07-26 13:23] #314 closed

[2017-07-26 16:17] nmetulev commented on #1335
@TheSETJ, per our [principles](https://github.com/Microsoft/UWPCommunityToolkit#principles), all features will be supported for two Windows SDK for Windows 10 release cycles, meaning 1507 is no longer supported. My recommendation is to target a newer supported version of Windows 10 or use the sample that @Odonno has referred to.

I will close this issue for now, but feel free to re-open it if I mi

[2017-07-26 16:17] #1335 closed

[2017-07-26 16:34] nmetulev commented on #1346
Not yet, let's wait until the PR is merged

[2017-07-26 16:45] skendrot commented on #1267
In the desktop world setting the header of the menu to "&File" would hide the & and show the F with an underline when pressing the alt key

[2017-07-26 16:56] Odonno commented on #1335
@nmetulev Wouldn't be even better to have a control which mimic `XamlBottomUpList` in the Toolkit?

The fact is that it is not so easy to implement a nice ChatView control even with the current features of the ListView in the latest version of Windows 10. I mean, the IncrementalLoading of previous messages needs a lot of plumbing we can handle in the Toolkit.

[2017-07-26 17:07] #1346 closed

[2017-07-26 17:35] skendrot commented on #637
Correct. But if that's the best there is right now...

[2017-07-26 17:43] nmetulev commented on #1335
@Odonno, I see. In that case, I'd propose we create a new issue and submit User Voice to gauge interest.

[2017-07-26 17:48] Code-ScottLe commented on #1328
So if you don't have the progress ring, you can load more stuffs? That is a little bit odd.

[2017-07-26 17:54] Odonno commented on #1335
@nmetulev And how will you name that control?

[2017-07-26 17:56] Odonno commented on #637
@skendrot What do you mean?

[2017-07-26 17:57] hermitdave commented on #1328
@darshanrampatel progress ring itself has tons of animations and lots of those would imply UI thread load.

[2017-07-26 18:00] hermitdave commented on #1328
@Code-ScottLe not really.. Less stress on UI thread..

[2017-07-26 18:02] Code-ScottLe commented on #1328
@hermitdave But shouldn't the ListView would just virtualize the entire list? Unless all 200+ items are tiny enough to be displayed all at once.

[2017-07-26 18:08] skendrot commented on #1335
Are chat view controls super common? How many apps need this capability?

[2017-07-26 18:25] Odonno commented on #1335
@skendrot Not so many I suppose. Not a top 1 priority but still needed, in my opinion.

[2017-07-26 18:35] hermitdave commented on #1328
@Code-ScottLe in this instance its a grid view and default virtualization would be 4 pages + current which mean lots of images in this instance.. 128x128

[2017-07-26 19:16] Code-ScottLe commented on #1328
@hermitdave I guess that could reduce the amount of time spending on the UI thread for optimization purpose. Not sure how that is breaking @darshanrampatel in this case with the exception though.

@darshanrampatel can you try your project with reference to the actual toolkit project? It might help you debug this further.

[2017-07-26 23:35] IbraheemOsama commented on #1267
We can do it but I we would need to change the & because you can just use & inside xaml text

[2017-07-27 04:03] WilliamABradley opened #1350 "ContentDialog Helper"
This is a Helper to ensure Safe handling of Content Dialogs, This will help prevent exceptions from trying to open a Content Dialog, when one is already open.

Methods involve Async and Non Async opening (If you want the result or not), These methods have a Boolean that lets you specify whether you want to wait for the Dialog before it to close before showing it, so you can show break through Dial

[2017-07-27 08:19] Vijay-Nirmal commented on #1350
Simple `try` `catch` can do the trick
[code]

[2017-07-27 08:25] WilliamABradley commented on #1350
@Vijay-Nirmal A Simple try/catch wouldn't do the trick, because it would prevent the new Dialog from opening, and prevent a force close on the dialog before it.

It would also prevent Dialogs from different Classes/Sections of code from being able to Queue Dialogs on top of other dialogs.

For example, say you had a dialog that required a password, and for that you would need a Password Dialog pro

[2017-07-27 08:37] darshanrampatel commented on #1328
@Code-ScottLe @hermitdave I was playing around with the `ImageEx.xaml` and came up with a way that I could still keep the `ProgressRing` but not see any crashes.

All I did was add the `Visibility` property to the `ProgressRing` and then set in to Visible/Collapsed as appropariate in the Visual States. According to the [documentation for ProgressRing](https://docs.microsoft.com/en-us/uwp/api/windo

[2017-07-27 08:41] darshanrampatel commented on #1350
@WilliamABradley This is great idea! I agree that a queue is best.

@Vijay-Nirmal You should probably just be catching `System.Runtime.InteropServices.COMException` instead if you are doing this.

[2017-07-27 10:27] Hanzalah-Adalan opened #1351 "NetworkHelper throws an exception when connected to wifi with captive portal"
The `NetworkHelper` class throws an `IndexOutOfRangeException` when I delay a while to enter the ID & the password to access my college's wifi that use captive portal..

[code]

[2017-07-27 10:40] hermitdave commented on #1351
I'll take a look. Thank you

[2017-07-27 11:28] mdtauk opened #1352 "Menu and MenuItem controls not responding to font styling"
When setting font weights, sizes, etc - the menu and menu items do not adopt those changes.  The style and templates should bind the font size, weight, family etc values, and setting the default values in the default style

[2017-07-27 13:44] Vijay-Nirmal commented on #1226
Do you want me to correct Mistakes in Docs or improve the Docs as I mention in my post?

Also, It would be my first PR ever(Little scary).

[2017-07-27 14:03] Odonno commented on #1226
@Vijay-Nirmal From an outside perspective, I would say "fix first, then improve". So the best would be 2 PR, first for mistakes second for docs improvements.

[2017-07-27 14:35] Olivier-tl opened #1353 "Build errors when targeting Windows 10 Anniversary"
Our application cannot be built in release when we add Microsoft.Toolkit.Uwp 1.5. We have visual studio 2015 and are targeting Windows 10 Anniversary.

The problem seems to come from BluetoothLEHelper that uses BluetoothAdapter that targets Windows 10 Creators Update.

Errors :

 error : ILT0021: Could not resolve method 'Windows.Foundation.IAsyncOperation<$ILT$FakeType1_Windows_Devices_Bluetooth_

[2017-07-27 16:13] hawkerm commented on #1334
Released an update with very basic line highlighting support and keydown intercept support.  (Had to rename the editor to not conflict with the namespace, so it's a breaking change).

[2017-07-27 17:17] Code-ScottLe commented on #1353
Bluetooth LE helper requires 15063 (Creator Update) to work. Are you sure you are not using that piece of code somewhere in your application?

[2017-07-27 17:28] Vijay-Nirmal commented on #1339
Corrected in #1354

[2017-07-27 17:58] Olivier-tl commented on #1353
Yes. It compiles in Debug, but not release.

[2017-07-27 18:05] martinsuchan commented on #1324
I'm working on it. The code is ready in my fork, I just had to add samples and documentation.
https://github.com/martinsuchan/UWPCommunityToolkit/commit/69f2214a1c38d80f4f76da4c1fb9a4683f5174a8

[2017-07-27 18:12] Odonno commented on #1324
Since only Mouse has a cursor, should we name it `Cursor.Use="Hand"` or `Mouse.Cursor="Hand"`? Or maybe I missed something.

[2017-07-27 20:22] totht91 commented on #1080
Can the design of  in-app notification be like in the Visual Studio Code?

[2017-07-27 20:40] Odonno commented on #1080
@totht91 That's a really good question. I would have liked you to post the question in the PR but ok.

Since I copied the design of Microsoft Edge in-app notification, I have a mandatory Template that takes two columns : 1) the Content and 2) a Dismiss (X) button. If that's what you want, you can design the in-app notification by setting Background property and having a proper DataTemplate (for te

[2017-07-27 20:52] skendrot commented on #1080
@totht91 can you show an example?

[2017-07-27 21:08] Code-ScottLe commented on #1353
1.4 doesn't contain the Bluetooth LE Helper. What is your minimum target version? Anniversary Update?

[2017-07-27 21:42] Odonno commented on #1080
I suppose it is one of these notifications at the top of the app :

![image](https://user-images.githubusercontent.com/6053067/28693467-1ecbee82-7325-11e7-8c3b-aaedb4b3b805.png)

[2017-07-28 09:16] totht91 commented on #1080
@Odonno exactly, thank you

[2017-07-28 12:28] Olivier-tl commented on #1353
Min version and target version is Windows 10 Anniversary Edition (10.0; Build 14393).

[2017-07-28 23:28] michael-hawker opened #1356 "RangeSelector Tick Marks and Improvements"
I was having an issue with the [built-in slider control and tick marks](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/20329396-slider-should-have-a-tickoffset-property), so I figured I'd look a bit more at what the toolkit has already.

It'd be great if we could update the RangeSelector a bit to support these scenarios:

- [x] Customizable StepFrequency (Epsilon

[2017-07-29 03:46] paul1956 commented on #1331
I was seeing the same error, in the Package.appxmanifest, the value of "Name" is never specified in any examples I can find so I put my App Name and everything worked. When I tried other values that I assumed were correct based on the description I got the error described.
[code]

[2017-07-29 04:00] paul1956 opened #1357 "ExecuteOnUIThreadAsync not working as expected."
I am trying to hide or disable the Login Button after the user successfully logs in. After the user logs on, the line ButtonLogin.Visibility = Visibility.Collapsed does execute but nothing happens, and there is no error. If I remove all the Async code and Async from the function definition then everything works as expected.

[code]

[2017-07-29 10:37] AlfredBauer opened #1358 "DropShadowPanel and designer exception"
Project target version (min, max) - 15063

**1.** Put DropShadowPanel control  - designer ok
**2.** Start debug
**3.** Stop debug - exception in designer

Exception does not disappear anymore (clean, rebuild - without result)

MissingMethodException: Method not found: 'Void Windows.UI.Composition.Visual.put_Size(System.Numerics.Vector2)'.

StackTrace
 at Microsoft.Toolkit.Uwp.UI.Controls.DropShado

[2017-07-29 13:25] cbarkerms commented on #1331
I'm missing the correlation between this and the call to the Facebook service - could you clarify what code you are using to call the service please?  Also, did you already create a Facebook app in the Facebook developer portal with the Windows app Id?  Thanks

[2017-07-29 20:57] Tirraon opened #1359 "Selected item problem with hamburger menu"
I found strange behavior, when using keyboard for navigate in my app. It also can be reproduced in sample app.

Steps to reproduce:
1. Open latest UWP Community Toolkit sample app from store.
1. Click on "About" navigation item, item will be focused, selected and page will be opened.
1. Press arrow "Up" on keyboard - it will move selection to "More resources" item, **but** "about page" is still op

[2017-07-30 01:18] Code-ScottLe commented on #1353
I can confirm from my end that my release build is all fine.

[2017-07-30 05:03] IbraheemOsama commented on #1352
Thanks @mdtauk for reporting

[2017-07-30 05:15] Vijay-Nirmal opened #1360 "Option to create Inner Shadow using DropShadowPanel"
Inner Shadow is used in many places but there is no easy way to create it.

![Image](https://tse1.mm.bing.net/th?id=OIP.W8RlFh661AELMivLJ4NgTgEsC6&pid=15.1)

![nlpkt](https://user-images.githubusercontent.com/24755596/28750818-825ede7e-7513-11e7-9d88-d4b217d3f398.png)

[2017-07-30 18:27] DumboJetEngine opened #1361 "HamburgerMenuGlyphItem seems broken in version 1.5.1"
In version 1.5.1 this code:

            <ctrl:HamburgerMenu.ItemsSource>
                <ctrl:HamburgerMenuItemCollection>
                    <ctrl:HamburgerMenuGlyphItem Glyph="&#xE715;" Label="Mail" Tag="Mail" />
                    <ctrl:HamburgerMenuGlyphItem Glyph="&#xE753;" Label="OneDrive" Tag="OneDrive" />
                </ctrl:HamburgerMenuItemCollection>
            </ctrl:HamburgerM

[2017-07-30 19:06] Vijay-Nirmal commented on #1261
If you want to convert [ExpressionBuilder_Documentation.docx](https://github.com/Microsoft/WindowsUIDevLabs/blob/master/ExpressionBuilder/Docs/ExpressionBuilder_Documentation.docx) to MarkDown then I can do it.

[2017-07-30 23:08] Tirraon commented on #1361
Have you tried to set custom HamburgerMenu.ItemTemplate?

Something like that:

[code]

[2017-07-31 02:01] nguyenthanhliemfc opened #1362 "OneDrive Service Error?"
I get this error "failException of type 'Microsoft.Graph.ServiceException' was thrown."
How to fix

[2017-07-31 02:13] michael-hawker opened #1363 "BladeItem Titlebar Colors aren't Theme Aware"
If you change your app to dark theme, then you can't see the titlebar or icons of a default BladeItem as they're bound to be black by default instead of pulling from the theme:

    public static readonly DependencyProperty TitleBarForegroundProperty = DependencyProperty.Register(nameof(TitleBarForeground), typeof(Brush), typeof(BladeItem), new PropertyMetadata(new SolidColorBrush(Colors.Black)));

[2017-07-31 04:46] michael-hawker commented on #1266
Yeah, this confused me at first too.  It does work if you repress alt and the letter combination, but definitely behaves differently than the traditional menu accessibility options.

[2017-07-31 07:19] Code-ScottLe commented on #1361
The [1.5.1 release ](https://github.com/Microsoft/UWPCommunityToolkit/releases/tag/v1.5.1) removed the default data template for the `HamburgerMenuGlyphItem` due to some problems with the template overriding that was discussed in #1277 . You will have to re-supply the `DataTemplate` for the HamburgerMenuGlyphItem` at the moment.

Re-introducing the default template for all Hamburger Menu Items is

[2017-07-31 07:24] Code-ScottLe commented on #1357
I'm not sure what the behavior of Async on VB is. When you debug this, does the API still return the number 1 value that you are returning form the function that you passed into the API?

[2017-07-31 13:37] Olivier-tl commented on #1353
Try setting the target version (not just the min version) to windows 10 anniversary. Like so :
<img width="259" alt="targetversion" src="https://user-images.githubusercontent.com/6487041/28780103-965f5d70-75d3-11e7-9722-cf874fde1a60.PNG">

[2017-07-31 17:11] skendrot commented on #1261
That would be awesome!

[2017-07-31 17:16] skendrot commented on #1359
Duplicate of #1306

[2017-07-31 17:16] #1359 closed

[2017-07-31 17:47] Code-ScottLe commented on #1353
Just tried with a brand new project. [There are warning, but build just fine.](http://i.imgur.com/laEZkAs.jpg)

[2017-07-31 18:41] Vijay-Nirmal commented on #1261
Actually, I have completed converting to Markdown. Couple of question before making a PR
1. Should I update the doc of ExpressionBuilder or create a new file in PR?
2. What about Table of Content? Because It is a very large Doc

[2017-07-31 20:09] DumboJetEngine commented on #1361
Since I had to write the template twice (for items and options) I decided to do it the "right" way with a resource.

In the process, I fell on two issues that seem like bugs in UWP:

1) https://stackoverflow.com/questions/34106816/the-name-x-does-not-exist-in-the-namespace-usingy
Some hacks, rebuilds and lots of pray, solved this one, but it reappeared when I restarted VS.

2) https://stackoverflo

[2017-08-01 00:37] goranalkovic commented on #664
@nmetulev Sorry for late reply, seems like it's fixed in VS 2017 Preview 6 (wasn't working in Preview 5 for some reason).

[2017-08-01 14:21] skendrot commented on #1361
No need to write the template twice or for the DataTemplateSelector. You can define the template and use that for both instead.
[code]

[2017-08-01 15:42] Olivier-tl commented on #1353
Yes, this is true with the package Microsoft.NetCore.UniversalWindowsPlatform v5.3, but those same warnings turn into errors with Microsoft.NetCore.UniversalWindowsPlatform v5.2. Since we have Visual Studio 2015, we can't update to v5.3 because it requires Visual Studio 2017.

[2017-08-01 16:52] nmetulev commented on #1356
This sounds like a great addition. The only one I'm not sure about is the Single Slider mode as there is already a slider in the platform and we should avoid duplicating the same functionality unless it builds on top of it.

[2017-08-01 16:52] nmetulev commented on #1356
Also, feel free to create a PR for the TickOffset, etc if you'd like

[2017-08-01 16:54] nmetulev commented on #1358
@AlfredBauer, what architecture are you building (x86, x64, arm)? Does it work if you change architecture?

[2017-08-01 17:22] nmetulev commented on #1362
Can you provide a bit more details, a repro?

ping @cbarkerms

[2017-08-01 17:22] mjfara opened #1364 "Carousel: Unable to Stretch Items Horizontally to Width of Carousel"
As the title states, I'm unable to stretch items to full width. The size of each item is determined by the top-most item. This does not work well when using TextBlocks of varying lengths as the Carousel items.
Any ideas?

[2017-08-01 17:27] nmetulev commented on #1363
Great catch. Do you fancy a PR to add the theme colors in the template?

[2017-08-01 17:35] nmetulev commented on #1267
What do you suggest we use?

[2017-08-01 17:39] nmetulev commented on #1261
1. I'd create a new file
2. Table of Content makes sense

[2017-08-01 17:44] nmetulev commented on #1364
ping @mimetis

[2017-08-01 17:47] Mimetis commented on #1364
Can you share a simple demo code ?

[2017-08-01 17:53] mjfara commented on #1364
`<toolkit:Carousel Grid.Row="1" x:Name="CarouselControl" ItemRotationX="20" Margin="0,-800,0,0"  SelectedIndex="0" InvertPositive="True" ItemDepth="450" Orientation="Vertical" ItemsSource="{Binding ObjectList}" SizeChanged="CarouselControl_SizeChanged">
                                <toolkit:Carousel.EasingFunction>
                                    <CubicEase EasingMode="EaseOut" />

[2017-08-01 17:55] DumboJetEngine commented on #1361
@skendrot Thanks.
I was trying the same but with a TemplateSelector.
The issue is that when I define the template inside App.xaml, it fails to build as reported here too: https://stackoverflow.com/questions/39056194/uwp-compile-error-when-using-xdatatype-property-on-datatemplate
It seems that it does not recognize the `x:DataType` part.

But when I move the template definition inside my main page

[2017-08-01 17:55] #1361 closed

[2017-08-01 17:59] Code-ScottLe commented on #1353
@nmetulev Can you verify this? I don't have 2015 anymore. But having an older nuget version (and potentially older nuget packages for the platform) could cause a build problem (Observed this for my VSTS CI Build before).

[2017-08-01 18:00] Vijay-Nirmal commented on #1261
@nmetulev

Where?

[2017-08-01 19:18] nmetulev commented on #1360
@Vijay-Nirmal, my recomendation is to create a UserVoice entry under the [XAML/Controls/Composition category in UserVoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/58517-xaml-controls-composition) as this is something that is not available in the platform.

[2017-08-01 19:55] Vijay-Nirmal commented on #1360
@nmetulev I don't know much about effects.
Can we create a normal drop shadow and mask it to the content of the DropShadowPanel?(I hope my question is clear)

[2017-08-01 20:02] nmetulev commented on #1261
You are right, if we create a new file, it will show up under the table of contents on the left. Maybe it's better if you just add it to the existing file?

[2017-08-01 20:20] nmetulev commented on #1360
Your question is completely valid, it's just not something that has made it into the platform. There are ways to make something similar using [vignette effect](https://msdn.microsoft.com/en-us/library/windows/desktop/dn900464(v=vs.85).aspx), but it's not something we would add to the DropShadowPanel until it is supported by the platform.

[2017-08-01 20:31] nmetulev commented on #1353
I don't have 2015, I'll set up a vm to try it out. In the meantime, @Olivier-tl, can you tell me what OS build you have on your machine?

[2017-08-01 22:07] mjfara opened #1365 "carousel: Removing an item from a binded ObservableCollection causes exception"
I'm getting the following exception when removing an item:

[code]

Any ideas?

[2017-08-01 22:08] mjfara commented on #1365
ping @Mimetis

[2017-08-02 00:57] IbraheemOsama commented on #1267
I guess I was typing while sleeping, I can't understand what I wrote :D anyway we can't use **'&'** but we still can use **(!@#$%*^)**
IMO we could use ^ as it is not commonly used in the text.

[2017-08-02 04:55] Vijay-Nirmal commented on #1261
So I will update the existing [ExpressionBuilder Doc](https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/docs/animations/Expressions.md). Sound Good?
Here is my Markdown file: [ExpressionBuilder Documentation](https://1drv.ms/u/s!AhsM8UnfYgSDh9MT0yZ4-nsIKqF4_Q)

[2017-08-02 15:11] Olivier-tl commented on #1353
Version 1703 (OS Build 15063.483).

[2017-08-02 15:37] Vijay-Nirmal commented on #1360
@nmetulev What feature should I request in UserVoice to achieve this? (OR) Can you please create a UserVoice in favour of devs?

[2017-08-02 16:07] nmetulev commented on #1360
@Vijay-Nirmal, the user voice should be about ability to create inner shadows in addition to drop shadows in composition.

[2017-08-02 16:08] nmetulev commented on #1267
That sounds good to me :)

[2017-08-02 16:08] nmetulev commented on #1261
Sounds great :)

[2017-08-02 16:19] mjfara commented on #1365
Seemed to be an issue when calling RaisePropertyChanged, I just removed the call and things are working as expected.

[2017-08-02 16:19] #1365 closed

[2017-08-03 15:40] Vijay-Nirmal opened #1367 "WACK test FAILED due to SystemInformation.OperatingSystemVersion"
It seems detecting Operating System Version using below code is not a good idea. It can lead to failing in WACK test.
[code]

I tested it and I can't reproduce the issue but there are other seem to get an error in the WACK test.

Error message:

For more info about this issue:
[How to check the Windows 10 OS version in an UWP app?](https://stackoverflow.com/questions/45480191/how-to-check-the-wind

[2017-08-03 18:11] AlfredBauer commented on #1358
Ok. It was x86 platform.
 I changed on x64 and designer has restored own work. But! In launched app I see what I want. (Additionally I use RadialProgressBar)
![default](https://user-images.githubusercontent.com/22150380/28936128-661bcd4c-788f-11e7-98bb-e0815ad2a9c5.PNG)

That's what I see in designer

![2](https://user-images.githubusercontent.com/22150380/28936258-d0d540fa-788f-11e7-9e39-d8b76596

[2017-08-03 22:39] thnk2wn commented on #1353
Same issue here. Actually had 13 different release mode native compilation errors resulting from UWP toolkit. Most had bluetooth but there were also some around Windows.UI.Text.TextDecorations and InMemoryQueryModelVisitor.

Changed from:

    <TargetPlatformVersion>10.0.14393.0</TargetPlatformVersion>
    <TargetPlatformMinVersion>10.0.10586.0</TargetPlatformMinVersion>

To

    <TargetPlatformVe

[2017-08-04 01:18] Dinchy87 commented on #1332
I tried the new fix but for me it still has place for one more item in each row but it sets it to the next row.

[2017-08-04 01:18] Dinchy87 opened #1368 "AdaptiveGridView bug with ItemsPanel at Horizontal"
Hi Guys, i tried your implementation of the AdaptiveGridView and switching maybe from my own implementation to this but i tried to edit the ItemsPanel Orientation to Horizontal so it suits my app the most. And i get a strange placeholder on the first position. Any clue?

Without setting the Orientation to Horizontal the AdaptiveGridView has some large margins to the right and even if there is plac

[2017-08-04 09:45] dargod opened #1369 "ImageEx ActualWidth & ActualHeight"
Hello,

I noticed small difference between standard Image control and ImageEx control from toolkit.

To reproduce it I put image in grid of some defined size and setting background to something clearly visible (e.g. Red). Then I bind width and height to this image from parent grind values and set image source then stretch property to uniform so image will size will be adjusted to fit nicely in gri

[2017-08-04 14:16] aalok05 opened #1370 "MarkdownTextBlock doesn't have MaxLines property"
Is there a way to limit the number of lines in a MarkdownTextBlock?

[2017-08-04 17:40] skendrot commented on #1332
@Dinchy87 Can you supply a repro?

[2017-08-04 17:54] skendrot commented on #1368
Can you provide more information like a sample repro

[2017-08-04 17:56] skendrot commented on #1368
I modified the sample app to include the following and everything worked fine:
[code]

[2017-08-04 20:48] crutkas opened #1371 "Bluetooth helper should not be in control package"
The control package should have controls, why does a bluetooth helper exist in the nuget package?  This exists in 1.5.0+ packages

https://github.com/Microsoft/WindowsTemplateStudio/issues/907

[2017-08-05 01:17] IbraheemOsama commented on #1371
Bluetooth helper is inside Microsoft.Toolkit.Uwp package not the controls package but the controls package is dependent on Microsoft.Toolkit.Uwp and both have the same target and min version of Windows :)

[2017-08-05 01:17] IbraheemOsama commented on #1371
Min and targets are 15086 and 10586

[2017-08-05 01:20] crutkas commented on #1371
I am implying it shouldn't. Someone can get into a supported permutation with 14393 and .net native will fail if they aren't 100% up to date which is a common case.

See the referenced issue.

[2017-08-05 01:26] crutkas commented on #1371
Why not a dedicated sensor package?

[2017-08-05 01:29] IbraheemOsama commented on #1371
Yeah, if a feature requires upgrading the target version it should be maybe in a single package as the toolkit should support the latest 2 SDKs which are AU and CU.
@nmetulev what do you think ?

[2017-08-05 07:32] hermitdave commented on #1371
@crutkas we had some non control creep inside controls lib. We are cleaning this up for 2.0. Let's see if we can move this off as well

[2017-08-05 07:39] hermitdave commented on #1371
@nmetulev @shenchauhan @hermitdave @PedroLamas @Odonno @skendrot @IbraheemOsama shall we create a devices package? Both BT helper and ConnectionHelper would go in there

[2017-08-05 07:43] hermitdave commented on #1369
@dargod ImageEx control consists of a grid, 2 images and a progress indicator. It is rightly they of the parent grid. I would however like to figure a way or to ensure that Grid and Main Image are of same size

[2017-08-05 07:51] hermitdave commented on #1353
@thnk2wn Apologies for the error. I'm not sure of how this can be fixed in 1.5.x versions however going forward with 2.0 version of toolkit, we consume v5.3 of  Microsoft.NetCore.UniversalWindowsPlatform

[2017-08-05 10:12] Odonno commented on #1371
@hermitdave Yes, sounds great. Should we name it connectivity package instead of devices?

[2017-08-05 12:37] IbraheemOsama commented on #1371
I agree, connectivity package seems like a good name for the package but we need to make sure that these 2 helpers are the only reasons we moved to CU.

[2017-08-05 15:03] hermitdave commented on #1371
Connectivity isn't bad.. I was think more about future device support like say camera

[2017-08-05 15:10] Asstryfi opened #1372 "[Bug] NuGet installation error"
Hi , i try to install UWP with NuGet , but i have an error . The error appear only on this package . It's probably this package .

The error :

The error it's probably modified because i'm french and i have use google traduction for this error p: , and i'm sorry for my English i'm french :)

Thanks.

[2017-08-05 15:47] Dinchy87 commented on #1368
This is the same i used and then i get this...

https://drive.google.com/file/d/0B9Txxs8Vb7PPMUItOENjYTFEV00/view?usp=sharing

I wanted to get around the issue with the margins so horizontal somehow gets the images right but then there is a strange first item as you see on the picture. The code is just a AdaptiveGridView with 5 elements (GridViewItem).

[2017-08-05 15:59] PedroLamas commented on #1371
As far as I can see, we're a little all over the place regarding versions (the differences to 10586 in bold)...

* Microsoft.Toolkit.Uwp (target: 15063, min: 10586)
* Microsoft.Toolkit.Uwp.DeveloperTools (target: **14393**, min: 10586)
* Microsoft.Toolkit.Uwp.Services (target: 10586, min: 10586)
* Microsoft.Toolkit.Uwp.UI (target: 10586, min: 10586)
* Microsoft.Toolkit.Uwp.UI.Animations (target: *

[2017-08-05 16:39] Odonno commented on #1372
@Asstryfi This package only works with Universal Windows project. What kind of project have you created?

[2017-08-05 16:43] Odonno commented on #1371
@PedroLamas Yes, @nmetulev added an issue about this here #1340

@hermitdave Well, that's the problem. A lot of things are related to devices, like SystemInformation for example.

[2017-08-05 17:14] Asstryfi commented on #1372
@Odonno It's work only with Windows Form ? I have try with WPF

[2017-08-05 17:19] hermitdave commented on #1371
SystemInformation relates to the #windows10 devices. Devices relate devices / peripheras connected to the windows10

[2017-08-05 17:27] Asstryfi commented on #1372
@Odonno I see ... I'm stupid , i have use WPF ... Sorry p:

[2017-08-05 17:30] #1372 closed

[2017-08-06 11:33] Vijay-Nirmal opened #1373 "RoundImageEx will not show image if we didn't set Width and Height"
See this question in StackOverflow: [UWP community toolkit RoundImageEx image not showing](https://stackoverflow.com/questions/45529752/uwp-community-toolkit-roundimageex-image-not-showing)

It seems `RoundImageEx` is behaving differently from `ImageEx` and normal `Image`.  In `ImageEx` and `Image` control we don't want to set `Width` and `Height` to show the image but in `RoundImageEx`  we need t

[2017-08-06 17:47] hermitdave commented on #1373
I'll take a look

[2017-08-06 18:21] Vijay-Nirmal commented on #1373
@hermitdave It is due to the property of `Rectangle` in [RoundImageEx.xaml](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/RoundImageEx.xaml#L12)

[2017-08-06 18:44] nmetulev commented on #1371
If we make a new package, we should do it now for 2.0, otherwise it would be more difficult. I'm all for creating a new package for Connectivity (or whatever name is decided).

[2017-08-06 18:48] nmetulev commented on #1367
This is probably caused by an older version of the WACK test, it seems to work when submitting to the store. Unless we can verify it as an issue when submitting to the, I will close this issue.

[2017-08-06 18:48] #1367 closed

[2017-08-06 18:49] nmetulev commented on #1368
Do you have a repro project you can share?

[2017-08-06 18:52] nmetulev commented on #1370
There is not currently. MarkdownTextBlock could also have other content (such as images), so not sure how that would work.

[2017-08-06 20:03] hermitdave commented on #1371
Listing namespaces under Windows.Devices to prove my point against making new package solely about Connectivity
![image](https://user-images.githubusercontent.com/1896163/29006575-e519ade8-7af2-11e7-893c-0ca7cd3d3a1c.png)

[2017-08-06 20:03] hermitdave commented on #1371
@nmetulev yes this will have to go into 2.0

[2017-08-06 20:06] nmetulev commented on #1371
@hermitdave, are you proposing the new package should be about devices? Microsoft.Toolkit.UWP.Devices?

[2017-08-06 20:09] hermitdave commented on #1371
yes @nmetulev we could use that for adding future device support.. I mentioned camera as an example.

[2017-08-07 02:55] nmetulev commented on #1358
Looks like this is a known issue with the designer and using types such as Vector2. See discussion [here](https://github.com/Microsoft/WindowsUIDevLabs/issues/112). There is already a [UserVoice](https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/18892300-fix-the-uwp-designer-errors) for this as well that I'd recommend checking out.

I'll close this issue, but feel free

[2017-08-07 02:55] #1358 closed

[2017-08-07 03:10] nmetulev commented on #1357
Ping @paul1956

[2017-08-07 03:34] nmetulev commented on #1331
Up?

[2017-08-07 03:36] nguyenthanhliemfc commented on #1331
Sorry for late reply, I use exactly code from UWP Community toolkit document

[2017-08-07 03:37] nmetulev commented on #1329
@dgomezc Up?

[2017-08-07 03:47] nmetulev commented on #1331
Can you share the exact code you are using, it will help out a lot? We are not able to reproduce.

[2017-08-07 03:50] nguyenthanhliemfc commented on #1331
Off course, I will send you my full sample project for easy find issues. I'll upload later I'm at work now. Thank you for your replies!

[2017-08-07 03:55] nmetulev commented on #1324
I agree, Mouse.Cursor seems better. :)

[2017-08-07 03:57] nmetulev commented on #1321
@skendrot, any idea what's causing this?

[2017-08-07 04:01] nmetulev commented on #1311
Up?

[2017-08-07 04:03] nmetulev commented on #1306
Up?

[2017-08-07 07:55] hermitdave commented on #1351
Need to wait until end of this week as work has a captive portal for certain users. Cav yet replicate there saved then look for a fix.

[2017-08-07 11:01] Liero commented on #1311
sorry, I hadn't time to return back to this.

1. This is was my workaround, better than nothing, but I don't think this is the how it should work. Either both, hamburger button and items reflects PaneForeground or neither.

2. You have to add me to contributors so I can submit PR, don't you?

[2017-08-07 13:14] edwinvandriel commented on #1339
A lot of stuff is moved in PR #1297 to other namespaces. Many links in the docs for extensions are corrected.

[2017-08-07 15:51] nmetulev commented on #1311
Since we removed HamburgerMenuGlyphItem in v1.5.1, I'm wondering if this is still an issue?

Anyone can submit a PR, no need to be a contributor. :)