[2020-04-04 07:55] LokiMidgard commented on #3200
If you convert the existing Unit Tests, please consider `DataRowAttribute` for thinks like different Mail addresses. It was really painfull to find the mail addresses that were not working in the test. And every mail address after the failing one was not testst.

[2020-04-04 10:54] deanchalk commented on #3210
OK, I have had a chance to look at this. The C++ control code is fairly straightforward, but we can achieve the desired result using the current GazeInteraction APIs.
Essentially, there is a `GazeInput.GazeCursor.CursorElement` property, which is of type `UIElement`, and represent the cursor. When you instantiate the GazeCursor, the C++ code simply sets the `CursorElement `as an Ellipse with a Fil

[2020-04-04 11:45] niels9001 commented on #3210
Thanks for the clarification! What's the PR no.? I can try it out to see if it works.

[2020-04-04 12:53] deanchalk commented on #3210
https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3221

[2020-04-04 12:57] deanchalk commented on #3210
To be honest, the c++ code could do with some improvements regarding it's API surface, plus ideally it would be upgraded from C++/CX to C++/WinRT. If I ever invest in an eye tracker I'd be happy to re-work this set of controls. Hopefully the PR I have submitted offers a working solution :)

[2020-04-04 21:19] jasonxz commented on #3063
I'm experiencing the same issue with ImageEx.
Admittedly, I have no idea when it stopped working...it's been a long time since I've touched this application.

VS Community 2019 v16.5.2
UWP v6.2.10
Microsoft.Toolkit.Uwp.UI.Controls v6.0.0
Referencing multiple libraries using NETStandard.Library v2.0.3

When I first pulled the source code back out and blew the dust off of it, I got a "pipeline broke

[2020-04-05 07:06] Vijay-Nirmal commented on #1499
@michael-hawker I have created Draft PR #3222. I have two questions

1. I am using invisible `TextBlock` to create the properties in Properties Panel. Is it ok to do it?

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/9ad0b20029c9266d0f3d162520fe549a9a9243fe/Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ListViewExtensions/ListViewExtensionsXaml.bind#L20-L21
https://github.com/window

[2020-04-06 04:57] weitzhandler opened #3223 "Sample-app bug: Unable to scroll code"
Hi,

The left-bar code-viewer is unscrollable. The scroll-bars appear there for a split second and appear.
Additionally, when clicking the code-viewer, it doesn't receive keyboard focus, so it's impossible to even use <kbd>PgUp</kbd> or <kbd>PgDn</kbd>.

This is really significant when viewing controls with a lot of code, i.e. `DataGrid`, `GridSplitter`, and others.

The only workaround to be able

[2020-04-06 14:11] #3223 closed

[2020-04-06 21:54] michael-hawker commented on #3200
@LokiMidgard as a quick fix for the existing unit tests I did in #3207 to better understand these problems, I did use the `DataRowAttribute`.

I know it's going to be a lot of work already to flip over to another implementation for the rendering, there is some tight coupling there, so I'm not sure how feasible it'd be to abstract again to support different parsers. Markdig does seem rather flexibl

[2020-04-06 21:55] michael-hawker commented on #1767
Thanks @LokiMidgard for your understanding. Appreciate your input on the other thread as well, and I'm glad you've still found use from the work you've done.

With everything in mind though, I think it makes sense to just close your PR #3047 for now until we know the full path forward? Do you have any problems with that?

Thanks again!

[2020-04-07 06:14] LokiMidgard commented on #1767
No I closed it.

[2020-04-07 08:54] HHChaos commented on #3177
I have a few useful tips here:
1. Use the _imageTransform attribute to rotate the image;
2. Use the _restrictedCropRect attribute to restrict the cropped area of the image. This is the size of the image when the image is initialized. After rotating, I think the image should have a new size (a new rectangular area)? Also update the value of _restrictedSelectRect;
3. When saving the image (in ImageC

[2020-04-07 16:47] shweaver-MSFT opened #3225 "Sample app missing overscan boundary on Xbox"
## Describe the bug
The sample app does not look the best on Xbox. Specifically, there aren't any considerations for TVs with overscan.

TV Safe Area:
https://docs.microsoft.com/en-us/windows/uwp/design/devices/designing-for-tv#tv-safe-area

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:

[2020-04-07 16:49] shweaver-MSFT commented on #3225
Inspiration: https://github.com/shweaver-MSFT/TVSafePanel

[2020-04-07 16:57] shweaver-MSFT opened #3226 "Graph controls don't support XY Focus"
## Describe the bug
The LoginButton and PeoplePicker Graph controls don't work at all when using XY navigation.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. [Create blank app](https://docs.microsoft.com/en-us/windows/uwp/xbox-apps/development-environment-setup#create-your-first-app)

[2020-04-08 14:49] JasonStein commented on #3008
I will take a look this week and share my findings here.

[2020-04-08 17:25] michael-hawker commented on #2233
Think some of these were addressed in the following commits, adding here for posterity:
- c11018a - Accessibility improvements and markup cleanup.
- ca4b666 - Automation Peers changes.

[2020-04-08 17:28] michael-hawker commented on #3079
@RBrid @anawishnoff this might be a regression? As it appears some work was done in the past for this, see #2233. I dug up commits for these changes and commented [here](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2233#issuecomment-611087616).

[2020-04-08 17:36] michael-hawker commented on #3225
Thanks @shweaver-MSFT! I could see a nifty MarkupExtension that returns a Thickness value for this being handy to use on any sort of UIElement. 🙂

[2020-04-08 17:56] michael-hawker commented on #3008
Thanks @JasonStein, much appreciated! I've assigned this issue to you for tracking.

[2020-04-08 22:04] Kyaa-dost commented on #3195
@deanchalk Thanks for looking into this. I think @salmanmkc has a PR open. We will test it out and see how it goes.

[2020-04-08 23:44] Kyaa-dost commented on #3178
Thanks for showing the error @vborovikov. @deanchalk will you be able to look into this?

[2020-04-09 07:50] deanchalk commented on #3178
I have created a pull request https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3228
I couldnt recreate the heap corruption issue, but I did manage to crash the app consistently using the pan/zoom features. The PR isnt an ideal fix, but it seems to be the best we can do with the current implementation. of the control.
Let me know what you think

[2020-04-09 10:47] JohnnyWestlake commented on #3225
This should not be necessary should it? There's an OS level feature in Xbox settings that automatically adds an overscan border to apps if the user chooses - the onus is on the user to do so.

(A better requent would be, make the Xbox OS team actually add configurable overscan regions like nearly every other TV connected device, but hey ho :P)

[2020-04-09 16:36] Kyaa-dost commented on #3178
Thanks @deanchalk will check it out.

@vborovikov what do you think?

[2020-04-09 16:45] Kyaa-dost commented on #3142
@ranaprathap2 Please let us know when you have an update on this.

[2020-04-09 20:07] Sergio0694 opened #3230 "[Feature] Basic MVVM primitives (.NET Standard)"
## Describe the problem this feature would solve

Follow up from the conversation with @michael-hawker on the [UWP Community Discord server](https://discord.gg/zBA5aCn).

With the `MvvmLight` library not being supported anymore, and other existing libraries being much bigger in scope that what is often needed for simple apps, I was wondering whether we should add some basics MVVM primitives to the

[2020-04-09 20:29] michael-hawker commented on #3230
To add to this, I had ported @StephenCleary's MVVM Async helpers from his articles to UWP [here](https://github.com/michael-hawker/AsyncMVVM-UWP-Sample/tree/master/AsyncMVVMApp/Helpers). Though I didn't realize he had them on GitHub already [here](https://github.com/StephenCleary/Mvvm.Async) (though not sure if UWP enabled).

Also, [Windows Template Studio](https://aka.ms/wts) has an MVVM Basic pa

[2020-04-09 20:34] Sergio0694 commented on #3230
That sounds like a great idea! Looking forward to hearing what they think too! 😄

As for the PR, I've mostly just opened it as a draft to have a reference, and because I wanted to experiment with that `Ioc` idea I had (which I'll definitely use at least in my apps either way given those benchmarks 🚀). Wasn't planning to work more on it for the time being, as I completely agree with you on gatherin

[2020-04-09 21:33] azchohfi commented on #3230
@Sergio0694 how does your implementation compares to the ASP.Net default one? https://www.nuget.org/packages/Microsoft.Extensions.DependencyInjection/5.0.0-preview.2.20160.3
I'm not even sure it will work on UWP, but it should, as there is a .Net Standard 2.0 version of it.
This might help as well: https://github.com/danielpalme/IocPerformance

[2020-04-09 21:33] azchohfi commented on #3230
And are these numbers for .Net Native?

[2020-04-09 21:35] Sergio0694 commented on #3230
@azchohfi Those are numbers for .NET Core 3.1, since `BenchmarkDotNet` doesn't support UWP. I did setup a benchmark class to test things on UWP too a while back though, it's not perfectly accurate as `BenchmarkDotNet` (and it lacks the memory diagnoser) but it's reliable enough, I'll give it a go to see how it runs there! As for the ASP.NET one, not sure if it works on UWP either, but I can defini

[2020-04-10 11:12] Sergio0694 commented on #3230
@azchohfi Not sure whether GitHub sends notifications when mentioning through an edit to an existing comment, posting this just in case and also to add some more details 😄
Since you seemed interested in performance metrics, I run some more benchmarks across all the various implementations, both when retrieving singleton services as well as transient ones.
Here are the updated results (.NET Core 3.

[2020-04-10 21:30] michael-hawker commented on #3142
@ranaprathap2 can you clarify what Toolkit and OS versions you are on? I thought we fixed some issues in a similar sounding area in the last release?

[2020-04-11 04:38] ranaprathap2 commented on #3142
OS Name	Microsoft Windows 10 Pro
Version	10.0.18362 Build 18362

@michael-hawker

[2020-04-11 13:03] shaggygi commented on #3230
I recall seeing a Visual Studio survey for MVVM feedback on Twitter a few months back.  It appeared there was possible work being done to add MVVM basics to the framework to help in this area.  Just curious, is this the same work or is it possible there is duplicate work being investigated?

[2020-04-12 10:48] vborovikov commented on #3178
I've managed to eliminate heap corruption exceptions by refactoring `InkDrawable`.

It create copies of `InkStroke` objects on each draw request in order to make ink point coordinates relative to the current drawing session coordinate system. I changed the drawing session coordinate system to be global so no changes to `InkStroke` points is required.

[code]

and `InkDrawable` simply calls `DrawIn

[2020-04-12 10:55] Sergio0694 commented on #3230
Hey @shaggygi - this is not the same work, it's more of an exploratory issue to put some ideas together and see how best to proceed. We're talking with @jamesmcroft who is maintaining a .NET Standard fork of `MvvmLight`, and @michael-hawker has contacted both Laurent, the original author of the `MvvmLight` library, and the folks working on the Windows Template Studio, to see if it could make sense

[2020-04-13 12:37] sibille commented on #3230
@sergio0694 and @michael-hawker I think adding basic MVVM classes to the Toolkit makes a lot of sense.

Among the goals for the MVVMBasic implementation in Windows Template Studio was to provide a solution for people who:
- can't or don't want to use a 3rd party MVVM Framework
- want to build their own MVVMFramework
https://github.com/microsoft/WindowsTemplateStudio/blob/dev/docs/UWP/frameworks/mv

[2020-04-13 13:53] Sergio0694 commented on #3230
Hi @sibille - thank you for chiming in!
I'm glad to hear this idea makes sense to you, that's great! 😊

And yes, if the WTS then offered both the option to either reference the MVVM classes from the WCT directly, or having them autogenerated into a project, that'd be ideal, good idea! 😄
Maximum flexibility for users, and offering those who don't mind using an external library the ability to use a

[2020-04-13 16:26] TheJoeFin opened #3233 "Advanced Options for Image Crop"
## Cropping Images Not Always Enough
When working with a camera photo frequently cropping is just the first step in getting the final perspective you want. The ability to make more adjustments would go a long way to making a control more powerful and apply to a wider range of uses.

## More advanced options

- Skew

- Straighten/Rotate

- Free handle adjustment (Similar to [Office Lens](https://su

[2020-04-13 17:54] Kyaa-dost commented on #3233
@TheJoeFin Thanks for the request. Is this something will you be interested in working, submitting a PR? Also, let's see what our devs think about this.

[2020-04-13 23:38] JasonStein commented on #3008
Here is my updates regarding to upgrading Behaviors package:

WCT Projects having direct references to "Microsoft.Xaml.Behaviors.Uwp.Managed":

* Microsoft.Toolkit.Uwp.SampleApp.csproj
* Microsoft.Toolkit.Uwp.UI.csproj
* Microsoft.Toolkit.Uwp.UI.Animations.csproj

All currently are using version 1.1.0 and needs upgrade to 2.0.1 as latest.
I tried to upgrade all of them and build/run without any is

[2020-04-14 00:08] michael-hawker commented on #3008
Thanks @JasonStein! We'll take a look at the PR and get this in for 6.1. We wouldn't block this on the other issue Sergio found as it's still an issue, if anything we know we should update the minor version if they get a fix in before we ship.

[2020-04-14 03:48] michael-hawker commented on #3233
This is kind of extension of the request in the thread here #3177.

[2020-04-14 03:59] #3205 closed

[2020-04-14 05:38] revose commented on #3176
Setting the Binding to TwoWay Mode did not solve / provide a workaround for me here. Did you change something else?

[2020-04-14 11:33] pkar70 opened #3237 "ImageCropper, SaveAs with BitmapFileFormat.Png seems like not PNG file but bitmap"
## Describe the bug
A clear and concise description of what the bug is.
- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

I have several PNG files (Android snapshots, 600x1024 pixels, with size about 400 kB. After cropping to about 300x350 pixels, and using imageCropper.SaveAs(.., BitmapFileFormat.Png) file size is almost same, and should be muc

[2020-04-14 16:50] DanielGlick45 commented on #3079
@RBrid any update on this? This is pretty important to us to get done so we can finish our UWP ui testing in the datagrid.

[2020-04-14 16:58] michael-hawker commented on #3237
I'm assuming it has something to do with the [BitmapEncoder](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/ImageCropper/ImageCropper.Helpers.cs#L39) settings, but I'm not too familiar with these APIs and how they work. @HHChaos do you have any insights to this?

[2020-04-14 22:14] aL3891 commented on #1056
Both of those are large (imo very large in the case of Fody) frameworks, what i was suggesting is basically a single class that would make implementing reactive ui alot easier regardless of framework.. i haven't looked at mvvm light in a while but i don't think either of them actually try to work with observables.

But it's clear you're not interested, it doesn't really seem like anyone ever even

[2020-04-15 02:09] #3080 closed

[2020-04-15 07:56] Pinox commented on #3080
@michael-hawker  It would be nice to have the prefetcher of images functionality that is within ImageEx and have that as a general image helper for use within normal image control also.

 Even although @hermitdave says

My gut feeling is even within UWP imageEx is a memory hog. I will see if I can put something together to prove my point in the next 2 weeks.

[2020-04-15 08:22] hermitdave commented on #3080
@Pinox this can be fixed by using x:load rather than visibility/opacity.

[2020-04-15 08:31] Pinox commented on #3080
thanks @hermitdave , will give it a try. I still need to figure out if I can replicate my issue in a separate project. Not sure if imageex is to blame it can also be a very lazy GC in UWP that is causing my problems.

[2020-04-15 08:58] hermitdave commented on #3080
@Pinox besides that issue which is having two images in memory (placeholder and desired), there is nothing additional done by ImageEx. Good luck finding the bug

[2020-04-15 13:35] JohnnyWestlake commented on #3237
So, this is encoded with the standard WIC PNG encoder using the [Automatic PNG Filter mode](https://docs.microsoft.com/en-us/uwp/api/windows.graphics.imaging.pngfiltermode?view=winrt-18362) which does compress, it just happens that the WIC codec isn't that great at compressing.

ImageMagik uses a much better non-MIcrosoft encoder.

[2020-04-15 13:44] Sergio0694 commented on #3230
I've added the new `Messenger` implementation, which completely avoids the use of reflection and is able to have no memory allocations at all when sending messages (and it's also faster than the messenger from `MvvmLight`). Here's a benchmark of the two `Messenger` class ([gist here](https://gist.github.com/Sergio0694/88f6967914853f64f8fa32fc0d9f29b2)), when sending a number of messages between mu

[2020-04-15 13:51] Daniil-BSD opened #3239 "HorizontalAlignment="Stretch" is broken."
HorizontalAlignment=" Stretch " Property is only effecting the header, the content overlay, and the background, but not the content itself.

The version is V.6.0.0.

## Steps to Reproduce
1) Create an adaptive width grid column
2) Add an expander to it
3) Add a small grid that does not fill up the whole column from step 1(but has no concrete width)
4) Set both the grid from step 3 and the Expander

[2020-04-15 14:03] pkar70 commented on #3237
Seems like it is not compression method problem at all...
Full picture (600x1024), 428 KB (439 180 bytes)
Cropped picture (295x344), 428 KB (439 180 bytes)
Same is true for all cropped pictures.

Binary comparison shows 41910 changed bytes (last changed offset A47B = (dec) 42107.
So, it writes good (compressed) data, but doesn't truncate file before write.

So, before ` Await flyoutImageCropper.Sa

[2020-04-15 14:12] JohnnyWestlake commented on #3237
I would say because it's taking a stream in and not a storage file, the method itself shouldn't resize the stream - but it should definitely be documented, perhaps even on the method signature.

Another take would be to take an optional parameter that defaults to setting the stream size to zero before writing (as I would imagine that's the vast majority of cases), and optionally lets it just write

[2020-04-15 14:48] TheJoeFin commented on #3233
@Kyaa-dost I cannot commit to working on this feature. I will experiment with a control on my end and see if this is something I think I can do.

@michael-hawker this issue is related to image rotation, but when looking at how other platforms do image adjustment there is a separation between rotation and straightening.

The iOS image editing tools has a rotate image and a straighten image control.

[2020-04-15 16:48] skendrot commented on #3239
To set the alignment of the content, use the `HorizontalContentAlignment` property and set to `Stretch`

[2020-04-15 16:48] #3239 closed

[2020-04-16 19:33] hansmbakker commented on #3230
About the IoC part: I would really like it if there would be a bit more standardization on dependency injection for UWP, like Asp.Net Core has. Benefits are a clearer approach for everybody (helps to find unified documentation) and aligned efforts rather than scattered efforts. In that sense, personally, I would rather see standardization on `Microsoft.Extensions.DependencyInjection`. I find the p

[2020-04-16 19:53] Sergio0694 commented on #3230
Hey @hansmbakker - glad you liked the performance improvements in the `Ioc` class! I'll try to go through all the various points that you and @skendrot raised one at a time.

Regarding the various closed PRs you linked, I feel like some context is important, specifically, the timing. Most of those issues are pretty old (some from 2017), and a lot of things have changed. If you mention the overlap

[2020-04-16 20:17] hansmbakker commented on #3230
I agree with a lot of things you say. And 👍 for creating this PR! There are a lot of useful classes in it, and if they are maintained in a nuget package (that can receive updates) it is [much better than one-time generation](https://github.com/microsoft/WindowsTemplateStudio/issues/2939).

One thing I am wondering about: are there many people who do MVVM without dependency injection? If not, would

[2020-04-16 20:23] Sergio0694 commented on #3230
@hansmbakker Glad to hear that! 😄

As for that quote, it actually refers to an old version of the PR - both the `Ioc` and the `Messenger` class now fully support DI now. In fact, I've also added some constructors to `ViewModelBase` to make it easier for people that use DI to pass those instances. At the same time, both classes also expose a static, thread-safe `Default` instance, so you're free to

[2020-04-16 23:36] michael-hawker commented on #3080
@hupo376787 if you're still having issues with the base `Image` control in an `ItemsRepeater` please file an issue with your repo steps above on the [WinUI](https://aka.ms/winuigithub) repo, thanks!

[2020-04-16 23:40] michael-hawker commented on #3233
Thanks @TheJoeFin for the detailed image. The original intent of this control was not to provide a replacement for a built-in photo editing app. That's what we were discussing in #3177 a bit as well. I think it'd be great to have helpers and flexibility for this control to support these scenarios, but I would leave the UX of how they all interact and get laid out to the developer.

i.e. the contro

[2020-04-17 00:01] michael-hawker commented on #1056
Hi @aL3891, I'm sorry you feel this way, I had looked at your code sample and discussed it in relation to some of our other recent discussions on this topic, which then lead to the discussion here in #3230. The toolkit is a large project with many moving parts; we really rely on folks taking action to move things forward.

I'd love to hear your insights from having worked in this space on the acti

[2020-04-17 00:03] michael-hawker commented on #3079
@DanielGlick45 Régis works on the WinUI team who manage the DataGrid, but they're heads down with WinUI3. If you have some cycles and could test out anything related to the information I dug-up above, that'd be much appreciated.

If you do discover any of the code can be tweaked to resolve the issue, please open a PR and we can get this into our 6.1 release in May.

[2020-04-17 01:45] #2986 closed

[2020-04-17 01:46] hupo376787 commented on #3080
OK, Thx.

[2020-04-17 01:50] #1502 closed

[2020-04-17 01:52] #2963 closed

[2020-04-17 01:54] #3022 closed

[2020-04-17 01:55] #2944 closed

[2020-04-17 09:22] Strypper opened #3240 "TitleControl enter debugger.break() when set ImageSource on XAML"
## Describe the bug
The title control break when I set ImageSource on XAML, but doesn't break when I add the ImageSource property back when it's on HotReload and work fine. I work around an easy fix is to set background inside the Page Constructor and it also work

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work: IDK

## Steps to Reproduce
Steps

[2020-04-17 11:08] Sergio0694 commented on #1056
Hey @aL3891 - please don't feel like we just ignored your issue and didn't even bother to check your code, that's not what happened! For instance, I went through your repo a few weeks back too.

Personally I'm afraid I don't really like the idea of that type though, for a number of reasons:

1. The type alone needs two separate NuGet packages just to make it work, specifically you're using `System

[2020-04-17 18:02] #3240 closed

[2020-04-17 18:07] Kyaa-dost commented on #1056
I couldn't agree more with @Sergio0694. As you know we receive volumes of requests in this repo on a daily basis and yet we still make certain every issue receives priority to be resolved. We have looked into this issue multiple times with different resolutions in the meetings but what @Sergio0694 highlighted above is really significant to understand.

Also, if anything you would like to mention p

[2020-04-17 21:46] skendrot commented on #3125
@MartinZikmund Are you [suppressing navigation transition](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Connected%20Animations/ConnectedAnimationsPage.xaml.cs#L41) when navigating backwards?

[2020-04-17 21:53] skendrot opened #3241 "Connected Animations sample does not show a real world example"
In the sample app (not an option when creating an issue) the connected animations sample is unrealistic. It just shows some purple squares. It would be better to show items a collection of unique items and display those instead.

I would recommend the photos samples.

[2020-04-18 23:02] azchohfi commented on #1951
@clairernovotny You are right. We need this fixed. Did anything change?
@michael-hawker any chance we can get this to 7.0?

[2020-04-18 23:03] #2915 closed

[2020-04-18 23:06] clairernovotny commented on #1951
What are you looking to see was changed?

I still recommend portable PDB's in the main nuget package. Also, while you're at it, ensure that deterministic builds are produced: https://github.com/clairernovotny/DeterministicBuilds

[2020-04-19 18:37] Sergio0694 commented on #3230
Relaying some updates here from the [UWP Discord server](https://discord.gg/zBA5aCn) to keep everyone up to date.

Following an extensive conversation with @Aminator and some prototyping, I went ahead and did a number of changes in #3229, specifically related to the dependency injection area:

- Completely nuked the old `Ioc` class/interface.
- The package now has a dependency on `Microsoft.Extens

[2020-04-19 19:09] hansmbakker commented on #3230
Really happy to see the direction you took!

[2020-04-19 23:24] hansmbakker commented on #3230
By the way, don’t the view models and views need to be registered with DI, too?

(I thought that is a common practice, but I didn’t pick that up from your description.)

[2020-04-20 01:46] Aminator commented on #3230
@hansmbakker Sergio wants to explicitly not use constructor injection and instead uses the anti-pattern where you access the `IServiceProvider` directly in your view model. The `ViewModelBase` accesses a static instance of the `IServiceProvider` by default, that's why it doesn't need to be registered as well.

This is the opposite to what I do in my apps. I always use constructor injection in my v

[2020-04-20 07:33] hansmbakker commented on #3230
@Aminator thank you for explaining that, I had not seen that intent / consequence!

@Sergio0694 I agree with @Aminator here, constructor injection with registered view models has the advantages that @Aminator describes, and furthermore it is a common practice (so it makes people "feel at home" quickly), why deviate from that? Is there a reason why you are doing it this way?

If this is going to be

[2020-04-20 10:59] Sergio0694 commented on #3230
We had an extensive conversation about this too with @Aminator while drafting the new APIs structure, and I'm actually a bit surprised to see my approach be referred to as an "anti-pattern" now, because it really itsn't. Or at least, it might technically be if you're trying to exactly replicate the architecture of an ASP.NET app, but that's not the point of this package. This is not `Microsoft.Too

[2020-04-20 12:12] hansmbakker opened #3243 "Use of CultureInfo in StringFormatConverter"
I'm trying to use the [`StringFormatConverter`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.uwp.ui.converters.stringformatconverter.convert?view=win-comm-toolkit-dotnet-stable#Microsoft_Toolkit_Uwp_UI_Converters_StringFormatConverter_Convert_System_Object_System_Type_System_Object_System_String_).

String formatting is often linked to a certain `CultureInfo` (numbers, dates, curr

[2020-04-20 12:24] StephenCleary commented on #3230
Regarding my MVVM helpers:

1. I would recommend taking the `NotifyTask` from [my GitHub](https://github.com/StephenCleary/Mvvm.Async); its API has gotten a bit better over the years.
1. I would *not* recommend using `AsyncCommand`. Possibly `IAsyncCommand` and an `AsyncCommandBase`, but that would be about it. There's just too much variation in what people expect for a single `AsyncCommand` to be

[2020-04-20 12:53] Sergio0694 commented on #3230
Hey @StephenCleary - thank you for chiming in!

1. I'm not really a fan of the `NotifyTask` class due to the way it basically duplicates and proxies every single property, whereas we can just bind directly from XAML to all of these, without even needing the second object at all. Have you seen my code example in the second part of [this message](https://github.com/windows-toolkit/WindowsCommunityTo

[2020-04-20 13:25] StephenCleary commented on #3230
I like how `SetAndNotifyOnCompletion` simplifies the implementation, and I love how it allows the VM property to be of type `Task<T>`, but I'm not wild about how it adds complexity to the end user:

1. The indirect binding syntax is more awkward.
1. This approach is more error-prone because the necessity of indirect binding for `Result` is not obvious. Your docs would all have to be *very* clear r

[2020-04-20 13:46] Sergio0694 commented on #3230
I'm really glad to hear you like how `SetAndNotifyOnCompletion` is structured 😊
As for your points:

1. It is more awkward, I agree, but thankfully that's only needed for the `Result` property, all the others can be bound to directly. Als I feel like as time goes by, developers should already be quite familiar with the `x:Bind` to function syntax at this point. And as you said, docs would also hav

[2020-04-20 17:49] Sergio0694 commented on #3230
Alright, so after another conversation with @Aminator I proceeded to make another small refactoring (https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3229/commits/86d3b49f5b3175f1c27d64efc8036abe434aea2f). The `Ioc.ServiceProvider` property is not faster as it doesn't lock anymore, and I've removed the `IServiceProvider` property from `ViewModelBase`, so that the resulting implement

[2020-04-20 18:52] michael-hawker commented on #3243
Hi @hansmbakker, it does look like we don't expose this parameter, you could add a property on the converter so it could be configured and make a PR.

In the meantime, you may be able to just call `sys:String.Format` directly in x:Bind?

[2020-04-20 19:12] hansmbakker commented on #3243
Given that [the meaning of the `ConverterLanguage` / `language` parameter is up for interpretation by the converter](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.data.binding.converterlanguage?view=winrt-18362#property-value), would you then agree that the `ConverterLanguage` parameter could be directly mapped to a [culture name that is supplied to a `CultureInfo` constructor](https://

[2020-04-20 20:06] michael-hawker commented on #2815
Re-opening this issue as @duke7553 was saying he was still encountering this issue.

@duke7553 would you be able to provide a small sample project that showcases the issue? Then we could link to in the issue text above. Maybe then it'd be easier for @RBrid to look again or a community member to investigate? Thanks!

[2020-04-20 21:44] duke7553 commented on #2815
@michael-hawker Thanks. I'm working on preparing the sample project now.

[2020-04-21 03:52] vijay180396 opened #3244 "how to access DataGridColumnHeader in UWP"
I am an beginner of UWP application.And i don't know why  DataGridColumnHeader cannot get access from Datagrid.
please mention how to get solve.

[2020-04-21 17:56] michael-hawker commented on #3243
@hansmbakker that's an interesting solution. It makes sense to me! 🙂

We could also do both, so if you want the culture info to be the same everywhere you can set it on the Converter's property in the resources, and otherwise you can do one-off on the binding with the `ConverterLanguage` or to override whatever default you've set?

[2020-04-21 18:31] virzak commented on #3216
Getting exact same problem when using controls from `Microsoft.Toolkit.Uwp.UI.Controls` so looks like it is not DataGrid specific issue. Noticed that none of the [official samples](https://github.com/microsoft/Xaml-Islands-Samples) use that library.

[code]

[2020-04-21 19:12] azchohfi commented on #3216
Can you try using the preview of 7.0.0? It has a bunch of XAML islands fixes.

[2020-04-21 19:47] virzak commented on #3216
@azchohfi

Thanks for looking into this.

[Upgraded](https://github.com/virzak/XamlIslandsDataGrid/commit/8c0d0bdf0e9ced06080e8ae46d08b5e4035bc4c8)

Microsoft.Toolkit.Uwp.UI.Controls -> 7.0.0-preview1
Microsoft.Toolkit.Uwp.UI.Controls.DataGrid -> 7.0.0-preview1

Microsoft.Toolkit.Wpf.UI.XamlHost -> 6.0.1
Microsoft.VCRTForwarders.140 ->

But still doesn't work.

Could you please give it a try? I wo

[2020-04-21 21:45] azchohfi commented on #3216
I ran your demo.
Your debug builds are using the reflection based Microsoft.UI.Xaml.Markup.ReflectionXamlMetadataProvider, which will not work on an unpackaged app. You can easily fix that by adding:
[code]
In your App1.csproj file and in your ClassLibrary1.csproj. Those are off by default on Release mode already.

[2020-04-21 21:46] azchohfi commented on #3216
![image](https://user-images.githubusercontent.com/527713/79917220-ed927c00-83de-11ea-9054-9e05a4243604.png)

[2020-04-21 23:26] virzak commented on #3216
It does indeed works in Release mode! But still not in debug mode, unfortunately.

My demo always had those [lines](https://github.com/virzak/XamlIslandsDataGrid/blob/8c0d0bdf0e9ced06080e8ae46d08b5e4035bc4c8/ClassLibrary1/ClassLibrary1.csproj#L157-L160) in the class library as per the [walk-through](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/host-custom-control-with-xaml-islan

[2020-04-21 23:31] azchohfi commented on #3216
Yes, I'm sure. I didn't switch to Release at any moment, and it was failing before I made the changes. Make sure to rebuild everything. I added it to both the class library and the app's csproj. I added them at the beginning of the file, not the end, but I don't think it would make a different. I usually add them at the end of the very first PropertyGroup.

[2020-04-21 23:57] virzak commented on #3216
Actually moving them to the beginning of the file was what did the trick!!! Now it works in debug mode as well. Thanks!

[2020-04-22 16:48] azchohfi opened #3248 "DataGrid should leverage the AutoHideScrollBars property from UISettings, which is now available"
## Describe the bug
UISettingsHelper have a TODO method always returning true, saying that it should be updated once UISettings have the AutoHideScrollBars. 18362 added that capability. There is also another mention to that on DataGrid.cs, on a commented method named AutoHideScrollBarsChanged.

[2020-04-22 17:38] Kyaa-dost commented on #3248
@anawishnoff @RBrid FYI  ⬆️

[2020-04-23 17:11] michael-hawker opened #3249 "StaggeredPanel left/right keyboard navigation doesn't work"
## Describe the bug
When using the keyboard to navigate a StaggeredPanel, you can only use up/down arrow keys to navigate between items. I'd expect left/right to work as well.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Open StaggeredPanel sample in sample app
2. Click on an item in the list
3. Use up/down arrows to navigate between items, to say item 2
4. Try and hit right arrow to

[2020-04-23 19:13] #3008 closed

[2020-04-24 02:29] h82258652 opened #3250 "ImageEx performance is very poor while loading lots of images at the same time"
## Describe the bug
If there is a page with lots of different images and load them use the ```ImageEx``` control, it will block the UI long time.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Create a blank page.
2. Add lots of ```ImageEx``` controls to the page and the ```IsCacheEnabled``` to true.
3. Set different sources to each ```ImageEx``` control.
4. Navigate to this page and i

[2020-04-24 19:39] MovGP0 opened #3251 "SortDescription should get default constructor to be used in XAML"
## Describe the problem this feature would solve

There is no default constructor on `ui:SortDescription`, so I cannot use them in XAML like:

[code]

## Describe the solution

There should be a default constructor on the class and the properties should be bindable in XAML.

## Workaround

It is currently only possible to set it in code behind:
[code]

[2020-04-24 20:02] skendrot commented on #3251
It should probably be changed to a struct

[2020-04-24 21:42] michael-hawker opened #3252 "[Feature] Update Designer Metadata to new VS2019 Model"
## Describe the problem this feature would solve
In VS 2019 they changed the model on how the designer loads metadata for components. See article here: https://github.com/microsoft/xaml-designer-extensibility/blob/master/documents/xaml-designer-extensibility-migration.md

The toolkit should update our designer metadata assemblies to align to this new pattern.

[2020-04-25 04:08] JasonStein opened #3253 "Accessible_HighContrastChanged threading issue in dev/7.0.0 impl of ThemeListener"
This is regarding to the new dispatcher queue implementation of ThemeListener in dev/7.0.0 branch.

I made a copy of it and embedded it in my own app. Then I am start to seeing this weird exception from some of my users:

![](https://cdn.discordapp.com/attachments/669640275500466197/702700635149041784/Screen_Shot_2020-04-22_at_7.00.36_PM.png)

Taking look at the source code, I found this:

![](htt

[2020-04-25 04:10] JasonStein commented on #3253
@azchohfi

[2020-04-26 12:09] ST-Apps commented on #3077
Why do you say that? You're matching the first `999` substring, so you're matching on regex101 too (hence the green background on the part before the dot).

I think that your issue is with your regex, can you please try with this one and report back?
`^\d+(,\d+)?$`

[2020-04-26 16:26] gensleralexander opened #3254 "MarkdownTextBox does not show complete MD Text"
## Describe the bug
A clear and concise description of what the bug is.
I bind a markdown string to the MarkdownTextBox, however on some strings, the textbox only shows some parts of the string (e.g. the last part). The string is loaded from my github project's latest release changelog. When I debug the app, the string is completely downloaded, the bug must occur inside of the markdown textbox.

-

[2020-04-27 06:41] vijay180396 commented on #3244
by adding
xmlns:Prim="using:Microsoft.Toolkit.Uwp.UI.Controls.Primitives" in Xaml file
before adding this must include in
xmlns:controls="using:Microsoft.Toolkit.Uwp.UI.Controls

and implement the source
<Grid>
        <controls:DataGrid x:Name="EmployeeGrid"
                  ItemsSource="{x:Bind Persons}"
                  AutoGenerateColumns="False">
            <controls:DataGrid.Columns>

[2020-04-27 17:20] Kyaa-dost commented on #3254
Hi @gensleralexander. Thanks for opening this issue. Is this something you would like to work on, open a PR?

[2020-04-28 20:56] aL3891 commented on #1056
@Sergio0694
Fair points. I would argue though that i have not pitched this as a mvvm framework or replacement, i even said back in 2007 that this is something much smaller. My impression, certainly at the time of making this issue, was not that the wct was strictly a mvvm focused library but rather a collection of utilities to make writing xaml apps easier, of course that might have changed over t

[2020-04-28 21:40] michael-hawker opened #3257 "WrapPanel ignores Right Padding value of Parent"
## Describe the bug
WrapPanel doesn't respect the parent padding when in a ListView.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to WrapPanel sample in toolkit
2. Modified to use padding on ListView parent:

[code]

## Expected behavior
Padding to be respected on Right-side of ListView as well.

## Screenshots
![image](https://user-images.githubusercontent.com/24302614/80539294-1

[2020-04-28 22:39] skendrot commented on #3257
This appears to be an issue with how the scrollviewer is setup. Panels have no knowledge of the parent ItemsControl Padding. Only their own Padding

[2020-04-28 23:02] r2d2rigo commented on #3063
Just started using ImageEx and I'm experiencing the same issue at random intervals.

[2020-04-29 04:34] michael-hawker commented on #3063
Nothing changed in ImageEx between 5.1.1 and 6.0.0 (the code wasn't touched last year at all in fact). There has to be some other tooling/dependency issue going on here, @Kyaa-dost can you try again with a VS 2019 16.5.x build as that seems to be some commonality above?

The only hint is what @rku-agnitio pointed to [here](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3063#issu

[2020-04-29 04:36] michael-hawker commented on #3257
@skendrot this works fine in the default ListView setup with ItemsStackPanel, so it's doing something special. I mean it may just be reaching up for padding info, but I figured I'd start here and ask the WinUI folks.

[2020-04-29 04:47] michael-hawker commented on #1056
@aL3891 really appreciate all your feedback. The toolkit is constantly evolving and has gone through numerous transitions since this issue was originally raised.  I did want to comment on this:

Part of what I meant by this too is not just about someone pinging repo owners asking if a feature should be included, but about multiple folks in the community coming together to rally an issue and a cont

[2020-04-29 06:41] FrancescoCarraro opened #3258 "ImageEx causing 'Access violation' exception"
Hi,
I'm writing UWP app for pictures visualization. I'm using ImageEx for loading pictures asynchronously but latest version of toolkit is causing me 'Access violation' exception that was making me crazy. The issue has been solved by downgrading toolkit to version 5.0

Following the environment:
Windows 10 update 1909, build 18363.815,
VS version 16.5.4
app target: min and max both: 1903,
Device f

[2020-04-29 13:18] jeansusgodney commented on #2992
pls answer this

[2020-04-29 17:31] XamDR opened #3259 "[Feature] Ribbon control"
## Describe the problem this feature would solve
Nowadays there is no Ribbon control for UWP development, so in order to develop apps with a style similar to Office apps, one has to use workarounds like implement similar behavior with a TabView and/or a CommandBar. But this just make things more complicated than it should be.

## Describe the solution
Therefore in order to make easier to develop O

[2020-04-29 20:23] michael-hawker commented on #3259
Thanks @XamDR for the issue. I know there's been a revival of this discussion lately. I can sync more with the WinUI folks about this topic, I know they're busy with WinUI 3, so that's why not as many of the new control requests are getting funded at the moment.

A port of the WPF one at least could be an interesting starting point though. 🤔

[2020-05-01 00:36] michael-hawker commented on #3252
Just realizing the new C# source generator features could help with this in the future, no?

[2020-05-02 06:53] hez2010 commented on #3064
Consider this ViewModel:
[code]

Now you need to insert plenty of entries to the list:
[code]
which will lead to long-time UI frozen.

But with Dispatcher.YieldAsync():
[code]
It can make UI response while inserting to the list.

[2020-05-02 11:37] Sergio0694 commented on #3064
I'm not sure I'm following your example 🤔

If you use the MVVM pattern, that list would be in your viewmodel, and you'd do all operations from there - the `ListView` would simply bind to that collection, but you'd never modify it from code behind. And your viewmodel wouldn't be able to use that `YieldAsync` call anyway, as it would have no concept of what a `Dispatcher` is at all, as that's a UI-r

[2020-05-02 14:57] hez2010 commented on #3064
@Sergio0694  Actually you can get a Dispatcher from `CoreApplication.MainView.Dispatcher`

[2020-05-02 15:21] Sergio0694 commented on #3064
Yeah I know that, I never said that retrieving a `Dispatcher` outside of a view is not possible.
What I said is that:

- You should have your viewmodels either in a separate .NET Standard project, or anyway just act like they were and write them without assuming any UI-specific API being present. `Dispatcher` is strictly a UI specific API, and as such it should never be used from a viewmodel - it

[2020-05-02 15:59] MartinZikmund opened #3261 "[Feature] MasterDetailsView.SelectedIndex"
## Describe the problem this feature would solve

It would be nice if the `MasterDetailsView` had a `SelectedIndex` property in addition to `SelectedItem`. This would make it easier to select items "positionally" (thinking a wizard-like scenario).

## Describe the solution

Add a `SelectedIndex` property, in sync with `SelectedItem`.

## Describe alternatives you've considered

N/A

## Additional

[2020-05-02 16:00] MartinZikmund commented on #3261
I would love to implement this feature, so if it sounds like something that would be useful, please assign it to me :-) .

[2020-05-02 16:06] hez2010 commented on #3064
Thanks. I'll try out the new `DispatcherQueue`, and I'm closing this PR.

[2020-05-02 16:06] #3064 closed

[2020-05-03 03:00] dpaulino opened #3262 "[Bug] AdvancedCollectionView sorting a WinUI TreeView seems to cancel tree node re-orderings"
## Describe the bug
When using an AdvancedCollectionView as the item source for a WinUI TreeView, any changes in the node structure of the tree seems to be reversed or canceled by a sort.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Clone this repo: https://github.com/dpaulino/tree-

[2020-05-03 10:20] forderud opened #3263 "WebView control incompatible with low-integrity processes"
## Describe the bug
I'm unable to add a [Microsoft.Toolkit.Forms.UI.Controls.WebView](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/wpf-winforms/webview) control in my C# WinForms application if the process is running in [low integrity](https://docs.microsoft.com/en-us/previous-versions/dotnet/articles/bb625960(v=msdn.10)) mode. This makes me unable to display web content with

[2020-05-04 09:47] hez2010 opened #3264 "Really poor performance for DataGrid.SelectedItems.Add()"
## Describe the bug
The performance of `DataGrid.SelectedItems.Add()` is very poor.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Create a DataGrid with thousands of data items.
2. Use `foreach (var i in items) DataGrid.SelectedItems.Add(i)` to select them all.

## Expected behavior
All items should be selected in a short time.

## Actual behavior
The process is very slow, every entry

[2020-05-04 11:47] Kyaa-dost commented on #3264
@anawishnoff FYI  ⬆️

[2020-05-04 11:58] Kyaa-dost commented on #3263
pagoe-msft ⬆️ FYI

[2020-05-04 12:17] Kyaa-dost commented on #3261
@MartinZikmund Thanks for considering this feature. Let's see what devs think about this.

[2020-05-04 13:52] Sergio0694 opened #3265 "[Feature] APIs to one-time subscribe to/await events"
## Describe the problem this feature would solve

This issue is about having some APIs to allow users to subscribe to events just once, or to asynchronously await for an event to be raised, without having to manually define the handler, register/unregister the event from within the handler, and setup `Task`-s to await if needed.

_**Note:** that this issue is mostly just to gather feedbacks and di

[2020-05-04 16:27] anawishnoff commented on #3264
Thanks for filing this @hez2010! I'm wondering if DataGrid can take advantage of ListViewBase's [SelectAll method](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.listviewbase.selectall?view=winrt-18362). @michael-hawker  or @RBrid does DataGrid use ListView behind the scenes?

[2020-05-04 17:03] RBrid commented on #3264
No - it does not.

[2020-05-04 17:26] anawishnoff commented on #3264
@RBrid Thanks. In that case, it would definitely make sense to add some kind of SelectAll and DeselectAll functionality to DataGrid. We are currently not adding new features to the Windows Community Toolkit DataGrid but are in the  process of conceptualizing a DataGrid for WinUI - I'll add this to our list of features.

[2020-05-04 22:26] skendrot commented on #3261
I don't see any reason to not add it. @MartinZikmund if you're up for the task I say go ahead!

[2020-05-05 04:22] michael-hawker commented on #3264
@anawishnoff this could be another push for the core .NET issue [here](https://github.com/dotnet/runtime/issues/18087) as well for Observable/Collection to support `AddRange` too, eh?

[2020-05-05 14:29] #3241 closed

[2020-05-05 17:52] AbdAlghaniAlbiek opened #3266 "Extension (IsCharacterString()) give false state when I enter space or tap"
In Extensions session (IsCharacterString()) when I enter space or tap in textbox that check if all characters inside it are only letters not numbers or operators ->  give me false state  such as:
textbox.Text = Howareyou? -> true
textbox.Text = How are you? -> false

[2020-05-05 19:08] Kyaa-dost commented on #3266
@AbdAlghaniAlbiek can you please provide more detail on this? The steps you are taking or add a screenshot would be great.

[2020-05-05 19:23] AbdAlghaniAlbiek commented on #3266
I hope that but github doesn't support uploading images
I'll give you an example on my situation:

sting testText = Hello Kyaa;
if(testText.IsCharacterString()){
    Debug.Writline("Valid") ;
}
else{
   Debug.Writeline("Not valid");
}

==> Not valid

you can see that there isn't numbers or operators it should be valid but when I enter on space or tap it give me Not valid
I want to ignore spaces an

[2020-05-05 19:42] Kyaa-dost commented on #3266
@AbdAlghaniAlbiek is that the code you are using? Seems like 'Writeline' is missing an e in the third line and string in first?

[2020-05-05 23:05] AbdAlghaniAlbiek commented on #3266
No this is just example I have written on github

[2020-05-05 23:08] AbdAlghaniAlbiek commented on #3266
No this is just example I have written on github

[2020-05-06 00:33] michael-hawker commented on #3108
I think we've got the smaller more portable items over in 6.1 already, but there's still a bulk of the 'Animation' part to coordinate for 7.0, so I'm going to move this to track that work for that release.

[2020-05-06 01:02] yoshiask commented on #3123
I just tried this in version 6.0.0 of the Sample App, and it does not crash. However, as long as a code block is contained in a link, the `MarkdownTextBlock` is not updated.

[2020-05-06 06:06] Kyaa-dost commented on #3266
@AbdAlghaniAlbiek That makes sense. Thanks for clarifying 👍

[2020-05-06 07:24] h82258652 commented on #3258
I found the problem, it is the framework bug.
https://github.com/microsoft/microsoft-ui-xaml/issues/2389

Maybe we should add some check codes before listening to the ```EffectiveViewportChanged``` event.

[2020-05-06 13:22] Aberro opened #3268 "UnauthorizedAccessException in UIElement."
## Describe the bug
Consecutive changing two properties of a UIElement causes exception.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Create UWP application with following code:
[code]
2. Run it
3. See error

## Expected behavior
No exception.

## Screenshots
![image](https://user-images.githubusercontent.com/3986884/81181556-50763c80-8fb5-11ea-9026-30b659806a1a.png)

## Environment

[2020-05-06 13:25] Aberro commented on #3268
This should be considered as an error, because calling property setters should change objects atomically, without necessity to skip one frame, or wait for completion, or calling any other method, also, there's no mentioning of such behavior in documentation.

[2020-05-06 16:03] Kyaa-dost commented on #3249
I am able to reproduce this as well.

[2020-05-06 17:22] Kyaa-dost commented on #3073
@RBrid any update on this? CC: @anawishnoff

[2020-05-06 17:25] Kyaa-dost commented on #3097
@zipswich was this added in the doc?

[2020-05-06 18:11] skendrot commented on #3249
There isn't really a concept of an item to the right or left of any other item **except** for the first row. Once you are past the first row which element is to the right or left? There could be 1 item directly beside it or 10 items directly beside it.
That aside, navigation is controlled by the GridView that the sample uses. Panels do not directly support navigation of items. That is handled by t

[2020-05-06 18:17] michael-hawker opened #3270 "[Repo] Create Solution Filters or some solution for managing size of toolkit"
## Describe the problem this feature would solve
The toolkit is huge. We tried breaking out the graph controls, but that caused it's own issues with dependencies. We need a solution which allows us to build the toolkit in its entirety, but at the same time make it easier to have a fast dev cycle for development of specific components be it .NET specific, a certain control, etc...

Ideally too the

[2020-05-06 21:41] michael-hawker commented on #3268
Hi @Aberro this repo is for issues specific to the Windows Community Toolkit. For platform issues like yours, you'll need to file them on the [WinUI repo](https://aka.ms/winuigithub). Unfortunately, I can't auto-transfer it outside of our toolkit organization.

FYI @codendone

[2020-05-06 21:56] michael-hawker commented on #3266
@AbdAlghaniAlbiek the purpose of this method was to validate letter characters only (a 'space' is not a letter); it doesn't accept spaces as valid input as you've discovered by design.

The RegEx driving this is here:

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/c65d6486952dec37f4a219ec177eb2709bb51c79/Microsoft.Toolkit/Extensions/StringExtensions.cs#L25

If you'd like, you cou

[2020-05-06 22:43] Sergio0694 commented on #3266
@michael-hawker If the regex is just that, you can replace that with a linear search and a comparison of the value of each character, to make sure it's within the valid range. `[A-Z]` in Unicode corresponds to the `[65, 90]` range, and `[a-z]` is `[97, 122]`. The method can be implemented like so:

[code]

I'm using `unchecked` for clarity to indicate that the subtraction will intentionally overfl

[2020-05-07 02:07] michael-hawker commented on #3266
Thanks @Sergio0694, figured you'd have some great tips. Think it could be a good solution for now, but am still curious on the localization bit and the meaning of 'character'. Would be interested to know what some other folks think about these types of methods.

It'd be good to hear some scenarios of where this is being used. @AbdAlghaniAlbiek can you share your scenario with us? What are you tryi

[2020-05-07 07:05] EvilBozkurt opened #3271 "can you help this newbie?"
Microsoft Visual Studio Community 2019 Version: 16.5.4

i am trying to connect my form from other form. for this i writing code like this: Form2 frm2 = new Form2();

when I call this code i have a error like this https://prnt.sc/sce5r1

Sorry for this English :) Can you help me about this?

[2020-05-07 13:12] gwinnem opened #3272 "InappNotification crash"
## Describe the bug
I have this issue only when running a uwp app in Release mode.
When running in Debug there is no problem.

Exception thrown: 'Windows.UI.Xaml.Markup.XamlParseException' in System.Private.CoreLib.dll
WinRT information: Cannot deserialize XBF metadata property list as 'AnimationDuration' was not found in type 'Microsoft.Toolkit.Uwp.UI.Controls.InAppNotification'. [Line: 0 Positio

[2020-05-07 15:08] bolyb opened #3274 "[Feature] Add Check If Directory Exists and File Copy to StorageFileHelper"
## Describe the problem this feature would solve
The toolkit [StorageFileHelper](https://docs.microsoft.com/en-us/windows/communitytoolkit/helpers/storagefiles) still lacks many common file functions that are found in other Microsoft storage APIs.

## Describe the solution
It would be nice if the [StorageFileHelper](https://docs.microsoft.com/en-us/windows/communitytoolkit/helpers/storagefiles) ha

[2020-05-07 17:20] mfeingol commented on #3093
Anything I can do to help with this one?

[2020-05-07 19:15] michael-hawker commented on #3093
@mfeingol there are new changes in the PR #3256, but I don't think they'd be related to this, so not sure if it's worth testing this scenario again with those.

_But do you happen to know which version you used before where it last worked?_ Knowing if you have a version of the toolkit and NetCore base NuGet packages that do work would give us a comparison point to see what might have changed since

[2020-05-07 19:19] mfeingol commented on #3093
Unfortunately, I don't, sorry. There was a stretch of maybe 2-3 months before the moment I filed this GHI where the notifications feature wasn't really being used by anyone. I tend to stay current on toolkit updates, so that may provide you with a rough timeline.

Best guess is something in the library started using reflection that wasn't before.

If it helps, btw, I could put together a small rep

[2020-05-07 22:33] zipswich commented on #3097
@Kyaa-dost Sorry I have not got a chance to do anything.  I am not well versed in PR.  😀

[2020-05-08 00:06] michael-hawker commented on #3093
@mfeingol a small repo project would be super valuable, especially if we need to get insight from another team about other parts of the platform, makes it easy to hand-off to them without them needing to understand how to build the full toolkit.

[2020-05-08 02:15] mfeingol commented on #3093
Here you go:

https://github.com/mfeingol/repros/tree/master/NotificationsRepro-3093

Note the difference between the toasts when .NET Native is enabled vs disabled. You can enable .NET Native in project build properties on the debug build, or just compare debug vs. release.

[2020-05-08 19:26] Kyaa-dost commented on #3272
@gwinnem I am not able to reproduce this. Can you please provide more details on this? the steps you are taking from beginning to end as mentioned in the Issue Template. Also, include gifs or screenshots if possible.

[2020-05-08 19:33] Kyaa-dost commented on #3274
Hi @bolyb, Thanks for considering these options. Is this something you can work on? Also, Let's see what our devs think about this proposal.

[2020-05-08 19:41] Kyaa-dost commented on #3271
@EvilBozkurt I am not able to follow this as to why you should be receiving this error. Can you please provide more info and the steps you are taking by following the [Issue Template](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/.github/ISSUE_TEMPLATE/bug_report.md)

[2020-05-09 05:46] #3272 closed

[2020-05-09 05:46] gwinnem commented on #3272
Looks like this is related to visual studio

[2020-05-10 18:41] Aberro commented on #3268
Ok, I've submitted bug report there.

[2020-05-10 18:41] #3268 closed

[2020-05-12 16:12] bolyb opened #3277 "StorageFileHelper WriteTextToFileAsync Throws Exception on second call"
## Describe the bug
The second time StorageFileHelper.WriteTextToFileAsync is called from a UWP app pointed at the same file, an exception is thrown because the lock on the file is never released by the first call.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Call await StorageFileHelper.WriteTextToFileAsync(); on a given file. My file is located in the User's documents library in th

[2020-05-12 16:22] #3212 closed

[2020-05-12 22:11] AbdAlghaniAlbiek opened #3278 "[Feature] Improve MasterDetailsView Templating"
In master details control I noticed that I can't implement gridViewItem style to ItemContainterStyle of this control because the master section inside it is 'ListView' not GridView
So why do we making the template for entire master section not only ItemContainerStyle .. like in details seciton you can make the template that you want (adding listView, GridView or any countrol you want inside detail

[2020-05-13 00:32] Kyaa-dost commented on #3278
Adding GridView would be a good option but I am not sure about the feasibility within this control. Also if you would like to work on this feature please feel free to contribute. Meanwhile, let's see what our devs think about this 🤔

[2020-05-13 02:36] AbdAlghaniAlbiek commented on #3266
string[] txtName = txtName.Text.Split(" ");

                for (int i = 0; i < subTxtName.Length; i++)
                {
                    if (subTxtName[i] != "")
                    {
                        //Check if there is Unvalid Name format
                        if (!subTxtName[i].IsCharacterString())
                        {
                            return false;

[2020-05-13 07:50] h82258652 commented on #3277
I can't reproduce the problem on my machine.
Test code:
[code]

@bolyb Can you create a simple reproducible repo?

[2020-05-13 19:08] oenarap opened #3279 "TextBoxMask TextChanging event handler bug"
[TextBoxMask ](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI/Extensions/TextBoxMask/TextBoxMask.cs) leaves an artifact (i.e., old Text value) when a new value is set. (in my case, thru data binding)

since this is just a subtle bug, please allow me to not comply with your required details for this report.

and let me get you directly where i found

[2020-05-13 19:40] #3218 closed

[2020-05-13 20:18] vsfeedback opened #3280 "uwp app crashes when running with release config"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1021646/uwp-app-crashes-when-running-with-release-config.html)._

---
<p>[regression] [worked-in:16.5.3]<br>
Windows.UI.Xaml.Markup.XamlParseException<br>
HResult=0x802B000A<br>
Message=Der Text zu diesem Fehlercode wurde nicht gefunden.</p>
<p>Cannot deserialize XBF metada

[2020-05-13 22:49] michael-hawker commented on #3279
Thanks @oenarap for the report! If you have a fix, do you want to make a PR?

[2020-05-13 23:26] michael-hawker commented on #3280
I just built the sample app in release mode and had no troubles with the InAppNotification control.

[2020-05-13 23:26] #3280 closed

[2020-05-13 23:28] MartinZikmund opened #3282 "PlatformSpecificAnalyzer does not suggest any fixes"
## Describe the bug

I am not able to get any suggestions from Platform Specific analyzer. My app targeting 18362 uses `ThemeShadow`, which is not available in earlier versions. My min version is set to 16299, but Analyzer does not show any suggestions that the code will not actually work there. Is there some step I am missing (except for installing the analyzer NuGet package?)

Visual Studio vers

[2020-05-14 00:56] oenarap commented on #3279
Thanks @michael-hawker!

PR would be fine with me. For the meantime though, changes i can make could be just a copy of my quick fix included in the bug report. It worked for me, but i'm sure you guys can come up with a better one.

All best!

[2020-05-14 04:53] michael-hawker commented on #3282
Hey @MartinZikmund thanks for filing an issue, this is a known one though: https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/2999

When the analyzers were originally added, they were just comparing between a couple of versions, so they've been a bit harder to adapt to handling versions since apparently.

Any suggestions or input on that conversation would be most welcome, thanks!

[2020-05-14 06:08] oenarap opened #3284 "Linked Master-Details View"
## Maximize usage of available screen(s) real estate by allowing multiple master-details be displayed at a time.
I am wishing for a feature that is kind of similar to [Fabian Sauter's MasterDetailsView PR](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3173) but taken a little further.

## Describe the solution
Imagine having all your displayable master-details view(s) rolled-out

[2020-05-14 14:29] znakeeye opened #3285 "WebViewCompatible.Navigate hangs indefinitely when process is elevated"
The `WebViewCompatible` control is completely broken when the process is run as administrator. Simply create a WPF app, reference the NuGet (6.0.1) and add the following code. Run as administrator and watch the UI hang - forever.

## Sample code

[code]

[code]

## Environment

[code]

## Additional context
Targeting `.NET Framework 4.7.2.`.

[2020-05-14 14:34] znakeeye opened #3286 "WebViewCompatible.Navigate hangs indefinitely when called from view constructor"
Create a WPF app, reference the NuGet (6.0.1) and add the following code. When run, it hangs indefinitely.

## Sample code

[code]

## Environment

[code]

## Additional context
Targeting `.NET Framework 4.7.2`.

[2020-05-14 14:50] znakeeye commented on #3285
From Event Viewer:

[code]

[2020-05-14 16:26] skendrot commented on #3278
Duplicate of #1187

[2020-05-14 16:26] #3278 closed

[2020-05-14 17:19] Kyaa-dost commented on #3285
@pagoe-msft FYI ⬆️

[2020-05-14 17:26] Kyaa-dost commented on #3286
@pagoe-msft ⬆️ This is also related to #3285

[2020-05-14 22:23] #3261 closed

[2020-05-15 05:42] Kyaa-dost commented on #3284
@oenarap looks like an interesting feature to have but not sure about the work it would require as you have emphasized the complexity 🤔

[2020-05-15 15:19] skendrot commented on #3284
This does seem like a good use for the BladeView. In your "optimal" screenshot, wouldn't you want to view the the details of Mr. Potter and his personal information since that's currently selected?

[2020-05-15 18:12] michael-hawker opened #3288 "Update & Consolidate NuGet packages"
## Describe the bug
We have a few NuGet packages which we can Consolidate as well as update.

There's also a deprecated `Microsoft.SourceLink.Vsts.Git` package which I think we can just remove? @azchohfi?

We do need to fix the style in the Sample App to move to WinUI 2.4 though, so that'll be a bit of work. Otherwise, I think everything else should be fairly straight-forward and safe?

[2020-05-15 18:47] #3114 closed

[2020-05-15 19:43] #3107 closed

[2020-05-15 20:51] oenarap commented on #3284
@skendrot the second pane visible in "optimal" screenshot is some sort of quick view of a person's details most relevant to the user. the lower part serves as a navigation list.

anyway, the content is not supposed to be the issue.

as i've mentioned in the "alternatives", BladeView and MasterDetailsView are two closest to fit my scenario. it's just that i get lots of friction when i try to achiev

[2020-05-15 21:30] Nirmal4G commented on #3252
this is me

[2020-05-15 21:34] michael-hawker commented on #3252
@Nirmal4G has volunteered to take a look at this initial investigation, thank you so much for taking a look, let us know what you find! 🦙❤

Let us know if this looks straight-forward.

(FYI, our code-complete for 6.1 is May 21st; however, I think this would constitute a breaking change, even though it's been long-overdue. So, we'd probably just delegate it to the 7.0 release later this summer when

[2020-05-16 00:34] michael-hawker commented on #3284
Thanks for this great suggestion @oenarap! I could almost definitely see this as an option on BladeView somehow. It really feel similar in layout/behavior to that (outside of this collapsing behavior).

I mean the Master/Details vibe does show in your example, but I think that could still be left to the developer and manipulated via separate blades? Maybe we also need an option for BladeView to re

[2020-05-16 00:40] michael-hawker opened #3289 "TokenizingTextBox remaining issues"
## Describe the bug
Follow-ons from #3247 review.

- [ ] E-mail sample doesn't work in Release Mode???
- [ ] Extra padding below tokens in style (looks like TextBox is pushing box taller?) - @JustinXinLiu I haven't been able to figure out where this is from as it was working ok in our test environment, would you have time next week to take a look? Thanks!
- [ ] Rounded corners on Tokens/Box? (had

[2020-05-16 00:49] #195 closed

[2020-05-16 00:58] michael-hawker commented on #3289
For the release mode issue:
![image](https://user-images.githubusercontent.com/24302614/82106422-b2c9ee00-96d5-11ea-8dfb-55c2149501d7.png)

[2020-05-16 10:31] oenarap commented on #3284
Thanks @michael-hawker!

i'll be glad to go either way. if you let me take on it alone, fine. if you want me to collaborate, it's just the same coffee. so long as this idea gets "adopted and improved" by the community, it's a big win for me and perhaps, everybody.

[2020-05-16 10:37] oenarap commented on #3279
hi @michael-hawker. any particular branch that i may be allowed to make a PR?

[2020-05-16 10:51] michael-hawker commented on #2929
Thanks @danwalmsley, as far as I can tell we're correctly passing this down to the `DropShadow` API in the system to set it's `Offset` property.

@ranjeshj does [DropShadow](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Composition.DropShadow?view=winrt-19041) ignore the Z value of it's Offset? It appears that examples in the docs set it different values, but then the [Composition](https://g

[2020-05-16 20:18] Nirmal4G commented on #3252
I'm working on it, but I don't know how l was unassigned.

[2020-05-16 20:21] Nirmal4G commented on #3252
I'm working on it, but I don't know how l was unassigned. Somehow deleting the previous comment removed my assignment.

[2020-05-17 07:42] yoshiask opened #3290 "ViewportBehavior sample is empty"
## Describe the bug
The sample page for `ViewportBehavior` is broken because the type `ViewportBehavior` could not be found.

This is the first time I've noticed the issue, though it's probably not a regression.

## Steps to Reproduce
1. Go to the ViewportBehavior sample page
2. Sample area is empty, look at the XAML
3. See error on line 17, position 53

## Expected behavior
The sample should be a

[2020-05-17 08:05] michael-hawker commented on #3290
Thanks @yoshiask!

This is due to .NET Native optimizing out the type for release mode and how we dynamically load the XAML in the samples for our cool sample app experience.

Basically, a 'dummy' version of whatever type is being used needs to be copied into the Sample Page's XAML [here](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.SampleApp/SampleP

[2020-05-17 08:08] yoshiask commented on #3290
@michael-hawker Yeah, I'd love to help fix this! I'll take a look at those docs.

[2020-05-17 08:33] michael-hawker commented on #3290
@yoshiask if you haven't built the toolkit yet, I'll have a video going up in the morning explaining how to do that. :)

[2020-05-17 08:35] michael-hawker commented on #3252
@Nirmal4G no worries, GitHub is odd sometimes, I've placed it back to you. Thanks for taking a look!

[2020-05-17 08:53] michael-hawker commented on #3284
Thanks @oenarap, it would be great to see what you come up with!

Since we already have the `TitleBarVisibility` flag on `BladeView`, I see that this could be a combination of:

1) Modernizing the BladeView style (@mdtauk & @niels9001 - fancy a gander? 🦙❤)
2) Making it easier to have Blades adapt to their Content's sizing (I think they're pretty stiff currently).
3) Adding a new `BladeMode` proper

[2020-05-17 09:49] michael-hawker commented on #3289
Good news is that the People Picker was quick to test out with the new control:

![image](https://user-images.githubusercontent.com/24302614/82141169-e9dcf400-97e8-11ea-88c3-cbe42088fa05.png)

It apparently didn't inherit from the control though, so we should modify that to better expose the collections/events directly. Will need to do that next for more testing.

You'll note in the screenshot tho

[2020-05-17 12:16] mdtauk commented on #3284
The only thing I would suggest, is to consider how this kind of control would work with the two pane view, and for dual screen scenarios.

This kind of UI may be cumbersome for the user

[2020-05-17 12:36] Sergio0694 commented on #3284
@michael-hawker Yeah you're correct, I do have something like this in both OneLocker and Legere. I wrote my own shell that I'm reusing across both apps (with some modifications), which includes two main panels (à la master-slave), and two additional side panels. The navigation system bounces back and forth between the two main panels and keeps a navigation history across them, so that when you shr

[2020-05-17 19:57] oenarap commented on #3284
@michael-hawker i agree the BladeView would offer the best springboard for this.

with that said, i think we can dismiss any concern about reusability. anyone?

@mdtauk if BladeView provides in-built functionality to split between two BladeViewItem to accommodate two-pane or multiple-screen scenario, then users should be able to focus their time and energy on the contents. and based on my understa

[2020-05-17 20:07] oenarap commented on #3284
@michael-hawker i mean, i agree on all those point you enumerated. and by the way, the NavigationView in the screenshots just serves as a host. thanks!

[2020-05-18 01:44] RobbyRobbyRobby commented on #3274
Can I suggest this might get everyone started:

[TryGetItemAsync()](https://docs.microsoft.com/en-us/uwp/api/windows.storage.storagefolder.trygetitemasync?view=winrt-19041)

Returns null instead of raising an exception.

[2020-05-18 13:31] cirrusone opened #3292 "[Feature] Propertygrid control"
## Describe the problem this feature would solve

Visual Studio has an excellent propertygrid and it would be good to have a similar control inside our own applications to align with WinUI design. Hand building controls are both time consuming and awkward to align on both vertical and horizontal axis when aligning property name(s) and value(s), existing libraries are often missing features or desi

[2020-05-18 19:03] michael-hawker commented on #3257
@ranjeshj can you provide any insights into what makes ItemsStackPanel special in this case for it to respect the padding value of its parent? Does it walk the visual tree or something or is it just tightly coupled somehow to when it's in a ListView?

[2020-05-18 19:36] Kyaa-dost commented on #2994
@SeakyLuo Is this something you would like to work on by creating a PR? We are still seeking assistance on this by community members but if you want to start you are more than welcome 🙂

[2020-05-19 16:03] michael-hawker opened #3295 "[WinUI3] Windows Community Toolkit 7.0.1 for Project Reunion 0.5"
Please read our blog for the latest info on our Project Reunion 0.5 release here: https://devblogs.microsoft.com/ifdef-windows/windows-community-toolkit-for-project-reunion-0-5/
====================================================

Windows Community Toolkit 8.0.0 Preview 5 💗 Project Reunion 0.5 Preview [Historical]
-------------------------------------

Originally, at //Build, WinUI 3 Preview 1 wa

[2020-05-19 20:31] azchohfi commented on #3288
We should move to https://www.nuget.org/packages/Microsoft.SourceLink.AzureRepos.Git/

[2020-05-20 14:56] michael-hawker commented on #2689
Have fixed some minor elements with #3291, but the underlying issues here remain. Also not sure if there's wonkiness still with items in the items repeater. We should try and fix this for the release.

@marcpems this anything you're interested in applying all your focus skills from the TokenizingTextBox on later next week?

[2020-05-20 15:53] chiefklondog commented on #3292
A couple of other items to think about with the property grid:

Support for multi-edit with different types that either share a root type or share identical properties (i.e. you could have 3 classes all with a string 'Name' property and it could be possible to build the property grid to have editors for just those shared items)

Support both inline and popup collection editing. Being able to have

[2020-05-20 16:04] Sergio0694 commented on #3288
We should definitely also update the `Win2D` dependency in the `.Media` package to `1.25.0`:

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/ae4000bcc6cd8eb235b9915a811bd5ea1097169a/Microsoft.Toolkit.Uwp.UI.Media/Microsoft.Toolkit.Uwp.UI.Media.csproj#L46

Sorry I forgot in #3112, I hadn't noticed the new package then 😅

[2020-05-20 20:19] Kyaa-dost commented on #2939
This is still occurring as within a couple of mins of drawing the sample app easily crashes.

@deanchalk any insight on this? 🤔

[2020-05-21 10:33] deanchalk commented on #2939
I'm afraid that's a mystery to me. The Issue I looked at previously mentioned heap corruption - which I couldn't reproduce, but I did find (and code a workaround) for another issue that made the infinite canvas crash. I was not on any insider preview. Unfortunately, I can't put myself on the insider fast ring as it makes my laptop unusable (I've recently had to rebuild it to get off the insider pr

[2020-05-21 15:16] FrancescoCarraro commented on #3258
I read that you found the cause of the error. Can I exepct to find it fixed in a future release?

[2020-05-21 15:52] Kyaa-dost commented on #3290
@yoshiask any update regarding the doc?

[2020-05-21 16:25] Kyaa-dost commented on #3279
@oenarap you can create a new branch of your own and we can merge that later in the master once the PR is approved 🙂

[2020-05-21 16:35] Kyaa-dost commented on #3249
@michael-hawker Thoughts on this one? 🤔

[2020-05-21 16:46] Kyaa-dost commented on #3277
@bolyb DId you try creating a simple reproducible repo suggested by @h82258652 above?

[2020-05-22 01:27] h82258652 commented on #3258
@FrancescoCarraro I'm afraid we can't fix this before the framework fixed. The ```EffectiveViewportChanged``` listener is added in the constructor and the control is not attached to the xaml tree that means we don't know is the control hosted under the ```Viewbox```.

[2020-05-22 01:29] SeakyLuo commented on #2994
Cool, I will try when I am available. @Kyaa-dost

[2020-05-22 22:07] MartinZikmund opened #3297 "[Feature] Add perceived luminance helper"
## Describe the problem this feature would solve

For a given color, it would be useful to know the contrasting color for displaying text (white/black).

## Describe the solution

A new helper method would be added to `ColorHelpers` class, which would calculate perceived luminance for a given color using the following formula (based on [W3C](https://www.w3.org/TR/AERT/#color-contrast)):

[code]

T

[2020-05-22 22:08] MartinZikmund commented on #3297
If this would be a welcome addition, I will be happy to implement it.

[2020-05-22 23:53] mdtauk commented on #3297
I had a similar thought in a couple of the WinUI issues.  Some kind of **ContrastBrush**.

You provide it two colours, one for a Light contrast, one for a Dark contrast.  The brush then _looks at_ the pixel colour below/behind it and then chooses which ever of the two colours offers the better contrast ratio.

This would work well with the Fluent Theme Editor which allows for overriding of the The

[2020-05-23 05:57] MartinZikmund commented on #3297
@mdtauk I like that idea as well, is there an issue for this?

In my specific scenario the C#-based solution is ok, as I only need to decide if I want to set `ElementTheme` to light or dark based on the provided background color.

[2020-05-24 07:41] MartinZikmund commented on #3125
@skendrot Sorry for inactivity, I will try to check on this next week and get back to you

[2020-05-24 07:44] yoshiask opened #3299 "[Docs] README Required Dependencies"
The README lists a bunch of dependencies required to build the WCT projects. It includes C++ v142, but does not mention that it also requires the "Desktop development with C++" workload.

[2020-05-24 07:47] yoshiask commented on #3290
@Kyaa-dost Sorry, I've been very busy this last week. I just cloned and got the Toolkit building tonight, so tomorrow morning I'll finally finish this.

[2020-05-26 15:46] Kyaa-dost commented on #3299
@yoshiask We are working on redesigning and adding a few things in the file. Thanks for the highlight. Would you like to update this by creating a PR?

[2020-05-26 15:53] michael-hawker commented on #2931
We missed closing this issue in 6.0, closing it now.

[2020-05-26 15:53] #2931 closed

[2020-05-26 15:55] Kyaa-dost commented on #3297
@MartinZikmund Thanks for considering to work on this feature. I like the idea and it seems like @mdtauk have a similar idea that seems to be closely aligned with it too.

Let's see what devs think about this 🤔

[2020-05-26 16:03] michael-hawker commented on #3007
@VisualByteStudios did @peteams workarounds help you resolve your issues?

[2020-05-26 16:34] HerrickSpencer commented on #2883
I tested and closed this due to it being fixed in v6.0, but reopened to be sure it doesn't need more testing before it's closed.
I checked the merged code and the above suggestion by @HHChaos was taken and merged into master.
I suggest this be closed.

[2020-05-26 16:54] michael-hawker commented on #3297
Thanks @MartinZikmund, I've assigned to you to drive this work. Seems like there's an opportunity here to have a couple of different helpers/solutions for various scenarios. :)

[2020-05-26 17:16] #3178 closed

[2020-05-26 17:54] HerrickSpencer commented on #2883
Closing per conversation with @michael-hawker.  I believe the PR merge fixed this bug. Thanks to @HHChaos

[2020-05-26 17:54] #2883 closed

[2020-05-26 17:58] michael-hawker commented on #2733
@Berrysoft the RadialGradientBrush has been added to the most recent release of [WinUI](https://aka.ms/winui). Can you check their implementation out, I believe it should handle these scenarios. If not, can you open an issue [on their repo](https://aka.ms/winuigithub). Thanks!

[2020-05-26 17:58] #2733 closed

[2020-05-26 18:05] michael-hawker commented on #2990
@c4rlosmarin there was an issue before with needing to specify the tabs in a TabItems collection, that's been resolved. You can find documentation about [TabView here](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/tab-view).

We're going to be deprecating our TabView now that the WinUI one supports the majority of our scenarios, so I'm going to close this issue. If you

[2020-05-26 18:05] #2990 closed

[2020-05-26 18:07] michael-hawker commented on #3098
Going to close this as there's a general issue open on the platform and a workaround by setting the `FallbackColor`.

[2020-05-26 18:07] #3098 closed

[2020-05-26 19:10] yoshiask commented on #3299
Sure thing, @Kyaa-dost!

[2020-05-26 20:30] michael-hawker commented on #3289
Just found out that the weird styling for the padding I was seeing was probably being inherited by changes made to styles in WinUI. We need to figure out how to isolate ourselves from these changes, as otherwise the control will look different if the developer is using WinUI in their project or not (as it's not required for the control, we just add it in to the Sample App).

This explains why it w

[2020-05-26 21:42] michael-hawker commented on #2428
We forgot to close this issue, it was added in the 6.0 release.

[2020-05-26 21:42] #2428 closed

[2020-05-26 22:56] VisualByteStudios commented on #3007
@michael-hawker , as @peteams mentions above, I don't believe he has applied a fix to the GetPattern issue as he was worried that there might be deeper issues.
So no I wouldn't say the issue was resolved. Personally I ended having to write my own local implementation of switch support for my needs.

[2020-05-27 00:38] michael-hawker commented on #3007
Thanks @VisualByteStudios, I misread @peteams statement.

Does your implementation resolve the concerns @peteams had brought up? Would it make sense to contribute back to the toolkit here?

[2020-05-27 06:36] hupo376787 opened #3302 "[Feature]Add coming in direction property for InAppNotification"
## Describe the problem this feature would solve
Currently `InAppNotification` always comes from bottom to top. This does not meet all cases.

It's better to leave a Property called "ComingDirection" or something else, let us choose the direction.

![InAppNitification](https://user-images.githubusercontent.com/14960168/82985892-6b255980-a027-11ea-9aca-4bdeaffc5291.png)

[2020-05-27 07:48] hupo376787 opened #3303 "InAppNotification is covered by a full screen Popup"
## Describe the bug
I'm `InAppNotification` control in ShellPage.xaml, and I need to popup a full screen user control. Currently when the `Popup` appears, the `InAppNotification` is covered by the `Popup`. So I think `InAppNotification` should have the most high priority to display at topest.

![GIF](https://user-images.githubusercontent.com/14960168/82991654-96607680-a030-11ea-9bda-e088003eaa63.g

[2020-05-27 08:41] Odonno commented on #3303
Hi @hupo376787

I am not sure that should be part of the Control. Have you tried to set the `Canvas.ZIndex` property on the `InAppNotification` in your app?

[2020-05-27 08:46] hupo376787 commented on #3303
I already set, not works.

[code]

[2020-05-27 09:02] Odonno commented on #3303
Ok, I see. The `Popup` control is a native control to the UWP platform, cf. https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.primitives.popup?view=winrt-19041#remarks

I don't see what we can do to fix this. I suggest you to create your own visual element to display in the page and so will have total control over the `ZIndex`.

[2020-05-27 09:36] hupo376787 commented on #3303
Got it, thanks. My original thought is place a `InAppNotification` in ShellPage.xaml, and call it everywhere. But now, as you said, I have to write a special `InAppNotification` for `Popup`'s content.

[2020-05-27 09:36] #3303 closed

[2020-05-27 10:04] vgromfeld commented on #3277
The code of `WriteTextToFileAsync` is very basic and shouldn't leave the file open. Depending on how the code is used, the exception can be throw if we have two concurrent calls to `WriteTextToFileAsync`. @bolyb can you check if you're initiating a call to `WriteTextToFileAsync` while another is already running ?

[2020-05-27 10:32] dmarjoram commented on #3063
I too am getting the following since upgrading from 5.1.1 to 6.0.0.

UWP is at 6.2.10.

[2020-05-27 15:56] Kyaa-dost commented on #3302
@hupo376787 This looks like an amazing feature and would really love to see that being implemented 🚀🚀 Is this something you can work on?

Also, let's see if the rest of the community like it as much as I do 🙂

[2020-05-27 16:01] hupo376787 commented on #3302
Hi, @Kyaa-dost . I know little about animation and tranform, so I can't help currently. Maybe someone else.

[2020-05-27 16:42] michael-hawker commented on #3063
@MichalStrehovsky @tommcdon any thoughts on what might have happened here to cause this `MissingMethodException`? Is there some platform issue that was discovered that need a certain set of updates to work around? Thanks!

[2020-05-27 18:10] michael-hawker commented on #3093
@azchohfi is this something you could take a look at?

[2020-05-27 20:21] Kyaa-dost commented on #3277
Thanks for the insight @vgromfeld 🙂

@bolyb Please let us know once you try these steps.

[2020-05-27 20:43] JonasLara opened #3305 "DataGrid RowDetails not changing theme at runtime"
## Describe the bug
DataGrid RowDetails not changing theme at runtime

## Steps to Reproduce
Steps to reproduce the behavior:
1. Just add a DataGrid to a project and set the `RowDetailsVisibilityMode` to `VisibleWhenSelected` in order to observe the issue.
2. Add a button with a Click event to be able to change the app theme. `RequestedTheme = ElementTheme.Dark` or `RequestedTheme = ElementTheme.L

[2020-05-27 22:30] HerrickSpencer commented on #2939
No-Repro in v6.0.
It seems probable that Dean's theory is correct and this has been resolved with a previous PR.

I spent quite a bit of time (as well as @Kyaa-dost ) scribbling in the canvas without a crash.
![Annotation 2020-05-27 152849](https://user-images.githubusercontent.com/13108756/83078645-dfafc680-a02e-11ea-8997-1cf8c7e2ef9c.jpg)

I will close this for now. Please reopen if there is a r

[2020-05-27 22:30] #2939 closed

[2020-05-28 00:16] azchohfi commented on #3063
nameof is evaluated at compile time, so it shouldn't matter. I don't know what is happening.

[2020-05-28 00:18] michael-hawker commented on #2939
🦙 Linking to PR that we think may have resolved this issue here: https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3228

[2020-05-28 00:20] #3288 closed

[2020-05-28 00:35] mdtauk commented on #3289
Don't forget to test these in a Dark Theme, as the Textboxes no longer remain in Light style when focused

[2020-05-28 00:38] azchohfi commented on #3093
I'll look at this now.

[2020-05-28 01:07] azchohfi commented on #3093
I could not repro this with v6.0.0 using UniversalWindowsPlatform 6.2.10. A Release build showed the notification exactly the same as a Debug build.
![image](https://user-images.githubusercontent.com/527713/83086615-1b08c000-a044-11ea-9eb2-c685e67cb707.png)
I tried both x86 as well as x64.
@michael-hawker or @Kyaa-dost , can you test this?

[2020-05-28 01:20] michael-hawker commented on #3289
Thanks @mdtauk, I'm pretty sure I accounted for that already as part of another change to align to that update (as we have our own focus visuals mimicking that of a textbox). I'll double-check again though as I update the styles elsewhere.

[2020-05-28 01:26] azchohfi commented on #2684
@michael-hawker just hit this again. Can we make this for 6.1?

[2020-05-28 01:28] azchohfi commented on #2899
I've confirmed this bug on 6.0.0. I'll work on a fix.

[2020-05-28 02:35] azchohfi commented on #2936
@michael-hawker can we close this?

[2020-05-28 02:59] michael-hawker commented on #2936
@azchohfi yup. Ugh, we had a lot of issues in 6.0 that weren't closed. Hopefully our new PR template helps with this in the future. Thanks!

[2020-05-28 02:59] #2936 closed

[2020-05-28 03:21] azchohfi commented on #1951
I just validated again and VS beautifully loaded the portable pdbs. I'll send the PR fixing this. We can discuss later if snupkg is the way to go or not (#2684).

[2020-05-28 03:27] azchohfi opened #3308 "Enable Deterministic builds"
## Describe the problem this feature would solve
Deterministic builds (https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/1951#issuecomment-615973336), as described here:
https://github.com/clairernovotny/DeterministicBuilds

[2020-05-28 03:51] mfeingol commented on #3093
@azchohfi: I'm still seeing a repro here.

![Untitled](https://user-images.githubusercontent.com/218865/83096960-cb35f300-a05b-11ea-9594-c89a33aeeccd.jpg)

Please make sure you're using .NET Native.

[2020-05-28 04:14] azchohfi commented on #3093
I am using .Net Native. That box is marked by default on Release Builds, but I did double check.

[2020-05-28 04:34] mfeingol commented on #3093
I'm not sure how to explain the difference then. It's 100% repro here, release or debug, as long as .NET Native is enabled.

[2020-05-28 04:56] michael-hawker commented on #3093
@azchohfi I see the repro on my box (x64, 2004/19041 with VS 2019 16.5.5) when switching from Debug to Release, are you on Insiders?

Debug
![image](https://user-images.githubusercontent.com/24302614/83099277-beb49900-a061-11ea-9cb3-6e6d89f7eb03.png)

Release
![image](https://user-images.githubusercontent.com/24302614/83099401-1f43d600-a062-11ea-8397-2871d91e2783.png)

I downgraded the Toolkit NuG

[2020-05-28 06:07] michael-hawker commented on #3230
Really appreciate everyone's thoughts and support on this topic! 🦙❤ 🎉🎉🎉

I've been heads down with our upcoming 6.1 release, but I'll plan to circle-back on this in June. The biggest open concerns are how this plays in the ecosystem at large and to make sure we can maintain the code and the ideology of leanness here and not just have this continually grow in scope.

I've been thinking it may make

[2020-05-28 06:51] michael-hawker commented on #2738
Fixed and will be in 6.1!

[2020-05-28 06:51] #2738 closed

[2020-05-28 07:55] michael-hawker commented on #3252
@Nirmal4G was just wondering if you had any luck in figuring this out or not yet? Thanks!

FYI @azchohfi

[2020-05-28 09:21] MichalStrehovsky commented on #3063
I made a blank UWP app, set MinVersion to Fall Creators update, Target to 1903, added a reference to the UI.Controls 6.0 nuget package, dropped an ImageEx on the form and set the Source to a random internet URL, switched to Release config and deployed. I don't see a repro.

[2020-05-28 13:46] clairernovotny commented on #2684
Don't use snupkg please. It doesn't work for offline scenarios and has other downsides.

[2020-05-28 16:08] michael-hawker commented on #3063
Thanks @MichalStrehovsky for taking a look. I'm going to close this out for now as no one on our side has been able to reproduce the problem.

@rku-agnitio @r2d2rigo if you have an isolated repro project to share, let us know and attach and we can test again.

[2020-05-28 16:08] #3063 closed

[2020-05-28 18:01] Kyaa-dost commented on #3305
@anawishnoff @RBrid FYI ⬆️

[2020-05-28 18:38] Nirmal4G commented on #3252
Got it working last night. I didn't have the chance to clean it up yet. Tried **Roslyn Generators** but lack of documentation and a code writer forced me to modify the current source. Still have the implementation though. I'll create a draft PR this weekend for a review.

[2020-05-28 19:29] michael-hawker commented on #3252
That's great @Nirmal4G!!! That's going to be a huge help. We'll take a look at the PR once you have it together. I think it'll be a bit late for our upcoming 6.1 release, but we can look at the scope of changes and evaluate the PR, what's left, and timing then.

[2020-05-28 19:53] Kyaa-dost commented on #2994
@SeakyLuo any update on this? We are fast approaching our 6.1 release and tomorrow is the last day of code submission.

[2020-05-28 19:53] #3308 closed

[2020-05-28 20:41] #1951 closed

[2020-05-28 21:04] michael-hawker commented on #3299
As I mentioned in the PR, the C++ workload shouldn't be required.

If someone else can test on a fresh machine, that'd be good, but I just setup a fresh machine with this configuration as well.

[2020-05-28 21:05] michael-hawker commented on #3299
@yoshiask you don't happen to have a screenshot of what VS showed you when you opened the project initially, eh?

[2020-05-28 21:07] michael-hawker commented on #3302
FYI @gabbybilka @SavoySchuler for https://github.com/microsoft/microsoft-ui-xaml/issues/913

[2020-05-28 21:31] michael-hawker commented on #2913
@blakepell the contract for the VectorChangedEventArgs should be firing after the element has already been removed. So the AdvancedCollectionView code should be correct here.

@HerrickSpencer is setting up a repro without the ACV and just a straight `IObservableVector` implementation. ObservableCollection appears to work fine as an ItemSource as it doesn't have a `VectorChanged` event.

[2020-05-28 21:32] #3078 closed

[2020-05-28 22:34] yoshiask commented on #3299
@michael-hawker No, I don't, it didn't occur to me to save that

[2020-05-29 01:32] #2899 closed

[2020-05-29 01:50] SeakyLuo commented on #2994
Sorry for late response. I have a little bit trouble with pushing my code. So I put it [here](https://github.com/SeakyLuo/Win-Mac).

I apologize in advance if my code does not follow your coding convention.

[2020-05-29 02:55] michael-hawker commented on #3299
No worries, I know when it prompted me it was only about the C++ v142 dependency, not the C++ workload as a whole. When I clicked on it, it just installed that single dependency for me.

I wonder if it's a difference between VS versions. What VS 2019 version are you on?

[2020-05-29 03:29] michael-hawker opened #3311 "[Clean-up] Make sure all Converters return UnsetValue"
## Describe the bug
As per guidance: https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.dependencyproperty.unsetvalue#remarks

[2020-05-29 04:16] michael-hawker commented on #3289
Have a solution for the WinUI padding, but hit another issue with how sizes of Icons work with styles (filed another issue [here](https://github.com/microsoft/microsoft-ui-xaml/issues/2568)). Will need to think about how to work around this or possibly copy the resource around and listen for parent updates to modify...?

[2020-05-29 06:30] hupo376787 commented on #3302
Hi, all. Instead of waiting for the new proerty, we can use the `` and `` to customize the coming in direction.

 See the so answer. [How to change the InAppnitification's coming in direction?](https://stackoverflow.com/a/62077890/7068790).

Based on the [document](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/inappnotification) of InAppnitification, there are two properties:

[2020-05-29 16:13] michael-hawker commented on #3289
Found a new issue with ScrollViewer clipping:

![image](https://user-images.githubusercontent.com/24302614/83281226-a1c8b480-a18c-11ea-8859-010de4b04476.png)

Might be because FocusVisual is behind the panel

[2020-05-29 22:37] HerrickSpencer commented on #2913
Created a [branch for this Issue.](/windows-toolkit/WindowsCommunityToolkit/tree/Herricks-Issue2913) seems to be in DataGrid events when the notify data source event fires on the vector changed event.  The code requests the deleted item after it has been removed. OutOfRange when this is the last item, but always wrong otherwise.

Attempted to use ObservableVector instead of ACV to prove it is not

[2020-05-29 23:55] michael-hawker commented on #3186
Figured out that this is specific to running the app in dark theme. In light theme it appears to work correctly.

[2020-05-30 01:31] michael-hawker commented on #3186
@deanchalk I took a stab at this now that I knew the underlying issue, see comment [here](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3208#issuecomment-636254832)...

Thoughts on maybe trying to restructure how this control works?

[2020-05-30 07:52] deanchalk commented on #3186
I'll take another look at this over the weekend

[2020-05-30 09:09] michael-hawker commented on #3289
Huh, weird issue with filtering and keyboard in top sample box.

1. Type 'a'
2. Down Arrow
3. Select 'Account'
4 Type 'a' again
5. Hit 'Enter'

![image](https://user-images.githubusercontent.com/24302614/83324504-7a202d80-a21a-11ea-9cd3-63dab50af908.png)

Now have a duplicate item, of course if you then click the 'X' on the 2nd item the first item is removed (clearer if you add another different t

[2020-05-30 09:38] michael-hawker opened #3317 "[Feature] Add Size Extensions"
## Describe the problem this feature would solve
We have a lot of this pattern in the toolkit:

[code]

## Describe the solution
It'd be great to have some extensions for size:

[code]

Thoughts?

[2020-05-30 09:40] #3099 closed

[2020-05-30 09:57] michael-hawker commented on #3289
Found a fix for the icon/clipping/wrapping on removal problem 🎉🎉🎉

Just scoping down and will add to my other Style PR that I have open.

[2020-05-30 10:32] michael-hawker commented on #3289
Thought I had a solution for the wrapping/icon issue when tokens are removed; however, it's only because it works fine with the keyboard. It only repros with the mouse for me. I did eliminate if Release mode made a difference, still reprod with the mouse.

[2020-05-30 13:15] MartinZikmund commented on #3297
@mdtauk how would the contrast brush work for non-uniform backgrounds?

[2020-05-30 14:07] mdtauk commented on #3297
That is a good question.  I'm not sure of any good way for the Xaml rendering to "read the pixel colour" let alone grab a range of pixels and perform the equivalent of an Average blur filter to find the average pixel colour

[2020-05-31 19:40] yoshiask commented on #3299
I think I was on 16.6.0, but I've updated since then so I don't really know.

[2020-06-01 18:09] michael-hawker commented on #3289
Layout issue:

![image](https://user-images.githubusercontent.com/24302614/83439176-84e3e980-a3f7-11ea-9342-c0f993e281d4.png)

When you click to remove a token:

![image](https://user-images.githubusercontent.com/24302614/83439216-962cf600-a3f7-11ea-8bfb-bdb2edcce161.png)

(notice the icon isn't stretched, ignore the text being centered that's an issue with my attempt at a fix)

[2020-06-01 22:13] michael-hawker commented on #3299
@yoshiask were you building in debug or release mode? (though I don't think that should make a difference)

[2020-06-01 22:34] yoshiask commented on #3299
I was building in Debug

[2020-06-02 22:02] ranjeshj commented on #3257
Sorry.

Very likely. I would not be surprised at all if ItemsStackPanel walks up the tree to do this.

[2020-06-03 10:10] michael-hawker commented on #3289
Layout Issue is being resolved by #3319

[2020-06-03 21:42] buccaneerjim opened #3320 "RadialGauge Crashes when version 2004 new Custom Text Cursor enabled"
## Describe the bug
RadialGauge Crashes when version 2004
Ease of Use Text Cursor is enabled
Try it out in the Toolkit Sample App and see it happen.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to 'Ease of Use Settings/ Text cursor'
2. Click on 'Turn on Text Cursor.'
3. Scroll do

[2020-06-04 00:04] liquidboy commented on #3295
Just want to mention that i lost some time when i newed up a new WinUI3 + UWP project in VS2019 preview .. And then nuget referenced the windows toolkit 7.x .. It all appeared fine BUT when i started using the TabView, which is why i wanted to use the toolkit as the TabView in WinUI wasnt working, it threw up errors..

[2020-06-04 00:10] nickrandolph opened #3321 "Tidy up non-active branches"
There are currently 118 branches with no coherent branching strategy.

To make it easier for contributors, please:
- purge non-active branches
- adopt a model where contributors (all) work in private forks and push all changes via a PR to the main WCT repo
- if some contributors continue to work on main repo, please propose a branching strategy that makes sense

[2020-06-04 05:52] michael-hawker commented on #2994
Thanks @SeakyLuo, do you need some assistance in getting setup with the Toolkit repo?

I created a [YouTube video here](https://www.youtube.com/watch?v=jx4_W7fO8Gs&t=2s) about building the toolkit itself.

Let us know how we can help you get setup.

For now, I'll move this to our next milestone as we're closing out our current release.

[2020-06-04 12:46] john-h-k opened #3322 "[Feature] Expose a public ThrowHelper type"
## Describe the problem this feature would solve
Currently, the `Guard` API is suitable for parameter validation but nothing more, and consumers still likely need a `ThrowHelper` type for other sorts of exceptions

## Describe the solution
Expose a public `ThrowHelper` type (the current one internal) that provides throwing methods for a wider variety of types. The basic layout of each method would

[2020-06-04 12:46] john-h-k commented on #3322
cc @Sergio0694

[2020-06-04 13:51] mrlacey commented on #3230
Is there an official statement about an end of support for MVVMLight anywhere? I've not seen anything. Seeing something from Laurent would really help understand the justification/motivation here.
I was of the understanding that MVVMLight was "Done, not dead." It was meant to be a minimal set of building blocks to follow the MVVM pattern. It was never meant to be a fully-fledged, all-singing-all-d

[2020-06-04 15:08] Sergio0694 commented on #3230
Hey @mrlacey - thank you for chiming in!
I'll try to go through the various points you made as best I can.

I haven't seen an official statement per se, but you can see that the latest commit is from late 2018, and Laurent himelf has commented on this MVVM package on Twitter ([here](https://twitter.com/LBugnion/status/1250851368732164097?s=20)), saying he liked the idea and also mentioning how he

[2020-06-04 18:49] Kyaa-dost commented on #3321
@nickrandolph Thanks for highlighting the issue. We will discuss these options and explore ways we can improvise the process 🙌

[2020-06-04 18:51] Kyaa-dost commented on #3320
@buccaneerjim I am not able to follow the process. Can you please provide more detailed information on this? Screenshot or gif would also be great to highlight the error you see.

[2020-06-04 19:07] buccaneerjim commented on #3320
Turn on Text Cursor in Windows 10 version 2004
[cid:image002.png@01D63A79.889E2E10]

Control is missing in the ToolKit Sample App.

Apps fail that have that use RadialGauge Control when it’s value changes.
If the new Enhanced Text Cursor is enabled.

[cid:image006.png@01D63A79.889E2E10]

Turn off the Enhanced Text Cursor option and it’s back
After reloading the Demo App.

[cid:image008.png@01D63A7

[2020-06-05 09:16] michael-hawker commented on #3320
@Kyaa-dost it's this setting here:

![image](https://user-images.githubusercontent.com/24302614/83855989-b990c300-a6cd-11ea-84cf-83ac305264b8.png)

I turned it on my 2004 machine after loading the Radial Gauge sample, as soon as I went back and clicked in the sample after turning it on, I hit the exception.

[code]

It's on coming from L774 in RadialGauge:

https://github.com/windows-toolkit/Windo

[2020-06-05 09:25] michael-hawker opened #3327 "Modifying WrapLayout Orientation in Sample App Crashes"
## Describe the bug
If you go into the XAML tab of the `WrapLayout` sample (new ItemsRepeater control) and add an `Orientation="Vertical"` property to it, the sample app crashes with an obscure exception.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to WrapLayout sample
2. Click

[2020-06-05 09:33] michael-hawker commented on #3327
FYI @skendrot I didn't realize there was an option until I saw it called out as a property in the docs. It does at least one complete measure call before crashing.

[2020-06-05 17:51] anawishnoff commented on #3244
Hey @vijay180396 , sorry for the late reply on this - can you describe in more detail the issue that you're facing? What data are you unable to get access to, and how are you implementing that data?

[2020-06-05 17:54] anawishnoff commented on #3079
@DanielGlick45 are you still facing this issue?

[2020-06-06 00:21] michael-hawker opened #3332 "SampleApp rebuilds even if no changes"
## Describe the bug
If you run the sample app with F5, and then later after closing it hit F5 again without making code changes, VS rebuilds the SampleApp project. ☹

## Steps to Reproduce
Steps to reproduce the behavior:
1. Clone Repo
2. Build and Run Sample App
3. Close Sample App
4. Hit F5 Again

## Expected behavior
Sample App Launches 'immediately'

## Actual behavior
VS rebuilds Sample App P

[2020-06-06 05:49] FrancescoCarraro commented on #3258
@h82258652 Ok, I'm currently using the 5.0 version and that's ok for me. Thanks for your work

[2020-06-06 07:46] #3327 closed

[2020-06-08 01:21] rizamarhaban opened #3335 "TextBoxMask Extension Binding Text Issue"
## Describe the bug
Applying TextBoxMask on TextBox control is working. However, when the binding value changes, the TextBox UI did not reflect the changes.

- [ ] ~~Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work~~:

## Steps to Reproduce
Steps to reproduce the behavior (I'm using PRISM 6.x):
1. Add these XAML,
[code]
2. Add the property binding in V

[2020-06-08 16:14] Kyaa-dost commented on #3335
@rizamarhaban Thanks for highlighting the bug. Is this something you can work on, create a PR ?

[2020-06-08 16:17] rizamarhaban commented on #3335
Okay, will check the code first.

[2020-06-08 20:27] michael-hawker commented on #3290
@yoshiask were you still planning to submit a fix? We'd need it in the next day or so. Otherwise, we can handle it. Just want to know. Thanks!

[2020-06-08 20:29] yoshiask commented on #3290
@michael-hawker I've been trying to get the Tookit to build for the last week and it still won't work, I think there's something weird with my VS install. I'll pass this back to you guys. Sorry for the trouble!

[2020-06-09 06:57] rizamarhaban commented on #3335
@Kyaa-dost I found the code. It seems the correct `TextBox.Text` was overridden by the `oldtext`. The binding works normally but was overridden. Will try to fix this and create PR later.

![image](https://user-images.githubusercontent.com/1063940/84115938-78980600-aa61-11ea-98fc-4f07fa068c9f.png)

[2020-06-09 09:47] rizamarhaban commented on #3335
@Kyaa-dost I have fixed the code however I cannot create the PR. Need help on this.

[2020-06-09 16:13] michael-hawker commented on #3335
@rizamarhaban sounds like you just cloned the main repo. If you create a fork in GitHub:

![image](https://user-images.githubusercontent.com/24302614/84172935-6dc57d00-aa31-11ea-9b39-75a62a3f1828.png)

You should be able to change your remote to your new fork, then you can push your feature branch to your fork, and then submit a PR to our main repo here with the fix!

Let us know if you need more

[2020-06-10 00:04] rizamarhaban commented on #3335
@michael-hawker I'm getting this failed test when running the unit tests. Is this something that I should leave it? it seems has no relation with my simple changes.

![image](https://user-images.githubusercontent.com/1063940/84212605-e2132580-aaf0-11ea-96f2-99656e557c87.png)

[2020-06-10 15:43] jeromelaban opened #3339 "Current WCT solution does not build when .NET 5 preview is installed"
## Describe the bug

When building the `Microsoft.Toolkit.Services` project, the `WPFPopup` XAML page for the `net462` target is not getting its `.i.g.cs` content generated properly, causing missing members compilation errors.

## Steps to Reproduce
Install .NET `5.0.100-preview.6.20277.5`, build the solution.

## Additional context

This looks like a .NET 5 issue, where the `MarkupCompilePass1` d

[2020-06-10 16:50] michael-hawker opened #3340 "Anything using FocusManager.GetFocusedElement needs to be updated for XamlRoot in 7.0"
## Describe the bug
We need to provide the XamlRoot to FocusManager for this call to work properly. Any control in the toolkit using this (TokenizingTextBox, Menu, etc...) currently won't work in Xaml Islands properly.

[2020-06-10 23:14] michael-hawker commented on #3339
@tommcdon @MichalStrehovsky any thoughts on what @jeromelaban is seeing here? Or know the right folks to pull in to this?

I have .NET 5 Preview 4.20258.7 on my machine and have no troubles, so this appears like a regression in the .NET 5 Preview?

[2020-06-10 23:52] #3290 closed

[2020-06-11 00:07] rizamarhaban commented on #3335
@Sergio0694 @michael-hawker maybe this detail will help to resolve this,

![image](https://user-images.githubusercontent.com/1063940/84330504-2caca480-abba-11ea-888b-18b3dc9bd57a.png)

My laptop has 32GB memory,

![image](https://user-images.githubusercontent.com/1063940/84330643-890fc400-abba-11ea-95be-89a88eae0f6b.png)

[2020-06-11 00:20] tommcdon commented on #3339
Here is the runtime issue for your reference: https://github.com/dotnet/runtime/issues/37672.

[2020-06-11 03:15] jeromelaban commented on #3339
@tommcdon Is it expected that the removal of WinRT affects WPF the toolchain ?

[2020-06-11 17:51] tommcdon commented on #3339
Adding @ryalanms who might be able to comment.

[2020-06-11 18:42] yoshiask commented on #3020
Regarding actually rendering LaTeX expressions, there is [CSharpMath](https://github.com/verybadcat/CSharpMath). The Uno Platform team is working on adding support for Uno, which would work on UWP as well (without referencing the Uno packages).

[2020-06-11 23:00] michael-hawker opened #3343 "Horizontal/VerticalAlignment bindings don't work in Sample App Release Mode"
## Describe the bug
We noticed (even in the 6.0 version) that the Sample App in Release mode doesn't properly bind the Horizontal/VerticalAlignment enums in our properties panel. It works fine in Debug, so it's quite baffling.

This really seems related to .NET Native somehow. We're thinking we can test our WinUI 3 version for comparison on top of .NET 5 to maybe get some more insights.

For now w

[2020-06-12 11:19] chr-knafl opened #3345 "Different behaviors for OneWay binding on a DependencyProperty with x:Bind and Binding"
**Describe the bug**
I have a custom user control holding some DependencyProperties. Binding to that properties and reacting on updates works fine with Binding but not with x:Bind.

**Steps to reproduce the bug**
Create a view model:

[code]

Create user control (name=Details.xaml):

[code]
Code-behind (Details.xaml.cs):

[code]

Usage of Details.xaml:

[code]

**Expected behavior**
When we set th

[2020-06-15 19:53] chingucoding opened #3348 "Sample app: MasterDetailsView page loads incorrectly"
## Describe the bug
The MasterDetailsView page does not render its content when opening, modifying the sample code howeer results in the sample to render.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Open MasterDetailsView sample page
2. See that the sample didn't render
3. Modify s

[2020-06-15 20:10] HerrickSpencer commented on #945
Relaying internal conversation:
I've done some investigation on options to reduce our repo size.

As far as I see it we don't have too many good ones that don't involve making a divergent master branch.

The main folder that is causing size bulk is .git, (445mb) likely to the large history we have
All folders under that are not so huge.  Sample app is the next largest with <7mb

Atlassian gives so

[2020-06-15 21:30] LanceMcCarthy opened #3349 "TokenizingTextBox Doesn't inherit CornerRadius"
## Describe the bug

When applying CornerRadius value to the TokenizingTextBox, the value is not applied.

## Steps to Reproduce

Add a **CornerRadius** value to to the control:

[code]

Observe ConerRadius is not applied.

![image](https://user-images.githubusercontent.com/3520532/84707926-8e0fa300-af2d-11ea-8cb2-34fdd20876ce.png)

## Expected behavior

The CornerRadius is applied

## Environment

[2020-06-15 23:09] #1350 closed

[2020-06-15 23:18] Kyaa-dost commented on #3348
@chingucoding I am able to reproduce this as well. Do you want to work on the fix and create a PR?

[2020-06-15 23:23] Kyaa-dost commented on #3349
Thanks @LanceMcCarthy for highlighting this issue! @marcpems are we good with the changes @LanceMcCarthy is suggesting?

[2020-06-15 23:35] LanceMcCarthy commented on #3349
Apparently this is blocked by https://github.com/microsoft/microsoft-ui-xaml/issues/2556

[2020-06-15 23:38] Kyaa-dost commented on #3348
@chingucoding from the gifs above it does look like you are using 6.0 version. You will need to update to the newer version 6.1.0 via [Microsoft Store](https://www.microsoft.com/en-us/p/windows-community-toolkit-sample-app/9nblggh4tlcq#activetab=pivot:overviewtab) but the bug still seems to be there as you highlighted.

[2020-06-16 08:53] hawkerm commented on #3345
@chr-knafl I think you meant to file this on the WinUI GitHub repo? This doesn't seem to have anything specific to do with the Windows Community Toolkit?

@Sergio0694 this does found familiar to that null x:Bind issue you had though, you filed an issue already, eh?

[2020-06-16 09:57] chingucoding commented on #3348
I am not sure when I'll have time for this since there are WinUI issues I want/need to finish first. But when I have time, I can try my luck.

If someone else wants to work on this though, I wouldn't mind either.

[2020-06-16 11:49] Sergio0694 commented on #3345
@hawkerm Yeah I've filed an issue for a somewhat similar one ([here](https://github.com/microsoft/microsoft-ui-xaml/issues/1904)), though this is actually not an issue with `x:Bind` per se, it was just setup incorrectly. Which is great, it means it's an easy fix 😄

@chr-knafl The reason why `x:Bind` is not working is you made two small errors in your property:
1) Dependency properties needs to be

[2020-06-16 18:30] Kyaa-dost commented on #3348
Thanks, @chingucoding! I have added the help wanted label if someone else is able to pick this up.

[2020-06-16 19:22] michael-hawker commented on #3182
Hey @mdtauk do you have the link to where this image was created/shared? Is it from you directly?

These were just examples and not any official image that WinUI picked up yet, eh @stmoy?

Just asking, as I saw this [docs.microsoft.com](https://docs.microsoft.com/en-us/windows/uwp/design/downloads/) using these as representative icons, so I need to reach out and see why/when they updated these (th

[2020-06-16 19:24] michael-hawker commented on #3345
Thanks @Sergio0694! Closing this issue as it's not a bug and not with the toolkit.

I'm going to file an issue on the [docs here](https://docs.microsoft.com/en-us/windows/uwp/xaml-platform/dependency-properties-overview) as the first example is a bad example, ugh.

[2020-06-16 19:31] #3345 closed

[2020-06-16 19:53] mdtauk commented on #3182
The images were put together by me, but I found them in the UWP docs.  These were before the community redesigned the WinUI logo

[2020-06-17 10:26] Sergio0694 commented on #3230
I've uploaded a preview package that can be used locally to try out the new APIs for anyone interested, as suggested by @michael-hawker. Updated the first post, reposting here to notify subscribers:

### Preview package (built out of https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3229/commits/c6b4cb652de8a563c0a727d43ff11f344655624e): [**download here**](https://github.com/windows

[2020-06-17 22:21] hawkerm commented on #3062
Dropping this here for reference:

![image](https://user-images.githubusercontent.com/8959496/84956495-2d5ba400-b0ae-11ea-85ff-8865ddbca462.png)

[2020-06-18 10:26] cirrusone commented on #3230
@Sergio0694 - thanks for this, simple cases on messaging are working really well. One question, does the messenger allow calling async methods on the receiver?

For example, the code below gives the following error on line `string response = Messenger.Default.Send<MsMVVMRequestMessageEvent>();`

[code]

Event:

`public class MsMVVMRequestMessageEvent : RequestMessage<string> { }`

ViewModel1:

[co

[2020-06-18 11:07] Sergio0694 commented on #3230
Hi @cirrusone - glad to hear you're already trying this out! 😄

The reason why you're seeing that error is that as the callback is asynchronous, the sender continues before that async method completes and thinks no response has been returned (which is true, no response has been returned _yet_ at that point).
The whole messenger class is synchronous, but you should be able to work around this by si

[2020-06-18 11:50] rick-palmsens opened #3354 "[Feature] Add HeaderTemplate to DataGrid columns"
## Describe the problem this feature would solve
I have a column with toggle switches, and I want to add a toggle switch in the header that can toggle all rows at once.

## Describe the solution
Adding support for DataTemplates to column headers would allow you to put anything you want in the header

## Describe alternatives you've considered
I tried setting the `Header` property to a data templat

[2020-06-18 12:23] cirrusone commented on #3230
Thanks for the example it's working.

I thought awaiting on .Result was blocking?

Perhaps it's related but using the async example with the receiver in the MainWindow.xaml / MainWindowViewModel.cs, if I open a child window whilst awaiting the result using something like `_dialogService.Show(nameof(UserControlMVVMChildWindow), new DialogParameters(), null);` the next time I call `string response =

[2020-06-18 12:24] FreddyD-GH opened #3355 "DataGridRowHeader editing visual state name does not match xaml file"
## Describe the bug
One version of the DataGrid row header editing row state name has a space in it and the other does not.

I believe the definition in [DataGridRowHeader.cs](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridRowHeader.cs#L60) should be changed to:
[code]
instead of
[code]
in order to match the Visual

[2020-06-18 12:34] Sergio0694 commented on #3230
It is, but that `.Result` there is _not_ the `Task<T>.Result` property, it's the `RequestMessage<T>.Result` property! 😄
As in, you're getting the resulting response value, which is a `Task<T>`, and then awaiting that one.

As for the error, as I said that happens if the request message doesn't synchronously receive a response. Be careful not to confuse the usage of sync/async code here: the fact t

[2020-06-18 15:38] xied75 commented on #945
I vote for leaving the current as is. And starting a brand new repo.

[2020-06-18 16:39] Kyaa-dost commented on #3354
@anawishnoff @RBrid ⬆️

[2020-06-18 16:47] anawishnoff commented on #3354
Thanks for submitting this @rick-palmsens! I think this is possible by applying style setter properties to DataGrid's ColumnHeaderStyle property. This StackOverflow post might help: https://stackoverflow.com/questions/52104133/how-do-i-style-the-column-header-on-a-uwp-communitytoolkit-datagrid

[2020-06-18 21:26] Kyaa-dost commented on #2890
Closing this for now. If anyone thinks it's a good idea to have WeChat in this toolkit then please let us know of the workflow.

[2020-06-18 21:26] #2890 closed

[2020-06-19 05:15] yaichenbaum commented on #3182
Whenever the new icons are released, it would be nice to have an option for a transparent tile on the start menu. I know that there will be an option in the future from Windows to use acrylic instead of a color but having the option in the meantime will make my start menu look better.

[2020-06-19 07:20] rick-palmsens commented on #3354
I'm not looking for a way to simply style the header. I want to put my own controls in there using a DataTemplate.

[2020-06-19 14:38] chr-knafl commented on #3345
Very many thanks to all of you! You were right, the DependencyProperty was not properly declared and must be static.

Maybe the DependencyProperty should throw an ArgumentException if we pass null into metadata... But that is another topic.

Thanks - works perfectly!

[2020-06-19 18:52] Kyaa-dost commented on #413
State triggers are part of Version 6.1.0 now. Thanks @dotMorten

[2020-06-19 18:52] #413 closed

[2020-06-19 22:41] Kyaa-dost commented on #3176
@revose are you still having trouble with this? Did the workaround for you or you still have question regarding what @deanchalk mentioned above?

[2020-06-19 22:44] Kyaa-dost commented on #3277
@bolyb are you still having a problem this? Did you try the steps @vgromfeld asked above?

[2020-06-21 04:05] yoshiask commented on #3259
I started creating a Ribbon control for the WCT at [yoshiask/UWPRibbon](https://github.com/yoshiask/UWPRibbon). If you're interested in helping build or test a potential Ribbon control, you should check it out!

[2020-06-22 17:30] Kyaa-dost commented on #3079
@DanielGlick45 please let us know if you are still having any issues with this and if not we can close the issue.

[2020-06-22 18:18] Kyaa-dost commented on #3120
@JasonStein I am still able to reproduce this issue. Is this still being worked on your end?

[2020-06-22 18:30] #3203 closed

[2020-06-22 19:50] Kyaa-dost commented on #1159
Closing this issue for now as we don't seem to be clear on this one.

[2020-06-22 19:50] #1159 closed

[2020-06-22 19:52] njsokalski opened #3358 "Add A Scrollable HeaderedItemsControl"
## Describe the problem this feature would solve

## Describe the solution

## Describe alternatives you've considered

## Additional context & Screenshots

Something that I often end up putting in the HeaderedContentControl is a ScrollViewer that contains an ItemsControl. I would like to be able to use the HeaderedItemsControl for this, but because I want the Header to remain visible (I want to s

[2020-06-22 20:38] skendrot commented on #3358
Possible solution: Wrap [the ItemsPresenter ](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/HeaderedItemsControl/HeaderedItemsControl.xaml#L12)in a ScrollViewer. This would be a breaking change and would need to go in a major release.

[2020-06-22 23:36] anawishnoff commented on #3072
@Tominator-T1000, sorry for the delay on this. It looks like you were **correct** in your assumption of where the problem is stemming from. Our engineers working on DataGrid have been super busy so we're hoping to get some community involvement to help out on this bug.

If you feel like you'd like to look into this bug further, you're totally welcome to! It looks like you already have a head-start

[2020-06-22 23:55] JasonStein commented on #3120
@Kyaa-dost It is fixed on my side in my app:
![image](https://user-images.githubusercontent.com/1166162/85346012-fa981e00-b4a8-11ea-8cda-8d87f505ea5d.png)
It is invisible (after rendering empty space) but it will not crash the app.

[2020-06-23 08:55] yoshiask commented on #3259
I wrote this comment on the WinUI Ribbon proposal, I hope it's of some use while we figure out what features we want for a UWP ribbon. https://github.com/microsoft/microsoft-ui-xaml/issues/168#issuecomment-648005756

[2020-06-23 16:36] michael-hawker commented on #2980
Thanks @anawishnoff sounds like there's a workaround and this should just something to consider for the [new DataGrid](https://github.com/microsoft/microsoft-ui-xaml/issues/1500) in the future.

[2020-06-23 16:36] #2980 closed

[2020-06-23 16:38] #3057 closed

[2020-06-23 16:42] michael-hawker commented on #2577
This has been open for a while, so I think we'll close it for now and defer to the WinUI DataGrid in the future. If someone would like to work on this, let us know and we can re-open.

[2020-06-23 16:42] #2577 closed

[2020-06-23 18:48] duke7553 commented on #2815
@michael-hawker So, I can still reproduce this one by doing either of the following:

- Setting a DoubleTapped event for the DataGridRows: Can't invoke the event this way if it's already selected (tries to begin rename)
- Select, deselect, and select the same thing again. It tries to rename instead of simply selecting it.

[2020-06-23 18:49] duke7553 commented on #2815
Our DataGrid implementation is here: https://github.com/files-community/files-uwp/blob/master/Files/Views/LayoutModes/GenericFileBrowser.xaml

And can be downloaded from the Microsoft Store as Files UWP - Preview

[2020-06-23 18:50] duke7553 commented on #2815
It's almost like the editing mode doesn't cancel if the control isn't focused.

[2020-06-23 19:21] sylveon opened #3359 "Loading control sample: blurring effect is wrong"
## Describe the bug
In the toolkit sample, the blurring occurs on the logo rather than the background.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work: No idea

## Steps to Reproduce
Steps to reproduce the behavior:
1. Open the community toolkit sample app
2. Navigate to Controls > Loading
3. Click "Loading control with logo and blurring when r

[2020-06-23 19:53] Kyaa-dost commented on #3359
@sylveon I have just tried and was not able to reproduce the issue. Based on the image you provided does the logo does not seem blur?

[2020-06-23 19:56] michael-hawker commented on #3358
@njsokalski this is a great suggestion, thanks! @skendrot I've put this in the 7.0 bucket, this seems like a good thing to do. It'd be cool if we can make it flexible kind of how ListView will scroll or not depending on it'd available size.

I think this would pair well too with our [ScrollHeader control too](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/scrollheader):

[code]

[2020-06-23 20:12] sylveon commented on #3359
The issue is that the logo blurs rather than the background

[2020-06-23 20:17] Kyaa-dost commented on #3359
@sylveon ok that makes sense. Do you want to work on this issue and create a PR?

[2020-06-23 20:33] michael-hawker opened #3360 "MenuBar keyboard navigation issue."
## Describe the bug
Side-to-side top-level menu navigation gets stuck with the keyboard after a menu has been opened if it encounters a blank top-level item...

Not sure if we want to fix this with MenuBar potentially going away. This scenario does kind of work in WinUI, except for [this bug](https://github.com/microsoft/microsoft-ui-xaml/issues/2740).

- [ ] Is this bug a regression in the toolki

[2020-06-23 20:35] Kyaa-dost commented on #3244
@vijay180396 are you still having this problem? If yes, can you please provide more info on this as @anawishnoff asked above?

[2020-06-23 20:42] sylveon commented on #3359
I've no idea how to fix it, just stumbled on it when toying with the app

[2020-06-23 20:47] Kyaa-dost commented on #3151
@jessestr we have not heard from you for a while so assuming the issue is resolved and if not please feel free to comment back and let us know with more details. Closing the issue.

[2020-06-23 20:47] #3151 closed

[2020-06-23 20:50] Kyaa-dost commented on #3144
Closing this now as the issue was resolved 🚀 🚀

[2020-06-23 20:50] #3144 closed

[2020-06-23 20:52] Kyaa-dost commented on #3359
@sylveon Thanks for highlighting the issue. Let's see if any other community member is able to pick this up.

[2020-06-23 20:59] Kyaa-dost commented on #3071
Closing the issue as @anawishnoff already responded with the detailed info.

[2020-06-23 20:59] #3071 closed

[2020-06-23 21:03] Kyaa-dost commented on #2991
Assuming the issue was resolved as we have not heard back for a while.

[2020-06-23 21:03] #2991 closed

[2020-06-23 21:06] Kyaa-dost commented on #2981
Closing the issue as @RBrid already provided the resolution.

[2020-06-23 21:06] #2981 closed

[2020-06-23 21:09] Kyaa-dost commented on #2940
@xiedongweo assuming the problem was resolved. If not, then please feel free to respond to the questions asked above and comment back. Closing the issue for now 🚀

[2020-06-23 21:09] #2940 closed

[2020-06-23 21:11] Kyaa-dost commented on #2864
Closing the issue as this was already responded 🚀 🚀

[2020-06-23 21:11] #2864 closed

[2020-06-23 21:19] Kyaa-dost commented on #2290
Assuming the issue was resolved since we haven't heard back for a while. Please feel free to comment back if still seeing the issue. Closing the issue for now 🚀 🚀

[2020-06-23 21:19] #2290 closed

[2020-06-23 21:27] Kyaa-dost commented on #2778
Closing the issue as @anawishnoff already responded above with the WinUI discussion link.

[2020-06-23 21:27] #2778 closed

[2020-06-23 21:29] Kyaa-dost commented on #2722
Closing this issue as @anawishnoff already responded with the WinUI discussion link.

[2020-06-23 21:29] #2722 closed

[2020-06-23 21:36] Kyaa-dost commented on #2827
@anawishnoff for visibility ⬆️

[2020-06-23 21:38] michael-hawker opened #3361 "[Feature] XamlLight Composition XAML Helper"
## Describe the problem this feature would solve
We deprecated our [Light behavior](https://docs.microsoft.com/en-us/windows/communitytoolkit/animations/light); however, we pointed to [a composition API](https://docs.microsoft.com/en-us/windows/uwp/composition/xaml-lighting) which isn't as easy to use and requires some setup with code-behind.

## Describe the solution
It'd be great to have another

[2020-06-23 21:39] Kyaa-dost commented on #2828
@bkfichter is this still seems to be an issue or was this resolved?

@anawishnoff @RBrid

[2020-06-23 21:52] Kyaa-dost commented on #2995
DataGrid team mentioned that no feature is being added at this time. Please feel free to leave ideas for the newly proposed WinUI DataGrid in the [WinUI discussion](https://github.com/microsoft/microsoft-ui-xaml/issues/1500).

[2020-06-23 21:52] #2995 closed

[2020-06-23 22:01] michael-hawker commented on #3361
🦙 I'm leaning towards Option 1.

[2020-06-23 23:16] bkfichter commented on #2828
I haven't checked recently but I don't believe it has been resolved. I can go in and do a quick test project.

[2020-06-24 02:51] Kyaa-dost commented on #2842
Closing this issue as this is already responded by @anawishnoff

[2020-06-24 02:51] #2842 closed

[2020-06-24 03:00] Kyaa-dost commented on #2982
Hi @rdadkins, DataGrid team isn't working on any features at this time, please feel free to add this feature in the [WinUI discussion](https://github.com/microsoft/microsoft-ui-xaml/issues/1500) if you want to see this in the newly proposed WinUI DataGrid.

[2020-06-24 03:00] #2982 closed

[2020-06-24 03:03] Kyaa-dost commented on #2786
@RBrid already responded to the feature request. Also, the DataGrid team isn't working on any features at this time. Please feel free to add this feature in the [WinUI discussion](https://github.com/microsoft/microsoft-ui-xaml/issues/1500) if you want to see this in the newly proposed WinUI DataGrid.

[2020-06-24 03:03] #2786 closed

[2020-06-24 03:28] Kyaa-dost commented on #1087
Since PullToRefresh has been removed I am not sure about the possibility of this request. If the request is planning to be worked on please feel free to comment back.

[2020-06-24 03:28] #1087 closed

[2020-06-24 03:42] Kyaa-dost commented on #1176
The BackButtonBehavior does a pretty good job whereas not certain if it lives up to all the details mentioned above. Closing the discussion for now.

[2020-06-24 03:42] #1176 closed

[2020-06-24 03:45] Kyaa-dost commented on #1187
Closing this for now as @michael-hawker already provided some related details on the request that could be useful.

[2020-06-24 03:45] #1187 closed

[2020-06-24 03:47] Kyaa-dost commented on #1309
@Vijay-Nirmal is this being worked on your end or are we still planning to move with this any further?

[2020-06-24 04:00] Kyaa-dost commented on #1641
Feel free to open this if the brushes still not living up to the need and let us know if you want to work on any improvements 🚀

[2020-06-24 04:00] #1641 closed

[2020-06-24 13:32] chingucoding commented on #3348
@skendrot @Kyaa-dost It seems that removing the following line fixes the problem:

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/ae1dfcb152a9362215a65e75f518f149ec2f95ef/Microsoft.Toolkit.Uwp.SampleApp/SamplePages/MasterDetailsView/MasterDetailsView.bind#L19

Not sure why though 🤔 Would removing that line be a suitable fix? @skendrot are you looking into this right now?

[2020-06-24 14:19] Vijay-Nirmal commented on #1309
I didn't work on this. If we need to proceed with this feature then I maybe (If I have time) able to work on this.

[2020-06-24 14:32] robloo opened #3363 "[Feature] Add a Reimagined Color Picker"
## The current WinUI ColorPicker has some deficiencies:

 1. [#1637](https://github.com/microsoft/microsoft-ui-xaml/issues/1637) It is a big control without an adaptive layout. There is no way to switch between horizontal or vertical mode based on available space.
 2. [#2309](https://github.com/microsoft/microsoft-ui-xaml/issues/2309) It does not follow the 'Picker' convention by having a preview

[2020-06-24 14:34] robloo commented on #3363
I should add, I intend to implement this control myself. I'm looking for more feedback before coding starts though.

[2020-06-24 16:12] Kyaa-dost commented on #3363
@robloo seems like an interesting feature. Let's see what our devs think about this and then you can proceed with the PR 🚀

[2020-06-24 16:38] Kyaa-dost commented on #1679
This is currently being discussed in [7.0 Release Plan](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3062)

[2020-06-24 16:48] Kyaa-dost commented on #1790
@jefhai Seems like it has been a while but were you able to work on this one? or any update on this?

[2020-06-24 17:17] michael-hawker commented on #2248
@ranjeshj is there anyone we can talk to on your team about the TextBox and how we can solve this issue? Is there something we're missing here, or should we be filing an issue on WinUI?

[2020-06-24 18:16] Kyaa-dost commented on #1936
Closing this out as it seems like the result could be achieved with the help of other controls mentioned above. Also it didn't receive much approval from the community members.

[2020-06-24 18:16] #1936 closed

[2020-06-24 18:25] Kyaa-dost commented on #1798
@WilliamABradley the issue still seems to exist. Do you want to take this on or provide insight?

[2020-06-24 18:30] Kyaa-dost commented on #1772
Closing this as @skendrot already provided insight on this issue.

[2020-06-24 18:30] #1772 closed

[2020-06-24 18:35] Kyaa-dost commented on #1746
There has been no update on this issue. If anyone is able to pick this up please let us know😄

[2020-06-24 18:50] niels9001 commented on #3363
Great idea!

Having a 'compact' mode (where the selected color is shown) would be great. As you mentioned in the OT, a DropDown button could work for that. This is how we implemented this in PowerToys:

![FZColors](https://user-images.githubusercontent.com/9866362/82731988-a6174c80-9d0a-11ea-824a-247a30b96f0d.gif)

And this is a UX proposal for a Windows color picker tool: a redesigned colorpicker

[2020-06-24 19:08] robloo commented on #3363
@niels9001

I will definitely implement the drop down / preview functionality. I already have a control for this implementing it in one of my apps. It also has a checkered background for transparency. Bottom line, one of the main drivers of this is to get a more usable color picker to put in apps as soon as possible. We need to close the feature gap with user expectation.

The second idea is very

[2020-06-24 19:09] niels9001 commented on #3363
That would actually be a pretty neat addition: having a palette based on the selected color or swatch.

If you want me to help to do some UX mocks, let me know.

[2020-06-24 19:16] robloo commented on #3363
Yes, I definitely see the value. Actually, this (small palette) preview could probably be added as a preview method in ALL tabs. Instead of previewing only the selected color, the additional shades would also be shown. That would allow quickly increasing/decreasing shade or tint in a visual way.

For calculating the tints and shades what algorithm did you use? I don't want to just randomly mix in

[2020-06-24 19:26] niels9001 commented on #3363
I translated the Windows.UI.Color into a HSV value, and just played around with the V value. There are much better ways to do it, this was a 5 min hack to get the concept right :)

[2020-06-24 19:33] mdtauk commented on #3363
You could perhaps employ the same colour maths that is used to generate the light and dark shades of an accent colour.

[2020-06-24 19:48] Kyaa-dost commented on #2094
Closing this issue as it is being scrolled fine without disappearing 🚀 🚀

[2020-06-24 19:48] #2094 closed

[2020-06-24 19:48] robloo commented on #3363
I decided, for now, to start implementing these ideas into an existing app's custom color picker. That will speed up prototyping a lot and it allows for quickly adding these features to my own app without waiting for Microsoft. But it also means I'll have images to start getting feedback on quite a bit faster. When we have direction from Microsoft I can pull the code into the toolkit.

I also want

[2020-06-24 19:52] Kyaa-dost commented on #1920
This has been Implemented in IconExtensions 🔥

[2020-06-24 19:52] #1920 closed

[2020-06-24 19:57] Kyaa-dost commented on #1903
@agneszitte-nventive I know it's been way too long but is this work still being done or any update regarding the feasibility of this feature?

[2020-06-24 20:57] stevedeclerck commented on #1903
yeah, way too long 🙂

________________________________
Van: Kyaa Dost <notifications@github.com>
Verzonden: woensdag 24 juni 2020 21:57
Aan: windows-toolkit/WindowsCommunityToolkit <WindowsCommunityToolkit@noreply.github.com>
CC: stevedeclerck <steve.declerck@hotmail.com>; Mention <mention@noreply.github.com>
Onderwerp: Re: [windows-toolkit/WindowsCommunityToolkit] Add Font name/size/color to Text

[2020-06-24 21:48] Kyaa-dost commented on #2230
This seems to be fixed as @JohnnyWestlake mentioned above. @hutterm are you still having any problem or we can close this issue?

[2020-06-24 22:01] Kyaa-dost commented on #2572
Closing this issue as it seemed like it's difficult to implement.

[2020-06-24 22:01] #2572 closed

[2020-06-24 22:09] Kyaa-dost commented on #2419
@jefhai are you still having trouble with this or can we close this issue?

[2020-06-24 22:32] Kyaa-dost commented on #2920
Closing this issue as it was already answered with detailed info above. If still not clear please feel free to comment back.

[2020-06-24 22:32] #2920 closed

[2020-06-24 22:45] Kyaa-dost commented on #2914
Closing this issue as we have already responded above.

[2020-06-24 22:45] #2914 closed

[2020-06-24 22:55] Kyaa-dost commented on #2965
@premiaware was this resolved? if not could you please provide a sample repo asked above? I am unable to reproduce this either.

[2020-06-24 23:50] RBrid commented on #3073
Hello @filipwa84, I tried to repro the infinite loop and could not, at various screen resolutions.

What I saw were two things:

#1, I had to add the line "if (PropertyChanged != null)" in your app code below (MainPage.xaml.cs)

[code]
because sometimes PropertyChanged was null.  That fixed a NullRefException.

#2, I did not witness an infinite loop but a long loop. The data source has 1344 items

[2020-06-25 07:18] #2230 closed

[2020-06-25 14:30] agneszitte-nventive commented on #1903
@michael-hawker / @Kyaa-dost
I'm sorry I didn't have the time to work on it since.
If anyone wants to work on it they are welcome to do it.
Sorry for the lack of time.

[2020-06-25 16:25] Kyaa-dost commented on #1903
@agneszitte-nventive no worries! Let's see if any other community member is able to pick this up.

[2020-06-25 17:03] robloo commented on #3363
Here is what I have in mind for the Components tab. This is non-functional but it's real XAML and represents what I'm planning. Please let me know any comments. @mdtauk I used some of your previous mock-ups as well.

![image](https://user-images.githubusercontent.com/17993847/85764889-97de9680-b6e3-11ea-9114-f611a4d30c64.png)

It would also be good to have the background of the sliders dynamically

[2020-06-25 17:10] michael-hawker commented on #3363
Hey all, love the enthusiasm here. I know we do have some [Color value helpers](https://docs.microsoft.com/en-us/windows/communitytoolkit/helpers/colors) in the toolkit for some of these different HSV scenarios.

As for the re-implementing ColorPicker, especially with the existing proposals for WinUI, I really think improving the platform based control would be the best option still here.

@robloo

[2020-06-25 17:20] robloo commented on #3363
Hi @michael-hawker Thanks for the feedback.

I definitely agree that improving the platform control directly in WinUI is the end goal. However:
 1. I need this ASAP for apps -- especially the color-picker in a flyout drop-down button concept. Why not share it as others need it too?
 2. Prototype and implementing a first version here is a lot faster than in WinUI. You know Microsoft is a big ship,

[2020-06-25 17:22] alvinashcraft commented on #3295
The timeline for WinUI on UWP sandboxed apps running on .NET 5 is sometime in 2021, correct? Are there any 'non-public' packages for UWP/WinUI that can be shared?

[2020-06-25 17:24] Kyaa-dost commented on #2602
@thiagomoises can you please provide more detail on this asked above? ⬆️

[2020-06-25 17:27] Kyaa-dost commented on #2879
@M-Zuber Michael provided some important info above ⬆️ Does that make sense to you?

[2020-06-25 17:43] michael-hawker commented on #3335
@rizamarhaban thanks, we've found the issue and it will be resolved by #3365. So, don't worry about those tests failing locally, you should be all good, thanks!

I also was able to repro similar issues with just XAML directly here in the sample app:
[code]

Taking a look at your PR suggested fix now, thanks!

[2020-06-25 17:47] Sergio0694 commented on #3335
@michael-hawker Actually the second issue, the `OutOfMemoryException` from that `HighPerformance` test, has already been solved (that was in #3350), so if that has been merged into this PR I think it should already be fixed in here as well 👍

[2020-06-25 19:06] Kyaa-dost commented on #2640
@sonnemaf It's been a long time but was this issue resolved?

[2020-06-25 19:10] Kyaa-dost commented on #2762
Closing this issue as seems like it worked out 🚀

[2020-06-25 19:14] Kyaa-dost commented on #2885
@touseefbsb not certain about the status. Was this resolved?

[2020-06-25 19:32] Kyaa-dost commented on #1309
@michael-hawker is this something we want to proceed with?

[2020-06-25 20:06] Kyaa-dost commented on #2553
@gsantopaolo what's the status on this?

[2020-06-25 20:27] Kyaa-dost commented on #3086
@zhuxb711 If community members approve of this we can move forward. If you would like you can also create a PR too.

[2020-06-25 22:41] anawishnoff commented on #3355
@FreddyD-GH Thanks for posting this. This seems like it should be fixed. Is it causing any specific issues for you, or did you just happen to notice it? Have you played around with removing the space and seeing what happens?

[2020-06-25 22:50] anawishnoff commented on #3354
@rick-palmsens Thanks for clarifying. That might require editing the control template of the DataGrid Column? Paging @RBrid for advice

[2020-06-25 23:25] zhuxb711 commented on #3086
@Kyaa-dost I am very willing to help, but I mainly use C# and I am not familiar with C++, so I cannot provide corresponding help, I am very sorry.

[2020-06-25 23:49] Kyaa-dost commented on #3086
No worries, let's see what devs think about this feature.

[2020-06-26 02:55] robloo commented on #3363
Could I entice anyone with this?

![example1](https://user-images.githubusercontent.com/17993847/85815587-cafe4580-b736-11ea-8f17-5ac6ac6864bd.gif)

I had some extra time this evening and probably got 60% finished. I'm open for feedback now!

[2020-06-26 03:00] robloo commented on #3363
The color palette is also fully customizable. Assign a list of colors to CustomPaletteColors and then set the CustomPaletteSectionCount and you can do this:

![example2](https://user-images.githubusercontent.com/17993847/85815865-a2c31680-b737-11ea-9ac5-c935292bafde.gif)

[2020-06-26 05:24] FreddyD-GH commented on #3355
@anawishnoff  It was causing issues for me: I was trying to apply my own custom styling to the Datagrid and it wasn't working as expected.  However, I was already trying to tweak the DataGrid behavior, so I had copied the source files to my project already.  When I started debugging to determine why it wasn't working correctly, I found that the names did not match.  I made the edit in my project a

[2020-06-26 07:37] rick-palmsens commented on #3354
The DataGrid in WPF does have HeaderTemplate support: https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.datagridcolumn.headertemplateproperty?view=netframework-4.8

[2020-06-26 08:27] sonnemaf commented on #2640
No it is not. I could find a way to detect this.

I would like to know what the designer has chosen in the following dropdown:

![image](https://user-images.githubusercontent.com/9335559/85836652-3d067700-b797-11ea-9ec1-34dab10c91a4.png)

![image](https://user-images.githubusercontent.com/9335559/85836777-69ba8e80-b797-11ea-8fad-83ee72ab4604.png)

![image](https://user-images.githubusercontent.com

[2020-06-26 09:15] niels9001 commented on #3363
Awesome job @robloo I like it overall :)!

- Is there a branch somewhere to play with?

I think there are some (minor) margins/paddings that would need to be fixed, but let's leave that for now until we have the functionality right!

[2020-06-26 10:44] robloo commented on #3363
@niels9001

Not yet, this is being built first on an app with proprietary code just to make things faster. I don't have to worry about setting up the whole infrastructure of the toolkit and using my own nugets -- actually, I'm trying to avoid that altogether.

I was going to do the same! :) To not mess up the symmetry it should go above/below but that just isn't working layout-wise so it will prob

[2020-06-27 03:33] robloo commented on #3363
This is functionally complete now. I would like your feedback if I should proceed adding it to the toolkit. @niels9001 Thanks for all the comments and ideas so far.

![example3](https://user-images.githubusercontent.com/17993847/85913732-3f071f00-b805-11ea-9b7e-095b2d2f7e23.gif)

[2020-06-27 05:53] niels9001 commented on #3363
@robloo Awesome!

Do you have a test project you could create and share publically? I think it's more productive if I have access to the actual XAML instead of just a gif to provide feedback on.

Top of mind as far as I can see:
- We need to align margins
- The alpha slider should show the color gradient. This is how the current colorpicker does it (and is basically a industry standard).
- Should

[2020-06-27 11:54] robloo commented on #3363
I'll zip up a file and share hopefully this weekend. There are a few things I'm planning to wrap up as well:
 1. Update the color on a specific time period < 50ms (will remove lag from continuous color updates)
 2. Implement more visual states
 3. Work-around a fun binding issue that wouldn't be an issue in WPF. I can't Bind to UniformGrid Columns inside a GridView ItemsPanelTemplate -- makes sens

[2020-06-27 12:12] niels9001 commented on #3363
A .zip would be great!

**Mini-palette:** I was imagining something like that as well :)! It's nice how the 'active' color is larger and in the middle. This makes it clearer that these are a range of colors IMO!
**Margins:** Mostly the sliders page - but maybe we also need to widen the gap between the palette and the active controls with the double amount? This way the items would stand out a bit

[2020-06-27 12:29] robloo commented on #3363
Yea its for sure an interesting idea to test out. Not sure how much better it will look until we try it. I am a little concerned that the different sizes of swatches won't look quite right. Also, since WinUI/UWP doesn't support non-rectangular clipping I'm going to be rendering 3 checkered backgrounds instead of 1. There will be performance hit -- however small -- doing that and aligning the grids

[2020-06-27 13:43] robloo commented on #3363
@niels9001

One thing we need to figure out if we are going to use the mini-palette. How to calculated the shades? I just used your HSV hack in my code so far but that doesn't work obviously. It might take a lot of time to figure out how to calculate this so I would like some help. So far I've found:

 * https://github.com/MicrosoftDocs/windows-uwp/issues/1673
 * https://github.com/microsoft/fluen

[2020-06-27 19:33] robloo commented on #3363
Sizing the selected color larger in the mini-palette is better:

![image](https://user-images.githubusercontent.com/17993847/85930562-75877d00-b88b-11ea-86b1-0f9e54f2891e.png)

[2020-06-27 19:35] chingucoding commented on #3363
How about adding a light shadow to the selected color?

[2020-06-27 19:36] robloo commented on #3363
@chingucoding Yes! I was going to play around with that as well for the edges :) First rendering custom backgrounds for the sliders.

[2020-06-27 19:57] stevedeclerck commented on #1903
I wish I had the knowledge to do it...

________________________________
Van: Kyaa Dost <notifications@github.com>
Verzonden: donderdag 25 juni 2020 18:25
Aan: windows-toolkit/WindowsCommunityToolkit <WindowsCommunityToolkit@noreply.github.com>
CC: stevedeclerck <steve.declerck@hotmail.com>; Mention <mention@noreply.github.com>
Onderwerp: Re: [windows-toolkit/WindowsCommunityToolkit] Add Font name

[2020-06-27 21:14] robloo commented on #3363
@chingucoding Thinking about the shadows, do you know a was of adding a ThemeShadow entirely in XAML? I'm about to file a bug report/feature request in WinUI because it looks like there is no way to do it without using code-behind. You must connect to using `SharedShadow.Receivers.Add(BackgroundGrid);` or similar. This is a big problem if you are trying to do it in a control template and are avoid

[2020-06-27 21:17] chingucoding commented on #3363
Afaik, unfortunately there isn't a way to add shadows purely through XAML. Maybe there are WCT helpers for that?

[2020-06-27 21:22] robloo commented on #3363
That's what I was afraid of. I've always used the WCT DropShadow in the past and that's how I've already implemented it actually:

![image](https://user-images.githubusercontent.com/17993847/85932522-cbafec80-b89a-11ea-8f34-033492daa8e4.png)

The problem is this will now work in WinUI.

[2020-06-27 21:25] chingucoding commented on #3363
If this will ported to WinUI at some point, we will definitely find a solution, after all there are already controls using shadow in WinUI.

[2020-06-27 21:34] robloo commented on #3363
That's definitely a big "IF" it gets in WinUI as few seem interested in this right now :) However, I was trying to avoid having to change too much if it ever does go that far. You're right that there are solutions but unfortunately nothing 'clean.' I'll still file an issue in WinUI when I have a chance. Thanks for your input!

[2020-06-27 21:39] chingucoding commented on #3363
I am not sure what the problem with non XAML shadow is here in the first place. After all you will still need code behind, and having code behind shadows doesn't make retemplating any worse or better.

[2020-06-27 21:42] robloo commented on #3363
The problem is it violates the separation of view / view model, XAML/C#. You should be able to design and style the control however you wish without code-behind in traditional MVVM. The shadow has no use in the logic so requiring the controls that have a shadow be a template part and referenced from code-behind is not ideal.

[2020-06-27 21:50] chingucoding commented on #3363
I guess that is a valid concern for some folks. The only reason I would like being able to define it in XAML is because it is generally less to type, Also "without" code behind is kind of an arbitrary line you are drawing here, especially given with the powerful extensions WCT has.

But if that is your main concern with defining shadows in C#/C++, then that is your valid opinion!

[2020-06-27 21:58] robloo commented on #3363
Well, it's a concern for all control developers. XAML and MVVM are still very closely tied together even though some on the Windows side are forgetting those design principles. I do feel the need to keep reminding everyone. What if you were completely re-templating this control and needed another shadow? You wouldn't be able to do it without also hooking into the code-behind. That's a massive pain

[2020-06-27 22:07] chingucoding commented on #3363
The problem is that retemplating is a dangerous field. On the one hand, you would want devs to be able to style controls the way they want, on the other hand, from a control logic point, you need certain elements to exist.

Shadows is generally one of those things that are mostly about look and feel, however enabling/disabling the shadow is necessary in certain situations. In this case, it probabl

[2020-06-27 22:24] niels9001 commented on #3363
If I recall correctly, @michael-hawker was working on a XAML only helper to use the ThemeShadow without codr behind.

I like this mini-palette, especially with the shadow.

[2020-06-27 22:41] robloo commented on #3363
@chingucoding Back in the Windows Forms days we were constantly asked to do things that simply weren't possible. The control design was baked into the logic except for the standard Background/Foreground/etc properties. Then when WPF came along and all of a sudden we can re-template! Do you think I could make the Sliders change color dynamically in this control if the Slider didn't follow MVVM and

[2020-06-27 22:52] chingucoding commented on #3363
And I disagree with that mindset. It is not dangerous because you need to think about how skilled the developers retemplating are, but rather where you draw the line between retemplating ease and control functionality. A very complex control, will most likely won't leave much room for retemplating without breaking.

The system is not the only party that needs to change shadows, the control might a

[2020-06-27 23:00] robloo commented on #3363
@chingucoding

Yes, that's certainly true. The higher the complexity of control the more required template parts. Reducing template parts should always be the goal...

We can continue the discussion over here :) https://github.com/microsoft/microsoft-ui-xaml/issues/2772

[2020-06-28 04:09] robloo commented on #3363
I prototyped rendering the backgrounds for each slider:

![example1](https://user-images.githubusercontent.com/17993847/85937597-151c2e00-b8d3-11ea-9e67-dc5b1df1351a.gif)

I'm going to end up spending quite a bit of time optimizing I think. I will, for example, just calculate a 1 pixel line and stretch it to the full size as needed. Caching is difficult/impossible as each gradient must be recalcul

[2020-06-28 14:38] RaoHammas commented on #3295
It's not working with WinUI ! i followed exact steps and it gives followinf error (so nuget isn't installing).
`Microsoft.Toolkit.Uwp.UI.Controls 8.0.0-preview1 is not compatible with uap10.0.17763`

can someone help me here ?

[2020-06-28 15:22] alvinashcraft commented on #3295
Are you using it with a "WinUI on Desktop" project? The current preview only works with the .NET 5 projects, not the WinUI on UWP projects.

[2020-06-28 21:57] robloo commented on #3363
@niels9001 I had a chance to complete this both visually and functionally this afternoon. Please see the attached zip to play around with. Looking forward to your feedback!

@michael-hawker Let me know if I should start a PR (WIP) for this.

There is still a lot of things left to do. Several optimizations are needed or a brand new design of rendering the color channel gradients. I also have to wir

[2020-06-29 00:08] jtbrower commented on #3295
For anyone who lands on this page and decides to give the above a shot, the tutorial will not work past .Net5.0 preview 5.  At the time I am writing this comment, .Net5.0 preview 6 is out and it has breaking changes that require you to add a direct reference to the following NuGet package.

```    <PackageReference Include="Microsoft.Windows.CsWinRT" Version="0.1.0-prerelease.200623.5" />  ```

If

[2020-06-29 00:44] alvinashcraft commented on #3295
I was getting the same error with .Net5.0 preview 5 today. I had to roll back to preview 4 to get WinUI on Desktop projects that use WCT compiling with .Net 5.

[2020-06-29 01:29] jtbrower commented on #3295
Interesting.  I had thought it was related to [this](https://github.com/dotnet/runtime/pull/35681) change which I wasn't seeing until preview 6.

[2020-06-29 17:27] michael-hawker commented on #3363
@robloo I need to setup a meeting with the WinUI folks to just get their buy-in on this plan as well (among some other recent community proposals).

To clarify, we wouldn't be building off the inbox ColorPicker at all for now with the re-imagining? This would be an independent new control that has a similar base interface, but all these new features/templates as well?

[2020-06-29 17:37] robloo commented on #3363
@michael-hawker Ok, understood. Let me know if you any support for that specifically with this control.

Right now the ColorSwatchPicker is derived from the ColorPicker. This allows it to be a drop-in replacement which I think is important. It also allows me to use the existing dependency property definitions. All of the logic and styling is heavily, heavily re-written though.

I also realized it

[2020-06-29 17:45] michael-hawker commented on #3295
@alvinashcraft to support UWP currently with WinUI, the packages need to support the .NET Native toolchain. To support both Desktop and UWP, we'd need to multi-target our packages. Since this wouldn't make sense as the end-result, we just moved over early for the Desktop support, and are waiting on the .NET 5 support from the platform for UWP.

Before the move, we had done testing with the UWP sid

[2020-06-29 17:47] michael-hawker commented on #3295
@jtbrower I know the base WinUI 3 packages have issues with the new .NET 5 previews. I believe this should be all resolved in the upcoming Preview 2, we'll also refresh this Toolkit package at that time as well. But yes, for now you have to use .NET 5 Preview 4.

[2020-06-29 18:52] jtbrower commented on #3295
Hello @michael-hawker, I have been able to begin evaluation of WinUI with .Net 5 Preview 6 by adding a direct reference to the NuGet package below.  This is the same workaround that I needed to apply to use the PointOfService namespaces with .Net5.0 preview 6.  Although I am sure I might run into additional issues regarding version mismatches (what do you think) it has given me what I need to try

[2020-06-29 19:02] alvinashcraft commented on #3295
Thanks, @michael-hawker. I was working on the WCT chapter in my WinUI 3 book last week and over the weekend. I decided to write a simple sample app with WinUI on Desktop for the chapter. My original plan was to integrate some WCT controls into the WinUI on UWP sample app that spans multiple chapters.

Even with desktop/.NET5, I ran into some issues. No compile-time or runtime errors, but I couldn'

[2020-06-29 20:33] michael-hawker commented on #3295
Thanks @alvinashcraft for the feedback. The DataGrid should be working, but there is an issue tracking that [over here](https://github.com/microsoft/microsoft-ui-xaml/issues/2703), I'm not too sure what's causing the problem there, but @RBrid is taking a look, FYI @azchohfi.

As for the DropShadowPanel, it should mostly be using the composition APIs, so if there's a problem there too, it'd be good

[2020-06-29 20:36] michael-hawker commented on #3363
@robloo is your current code inheriting from the system ColorPicker or the Microsoft.UI.Xaml one? I'd suggest the former (even if there's known issues for now), as otherwise we currently don't have a good place in the Toolkit for a WinUI dependency like this.

I'll keep you posted on the meeting, it's really just about making sure we're all in sync with what you're proposing, their plans they have

[2020-06-29 21:12] robloo commented on #3363
I used Windows.UI.Xaml.Controls.ColorPicker just for you and the toolkit :) The known issues don't affect me as far as I can tell because this control is a re-write for the most part.

The dependency on WinUI I do have is for NumberBox... which I really would like to keep. I expected you would require that to be dropped though. So for the toolkit we could simply use Regex TextBoxes to filter input

[2020-06-30 06:12] MartinZikmund opened #3370 "[Feature] Extension to remove whitespace between TextBlock Runs"
## Describe the problem this feature would solve

While developing apps for high-school physics students, I noticed that writing `TextBlock` content with multiple `Runs` with proper whitespace is a bit hard:

For example to output "(1,6×10^19)" I have to do:

    <Run Text="(1,6×10" /><Run Text="&#8315;19" Typography.Variants="Superscript" /><Run Text=")" />

And this all has to be on a single lin

[2020-06-30 06:13] MartinZikmund commented on #3370
I would be happy to implement this feature if it looks like a good fit :-) .

[2020-06-30 11:08] filipwa84 commented on #3073
@RBrid Thanks for your reply. I included the StackPanel in the example as it makes it reproducible. However, I am getting the infinity/"long loop" with the Grid as well - at least it stops at the same line in DataGridRow.cs on every iteration.

When the DataGrid is in a Grid the loop occurs sporadically. One trigger is when the window is moved from one screen to another which makes me suspect that

[2020-06-30 15:31] Kyaa-dost commented on #3370
Thanks @MartinZikmund for highlighting the issue. Let's see what the other community members think and we can certainly move forward with this one.

[2020-06-30 16:21] Wigmund commented on #3295
ItemsRepeater within the Expander control doesn't seem to work, ListView does though :)

[2020-06-30 16:45] RBrid commented on #3073
Thanks @filipwa84, so the infinite loop occasionally occurs with the Grid too, and we should ignore the  ?

[code]

You may want to check what the DataGrid's MeasureOverride is given as availableSize. The available height should not be infinity. For example the Grid/DataGrid should not be placed in a vertically scrollable ScrollViewer. Thanks.

[2020-06-30 17:55] filipwa84 commented on #3073
@RBrid Yes, the loop occasionally occurs in the Grid too. My comments might be a bit confusing there - sorry about that.

I just checked the views where we encounter this issue in our production code and the DataGrid sits directly under the Grid so there is no StackPanel or ScrollViewer causing issues. As it only happens sporadically it's quite hard to come up with some reliable steps to reproduce

[2020-06-30 20:45] paulcam206 opened #3372 "Default accessibility name for GridSplitter misspelled"
https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/65449047fa143624bc962c0ce3fa364b1a42498f/Microsoft.Toolkit.Uwp.UI.Controls/Strings/en-US/Resources.resw#L205

Should be `GridSplitter`, not `GridSpliter` (note number of `t`s)

[2020-06-30 21:06] Kyaa-dost commented on #3372
@paulcam206 Thanks for pointing that out. Do you want to create a PR? This will be an easy merge 🚀

[2020-06-30 22:02] paulcam206 commented on #3372
@Kyaa-dost - #3373 :shipit:

[2020-06-30 22:36] michael-hawker commented on #3295
@Wigmund do you have a repro you could share and more details about what you're not seeing working? Feel free to file a new issue specifically for your scenario. Thanks!

[2020-07-01 00:10] michael-hawker commented on #3363
@robloo we're all good, feel free to open a draft PR if you have some stuff up and running, we can use it to provide any early feedback.

For the next release, we'll still be WUX based, so we should just use the Regex Textbox filters and the inbox ColorPicker, but when we move to WinUI 3 next year, we can just pick-up the NumberBox and the updated ColorPicker base pretty easily at that point.

[2020-07-01 00:12] michael-hawker commented on #3259
@yoshiask let's sync middle of next week sometime and see where you're at and where we should be heading. I think there's something we could do in this space, but we should make sure we're aligning with future design directions too.

[2020-07-01 00:14] michael-hawker commented on #3230
Should we think about a different property name or something?

@Sergio0694 let's start working on docs and samples, anyone who uses tech other than UWP that wants to help us is more than welcome to contribute as well!  I'm thinking we can create a separate repo in the org here specific to MVVM samples and where we can host some of the initial documentation before release, thoughts?

[2020-07-01 00:31] Sergio0694 commented on #3230
Whoops, forgot to update my reply here! I've refactored those APIs quite a bit in a previous PR, they're way less verbose and more user friendly now when specifically dealing with async request messages, in fact there's a dedicated message type now.

Here's how it works:

[code]

The trick here is that `AsyncRequestMessage<T>` exposes a `GetAwaiter` method, so you can now just use `await` on it di

[2020-07-01 02:26] robloo commented on #3363
@michael-hawker Ok, sounds good! I'll get around to opening the PR this coming weekend.

The most basic question first: Any concerns with calling this the 'ColorSwatchPicker' ? A name originally suggested by @mdtauk [here](https://github.com/microsoft/microsoft-ui-xaml/issues/2309#issuecomment-617905426)

[2020-07-01 08:57] chingucoding commented on #3363
I am not sure why we would include swatches in the name. After all it's just a part of the control but there are other ways to pick a color from this then using the color swatches.

[2020-07-01 14:24] LanceMcCarthy commented on #3349
Issue Triaged, blocked by up-level problem.

[2020-07-01 14:39] robloo commented on #3363
@chingucoding The swatch is the selected color that is visible in the button. It's not names for the flyout (like CalendarDatePicker is). Several other names such as ColorPickerButton were discussed. Feel free to suggest alternatives!

[2020-07-01 14:48] chingucoding commented on #3363
How about something like ColorPickerButton (though it seems that you dismissed that alread) or FlyoutColorPicker. After all the core colorpicker is not the button itself but rather the flyout.

[2020-07-01 14:52] robloo commented on #3363
DropDownColorPicker would probably be the most correct considering existing control names. ColorSwatchPicker was shorter and more differentiated -- had a nice sound to it. ColorPickerButton is what I call it in my own apps at the moment. I haven't dismissed anything this is just one of those controls that's tricky to get the name right.

[2020-07-01 19:23] chingucoding commented on #3363
Yes it's problematic that the obvious choice ColorPicker is already taken. DropDownColorPicker sounds good as it is even more accurate. Though ColorPickerButton I think describes a bit more what this is: It's a ColorPicker opened by a button. But still ColorPicker would have been the best name for this.

[2020-07-02 00:28] mdtauk commented on #3363
**ColorPickerFlyout** would bring it in line with the Menu Flyouts.  But **ColorPickerDropDownButton** could also work, if a little verbose.

[2020-07-02 00:49] AdmiralSnyder opened #3376 "IXamlMetadataContainer missing when dragging item from toolbox onto winforms (Framework) from"
## Describe the bug
when trying to drag a control from the toolbox onto a winforms form, this error message pops up:
---------------------------
Microsoft Visual Studio
---------------------------
Failed to create component 'WindowsXamlHost'.  The error message follows:

 'System.TypeLoadException: Could not find Windows Runtime type 'Microsoft.Toolkit.Win32.UI.XamlHost.IXamlMetadataContainer'.

[2020-07-02 21:04] stmoy commented on #3182
FWIW, here is the updated XCG icon:

![image](https://user-images.githubusercontent.com/25991996/86408971-dd174100-bc6c-11ea-9bb4-11f780492c60.png)

[2020-07-05 20:20] robloo commented on #3363
I decided to go with the original name I'm using in my apps 'ColorPickerButton' and what was suggested by @chingucoding . It's similar to 'DropDownButton' but instead specifies that a ColorPicker is provided. I decided against longer names that were slightly more descriptive that included the terms 'DropDown.' The names just became too long. After all, I blame Microsoft for misnaming the ColorPick

[2020-07-06 22:14] skendrot commented on #3348
@chingucoding That's an interesting find. Do the [other pages](https://github.com/windows-toolkit/WindowsCommunityToolkit/search?q=SubtitleTextBlockStyle&unscoped_q=SubtitleTextBlockStyle) that use that style fail to load correctly?

[2020-07-06 22:32] skendrot commented on #3257
This still sounds like a core bug. Panels shouldn't need to walk up a visual tree to determine the parent's padding. The size given to the panel in the measure method should be the available space

[2020-07-06 23:23] chingucoding commented on #3348
Interestingly. the other pages seem to load just fine. However all other pages don't load up with the XAML code being the first "visible" tab, that is MasterDetails view is the only one of those pages, that shows the XAML code when opening the page. All other samples show a different tab when opening the page. Maybe that is the issue here?

[2020-07-07 01:12] AdmiralSnyder commented on #3376
@Kyaa-dost how would i start fixing this?

[2020-07-07 15:57] Kyaa-dost commented on #3376
@AdmiralSnyder If you can fix that and create a PR that would be great 👍

[2020-07-07 16:15] michael-hawker commented on #3376
@marb2000 should this scenario work? Do you know what we might be missing here?

[2020-07-07 16:54] AdmiralSnyder commented on #3376
@Kyaa-dost i don't know where to start looking to fix that. - the XAML islands project doesn't build, for a start...

[2020-07-07 19:05] mdtauk commented on #3363
These thought occurred to me in another github repo issue, but there were perhaps out of scope, but may be useful here...

[code]
etc

You could include a tab for generated Palettes using colour math and colour theory, similar to Adobe Color.

[2020-07-07 20:09] robloo commented on #3363
@mdtauk I had a similar thought and it's why I designed the IColorPalette interface to be what it is. Any class can implement this interface to provide a color palette for the control and have it visually represented correctly in the color picker. There is no reason the implementing class couldn't generate colors dynamically as well!

In my own apps I've already added several different color palet

[2020-07-08 03:00] robloo commented on #3363
@niels9001 Have you had a chance to look at this recently? There is a PR for it you can download and build as well. I know you are working with your ColorPickerUX which looks awesome. However, your feedback and lesson's learned are quite useful wrapping up the first version of this control.

[2020-07-08 10:39] Sergio0694 opened #3382 "Switch to non-EOL .NET Core SDKs in the CI"
## Summary

The CI is currently showing this warning:

Assigning @azchohfi just as a ping, as you're the CI guru 😄

## Steps to Reproduce
Steps to reproduce the behavior:
1. Open any CI run page, eg. [this one](https://dev.azure.com/dotnet/WindowsCommunityToolkit/_build/results?buildId=35499&view=results)

## Screenshots
![image](https://user-images.githubusercontent.com/10199417/86908911-96679200

[2020-07-08 19:45] azchohfi commented on #3382
The notifications package still targets 3.0. We should move it to 3.1.
https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/5d03cac977f8e75a91b277066d406458c69f223f/Microsoft.Toolkit.Uwp.Notifications/Microsoft.Toolkit.Uwp.Notifications.csproj#L4
I think that is the only project that targets and sdk that is now EOL.
@Sergio0694 did you see anything else targeting an EOL sdk? Maybe one o

[2020-07-08 21:37] azchohfi commented on #3382
I'll send a PR.

[2020-07-08 22:13] michael-hawker commented on #3382
Yeah, especially as EOL, we should move forward, I'm not aware of any reasons for us to need to support specific versions of .NET Core as we only target .NET Standard for the library. It's really all about pipeline/build/CI to build the thing vs. end-developer dependencies.

I guess we just missed this one in the last update, wish we could centralize these versions across projects/cake....

Thanks

[2020-07-08 23:05] Sergio0694 commented on #3382
Hey @azchohfi - sorry for the delay!
Yeah I just checked and both the test projects for the `HighPerformance` package and the base toolkit packages only target .NET Core 2.1 and 3.1, I think we had already upgraded them while working on #3167, during the whole restructuring 😊

[2020-07-09 17:36] Kyaa-dost commented on #3376
@AdmiralSnyder Let's see what @marb2000 has to say about this scenario.

[2020-07-09 23:51] marb2000 commented on #3376
Using a .NET wrapped control like InkCanvas should work on the .NET Framework, although we **encourage everyone to move to .NET Core 3.x** . Also you should be able to use the WindowsXamlHost to host others system UWP controls.  Custom controls) are not supported.
We tested those  NET wrapped controls long time ago (2 years?), and they worked well.

Did you try to create the controls via code behi

[2020-07-10 07:47] AdmiralSnyder commented on #3376
hey, good idea. i tested it to create an InkCanvas at runtime, and got the problems described here:
https://techcommunity.microsoft.com/t5/windows-dev-appconsult/using-xaml-islands-on-windows-10-19h1-fixing-the-quot/ba-p/376330
after solving them by creating a manifest and adding the maxtestedversion thing, it works.
not in the designer, though...
and core designer bugs out, either... but that's W

[2020-07-10 19:35] shaheedmalik commented on #3259
Here's how the one in Word Mobile looks.

![image](https://user-images.githubusercontent.com/51347950/87191709-f484a880-c2c2-11ea-9603-54554ee3d444.png)

[2020-07-10 21:15] #3372 closed

[2020-07-10 21:16] jtbrower opened #3384 "DropShadowPanel Stretches Vertically but will not Stretch Horizontally (no ViewBox)"
## Describe the bug
I considered filing this bug report as a comment to #2311, however that issue was reported as a problem as it relates to the use of a ViewBox and what I am reporting does not.  I wanted to create a control that stretches to fill the area of its parents boundaries.  This is easy on its own, but if you want to add a Drop Shadow, I have found that a DropShadowPanel will not stretc

[2020-07-11 01:16] mdtauk commented on #3259
Mock ups I have posted in previous issues.

![uwp ribbon collapse](https://user-images.githubusercontent.com/7389110/87213388-8240b200-c31c-11ea-967a-ef6a19e6e633.png)
![uwp ribbon initial ideas](https://user-images.githubusercontent.com/7389110/87213389-82d94880-c31c-11ea-8a0d-c59ae0fc4f92.png)

[2020-07-11 01:20] shaheedmalik commented on #3259
Here's a mockup I did in the other thread.

![image](https://user-images.githubusercontent.com/51347950/87213457-20b81d80-c2f3-11ea-9ea2-93206cb09cd3.png)

[2020-07-11 04:34] takano03 opened #3385 "ArgumentOutOfRangeException in the markdown parser with "---\n---\n"."
## Describe the bug

The MarkdownDocument throws an ArgumentOutOfRange exception when entering this string:

## Steps to Reproduce

1. Run the following code.

[code]

2. The MarkdownDocument throws an ArgumentOutOfRange exception.

[code]

## Expected behavior

No exceptions should be raised.
The input Markdown is converted into two horizontal lines.

## Screenshots
If applicable, add screenshots

[2020-07-12 06:19] RaoHammas opened #3386 "Page break using Print Helper extension of windows-community-toolkit"
I'm using `PrintHelper` extension of `windows-community-toolkit` and printing some data. The problem is when data is large it overlaps the page and i can't find a way to dynamically add a new page and shift data to next page. Is there a way ?

    public PrintHelper PrintHelper;

    public void StartPrint(Panel container, List<CompanyDetail> PrintSampleItems)
    {
        try
        {

[2020-07-12 12:42] niels9001 commented on #3363
@robloo Sorry for the late reply. I did some tweaks:

- Acrylic backdrop behind the pivot tabs - this separates the tabs slightly more from the content of the pivot items.
- Added CornerRadius 4 to a lot of elements, so it's inline with WinUI's new style.
- Tweaked the Slider2 thumb so it's round.
- Updated a lot of spacing related stuff: using margins that are multipliers of 12. (the slider page

[2020-07-12 13:48] robloo commented on #3363
Thanks a lot for the feedback!

I like the pivot header background being a different color. Acrylic was a good thought to add here.

The CornerRadius of 4 is only for overlays. Controls use 2. I realize 4 looks nice but this seems to violate the design convention. Any thoughts on this? Additionally, I was keeping all color swatches 'square' which seems to be the windows convention. I agree that th

[2020-07-12 14:00] niels9001 commented on #3363
Good catch. Agree on 2 vs. 4, I picked the wrong number there. Since WCT didn't move towards WinUI at all we may want to skip it for now. Everything is square so having a control with rounded everything is maybe not really consistent.

Spacing on GridView makes sense. Making this configurable would be nice though.

As I mentioned, the spacing was a bit all over the place. I defaulted to 12px now,

[2020-07-12 14:13] robloo commented on #3363
Ok, if we have the thought perhaps we can revisit this in 6-9 months once WinUI 3.0 is out and everyone has moved over to it's standardized styling.

Generally, I like grouping related information by additional spacing as well. In this case 12px across the board seems to look better for me though (expect for the slider page). I thought I was pretty consistent with that 12px -- perhaps the code you

[2020-07-12 22:50] robloo commented on #3363
@niels9001

I update the styling in the PR:

 * Acrylic backdrop behind the pivot tabs - this separates the tabs slightly more from the content of the pivot items.
 * Added CornerRadius 2 to the mini-preview (it does look better)
 * Changed Bold labels to SemiBold

The code was changed to optimize things here and there.

[2020-07-13 13:50] misuo commented on #3259
Side question: Which tool/app have you used to create these mockups?

[2020-07-13 14:01] mdtauk commented on #3259
@misuo  I did those in Photoshop - I'd do them in Figma today though

[2020-07-13 15:52] Kyaa-dost commented on #3384
@jtbrower Welcome to UWP/WinUI! Let's see what dev thinks regarding the feasibility of this panel stretching horizontally.

[2020-07-13 16:36] Kyaa-dost commented on #3385
Thanks, @takano03 for highlighting the issue! Do you want to work on the fix and create a PR?

[2020-07-14 05:26] takano03 commented on #3385
Yes. please check the #3387 .

[2020-07-14 15:28] Kyaa-dost commented on #3386
Thanks for highlighting this and it's a great question. Let's see if our devs are aware of this and if there is any option we have to automatically adjust a large amount of data.

[2020-07-14 16:18] michael-hawker commented on #3384
@jtbrower you want to set the `HorizontalContentAlignment="Stretch"` on the DropShadowPanel, I believe that should make the panel stretch how you'd like.

However, in your scenario the shadow is being applied to the Grid not the text, so by stretching it you won't see any shadow. See our examples of text shadows in the sample app.

[2020-07-14 16:40] michael-hawker commented on #3386
@RaoHammas by default the control breaks pages by child framework element, so the grid itself is being only added to a single page I believe. I think the original intent was that the developer would still be in charge of creating pages for more complex scenarios. See the example [in our docs](https://docs.microsoft.com/en-us/windows/communitytoolkit/helpers/printhelper) for "Print a list with each

[2020-07-14 16:45] RaoHammas commented on #3386
I know. That's why example includes looping. So on each iteration a new framework element is added and that takes one page.

But this logic is incomplete and false. As i mentioned as user have no control on it because if my grid rows are more in number ? And let's say i decide that I'll print only 12 rows on each page ..still if a cell element is large ..in that case logic will break because row w

[2020-07-14 17:22] Kyaa-dost commented on #3386
@RaoHammas the logic you are stating makes sense. Let's see what the team mentioned above have to say regarding the actual code.

[2020-07-14 17:41] jtbrower commented on #3384
@Kyaa-dost thank you for the welcome, its been fun to switch to UWP/WinUI.  @michael-hawker I feel pretty dumb at this moment; you would think after spending 13 years of writing software in WPF that I would have attempted that simple fix.  I must have misled myself by staying focused on the fact that it vertically stretched without the VerticalContentAlignment being set.  I suppose that's related

[2020-07-14 18:54] XamlBrewer commented on #3386
Not sure the Print helper can do this, but you need your main control to be a RichTextBlock and generate Paragraphs for the items. More details here: https://xamlbrewer.wordpress.com/2016/10/25/a-recipe-for-printing-in-uwp-mvvm-apps/ .

[2020-07-15 10:34] revose commented on #3176
@Kyaa-dost Sorry for the late reply. Yup the problem is still consistent for me, even with TwoWay binding.

[2020-07-15 19:25] deanchalk commented on #3386
It seems to me that this issue could be because your data control (CompanyDetailReportTemplateControl) is virtualised, or inside a ScrollViewer.  You have the first row control (header) in the print and the third row control (footer) in the print, but the central datagrid is sized to the remaining space - but it there's not enough so maybe its virtualising or clipping ? which is the correct behavi

[2020-07-16 10:51] RaoHammas commented on #3386
@deanchalk  no sir, it's not because of virtualization. i think there is no automatic page adding mechanism. So that if data is large and need to overflow page then it should automatically add a new page and shift remaining data to that page. But it doesn't happen.

[2020-07-16 21:53] LanceMcCarthy commented on #3349
Issue Triaged, blocked by up-level problem.

[2020-07-17 17:02] Sergio0694 commented on #3230
Hey everyone, as @michael-hawker suggested I've linked a (very) draft preview of the docs in the first post 😊

Also including the link here for extra visibility: https://gist.github.com/Sergio0694/987209d0855837ee6835f6e758f5cf40.

[2020-07-18 13:46] alvinashcraft commented on #3295
Regarding the workaround to add Generic.xaml to App.xaml to get DataGrid to work, is <Library_Name> a placeholder for the the name of my project's name or for the name of the WCT library we're referencing?

[2020-07-18 18:20] mrlacey commented on #3230
Is there a version that makes it easy to give inline feedback on? (say as part of a PR?)

[2020-07-18 18:24] Sergio0694 commented on #3230
@mrlacey I'm working on a draft in a branch on the sample repo, I'll open a PR there as soon as it's finished so you'll be able to just add review comments directly on each line or section you think needs some work or changes 👍

[2020-07-18 19:37] mrlacey commented on #3230
I've been looking at how the Calcium framework includes a built-in exception handler for exceptions thrown within messages. Has anything similar been considered/discussed for inclusion here too? I couldn't find anything but this strikes me as a possible nice addition.

N.B. I haven't considered how this might work but just thinking about possibilities.

[2020-07-21 00:06] michael-hawker opened #3390 "InAppNotification doesn't wait to display all messages in stack/queue mode"
## Describe the bug
When using the InAppNotification control with a `StackMode` of `QueueBehind` or `StackInFront` we don't wait long enough to show each message for the notification duration time before dismissing them.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to the InAppNo

[2020-07-21 00:15] michael-hawker opened #3391 "InAppNotification Display gets corrupted when pushing messages with different methods in queue/stack"
## Describe the bug
If you use different show methods with the InAppNotification when using the `StackMode` of `QueueBehind` or `StackInFront` then the component display can get corrupted and show multiple close buttons or things out of place.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavio

[2020-07-21 00:16] michael-hawker commented on #3391
Noticed while reviewing #3368, but not specifically related to that PR was a problem before, so filing this here for tracking.

[2020-07-21 13:02] sonnemaf opened #3392 "VoiceCommand support"
It would be nice if you could assign VoiceCommands to buttons using the UWP SpeechRecognizer. Maybe this must not be limited to buttons only.

[code]

## Describe the solution
There are a lot of ways to implement this. You can create **Attached Properties** or use **Behaviors**. Not sure what the correct path is. I have created this issue to start the discussion.

## Describe alternatives you've c

[2020-07-21 15:08] Kyaa-dost commented on #3392
@sonnemaf Thanks for highlighting the feature and sharing the work. Let's see what our devs have to say on this one.

[2020-07-21 19:47] ptorr-msft commented on #3392
@sonnemaf , great idea. Do you (or anyone else reading the thread) currently make your apps accessible to screen readers etc. via UI Automation? If so, how do you think voice control would interact (or not) with those features?

[2020-07-21 22:16] michael-hawker commented on #3392
@sonnemaf just to clarify, this is using the system built-in [SpeechRecognizer API](https://docs.microsoft.com/en-us/uwp/api/Windows.Media.SpeechRecognition.SpeechRecognizer)? Do you know how this works with localization? Does the developer need to localize all the commands per language they want to support or does it kind of work off of English and transcribe at the system/API layer?

I do think

[2020-07-21 22:19] michael-hawker commented on #3384
Thanks @jtbrower no problem, happy to help. Thanks for using the Windows Community Toolkit, let us know if there's anything else we can help with. If you haven't already, there's a lot of helpful folks on the UWP Community Discord server, we have a channel there as well for the toolkit: https://discord.gg/zBA5aCn

[2020-07-21 22:19] #3384 closed

[2020-07-21 22:36] michael-hawker commented on #2976
Linking back to discussions on details of GridSplitter from this unmerged PR: https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/2018

When I get to this work (Aug/Sept?), I'll start with the common base between `ContentSizer` and abstracting the modification logic and reusing the visuals for a new `GridSplitter`, then we can hopefully reworks some logic and clarify what needs to be d

[2020-07-22 00:37] jtbrower commented on #3384
@michael-hawker thanks for the tip.  I feel like an old guy, I still don't have a Discord account and didn't even know what it was until I heard it being mentioned on several podcasts I listen to this year.  I need to get on the bandwagon.

[2020-07-22 02:19] #3382 closed

[2020-07-22 04:04] ForerunnerG34 opened #3393 "Unable to change the background color of Column Headers in DataGrid"
## Describe the bug
Custom background color for Column Headers is not applied.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Add a DataGrid to your project.
2. Set a background color for the column headers using styles.
3. Custom color is not applied.

## Expected behavior
The column

[2020-07-22 04:25] ForerunnerG34 commented on #3393
The current code is using a SolidColorBrush resources for the VisualState, and it fails to apply any custom color. It should by Color.

[2020-07-22 17:48] michael-hawker commented on #3384
No worries @jtbrower, I just got on the Discord train this year myself. I feel like continual learning is one of the perks of software development, it's what made me fall in love with Computer Science in general. Though I do agree, it's a bit hard to keep up at times with all the current trends. Keeps us on our toes! 🙂

[2020-07-22 17:53] Kyaa-dost commented on #3393
@ForerunnerG34 Thanks for highlighting the issue and creating a PR!

[2020-07-22 19:36] jtbrower commented on #3384
The constant change and process of discovery and learning is also exactly what keeps me interested.  I'll admit, the UI struggles can be frustrating at times but I see hope in the future for us .Net XAML users.  I appreciate the access to the ToolKit, I can't begin to imagine the number of engineering hours that have gone into this project.

[2020-07-22 20:10] michael-hawker opened #3396 "Remove Toolkit Platform Analyzers"
## Describe the bug
We don't have a good way to determine a project's targets so our platform analyzers can't work effectively. This was an oversight we didn't realize when we first built them. [See discussion and comments here](https://github.com/mrlacey/Rapid-XAML-Toolkit/issues/146)

With that in mind, we'll remove them from the toolkit for 7.0 and follow-up with the platform/SDK team to implem

[2020-07-22 20:14] michael-hawker commented on #3282
Unfortunately going to close this issue, we just don't have the data to make the analyzers work, see #3396. Please follow-up with the need for this in the discussion on [CsWinRT here](https://github.com/microsoft/CsWinRT/issues/293).

[2020-07-22 20:14] #3282 closed

[2020-07-23 08:11] sonnemaf commented on #3392
@michael-hawker It works with localization for the languages which support, but only for a few languages. Speech Recognition is available only for the following languages: English (United States, United Kingdom, Canada, India, and Australia), French, German, Japanese, Mandarin (Chinese Simplified and Chinese Traditional), and Spanish. [Source](https://support.microsoft.com/en-gb/help/12427/windows

[2020-07-23 08:14] sonnemaf commented on #3392
@ptorr-msft I'm ashamed that I haven't done this (yet). I can imagine that it should interact with those features. I'm only afraid that this would take ages to implement. An extra component in the toolkit is much faster to implement.

[2020-07-23 11:38] niels9001 commented on #3392
I must say that this is a really exciting feature request!. Voice interaction is becoming a common way of interacting with devices. The popularity of home speakers (e.g. Echo or Google Home) show that consumers accept and are capable of using systems this way - we see the same in the enterprise space. Having a standard way of using voice to interact with UI elements on the Windows/WinUI platform w

[2020-07-23 23:27] michael-hawker commented on #3392
Thanks @niels9001 for some great input and resources! 🦙❤

@sonnemaf you should be able to use an attached property too, that's what we do for the [implicit animations in the toolkit](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Animations/Implicit.cs), you just need a helper type to collect them as a list. Either way, seems like you've got a great

[2020-07-24 09:22] sonnemaf commented on #3392
@michael-hawker I forgot the trick you used for collection on attached properties. 😊

I have fixed a problem in [my repository](https://github.com/sonnemaf/VoiceCommandsDemo) with reactivating the app. It seems that you have to start listening again. It is not the most beautiful solution but it works.

Maybe we should also think about a **What can I say** features as described in these [docs](http

[2020-07-24 16:20] alexandrebodi opened #3398 "Replace content of List in MasterDetailsView when empty"
Hello there,

Basically, what I want to accomplish is to display a message (`TextBlock`) instead of the default `ListView` when the latter has no items.

The only way I manage to do this statically (without any update at runtime) was to overwrite `MasterDetailsView.Resources`, where I add a `Controltemplate` for `ListView`, like in the markup below:

[code]

However, as I mentioned, that gives me

[2020-07-24 17:48] mrlacey opened #3399 "GridSplitter accessibility issue reported by Accessibility Insights"
## Describe the bug

The GridSplitter uses a symbol for the handle icon ("\xE784" & "\xE76F") and this is exposed to the automation tools. However, this is not an accessible value and so fails basic accessibility testing.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Steps to reproduce the behavior:
1. Add a GridSplitt

[2020-07-24 18:09] Kyaa-dost commented on #3399
Thanks, @mrlacey for the find! Are you already working on a fix?

[2020-07-24 18:10] mrlacey commented on #3399
can do ;)

[2020-07-26 12:20] #3385 closed

[2020-07-27 05:32] niels9001 commented on #3122
@michael-hawker Just wanted to check, is this feature still on the roadmap for 7.0? That should drop in August/September if I recall correctly?

[2020-07-27 10:33] sonnemaf commented on #3392
I have updated my sample app. It now is a functional page. I even added a prototype of a 'What can I say' solution.

![image](https://user-images.githubusercontent.com/9335559/88532432-e34ad400-d004-11ea-97bb-562b63d63a71.png)

The VoiceCommandTrigger is currently using the UWP SpeechRecognizer class. I think this is wrong. It should allow to plug-in any speech recognizer solution. I will try to i

[2020-07-27 11:34] mrlacey opened #3400 "Unable to set AutomationProperties on DataGridCell"
## Describe the bug

If using a `DataGridTemplateColumn` inside a DataGrid, it is not possible to set the appropriate automation properties on the DataCellTemplate. This leads to a UI Automation Tree that fails basic accessibility testing with Accessibility Insights for Windows. Specifically, it fails due to issues related to [Section 508 502.3.1](https://www.access-board.gov/guidelines-and-standa

[2020-07-27 12:52] alexandrebodi commented on #3398
OK. I managed to get around this by adding a `ControlTemplate` of my own, by basically copying the default one used by `MasterDetailsView` and adding my stuff, i.e. a `TextBlock` whose visibility is controlled through `VisualState`s.

However, I really wanted to avoid that, since any update to the `MasterDetailsView`, in regards to its original `ControlTemplate`, will be missed by my app.

In case

[2020-07-27 16:57] Kyaa-dost commented on #3400
@anawishnoff ⬆️

[2020-07-27 21:35] skendrot commented on #3398
I would suggest just adding the message to your view/page instead of the MasterDetailsView. This can easily be hidden/shown by binding to the count of your collection

[2020-07-27 21:48] alexandrebodi commented on #3398
Hello @skendrot , thank you for your feedback.

I'd really like to take advantage of the `MasterDetailsView` control, since it already takes care of so much (dynamic display of master or details pane upon window resizing, etc.).

If I don't use it, I would need to rewrite a lot of C# and XAML code.

The bottom line here is that I need to replace a specific part of the visual tree that composes the

[2020-07-27 23:13] michael-hawker commented on #3122
@niels9001 this is indeed something we have on the 7.0 roadmap as high-priority, though we haven't set a specific release date yet. I think I said I'd be figuring out the date by Aug/Sept. 😋 Main reason is we haven't dug into evaluating the scope of work on the tech-debt called out in our [release plan](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3062), that'll start happenin

[2020-07-27 23:49] michael-hawker commented on #3284
Hey @oenarap just wanted to touch-base and see if improving BladeView for these scenarios was still something you were interested in taking on or not?

[2020-07-27 23:54] michael-hawker commented on #3398
@alexandrebodi I think @skendrot suggestion is to handle the scenario at your page's level vs. within the control itself (i.e. hide the MDV and show the message that there's no items).

We do have the `NoSelectionContent` property on the control as is, so handling a `NoItemsContent` scenario as well does seem interesting.  However, I know there was the old request about #1187 around how we handle

[2020-07-27 23:56] michael-hawker commented on #3399
Thanks @mrlacey, I'm planning on my stream tomorrow afternoon to attempt the initial refactor of the GridSplitter (based on my ContentSizer control), but I believe the content symbol will work similarly/the same; so I imagine it has the same issue?

Are we just missing an automation property name somewhere?