[2017-10-29 22:48] kaohlive commented on #1549
One step closer:
`                    System.Net.Http.HttpRequestMessage httpRequestMessage = new System.Net.Http.HttpRequestMessage(System.Net.Http.HttpMethod.Get, string.Format("https://api.onedrive.com/v1.0/drives/{0}/items/{1}", sharedDriveId, sharedFolderId));
                    await OneDriveService.Instance.Provider.AuthenticationProvider.AuthenticateRequestAsync(httpRequestMessage);

[2017-10-29 23:07] kaohlive commented on #1549
And I have it figured out!
`string sharedDriveId = locatedFolder.OneDriveItem.RemoteItem.ParentReference.DriveId;
string sharedFolderId = locatedFolder.OneDriveItem.RemoteItem.Id;
var sharedDriveItem = await OneDriveService.Instance.Provider.Drives[sharedDriveId].Items[sharedFolderId].Request().GetAsync();
var sharedFolder = new OneDriveStorageFolder(OneDriveService.Instance.Provider, OneDriveServ

[2017-10-30 14:11] MannusEtten commented on #893
is it also possible that commandbar (master/detail) doesn't matter can be put on top of the list or item?

[2017-10-30 14:47] skendrot commented on #893
The command bar is at the bottom by default but can be placed at the top by restyling the control

[2017-10-30 15:31] skendrot opened #1578 "Toolkit should use Expression builder"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

The toolkit currently uses expressions that are stringly typed. The toolkit should use the new expression builder classes. Using the classes would also help others see how they can be used.

## Expected behavior

To use the expression builder classes

## Minimal reproduction of the problem with instructions

## Environment

[c

[2017-10-30 16:07] CSTRSK commented on #1152
@uwptoolkitbot  the problem is still not fixt. And the issue is still active i have still the seam problem like before!!!

[2017-10-30 16:39] martinsuchan commented on #1497
Those are promising files, even though only the UniversalApiContract XML file for Windows 10.0.16299.0 is 10MB large XML file.
The question is - are those doc files complete and reliable with perfect 1:1 mapping to actual types in Windows 10.0.16299.0?

It might be still worth a shot creating proof of concept analyzer that checks attributes of UWP types directly, like in this case:

![image](https

[2017-10-30 17:47] nmetulev commented on #1152
The issue is on our backlog, we just haven't gotten around to it. Feel free to submit a PR if you have a fix. Otherwise, could you share a quick repro project that can help us reproduce the issue (you mentioned the file is corrupted above)?

[2017-10-30 18:01] nmetulev commented on #1497
I agree, it's worth a shot. Looks like each version is just a multiple of 65536.

[2017-10-30 18:16] nmetulev commented on #1577
Hey @premiaware, I'm unable to reproduce the issue. When I hit *Get Languages*, the languages dropdown gets populated as expected. It might be something with your key, feel free to send it to me to test it out at nmetulev (at) microsoft.com

[2017-10-30 19:39] nmetulev commented on #1577
Thank you for sharing your key. It looks like you are using a key for a **Translator Speech API** which is not supported. You need to use a key for the **Translator Text API** service.

[2017-10-30 20:20] premiaware commented on #1577
Thanks for the time you reserved for me. now the problem is resolved, sure to find inside the azure the "Translator Text" is not very simple and intuitive, I only find them doing a text search. Anyway problem solved thanks again

[2017-10-30 20:20] #1577 closed

[2017-10-31 08:00] GiancarloLelli commented on #25
Hi
I'd like to pick up this issue and issue #24 - It'll be my first contribution hence I need a little guidance. Can you help me @nmetulev ?

[2017-10-31 08:01] GiancarloLelli commented on #24
Hi @deltakosh @mrlacey can I help on this?

[2017-10-31 10:00] MannusEtten commented on #893
thanks @skendrot , how can i retrieve the default style of the control so i can make a restyled version?

[2017-10-31 20:10] #1275 closed

[2017-10-31 20:10] #1265 closed

[2017-10-31 20:53] nmetulev commented on #893
Hey @MannusEtten, you can copy the [style from here](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/MasterDetailsView/MasterDetailsView.xaml) into your App.xaml and make changes as you see fit

[2017-10-31 20:57] nmetulev commented on #25
Hey @GiancarloLelli, that's great, I can always help guide you :).

The only things I ask is to wait a week or so while we reach out to the Bing team internally to get their guidance and recommendation on this as things might have changed on their end.

ping @cbarkerms

[2017-10-31 21:23] skendrot opened #1583 "Expander does not respect Border properties"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

The Expander does not respect the BorderBrush or BorderThickness properties

## Expected behavior

The Expander control should use the BorderBrush and BorderThickness properties and apply them around the control.

## Minimal reproduction of the problem with instructions

[code]

## Environment

[code]

[2017-10-31 21:30] nmetulev commented on #1583
ping @Odonno

[2017-10-31 21:44] nmetulev commented on #1391
ping @michael-hawker, do you think you can make it for 2.1?

[2017-10-31 21:45] hermitdave commented on #1391
@michael-hawker should.. if he doesn't i will once your PR goes through

[2017-10-31 22:20] #1553 closed

[2017-10-31 22:22] #1551 closed

[2017-10-31 22:23] nmetulev commented on #1328
PR merged

[2017-10-31 22:23] nmetulev commented on #1516
PR merged

[2017-10-31 22:23] #1516 closed

[2017-10-31 22:24] nmetulev commented on #966
PR merged

[2017-10-31 22:24] #966 closed

[2017-10-31 22:25] nmetulev commented on #924
Looks like all items are completed and this can be closed

[2017-10-31 22:25] #924 closed

[2017-10-31 22:26] #1583 closed

[2017-11-01 01:11] nmetulev commented on #764
@HesamKashefi, could you open a uservoice entry for this in order to gauge the community interest in building this?

[2017-11-01 08:44] GiancarloLelli commented on #25
Sure no problem @nmetulev! :)

[2017-11-01 09:59] Odonno commented on #1583
Ok. That was quick. Good job @skendrot

[2017-11-01 10:03] Odonno commented on #1568
@cbarkerms Why only OneDrive service? Shouldn't be all services with .NET Standard support?

[2017-11-01 11:29] hermitdave commented on #1568
@Odonno @cbarkerms is adding these per request basis rather than all at once.

[2017-11-01 11:56] ghost opened #1587 "Add WordPress Service support"
## I'm submitting a...

[code]

## UserVoice link

[https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/32095405-add-wordpress-service-support](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/32095405-add-wordpress-service-support)

Currently UWP Community Toolkit includes seven services that are very useful but more is always better, i

[2017-11-01 12:00] hermitdave commented on #1587
WordPress rest API are available here
https://wordpress.org/plugins/rest-api/ I am sure we can craft a service if there is sufficient interest.

[2017-11-01 15:03] twsouthwick commented on #791
Before I spend more time on getting a fix for this, the items I listed above need to be addressed. @skendrot do you have any feedback for the challenges in my previous comment?

[2017-11-01 16:57] skendrot commented on #791
This issue is very similar to #1306. The keyboard needs to allow up/down navigation without selecting an item.
We need to maintain that the ListView in the master section can be restyled to another control, but I think we can make the assumption that the control will be a Selector.

[2017-11-01 17:17] nmetulev commented on #1569
Hey @Vijay-Nirmal, we should probably change 2 to be a quote anyway, what do you think?

`>Note: Some note`

[2017-11-01 17:23] Vijay-Nirmal commented on #1569
We can change to

[code]

![chrome_2017-11-01_22-51-42](https://user-images.githubusercontent.com/24755596/32287599-62d7dedc-bf57-11e7-81e1-c4a308ccb010.png)

[2017-11-01 17:32] pablojim99 commented on #1587
I'd be pleased to help but I think I'm not able to lead the integration

[2017-11-01 17:40] dend commented on #1569
What @Vijay-Nirmal suggested in the last comment is the correct way to do this.

[2017-11-01 17:44] nmetulev commented on #1569
I like it, @Vijay-Nirmal, you up for it?

[2017-11-01 17:49] Vijay-Nirmal commented on #1569
I will do it by Sunday.

[2017-11-01 21:06] lukasf commented on #1471
Unfortunately, Microsoft has made all virtualizing panels sealed. So a virtualizing panel would need to be created from scratch, which is a very huge task. There is not a single sample for implementing a custom virtualizing panel in UWP. I remember a blog post for creating such a panel in WPF where some base virtualization infrastructure could be used. Still, it was extremely complicated stuff eve

[2017-11-01 22:45] nmetulev commented on #1471
Agree. This can be easier when doing it as part of an ItemsControl (in the case of the CarouselPanel) since we can override the container creation and recycle containers there.

[2017-11-02 00:00] #1495 closed

[2017-11-02 02:03] #1391 closed

[2017-11-02 02:04] #1328 closed

[2017-11-02 02:06] nmetulev commented on #1520
Is this still an issue with the latest changes in #1586

[2017-11-02 02:12] #1177 closed

[2017-11-02 02:17] #1007 closed

[2017-11-02 05:07] michael-hawker commented on #1520
@nmetulev I didn't specifically address it with the ImageEx/RoundImageEx update.

This seems like a class of issue with Blur in general (vs. RoundImageEx).  As you can get this 'boxed' clipping issue with just a regular platform Image control as well.

If you just turn the value all the way up on our blur sample, you get the same thing:

![image](https://user-images.githubusercontent.com/24302614/

[2017-11-02 08:50] birbilis commented on #1471
I had collected some related links here:
https://www.dropbox.com/sh/uo8m5yw5et1arc5/AACxUYMr5xsWj1B1-3ffRTDya?dl=0

is UWP doing things differently there compared to WPF's approach?

[2017-11-02 10:08] lukasf commented on #1471
Well, most importantly, the WPF VirtualizingPanel is NOT sealed.

[2017-11-02 10:53] birbilis commented on #1471
in that case I'd go for:
1) inform MS (via uservoice and/or Microsoft connect if applicable) on the need to unseal it or provide a descendant class that isn't sealed, aka CustomVirtualizingPanel. Also post on xaml-standard effort's repository about that issue. Probably some wiki entry or blog post is first needed to explain the issue
2) decompile existing UPF code if possible
3) find WPF implement

[2017-11-02 11:01] birbilis commented on #1471
indeed, at
 https://blogs.msdn.microsoft.com/dancre/2006/02/06/implementing-a-virtualized-panel-in-wpf-avalon/
it also says about descending from VirtualizingPanel. So I'd first checkout what that one was doing in WPF using decompilation or Mono/Microsoft sources. I'd expect such classes to be implementing some interfaces that you could also implement instead of being forced to descend from them.

[2017-11-02 14:05] lukasf commented on #1471
I created a UserVoice item for this a few months back.

https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18327196-open-up-virtualizingpanel-and-orientedvirtualizing

[2017-11-02 18:05] nmetulev commented on #1520
Agreed. I've updated the sample already, I'll go ahead and close this issue

[2017-11-02 18:05] #1520 closed

[2017-11-02 18:06] nmetulev commented on #1509
Fix merged

[2017-11-02 18:06] #1509 closed

[2017-11-02 22:32] #1465 closed

[2017-11-02 22:33] #1575 closed

[2017-11-03 10:52] mvegaca opened #1589 "MasterDetail control has strange behaviors on HamburguerMenu App"
## Issue information
Hi.

I was working on Windows Template Studio [Issue 1356](https://github.com/Microsoft/WindowsTemplateStudio/issues/1356) that reports a strange behavior on MasterDetail control. I've verified that this behavior only happens on Navigation pane projects (Hamburger menu control).

I was looking and the code and it looks like this behavior could be an Issue of MasterDetail contr

[2017-11-03 17:33] nmetulev commented on #1589
ping @skendrot

[2017-11-03 20:11] skendrot commented on #1589
Your sample repo works fine. I followed the steps in the WTS issue and cannot reproduce.

[2017-11-03 21:42] zlstringham commented on #1572
@nmetulev Is there a restriction against using an external package to render such a control? Microsoft.Win2D seems ideal since it can render ink as well as text.

[2017-11-04 07:50] #1142 closed

[2017-11-04 11:06] Vijay-Nirmal commented on #1569
@dend How to use bulleted list in "Note"? Does the below code work?
[code]

[2017-11-04 16:00] rvinothrajendran opened #1590 "AppPinManager - New Feature"
Hello Team,

I Would like to add my AppPinManager Helper Class to UWPCommunityToolkit , this class use to add the App in StartMenu or Taskbar as a shortcut
Please let me know how to go further

Windows 10 Build Number:
- [ X] Creators Update (15063)
- [ X] Fall Creators Update (16299)

App min and target version:
- [ X] Creators Update (15063)
- [X ] Fall Creators Update (16299)

Device form facto

[2017-11-04 20:25] Joebeazelman commented on #893
Apparently, CommandBar has been implemented, but how do you use it?

[2017-11-04 23:09] shenchauhan commented on #1410
Working on this.

[2017-11-05 02:45] zipswich opened #1592 "Discrepancy between the app and NuGet package."
## I'm submitting a...

[code]

## Current behavior
SystemInformation.IsFirstRun is not available.

## Expected behavior
SystemInformation.IsFirstRun is available.  the UWP Toolkit app shows this function.

## Minimal reproduction of the problem with instructions
Try using SystemInformation.IsFirstRun in code.

## Environment
Nuget Package(s):
Microsfot.Toolkit

Package Version(s):
 V2.0.0

Window

[2017-11-05 04:31] IbraheemOsama commented on #1480
@taha3azab hey Taha, can you provide a scenario for this bug ?

[2017-11-05 06:44] nmetulev commented on #1592
Hey @zipswich, IsFirstRun will be available in 2.1, it is not available in 2.0. If you are running the sample app from GitHub, it will contain APIs not yet released. If you want to try out the new stuff before it is released, you can use the [pre-release packages](https://dotnet.myget.org/gallery/uwpcommunitytoolkit)

[2017-11-05 06:51] nmetulev commented on #1590
Hey @rvinothrajendran, it sounds interesting. Do you have more info about how your helper works? What does the API look like?

Please also create a [UserVoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit) entry to gauge the interest from the community.

[2017-11-05 06:58] nmetulev commented on #1572
None at all, we are already using Win2D for some of the animation effects.

I agree, Win2D would be the way to go here, especially in combination with the [CompositionVistualDrawingSurface](https://docs.microsoft.com/en-us/uwp/api/windows.ui.composition.compositionvirtualdrawingsurface)

[2017-11-05 10:17] dend commented on #1569
@Vijay-Nirmal yes, that should do it.

[2017-11-05 11:13] zipswich commented on #1592
@nmetulev Thank you for the clarification. I'd like to suggest keeping the Sample app and the current NuGet package consistent.  This is how I typically use the toolkit (I suspect many others are similar):
1. Launch the sample app.
2. Find what I need, read the code and document.
3. Copy then modify the interested code in my app.

You can see I always start with the sample app.  I keep telling peo

[2017-11-05 13:04] rvinothrajendran commented on #1590
Hi @nmetulev thanks for your reply

HelperClass Name  :  PinManager
it has following API
1. PinToTaskBarAsync( ) API add into the  TaskBar shortcut
2. PinToStartMenuAsync(AppListEntry entry) add into the StartMenu shortcut

both API is return the PinResult ( as given below)
public enum PinResult
    {
        UnsupportedDeviceorOs = 0,
        PinNotAllowed = 1,
        PinPresent = 2,
        Pin

[2017-11-05 13:25] martinsuchan commented on #1324
Pull request https://github.com/Microsoft/UWPCommunityToolkit/pull/1593 is now available. Some notes:
- I've changed the name of the class based on feedback from Cursor.Use to **Mouse.Cursor**.
- I've actually used this feature in one of my apps in the last few months and based on the feedback/bugs I found in the process I've changed the code of the class completely. It no longer stores the elemen

[2017-11-05 21:19] nmetulev commented on #1592
Hey @zipswich, agreed. Are you seeing the API in the app downloaded from the store? When I download the app from the store, I don't see any APIs not available in 2.0.

[2017-11-05 21:25] zipswich commented on #1592
@nmetulev  Here is the screenshot:
![image](https://user-images.githubusercontent.com/6095671/32419304-db3a38e8-c245-11e7-8403-bffd6f5eca8e.png)

[2017-11-06 05:46] nmetulev commented on #1592
Ah, I see, it's the documentation. The app automatically get's the latest from GitHub. Agree, this needs to be fixed

[2017-11-06 06:52] Vijay-Nirmal commented on #1590
@rvinothrajendran Share the UserVoice link here.

[2017-11-06 07:33] rvinothrajendran commented on #1590
@Vijay-Nirmal link has updated

[2017-11-06 08:19] mvegaca commented on #1589
Hi @skendrot

I've confirmed that it still happens.

**Step 1**
Open the app in wide state

![image](https://user-images.githubusercontent.com/5556784/32431075-3ec17f20-c2d2-11e7-9dc4-5a142fc15447.png)

**Step 2**
Navigate to Companies view.

![image](https://user-images.githubusercontent.com/5556784/32431225-f0a28fd6-c2d2-11e7-8c21-2caca6019e1b.png)

**Step 3**
Reduce the window with enough to th

[2017-11-06 08:21] mvegaca commented on #1589
This situation does not happen all times but it can be reproducible.

[2017-11-06 09:45] ilinkmobility opened #1594 "Missing support for relative reference link and svg image in MarkdownTextBlock"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

1. Missing support for relative reference within same reference group. Its not generate the hyperlink link.
Eg : `[Refer relative reference](../home/relative.md)`

2. SVG images are not loaded in Image
Eg : `![Toolkit logo](https://image.flaticon.com/icons/svg/178/178156.svg)`

![md-issue](https://user-images.githubusercontent

[2017-11-06 12:12] zipswich commented on #1592
Thanks, @nmetulev  I hate to this leading extra workload on you folks unless it can be fixed without disrupting the automation.  I am wondering if the properties and methods can have labels **automatically** showing the versions that introduce them.   The title bar of the app could show the version (all my UWP apps do ☺).  In this case, users know which ones are available and which are coming.

[2017-11-06 18:07] nmetulev commented on #1594
Thanks for submitting the issue, these both sound like great improvements. Feel free to submit a Pull Request to add these.

[2017-11-06 18:09] nmetulev commented on #1592
It's shouldn't be a lot of work to add, I just need to change the sample app to get latest from our [docs repo](https://github.com/MicrosoftDocs/UWPCommunityToolkitDocs) instead of the main repo :)

[2017-11-06 18:34] nmetulev commented on #1590
Thanks @rvinothrajendran, this looks great to me.

[2017-11-06 20:33] michael-hawker commented on #1592
@nmetulev I did notice a similar type of issue with the new docs.microsoft.com links.  In the [BluetoothLEHelper](https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/helpers/BluetoothLEHelper) its source code link is pointing to master, but it's been moved since 2.0.

[2017-11-06 20:49] nmetulev commented on #1592
Good catch, will update that one too

[2017-11-07 04:40] aalok05 opened #1596 "Diff syntax highlighting in MarkdownTextblock"
## I'm submitting a...
[code]

## UserVoice link
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/32159233-diff-syntax-highlighting-in-markdowntextblock

## Current behavior
Diff syntax highlighting is currently not supported in MarkdownTextblock. This would be useful for GitHub related scenarios.
[code]

## Expected behavior
[code]

## Environment

[code]

[2017-11-07 09:24] RobbyRobbyRobby opened #1597 "RotatorTile flicker"
Bug report

## Current behavior
The RotatorTile flickers after rotation.

## Expected behavior
That it doesn't flicker.  It should be smooth.

## Minimal reproduction of the problem with instructions
Your demo app exhibits this behaviour.  Open the UWP Community Toolkit app and view the demo for Rotator Tile.

I'm on Fall Creators Update  but I think it was present prior to that

Device form facto

[2017-11-07 09:24] hermitdave opened #1598 "SystemInformation.TrackAppUse throws NullReferenceException"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

Looking at app health logs, i noticed exception for SystemInformation.

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2017-11-07 09:51] rvinothrajendran commented on #1590
Hi @nmetulev please let me know whats is the next step ?

[2017-11-07 17:09] nmetulev commented on #1596
Great suggestion. Thanks for creating a UserVoice entry. If you are up for it, feel free to submit a PR to add this feature

[2017-11-07 17:12] nmetulev commented on #1597
Thanks for submitting this issue. I believe this is related to #1411 but a bit different so I'll leave it open.

[2017-11-07 17:13] nmetulev commented on #1597
BTW, feel free to submit a pull request to fix this issue if you already have one :)

[2017-11-07 17:14] nmetulev commented on #1598
@mrlacey, any idea about this one?

@hermitdave, are you able to reproduce this yourself?

[2017-11-07 17:16] nmetulev commented on #1590
Looks like there is interest for this one, go ahead and submit a PR :)

[2017-11-07 18:21] nmetulev commented on #1549
Looks like there is a solution here. Can this issue be closed, or is there still something pending?

[2017-11-07 18:22] nmetulev commented on #791
Do you think you can make it for 2.1 (code freeze is in one week), or should we push this to 2.2?

[2017-11-07 18:24] nmetulev commented on #1321
Do you think you can make it for 2.1 (code freeze is in one week), or should we push this to 2.2?

[2017-11-07 19:08] nmetulev commented on #1329
Closing this issue and PR as the HamburgerMenu is deprecated and the NavigationView is already localized. See [this comment](https://github.com/Microsoft/WindowsTemplateStudio/issues/1084#issuecomment-342558935) for more details

[2017-11-07 19:08] #1329 closed

[2017-11-07 19:50] kaohlive commented on #1549
Can be closed. It seems to working fine now

[2017-11-07 19:50] #1549 closed

[2017-11-07 21:15] nmetulev commented on #1480
Closing issue, but will reopen if you are able to provide a repro of this bug

[2017-11-07 21:15] #1480 closed

[2017-11-07 21:37] nmetulev commented on #1246
The best workaround here is to just set the ItemContainerStyle to null in the XAML if you want to use the ItemContainerStyleSelector

[code]

We won't fix this as it will cause a breaking change and I believe this workaround is acceptable for those that need to have an ItemContainerStyleSelector.

[2017-11-07 21:37] #1246 closed

[2017-11-07 22:28] nmetulev commented on #1589
Hmm, I spent some time trying to reproduce this with no luck, this is a tough one.

This is not expected as there is an item selected in the control. If the item is selected, once you go in narrow view, the detail should be only visible, which is the case here.

[2017-11-07 22:32] #996 closed

[2017-11-07 22:36] hermitdave commented on #1598
@nmetulev i don't have a repro only store crash reports.

[2017-11-07 22:48] nmetulev commented on #1430
Looks like most items are now completed. :)

From the two that are left, I'd like to see the stacking notifications.

Not sure about the show/hide from XAML, how would that work?

[2017-11-07 23:15] skendrot commented on #1589
@mvegaca I'm still not able to reproduce this issue. What Windows environment are you able to reproduce this on? Maybe it's an issue with a particular SDK/Windows version?

[2017-11-07 23:32] skendrot commented on #1321
I'll look at this again and see if we can get a fix in. I hope I still have the branch alive

[2017-11-07 23:44] skendrot commented on #791
I probably won't be able to get to it for 2.1

[2017-11-08 00:04] #1410 closed

[2017-11-08 00:28] #1469 closed

[2017-11-08 00:42] Poteyek opened #1602 "Sorting problem with AdvancedCollectionView"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

I am using a "AdvancedCollectionView" in a listview to sort and filter items. When I click a button to sort a property few times (which only changes the sort direction). Then the scroll position on listview starts to behave strange. It jumps from top or bottom of the listview to middle or other unexpected positions.

## Expect

[2017-11-08 03:02] aalok05 commented on #1596
Ok I'll start working on a PR 👍

[2017-11-08 08:05] Odonno commented on #1430
@nmetulev The Show/Hide from XAML won't be done. It was a request from @michael-hawker to be able to call the Show method from XAML using TriggerBehavior. But the thing is that I set an optional parameter `duration = 0` and not sure why the TriggerBehavior is not able to call the method without parameter.

The only task remaining is the stacking of notifications.

[2017-11-08 09:15] mvegaca commented on #1589
I've added a repro steps mp4 vide [Here](https://github.com/mvegaca/PoC/blob/master/UWPCommunityToolkit/Issue1356.Repro/Repro_steps.mp4).

My O.S. version: 16229.16

[2017-11-08 16:25] skendrot commented on #1589
Thanks for the video @mvegaca. When I click the back button it takes me to the Comapies view (master view) without issue. I'm using your sample (Issue1356.Repro) and on build 16299.19

[2017-11-08 17:18] nmetulev commented on #1430
Sounds good to me :)

[2017-11-09 07:11] RoboLam commented on #1529
Any chance this will go out to nuget before 2.1?

[2017-11-09 14:17] rvinothrajendran commented on #1590
Hello @nmetulev ,
Can you please review
Thanks & Regards,
Vinoth.

[2017-11-09 15:14] SpilledMilkCOM commented on #1223
I'll give it a try.  Been pretty busy.

[2017-11-09 16:04] danclrk opened #1604 "ListView with View support (aka GridView with columns)"
It would be good to see support for setting a [GridView ](https://docs.microsoft.com/en-us/dotnet/framework/wpf/controls/gridview-overview) inside a ListView which has the ability to set [GridViewColumns](https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.gridviewcolumn?view=netframework-4.7.1). This of course can already be found in WPF and for any developers who want to migrate

[2017-11-09 16:50] #1231 closed

[2017-11-09 16:53] skendrot commented on #1569
This looks rather crappy in github or other Markdown viewers.

Github:
![image](https://user-images.githubusercontent.com/1594689/32618026-c6b8ba98-c533-11e7-8cb7-c467d5aa8f9c.png)

Visual Studio Markdown editor extension from Mads:
![image](https://user-images.githubusercontent.com/1594689/32618061-d9cd05f8-c533-11e7-8fdf-e1056b638b5a.png)

[2017-11-09 16:55] #1578 closed

[2017-11-09 17:08] schuettecarsten opened #1605 "CacheBase.RemoveExpiredAsync removes all items from the cache"
## I'm submitting a...

[code]

## Current behavior
CacheBase.RemoveExpiredAsync removes all items from the cache, not only the expired one. This is because the list of all files is passed to InternalClearAsync, but only the filesToDelete list should be deleted.

## Expected behavior
CacheBase.RemoveExpiredAsync should only delete the expired items.

## Environment
Current "master" code frm Github

[2017-11-09 17:26] nmetulev commented on #1529
2.1 is due in two weeks, so I'd say unlikely.

[2017-11-09 17:52] nmetulev commented on #1604
How is this different than just using a GridView?

[2017-11-09 17:54] nmetulev commented on #1569
Yes, but this is intended to be used on docs.microsoft.com and it's their recommended way

[2017-11-09 18:05] Vijay-Nirmal commented on #1589
I can repro this
![gif1](https://user-images.githubusercontent.com/24755596/32621550-21c600ae-c5a6-11e7-91ab-3cdb98403bf6.gif)

[2017-11-09 18:17] nmetulev commented on #1602
I believe this is fixed with #1545 by @Shayon and I can not reproduce with the [pre-release nugets](https://dotnet.myget.org/gallery/uwpcommunitytoolkit)

[2017-11-09 18:17] #1602 closed

[2017-11-09 18:19] #1605 closed

[2017-11-09 18:47] danclrk commented on #1604
A UWP GridView is used to make a grid of "items" where else declaring GridView with GridViewColums inside a WPF ListView  can essentially turn the ListView into a multiple columns ListView with headers. I have attached a screenshot of how a ListView control using a GridView view looks on the WPF platform.

![listview_gridview_simple](https://user-images.githubusercontent.com/14894973/32623456-24ab

[2017-11-09 19:17] nmetulev commented on #1604
I see. Take a look at the [DataGrid from Telerik's UI for UWP](https://github.com/telerik/UI-For-UWP), we recommend developers use that one

[2017-11-09 19:17] #1604 closed

[2017-11-10 02:26] hupo376787 opened #1607 "Email format issue in markdowntext"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

[Email]parentheses xxx@gmail.com parentheses

## Expected behavior

[Email](xxx@gmail.com)

## Minimal reproduction of the problem with instructions

I want email shows the way like link. But now not.

![qq 20171110102453](https://user-images.githubusercontent.com/14960168/32640046-a33a40d6-c601-11e7-8bdd-740c198c4318.jpg)

##

[2017-11-10 03:37] #887 closed

[2017-11-10 03:37] #1034 closed

[2017-11-10 03:37] #1380 closed

[2017-11-10 03:42] nmetulev commented on #1607
Great suggestion. Don't think this is a bug, rather a feature request. Do you fancy submitting a PR to add this feature?

[2017-11-10 08:29] michael-hawker commented on #1532
[Started](https://github.com/michael-hawker/UWPCommunityToolkit/tree/mhawker/uniformgrid/Microsoft.Toolkit.Uwp.UI.Controls/UniformGrid) working on this.

Need to do some more testing and would like to support some more advanced functionality for looking at attached grid properties.

[2017-11-10 09:44] hupo376787 commented on #1607
I would like to do it, once i have time to read the code

[2017-11-10 11:24] darshanrampatel commented on #1532
@michael-hawker, I've used this with some success: https://github.com/rickapps/UWP-UniformGrid-Control

[2017-11-10 14:09] schuettecarsten commented on #1605
@hermitdave Great that you found it - I fixed it at the wrong location when creating the pull request...

[2017-11-10 14:29] hermitdave commented on #1605
@schuettecarsten thanks for finding it in the first place.. how silly to not notice it all this time

[2017-11-10 16:00] avknaidu commented on #1607
@nmetulev right now emails in MarkdownTextBlock already shows as Links and they open up with default email app if set up any. Is it still a good option to change this current behavior to show up as Masked Links as it shows for web URL's? See the screenshot above. xxx@gmail.com already shows up as link.

[2017-11-10 16:17] skendrot commented on #1589
I cannot reproduce while debugging. I *can* reproduce when not debugging... This is going to be difficult to fix...

[2017-11-10 16:52] nmetulev commented on #1607
I don't think we should change the current behavior at all, but instead make sure that it also works for masked links.

[2017-11-10 17:17] hupo376787 commented on #1607
@avknaidu I tried the latest code, unfortunately not works.

![image](https://user-images.githubusercontent.com/14960168/32670200-10bf2352-c67e-11e7-9e21-a17e11a34cb0.png)

[2017-11-10 18:29] michael-hawker commented on #1532
Thanks @darshanrampatel, I've seen that one too, but I want to also add support for the attached Grid properties like positioning and spanning (kind of like the VariableSizedWrapGrid).

I figured I'd start with understanding and integrating a base implementation and then look at adding some advanced functionality afterwards.

[2017-11-10 18:38] #995 closed

[2017-11-10 19:24] #1411 closed

[2017-11-10 19:24] #1597 closed

[2017-11-10 22:12] michael-hawker commented on #1502
I'll think about this a bit for 2.2 along with what I want to do for the UniformGrid #1532 improvements.  I feel like having attached properties on the items could be useful here as an approach to specify an angle/distance for specific items and then layout others accordingly.

[2017-11-10 22:15] michael-hawker commented on #1438
Yeah, was just thinking it'd be nice to have a bunch of smaller snippets for the UniformGrid stuff I was looking at.

I think it'd be doable to have each built-in sample support properties.  The main question is how they share the same code-behind for things that inject image collections (though with naming of controls for lookup that may not be a big issue).

It'd probably be nice to distinguish

[2017-11-10 22:31] Medality commented on #1446
Hi,
The issue is also there when `Mode="QuickReturn"`.
What would be great is to achieve the same effect as the Groove Music app with the Artist view. Can someone at Microsoft check how it was done?

Julien.

[2017-11-10 22:41] michael-hawker commented on #1330
I might take a stab at looking at if we can leverage the brush from Win2D and support a better interop story.

[2017-11-10 23:09] michael-hawker commented on #985
@ThomasPe is this code in a repo somewhere you can share?

I've been doing a lot with WebViews myself, so curious about what you built.  I wrote a [Helper](https://github.com/hawkerm/monaco-editor-uwp/blob/master/MonacoEditorComponent/Helpers/ParentAccessor.cs) in another project which helps going the other way from JavaScript as well.  However, we've been talking about bringing this control into

[2017-11-10 23:42] avknaidu commented on #1607
@hupo376787 if you notice in your screenshot, you can see `xxx@gmail.com` it converted to link already in MarkdownTextBlock below and when you click on that link, it will open default mail app.

Your suggestion is a valid one. My only question was showing regular email as email link in MarkdownTextBlock + Masked Email that converts to `mailto:email` option. I am not sure what is the standard synta

[2017-11-10 23:48] michael-hawker commented on #889
@nmetulev I started using Newtonsoft.Json for the Monaco Editor wrapper as it was being used in the Toolkit already.  I'll see how it works to switch.

[2017-11-10 23:48] nmetulev commented on #1438
Agree, it will need to be obvious which ones are user edited and which ones are the default. Will need to provide a way to delete the user edited ones too.

[2017-11-10 23:52] nmetulev commented on #1446
You can actually find a sample that is similar to that view in the Groove app in the [WindowsUIDevLabs](https://github.com/Microsoft/WindowsUIDevLabs) repo

[2017-11-10 23:52] michael-hawker commented on #821
Could be another case where we can utilize a WebView for a bridge.  Though it looks like we have to generate special tokens though the Power BI APIs.

We'd have to investigate, but it could be interesting if we could have a control which accepts a dashboard/workspace/report URI (or whatever identifying info required for viewing/authentication) and can do the backend work to get the embed token and

[2017-11-10 23:55] michael-hawker commented on #1572
Wanted to call out #854 and #490 which seem somewhat related to this type of creative canvas.

[2017-11-10 23:55] nmetulev commented on #1330
You should be able to do this with a [custom Composition brush](https://blogs.windows.com/buildingapps/2017/07/18/working-brushes-content-xaml-visual-layer-interop-part-one/#z70vPv1QMAvZsceo.97) and the effects from Win2D?

[2017-11-10 23:55] avknaidu commented on #1502
@michael-hawker @nmetulev  i started writing some code with a Dependancy property (ItemsAngle) as an idea which you can specify on the OrbitView Control and using that angle all items will be laid out. for example if you have static 4 items in OrbitView you can set this property as `90` and all 4 items will be separated by 90 degrees. If you do not set this property, then it will auto calculate an

[2017-11-10 23:58] nmetulev commented on #1572
@michael-hawker, agree, I added it to the list above :)

[2017-11-11 00:07] michael-hawker commented on #1330
@nmetulev Thanks, I've seen that post before too.  It certainly a promising starting point and something I want to *brush* up on anyway... ;)

[2017-11-11 02:24] #1218 closed

[2017-11-11 04:20] hupo376787 commented on #1607
@avknaidu Hi, you can type the regular text just in the github comment textbox, which support markdown.
And see [Email](xxx@gmail.com) shows. It does not show the email address, just show a text link.

[2017-11-11 04:23] hupo376787 commented on #1502
Great idea!

[2017-11-11 11:21] Odonno commented on #821
@michael-hawker Yeah, pretty much that. Having a dashboard and report could be really good. I do not have a use case for this at the moment. Indeed, the Charts control from Telerik UI is a great alternative.

I don't know if it has enough traction to be integrated inside the Toolkit.

[2017-11-11 13:14] ThomasPe commented on #985
This is what I'm using - basically just a modification of the URI extension.
https://gist.github.com/ThomasPe/7c179c2732b419ef359219b83692a1b0

[2017-11-11 15:58] Vijay-Nirmal commented on #1226
I am busy for a month. I will finish it afterwards.

[2017-11-11 18:52] Vijay-Nirmal commented on #1589
@skendrot Experienced the same thing 😕

[2017-11-11 18:53] Medality commented on #1446
Thanks but I didn't find anything in the WindowsUIDevLabs repo.
I'm talking about this view, which achieved the same effect as the ScrollHeader, apart from correctly supporting sticky group headers:
![image](https://user-images.githubusercontent.com/4260101/32692546-a96d3922-c6e7-11e7-9a8d-ad0e488fcad8.png)

[2017-11-12 06:09] Vijay-Nirmal commented on #1607
@hupo376787 GitHub is treating "regular text" as a relative link. So `[name](url)` with take you to `https://github.com/Microsoft/UWPCommunityToolkit/`**`issues/url`** in issues and to `https://github.com/Microsoft/UWPCommunityToolkit/`**`pull/url`** in PR.

[2017-11-12 14:04] kaohlive opened #1610 "Issue with OneDrive Personal shared folder items"
As trying to solve in the previous issue I posted I am trying to access files from a Shared with me folder that was included into my onedrive. So the OneDrive service returns these folders in the folder collection when I retrieve my folders using this code
`OneDriveService.Instance.Initialize();
await OneDriveService.Instance.LoginAsync();
Microsoft.OneDrive.Sdk.Item oneDriveRootItem = await OneDr

[2017-11-12 14:22] kaohlive commented on #1610
I think the issue is that in the OneDriveStorageItem all references to the item are hard coded to the Drive object. While in case of an shared item you need to provide the driveid in the request, like I did with getting the folder object is such a way I can actually use it:
`var sharedDriveItem = await OneDriveService.Instance.Provider.Drives[sharedDriveId].Items[sharedFolderId].Request().GetAsync

[2017-11-12 14:46] kaohlive commented on #1610
There are more references with the .Drive. method in the OneDriveStorageItem. I believe those will all fail in these cases.

[2017-11-12 21:05] kaohlive commented on #1610
Ok, I found a workaround. Basically the same one for the folder
` var sharedDriveItem = await OneDriveService.Instance.Provider.Drives[file.OneDriveItem.ParentReference.DriveId].Items[file.OneDriveItem.Id].Request().GetAsync();
var sharedFile = new OneDriveStorageFile(OneDriveService.Instance.Provider, OneDriveService.Instance.Provider.Drives[file.OneDriveItem.ParentReference.DriveId].Items[file.O

[2017-11-12 21:05] #1610 closed

[2017-11-13 09:50] JohnnyWestlake opened #1611 "Suggestion: Add HorizontalSpacing and VerticalSpacing to WrapPanel."
## I'm submitting a...
[x] Feature request

## Expected behavior
Following on from the recently added `ColumnSpacing`/`RowSpacing` properties on Grid and `Spacing` on StackPanel, I think it would be a nice little addition to have `HorizontalSpacing` and `VerticalSpacing` properties added on WrapPanel. (A much nicer solution than using margins on all the items as they don't add unwanted spacing on

[2017-11-13 09:56] JohnnyWestlake commented on #1532
If possible, I'd like to suggest sticking in RowSpacing / ColumnSpacing properties on UniformGrid too (as Grid now has in UWP).

(I've never been a fan of the standard UniformGrid implementations, I've always preferred a more `ItemsWrapGrid` like approach with choose-able stacking directions and MaximumRowsOrColumns property, just with uniform sized cells. But alas, the standard is standard :'( )

[2017-11-13 11:17] Odonno commented on #1446
@Medality I think what you want is a SemanticZoom https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/semantic-zoom

Am I right?

[2017-11-13 14:06] Medality commented on #1446
No not the SemanticZoom. It's hard to cature the effect on a screenshot but if you try it yourself, you'll see that the header (the part with "Refine" and "Shuffle all") behaves like a ScrollHeader in QuickReturn mode.
The only difference is that the group headers are correctly displayed (just below the header).
With the ScrollHeader, the group headers are displayed in front of the header (like th

[2017-11-13 17:14] nmetulev commented on #1226
Sounds good, moved to 2.2

[2017-11-13 17:16] nmetulev commented on #1611
Sounds like a great improvement. Do you want to submit a PR to add these properties?

[2017-11-13 17:31] skendrot commented on #1611
This only makes sense for the Rows (when horizontal) or the Columns (when vertical) but not for both.

[2017-11-13 17:44] nmetulev commented on #1611
Not sure, you don't think both might be needed when the items are wrapped and are rendered in multiple columns/rows?

[2017-11-13 17:48] skendrot commented on #1611
There isn't the concept of columns when using the WrapPanel. Items are staggered. I think it makes more sense to use Margins for this.
It is very similar to the StackPanel having only Spacing, because items stack [evenly] either Vertically or Horizontally.

[2017-11-13 17:53] skendrot commented on #1611
Why do controls like WrapGrid, VariableSizedWrapGrid, GridView not have these properties?

[2017-11-13 18:03] nmetulev commented on #1611
Maybe we should add them :P

I do believe there could be a benefit in having both vertical and horizontal spacing (not row or column spacing). Yes, the WrapPanel stacks like the StackPanel, but unlike the StackPanel, items also wrap creating multiple "rows/columns". Agree that the same can be done with margins, but it get's more complicated when it comes to last/first item/row/column

[2017-11-13 18:10] nmetulev commented on #1446
I see what you mean. I'll take a look at it, it might give me an idea on how it's done. Probably won't get to it until 2.2 though

[2017-11-13 18:24] JohnnyWestlake commented on #1611
The last item in a row / column is pretty much the main reason for it :P Both can be applicable of the developer feels so - if I've got a wrappanel full of same sized ToggleSwitches both are useful to me, if I've got variant sized items it falls down to me as developer if the second is that useful, but it's never detrimental.

[2017-11-13 19:07] dend commented on #1569
@skendrot what @nmetulev mentioned is correct - we use a range of extensions on docs.microsoft.com that are not available in vanilla Markdown editors. This often results in the aforementioned vanilla editors rendering the content as more-or-less plain text.

[2017-11-13 19:09] skendrot commented on #1569
I'm aware. I wanted to point out that it doesn't like good everywhere else.

[2017-11-13 21:02] michael-hawker opened #1613 "AdaptiveGridView cuts bottom of item content in OneRowMode"
## I'm submitting a...
[code]
## Current behavior
Go to sample app and turn on OneRowMode in AdaptiveGridView sample:
![image](https://user-images.githubusercontent.com/24302614/32748793-24f631d0-c872-11e7-97ef-b5f4cae32ada.png)
Note how the bottom border and part of the image in the item is now cut-off.

## Expected behavior
Expect item/image size to remain the same between modes. comparison of c

[2017-11-13 21:26] skendrot commented on #1363
This should be fixed with #1609. The control now has a default style that defines the colors for these using theme resources

[2017-11-13 21:26] #1363 closed

[2017-11-13 22:07] nmetulev opened #1615 "3.0 Breaking changes"
These are the proposed breaking changed for 3.0 (this list will most likely grow)

- [x] Change Expander.Header from string to object (done in #1475)
- [x] Rename Extensions that cause naming collisions with platform types (re #1561) PR #1991
- [x] Change HeaderedTextBlock to inherit from HeaderedContentControl
- [x] Change Expander to inherit from HeaderedContentControl
- [x] Remove AppPinManager

[2017-11-13 23:09] skendrot commented on #1615
I would like to
- [ ] Remove AdaptiveGridView.OneRowModeEnabled in favor of changing the ItemsPanel

[code]

I understand it's one xaml property compared to above, but the functionality is already available.
If I want to allow for horizontal scrolling always, I would have to do the above anyways. The only exception is to remove the Height
So, If I want to do horizontal scrolling always (not one mo

[2017-11-13 23:14] nmetulev commented on #1615
I'd go even further and propose to remove the AdaptiveGridView completely in favor for a new panel that can be used in a GridView (or other ItemsControl).

[2017-11-14 07:38] mvegaca commented on #1589
It looks it could be that when the window goes from wide to narrow, MasterDetail keeps on detail view but it doesn't add (sometimes) a go-back handling action to de system back button behavior.

[2017-11-14 09:46] touseefbsb opened #1618 "reveal effect in hamburger menu listivew"
## I'm submitting a...

[code]
Nuget Package(s):

Package Version(s):

Windows 10 Build Number:
- [ ] Anniversary Update (14393)
- [ ] Creators Update (15063)
- [x] Fall Creators Update (16299)
- [ ] Insider Build (xxxxx)

App min and target version:
- [ ] Anniversary Update (14393)
- [ ] Creators Update (15063)
- [x] Fall Creators Update (16299)
- [ ] Insider Build (xxxxx)

Device form factor:
-

[2017-11-14 17:31] nmetulev commented on #1618
In 2.1, the HamburgerMenu will use the NavigationView which already has the reveal effect. You can try this out right now with the [pre-release packages](https://dotnet.myget.org/gallery/uwpcommunitytoolkit)

[2017-11-14 17:31] #1618 closed

[2017-11-14 20:34] skendrot opened #1622 "ExpressionNode created wrong types"
## I'm submitting a...

[code]

## Current behavior

ExpressionNode creates the wrong types. See: https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Animations/Expressions/ExpressionNodes/ExpressionNode.cs#L203

## Expected behavior

ExpressionNode should create the proper types

## Minimal reproduction of the problem with instructions

[2017-11-14 22:38] #1622 closed

[2017-11-14 22:50] hermitdave commented on #1598
Thanks @skendrot

[2017-11-15 01:54] IbraheemOsama commented on #1324
PR is merged

[2017-11-15 01:54] #1324 closed

[2017-11-15 10:33] touseefbsb commented on #1618
@nmetulev  the navigationView isnt available on creators update and anniversary update but only in CFU, so how can we cope with that?

[2017-11-15 10:40] touseefbsb commented on #1615
@nmetulev  removing adaptive gridview completely? and making a generic panel surely makes sense but can you please brief on how will that panel cover the features of adaptive gridview, as it will be used in all types itemsControls?

[2017-11-15 12:35] krt- commented on #1594
@ilinkmobility For .svg image you can use [SvgImageSource](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.media.imaging.svgimagesource) in [ImageResolving](https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/controls/markdowntextblock) event handler.

E.g.
[code]

[2017-11-15 17:00] #1598 closed

[2017-11-15 17:02] Shayon opened #1626 "Advanced Collection View throws exception when filtering items back in, also does not respect source order"
## I'm submitting a...

[code]

## Current behavior
Two things that are slightly connected:
First, in the current master (introduced here https://github.com/Microsoft/UWPCommunityToolkit/pull/1545, mea culpa), using `RefreshFilter` or live shaping without any sort descriptors, can throw an exception when attempting to insert the element into the view after it had been previously filtered out.
Seco

[2017-11-15 17:02] nmetulev commented on #1618
Take a look at the [docs](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/docs/controls/HamburgerMenu.md#navview). The HamburgerMenu can use the NavigationView on FCU and fall back to the regular template when not supported.

[2017-11-15 17:12] nmetulev commented on #1615
@touseefbsb, the AdaptiveGridView currently provides two properties (ItemHeight and DesiredWidth) that extend the GridView and all can be handled by a panel. The new panel would probably also need to handle vertical and horizontal orientation.

[2017-11-15 17:23] bmorems opened #1628 "Using Pull to Refresh with screen reader"
## I'm submitting a...
[code]
## Current behavior
When using a device with narrator enabled, Pull to Refresh cannot be used because narrator uses one and two finger drag gestures for other purposes (reading what's on the screen, or scrolling).

## Expected behavior
Users who require the use of narrator should be able to refresh using Pull to Refresh.

## Minimal reproduction of the problem with in

[2017-11-15 17:44] nmetulev commented on #1628
Great catch. If you'd like, feel free to submit a PR to add this to PullToRefreshListView.

[2017-11-15 17:45] touseefbsb commented on #1618
thats great

[2017-11-15 18:34] #1515 closed

[2017-11-15 18:37] #1611 closed

[2017-11-15 22:22] IbraheemOsama commented on #1590
PR merged

[2017-11-15 22:22] #1590 closed

[2017-11-16 03:31] #1592 closed

[2017-11-16 05:05] michael-hawker opened #1630 "Expander Regression/Bugs"
## I'm submitting a...
[code]

Have 4 issues with updates to Expander Controls from 2.0 to now:

- [ ] Regression: Expander Background is Stretching in Right/Left mode.

   **Current Incorrect Behavior** (with same XAML as original sample app):
    ![image](https://user-images.githubusercontent.com/24302614/32874393-cdb8b2b8-ca46-11e7-880c-ba08efeca41b.png)
    - [ ] We should keep the XAML the sa

[2017-11-16 06:41] shakir820 opened #1631 "LinkedIn Callback URI"
Hi, I am new in developing Windows 10 apps. I want a friendly answer from you about the callback URI.
Suppose I am developing a LinkedIn app. I don't have any personal website or database in Azure. Can I still build my app without website ? If so, what will be my callback URI ? They ask me for callback uri but I cannot provide any valid callback uri. I extremely need ur help.

[2017-11-16 19:01] niels9001 opened #1632 "How to set the EasingType for animations in XAML?"
Hi,

How do I set the EasingType for animations in XAML? Or is this not possible and only in C#? If so, what is the reason for this?

`     <ToolkitBehaviors:Scale x:Name="ScaleUp" ScaleY="5" Duration="100" Delay="0"  AutomaticallyStart="False" CenterY="0"/>`

[2017-11-16 19:11] Odonno commented on #1630
1. Great catch. The background should not be visible IsExpanded="False" and ExpandDirection="Right | Left"

2. It is because of the change on the Background property. I remember it was moved to another Panel. Why not adding a new property to handle `CollapsedForeground` color on collapsed state?

3. Should it be for universal? Or should we make a new property `FirstPlayAnimation`?

4. I would real

[2017-11-16 21:42] #1626 closed

[2017-11-16 21:46] nmetulev commented on #1632
Hey @niels9001, it is not possible currently. There is not really a reason why, it's something that hasn't been implemented yet.

BTW, if you'd like, feel free to submit a PR to add easing to the behaviors.

[2017-11-16 21:51] nmetulev commented on #1630
On the animations, absolutely, we can replace the animations in the default template with the new implicit animations.

[2017-11-16 21:54] nmetulev commented on #1631
Hey @shakir820, you can use any callback url really. I tried it with http://microsoft.com and it works.

[2017-11-16 21:54] #1631 closed

[2017-11-17 01:01] shakir820 commented on #1631
Recently I tried https://localhost:80 and it worked. It took me about 3 months to find the answer. Thanks to you for ur respond.

[2017-11-17 08:19] Pinox opened #1633 "InApp Notifications - small form factor"
I have noticed that the InApp notification does not work consistently when reducing the form factor of the UWP sample app.   Going from full screen on desktop to smallest form factor below does not always show notifications.  When adjusting the width of form then it displays again.

![uwp](https://user-images.githubusercontent.com/5297255/32937322-afbf2acc-cb80-11e7-8926-64b9b889342c.PNG)

[2017-11-17 10:59] Odonno commented on #1633
Will check that.

[2017-11-17 11:15] JohnnyWestlake commented on #1632
If someone does handle this, it would be especially handy to integrate these as simple presets (which for the most part match the current XAML Storyboard easings) : https://github.com/Microsoft/WindowsUIDevLabs/blob/6edb78bf21c57aaec768edecadbb780aeb98ef43/SamplesCommon/SamplesCommon/PennerEquationBuilder.cs

Now if someone could tell me how to generate splines for Exponential eases with different

[2017-11-17 17:38] nmetulev commented on #1632
We already have an easing [enum](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Animations/EasingType.cs) that the animation extension can use in code, we could probably just add a DP on the behaviors to add the enum and that should do it.

[2017-11-18 05:18] nmetulev commented on #1630
I created a pull request to address this. @michael-hawker @Odonno, please review asap, it will need to be merged by Monday to make sure we have the fix for 2.1.

Notably, I removed the DisplayMode property as that seemed to be causing few issues and allowed me to simplify the template. Interestingly, I think the control works well without it. If there is ContentOverlay it will be in Overlay mode,

[2017-11-18 06:30] nmetulev commented on #1633
I verified this issue with the current release. I tested it with the latest pre-release build of the sample app and it looks like this was resolved when the control was updated. The new version of the sample app should be out next week with the fix.

[2017-11-18 06:30] #1633 closed

[2017-11-18 10:45] Odonno commented on #1633
I can confirm the bug disappeared in the latest version on master branch.

[2017-11-20 03:17] ilinkmobility opened #1638 "New UI Control for Tags with close button"
## I'm submitting a...

[code]

## UserVoice link
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/32318413-new-ui-control-to-add-tags-with-close-button

## Current behavior
Not available

## Expected behavior
Control similar add tags in StackOverflow or in Xamarin Forum to add multiple tags with auto suggestion and close button with events.

![tags-control2](https:

[2017-11-20 03:24] ilinkmobility commented on #1594
@krt, thank you.
I have tried that, its working with Creator update (v10.0.15063.0) and above. I hope for now MD tags are not supporting to specify image dimensions. The problem with SVG is its occupy entire screen. It would be better if it support to add dimension along with image links.

[2017-11-20 04:33] krt- commented on #1594
@ilinkmobility https://github.com/Microsoft/UWPCommunityToolkit/pull/1634

[2017-11-20 17:17] skendrot commented on #1638
Seems like this could easily be accomplished with a WrapPanel with a template containing a textblock and button

[2017-11-20 17:57] nmetulev commented on #1638
Agree, doesn't seem like a control would provide much more than what @skendrot has suggested

[2017-11-20 18:42] #1630 closed

[2017-11-20 18:55] nmetulev commented on #1321
Moving to 2.2

[2017-11-20 19:30] Odonno commented on #1638
@skendrot @nmetulev And what about the Autocomplete feature at the end of the control?

[2017-11-20 20:11] skendrot commented on #1638
Put an AutoSuggestBox as the last item

[2017-11-20 20:13] avknaidu commented on #1638
Something like this?

![export](https://user-images.githubusercontent.com/6171200/33039243-43b555cc-ce05-11e7-88e4-a87e69ff2848.gif)

[2017-11-21 08:32] ad1Dima commented on #1426
Here is some workaround https://mtaulty.com/2016/08/10/windows-10-uwp-and-composition-light-and-shade/

[2017-11-22 01:47] mfeingol opened #1640 "HamburgerMenu deprecation warnings on apps supporting pre-FCU platforms"
## I'm submitting a...
[x] Regression (a behavior that used to work and stopped working in a new release)

## Current behavior
When using HamburgerMenu with Template Studio-generated code, apps see the following warnings on each build:

[code]

## Expected behavior
When targeting platforms lower than FCU, this warning should not be displayed. NavigationView is not available pre-FCU, and therefore

[2017-11-22 09:02] JohnnyWestlake opened #1641 "Suggestion: Make (Image)TileBrush"
## I'm submitting a...
[code]

## Current behaviour
Currently we have TileControl for tiling, which works, and supports more features than an actual TileBrush would need - but is a control and not a brush! Perhaps a bit more performance costly too.

With an actual brush, we can put in a resource dictionary and reuse and single instance, and apply it to anywhere that requires a brush (like Text, Bo

[2017-11-22 12:43] Vijay-Nirmal commented on #1226
I am free from 26th. I will do all the works after that.

Here are the works to do

1. Creating **template**. Here is the template structure. Let me know your thoughts on this.
[code]
    I feel every document must have an 'example' to show the uses case of the API. What do you think?

2. **Updating all documents** with more details.

Is there anything else I have to do?

[2017-11-22 13:09] AlfredBauer opened #1642 "SlideableListItem is not working with mouse on 10.0.16299"
**Current behavior**
Mouse interaction (left and right swipe) is not working after update(windows) from 10.0.15063 to 10.0.16299
Example in UWP Community Toolkit Sample App  also not working

**Nuget Package(s):**
Microsoft.Toolkit.UWP.UI.Controls - 2.1.0
Microsoft.NETCore.UniversalWindowsPlatform - 6.0.2

**Windows 10 Build Number:**
- [ ] Fall Creators Update (16299)

**App min and target versio

[2017-11-22 14:08] aalok05 commented on #1642
It works when you disable 'UseSwipeControlWhenPossible' property

[2017-11-22 14:22] AlfredBauer commented on #1642
Yes. Really works. I just missed this property

[2017-11-22 14:41] skendrot commented on #1640
The HamburgerMenu is still supported. It is marked as Deprecated to let developers know that it will be removed in the next major revision (version 3.0). If the app is running on FCU, the NavigationView will actually be used instead of the HambugerMenu. If using a build earlier than FCU, the HamburgerMenu continues to be used.

[2017-11-22 15:10] avknaidu commented on #1182
I had project rome implemented in my app [Stack 10](https://www.microsoft.com/en-in/store/p/stack-10/9nblggh5361b?ocid=badge&rtc=1) but i converted this to a Custom Control. If anyone is intrested to test this, I can post a repo and you can check if it fits Toolkit.

[2017-11-22 17:42] nmetulev commented on #1641
We can probably re-use a lot of the code from the the TileControl for this. Not sure if it would be more performant through. Could you create a UserVoice for this?

[2017-11-22 17:50] nmetulev commented on #1640
You could disable the warning (CS0618) on project level, but it's not recommended. We have to show the warnings to let developers know that the HamburgerMenu will be removed, even if you are not targeting FCU. We won't remove it until most developers have moved to FCU, but the warnings will need to stay.

[2017-11-22 17:50] #1640 closed

[2017-11-22 17:51] nmetulev commented on #1182
Please do :)

[2017-11-22 17:57] Vijay-Nirmal commented on #1226
@nmetulev Should we add an info about supported framework?

[2017-11-22 17:58] nmetulev commented on #1226
supported framework?

[2017-11-22 18:00] Vijay-Nirmal commented on #1226
Like .Net Standard

[2017-11-22 18:00] nmetulev commented on #1226
Ah, yeah, that makes sense, sounds like a good idea

[2017-11-22 18:02] Vijay-Nirmal commented on #1226
I need help in "supported framework" part. I don't know the supported framework for all the APIs.

[2017-11-22 18:03] nmetulev commented on #1226
I think as long as it is in the template, the doc author should be able to fill it in

[2017-11-22 18:05] Vijay-Nirmal commented on #1226
What about existing docs?

[2017-11-22 18:27] nmetulev commented on #1226
I can help with the existing docs :)

[2017-11-23 09:09] byrialsen opened #1643 "SlideableListItem is obsolete"
I can see that `SlideableListItems` are set as obsolete and will be removed in the next major release. I understand that it can be replaced by most developers with the new `SwipeControl/SwipeItem`.

My issues is that if you like me targets "Windows 10 IoT Enterprise ltsb xxxx" it takes a while before you will get access to the `SwipeControl `or similar. Actually I believe that the first version th

[2017-11-23 09:32] xxMUROxx opened #1644 "NavigationView resize: issue with header"
When resizing the window the header of the NavigationView control behaves strange. See attached GIF

![uwpcommunitytoolkit navigationview issue](https://user-images.githubusercontent.com/4341039/33165805-6ba953b4-d038-11e7-8c54-b31dea924bde.gif)

## Environment

[code]

[2017-11-23 11:53] snrnats opened #1645 "Sometimes ConnectionInformation.UpdateConnectionInformation() throws exceptions"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

I have a app in Microsoft Store. Sometimes I get crash reports in HockeyApp pointing to toolkit method **ConnectionInformation.UpdateConnectionInformation**. I can see two different types of exceptions:

1) For now I can see a least one device with this issue. It occurs every time an app is launching. I have a background task.

[2017-11-23 23:52] SuperJMN commented on #1632
With the inclusion of Implicit Animations, the need for easing functions is even more urgent :)

Congrats to everybody. 2.1 is GREAT!

[2017-11-25 08:34] liangyiliang opened #1646 "[bug] Issues when using BladeView"
Hello, I am using the toolkit for my own app, and I decided to use the BladeView control. However, I found a bug that disturbs the UX.
If I make a BladeView to stretch both horizontally and vertically across the window, intuitionally, the BladeView should resize as the window resizes. Actually, it does so, but with glitches. The whole stretching process seems to be sluggy and the control seems to

[2017-11-25 08:35] liangyiliang commented on #1646
just FYI, I use a Surface Pro 3 i7 512GB ssd 8GB ram version, so i think my processor is more than enough to run BladeView

[2017-11-25 23:34] lp4so opened #1647 "Do not remove SlideableListItem (deprecated) from UI.Controls"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

Since last update, SlideableListItem is marked as Deprecated.

## Expected behavior

As there's no Fall Creator Update for Mobile, there will be no way to use the SwipeControl that is recommended. So please, do not remove this control (at least while there is no successor to W10M...).

## Minimal reproduction of the problem wi

[2017-11-26 03:04] WilliamABradley opened #1648 "MarkdownTextBlock resets lists if there is content on a new line in between."
## I'm submitting a...

[code]

## Current behavior

You will see:
1. This is List Element 1

This is content, e.g. an Image

1. This is List Element 2

## Expected behavior

1. This is List Element 1

This is content, e.g. an Image

2. This is List Element 2

This works properly in the previews of GitHub, VSCode and Dillinger.io.

## Minimal reproduction of the problem with instructions

In the M

[2017-11-26 04:30] Vijay-Nirmal commented on #1569
@dend

Is there is any doc on all the MarkDown formats available in docs.microsoft.com?

I have created a documentation template for Toolkit (#1649). If the doc (all the MarkDown formats available in docs.microsoft.com) available then I can include its link.

[2017-11-26 16:57] touseefbsb opened #1651 "where is 2.1 version?"
Just a simple query, this repo shows version 2.1 as released in the readme but in the nugget store, 2.0 is the latest version for uwp community toolkit. why is that?

[2017-11-26 16:58] touseefbsb commented on #1651
just found 2.1 version on the nugget,  my bad

[2017-11-26 16:58] #1651 closed

[2017-11-26 19:11] touseefbsb opened #1652 "hamburger menu fluent design bug in version 2.1"
I made a simple project with **Windows Template Studio** to test new properties in hamburger menu.
According to docs I set the **UseNavigationViewWhenPossible** property to **true**. So that it can use the fluent design where possible and fallback where not possible. The background did get **acrylic** but background of navigation items looks weird. Also while switching between navigation items it

[2017-11-27 03:53] hawkerm commented on #770
This is kind of related: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18662884-multiple-levels-of-semantic-zoom

[2017-11-27 04:00] hawkerm opened #1653 "Multi-level Semantic Zoom Control"
## I'm submitting a...

[code]

## UserVoice link
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18662884-multiple-levels-of-semantic-zoom (looks like there was confusion on what was requested initially and it was merged with another idea, i.e. ignore comments on MultiScaleImage.  The requester was specifically talking about SemanticZoom and it supporting more tha

[2017-11-27 04:24] hawkerm commented on #1399
@WilliamABradley noticed in the sample app that switching to the Custom formatter wasn't working.  I had to switch off the properties tab and back to it to get it to update?

Also the auto-resizing behavior kind of fits into #353, at least if it's just a `...` at the end for overflow.  The group collapse would be neat, but probably a bit more advanced.

[2017-11-27 04:31] WilliamABradley commented on #1399
I was thinking more of this:
![Microsoft Office Ribbon Groups](http://www.java2s.com/Tutorial/Microsoft-Office-Word-2007Images/Tabs_On_Ribbon___Word_Provides_Three_Types_Of_Tabs_O.PNG)

@hawkerm The reason why Custom Formatter doesn't work with the Combobox, is that in real usage, the Custom Formatter has to be loaded into the Control, which is why there is a `Use Custom Formatter` button at the b

[2017-11-27 06:41] dend commented on #1569
@Vijay-Nirmal Thanks for the contribution! The template that you put together actually is something that is auto-generated - there is no need for control authors to create custom documentation pages, as those are automatically put together from the binaries that are included in the UWP Community Toolkit NuGet packages.

For an example, see what our XML files look like:
https://github.com/Microsoft

[2017-11-27 07:56] Vijay-Nirmal commented on #1569
@dend What do you mean by "auto-generated"? As far as I know, only the doc for APIs are autogenerated (https://docs.microsoft.com/en-us/dotnet/api/?term=uwp). My template is to create normal docs for controls like

Also, Creating documentation template was @nmetulev [idea](https://github.com/Microsoft/UWPCommunityToolkit/issues/1226#issuecomment-335324526)

[2017-11-27 08:18] Vijay-Nirmal commented on #1569
@dend What do you mean by "auto-generated"? As far as I know, only the doc for APIs are autogenerated (https://docs.microsoft.com/en-us/dotnet/api/?term=uwp). My template is to create normal docs for controls like [AnimationSet](https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/animations/animationset)

Also, Creating documentation template was @nmetulev [idea](https://github.com/Micros

[2017-11-27 09:13] raivol opened #1654 "BluetoothLEHelper - Disconnect from Bluetooth Device"
## I'm submitting a...

[code]

## Current behavior
Once successfully connected to a Bluetooth device using the ObservableBluetoothLEDevice.ConnetAsync method, there is no way to Disconnect from the very same device.

## Expected behavior
Disconnect from a connected Bluetooth device.

[2017-11-27 13:23] WilliamABradley commented on #1648
Turns out you need four spaces to continue a List Item.

[2017-11-27 13:23] #1648 closed

[2017-11-27 16:23] dend commented on #1569
Ah interesting, structure-wise it's very similar to the API docs.

@nmetulev - is there a reason why the control docs can't be auto-generated as well?

[2017-11-27 16:47] Vijay-Nirmal commented on #1569
@dend Auto-generator can't give Examples to explain the use case of the control/helper. Also, auto-generator can't create the output image.

This doc is like [Navigation view](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/navigationview) doc and the auto-generated doc is like [NavigationView Class](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.naviga

[2017-11-27 17:10] Vijay-Nirmal commented on #764
@nmetulev I like this idea. I will create a UserVoice this.

[2017-11-27 17:45] Vijay-Nirmal commented on #764
UserVoice created - [Control to create an App Tour Guide](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/32397049-control-to-create-an-app-tour-guide)

[2017-11-27 17:47] nmetulev commented on #1643
Hey @byrialsen, I understand completely. The good news is that everything in the toolkit is open source and even though the SlidableListItem will be removed from the nuget packages, it will still be available as source (take a look at the [releases](https://github.com/Microsoft/UWPCommunityToolkit/releases) to get a snapshot of each release source). With the introduction of the SwipeControl, we wi

[2017-11-27 17:47] #1643 closed

[2017-11-27 17:53] Vijay-Nirmal commented on #764
I feel this control and #818 control have the same end goal (control to help the user understand the use of a UIElement). @Odonno What do you think?

[2017-11-27 18:41] nmetulev commented on #1644
I'm curious if this is an issue outside of the sample app? Either way, #1655 should fix this

[2017-11-27 18:42] nmetulev commented on #1645
ping @hermitdave

[2017-11-27 18:46] nmetulev commented on #1646
Hey @liangyiliang, can you share a minimal repro project we can use to reproduce the issue? Please also share what version of the toolkit and what OS version you are using.

[2017-11-27 18:48] nmetulev commented on #1647
Hey @lp4so , I understand completely. The good news is that everything in the toolkit is open source and even though the SlidableListItem will be removed from the nuget packages, it will still be available as source (take a look at the releases to get a snapshot of each release source). With the introduction of the SwipeControl, we will not longer improve the SlidableListItem so it makes sense to

[2017-11-27 18:48] #1647 closed

[2017-11-27 18:55] michael-hawker commented on #1399
@WilliamABradley actually, instead of having a button, you should just listen to the property change for the value from the dropdown setup in the OnNavigatedTo:

[code]

@nmetulev there's a bug using the above though if the valueholder is changed, as it uses objects the != comparison [here](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.SampleApp/Models/Property

[2017-11-27 18:57] michael-hawker opened #1656 "SampleApp ValueHolder doesn't compare Values for Property Change Notification"
From discussion in #1399

There's a bug using the above though if the ValueHolder is changed, as it uses objects the != comparison [here](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.SampleApp/Models/PropertyDescriptor/ValueHolder.cs#L38).  I was pretty surprised, but it's because we're going through a object type conversion the enum value comparison isn't use

[2017-11-27 19:04] lukasf commented on #764
I would propose to close #818 in favor of this one here. The basic intention is the same, but this one here already has a very good proposal for how this could look like. Also the UserVoice entry for #818 has been deleted, so it is essentially dead already.

[2017-11-27 19:10] Vijay-Nirmal commented on #764
@lukasf I think @Odonno has deleted it now. I had the UserVoice opened before deleting. I just want to point out it has 8 upvotes. So add that upvote with this one 😄
![chrome_2017-11-28_00-37-04](https://user-images.githubusercontent.com/24755596/33284316-a88213bc-d3d4-11e7-801f-ee5b8ba85b7f.png)

[2017-11-27 19:17] nmetulev commented on #1652
Windows Template Studio has not yet updated their templates to support the NavigationView. But with few minor changes, you can do it yourself. Take a look at this PR I submitted for your project:
https://github.com/touseefbsb/HamburgerMenuFluentBug2.1/pull/1

I created an issue on the WTS repo to add this support: https://github.com/Microsoft/WindowsTemplateStudio/issues/1494

[2017-11-27 19:17] #1652 closed

[2017-11-27 19:22] nmetulev commented on #1654
ping @sinorm and @drache42

[2017-11-27 19:25] drache42 commented on #1654
That is by design. More than 1 app could be connected to a device, so we can't allow an app to disconnect the OS. The OS handles disconnect when device is not in use.

[2017-11-27 19:28] nmetulev commented on #1569
That's primarily the reason why, to be able to add overall description, examples and sometimes guides on controls and other APIs. The autogenerated API docs are great describing the APIs

[2017-11-27 19:36] dend commented on #1569
@nmetulev @Vijay-Nirmal auto-generated APIs can be easily augmented with examples and custom images, and can link to detailed tutorials. That's already supported out-of-the-box. :)

[2017-11-27 19:44] lukasf commented on #764
@deltakosh @hermitdave I think you are making this too easy. Check the website. It is not just a control with some opacity. It has a transparent opening which is centered on an existing UI element. You cannot do this with a static control since you don't know the exact app layout on the user display. Also, you don't want to mess up your UI definition by putting lots and lots instances of the contr

[2017-11-27 20:10] xxMUROxx commented on #1644
@nmetulev yes the issue exists outside the sample app too. But thanks for fixing it.

[2017-11-27 21:02] touseefbsb commented on #1652
@nmetulev  Thanks for the pull request and for the issue you created on WTS repo :)

[2017-11-27 21:16] Odonno commented on #764
@Vijay-Nirmal I don't know what you mean. I have no admin access on the uservoice.

Anyway, I don't know where we can go with this issue. Mine proposed to copy a not-so reused component on Windows 10 and it did not get a lot of traction. Moreover, it looks a little like an InAppNotification with a custom style. We may be able to do something with that.

That one seems interesting but I think we sh

[2017-11-27 21:18] Odonno commented on #818
@nmetulev Based on a recent discussion, do you think it is possible to create a custom Style for InAppNotification and using your implicit animations helper to mimic this component? (see image in first post)

[2017-11-27 21:34] nmetulev commented on #1569
@dend, that's awesome, do you have any pointers on how to do it?

[2017-11-27 21:46] nmetulev commented on #818
We could probably just add a property on the InAppNotifications to anchor the notification to a specific element, so it shows up next to it, and that should do it

[2017-11-27 22:23] liptonbeer opened #1657 "Cannot find a resource with the given key: SwipeItemStyle"
## I'm submitting a..
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Feature request
[ ] Sample app request
[ ] Documentation issue or request
[ ] Question of Support request => Please do not submit support request here, instead see https://github.com/Microsoft/UWPCommunityToolkit/blob/master/contributing.md#question

## Current behavior
Whi

[2017-11-27 22:35] WilliamABradley commented on #1399
I could do that, but having it as a button shows how a programmer has to load the Custom Formatter manually.

[2017-11-27 22:39] michael-hawker commented on #1399
You could still leave the button and/or just show that code in the 'code' tab.

Since the drop-down is used to change between the other two modes it's a bit odd from a user perspective in trying out the sample.

[2017-11-27 22:45] Janisku7 opened #1658 "Orbit View new functionality"
## I'm submitting a...

[code]

## UserVoice link

https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/32400766-uwp-community-toolkit-orbit-view

## Current behavior

in 2D plane where objects orbit central object using X and Y axis

## Expected behavior

Mixed Reality where user help to get 3D so same as current but having Z axis to be more visual view

## Minimal rep

[2017-11-27 22:46] michael-hawker commented on #1642
@nmetulev I added an issue in the internal [Feedback Hub](https://aka.ms/U0x896) about the new swipe control not responding to mouse.  Do you know if you've talked to them about this and if there's a bug tracking it on the platform?

Reopening this as it is a change in behavior from the toolkit perspective, thoughts?

[2017-11-28 00:03] hermitdave opened #1659 "QuickReturnHeaderBehavior shows ListView header behind ListView content"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

When added to XAML by means of ScrollHeader, the control overlays the ListView header. However for one usage, I need this added to FlipViewItemTemplate which has a ListView. XAML isn't working and i resorted to using Behaviour however it is behaving weirdly.

## Expected behavior

It should work through code as it works throug

[2017-11-28 00:04] hermitdave commented on #1659
![screenshot 19](https://user-images.githubusercontent.com/1896163/33295760-8d3b7ba2-d3cf-11e7-9e33-4d0a9e614e90.png)

@pdehne any thoughts on what might work here would be much appreciated.

[2017-11-28 00:05] hermitdave commented on #1659
Code for attaching behaviour through code
[code]

[2017-11-28 00:55] nmetulev commented on #1657
The toolkit checks for the SwipeControl using the APIInformation APIs, and because you are running on Fall Creators Update but only targeting the Anniversary Update, the API returns true because your OS supports the API, but your target SDK does not, so the app crashes. This is actually by design of the APIInformation APIs. You have two options:
1. Target the Fall Creators Update (you can still ke

[2017-11-28 01:01] nmetulev commented on #1658
Thank you for submitting. Now time to spread the word and get those votes :)

[2017-11-28 05:48] nmetulev commented on #1659
Looks like [this line](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/ScrollHeader/ScrollHeader.cs#L79) is responsible for keeping the panel under the header. Adding

[code]

should do it. We should probably move this to the behaviors themselves. @pdehne, what do you think?

[2017-11-28 06:15] hermitdave commented on #1659
I tried setting the Z index of header. Let me try setting that for items panel. Thanks

[2017-11-28 07:49] raivol opened #1662 "BluetoothLEHelper - Send data to Bluetooth LE Device"
## I'm submitting a...

[code]

[2017-11-28 08:23] gigios opened #1663 "Sample App Crash and abnormal RAM consumption"
## I'm submitting a crash of the Simple App on my Laptop (Windows 10 Enterprise 1709 [10.0.16299.64])
[code]
## Current behavior
When I start the sample app, the GUI appear with only the top 'tab' menu. The selected page is the Home page but the content is completely empty.
With the Process Explorer I can see that the CPU is at 25% (one core at 100%).
After some seconds (20-30 seconds) the process

[2017-11-28 10:31] hermitdave commented on #1659
@nmetulev thanks @pdehne yes we should be setting the z-index in the behaviour not in the control.

[2017-11-28 10:52] ThomasPe opened #1664 "IncrementalLoadingCollection loads multiple pages on RefreshAsync"
## I'm submitting a...

[code]

## Current behavior
When I call RefreshAsync() on an `IncrementalLoadingCollection` the `GetPagedItemsAsync()` method gets called two or three times, depending on how long the web request takes. The `pageIndex` is being increased, but the requests sometimes finish out of order so the items are not correctly ordered as well.

## Expected behavior
There should be only

[2017-11-28 10:53] lukasf commented on #764
I also think that an (optional) blur effect would be great, which blurs the non-focus area behind the notification. But I am not sure if this is possible in Composition, to have a blur area with a non-blurred circle in it.

[2017-11-28 13:17] wstaelens opened #1665 "Question: .bind files"
What are .bind files in the solution?
Please provide more documentation about it.

[2017-11-28 13:48] wstaelens opened #1666 "Gridsplitter weird behavior"
What I want to have :

[code]
A grid with 3 cells: 2 columns, 2 rows. left column has rowspan=2.
between both columns a grid splitter.
for column 2, between both rows also a gridsplitter.

The code:

[code]

The problem is that I have also a weird behavior like this: https://github.com/Microsoft/UWPCommunityToolkit/issues/1156

## Environment

[code]

tried different types of configurations but I

[2017-11-28 15:16] martinsuchan commented on #1497
All this ticket needs is some kind of working proof-of-concept, how the checks for sdk-specific apis in the analyzer. Once this proof-of-concept is validated as a viable way, it could be pretty straightforward implementing the rest of the analyzer...

[2017-11-28 15:38] skendrot commented on #1666
One issue is that your second GridSplitter should be in Column 2. That being said there is an issue with the GridSplitter that is exactly like the issue you linked to. Either it wasn't fixed originally or it has come back.

[2017-11-28 15:46] Vijay-Nirmal commented on #1666
I think it is by design. How the `GridSplitter` can adjust width/height of the adjacent cells? We must not create a separate cell for  `GridSplitter`. Instead, we should place the  `GridSplitter` in one of the two adjacent cells.

![gif](https://user-images.githubusercontent.com/24755596/33328815-03e769ee-d481-11e7-9376-9c3948bd4abb.gif)

[code]

[2017-11-28 15:53] skendrot commented on #1666
Set the `ResizeBehavior` of the first GridSplitter to `PreviousAndNext`

[2017-11-28 15:59] skendrot commented on #1666
@Vijay-Nirmal The splitter can go into it's own cell. You just need to specify the ResizeBehavior

[2017-11-28 16:09] Vijay-Nirmal commented on #1666
@wstaelens Set `ResizeBehavior="BasedOnAlignment"`

[2017-11-28 16:12] Vijay-Nirmal commented on #1666
@skendrot We need more documentation.

[2017-11-28 16:12] skendrot commented on #1666
@wstaelens There are essentially two answers to your issue here. One from me and one from @Vijay-Nirmal. Do not combine them. If following my answer, change the ReizeBehavior and Column as previously described. If following the answer from @Vijay-Nirmal, then take his xaml

[2017-11-28 16:23] wstaelens commented on #1666
still not working.

code of @Vijay-Nirmal:

![gridsplit2](https://user-images.githubusercontent.com/7447285/33330914-7a017d98-d460-11e7-9ac2-02fc29a0e6c2.gif)

code of @skendrot:

![gridsplit2](https://user-images.githubusercontent.com/7447285/33331041-ce68096a-d460-11e7-92ba-859a6e94b67c.gif)

note that this code is in a user control.
This usercontrol itself is in a contentcontrol (taking up most

[2017-11-28 16:34] skendrot commented on #1666
Using the following xaml works fine within the sample app:

[code]

[2017-11-28 17:02] nmetulev commented on #1662
ping @Sinorm and @drache42

[2017-11-28 17:04] nmetulev commented on #1663
Thank you for submitting this issue. Did you by any chance also use the previous version (2.0.x) of the sample app, and if so, I assume you were able to use it without issue?

[2017-11-28 17:33] nmetulev commented on #1654
Closing issue as per design

[2017-11-28 17:33] #1654 closed

[2017-11-28 17:39] nmetulev commented on #1665
Hey @wstaelens, take a look at the readme here: https://github.com/Microsoft/UWPCommunityToolkit/tree/master/Microsoft.Toolkit.Uwp.SampleApp#2-binding-text

[2017-11-28 17:39] #1665 closed

[2017-11-28 17:41] nmetulev commented on #1497
Agree. @hermitdave, do you think you will be able to work on this for 2.2?

[2017-11-28 17:41] Sinorm commented on #1662
We will consider adding a write sample to this application in the future, for now samples for WriteValueAsync are available in the Bluetooth LE Explorer App: https://github.com/Microsoft/BluetoothLEExplorer

[2017-11-28 17:44] #1656 closed

[2017-11-28 17:45] dend commented on #1569
@nmetulev sure thing! Take a look at [StringComparer](https://docs.microsoft.com/en-us/dotnet/api/system.stringcomparer?view=netframework-4.7.1). The XML source for the file contains a **Remarks** section, that supports markdown, via

[code]

You can freely embed any images, tables or other entities there, like you would do in any other docs, all within the scope of auto-generated docs.

[2017-11-28 17:49] hermitdave commented on #1497
Let me get started @nmetulev

[2017-11-28 18:13] nmetulev commented on #1569
That's amazing, we should definitely use this.

I do still believe we should continue using the conceptual docs because they unify a set of classes related to a specific control/API and it's easier to navigate through them. We should do a better job at linking between the conceptual docs and the auto-generated docs and moving some of the content over to the auto-generated docs.

[2017-11-28 18:42] nmetulev commented on #1664
Hey @ThomasPe, is there a good wordpress site I can use to repro the issue?

[2017-11-28 19:05] nmetulev commented on #1659
Here is the PR: #1667

[2017-11-28 20:32] dend commented on #1569
@nmetulev want to make sure that there is also no duplication, as in - you are not providing the same page for conceptual and reference material. This will negatively impact SEO and generally hinder API serviceability.

[2017-11-28 20:40] liptonbeer commented on #1657
Hi @nmetulev,
My target version is set to Fall Creators Update and minimum version to Anniversary Update, so this is not the couse.

![image](https://user-images.githubusercontent.com/12607691/33343085-6c6e2ec8-d484-11e7-8cd0-d8a4690b842f.png)

[2017-11-28 22:20] nmetulev commented on #1569
Yeah, makes sense. If we add content to the auto-generated docs, we will have to remove it from the conceptual docs.

[2017-11-28 22:21] nmetulev commented on #1657
I see, do you have a repro package I can use to reproduce the issue, I'm not seeing the exception you are seeing.

[2017-11-29 01:27] michael-hawker opened #1668 "Light Behavior isn't being applied to SVGs"
## I'm submitting a...

[code]
Not sure if this is a platform issue?

## Current behavior
No light appears.

## Expected behavior
Expect lighting effect on SVG source image to work (is this a platform issue?)

## Minimal reproduction of the problem with instructions
Modify the Light sample to use an SVG that renders something in black (like the toolkit logo):
[code]

## Environment

[code]

[2017-11-29 06:43] pdehne commented on #1659
Sorry for beeing late. Not much I can add to the discussion at this point. Putting the items behind the header was a pain point in the original implementation as well. The PR looks good to me, haven't tried it out though.

[2017-11-29 07:04] Vijay-Nirmal commented on #1569
Properties and methods should be part of the main doc because mostly there will be 3 or 4 properties, no want to go to a different page just to check the available properties and methods. My suggestion is to have all available properties and methods in both auto-generated and main doc.

[2017-11-29 07:58] ThomasPe commented on #1664
any with multiple posts should do, I'm currently using https://windowsarea.de/wp-json/

[2017-11-29 08:02] wstaelens commented on #1665
@nmetulev just by "searching" this e.g. ".bind file" in the uwp community or ms docs I was unable to find info about it. Hence the question here.
Is this something specific to this project?

[2017-11-29 09:11] gigios commented on #1663
Yes, I used it without problems (although I don't remember the exact version)

[2017-11-29 09:25] wstaelens commented on #1666
@skendrot I made a simplified demo solution to demonstrate my way of working and the problem with the gridsplitter.  Because I still have the problem.

find attached a zip file containing the VS2017 solution.

[DemoGridSplitter.zip](https://github.com/Microsoft/UWPCommunityToolkit/files/1513173/DemoGridSplitter.zip)

[2017-11-29 10:53] hermitdave commented on #1659
I am pushing another tweak to both the behaviours and the control. sorry @nmetulev
@pdehne the TargetListViewBase shouldn't be needed in most instances and should be looked up.

I had an instance where ListView is within a FlipView and setting target wasn't working. This tweak will allow auto lookup of the parent listview.

[2017-11-29 15:10] skendrot commented on #1406
Does the FlipView offer such properties?

[2017-11-29 15:15] mvegaca commented on #1589
Equivalent Issue on Windows Template Studio is always opened. Any news on MasterDetailControl?

[2017-11-29 16:02] wyepez opened #1671 "Expander control makes my app crash"
## I'm submitting a...

[code]

## Current behavior

When I open a dialog with a Expander control inside, the app crashes suddenly. This has started to happen when I upgraded to v2.1.0. If I downgrade to v.2.0.0, the problem disappear.

## Expected behavior

The app doesn't crash.

## Minimal reproduction of the problem with instructions

Here is a [link](https://github.com/wyepez/ExpanderControl)

[2017-11-29 16:51] nmetulev commented on #1569
Let's have the relevant properties and methods but always link to the auto-generated docs where they will have more details.

[2017-11-29 16:52] nmetulev commented on #1665
Yes, this is specific to the sample app of the toolkit, that is why you will only find the docs for it in the readme for the sample app

[2017-11-29 17:15] skendrot commented on #1589
@mvegaca  What do you mean "always opened"?

[2017-11-29 18:32] dend commented on #1569
@nmetulev @Vijay-Nirmal that (at least to me) seems like unnecessary duplication. Why can't we make reference (auto-generated) docs contain all the necessary information?

[2017-11-29 18:36] #1659 closed

[2017-11-29 18:42] nmetulev commented on #1569
With the conceptual docs, we can write documentation for a specific control, helper, service, extension that might cover several classes and it turn makes it easier to group and discover what developers are looking for. The auto-generated docs are great to for diving deep into the APIs, but they require the developer to know what they are looking for.

Having an overview of the key properties and

[2017-11-29 19:07] Odonno commented on #1671
@wyepez I tried your repro on Fall Creators Update and it works fine. What was the OS version you tested?

@nmetulev Is it possible it is related to the implicit animations helper?

[2017-11-29 19:23] Odonno commented on #764
@lukasf If we want to make it right, we need to use elements offered by Light, Depth, Motion, Material and Scale of the Fluent Design system.

What I envision is to be able to focus on one part of the app to get user attention. So it requires one or more of this features :
* Light with a notion of Light & Dark emphasis / shadow
* Depth with a notion of "back-and-forth"
* Material with a notion of

[2017-11-29 19:25] wyepez commented on #1671
@Odonno My system information is:
Edition: Windows 10 Enterprise
Version: 1703
OS Build: 15063.726

[2017-11-29 20:17] lukasf commented on #764
When I look at the "ShowCase" link from OP, I can well imagine a blur effect behind the semi transparent notification area. But of course the content behind the circle (the focus area) must not be blurred. I worked a bit with blur effects, but I do not know if it is possible to selectively blur only parts of an image/control. Maybe a Composition expert could find a way. Everything else you say sho

[2017-11-29 20:19] hermitdave commented on #764
An overlay with Acrylic over apps background over everything except desired control would do the trick. The see through area woa have to programmatically determine the location of desired control. Calculating bounds shouldn't be difficult.

[2017-11-29 20:25] lukasf commented on #764
Finding the location/bounds of the focus area is easy. But how to "cut out" the circle from the blur area? Maybe an opacity mask could be used on the overlay, but I never worked with that...

[2017-11-29 20:51] hermitdave commented on #764
@lukasf circle would be difficult.. rectangle is easy since you would apply backdrop brush on all but one child areas controlled by row / column position. Messy but can be done.

[2017-11-29 20:53] hermitdave commented on #764
@lukasf  you always apply apply BackdropBrush twice.. once on a popup for full overlay with blur and tint and then again on a circle with no blur / tint making it look transparent

[2017-11-29 21:11] Vijay-Nirmal commented on #764
@hermitdave We can't use "circle with no blur/tint" because if we use a circle (or any other shapes) the control behind will lose its functionality. Eg: A button can be pressed when it is behind a circle. So we should create the circle (or any other shapes) like the image shown below

![applicationframehost_2017-11-30_02-40-23](https://user-images.githubusercontent.com/24755596/33399239-de945b64-d

[2017-11-29 22:07] hermitdave commented on #764
Err any overlay will mean control will lose its functionality until overlay is hidden

[2017-11-29 23:47] mvegaca commented on #1589
Sorry, I mean still opened.

[2017-11-30 04:26] Vijay-Nirmal commented on #764
That's the point, the overlay control must no overlap the highlighted control as shown in the image (Shaded parts are the Overlay control)

[2017-11-30 06:44] michael-hawker commented on #1671
Assuming my work machine doesn't update overnight, I still have one on 15063, so I can see if I can repro it.

[2017-11-30 06:51] michael-hawker opened #1672 "Provide Pivot Tab Styling Resources"
## I'm submitting a...

[code]

## Request links
https://github.com/Microsoft/Windows-universal-samples/issues/314
Also related to a subset of requests for the Tab Control #353.

## Expected behavior
This item is to provide static resource templates that can restyle a pivot control to behave more like a tab control.

It should look like the sample image in the [docs](https://docs.microsoft.com/en-

[2017-11-30 07:00] michael-hawker opened #1673 "Add Color option to Light Behavior"
## I'm submitting a...

[code]

## Current behavior
Lights are always white.

## Expected behavior
After creating the [pointLight](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.Light.cs#L150) we could modify its `Color` property by adding another optional parameter.

This would allow for the creation of alternate eff

[2017-11-30 07:47] Odonno commented on #1671
@michael-hawker Please do. I do not have a machine to reproduce the bug currently.

[2017-11-30 09:04] lukasf commented on #764
You can set "IsHitTestVisible=False" on any control, then all interactions will go through to controls below it. But you probably want the opaque/semi-transparent parts of the overlay to be hit-testable. That could turn out more difficult. We could start segmenting the overlay, but that would probably create visual artifacts on segment borderts...

[2017-11-30 11:44] hermitdave commented on #1497
Okay so i have managed to iterate through winmd files and generate basic dataset for all runtime assemblies for all the public SDKs. Next set will be to generate version diffs which shouldn't be that difficult.

Here is a sample set that has an update in each of the 5 versions of SDK
Its a zip containing json.

[Windows.Devices.SmartCards.SmartCardEmulatorContract.zip](https://github.com/Microsoft

[2017-11-30 15:48] wstaelens commented on #1666
@skendrot @Vijay-Nirmal  can you see the issue in my sample and reproduce it?

[2017-11-30 18:54] totht91 commented on #1497
The attribute way is more likeable for me rather than generating diffs and store in the analyzer's package.

[2017-11-30 18:59] hermitdave commented on #1497
@totht91 i played no part in original analyser and I'm still trying to work out what is possible from code point of view. Right now trying to identity if min and target version of app in question are accessible or not.

If they aren't, we aren't going anywhere. If you have an idea please do not hesitate. PoC would help

[2017-11-30 20:24] nmetulev commented on #1673
ping @shenchauhan

[2017-11-30 20:45] michael-hawker commented on #1671
![image](https://user-images.githubusercontent.com/24302614/33453472-93379ce6-d5ca-11e7-8367-50cc3df330e2.png)

I'm seeing a win32 exception when I **close** the ContentDialog:
[code]

[code]

However, if I set the Target of the app to just be Anniversary Edition, then I get this message when opening the dialog:

Exception = {System.MissingMethodException: Method not found: 'Void Windows.UI.Xaml.H

[2017-11-30 23:06] Bekhub opened #1674 "TextBoxMask issue with Master-Details pattern"
## I'm submitting a...
[code]
## Current behavior
I have a list of objects and each of them has phone property that is bound to TextBox with TextBoxMask(Mask="999-999-9999)". When user select another object in list, the number for some reason will not change. So it will be like previous object in list

## Expected behavior
1. Number will not be copied
2. When use binding, you should be able just g

[2017-11-30 23:40] skendrot commented on #1674
@Bekhub Can you provide a reproducible repo of this issue?

[2017-12-01 02:56] Vijay-Nirmal commented on #1666
I can't build your solution. I think I am missing some nuget package. Unfortunately I won't have power for three days due to a storm. So I can only help you after three days. @skendrot will help you.

[2017-12-01 06:02] hermitdave commented on #353
All good here.

[2017-12-01 09:19] wstaelens commented on #1666
when I explicitly define a
[code]
on EVERY contentcontrol I've got it working correctly.

This feels "buggy" to me, but I'm not sure if it is a bug or just how differently UWP XAML is to WPF XAML.

[2017-12-01 09:31] JohnnyWestlake commented on #1641
Added a uservoice link.

There's actually not much we can copy from TileControl - TileControl creates a tiled grid of SpriteVisuals and manually manages and updates them as size changes etc., which is basically impossible for a brush as it has no developer-exposed concept of "size" (given the same instance can be used in multiple places with different sizes).

That said, it's fairly easy to just c

[2017-12-01 09:39] wstaelens opened #1675 "MasterDetailsView detailpane vertically"
Is it possible to show the detailspane of the MasterDetailsView vertically (=below the master) instead of on the right side of the master?
A property/attribute like the StackPanel Orientation would be useful.

[2017-12-01 11:52] mvegaca commented on #1652
Thanks @touseefbsb @nmetulev for the Issue report.
I've stared updating Windows Template Studio templates to support **UseNavigationViewWhenPossible** and this will be available in Dev Nightly Extension on next week.

Best regards.

[2017-12-01 16:05] xied75 commented on #1596
Is this part of Markdown standard? Just curious.

[2017-12-01 19:40] avknaidu commented on #1182
@nmetulev WOI.

[2017-12-01 21:35] skendrot commented on #1675
@wstaelens This is not a property on the MasterDetailsView but you can easily accomplish this by restyling the control to layout the master section on the top and details section on the bottom. This would however have odd behavior when resizing as the MasterDetailsView changes views based on how wide it is.

[2017-12-01 21:35] #1675 closed

[2017-12-01 23:04] anbare opened #1676 "Notifications library throws FileLoadException when calling GetXml() or GetContent()"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior
When using `ToastContent` and calling `GetContent()` or `GetXml()`, a `FileLoadException` is thrown...

Downgrading to older versions of the NuGet library, like 1.5.0, work fine.

[code]

## Expected behavior
Expected behavior is that it works :)

## Minimal reproduction of the problem with instructions

1. File->New a C# UWP p

[2017-12-02 07:46] HeroWong95 opened #1677 "MasterDetailsView is not compatible with NavigationView"
I find that there is an incompatibility when using both NavigationView and MasterDetailsView. When the MasterView has content, the MasterView will always flicker when the form is widened with the mouse. If it changes the width of the form more than once for a short period of time May cause the graphics driver to stop running. it is a bug?

    <Grid Background="{ThemeResource ApplicationPageBackgr

[2017-12-02 11:33] Odonno commented on #764
Well, it seems Skype made a tutorial like you want. The control in the circle are clickable and the circle has a swift animation when it appears.

![image](https://user-images.githubusercontent.com/6053067/33514977-9e553348-d75c-11e7-9d6f-36ff799c14ac.png)

[2017-12-02 12:07] TheSETJ commented on #903
Is it going to be included in any future milestones? I mean a separate image editor (those kinds of edits that are necessary after picking an image, like cropping, rotating, etc).

[2017-12-03 06:43] Vijay-Nirmal commented on #1569
I will change the template as below

[code]

----

## Here is a sample

| Methods | Description |
| -- | -- |
| [StartAsync()](https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.uwp.ui.animations.animationset#Microsoft_Toolkit_Uwp_UI_Animations_AnimationSet_StartAsync) | Starts all animations and returns an awaitable task |
| [Stop()](https://docs.microsoft.com/en-us/dotnet/api/microsof

[2017-12-03 15:04] Pallo100 commented on #1233
Good evening, I did not understand how to set the width of the items to Stretch value. At the moment changing the width of the Page the items do not change their size automatically.
Thanks
Regards

[2017-12-04 00:03] nmetulev commented on #1596
There isn't really a markdown standard, commonMark probably being the most common one. Don't believe diff syntax higlighting is in commonMark, but it's used in many markdown implementations.

[2017-12-04 00:21] nmetulev commented on #1676
Weird. I found [this solution](https://github.com/dotnet/standard/issues/429) which adds a reference to the NETStandard.Library nuget to the project to resolve the issue. @onovotny, any idea why the references are not automatically added to the project?

For reference, here is the exception:
[code]

[2017-12-04 00:28] nmetulev commented on #1677
ping @skendrot

[2017-12-04 00:35] nmetulev commented on #903
Argh, I've forgotten about this one. Yes, we need to get this one in, but I don't believe we can get it in for 2.2 unless someone wants to pick it up. I'll prioritize this for future milestone.

[2017-12-04 00:41] nmetulev commented on #1233
Try the code snippet I posted above and set the HorizontalContentAlignment to Stretch on each of the controls.

[2017-12-04 02:31] onovotny commented on #1676
I'm not 100% sure, but @terajobst may know?

[2017-12-04 05:11] nmetulev opened #1679 "Add AdaptiveWrapPanel to replace AdaptiveGridView and mark AdaptiveGridView obsolete"
## I'm submitting a...

[code]

## Current behavior

AdaptiveGridView currently extends GridView and all item sizing is done inside of the control and not the panel.

## Expected behavior

A new panel can be used inside of any ItemsControl and provide the same functionality

[2017-12-04 05:14] nmetulev commented on #889
There are already many controls and helpers that are already using Newtonsoft.Json extensively. Removing it from the toolkit would be a large undertaking and will not be possible at this time

[2017-12-04 05:29] nmetulev commented on #1668
ping @shenchauhan

[2017-12-04 09:34] JohnnyWestlake commented on #1679
Interesting question is will it virtualize in GridView scenarios? Would be amazing if it did - but a chore to implement given what's currently exposed in UWP.

(Even if it does, it'll stop the ContainerContentChanging & ChoosingItemContainer events in ListViewBase scenarios being fired as they rely on ItemsStackPanel / ItemsWrapGrid :'( )

[2017-12-04 12:03] hermitdave commented on #1497
Another option might be to just consider supported SDK version.. not previous, not future.
The toolkit supports 14393 through to 16299. Any toolkit analyser could assume that are a target subset and perform analysis / provide hints to ensure that ApiInformation methods are used when differences are observed.

[2017-12-04 15:53] skendrot commented on #1679
Is there a downside to the correct approach? Is there a reason using a GridView is not acceptable?

[2017-12-04 18:04] nmetulev commented on #1679
Re: virtualization, probably not initially, but something I'm investigating.

What's the correct approach? :) One benefit of using a panel instead of extending the GridView is the possibility to mix and match different extensible features (such as PullToRefresh with adaptive items).

[2017-12-04 18:30] skendrot commented on #1679
Sorry... *current* approach!!

[2017-12-04 18:32] skendrot commented on #1679
Why would you not be able to use the RefreshPanel (whenever it's released!) with the AdaptiveGridView?

[2017-12-04 18:46] snrnats commented on #1645
For now it hit even more different devices. I observe 11 and 25 different devices accordingly.
Also I've got crash dumps from dev center. Some of them are from insider build, although the issue occurs on stable versions too.

[bf500f85-1ce4-4eb9-a160-3f61aa8e2088.ext.zip](https://github.com/Microsoft/UWPCommunityToolkit/files/1528363/bf500f85-1ce4-4eb9-a160-3f61aa8e2088.ext.zip)
[002d0019-a274-4ca

[2017-12-04 18:48] Odonno commented on #1673
@nmetulev Isn't it as easy as applying a Color on the Effect object?

[2017-12-05 02:53] r2d2rigo opened #1680 "MenuItem items not being inserted in the proper order when using Items.Insert instead of Items.Add"
## I'm submitting a...
[code]

## Current behavior
If a `MenuItem` has been already initialized, inserting a new element in its `Items` collection by using `Insert` instead of `Add` doesn't respect the specified index; the new item gets added at the end instead.

## Expected behavior
The new menu item gets added at the specified index, and not at the last position.

## Minimal reproduction of the

[2017-12-05 09:48] WilliamABradley opened #1681 "Microsoft Community Toolkit > UWP Community Toolkit"
## I'm submitting a...

[code]

This is probably a big topic to discuss.

Don't you think it would be time to evaluate whether this should become the Microsoft Community Toolkit?

This project already contains a considerable amount of .NET Standard projects (I'm even working on Microsoft.Toolkit.Parsers in #1650), that work anywhere on .NET anyways, the Naming structure of Projects and NuGet packa

[2017-12-05 12:59] Vijay-Nirmal commented on #1681
In my opinion, We can change the name to *Microsoft Community Toolkit* and support *.NET Standard* and *XAML Standard* (after its release). All the new and existing features will be moved to *Microsoft.Toolkit.Standard* if it supports *.NET Standard* and *XAML Standard*, if not we can keep it in *Microsoft.Toolkit.Uwp*.

[2017-12-05 14:55] hermitdave commented on #1681
@WilliamABradley The Xamarin support using .NET Standard is very limited. I don't think we should rush with this renaming. Not just yet. @Vijay-Nirmal what would XAML standard bring to the table ? Are we going to support Xamarin Forms controls ? I don't think any time soon.

[2017-12-05 16:58] Vijay-Nirmal commented on #1681
@hermitdava

Then why are we moving existing features to .NET Standard? The answer for this question is my answer for your question regarding XAML standard.

[2017-12-05 17:01] Vijay-Nirmal commented on #1681
@hermitdava

Then why are we moving existing features to .NET Standard? The answer for this question is my answer for your question regarding XAML standard

[2017-12-05 17:03] Vijay-Nirmal commented on #1681
@hermitdave

Then why are we moving existing features to .NET Standard?
The answer for this question is my answer for your question regarding XAML standard

[2017-12-05 18:47] hermitdave commented on #1681
@Vijay-Nirmal there is a big difference between services and controls. Services are simpler and not platform specific unless you want it to be that way.

Controls are platform specific. Xaml standard enables xaml sharing not xaml in controls is one of the smaller things.

Having said that you should look into what it entails to create Xamarin Forms control. Native renderers isn't xaml .. It requir

[2017-12-05 18:51] WilliamABradley commented on #1681
@hermitdave what is your thoughts on my second idea, where we separate the .NET standard parts into a new Git, then can create new Gits for other community toolkits?

[2017-12-05 18:55] WilliamABradley commented on #1681
That way we could have a UWP community toolkit, a Xamarin Community Toolkit (or toolkits), an Asp.net community toolkit, a [insert Microsoft technology] toolkit, etc.

Then all these toolkits can depend on the Microsoft Community Toolkit based on .NET standard.

[2017-12-05 18:55] WilliamABradley commented on #1681
Ping @nmetulev

[2017-12-05 19:08] hermitdave commented on #1681
I would leave it to the day someone adds a dependency in the base toolkit / services and creates new toolkit. Sorry @WilliamABradley but then I'm only a minion 🙄

[2017-12-05 19:25] nmetulev commented on #1681
Hey @WilliamABradley, biggest questions that we should ask ourselves before creating a [platform] community toolkit is if there is demand and a gap that can be filled and if there is support from the community and the platform team to support it long term. For Xamarin, there are already two community toolkits ( [xamarin.forms-toolkit and](https://github.com/jamesmontemagno/xamarin.forms-toolkit) a

[2017-12-05 19:35] WilliamABradley commented on #1681
So I can make this MarkdownTextView it's own project with a dependency on Microsoft.Toolkit.Parsers, which one day could end up in a Xamarin Android or a Xamarin Native Community Toolkit?

Sounds good to me.

[2017-12-05 19:41] hermitdave commented on #1681
If you move code into Standard lib which I believe is being done, it can be used anywhere. Standard lib is standard. UWP in it's name doesn't make it incompatible

[2017-12-05 20:08] nmetulev commented on #1681
And eventually you (or someone else) can create a Xamarin.Forms control in the Forms Community Toolkit and you only will need to do the iOS implementation (since you will already have the Android version and the toolkit has the UWP version) :)

[2017-12-05 20:11] WilliamABradley commented on #1681
Then we would need a central place to put all these great Controls, like some sort of Toolkit! :P

[2017-12-05 20:55] hermitdave commented on #1681
Yes like Xamarin Community Toolkit for one

[2017-12-06 04:43] Vijay-Nirmal commented on #1569
@dend Can you provide the step to create a Examples and Remarks section in the auto-generated doc? I have to add these steps to my documentation template.

[2017-12-06 08:52] DkmS1953 opened #1684 "Setting UseNavigationViewWhenPossible = True distorts the appearance of the form and the loss of functionality."
## I'm submitting a...

[code]

## Current behavior

The menu bar color and the location of menu items are lost.
The Click Handlers on the menu items are not called.

## Environment

[code]
Illustrations-in the first comment

[2017-12-06 08:53] DkmS1953 commented on #1684
![usenavigationviewwhenpossible-false](https://user-images.githubusercontent.com/25905429/33652862-f98418f2-da7b-11e7-98b9-693bb719f231.png)

![usenavigationviewwhenpossible-true](https://user-images.githubusercontent.com/25905429/33652869-04098668-da7c-11e7-888f-0738d5719170.png)

[2017-12-06 16:23] RomanGL opened #1685 "Failed to assign to property with VisualEx properties with ru-Ru locale"
## I'm submitting a...
[code]

## Current behavior
App crashes with "XamlParseException: Failed to assign to property "Microsoft.Toolkit.Uwp.UI.VisualEx.Scale" (and other VisualEx extensions) if in the Package.appxmanifest the default language parameter has "ru-RU" value.

![u0qol53of6i 1](https://user-images.githubusercontent.com/7839481/33669466-248a586e-dad5-11e7-8abf-3793b8ac615d.jpg)

![defau

[2017-12-06 18:55] anbare commented on #1676
Ping on this, this is a critical issue 100% blocking usage of the Notifications library

[2017-12-06 20:00] terrajobst commented on #1676
I'll forward this issue to the right party.

[2017-12-06 20:33] nmetulev commented on #1679
You can. I guess my point I'm trying to make is that, it's not easy to combine two features in one control if those features are added by extending the control. If it's possible to accomplish the same thing without extending the control, but instead using modular components (like extending panel instead or crating attached properties or behaviors) we should try to that.

I realize in this case, th

[2017-12-06 20:54] nmetulev commented on #1673
I believe so. Feel free to do it if you'd like

[2017-12-06 20:57] nmetulev commented on #1642
Let's keep track of this item in the feedback hub you linked. I'll make sure this is tracked by the platform team internally, as this is something that needs to be implemented in the platform.

[2017-12-06 20:57] #1642 closed

[2017-12-06 21:01] nmetulev commented on #1646
ping @liangyiliang, please share a repro project as we are unable to reproduce this issue

[2017-12-06 21:02] nmetulev commented on #1680
ping @IbraheemOsama

[2017-12-06 21:04] nmetulev commented on #1680
Never mind, looks like @r2d2rigo already fixed this issue :)

[2017-12-06 21:04] #1680 closed

[2017-12-06 21:05] nmetulev commented on #1657
ping @liptonbeer

[2017-12-06 21:19] nmetulev commented on #1684
This is expected as there is not 1:1 maping of HamburgerMenu to NavigationView. Take a look at the documentation that discusses this and more: https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/controls/hamburgermenu#navview

Specifically,
* The NavigationView does not have a way to modify the background of the pane other than re-templating, which loses the acrylic background
* The Navig

[2017-12-06 21:19] #1684 closed

[2017-12-06 21:24] joshfree commented on #1676
@hollyam @lt72 @dnlharvey could you please take a look?

[2017-12-06 21:24] nmetulev commented on #1685
Hey @RomanGL, great catch. How do you feel about submitting a fix for this? :)

[2017-12-06 21:41] hermitdave commented on #1645
@snrnats i have merged a tweak to network helper. would it be possible for you to try the dev builds ?

[2017-12-06 23:12] TheShihan opened #1686 "AdvancedCollectionView: Exception thrown in ItemOnPropertyChanged when live shaping enabled but no filter set"
## I'm submitting a...

[code]
## Current behavior

I'm using an AdvancedCollectionView bound to a ListView to display items sorted by a  DateTime property. I noticed that an exception occured in the `OnPropertyChanged `of the bound items when live shaping was enabled (true passed as second parameter to `AdvancedViewCollection`). After further analysis I saw that the `NullReferenceException `was t

[2017-12-06 23:23] nmetulev commented on #1671
Finally had a chance to try this. It turns out this is a known bug with implicit hide animations in the platform that apparently is fixed in latest insider builds.

The workaround is to not use Implicit Hide animations. Since these animations are in the toolkit controls, you can simply override the templates by copying the two styles [from here](https://github.com/Microsoft/UWPCommunityToolkit/blo

[2017-12-06 23:23] #1671 closed

[2017-12-07 00:12] nmetulev commented on #1686
@Shayon, any thoughts on this?

[2017-12-07 00:36] Shayon commented on #1686
I think I see the issue.  Looks like I missed this. 😞 I'll look into adding a test and fixing the functionality.

For now the workaround identified by @TheShihan will fix this issue.  i.e. Adding a dummy filter like: `_acv.Filter = x => true;` when live shaping is enabled.

[2017-12-07 02:00] ad1Dima commented on #1684
@nmetulev

This is not true https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/navigationview#customizing-backgrounds

[2017-12-07 04:06] nmetulev commented on #1684
Thanks for keeping me honest :)

So to change the background when using UseNavigationViewWhenPossible, copy these two brushes to your App.xaml and modify the properties:

[code]

[2017-12-07 04:18] ad1Dima commented on #1684
I guess they can be putted [here ](https://github.com/Microsoft/UWPCommunityToolkit/blob/a56391fa46faab7b8569d2c5f85ef63072ca3545/Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenuNavViewTemplate.xaml#L150)

Then retrieve them from code and fill TintColor from PaneBackgroung (If it SolidColorBrush).

Not sure it'll work. Can't check right now.

[2017-12-07 04:21] nmetulev commented on #1684
Yeah, I guess we can change the TintColor for both. But I'd imagine this way the developer has the flexibility to customize it further.

[2017-12-07 04:24] ad1Dima commented on #1684
True.
In that case, it better to update documentation for HamburgerMenu.

[2017-12-07 05:09] nmetulev commented on #1684
You got it: https://github.com/Microsoft/UWPCommunityToolkit/commit/2ff539896333203b10bf46ce71beaa6003cf6b7f

:)

[2017-12-07 07:01] RomanGL commented on #1685
@nmetulev, I'll try.

[2017-12-07 10:10] DkmS1953 commented on #1684
@nmetulev
Handler works fine, thanx.
But VisualStateManager doesn't make any impression of the behavior of the menu. In particular, I try to open and close the panel and DisplayMode. When you resize the window, the windowstates_currentstatechanged handler is not called. Maybe we could subscribe another event.

[2017-12-07 18:57] jefhai opened #1689 "Is it possible to make the dropshadowpanel stretch to fill parent?"
I'm trying to put a dropshadow parent around a dynamically resizing Button. So I place the drop shadow inside the control template of the Button, but there doesn't seem  to be a way to prevent the drop shadow panel from resizing the control templates content. So how do I tell it to stretch it self?

[2017-12-07 18:58] jefhai commented on #1689
nvm HorizontalContentAlignment="Stretch"

[2017-12-07 18:58] #1689 closed

[2017-12-07 20:11] snrnats commented on #1645
Yes, I will try 2.0.0 + your PR. Probably, I will be able to provide a feedback in a week.

[2017-12-07 22:07] liptonbeer commented on #1657
Hi @nmetulev,

I was trying to reproduce this issue in new blank solution with no result :/ For now I will close this topic and when I would find the couse of this issue I will write it here or suggest Pull Request.

[2017-12-07 22:08] #1657 closed

[2017-12-07 22:47] nmetulev commented on #1182
ping @Code-ScottLe as he might be able to assist here as well.

[2017-12-07 23:49] nmetulev commented on #1684
Hey @DkmS1953, can you share a repro I can try out?

The NavigationView does not have a way to change the DisplayMode (there is only a getter), AFAIK, it's set internally based on the size of the control

[2017-12-08 00:02] nmetulev commented on #1672
@michael-hawker is currently working on this

[2017-12-08 14:50] GiancarloLelli commented on #25
Hello folks!
@nmetulev any news? :)

[2017-12-08 18:52] DkmS1953 commented on #1684
Hey @nmetulev , solution here - https://dkms.visualstudio.com/LastFMWriter/_versionControl?_a=contents&path=%24%2FLastFMWriter%2FLastFM-UniWriter.Win10.uwp
Say you account, i can get access.

[2017-12-08 19:04] ST-Apps opened #1690 "Adding support for bindable ActualHeight/ActualWidth of FrameworkElement."
## I'm submitting a...

[code]

## UserVoice link

Not adding a UserVoice link because I already wrote the code, so there's no more effort required from anyone. I'm opening the issue just to discuss whether you think that this may be useful or not.

## Current behavior

As of [FrameworkElement's documentation](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.FrameworkElement#Windows_UI_Xam

[2017-12-08 21:24] jefhai commented on #715
It must be too hard for the developers to solve

[2017-12-08 21:26] jefhai commented on #1690
+1 I really would like this. Although I presume there are some complications with this approach. This would make reactive design easier to implement.

[2017-12-08 22:18] hermitdave commented on #1690
I use a similar helper but its not a behaviour rather its a helper control

[code]

[2017-12-08 22:23] hermitdave commented on #1690
BTW its not something i wrote.. something i found a while ago

[2017-12-09 04:14] Vijay-Nirmal commented on #1690
Usually, devs need to use mathematical operation to ActualSize before binding the value. I think we need a separate Helper to achieve it. Something like a converter (ConverterParameter is the equation to execute) or [CalcBinding](https://github.com/Alex141/CalcBinding) for UWP.

[2017-12-09 04:32] jefhai commented on #1690
I agree with that statement, but it shouldn’t be locked to a specific converter. It should be free to bind to and we can write our own converters/helpers

[2017-12-09 04:43] michael-hawker commented on #1690
I'm curious if we can post our own property change event for a FrameworkElement with reflection or something.

Then we would't need to make it a behavior:

[code]

[2017-12-09 05:36] Vijay-Nirmal commented on #1465
Since Anniversary Update, `x:Bind` will implicitly convert bool to visibility. So `BoolToVisibilityConverter` should be deprecated.

[2017-12-09 10:24] hermitdave commented on #1465
Yes that is true however you can't force inverse behaviour and either need to use converter or raise two prop changed

[2017-12-09 10:52] ST-Apps commented on #1690
@jefhai I'm actually interested in the complications you're talking about: do you think that going this route can cause issues of any kind?

@hermitdave found that class too after you posted it, it's basically the same concept that I used but it doesn't require the `Interactivity` namespace, so it may be a better option. I don't think it would be hard to migrate my code from a behavior to a helper

[2017-12-09 11:54] Vijay-Nirmal commented on #1690
I mean converter to perform a mathematical operation while binding because usually, devs need to perform a mathematical operation to ActualSize.

[code]

Here `x` should be replaced by `Path`

(or)

We can create a UWP version of [CalcBinding](https://github.com/Alex141/CalcBinding)

[code]

The benefit of this approach
- Simpler than a `MathConverter`
- Perform multiple binding operations
[code]

[2017-12-09 13:15] DkmS1953 commented on #1684
В итоге телефонные программы имеют жуткий внешний вид.
As a result, the phone programs have a creepy look.😢

Wbr, Dyakov K.M.

2017-12-08 2:49 GMT+03:00 Nikola Metulev <notifications@github.com>:

[2017-12-09 13:18] DkmS1953 commented on #1684
В итоге телефонные программы имеют жуткий внешний вид.
As a result, the phone programs have a creepy look.😢

Wbr, Dyakov K.M.

2017-12-08 2:49 GMT+03:00 Nikola Metulev <notifications@github.com>:

[2017-12-09 13:19] DkmS1953 commented on #1684
В итоге телефонные программы имеют жуткий внешний вид.
As a result, the phone programs have a creepy look.😢

[2017-12-09 22:19] nmetulev commented on #25
Hey @GiancarloLelli, thanks for the reminder. Let me ping @cbarkerms as well.

Just recently there was a set of new nugets released that we will most likely want to transition for the bing service:
* https://www.nuget.org/packages/Microsoft.Azure.CognitiveServices.Search.EntitySearch/1.1.0-preview
* https://www.nuget.org/packages/Microsoft.Azure.CognitiveServices.Search.WebSearch/1.1.0-preview (fo

[2017-12-09 22:53] nmetulev commented on #1690
I'd try to avoid using behaviors if possible. Maybe creating new Attached Properties for height and weight that are being updated on SizeChanged event and bind to those.

[2017-12-09 22:55] nmetulev commented on #715
@jefhai, are you having the same issue? 2.0 had a lot of fixes for the designer

[2017-12-09 23:01] nmetulev commented on #1684
Try this account: metulev-github at outlook

[2017-12-10 05:39] WilliamABradley commented on #1681
Its super preliminary, but I have created [WilliamABradley/XamarinCommunityToolkit](https://github.com/WilliamABradley/XamarinCommunityToolkit) for the MarkdownTextView, which depends on `Microsoft.Toolkit.Parsers` from #1650. It has namespaces that are currently Toolkit.Droid.UI.Controls, so it wouldn't be difficult to be picked up by Microsoft in the future :)

I can then create a Markdown Contr

[2017-12-10 08:39] WilliamABradley commented on #1596
This has relevance to #1650

[2017-12-10 08:43] WilliamABradley commented on #1449
@nmetulev This can be closed

[2017-12-10 08:53] GiancarloLelli commented on #25
Yes, sounds great!! How do I start?

[2017-12-10 09:03] #1449 closed

[2017-12-10 09:08] Vijay-Nirmal commented on #1449
@WilliamABradley Remove "Use Custom Formatter" button because we can change the format combo box

[2017-12-10 09:57] DkmS1953 commented on #1684
Added.

https://dkms.visualstudio.com/LastFMWriter/_versionControl?path=%24%2FLastFMWriter&_a=contents#path=%24%2FLastFMWriter%2FLastFM-UniWriter.Win10.uwp&version=T&_a=contents

Wbr, Dyakov K.M.

2017-12-10 2:01 GMT+03:00 Nikola Metulev <notifications@github.com>:

[2017-12-10 12:17] ST-Apps commented on #1690
@nmetulev Are we talking about something like this?

[code]

@Vijay-Nirmal I get what your saying but I think it's outside the scope of this issue :)

[2017-12-10 12:27] Vijay-Nirmal commented on #1690
@ST-Apps Yes, it is outside the scope of this issue but just want to point out, without a 'MathConverter' this helper will not help devs to reduce the number of lines required to bind `ActualSize`. Also, It may increase the number of lines when devs implement `IValueConverter`.

[2017-12-10 14:57] hermitdave commented on #1690
The actual size proxy method is much simpler to use than extension methods

[2017-12-10 16:39] hermitdave commented on #1681
You sound just raise and create one in larger Xamarin toolkit itself but however you see fit

[2017-12-10 22:47] nmetulev commented on #1589
@mvegaca, please test #1691 if it will resolve the issue.

[2017-12-10 23:24] WilliamABradley commented on #1681
@hermitdave The other toolkits are specifically for Xamarin Forms, while I want to create Native Controls, as well as perhaps Xamarin Forms controls. If there is another toolkit that does native controls, I would add it to that.

[2017-12-11 02:28] Vijay-Nirmal commented on #1690
@hermitdave Personally I like extension method over actual size proxy method because ActualSizeProxyMethod take more lines
[code]
Where extension method will perform same operation inline
[code]

[2017-12-11 09:10] hermitdave commented on #1690
@Vijay-Nirmal actual lines of code is irrelevant. Simplicity beats long winded un-obvious ways any day.

[2017-12-11 20:08] avknaidu commented on #1182
@Code-ScottLe This is the [Repo](https://github.com/avknaidu/RemoteDevicePicker) where i implemented the control. I created a branch on my [Fork](https://github.com/avknaidu/UWPCommunityToolkit/tree/RemoteDevicePicker) where i will update the control in sample app. Please provide me any inputs that you think will make the control more easier to use.

[2017-12-11 20:09] jefhai commented on #715
@nmetulev is this a no fix for 1.0? We can't currently upgrade to 2.0 and benefit from this.

[2017-12-11 20:37] nattress commented on #1676
The issue here looks to be with the most-recent Microsoft.Toolkit.Uwp.Notifications 2.1.0 package. There's a assembly reference from Microsoft.Toolkit.Uwp.Notifications on System.Xml.ReaderWriter, Version=4.1.0.0. The Microsoft.Toolkit.Uwp.Notifications package only declares a dependency on System.Xml.ReaderWriter, Version=4.0.11.0 though. @onovotny Did you mean to depend on 4.1.0.0? You should ad

[2017-12-11 20:38] nattress commented on #1676
Sorry that should probably be @nmetulev

[2017-12-12 06:02] nmetulev commented on #1676
Thanks @nattress. I didn't find 4.1.0 but there is 4.3.0. @anbare, Can you test out #1692 with your project? If you can do it in the next few days, I'll include the fix in 2.1.1 by end of this week.

[2017-12-12 06:11] nmetulev commented on #715
Unfortunately there is not, bug fixes move forward with each version.

Just curious, why are you not able to update to 2.0?

[2017-12-12 07:20] hupo376787 opened #1693 "How to get progress rate while uploading /downloading files using OneDrive Service"
## I'm submitting a...

[x] Bug report

## Current behavior

The OneDrive service just upload/download file, with no progress, like 10%, 50%, 80%......
Especially large files

## Expected behavior

Return progress, like 10%, 50%, 80%......

## Environment

[code]

[2017-12-12 14:35] Odonno commented on #1693
May be related to #1309

[2017-12-12 18:59] shenchauhan commented on #1673
starting this

[2017-12-12 20:28] nmetulev commented on #1676
PR merged, thanks everyone

[2017-12-12 20:28] #1676 closed

[2017-12-12 22:41] r2d2rigo opened #1694 "MenuItem has a Padding property but changing it does nothing"
## I'm submitting a...
- Bug report

## Current behavior
Changing the `Padding` property of a `MenuItem` does nothing - the padding of the control reverts to default.

## Expected behavior
The control should have the new padding value, so it can be styled accordingly.

## Minimal reproduction of the problem with instructions
- Create a new project.
- Add a `Menu` control with at least one `MenuIte

[2017-12-12 23:44] r2d2rigo opened #1696 "MenuItem doesn't have a Disabled state"
## I'm submitting a...
- Feature request

## Current behavior
When setting `IsEnabled` to `false` on a `MenuItem`, the underlying `Button` uses default values for styling.

## Expected behavior
The appearance of the `MenuItem` when it is disabled should be customizable.

## Minimal reproduction of the problem with instructions
- Create a new project.
- Add a `Menu` with at least one `MenuItem`.
-

[2017-12-13 17:53] Vijay-Nirmal commented on #1309
Is it possible to add Parallel Downloading support like IDM?

[2017-12-13 19:18] Code-ScottLe commented on #1182
@avknaidu Give me a few days, Kinda swamped ATM.

[2017-12-14 03:21] IbraheemOsama commented on #1694
Closed because PR merged.

[2017-12-14 03:21] #1694 closed

[2017-12-14 09:37] TheSETJ opened #1699 "Sample app needs a minor update"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

Sample app > Helpers >NetworkHelper > Documentation's namespace is not correct anymore and URL to source code leads to 404 page.

## Expected behavior

Sample app > Helpers >NetworkHelper > Documentation need to updated to:
Namespace: Microsoft.Toolkit.Uwp.Connectivity
URL to source code: https://github.com/Microsoft/UWPCommun

[2017-12-14 09:52] TheSETJ commented on #1699
@nmetulev

[2017-12-14 11:59] TheSETJ opened #1700 "Expander control causes exception"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior
When I run the app (and also before running in the Error List) there is an error:

Method not found: 'Void Windows.UI.Xaml.Hosting.ElementCompositionPreview.SetImplicitShowAnimation(Windows.UI.Xaml.UIElement, Windows.UI.Composition.ICompositionAnimationBase)'.

## Expected behavior
I expect the app runs without any exception

#

[2017-12-14 13:24] ThomasPe commented on #1664
Still an issue for me.

[2017-12-14 17:58] nmetulev commented on #1589
Thinking about this more, the fix I submitted to the MasterDetailsView to fix this issue will most likely will be a breaking change, and shouldn't be included until 3.0.

However, I believe there is something you can do in WTS to avoid this issue, and that is to remove [this line](https://github.com/mvegaca/PoC/blob/master/UWPCommunityToolkit/Issue1356.Repro/Issue1356.Repro/Views/CompaniesPage.xam

[2017-12-15 02:18] nmetulev commented on #1664
Haven't had time to look into this, will have to look at it after the new year.

@marcominerva might be able to help here though, Marco, any thoughts on this?

[2017-12-15 02:28] nmetulev commented on #1700
If you are targeting anniversary update, but your dev machine is running FCU, this is expected. The cause of this the way APIInformation (the api we use) actually works: it **does not** check if your app has access to an API - instead it checks if your OS has that API.

My recommendation here is to move your target version up to FCU.

[2017-12-15 02:28] #1700 closed

[2017-12-15 02:28] nmetulev commented on #1644
PR merged

[2017-12-15 02:28] #1644 closed

[2017-12-15 03:17] hupo376787 opened #1701 "Get user id using OneDrive service"
## I'm submitting a...

[code]

## UserVoice link

I'm using OneDrive service in uwp community toolkit. I can got all folders, but don't know how t get user id(of course not email address, I mean a unique id that represent the user).

## Current behavior

Can't get user id

## Expected behavior

Get user id

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2017-12-15 03:27] hupo376787 opened #1702 "Comment feature in MarkdownTextBlock"
## I'm submitting a...

[code]

## UserVoice link

Comment feature like github "Submit new issue" markdown textbox, using "< !--" and "-- >".

## Current behavior

![default](https://user-images.githubusercontent.com/14960168/34025482-14c3ea14-e18b-11e7-8e61-504fa386dd4a.png)

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2017-12-15 11:03] TheSETJ commented on #1700
I did that and the app ran correctly. But I have another question, what will happen if this app runs on another machine with Anniversary version of Windows? Will it crash? @nmetulev

[2017-12-15 14:30] marcominerva commented on #1664
Hi! I'm unable to reproduce the issue.

I have download the repo https://github.com/wp-net/WordPressUWP and used the URL https://windowsarea.de/wp-json/. I have modified the GetPagedItemsAsync method adding a Delay to simulate long requests:

    public async Task<IEnumerable<Post>> GetPagedItemsAsync(int pageIndex, int pageSize, CancellationToken cancellationToken = default(CancellationToken))

[2017-12-15 16:31] nmetulev commented on #1700
It will not crash, it just won't run the implicit animations. The APIInformation call will check if the API is there and since it's AU, it won't and it will not try to use it.

[2017-12-15 18:22] ST-Apps commented on #1690
So, what do you guys plan to do with this?

[2017-12-15 18:41] TheSETJ commented on #1700
@nmetulev If I'me getting it right, in Anniversary version, it will simply expand and collapse without animation and in Fall Creator version, it will use animation, right?

[2017-12-15 19:16] jefhai commented on #1690
@Vijay-Nirmal  I like your second example; it should fit into one bindable expression. I shouldn't have to write a bunch of helper scaffolding, especially in XAML, just to get this working. We already struggle with very dense XAML in our projects and our state of business doesn't give us enough time to abstract everything into reusable controls.

@ST-Apps I would love to replicate the exact nature

[2017-12-15 23:24] nmetulev commented on #1700
Exactly :)

[2017-12-16 11:00] TheSETJ opened #1705 "RotatorTile with context indicator"
## I'm submitting a...

[code]

## UserVoice link

https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/32645665-selection-indicator-for-rotatortile

## Current behavior

## Expected behavior

An indicator displaying currently selected (or displayed) item's index.

![image](https://user-images.githubusercontent.com/10893088/34069774-10985dde-e26d-11e7-84e9-fc53d15eaa6c.

[2017-12-16 12:54] Vijay-Nirmal opened #1706 "Outdated doc link in the repository description"
## I'm submitting a...

- Documentation issue or request

## Current behavior

Outdated doc link in the repository description

![chrome_2017-12-16_18-20-16](https://user-images.githubusercontent.com/24755596/34070525-f389199c-e28d-11e7-8d08-122a4d227605.png)

## Expected behavior

We should change it to the new doc link - https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/

[2017-12-16 19:29] GeertvanHorrik opened #1707 "Issue with FadeHeaderBehavior on smaller phones"
I just updated to 2.2.1 and users started complaining about crashes on smaller screen phones. I got myself a Lumia 650 and could reproduce:

[code]

This happens when adding an item to the list of items the control is bound to.

Reverting back to an older version solves this issue. Will do some more research and update the progress here.

[2017-12-16 20:01] GeertvanHorrik commented on #1707
Explicitly casting to an int seems to fix the issue:

[code]

Probably a culture issue, since in the Netherlands, the decimal separator is a `,` and not a `.`.

[2017-12-16 20:04] GeertvanHorrik commented on #1707
Diving a bit deeper, it's probably an issue in `ExpressionNode` or a related class.

[2017-12-16 20:20] GeertvanHorrik commented on #1707
Testing this fix in `ScalerNode`:

[code]

Btw: it's kind of a pain to debug a local fork of the community toolkit. Why aren't the binaries also written to the bin folder besides the nuget packages like they used to do?

[2017-12-16 20:26] GeertvanHorrik commented on #1707
PR incoming, fix seems to work.

[2017-12-18 19:26] avknaidu commented on #1091
@nmetulev @deltakosh Any ideas on how this can be implemented?

[2017-12-18 19:43] nmetulev commented on #1091
Haven't really looked at implementing this so what I suggest might not work. The first thing I would try is to see if there is a way to replace the hyperlink button with another container that does support inline content and hook into a tapped event (or handle pointer events manually)

[2017-12-18 19:48] #1707 closed

[2017-12-18 19:50] nmetulev commented on #1681
I feel like we have come to an agreement on this topic and I'll close this issue. If anyone disagrees, feel free to re-open the issue.

[2017-12-18 19:50] #1681 closed

[2017-12-18 19:51] nmetulev commented on #1706
The link should redirect to the new documentation. Either way, I updated it

[2017-12-18 19:51] #1706 closed

[2017-12-18 19:53] nmetulev commented on #1705
The sample should also work for the FlipView in Windows 10, no?

[2017-12-18 19:57] nmetulev commented on #1702
Great suggestion. I'll open it up to anyone that wants to implement this feature. @hupo376787, feel free to submit a PR to add this if you feel up to it.

[2017-12-18 19:57] avknaidu commented on #1091
How about using `Click` event on Image itself and try to wire it up to `LinkClicked` event? that way every image will have click option? If required we can have a new property called `ImageLinkEnabled` and control the Enable/Disable Tapped/Click option on Image?

[2017-12-18 19:57] nmetulev commented on #1701
ping @cbarkerms, @EricVernie

[2017-12-18 20:01] nmetulev commented on #1091
Image doesn't have a clicked event, but we can probably use tapped. Won't work with controller though, so need to make sure we handle that somehow. Don't think there is a need for property to enable image links, we just need to support links in images when they are defined in the markdown

[2017-12-18 20:01] snrnats commented on #1645
Works great! No new crash reports so far.

[2017-12-18 20:02] #1645 closed

[2017-12-18 20:02] nmetulev commented on #1645
That's great. This fix is also in 2.1.1 on nuget :)

[2017-12-18 20:32] WilliamABradley commented on #1539
@nmetulev I think that there should be a Theme Toggle switch like MSN News next to the home button. Sample Pages should be able to listen to these changes with an event like `Shell.ThemeChanged`. I'm willing to help out with the Dark Theming if you like :)

[2017-12-18 20:49] hermitdave commented on #1645
Thank you for keeping an eye on it

[2017-12-19 07:35] TheSETJ commented on #1705
I've used it in an app. It works, but RotatorTile seems cleaner than what I've used.

[2017-12-19 07:54] hupo376787 commented on #1693
@Odonno Thanks.

[2017-12-19 07:54] #1693 closed

[2017-12-19 14:01] ilinkmobility opened #1711 "Loading control opacity change by background color"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

The Loading control is working great. But the problem is, while using opacity option it is also applying same behavior for its children too.
Opacity="0.8"
![opacity-0 8](https://user-images.githubusercontent.com/27727840/34160209-097f305e-e4f2-11e7-8202-547909f6496a.png)

Opacity="0.2"
![opacity-0 2](https://user-images.github

[2017-12-19 14:59] skendrot commented on #1711
Setting the Opacity is working as expected. Changing the Opacity of a control should change the opacity for the entire control, including children. I would agree that the sample app could be updated to not have Opacity as an option.

[2017-12-19 16:00] touseefbsb commented on #1505
@nmetulev  what is progress on this ? do we have a custom control in toolkit for this specific purpose? or do we need to just do it ourselves by using notification and our own logic?

[2017-12-19 16:59] cbarkerms commented on #1701
@nmetulev - whilst we can make this easier, it is possible through https://github.com/Microsoft/UWPCommunityToolkit/pull/1588 using code such as:

var userId = (await Services.OneDrive.OneDriveService.GraphInstance.Provider.User.GetProfileAsync()).Id;

you could possibly get it working with the version we have today, but it would be even more complex.

[2017-12-19 17:29] nmetulev commented on #1505
There is no custom control, you can use things like message dialogs, InAppNotifications, or in my recommendation, a custom non-blocking implementation that blends in with your experience. We added helpers to enable you to decide when to show the UI. For example, you can decide to only show the UI when the user has finished a specific task, or when the user has used your app for longer period, or l

[2017-12-19 17:30] nmetulev commented on #1701
Let's circle back here once we've merge that PR then :)

[2017-12-19 18:49] touseefbsb commented on #1505
oh thanks that is exactly what I needed @nmetulev

[2017-12-19 22:52] Farrell23 opened #1712 "The binding does not work in the AdaptiveGridViewfor properties ItemHeight and DesiredWidth"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions
[code]
And
[code]

As a result:
![image](https://user-images.githubusercontent.com/14282122/34182479-19f6c00a-e51f-11e7-933c-79b73752ee5b.png)

If I do this:

       <Slider x:Name="itemHeightSlider" Minimum="50" Maximum="500" Value="200"
       Val

[2017-12-19 23:15] skendrot commented on #1712
Can you please provide a reproducible sample? The sample uses binding to change the ItemHeight and works fine. I also adjusted the sample to use a slider as you have done and it works fine as well.
[code]

[2017-12-19 23:16] skendrot commented on #1712
What are the details of the exception that is being thrown?

[2017-12-19 23:19] skendrot commented on #1666
The UWP ContentControl does behave differently that the WPF version for alignment. By default alignment is `Top` and `Left`. I believe this issue can be closed

[2017-12-19 23:19] #1666 closed

[2017-12-20 07:31] hupo376787 opened #1715 "Add background ability for OneDrive service while uploading/downloading"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

When app minimized or on background, the uploading/downloading progress is paused.

## Expected behavior

When app minimized or on background, the uploading/downloading progress still going on.

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2017-12-20 14:29] HeroWong95 opened #1716 "There is a bug in Connected Animations"
When Page1 is enabled for `NavigationCacheMode`, navigate to Page2. Only the first animation is displayed. Go back to Page1 and navigate to Page2 again, all the connected animation are not displayed

[2017-12-20 14:50] HeroWong95 commented on #1677
@uwptoolkitbot Thank you for your reply, I do not need help. When I found it does not work, I made a MasterDetailView, did not use ToolKit

[2017-12-20 15:25] Farrell23 commented on #1712
@skendrot Hmm .. very strange, I have a problem with the fact that there is an error in the XAML-markup and eventually redirects to the screen that I provided. But maybe the problem in the studio, you know, same as it happens) Thank you very much for your reply.

[2017-12-20 15:48] skendrot commented on #1712
But what is the error? Taking a screenshot of the UnhandledException handler doesn't help much. When it breaks, get the details for the exception. You can do this my hovering over the `e` variable.

[2017-12-20 16:35] skendrot commented on #1677
@HeroWong95 Do you have a reproducible sample? I was not able to reproduce just putting the MasterDetailsView into a NavigationView

[2017-12-20 18:23] nmetulev commented on #1716
Thanks for submitting. I'll take a look at this in the next few weeks.

[2017-12-20 18:24] nmetulev commented on #1715
ping @cbarkerms

[2017-12-20 18:26] #1711 closed

[2017-12-20 18:27] nmetulev commented on #1711
Closing issue as sample app has been updated

[2017-12-20 18:34] cbarkerms commented on #1715
@hupo376787 @nmetulev - for download, we have CreateBackgroundDownloadForItemAsync (on the OneDriveService type).  have you tried using this?  did it not work as expected?

[2017-12-20 18:47] #1673 closed

[2017-12-21 00:07] r2d2rigo commented on #353
Is this being worked on? Recently I made a barebones tab control by using a `ListView` as its base control:

![tab-control](https://user-images.githubusercontent.com/2871131/34234381-1696aac0-e5eb-11e7-9068-4870cb9b0720.gif)

Maybe this could be used as a starting point?

[2017-12-21 02:55] HeroWong95 commented on #1677
@skendrot
Sample url: [Click here](https://github.com/HeroWong95/BugApp)
1. Run App->Click Home NavigationItem->Click ListViewItem

[2017-12-21 03:22] HeroWong95 opened #1718 "Can we add Pivot extensions?"
Currently, there is no `Pivot` extension, if I need to add a selected bottom border of `PivotHeaderItem` or align the Pivot Header to the center, need the developer to override the default style, not friendly enough, so can we extend the Pivot to make it easier to customize?

[2017-12-21 06:40] hermitdave commented on #353
@r2d2rigo That is precisely what I have started with 2 weeks ago. I have a PoC, need to fine tune the properties

[2017-12-21 06:41] hermitdave commented on #353
@r2d2rigo let's sync up on this

[2017-12-21 08:51] hupo376787 commented on #1715
@jongalloway Hi, I found it and used it, it works. Thanks for your reminding. And I'm going to write a upload method.

[2017-12-21 09:46] #1701 closed

[2017-12-21 09:51] hupo376787 commented on #1715
Ah... I think it's too difficult for me to write a upload method. 😂
@cbarkerms When do you finish it? Thanks.

[2017-12-21 20:18] drdgvhbh opened #1719 "Is FileCache properly implemented?"
## I'm submitting a...

[code]

## Current behavior
FileCache is unusable because ` instance = await InitializeTypeAsync(ms, initializerKeyValues);` will always throw a `NullReferenceException` in `CacheBase.cs` at line 491. The exception won't be thrown to the user if he has the `throwOnError` setting to false of course. Regardless, this is an issue because the contents of the return will always

[2017-12-21 20:22] cbarkerms commented on #1715
@hupo376787 we will likely leave this to the community to contribute. you should be able to match the existing download functionality using it's upload counterpart: https://docs.microsoft.com/en-us/uwp/api/windows.networking.backgroundtransfer.backgrounduploader

there is also a code sample here for the uploader: https://code.msdn.microsoft.com/windowsapps/Background-Transfer-Sample-d7833f61/sourc

[2017-12-21 20:22] #1715 closed

[2017-12-22 08:38] hupo376787 commented on #1715
@cbarkerms I wrote one, but it throws 400 error request. (Exception from HRESULT: 0x80190190)

   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()
   at WeRecognition.Views.DataBackupPage.<Button_Upload_Clic

[2017-12-22 12:05] francisrath commented on #1128
I'm willing to discuss a bounty for implementing Grouping if anyone wants to give it a shot :)

[2017-12-22 13:28] Snorvisable commented on #1007
It looks like I am facing a similar issue.
We have an application with lots of DropShadowPanels (& a blur).

To narrow it down I created a new blank app. As soon as I add a DropShadowPanel or a blur animation to a blank app, the generated .appxupload contains a crashing app. A Release build works well and a non-store package aswell. As soon as the .appxupload is generated it crashes and gets rejec

[2017-12-22 17:04] cbarkerms commented on #1715
@hupo376787 a network trace would be helpful here (you can use either https://www.telerik.com/fiddler or https://www.charlesproxy.com/ for that). it would also be helpful to know what size file you are uploading.

[2017-12-22 17:27] hermitdave commented on #1719
@drdgvhbh The design of CacheBase and by extension that of FileCache is such that it follows the following steps
if data file is invalid
1 Http download to stream
2 Initialise type from stream
3 Copy stream to file
4 Initialise type from file if needed.

Steps 1-3 are only executed if data in cache is older than expiration.
Step 2 is where null is returned as Step 3 makes it pointless.

We can str

[2017-12-22 17:34] hupo376787 commented on #1715
@cbarkerms I think the file size is OK, the 400 error occurs when my local file upload complete. I have a UploadProgress watching on it.
I create a new file in OneDrive, get its Id, And then upload my local file to the request uri. Am I doing right?

[2017-12-22 19:19] cbarkerms commented on #1715
That sounds correct. Does the file actually get uploaded? A network trace would still be helpful if this is a HTTP 400 error.

[2017-12-22 23:37] hupo376787 commented on #1715
Through a network monitor, it really uploads a 5Mb size file, but in my onedrive folder, the file is still 1Kb. Just the size i created initially.
 var fileCreateNew = await destinationFolder.CreateFileAsync(desiredName, CreationCollisionOption.ReplaceExisting);

You can try my code using
Await UploadOperation(_appFolder, file, file.Name);

[2017-12-23 05:18] michael-hawker commented on #1672
@uwptoolkitbot working on it here https://github.com/michael-hawker/UWPCommunityToolkit/tree/mhawker/pivot-styles

[2017-12-23 07:17] Vijay-Nirmal commented on #1569
@nmetulev Do you know the steps to create a Examples and Remarks section in the auto-generated doc? Also, I like to know the answer to the above comments. I need this info to finish the #1649 PR.

[2017-12-24 00:00] #1674 closed

[2017-12-24 11:17] RomanGL commented on #1685
Sotty, I dont't have free time to fix this bugs.

[2017-12-24 15:36] boodoolak opened #1720 "WrapPanel not work with ItemTemplateSelector"
## I'm submitting a...

[code]

## Current behavior
If I use WrapPanel with ItemTemplateSelector datatemplates not applied and item have not template.

    <ListView
        ItemsSource="{Binding FilteredNotReadedNotifications}"
        ItemTemplateSelector="{StaticResource NotificationsTemplateSelector}">
        <ItemsControl.ItemsPanel>
            <ItemsPanelTemplate>
                 <uwpTool

[2017-12-24 22:25] Joebeazelman opened #1721 "Can't build using UWP Creators Update"
Whose brilliant idea was it to remove the HamburgerMenu with no way of migrating to the new NavigationView?   I can't use HamburgerMenu or NavigationView anymore?  Do you realize Microsoft Blend doesn't support UWP projects greater than version 10.0; Build 15063?  It's the only reason my project is built on this version.

I am fed up with the horrible productivity of Microsoft products.  Microsoft

[2017-12-25 22:54] hermitdave commented on #1721
@Joebeazelman thanks for the good festive cheer. Now that we are past that, lets get some things cleared

1. Hamburger menu has not been removed
2. It has been marked obselete as Navigation View has been introduced by the SDK team

This implies that when 16299 becomes the min supported SDK version, Hamburger menu will be removed. Until such time, it will continue to be supported and review updates

[2017-12-27 10:12] ST-Apps commented on #1690
@hermitdave @nmetulev
I'm waiting for your instructions then.

@jefhai I understand what you mean.
The current code uses the `SizeChanged` event to update the properties, we should be quite safe :)

[2017-12-27 21:13] robloo opened #1724 "Expander Closing Animation Too Slow"
Now that animations have been added to the Expander, I have two issues:

(1) The closing animation is being triggered whenever the control is collapsed or hidden in the UI
(2) The closing animation itself is far too slow. I suggest removing it completely as it should not slow down the overall UI.

Both of these are causing some really bad delays when I'm trying to change between different views in

[2017-12-28 09:00] POC-Tools commented on #1070
@deltakosh , what's the latest on this? Because I still have this issue in version 2.1.1 (Visual Studio 2017 community version 15.5.2)

[2017-12-29 17:43] kaohlive opened #1725 "Issue - OneDrive Service - GetFoldersAsync not including shared with me folders"
## I'm submitting a...
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Feature request
[ ] Sample app request
[ ] Documentation issue or request

## Current behavior
When using any OneDriveFolderStorage object and use the GetFoldersAsync() to retrieve all child folders from the folder it is missing folders that have been shared with me and incl

[2017-12-29 23:59] #1646 closed

[2017-12-30 00:46] IbraheemOsama commented on #1699
@nmetulev ping

[2018-01-01 22:42] IbraheemOsama commented on #1720
Hi @boodoolak , thanks for reporting we will work on it.

[2018-01-02 08:42] mvegaca commented on #1589
Hi @nmetulev
It could be a workaround but if we comment that line the master detail control looks poor when it's opened.

![image](https://user-images.githubusercontent.com/5556784/34478360-d52f151c-efa0-11e7-8039-c8c85c2ce5f2.png)

In my opinion we should wait to V.3.0 on this Issue. Is there an a pre release way to test UWP Toolkit 3.0 before this will be available on Nuget?

[2018-01-02 09:55] mvegaca opened #1729 "Master Detail View has bug while setting background as transparent in narrow window mode"
## I'm submitting a...
[code]

## Current behavior
Master-Detail View has a bug while setting background as transparent in narrow window mode. When the app is in narrow mode, the selected detail is shown over the master list view.

## Expected behavior
When the app is in narrow mode, the selected detail is shown and the master list view is hidden.

## Environment
Nuget Package(s):
Microsoft.Toolki

[2018-01-02 12:40] Vijay-Nirmal commented on #1729
@mvegaca Related issue #1117. #1187 request will solve this problem.

[2018-01-02 13:48] mvegaca commented on #1729
Is this fix will be available on next release?

[2018-01-02 13:50] Vijay-Nirmal commented on #1729
Sadly no. ping @skendrot

[2018-01-02 17:48] skendrot commented on #1729
Closing as Duplicate. Please follow #1117 for updates

[2018-01-02 17:48] #1729 closed

[2018-01-02 21:31] nmetulev commented on #1721
Closing issue as I believe @hermitdave answer answers the question.

@Joebeazelman, if you are having any specific issues with the HamburgerMenu, please let us know (and provide us with repro steps/project) and we will work with you to resolve them.

[2018-01-02 21:31] #1721 closed

[2018-01-02 21:49] nmetulev commented on #1699
It looks like this has already been fixed in #1703 :)

[2018-01-02 21:49] #1699 closed

[2018-01-02 21:51] nmetulev commented on #1664
@ThomasPe, is this still an issue? It doesn't look like we can reproduce the issue.

[2018-01-02 21:53] nmetulev commented on #1725
ping @cbarkerms

[2018-01-02 21:54] nmetulev commented on #1718
ping @michael-hawker as he is working something similar to this.

[2018-01-02 22:01] michael-hawker commented on #1718
Yup, this is a duplicate of #1672, I'm in the process of adding an extension which allows you to easily restyle just the `PivotHeaderItem` including 3 new styles for these (among other extensions).  Should be ready for the 2.2 release.

I have the POC for 2 of the 3 styles, but need to fix stylings to be properly margined and such.  You can see the initial work I have in my branch here: https://gi

[2018-01-02 22:01] #1718 closed

[2018-01-02 22:02] nmetulev commented on #1070
@POC-Tools, I'm unable to reproduce this with latest everything (toolkit 2.1.1, app targeting 16299, vs15.5). What are you targeting with your app?

[2018-01-02 22:07] nmetulev commented on #1724
Great feedback @robloo.

Good news is that all animations are done in the control template, so by extending the template ([found here](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/Expander/Expander.xaml)), you can easily change or remove the animations. Would this satisfy your request?

[2018-01-02 22:16] nmetulev commented on #1690
The proxy method requires me to  have code in 3 different places in my file to support the feature (the sender element, the proxy in the page resources, and the receiving element). The extensions can do this in two (the sender and the receiver). Therefore, I like the extension method approach, IMO it's cleaner and more intuitive.

[2018-01-02 22:23] nmetulev commented on #1685
No worries, we'll get this fixed for 2.2

[2018-01-02 22:29] nmetulev commented on #1569
I believe you can use the `<example>` and `<code>` tags to add those sections in the auto-generated docs ([docs](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/xmldoc/example))

Don't know if there is a way to get a shorter uri. Is there an issue using the long uri?

[2018-01-02 22:30] nmetulev commented on #1007
Are you able to reproduce this with VS2017 and the latest SDK?

[2018-01-02 23:40] nmetulev opened #1730 "HamburgerMenu: binding to SelectedItem does not work when the control is first loaded"
## I'm submitting a...

[code]

## Current behavior

See https://github.com/Microsoft/WindowsTemplateStudio/issues/1600 for more details

## Expected behavior

The SelectedItem should be selected when the control loads

## Minimal reproduction of the problem with instructions

[code]

[code]

## Environment

[code]

[2018-01-03 03:25] robloo commented on #1724
Thanks for the response.

It's certainly possible for me customize the control template. That would definitely be the easiest work-around. However, I would consider it just that: a work-around. No other control in the framework has this issue and it really is a bug in the control (unless I missed something of course).

[2018-01-03 08:35] Jebarson commented on #1321
I have already moved on to a workaround. However, this would still be a bug unless you would want to close by design

[2018-01-03 10:57] ThomasPe commented on #1664
yes, I am still seeing this. It might need a few tries, but eventually you'll run into a case where the second request is just a bit faster than the first.

The real problem here is, that there shouldn't even be a second call, right?

[2018-01-03 11:19] marcominerva commented on #1664
It is correct that there is a second call, because the system might decide to invoke the method multiple times in a sort of "prefetching".

Have you tried adding the debug messages I shown you and you have verified that in the output Window the results are out of order?

[2018-01-03 11:26] ThomasPe commented on #1664
I run into this issue when refreshing the collection. I do seem to get the responses in the correct order, but when a 3rd page is being loaded (happens ~50% of the time) the items are out of order - not sure yet if maybe page 2 gets put at the beginning of the list.

[code]

[2018-01-03 11:37] marcominerva commented on #1664
As you can see at line https://github.com/Microsoft/UWPCommunityToolkit/blob/e97cb03c904c63ae39b3b1788cb0608447ca6e69/Microsoft.Toolkit.Uwp/IncrementalLoadingCollection/IncrementalLoadingCollection.cs#L260 of IncrementalLoadingCollection implementation, elements are added to the list with a foreach loop, so they are always appended at the end of the list.

[2018-01-03 14:53] ThomasPe commented on #1664
I have added a debug statement after the post returns for clarification. This is what happens from time to time since the requests do not finish at the same speed. As far as I can tell this only happens when I trigger await `Posts.RefreshAsync();`

[code]

[2018-01-03 15:14] marcominerva commented on #1664
According to these commits:
- https://github.com/Microsoft/UWPCommunityToolkit/commit/d8a9df60cbe8f28e09429c061bd3dcc0da7c675d#diff-df5a5a86e220ff711acb585193e2be15
- https://github.com/Microsoft/UWPCommunityToolkit/commit/392e5c20718de34d06057f32628215411829b919#diff-df5a5a86e220ff711acb585193e2be15

 @ianier added the Refresh method. Perhaps he can help you further.

[2018-01-03 17:08] POC-Tools commented on #1070
Ah yes, the target version was Creators update (build version 15063). Changing it to Fall Creators update removed the error. But does that mean it only works in Fall Creators update versions, in other words, min version must be 16299?

[2018-01-03 22:26] nmetulev commented on #1070
VS 15.5 introduced a new designer which, when an app is targeting 16299, will render the control. If the app is targeting 15063 or lower, it will still work, just won't render the control. This is due to the old designer not supporting the composition APIs.

[2018-01-03 22:29] nmetulev commented on #1321
We should get this fixed. @skendrot mentioned above that he might have a fix for this, I'll let him comment here.

Out of curiosity, what is your workaround?

[2018-01-03 22:33] nmetulev commented on #1724
ping @Odonno

I agree that we need to speed up the closing animation and we should be able to do that for 2.2

We will need to look into how to prevent the animations from running when the control is loaded/collapsed. We might need to go back to not using show and hide compositon animations.

[2018-01-04 05:42] Jebarson commented on #1321
I changed the my UI to use to Pivot and MarkdownTextBlock and wrote the code to adapt inside the MarkdownTextBlock. It is not exactly a workaround which others could use and hence I didn't post it as a work around here.

[2018-01-04 08:15] Odonno commented on #1724
@nmetulev I think we may be able to add a property `PlayOnLoaded` or something similar. Not sure if it plays well with the Composition helpers.

About the closing animation, it was a requested feature. Not sure how to deal with that.

[2018-01-04 08:22] Vijay-Nirmal commented on #1569
@nmetulev

Should I wait for confirmation?

The issue is it takes a long time to manually create the link address. Also, 4 lines of text for a single link. There should another way.

[2018-01-04 10:45] TheSETJ opened #1731 "ImageEx and RoundImageEx ignore BorderThickness"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

ImageEx does not display any border and RoundImageEx displays a border with fixes thickness.

![image](https://user-images.githubusercontent.com/10893088/34560168-102dea20-f15a-11e7-8ce1-889e4cb1ff0c.png)

## Expected behavior

Both ImageEx and RoundImageEx display a border with the thickness which is set in XAML code.

## Min

[2018-01-04 12:02] Vijay-Nirmal commented on #1499
@nmetulev I will do it.

When I build the solution it gives me errors and warnings

![devenv_2018-01-04_17-31-07](https://user-images.githubusercontent.com/24755596/34562582-14332c1e-f175-11e7-8af4-2e2d6d90e787.png)

Here is the full error list

[Error List pdf](https://github.com/Microsoft/UWPCommunityToolkit/files/1603245/ErrorList.pdf)

[2018-01-04 15:51] jp-weber opened #1732 "WrapPanel items have a minimal width by 86"
## I'm submitting a...

[code]

## Current behavior
If I use a WrapPanel with ItemTemplate where the (maximum) width is 48, the width is set to 86.
![wrappanel](https://user-images.githubusercontent.com/10946850/34571554-1b8e46e8-f16f-11e7-92ad-d63ec74e4281.jpg)

## Environment

[code]

[2018-01-04 16:12] skendrot commented on #1732
The WrapPanel does not impose any Width or Height restrictions to the items contained within it. The Width you are seeing is from the ListViewItem that hosts the item.
![image](https://user-images.githubusercontent.com/1594689/34572720-56929446-f12f-11e7-9b68-e14f00d3fc8b.png)

[2018-01-04 16:12] #1732 closed

[2018-01-04 16:57] JohnnyWestlake commented on #1731
This is true, looks like they just need their correct TemplateBindings set on the root Grid in their templates.

[2018-01-04 19:19] michael-hawker commented on #1690
+1 to Extension Approach as outlined [here](https://github.com/Microsoft/UWPCommunityToolkit/issues/1690#issuecomment-350544255).

I messed around with trying to use reflection, but that was getting really messy fast.  @ST-Apps did you have that example working already in code?

[2018-01-04 20:05] Blackcode commented on #1615
A must from this release is **MATERIAL DESIGN.** Get inspired https://material.io/guidelines/

[2018-01-04 21:17] touseefbsb commented on #1615
@nmetulev
An advanced version of collectionview ( gridview/listview) which can have following basic features.
1. will have all properties of an adaptivegridView.
2. will have grouping option.
3. semantic zoom with those grouped headers.
4. search filtering , i.e: as user types in the attached searchbar to the control item start getting narrowed down to precise matching results based on the propert

[2018-01-04 21:39] nmetulev commented on #1731
ping @hermitdave

[2018-01-04 21:41] nmetulev commented on #1499
That's great @Vijay-Nirmal.

This is a known issue with the new design project. We believe it's a VS/NuGet bug and those errors can be safely ignored.

[2018-01-04 21:46] nmetulev commented on #1569
Not sure what you mean about waiting for confirmation?

On the links, I don't believe there is a way to get a link to a specific method or property (@dend, would know for sure). In this case, I'd just point to the type page (ex: https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.uwp.ui.animations.animationset)

[2018-01-05 04:47] Vijay-Nirmal commented on #1569
I have planned to add the steps to create a Examples and Remarks section in the auto-generated doc in the documentation template (#1649). So, if are positive that `<example>` and `<code>` tag will create those section in auto-generated doc then I will add this steps in documentation template

[2018-01-05 08:55] ST-Apps commented on #1690
@michael-hawker tried with reflection too, just wasted time because it's not gonna work anytime soon :)
The example you linked is taken from the sample app in my branch, so it's already working.
I'll try to get a PR as soon as possible.

[2018-01-05 18:17] michael-hawker commented on #1690
@ST-Apps no worries, I wanted to play with it a bit, and I learned a couple of things I can use in another one of my projects (I think).  I'll take a look at the PR!

[2018-01-05 20:40] nguyenkien commented on #1664
I facing same problems.
Below is my workaround:

IncrementalLoadingCollection
private async Task<LoadMoreItemsResult> LoadMoreItemsAsync(uint count, CancellationToken cancellationToken)
{
if (IsLoading) return new LoadMoreItemsResult();
uint resultCount = 0;
....
}

[2018-01-05 22:24] robloo commented on #1724
Thank you both for looking at this.

My suggestion is to make the animations only occur on pointer events. Only if the user explicitly expands/collapses the control should the animation play. Anything triggered by loading/collapsing the control seems to cause issues.

I'm not sure what other use cases the person might have had in mind when they requested the feature though.

[2018-01-06 09:02] #1719 closed

[2018-01-06 09:03] hermitdave commented on #1731
I'll take a look

[2018-01-06 12:31] touseefbsb opened #1734 "popup effect in the sample app"
I have a very straight forward question. The sample app has a adaptivegridview with **"popup and shadow"** effect whenever mouse hovers on an item. this gridview can be seen in navigation when we want to select any sample.
some time ago I requested this feature but there is yet no dedicated control for it I guess. So I was wondering how can I achieve this feature in my own projects? the sample app

[2018-01-06 12:46] touseefbsb opened #1735 "sample app build failed"
just downloaded this repo and then tried to run the sample app and build fails, attached is the screenshot of the error and warning list.
![image](https://user-images.githubusercontent.com/11542189/34639844-75635bae-f309-11e7-81ce-b08d006ad4f3.png)

[2018-01-06 13:04] touseefbsb commented on #1735
projects werent loading properly after reloading all of them I can now build the app.

[2018-01-06 13:04] #1735 closed

[2018-01-06 15:57] nguyenkien commented on #1734
You can use DropShadowPanel to archive it

[2018-01-06 17:28] touseefbsb commented on #1209
@nmetulev  any update on this control? will it be coming? I dont see it listed in the milestone

[2018-01-06 17:29] touseefbsb commented on #1734
@nguyenkien  I know about drop shadow panel, but its not that simple, actually when mouse hovers, drop shadow panel appears also the item is scaled on central axis, ive previously tried to do it with many ways, but still havent found a perfect way, and this implementation in sample app seems to be perfect. I wonder if team was able to achieve it why havent they made a dedicated control for it like

[2018-01-06 18:55] Odonno commented on #1209
@touseefbsb Oh, I remember this discussion. I think we can achieve this control without too much effort. I have an example code from a previous project of mine, just need to add previous/next buttons and the according scroll behavior.

Here is the example :

[code]

[2018-01-06 19:30] touseefbsb commented on #1209
@Odonno  I also tried to create something like this, it works to some extent but it doesnt fullfill all the requirements discussed, that is why I thought a dedicated control should be created in the toolkit so that its requirements can be closely analyzed by the toolkit team and also we can create more effecient control for this purpose.

[2018-01-08 12:19] ilinkmobility opened #1736 "Hyperlink command is not working properly in TextToolBar control"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior
1. Hyperlink is not working for the selected text. Unable to see underline & blue color text.
2. App crashed if I try to edit and save the already created hyperlink text.
3. App crashed if I try to create hyperlink with empty Label or Url or both.

## Expected behavior

## Minimal reproduction of the problem with instructions
1

[2018-01-08 21:52] nmetulev commented on #1569
Ah, I see. Yes, <example> and <code> is the way to go, feel free to add those to the doc template

[2018-01-08 22:01] nmetulev commented on #1734
Hey @touseefbsb, the code for the effect you are referring to is [here](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.SampleApp/Controls/ExtendedHamburgerMenu.cs#L560). We handle the PointerEntered and PointerExited event for each container to run the animations.

The reason why it's not a separate helper in the toolkit it's not because it's difficult to implem

[2018-01-08 22:01] #1734 closed

[2018-01-08 22:09] nmetulev commented on #1736
Num. 1 is a know issue I believe, it's an issue with the way the RichEditBox displays links. 2 and 3 should not happen, @WilliamABradley, can you take a look?

[2018-01-08 23:58] skendrot commented on #1731
Do they need to respect border properties? A regular Image doesn't have a border.

[2018-01-09 00:01] skendrot commented on #1724
I would disagree on animating only if the user explicitly clicked. You may want to bind the Expanded property and you would want the animation when it changes.

[2018-01-09 02:45] robloo commented on #1724
@skendrot Yes, good point. Definitely should support binding to the IsExpanded property as you said.

I'm not an expert on animations by any means: but could we use a different type of animation? Basically, I wonder if this issue is only caused by the animation speed being too slow or the type of animation being used.

[2018-01-09 06:03] Vijay-Nirmal commented on #1499
For some reason, I can't navigate to my helper page.

![gif](https://user-images.githubusercontent.com/24755596/34706490-10419d0e-f52e-11e7-99aa-3cf3f3e11ef0.gif)

Also in `.csproj` file, it shows `<None>` tag instead of `<Content>` tag.

![githubdesktop_2018-01-09_11-23-27](https://user-images.githubusercontent.com/24755596/34706772-9868f244-f52f-11e7-8eda-d35eb5bc9d0e.png)

@nmetulev Is this met

[2018-01-09 07:43] Martijn85 opened #1737 "AdaptiveGridView HorizontalAlignment not working after version 2.0.0"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior
After updating from Microsoft.Toolkit.Uwp.UI.Controls 2.0.0 to 2.1.0 or 2.1.1 the HorizontalAlignment="Center" property on the AdaptiveGridView causes the application to crash.
Error "Layout Cycle Detected"

## Expected behavior
Expected behaviour is that the adaptive grid view centers horizontally as in previous versions.

##

[2018-01-09 08:29] touseefbsb commented on #1734
@nmetulev  I was wondering can we use it in adaptive gridview as well? Considering it changes its size dynamically, so how will that effect the center point?

[2018-01-09 08:29] deanchalk opened #1738 "Chips control anyone?"
## I'm submitting a...
[ x] Feature request - chips control

## UserVoice link
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/32865289-chips-control

Hey everyone. We NEED a chips control, and I'd be happy build and submit it to this open source project if you want.

A web example is here:
https://material.angular.io/components/chips/overview

What does everyone t

[2018-01-09 10:31] Vijay-Nirmal commented on #1738
What is the use of chips control?

[2018-01-09 10:39] touseefbsb commented on #1737
I am having the exact same issue, and wanted to set it to center, because it was leaving a lot of space on the right, which it shouldnt, considering it should adapt and fill the space on the right

[2018-01-09 11:29] touseefbsb opened #1739 "AdaptiveGridView not adapting the available space on the right of the row."
## I'm submitting a...

[code]

## UserVoice link

## Current behavior
the right side of the row in adaptivegridview, remains unused, just like a normal gridview.
here is the image of the behaviour.

![image](https://user-images.githubusercontent.com/11542189/34717071-9c10c646-f553-11e7-8912-02a795a964fb.png)

![image](https://user-images.githubusercontent.com/11542189/34717174-eacf0ae0-f553-11e7-

[2018-01-09 14:07] kpetryla commented on #1739
same problem

[2018-01-09 14:13] touseefbsb commented on #1739
@kpetryla  you are having the same problem at your end? or did you reproduced it with the sample repo I provided?

[2018-01-09 15:15] Vijay-Nirmal opened #1740 "Relative links in sample app documentation panel is not working"
## I'm submitting a...

- Bug report
- Sample app request

## Current behavior

Since we are using `MarkdownTextBlock` to display the documentation in sample app relative links will not work.

![applicationframehost_2018-01-09_20-41-12](https://user-images.githubusercontent.com/24755596/34727605-7b7be512-f57d-11e7-86e5-52e1ca862423.png)

## Expected behavior

Work properly with relative links.

[2018-01-09 15:45] avknaidu commented on #1739
This was working fine in 1.3.1. I just tried to update my Nuget Package to Latest in a project of mine and I have the same issue.

[2018-01-09 15:56] touseefbsb commented on #1739
glad to knw I am not alone in this, :P means the problem is in the toolkit and not our projects @avknaidu  , also salah is going to barcelona :D

[2018-01-09 15:57] deanchalk commented on #1738
Nope

[2018-01-09 15:58] deanchalk commented on #1738
the chips control allows you to build up a list of exiting and custom strings. It only resembles a listview superficially

[2018-01-09 16:00] deanchalk commented on #1738
Considering that chips controls are used on lots of websites, including some obscure ones like StackOverflow, I think its a decent addition to the ToolKit. I certainly need one in my current project. The options I have is build it here, or in my own repository

[2018-01-09 16:20] Vijay-Nirmal commented on #1738
I am just clarifying few doubts with this control. I am not giving any negative review.

I think it can be easily achieved using a ListView and a TextBox. On Enter KeyDown we have to add the text to the `ObservableCollection`. That's it. But if you are building for exiting string then devs will have to work more to implement `AutoSuggestBox`.

Agree, but I never saw this control in any app.

Simil

[2018-01-09 16:24] michael-hawker commented on #1499
@Vijay-Nirmal since it's effectively an extension to `ListViewBase`, why not create a [ListViewBase.Methods.cs](https://github.com/Microsoft/UWPCommunityToolkit/tree/master/Microsoft.Toolkit.Uwp.UI/Extensions/ListViewBase) class in the ListViewBase Extension directory?

Also, I didn't see `scrollIfVisibile` in the repo yet, is that on the todo list still?

As for the properties panel, they get add

[2018-01-09 16:30] michael-hawker commented on #353
@hermitdave @r2d2rigo we're trying to get some redlines for the tab styling.  I'm also creating a tab style for the Pivot control #1672.  I'll keep you posted as we get more info.

Also, @nmetulev and I are going to try and sync again with the tabbed shell folks to see how we can align more moving forward as well for the future.

[2018-01-09 16:41] Vijay-Nirmal commented on #1499
@michael-hawker Good idea.

No. I have finished the whole implementation except sample app part. It is on my local computer.

But this is a method I don't have xaml .bind only c# .bind to show the syntax of the method. I have planned to remove the c# .bind because syntax can be easily seen on the documentation panel.

[2018-01-09 16:56] michael-hawker opened #1741 "Add LaunchCount Reset method and TotalLaunchCount Property"
## I'm submitting a...
[code]

## Current behavior
`LaunchCount` can't be ever reset.

## Expected behavior
It'd be great if [SystemInformation](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp/Helpers/SystemInformation.cs) had a helper to reset the launch count.  That way you could add logic for every 10th launch or launches since the last update.  But then it'd

[2018-01-09 16:58] Vijay-Nirmal commented on #1499
@michael-hawker Hmm... It's not a good idea. If I want to create this helper method inside [Extensions/ListViewBase](https://github.com/Microsoft/UWPCommunityToolkit/tree/master/Microsoft.Toolkit.Uwp.UI/Extensions/ListViewBase) then should I create want to share the same sample page. If not, I will create a separate page (SmoothScrollIntoView.xaml) but the file name (ListViewBase.Methods.cs) and t

[2018-01-09 17:01] michael-hawker commented on #1738
Yeah, I think this would effectively be a duplicate of #1638.  There's probably a split between the display of tags and then their use as part of an input mechanism using that component.

[2018-01-09 17:04] michael-hawker commented on #1499
@Vijay-Nirmal We don't really explicitly point to where the code lives via sample name, it's just been a convention.  That's what the doc tab is supposed to be for.  However, @nmetulev was planning to expand the samples so that each page could provide more than one sample, so that would be another solution because I would think code structure wise it would make sense if it's a ListViewBase method

[2018-01-09 17:08] Vijay-Nirmal commented on #1499
@michael-hawker So the only option is to wait until next sample app update?

[2018-01-09 17:23] deanchalk commented on #1638
Any of the controls in the Community Toolkit can be recreated by just plonking XAML in a page and wiring up the code-behind. The idea of a control is to make it reusable and easy to use. Many chips control include properties to control the maximum and other features.

[2018-01-09 17:42] Vijay-Nirmal commented on #1739
Interesting... I can't repo in sample app even with the exact same code.

![Sample output](https://1drv.ms/i/s!AhsM8UnfYgSDh_RpIV0G5Wky3D46CA)

[2018-01-09 17:49] Vijay-Nirmal commented on #1499
@michael-hawker Since this is an extension method I want to change LisViewBase class as `static`. It causes different problems like ListViewBaseExtensions can't be derived from a static ListViewBase class, I need `using static Microsoft.Toolkit.Uwp.UI.Extensions.ListViewBase` to access the data inside the `ListViewBase.Data.cs`

![devenv_2018-01-09_23-13-33](https://user-images.githubusercontent.c

[2018-01-09 18:14] touseefbsb commented on #1739
which windows version r u using ? @Vijay-Nirmal

[2018-01-09 18:19] Vijay-Nirmal commented on #1739
Windows 10 v1709

[2018-01-09 18:24] touseefbsb commented on #1739
same here

[2018-01-09 18:26] Vijay-Nirmal commented on #1739
@touseefbsb Check whether you can repo in sample app live xaml

[2018-01-09 18:36] avknaidu commented on #1739
I found out the issue why it leaves the space. AdaptiveGridView does not like setting the property `ItemContainerStyle`. In my project i set this to `Center` and in @touseefbsb 's project it is set to `Left`. In both the cases, if i remove the property completely, it works normally.

[2018-01-09 18:48] touseefbsb commented on #1739
@Vijay-Nirmal  what do u mean by live xaml?

[2018-01-09 18:58] Odonno commented on #1741
@michael-hawker Seems interesting but I would propose to rename those properties `TotalLaunchCount` and `CurrentLaunchCount`. Mainly, it can help to distinguish both and because it is a breaking change.

[2018-01-09 19:04] touseefbsb commented on #1739
@avknaidu  can you please elaborate a little bit more? what property is set to Left or center?

[2018-01-09 19:12] avknaidu commented on #1739
Remove [This](https://github.com/touseefbsb/AdaptiveGridViewBug1/blob/ba3b6e5719c01fafd14cd0c355ed5b0b29a9bef3/AdaptiveGridViewBug1/Views/LibraryPage.xaml#L23) Property. See if it works.

[2018-01-09 19:30] michael-hawker commented on #1741
@Odonno renaming `LaunchCount` would be a breaking change.  Otherwise, it would stay the same, the developer has the option to reset it if they choose, so the existing and future data wouldn't change unless the developer decides to upgrade the toolkit and change it.

[2018-01-09 19:36] Odonno commented on #1741
Smart.

[2018-01-09 19:45] touseefbsb commented on #1739
@avknaidu  I tried it but it didnt solve the issue in my project :/

[2018-01-10 07:57] Odonno commented on #1730
@nmetulev Wow. I verified one of my app and indeed this bug was already here in v1.5.1.

[2018-01-10 08:45] Vijay-Nirmal commented on #1739
@touseefbsb Removing `ItemContainerStyle` seems to solve the issue

[2018-01-10 08:54] touseefbsb commented on #1739
@Vijay-Nirmal  were you able to reproduce the issue with ItemContainerStyle? and then solved it by removing the style?

[2018-01-10 08:57] Vijay-Nirmal commented on #1739
@touseefbsb Yes

[2018-01-10 09:00] touseefbsb commented on #1739
@Vijay-Nirmal  Yes it solved my issue as well, but lets keep the issue open so that maybe admins can review it and maybe they can find it helpful for making any changes in the control.

[2018-01-10 09:40] touseefbsb commented on #1739
and then again not using ItemContainerStyle for my project changes the desired look, so maybe if the root cause can be found out of this problem, so we can use ItemContainerStyle to style our gridviewitems as well

[2018-01-10 12:09] touseefbsb commented on #1739
after some experimenting I even tried the default style of gridviewitem without any changing and applied that to ItemContainerStyle property but as it turns out it still cause the same problem. So in summary, we cannot assign a **GridViewItem** style to **ItemContainerStyle** property of **AdaptiveGridView** if that is the case then there should be a default style of **AdaptiveGridViewItem** which

[2018-01-10 12:17] Vijay-Nirmal commented on #1739
According to a [comment](https://github.com/Microsoft/UWPCommunityToolkit/blob/ec7e5fd7ec1a2ffe9e112d8eeba187e95ca985ea/Microsoft.Toolkit.Uwp.UI.Controls/AdaptiveGridView/AdaptiveGridView.cs#L53) in `AdaptiveGridView`, we can change the `ItemContainerStyle` property.

![chrome_2018-01-10_17-44-19](https://user-images.githubusercontent.com/24755596/34772536-3fa5527e-f62e-11e7-8fb2-f4bfa40899d4.png)

[2018-01-10 12:48] touseefbsb commented on #1739
editing the xaml is simpler, specially when it comes to visual stage manager, making a slight change we have to write a bulk of C# I guess, for example if I want to remove the default gray border of the gridview item on pointerover state, how do I do that, I guess have to redefine whole control template in c# as well?

[2018-01-10 13:48] touseefbsb commented on #1739
and also @Vijay-Nirmal  I tried to set it in the code behind and it caused the same problem, I didnt even add any setters, I just creater a style like you shown above and just assigned it to itemcontainerStyle property of my adaptive gridview.

[2018-01-10 14:26] Vijay-Nirmal opened #1742 "Padding for WrapPanel"
## I'm submitting a...

- Feature request

## UserVoice link

I think this a very basic feature for every panel.

## Current behavior

We can't set Padding property for `WrapPanel`

## Expected behavior

Allow devs to set `Padding` property for `WrapPanel`

[2018-01-10 14:28] Vijay-Nirmal commented on #1742
ping @IbraheemOsama

[2018-01-10 15:09] skendrot commented on #1742
Are you suggesting that a Padding property be added? This isn't a property on a `Panel`

[2018-01-10 15:15] Vijay-Nirmal commented on #1742
Yes

[2018-01-10 15:17] skendrot commented on #1739
This is by design. The alignment needs to be set to `Stretch` for the control to properly measure how much space it will fill. The AdaptiveGridView does not define a style in xaml because it is identical to the style of the normal GridView. Any changes made by the core team to the style we want applied to the AdaptiveGridView as well. We do define the style for the GridViewItem in the constructor

[2018-01-10 15:57] touseefbsb commented on #1739
@skendrot  Even after providing the style in xaml or in c# for **AdapiveGridView.ItemContainerStyle**, This issue persists. The only way this issue goes away, is when **ItemContainerStyle** property on an **AdaptiveGridView** is left un assigned ( so it uses its default one set in c# in the constructor of the control, when made by the toolkit team) . So if I want any kind of changes now in my item

[2018-01-10 15:58] touseefbsb commented on #1739
yeah maybe an update to documentation would be great on clarifying how we can assign to this **ItemContainerStyle** property without breaking the control's functionality.

[2018-01-10 16:02] touseefbsb commented on #1739
@skendrot  I do understand why it is not written in xaml. and I did try to set those alignment properties to stretch as well, when using a new template, but it still didnt solve the issue.

[2018-01-10 16:23] skendrot commented on #1738
Almost all of the Chip control you point in the link can be accomplished with the WrapPanel today. Adding the ability to remove items from the collection is trivial and adding items likewise is trivial. However, this isn't a control that many apps would use.

[2018-01-10 16:27] skendrot commented on #1638
Yes, but we also need to factor in how often a control will be used. If someone is creating a blogging app, sure it's needed. What other apps can benefit from this feature?
I know there is a good use case for a control. Unfortunately that doesn't mean it has a good use case for being in a toolkit.

[2018-01-10 16:32] skendrot commented on #1738
Going to close as duplicate of #1638. UserVoice entry for that issue has all of the functionality requested here.

[2018-01-10 16:32] #1738 closed

[2018-01-10 17:02] skendrot commented on #1739
There is a bug, but it's not with defining a custom ItemContainerStyle. It's with the Margin of the style.
Use the following in your app @touseefbsb:
[code]

If Margin is left out then the default is used `0, 0, 4, 4`. Using this adds an additional four pixels which are not calculated when determining the width of item to fix the space. I'll get a fix in that will allow for the margin to be any va

[2018-01-10 18:16] JohnnyWestlake commented on #1742
@skendrot: it's not on panel, but it is now on Grid & StackPanel (added same time as Background and Border rush). I considered writing a helper class to do this for DockPanel as well when I was adding WrapPanel spacing. T becomes more useful when you consider WrapPanel does have a background property

[2018-01-10 22:44] kaohlive commented on #1725
please bot, leave it open until a reply has been given

[2018-01-11 06:51] deanchalk commented on #1638
ok @skendrot if I create one can I put a link to the repo here? so that anyone else that comes here wont ultimately be disappointed ?

[2018-01-11 07:07] touseefbsb commented on #1739
@skendrot  Yes that solves the issue for now. Thanks

[2018-01-11 14:45] MikhailTymchukDX commented on #1464
Will it work for non-UWP projects?

[2018-01-11 17:41] skendrot commented on #1739
You can set the Padding property to give the items some space between

[2018-01-11 18:13] skendrot commented on #1638
Of course!

[2018-01-11 18:18] nmetulev commented on #1464
All controls are built for UWP, they wouldn't work in other type of projects.

[2018-01-11 18:18] #1712 closed

[2018-01-11 18:28] nmetulev commented on #1742
Seems like a useful property to add. I'd be ok with this being added if we can come to an agreement.

[2018-01-11 18:37] MikhailTymchukDX commented on #1464
I mean will this approach work for other types of project? For example, if I create an package with ASP.NET controls inside.

[2018-01-11 18:49] nmetulev commented on #1677
It looks like the MasterDetailsView gets re-rendered on resize. It doesn't happen when the resizing is slow. No idea why. @skendrot, any ideas on this?

[2018-01-11 18:51] nmetulev commented on #1464
Ah, good question. I believe it would but don't know for sure. @dotMorten might know

[2018-01-11 18:58] nmetulev commented on #1741
I like it, kinda like lap counter :) @michael-hawker, feel free to submit a PR to add it.

[2018-01-11 19:14] dotMorten commented on #1464
It works for WPF, so it might work for ASP.NET. @diverdan92 might be able to confirm, (or you could just try it out :)

[2018-01-11 19:17] nmetulev commented on #1499
Makes sense for this to be in the ListViewBaseExtensions class. There is a naming collision between the extension class and the ListViewBase platform class (we are going to resolve that with #1561), I think that's what you are running into here.

#1438 is tracking multiple samples per feature. I'd recommend adding the sample on the existing page if possible and then we can separate them in a it's

[2018-01-11 19:17] michael-hawker commented on #1741
Yup, should be pretty straight-forward.  I'll see if I can get to it in a couple weeks.

[2018-01-11 19:19] diverdan92 commented on #1464
No, it will only work for XAML controls shipped in NuGet packages (UWP + WPF).

[2018-01-11 19:24] nmetulev commented on #1740
This might be possible to get working with some of the improvements to MarkdownTextBlock, I'll take a look

[2018-01-11 19:41] dotMorten commented on #1464
...this is where you add "...but we're working on it" :-)

[2018-01-11 20:47] nmetulev commented on #1737
ping @skendrot

I can verify this is a bug

[2018-01-11 22:00] avknaidu commented on #1740
@nmetulev This should work with #1639

[2018-01-11 22:12] touseefbsb commented on #1737
@nmetulev  I also opened an issue on same problem, I think one of these should be closed for ease? you guyx can decide on which one to track :)

[2018-01-11 22:17] skendrot commented on #1737
@nmetulev Any reason [this was changed](https://github.com/Microsoft/UWPCommunityToolkit/commit/30e48badbd590e1a4d1858fb468853c5e4da3368#diff-64e763d776268be5661a9954709df928R236)? That's what is causing the crash.

[2018-01-11 22:18] skendrot commented on #1737
@touseefbsb Your issue with using ItemContainrerStyle is different than this issue

[2018-01-11 22:18] touseefbsb commented on #1737
the other one is #1739

[2018-01-11 22:20] touseefbsb commented on #1737
@skendrot  Oh ok thanks for claifying

[2018-01-11 22:24] skendrot commented on #1737
@Martijn85 Why would you want to set HorizontalAlignment to Center? that defeats the purpose of using the AdaptiveGridView because now the elements maintain the size. I would recommend using a regular GridView in this case

Note: Not saying this issue shouldn't be fixed

[2018-01-12 04:06] Vijay-Nirmal commented on #1740
Can we create a [DocFX Flavored Markdown](http://dotnet.github.io/docfx/spec/docfx_flavored_markdown.html) for documentation panel in sample app because docs.microsoft.com uses DocFX.

@nmetulev Is it possible to change GitHub Flavored Markdown to DocFX Flavored Markdown in GitHub?

[2018-01-12 04:18] nmetulev commented on #1737
I changed this in #1552, items were overflowing due to fractions in layout calculation rounding down. I'm sure there is another way to accomplish the same.

[2018-01-12 04:24] nmetulev commented on #1740
For the MarkdownTextBlock, it is possible, but not likely. Itrequires changes in the parser and renderer, it's a lot of work for something that would only minimally improve the sample app (and would create breaking changes for actual users of the control)

For GitHub, I don't believe it's possible to change

[2018-01-12 04:25] Vijay-Nirmal commented on #1499
Since I am creating Extension methods, I want a static class. So even though I use `ListViewBaseExtensions` class I want to convert it to a static class. Creating a `static partial` class is not a good idea because only Extension methods need a static class, properties and enums don't need a static class. So the only solution I can see is to create a different standalone (without `partial`) class

[2018-01-12 04:28] Vijay-Nirmal commented on #1740
@nmetulev Agree

[2018-01-12 07:02] Martijn85 commented on #1737
**@skendrot** You are correct of course. The default GridView does work as a solution now. Some of the design choices changed over time and instead of replacing adaptive grid control I just added the horizontal alignment everywhere. It is not a big issue, just noticed that after version 2.0.0 the program was suddenly crashing when opening a view with this code in it.

[2018-01-12 08:42] deanchalk commented on #1638
A bit 'rough and ready', but a reasonable start
[https://github.com/deanchalk/UWPChipsControl](url)

[2018-01-12 10:00] JohnnyWestlake commented on #1731
In favour of supporting it:

- The properties are on the control already, and it's essentially free to support them. Saves people adding extraneous UI elements to the VisualTree if they want borders, and is cost free if they don't.

(Curiously, the platforms built-in PersonPicture control default style doesn't apply BorderBrush/Thickness, even though it inherits those properties from Control. Thou

[2018-01-12 10:45] hermitdave commented on #1731
@JohnnyWestlake the fact that the control came into being was a bit shocking to me :) sure others wanted to use the style that People app had.. i agree adding support for those isn't an big issue

[2018-01-16 04:24] Tlaster opened #1744 "Carousel crash under multi-window"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

[MINIMAL REPRO PROJECT](https://github.com/Tlaster/CarouselCrashSample)
Run the project and click the Create New Window button, scroll the Carousel with mouse wheel, it will crash

## Environment

[code]

[2018-01-16 22:48] nmetulev commented on #1744
The exception seems to happen [here](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/Carousel/CarouselPanel.cs#L376) when adding the EasingFunction. Setting the easing function to null (`EasingFunction="{x:Null}"`) seems to work. The bug is probably [here](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/C

[2018-01-17 10:39] WilliamABradley opened #1746 "MarkdownTextBlock Text Selection doesn't select everything"
## I'm submitting a...

[code]

## Current behavior

Due to the way MarkdownTextBlock is implemented, when selecting text, the selection will stop after one block of text, it also doesn't pick up any formatting, such as Tables, Lists, etc. This will be made worse with #1650, when I add CodeInlines as their own `InlineObjectContainer` Element.

## Expected behavior

Text selection flows across all

[2018-01-17 12:16] Vijay-Nirmal commented on #1499
@nmetulev What shall I do?

[2018-01-17 15:29] skendrot commented on #1677
I'm not seeing anything odd on the side of the MasterDetailsView

[2018-01-17 15:29] skendrot commented on #1677
I'm not seeing anything odd on the side of the MasterDetailsView. I can reproduce the issue, but when debugging I'm not seeing any reason for the crash

[2018-01-18 03:06] HeroWong95 commented on #1677
I guess that Windows Update fixes `NavigationView`, so now there's no problem

[2018-01-18 10:14] hupo376787 opened #1747 "SystemInformation bug, including first use time, lunch time, etc"
## I'm submitting a...

[code]

## UserVoice link

## Current behavior

I just copied the sample page from [SystemInformationPage](https://github.com/Microsoft/UWPCommunityToolkit/tree/master/Microsoft.Toolkit.Uwp.SampleApp/SamplePages/SystemInformation)
First use time: My local is UTC +8, time is 18:08.
SystemInformation seems at UTC +0.
So the 5 datas are incorrect.

![_20180118180547](https://u

[2018-01-18 21:47] nmetulev commented on #1747
ping @mrlacey

[2018-01-18 21:51] nmetulev commented on #1677
We've reached out to the platform team to take a look at this issue. @HeroWong95, are you no longer able to replicate the issue? If so, are you on an insider build?