[2017-03-03 16:12] skendrot commented on #845
Never noticed that!

[2017-03-03 16:14] tipa commented on #1001
Ok I think I did it :) Thanks!

[2017-03-03 17:22] tipa opened #1005 "MarkdownTextBlock: What is the reference the implementation will follow in the future?"
In the example, the "original" specification of Markdown is referenced: http://daringfireball.net/projects/markdown/syntax

However, it is pretty outdated and the implementation of the MarkdownTextBlock already offers more functionality than described in that specification, like tables for example. It seems like it is pretty close to the [reddit markdown](https://www.reddit.com/r/reddit.com/commen

[2017-03-03 17:43] deltakosh commented on #1005
We use this document as reference for testing: https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.SampleApp/SamplePages/MarkdownTextBlock/InitialContent.md

Initially the control was (as you stated) designed to be close to reddit but there is no problem to extend support to other "variations"

[2017-03-03 17:48] BrandX3 commented on #1003
Resolved. Items cannot be added to the toolbox when a code file is open in the editor. It works fine when a xaml file is open.

[2017-03-03 17:48] #1003 closed

[2017-03-03 18:18] Code-ScottLe commented on #981
I think the point of this control is more like a way for older app to be ported to UWP without having to redesigned the whole UI/UX, but i agree that we should also make this more flexible if we can.

I think the question @micahiverson wanted to point out , is how touch-friendliness would this control be. More like how Windows scale the right click menu style from small/clean for mouse and big for

[2017-03-03 18:20] hermitdave commented on #981
Err.. We shouldn't be thinking of one or the other. Any pointer interaction is welcome. So touch is equally important.

[2017-03-03 18:21] deltakosh commented on #981
completely aligned with @code-scottle

[2017-03-03 18:55] micahiverson commented on #981
I was thinking this was in part re-thinking what it means to have a "Classic Menu" that would work well in UWP and offered a more flexible UI experience. Rather than, how can we technically build/support a Windows 32 type of menu system.

[2017-03-03 20:13] tipa commented on #1005
Then I found two errors in the test :)

Here, the first bullet isn't rendered correctly:
![image](https://cloud.githubusercontent.com/assets/2863198/23567246/ae4cce02-0055-11e7-9e31-0719cd7bd29d.png)

And here there is no tooltip showing up:
![image](https://cloud.githubusercontent.com/assets/2863198/23567256/c14e0f5c-0055-11e7-925c-e0b1be9d571d.png)

[2017-03-03 20:23] deltakosh commented on #1005
please open an issue for the bug you found:)

[2017-03-04 21:38] Morgomirius opened #1006 "ImageEx"
lipboard.Please add DecodePixelHeight and DecodePixelWidth DependencyProperties to this control that will be used for inner BitmapImage in this control code. Because for large images to have best performance it's needed to use BitmapImage in xaml with these properties as <ImageEx.Source> </ImageEx.Source>. But if I use BitmapImage as xaml source, ProgressRing do not appears while image loads. Than

[2017-03-04 21:53] pekspro opened #1007 "Blur animation causes System.MissingMethodException when installed from a appxupload-file"
I have been able to get a **System.MissingMethodException** when starting a blur animation. I have tried this with the current source code. This is how to replicate it:

* Right click on the Sample application and select **Create App Packages**.
* Associate the app the store and finish the guide.
* When the compiling is finish open the **AppPackages**. Inside this folder there is an **appxupload**

[2017-03-04 22:04] Morgomirius commented on #924
For my opinion Expander must consist of:
XAML - at least- Header: Content, Background, ExpandIcon.
XAML - at least- ExpandableContent (Content) : Background.
Expanding should be complemented by Animations

See picture on my implemention of Expander.
![exp](https://cloud.githubusercontent.com/assets/20025277/23582622/82ecbc1e-013f-11e7-8959-e66a50c22b77.jpg)

[2017-03-05 11:48] hermitdave commented on #1006
@Morgomirius i added support for these properties in #931

You can use myget build as a means to use this asap

[2017-03-05 11:48] #1006 closed

[2017-03-06 11:57] GeertvanHorrik opened #1008 "[ScrollHeader] When initially hidden, the ScrollHeader behaviors don't work"
I have a wide and narrow style for an app. When the visibility is initially set to `Collapsed`, the behaviors don't work and the header is simply part of the scrolling area.

I'll investigate the cause and update this ticket.

[2017-03-06 12:23] GeertvanHorrik commented on #1008
The reason is that at the moment the behavior is being attached, the ScrollViewer is not yet part of the visual tree. A simple workaround would be:

1. Keep track in a field whether the behavior has actually been attached
2. Subscribe to AssociatedObject.SizeChanged. In the handler, subscribe if necessary

I am happy to PR this change, but it's actually something that should be applied to all beha

[2017-03-06 12:33] GeertvanHorrik commented on #1008
3. Don't set up the expression animation when the height of the Header is 0

So I have a working fix now locally. Interested in a PR? If so, 2 questions:

1. Should I introduce a base behavior that:
    a. prevents duplicate assignments (currently happening)
    b. works even when the item has been set to collapsed visibility initially
2. Should I just fix this single behavior (fade in my case) an

[2017-03-06 14:51] deltakosh commented on #1008
hello and thank you for your time! obviously option #1 is better. please go ahead with a PR

[2017-03-06 17:24] deltakosh commented on #903
I see a lot of tractions on the second Uservoice. I'm with you @hermitdave

[2017-03-06 17:28] deltakosh commented on #1007
Hello this is an interesting topic. I had a similar discussion on twitter recently. It turned out that the .net native compilation was turned off. Can you check that?

I also had this issue in the past: I forced the inclusion of System.Numerics by using a Vector2 in my app.cs

[2017-03-07 04:06] nuwannnz opened #1011 "Add GroupHeaderTemplate property to the ListView of the MasterDetailsView control."
If we want to change the group header style/template of the ListView of the MasterDetailsView control, then we have to modify the whole control to add a DataTemplate property. I know we can create a custom style for that and apply the Data Template there. But it's not very convenient. So it'll be great if we can add a property for that DataTemplate.

[2017-03-07 09:15] TheSETJ opened #1013 "Update ImageEx for non-rectangular uses"
I suggest to add some kind of property like CornerRadius or ShapeMode to ImageEx, so it can be used in a non-rectangular shape. If it's not possible, add a service or something to let use ImageBrush control with a placeholder, so it can be used inside an Ellipse.

[2017-03-07 09:52] JohnnyWestlake commented on #1013
Whilst a possible idea, you can also easily do this by applying a custom style to the control.

[2017-03-07 12:18] hermitdave commented on #1013
@TheSETJ please see #277

You can give it a go and if you do, please push a PR request

[2017-03-07 12:18] #1013 closed

[2017-03-07 15:23] skendrot commented on #1011
I understand the need for this request, but at the same time I don't think it should go in. Ideally I would like to expose a MasterListTemplate or MasterListContent that would default to be a ListView. You end up losing a lot of built in functionality by doing that.
I don't think that we should keep adding properties from the ListView. The control needs to work with any type of List that the user

[2017-03-07 15:45] nuwannnz commented on #1011
Yeah, I get your point.

[2017-03-07 15:45] #1011 closed

[2017-03-07 15:48] skendrot commented on #1011
Thanks for understanding

[2017-03-07 19:34] pekspro commented on #1007
Yes, .net native compilation is turned on. I also tried to compile in VS 2017 but the problem remained. I also tried to add usage of Vector2 in app.cs but that didn’t change anything.

This is s very mysterious :-).

[2017-03-07 22:08] Odonno opened #1014 "Notifications in Background Tasks does not seem to work"
I am using Background Task in Single-Process Model to create notifications.
I create a `ScheduledToastNotification` each time the background is launched.

It works really great using the debug mode (with Visual Studio) but using in release mode is doing nothing..

I am guessing that's because the `Run` method is a void method and I use async/await in it so it should be a Task method. But that does

[2017-03-07 22:58] Code-ScottLe commented on #1014
You mean you were trying to schedule a toast notification using SPM, but nothing happens in Release build? Can you post a sample code on this issue as well? I will take a look on this when I get home today.

[2017-03-07 23:43] deltakosh commented on #1007
ok so what about WITHOUT .net native just to check?

[2017-03-08 03:13] Code-ScottLe commented on #1014
Remember that if you will be using asynchronous code with background tasks, make sure to use defferal to make sure that the code will be given enough time to return from the asynchronous call.

https://docs.microsoft.com/en-us/windows/uwp/launch-resume/create-and-register-a-background-task

[2017-03-08 06:01] ianier opened #1015 "SlidableListItem MouseSlidingEnabled conflicts with ListView reordering"
Sliding the item with the mouse won't work properly when reordering is enabled in the ListView. You can easily reproduce this in the sample app by setting CanReorderItems="True" and CanDragItems="True" in the ListView, and then try to slide an item using the mouse.
Using touch it works as expected.

[2017-03-08 06:53] Odonno commented on #1014
@Code-ScottLe Yes, I use a deferral. I'll post the code later today.

[2017-03-08 09:57] WilliamABradley opened #1016 "ImageEx Re-Animates on Bindings.Update() or PropertyChanged"
The ImageEx Control will Re-Animate from Placeholder to Loaded Image if located on a Page that calls Bindings.Update() to update any modified properties (Even if the properties of the control hasn't changed).

I think it also occurs with INotifyPropertyChanged, however, I'm not sure.

This is extremely annoying because it causes flickering of images during Background App processing.

[2017-03-08 10:06] hermitdave commented on #1016
@WilliamABradley could you please post a repro for this issue ?

[2017-03-08 10:29] WilliamABradley commented on #1016
UI
`
<Page
    x:Class="Test.MainPage"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
    xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
    xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
    xmlns:commtools="using:Microsoft.Toolkit.Uwp.UI.Controls"
    mc:Ignorable="d">

    <Gr

[2017-03-08 10:32] hermitdave commented on #1016
just zip it and drop it here ?

[2017-03-08 10:34] WilliamABradley commented on #1016
It is so simple that it can be reproduced from just that code. Do I really have to submit a whole Solution?

[2017-03-08 10:39] WilliamABradley commented on #1016
[Test.zip](https://github.com/Microsoft/UWPCommunityToolkit/files/827331/Test.zip)

[2017-03-08 11:20] hermitdave commented on #1016
I believe this behaviour is by design
https://docs.microsoft.com/en-us/windows/uwp/xaml-platform/x-bind-markup-extension

[code]

[2017-03-08 11:23] hermitdave commented on #1016
@WilliamABradley whilst it might a small snippet, any one looking at this would have to find / create a repro. Attaching a repro is fastest way to reproduce an issue and I can attach correct projects to debug further.

[2017-03-08 11:59] WilliamABradley commented on #1016
Maybe the control should prevent re-animation if the value is the same when the bindings are updated, and the image is already loaded. I have even tried setting Bindings to OneTime and it still occurs.
The Windows Image Control does not have this behaviour when Bindings are Updated, and I doubt that this is by design, because Bindings Update can be an important way to update the UI from after a ba

[2017-03-08 12:09] hermitdave commented on #1016
When I said by design I meant by design with regards to x:Bind behaviour. ImageEx does not have any source comparison at present and when Source update is triggered by Bindings.Update it just executes the full sequences.

Yes it can certainly be made better. I will keep this issue open. Feel free to push a PR with fix.

[2017-03-08 14:13] Liero commented on #903
When I was implementing custom solutions that uses camera based on [uwp samples](https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples), I found these areamost difficult:

1. **Transformation**:  There are multiple tranformations applied to raw camera stream it's displayed in the UI. It's basically, Rotation, Mirroring, Scale and Translation (LetterBoxing). Some of the tranfso

[2017-03-08 14:20] BrettEzra commented on #946
I'm contacting cbarker about the issue via email... we will get back to you

[2017-03-08 14:23] hermitdave commented on #903
@Liero I am currently reworking my personal 1Shot camera app to UWP and it has been a learning experience. The camera API is simple in ways but not so simple in others. Auto capture on face detection etc could be testing in ways. I could help out with capture part but cropping would need adding external dependencies. We will hopefully discuss this in coming days.

[2017-03-08 18:13] deltakosh commented on #1015
Ping @nmetulev

[2017-03-08 18:15] deltakosh commented on #903
I agree...we clearly need to work on this one for 2.0. A lot can be done

[2017-03-08 19:05] pekspro commented on #1007
Good point :) I just tried without .net native enable, and then no appxupload file was generated. So, nothing to test there. All my test has been done with the UWP Tookit SampleApp.

[2017-03-08 19:09] deltakosh commented on #1007
really weird...I don't know what else to try.
Let me try to ping @unniravindranathan for help :)

[2017-03-08 19:15] #972 closed

[2017-03-08 21:25] cbarkerms commented on #946
I think we're unblocked now @BrettEzra ?

[2017-03-09 14:58] lukasf opened #1019 "HamburgerMenu: Add HamburgerVisibility property and fixup tab navigation"
Currently, there is no way to hide the hamburger button and fully show the content without any overlay. We can hide the menu bar by setting DisplayMode to Overlay, but the button is always visible. As a workaround, I have set the HamburgerHeight to zero. But the button is still there and messes up tab navigation. Adding a HamburgerVisibility property will allow us to hide the button itself.

Scena

[2017-03-09 15:18] lukasf commented on #908
@shams92: I do not see your entry in user voice. Are you sure you have created one, can you post a link? I would surely vote for it.

[2017-03-09 15:55] lukasf commented on #764
The ShowcaseView looks really cool. I like that it works in the actual app and is not based on a screenshot (where layout might be different than on the current device).

[2017-03-09 16:15] skendrot commented on #906
@JulienTheron  or @yanxiaodi can you confirm that the changes above fix this issue for you?

[2017-03-09 16:16] skendrot commented on #968
Closing via ##994

[2017-03-09 16:16] #968 closed

[2017-03-09 16:17] skendrot commented on #893
I have a good version working of this. Will push this weekend

[2017-03-09 16:46] JulienTheron commented on #906
Hi,

Still not fixed with the 1.4.0-dev00138 package.

I think the issue may come from the fact that there is a mismatch between the content of the VisualStateChangedEventArgs and stateGroup.CurrentState. Did you try passing VisualStateChangedEventArgs.NewState to the UpdateViewState method?

Thanks.

[2017-03-09 17:32] deltakosh commented on #1019
Hey @lukasf!

Most of the time I will not accept a PR for the HamburgerMenu (as the platform team plans to ship one) but for this specific one as it is a small one and it is not easy to do with templating, I'm ok

[2017-03-09 18:36] #1001 closed

[2017-03-09 18:54] deltakosh commented on #946
i would say yes :) Closing it for now Please reopen if it is not the case

[2017-03-09 18:54] #946 closed

[2017-03-09 18:55] #796 closed

[2017-03-09 18:55] #363 closed

[2017-03-09 18:56] deltakosh commented on #363
Closing it as I see no activity.

[2017-03-09 19:43] #1008 closed

[2017-03-09 20:03] lukasf commented on #1019
Thank you @deltakosh. I will try to make a PR within the next few days.

[2017-03-09 20:42] lukasf commented on #195
I was looking for something like this for an older project. In my case it was for adding tags (and have a list of known tags popping up while typing). In the end I used a different approach, but I think this would be a useful addition to the toolkit.

[2017-03-09 21:34] lukasf commented on #1019
Created PR #1020.

[2017-03-10 05:49] taoyouh opened #1022 "Toast Notification: placement="attribution""
In the Notifications Visualizer app, we can find that the "text" element has an attribute "placement". The following usage can place the text next to the app name and the date in a toast.
`<text placement="attribution">The Animal Times</text>`
However, the notification toolkit seems not to allow us to implement this through code.

The code segment comes from the "Notifications Visualizer" app - To

[2017-03-10 07:11] nmetulev commented on #1015
Thanks for reporting, I can repro the issue and I'll investigate

[2017-03-10 07:31] ianier commented on #1015
Just an idea: instead of allowing sliding with the mouse (which doesn't seem very natural to me anyway) show a popup menu when right clicking the list item.

[2017-03-10 16:50] skendrot opened #1023 "XAML Edit and continue fails with UWP Controls installed"
This is a weird one. Do the following:

1. Launch VS2017
2. Create a new UWP project
3. Add the UWP Community Toolkit Controls nuget package
4. Launch the application
5. Open MainPage.xaml
6. Change the background of the root Grid (change `<Grid Background="{ThemeResource ApplicationPageBackgroundThemeBrush}">` to be `<Grid Background="Red">`

The change fails with the following error:
**System.No

[2017-03-10 17:04] deltakosh commented on #1023
Ping @unniravindranathan

[2017-03-10 18:06] xied75 commented on #1005
Personally I think even the control was adapted from Reddit flavor, we should try our best to support Standard, which currently it might be CommonMark, (don't really know there are other attempts at all). Or we could try to figure out where are the most markdown documents live, is it GitHub?

[2017-03-10 18:08] deltakosh commented on #1005
Question is: what is missing?

[2017-03-10 18:13] xied75 commented on #1005
Well, wasn't really an expert on this, probably need to find a CommonMark standard testing document and start from there. BTW, we haven't even migrated all the markdown isolated tests into the main test project yet. I'll see if I got time for this.

[2017-03-10 18:14] deltakosh commented on #1005
Thank you:)

[2017-03-11 09:00] tipa opened #1026 "MarkdownTextBlock: Multiple line breaks not working"
The MarkdownTextBlock currently not allows multiple line breaks/paragraphs.
When I enter this (without the bracket):
![image](https://cloud.githubusercontent.com/assets/2863198/23821939/160909f2-0641-11e7-9b0e-429f62c87136.png)

What I expect:
![image](https://cloud.githubusercontent.com/assets/2863198/23821944/390ab068-0641-11e7-9c59-bfa6316c5e5a.png)

What I get:
![image](https://cloud.githubuse

[2017-03-11 19:05] Odonno commented on #1023
@skendrot Already seen it. It can happen when changing a Brush for example. I don't think it is related to the Toolkit.

[2017-03-11 19:08] Odonno commented on #195
@lukasf I think it could be useful too.

[2017-03-12 07:39] arcsinW commented on #887
I update my community toolkit to 1.3.1, but still cannot swipe Pivot, here is the repository
[https://github.com/arcsinW/PullToRefreshListViewDemo/tree/master/PullToRefreshListViewDemo]( https://github.com/arcsinW/PullToRefreshListViewDemo/tree/master/PullToRefreshListViewDemo)

[2017-03-12 07:42] arcsinW opened #1027 "Still Cannot swipe Pivot when I have PullToRefreshListView inside PivotItem"
I update my community toolkit to 1.3.1, but still cannot swipe Pivot, here is the repository
[PullToRefreshListViewDemo](https://github.com/arcsinW/PullToRefreshListViewDemo/tree/master/PullToRefreshListViewDemo)
so I reopen the issue

[2017-03-13 03:00] nmetulev commented on #887
I'll reopen this issue and investigate a bit more. The issue shows up when IsPullToRefreshWithMouseEnabled=True only, and I recommend this property to be set to False unless really needed

[2017-03-13 03:04] skendrot commented on #1023
I'm not saying it is, needed somewhere to log in.

[2017-03-13 07:44] Code-ScottLe commented on #1014
any updates? @Odonno

[2017-03-13 11:51] #980 closed

[2017-03-13 14:12] yanxiaodi commented on #906
@skendrot I didn't use this control to implement my purpose. Because I need to control the state by the content of the detail panel, not only depends on the width of the window. When the content of the detail area is empty or not empty, the control's performance should be different. So I write a new state trigger to finish it.

[2017-03-13 14:23] skendrot commented on #906
@yanxiaodi Can you give more details? What do you mean by "the controls performance should be different"? Does the [ViewState](https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/MasterDetailsView/MasterDetailsView.Properties.cs#L206) property not meet your needs for controlling which state the control is in?

[2017-03-13 14:29] h82258652 commented on #906
@yanxiaodi How about this? https://github.com/h82258652/UwpMasterDetailViewSample
I think the MasterDetailView in this toolkit is too much complex. I have to create my own for my apps.

[2017-03-13 14:31] skendrot commented on #906
@JulienTheron  I still cannot reproduce the issue. I am doing the following:
[code]

[2017-03-13 14:41] yanxiaodi commented on #906
I mean that:
1.Run the app and resize the window to the wide mode, the detail view is blank now.
2.Now resize the window to the narrow mode, you should see the detail view is hidden. Only the master view is visible.
3.Then resize the window to the wide mode. The detail view will be visible again.
4.When you click a item of the master view, the detail view will show the content. Now resize the wind

[2017-03-13 14:46] yanxiaodi commented on #906
@h82258652 Good job. Thanks.

[2017-03-13 14:50] JulienTheron commented on #906
@skendrot I just rerun the app provided in the MasterDetailsView_Issue906 repo with the latest toolkit package (preview) and the issue is still there. Did you run it **without** being attached to the debugger?
Here are simple repro steps:
1- Open the app and resize it so that only the Master page is displayed.
2- Close the app.
3- Open the app again. Only the Master page should be displayed.
4- Ex

[2017-03-13 14:50] skendrot commented on #906
@yanxiaodi I'm very confused. The MasterDetailsPanel works exactly like the Mail app. When there is a narrow width and an item is _selected_, it should show only the details section. When there is a narrow width and no item is selected, it should show the master section. When there is a wide width it should show both sections if something is selected or not. This is dependent on selection of the m

[2017-03-13 14:51] skendrot commented on #906
@h82258652 while the control is "simpler" the overall implementation is much more complex.

[2017-03-13 14:59] h82258652 commented on #906
@skendrot Yes, I agree with you. But I don't think the MasterView contains a ListView is a good implement. Maybe I want a PullToRefreshListView? :grin:

[2017-03-13 15:02] skendrot commented on #906
@h82258652 Please log a new issue and let's keep this thread to the issue that @JulienTheron submitted

[2017-03-13 15:04] skendrot commented on #906
@JulienTheron Yes, *without* debugging I cannot reproduce. I cannot reproduce with the UWP Toolkit sample app or in a new standalone app.

[2017-03-13 15:10] JulienTheron commented on #906
@skendrot I cannot reproduce it either with the sample app, must have to do with the way the UI is organized. Did you try with the repo I provided? My teammate is able to reproduce it as well.

[2017-03-13 15:13] skendrot commented on #906
@JulienTheron I did not download your repo, just copied the xaml and code behind to a new project I created

[2017-03-13 15:41] Odonno commented on #1014
Sorry. Here is the zipped project.

[BackgroundTaskNotifications.zip](https://github.com/Microsoft/UWPCommunityToolkit/files/838707/BackgroundTaskNotifications.zip)

[2017-03-13 17:33] anbare commented on #1022
Hey @taoyouh, with the object model, all of these special "placement" values are dedicated properties on ToastBindingGeneric. In a future version of the Visualizer, we're going to be including an "Export to code" button that'll provide the C# based on the XML you have, which would be super useful for questions like this :)

[code]

[2017-03-13 17:33] #1022 closed

[2017-03-13 18:01] deltakosh commented on #1026
To achieve what you want you can do this:
`
Line 1

&nbsp;

Line 2
`

[2017-03-13 18:01] lukasf commented on #1019
Closing this: PR merged...

[2017-03-13 18:01] #1019 closed

[2017-03-13 18:31] anbare commented on #1014
Your TestBackgroundTask doesn't return a task, so it's not awaited, the deferral & background task completes before your background code had a chance to do anything

    public class TestBackgroundTask : IBackgroundTask
    {
        public async void Run(IBackgroundTaskInstance taskInstance)
        {
            // Do awaitable stuff
            await Task.Delay(1000);

Make it be

    public as

[2017-03-13 18:53] Odonno commented on #1014
@anbare Yes, thanks for the info. But I asked myself why does it work in debug mode? There must be an explanation?

[2017-03-13 20:56] #1026 closed

[2017-03-13 20:57] deltakosh commented on #1014
Did you set a breakpoint? Or perhaps as it is slower in debug, your code can be executed before the BackgroundTask is stopped

[2017-03-13 21:04] nmetulev commented on #1027
I already reopened #887 so this one is not needed

[2017-03-13 21:04] #1027 closed

[2017-03-13 21:26] Odonno commented on #1014
@deltakosh No breakpoint. Already tried 3 or 4 times and it always worked. It may be because it is slower in debug but that seems very odd.

I'll try with a Task like @anbare said and see if it change anything.

[2017-03-13 21:27] deltakosh commented on #1014
thanks!

[2017-03-13 21:41] twsouthwick commented on #791
I tried to get this to work in the above PR, but I feel like there are design issues that need to be discussed before it can be correctly fixed.

Here is how the control currently works:

- When in a wide state, the selection in the master list updates the details with touch/keyboard/pointer
- When in a collapsed state, the master list updates the details with touch and pointer; keyboard forces de

[2017-03-13 21:42] anbare commented on #1014
Yeah debug mode is a lot less optimized, it won't kill background tasks immediately. I've seen this behavior myself. Release mode terminates immediately as soon as it can. Debug mode lets it hang around long enough that the code completes.

Someone who actually built the core Windows background tasks implementation probably knows why, but I'm not sure knowing the reason why changes anything, other

[2017-03-13 22:03] hermitdave commented on #1016
@WilliamABradley a check has been added. I validated the fix in sample app by calling Binding.Update on a Dispatcher Timer Tick event. You can test the fix out by pulling latest myget build.

[2017-03-13 22:03] #1016 closed

[2017-03-13 22:23] #979 closed

[2017-03-13 23:45] #1005 closed

[2017-03-13 23:48] #883 closed

[2017-03-13 23:48] #871 closed

[2017-03-13 23:49] deltakosh commented on #801
up?:)

[2017-03-13 23:50] #642 closed

[2017-03-13 23:51] deltakosh commented on #627
@Depechie fancy trying to submit a PR? Else I don't think this will make it for 1.4 (Closing on 3/21)

[2017-03-14 01:23] yanxiaodi commented on #906
@skendrot Sorry! I made a mistake. I must apologize to you.
What I have just said is actually the problem about the Master/Detail sample in Template10, not UWPCommunityToolkit. I remember that I have to rewrite a state trigger just because I need to put a pivot control in the master view. But the Master/Detail control has binded a ListView. This is the real reason, not the behavior about the contr

[2017-03-14 02:56] Code-ScottLe commented on #1014
I just downloaded the sample and it is like @anbare said. I usually don't create another IBackgroundTask implementation whenever I use SPM and just treat the OnBackgroundActivated event handler as a giant IBackgroundTask implementation. Async void is fire and forget and that's probably why (you guys discussed it too), but still don't make any sense in Debug mode lol.

[2017-03-14 05:06] skendrot commented on #906
Thanks. And that issue was addressed in #891

[2017-03-14 05:07] #891 closed

[2017-03-14 07:56] yanxiaodi commented on #906
@skendrot Yes. Thanks a lot!

[2017-03-14 14:28] Odonno commented on #1014
I tried with Task, but same as before. It works in debug mode only.

[2017-03-14 14:30] Odonno commented on #1014
I tried with Task, but same as before. It works on debug mode only.

I don't know why the TimeTrigger is not triggered.

[2017-03-14 15:09] xied75 commented on #914
@deltakosh After staring at the code for a while, I discovered multiple issues to discuss about. I've just made a tiny PR to fix some easy bugs.

Open issues:

1, After looking at various docs, mainly (https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.data.icollectionview), I decided that I no longer want to add a "set" for CurrentPosition, not only that, I also propose to remove the Setter

[2017-03-14 15:32] deltakosh commented on #914
1. While I understand the issue, this is a breaking changes and we cannot introduce one before 2.0. So I would recommend to keep the set...And if you think about it, does it really matter? the set is a shortcut for MoveCurrentTo...
2. I would suggest to not hide it or throw an exception. This is the initial design and it was used elsewhere. But we can document it. And it could also be used on purp

[2017-03-14 15:37] deltakosh commented on #906
So we can close this issue?

[2017-03-14 15:43] JulienTheron commented on #906
Please don't close it.
The issue is there and easy to reproduce (from my experience). I don't understand why @skendrot has trouble to reproduce it.
I can even reproduce it on my Lumia 950 XL.
When the issue happens, it has many undesired side effects, such as going back from the Details view to the previous page (when pressing on the BackButton) instead of going back to the Master view.

[2017-03-14 16:28] Code-ScottLe commented on #1014
Can you manually trigger it through the Debug Location Toolbar?

[2017-03-14 17:17] skendrot commented on #906
Unless someone else can reproduce the issue, I do not see a need to keep this open

[2017-03-14 19:40] Odonno commented on #1014
@Code-ScottLe Sorry. I will try to be clear enough about the problem.

* when I manually trigger in debug mode (using the toolbar), it works every time
* when the app stays in background (whatever configuration I choose), the task is never triggered

[2017-03-14 21:20] Code-ScottLe commented on #1014
It's cool. I will get back to you once I'm done with work. Seems a little weird because if the debug location can trigger it, then at least it is registered with the system.

[2017-03-14 22:24] lukasf commented on #995
I think this could be helpful. I found myself using the stackpanel approach repeatedly, e.g. for settings sections. Sure there are other ways to do this, but the proposed control seems very easy to use and does not require us to create new user controls.

[2017-03-15 08:31] JohnnyWestlake commented on #996
@Liero for what it's worth, it's possible RelativePanel might be a replacement for DockPanel in some of your scenarios.

[2017-03-15 10:07] emiliano84 opened #1033 "Implement all the controls from waslibs"
If possible would be nice to have all the controls implemented in the [windows app studio ](https://github.com/wasteam/waslibs/) integrated here in the toolkit, to have everything in one place. Cheers

[2017-03-15 14:17] rpedretti opened #1034 "PullToRefreshContent & ReleaseToRefreshContent different behaviour on mobile an desktop"
Given this template
[code]
When i run on desktop I get the expected behavior of the TextBlock

![animation](https://cloud.githubusercontent.com/assets/675601/23951941/915ec332-096e-11e7-8e83-9f26e6413411.gif)

But when on Mobile it doesn't align to bottom. I removed the margin but it didn't help.

![animation3](https://cloud.githubusercontent.com/assets/675601/23952615/b9c5aa14-0970-11e7-86a1-ab81

[2017-03-15 15:01] rpedretti commented on #887
I've made an workaround for it in my app. I don't swipe on desktops without a touch screen so it Works fine there , but this approach will not work on devices that accept both touch and mouse.

[code]

[2017-03-15 17:34] Code-ScottLe commented on #1014
I was able to get a toast working yesterday. The time trigger is a little bit finicky but it does work. Haven't tried yours solution yet but mine was similar. Your break point never in OnBackgroundActivated never get hit without manually triggering via the Debug Location toolbar?

[2017-03-15 17:52] deltakosh commented on #1033
Hello
We do not want to "dump" controls in the toolkit without ensuring that they are used by the community.
This is why we now rely on Uservoice (https://wpdev.uservoice.com/forums/110705-universal-windows-platform)

[2017-03-15 19:03] rpedretti opened #1035 "[PullToRefresh] Add support for RefreshIndicator to stay visible after invoking until refresh task is complete"
People, I'm trying to figure it out how to use RefreshIndicatorContent but I'm afraid I can't. The docs on this does not have an example of its use. I've tryes to put a ProgressRing as its contente but it does not show.

Where can I find more info on it?

Thanks!

[2017-03-15 19:59] Odonno commented on #1014
@Code-ScottLe Ok. Keep me in touch.

[2017-03-15 20:06] deltakosh commented on #1035
Ping @nmetulev
Can you provide a sample project? Did you check this:
https://github.com/Microsoft/UWPCommunityToolkit/blob/9cca26eece30b42e40a93421d72e744eae3ad432/docs/controls/PullToRefreshListview.md

There is an example of the RefreshIndicatorContent

[2017-03-15 21:07] #1033 closed

[2017-03-15 21:55] imagin-tech commented on #681
Perhaps I'm missing something here, but there doesn't appear to be a way to change the background color of the button itself; I am not talking about the `FontIcon` element, the actual _button_. I have tried overriding the accent color of the three default themes (using `SystemAccentColor` and `SystemControlHighlightAccentBrush`), but only `SystemAccentColor` works and it affects all buttons _excep

[2017-03-16 00:12] skendrot commented on #1023
Is this being tracked by the framework​ team?

[2017-03-16 00:53] deltakosh commented on #1023
Yep I pinged Unni about this issue

[2017-03-16 04:47] nmetulev opened #1036 "GridSplitter causes FocusTrap with Controller Navigation"
See [video](https://1drv.ms/v/s!AjZLNGpIZBbgr4tL3LWfYPEZRegTTg)

The GridSplitter should use FocusEngagement to avoid focus traps with Controller navigation

[2017-03-16 06:42] Code-ScottLe opened #1037 "ImageEx will throw FileNotFoundException upon broken/corrupted cache without any retry"
`ImageEx` currently will attempt to load a cache file from the temp folder and throw a `FileNotFoundException` at `ImageCache.InitializeTypeAsync()` when the given stream has a size of 0 (corrupted file), which `CacheBase.GetFromCacheOrDownloadAsync()` does not catch to retry downloading.

This will force the user to uninstall the app to clear the cache folder, and then reinstall. Or in our case,

[2017-03-16 08:14] hermitdave commented on #1037
Every time a download is initiated, it first tries to overwite the underlying storage file.

The main issue as i see it is, what if overwrite fails. The file name is computed using hash function and cache doesn't have state management to remember corruptions.

An option would be directly load the uri onto imagex should cache retrieval fall. Any thoughts?

[2017-03-16 09:28] darshanrampatel commented on #1037
Can you not call `ImageCache.Instance.ClearAsync();` from within your App to clear the cache without uninstalling?

[2017-03-16 09:32] hermitdave commented on #1037
agreed @darshanrampatel ClearAsync should be plugged into app launch so cache does not get too heavy.. if we enable direct source loading into image on execption, over a period of time your cache should be cleaned up.

@Code-ScottLe are you using ClearAsync / RemoveExpired ?

[2017-03-16 09:39] JohnnyWestlake commented on #1036
(It might also be worth adding a note to "Quality insurance for pull requests for XAML controls" section of Contribution guidelines to keep in mind Controller navigation / focusing as a lot of controls have at one point not played too nicely with it)

[2017-03-16 16:58] deltakosh commented on #1036
Ping @IbraheemOsama. If possibile we should do it for 1.4 :)

[2017-03-16 16:58] #919 closed

[2017-03-16 17:56] deltakosh commented on #681
Hello the best option would be to retemplate the control:
https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenu.xaml

[2017-03-16 18:46] Code-ScottLe commented on #1037
@hermitdave Didn't know we have such a function. I can try that one when it fails then. But definitely prefer not having to do it manually, the cache shouldn't affect the behavior of the control in displaying the image.

[2017-03-16 18:55] hermitdave commented on #1037
You can also get hold of the underlying storage item and try delete that. There is a method for that in the cache

[2017-03-16 19:06] Code-ScottLe commented on #1037
I will try to that for now. Do you think it is worth to have this case handled by the control itself?

[2017-03-16 19:22] hermitdave commented on #1037
The problem is differentiating between file corruption, file not found and other network errors.. Yes we can certainly improve it

[2017-03-16 22:33] IbraheemOsama commented on #1036
@deltakosh I have a very busy weekend, will do it mid next week :)

[2017-03-16 22:35] IbraheemOsama commented on #1036
@JohnnyWestlake if you know other controls with same issue just create a bug so we can fix it

[2017-03-16 22:37] deltakosh commented on #1036
thank you so much!

[2017-03-16 23:25] skendrot commented on #1036
Is the suggestion to not allow it to be changed with keyboard?

[2017-03-17 03:08] rpedretti commented on #1035
Here's the Project: https://github.com/rpedretti/UWPComunityToolkit.PullToRefresh.POC

And i looked there but there is no cncrete example, just a XAML where the contente is a Border, but no code how to manipulate.

In the repo I set the animation of the RefreshIndicatorContent to show if the action of fetching more data will actually be called, but it's not visible due to the hidden RefreshIndicat

[2017-03-17 03:28] nmetulev commented on #1035
I see, thanks for the additional info, super helpful. The control does not support the behavior you are describing and it is something that should be considered adding in a future release. Do you mind adding a request on [UserVoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit)?

Just renamed the issue to better reflect the question.

[2017-03-17 13:22] rpedretti commented on #1035
Just did!
[https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18645712--pulltorefresh-add-support-for-refreshindicator-t](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18645712--pulltorefresh-add-support-for-refreshindicator-t)

[2017-03-17 13:31] lancecontreras opened #1038 "DropShadowPanel is not very friendly with XAML designer"
The dropshadow panel gives me an error in the xaml designer. Maybe we can prevent it by using Windows.ApplicationModel.DesignMode.DesignModeEnabled can prevent this.
### Steps:
1. Create a new project
2. Install-Package Microsoft.Toolkit.Uwp.UI.Controls
3. In the main page, create a dropshadow panel and inside it create a border, put some text.
4. At this point everything looks good in the designe

[2017-03-17 13:36] hermitdave commented on #1038
Thanks I will take a look at this

[2017-03-17 15:03] hermitdave commented on #1038
tried it locally on latest myget package and VS 2017.. all seems well
![dropshadowpanel](https://cloud.githubusercontent.com/assets/1896163/24049089/d3348dc2-0b22-11e7-9fc4-d47986f604ae.PNG)

[2017-03-17 15:08] lancecontreras commented on #1038
I tried to build the code locally and adding Windows.ApplicationModel.DesignMode.DesignModeEnabled in UpdateShadowSize() and OnSizeChanged did the trick.

[code]

[code]

[2017-03-17 15:09] lancecontreras commented on #1038
I'm using VS2015.

[2017-03-17 15:27] deltakosh commented on #1036
Nope the idea is to allow the XBox controller to control it as well

[2017-03-17 15:41] hermitdave commented on #1038
I have it working on VS 2015 Update 3 as well..  I will keep an eye on it and try to reproduce it in sample app

[2017-03-17 16:08] lancecontreras commented on #1038
I'm using what ever is in nuget. Is the fix where you added IsSupported property already in the latest version in nuget? Because when I tried to clone from github and build it, it does not show the error. But the one from nuget does. Perhaps IsSupported is the fix that I'm looking for.

[2017-03-17 16:11] hermitdave commented on #1038
@lancecontreras no nuget version will be updated in a week or two. you can play with myget version by adding myget to package manager by using this url https://dotnet.myget.org/F/uwpcommunitytoolkit/api/v3/index.json

[2017-03-17 16:13] lancecontreras commented on #1038
Alright. Thank you.

[2017-03-17 16:13] #1038 closed

[2017-03-18 22:43] imagin-tech commented on #681
Overriding template verbatim produces an unknown exception.

The error produced and offending line, respectively:

![1](https://cloud.githubusercontent.com/assets/12141910/24076577/b7a0f0da-0c0a-11e7-8ca8-6805f32922b6.png)

Problem goes away when you remove that one line.

[2017-03-19 10:21] lukasf commented on #681
This is a new property that will be available in V1.4 of the toolkit. You need to remove it until the next update is available.

Nice example of how overriding control templates for common scenarios is bad. On next update you'd need to fixup your template copy in order to have full functionality of the control...

[2017-03-20 14:07] xied75 commented on #914
Further Comments:

1, I took your advice and started to add setter for CurrentPosition as well, then I realized the true argument: the family of MoveCurrentTo methods, they all return a boolean to indicate success of op, means they could actually fail. This basically means we can't shortcut it in Setter since we have no way to cancel the op.

I tried to flag it as deprecated, but sadly that can't

[2017-03-20 15:53] #893 closed

[2017-03-20 16:02] deltakosh commented on #914
Thanks a lot

1. We can still cancel the op by just not setting the value. This happens a lot in .net
2. Seems acceptable to me as long as we have it in the doc
3. Nice update for next release :)

[2017-03-20 16:18] deltakosh commented on #681
Can't agree more. And this is why I'm always for adding properties for common tasks

[2017-03-20 22:58] #914 closed

[2017-03-20 23:00] #683 closed

[2017-03-20 23:00] #906 closed

[2017-03-20 23:01] deltakosh commented on #801
last call for 1.4

[2017-03-20 23:22] Depechie commented on #627
Have a working demo on my fork... but not yet PR ready.
Will update when I have more time...

[2017-03-21 02:51] skendrot commented on #627
You can email me @Depechie

[2017-03-21 02:52] skendrot commented on #801
Not gonna make it. Sorry :(

[2017-03-21 07:09] unniravindranathan commented on #1007
Finally getting around to this -could you please tell me what SDKs are installed on your machine, and can you also share out your AppX package? Please feel free to email at unnir at Microsoft dot com.

In general, like you suggest, you should not be side-loading the package you are trying to side-load (since the manifest in the package is designed to only work after .NET Native compilation happens

[2017-03-21 12:01] xied75 commented on #801
@skendrot If you can point me where to look I'll give it a try, otherwise I will be releasing my app with the current BladeView, which is quite important in my app. :(

[2017-03-21 12:17] bkaankose commented on #801
@xied75 since BladeView is now deprecated, check out the OnBladesChanged static method in the BladeControl.cs. Try to get the _scrollViewer and scroll it to the end when new Blade is added.

I am not sure it'll work though since I can't check the code for now. In theory it should work (like anything we think in life :P)

[2017-03-21 12:23] xied75 commented on #801
@bkaankose BladeView is the new one, Blade is deprecated.

[2017-03-21 14:21] Depechie opened #1042 "Visual Studio ruleset for coding guidelines - review"
Was wondering about a warning the current ruleset gives to developers.
When we write following code:

[code]

We get a warning stating { } should not be omitted.
But when we look at the ReadMe of the project ( [https://github.com/Microsoft/UWPCommunityToolkit/blob/master/contributing.md](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/contributing.md) ) we see that everything is refer

[2017-03-21 14:22] skendrot commented on #801
@xied75 As a quick hack to fix your issue you could do the following:
1. Add an items to your ObservableCollection
2. Delay a small amount to allow the view to update
3. Get the BladeViewItem for the item you just added (ItemContainerGenerator.ContainerFromItem method)
4. Change IsOpen on the BladeViewItem to false and then to true

Another workaround:
1. Add an items to your ObservableCollection

[2017-03-21 14:31] skendrot commented on #1042
I'm in favor of this change, but only when exiting the current block.
Examples:
Exiting a method:
[code]

Continuing or exiting a loop
[code]

[2017-03-21 14:42] Depechie commented on #1042
Not to spawn of a new war of We do, You do... ( I always omit single line { } also for ForEach, For and If statements )
But IF you ref the .Net foundation guidelines, you should keep to those and not bloat up the warnings list.

[2017-03-21 16:11] deltakosh commented on #1042
We will discuss it with core team to see if we keep the warning or not :)
thanks for reporting

[2017-03-22 19:54] pekspro commented on #1007
I had problems compiling the latest source in release mode, so I rolled back to some check in made the 17:th February. But probably not important for this issue. I have e-mail you a link to the complete AppPackages folder.

I used Visual Studio Community 2015 update 3 for this, and has SDK 10.0.14393.33 and 10.10.14393.795 – not sure which one that was used :-(

[2017-03-23 09:06] sathishpanduga opened #1045 "Images are not fitting the size of container when rendered from MarkdownTextBlock (Microsoft.Toolkit.Uwp.UI.Controls V1.4)"
Hi All,
I have created a namespace locally for testing the UMP Community Toolkit (Microsoft.Toolkit.Uwp.UI.Controls) version 1.4 (not released in NuGet yet).
I tried rendering the images via MarkdownTextBlock, it works but the size of image is not being rendered properly. Do you have some add the code to set the images to fit the containers (grid) in Windows Universal Application? I mean, whatever

[2017-03-23 09:51] pellea opened #1046 "Same as waslib?"
Hello,

I'm currently using the social media services from waslib.

Which one should we use?

Thanks,
Adrien.

[2017-03-23 10:31] hermitdave commented on #1046
Whilst we might have borrowed the idea from waslib, we have been adding features and new services. Use what works for you.

[2017-03-23 15:14] deltakosh commented on #1045
Hello!
For now images are rendered with no Strech:
https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/Display/XamlRenderer.cs#L906

Perhaps it is a mistake. We can still change it if we consider we should do it differently

[2017-03-23 15:17] sathishpanduga commented on #1045
Hi,
Also I see another issue related to the hyperlink for the image, when I use markdown like below - my application stops working when I click on the image.. Otherwise, it has to take me to browser for the http request.

    [![SQL](http://www.v3.co.uk/w-images/30fde865-7cd8-41f0-a345-179345357b02/0/sql2016slide-540x334.png)](https://msdn.microsoft.com/en-IN/library/bb500435.aspx)

[2017-03-23 15:40] deltakosh commented on #1045
Ok I'll fix it as well

[2017-03-23 16:00] deltakosh commented on #1045
Ok so after some investigations it appears that Hyperlink cannot contains images as stated [here](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.documents.hyperlink)
So I will update MarkdownTextBlock documentation to add this warning.

I will also push an update with stretch defined for images. That should fix your first issue

[2017-03-23 16:01] sathishpanduga commented on #1045
Thanks a lot :)

[2017-03-23 16:16] #1045 closed

[2017-03-23 16:17] #1046 closed

[2017-03-23 16:27] pellea commented on #1046
Already closed ...

Could you please at least explain why you did decide to rewrite the code all over again instead of reusing the waslib libraries ?

[2017-03-23 16:28] deltakosh commented on #1046
You decided to rewrite the code because waslibs where read only. We wanted services to be able to read and write data.

[2017-03-23 16:30] deltakosh commented on #1046
Other reason was that the coding guidelines were not aligned

[2017-03-23 19:55] angusbreno commented on #895
Yes @skendrot we talked about it up there.
Now we need to point the diference between thoose aproaches and choose.

[2017-03-24 13:10] Depechie commented on #627
Current implementation : [https://youtu.be/osNimMhqKw8](https://youtu.be/osNimMhqKw8)
Would love to discuss this to see what still needs to be done or not before submitting PR.

[2017-03-24 13:39] skendrot commented on #627
I never through about collapsing like that. It looks nice. When I was working on this I was making a collapse button that would just have the title bar visible but rotated 90 degrees. This allowed you to still see the title and only take up about 30 pixels wide.
I don't think the blades should auto collapse. Easy enough to scroll to find the one you want.

[2017-03-24 14:19] Depechie commented on #627
@skendrot what do you mean with 'auto collapse'? Currently the property on the BladeView ( OpenBlades ) will trigger the collapsing when set.
So say OpenBlades = 3, means when a 4th one is opened, all others collapse. The auto collapsing in this case is the whole point at that stage. Or do you mean something else?

Secondly, I would rather first round up this implementation. This would allow @delt

[2017-03-24 17:25] Mimetis commented on #1042
TOTALY in favor ;)

[2017-03-24 21:45] deltakosh commented on #627
I like how it looks like. I will discuss it with core team but I guess we can plan it for 1.5

[2017-03-24 22:00] Depechie commented on #627
Great, just realising that I did not yet have taking into account any content that could be visible on the blade itself.
The PR will just alter the width of the blades, I think we better also blur or hide the content otherwise it will look silly?
Anyhow I hope this is a good foundation to extend the control :)

[2017-03-25 09:00] karmaecrivain94 opened #1050 "Lag on the quickreturnheader"
There's a noticeable lag on the QuickReturnHeader: The movement of the header and the scrolling isn't very tightly synchronized, as, especially when scrolling up, the header seems to lag behind. There's also often a pixel wide gap at the top of the header.

It may seem superficial, but details like this have a **big** impact on how polished an app feels. Could someone reading this from msft ask ho

[2017-03-25 09:09] hermitdave commented on #627
@Depechie maybe BladeView should have a view state for open / collapsed state. That way it can be customised.

[2017-03-25 09:36] jamesmcroft commented on #627
@Depechie I'm all for this, it looks quite nice. I think minor changes would be around the auto collapse (possibly have that as an additional option so the developer can choose whether to have it on or not) and also if you expand a collapsed blade, have the ability to then collapse it again without having to add another blade.

[2017-03-26 14:56] xied75 opened #1051 "[MarkdownTextBlock] v1.4 commits broke what works in v1.3.1"
If we paste the raw markdown here: https://github.com/antlr/antlr4/blob/master/doc/getting-started.md
into Sample App, v1.3.1 works fine.

Now on dev head (which is code freezed v1.4), it simply throw:

[code]

Seems this is on trying to render the image link near doc end which in v1.3.1 it just shows
[code]

Suggest to fix this before we release v1.4.

[2017-03-26 15:47] deltakosh commented on #1051
I will for sure. Thank you for reporting

[2017-03-27 10:25] hermitdave commented on #627
@jamesmcroft we should use value of 0 to indicate whether auto collapse is supported or not.

[2017-03-27 15:49] #1051 closed

[2017-03-27 16:01] SuperJMN opened #1052 "Compatibility: What happens if you use a feature that requires a more recent build?"
I want to use the Blur Effect in my application, but it says it's only for the Anniversary Update (or newer).

If I add it to my application (in XAML), will it make it fail in older builds. Will it render?

How can I add the blur effect if the build supports it? Should I modify the target framework to make it work, and reduce the devices in which my app can run?

[2017-03-27 16:16] hermitdave commented on #1052
private bool UseMediaPlayerElement => ApiInformation.IsTypePresent("Windows.UI.Xaml.Controls.MediaPlayerElement");

Query for support in similar fashion

[2017-03-27 16:18] hermitdave commented on #1052
The blur extension defines this
public static bool IsBlurSupported =>
            ApiInformation.IsApiContractPresent("Windows.Foundation.UniversalApiContract", 3); // SDK >= 14393

[2017-03-27 16:54] SuperJMN commented on #1052
OK, it's clear now, but is there any good way to add it conditionally in XAML?

[2017-03-27 17:01] hermitdave commented on #1052
No i suggest you do this in code behind.

[2017-03-27 19:54] Depechie commented on #627
@jamesmcroft yep @hermitdave is correct, default value is 0 for MaxOpenBlades what will be equal as saying, I don't want the feature :)
Your suggestion on all being able to close manually before reaching the max count is indeed a good suggestions too!
But like I stated on top, would love for @deltakosh to see how far we go for v1 update on this, extra's can later always be added I guess.

[2017-03-27 21:16] deltakosh commented on #627
Hello I do not want to block you :)
The idea is to first ensure that everyone is ok with the features to add so could you please list them?

To sum up:
- [ ] Autocollapse (off by default)
- [ ] Themeable header when collapsed
- [ ] Collapse button

Do you see other things?

[2017-03-27 21:17] deltakosh commented on #1050
I'm not sure to see this lag.. Can you capture a video to be sure we are talking about the same thing?

[2017-03-27 21:18] deltakosh commented on #1052
And because the control is already testing this bit, if you use it in your app with an incompatible build it will just do nothing (no crash)

[2017-03-27 22:22] Depechie commented on #627
Nope sounds greqt, except for the themeable header. Not something I can write on my own.
I'll handle the 2 other options in the current PR and report when done!

[2017-03-27 22:32] hermitdave commented on #1052
@SuperJMN what @deltakosh said is correct. I haven't used blur enough, My bad.
http://docs.uwpcommunitytoolkit.com/en/master/animations/Blur/ shows how to use the blur behaviour either in code or in XAML.

[2017-03-27 23:08] deltakosh commented on #627
Themeable is not a big deal. Just provide two views for your control: one is hidden when collapsed and one is hidden when not collapsed

[2017-03-28 08:49] ThomasPe commented on #985
I've added this as an idea:
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18739969-webview-extension-for-binding-invoking-scripts

Thanks

[2017-03-28 11:38] xied75 commented on #1051
@deltakosh Had a go on this commit, although it no longer throw, but the line is not shown at all, which I guess showing the raw text is better than hiding it altogether?

p.s. Another related issue, on GitHub apparently this image is shown inline correctly, in my app, I also have access to the image file itself, is there anyway I could get this kind of linking work in this control? (I can move th

[2017-03-28 15:39] deltakosh commented on #1051
You're right I should display the text in this case.

Regarding the image itself you cannot have a local ref in XAML you have to provide either a http:// something or a ms-appx reference

[2017-03-28 16:09] xied75 commented on #1051
If you can come up another fix I'll give it a try.

About the solution you suggested, e.g. if we save the img to temp folder, use a ms-appx point to it, would the image turn up? Given this is a common case in lots of markdown files, can we have a working example in the Sample App for this scenario?

For jumping around, I remember this control has a Link clicked event, is that the right place I sho

[2017-03-28 16:11] deltakosh commented on #1051
If you have a file in local app folder and reference it with ms-appx it should work :)

And yes for the link event

[2017-03-28 16:17] #1052 closed

[2017-03-28 16:28] xied75 commented on #1051
Seems I got another different exception now if you try to display this raw:
https://github.com/antlr/antlr4/blob/master/README.md

System.StackOverflowException

[2017-03-28 16:33] deltakosh commented on #1051
I fixed it but beware you are hitting a limitation of the control here: you cannot have an image inside a link (I documented it)

[2017-03-28 18:51] xied75 commented on #1051
Looks like I'm in a trouble-maker mode, just tried dev head, it seems it was rendering H1 with a Foreground to **0**, rather than **SolidColorBrush**, something to do with your fix on "Color" stuff?

[2017-03-28 18:57] deltakosh commented on #1051
no problem it is debug time:)
can you provide a sample?
not sure to understand the issue

[2017-03-28 19:01] xied75 commented on #1051
the same link at the beginning, it does render the first H1, but without color, so if I select it, I can then see. Interestingly though, the Sample App built from dev head will show it in Green (my desktop theme color I guess); in fact just look at the Sample App default example, H1 is colored, if you dig into it with Live Visual Tree tool, you will find the Foreground value to be 0.

[2017-03-28 19:04] xied75 commented on #1051
![image](https://cloud.githubusercontent.com/assets/1682456/24422521/be0e68fa-13f1-11e7-87cc-42c9a54d3ec5.png)

[2017-03-28 19:08] xied75 commented on #1051
And my app, note the two vast empty spaces, those should some headers:

![image](https://cloud.githubusercontent.com/assets/1682456/24422706/50bba974-13f2-11e7-869c-e926b4ad5a8e.png)

[2017-03-28 19:56] deltakosh commented on #1051
Hello it works for me:
![image](https://cloud.githubusercontent.com/assets/1306056/24424603/0030b6de-13b6-11e7-868e-cb2b2def1f71.png)

[2017-03-28 20:01] xied75 commented on #1051
Exactly, see it's blue, did you set it to be blue? In my screenshot it's green.

[2017-03-28 20:02] deltakosh commented on #1051
It is using the accent color by default

[2017-03-28 21:46] deltakosh opened #1055 "Move all projects to .NetCore.UWp 5.2.2"

[2017-03-28 21:47] #801 closed

[2017-03-29 11:45] aL3891 opened #1056 "Binding to Observables"
Hello!

I've been working on a small helper to enable binding to and from observables in xaml and also provide kind of an alternate way to implement INotifyPropertyChanged. I think it's pretty neat and I think it might be useful to the wider community, would it be something you'd be interested to have in the community toolkit?

Check it out at
https://github.com/aL3891/ObservableDatabinding

[2017-03-29 12:33] xied75 commented on #1051
Ha, finally can settle this when I got a clearer head, I copied dll and pdb only to my app for testing, ignored altogether the xaml folder, which is necessary for the styles to work properly.

Thanks for the patience and help. :)

[2017-03-29 14:10] SuperJMN opened #1057 "Multipage Wizard Control"
I'm currently developing a UWP application.

Some interactions are driving along page-to-page flows that collect information from the user, having a "Continue" and a "Cancel" button. Usually, the last step performs an action after all the information is collection.

In short, the user navigates forward (and optionally back) providing the required information and, in the last step, an action is per

[2017-03-29 14:15] hermitdave commented on #1056
I would suggest you raise a User Voice for this.
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit

Mixing Binding with Observable subscriptions is interesting though it could prove to be daunting to an average use who has never used Observables before.

[2017-03-29 14:37] deltakosh commented on #1051
My pleasure

[2017-03-29 14:50] Odonno commented on #1057
@SuperJMN I am not sure of what you ask but is it not similar to a FlipView control? I mean, a FlipView control where each item has a custom template, by using a TemplateSelector.

[2017-03-29 15:44] xied75 commented on #1057
A simple Pivot should also work

[2017-03-29 18:48] aL3891 commented on #1056
Created: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18766585-add-helper-for-binding-to-and-from-observables

Just to be clear, I've already written this helper, I was just thinking it would be useful for others so I was wondering if you were interested in having it the toolkit and if so where it should go (and if you'd like to see other changes like naming and

[2017-03-30 13:59] JohnnyWestlake commented on #1050
If this only when using the scrollbar on desktop, or also with touch?

[2017-03-31 07:15] h82258652 commented on #1055
How about 5.3.1?

[2017-03-31 07:30] SuperJMN opened #1060 "HeaderedTextBlock doesn't render in VS 2017 XAML Designer"
It just shows a line with no text at all.

[2017-03-31 07:36] totht91 commented on #1055
If you upgrade to 5.3.1 you will drop the VS 2015 support.

[2017-03-31 12:24] jamesmcroft commented on #1057
Personally think this is a very niche control and won't be commonly adopted in most UWP applications. As others suggest, there are alternatives that could work for the requirements.

[2017-03-31 15:04] deltakosh commented on #1057
I agree. Let's close it for now

[2017-03-31 15:04] #1057 closed

[2017-03-31 15:10] deltakosh commented on #1055
Correct. This is why we will stick for 5.2.2 for next version at least

[2017-03-31 15:12] deltakosh commented on #1060
Ping @jamesmcroft

[2017-03-31 17:04] Code-ScottLe commented on #1060
Mine shows up fine though. Screenshot?

[2017-04-01 06:08] chungweileong94 opened #1062 "DropShadowPanel has huge graphic impact to the phone (Lumia 640XL)"
Wherever I try to use the DropShadowPanel in my app, the will start to act weird when the app shows the page that contains shadow, the navigation bar start flashing.
The problem is much obvious when I try to landscape the phone and pull down the notification bar, the screen will flashing for a sec.

[2017-04-01 06:27] chungweileong94 commented on #1062
Sorry for mistake, the phone that I tested is Lumia 640XL not Lumia 650XL

[2017-04-01 08:00] hermitdave commented on #1062
I can't reproduce this on 950xl but composition often behaves erratically on large number of Windows Mobile devices.

[2017-04-01 08:59] chungweileong94 commented on #1062
@hermitdave Just created the shadow by my own, and yes, the composition shadow do having some issue on mobile.

[2017-04-01 14:53] arcsinW opened #1063 "How can I set Frame's MinWidth while I use GridSplitter"
The code is below
[code]
set MinWidth to MasterFrame is not work, the GridSplitter still can be drag and cover MasterFrame's content

[2017-04-01 18:58] jamesmcroft commented on #1060
I can take a look into this. I've not had this issue previously but haven't recently tried it in VS17

[2017-04-01 19:14] jamesmcroft commented on #1060
I've given this a quick try with an app targeting the Anniversary Update with the latest NuGet packages for the UWP Community Toolkit and it appears to be working fine in the XAML designer.
![VS2017](http://i.imgur.com/RR9GpmW.png)

[2017-04-01 19:50] SuperJMN commented on #1060
OK, I have found the problem: Setting my VS to x64, the designer doesn't show anything. As soon as I change it back to x86, it renders the control just right. I don't know why.

![captura](https://cloud.githubusercontent.com/assets/3109851/24581916/17ac63c2-1725-11e7-9dff-5ebebcf6087a.PNG)

[2017-04-02 14:14] niels9001 opened #1065 "GetTemplateChild of RadialGauge is null when code is used in project?"
Hi all,

I'm trying to extend the RadialGauge-code a bit. However, if I create a new RadialGauge.xaml and RadialGauge.cs in my own project, and copy the code from this project the visual doesn't show..

When debugging I see that:

`     var container = radialGauge.GetTemplateChild(ContainerPartName) as Grid;`

is null..

Any idea what could cause this?

[2017-04-03 05:22] XamlBrewer commented on #1065
The control's default style should be recognized. Did you refer to the RadialGauge.xaml file in a Generic.xaml file in a Themes subfolder (like here: https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/Themes/Generic.xaml)?

[2017-04-03 09:47] jamesmcroft commented on #1060
Thanks for confirming that it's working in x86. I'll investigate into what could be causing an issue with x64

[2017-04-03 15:29] deltakosh commented on #1062
This seems to be hardware dependent :(

[2017-04-03 15:30] #1062 closed

[2017-04-03 15:31] deltakosh commented on #1063
Ping @IbraheemOsama

[2017-04-03 16:59] Code-ScottLe commented on #1060
The toolkit has bunch of issue with the designer on the non-x86 build. ImageEx also doesn't work on non x86 configuration.

[2017-04-03 18:52] niels9001 commented on #1065
I have added that like in the file you mentioned (Themes folder, with Generic.xaml in there), but now I'm getting

[2017-04-03 18:57] niels9001 commented on #1065
Error in the URI in Generic.xaml - namespace shouldn't be called. Now it's working. Thanks.

[2017-04-03 18:57] #1065 closed

[2017-04-03 20:40] deltakosh opened #1066 "Add features for HamburgerMenu"
- [ ] Swipe support
- [ ] Header
- [ ] Highlights for selected items

[2017-04-03 20:42] deltakosh opened #1067 "Add support for page breaks in PrintHelper"

[2017-04-03 23:40] IbraheemOsama commented on #1063
@arcsinW I tried it and it is working fine at my end, did you add min width to the MasterColumn column ? here is my code
`<Grid x:Name="RootGrid"

          Background="{StaticResource Brush-Grey-05}">
        <Grid.ColumnDefinitions>
            <ColumnDefinition x:Name="PaneColumn" Width="48"/>
            <ColumnDefinition x:Name="MasterColumn" Width="500" MinWidth="400"/>
            <ColumnDe

[2017-04-04 03:15] seymourtang commented on #1066
I think they are very useful.Thx.

[2017-04-04 03:32] arcsinW commented on #1063
I set MinWidth to MasterFrame so it doesn't work, after set it to MasterColumn, it worked
Thank you 👍

[2017-04-04 03:46] #1063 closed

[2017-04-04 06:44] Odonno commented on #1066
The alternate version of selected item template is still pretty, should we add it in the backlog? https://docs.microsoft.com/en-us/windows/uwp/controls-and-patterns/nav-pane

[2017-04-04 08:57] Paradoxon101 commented on #1067
Is it possible, to add support for the PrintTaskOptionDetails.GetFromPrintTaskOptions, to create own print options?

[2017-04-04 09:31] flyingoverclouds opened #1068 "SampleApp: HamburgerMenu xaml control sample typo error"
In the sample code for HamburgerMenu (documention tab), XAML tag is double closed for controls:HamburgerMenu :
![typosamplehamburgermenu](https://cloud.githubusercontent.com/assets/4788686/24650361/38476e86-192a-11e7-8f84-ad9d34f63165.PNG)

[2017-04-04 13:08] XamlBrewer commented on #1067
@deltakosh paging requires measuring, and measuring requires rendering. It's a job that goes beyond the responsibility of a single PrintHelper class. You can get some inspiration here: https://github.com/XamlBrewer/XamlBrewer.Uwp.PrintService.

[2017-04-04 13:40] colinkiama opened #1069 "XAML edit and continue does not work in pages where UWPCommuntiyToolkit controls are referenced"
Editing or adding properties causes exception errors 90% of the time, even if they aren't the properties of custom controls from the toolkit.
![screenshot 30](https://cloud.githubusercontent.com/assets/16501024/24659438/927c1af4-1944-11e7-9ed2-2d0f5e6e0659.png)

[2017-04-04 13:41] colinkiama opened #1070 "XAML Designer refuses to load when TileControl is used"
This error shows up for me: System.TypeLoadException
Could not find Windows Runtime type 'Robmikh.CompositionSurfaceFactory.UriSurface'.
   at Microsoft.Toolkit.Uwp.UI.Controls.TileControl.LoadImageBrush(Uri uri)
   at Microsoft.Toolkit.Uwp.UI.Controls.TileControl.<OnImageSourceChanged>d__56.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtim

[2017-04-04 14:04] harvinders opened #1071 "Microsoft.Toolkit.Uwp.DeveloperTools package giving compile errors"
I get following errors during compilation when I include the latest 1.4 version.

[code]

I have tried to include this in Sample (MasterDetails) Template 10 project. I am using VS 2017 Community edition.

[2017-04-04 15:16] skendrot commented on #1069
#1023

[2017-04-04 15:17] skendrot commented on #1069
Duplicate of #1023

[2017-04-04 15:18] skendrot commented on #1023
Is there a bug link for this?

[2017-04-04 15:18] #1069 closed

[2017-04-04 15:26] deltakosh commented on #1023
I'll ask

[2017-04-04 15:27] Vijay-Nirmal opened #1072 "[DropShadowPanel] Shadow alignment was not correct for Text"
Hi,
When the text is long there is no issue, but when it is short the shadow is misaligned.
Check for yourself, Code is here.
[code]

I have attached Image for reference.

When text is short
![review](https://cloud.githubusercontent.com/assets/24755596/24664722/04f6ae44-1979-11e7-92e1-36e02f6620b4.jpg)
When the text is long
![review for movie](https://cloud.githubusercontent.com/assets/24755596/24

[2017-04-04 15:37] Vijay-Nirmal commented on #1066
Also, ReDesign the Hamburger menu to match Anniversary update.
![hmau](https://cloud.githubusercontent.com/assets/24755596/24665338/b90f9d5e-197a-11e7-9a4a-3f0f3e05baf5.jpg)

[2017-04-04 15:42] deltakosh commented on #1066
This is what I mentioned with Header and highlights

[2017-04-04 16:06] Vijay-Nirmal commented on #902
You can easy achieve Frosted glass effect by using [Blur effect](http://www.uwpcommunitytoolkit.com/en/master/animations/Blur/)
Check this code - [UWP Hamburger Menu with Frosted glass effect and Swipe to Open/Close](https://github.com/Vijay-Nirmal/UWPHamburgerMenu)

[2017-04-04 16:29] anbare opened #1073 "Toast DisplayTimestamp causes toast to fail if timestamp value includes milliseconds"
If the DateTime assigned to ToastContent.DisplayTimestamp includes non-zero milliseconds, the toast notification will fail and instead display the "New notification" notification.

This is because the generated XML looks like...

[code]

Apparently the notification platform will fail to parse if the ISO 8601 time includes more than 3 decimal places. Thus the value simply needs to be `2017-04-04T09

[2017-04-04 16:32] deltakosh commented on #1072
Hello
Fancy doing a PR to fix it?

[2017-04-04 16:37] #1036 closed

[2017-04-04 16:45] deltakosh commented on #1014
Any updates? I'll close if no news

[2017-04-04 16:51] deltakosh commented on #1067
Why don't you think we could not extend the PrintHelper to do the same?

[2017-04-04 16:52] deltakosh commented on #1067
Or even integrate your brillant work :)

[2017-04-04 16:55] deltakosh commented on #1070
I've just added a check in the LoadImageBrush to avoid doing any rendering when in designMode
You can check it in the 1.4.1 (available in preview and really soon in release)

[2017-04-04 16:55] #1070 closed

[2017-04-04 16:59] deltakosh commented on #1071
I've just shipped the 1.4.1 with a fix.

[2017-04-04 16:59] #1071 closed

[2017-04-04 17:06] #1068 closed

[2017-04-04 17:06] deltakosh commented on #1068
Fixed. Thanks for reporting!

[2017-04-04 17:09] anbare commented on #1073
Interesting piece of info is that this issue only occurs from C++ apps. C# apps seem to automatically limit milliseconds to 3 decimal places... So unless I add a C++ test project, there's no automated way to test this. Plus I'm not really sure why C++ makes this possible to happen... weird stuff... still investigating fixes, but since it only happens with C++ (and maybe JS), it's not a huge deal

[2017-04-04 17:09] deltakosh commented on #1073
I tend to agree here :)

[2017-04-04 17:13] Vijay-Nirmal commented on #1072
@deltakosh PR stands for?

[2017-04-04 17:14] deltakosh commented on #1072
Pull request :)

[2017-04-04 17:22] XamlBrewer commented on #1067
There are two issues that kept me from creating an easier reusable version of this framework:

- You need read/write/delete access to the Visual Tree to render the controls on the print pages and measure them. This is hard if you don't know how the app's UI is build up. I do think that this can be done programmatically in the current UWP version (e.g. by opening an extra app window out of sight -

[2017-04-04 17:47] Odonno commented on #902
@Vijay-Nirmal Comment the PR #986 please.

[2017-04-04 17:58] anbare commented on #1073
Actually it IS possible to run into this from all platforms... you just have to assign the Ticks property of a DateTime.

If you use the DateTime constructor and assign milliseconds via there, it limits milliseconds to at most 999 milliseconds, hence why I thought it was impossible. But DateTime.Now and assigning the Ticks themselves will allow you to create a more precise time, which is then refl

[2017-04-04 18:22] deltakosh commented on #1073
Merged thanks!

[2017-04-04 18:22] #1073 closed

[2017-04-04 18:24] deltakosh commented on #1067
1. What I did for the PrintHelper was to ask the user to provide a canvas to host the rendering. This canvas can be set offscreen or under a panel by the dev.
2. We could try a first version like this and then work on improving it in a 2nd version

[2017-04-04 19:24] skendrot commented on #1072
I can fix this. It's been bugging me for a while. @Vijay-Nirmal you can fix your implementation by setting the HorizontalAlignment of the DropShowPanel to Left

[2017-04-04 19:37] Vijay-Nirmal commented on #1072
It worked!!, Thanks @skendrot, I hope this bug with be fixed soon.

[2017-04-04 22:14] DanteGagne commented on #1023
Hey folks, I just tried this with my developer who is working on Edit & Continue, and we can reproduce the bug here.

We're investigating what makes the most sense for a fix, but the exception can be safely ignored. Everything should still work after that.

[2017-04-04 22:50] deltakosh commented on #1023
Thanks a lot @DanteGagne !

[2017-04-04 23:05] IbraheemOsama commented on #981
I will start working on the classic menu in case no one already started :)

[2017-04-04 23:13] deltakosh commented on #981
Wonderful! It's all for you:)

[2017-04-05 06:22] seymourtang commented on #1066
When the splitview is opened by  swapping the screen edge, the right  zone  should  be dark like Lightbox in html.

[2017-04-05 06:41] Odonno commented on #1066
@seymourtang You mean, a Fade effect? If that's so, I would like to use it too.

[2017-04-05 06:46] seymourtang commented on #1066
Yes.This helps us focus on the content of the show.
Thx.

Sent from Mail for iPhone
________________________________
From: David Bottiau <notifications@github.com>
Sent: Wednesday, April 5, 2017 2:41:45 PM
To: Microsoft/UWPCommunityToolkit
Cc: SEYMOURTANG; Mention
Subject: Re: [Microsoft/UWPCommunityToolkit] Add features for HamburgerMenu (#1066)

@seymourtang<https://github.com/seymourtang> You m

[2017-04-05 08:14] Odonno commented on #1014
I saw something recently. I received notifications at midnight, which seems ok because it is the scheduled time of the notification but it only works if my PC is active at a precise datetime...

I don't know if it is the expected behavior. But if that's so, I should change my code to push the notification only when the PC is active.

[2017-04-05 08:15] JSmyth886 commented on #918
Is there a bug listing or somewhere the SDK team has made public they are actually fixing this?

[2017-04-05 09:08] #1072 closed

[2017-04-05 11:14] harvinders opened #1078 "Sometime AdaptiveGridView is not adaptive enough"
I have seen this behaviour with my app also. Please see the attachment below from the sample UWPToolkit app from the store.
![adaptivegridview_issue](https://cloud.githubusercontent.com/assets/8557046/24702804/e6b8a36c-1a43-11e7-801d-ebdd256d86df.png)

[2017-04-05 11:21] Odonno commented on #1078
You should use `DesiredWidth` instead of `ItemHeight` so it will fit the entire container size/width.

[2017-04-05 12:13] harvinders commented on #1078
Are you suggesting to not set `ItemHeight` and only set `DesiredWidth`? I have done that too and still can reproduce the issue.
The example above is the sample app which has set both `ItemHeight` and `DesiredWidth`.

[2017-04-05 14:13] skendrot commented on #1078
Can you please give more details to the issue? One picture is not enough information

[2017-04-05 14:32] Odonno commented on #1078
@harvinders Yes, it works for me. Or maybe I did not understand your problem.

[2017-04-05 16:05] deltakosh commented on #918
I don't know if @IbraheemOsama was able to reach the team?

[2017-04-05 17:28] aL3891 commented on #1056
Any updates on this?

[2017-04-05 17:34] skendrot commented on #1056
Can you explain what is different from your implementation compared to ReactiveUI?

[2017-04-05 23:10] IbraheemOsama commented on #918
I reported the bug but I have no idea if they are working on a fix or not :)

[2017-04-06 08:45] seymourtang opened #1079 "How can I use PullToRefreshListView as MasterDetailsView 's Master ?"
If so, the MaterDetailsView 's items can use the method of PulltoRefresh.And but now I don't know how to DataBinding the items.

[2017-04-06 14:08] harvinders commented on #1078
@skendrot  Adaptive grid is suppose to arrange the children so as to cover all the width, at least that is the reason why I am using this grid. From the above image you can see that this is not happening.

@Odonno Can you check it with say `DesiredWidth` of 100 and the width of the container say 960.
According to the code 10 columns are to be displayed. In the `RecalculateLayout` method only when

[2017-04-06 16:51] aL3891 commented on #1056
I wasn't aware of ReactiveUI, but looking at it i can say for sure that my implementation is a lot smaller. it also does not require a special base class and no special property getter/setters. Instead each Property is its own observable with its own IPropertyChanged implementation.

From what i can gather my library has smaller scope, its not a mvvm framework, its just a set of wrapper classes fo

[2017-04-06 17:11] deltakosh commented on #1078
Do you have a bug fix in mind?

[2017-04-06 17:13] deltakosh commented on #1079
ping @skendrot  and @nmetulev

[2017-04-06 17:38] skendrot commented on #1079
Hey @seymourtang please see issue #891. The approach is the same

[2017-04-06 17:43] skendrot commented on #1078
I'm not able to see any large gaps when using the current sample app

[2017-04-06 19:43] Amrykid opened #1080 "In-App Notifications?"
What are the chances of something like @RavinduL 's [LocalNotifications](https://github.com/RavinduL/LocalNotifications) getting included in this toolkit?

![demo gif](https://github.com/RavinduL/LocalNotifications/raw/master/images/demo.gif)

EDIT:
UserVoice link: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/19022110-in-app-notifications

[2017-04-06 20:14] Odonno commented on #1080
@Amrykid It looks pretty nice. But I don't know what use cases for this. You can simply push a toast notification as it is the main purpose.

Anyway, if some people are interested to integrate it in the toolkit, we will consider adding this feature.

Please raise a suggestion on the UserVoice https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit

[2017-04-06 20:26] Amrykid commented on #1080
@Odonno There was an old [guideline](https://msdn.microsoft.com/en-us/microsoft-r/hh465391) that stated that you shouldn't use toast notifications while the application is in the foreground. I don't know if it still applies with the move to Windows 10.

[2017-04-06 20:30] Odonno commented on #1080
@Amrykid I think the guidelines are more flexible on Windows 10 and clearly toast notifications are not always the solution. I am simply questioning in what circumstances we should use the in-app notification.

Anyway, I am not able to decide if you should or should not add it to the toolkit. That's why I suggest you to create a suggestion on the UserVoice so the community can decide if it is impo

[2017-04-07 00:17] mdtauk commented on #353
Maybe the XAML team could re-engineer the Pivot control, so the Pivot Header is a discreet control, that can be used outside of a Pivot.  Then the event triggered by this PivotHeader could control the PivotItem transitions and changes.

Project Neon is a good opportunity to re-think the Microsoft controls which are distinctly Windows, and make them generic for use with Xbox, iOS, Android, etc

[2017-04-07 00:36] harvinders commented on #1078
@skendrot I believe it depends on the monitor resolution, mine was 1600 wide. Anyway, if you play with the attached XAML you should be able to reproduce it. I could not reproduce it on my surface pro. However if you try reducing the `DesiredWidth` to around 100 you should start seeing this.

@deltakosh I played a little by removing the condition `if (double.IsNaN(ItemWidth) || Math.Abs(newWidth -

[2017-04-07 02:04] mdtauk commented on #1080
Outlook Mail has an in app notification at the bottom.  So if that is considered a normal UWP pattern, any control should take it's cue from that.  Maybe a Position: TOP/BOTTOM setting

[2017-04-07 04:12] seymourtang commented on #1079
@skendrot Thanks.

[2017-04-07 07:36] RavinduL commented on #1080
@Odonno even if used while the app is in the foreground, Windows toast notifications wouldn't necessarily comply with the aesthetics of the app.

@mdtauk I've been thinking of adding a top/bottom positioning property to [SimpleNotificationPresenter](https://ravindul.github.io/LocalNotifications/html/_creating_your_own_notification.html#CreatingYourOwnNotification_AnalysisOfSimpleNotificationPresen

[2017-04-07 13:34] Vijay-Nirmal commented on #1080
It would be useful.

Use Cases

1. To Say "Restart you app to apply changes".

2. To show result of a background task Like "Successfully copied", "Can't access the internet" etc

3. To show small information Like "You got a new Article to read", "Someone has commanded to your post".

4. For sure there will be lot more use to it.

[2017-04-07 14:24] Vijay-Nirmal opened #1081 "Create a Custom RichEditBox with all the basic features Like Text Formatting, Support for Inking Like OneNote"
It is very difficult to Create a Custom RichEditBox with all the basic features Like Text Formatting, Bullets and numbering, Support for Inking Like OneNote and also to support adaptive layout, that's too much work for basic Text editing. So my opinion is to create two new controls. One is TextCanvas for Display and Editing both Text and Inking. The other is TextCanvasToolbar for Text Formating an

[2017-04-07 14:25] COM8 opened #1082 "Stretch content of PullToRefreshListView"
Hi,
I'm trying to stretch the content of a PullToRefreshListView. If I add my content without the PullToRefreshListView it stretches all the way horizontally. The following image shows my situation.

<img src="http://i.imgur.com/P2TXwou.png">

Code:
[code]

[2017-04-07 14:55] skendrot commented on #1082
Looks like you're focusing on the wrong object. Your list is in an Expander so make sure your HorizontalAlignment and HorizontalContentAlignment of the Expander is set to stretch

[2017-04-07 14:58] #1079 closed

[2017-04-07 15:41] COM8 commented on #1082
Thanks for the fast answer.
Yes, I'm stretching the Expander and its content.
If I don't use the PullToRefreshListView everything works just fine. I'm setting the parameters for the Expander in the code, that runs behind the XAML.

[2017-04-07 15:56] skendrot commented on #1082
I modified the sample app to have the following and everything works as expected:
[code]

[2017-04-07 17:11] nmetulev commented on #1081
Great suggestion @Vijay-Nirmal, and thanks for creating the user voice which we will let us prioritize the control by measuring the community interest

[2017-04-08 08:37] tipa opened #1084 "MarkdownTextBlock: Trailing closing brake in URL is not recognized as part of the URL"
Example URL: https://de.wikipedia.org/wiki/Fichtelberg_(Erzgebirge)
Renders as:
![image](https://cloud.githubusercontent.com/assets/2863198/24827257/48843836-1c47-11e7-9b1e-b80303c3e182.png)

[2017-04-08 09:52] COM8 commented on #1082
I don't have the controls:PullToRefreshListView inside of an Expander.
A list of expanders gets created in code and added to the StackPanel where it says  ;-)

[2017-04-08 13:56] skendrot commented on #1082
Ah!! You are suffering from the HorizontalContentAlignment of the  ListViewItem. Make sure you specify that it is set to stretch

[code]

I would also recommend handling adding controls via the ItemTemplate of the ListView instead of through code.

[2017-04-08 16:05] AakashSasikumar commented on #1081
Nice suggestion @Vijay-Nirmal. I'd love to see that being implemented.

[2017-04-08 18:56] COM8 commented on #1082
That's it!
Thanks!
Awesome! :D

[2017-04-08 18:56] #1082 closed

[2017-04-08 19:49] FebruaryPrince commented on #1081
Good one!

[2017-04-09 03:27] IbraheemOsama opened #1085 "Sometimes WrapPanel doesn't use full allowed space"
![wrappanel](https://cloud.githubusercontent.com/assets/6191377/24834435/3a1f6f40-1d28-11e7-871c-5da746d7457a.png)

WrapPanel sometimes doesn't consume the full width/height of parent.

[2017-04-09 07:08] Vijay-Nirmal opened #1087 "Add PullToRefresh to MasterDetailsView 'Master Panel'"
Master Panel in MasterDetailsView was intended to be used as PullToRefreshListView because It is often used for showing Collections of Emails, Articles, etc. So why not include EnablePullToRefresh as a property of MasterDetailsView.

[2017-04-09 08:59] IbraheemOsama commented on #1085
The issue occurs when I set the HorizontalAlignment="Left" of the wrap panel, most time it is working but need further investigations.

[2017-04-10 02:42] harvinders commented on #1078
This is my current understanding.
- `ItemsWrapGrid` has in-built style with  Margin of 0,0,4,4 which means that width calculation should not subtract 5 but instead read the style margin, maybe something like this
[code]

- However, this still does not fix the issue, even after removing the conditional check to update the `ItemWidth` as below, the problem still exists.
[code]
The following image sh

[2017-04-10 07:03] tipa commented on #1045
To make the image stretching even a bit more flexible, would it be possible to specify that the image shall only be scaled down if the container is too small but not scaled up if the container is big enough. You would probably have to add a viewbox wrapping the image: http://stackoverflow.com/questions/32591535/prevent-image-from-stretching-beyond-actual-size

[2017-04-10 10:54] JohnnyWestlake commented on #1078
@harvinders that's a difficult ask as ItemsWrapGrid has some complex virtualization and recycling logic contained with in it and UWP doesn't currently let us write "native" virtualizing panels, and certain ListView / GridView events rely on that specific panel or ItemsStackPanel being used, as well as grouping handling, etc.

Certainly we shouldn't be hardcoding the margin width in to the calculat

[2017-04-10 13:02] harvinders commented on #1078
@JohnnyWestlake I think you have solved the issue, setting `UseLayoutRounding = False` on the `AdaptiveGridView` solves the problem. However, if I set the Padding on the `AdaptiveGridView`, the problem comes again. Should one take into account the Padding in `MeasureOverride` and `ArrangeOverride`?

[2017-04-10 16:46] xied75 commented on #1080
Sounds like a glorified MsgBox? Very similar to FlyOut though.

[2017-04-11 09:43] TheSETJ opened #1090 "I get cast exception using Carousel"
When I set Carousel's ItemsSource to an Array, a Collection or a List I get this exception:
System.InvalidCastException: Unable to cast object of type 'System.Double' to type 'System.Int32'.
   at Microsoft.Toolkit.Uwp.UI.Controls.Carousel.get_ItemDepth()
   at Microsoft.Toolkit.Uwp.UI.Controls.CarouselPanel.GetProjectionFromSelectedIndex(Int32 childIndex)
   at Microsoft.Toolkit.Uwp.UI.Controls.C

[2017-04-11 11:19] amis92 opened #1091 "Markdown image hyperlink"
### Images as hyperlinks
Main topic is support for images in hyperlinks. Currently there is a limitation in HyperlinkButton that no InlineUIContainer can be added as content.

There already are some issues that touched up this issue:

* [Images are not fitting (...)](https://github.com/Microsoft/UWPCommunityToolkit/issues/1045)
  (added ImageStretch, stated Hyperlink doesn't support InlineUIContai

[2017-04-11 11:19] amis92 opened #1092 "Markdown image url limitations"
### Url enhancements

There is a limitation that ~~local~~ *relative-uri* images are not supported (only `http*` and `ms-app*` schemes are), introduced in de3145ae.

We could work around it by allowing developers to switch such unsupported links into some other links, e.g. because they know their location in local storage (ms-app*) - right between parsing markdown and rendering it.

I'd imagine we

[2017-04-11 14:38] alexrainman opened #1093 "Make carousel behave like FlipView"
Is it possible to make this carousel behave like FlipView? I want to have only page visible at the time and swipe to scroll to the next one. Also scroll and add/remove pages programmatically.

[2017-04-11 14:45] skendrot commented on #1093
Why does a FlipView not work for you?

[2017-04-11 16:41] anbare commented on #1014
Correct, notifications will only appear while the PC is on. And if a ScheduledToastNotification misses a delivery time by more than 5 minutes (since the computer was off), it will get deleted.

[2017-04-11 17:29] Code-ScottLe commented on #1014
@anbare Is that the reason why Alarm & Clock never works on my Surface ? I learned that the hard way lol.

[2017-04-11 17:44] Odonno commented on #1014
@anbare Ok, I will fix my code and see if it works as expected.

[2017-04-11 17:55] anbare commented on #1014
@Code-ScottLe Yep, the Alarms app has a nice warning when you use it on PC that your computer has to be awake

![image](https://cloud.githubusercontent.com/assets/13246069/24923111/644d49da-1ea5-11e7-9818-9f42f7e54f7a.png)

[2017-04-11 20:39] nmetulev commented on #1093
Agree with @skendrot, FlipView already works like this.

[2017-04-11 20:40] alexrainman commented on #1093
I already know that. My question is related to this control. It seems it cannot do what i want unless i fix it myself. Thanks

[2017-04-11 21:16] nmetulev commented on #1093
You could increase the ItemMargin to spread out the items so they are of screen and use the SelectedIndex property in code to scroll to different "pages". However, without knowing more about what you are trying to do, the FlipView sounds more like what you need than the carousel.

[2017-04-11 21:27] nmetulev commented on #1091
I agree that image in hyperlink is commonly used. ping @deltakosh to get his thoughts on complexity of this.

[2017-04-11 21:28] alexrainman commented on #1093
I wrote this plugin: https://github.com/alexrainman/CarouselView

Its being incorporated into Xamarin.Forms.Core and i was exploring the option to use your control for UWP instead of FlipView.

But, the main limitation i have is not FlipView itself, its UWP DataTemplate not supporting Func<object> as parameter, like Xamarin.Forms does and like it was in WP8, so i cannot use a TemplateSelector the

[2017-04-11 21:28] #1093 closed

[2017-04-11 21:34] deltakosh commented on #1091
The problem is that I don't know how to support it right now. MarkdownTextBlock uses RichTextBox. And so far we are using an Hyperlink control which cannot support embedded images.

I guess we can remove the hyperlink and manually create a link with a standard container.
I'll check more asap

[2017-04-11 21:36] deltakosh commented on #1092
Hello which protocol would you like to add?

[2017-04-11 21:37] deltakosh commented on #1092
Regarding you extensibility idea, do you want to do a PR?

[2017-04-11 21:37] deltakosh commented on #1090
Ping @mimetis

[2017-04-11 21:38] deltakosh commented on #1084
I'll fix it asap

[2017-04-11 22:33] amis92 commented on #1092
Oh, not a protocol. The thing is: for example I downloaded a package with readme in it, and possibly some images. These images have local URIs in markdown. Right now, I can't display them. I could, if I got access to MarkdownDocument - I'd know what to change these URIs to (ms-appdata because I know where they are locally). Well, when I thought of this scenario, another solution came up:

What if

[2017-04-12 06:53] Mimetis commented on #1090
Hi. Can you send us sample reproducing the bug ?

[2017-04-12 13:51] kogul commented on #1081
Had been working on this lately, but it's difficult to implement. Great effort.

[2017-04-12 14:09] TheSETJ commented on #1090
Here it is: https://github.com/TheSETJ/Carousel @Mimetis

[2017-04-12 17:22] nmetulev commented on #1092
Hey @amis92, are you referring to relative path URIs?

[2017-04-12 18:40] amis92 commented on #1092
Yeah, relative. That's the word. Sorry for confusion :D

[2017-04-12 19:26] skendrot commented on #1087
While the default MasterDetailsView does not use the PullToRefreshListView you can accomplish this within your apps. See #1079

@deltakosh Do you think we should add this to UserVoice?

[2017-04-13 02:03] deltakosh commented on #1087
not sure this is worth it. But at the same time it does not hurt to see what community thinks

[2017-04-13 02:49] anbare commented on #1080
Although keep in mind if you're showing your own notifications inside your app, you should also have a location in your app where people can see those notifications in case they weren't able to tap your temporary popup notification within 5 seconds.

And for consistency purposes, you'd probably want similar styling of your own notification list and your own popup notifications. So a generic in-app

[2017-04-13 04:36] nmetulev commented on #1092
No worries. Having a RelativeURIPrefix seems like a nice and quick solution. Code freeze for next release is in 4 weeks,, let us know if you could do a PR before then :)

[2017-04-13 04:36] h82258652 commented on #1080
something like ```Toast``` in android?

[2017-04-13 06:47] Vijay-Nirmal commented on #1087
@deltakosh Whenever people use Master Panel they use PullToRefresh because usually the ListView in Master Panel is dynamically changing, so it would be really helpful if you include PullToRefresh as a property to take care of all this. It would save the user a lot of time and effort.

[2017-04-13 08:17] Mimetis commented on #1090
Thx ! Will take a look asap :)

[2017-04-13 08:57] Mimetis commented on #1090
Nice catch !
There is a bug when you don't set explicitly the **ItemDepth** property. Will fix it for the next version.
A possible workaround is to set the **ItemDepth** in your XAML or .CS file.
Something like this :

[code]

[2017-04-13 10:02] TheSETJ commented on #1090
Wow. I thought that's something with ItemsSource. By the way, thanks. I confirm that it works by setting ItemDepth.

[2017-04-13 10:02] #1090 closed

[2017-04-13 15:38] madenwala opened #1094 "ImageEx.IsCacheEnabled is not a DependencyProperty"
ImageEx.IsCacheEnabled is not a DependencyProperty which prevents you from being able to set IsCacheEnabled in a Style within a resource dictionary.  This prevents me from being able to globally enable all ImageEx instances to have this property set to True.  Also would be nice if the default value for this was True instead of False.

[2017-04-13 15:39] madenwala commented on #1094
See line 134:  https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageEx.Members.cs

[2017-04-13 15:40] deltakosh commented on #1087
I understand. Let's create an Uservoice entry then :)

[2017-04-13 15:46] madenwala opened #1095 "Request for a "PullToRefresh" Content Control"
It's great to have a PullToRefresh control based on a ListView control but what about when your page has more than just a single ListView? As in, you have a lot of UI that composes the page in addition to a list control.  Or what if you want this for a GridView?  It would be super useful to have a PullToRefresh control based on content control so you can put whatever you want into the body and sti

[2017-04-13 15:55] skendrot commented on #1095
I like this way more than limiting to just a ListView! Not sure how other platforms work, but I've been working with Ionic and they have something similar. Just place a [ion-refresher](http://ionicframework.com/docs/v1/api/directive/ionRefresher/) in your template and you get the pull-to-refresh functionality

[2017-04-13 22:54] Duranom commented on #413
Some of those and maybe a few other types would be a welcoming addition to the toolkit especially one where you can do AND / OR / XOR / NOR / NAND. Though perhaps having it provided as a separate nuget is handy in case you do not need all the special views like with simple B2B uwp apps, dowloading the main toolkit of course pulls the triggers one in by default.

Always annoying to remake them your

[2017-04-14 02:06] Vijay-Nirmal commented on #1087
@deltakosh I have created a [UserVoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18934624-add-pulltorefresh-to-masterdetailsview-master-pan)

[2017-04-14 02:40] nmetulev commented on #1095
Sounds like a great idea, and it be great to see what the community thinks. Could you create a [uservoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit)?

[2017-04-14 02:44] nmetulev commented on #1094
ping @hermitdave

[2017-04-14 02:45] nmetulev commented on #1094
Also, @madenwala , feel free to submit a PR for this

[2017-04-14 02:49] nmetulev opened #1096 "Carousel: Add default value for ItemDepth"
Re: #1090

[2017-04-14 02:51] nmetulev commented on #1090
I created a new issue to track this #1096

[2017-04-14 03:23] nmetulev opened #1097 "TextBoxMask: Setting text in code (TextBox.Text) when mask is applied does not work"
Repro
[code]

[code]

[2017-04-14 06:52] hermitdave commented on #1094
@madenwala it doesn't make sense for IsCacheEnabled to be a dependency property. The cacjing decision is made during image load when source is set.

Making it dependency property means having caching independently. You cash already do this by using ImageCache if you wish

[2017-04-14 11:19] TheSETJ opened #1098 "Carousel: Auto sizing issue"
When I put Carousel in a **Row**/**Column** which its **Height**/**Width** is set to **"Auto"**, I get following exception:

[code]

If I set **Height** and **Width** (or **MaxHeight** and **MaxWidth**) of Carousel, or if I put it in a fixed size **Row**/**Column** it will work. But in my case, I can't achieve my design with these options.

Here is my test project Github: [https://github.com/TheSE

[2017-04-14 16:13] nmetulev commented on #1098
ping @Mimetis

[2017-04-14 16:23] madenwala commented on #1094
Maybe I am not using the control correctly but currently I'm seeing that images set to the source property don't get saved to the temporary folder until I set IsCacheEnabled = true and I do this right now in XAML on EACH instance of the ImageEx in my XAML.  I'd like for caching of these images to turned on globally in my app hence why I tried to create a Style that targets ImageEx but I get a comp

[2017-04-14 16:30] madenwala commented on #1095
Done:  https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18939733-i-want-a-contentcontrol-that-has-pull-to-refresh-c

[2017-04-14 16:34] nmetulev commented on #1095
Thanks

[2017-04-14 17:08] deltakosh commented on #1091
Actually it more complex than expected.
Hyperlinks are created here:
https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/Display/XamlRenderer.cs#L853

The link is then used to hook the Click handler and link.inlines is used as a container. This is where the problem is: hyperlink can only contains text and not images.

I tried to use a Span

[2017-04-14 18:53] #1084 closed

[2017-04-14 21:16] Pinox commented on #894
This is probably one of the biggest disadvantages of UWP apps over browser tabs.  Users like to open articles / pictures in different tabs and although I understand there is a native api for tabs in UWP it's not often used in desktop UWP apps.  One of the reasons many people prefer websites over native apps is exactly this feature especially on the desktop.

would be great to see this feature in t

[2017-04-14 21:44] Odonno commented on #894
@Pinox Yeah. Definitely. I heard that Microsoft teams are working to add a native Tabbed control to UWP apps. So, maybe we only have to wait to be able to use it.

Otherwise, I do not have time to work on this control. If someone feels brave and have time, just do it.

[2017-04-14 21:44] hermitdave commented on #1094
Okay i personally never considered this. Please feel free to change it to dependency property and push a PR.

Agree with @nmetulev this can and should be fixed.

[2017-04-15 10:00] WilliamABradley commented on #277
@JohnnyWestlake If the control can be restructured with Borders, but at the cost of Functionality, could a Second Control be created called something like RoundedImageEx, and shared code moved into a Base Class?

[2017-04-15 10:36] Depechie commented on #627
Improved the PR, but VisualStates seems not possible. Did several other changes as requested :)

[2017-04-15 18:48] niels9001 opened #1102 "RadialGauge: IsInteractive=true also fires item selected event when in ListViewItem"
I'm using the RadialGauge within a ListViewItemTemplate. It's also set to IsInteractive=true.

Whenever the user uses the RadialGauge it works, but after releasing the mouse/touch it also fires the item selected event of its parent, the listview.

I have already tried to put e.Handled = true for all the Manipulation/Tapped events but that didn't do anything.

Any thoughts?

[2017-04-16 00:40] WilliamABradley commented on #1013
I did made this with #1100

[2017-04-16 00:51] haefele commented on #1092
I have another idea: Why not make it possible to resolve the image yourself.

Right [here](https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/Display/XamlRenderer.cs#L915), there is always a BitmapImage created with a URL.
But if we provide a event, you can resolve the image yourself!

I have something like this in mind:

[code]

[code]

[2017-04-16 01:08] bvillersjr opened #1103 "Grey and Dark Grey Are Reversed In The Hamburger Menu Demo"
Dark grey is a lighter shade than grey when choosing from the hamburger menu demo combobox.

[2017-04-16 01:17] deltakosh commented on #1092
excellent idea! Here is what we can do: do not restrict monikers. If images can be directly load this is fine. We can then add an onerror handler on images and call the event you mentioned

[2017-04-16 08:47] haefele commented on #1092
Sounds good! What about the name? **ImageLoadingFailed** ?!
I would create a PR once we have a good name for it.

[2017-04-16 10:33] JSmyth886 commented on #918
I got some word back that it might be fixed in OS build 15063. Upon testing my own TextChanging issue it seems to be fixed.

[MSDN question](https://social.msdn.microsoft.com/Forums/windowsapps/en-US/ae642102-4f9f-4d38-a003-7414f23c6dde/uwp-textchanging-event-plus-fast-typing-crashes-the-app?forum=wpdevelop#ae642102-4f9f-4d38-a003-7414f23c6dde)

[2017-04-16 11:17] Vijay-Nirmal commented on #1081
@nmetulev Any plans of making it? I asked in [StackOverFlow](http://stackoverflow.com/questions/43293731/how-to-create-a-richeditbox-with-support-for-inking-like-onenote) but no one knows how to do it. In [UserVoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18869671-create-a-custom-richeditbox-with-all-the-basic-fea) it reached 25 upvotes. So I hope may are

[2017-04-16 12:16] liakamp commented on #1103
these are the actual colors of Gray and DarkGray brushes, and yes the DarkGray (#FFA9A9A9) is lighter than Gray (#FF808080) - but it is darker than LightGray

[2017-04-16 12:41] amis92 commented on #1092
That's definitely a more generic solution, I like that. I'd prefer something other than "Failed" suffix, but have no better idea, so. :)

[2017-04-16 16:11] Odonno commented on #1103
@liakamp Sorry, but I don't see where the bug is. The colors are taken from the .NET framework.

[2017-04-16 16:16] Odonno opened #1104 "Search button does not open Hamburger Menu pane in sample page"
In the demo of the Hamburger Menu (in the control list), the search button does not open the Hamburger pane so we can type the search word.

[2017-04-16 16:17] liakamp commented on #1103
I mean that there is no bug, just replying to @bvillersjr that it is not an issue, they are not reversed

[2017-04-16 16:21] Odonno commented on #1103
Ok then. I will close the issue.

[2017-04-16 16:21] #1103 closed

[2017-04-16 19:44] nmetulev commented on #1102
ping @XamlBrewer

This might be a similar issue we had with the SlidableListItem, the fix might be similar (#316)

[2017-04-16 19:47] nmetulev commented on #1104
I can repro this as well, ping @deltakosh

[2017-04-16 20:01] nmetulev commented on #1092
I think it's a great idea. I do also see worth in having the method be more of an override rather then onError as that will also allow other scenarios to work (such as choosing what images to show in different scenarios), but I've never had a need for either one :)

[2017-04-17 09:15] SuperJMN commented on #773
I'm getting this one again! Under Windows 10 Creators Update

Steps to reproduce:

1. Create New Proyect => Universal Windows Platform
2. Target Windows 10 build 10586 (Minimum version, the same).
3. Add a HeaderedTextBlock to MainWindow.xaml
4. Run

You should get:

![image](https://cloud.githubusercontent.com/assets/3109851/25084780/b78324ea-235e-11e7-82a6-0587dc4abeb8.png)

![image](https://clo

[2017-04-17 17:01] nmetulev commented on #773
Tried to reproduce with your steps but no such luck. Do you have a repro you can share?
![image](https://cloud.githubusercontent.com/assets/711864/25096341/b004327c-2354-11e7-9d7e-f2d7ddfb139e.png)

[2017-04-17 17:03] SuperJMN commented on #773
Are you trying on Windows 10 Creators Update?

[2017-04-17 17:07] deltakosh commented on #773
Are you using the nugets or with the source code?

[2017-04-17 17:10] nmetulev commented on #773
Great question. I used the nugget on 15063 Creators Update)

[2017-04-17 17:23] SuperJMN commented on #773
The only thing I can think of that you could have forgotten is the Target in the project, that should be 10586.

Anyways, I'm reinstalling W10 Creators Update and VS 2017. I will try to reproduce the problem on a freshly installed system.

[2017-04-17 17:24] SuperJMN commented on #773
OK. I have seen that you set the target. Sorry. I will see if reinstalling everything solves the issue.

[2017-04-17 17:49] awkoren opened #1106 "Range selector broken on 15063"
With the latest update, range sliders don't seem to align properly. Occurs in both existing projects and file -> new projects containing only the range slider.

Windows version: 15063.138
VS version: 15.1 (26403.3)

Screenshots:
![image](https://cloud.githubusercontent.com/assets/2568073/25097921/5d335ca6-235b-11e7-9827-c3128855faca.png)
![image](https://cloud.githubusercontent.com/assets/2568073/

[2017-04-17 18:13] Odonno commented on #1106
@awkoren It is working for me. Using the same version of Visual Studio and Windows 10. Can you share the code you use?

[2017-04-18 06:41] XamlBrewer commented on #1102
I'll take a look at it.

[2017-04-18 14:23] WilliamABradley opened #1107 "Markdown Text Editor"
I have written a small Markdown Toolbar that has buttons that modify a RichEditBox's Content, modelled after the functionality of the GitHub Markdown Editor, however, it currently only has a subset of the features of Markdown as I am using it for a Trakt.TV comments section, which only uses a small subset of the Markup.
Implementing the rest of the set would be a simple task with the Helper Method

[2017-04-18 17:08] awkoren commented on #1106
Code was just file -> new -> install nuget pagkage -> add the control to mainpage.xaml.

Looks like @liakamp has a fix. Thanks!

[2017-04-18 17:56] liakamp commented on #1106
@awkoren if you want a quick fix for now just add Height="24" to the range selector until this is fixed/merged

[2017-04-19 03:54] #1106 closed

[2017-04-19 03:55] nmetulev commented on #1107
Thanks for suggesting this. Just to clarify, the toolbar allows editing markdown text, not rich text? If so, wondering if it could also have an option to do rich text editing (re: #1081)? If so, we could potentially have one control that supports both

[2017-04-19 04:07] WilliamABradley commented on #1107
Hi there, the toolbar only allows editing Markdown Text, although it could probably be easily modified to also accept Rich Text, but I have no need for Rich Text.

[2017-04-19 04:19] nmetulev commented on #1107
That makes sense. I'd love to see what other contributors think about using this as a starting point to a unified toolbar control for editing both RTF and markdown in a RichEditBox. I'd also love to see what the control looks like right now (code wise)?

[2017-04-19 04:22] nmetulev commented on #1081
There is obviously interest in the control. We are evaluating if this is something that could be done by next release. #1107 could be a good start for this.

[2017-04-19 08:20] Vijay-Nirmal commented on #1107
My opinion is to create unified toolbar control for editing both RTF and Markdown in a RichEditBox. It will reduce the number of controls for the same purpose. We can easily archive Previewer with the existing tools.

[2017-04-19 14:17] Paradoxon101 opened #1110 "Version 1.4.1 TileContent with TileBackgroundImage not working any more"
After an update from version "Microsoft.Toolkit.Uwp.Notifications": "1.4.0" to version "Microsoft.Toolkit.Uwp.Notifications": "1.4.1" the class TileContent no longer works.

The Tile simply remains empty. No BackgroundImage and no text content.

[2017-04-19 15:52] nmetulev commented on #1110
ping @anbare

[2017-04-19 19:08] seanmcr opened #1111 "DropShadowPanel should listen to SizeChanged events on its casting element"
Today it's possible for the DropShadowPanel's Content/casting element to change sizes without triggering an update to the shadow size...for instance, consider a DropShadowPanel whose HorizontalContentAlignment is set to Left, and then sometime later its HorizontalContentAlignment is changed to Stretch.  In that case, the content's size will change, but DropShadowPanel.SizeChanged might not fire.

[2017-04-19 21:48] anbare commented on #1110
Hey @Paradoxon101, can you share more info about your setup?

1. What SDK are you targeting
2. Can you repro the issue in a new project?
3. Does this happen on Desktop, Mobile?
4. What build are you running on the device that the issue occurs on?

To verify whether the problem is with the Notifications library, or with Start/Windows itself, you can do the following...
[code]

That'll output a stri

[2017-04-19 22:44] WeidongShen opened #1112 "ArgumentOutOfRangeException for ConnectionInformation.UpdateConnectionInformation()"
From the developer dashboard (dev.windows.com), I recently noticed one crash log as follows:

STOWED_EXCEPTION_System.ArgumentOutOfRangeException_80131502_EzPodder.dll!$12_Microsoft::Toolkit::Uwp::ConnectionInformation.UpdateConnectionInformation

0	SharedLibrary	$0_System::Collections::Generic::List$1_System::__Canon_.Insert	0x79
1	SharedLibrary	$0_System::Collections::Generic::List$1_System::__C

[2017-04-19 22:51] WilliamABradley commented on #1081
The TextToolbar I created in #1109, has the capability to support Rich Text Format, it just has to be implemented

[2017-04-20 07:42] Paradoxon101 commented on #1110
Hey @anbare, sure here are more infos:

1. C#

[2017-04-20 10:16] Paradoxon101 commented on #1110
The outputted XML is the same in both versions (1.4.0 and 1.4.1).
If i update my nugets to the following Versions:
    "Microsoft.Toolkit.Uwp": "1.4.1",
    "Microsoft.Toolkit.Uwp.Notifications": "1.4.1",
    "Microsoft.Toolkit.Uwp.UI.Controls": "1.4.1"
the Tile update no longer works.

If i rolle back, all works fine.
No single line of code has been changed!

[2017-04-20 17:27] Code-ScottLe commented on #1066
Should the Hamburger Menu remembers the default state that it was on before expanding? Like on Mobile, If i expand the menu (due to the pane is completely collapsed), I have to click outside of the hamburger to get it go away (after clicking an item on it of course).

Something like "returning to previous state" after click event would be nice.

[2017-04-20 17:40] avknaidu opened #1113 "MarkdownTextBlock Parsing Failed"
While moving the common Properties that i use for `MarkdownTextBlock` to Page.Resources, I noticed that if I use the Property in `Setter` for TargetType `MarkdowmTextBlock`, It throws a `Xaml Parsing failed` error.

I have also uploaded a sample [Here](https://github.com/avknaidu/ToolkitIssues) to replicate the problem.

![capture](https://cloud.githubusercontent.com/assets/6171200/25244409/9b4577

[2017-04-20 18:01] Odonno commented on #1066
I think I know what you mean. And the fix is pretty simple. But of course, if it can be included as a property, it could save some more lines for each Hamburger Menu we use.

Here is an example of how I achieved this :

[code]

And yes, it is mainly used on Mobile.

[2017-04-20 19:13] anbare commented on #1110
Interesting that the XML is the same, that's implying it might be a platform issue.

Have you verified that the TileUpdateManager Update() method is getting called? Maybe an exception is occurring before that gets called?

[2017-04-20 19:16] Code-ScottLe commented on #1066
@Odonno The hambuger menu has 3 state, Fully Collapsed / Partially Open and Fully Open. I tend to use Partially Open for Surface-size device. I mean, right now I'm handling this just like how you are doing above from the code behind. But should this thing get baked in as one of the configurable behavior?

[2017-04-20 20:19] Odonno commented on #1066
@Code-ScottLe I think you misunderstand the behavior of the HamburgerMenu in this context. In fact, the Windows 10 HamburgerMenu copied the SplitView design that handle 4 `DisplayMode` :

* Overlay
* Inline
* CompactOverlay
* CompactInline

There is only two state : Opened or Closed. But in each display mode, these states changed like that :

* Overlay
    * Closed = totally hidden
    * Opened =

[2017-04-20 21:27] Code-ScottLe commented on #1066
I have mobile as "Overlay", Surface as CompactInline and PC with CompactInline already opened.

With the adaptive design of using adaptive trigger now, it would be weird to have the window resized on the PC behave different than phone. Right now, i'm handling all of them based off the Visual State that i'm in from the code behind. It works, but not the cleanest code imo. Just putting it out there.

[2017-04-20 21:43] Odonno commented on #1066
@ScottIsAFool Yes. Clearly, the AdaptiveTrigger should not be used for this case. It should be based on the Platform (only defined at runtime) and not by Window size (redefined at anytime).

Anyway, I don't see why you need code behind for this. You can handle it with a VisualStateTrigger.

[2017-04-21 02:55] nmetulev commented on #1113
ping @deltakosh

[2017-04-21 03:01] nmetulev commented on #1112
Not sure if swallowing the error is the right thing to do here. ping @hermitdave

[2017-04-21 03:05] nmetulev commented on #1111
Hey @seanmcr, could you share a repro of this behavior?

[2017-04-21 05:40] edwinvandriel commented on #186
I have pull request #1101 with two attached properties to extend the ListViewBase with an AlternateRowColor and AlternateRowItemTemplate.
Hope someone will review the pull request soon.

[2017-04-21 08:34] hermitdave commented on #1112
Maybe a better solution would be to do this
[code]

[2017-04-21 11:16] Odonno commented on #1014
Ok, it seems that using a regular ToastNotification and not the scheduled one works better for me.

Thanks for your help.
Sorry for the inconvenience.

[2017-04-21 11:16] #1014 closed

[2017-04-21 11:20] SuperJMN commented on #773
Still happens!

![captura](https://cloud.githubusercontent.com/assets/3109851/25275358/2abe0180-2695-11e7-823a-5d6ea24be1ac.PNG)

This is in a Freshly Installed **Windows 10 Creators Update** and VS 2017 (updated to latest, too). Please, reproduce it in the attached solution => [UWPToolkitIssue.zip](https://github.com/Microsoft/UWPCommunityToolkit/files/946870/UWPToolkitIssue.zip)

[2017-04-21 13:37] Paradoxon101 commented on #1110
I verified that the TileUpdateManager Update() method is getting called, by using the Visual Studio debugger.
Now the Tile update works with the 1.4.1 Version.
No single line of code has been changed!

Sorry, but i think, the bug is here in Visual Studio or Windows 10 itself :(

[2017-04-21 13:38] SuperJMN opened #1115 "How to use MasterDetailsView from XAML?"
I have this XAML that binds the MapFunction to a Func<object, object> property in my ViewModel:

[code]

Unfortunately**, it throws saying that the value cannot be assigned**.

I would like to use this mapping function to convert a Template (in the master) to a Document (in the detail), so doing it in code-behind would be harmful to the separation-of-concerns, since I'm applying MVVM.

How is the

[2017-04-21 14:43] WilliamABradley commented on #1115
@SuperJMN Are you trying to create the Template which is used for MasterDetailsView?
E.g.
[code]
???
I'm not sure what the PropertyName is exactly, but that is how I do it for MVVM.

[2017-04-21 14:44] Odonno commented on #1107
@WilliamABradley I don't see why you need FontAwesome. I found there is a list icon in MDL2 Assets, and even in Segoe UI. Here is one possible icon you can use :

![image](https://cloud.githubusercontent.com/assets/6053067/25282751/b396e10e-26b1-11e7-9570-bc892ae11522.png)

[2017-04-21 14:49] Odonno commented on #1115
I don't think that `MapDetails` is a DependencyProperty for the MasterDetailView control.

What you're trying to do is to assign a `DetailsTemplateSelector``that does not exist for the moment, isn't it?

[2017-04-21 14:49] WilliamABradley commented on #1107
@Odonno there is a List Icon, but not a Numbered List Icon. Perhaps one could be created, by combining Assets and Paths, but I don't have the Experience to Create such a thing and Use it as an IconElement.

[![Capture.png](https://s20.postimg.org/yv7kn6m6l/Capture.png)](https://postimg.org/image/4drpvmytl/)

OneNote has one, and I was sadly disappointed that I found out but giving myself permissio

[2017-04-21 14:54] Odonno commented on #1107
@WilliamABradley Oh sorry, I thought it was about unordered list. Mea Culpa.

But again, I don't think where the problem is. You have icons for numbers from 1 to 16. That should be enough for a start, no?

![image](https://cloud.githubusercontent.com/assets/6053067/25283164/18258b60-26b3-11e7-8792-681822a80812.png)

[2017-04-21 15:00] WilliamABradley commented on #1107
@Odonno I'm open to suggestions, Is it possible to create one from taking a Template of IconElement and Creating Custom XAML with these Assets?

If so, I will give it a go in the morning. I am more than happy to drop the dependency on FontAwesome as the font sticks out as being to thick.

[2017-04-21 15:20] Odonno commented on #1107
@WilliamABradley Here is how to do it :

[code]

You will need to copy the value of the icon you want. So, for example, the number 1 icon will be :

[code]

I hope it can help you.

[2017-04-21 15:26] WilliamABradley commented on #1107
@Odonno  I'm aware of that, but all of this will need to be used inside of an AppBarButton, so I will need to use an IconElement, hopefully I can create my own IconElement Subclass to create the Numbered List Visual.

[2017-04-21 16:01] #1112 closed

[2017-04-21 16:06] SuperJMN commented on #1115
Sorry, it's not that I want to set any template (DataTemplates). I used that name because I have a class in my model that is named "Template". What I'm asking here is what's the intended use of the MapDetails.

I haven't seen any example. Why can it be useful?

[2017-04-21 16:25] Odonno commented on #1115
@SuperJMN I really don't know. From the comment I read, the function takes an input (the object in Master collection) and an output (the DataContext that will be used in the Detail Template).

[2017-04-21 16:55] nmetulev commented on #1115
The MapDetails property can be used to map between 2 different models. You might have a model that only contains the properties necessary to be shown in the master view, and a different model to be shown that has more details in details view. For example, you might have a model for a news item that shows title and short description in the master and in the details you might have a model that loads

[2017-04-21 17:51] nmetulev opened #1117 "MasterDetailsView: Setting background to transparent causes Master and Detail view to overlap in narrow view"
When in narrow view and clicking on an item in master view, the details view shows up on top of the master view and they overlap. Expectation is that the master view should be hidden
![image](https://cloud.githubusercontent.com/assets/711864/25289889/5e897e46-2680-11e7-957d-5fbfdce617ca.png)

[2017-04-21 17:51] nmetulev commented on #1117
ping @skendrot

[2017-04-21 17:52] SuperJMN commented on #1115
OK, but I understand that this property should be set from the ViewModel, not from code-behind, shouldn't it?

Could you give an example of it using MVVM?

[2017-04-21 17:53] skendrot commented on #1117
We could probably put a delay on when the view is hidden. The reason I didn't hide it was to show the details content to move over the master content

[2017-04-21 17:53] skendrot commented on #1117
Is there a reason you **need** a transparent background? Showing some image in the back or something?

[2017-04-21 17:55] nmetulev commented on #1117
Exactly, an example is where MasterDetailsView is within a frame of the HamburgerMenu and it contains a global background behind the frame

[2017-04-21 18:01] nmetulev commented on #1115
as @Odonno mentioned, MapDetails is not a dependency property, so what you are trying to do won't work. The code behind for your view could call the mapping function from your viewmodel if it exists and that would still work.

[2017-04-21 18:04] skendrot commented on #1115
You can do the following:

xaml:
[code]

code behind:
[code]

It's ok for your view to know about your view model. If you don't want it to know about the concrete type, you can put an interface behind it.
Putting your viewmodel type on your view can also help speed up binding by using x:Bind instead of Binding

[2017-04-21 18:08] SuperJMN commented on #1115
Excuse me, but I find it far more interesting to make it a Dependency Property to enable binding. The view should not be tightly couples to the model. I wouldn't want to convert between models in a view's code-behind. At least, in terms of MVVM.

[2017-04-21 18:16] skendrot commented on #1115
You had asked how you could accomplish it today, right?
Changing thinking with respect to views and viewmodels also gives you faster binding by using x:Bind.

[2017-04-21 18:18] skendrot commented on #1117
If you need to see a background image then the only way to allow for that is to remove the master view before the details transitions. I personally think that looks pretty bad for a transition and wouldn't want to make that the default behavior...
Thoughts?

[2017-04-21 18:40] Odonno commented on #1115
By the way, I don't use this control a lot but I expected to use a `Dictionary<object, object>` instead of a `Func<object, object>`. So, we could define a `Dictionary<MasterModel, DetailsModel>` in the ViewModel for example.

[2017-04-21 18:47] skendrot commented on #1115
The reason it is a method was that you may want to lazy load your model to show for details. It was also discussed if the method should be Task returning if you wanted to make an async method

[2017-04-21 20:48] nmetulev commented on #1117
Yeah, I see your point and I agree. Can the animation be customized in the template by restyling it? If so, that might be the way to go here for developers.
Also, just an idea, the SplitView has the same issue in Overlay mode when the pane is transparent, but it has different display modes, so maybe we can do something similar here?

[2017-04-21 21:01] skendrot commented on #1117
The animation is handled in the template so restyling should work. The MasterDetailsView does have a [ViewState](https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/MasterDetailsView/MasterDetailsView.Properties.cs#L227) property for what state it is in.

[2017-04-22 21:46] Odonno commented on #413
@dotMorten @deltakosh Can I try a PR? I don't think it is complicated so I would like to know if we are still ok to do this.

[2017-04-22 21:52] dotMorten commented on #413
The And/or/xor/nor/nand ones are the ones I definitely don't think should be moved over. I get these are the most useful, but it is also the ones causing the most problems because they don't work with the platform ones. Still trying to push the Windows Platform team to add what's needed at a base level to enable these type of scenarios better (Hey reminder to @timheuer regarding raising a notifica

[2017-04-22 22:03] Odonno commented on #413
Yes, I see. But in some cases, it think it could be useful to be able to use `DeviceFamilyStateTrigger` and `NetworkConnectionStateTrigger`.

I don't think it will be used really often but I already used each of them once.

[2017-04-23 11:51] SuperJMN commented on #773
Ping! Anyone?

[2017-04-23 15:12] Amrykid commented on #1080
Created the UserVoice: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/19022110-in-app-notifications

[2017-04-23 23:22] Duranom commented on #413
The only problem with the composite trigger I had was that you cannot use any trigger inside of it as you need to implement ITriggerValue and thus wrap others, then again I always wondered why the UWP team never changed it to something like that or to require an abstract class. For more flexible implementation the whole interface would have to be removed and somehow check through code bind. With t

[2017-04-24 06:41] mrueedi opened #1120 "Xaml Internal Build Error just after adding the library via Nuget"
Failing Steps in my Windows 10 UWP app:
1 Just added Microsoft.Toolkit.Uwp.UI.Controls 1.4.1 via NuGet
2 Rebuild solution
3 Resulting error (totally only two lines in the Build output window):
   1>------ Build started: Project: MyProject, Configuration: Debug x86 ------
   1>C:\Program Files (x86)\Windows Kits\10\bin\10.0.14393.0\XamlCompiler\Microsoft.Windows.UI.Xaml.Common.targets(347,5): Xaml

[2017-04-24 11:26] tipa opened #1121 "Microsoft.Toolkit.Uwp.Notifications: Allow setting an image for ToastButtonSnooze & ToastButtonDismiss"
It looks like this is supported by the system but there is no way to set an image via code to those button types

[2017-04-24 13:17] DkmS1953 opened #1122 "Incompatibility with the package UWPCommunityToolkit"
Hi, guys.
Two package "UWPCommunityToolkit" and "Syncfusion Essential Studio" are incompatible with each other.
The incompatibility occurs when you try to build the application in Release mode-compiler "not enough memory" when there are more than 11 Gb free RAM.
In the attached archive - solution with the demonstration described effect. Application originated from a demo application UWPCommunityTo

[2017-04-24 14:23] avknaidu commented on #1113
ping @deltakosh @nmetulev I dug a few more steps and found out it throws an error `Key/Name` Not found when i set a style to `MarkdownTextBlock`.

[2017-04-24 14:45] Mimetis commented on #1098
Thx (again :) ) for the feedback.
I made a couple of changes to correct this issue.
By the way, in your sample, you set a Width to Auto. This way, the Carousel control will take all the Width HE needs, expanding the Grid outside the boundaries of your control.
I strongly suggest you to set an "*" Width to be sure the Carousel take all the space allowed by the Page

[2017-04-24 17:05] nmetulev commented on #1120
Hey @mrueedi, can you share your OS version, build number and architecture, VS version and what sdk you are targeting?

[2017-04-24 17:06] nmetulev commented on #1121
good suggestion. ping @anbare

[2017-04-24 17:51] #827 closed

[2017-04-24 18:03] nmetulev commented on #1122
This seems to be a an issue with .net native (I ran into similar issues with syncfusion and other 3rd party libraries - no toolkit reference). However, I was able to use their [nuget](http://nuget.syncfusion.com/package/universalwindows) packages with the toolkit without any issues, so I'd recommend using those.

I'll report it to the .net native team to get their thoughts on this.

[2017-04-24 18:56] mrueedi commented on #1120
Thanks for the reply, my OS is 64-Bit Windows 10 Pro, 1607, 14393.1066, VS 2015 Enterprise, 14.0.25431.01 Update 3.
The question about the targeted SDKs was the hint, to try removing (presumably no longer used) packages. And voila, now it works! So thanks for guiding me in the correct direction! This is not a defect.
B.t.w. the SDK, that caused the issue was BehaviorsXamlSDKManaged. After removing

[2017-04-24 20:23] Pinox opened #1123 "Feature : Pin to Desktop"
Would be nice to add a "pin to desktop icon" as many users don't know that you can drag a start menu app to the desktop and as we know finding the root of an UWP app is way too complicated to create a shortcut on the desktop.

Would obviously be only useful in the desktop environment but I think it would be a nice addition.

[2017-04-24 20:46] Odonno commented on #1123
@Pinox I don't think there is a way to create a desktop icon for and from a UWP app. So, it must be a question regarding the W10 SDK and not the Toolkit.

[2017-04-24 21:26] madenwala commented on #1094
Pull request created:  https://github.com/Microsoft/UWPCommunityToolkit/pull/1124

[2017-04-24 22:56] WilliamABradley commented on #1107
@nmetulev The Markdown side of the TextToolbar is feature complete. If you (Or find someone who does) want to continue with implementing the RTF side, it is ready. I have added some rudimentary code for RTF such as Bold, Italics, Etc., however, it still lacks most of the features, and also Bold, Italics, Etc, aren't aware of the formatting, if you move the selector. You can find it at #1109.

[2017-04-24 23:00] WilliamABradley commented on #1107
@Odonno I realise now that you were confusing the symbol shown in the output Text, with the actual icon of the button (Which is what I was talking about). I have now created the Icon for the Toolbar using XAML, (set into the Content Property of the ToolbarButton).

[2017-04-24 23:15] WilliamABradley opened #1125 "MarkdownTextBlock doesn't support Multi-Line Formatting"
I discovered while working on #1116 that the MarkdownTextBlock will not format text when symbols are used across multiple lines, such as,
[code]

Should produce
**Line 1
Line 2
Line 3**

**However**,
it just ends up printing the asterisks straight to the screen:
[![Capture.png](https://s20.postimg.org/4q1nlllfx/Capture.png)](https://postimg.org/image/qp828t2a1/)

[2017-04-25 04:02] nmetulev commented on #1123
Agree, there is already a feedback item for this on [user voice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18005947-pin-tiles-to-desktop) for UWP development.

[2017-04-25 04:02] #1123 closed

[2017-04-25 04:09] nmetulev commented on #1125
Not sure if bug or per design. ping @deltakosh

[2017-04-25 04:10] deltakosh commented on #1125
It is by design :)

[2017-04-25 04:13] WilliamABradley commented on #1125
@deltakosh GitHub and http://dillinger.io/ and http://markdownlivepreview.com/ all seem to think this is valid Bold Text? Would it be possible to have a Property to enable this as Valid Markup?

[2017-04-25 04:14] nmetulev commented on #1120
That's great, glad it worked out. Thanks for letting us know. I'll close this out.

[2017-04-25 04:14] #1120 closed

[2017-04-25 04:28] nmetulev commented on #773
@SuperJMN, I apologize, I tried your project and could not replicate the issue. I'm on the exact same OS build and VS. Out of curiosity, does this happen with older versions of the toolkit?

[2017-04-25 04:31] nmetulev commented on #1117
What if we animate the clip rectangle of the master view instead? That should still have the same effect, but also work for transparent background.

[2017-04-25 04:33] Code-ScottLe commented on #773
What you could do, after cleaning the solution (clearing both the bin and obj folder). Clone the repo, and then manually adding the project into your existing solution and then try to run again. If it fails somewhere in the toolkit, we have a better chance to narrow it down.

[2017-04-25 04:45] nmetulev commented on #1091
I'll take this out of 1.5 as it sounds like we won't be able to fix it by then. Let me know if that is not the case.

[2017-04-25 04:52] deltakosh commented on #1091
This is correct. We need to find a smarter way to do it

[2017-04-25 04:53] deltakosh commented on #1113
Thanks a lot @avknaidu
I'll check it tomorrow

[2017-04-25 04:55] deltakosh commented on #1092
Up?

[2017-04-25 10:52] Odonno commented on #1107
@WilliamABradley Oh, yes. I think there was a misunderstanding. Anyway, I hope you achieved what you wanted.

[2017-04-25 14:34] skendrot commented on #1117
So animate master section _out_ to the left and the details section _in_ from the right?
And then animate the details section _out_ to the right and the master section _in_ from the left?

That could easily be changed if we think it a better animation

[2017-04-25 16:24] nmetulev commented on #1117
I was thinking to not change the way it animates, but instead to add a clip animation to the master view so when the details section animates on top of the master section, the master section is clipped from right to left. The behavior should then remain the same with the benefit of also working for transparent background

[2017-04-25 17:44] deltakosh commented on #1113
Sorry I'm a bit swamped out in Build preparation. Will get back to you this thursday
Sorry for the delay

[2017-04-25 18:36] avknaidu commented on #1113
@deltakosh no problem. Can you point me to where this issue can be? I always worked on Using and Reusing Controls but never worked on creating new controls. If you can point me where to start by a quick guess, maybe i can debug through and find a fix myself. If i find it, I will make sure I post it here. This is not a show stopper for me, but i can make this into a learning experience for myself.

[2017-04-25 18:41] deltakosh commented on #1113
Did you check that the name space is well defined in you app.xaml?

If it was working in page I think more about a typo or something along this line

[2017-04-25 19:13] avknaidu commented on #1113
Ok. I narrowed it down to `ImageStretch` Property. if i have this property in `Style` under `Page.Resources`, It throws exception. If i remove it, it works fine. Also This is not the only dependancy property that I used in style. I have `LinkForeground` and it still works perfectly fine.

[2017-04-25 19:27] TheSETJ commented on #1098
Yes, it works with *-sizing. But I need to use it in a Row which its Height is set to "Auto", so it can take minimum height it needs.

[2017-04-25 19:27] avknaidu commented on #1113
I think i fixed the problem.

I looked into the Dependency Property Itself and noticed that `name` of `ImageStretchProperty` is `IsTextSelectionEnabled`

    public static readonly DependencyProperty ImageStretchProperty = DependencyProperty.Register(
            nameof(IsTextSelectionEnabled),
            typeof(Stretch),
            typeof(MarkdownTextBlock),
            new PropertyMetadata(Str

[2017-04-25 19:32] deltakosh commented on #1113
Good catch:)  fancy doing a PR?

[2017-04-25 19:48] avknaidu commented on #1113
Sure.

[2017-04-25 21:38] #1113 closed

[2017-04-25 22:50] nmetulev commented on #1122
According to the .NET Native team, the issue here is a combination of (and more):
* The way Syncfusion packages their libraries is very unfriendly for static compilers. Syncfusion ships one giant package that contains more code than the entire .NET Framework combined.
* UWP apps ship with a default setting that assumes all non-framework code will be used at runtime using reflection (this is config

[2017-04-25 22:50] #1122 closed

[2017-04-26 00:32] anbare commented on #1121
Good catch @tipa, anyone interested in adding the property and adding a test for it? I might be able to do that next week, but if someone wants to do that earlier, that'd be awesome :)

[2017-04-26 00:34] #1110 closed

[2017-04-26 02:08] allanrsmith opened #1128 "AdvancedCollectionView part deux"
I need some help designing and implementing the rest of `AdvancedCollectionView`.
- Grouping
- Live Shaping (sorting, filtering, grouping)

This functionality exists in WPF4.5

[2017-04-26 05:52] h82258652 commented on #1098
Seems I get the same problem.
here is my code.
[code]

[2017-04-26 08:39] tipa opened #1129 "MarkdownTextBlock: Preserve leading tabs"
One of my app users, who is from China, mailed me saying that it is common in China to intend paragraphs with leading spaces. Unfortunately, MarkdownTextBlock recognizes those as code blocks which leads to undesired behavior.
Is there a way to prevent that? Like an escape sequence or such? I tried to use tabs, which could be a workaround to get intendation without code blocks, but it looks like th

[2017-04-26 09:02] SuperJMN commented on #773
@Code-ScottLe which branch should I check out? dev or master?

[2017-04-26 09:08] SuperJMN commented on #773
@nmetulev Interestingly enough, the only version that works OK is 1.0.0 (the oldest version in NuGet). The rest, fail saying the same.

[2017-04-26 09:24] SuperJMN commented on #773
Aha, I finally made it work! As soon as I installed the Windows 10 SDK 14393 (Anniversary Update), it ran perfectly. Without that SDK, it died.

[2017-04-26 09:35] DkmS1953 commented on #1122
In the Syncfusion package there are a few items that I needed are missing in your package.
At the moment they are trying to help me with partial connection of their assemblies.

[2017-04-26 15:23] skendrot commented on #1107
You can get a numbered list icon from https://materialdesignicons.com. Search for 'list'

[2017-04-26 17:35] nmetulev commented on #1128
Great suggestion. Could you create a User Voice entry for this to gauge the rest of the community's interest in implementing grouping?

[2017-04-26 17:37] nmetulev commented on #1129
Great question. I don't believe there is a way to do this right now but @deltakosh would know for sure

[2017-04-26 17:40] nmetulev commented on #773
Thanks for the update, that is great to know, I'm glad it worked out

[2017-04-26 17:40] deltakosh commented on #1129
Try adding \ or & nbsp

[2017-04-26 19:22] skendrot commented on #1078
@harvinders I finally got around to testing with the sample xaml you provided and I was still not able to reproduce the issue

[2017-04-26 19:29] skendrot commented on #1078
Scratch that! I was able to reproduce by going to 10 items on a row, but I had to go very slow to get it to work. It's very hard to reproduce

[2017-04-26 21:20] Odonno commented on #1125
@WilliamABradley I think it is not written in the Markdown Cheatsheet so here is the confusion. This exceptional example is difficult to exploit because there is many possibilities to implement it.

Even if that's not optimized, you can still do this, no?

[code]

[2017-04-27 02:29] WilliamABradley commented on #1125
@Odonno you could do that, however, it would damage the reversibility of the TextToolbar.
Also other websites seem to think it is to spec, therefore if we want to have a Universal Markdown control, should we support this apparent standard?
Otherwise websites that this might be used on will have broken formatting if people decide to do this.

[2017-04-27 09:00] tipa commented on #1129
`\` doesn't seem to work but using `&nbsp;` instead of using spaces works.
However, that's not really something I can expect from a user. Any more user-friendly workaround (or an option on the control to disable those code blocks) would be appreciated :)

[2017-04-27 22:02] mancda commented on #1122
I had the same out of memory problem which I was able to resolve by placing a reference to the UWPCommunityToolkit in the Default.rd.xml

[2017-04-28 22:00] DkmS1953 commented on #1122
In addition to the tricks with the connection of Syncfusion-package , the reason for the falls of compiler is here - http://dyakovkm.blogspot.ru/2017/04/windows-10_28.html.

[2017-04-28 23:26] mscherotter opened #1131 "Detecting Universal API Version at runtime for GridSplitter"
I want to use the GridSplitter class in my app but my minimum version of Windows 10 is 10.0.10240.  Looking at the documentation for GridSplitter, the minimum version is 10.0.10586.0.  How should I use the ApiInformation class to safely use the class without raising the minimum version?
Thanks,
Michael

[2017-04-29 20:03] nmetulev commented on #1131
Hey @mscherotter , one way to do this is to use the APIInformation class to check the Windows.Foundation.UniversalApiContract version. Essentialy, 10240 is version 1.0, 10586 is version 2.0, and so on. The versions are documented [here](https://docs.microsoft.com/en-us/uwp/extension-sdks/windows-universal-sdk).

Here is a code snippet:
[code]

[2017-04-30 08:00] RaminMT opened #1132 "Alignment with HeaderedTextBlock"
Hi,
I'm gonna use this element in a ListView as ItemTemplate, I wanna show header in right & value in left or vice versa. I tried some tricks to overcome on this but no success.
Would sb guide me on how to do it?!

Thanks

[2017-04-30 08:40] ScottIsAFool commented on #1132
Just re-template the control and move the elements to how you want them to appear https://docs.microsoft.com/en-us/windows/uwp/controls-and-patterns/control-templates

[2017-04-30 08:40] #1132 closed

[2017-04-30 08:56] RaminMT commented on #1132
Thanks, But I noticed that I already tried some tricks such as templating. I replaced ContentPresenter with a TextBlock and added TextAlign & HorizontalAlignment to both TextBlock, But they still aligned left & stick together

[2017-04-30 10:19] RaminMT commented on #1132
Never mind I just figured it out

[2017-04-30 17:17] rubgithub opened #1133 "Loading Control"
Loading control quickly show itself when page is loading even though property Isloading= false.

[code]

[2017-05-01 08:26] TheSETJ opened #1134 "Selection change in Carousel"
Hey, Please add **SelectionChanged** event to Carousel.

[2017-05-01 14:24] skendrot commented on #1133
Looks like the Opacity defaults to 1, I'll get it fixed

[2017-05-01 15:31] skendrot commented on #1134
Hey @timheuer, another control we need Selector for

[2017-05-01 18:04] nmetulev commented on #1134
ping @Mimetis

[2017-05-01 18:20] nmetulev commented on #1125
My 2 cents: It seems even GitHub is moving toward the [CommonMark Spec](https://githubengineering.com/a-formal-spec-for-github-markdown/) which support this behavior, so it might make sense to support the behavior here as well

[2017-05-01 18:25] #1131 closed

[2017-05-01 20:35] skendrot commented on #1078
It's pretty difficult to reproduce "as-is". Very easy to reproduce with padding on the control. Closing with the latest PR #1135

[2017-05-01 20:35] #1078 closed

[2017-05-02 08:17] Mimetis commented on #1098
This is a little bit ... complicated.
If you don't specify the width or height (ie : Make a row or column to `Auto`) then the Carousel will try to get all the width (or height) he needs.
Eventually, Carousel is an ItemsControl without any ScrollViewer.

Here is a detailed explanation and my proposition as a solution :

For now, if you set a `Width` to `Auto` like this :

[code]

(first column is B

[2017-05-02 08:29] Mimetis commented on #1134
Hi;
Thx for the feedback !
I don't know if any event on `Dependency property` are required anymore today, since you can do something like that :

[code]
Any thought @skendrot  and @timheuer  ?

[2017-05-02 08:38] Odonno commented on #1134
@Mimetis What if you want to invoke the event from XAML? I think adding the SelectionChanged event is not complex.

[2017-05-02 08:43] Mimetis commented on #1134
@Odonno : Right, not complex at all. But if I add SelectionChanged, maybe I should add all others Dependency properties related events ? (ie `SelectedIndex`, `TransitionDuration`, `ItemDepth`, `EasingFunction`, `ItemMargin`, `InvertPositive`, `ItemRotationX`, `ItemRotationY`, `ItemRotationZ`, `Orientation`

[2017-05-02 08:44] ScottIsAFool commented on #1134
@Mimetis they don't all need adding, we can add them on a per request basis after some discussion. Don't forget, even the built in controls don't have changed events for *every* DP.

[2017-05-02 08:55] Mimetis commented on #1134
Right !
Just wait for the @skendrot  and/or @timheuer  comments and, I will make a PR for this feature (that make sense, for sure)

[2017-05-02 11:31] edwinvandriel opened #1140 "Some extension classes are not within the right namespace"
I've noticed that some extension classes are not within the Microsoft.Toolkit.Uwp.UI.Extensions namespace.

Extension classes that are **not** within this namespace but in Microsoft.Toolkit.Uwp.UI are:

- HyperlinkExtensions
- ListViewBaseExtensions
- VisualTreeExtensions
- WebViewExtensions

The extension classes that are **in** Microsoft.Toolkit.Uwp.UI.Extensions namespace:

- ApplicationView 👍

[2017-05-02 12:06] Odonno commented on #1140
I am not sure if it is on purpose but I can see on the git history that we removed the Extensions namespace.

I think @hermitdave has an idea.

[2017-05-02 12:24] hermitdave commented on #1140
I myself stumbled upon that over the long weekend. I think we should fix that.

[2017-05-02 12:51] ad1Dima opened #1141 "Please backport Svg​Image​Source"
I don't understand why Svg​Image​Source limited to Creators Update. I guess it should use no new system API.
Please backport it to older version of Windows thru this library

[2017-05-02 13:28] TheSETJ commented on #1098
Although I preferred to not do it this way, but yes, it's a solution, I can calculate it. 👍

[2017-05-02 13:41] edwinvandriel opened #1142 "The obj parameter for the get and set methods in extension classes should be the type it extends"
The get and set methods for the following attached properties within some extension classes should have the (base)control it extends as parameter instead of DependencyObject. Now it makes you think you can extend all controls and could cause exceptions if you extend the wrong control.

- HyperlinkExtensions.Command
- HyperlinkExtensions.CommandParameter
- ListViewBaseExtensions.Command
- WebViewEx

[2017-05-02 14:24] Mimetis commented on #1098
Actually, we this proposed solution, you don't have to calculate it, as it's already done by the carousel itself.

[2017-05-02 15:10] nmetulev commented on #1140
Agree, I'll add this as part of the breaking changes work for 2.0

[2017-05-02 15:15] nmetulev commented on #1141
Great feedback. Could you create an an new [UserVoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit) entry that can help us gauge the demand for this feature?

[2017-05-02 15:25] nmetulev commented on #1142
Yeah, I can see a potential bug here. @hermitdave, any thoughts on this one?

[2017-05-02 16:33] skendrot commented on #1142
100% agree. Very rarely should attached properties have DependencyObject as the parameter

[2017-05-02 16:34] skendrot commented on #1141
I'm guessing this isn't something that can be easily put into the toolkit

[2017-05-02 16:40] ad1Dima commented on #1141
@nmetulev here you are https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/19120996-please-backport-svg-image-source

[2017-05-02 16:42] skendrot commented on #1134
I think SelectionChanged makes sense for these controls. Would be a good add

[2017-05-02 19:01] lukasf opened #1143 "GridSplitter: IsTabStop=False does not work"
The reason why it does not work is that the GridSplitter internally adds a GridSplitterGripper which is hard coded to IsTabStop=True. Since this is added in code behind, it is not possible for devs to alter the tab behavior, not even by re-templating the control.

After looking into the code, I think the GridSplitterGripper is not even needed. Also, it complicates the visual tree, which is current

[2017-05-02 19:46] nmetulev commented on #1143
ping @IbraheemOsama

[2017-05-03 01:36] IbraheemOsama commented on #1143
@lukasf The value for the gripper is that it enable the splitter to be gripped by the any content not by the whole splitter, as an example if you want the splitter to be used through a icon only not throw the splitter it self.
The splitter can be dragged as whole or can be dragged from the gripper only, that's why we created it.
It was like what you suggested from the beginning but we added the gr

[2017-05-03 11:37] lukasf commented on #1143
I am not sure if I completely understand your point. All manipulation events are handled on the top level GridSplitter, not on the Gripper. So even if I set a custom, fixed size Element for the Gripper, I can still drag along the whole GridSplitter control. I have just tested this to verify. The only thing that is handled on the actual Gripper is keyboard events, and those can be handled on the to

[2017-05-03 12:47] IbraheemOsama commented on #1143
@lukasf  Sure go on and submit the PR but a two small notes
1)the current gribber applies the keyboard functionality on custom content, as an example the **row grid splitter** in the grid splitter sample page.
2)the splitter has a default gribber that display its content based on the resize direction.

[2017-05-03 15:08] lukasf commented on #1143
@IbraheemOsama I have created a PR. I have made sure that everything works as expected, including custom content and default gripper content based on (auto or specific) resize direction.

[2017-05-03 18:13] liptonbeer opened #1146 "ScrollHeader - BehaviorCollection_VectorChanged - ArgumentOutOfRangeException"
Hi,
I'm getting this error in my application after adding ScrollHeader control.
Here is the stacktrace from HockeyApp:
0   Microsoft.Xaml.Interactivity.BehaviorCollection.BehaviorCollection_VectorChanged($IObservableVector$1<$DependencyObject> sender, $IVectorChangedEventArgs eventArgs) in  at 0:0
1   System.Func$2<System.__Canon,$20_Windows.UI.Xaml.Data.LoadMoreItemsResult>.Invoke(__Canon arg) in

[2017-05-03 19:40] skendrot commented on #1146
Not sure if this is an error from ScrollHeader or the [Behaviors project](https://github.com/Microsoft/XamlBehaviors).

[2017-05-03 19:41] skendrot commented on #1146
I can say the ScrollHeader could be improved by not using GetBehaviors [over and over](https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/ScrollHeader/ScrollHeader.cs#L95-L115).

[2017-05-03 20:01] lukasf commented on #1050
I also noticed that the control lags quite a lot in quick return mode. To me it happens when scrolling with touch pad gestures. Much like the OP my first thought was, I would not use this in an app. It looks very unprofessional with this kind of lag.

The problem is that in quick return mode, the header position is updated manually on each scroll step, based on the ScrollViewer.ViewChanged event.

[2017-05-04 11:39] lukasf commented on #1050
Well, after playing a bit with the control, I now have an improved version that is totally lag free, it runs butter smooth here! Right now I have a different PR in the making. But once that is finished, I can submit a fix for this!

[2017-05-04 18:56] nmetulev commented on #1146
ping @patdehne to get his thoughts on this

[2017-05-04 20:04] liptonbeer commented on #1146
@skendrot I think this is more the problem of behaviors usage in ScrollHeader control.
@pdehne could you help me with this exception?

[2017-05-06 23:46] Kareithi opened #1149 "[ScrollHeader] GridView does not recall scroll position."
Before adding the Scroll Header to my Grid View, it usually would recall the scroll position when one navigates back to the page. Now I have to do that with code behind which brings an issue where the Grid view is populated with a lot of data and hence the UI kind of flicks before scrolling to the previously selected item.

[2017-05-07 16:55] pekspro opened #1150 "SlidableListItem is not properly cleaned up after swiping completed"
If the slidable list items has a transparent background, and the list it is could be resized, this list could look something like this after some swiping followed by a list resize:

![badlist](https://cloud.githubusercontent.com/assets/3163293/25783069/2c0528a2-3356-11e7-9df2-2105a2cb821a.PNG)

I've done this in the sample application. Some modifications are needed to test this. In **SlidableListI

[2017-05-07 22:43] nmetulev commented on #1149
Hey @Kareithi , do you mind providing a repro project for this?

[2017-05-07 22:46] nmetulev commented on #1150
Thanks @pekspro , I'll investigate. If you have time to create a PR to fix this, we can use it to test out the fix :)

[2017-05-07 23:15] mscherotter opened #1151 "Restoring state of GridSplitter?"
What is the correct way to restore the state of the GridSplitter upon App restore?

[2017-05-08 03:11] Kareithi commented on #1149
Ok here's a sample app I created. Compiles and runs to demonstrate the issue. Uploaded at https://github.com/Kareithi/Sampleapp01.

[2017-05-08 03:31] Kareithi commented on #1149
I was curious if the AdaptiveGridView could have also been contributing to the problem so I tried a regular GridView and the situation was similar so I guess either I'm doing something wrong or there's a bug with the ScrollHeader control.

[2017-05-08 14:02] CSTRSK opened #1152 "PrintHelper Horizontal Orientation"
I wanted to know if it is possible to add Horizontal Orientation from Code in PrintHelper.
If you have a wider file and you set it to Horizontal Orientation in the Print Dialog is the  file is corrupted.
**Original**
![2](https://cloud.githubusercontent.com/assets/4477084/25807510/5f7fa322-3407-11e7-86d7-3251652fcd4d.jpg)
**Output on Print Dialog**
![1](https://cloud.githubusercontent.com/assets/4

[2017-05-08 16:43] pekspro commented on #1150
I’ve done that in #1153 :)

[2017-05-08 17:17] nmetulev opened #1154 "Radial Items Control"
Where items are arranged in a circle with configurable distance and size. It should allow to specify the center element. It should provide options to display orbits or lines from the center element.

This control can be useful for creating a social or device graph.

UserVoice: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/19201840-create-a-radial-items-control

C

[2017-05-08 17:20] nmetulev commented on #1152
ping @deltakosh

[2017-05-08 18:04] skendrot commented on #1154
Could this be used like the android FAB with radial options?
![image](https://cloud.githubusercontent.com/assets/1594689/25818038/8677c1d8-33e6-11e7-8467-6507da60a1fa.png)

[2017-05-08 18:08] nmetulev commented on #1151
One way could be to remember the state of the (Column/Row)Definitions of the Grid and restore those on App restore.

[2017-05-08 18:15] nmetulev commented on #1149
Thanks @Kareithi , I'll take a look later this week

[2017-05-09 06:22] hawkerm commented on #186
Some sort of 'Infinite' scroll Helpers could be useful in order to facilitate and track where scroll position/viewport should be when loading more data above and/or below the current list.

[2017-05-09 07:25] GeertvanHorrik opened #1156 "GridSplitter behaves incorrect when using MaxWidth for ColumnDefinition"
Using this markup:

[code]

Results in this behavior:

![gridsplitter](https://cloud.githubusercontent.com/assets/1246444/25839764/63100ba2-3499-11e7-81b3-1a3af3e9059f.gif)

Expected behavior is for the splitter to stop manipulating the grid once it reaches min / max values.

[2017-05-09 07:25] GeertvanHorrik commented on #1156
I am going to test a fix and prepare a PR.

[2017-05-09 07:43] GeertvanHorrik commented on #1156
![gridsplitter_fixed](https://cloud.githubusercontent.com/assets/1246444/25840379/e646c20c-349b-11e7-92e8-030fab2acd40.gif)

[2017-05-09 07:44] GeertvanHorrik commented on #1156
Closing issue, continuing discussion in #1157 (PR).

[2017-05-09 16:34] Uba83 opened #1158 "Carousel Control Exception inside StackPanel or scrollViewer"
Hi,

when I use Carousel Control inside StackPanel(or scrollViewer), a ComException: Error HRESULT_FAIL is raised.
Here an example of code XAML used and the exception generated.

[code]
StackTrace:
 at Windows.UI.Xaml.UIElement.UpdateLayout()
   at Microsoft.VisualStudio.DesignTools.UwpDesigner.Views.ViewObjects.WindowsUIXamlViewVisual.UpdateLayout()
   at Microsoft.VisualStudio.DesignTools.UwpDes

[2017-05-09 22:53] nmetulev commented on #1158
I ran this in the sample app and can reproduce it by simply warping the carousel in a stack panel. Very weird.
@mimetis, any ideas?

[2017-05-09 23:01] #1121 closed

[2017-05-09 23:03] IbraheemOsama commented on #1156
Don't close the issue until the PR is merged :)

[2017-05-09 23:29] Mimetis commented on #1158
Hi !
Thx for the bug issue you found @Uba83 :)
I think is bug is resolved with #1098 and will be available in the PR #1139

@nmetulev did you tried with the last version or the current available nuget version ?

Seb

[2017-05-10 05:57] TheSETJ opened #1159 "Carousel ItemClick"
Hello again.

I think adding an ItemClick event handler to Carousel is a good idea.

[2017-05-10 06:46] Uba83 commented on #1158
@Mimetis thanks for the fix.

I have founded another problem. If i add  items like this:
[code]
The carousel renders only one rectangle and if I click on this an exception was fired:

StackTrace:
   at Microsoft.Toolkit.Uwp.UI.Controls.CarouselPanel.GetProjectionFromManipulation(UIElement element, Double delta)
   at Microsoft.Toolkit.Uwp.UI.Controls.CarouselPanel.OnManipulationDelta(Object sender

[2017-05-10 13:21] skendrot commented on #1159
Closing as a duplicate of #1134. No need for both events

[2017-05-10 15:33] Mimetis commented on #1158
Thanks @nmetulev for the feedback.
Actually the control is designed to work with an `ItemSource` and an `ItemTemplate`.
I think we could make a little change on the `PrepareContainerForItemOverride` method to allow adding directly any `Control` items.
I will make a fix as soon as possible :)

[2017-05-10 17:38] Mimetis commented on #1158
@nmetulev  See the PR for the bug resolution

[2017-05-11 13:21] JohnnyWestlake commented on #1159
Are these not different use cases though? Selection changed will fire just when browsing through the carousel rather than explicitly clicking on the current item

[2017-05-11 17:53] skendrot commented on #1159
Reoping to allow for discussionm

[2017-05-11 17:55] skendrot commented on #1159
I'm personally not a fan of the ItemClick model from ListView. One, you have to enable it. Two, it's no different from adding a Tapped event on your ItemTemplate

[2017-05-12 07:07] Uba83 commented on #1158
@Mimetis  thanks for your great job. This fixs(#1139) when will be avaible into nuget repository ?

Thanks.

[2017-05-12 16:45] nmetulev commented on #1158
@Uba83 , the next official release is 1.5 on June 28th. You can also use the [pre-release packages](https://github.com/Microsoft/UWPCommunityToolkit#roadmap) once the PR is merged if you need it sooner.

[2017-05-12 20:01] Mimetis commented on #1159
Interesting question.

To be honest, I have already asked myself this question..
Like the SelectionChanged event, the ItemClick event could eventually be a nice feature if we think it's something developers needs on the most of the cases.
Actually (but i may be wrong) I don't think it's a "most of the cases" usage.

For the time being, you can add the item click directly in your item Template (as

[2017-05-12 20:04] Mimetis commented on #1158
We are all very busy because //Build/ is currently in progress :)
Once the PR is reviewed and merged, as @nmetulev  mentioned, you will have the corrected version in the pre release package.
If you can handle it with a workaround, you will have the new version in June.

[2017-05-13 04:33] TheSETJ commented on #1159
@Mimetis Actually, with discussions that happened here, It makes sense. I think @skendrot is right about no difference between ItemClick and Tapped event for ItemTemplate. At least in all of the cases, I worked on, it's true. But I wonder why there should be 2 event handler with same exact functionality if there is no difference?

[2017-05-13 10:24] JohnnyWestlake commented on #1159
For ItemClick it has the option of being controlled by it's sibling property IsItemClickEnabled, and in case when ItemTemplateSelectors  or shared DataTemplates are used (the most important case imo), doesn't require Tapped events on each one or creating a local copy of the template just for the Tapped event.

So in my mind that leaves the question of how often people will be sharing the same Data

[2017-05-13 11:19] IbraheemOsama opened #1161 "Moving GridSplitter from control to ContentControl"
We need to move GridSplitter from inheriting control to inherit ContentControl so we can get rid of the element property which is should be replace by content property.

[2017-05-13 23:45] tipa opened #1162 "MarkdownTextBlock: Strikethrough"
This text
![image](https://cloud.githubusercontent.com/assets/2863198/26030040/3483ccd2-3846-11e7-9f26-a0b390a04284.png)
becomes this in a MarkdownTextBlock:
![image](https://cloud.githubusercontent.com/assets/2863198/26030042/3f10dd34-3846-11e7-9ea5-5a0adb4e072e.png)

Issue 1: strikethrough changes the font
Issue 2: a single strikethrough line would be desirable, probably related to issue 1

Woul

[2017-05-14 20:38] nmetulev opened #1163 "Add a helper for multi-instance code support"
A helper that will enable that every launch of an app creates a new, separate view (like calc does)

Linked to [this Windows Template Studio feature request](https://github.com/Microsoft/WindowsTemplateStudio/issues/241)

[2017-05-14 21:23] nmetulev commented on #1162
Support for strikethrough was just added in the creators update. Once we move the toolkit to target the creators update we can update the control to support the native striketrhough functionality when an app is running on creators update and targeting creators update. However, this will not work on apps running on previous API contracts.

[2017-05-14 21:31] nmetulev commented on #1159
ItemClick even is very helpful when it comes to supporting multiple input modalities. You can use the keyboard or controller to select items, but without the ItemClick event, you need to add support for keyboard press, tapped, and other potential input modalities. ItemClick and IsItemClickEnabled allows the control to handle all that for you.

[2017-05-14 21:47] nmetulev commented on #1154
I can see that happening with few changes to the existing implementation. Maybe adding a property to collapse and open the control, and properties for specifying the start and end angle for where items can be layed out.

[2017-05-14 21:50] nmetulev commented on #1151
Closing this issue. If you have any more questions, feel free to reopen.

[2017-05-14 21:50] #1151 closed

[2017-05-14 22:07] tipa commented on #1162
As I only target the latest API that would be fine for me. Any idea when the toolkit will target Creators Update?

[2017-05-15 04:42] skendrot commented on #1159
If we add the property and event, should the control just move to be a ListViewBase control? Why duplicate all of the properties?

[2017-05-15 07:32] Mimetis commented on #1159
Actually, I'm trying to move to ListViewBase. The problem i'm facing right now is I have to override all the ListViewBase properties and event, because the items selection and so on are really different from the base listview.
I will update this thread once I will be sure migrating to ListViewBase is making sense.

[2017-05-15 11:23] Liero opened #1164 "MediaSourceStream for OGG"
What about MediaSourceStream for more audio (and possibly video) formats/codecs?

This is something that may be currently difficult or even impossible for C# developer without C++ background, but it would be super easy to use once implemented.

User voice entry: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/17890894-add-ogg-vorbis-opus-to-audioencodingproperties

[2017-05-15 14:44] Uba83 commented on #1158
@nmetulev and @Mimetis  thanks again for your great job.

[2017-05-15 16:25] Maxim1296 commented on #1164
What about [FFmpegInterop](https://github.com/Microsoft/FFmpegInterop) ?

[2017-05-15 16:40] nmetulev opened #1165 "Adding Composition Expression Builder"
Implementation: https://github.com/Microsoft/WindowsUIDevLabs/tree/master/ExpressionBuilder

[2017-05-15 16:41] skendrot commented on #1165
On it

[2017-05-15 18:07] Code-ScottLe commented on #1066
I'll take the header and hightlight for selected item if nobody is working on it then.

[2017-05-15 20:56] Vijay-Nirmal commented on #1066
Did anyone check out the new control called [Navigation View](https://docs.microsoft.com/en-in/windows/uwp/controls-and-patterns/navigationview)? which is similar to hamburger menu but it is only available on Fall Creators Update.

[2017-05-15 21:03] Odonno commented on #1066
@Vijay-Nirmal Yes, it brings a lot of features to enable great looking navigation view based on Fluent design.

I think it will be the replacement of the HamburgerMenu/SplitView controls but for now we still need a great control that supports Anniversary & Creators Update.

[2017-05-15 21:13] Vijay-Nirmal commented on #1066
@Odonno Agree. It would be nice if we make this control similar to Navigation View

[2017-05-15 21:15] Code-ScottLe commented on #1066
This gonna be really weird time to make app. Like you want to be on Fluent Design but you can't leave out the majority of people who is still on Anniversary Update.

[2017-05-16 07:21] HesamKashefi opened #1166 "Disable ScrollHeader's VerticalScrollBar"
Hi, Is there anyway to disable ScrollHeader's VerticalScrollBar or Setting it's Visibility to hidden?

[2017-05-16 08:34] JohnnyWestlake commented on #1159
Migrating will add a whole bunch of useless properties around things like SelectionMode, MultiSelect, Footer, Header, Group support (perhaps not useless, but not accounted for), CanDragItems, Reorder Modes and a whole bunch of others - and ones that do have some edge uses (like Incremental Loading, ISemanticZoom etc) need to be properly handled.

I'd vote it staying as an ItemsControl just to avoi

[2017-05-16 15:12] Mimetis commented on #1159
@JohnnyWestlake : Couldn't say it better :)
For the **next version**, moving to Selector should be a reasonable solution

[2017-05-16 15:45] nmetulev commented on #1166
Hey @HesamKashefi, are you referring to the scrollbar on the listview itself? If not, can you share a code snipet that makes the VerticalScrollBar show up on the ScrollHeader?

In the meantime, one way to access the ScrollViewer of the ScrollHeader is to use the VisualTreeHelper or even beter, use the [VisualTreeExtensions](https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolki

[2017-05-16 15:56] Liero commented on #1133
I believe, that the expected behavior is that the opacity should default to whatever the IsLoading value is set initially.

the loading control should render immediately rather than fade in this case:

    <toolkit:Loading IsLoading="True" />

[2017-05-16 16:08] Liero commented on #696
In case this will affect signature of the `AnimationExtensions` extension methods as well:

I was missing an option do specify EasingMode, like EaseIn, EaseOut, EaseInOut. When desninig the animation API's, think about EasingMode as well. It may be change request in a future.

The thing is, that the method currently look like this, for example:

    public static AnimationSet Fade(this UIElement a

[2017-05-16 17:14] nmetulev commented on #696
I don't think this need to be added to the extension methods. There is already an easy way to do this without the extension methods (just set the value before running the method).

[2017-05-16 17:14] skendrot commented on #1159
It's not possible to move to Selector. It has an internal constructor :(

[2017-05-16 19:44] lukasf commented on #1164
Writing a MediaStreamSource in a performant way (which does not hog memory) is only possible in C++, but the UWPCommunityToolkit is currently C# only. Making the toolkit (and the nuget packet) a C#/C++ mixed solution would probably create a lot of work, so an MSS cannot be easily added right now.

[2017-05-16 20:29] skendrot commented on #1161
Or, should the GridSplitter allow for content at all?

[2017-05-16 23:17] skendrot commented on #1161
Restyle :)

[2017-05-16 23:36] IbraheemOsama commented on #1161
We will face a problem with the gribber hover cursor change, you can specify to change on gribber or change on the whole splitter, how that could be achieved !!

[2017-05-17 01:09] crutkas commented on #1163
* this should be multi-view for right now

[2017-05-17 02:48] skendrot commented on #1161
Changing the style wouldn't affect the cursor

[2017-05-17 03:53] IbraheemOsama commented on #1161
The cursor changes are done on the element\content of the splitter from code, we've written custom code to do that.

[2017-05-17 05:00] HesamKashefi commented on #1166
@nmetulev  I'm reffering to the header itself!
here is the code (with all of its irrelevant elements):
`<ListView Name="TranslationListView"
                      ItemsSource="{Binding DictionaryTranslations}"
                      SelectionMode="None"
                      IsItemClickEnabled="False">
                <ListView.ItemTemplate>
                    <DataTemplate>

[2017-05-17 05:13] HesamKashefi commented on #1166
Hi @nmetulev  I meant the header itself : here is the code in text file :

[code.txt](https://github.com/Microsoft/UWPCommunityToolkit/files/1006631/code.txt)

and here is the result :

<img width="404" alt="sketch" src="https://cloud.githubusercontent.com/assets/16811776/26139336/1ed62942-3ae5-11e7-8bdc-1b7e3ab0e81f.png">

Thanks for your attention

[2017-05-17 07:31] Liero commented on #1164
I tend to agree. FFmpegInterop, in case it works well, is sufficient.

[2017-05-17 07:36] JohnnyWestlake commented on #1166
For the time being you can retemplate scroll header in your app and disable the ScrollBar
[code]

And I suppose in a future build of the toolkit the proper ScrollViewer attached property bindings can be added in the template so you can do it as `<controls:ScrollHeader ScrollViewer.VerticalScrollMode="Disabled" VerticalScrollBarVisibility="Hidden" />` instead

[2017-05-17 08:09] Odonno commented on #1163
A must have.

[2017-05-17 13:45] harvinders commented on #1128
Please do so, I have been looking for this functionality too.

[2017-05-17 16:08] nmetulev commented on #1166
Not sure either why we have a scrollviewer in there. @pdehne , might know.

[2017-05-17 16:43] michael-hawker opened #1167 "BooleanToVisibilityConverter should have Inverse Property"
See the Universal Sample Implementation [here](https://github.com/Microsoft/Windows-universal-samples/blob/master/Samples/XamlTreeView/cs/BooleanToVisibilityConverter.cs).

Really helps when you need to take the inverse of the bool for visibility flipping/switching.

[2017-05-17 17:51] michael-hawker commented on #1167
Ah, this is supported slightly in a different way with a converterparameter (it is nice to have an always inverse via construction in the resource though) via [BoolToObjectConverter](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI/Converters/BoolToObjectConverter.cs).

It's just not [documented](http://uwpcommunitytoolkit.readthedocs.io/en/master/helpers/Conve

[2017-05-17 17:57] pdehne commented on #1166
The scrollviewer is needed to fix rendering issues when Scrolling with quick return enabled. Please see https://github.com/Microsoft/UWPCommunityToolkit/pull/227#issuecomment-249741662 for details.

[2017-05-17 18:07] pdehne commented on #1146
@skendrot That's right. It should be possible to Cache the result of GetBehaviors in a variable and work with that.

[2017-05-17 18:13] Odonno commented on #1167
@michael-hawker Hi. I want to know what you mean by "not documented". I can see this example in the docs and I don't know what we can do more :

[code]

[2017-05-17 18:13] pdehne commented on #1146
Not sure about the exception though. The throwing code only adds a new behavior to the ListView. @liptonbeer can you reproduce the problem on your machine?

[2017-05-17 18:23] michael-hawker commented on #1167
@Odonno I'm talking explicitly about **inverting** the value so a bool of true is collapsed.

This is done in the sample app with the ConverterParameter (which is the piece which wasn't documented that this functionality exists):

Visibility="{Binding Path=IsPaneOpen, Converter={StaticResource BoolToVisibilityConverter}, **ConverterParameter=True**}"

But I usually prefer to declare an 'InverseBoo

[2017-05-17 18:47] Odonno commented on #1167
@michael-hawker I know what you mean. I myself used to use another way to handle inversion of converters (using the ConverterParameter).

Anyway, I don't think we should change the code for the inversion, you can perfectly use BoolToObjectConverter like you said.

And if you want to improve the docs, feel free to make a PR. I suppose it is not bad to have good documentation. :)

[2017-05-17 19:35] nmetulev commented on #1166
I see. What if we disable directional scroll mode, or remove the scroll bar visibility, will that still work?

[2017-05-17 21:31] pdehne commented on #1166
I did hide the vertical scrollbar just like @JohnnyWestlake suggested and the ScrollHeader sample is still working. I do wonder why the scrollbar is shown in @HesamKashefi example in the first place though.

[2017-05-17 23:30] nmetulev commented on #1166
@HesamKashefi , do you mind sharing a repro project?

[2017-05-18 04:37] HesamKashefi commented on #1166
@pdehne Do not wonder plz because it's there !
look this is an empty project sample code you just need to move the mouse to the right corner of the Button to see the scrollbar :

`

    <Grid Background="{ThemeResource ApplicationPageBackgroundThemeBrush}">
        <ListView>
            <ListView.Header>
                <controls:ScrollHeader>
                    <Button Height="40" HorizontalAli

[2017-05-18 04:59] pdehne commented on #1166
I reproduced it now. The scrollbar is only shown if the ListView is empty. @JohnnyWestlake suggestions fixes the problem. @JohnnyWestlake  care to provide a pull request? I'd be happy to do it too.

[2017-05-18 05:43] nmetulev commented on #1162
We should have this in the toolkit for next release in June

[2017-05-18 05:54] HesamKashefi commented on #1166
@pdehne I Don't think it's realated to the Items! you can see at the top of this page I have sent a picture that there is a ListView with 2 Items in it

[2017-05-18 13:02] JohnnyWestlake commented on #1166
@pdehne I'm on vacation atm with no dev tools, so happy for you to go ahead =P

[2017-05-18 17:44] XamlBrewer commented on #1102
Pull request #1168 should solve this.

[2017-05-18 17:45] #1104 closed

[2017-05-19 03:07] pdehne commented on #1166
@HesamKashefi Your right. The scrollbar is always displayed but if the listview contains enough items to show a scrollbar too, the listview scrollbar will overlap the scrollheader scrollbar.

[2017-05-19 04:36] kinju4374 opened #1170 "Grouping ListView"
Can you add grouping ListView control in this toolkit? Its very useful control for developers. Thanks

[2017-05-19 05:09] IbraheemOsama commented on #1170
Grouping in ListView is supported out of the box.
Check this sample: https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/XamlListView

If you mean something else, could you provide more description about the functionality ?

[2017-05-19 05:14] kinju4374 commented on #1170
I tried same but my ListView control was a child of PivotItem and it didn't display corrected and also disturbed my other UI.

[2017-05-19 07:37] skendrot commented on #1170
Closing as already supported and I believe your SO post has been resolved

[2017-05-19 07:37] #1170 closed

[2017-05-19 08:03] kinju4374 commented on #1170
@skendrot I just added one more query in Comments in SO. Can you please check that?

[2017-05-19 15:35] assassin316 opened #1171 "How to use paging in FacebookService ??"
Can someone point me to a sample or a simple expample of how to use paging in the FacebookService?

Here is a FacebookService function:

	 /// <summary>
	/// Retrieves list of user photos by album id.
	/// </summary>
	/// <param name="albumId">Albums Id for photos.</param>
	/// <param name="pageSize">Number of records to retrieve per page.</param>
	/// <param name="maxPages">Upper limit of pages t

[2017-05-19 17:27] assassin316 opened #1172 "OneDriveService authentication problem"
I keep receiving the following error everytime I try to login with the OneDrive service:

**_The application requesting authentication tokens is either disabled or incorrectly configured. (Exception from HRESULT: 0x80860003)_**

I initialize as follows:

	return OneDriveService.Instance.Initialize(
		Constants.OneDriveAppId,
	#if WINDOWS_UWP
		OneDriveEnums.AccountProviderType.OnlineId,
	#else
		O

[2017-05-20 00:58] hypodyne opened #1173 "MasterDetailsView How to programmatically go to the NoSelectionContentTemplate"
Hi
I am using the MasterDetailsView in a project and it is working well so far. It combines 3 or 4 pages into a single page. I am using it to add, edit and delete items in a list. I have the add button in the master command bar, the add form in the NoSelectionContentTemplate.

The question is when I am in a narrow state, how do I programmatically get to the NoSelectedContentTemplate view?

![ayako

[2017-05-20 07:18] kaki104 opened #1174 "How can I use it with the UWP Community Toolkit control?"
Hi
The development environment is Visual Studio 2017, Windows version 1607.
After installing Template10, I was in the process of developing the project with the hamburger template.
By the way, when I add a package to use the toolkit's controls, nothing is displayed at design time.
Can not both be used together?

There is an error when building, but there is no problem running it.
Severity	Code	Des

[2017-05-20 07:36] kaki104 commented on #1174
Restart Visual Studio and it will display normally.

[2017-05-20 07:36] #1174 closed

[2017-05-21 17:47] edwinvandriel opened #1175 "Attached properties within controls library"
There are three control extensions (attached properties) in the Controls library. They belong in the Microsoft.Toolkit.Uwp.UI.Extensions in the Microsoft.Toolkit.Uwp.UI library.

- SurfaceDialTextboxHelper, the getter and setter methods should't have DependencyObject as parameter
- TextBoxMask, the getter and setter methods should't have DependencyObject as parameter
- TextBoxRegex

I think this s

[2017-05-21 22:57] #1133 closed

[2017-05-21 23:09] nmetulev opened #1176 "MasterDetailsView: handle back button visibility when unloaded (or add property)"
This issue is open for discussion on how to handle the back button when the control is unloaded.

re: #941 for more details

[2017-05-21 23:37] nmetulev commented on #1171
Not sure if we have a sample for this, but the function returns an [IncrementalLoadingCollection](https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/docs/helpers/IncrementalLoadingCollection.md) that will load **pageSize** items at a time for up to **maxPages** times

[2017-05-21 23:40] nmetulev commented on #1172
Could you a share a repro that we can try out?

[2017-05-22 00:08] nmetulev commented on #1173
ping @skendrot

[2017-05-22 13:27] #1166 closed

[2017-05-22 14:47] skendrot commented on #1173
I don't believe that is a usecase we're looking to solve with the MasterDetailsView. I would suggest that if the add button is clicked and the ViewState is Master that you navigate to a new page.
Alternatively (and this would be my recommendation), you could not use the NoSelectionContent and instead could a ContentDialog as a popup for when adding new items.

[2017-05-22 14:59] skendrot commented on #1176
Talking points:
1. Should the MasterDetailsView revert to the previous BackButton state when the control is unloaded?
2. Should the MasterDetailsView provide a property `ControlBackButtonVisibile` (or something similar) that allows the developer to turn off the control of the BackButton visibility and allow the developer to control it always. This would mean the developer would need to control it

[2017-05-22 15:01] #939 closed

[2017-05-22 15:33] skendrot commented on #1175
While changing the types of the getter/setters is probably a breaking change, this could happen before 2.0 as people are likely to have not set them on anything else.

[2017-05-22 15:33] skendrot commented on #1175
Added moving extensions to a different namespace to #983

[2017-05-22 18:15] nmetulev commented on #1176
Is there already events in the MasterDetailsView that a developer can use to tell when the view is being changed if they want to control the back button themselves? My vote is for adding the property to enable/disable (default enable) automatic back button handling and adding events if they are not there already.

[2017-05-22 18:16] nmetulev commented on #1175
We have to change the namespace, so we should do this in 2.0

[2017-05-22 18:18] skendrot commented on #1176
The SelectionChanged event could be used and checking the ViewState

[2017-05-22 18:27] nmetulev commented on #1176
What about changing the view when the app is resized, is there a way to detect that?

[2017-05-22 19:41] skendrot commented on #1176
Yeah, you can use the [ViewStateChanged](https://github.com/Microsoft/UWPCommunityToolkit/blob/dev/Microsoft.Toolkit.Uwp.UI.Controls/MasterDetailsView/MasterDetailsView.Events.cs#L32) event

[2017-05-22 20:28] Vijay-Nirmal commented on #1173
It's very simple just set SelectedItem as Null

private void AddButton_Click(object sender, RoutedEventArgs e)
{
    **MasterDetailsViewName.SelectedItem = null**;
}

[2017-05-22 22:20] skendrot commented on #1095
This is coming from the XAML team but do we want to add a "stop-gap" control for those not using whatever version this goes into?
http://timheuer.com/blog/archive/2017/05/15/build-2017-recap-windows-ui-xaml.aspx
Note that this control is [currently not listed ](https://docs.microsoft.com/en-us/windows/uwp/controls-and-patterns/)with other new controls coming in FCU

[2017-05-23 03:06] Rivolvan opened #1177 "AdvancedCollectionView's Source as DependencyProperty"
Is it possible to change `AdvancedCollectionView`'s `Source `property into a `DependencyProperty`? To be able to use it in XAML markup. I want to instantiate ACV in XAML to enforce MVVM. I have all my ViewModels in a separate library.

[2017-05-23 07:43] totht91 commented on #1095
It's listed in preview sdk api changes https://blogs.windows.com/buildingapps/2017/05/11/windows-10-sdk-preview-build-16190-released/

[2017-05-23 08:28] h82258652 opened #1178 "Add GetAlphaMask method to ImageEx"
The behavior in ```ImageEx``` should like ```Image```.

[2017-05-23 08:34] h82258652 opened #1179 "[Feature Request] ImageBrushEx in 15063"
In 15063, we can extend brush (by XamlCompositionBrushBase). How about create a ```ImageBrushEx```?
I create my own here: https://github.com/h82258652/Projects/blob/dev/Libraries/SoftwareKobo.Controls.ImageEx.Uwp.15063/ImageBrushEx.cs

[2017-05-23 13:32] assassin316 commented on #1171
Thanks for the reply @nmetulev,

Unfortunately it doesn't work. Using the regular overload without paging works perfect, it returns a result:

     var albums = await Facebook
		.Instance
		.GetUserAlbumsAsync(pageSize, 100, "id, name, description, cover_photo.fields(images), picture");

But once the **maxPages** parameter is used, the result is always an empty set (_Count = 0_):

     var albums

[2017-05-23 14:18] assassin316 commented on #1172
Hi @nmetulev ,

I did some more investigation and I'm thinking it's my app configuration. I'm reviewing the way my app is created on the dev center dashboard and in my onedrive dev account. I also stumbled upon this link and I'm hoping this has something to do with it:

https://stackoverflow.com/questions/36760980/the-application-requesting-authentication-tokens-is-either-disabled-or-incorrect

[2017-05-23 14:53] skendrot commented on #1173
@hypodyne I love the creativity here, but this is not something we're looking to solve with the MasterDetailsView. You are free to take the source and add it to your project to accomplish your needs or use the HamburgerMenu.

[2017-05-23 14:53] #1173 closed

[2017-05-23 15:36] SuperJMN opened #1180 "HamburgerMenu doesn't work as expected with CommandBar"
Give this XAML, the HamburgerMenu cannot be clicked. What's wrong?

[code]

[2017-05-23 15:51] assassin316 commented on #1172
@nmetulev ,

Unfortunately I'm not sure what the problem is, I re-created a new app on the OneDrive Developer portal (_created a **Native App** and not a **Web App**_), plugged in the AppId into the Initlialize of the OneDrive service, and still keep getting the **Microsoft.Graph.ServiceException** stated above....  Did I miss something ?

[2017-05-23 22:48] hypodyne commented on #1173
Hi.. I have added the extra Add Page and navigate to it in a narrow state and that works pretty well. The only thing is the animation does not match. I can live with that. Still cuts down the page count from 4 to 2 pages and simplifies everything.

I had a look at the source code hoping it was an easy fix, but it was easier to do it the other way.

Thanks for your help.

[2017-05-23 23:02] nmetulev commented on #1176
Perfect, then that's my vote, to provide a property for the developer to control back button if they want to.

[2017-05-23 23:10] nmetulev commented on #1177
have you tried to see if CollectionViewSource would work?

@tomzorz might have more ideas there too.

[2017-05-23 23:15] nmetulev commented on #1178
Hey @h82258652, can you provide more details about this? What's the use case?

[2017-05-23 23:17] avknaidu commented on #1180
@SuperJMN Ofcourse this won't work. You are Stacking the CommandBar from inside the splitView on Top of the HamburgerMenu. Height of both controls are 48px. so you will never be able to get to HamburgerMenu.

[2017-05-23 23:18] nmetulev commented on #1179
Interesting proposition, curious what others think. Could you create a [uservoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit) for this and provide a bit more details?

[2017-05-24 00:09] nmetulev commented on #1172
Thanks @assassin316 . ping @cbarkerms  and @EricVernie who should be able to take a look at this

[2017-05-24 00:20] nmetulev commented on #1171
ping @cbarkerms

[2017-05-24 00:48] h82258652 commented on #1179
@nmetulev
created: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/19380151-imagebrushex-in-15063

[2017-05-24 00:53] h82258652 commented on #1178
```GetAlphaMask``` is used in ```DropShadowPanel```.
If someone have a project, and want to switch ```Image``` to ```ImageEx```.
This code:
[code]
and after switch to ```ImageEx```:
[code]
The shadow will get problem if the image source have alpha channel.

[2017-05-24 01:00] nmetulev commented on #1179
Thanks. :)

pulling in @hermitdave to the conversation

[2017-05-24 01:04] Rivolvan commented on #1177
@nmetulev what do you mean? I am using AdvancedCollectionView and not CollectionViewSource because of the filtering, sorting capabilities. But if what you are saying is using a CollectionViewSource as the Source of the AdvancedCollectionView, I haven't tried that. I will try that later and update what happens.

One thing I also notice just now, putting an AdvancedCollectionView in the Page.Resourc

[2017-05-24 07:33] JohnnyWestlake commented on #1179
Could probably be an extension of #1100 - that already creates an ImageBrush using the image cache internally for use with it's RoundedImage control

[2017-05-24 07:35] hermitdave commented on #1178
Let me take a look

[2017-05-24 07:46] SuperJMN commented on #1180
Thanks for the answer! I didn't know that CommandBar will overlap other elements no matter the order they appear in the XAML. But then, how do I put a HumberguerMenu and CommandBar at the top of a page without overlapping? is this even possible?

[2017-05-24 07:47] hermitdave commented on #1179
Yes @JohnnyWestlake precisely my thoughts on this. We should just wrap and expose the brush from RoundedImageEx.

[2017-05-24 07:53] hermitdave commented on #1178
This requires tweaks to both DropShadowPanel and ImageEx Base so it can work with both derived types

[2017-05-24 08:47] tomzorz commented on #1177
@Rivolvan it wasn't meant to be used in Xaml (despite the naming), because declaring filters/sorts made more sense in code (at least for me, but again I didn't see anyone object).

I read a bunch of SO questions and articles, and most of the Xaml solutions ended up with just stuffing hacky codebehind code in a behavior and using that on the CollectionView. I didn't see how that was better than hav

[2017-05-24 08:48] tomzorz commented on #1177
The docs give an example of the preferred usage http://docs.uwpcommunitytoolkit.com/en/master/helpers/AdvancedCollectionView/

[2017-05-24 08:52] ScottIsAFool commented on #1180
@SuperJMN do you need to have your splitview content as a page and use the TopAppBar at all? Just place the commandbar in a grid and have it vertically aligned to the top.

[2017-05-24 12:04] imprakhar7 commented on #773
Facing similar problem and I can not upgrade to Anniversary edition. Anyone has any other solution.

![capture1](https://cloud.githubusercontent.com/assets/23431049/26402224/fa9c5cc8-40a6-11e7-8c81-7914a03702b6.PNG)

[2017-05-24 16:43] Vijay-Nirmal opened #1182 "Create a control for 'Continue in different device'"
Create a control for Continue in different device Like Continue Reading etc. Microsoft wants us to build more connected app with [Project Rome API](https://docs.microsoft.com/en-us/windows/uwp/launch-resume/connected-apps-and-devices). So it would be nice to create controls to achieve Microsoft's vision easily.

**For Reference**
I like the way [MSPoweruser](https://www.microsoft.com/en-us/store/p

[2017-05-24 18:20] Odonno commented on #1182
@Vijay-Nirmal Yes, it will be an amazing but we do not have a lot of visibility on the Microsoft vision. I mean, in term of UX. I think that the new Timeline feature can handle a lot of use cases.

[2017-05-24 18:39] Vijay-Nirmal commented on #1182
@Odonno But 'Continue in different device' control will be useful. Timeline feature will only show what you have used in this device and other devices. But we can keep this(Continue in different device) control inside the app so that if the user clicks the button the app will automatically open in the corresponding device in the same spot where the user left off.

[2017-05-24 19:43] nmetulev commented on #1182
Not sure if there is much to build there in terms of a control, as it would be mostly app specific code to match the format of the content by implementing the deep linking/app service. The Remote System APIs are already fairly straightforward to use.

[2017-05-24 20:07] nmetulev commented on #773
Hey @imprakhar7 , what build are you on? Can you share a repro?

[2017-05-24 20:43] robloo commented on #1167
I really don't think it should be done this way using the parameter. Thankfully, a really powerful/general solution still works from WPF. I use a converter group to chain together both a converter that inverts a boolean value then a converter that converts boolean to visibility. This reminds me again how many corners were cut in the first UWP implementation... BooleanToVisiblityConverter isn't eve

[2017-05-24 20:45] Vijay-Nirmal commented on #1182
@nmetulev

1. Control should automatically create an ObservableCollection will all the available devices.
2. Make launch an app on a remote device easier by adding a method to take the value for `RemoteLauncher.LaunchUriAsync`

If we do this then it's just two lines of code to achieve this feature.

[2017-05-24 21:03] Odonno commented on #1182
Yes, I think we should provide a more efficient code/way to use the Project Rome API on UWP even if I did not take a look at the API for the moment but I am sure it is interesting to provide some useful class/methods/anything around it if it adds value.

@Vijay-Nirmal Please be aware that I did not talk about "control" as (1) I don't know if it should be done because I assume every app will use th

[2017-05-24 21:21] Vijay-Nirmal commented on #1182
UserVoice created. https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/19392673-create-a-control-for-continue-in-different-device

[2017-05-25 01:38] Rivolvan commented on #1177
As I see it, AdvancedCollectionView is made to be UWP specific. And when making cross platform apps, ViewModels are treated as platform agnostic. So it makes sense for those developers and me to put it in the XAML of the UWP app and put the filter logic (usually by a command) in the ViewModel. That way, the filter logic can be shared with other platforms no matter what kind of "CollectionView" is

[2017-05-25 05:26] imprakhar7 commented on #773
Hi @nmetulev , Sorry I cant share repo. I am using windows enterprise 10.0.10586. UWP v5.2.3

[2017-05-25 08:18] tomzorz commented on #1177
@Rivolvan I see your point, and I do have to mention that during implementation I did not consider cross-platform usage. I've seen a hole in UWP that I wanted to fix :)

As for the actual crossplat usage: I'd still prefer if this this wouldn't be in a "uwp toolkit" but maybe in a crossplat toolkit, allowing you not to put this in XAML. **But** as this thing **is** in a "uwp toolkit" probably the o

[2017-05-25 08:24] tomzorz commented on #1177
Two more things:

- I'd like to see a little input from the repo owners / code reviewers to see what they think of this change before jumping into implementation.
- While I'd be happy to work on this, as far as I see I don't have time to do that for the next 4-5 weeks.

[2017-05-25 11:51] Rivolvan commented on #1177
@tomzorz don't get me wrong, I am very thankful that you have taken the time to fill up a hole in UWP that every business app developer needs. And know that I am not saying that you have done this wrong. I just want to know the design behind the implementation. And I wanted to know if there is a workaround to use it in XAML.

I am also in the middle of a project right now, so as a hack, I just put

[2017-05-25 11:53] Rivolvan commented on #1177
If the creators of this toolkit however sees that we can make the changes you said, I'll be happy to help or maybe make a PR when I can make time.

Thanks again!

[2017-05-25 12:04] Rivolvan commented on #1177
As an aside, I think we can never make AdvancedCollectionView platform agnostic however. It relies on UWP APIs that is needed for it to work in UWP's List controls. As I said earlier, the best way we can do for now is make it compatible with XAML usage.

[2017-05-26 05:30] nmetulev commented on #1182
@Vijay-Nirmal , what do you envision the value for part 2 to be? Are you envisioning this helper/control to also handle the protocol activation on the other side?

[2017-05-26 05:32] nmetulev commented on #773
Without being able to reproduce this issue, I'm afraid there is not much we can do. Can you create a simple repro that you can share?

[2017-05-26 05:37] nmetulev commented on #1177
Do you see this creating any breaking changes for AdvancedCollectionView?

[2017-05-26 09:12] Pinox opened #1184 "Adaptive BladeView"
Generally, most controls in the toolkit are a good display of adaptive design that suits mobile and desktop.
BladeView is not one. Please consider updating BladeView to display nicely on mobile as you currently get ugly looking horizontal scrollbars.  Something like Master/Details would work great on BladeView where you can "drill down" into the view.

[2017-05-26 10:32] tomzorz commented on #1177
@nmetulev I don't see any at the moment - maybe just the fact that when it becomes a `DependencyObject` you'll really avoid placing it in the VM.

Maybe we should create a proxy class that lives in XAML? Best of both worlds?

[2017-05-26 11:17] Rivolvan commented on #1177
In its current state, the developers who use AdvancedCollectionView in their ViewModels now will still use it there even when we change it to a DependencyObject because, more than likely, their ViewModels are in the same project as their Views or in a UWP Library. (This toolkit can only be referenced from a UWP library anyway)

I don't see any breaking changes when we make this, it will only make