[2018-09-29 14:33] BobbyCannon commented on #2514
Turns out if you comment out the method content it still does not load and work. I assume the WebView control cannot completely initialize while running in the debugger.

[2018-09-29 14:43] BobbyCannon commented on #2514
Even "Start without Debugger" (ctrl+F5) also does not allow the control to initialize.

[2018-09-30 08:10] IbraheemOsama commented on #2445
Hi @touseefbsb,
Apologies but I'm a little bit busy so what about if you can submit a PR to fix it?
We can help you through mentoring, reviewing or answering questions :)

You can start the initial PR then we could pair together to fix the issue.

[2018-09-30 09:13] IbraheemOsama commented on #2364
Issue is fixed :)
![image](https://user-images.githubusercontent.com/6191377/46255781-f7931800-c4e4-11e8-8e1e-a3d6579c1b8a.png)

[2018-09-30 09:13] #2364 closed

[2018-09-30 09:29] IbraheemOsama commented on #2162
The issue still exists, will try to do it today along with the sizing issue.

[2018-09-30 09:44] touseefbsb commented on #2445
@IbraheemOsama  actually I tried to fix it with HorizontalAlignment and other basic attempts but couldnt fix it that is why I posted an issue here. If I was able to make any progress in fixing the bug I surely wouldve made a PR.

[2018-10-01 11:58] AlKau opened #2518 "Implicit Animation stops at Page.OnNavigatedTo"
I'm trying to make implicit animation for an UIElement on a page. When the page is opened, the UIElement have to change opacity from 0.0 to 1.0.

[code]
So the animation starts and the opacity is changed. However, the animation stops before the opacity is 1.0. App works as expected only the UIElement has transparency. It happens with other animations too, such as ScalarAnimation, TranslationAnimat

[2018-10-01 12:07] AlKau commented on #2518
This can be reproduced in the project Microsoft.Toolkit.Uwp.SampleApp.
Just change the duration (5 sec) of the animation in the file: Microsoft.Toolkit.Uwp.SampleApp\Pages\About.xaml

[code]

[2018-10-01 20:44] Bmartin2013 commented on #2511
This issue is related to a missing module inside this toolkit version.

![image](https://user-images.githubusercontent.com/3893598/46314490-1951d500-c5a1-11e8-8c5a-900fb347ebb0.png)

We had the related build issue "Cannot find type Windows.UI.Xaml.Markup.MarkupExtension in module Windows.Foundation.UniversalApiContract.winmd" which, in turn, it refers to the issue "Impossible to compile with Toolk

[2018-10-01 20:52] TGoodhew commented on #2511
In the linked issue the cause was targeting downlevel on a dev machine of a higher level. In this case the dev machine is 15063 so I don't believe that 1855 applies.

[2018-10-01 22:55] nmetulev commented on #2459
PR merged

[2018-10-01 22:55] #2459 closed

[2018-10-01 23:01] #2491 closed

[2018-10-02 01:54] kbrons commented on #2445
PR merged, closing the issue.

[2018-10-02 01:54] #2445 closed

[2018-10-02 01:55] rjmurillo commented on #2514
Are you building a debug version yourself or using the packaged version?

[2018-10-02 02:37] nmetulev commented on #2475
I'd combine these two and use the enum to control how the back button lights up by providing three values:
* Automatic - default (it figures out on it's own how to handle back navigation)
* Legacy
* Off

[2018-10-02 02:44] nmetulev commented on #2512
Hey @DkmS1953, just to clarify, is this a request to build a service for the [HealthVault API](https://docs.microsoft.com/en-us/healthvault/introduction/technical-overview-applications)?

Please create a user voice entry [here](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit) to make sure we can gauge the developer interest in this feature

[2018-10-02 02:46] nmetulev commented on #2429
@kbrons, is this a fix in the code, or documentation?

[2018-10-02 02:48] nmetulev commented on #2507
I'm curios why an app targeting 15063+ doesn't work on server?

[2018-10-02 03:14] JustinXinLiu commented on #2518
I cannot replicate this on my RS5/RS6 machine. So this could be a platform bug that's already been fixed. Can someone else test?

However, I'd recommend to try setting the `Visibility` in the `Loaded` event instead. It's always safer to run your animation *after* your UI finished rendering.

[2018-10-02 03:19] mdtauk commented on #2475
I would suggest, rather than Automatic, Legacy and Off, you provide enum options that are clear in what they will do. For example

BackButtonBehaviour:
- DisplayInline
- UseExternal
- BackDisabled

**DisplayInline** would be default, following the guidance of displaying a standard styled back button within the control.  This could also work with the B button on the gamepad, or the backspace key on

[2018-10-02 07:53] XamlBrewer commented on #2276
@TGoodhew Did you already started on the Radial Gauge? I have appropriate high contrast default colors and an AutomationPeer for the Narrator ready.

[2018-10-02 09:49] touseefbsb commented on #2475
@mdtauk  yes definitely this suggestion makes more sense and seems more powerful.

[2018-10-02 10:58] DkmS1953 commented on #2512
Hey @nmetulev , yes, that's what I meant. Entry added.

[2018-10-02 17:43] TGoodhew commented on #2276
Great – I’m just wrapping up expander now – Can you tell me the branch you have these in and I’ll bring them over.

Thanks,

TonyG

From: Diederik Krols <notifications@github.com>
Sent: Tuesday, October 2, 2018 12:54 AM
To: windows-toolkit/WindowsCommunityToolkit <WindowsCommunityToolkit@noreply.github.com>
Cc: Tony Goodhew <tgoodhew@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re

[2018-10-02 18:02] nmetulev commented on #2276
@XamlBrewer I recommend to just submit the PR for the Radial Gauge if you already have it ready.

[2018-10-02 18:04] nmetulev commented on #2512
Thanks @DkmS1953, can you share a link to your UserVoice, I wasn't able to find it

[2018-10-02 19:44] skendrot commented on #2475
Also, to maintain backward compatibility, and not have a breaking change, shouldn't the default be the legacy option. Then in the next major version we can change the default to be auto

[2018-10-02 20:14] nmetulev commented on #2475
I like System better than legacy, that's much better

I'm not particularly pationate about the default value either way since next version is a major update (5.0). I'm ok with keeping it default to System and then changing the default to Automatic in 6.0.

[2018-10-02 21:48] touseefbsb commented on #2475
and there can be a notice as a warning that System back button will be deprecated in a future release ( 6.0 ) something like that? or will the system back button always be an option, even after the sets are released (probably in april 2019 release )?

[2018-10-02 23:01] DkmS1953 commented on #2512
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/35608549-add-a-service-like-onedrive-to-work-with-healthvau

Wbr, Dyakov K.M.

вт, 2 окт. 2018 г. в 21:04, Nikola Metulev <notifications@github.com>:

[2018-10-03 11:45] AlKau commented on #2518
I've just updated my machine, VS and SDK.
Windows 10 Build Number: October 2018 Update v1809 (17763.1)
App min and target version: October 2018 Update v1809 (17763)
Visual Studio 2017 (version: 15.8.6)

The animation still doesn't work even when `Visibility` is changed in the `Loaded` event.

I will explane how I do it in the project Microsoft.Toolkit.Uwp.SampleApp (master branch):
1) Change the d

[2018-10-03 18:21] nmetulev commented on #2512
Thank you!

[2018-10-03 18:50] mdtauk commented on #2475
Even with Sets, the system back button is not being deprecated.  It will just place it into a bar below the tabs with a back button on it.  But if Sets is there, you should absolutely switch to an in app button

![image](https://user-images.githubusercontent.com/7389110/46432195-8900c500-c745-11e8-8ddf-a7ba7d40ddc0.png)

[2018-10-03 20:57] touseefbsb commented on #2475
so apparently there is a whole toolbar just for 1 backbutton ( in case of sets ) ? or will there be more platform controls on it?

[2018-10-03 21:33] mdtauk commented on #2475
I don't know of any additional controls the shell would add.  But it is because this is a far from elegant solution for Back Navigation - that the guidance is to handle it in app.

If you think about it, the back button is scoped within a Sets Tab.  It wouldn't appear alongside tabs, and so can't appear in the Titlebar.

[2018-10-03 21:48] touseefbsb commented on #2475
yeah it just looks too much wasted UI space there, just 1 button there.

[2018-10-03 21:53] mdtauk commented on #2475
@touseefbsb   As of right now, that is what the standard behaviour will be if you choose to let the Shell handle the Back Button with a Sets window.  As Sets is still not included in Windows builds, this may change, but better to enable the control/app shell to handle drawing a back button, and move away from having the Titlebar handle it.

[2018-10-03 21:57] touseefbsb commented on #2475
I agree, that is why I also think moving away from titlebar stuff and not even extending the app into title bar at all will help the app being used properly with sets.

[2018-10-03 22:16] nmetulev commented on #2456
Thanks, closing issue

[2018-10-03 22:16] #2456 closed

[2018-10-03 22:41] mdtauk commented on #2475
Sets may not even make it to the 19H1 release, so for the time being, it is important for apps to look good and extend into titlebars when possible.  Devs can also choose not to allow their app to work with Sets, so having the flexibility with the control, and altering/overriding the default when running in a Sets tab, makes sense.  At least it does to me lol

[2018-10-04 16:48] nmetulev commented on #2518
Should we add this info in the documentation?

[2018-10-04 17:20] nmetulev commented on #2372
PR merged

[2018-10-04 21:52] nmetulev commented on #2510
ping @marb2000

[2018-10-04 21:54] nmetulev commented on #2508
Sounds like this is not something we can add to the toolkit. Closing issue but let me know if I've misunderstood and we can revisit this.

[2018-10-04 21:54] #2508 closed

[2018-10-04 22:00] nmetulev commented on #2463
This has been fixed in the latest documentation

[2018-10-04 22:00] #2463 closed

[2018-10-04 22:01] nmetulev commented on #2461
PR merged

[2018-10-04 22:01] #2461 closed

[2018-10-04 22:03] nmetulev commented on #2452
ping @WilliamABradley

[2018-10-04 22:06] nmetulev commented on #2451
This is implemented in the latest wrapped controls PR

[2018-10-04 22:06] #2451 closed

[2018-10-04 22:07] #2450 closed

[2018-10-04 22:11] nmetulev commented on #2419
@JustinXinLiu , could this issue be related to [this](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2518#issuecomment-426888779)?

[2018-10-04 22:13] nmetulev commented on #2405
PR merged

[2018-10-04 22:13] #2405 closed

[2018-10-04 22:15] WilliamABradley commented on #2452
@nmetulev I should be able to work on this tonight.

[2018-10-04 22:18] nmetulev commented on #2329
Closing issue as more info is requred

[2018-10-04 22:18] #2329 closed

[2018-10-04 23:07] nmetulev opened #2530 "Update PlatformSpecificAnalyzer with latest SDK support"
## I'm submitting a...

- Feature request

## Current behavior

The PlatformSpecificAnalyzer does not work for APIs introduced in 17763

## Expected behavior

The PlatformSpecificAnalyzer works for APIs introduced in 17763

[2018-10-04 23:07] nmetulev commented on #2530
@hermitdave, could you take a look at this?

[2018-10-05 01:33] nmetulev commented on #2484
PR merged

[2018-10-05 01:33] #2484 closed

[2018-10-05 04:35] hermitdave commented on #2530
On it.. I'll try and install the update and SDK today and get it sorted

[2018-10-05 04:51] nmetulev commented on #2222
I ran through few test on this and was able to reproduce the issue. The issue is also there when using the ConnectedAnimation APIs directly without the toolkit which means this is an issue with the platform.

@JustinXinLiu, what do you think?

Here is my repro project:
[ConnectedAnimationTest.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2448981/ConnectedAnimationTest.zip)

[2018-10-05 05:59] JustinXinLiu commented on #2222
This could be because the image takes longer to load when it's from local folder. You just need to make sure the image is loaded first and then start the animation.

[code]

[2018-10-05 06:14] JustinXinLiu commented on #2419
I don't think they are related. @jefhai Can I get a repo? It would help me understand what the issue is.

[2018-10-05 11:14] jefhai commented on #2419
Working on one this morning.

Sent from my iPhone

[2018-10-05 14:56] nmetulev commented on #2222
The issue then is that while waiting for the image to open, both the image on the previous page and the image on the new page are visible at the same time for very short time causing a weird jump in the animation.

[2018-10-05 16:03] nmetulev commented on #2311
@hermitdave, are you able to take a look at this now?

[2018-10-05 16:05] nmetulev commented on #2204
Is there an update on this issue?

[2018-10-05 16:06] nmetulev commented on #2162
Creators update is no longer supported in the toolkit, closing issue

[2018-10-05 16:06] #2162 closed

[2018-10-05 16:11] nmetulev commented on #2142
[ing @Odonno

[2018-10-05 16:44] hermitdave commented on #2311
Let me try a full solution compile.. if it works then definitely

[2018-10-05 18:44] Odonno commented on #2142
Sorry, I will try to take a look but I already have some work before this task. @vleonavmsft Feel free to start a PR if you like.

[2018-10-05 19:46] alexrfan03 opened #2532 "BluetoothLEAdvertisement ManufacturerData is null"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior

Started a new scan of the BluetoothLEAdvertisementWatcher, and the BluetoothLEAdvertisement of the device I'm trying to connect to does not contain the ManufacturerData.

## Expected behavior

The BluetoothLEAdvertisement should contain ManufacturerData.

## Minimal reproduction of the pr

[2018-10-05 22:18] michael-hawker commented on #2156
@nmetulev should we change this to 'feature-request' and open a user-voice or something for this since it was outside of the initial scope?

[2018-10-06 00:15] nmetulev commented on #2320
Just submitted PR #2533. This PR adds the ability to register elements on a page with the helper in code behind. The issue here is caused by the ScrollViewer loading after the page navigation has completed, so the element could not be registered for navigation using the XAML attached properties.

To use the new methods, remove the attached property from XAML and add this in the `OnNavigatedTo` met

[2018-10-06 00:18] nmetulev commented on #2152
Just submitted PR #2533. @mvegaca, could you validate this solution in your scenario?

The PR adds an extension method that allows you to override the parameter during next Frame navigation to specify a custom object. In your case, you would call:

[code]

right before you navigate back to the previous page.

[2018-10-07 18:04] ssrakesh commented on #2438
This issue happens bz of some other nuget package in the solution included recent version of ActiveDirectory.Platform.
In my case Microsoft.Azure.EventHubs is using Microsoft.IdentityModel.Clients.ActiveDirectory (3.19.6) and this one still uses 3.13.7.
and bz of this I cannot use this toolkit with my project

[2018-10-08 08:38] filipwa84 commented on #2120
I made a [user voice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/35469085-add-support-for-incremental-loading-with-the-datag) on this a few weeks ago and I do have a working solution for it as well.

Will create a pull request.

[2018-10-08 08:51] mdtauk commented on #2475
@touseefbsb  That is how I understand it.  When opened from another Tab it will appear in its own window, wont be able to be stored along with other tabs either.

[2018-10-08 19:49] JustinXinLiu commented on #2222
Yeah to workaround it you will have to set the `image.Opacity` to `0` in `NavigatedTo` and then set it back to `1` in `Image_OnImageOpened`.
But this looks like a bug 'cause I don't need to do this even for remote images which should take longer time to load. It has something to do with local images only.

@stmoy, are you aware of this?

[2018-10-08 20:06] JustinXinLiu commented on #2222
Actually, turns out this is a known platform bug that will be fixed in a future release. You can use my workaround for the time being. Closing the issue as it's not part of the Toolkit now...

[2018-10-08 20:06] #2222 closed

[2018-10-08 20:51] rjmurillo opened #2537 "WPF WebView Source property not synchronized with document"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

When performing a data bind with the WebView's `Source` property, or when inspecting the value of Source after a navigation, the value provided does not match the location of the document from `NavigationCompleted` events or `window.location.href` from JavaScript.

## Expected behavior

[2018-10-08 20:56] #2452 closed

[2018-10-08 21:03] nmetulev commented on #2530
PR merged

[2018-10-08 21:03] #2530 closed

[2018-10-08 21:36] JustinXinLiu commented on #2419
@jefhai How are you going with the repo?

[2018-10-08 21:59] gsantopaolo opened #2539 "WPF InkCanvas - The inkable area of the ink canvas is 1/4 of the whole ink canvas"
## I'm submitting a bug report (I searched for similar issues and did not find one)

## Current behavior
The inkable area of the ink canvas is 1/4 of the whole ink canvas:
![image](https://user-images.githubusercontent.com/9937149/46635708-9e1a9100-cb55-11e8-9f94-b75666fc167e.png)
The InkCanvas has a white background

## Expected behavior
The inkable area of the ink canvas sould be the whole ink c

[2018-10-08 22:29] michael-hawker commented on #2159
@lucaasrojas, Yup I can still repro.  Once you change to the UniformGrid, use the GridSplitter to change the view size, and you should see it jump at certain points from being the right size to a different size.

[2018-10-08 22:58] azchohfi commented on #2539
This is a known issue.
https://docs.microsoft.com/en-us/windows/uwp/xaml-platform/xaml-host-controls#whats-not-yet-supported
If you change it to 100%, it will work.
Also, if you wrap the control using [WindowsXamlHost](https://github.com/windows-toolkit/WindowsCommunityToolkit/tree/master/Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.XamlHost), it should work. This package and all it's controls

[2018-10-08 23:39] gsantopaolo commented on #2539
@azchohfi Anyways the InkCanvas background shall be transparent... ;)

[2018-10-08 23:46] azchohfi commented on #2539
That is also a known issue, and unfortunately (for the current version of Windows 10, 1809) it is not transparent. That will most likely be fixed on a future release of Windows 10.

[2018-10-09 00:33] #2539 closed

[2018-10-09 00:34] gsantopaolo commented on #2539
@azchohfi  thanks fr your patient in answering, looking forward to use xaml islands controls!

[2018-10-09 06:18] 1539224793 opened #2540 "HELP! Questions about UWP WebView supporting nodeJS"
I  recently did C embedded UWP WebView controls, but other teams developed web pages, I can not display normally, such as his new window, alert, etc., there are problems, they use node. js, I would like to ask your elders, UWP WebVIew support for node. JS is not very friendly? Are there any solutions?

[2018-10-09 06:19] 1539224793 commented on #2540
My English is terrible. I'm sorry.

[2018-10-09 11:35] gyorgygulyas opened #2541 "Xaml Internal Error error WMC9999: Cannot find type Windows.UI.Xaml.Markup.MarkupExtension in module Windows.Foundation.UniversalApiContract.winmd."
## I'm submitting a...
Bug report (I searched for similar issues **DID** not find one) #2199 which is refrenced to #1855 and closed.  The reason of close:

@nmetulev commented on Mar 1
This is expected if you are targeting a version lower than you development machine. The cause of this is the APIInformation APIs in UWP. **They check the system if it supports an API and not the target version of th

[2018-10-09 16:11] COM8 opened #2542 "AdvancedCollectionView subscribe to events if DeferRefresh() is active"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

If `DeferRefresh()` is active and you add/replace/remove items the AdvancedCollectionView won't subscribe/unsubscribe to their `PropertyChanged` attributes.

The problematic lines of code in [AdvancedCollectionView.cs](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/v4.0.0/

[2018-10-09 17:04] kbrons commented on #2542
Thanks for reporting the issue! Given that you've already located the source, would you like to submit a PR with a fix? We can help you if you find any issues in the process.

[2018-10-09 17:07] COM8 commented on #2542
Sure, I think that's something I can do.

[2018-10-09 17:11] COM8 commented on #2542
Will work on it in the next couple of days.

[2018-10-09 19:28] kbrons commented on #2540
Hi @1539224793. This repository doesn't host the WebView for UWP, but only the ports to Win32 and WPF of the control. For any questions related to the UWP control, you can ask on the [official docs](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/web-view).
Closing the issue.

[2018-10-09 19:28] #2540 closed

[2018-10-09 20:48] nmetulev commented on #2152
PR merged

[2018-10-09 20:48] #2152 closed

[2018-10-09 20:48] nmetulev commented on #2320
PR merged

[2018-10-09 20:48] #2320 closed

[2018-10-09 23:01] rjmurillo commented on #2458
The issue appears to be of when we translate the display rect in WPF to the XAML rect:
https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.Controls.WebView/WebView.cs#L1192-L1196

[2018-10-09 23:11] rjmurillo commented on #2078
This crash occurs because the web view cannot provision storage for protected media keys. Same issue when navigating to Netflix and viewing a video feed.

[2018-10-09 23:13] rjmurillo commented on #2458
May be related to #2077

[2018-10-09 23:14] rjmurillo commented on #2078
See #2175

[2018-10-09 23:14] #2078 closed

[2018-10-09 23:15] rjmurillo commented on #2079
Note: the string "Win32WebViewHost" has been replaced with "Desktop App Web Viewer"

[2018-10-10 01:43] azchohfi opened #2543 "XAML Island (WindowsXamlHost) does not work with multiple WPF Windows."
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
In WPF, if you have multiple Windows and try to use the WindowsXamlHost in more than one of them, when you try to create the control on the new window, it will crash with the following error:
[code]

## Expected behavior
XAML Islands work on multiple WPF Windows, even if they are running o

[2018-10-10 03:48] nmetulev commented on #2300
PR merged

[2018-10-10 03:48] #2300 closed

[2018-10-10 09:47] hermitdave commented on #2311
I can't reproduce the issue on the current codebase
![dropshadowpanel2](https://user-images.githubusercontent.com/1896163/46727988-b2f04500-cc79-11e8-9dc9-0e468786ab29.JPG)
![dropshadowpanel1](https://user-images.githubusercontent.com/1896163/46727989-b2f04500-cc79-11e8-80cf-ea39d1a90be8.JPG)

[2018-10-10 12:54] lucaasrojas commented on #2159
@michael-hawker I tried it again and I could reproduce the problem. Is this what you see?
![uniformgrid](https://user-images.githubusercontent.com/26610409/46737609-53db0200-cc72-11e8-8e58-059728c72564.gif)

[2018-10-10 15:37] drache42 commented on #2532
Could you please collect verbose logs so we can take a look. Instructions are here: https://github.com/Microsoft/busiotools/tree/master/bluetooth/tracing

[2018-10-10 16:00] kbrons commented on #2469
Hi @ClairelyClaire, I'm not completely sure what you mean by the grabber node. Could you explain further?

Here's what I get when trying to move a vertical GridSplitter.
![grabber node issue](https://user-images.githubusercontent.com/14252330/46749518-4df21a80-cc8c-11e8-8bed-dc607389e5e6.png)

[2018-10-10 16:02] kbrons commented on #2478
@MSRegisB ping

[2018-10-10 16:32] mdtauk commented on #2441
If this makes it down to the platform/Win UI level - it should be a property of something like **TextOrientation** Horizontal; Vertical; - which works alongside Left, Right, Centred, Justify - and possibly include Top, Middle, Bottom options as well.  If the underlying Direct Write API supports something, surely the native/xaml controls should expose them.

[2018-10-10 17:43] onovotny opened #2546 "WebViewCompatible missing for Windows Forms"
## I'm submitting a...

- New feature: As part of the WebViewCompatible work, the wrapper was only done for WPF. WinForms is missing a wrapper.

## Current behavior

Currently only WPF has the WebViewCompatible control

## Expected behavior

Control is available for both WinForms and WPF.

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-10-10 18:41] ranjeshj opened #2547 "UWPTypeFactory.CreateXamlContentByType tries to activate framework types using the app's metadata provider"
Bug report (I searched for similar issues and did not find one)

## Current behavior
Loading a custom type from the app that derives from a framework type causes the app to crash.

## Expected behavior
Activation code should check if the type is a framework type and if it is a framework type activate it from the framework instead of asking the app's type info provider.

[2018-10-10 20:40] azchohfi commented on #2547
Thanks!

[2018-10-10 22:29] nmetulev commented on #2543
Looks like this is a known platform issue, details here: https://docs.microsoft.com/windows/uwp/xaml-platform/xaml-host-controls

[2018-10-11 10:04] aquinn39 opened #2551 "Elements hosted in XAML Islands (WindowsXamlHost) in WPF apps always scale at 100% DPI scaling, regardless of what is set in Settings"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior

UWP Controls hosted in the XAML host in WPF apps do not scale correctly according to the DPI scale factor set in settings. They always scale at 100% unless using bitmap-stretching to scale the window.

## Expected behavior

Controls should scale according to the set DPI scale factor.

#

[2018-10-11 14:06] kbrons commented on #2551
This is a known issue, it's being worked on and a fix will be available in the future.
![image](https://user-images.githubusercontent.com/14252330/46809787-a33e3280-cd45-11e8-9aac-2628e872182b.png)

You can find more information in [the docs](https://docs.microsoft.com/en-us/windows/uwp/xaml-platform/xaml-host-controls#whats-not-yet-supported).

[2018-10-11 14:06] #2551 closed

[2018-10-11 20:07] kbrons commented on #2276
GridSplitter strange behavior on High Contrast White theme (also requires the app theme to be Light to test it on the toolkit's Sample App)
![gridsplitter high contrast white](https://user-images.githubusercontent.com/14252330/46830845-20829b00-cd78-11e8-92e8-d41179de6031.gif)

[2018-10-11 20:09] TGoodhew commented on #2276
Ah the splitter itself goes white - Is that correct?

[2018-10-11 20:10] kbrons commented on #2276
Yes, when hovered or selected

[2018-10-11 20:17] gsantopaolo opened #2552 "[Feature Request] ScatterView control to support the SurfaceHub / multiuser development"
## I'm submitting a Feature request (UserVoice request: )
As discussed [here  ](https://www.youtube.com/watch?v=e8qTD5g14ks)with Nikola Metulev the UX of a UWP app running on a multi-user / multi-touch device, to empower the possibility of the device itself shall be designed the way that several user can interact with the device at the same time.
The scatter-view idea is just the concept already a

[2018-10-11 20:24] gsantopaolo opened #2553 "[Feature Request] Delete Ink by point InkToolbar"
## I'm submitting a.Feature request (UserVoice request: ) -->
Have you experienced the stroke deletion using the standard InkCanvas/InkTollbar against the ink deletion experience on the Sketchpad app?
The Sketchpad app gives user a more natural way of deleting strokes because it allows you to delete ink by single point, like an eraser on the real life.
![image](https://user-images.githubuserconten

[2018-10-11 20:48] kbrons commented on #2553
Hi @gsantopaolo, let me know if I get this right. The idea would be to add this stroke erasing capability to the InkToolbar, or create an alternative/replacement for it using the Sketchpad app functionality?

[2018-10-11 21:01] gsantopaolo commented on #2553
@kbrons an inktoolbar extended control with delete by point functionality
All the code for the ink deletion by point is ready i need/we need to figure out what it means to implement it as a control extenstion

[2018-10-11 22:17] nmetulev commented on #2552
/cc @JustinXinLiu

[2018-10-11 22:19] nmetulev commented on #2546
#2467 is adding this

[2018-10-11 22:30] nmetulev commented on #2311
@hermitdave, try it in a blank app and make sure the rectangle is not square. Here is what it looks like for me with the latest codebase and the repro code provided:

![image](https://user-images.githubusercontent.com/711864/46837512-78b2a080-cd6a-11e8-830e-dcda86e0e65b.png)

[2018-10-11 22:59] nmetulev commented on #2511
We no longer support 15063 as of v5.0 - will not fix this issue

[2018-10-11 22:59] #2511 closed

[2018-10-11 23:02] nmetulev commented on #2071
Closing issue without repro.

[2018-10-11 23:02] #2071 closed

[2018-10-11 23:06] nmetulev commented on #1954
Closing issue as completed in #2528

[2018-10-11 23:06] #1954 closed

[2018-10-12 06:20] Tlaster opened #2554 "[Feature Request] Add IncrementalLoading support for StaggeredPanel"
## I'm submitting a...

 - Feature request (UserVoice request: [link](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/35702080-add-incrementalloading-support-for-staggeredpanel))

## Current behavior

IncrementalLoading doesn't work when setting ListView/GridView's ItemsPanel to StaggeredPanel (or other custom panel)

## Expected behavior

IncrementalLoading works

[2018-10-12 10:10] seanocali opened #2555 "Can't Remove Light Effect"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

After using a Light animation, there's no obvious way to remove the effect.

## Expected behavior

FrameworkElement.Light(0, 0).Start() would remove the effect.  But it only removes the spotlight, not the shadow.

## Minimal reproduction of the problem with instructions

[code]
## Environm

[2018-10-12 14:01] alexrfan03 commented on #2532
[bug.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2473339/bug.zip)

Hopefully I did that correctly.

[2018-10-12 14:12] kbrons commented on #2555
Hi @seanocali, thanks for reporting the issue! Could you submit a reproduction project?

[2018-10-12 14:36] drache42 commented on #2532
@alexrfan03 I don't see the tracing file from the wpr.exe command. Under "Collecting logs" the command "wpr.exe -stop BthTracing.etl" should output BthTracing.etl. That's the most important file right now. Please collect the logs again following the previous instructions and attach BthTracing.etl.

Thank you

[2018-10-12 14:42] alexrfan03 commented on #2532
[BthTracing.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2473507/BthTracing.zip)
Sorry about that.

[2018-10-12 15:38] seanocali commented on #2555
[LightEffectBugRepoApp.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2473688/LightEffectBugRepoApp.zip)

[2018-10-12 16:35] ClairelyClaire commented on #2469
@kbrons - the animated GIF in the original post shows what I'm describing - the grabber widget, which looks like || , isn't appearing in the vertical gridsplitter divider of the sample until I interact with the menu on the right edge of the window.

This is happening regardless of the app.

[2018-10-12 16:47] skendrot opened #2557 "Remove RoundedImageEx from sample app"
## I'm submitting a...

- Sample app request

## Current behavior

Sample uses RoundedImageEx making the MasterDetailsView sample unusable

## Expected behavior

The sample should be usable

## Minimal reproduction of the problem with instructions

Build master branch, run sample and open the MasterDetailsView sample

## Environment

[code]

[2018-10-12 16:50] #2557 closed

[2018-10-12 16:57] skendrot commented on #2554
As noted in #2191

        <ListView ItemsSource="{x:Bind MyCollection}">
            <ItemsControl.ItemsPanel>
                <ItemsPanelTemplate>
                    <StackPanel/>
                </ItemsPanelTemplate>
            </ItemsControl.ItemsPanel>
        </ListView>

[2018-10-12 17:43] nmetulev commented on #1821
PR merged

[2018-10-12 17:43] #1821 closed

[2018-10-12 18:21] nmetulev commented on #2555
If I understand this correctly, the ask here is to add a way to remove the visual effect completely? If so, I wonder if it makes sense to add an extensin method to do that?

@JustinXinLiu might have some thoughts on this as well

[2018-10-12 19:35] michael-hawker commented on #2552
Can you link to the specific place in the video where this feature is mentioned?

[2018-10-12 19:36] skendrot commented on #2475
Small complication to support the new NavigationView. The `BackRequested` event handler does not contain a way to cancel the event or mark that it has been handled. Without this ability the MasterDetailsView would handle moving from Details to Master views and then the developer would handle going back in state as well.
We can support IFF a frame is being used as well to aid navigation.

[2018-10-12 19:41] shweaver-MSFT commented on #2553
I have some code for this, but it needs to be formalized into a more usable form.

You can find it here: [InkToolbarAndCustomDryInk](https://github.com/shweaver-MSFT/InkToolbarAndCustomDryInk/tree/point-eraser)

I've been meaning to distill it but haven't found the time. Anyone is welcome to grab the code and play with it. As a note, it is not 100%, but works fairly well. I have some guidance from

[2018-10-12 20:32] skendrot commented on #2475
We already handle frame navigation so that's already built in. We just can't rely on using the new NavigationView unless there is a frame also

[2018-10-12 21:53] nmetulev commented on #2475
So if WTS is using a Frame for their navigation inside of the NavView, it should already work?

[2018-10-12 21:55] #2500 closed

[2018-10-12 22:06] skendrot commented on #2475
Yes, with unwanted extras. The MasterDetailsView will enable the system back button, which WTS doesn't want. But, if they handle the NavigationView back button by navigating in a frame, then the MasterDetailsView will catch that event, and if it is the collapsed Details state, will mark it as cancel and move back to the master view.

[2018-10-12 22:15] michael-hawker commented on #2509
I wonder if the behavior is the same with the LayoutTransform?  What's the scenario for a rotated grid?

[2018-10-13 00:35] Tlaster commented on #2554
Since both of the ItemsWrapGrid and ItemsStackPanel are sealed I wonder if there is a way to do that.
And I've noticed that the data virtualization is broken if the panel isn't ItemsStackPanel or ItemsWrapGrid

[2018-10-13 12:15] gsantopaolo commented on #2553
Hi @shweaver-MSFT It seems the world is very small!!! :) I believe you forked one of my sample when I asked help to Cherry Wang to get a solution to the delete by point thing
![image](https://user-images.githubusercontent.com/9937149/46905267-454e4e00-cef1-11e8-9344-b50667ad0466.png)
Your repo is the fork of one of my company :)
That's very nice.
And yes, what I want to do is to split it in severa

[2018-10-13 12:29] gsantopaolo commented on #2552
@michaelawker almost all the video is about the ScatterView. Never mentioned the component name because that was a general discussion. You can have a look at it all it's just 10minutes you can also watch it 1.5x speed ;)

[2018-10-13 12:30] hermitdave commented on #2311
I have a repro and I'm looking into it. I've also reached out to composition team.

[2018-10-14 17:38] shweaver-MSFT commented on #2553
@gsantopaolo, that's right! These would be really great features/samples to have for custom inking. Hopefully someone can pick this up :)

[2018-10-15 03:39] JustinXinLiu commented on #2555
The current `Light` implementation is dated and will likely be replaced by [`XamlLight`](https://docs.microsoft.com/en-us/windows/uwp/composition/xaml-lighting) in the future. For the time being, I'd recommend to roll your own.

[2018-10-15 03:47] JustinXinLiu commented on #2554
I don't recommend doing this right now since `StaggeredPanel` is not virtualized. There's a new control called `Repeater` from [WinUI](https://github.com/Microsoft/microsoft-ui-xaml) and it will be the base building block for any custom virtualizing panels going forward.

However, the documentation of this control is not ready yet. But there is a `Repeater` sample [here](https://github.com/Microso

[2018-10-15 06:03] Tlaster commented on #2554
That's awesome, I can easily create a ```StaggeredLayout``` for ```Repeater```, but still no ```ISupportIncrementalLoading``` support, though there're some workarounds to do that
Closing the issue since it's not a good idea

[2018-10-15 06:03] #2554 closed

[2018-10-15 13:02] mvegaca commented on #2152
I'm trying to run the app using Libraries code instead of Nuget library because the last preview package does not contain this PR changes.
When will be released the next preview nuget package?

[2018-10-15 13:08] gsantopaolo commented on #2553
@shweaver-MSFT working on decoupling it, then we need to check if it's possible to create a control out of it as per subject

[2018-10-15 15:37] nmetulev commented on #2152
The latest preview package is on [myget](https://dotnet.myget.org/gallery/uwpcommunitytoolkit). The latest build should have this change

[2018-10-15 21:12] touseefbsb opened #2564 "ScrollHeader with a TextBox inside it gets focus on tapping anywhere on header"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

While using **ScrollHeader** with **AdaptiveGridView**. If we put a **TextBox/AutoSuggestBox** in the header, the **autosuggestbox/textbox** gets focus no matter where the user taps on the header and to make it loose its focus, user has to tap outside the header. the issue goes away if nor

[2018-10-15 22:15] nmetulev commented on #2542
PR merged

[2018-10-15 22:15] #2542 closed

[2018-10-15 22:15] azchohfi commented on #2443
#2549  merged.

[2018-10-15 22:15] #2443 closed

[2018-10-16 01:52] nmetulev commented on #2372
PR merged (again)

[2018-10-16 01:52] #2372 closed

[2018-10-16 02:18] #2537 closed

[2018-10-16 03:08] nmetulev commented on #2555
IMO, the current implementation should be deprecated and replaced with an implementation based on XamlLight

[2018-10-16 07:01] yangy9593 opened #2566 "[bug]WebView is not working properly under proxy."
WebView is not working properly under proxy.

[2018-10-16 14:32] sibille commented on #2475
We (WTS) are using a frame inside the NavView. The navview backbutton is already working, but an extra system back button is showing. To handle back navigation we do Frame.GoBack, but our problem is the system back button shown before going back. So, I'm not sure if we're fine. Is there a way to test this?

[2018-10-16 17:27] ranjeshj opened #2567 "UIA Tree for the Xaml Island is not exposed"
Bug report

## Current behavior
When running  a WPF app with a xaml island, the accessibility tree is not exposed at all so nothing in the Xaml island is accessible.

## Expected behavior
The xaml island should be accessible and should show the accessibility tree.

## Minimal reproduction of the problem with instructions
Run a xaml island in a wpf app, launch it and inspect the UIA tree via inspec

[2018-10-16 18:00] kbrons commented on #2555
According to the [XamlLight](https://docs.microsoft.com/en-us/windows/uwp/composition/xaml-lighting) documentation, the minimum version supported is the Creators Update. By the current supported platforms of the toolkit, we could already start working on it.

[2018-10-16 18:01] #2567 closed

[2018-10-16 18:46] kbrons commented on #2469
Hi @ClairelyClaire, after a closer inspection, I noticed the issue you're referring to. In my device, the grabber appears, but on a different color than the horizontal grabber, when using the dark theme. Can you confirm if this happens on the light theme as well?

[2018-10-16 19:12] kbrons commented on #2429
It's a fix in the code. I'll submit a PR soon with the change so more people can test it and make sure it works. The issue might have been related to a change on the endpoints.

[2018-10-16 19:30] kbrons commented on #2204
Wouldn't this work using the BladeView normal mode (instead of fullscreen) and handling the width of each blade separately? Seems like that code worked because of an unwanted behavior that was fixed after v2.2.

[2018-10-16 19:39] kbrons commented on #2187
@nmetulev do we have any response from the Graph team?

[2018-10-16 19:42] #2204 closed

[2018-10-16 19:46] kbrons commented on #2017
@fatcatz888 what's the hardware you're testing on? I can't reproduce it on a ThinkPad X1.

[2018-10-16 20:12] nmetulev commented on #2187
Let me follow up again.

[2018-10-16 20:38] nmetulev commented on #2555
@kbrons, could you submit a PR to just deprecate the current light implementation and point developers to XamlLight?

[2018-10-16 20:47] Bmartin2013 commented on #2566
Thanks for submitting this issue, but we need more information about it. Please submit the issue using the Windows Toolkit's issue template, and, if it's possible, upload a sample app too.

[2018-10-16 21:17] azchohfi commented on #2325
PR Merged.

[2018-10-16 21:17] #2325 closed

[2018-10-16 21:58] hansmbakker opened #2569 "Removed properties are still in documentation"
## I'm submitting a...

- Documentation issue or request

## Current behavior

`UnitBrush` and `ValueBrush` properties are removed from `RadialGauge` but are still listed on https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/docs/controls/RadialGauge.md

## Expected behavior

Documentation is up-to-date with control properties

## Environment

[code]

[2018-10-17 10:47] jamesmcroft opened #2571 "Platform Specific Analyzer can be installed by any Windows project version"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

- Documentation issue or request

## Current behavior
Installing the Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer installs to a project which supports older versions of Windows 10 (e.g. Anniversary Update).

As this can be done, its possible to use it in these projects, however the analyzer will sometimes

[2018-10-17 14:09] jvolo opened #2572 "RichEditBox ContentLinkProvider For MicrosoftGraph People"
## I'm submitting a...
- Feature request
- Documentation issue or request

## Current behavior
At the moment there are 2 Content link providers for [RichEditBox Control](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/content-links#enable-content-links-in-a-richeditbox)

## Expected behavior
I would like to get in the [ContactContentLinkProvider](https://docs.microsoft.co

[2018-10-17 14:12] mvegaca commented on #2152
I've target the package reference to last MyGet CI version and run, there is an exception:

**App**
[ImageGalleryApp.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2487780/ImageGalleryApp.zip)

**Message**
[code]

**Stacktrace**
[code]

[2018-10-17 15:42] nmetulev commented on #2152
What's your OS build number and min and target versions?

[2018-10-17 15:52] kbrons commented on #2429
@lhak @Jon-Salmon PR submitted

[2018-10-17 15:53] nmetulev commented on #2571
ping @hermitdave

[2018-10-17 15:55] mvegaca commented on #2475
Hi @nmetulev I'm trying to test the new BackButtonBehaviorProperty in a  git repository clone of @skendrot but I can't compile the app targeting directly to the library.
Can you approve the PR to test this changes in MyGet CI packages?

Thanks

[2018-10-17 15:58] nmetulev commented on #2569
Thanks for reporting this, docs are updated with MicrosoftDocs/WindowsCommunityToolkitDocs#126 and should be live shortly.

[2018-10-17 15:58] #2569 closed

[2018-10-17 16:08] nmetulev commented on #2152
From what I can tell, this would only fail if your dev machine OS is 17763 but your target app version is lower.

[2018-10-17 16:39] skendrot commented on #2475
@mvegaca I had the same problem when trying to test. I could not reference my local copy of the assemblies. We need to figure out what is going on here because it makes testing issues a lot more difficult

[2018-10-17 16:43] hermitdave commented on #2571
We only support the current and 2 prior SDK releases. Having days that adding support for releases is not that difficult.

There is no way to identify the Target and Min SDK versions to support intelligence. Best option is to generate required diffs and building a custom version

[2018-10-17 17:03] jamesmcroft commented on #2571
While I'd like to use the analyzer and do understand the current minus 2 rule, there's nothing currently stopping any user from installing the NuGet package to an older SDK targeted version.

I'll assume going forward this will be limited within the specification of the package to the Fall Creators Update, forcing the package manager to not install it if this minimum requirement isn't met.

[2018-10-17 17:45] hermitdave commented on #2571
I'm not sure. Ideally i would like to have supported all SDK versions

[2018-10-17 20:11] kbrons commented on #2572
Hi @jvolo, thanks for submitting a feature request! Please, create an [UserVoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit) with your request and add it to the issue

[2018-10-17 21:05] nmetulev commented on #2571
The [TargetFramework](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer.csproj#L4) for the analyzer is netstandard. Is there a way to limit the minimum target like we do we the other packages? @onovotny might know

[2018-10-17 21:15] jamesmcroft commented on #2571
If you were to limit it to FCU, you could use uap10.0.16299 as the Target
Framework. I think this was the first one to support doing this in NuGet.

[2018-10-18 00:30] Jon-Salmon commented on #2429
Thank you very much @kbrons

[2018-10-18 01:30] fatcatz888 commented on #2017
It's happened on my Asus notebook (n550) and Asus desktop. I'm quite sure it is not hardware as I have other UWP apps that do not have this issue.

My only app that uses the GridSplitter shows this issue. If the mouse moves out of the UWP app's window the cursor reappears. Move it back inside the UWP app's windows, the cursor disappears.

I've added code so that if the user manages to hit the back

[2018-10-18 04:19] nmetulev commented on #2475
What are the issues you are having with testing the assemblies?

[2018-10-18 04:34] nmetulev commented on #2564
This is an issue with ScrollViewer (it's used in the ScrollHeader). For example, the following has the exact same behavior:
[code]

Not sure if there is a way to *fix* this without removing the ScrollViewer, some investigation is needed. Open to anyone to investigate further.

[2018-10-18 05:00] nmetulev commented on #2285
ping. @skendrot, should we try to get this in for 5.0?

[2018-10-18 06:30] mvegaca commented on #2152
My machine is on 17134 version and is configured as targetVersion: 17134 minVersion: 16299

[2018-10-18 10:19] hermitdave commented on #2311
Having talked to composition team they can repro the same and are looking at Viewbox Fill option. They suggested that others should work

However the only one that works correctly is Uniform.

UniformToFill generates dropshadow that hides fully behind the content it is supposed to shadown.

Another suggestion is using CustomMask option rather than GetAlphaMask. This needs to be looked at further.

[2018-10-18 10:53] hermitdave commented on #2311
I have also tried is setting size to the grid that contains the DropShadowPanel and that works slightly better. Fill option though is no better.

[2018-10-18 14:59] SuperJMN opened #2577 "Quick Question: DataGrid Selection Unit?"
<<This is a question>>

I'm using a DataGrid from the latest preview (5.x.x.x)

I would like to know if it's any property that can make the DataGrid to select full rows instead of single cells.

In WPF, this would be:

**SelectionUnit**
 - Cell
 - FullRow (Default)
 - CellOrRowHeader

[2018-10-18 16:10] mvegaca commented on #2475
We've added a PoC app in the WCT solution, remove nuget package reference and reference directly to the projects.
When I compile the project I got the following error in all XAML files:

[code]

Thank you @nmetulev  ;)

[2018-10-18 16:14] skendrot commented on #2285
Is it available in FCU?

[2018-10-18 16:47] nmetulev commented on #2285
I don't think HeaderPlacement property exists at all, it's not part of the 17763 sdk. No point in waiting for something that we don't know if it exists, IMO we should add an orientation property and if there is a new property in the future we can always revisit.

[2018-10-18 16:48] nmetulev commented on #2475
I recommend building the nugets locally and referencing those. You can do it by using the `build\build.ps1` script which should generate the nuges in the bin folder.

[2018-10-18 17:16] skendrot commented on #2475
@mvegaca Same issues I was seeing

[2018-10-18 18:14] touseefbsb commented on #2564
if the issue is in ScrollViewer which is a platform control and is usually hard to get a fast change or fix in them, would it be possible to request winUI team to make the fix and ship an improved ScrollViewer in winUI library? Would that make sense here?

[2018-10-18 18:34] azchohfi commented on #2429
#2575 Merged.

[2018-10-18 18:34] #2429 closed

[2018-10-18 18:52] azchohfi opened #2578 "Xaml Island does not work on .Net Core 3.0"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
Can't add any of the Microsoft.Toolkit.Forms.* or Microsoft.Toolkit.Wpf.* to a .Net Core 3.0 (alpha right now, but we should be prepared) Windows Forms or Wpf project.
NuGet does not allow because it is a different target framework and right now we ship only the .net full framework version

[2018-10-18 22:32] nmetulev commented on #2571
Doesn't seem to work. I changed the target framework to `uap10.0.16299` and tried installing the nuget on a package with min target 15063 and it installed successfully. I'm sure i'm missing something obvious as the other UWP packages work fine (as in won't install). What am I missing?

[2018-10-19 01:49] nmetulev commented on #2564
I might be wrong, but I don't think there is a ScrollViewer in WinUI.

[2018-10-19 01:52] nmetulev commented on #2475
The projects can't be referenced directly unfortunatly as they depend on the solution configuration. For development, I tend to link the source files directly in new project as that seems to work much better and faster that developing in the sample app. For testing, I always build the nugets locally and reference those

[2018-10-19 06:42] mvegaca commented on #2475
We've tested it locally and it works fine 😄
You can merge the PR if all it's ok for you.

Thank you all guys

![image](https://user-images.githubusercontent.com/5556784/47201668-f97d2800-d37a-11e8-94bf-dc69d58fa7a8.png)

[2018-10-19 10:37] validvoid opened #2581 "Any plans to make the documentation multilingual?"
## I'm submitting a...

Documentation issue or request

## Current behavior
The documentation is available only in English.

## Expected behavior
The docs of Azure& .net core are hosted in separate repositories. Maybe we can add multilingual support for toolkit in a similar way as Azure& .net core. I'm working on a Chinese translation. I'd like to contribute it.

## Minimal reproduction of the pro

[2018-10-19 17:21] #2178 closed

[2018-10-20 18:11] hansmbakker commented on #2034
Is there any update what will happen with this next? What was the feedback?

[2018-10-21 22:32] nmetulev commented on #2152
@mvegaca, could you try it again now that the fix is merged as well?

[2018-10-22 06:46] mvegaca commented on #2152
I've tried update the selected item in SelectionChanged event
[code]

The app does not crash but the annimation to restore the big image to the thubnail image does not happen.

I attach the app.

[ImageGalleryApp.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2500390/ImageGalleryApp.zip)

[2018-10-22 13:00] jusedit opened #2584 "[Duplicate] MediaPlaybackElement not rendering in WPF when using TimelineController"
**System:**

Windows Build 1809

Windows 10 Insider Preview 18262.1000

Visual Studio 15.9.0 Preview 3.0

Windows 10 SDK 10.0.17763.0

.NET 4.7.2

**Used NuGet:**

Microsoft.Toolkit.Wpf.UI.Controls 5.0.0-preview.gb86cb1c4cb

Microsoft.Toolkit.Wpf.UI.XamlHost 5.0.0-preview.gb86cb1c4cb

**References:**

C:\Program Files (x86)\Windows Kits\10\References\10.0.17763.0\Windows.Foundation.UniversalApiCon

[2018-10-22 13:08] jusedit opened #2585 "MediaPlaybackElement not rendering in WPF when using TimelineController"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

Accordingly to the ms docs "MediaPlayerElement control for Windows Forms and WPF" I have created a WPF with Microsoft.Toolkit referenced to be able to use UWP controls. The Video plays as expected but as soon as i enable mp.TimelineController and disable mp.Play the video is not rendered a

[2018-10-22 16:15] nmetulev commented on #2152
Looks like the issue is in the way your sample data is generated - you always generate a new copy so when it tries to find the same item across the two pages it doesn't exist. I changed your SampleDataService GetGallerySampleData() to the following and now it works:

[code]

[2018-10-22 17:07] harinikmsft commented on #2577
We don't have SelectionUnit property on this DataGrid, unfortunately. What you are describing is a property that was available in WPF. This DataGrid control only allows row selection with the SelectionModes as @kbrons mentioned above.

We should look into adding this - if someone wants to start a PR before we get to it, we would be more than happy to review!

[2018-10-22 18:53] #2584 closed

[2018-10-22 19:17] N0v3x opened #2586 "DataGrid cell focus"
I can't remove black border on cell focus or selection. FocusVisualPrimaryBrush property doesn't work for me.

[2018-10-22 20:29] kbrons commented on #2586
That border is a focus indicator for accessibility purposes. Removing it would make the control less accessible. Because of that, it's enforced with a static brush that take's the system's color.

![image](https://user-images.githubusercontent.com/14252330/47317485-0cfced00-d620-11e8-8243-67c08e69d6c6.png)

[2018-10-22 20:29] #2586 closed

[2018-10-22 21:58] nmetulev commented on #2475
PR merged

[2018-10-22 22:22] DB1307 commented on #2585
While trying to solve the MediaPlayerElement not rendering issue i found more strange behaviors.
It would be great if someone could have a look into these as MediaPlayer is a massive key feature.

## Current behavior
1. AreTransportControlsEnabled="True" from docs page in XAML freezes on debug
2. mpe.MediaPlayer is null after i set mpe.SetMediaPlayer(mp)
3. **Rendering fails when TimelineControlle

[2018-10-22 22:48] nmetulev commented on #2566
Closing issue as information is missing.

[2018-10-22 22:48] #2566 closed

[2018-10-22 22:48] nmetulev commented on #2555
Light is now deprecated

[2018-10-22 22:48] #2555 closed

[2018-10-23 04:35] nmetulev commented on #2476
Fixed in https://github.com/windows-toolkit/WindowsCommunityToolkit/commit/1a06dd732ba6f324e43e6b9469adb09fb9f1f091

[2018-10-23 04:35] #2476 closed

[2018-10-23 08:53] Evilpaule commented on #2281
Is this still in development/research? There was already an windows update but no changes in behavior.
I cant get it work on my machine.

[2018-10-23 21:40] dhawalk1981 opened #2588 "WebView throws error with latest Oct 2018 windows 10 update"
## I'm submitting a...

 Bug report (I searched for similar issues and did not find one)

## Current behavior
I added the reference to the WebView Assembly and tried adding the control in the XAML.  But I get the E_NOTSUPPORTED_OS_RS4. Please note that I have the latest Windows 10 update

## Expected behavior
I should not get the exception

## Minimal reproduction of the problem with instructions

[2018-10-23 21:43] dhawalk1981 commented on #2588
I Downloaded the code and was considering commenting the following line in WebView.cs

`OSVersionHelper.ThrowIfBeforeWindows10April2018();`

But I am not able to build it as the project seems to be missing a reference called Windows. I get the following error and was not able to get past it

[2018-10-24 03:33] corykroll commented on #2264
That worked - thank you so much!

[2018-10-24 03:33] #2264 closed

[2018-10-24 11:06] MattHoppler opened #2590 "Grouped listview with stretched header"
## Feature request for ListViewExtensions

## Current behavior
Using listview with a grouped list, it's difficult to stretch the GroupHeader. The only way by now is using deprecated ContainerStyle.

![listviewgrouped](https://user-images.githubusercontent.com/17082772/47426282-12c41100-d78d-11e8-881b-58cd39c273a7.jpg)

## Expected behavior
ListViewExtenions should have some method StretchHeader ..

[2018-10-24 13:47] robertdeml opened #2591 "WebView hangs in EndInit() when run as administrator"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
Start Visual Studio as administrator.
Create a new WinForms application.
Add a WebView control to the form.
Run the application.
The form does not appear.  When you click "Break All " to pause debugging, the current debugging location is inside "((System.ComponentModel.ISupportInitialize)(th

[2018-10-24 14:06] Dondon841 opened #2592 "DataGrid crash on width change"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

DataGrid has a column with <ColumnDefinition Width="*"/> Drag edge of page to make the window narrower. The App will crash with "Layout cycle detected. Layout could not complete."

**I stopped it crashing.** The DataGrid is inside a Grid. Set the MinWidth of the Grid to greater than the mi

[2018-10-24 15:07] mvegaca commented on #2475
Hi @nmetulev

I've tried to use it in pre-release version 5.0.0-preview.gb86cb1c4cb but the property BackButtonBehavior is not available.

When do you think that this fix will be available on the pre-release version and will be available on the stable version?
Thanks

[2018-10-24 18:28] rjmurillo commented on #2458
@joshholmes FYI

[2018-10-24 18:29] rjmurillo commented on #2077
@joshholmes FYI

[2018-10-24 18:29] rjmurillo commented on #2079
@joshholmes FYI

[2018-10-24 18:29] rjmurillo commented on #2085
@joshholmes FYI

[2018-10-24 18:30] rjmurillo commented on #2197
@joshholmes FYI

[2018-10-24 18:30] rjmurillo commented on #2229
@joshholmes FYI

[2018-10-24 18:30] rjmurillo commented on #2261
@joshholmes FYI

[2018-10-24 18:31] rjmurillo commented on #2281
@joshholmes FYI

[2018-10-24 18:31] rjmurillo commented on #2317
@joshholmes FYI

[2018-10-24 18:31] rjmurillo commented on #2328
@joshholmes FYI

[2018-10-24 18:31] nmetulev commented on #2475
Yeah, it will be available in the 5.0.0 release next week. It's also available on pre-release on MyGet: https://dotnet.myget.org/gallery/uwpcommunitytoolkit

[2018-10-24 18:31] #2475 closed

[2018-10-24 18:31] rjmurillo commented on #2448
@joshholmes FYI

[2018-10-24 18:32] rjmurillo commented on #2483
@joshholmes FYI

[2018-10-24 18:33] rjmurillo commented on #2514
@joshholmes FYI

[2018-10-24 19:08] nmetulev commented on #2592
@Dondon841, could you share a repro project?

ping @MSRegisB

[2018-10-24 19:12] ericleigh007 opened #2593 "Documentation: The documentation for controls should describe the set of events the control can raise"
## I'm submitting a...

- Documentation issue or request

## Current behavior
In the current documentation, a control's events are not described.  An example is RangeSelector, which raises ValueChanged.

## Expected behavior
The description for ValueChanged should be present in the docs.
Similar to https://docs.microsoft.com/en-us/previous-versions/windows/silverlight/dotnet-windows-silverlight/ms

[2018-10-24 19:18] ericleigh007 opened #2594 "The RadialGauge Control should have a ValueChanged event PR"
## I'm submitting a...

 - Feature request (UserVoice request:  https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/35817313-radialgauge-valuechanged

## Current behavior
RadialGauge has no ValueChanged event, making it difficult to develop an event-driven app.

## Expected behavior
RadialGauge should have a ValueChanged event, just as RangeSelector does.

## Minimal r

[2018-10-24 19:33] nmetulev commented on #2593
The events and properties are all referenced in the API reference docs. For example, here are the docs for the RangeSelector: https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.uwp.ui.controls.rangeselector?view=win-comm-toolkit-dotnet-stable.

We link to the API references from each documentation page - is there anything else we could do to make this better?

[2018-10-24 19:43] ericleigh007 commented on #2593
The problem, as I see it, is that the control is "overviewed" in one place, where only the props are listed.  That's here:
https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/rangeselector

This document does link to the place you described, but it seems confusing to have documentation at different levels of detail at different places.

[2018-10-24 21:01] kbrons commented on #2588
Hi @dhawalk1981. After taking a look at the information you provided, let's do some checks to make sure it's not an isolated issue.

1. I noticed you're using the version 15.5.4 of VS 2017. I'd suggest updating VS and trying again (the latest stable release is 15.8.7)
2. Let's make sure everything is right, according to the conditions of the OSVersionHelper.
![image](https://user-images.githubuser

[2018-10-24 21:12] skendrot opened #2597 "RadialGauge should extend RangeBase"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

The RadialGuage extends Control but is actually a RangeBase control

## Expected behavior

The RadialGauge should extend RangeBase, or possibly even Slider

## Minimal reproduction of the problem with instructions

[2018-10-24 21:15] skendrot commented on #2594
I think this could be solved by inheriting from RangeBase rather than Control.

[2018-10-24 21:44] skendrot opened #2599 "RadialGauge changing Value too often"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

While dragging the needle of the RadialGuage to value changes to what it would be but then changes back if it's not within the StepSize. When a property is bound to the Value, it will change multiple times but the Value will reset back based on StepSize.
There is another issue where usin

[2018-10-24 22:05] #2353 closed

[2018-10-24 23:18] michael-hawker commented on #2592
@nmetulev should we put bugs like this in the 5.0 milestone to track for closing the release?

[2018-10-24 23:56] #2546 closed

[2018-10-25 01:07] thiagomoises opened #2602 "Define GroupStyle, ItemsPanel Highlighted Section in MasterDetailView"
## I'm submitting a...

Feature request

## Current behavior
When you set GroupStyle and ItemsPanel the changes are not applied.
It is not possible to make the Datails occupy the side responsively, set its maximum size and let the master list occupy the automatic size

## Expected behavior
You can change the GroupStyle and ItemsPanel of the MasterDetailView, as well as set the master list's layout

[2018-10-25 09:04] Dondon841 commented on #2592
Project files as requested. This App is only for internal use, not public release.

[MainPage.xaml.cs.txt](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2514142/MainPage.xaml.cs.txt)
[MainPage.xaml.txt](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2514143/MainPage.xaml.txt)

Version 5 seems to crash less often than Version 4, but still does crash.

[2018-10-25 09:05] Dondon841 commented on #2592
Set line 32 to "950" and it doesn't crash, but of course the behaviour is different. Remove line 29 and it crashes when you adjust the horizontal width.

[2018-10-25 16:36] dhawalk1981 commented on #2588
Hi @kbrons , I updated VS to 15.8.8

While debugging, in OsVersionHelper, IsWindows10April2018OrGreater is false in my case.  when i do Winver, I get that I am ver 1709 (16299.726) which is the patch from Oct-9. What does IsWindows10April2018OrGreater check?

[2018-10-25 17:31] #2326 closed

[2018-10-25 18:17] kbrons commented on #2588
According to the [WebView prerequisites](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/wpf-winforms/webview#prerequisites), the minimum supported build is 17110, while you are on Fall Creators Update (16299). You should update your OS.

[2018-10-25 18:20] #2588 closed

[2018-10-25 19:46] dhawalk1981 commented on #2588
@kbrons - the condition also checks if its IsWorkstation. Do you think that will change in future? We use Citrix to deliver app and the WebView will be potentially running on a Server OS and not workstation. If the condition will stay forever, we will have to rule out WebView

[2018-10-25 20:54] #2599 closed

[2018-10-26 00:39] nmetulev opened #2608 "Sample App has a memory leak issue"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

The sample app keeps references to sample objects after they are no longer used.

## Expected behavior

The sample app should clean up all references to sample objects once the sample is closed

## Minimal reproduction of the problem with instructions

* Run the sample app through Visual

[2018-10-26 14:57] skendrot commented on #2608
Have you tried setting the NavigationCacheMode?

[2018-10-26 15:14] #2478 closed

[2018-10-26 15:52] nmetulev commented on #2608
I haven't. The issue seems to be related in part to the Monaco editor, but haven't had time to debug more

[2018-10-26 16:19] sonnemaf opened #2609 "Add a .editorconfig file to the solution"
It would be nice if a .editorconfig file was added to the solution with the correct naming and style (like braces on a new line) settings. This can avoid a lot of analyzers warnings if you have different Codes Style settings in Visual Studio.

[2018-10-26 16:43] nmetulev commented on #2609
We currently use stylecop and I haven't used .editorconfig before. Can they be used together, or is this one or the other type thing?

[2018-10-26 17:00] michael-hawker commented on #2608
I know in my Monaco [TestApp](https://github.com/hawkerm/monaco-editor-uwp/tree/master/MonacoEditorTestApp) I test removing it and adding it to the Visual Tree, and that's usually pretty clean.  I wonder if we're not doing something in the wrapper we have around it in the SampleApp.  I can take a look more in November/December.

[2018-10-26 17:45] nmetulev commented on #2398
Docs were updated

[2018-10-26 17:45] #2398 closed

[2018-10-26 17:46] nmetulev commented on #2506
The current sample min app target is 16299 and does not support mobile unfortunately. Closing issue as will not fix

[2018-10-26 17:46] #2506 closed

[2018-10-26 17:49] nmetulev commented on #2412
Docs removed in https://github.com/MicrosoftDocs/WindowsCommunityToolkitDocs/commit/678372bd242dc5edc2c40efbb32386a46b481004

[2018-10-26 17:49] #2412 closed

[2018-10-26 17:49] #2285 closed

[2018-10-26 18:29] sonnemaf commented on #2609
They can be combined. Having an editorconfig is very usefull because it overrides the visual studio settings.

[2018-10-26 18:51] kbrons commented on #2581
For the next release, the documentation has been moved to [this repo](https://github.com/MicrosoftDocs/WindowsCommunityToolkitDocs). You should create an issue there as well.

[2018-10-26 20:07] nmetulev commented on #2581
There are currently no plans as it would be very difficult to keep the documentation up to date across updates and languages. However, as @kbrons noted, the documentation is now in a different repo, please create an issue there so we can track this for future improvements

[2018-10-26 20:07] #2581 closed

[2018-10-26 20:08] nmetulev commented on #2609
Cool, feel free to submit a PR for this, sounds like a good improvement.

[2018-10-26 21:06] jefhai commented on #2419
Sorry I was distracted by some other work...
I think this issue is related to opacity animations on the DropShadowPanel.
Both the content of the DropShadowPanel and the DropShadow composition object animate their opacity at the same time.
Halfway through this animation (0.5 opacity) the grid content is partially transparent and the DropShadow is partially transparent.
This results in the following

[2018-10-26 23:40] agneszitte-nventive commented on #1903
I want to help but which font you are referring to @stevedeclerck ?
For the Labels ? The font of the ToolbarButton ?
Thanks in advance for the feedback :) !

[2018-10-26 23:49] nmetulev commented on #1903
I believe the idea is to add something like this:

![image](https://user-images.githubusercontent.com/711864/47596934-0384c500-d93f-11e8-9948-ac9f41902f44.png)

So users can select the font, the font size, or the color of the text

[2018-10-27 00:16] michael-hawker opened #2612 "InAppNotification should have a Xaml NotificationDuration property"
## I'm submitting a...
- Feature request

## Current behavior
You need to pass in a duration to the show method.

## Expected behavior
It'd be nice to have a `NotificationDuration` property that you can set in XAML.  If set, this would be used in the Show calls if no duration is passed in.  Otherwise, it'd be the current behavior (i.e. this wouldn't be a breaking change but an addition).

This wou

[2018-10-27 07:56] DkmS1953 commented on #2506
I just installed a sample program (App version 4.0.1) from the store on the
Lumia 650 phone.
Nothing falls and the data table successfully shows.
On this phone – Windows 10 b.15254.538.

Can you tell about the project settings to build this example?
I am interested in using DataGrid in UWP projects, including Windows 10
Mobile.

Wbr, Dyakov K.M.

пт, 26 окт. 2018 г. в 20:47, Nikola Metulev <notifi

[2018-10-27 10:07] lhak opened #2613 "Visual studio crashes after using windows forms designer with XAML element"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

After opening the windows forms designer, Visual Studio starts to become instable and finally crashes (easily reproducible by closing the designer window). I guess the issue is that the XAML island is initialized in the Visual Studio process. The author of the XAML host code apparently wan

[2018-10-27 19:02] agneszitte-nventive commented on #1903
@nmetulev I started first with an option for the font size with RichText Format.
Since there is no editable ComboBox available for now, I kept it simple and used a ToolbarButton with a Flyout. (cf. https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/845)

I also added the selection, by keeping the most common text editor behavior :
- Nothing is selected means no font sizes selected
-

[2018-10-28 06:47] mani009 opened #2615 "Printhelper class possible alternatives for wpf printvisual function in uwp!"
Hello, do you have an alternative scenario for priniting xaml elements directly to the printer?

For example  u want to print an checkbox how can i add the uielement and print it to  the device.in wpf it can use printvisual to print the most of uielements.

Thank you.

[2018-10-28 07:40] shakir820 commented on #2278
What kind of developers are you guys?  I need a solution !!

[2018-10-28 14:39] kevingosse opened #2616 "WPF WebView crash when calling InvokeStringAsync"
## I'm submitting a...

- Bug report. This one look similar: https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2449  but the conditions are different and the workaround does not work

## Current behavior

I'm hosting a WebView control in a simple WPF application. I call `NavigateToString` to load a script. Then the application always crash on `InvokeScriptAsync`.

Native callstack:

[2018-10-28 19:07] GeertvanHorrik opened #2618 "Connected Animations should target a lower version than 16299"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior
Documentation says:

"Universal, 10.0.16299.0 or higher"

![image](https://user-images.githubusercontent.com/1246444/47620666-f9082e00-daec-11e8-852e-80409a462082.png)

## Expected behavior

I would expect it to be supported on 14393 (the reason is that I want to support mobile), and the

[2018-10-28 21:14] robloo commented on #2389
Another problem here: The DataGrid.Sorting event is getting invoked repeatedly. I can't determine a sort order because every time the header is clicked the Sorting event handler runs N number of times. I can't seem to find a pattern for why it keeps getting called. I'm sure this contributes to the slowdown @Kath118 mentioned.

[2018-10-28 23:35] mdtauk opened #2619 "Sample App - Information and Note boxes are not readable in the control documentation pivot."
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior
With the Sample App running in the light theme, the text in the Information and Notice boxes for the control sample's documentation pivot, are not readable with Dark Text on a Dark Background.

![image](https://user-images.githubusercontent.com/7389110/47623471-e05a4100-db09-11e8-965a-cfb

[2018-10-28 23:46] nmetulev commented on #2619
I'm not able to reproduce this:

![image](https://user-images.githubusercontent.com/711864/47623595-bafd1100-dad0-11e8-9a48-fa813dfb9e96.png)

![image](https://user-images.githubusercontent.com/711864/47623589-ad478b80-dad0-11e8-9e75-200861d93fd1.png)

[2018-10-28 23:50] nmetulev commented on #2618
Hey @GeertvanHorrik, unfortunately, the min supported version for the toolkit is 16299 as we can only support up to 3 target versions (latest - 2). The recommendation here is to use the source directly in your apps (instead of using the nugets).

[2018-10-28 23:50] #2618 closed

[2018-10-28 23:59] nmetulev commented on #1903
This is great, thanks for taking this on. I know you mentioned that there is no editable ComboBox yet, but I just noticed there is a [`IsEditable`](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.combobox.iseditable) property added in the latest sdk. I have not used it yet, but sounds like it would be a good candidate for this. For platforms that don't support it, we can just not

[2018-10-29 00:16] JustinXinLiu commented on #1903
Agree with @nmetulev. This would be a perfect example for [Conditional XAML](https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/conditional-xaml). :)

[2018-10-29 06:50] GeertvanHorrik commented on #2618
Thanks for your answer. Not sure what the reason is, especially since you can check for type / feature existence (done everywhere anyway), but you probably have your reasons.

Thanks anyway.

[2018-10-29 11:07] stevedeclerck commented on #1903
Hi, I guess my proposal is not that easy to accomplish, since I guess the toolbar only supports buttons at this time and not a combo. I looked at it myself already, but it don't know how to accomplish it.
So, sorry for the hardship...
It would be nice like in Office-Word if it's possible to change the font / size and color of the text entered in the richtext field, so text formatting is possible b

[2018-10-29 11:08] stevedeclerck commented on #1903
Hi, Yes, indeed, and perhaps the color setting of the text?

Thanks
________________________________
Van: Nikola Metulev <notifications@github.com>
Verzonden: zaterdag 27 oktober 2018 01:49
Aan: windows-toolkit/WindowsCommunityToolkit
CC: stevedeclerck; Mention
Onderwerp: Re: [windows-toolkit/WindowsCommunityToolkit] Add Font name/size/color to TextToolbar (#1903)

I believe the idea is to add som

[2018-10-29 11:10] stevedeclerck commented on #1903
Hi, looks great, I didn't think of the flyout. I guess it's not needed to be editable. All font sizes are present..

Thanks ! Looks good!
________________________________
Van: Agnes ZITTE <notifications@github.com>
Verzonden: zaterdag 27 oktober 2018 21:02
Aan: windows-toolkit/WindowsCommunityToolkit
CC: stevedeclerck; Mention
Onderwerp: Re: [windows-toolkit/WindowsCommunityToolkit] Add Font name/

[2018-10-29 15:57] shankslouis opened #2622 "Webview context menu doesn't open when embedded in 64bit Outlook addon"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior
Create a VSTO (office addon) that uses the Windows-toolkit\WebView and host it inside Outlook. Add a context menu to this addon and attach it to the webview.
* 32bit Outlook hosting the addon. WebView will display the context menu on right mouse click.
* 64bit Outlook hosting the addon.

[2018-10-29 21:01] kevingosse commented on #2616
It looks like this sequence produces the same result:

`WebView.Navigate((Uri)null);`

`WebView.NavigateToString("crash");`

Just as before, the issue occurs in `Windows::Web::UI::WebViewControlBase::get_Source` which in turn calls `WebViewControlWinRTHelpers::CreateWinRTUriFromString`. I obviously don't have access to the source code of Edge, but I get the feeling that this happens when querying

[2018-10-29 21:10] kevingosse commented on #2616
My workaround is to implement a custom `IUriToStreamResolver` that returns my string, then use `NavigateToLocalStreamUri` to load it.

After that, calling `InvokeScriptAsync` works properly, which seems to confirm my hypothesis: the crash is induced by the uri being null.

[2018-10-29 23:34] michael-hawker opened #2624 "Clicking CloseButton in TabView when using a List of items should remove Tab from Tree"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
If you use a List instead of a ObservableCollection and click close button, the item is removed from the list, but the tab remains.

## Expected behavior
Tab should be removed.

## Notes

Using a regular list still won't have tabs removed if they're removed outside the TabView though.

[2018-10-30 02:01] robloo commented on #2388
A RowPressed and ColumnHeaderPressed event would be very useful for the DataGrid. I need both of these and it's requiring some ugly hacks to get this functionality.

RowPressed should allow detection of both Left and Right mouse button for context menus. DoublePressed would be a bonus.

ColumnHeaderPressed should also allow Left and Right press for context menus. Not sure how to prioritize Left pr

[2018-10-30 16:09] mdtauk commented on #2619
This is in version 5.0.1 of the Sample App, installed from the Microsoft Store

[2018-10-30 17:46] skendrot commented on #2388
How would this be different from the SelectionChanged event?

[2018-10-30 18:44] kbrons commented on #2613
@lhak was the issue solved by the PR #2610?

[2018-10-30 20:12] kbrons commented on #2615
For direct printing, you can check out the example on the [docs](https://docs.microsoft.com/en-us/windows/communitytoolkit/helpers/printhelper) and the sample app.

Printing checkboxes works in the same way as printing any other element. Here's an example:

![image](https://user-images.githubusercontent.com/14252330/47747313-db5ed400-dc66-11e8-8ece-0afc4bd8a49d.png)

![image](https://user-images.g

[2018-10-30 20:12] #2615 closed

[2018-10-30 20:23] lhak commented on #2613
No, both issues are unrelated

[2018-10-30 20:29] mani009 commented on #2615
But when i print the checkbox to my device printer i got an black checkbox.The Fill Color is black and the checkbox is stretched in heigth. Why ?

[2018-10-31 11:54] jp-weber opened #2626 "Sample app: missing fallback for "Background-AboutPage-SidePane""
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
If the transparents is deactivated via system setting, the background of details (whats new, release notes) is missing (no fallback)
![sampleapp](https://user-images.githubusercontent.com/10946850/47786278-9345bd00-dd0b-11e8-85d6-91c02284b971.jpg)

## Expected behavior
It should be added a f

[2018-10-31 12:32] edd2000uk commented on #2493
Did you find any solution to this, I have the same problem with the CalendarDatePicker flashing up then disappearing.  However if I select the picker on a different row it works.  It seems that I can select a picker for the first time, then if I try to reselect it has the problem.  If I select a picker on a new row then it works.

[2018-10-31 13:35] kbrons opened #2627 "Print Helper not printing text on Dark theme"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

When using the Print Helper with the dark theme, the text isn't recognized (or invisible because of white font?) on the preview or the printed page.

![image](https://user-images.githubusercontent.com/14252330/47791300-2117ad00-dcf8-11e8-887d-da154e66ac15.png)

## Expected behavior

The

[2018-10-31 16:23] seanocali opened #2629 "Latest NuGet Update Breaks XAML Implicit Show/Hide Animations"
## I'm submitting a...

Regression (a behavior that used to work and stopped working in a new release

## Current behavior

After updating nuget package released 10/30/18, from a previous prerelease version, my Pages and UserControls that use Implicit Show or Hide animations throw a runtime exception when InitializeComponent() is called:

The [latest documentation](https://docs.microsoft.com/en-us

[2018-10-31 16:42] seanocali commented on #2629
Update, the error does not occur when compiling using .NET Native toolchain.

[2018-10-31 16:51] seanocali commented on #2629
Apologies, I can't repro it using a new project. I hope that error message can explain what's happening.

[2018-10-31 16:58] nmetulev commented on #2629
I can't reproduce this issue as well. Have you tried doing a full clean on your project?

[2018-10-31 17:40] seanocali commented on #2629
It this is helpful, the implicit animations show an intellisense error "Failed to add the child at index 0"

[2018-10-31 17:45] seanocali commented on #2629
This is really difficult, I have this in like 3 dozen UserControls.  I comment out the implicit animations lines on one and the debugger hits the next one.  I'm going to add every nuget package I have to the repo project...

[2018-10-31 17:53] seanocali commented on #2629
Found it!  It's reproducable when the CompositionProToolkit nuget package is added. I updated the OP and added a repo project.

[2018-10-31 18:00] JustinXinLiu commented on #2629
Hey @ratishphilip, would you be able to look into this? Thanks!

[2018-10-31 20:19] Bmartin2013 commented on #1539
Hi! what's the issue's current status?

[2018-10-31 20:48] touseefbsb opened #2630 "ScrollHeader with sticky mode is no more sticky when used with AdaptiveGridView "OneRowMode""
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

Sticky ScrollHeader behaves as expected when the AdaptiveGridView is in normal default mode. But when it is used with **OneRowModeEnabled="true"** then the header appears on the left side ( which makes perfect sense ), but on scroll towards right side ( Horizontal scrolling in onerowMode )

[2018-10-31 22:05] nmetulev commented on #1539
We should close this, we added this in 4.0.

[2018-10-31 22:05] #1539 closed

[2018-10-31 23:10] rjmurillo commented on #2622
@joshholmes

[2018-10-31 23:16] rjmurillo commented on #2616
@joshholmes. We do a check while navigating to determine if the process has the appropriate permission:

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/2e429199ca197ef22588fa1c7855e171d2dffa36/Microsoft.Toolkit.Win32/WebView.Shared/Interop/WinRT/WebViewControlHost.cs#L445-L449

There are a few cases we previously discussed during triage where we fail fast and we shouldn't

[2018-10-31 23:40] duke7553 opened #2631 "Add PaneBackground Property to NavigationView"
## I'm submitting a...

Feature request (UserVoice request: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/35876548-add-a-panebackground-property-to-navigationview-fo)

## Current behavior

It is currently possible to change the background brush of the NavigationView itself, but the Pane, in particular, is not so straightforward. Users can modify the designated Re

[2018-11-01 00:49] robloo commented on #2388
There are many standard use cases that SelectionChanged doesn't support. For example: right click of a row in the table to show a context menu. Also double clicking a row to open it up in an editor. SelectionChanged is conceptually different and has different use cases than a Pressed/Click event. I think ListViewBase supports ItemClick for reference.

Right now I have to implement something like w

[2018-11-01 01:02] ratishphilip commented on #2629
Yes, I will look into this.

[2018-11-01 01:35] ratishphilip commented on #2629
@seanocali At the first look it seems like you are using Windows SDK **v17134** and CompositionProToolkit **v0.9** (which requires **Windows SDK v17723**) and it might be the issue.

Could you use CompositionProToolkit **v0.8** (which is based on Windows SDK v17134) and see if the issue still persists?

[2018-11-01 02:59] mani009 opened #2633 "Printhelper prints UIElements always black when prints directly to device printer"
Easy Example:

CSharp
[code]

Xaml
[code]
But when i print the checkbox to my device printer i got an black checkbox.The Fill Color is black and the checkbox is stretched in heigth. Why ?

![printedpaper](https://user-images.githubusercontent.com/13287806/47771929-62529180-dce5-11e8-8391-420dd90cc01b.jpg)

[2018-11-01 03:40] seanocali commented on #2629
As I mentioned on Ratish's git I tried v0.8 and did not experience the problem.

[2018-11-01 03:42] JustinXinLiu commented on #2629
I am closing it as this is not a toolkit issue.

[2018-11-01 03:42] #2629 closed

[2018-11-01 17:02] kbrons commented on #2631
Hi @duke7553, thanks for submitting this request! Would you like to submit a PR for this feature?

[2018-11-01 17:35] kbrons commented on #2588
@nmetulev could the WebView control be supported on Server OS?

[2018-11-01 18:33] lhak opened #2634 "UWP content in XAML host control is sometimes not correctly sized"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

I noticed an issue where the XAML content inside a XAML host was not sized correctly after dpi changes. This seems to be a more general issue during rapid changes of the host control size. The following code reproduces the issue:

Create a host control (winforms) with a fixed size and a UW

[2018-11-01 18:38] lhak opened #2635 "Regressions when using winforms XAML host in 19H1 insider builds"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

Compared to Windows 10 1809, the recent insider builds show a number of regressions when using the winforms XAML host and I am not sure if these are Windows bugs or if the host control code has to be adapted:

- Every keystroke results in two characters in text boxes
- At least two host co

[2018-11-01 21:19] duke7553 commented on #2631
I'm sorry about this. It appears that NavigationView isn't apart of the WC Toolkit. I mistook the NavigationView native to Windows 10 for the previous (now obsolete) "HamburgerMenu" control. Closing this issue.

[2018-11-01 21:19] #2631 closed

[2018-11-01 23:43] nmetulev opened #2636 "Add targets file for WindowsXamlHost nugets to automaticly reference the Windows references"
## I'm submitting a...

- Feature request (UserVoice request: )

## Current behavior
When developers use the WindowsXamlHost nuget packages they need to add all the references manually to use Windows UWP APIs: https://docs.microsoft.com/en-us/windows/uwp/porting/desktop-to-uwp-enhance#first-set-up-your-project

## Expected behavior
The nuget packages should add those references automatically via a

[2018-11-02 00:13] dotMorten commented on #2636
I also thing this targets file should be able to find project references and copy its contentfiles, instead of the manual file copying

[2018-11-02 04:32] rido-min commented on #2636
The instructions you linked are being reviewed as we speak. The POR is to produce a NuGet package that will include the required Windows.winmd and the required System.Runtime assemblies.

[2018-11-02 15:42] khoshroomahdi opened #2637 "open new page from an app in new tab by tabviwe"
## I'm submitting a...

## Current behavior

## Expected behavior

I want when a user wants to open a page in my app in it open in new tab in the app.my application include several pages which user can open it in the main page by clicking a button.

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-11-02 16:44] skendrot commented on #2624
I wouldn't expect tabs to be removed from the view if they are removed from a non INotifyCollectionChanged collection in code. However, I do expect that clicking the close button would remove the item from view and even better remove it from the backing collection.

[2018-11-02 16:46] skendrot commented on #2637
Sorry, but I don't understand what the request is. Please specify if this is a feature request, bug, etc. and give a more detailed description of the issue/request

[2018-11-02 16:58] kbrons commented on #2637
If you're referring to the TabView Control, the example in the Sample App shows how to add new tabs dynamically. As for the content of the tab, you can set it to any UIElement that you want.

Is this what you're referring to?

[2018-11-02 19:39] touseefbsb commented on #2630
@skendrot  here u go sample to reproduce the issue : https://github.com/touseefbsb/Horizontal_ScrollHeader_Bug

[2018-11-03 15:14] khoshroomahdi commented on #2637
For example when i click to setting, setting page open in new tab.

[2018-11-04 13:28] Kapranov98 opened #2638 "The Back button does not work with MasterDetailView"
## I'm submitting a...
Hello! I downloaded the Nightly version of Windows Template Studio and created a project with NavigationView and MasterDetailView (Code Behind). But after compiling I found that in compact mode, the NavView's Back button does not work with MasterDetailView, which makes it impossible to return from DetailPage to ListView.

The problem manifests itself only if the page with Ma

[2018-11-04 16:59] sibille commented on #2638
@nmetulev or @skendrot, could you have a look? This seems to happen only if there's no back stack on the frame. Do we have to wire up things differently for the first navigation, or can you handle this on the control? Tracking issue on our side is: https://github.com/Microsoft/WindowsTemplateStudio/issues/2732

[2018-11-05 11:04] sonnemaf opened #2640 "Detect DeviceFamily on design time"
Is it possible to detect the DeviceFamily on design time? It would be nice to know what the user has selected from the top left DropDown in the XAML Designer. This drowdown shows all Devices specified in the C:\Program Files (x86)\Windows Kits\10\DesignTime\UAP\Devices\1033 folder. In each file you have a DeviceFamily Qualifier which I would like to get reported.

[code]

It would be a great featu

[2018-11-05 12:09] Pinox opened #2641 "Question : Datagrid Edit on specific column field."
Hi ,

Using the latest version of Datagrid.  I can't see a way to edit only specific column fields.  It looks per docs that if you set Readonly = false on datagrid then you catch the column edit on CellEditEnding.

This behaviour does not make it a nice user experience as the user thinks all columns can be edited only to find out that it can't.

Is there a way to edit only specific columns without

[2018-11-05 12:15] Pinox commented on #2641
my mistake there is readonly field on columns

[2018-11-05 12:15] #2641 closed

[2018-11-05 14:51] sonnemaf commented on #2487
@JustinXinLiu I understand why I shouldn't use a RenderTransform animation in a Visual State. I would have to code a connected animation in the ToolboxTextBox class. But this would block the possibility to modify the animation in a custom template. Is that bad?

[2018-11-05 15:18] skendrot commented on #2638
Thanks for reporting @Kapranov98. Could you please provide minimal reproducible sample that does not include WTS?

[2018-11-05 15:22] crutkas commented on #2638
NavView + master detail where Master detail is first time.

[2018-11-05 15:34] skendrot opened #2642 "MarkdownTextBlock does not support FlowDirection"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

As [reported on Stack Overflow](https://stackoverflow.com/q/53138319/1054961): Setting the `FlowDirection` of the MarkdownTextBlock has no affect

## Expected behavior

Setting the `FlowDirection` would change the flow of the markdown

## Minimal reproduction of the problem with instruct

[2018-11-05 15:48] skendrot commented on #2637
Closing as not an issue. For general questions about using controls please follow the [Feedback and Requests](https://github.com/windows-toolkit/WindowsCommunityToolkit#feedback-and-requests) guidelines and use [Stack Overflow](https://stackoverflow.com/questions/tagged/windows-community-toolkit)

[2018-11-05 15:48] #2637 closed

[2018-11-05 16:34] mvegaca commented on #2152
Hi @nmetulev

We've caught a scenario in SetListDataItemForNextConnectedAnnimation fails not updating the selected item for realizing the close connected animation.

Follow the next steps on [this PoC](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2549564/ConnectedAnimationPoC.zip).
 - Open the app
 - Go to MyPhotos page
 - Open photo number 1
 - Flip to photo number 3
 - naviga

[2018-11-05 17:11] nmetulev commented on #2152
I recommend overriding the parameter for the connected animation only when navigating back instead of every time the item is changed.

This should solve the issue (added in `MyPhotosDetailPage.xaml.cs`):

[code]

[2018-11-05 17:31] JustinXinLiu commented on #2487
Given it's already a very specific animation scenario, I wouldn't worry about that too much. However, if you want to make it customizable, you can try using the connected animation markups in XAML so if people don't want it, they can just get rid of it from XAML.

[2018-11-05 17:33] skendrot commented on #2638
Sounds like there might be two issues

1. If there is no Frame being used with the new NavView. Not sure why anyone would do this...
2. If the MasterDetailsView is the first item in the Frame.

We'll have to reflect into the `BackRequested` event of the nav view. As [previously noted](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2475#issuecomment-429438860) we did not hook int

[2018-11-05 17:34] Kapranov98 commented on #2638
As an example, a project without WTS:
[App2.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2549864/App2.zip)

[2018-11-05 22:23] KarlErickson opened #2645 "AdvancedCollectionView + DataGrid + filter out all items = unhandled exception"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

1. A DataGrid is bound to an AdvancedCollectionView connected to an ObservableCollection.
2. ACV.Filter is set to a predicate where no items match.
3. ArgumentOutOfRangeException thrown by [DataGridDataConnection.NotifyingDataSource_VectorChanged](https://github.com/windows-toolkit/Windo

[2018-11-05 22:34] DJDGSFTX opened #2646 "Add a XamlIsland textbox/richeditbox wrapper to easy to use handwritingview"
## I'm submitting a...

Feature request (UserVoice request: )

## Current behavior

Haven't a sample for HandWritingView in textBox on XamlIsland.

## Expected behavior

Have an easy sample like MapControl/InkCanvas in XamlIsland sample app.

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-11-05 23:37] #2642 closed

[2018-11-06 00:04] #2626 closed

[2018-11-06 08:31] mvegaca commented on #2152
Thank you @nmetulev
It works ;)

[2018-11-06 08:57] sibille commented on #2638
@skendrot, sounds good to me!

[2018-11-06 15:01] kbrons commented on #2645
@MSRegisB can you take a look at this?

[2018-11-06 15:45] skendrot commented on #2646
I don't think we want to start creating wrapper controls for each control. @azchohfi might be able to add more information here

[2018-11-06 16:52] sibille opened #2650 "Exception on MasterDetail page when using Automatic BackButton Behavior in MVVMLight and Prism"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior

We're seeing NullReference Exceptions in two frameworks in WTS the MasterDetail control using the automated backbutton behavior. Tracking issues on our side are https://github.com/Microsoft/WindowsTemplateStudio/issues/2739 and https://github.com/Microsoft/WindowsTemplateStudio/issues/2

[2018-11-06 17:00] suvish opened #2651 "WebView in Wpf wont follow z index inside canvas element."
Current behavior:
The webview won't obey z index in canvas element always on top.
If it's inside a scroll view and scrolled the webview will go out of scrollview bounds hiding other parent elements.

![issue1](https://user-images.githubusercontent.com/16202020/48080404-9103c700-e213-11e8-9b56-615121c01ce1.PNG)
![issue2](https://user-images.githubusercontent.com/16202020/48080410-952fe480-e213-11e8

[2018-11-06 19:46] kbrons commented on #2651
What system are you using for testing? Does this happen with the same page on Edge/UWP with WebView?

Please try to complete the template, as it'll help us identify the context, possible causes and reproduce it easier.

[2018-11-07 00:34] michael-hawker opened #2652 "Obsolete Menu Control"
Now that [MenuBar](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/menus#create-a-menu-bar) ships as part of the WinUI library, we should obsolete it in the toolkit and provide docs about how to transition to the new control.

[2018-11-07 01:16] suvish commented on #2651
its a wpf application used nuget package.
In my scenario, I am adding user controls on a canvas element one of them is webview.As i change z index of other controls they obey z index but web view won't it will be always on top.

Also the whole canvas is placed inside a scroll view when I scroll as the webview goes out of the scrollview height width bounds instead of disappearing it goes out of the

[2018-11-07 05:31] nmetulev commented on #2651
AFAIK, this is expected; ie, uwp views (webview, xaml islands) are always drawn on top of any other UI. @azchohfi, to keep me honest

[2018-11-07 12:38] mani009 commented on #2633
We have fixed the problem,

for all People they have the same bug.

Microsoft delivers its own WSD Drivers with windows updates for the printers.

If you install the print driver from manufacturer,it works like a charm.

[2018-11-07 12:38] #2633 closed

[2018-11-07 17:15] nmetulev commented on #2636
That's great news @rido-min. Do you have a timeline for this nuget?

[2018-11-07 17:30] rido-min commented on #2636
The NuGet package will be owned by the Windows SDK team, they are targeting 19H1 timeframe, but we expect to have preview versions sooner. Do you need versions for previous SDKs as well?

/cc: @AdamBraden @marb2000 @loarabia

[2018-11-07 18:02] nmetulev commented on #2636
Current packages have a min version of rs5. Since XAML Islands is still in preview, I'd imagine there will be breaking changes in 19H1, makes sense to snap to that as soon as you have a preview.

[2018-11-07 18:42] KeithHenry opened #2655 "WebViewControlNewWindowRequestedEventArgs.Uri loses hash/anchor"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
I have a `WebView` control in a VSTO (Outlook) custom task pane. It loads a web page that has relevant links for the user's current mail.

These links include a `#` component that is critical to the path, like `https://example.com/site#resource:id` - that `#resource:id` is essential and is

[2018-11-07 19:16] kbrons commented on #2655
This might be a known issue, according to [the docs](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/wpf-winforms/webview-known-issues#webview-control-members) the event _NewWindowRequested_ doesn't work as expected.

[2018-11-07 20:24] VisualByteStudios opened #2656 "System.AccessViolationException when parsing gaze position data"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

While using the GetGazeHidPositions() method to retrieve position information from the GazeMoved stream the call throws the following error intermittently:

System.AccessViolationException
HResult=0x800004003
Message=Attempted to read or write protected memory. this is often an indicatio

[2018-11-08 01:34] rtisatto opened #2657 "Why remove HeaderedTextBlock?"
Please, remove the [Obsolete("The HeaderedTextBlock has been replaced with the more generic HeaderedContentControl.")] instruction from HeaderedTextBlock. Add objects, don't remove previous objects, or grant compatibility of previous behavior.

Why Obsolete? And the reverse compatibility of code? All things as that will be this annoying? There are many problems with some components from other vend

[2018-11-08 02:03] skendrot commented on #2657
Hi @rtisatto, the HeaderedTextBlock and the HeaderedContentControl are essentially the same control. The default control used for the content of the HeaderedContentControl is a Text block

So the following use of the HeaderedTextBlock
[code]

Can be replaced with
[code]

The HeaderedTextBlock was a very specialized control that would only show text. The HeaderedContentControl can show text and any

[2018-11-08 02:03] #2657 closed

[2018-11-08 02:11] rtisatto commented on #2657
Hi @skendrot its not the same:
- The HeaderedContentControl always hide the text with empty, the HeaderedTextBlock not. And the new control don't have this property. To do the same only if you put textblock as content. But how change it (and retest) to 100 or 1000, or more code lines?!
- The "simple" Text to Content force to change the xaml and the code all times! (and test again)
That behavior (M

[2018-11-08 04:53] suvish opened #2658 "microsoft.toolkit.wpf.ui.controls.webview control goes out of scroll view"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
when microsoft.toolkit.wpf.ui.controls.webview control placed inside another scrollview ,as we scroll the webview goes out of bounds of scrollview covering other controls.

## Expected behavior
the controls places inside scrollview should be confined to its bounds.

## Minimal reproduction o

[2018-11-08 07:42] omnjpa27516 commented on #2261
@nmetulev @rjmurillo
When will it be done? This feature is very important, webview always uses the cache, which causes a lot of trouble.

[2018-11-08 15:30] skendrot commented on #2657
Sorry, but I'm not following on your first point. The HeaderContentControl hides what? And what property is missing?

For the second, yes upgrading to a new major version of any SDK does require extensive testing. There are no requirements to upgrade and you can find and still use older nuget packages. If another vendor requires a specific version of a nuget package it is best to stick with that v

[2018-11-08 15:47] rtisatto commented on #2657
Hi,

The HeaderedTextBlock show Text element by default is content is empty (property HideTextIfEmpty = True), the HeaderedContentControl not, and don't has the property. This allow reserve visual space (no flicker effect).

The default style to both controls are different too.

Again, I ask: why hell to force the developer that use this toolkit to change your code all time?!

Bugs and useless cha

[2018-11-08 23:11] SuperJMN opened #2659 "Animating RadialGauge"
Hello!

I'm new to animations, and I would like that the RadialGauge values changes from `x` to `y` to be smooth. How can I achieve this?

Thanks in advance!

[2018-11-09 13:50] phraemer opened #2660 "Feature Request: Support for WebView.AddWebAllowedObject"
## Feature Request

https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/35976895-support-webview-addweballowedobject

Support WebView.AddWebAllowedObject to be able to inject objects as global parameters like in UWP
https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.webview.addweballowedobject

[2018-11-09 15:42] skendrot commented on #2657
We agree that backward compatibility is important. That is why it is marked at deprecated and not just removed. We want to give plenty of time to update before removing it. After we do remove a control you can always get the source to use for yourself. We follow [Semantic Versioning ](https://semver.org/) with the SDK versions. So any breaking changes will only happen in major versions. When upgra

[2018-11-09 16:21] skendrot opened #2661 "HeaderedContentControl shows Header when it doesn't have a value"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

When setting the `Content` of the `HeaderedContentControl` to be text, and **not** setting a value for `Header` the Header will be displayed with the value of the Content.

## Expected behavior

The Header should not show the Content

## Minimal reproduction of the problem with instructi

[2018-11-09 16:34] kbrons commented on #2659
Hi @SuperJMN. For general questions and support, please use [Stack Overflow](https://stackoverflow.com/questions/tagged/windows-community-toolkit) with the `windows-community-toolkit` tag.

I'll close it as it's not an issue. However, @JustinXinLiu might be able to give you a hand.

[2018-11-09 16:34] #2659 closed

[2018-11-09 17:29] JustinXinLiu commented on #2659
You just animate it as a normal dependency property in a `Storyboard`, just make sure you have `EnableDependentAnimation` turned on.

[2018-11-09 19:01] lucaasrojas commented on #2619
I tried to reproduced the issue without success. I used the same version that you used.

![darjtheme](https://user-images.githubusercontent.com/26610409/48282455-7d857580-e438-11e8-85b4-e358ecae7a9f.gif)

[2018-11-09 20:33] azchohfi commented on #2469
@kbrons and @ClairelyClaire #2625 has been merged. Could you check if this fixed the issue?

[2018-11-09 21:01] lucaasrojas commented on #2594
@ericleigh007 What's the current status of the issue?

[2018-11-09 21:07] ericleigh007 commented on #2594
Please close.  This was an improper pull request that didn’t come from master.
-e

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Lucas Rojas <notifications@github.com>
Sent: Friday, November 9, 2018 4:01:21 PM
To: windows-toolkit/WindowsCommunityToolkit
Cc: Eric; Mention
Subject: Re: [windows-toolkit/WindowsCommunityToolkit] T

[2018-11-09 21:21] #2594 closed

[2018-11-09 21:30] JustinXinLiu commented on #2594
@ericleigh007 I still want to thank you for raising the issue and creating the PR, which did address the issue. It’s just we went with a more standard approach. :)

[2018-11-09 21:55] michael-hawker commented on #1128
+1 - Just realized I need both filtering and grouping!

[2018-11-10 00:35] SuperJMN commented on #2659
OK, sorry for the inconvenience.

I have posted the question here.https://stackoverflow.com/questions/53234973/animating-radialgauge

@JustinXinLiu An example would be appreciated, since I haven't done this before. Thank you!

[2018-11-12 13:44] lucaasrojas commented on #2619
Could you add more information about your device?

[2018-11-12 15:59] rtisatto commented on #2657
Hi,

Thanks, I know how to change the code, the problem is: why Microsoft
decides to create problems to force the developer to waste unnecessary time
to fix?

Seems those all Windows 10 bugs, VS bugs, UWP bugs, Xamarin bugs -
Microsoft creates the problem, later says "Wow we solved these problems"?
The current "mantra" turns to "who cares"?

Seems would be generations back when the Microsoft reall

[2018-11-13 08:30] Depechie opened #2663 "[TabView] Feature request : Add options to supply own Segoe MDL2 Asset values for back and forward buttons"
## I'm submitting a...
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/36005341-enable-hooks-to-supply-own-segoe-mdl2-asset-value

- Feature request (UserVoice request: )

## Current behavior
The TabView uses 2 RepeatButtons for the back and forward actions when size is to big to fit in current host container.

## Expected behavior
Would be nice if we could supply

[2018-11-13 10:04] Dondon841 commented on #2592
Any news please?

[2018-11-13 15:46] skendrot commented on #2663
This is already possible by restyling the control.

[2018-11-13 15:50] Depechie commented on #2663
Yes, but it was a stackoverflow question and I resolved it by explaining the restyling.
But users not all to familiar with these Xaml features somehow expect to be able to use User control properties for most common features.
So question here is, does this warrant a property upvote or not.

[2018-11-13 17:45] skendrot commented on #2663
I don't see this as a "most common feature". Probably 95% of users will be happy the way it is. I don't believe there is a way to change the NavigationView back button style without styling the control...

[2018-11-13 18:52] #2613 closed

[2018-11-13 18:52] azchohfi commented on #2613
PR #2649 merged.

[2018-11-13 18:56] Sergio0694 opened #2665 "FacebookService.LoginAsync throws a COMException"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
This is similar to the errors mentioned in issues #2273 and #2082, but in my case the library is throwing a `COMException`. When I call `LoginAsync()` I go through the usual login process for Facebook (with 2FA if needed), then I get an exception with the following message:

I'm running an

[2018-11-13 20:31] azchohfi commented on #2553
I love this. Any performance concerns? How would this be added? It should be a InkToolbarButton, but how should be add it to the InkToolbar? An extension method?

[2018-11-13 20:33] nmetulev commented on #2552
Closing this one as it's similar to #854. Let's continue the discussion there

[2018-11-13 20:33] #2552 closed

[2018-11-13 20:36] nmetulev commented on #2503
Please create a UserVoice

[2018-11-13 20:56] kbrons commented on #2663
Let's wait some time and see if the uservoice gets some votes. If we don't do this, we could also add a small paragraph to the documentation explaining how to restyle it.

[2018-11-13 21:57] Depechie commented on #2663
Yeah, seems reasonable. Especially since this feature was not all to obvious to find because of the somewhat more complex structure of the TabView control.
So true, better documentation will already go a long way :)
Still know that some people just want to drag drop, use controls more like winforms ;)

[2018-11-13 22:44] nmetulev commented on #2658
Is this related to #2651? @marb2000, do you know if this is expected/known issue?

[2018-11-14 10:08] Sergio0694 commented on #2665
Hi @cbarkerms - I can confirm I'm using those settings, and I'm using Facebook APIs v3.0 at the moment.
Thanks! 😊

[2018-11-14 10:12] gsantopaolo commented on #2553
@azchohfi  no problem about performance.
How to add it that's what we have to figure out.
I think we need to extend the InkCanvas (we can also expose all of it's props) cause we need to add a canvas to handle all the dry strokes.
Also we need one ore more (delete by point, but also lasso etc) InkToolBarButton.

[2018-11-14 14:26] MartinHorst opened #2667 "Using TabView results in Cannot find a Resource with the Name/Key UseSystemFocusVisuals"
Hi,

when I add the TabView control to a Page the designer shows the following error:
Cannot find a Resource with the Name/Key UseSystemFocusVisuals.

When I start the application the same error occurs in the this.InitializeComponent(); call.
Is this a bug or do I have to define this resource element by my own?

The toolkit version is 5.0.0, the app uses the target version 16299.

Best regards
Mar

[2018-11-14 17:47] JustinXinLiu commented on #2667
`UseSystemFocusVisuals` should be available in _16299_. Check your PC's build number as well as the min target version of your project.

[2018-11-14 20:29] nmetulev commented on #2667
Please also make sure to provide details required in the issue template. It be good to know the OS build, min and target builds and VS build.

ping @michael-hawker

[2018-11-14 21:39] harinikmsft commented on #2218
Thanks to @filipwa84 we now have this feature- See PR #2485

[2018-11-14 21:39] #2218 closed

[2018-11-14 21:54] nmetulev commented on #2469
Closing issue as PR has been merged

[2018-11-14 21:54] #2469 closed

[2018-11-14 22:38] harinikmsft commented on #2316
There is an IsReadOnly property that achieves the "opt out" equivalent of this feature request. I don't believe we also need a CanUserEdit property for an "opt in". I am closing this request based on that. However, if I am missing some scenario - feel free to reopen and discuss.

[2018-11-14 22:38] #2316 closed

[2018-11-15 05:09] DJDGSFTX commented on #2646
XamlIsland have a new repro, close this issue.

[2018-11-15 05:09] #2646 closed

[2018-11-15 07:50] MartinHorst commented on #2667
Hello,

first, thanks for the quick answers.

The Windows 10 version is:
Version: 1803
Build 17134.345

The project is set to the build version 16299 for
both the target and the min version.

The msbuild version is:
15.8.169.51996

The Visual Studio version is:
Enterprise 2017, 15.8.8

As workaround I add the follwing entry to my resource dictionary:
<x:Boolean x:Key="UseSystemFocusVisuals">false<

[2018-11-15 14:18] lucaasrojas commented on #2667
@MartinHorst Can you upload a reproduction project?

[2018-11-15 14:50] MartinHorst commented on #2667
[UwpTabViewApp.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2585767/UwpTabViewApp.zip)

Hi,

here is the requestet project. I've the same problem there, too.

Best regards
Martin Horst

[2018-11-15 17:15] nmetulev commented on #2667
Out of curiosity, does this repro if you set the target version of your project to 17134?

[2018-11-16 06:33] MartinHorst commented on #2667
Hi,

yes, setting the target version to 17134 solves this problem.

[2018-11-16 17:33] Massimo37 opened #2669 "Crash when disposing an AnimationSet on its Completed event"
Using the Latest stable version of the WindowsCommunityToolkit (5.0), disposing of an AnimationSet causes a crash when handled on its Completed event:

   at Microsoft.Toolkit.Uwp.UI.Animations.AnimationSet.HandleCompleted(Boolean stopped)
   at Microsoft.Toolkit.Uwp.UI.Animations.AnimationSet.Storyboard_Completed(Object sender, Object e)

In my code:

    private void AnimationSet_Completed(objec

[2018-11-16 17:40] michael-hawker opened #2670 "Dragging Tabs between TabView can result in clipped Tab display with Drag animation"
## I'm submitting a...
- Bug report

## Current behavior
If you have two TabViews and drag between them, the space made for the new item in the 2nd TabView pushes the last tab off and it gets clipped rather than expanding the TabView header area.

## Expected behavior
TabView area should expand to show all tabs and new spot for dragged tab.

## Minimal reproduction of the problem with instructions

[2018-11-16 17:41] michael-hawker commented on #2670
I've done some initial poking at this, the ListView doesn't seem to be firing any events during the drag where it indicates that it size changes for the animation which is very strange.  I'm going to have to dig deeper and see if I can create a repro with just a ListView in a Grid Row/Column that exhibits this behavior.

[2018-11-16 20:31] nmetulev commented on #2669
Right, here are the [contribution guidelines](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/contributing.md#-submitting-a-pull-request). Essentialy:
1. You fork the repo and work on your fork to fix the issue.
2. Once ready, you [create a PR](https://help.github.com/articles/creating-a-pull-request/) from your fork to the main repo.
3. We have a PR template similar to the

[2018-11-17 04:02] RobbyRobbyRobby opened #2672 "Export as Image from InfiniteCanvas"
Hi!

I'm submitting a Feature Request for the InfiniteCanvas control.
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/36041110-infinite-canvas-export-image

Current behavior
We can export as JSON Ink record.

Desired behavior
Be able to export as JPG/PNG/etc, or access the underlying InkCanvas so we can use the StrokesContainer to do it ourselves.

Package Version(

[2018-11-18 01:58] robloo commented on #2388
Duplicate of #2249

[2018-11-18 01:59] robloo commented on #2249
Duplicate of #2388

[2018-11-18 02:02] robloo commented on #2249
Definitely think a "RowPressed" and "RowDoublePressed" would be a big positive. This is not difficult to implement in the control either. Hoping this feature request is implemented in the next release.

As a bonus please consider "ColumnHeaderPressed" and "ColumnHeaderDoublePressed" as well

[2018-11-18 02:11] duke7553 commented on #2249
I also think there needs to be a RowRightTapped to create a proper distinction between that and right-tapping the control itself. (Which should only include the column headers)

@robloo  In the application I'm building, users currently have to manually select the row before right-clicking in order to display the row-appropriate context menu. Otherwise, it just displays the column header context me

[2018-11-18 02:12] duke7553 commented on #2388
Glad to see that some attention is being paid to this. ;)
In the application I'm building, users currently have to manually select the row before right-clicking in order to display the row-appropriate context menu. Otherwise, it just displays the column header context menu. I think it would be more user-friendly to have a RowRightTapped which autoselects the nearest row and fires (all on rightclic

[2018-11-18 04:58] robloo commented on #2249
@duke7553 I do the same thing in my application. When a right click is detected, I select the row under the click/press. A context menu is then displayed. Full code is below if this will help you :) For sure more of this should be 'out-of-the-box' functionality of the DataGrid.

I also think we need to stay away from the "Tapped" terminology -- this is specific for touch inputs. The generic "Press

[2018-11-18 17:16] duke7553 commented on #2249
@robloo Thank you for this code! I agree, this should be implemented out-of-the-box within DataGrid.

[2018-11-19 07:08] MartinHorst commented on #2667
Hi,

OK, I keep that in mind. Thanks for the help!

Best regards
Martin Horst

[2018-11-19 17:42] rjmurillo opened #2673 "Misused header name when Navigate(Uri, HttpMethod, String, IEnumerable`1)"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

When posting data using `Navigate(Uri, HttpMethod, String, IEnumerable``1)` method with a `Content-Type` header, an exception is thrown: "Misused header name. Make sure request headers are used with HttpRequestMessage, response headers with HttpResponseMessage, and content headers with H

[2018-11-19 17:43] rjmurillo commented on #2673
I’ve seen issues with setting that in the past. You can try modifying the code to see if it works for your use case (there may be other headers that need to be set in a special way)
[code]
https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/rel/5.0-preview/Microsoft.Toolkit.Win32/WebView.Shared/Interop/WinRT/WebViewControlHost.cs#L618-L624

Change to
[code]

[2018-11-19 19:41] jp-weber opened #2674 "RadialProgressBar with x:Uid app crashes at target Win10 1809"
## I'm submitting a...
Bug report

## Current behavior
If I add x:Uid to the RadialProgressBar control, the app crashes.

[code]

## Expected behavior
x:Uid should work. With target **1803** it works very well.

## Minimal reproduction of the problem with instructions
I created the following test project for the problem, because it was very difficult to discover.

content
[code]

styles and templa

[2018-11-19 20:32] skendrot commented on #2674
@jp-weber I added the content and resource and project ran fine. However, in your example the ItemsControl does not contain any items. So I added the following items to the ItemsControl
[code]
Ran the project and it worked fine
![image](https://user-images.githubusercontent.com/1594689/48733287-719b6f80-ebff-11e8-98b4-93ae67d01d0b.png)

[2018-11-19 21:05] stephanetolale opened #2675 "AppPackage creation failed"
## I'm submitting a...

 Bug report (I searched for similar issues and did not find one)

## Current behavior
RHBIND : error RHB0007: Could not load input file 'Microsoft.Toolkit.Uwp.UI.srclink'.
Severity	Code	Description	Project	File	Line	Suppression State
Error		ILT0005: 'C:\Program Files (x86)\Microsoft SDKs\UWPNuGetPackages\runtime.win10-x86.microsoft.net.native.compiler\2.2.1\tools\x86\ilc\To

[2018-11-19 21:17] jp-weber commented on #2674
Do you create a .resw for the x:Uid?
If I have for example "RadialProgressBarTest.ToolTipService.ToolTip | Test", the exception occurs.

[2018-11-19 22:02] skendrot commented on #2674
Works as well. Notice the tooltip on the last item
![image](https://user-images.githubusercontent.com/1594689/48737761-250a6100-ec0c-11e8-8723-e96e6a1f9c41.png)

[2018-11-20 15:04] lucaasrojas commented on #2675
@stephanetolale Could you complete the template with the requested information?

[2018-11-21 14:33] Rivolvan opened #2677 "MasterDetailsView Async MapDetails"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
MapDetails takes an object parameter and returns an object. It does not accommodate async methods inside of it.

## Expected behavior

It would be nice if MapDetails can be awaited since more often than not, loading details are async.

## Minimal reproduction of the problem with instruction

[2018-11-21 18:54] kbrons commented on #2677
Hi @Rivolvan, this seems to be a feature request more than a bug report, can you update the issue accordingly and submit a [uservoice request](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit)?

[2018-11-21 20:43] napalmDaz opened #2678 "RadialGauge locks to MinValue if StepSize is not explicitly set"
## Regression (a behavior that used to work and stopped working in a new release)

Problem introduced in this commit:
https://github.com/windows-toolkit/WindowsCommunityToolkit/commit/c5de98af2ec43e323aea6b50188965b1edf1a0ba#diff-a1347b9e02dd74cb7cf4017627399df1

## Current behavior

As soon as the RadialGauge is clicked, it jumps to MinValue and locks there if StepSize is not explicitly set.

##

[2018-11-21 22:10] skendrot commented on #2678
Thanks for reporting the issue!

[2018-11-22 00:35] MrArca9 commented on #2651
Is there a parameter we can use to pass KeyDown through the window? I have an application that goes fullscreen and uses ESC to exit, however the window cannot capture the keydown event because it's captured by the element.

Now i know that's expected behaviour, because people need to be able to interact with the webviewer, but is their a flag we can trip to allow keydown to:

Copy - Push keydown t

[2018-11-22 09:32] Pinox opened #2680 "DatagridCell - foreground is not changing when targeted through CellStyle"
When using datagrid and trying to assign a converter to bind to the DataGridTextColumn Foreground property I get the following error =>  "Failed to assign to property 'Microsoft.Toolkit.Uwp.UI.Controls.DataGridTextColumn.Foreground'."

[code]

Converter code:

[code]

using version 5.0 of Windows toolkit
and VS 2017 15.9.2

[2018-11-23 20:15] ericleigh007 opened #2681 "System.TypeLoadException: 'Could not find Windows Runtime type 'Microsoft.UI.Xaml.Markup.ReflectionXamlMetadataProvider"
## I'm submitting a...

 Bug report (I searched for similar issues and did not find one)

## Current behavior
Working a project using the toolkit on VS 2017 under debug on 18282, but targeting min 16299 max 17763.  Project works and runs in debug, but in release gets
***
System.TypeLoadException: 'Could not find Windows Runtime type 'Microsoft.UI.Xaml.Markup.ReflectionXamlMetadataProvider'.'
***

[2018-11-23 20:51] ericleigh007 commented on #2681
More on this.  I've been paring my code down and running with release but not native compilation, and now no optimization.
I've been able to tell the exception happens as a result of looking up the type
{Microsoft.Toolkit.Uwp.UI.Controls.ImageExBase}
And the exemption is as shown above.

Funny thing, I don't use the ImageEx control at all.

I'm looking for a quick workaround here more than and the

[2018-11-23 21:07] ericleigh007 commented on #2681
Okay, peeling the onion a bit more. This is just the first call to this particular line of code.  Presumably any call to this method will fail.

![image](https://user-images.githubusercontent.com/7321962/48960220-cb21d800-ef38-11e8-9a56-b6b80c8cfdc4.png)

I just resolved from downgrading warnings I had from Netcore.UniversalWindowsPlatform 6.1.9, but that didn't help anything.

Can anybody suggest

[2018-11-23 22:07] ericleigh007 commented on #2681
I have broken the rules, because I'm in a bit of a hurry, but I know that either downgrading to use of 17134 or less (min 16299 and max 17134) clears the problem.

But I also am running an older version of Visual Studio and I am running on 16299 Enterprise (it is the Hyper-V Development Quick-install VM)

Checking to see if I can now also deploy the release mode app in sideloading mode.  Trying to

[2018-11-23 23:01] meshawn opened #2682 "Loading WPF WebView from an assembly and accessing WebView1.Process causes MissingManifestResourceException"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
Loading WPF WebView from an assembly and accessing WebView1.Process causes MissingManifestResourceException
Could not find any resources appropriate for the specified culture or the neutral culture.  Make sure "Microsoft.Toolkit.Win32.UI.Controls.DesignerUI.resources" was correctly embedded

[2018-11-26 00:29] billyzkid opened #2683 "Upgrade to latest stable version of Microsoft.Toolkit.Uwp.UI.Controls (v5.0.0) causes new build warning"
## I'm submitting a...

Regression (a behavior that used to work and stopped working in a new release)

## Current behavior

There is a new build warning in the latest stable version of Microsoft.Toolkit.Uwp.UI.Controls v5.0.0:
`Found conflicts between different versions of "System.Numerics.Vectors" that could not be resolved.`
This warning goes away when I revert to v4.0.0.

## Expected behavior

[2018-11-26 00:33] billyzkid commented on #2683
This issue has also been reported here:
https://developercommunity.visualstudio.com/content/problem/385311/strange-problem-with-microsoftnetcoreuniversalwind.html

[2018-11-26 10:56] lindexi commented on #903
[HHChaos/ImageCropper: UWP ImageCropper](https://github.com/HHChaos/ImageCropper )

[2018-11-26 16:48] #2673 closed

[2018-11-26 18:22] nmetulev commented on #2669
PR merged, thanks

[2018-11-26 18:22] #2669 closed

[2018-11-26 19:41] azchohfi opened #2684 "Split packages into nupkg and snupkg packages."
VS15.9 added the support for [snupkg](https://blog.nuget.org/20181116/Improved-debugging-experience-with-the-NuGet-org-symbol-server-and-snupkg.html
). The toolkit should support it, as it reduces the size of the current nuget package and makes debugging easier.

## I'm submitting a...
- Feature request

## Current behavior
No support for snupkg.

## Expected behavior
Support for snupkg \o/

## En

[2018-11-26 19:51] kbrons commented on #2682
Hi @meshawn, I just noticed you're running the build 16299 of Windows 10. If you take a look at the [prerequisites for the WebView control](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/wpf-winforms/webview#prerequisites) you'll notice that the minimum build number is 17110. The issue should be resolved once you update to the April 2018 update or later. If the issue is not res

[2018-11-26 22:22] nmetulev commented on #2683
This is probably an issue because we are referencing 6.1.7 in the controls library and updating to 6.2.2 might fix the issue.

[2018-11-26 23:32] rjmurillo opened #2686 "Microsoft.Toolkit.Win32.UI.Controls NuGet migration to 5.0"
## I'm submitting a...

## Current behavior

Version 4.0.2 and 4.0.3 are the most popular, with 5.0 releases roughly half the v4.

## Expected behavior

Include major versioned package that only references the new versions we want people to migrate to as a means to get people to migrate to the new namespace and distributed packages.

## Minimal reproduction of the problem with instructions

## Env

[2018-11-26 23:33] rjmurillo commented on #2686
Remove .txt extension for sample of how this is done
[Microsoft.Toolkit.Win32.UI.Controls.5.0.0.nuspec.txt](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2617682/Microsoft.Toolkit.Win32.UI.Controls.5.0.0.nuspec.txt)

[code]

[2018-11-26 23:44] azchohfi commented on #2686
I don't think we should do this. The last release added a release note that that was the last version we were shipping on that nuget package. If we push a new version that has a dependency on all other new nuget packages, this will be a bad educational thing. We don't want people using this package anymore, we want people upgrading to the new nuget packages. What we can do is break them. We can de

[2018-11-26 23:49] rjmurillo commented on #2686
I'm just thinking of path of least resistance. We want folks to upgrade to the new versions but we're getting fragmentation, and users don't appear to be moving off of 4.0.x versions. My hypothesis here is they copied from one of the blogs/channel9/twitter/or doc samples they've seen and didn't read the notes in the UI.

[2018-11-26 23:49] azchohfi commented on #2609
PR #2621 merged.

[2018-11-26 23:49] #2609 closed

[2018-11-27 03:39] meshawn commented on #2682
Hi @kbrons I didn't mark this correctly. I'm running 18282.1000 actually.

[2018-11-27 03:48] meshawn commented on #2682
I've been trying to work around this, but I don't have a solution yet.
My requirements are:
1)Load and unload the control
  When I unload and call Close(), I cannot create new instances.
2)Share WebViewControlProcess
   I can't access WebView.Process after creating the first instances.  I have tested further and found I can access on ContextIdle, but this is too late.

[2018-11-27 04:17] meshawn commented on #2682
I just verified this happens in April 17134 and October 1809.  Please re-open.

[2018-11-27 04:21] sidhaw commented on #2682
Yes, this reproes even with 1809 update

[2018-11-27 06:34] HHChaos commented on #903
Thank you! I am very happy to contribute to the uwp community.

[2018-11-27 06:52] Pinox commented on #903
@HHChaos  your control looks awesome. would be great to add some redundancy to existing solution/dependencies on MS Photo's

[2018-11-27 06:57] lindexi commented on #903
@Pinox The MS Photo should be call with application communication service. But sometimes we do not want to the user level our application to go to other application. That is why we need this control.

[2018-11-27 14:41] Pinox commented on #903
@lindexi  Agree.  Just saying this also gives us an option for redundancy purposes. I also like the fact that the user can pick the aspect ratio in this new control and then resize according to that.  This is a nice enhancement over Photo's app where the cropper does not obey the aspect ratio (visually) in image.

[2018-11-27 15:11] michael-hawker opened #2688 "Condense Sample App Categories"
## I'm submitting a...
- Sample app request

## Current behavior
There's a lot of categories at the top of the app:
![image](https://user-images.githubusercontent.com/24302614/49090622-ee87a400-f212-11e8-85fb-34af6068ec5b.png)

## Expected behavior
It'd be nice to condense these down a bit.

e.g.
- [x] Could `Parsers` go under `Helpers`?
- [x] `Developer Tools` get split in `Controls` and `Helpers

[2018-11-27 15:32] michael-hawker opened #2689 "Sample App Accessibility Issues"
## I'm submitting a...
- Sample app request

## Current behavior
- [ ] Should first tab after searchbox (default focus on launch) be the category list?
- [ ] If you use keyboard to select a category (like Controls) to open, the next tab stop is on the sample instead of the inner list, so it'd very confusing to navigate to a sample.
  (Focus list with Tab (Shift-Tab after launch), hit enter...)
- [

[2018-11-27 19:20] ray1997 opened #2691 "Can you set beginning point of OrbitView to top center instead of left middle?"
Currently when you add item into OrbitView it begin adding the first item at the left center. [Like this](https://i.stack.imgur.com/YmNHe.png)

Is there a way to change it to make it begin at the top center?

[2018-11-27 23:05] Sergio0694 commented on #2674
I've just tried targeting the SDK 17763 in my app, and noticed the same exception, it's like every single control in the whole app where a `x:Uid` tag is present along with a `ToolTipService.ToolTip` setter is throwing an `ArgumentNullException` from the `InitializeComponent` call.

Any ideas on what's causing it? It does seem to affect other apps/libs outside this one.

[2018-11-28 02:04] HHChaos commented on #903
That's a great idea! The "circle" cropper is essentially the case where the aspect ratio is equal to 1, but the circle looks better, and I'll try to add it.

[2018-11-28 06:38] meshawn opened #2692 "WebViewCompatible needs public void Navigate(Uri requestUri, HttpMethod httpMethod, string content = null, IEnumerable<KeyValuePair<string, string>> headers = null);"
## I'm submitting a...
Feature request (UserVoice request: )

## Current behavior
This method is missing

## Expected behavior
Have the ability to call WebViewCompatible.Navigate(Uri requestUri, HttpMethod httpMethod, string content = null, IEnumerable<KeyValuePair<string, string>> headers = null);

## Environment

[code]

[2018-11-28 07:52] HHChaos commented on #903
@Pinox Now added rounded cropper!
![screenshot](https://user-images.githubusercontent.com/9880072/49136772-a1482700-f325-11e8-92ef-887388e081b7.jpg)

[2018-11-28 08:31] Pinox commented on #2680
Hi @harinikmsft

I tried the cellStyles but only the background color could be changed not the foreground color. So unsure where to change foreground color as I tried CellStyles on datagrid and also on DataGridTextColumn.

`Style x:Name="cellStyle" TargetType="controls:DataGridCell">
            <Setter Property="Foreground"  >
                <Setter.Value>
                    <SolidColorBrush Co

[2018-11-28 13:31] aaronkennedy commented on #2281
@rjmurillo @kbrons Hi :)  This issue only happens when the host process is running with elevated privileges. That is, if you right click and "Run as administrator" or if you are running as an administrator user *and* the machine has User Account Control disabled.

I have no idea why anyone would run a machine with UAC disabled, except that weirdly Microsoft distributed VM images are pre-configured

[2018-11-28 15:13] Pinox commented on #903
@HHChaos  Awesome , I also remember seeing a circle cropper natively also in
https://github.com/UnigramDev/Unigram
![cropper](https://user-images.githubusercontent.com/5297255/49161110-dc9c2300-f330-11e8-8cbb-4b295fbf739f.PNG)

[2018-11-28 16:55] michael-hawker commented on #2691
Thanks @ray1997, we have an open issue for this already #1502.  Can you voice your scenario there?

[2018-11-28 16:55] #2691 closed

[2018-11-28 16:57] michael-hawker commented on #2667
I just hit this from my insider preview machine remote deploying to a 16299 machine. :(

[2018-11-28 17:16] rjmurillo commented on #2281
Hi @aaronkennedy the Win32 WebView does not support running under an elevated token

CC @joshholmes @erikadoyle

[2018-11-28 17:52] aaronkennedy commented on #2281
@rjmurillo no problem, that is obviously up to you - I was just letting you know how to reliably reproduce the issue as the thread suggests you hadn't nailed it down so far.

In my app I am now detecting the elevated token and falling back to the old IE11 based embed instead. While this works fine for me, it does seem like quite a burden to place on consumers of your API. Based on informal "from t

[2018-11-28 19:11] michael-hawker commented on #2667
Hmm, the sample app TabView sample seems to work fine...

[2018-11-28 23:12] JustinXinLiu commented on #2667
Sorry I was actually wrong. I just double checked and `x:Key="UseSystemFocusVisuals"` as a resource is only available from `17134` onward. @michael-hawker should we add this key to the Toolkit's `App.xaml`?

[2018-11-29 05:01] ray1997 commented on #1502
So, is there any progress on this?

[2018-11-29 10:33] wstaelens commented on #1951
I cannot debug .net standard 2.0 application. Not when set to full, or pdb-only. breakpoints are not hit in VS2017 15.9.3

[2018-11-29 17:37] nmetulev commented on #1502
This is open for anyone to pick up, feel free to submit a PR if you are up to it.

[2018-11-29 17:45] nmetulev commented on #2682
reopening issue. @kbrons, could you verify the issue on insider builds?

[2018-11-29 17:50] nmetulev commented on #2674
Do you have a sample project we can repro on?

[2018-11-29 17:52] nmetulev commented on #2688
Agreed.

@andrewleader, any concerns with  moving notifications under helpers

@joncamp @harishsk any concerns with moving gaze under helpers

[2018-11-29 18:03] nmetulev commented on #1887
Now that Menu is available in WinUI, we will be deprecating the toolkit Menu control (#2652). I will close this issue as we will no longer improve the control and recommend everyone move over to the new control

[2018-11-29 18:03] #1887 closed

[2018-11-29 18:04] nmetulev commented on #2677
@Rivolvan, if you are up to it, we welcome contributions to add this functionality

[2018-11-29 18:32] andrewleader commented on #2688
Notifications under Helpers category sounds good with me!

[2018-11-29 18:38] ray1997 commented on #1502
Well.. I'm totally not good with math and calculating stuff. But in my desparate need of customizable angle for my control. I was looking and found an actual thing I want. Maybe there is some code there that can ~~salvaging~~ **be a reference** and put into OrbitView?

Here is that project: https://github.com/CatalystCode/radial-menu

[2018-11-29 19:05] Sergio0694 commented on #2674
@nmetulev Here you go: [xUidCrashRepro.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2630512/xUidCrashRepro.zip).

Note that the repro doesn't even need a reference to the UWP toolkit, this seems to be a general issue affecting all kinds of custom controls using the Multilingual Toolkit with SDK 17763.

Thanks for your help! 😊

[2018-11-29 20:40] meshawn opened #2694 "WPF WebView play video on Netflix crashes in GetPlayReadyPathFromStorageFolder"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
Crashes in GetPlayReadyPathFromStorageFolder playing a video on Netflix

## Expected behavior
Should play video

## Minimal reproduction of the problem with instructions
Go to netflix.com | sign-in | play a video

## Environment

[code]

[2018-11-29 20:46] meshawn commented on #2694
Just verified this also happens on Win 10 October 1809

[2018-11-29 21:07] michael-hawker commented on #1502
Thanks for the link @ray1997, I thought we had an issue for a radial menu, but I guess not.  It'd be a neat control to have.  I think it'd be a separate control, but could maybe share some layout logic here.

@felixrieseberg would you be interested in contributing to the toolkit?  It seems like you could convert the UserControl to a TemplatedControl pretty easily.

Aside, there was also the reques

[2018-11-29 21:39] JustinXinLiu commented on #2667
Yeah let’s just do that.

[2018-11-30 05:28] xiaoao opened #2695 "how to get all notifications from with c#? thx advance"
how to get all notifications from with c#? thx advance

[2018-11-30 09:49] xiaoao commented on #2695
I  got it

[2018-11-30 09:49] #2695 closed

[2018-11-30 15:49] Zaibatsu89 opened #2696 "BluetoothLEHelper - missing remove GattCharacteristic.ValueChanged event handler"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)
## Current behavior
The `ValueChanged` event handler is added to the private `Characteristic_ValueChanged` function in the `ObservableGattCharacteristics` constructor.
## Expected behavior
The `ValueChanged` event handler needs to be removed from the above function in the deconstructor of the above class.

## Mi

[2018-11-30 17:55] kbrons commented on #2696
Hi @Zaibatsu89, thanks for reporting the issue! It seems like you have the issue pointed out already, would you like to submit a PR with the fix?

[2018-11-30 19:48] meshawn opened #2697 "WPF WebView crash after logging into Spotify"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
Log into Spotify

## Expected behavior
Doesn't crash

## Minimal reproduction of the problem with instructions
Go to https://open.spotify.com
Login
Crash at:
Edgehtml:GetFolderPath
Edgehtml:GetAppDataFolderPath
EdgeHtml:MediaHelper::ConstructAppLocalPath
...

## Environment
Nuget Package(s):

[2018-12-01 04:06] billyzkid commented on #2683
This may have been a symptom of an bug in .NET Core v6.2.2. I noticed it was recently pulled due to numerous other issues, e.g. apps failing store submission. The warning seems to go away if I revert back to the current latest stable version (6.1.9).

[2018-12-02 06:47] michael-hawker commented on #1517
Tested this out you can copy a ComboBox template, swap the SV/IP to a ListView w/ Grouping, then bind ListView's ItemsSource and SelectedItem as TemplateBindings. However, Popup sticks around, so code needed to dismiss it, especially on selection.  It'd be nice if it could just be an extension to an existing ComboBox than a new control.

[2018-12-03 04:27] robloo opened #2700 "TextBoxRegex Not Localized for Decimal (Fixed to InvariantCulture)"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior

The TextBoxRegex extension with ValidationType="Decimal" does not support all UI cultures. Instead it's fixed to InvariantCulture. In English decimal values are "10.1234" with a period. In Spanish or German decimal values are written "10,1234". Parsing the English will be correct; howev

[2018-12-03 08:48] lhak commented on #2635
I think that I have found a fix for the (winforms specific) rendering issues. However, the keyboard issue (each keystroke results in two characters) is still present in winforms and WPF on the most recent insider build. Maybe somebody from Microsoft can find out what is going on?

[2018-12-03 23:02] nmetulev commented on #903
This is great. Feel free to submit a PR adding this control to the toolkit

[2018-12-03 23:06] michael-hawker commented on #2697
@joshholmes FYI

[2018-12-03 23:51] michael-hawker commented on #2602
Need's a user-voice entry.  This can be accomplished by retemplating the control, so not sure if this specific scenario needs to be part of the default control.

[2018-12-04 01:19] azchohfi commented on #1951
@onovotny I'm working on getting snupkg working. Should we be fine changing them all to portable pdbs (that's the only version nuget symbol server supports)?

[2018-12-04 01:52] HHChaos commented on #903
@nmetulev  Thanks! I'm getting ready！

[2018-12-04 03:16] onovotny commented on #1951
Is there a reason we can't use embedded pdb's? There's a healthy debate here but there are downsides to snupkg too, namely perf and the need to setup a symbol server. Also, more specific to UWP, the .NET Native tools need the pdbs available to munge during the process, so symbol servers aren't useful there either.

[2018-12-04 03:16] onovotny commented on #1951
In my opinion, embedded pdb is the easiest since there's no separate pdb artifact to deal with, version, download, or lose.

[2018-12-04 16:54] nmetulev commented on #2688
Thanks. Chatted with @harishsk offline and we decided to keep the gaze category on it's own.

[2018-12-05 13:19] rschuerer opened #2703 "AadLogin control throws MissingMethodException"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

In a project which is using the current MSAL (Microsoft.Identity.Client 2.5.0-preview) itself the AadLogin control throws a MissingMethodException when clicked on Sign In.

{System.MissingMethodException: Method not found: 'System.Threading.Tasks.Task`1<Microsoft.Identity.Client.Authenti

[2018-12-05 15:34] Evilpaule commented on #2281
We have to deactivate UAC for our custom shell view... So is there a workaround to use the Webview in our application without activate UAC?

[2018-12-05 17:58] meshawn commented on #2697
Crashes in the same location when you try to play a video on amazon prime

[2018-12-05 23:37] michael-hawker commented on #2672
I don't know if we've tested using [RenderTargetBitmap](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.media.imaging.rendertargetbitmap.renderasync) on the InfiniteCanvas.  I should try and take a look at that later.

Ping @IbraheemOsama, any thoughts?

[2018-12-05 23:43] michael-hawker commented on #2672
Collecting some other threads here too from [StackOverflow](https://stackoverflow.com/questions/32153880/how-to-render-inkcanvas-to-an-image-in-uwp-windows-10-application) and [Forums](https://social.msdn.microsoft.com/Forums/vstudio/en-US/1c19c3f9-9bc8-4576-b728-b3001af47eeb/uwphow-can-i-render-an-ui-element-to-a-writeable-bitmap-when-ui-element-is-not-active-in).

There's also the [AppRecordingM

[2018-12-06 06:40] zhuxb711 opened #2704 "Tabview might lead to 0xC0000374: Heap corruption"
## I'm submitting a...
Bug report

## Current behavior
Unexpected  0xC0000374: Heap corruption

## Expected behavior
Work well

## Minimal reproduction of the problem with instructions
Open more than one tab which contains Webview
then Navigate to any website
close tabs and recreate it
repeat it for a while

Webview use "WebViewExecutionMode.SeparateProcess" Mode

Here is the Stack Info
ntdll.dll!

[2018-12-06 20:02] michael-hawker commented on #2704
Thanks @zhuxb711, do you have already have a sample project you can share to help us expedite this?  There's a few a different configurations for TabView, how are you creating tabs are you using templates?

Is there a specific number of tabs you open before this happens?

[2018-12-06 21:44] azchohfi commented on #1951
@onovotny Adding the symbol server is one more step, I agree, but do we want people to download the PDBs, even if they don't need them? It does have an impact on the packages size.

Going back to portable PDBs reduces this impact considerably. Just to close this issue, I'm going to send a PR that changes the PDB to portable ones. I've also verified that this also solves the issue of VS not loading

[2018-12-06 22:35] onovotny commented on #1951
using portable pdb is a reasonable middle ground, if they're in the main nuget. Still no real need for a seperate snupkg IMO.

For mobile size, shouldn't that be the job of a linker to remove extra stuff, including these?

[2018-12-07 01:05] azchohfi commented on #1951
I was wrong. VS didn't load the symbols for me, even if they were portable. I've started a side conversation with the VS team to try to solve this. VS is not loading symbols for NuGet dependencies on UWP projects.
I'm also investigating the impact of not having the symbols available for developers when we push this to the store.

Now, back to this issue, I set it back to pdbonly and the PDBs got i

[2018-12-07 01:07] azchohfi commented on #1951
I think portable PDBs are the best answer here, if there is no extra benefit to snupkg. It'll shrink the PDBs considerably. Is there anything that we need/use that will be lost (for reference: https://github.com/dotnet/core/blob/master/Documentation/diagnostics/portable_pdb.md)?

[2018-12-07 01:09] onovotny commented on #1951
Portable PDB's are a full replacement, so we won't lose anything.

[2018-12-07 02:47] zhuxb711 commented on #2704
Here is the sample project
[TabViewBrowser.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2655695/TabViewBrowser.zip)

[2018-12-07 19:48] michael-hawker commented on #2704
@zhuxb711 thanks, I'll try and take a look first thing next week!

[2018-12-07 21:01] michael-hawker opened #2705 "Monaco Editor not appearing in Debugger on RS3 for OnDevice sample"
## I'm submitting a...
- Bug report

## Current behavior
Monaco Editor doesn't load under debug when running the sample app on RS3 with the OnDevice markup sample.

## Expected behavior
XAML editor loads.

## Minimal reproduction of the problem with instructions
Run master of sample app remotely to an RS3 machine.
Load OnDevice markup extension sample

![image](https://user-images.githubuserconten

[2018-12-07 21:01] michael-hawker commented on #2489
Great job, thanks for the contribution!

[2018-12-07 21:01] #2489 closed

[2018-12-08 08:36] IbraheemOsama commented on #2672
I'm not sure if RenderTargetBitmap would work or not because I'm using Win2D Surface Drawings, but let me do a quick POC to try :)

[2018-12-10 19:06] ThunderBoltEngineer opened #2708 "NuGet package installation Error"
## I'm submitting a Bug report

## Current behavior
`Could not install package 'Microsoft.Toolkit.Forms.UI.Controls.WebView 5.0.1'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.6.1', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.`

Nu

[2018-12-10 22:16] Jong-uk-Kim commented on #2708
Microsoft.Toolkit.Forms.UI.Controls.WebView has dependency .net framework 4.6.2

watching this https://dotnet.myget.org/feed/uwpcommunitytoolkit/package/nuget/Microsoft.Toolkit.Forms.UI.Controls.WebView

[2018-12-10 23:00] Jong-uk-Kim commented on #2708
no , wpf is same,

https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/wpf-winforms/webview

[2018-12-10 23:22] michael-hawker commented on #2708
@ThunderBoltEngineer 4.6.2 is the minimum, so you'd need to update your project to 4.6.2 to use the WebView.  There's no plans to support 4.6.1, 4.6.2 fixed some DPI issues that were required for use by the WebView.

[2018-12-11 04:27] ShobikaPalani opened #2709 "System.Runtime.InteropServices.COMException occurs when using LayoutTransformControl in code behind"
## I'm submitting a Bug report

## Current behavior
I need to get auto size of TextBlock after rotation. I have tried with LayoutTransformControl to get size of textblock after rotation, but I am getting exception.

Below is the code I am using

`var textBlock = new TextBlock() { Text = "Text" };
LayoutTransformControl layoutTransformControl = new LayoutTransformControl();
layoutTransformControl.R

[2018-12-11 14:17] ThunderBoltEngineer opened #2710 "Execute Javascript before window.onload event"
## I'm submitting a Question

I 'd like to execute Javascript code before window.onload() event.

Specifically, I want to do this;
var javascriptString = "window.onload=function(){ ... }";
webBrowser.InvokeScriptAsync("eval", new string[] { javascriptString });

But I am not sure in which event handler I should put this code ...

## Environment

[code]

[2018-12-11 18:43] ThunderBoltEngineer commented on #2708
Thanks @michael-hawker
After installing .NET 4.6.2 package,  I upgraded the project's .NET version and now it all works smoothly!

[2018-12-11 18:44] #2708 closed

[2018-12-12 08:19] Jong-uk-Kim commented on #2710
try this code, if not work, check window.onload and WebBrowser.Loaded call timing

webBrowser.Loaded+= (sender, args) =>{
    var javascriptString = "window.onload=function(){ ... }";
    webBrowser.InvokeScriptAsync("eval", new string[] { javascriptString });
};

[2018-12-12 14:09] ThunderBoltEngineer commented on #2710
I tried that option but didn't work.  Also tried with other available events but no luck.
Maybe I shouldn't use "window.onload"?

[2018-12-13 14:34] ThunderBoltEngineer commented on #2710
Does anyone have experience with executing Javascript code on window load event? :(

[2018-12-14 00:09] Jong-uk-Kim commented on #2710
Are you setting up IsJavaScriptEnabledm

[2018-12-14 00:11] ThunderBoltEngineer commented on #2710
Do I need to enable Javascript explicitly?   I tested with basic javascript code like "document.body.style.backgroundColor='black';" , and it worked well.

[2018-12-14 00:36] Jong-uk-Kim commented on #2710
https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.wpf.ui.controls.webview.isjavascriptenabled?view=win-comm-toolkit-dotnet-stable

i don't know how did you test it, but document said this property is false then disallow javascript.

[2018-12-14 08:49] michael-hawker opened #2711 "AlignmentGrid Horizontal or VerticalStep of 0 causes infinite loop"
## I'm submitting a...
- Bug report

## Current behavior
If you set the HorizontalStep or VerticalStep on the AlignmentGrid to zero, the rebuild loops forever and eats memory halting app UI.

## Expected behavior
[Don't loop forever](
https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.DeveloperTools/AlignmentGrid/AlignmentGrid.cs#L91)

## Minimal reproduct

[2018-12-14 08:54] michael-hawker commented on #2711
Thinking that should just skip loop on zero, so you could use that to selectively disable horizontal or vertical lines?  Thoughts?

[2018-12-14 21:40] skendrot commented on #2677
I don't think something like this is needed because you can already accomplish this by binding the details template to a property on the object and when selection changes populate that object through an async way.

Here is a quick stub (note: I haven't tested it, but it should work)

[code]

Your viewmodel would then have the SelectionChanged method and populate the `PropertyFilledAsync`
[code]

[2018-12-14 21:48] skendrot commented on #2677
Closing with available options. If the above options do not meet the needs, please advise

[2018-12-14 21:48] #2677 closed

[2018-12-16 10:06] keiserS commented on #2328
I have the same issue with WebView control on WinFroms app. It happens when you open Visual studio in administrator mode ("Run as Administrator").
When you run VS with current user permission set you will not get error and everything will work fine. But this is not the solution, since in my case I need to have Admin rights to start 2 different apps, one WebApi and the other WinForms app.

So is th

[2018-12-16 10:10] keiserS commented on #2591
This also happens when you use new version of Toolkit v.5.
Telling user he can't run as admin is not acceptable imho!

Exception being raised in InitializeComponent method is:
`**The remote procedure call failed. (Exception from HRESULT: 0x800706BE)**`

Can someone get insight how to overcome this? and what is the real reason.. here is stack trace:
[code]

[2018-12-16 12:19] sonnemaf opened #2713 "Feature Request: KeyboardSelection Behavior or AttachedProperty"
## I'm submitting a...
Feature request for a KeyboardSelection Behavior or AttachedProperty

UserVoice request: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/36293008-keyboardselection-in-selectors-listbox-combobox

## Current behavior
Keyboard selection in Selectors (ListBox, ComboBox, ListView, GridView) for UWP apps doesn't really work.

Suppose you have a Lis

[2018-12-17 08:46] ShobikaPalani commented on #2709
Any update on this?

[2018-12-18 21:23] Arslan007 commented on #2667
@michael-hawker How did you add in your App.xaml since its still crashing for me.
Can you please share your snippet.
Thanks

[2018-12-19 00:01] michael-hawker commented on #2678
This issue is fixed and will be part of the next release.

[2018-12-19 00:01] #2678 closed

[2018-12-19 19:02] deanchalk commented on #2680
Im new to this project and want to make my first contribution. Can I have a go at this?

[2018-12-19 19:57] rjmurillo commented on #2710
@ThunderBoltEngineer You can try using `AddInitializeScript` method: https://github.com/windows-toolkit/Microsoft.Toolkit.Win32/blob/5f1517917aac686ea0574248ebf8d2ea3b926010/Tests/UnitTests.WebView.WinForms/FunctionalTests/PreLoad/PreLoadTests.cs#L101

[2018-12-19 19:59] rjmurillo commented on #2697
See #2175.  This is a known issue: any media that's storage protected (Netflix, Spotify) will cause a fault.

[2018-12-19 20:00] rjmurillo commented on #2694
See #2175.  This is a known issue: any media that's storage protected (Netflix, Spotify) will cause a fault.

[2018-12-19 21:42] michael-hawker commented on #2697
Thanks @rjmurillo are there any plans to support this in the future?

@meshawn mind if I close this as a duplicate?

[2018-12-19 22:43] meshawn commented on #2697
I don't mind.  #2694 as well.  Thanks

[2018-12-20 02:19] rjmurillo commented on #2697
@michael-hawker A future release of Edge should resolve this problem

[2018-12-20 05:39] maximebl opened #2714 "Is support for C++/WinRT and the DataGrid control planned?"
I was wondering what it would take to generate a winmd file from the DataGrid C# code, so that it would be possible to pass it to the C++/WinRT transpiler to generate a projection for it.

It seems like it would be a lot of work since you would have to rewrite a lot of it so that it becomes a windows runtime component as far I understand. (https://docs.microsoft.com/en-us/windows/uwp/winrt-compone

[2018-12-20 08:23] pks888 opened #2715 "Display json data in datagrid"
## Display json data in datagrid control flexiable
since the datatable is unavilable in uwp, so usually I use  json format to transfer data, I hope the datagrid control can be bind to a json datasource to generate the rows and columns  automaticly. For example, I send a SQL sentance to server and receive the excute result (json formart) then display it on datagrid, I haven't found the way to do it

[2018-12-20 12:46] WamWooWam commented on #2704
I believe this is an issue with the WebView control itself when using a separate process and in a context where it may be unloaded and loaded repeatedly, I've experienced similar issues in virtualised lists.

[2018-12-20 16:55] skendrot commented on #2715
I would not expect to be able to pass a string to the DataGrid and it shows data. Is there a reason you cannot turn the json string into an object?

[2018-12-20 16:58] skendrot commented on #2714
@maximebl Can you create a [user voice request](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-windows-community-toolkit) for this.

[2018-12-20 18:23] byrialsen commented on #2715
Hi @632575987 .

I believe that DataTable is available in UWP, but it can't be used for DataGrid binding in xaml. Actually I have created this [User vote](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/36320815-make-datagrid-bind-to-datatable-with-autogeneratec) yesterday.

Would this one solve your problem too?

[2018-12-20 18:33] byrialsen commented on #2715
To me it sounds like what try to do @632575987 is exactly what this example does?

https://xamlbrewer.wordpress.com/2018/05/29/displaying-dynamic-sql-results-in-a-uwp-datagrid/

[2018-12-21 07:13] meshawn commented on #2692
Having this method would be nice, but a work around is casting the view.  Feel free to close this one.

[2018-12-21 07:36] meshawn commented on #2682
I guess MissingManifestResourceException means not available yet...  It wasn't my favorite thing to do, but I was able to get around this by deferring things until the Process is available at NavigationCompleted.  This makes it difficult/messy to share WWAHost.exe.  A constructor like WebView(bool shared) or something to tell WebView to deal with it would be nice.

[2018-12-22 00:10] michael-hawker commented on #2704
Thanks @WamWooWam, I was going to say as I'm using a WebView in my TabView and haven't seen it, but I don't think I'm using the separate process flag.  Pinging @rjmurillo to see if he has any thoughts or contacts for this suspicion.

[2018-12-23 08:45] meshawn opened #2716 "Can't Close WPF WebView"
Bug report (I searched for similar issues and did not find one)

## Current behavior
Closing a WebView prevents new WebViews from working.  Also, in my project, the UI hangs.  The call stack just shows Application.Run.  I've attached a sample project that shows the problem (but not the hang)
[WpfApp1.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2705831/WpfApp1.zip)
[WpfApp

[2018-12-23 08:58] meshawn opened #2717 "Need to Zoom in WPF WebView"
Feature request (UserVoice request: )

## Current behavior
Unable to zoom

## Expected behavior
Able to zoom

## Minimal reproduction of the problem with instructions
I didn't create a user voice request for this because I'm not sure if there is already a way to do this.
I am able to do this on win7/8 with WebViewCompatible by casting/using IE COM apis.

## Environment

Nuget Package(s): Microsoft

[2018-12-23 11:48] sharpninja opened #2718 "Need way to calculate position of text relative to start of markdown control"
## I'm submitting a Feature Request

https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/36361897-in-markdowntextblock-get-an-array-of-the-position

## Current behavior
No current support

## Expected behavior
A list of positions returned for the searched text within the MarkdownTextView.

## Minimal reproduction of the problem with instructions
None

## Environment

[

[2018-12-24 15:58] stefankueng opened #2719 "GridSplitter does not capture input"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
When moving a GridSplitter, the mouse pointer often moves outside the GridSplitter-Area, which is expected. But when that happens, the controls beside the GridSplitter still get pointer events.

## Expected behavior
I would expect other controls to not receive pointer events at all during

[2018-12-25 17:01] mmahajna opened #2720 "DropShadowPanel and GridSplitter crash the application when launch in high contrast mode"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

The application crashes when launch in high contrast mode.

## Expected behavior

The application should launch without exceptions.

## Minimal reproduction of the problem with instructions

1. Create empty UWP application.
2. Add DropShadowPanel or GridSplitter to the XAML file.
3. Turn o

[2018-12-26 05:49] praveen3484 opened #2721 "pagination in UWP using DataGrid"
## I'm submitting a...

 - Feature request (UserVoice request: )
 - Sample app request
 - Documentation issue or request

## Current behavior
Currently there is no in-built tool / library available that allows us to paginate results using DataGrid in UWP application.

## Expected behavior
I would expect a way to control/configure paging to be implemented in my UWP application using some in-built l

[2018-12-27 01:06] dishantmshah commented on #2667
@Arslan007 You can use below snippet in your App.Xaml:

`<x:Boolean x:Key="UseSystemFocusVisuals">True</x:Boolean>`

[2018-12-27 07:19] robloo commented on #2700
Another issue here with Decimal validation: when the user starts by typing a negative "-", the negative sign is recognized as invalid and cleared. A negative sign is only allowed after a number has already been typed. This is not very user friendly. Negative signs (in a localized way) need to be a special case and allowed without other characters.

[2018-12-28 09:40] stevedeclerck commented on #1903
Hi,

I guess no news on this one yet?

Thanks and happy newyear....

________________________________
Van: Agnes ZITTE <notifications@github.com>
Verzonden: maandag 29 oktober 2018 13:24
Aan: windows-toolkit/WindowsCommunityToolkit
CC: stevedeclerck; Mention
Onderwerp: Re: [windows-toolkit/WindowsCommunityToolkit] Add Font name/size/color to TextToolbar (#1903)

Thanks a lot for all the feedback!

[2018-12-28 14:17] 632575987 commented on #2715
Thanks very much,I have got it by your example link ,many many thanks @byrialsen

[2018-12-28 14:20] mdtauk commented on #1903
The Font Name and Size drop downs should use the EditableComboBoxes for quick typing of values.  But perhaps the Text Toolbar needs a plain text and rich text mode?

And when will this control be able to move into the CommandFlyout control?  As in when does WinUI allow N-1 compatibility.

[2018-12-28 17:43] robloo opened #2722 "DataGrid VerticalOffset Resets to Zero after ItemsSource Change"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior

The DataGrid vertical offset and scroll position is reset to zero (the top) every time the ItemsSource is changed in code.

This single issue is preventing the DataGrid from being usable in many app scenarios where data is only displayed and updated in separate interfaces.

More detail:

[2018-12-28 19:29] #2715 closed, assigned to nobody

[2018-12-28 19:32] skendrot commented on #2721
Please create a [UserVoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform?category_id=193402) request for this

[2018-12-28 19:35] robloo commented on #2722
I have to disagree. Look at how ListBox works: I can change ItemsSource all day and the scroll bar relative position is maintained as expected. Also, other DataGrid implementations I've seen do not reset the vertical scrollbar position. WPF didn't. Other control libraries don't.

This is an old issue:
https://stackoverflow.com/questions/1839445/maintain-scroll-position-on-updating-the-itemsource-o

[2018-12-28 20:00] robloo commented on #2249
Since @harinikmsft was collecting a list of events that we may want to add for this, I have summarized as follows:

 - **RowPressed** : As discussed above. Indicates a row has been pressed so further processing or context menu's can occur.
 - **RowDoublePressed** : Same as RowPressed, just the double click version.
 - **ColumnHeaderPressed** : Occurs whenever a column header is pressed. Must take

[2018-12-28 20:34] skendrot commented on #2719
I'm not sure how this is a bug. If depress the mouse on a button and move the mouse off the button the controls will receive mouse events as well

[2018-12-28 21:36] stefankueng commented on #2719
I think it's a bug: while dragging the splitter, the mouse should ideally stay on the splitter (the splitter moves with the mouse), but due to lags the splitter is usually a little behind. But in that case I don't want mouse events to happen on other controls.

If you depress the mouse on a button and then move the mouse off the button, but you expect the button to move (you're dragging the button

[2018-12-31 13:35] niels9001 opened #2723 "Detected package version outside of dependency constraint: Microsoft.Graph 1.8.1 requires Newtonsoft.Json (>= 9.0.1 && < 12.0.0)"
I'm using the OneDrive service, and I think it's throwing the following warning (I guess it's because I'm using the latest Newtonsoft.Json (v12.1)):

[2018-12-31 14:50] mickyd commented on #2675
I have the exact same issue.  Same environment too

[2018-12-31 17:19] mscherotter opened #2724 "OneDrive Sample differs from documetation"
## I'm submitting a...

- Documentation issue or request

## Current behavior
The OneDrive example in the Sample app shows how to use the CreateFileAync() API with the parameters desiredName, options, content.
The tooltip documentation list the parameters as desiredName, content, options.
The second and third parameters are transposed.  Which is correct?

    var fileCreated = await folder.Storage

[2019-01-02 11:37] lhak commented on #2635
Ok, the initial issues are fixed in the current insider build, but I encountered two more issues. I have updated the issue accordingly.

[2019-01-02 18:27] nmetulev opened #2725 "Improve NuGet package description for all packages"
## I'm submitting a...

- Documentation issue or request

## Current behavior

With the large number of NuGet packages, it is dificult to understand what package contains what APIs based on the package description. Re: https://twitter.com/dotMorten/status/1080289473663889409

## Expected behavior

Each package description should contain the major APIs to make it easier to decide what package to in

[2019-01-02 18:46] frankvandeven commented on #2670
The clipping is related to the <StackPanel> in the <ItemsPanelTemplate> in TabView.xaml.

The StackPanel doesn't use full width, but is as wide as the tab headers in it.

It seems the drop listener is attached to the stackpanel. In the attached screenshot you can see that dropping next to an existing tab is not possible. You can only drop by releasing the dragged tab onto an existing tab.

![tabvi

[2019-01-02 19:14] harinikmsft commented on #2721
A Pager control that can be used with DataGrid (among other controls) is being done write now in Windows UI library - https://github.com/Microsoft/microsoft-ui-xaml/issues/60

Feel free to go participate in shaping that control!

[2019-01-02 19:14] #2721 closed

[2019-01-02 19:23] harinikmsft commented on #2680
@deanchalk - go for it. Please add @RBrid and myself to review your PR once its ready.

Thanks a lot for contributing!

[2019-01-03 10:38] Urmeli0815 commented on #2543
It's explicitly mentioned here: https://docs.microsoft.com/de-de/windows/uwp/xaml-platform/using-the-xaml-hosting-api

I think for the main use-case which for me is "migrate/enhance an existing desktop app with UWP-Controls" this is kind of a deal-breaker. Adding UI-Threads just for that purpose increases complexity and can introduce new problems in so called "legacy" apps which have a complex & g

[2019-01-03 11:45] praveen3484 commented on #2721
Hey @skendrot. I had already created a user voice request [there](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/36372868-add-controls-for-paging-in-uwp-using-datagrid).

[2019-01-03 20:34] michael-hawker commented on #2670
Thanks for the additional info @frankvandeven, I think we probably need our own custom panel to handle these scenarios better.  One that can have the padding behavior built-in (which would solve the drop-target issues as well.

[2019-01-04 00:06] marb2000 commented on #2543
Supporting Islands in more than one Window is something that we are working on. Actually, all the Islands use the UI thread of the host to reduce this complexity.

[2019-01-04 08:08] deanchalk commented on #2680
on it :)

[2019-01-04 08:30] StevenGao77 opened #2728 "WebView can't read client certificates"
## I'm submitting a issue with WebView control for Winform, I use this control to browse an website with ADFS + MFA, during authentication progress it will popup and ask user to choose a certificate from client machine. it works well with Edge browser but when user do the same with WebView control, it will return 'No valid client certificate found in the request' error.

## Current behavior
it end

[2019-01-04 14:07] joejoe87577 opened #2729 "MarkdownParser get original Markdown from MarkdownElement or MarkdownBlock"
## I'm submitting a...

- Feature request (UserVoice request: )

## Current behavior
MarkdownBlock returns only sanitized text from the orignial markdown or .net default behaivour on calling `ToString()`.

## Expected behavior
MarkdownBlock should have a property similar to
`public String OrignalMarkdown { get; }`
which returns the original markdown passed to `ParagraphBlock.Parse`.

## Minimal re

[2019-01-04 19:56] EddieLotter opened #2730 "RangeSelector tooltip bug"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior
The thumb's tooltip, activated with a mouse click, does not refresh when the thumb is updated using the keyboard.

## Expected behavior
The tooltip should update no matter what input method is used to update the control's thumbs.

## Minimal reproduction of the problem with instructions

[2019-01-06 09:56] DkmS1953 commented on #2700
Same story with "." and "," in the first position

[2019-01-06 22:40] diplopito commented on #2281
Maybe it helps: I was having the same issue, the problem was the SSL certificate of the site that I used to navigate as example. Then I chose a site and tested first on Edge, checking that there were no issues with the certificate. It works fine --although the performance is not so fast. My app is targetting .net 4.7

[2019-01-07 23:07] JustinXinLiu opened #2731 "Replace CompositionSurfaceFactory nuget package with platform API"
Replace @robmikh's awesome CompositionSurfaceFactory with the [`LoadedImageSurface` ](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.media.loadedimagesurface)API that does exactly what Rob's library did (thanks Rob! ;)).

[2019-01-07 23:10] nmetulev commented on #2730
Thanks for reporting this issue. I believe there are two separate bugs here:
* The tool tip should disappear when clicked with the mouse and not remain visible
* The tool tip should be visible and work when using keyboard navigation

[2019-01-07 23:15] nmetulev commented on #2729
I like this improvement, it makes sense and seems useful. @joejoe87577, are you up to implementing it?

[2019-01-07 23:18] nmetulev commented on #2728
ping @joshholmes

[2019-01-07 23:31] nmetulev commented on #2723
This seems to come from the Microsoft.Graph sdk which is our dependency: https://github.com/microsoftgraph/msgraph-sdk-dotnet/blob/dev/src/Microsoft.Graph/Microsoft.Graph.csproj#L60 . I'd encourage create an issue there

[2019-01-07 23:33] nmetulev commented on #2722
ping @RBrid and @harinikmsft

[2019-01-07 23:34] nmetulev commented on #2720
@kbrons, is this something you can take a look at?

[2019-01-08 01:01] RBrid commented on #2722
You meant to say that the NotifyCollectionChangedAction.Replace action is not supported by the DataGrid, right?  (Neither is CollectionChange.ItemChanged for IObservableVector<object>).
The actions NotifyCollectionChangedAction.Add, Remove and Reset are supported as far as I know.
Just want to make sure we are on the same page. Thanks.

FYI, one thing I would try, as a workaround, if I were in you

[2019-01-08 02:42] robloo commented on #2722
We have to keep two topics separate here:

(1) My original point is that the vertical scroll position is reset to zero (the top) whenever the ItemsSource reference is changed. There is no way to override the scroll position to fix this (a helper method to get/set scroll offsets would be invaluable for many situations; although I realize no one has  done this in a DataGrid-type control before). Oth

[2019-01-08 18:46] joejoe87577 commented on #2729
@nmetulev I'll try to setup everything. Still can't get the source to compile on my machine (missing windows sdk and mobile sdk). But then I'll implement it.

[2019-01-08 20:51] nmetulev commented on #2729
Sounds good. let us know what issues you are running into with the source, we might be able to help.

[2019-01-08 20:53] nmetulev commented on #2718
Would something like this not work in the markdown control: https://stackoverflow.com/questions/33037186/how-to-find-the-position-of-an-item-within-a-scrollviewer-listview ?

[2019-01-08 20:54] nmetulev commented on #2717
ping @joshholmes

[2019-01-08 20:55] nmetulev commented on #2716
ping @joshholmes

[2019-01-08 21:01] nmetulev commented on #2714
This would be a large breaking change and quite a bit of work. IMO, I don't think is something that could be done in the near future but I'll let @harinikmsft provide a more authoritative answer.

[2019-01-08 21:56] michael-hawker commented on #2276
For buttons in TabView/BladeView, going to see if we can just tag them with a `x:Uid`.  If that lets a developer localize/specify resources in their app instead, that could be the path of least resistance.

[2019-01-09 06:27] Berrysoft opened #2733 "RadialGradientBrush doesn't respond to the change of ThemeResource."
## I'm submitting a bug of RadialGradientBrush
I set the Color of the GradientStop of a RadialGradientBrush to a ThemeResource color like SystemAccentColor.

## Current behavior
The color doesn't change after I change the system accent color.

## Expected behavior
It should change correctly just like LinearGradientBrush.

## Minimal reproduction of the problem with instructions
[code]
Run the app

[2019-01-09 08:19] deanchalk commented on #2680
Create PR [https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/2734](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/2734)
@harinikmsft Dont know how to add other people to pull request as you asked ??

[2019-01-09 08:39] deanchalk commented on #2730
I wouldnt mind fixing this

[2019-01-09 15:19] joejoe87577 commented on #2729
Ok, so I tried to build the project with the build.bat and this fails with the following errors:

Opening the solution in Visual Studio 2017 Professional shows a list of 10 errors.

I've checked the installed frameworks and sdks. All the referenced versions are installed.

Anything I'm missing here? Also tried the solution from #2047 and #2341

[2019-01-09 16:08] joejoe87577 commented on #2729
Well, seems that resetting my settings in visual studio resolved the error. Halfway, I still can't compile all the subprojects. But I can now at least compile the `Microsoft.Toolkit` and `Microsoft.Toolkit.Parsers`. I'm currently working on implementing the property for all the markdown block elements.

[2019-01-09 17:52] RBrid commented on #2722
@harinikmsft, FYI, in UWP:
- the ListBox control preserves the vertical offset when changing the ItemsSource property.
- the GridView and ListView controls reset the vertical offset to 0 when changing the ItemsSource property (like this UWP DataGrid).

[2019-01-09 19:17] harinikmsft commented on #2714
I am afraid we have no plans to build C++ WinRT support for DataGrid at this time.

[2019-01-09 22:35] joncamp opened #2735 "GazeHidParser does not properly interpret negative positional values"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
When a user is positioned such that their eye position is above the screen, but the eye tracking is still working and sending GazeMoved events, the eye position data will be invalid.

## Expected behavior
When a user is positioned such that their eye position is above the screen, but the e

[2019-01-09 22:45] ST-Apps commented on #2730
@deanchalk I started working on that before seeing your comment but I wasn't sure I'd have enough time for that, so I didn't comment here. Please let me know if you already started working on it.

@nmetulev as for Dean, I didn't see your comment when I started working on the issue. I've just committed a fix for @EddieLotter's bug report but I believe it doesn't behave as explained in your comment,

[2019-01-10 03:39] Berrysoft commented on #2714
What else does it need to support C++/WinRT besides adding "native" to the target frameworks and fixing the dependencies?

[2019-01-10 13:22] NikasZalias commented on #2281
I had this grey screen problem until I downloaded @kbrons example https://github.com/Microsoft/WindowsCommunityToolkit/files/2160583/WebViewSample.zip
I ran it and everything worked. Then I tried to run my app which was failing, and suddenly everything works like a charm... Please, could someone explain me this? Cause it is a real bug. What if my users will get this error?

[2019-01-10 13:30] Evilpaule commented on #2281
I think you don't read the explanations from above carefully... Read aaronkennedy comments and then you see what happend.

[2019-01-10 13:56] NikasZalias commented on #2281
Sorry... thanks for notice... Any ideas how could I run wpf app as admin, but run webview process not as admin?

[2019-01-10 13:56] nseveno opened #2738 "DataGridComboBoxColumn does not allow binding to sub-object (property path with dots)"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

I add a DataGrid with a DataGridComboBoxColumn bound to a sub-object. Example :
`<toolkit:DataGridComboBoxColumn Binding="{Binding MyModel.DisplayName}" />`

When I run the application, an exception is thrown by the DataGridComboBoxColumn .EnsureColumnBinding method :

## Expected behavi

[2019-01-10 14:56] NikasZalias opened #2739 "How to make WebView work in WPF when app is running as administrator"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

Running WPF app as admin, WebView does not load.

## Expected behavior

Running WPF app as admin, WebView should load.

## Minimal reproduction of the problem with instructions

Run WPF app as admin and try open WebView.

## Environment

[code]

I'm aware of the problem that WebView does n

[2019-01-10 20:30] harinikmsft opened #2740 "DataGrid GridLines colors need to be updated for Dark Theme"
Creating this issue to track a part of the ThemeResources update to ColumnHeaders that didn't get fixed by #2517 .

The GridLines are not visible when Dark theme is applied. Need to update the GridLinesBrush resource to be a themeresource.

![image](https://user-images.githubusercontent.com/18036892/50995109-f2c20500-14d2-11e9-9101-2bbe29fd3212.png)

Change needed is to change/move this line in Da

[2019-01-11 01:09] Arslan007 opened #2741 "Tabview Header Navigation Arrow Key Not Work"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Video
![ice_video_20190110-183906](https://user-images.githubusercontent.com/1511567/51006916-a2fb3200-1502-11e9-947d-e8d9cdc126d2.gif)

## Current behavior
Arrow keys for navigation of tabview header doesnot work if there are multiple tabs.
You can reproduce this issue with your store app as well.

## Expec

[2019-01-11 07:07] HHChaos opened #2742 "Add eyedropper ability for toolkit"
## I'm submitting a...

Feature request (UserVoice request:https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/31112329-eyedropper-ability-to-pick-color-outside-of-the-uw )

## Expected behavior

I noticed that some developers wanted the Eyedropper control.

And I've developed an Eyedropper control with similar capabilities.I want to contribute it to the community.

My

[2019-01-11 20:12] michael-hawker commented on #2742
Thanks @HHChaos, I'll jump on working to finalize the Image Cropper PR now that the holiday is over! :)

Then we can get working on this one!

[2019-01-11 20:15] michael-hawker commented on #2741
Thanks @Arslan007, we have another issue for Accessibility Issues all up #2276.  I've added this one there as well.  It's something we'd like to spend some more time focusing on as we move forward.

[2019-01-13 06:51] michael-hawker opened #2744 "StringFormatConverter throws exceptions with invalid format string"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
When used dynamically the StringFormatConverter can throw an exception with the string.Format call that's unhandled.

## Expected behavior
StringFormatConverter shouldn't throw an exception with an invalid converter string.

## Environment

[code]

[2019-01-14 21:51] marianstdt commented on #2709
I replicated this issue and after debugging, I found that the measure method worked and the exception stopped appearing, only if it runs after the template was applied.

You can only get the size once the page has finished rendering and all the sizes are assigned. In order to recreate this, you have to run the measure method when the _layoutUpdated_ event is triggered.
It also works if you use the

[2019-01-14 23:09] nmetulev commented on #2442
PR merged

[2019-01-14 23:09] #2442 closed

[2019-01-15 13:00] timaiv commented on #2716
I have similar problem with closing browser using WebView in VSTO(via closing form region). Outlook thread is blocked.

[2019-01-15 14:42] Bmartin2013 commented on #2276
Hi everyone! we're working to solve the keyboard focus features for the controls listed below.

![image](https://user-images.githubusercontent.com/3893598/51187001-a7846980-18b9-11e9-8605-12d6940794d6.png)

[2019-01-15 17:18] michael-hawker opened #2746 "Can't interact with RadialGauge when IsInteractive=True and StepSize=0"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior
If you have a RadialGauge and set IsInteractive to true, you can't interact with it.

## Expected behavior
You should be able to Interact with it.

## Minimal reproduction of the problem with instructions
Open Sample App
Go to RadialGauge sample
Go to XAML
Note you can interact with gauge

[2019-01-15 17:42] michael-hawker commented on #2017
I know the GridSplitter uses a different implementation, but I need to compare it to the Mouse Cursor extension ones as I can hit this issue with the Mouse Cursor extensions as well.

[2019-01-15 18:38] michael-hawker commented on #2017
I have a fix for the Mouse Cursor extension, and I suspect the problem is the same here (though we should have Grid Splitter use the Mouse extensions).

Turns out Pointer Exit is sometimes called originating from the element itself, which in turn causes it to set the pointer to the changed cursor instead of back to something else.

I added a `sender != e.OriginalSource` to the if condition and tha

[2019-01-15 21:54] gwired2015 opened #2747 "Add support for DOM and Mouse Events HTMLElementEventHandler"
I'm submitting a...
       Feature request (UserVoice request: )
I believe Feature Requests are getting lost on UserVoice.  There may be two things called a WebView that are mixing things up.

My request is to add the Document property and Events HtmlElementEventHandler to the WebView Class.

I do see some items there but strangely they are from 2012.  Isn't that before this control was written?

[2019-01-16 10:31] aodpi opened #2748 "Circular carousel with flipview behavior"
## I'm submitting a...

Feature request (UserVoice request: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/36536572-circular-flipview-control-with-position-indicators )

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2019-01-16 21:18] Sergio0694 opened #2749 "The string "http:\n" makes the MarkdownTextBlock throw an ArgumentOutOfRangeException"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior
Setting the `Text` property of the `MarkdownTextBlock` to `"http:\n"`, or to a string that contains the substring `"http:\n"` causes an `ArgumentOutOfRangeException`.
Here's the full stack trace:

[code]

## Expected behavior
The text should just render as usual.

## Minimal reproduction

[2019-01-17 10:50] casimero opened #2750 "[bug] WebView stops when trying to play protected streams"
## I'm submitting a...
 Bug report (I searched for similar issues and did not find one)

## Current behavior
Webview stops when I try to play protected streams on both winform and wpf  Toolkit Controls WebView

## Minimal reproduction of the problem with instructions
navigate to [http://ampdemo.azureedge.net/azuremediaplayer.html?url=%2F%2Fb028.wpc.azureedge.net%2F80B028%2FSamples%2F859b335f-eebc-

[2019-01-17 19:10] lucaasrojas commented on #2276
Hi, we were working on the controls and have an update.

We tested the following controls with the package version 4.0 and we didn't find any focus problems
- Loading
- RadialProgressBar
- InfiniteCanvas

[2019-01-17 22:17] mdtauk commented on #2404
Has this problem been rectified? (keeping the issue active)

[2019-01-17 22:31] HerrickSpencer commented on #2247
current status?

[2019-01-17 22:54] mickyd commented on #2675
Ping

[2019-01-18 10:14] Dondon841 commented on #2592
I was still hoping for a response.

[2019-01-18 11:33] didi2391 opened #2753 "Nested Data Grid - Data Grid with dynamic columns inside Row Details Template"
I would like to nest Data Grid inside a Data Grid upto 3 levels

I was checking with Row details template where in I can define columns in XAML and bind it to a collection and it works

My scenario is to load another grid inside row details template of parent grid using dynamic text columns based on the parent grid selection value

Is this possible and supported in Data Grid ?

Please suggest

[2019-01-18 13:50] mrlacey commented on #2207
Does this mean this bug is not to be fixed?

[2019-01-18 13:53] mrlacey commented on #2206
Has support for the PlatformSpecificAnalyzer been dropped?

[2019-01-18 13:56] hermitdave commented on #2206
Original analyser used a workaround that set min version as a file when nuget package was added.
I am not sure it would correct the min version when project was modified and hence this workaround was never used.

Beyond this there is no other way to identify the version. Its more like can't fix

[2019-01-18 20:04] michael-hawker commented on #2731
Merged PR

[2019-01-18 20:04] #2731 closed

[2019-01-18 20:16] michael-hawker commented on #2749
@WilliamABradley think you could take a quick look?

[2019-01-21 18:31] lucaasrojas commented on #2142
@vleonavmsft  Did you try read the text pressing Caps Lock + arrow key with the Narrator enabled?

[2019-01-22 00:30] SeppyMoose commented on #2675
Same issue here.

[2019-01-22 09:09] xiedongweo opened #2756 "DataGrid causes app to fail to start from start menu"
## I'm submitting a...

 Bug report (I searched for similar issues and did not find one)

## Current behavior

I used DataGrid control in my UWP app, when I start it from visual studio, it works ok. Then, if I start it from windows start menu, it will cause my app crash. I only see the error code from event viewer. The Exception code: 0xc000027b

## Minimal reproduction of the problem with instruc

[2019-01-22 18:53] michael-hawker commented on #2592
@RBrid think we can get this fixed in the next couple of weeks for the 5.1 release?

[2019-01-22 18:57] michael-hawker commented on #2247
This request has been added to the WinUI Library's [Make Grid Better](https://github.com/Microsoft/microsoft-ui-xaml/issues/54) feature proposal so going to close it out here for now.  If they end up not taking it, we can re-open and investigate in the future.  Thanks!

[2019-01-22 18:57] #2247 closed

[2019-01-22 19:12] michael-hawker commented on #1933
@WilliamABradley any thoughts on this issue?

[2019-01-22 19:39] Odonno commented on #2744
I can do it. Does not seem to take a long time.

I wonder if there are any other cases of non-catched exceptions...

[2019-01-22 19:46] marianstdt opened #2759 "TextToolbar ordered List numeration error"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
When using a Ordered List in Rich Text format, the numbers jump from "9", to ":" and then "21" (First attached Image), and repeats the same every 10 elements.

When on Markdown if you insert ten elements and apply the ordered list property, but delete the first two, in the text editor your

[2019-01-22 20:10] Bmartin2013 commented on #2689
About this item, do you want the category list was focused after searchbox?

![tabpicker2](https://user-images.githubusercontent.com/3893598/51561704-b5f8f500-1e66-11e9-9f99-78d319d7ea2d.gif)

[2019-01-22 21:07] michael-hawker commented on #2689
@nbellocam I just noticed that the Sample App (from the store) appears to crash on start when my machine is already in high contrast mode.  Can you have someone confirm if they see this as well?

[2019-01-22 23:56] michael-hawker opened #2761 "TitleBarForeground isn't a valid property on BladeView"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior
[BladeView docs](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/bladeview) list `TitleBarForeground` as a property; however, the control doesn't support it.

## Expected behavior
TitleBarForeground is supported?

## Minimal reproduction of the problem with instructions

[2019-01-23 00:05] michael-hawker commented on #2756
@xiedongweo and when run from VS you can see the DataGrid fine?

I'm seeing this error when passing the XAML through XamlReader:

![image](https://user-images.githubusercontent.com/24302614/51573756-7aa6f800-1e5f-11e9-8da3-8b7956d6a8f4.png)

@harinikmsft?

[2019-01-23 00:32] michael-hawker commented on #2759
Thanks @marianstdt, I can reproduce as well for the rich text format. @WilliamABradley any ideas on where this code lives?

The Markdown output is expected according to the [original spec](https://daringfireball.net/projects/markdown/syntax#list), but not [common mark](https://spec.commonmark.org/0.28/#list).  I did notice we don't support the `)` as an ordered list delimiter, so we should probabl

[2019-01-23 01:54] xiedongweo commented on #2756
@michael-hawker  Yes. When run from VS, the DataGrid worked fine.

[2019-01-23 04:03] robloo commented on #2722
Why will this be automatically closed? If there is a reasonable work-around to make the DataGrid usable with externally updated data let me know. Otherwise, seems like this should be open.

[2019-01-23 07:59] patriksvensson opened #2762 "Multiple selections in MasterDetailsView?"
Is it possible to set the ListView's `SelectionMode` in the MasterDetailsView?

[2019-01-23 09:51] Heidelberger commented on #2683
I see this issue on my own system. I can build and run but I get the above warning.  I'm using: Microsoft.Toolkit.Uwp.UI.Animations (v5.0.0), Microsoft.NETCore.UniversalWindowsPlatform (v6.2.3)

[2019-01-23 14:37] marianstdt opened #2763 "Sample App crashes when launched in High Contrast mode"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
When Launched with High Contrast mode activated, the Sample App crashes.

![uwp issue sample app crash high contrast](https://user-images.githubusercontent.com/4763385/51613062-7cc19300-1f01-11e9-856f-9397c8751c43.gif)

![uwp issue sample app crash high contrast store](https://user-images.g

[2019-01-23 16:21] nbellocam commented on #2689
We have a separated issue for the high contrast mode crash: https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2763

[2019-01-23 16:44] DerPate2010 commented on #2185
Here is a fix for this behavior:
https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/2764

[2019-01-23 18:03] Bmartin2013 commented on #2720
It seems that the whole sample app crashes after launching with the HighContrast theme previously enabled. This happens with every UWP control, not only with the GridSplitter and DropShadowPanel.

Here's the issue: https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2763

If the linked issue is solved, yours should work too.

[2019-01-23 18:58] RBrid commented on #2592
Yes, I will investigate this issue in the coming days. Thanks.

[2019-01-24 14:36] marianstdt commented on #2709
@ShobikaPalani Could you try this fix and confirm if it works?

Thanks.

[2019-01-25 09:43] Berrysoft commented on #2733
So maybe I should say something to keep it active?

[2019-01-25 13:34] mdtauk commented on #2441
There is a control in development to address this issue Mr Bot.

[2019-01-25 17:10] Wenish commented on #2572
u can close it if u want.
to much work uservoice

[2019-01-26 17:50] sharpninja commented on #2718
If the location of a header within the markdown viewer was exposed as a framework element then that would work, but the problem is that there is no framework elements to reference.

[2019-01-28 19:53] lucaasrojas commented on #2711
@michael-hawker @skendrot I opened a PR with a fix for this issue, could you take a look to it?

[2019-01-28 20:38] michael-hawker commented on #2762
Not currently with the provided template (though it's a named element, so you could grab the ListView and modify it's properties).

What's your scenario for this?  Would you intend that the details provides some sort of summary and commands for the multiple items selected?

[2019-01-29 10:33] mani009 opened #2773 "UWP Printhelper doesn`t print PDF/XPS"
I'm submitting a Issue.

Nuget Package(s):
Microsoft.Toolkit.Uwp v5.0.0
Package Version(s):

Windows 10 Build Number:
- [x] October 2018 Update (17763)

App min and target version:
- [x] October 2018 Update (17763)

Device form factor:
- [x] Desktop

Visual Studio
- [x] 2017 (version: 15.9.6)

Minimal code Example
[code]
The Print Preview show`s the expected font,but generates empty pdf/xps files.

[2019-01-29 11:17] patriksvensson commented on #2762
@michael-hawker The scenario would be something like what you see in any mail applications, that you can delete or modify multiple list view items.

[2019-01-30 03:11] HHChaos opened #2774 "This code file name does not follow the naming convention."
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior
This code file name does not follow the naming convention.
![filenamewrong](https://user-images.githubusercontent.com/9880072/51955337-82c5ef80-247e-11e9-9073-02c6305a8825.jpg)

## Expected behavior
This file should be named `UwpPasswordManager.cs`.

[2019-01-30 18:49] #2711 closed

[2019-01-30 20:54] marianstdt commented on #2720
@mmahajna We found a solution to the high Contrast Issue, you can check it in this PR : [#2776](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/2776) . Could you test this?

[2019-01-31 01:54] #2774 closed