[2018-04-12 13:15] OpportunityLiu opened #1965 "Wrap panel layout bug"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

See #1085 , the issue still exists.

## Expected behavior

## Minimal reproduction of the problem with instructions

[code]
![image](https://user-images.githubusercontent.com/13471233/38679503-7c4aa7be-3e96-11e8-88b0-9ad4ae622db7.png)
The red area should not visible

## Environment

[cod

[2018-04-12 17:38] nmetulev commented on #1933
Not sure if this is a Pivot issue or something else. Tried changing the foreground of a parent through code and that seemed to work.

[code]
[code]
@michael-hawker has spent some time working with the Pivot, he might have an insight here.

[2018-04-12 17:57] michael-hawker commented on #1933
Interesting...  All the [PivotHeaderItem Style](https://msdn.microsoft.com/en-us/library/windows/apps/mt299142.aspx) does is toggle the foreground property of its `ContentPresenter`.

It's odd if it's working in the other scenario that nmetulev mentioned and working for the `TextBlock` in the original example, that it would stop working when it has something else next to it.  We'd have to investig

[2018-04-12 18:04] nmetulev commented on #1940
Just ran them, looking good:
![image](https://user-images.githubusercontent.com/711864/38695475-3d024878-3e41-11e8-8f66-898e1f1578ee.png)

[2018-04-12 19:52] RexfelisLOC opened #1967 "TwitterService on ARM generates exception "Unable to load DLL clrcompression.dll""
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

When building and running on an ARM device, I get the following exception:

"Unable to load DLL 'clrcompression.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)"

## Expected behavior

No exceptions when using the Facebook or Twitter services.

## Minimal

[2018-04-12 20:01] redoced commented on #1933
@michael-hawker

that's not what I was suggesting with my original post. It just as well doesn't work if it's the single child of the `PivotItem.Header`.

Would be nice to be able to dive into the source of `RegisterPropertyChangedCallback` and see what's different for `Control` compared to `PathIcon` ...
I suspect someone simply forgot to include all the classes that have a `Foreground` when rais

[2018-04-12 20:35] dPJinjo opened #1968 "Microsoft.Toolkit.Uwp.UI.Controls xaml files are loose in client appx package"
## I'm submitting a...
 - Bug report (I searched for similar issues and did not find one)

## Current behavior
When a UWP includes the Nuget package Microsoft.Toolkit.Uwp.UI.Controls and then generates an appx package, the contents of the appx package contain a folder called Microsoft.Toolkit.Uwp.UI.Controls which contains all XAML files as loose files. It seems to contain all XAML files, not just

[2018-04-12 20:47] avknaidu commented on #1968
I can confirm this is happening with 2.2. Not with 2.1.

[2018-04-12 20:52] dPJinjo opened #1969 "RadialGradientBrush doesn't respond to GradientStop.ColorProperty value changes"
## I'm submitting a...
 - Bug report (I searched for similar issues and did not find one)

## Current behavior
When a UWP includes the Microsoft.Toolkit.Uwp.UI nuget package and uses a RadialGradientBrush it's impossible to update a GradientStop.Color property using a ColorAnimation. I was also unable to set the Color using a {TemplateBinding}. This works with the built-in LinearGradientBrush.

[2018-04-12 20:56] nmetulev commented on #1968
I'm seeing this happen with 2.0, 2.1, and 2.2, don't think it's just 2.2

[2018-04-12 20:58] avknaidu commented on #1967
I am not saying this is the solution but can you Install [System.IO.Compression](https://www.nuget.org/packages/System.IO.Compression/) package in your solution and try again?

[2018-04-12 21:20] RexfelisLOC commented on #1967
I tried installing System.IO.Compression from nuget v4.3.0 and the exception said it was looking for v4.1.1.  Nuget only has 4.1.0 but I did find the command for:

Install-Package System.IO.Compression -Version 4.1.1

However, after doing this I'm still getting the same exception listed in the bug report.

[2018-04-12 21:51] michael-hawker commented on #1968
I'd be curious how this could effect our Sample App and Testing scenarios with the work we need to do for #1961 also.

[2018-04-12 21:56] nmetulev commented on #1967
What device are you using? I tried on Windows Phone and seemed to work as expected.

[2018-04-12 22:00] RexfelisLOC commented on #1967
Lumia 830

[2018-04-12 22:25] RexfelisLOC commented on #1967
I'm using 10.0.14393.2189.  I double checked and it does work with a Release build but not with Debug.

[2018-04-12 22:43] nmetulev commented on #1967
Not sure what's going on. I don't have a device with 14393 on ARM that I can test. If you can update to 15063 through the insider builds, I recommend you do so. We will no longer be supporting 14393 with the next release.

[2018-04-13 02:07] nmetulev commented on #1859
PR was just merged

[2018-04-13 02:07] #1859 closed

[2018-04-13 02:08] nmetulev commented on #1886
PR was merged

[2018-04-13 02:08] #1886 closed

[2018-04-13 06:17] karter16 commented on #1828
Microsoft use a SwipeControl type arrangement themselves in Outlook which allows interaction via the mouse. I think there a valid scenarios that should a mouse to be used as input for a SwipeControl. Especially for apps that are designed to run across desktops and tablets, it makes sense to allow the interactions with the app to be consistent across devices.

[2018-04-13 12:08] RexfelisLOC commented on #1967
It says I need a later build on the phone to get insider builds, but the update will not update beyond 14393.

[2018-04-13 14:34] corradocavalli commented on #1855
Unfortunately we can't do that since our app supports Surface Hub that still misses FCU, what other solution we have apart downgrading? If so, what is the latest version that targets CU?

[2018-04-13 17:01] nmetulev commented on #1855
@corradocavalli, you can still target FCU and support  Surface Hub, as long as your minimum target version covers the CU.

[2018-04-13 22:59] onovotny commented on #1954
Okay, so can we tag this as for v4.0, which would be after 1809, thus keeping the right timeline? I'll open an new issue for 15063.

[2018-04-13 23:00] onovotny opened #1972 "Bump TPMV to 15063"
Bump's the TPMV to 15063 as per the N-2 support policy. Also updates Extras tooling to the latest version.

[2018-04-14 07:31] mohamedmansour commented on #353
@r2d2rigo Do you have the code anywhere that you can share :) The implementation you have is pretty great, and the community would love to use it!

[2018-04-14 13:57] mrlacey commented on #1865
I'm planning on not porting the C# code in https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/animations/expressions
- It calls out in the text that it's "C#-only"
- The first part appears to be copied (without attribution or reference) from https://github.com/Microsoft/WindowsUIDevLabs/blob/master/ExpressionBuilder/README.md
- The existing docs are out of date to the point that I can't

[2018-04-14 14:48] allanrsmith commented on #353
I started down the path of implementing the same look and feel as the tabs on Edge. The problem is, with Windows Sets coming in RS5 why would you even want it? I kind of abandoned it since you wouldn’t want tabs within tabs. Thoughts?

[2018-04-14 15:04] hermitdave commented on #353
@allanrsmith TabSets as seen in RS5 only help group apps.. I myself experienced Edge only additional tabs and was useless for me.

For intra app Tabs, we do need a control

@skendrot can you please make peace with yourself, accept the impure solution and push the PR already?

[2018-04-14 17:27] Vijay-Nirmal commented on #1882
Currently, I have implemented a ScrollViewer to see the full image when overflow. I added this because when the user sets the width manually which is greater than the available size. But this solves the below issue.

Now, should I implement resizing an image when it overflows?

@nmetulev @WilliamABradley Thoughts?

You see the current changes [here](https://github.com/Microsoft/UWPCommunityToolkit

[2018-04-15 04:10] michael-hawker commented on #560
This gets a little easier now with the UniformGrid control we're adding in 3.0 (PR #1975).  I even made the sample app sample a simple calendar.  So it could be a good starting point for someone looking into this in the future.

[2018-04-15 04:15] michael-hawker commented on #818
I like the idea of extending InAppNotification to do this.  If you look at the new VS Code notifications, they're a bit of a hybrid of this too now.  So, it could give us the option to add some more functionality to the existing InAppNotifications and add some additional style options.

[2018-04-15 04:25] michael-hawker commented on #895
I think a general helper that lets you have the bounding box handles on an object would be useful.  It could cover this scenario, but also others for shapes or designers and such.  Then the implementer can decide what to do with that input (resize or crop the manipulated object).

[2018-04-15 04:33] michael-hawker commented on #1851
I think we can we close this now with #1918 implemented?  If anything we could provide another sample in the sample app which shows an expander with a custom header.

[2018-04-15 17:07] Bansilp-Advertising2002 opened #1978 "gh"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-04-15 17:10] lhak commented on #1953
I am sorry, but I checked again and my issue is not caused by the code in the UWP toolkit but by the default transition animations of the standard listview control. I can confirm that the deferrer works correctly for filter changes. Issue can be closed.

[2018-04-15 21:10] nmetulev commented on #1927
I am referencing the nugets as well. Tried on both Fall Creators Update and the latest insider builds in different combinations and I'm unable to reproduce this issue.

[2018-04-15 21:59] #1978 closed

[2018-04-16 02:46] nmetulev commented on #1882
Awesome that you are getting this done. ScollViewer could definitely work, but we could get in the same issue of too many nested scrollviewers. Have you tried if a [ViewBox would work](https://stackoverflow.com/questions/32591535/prevent-image-from-stretching-beyond-actual-size)?

[2018-04-16 03:10] Vijay-Nirmal commented on #1882
I have updated my code since my last comment. Now I have implemented resizing.

`ScollViewer` should be there because when the user sets the size like `![X](x =1000)` then the image should not resize even if the image overflow.

PR #1976

[2018-04-16 05:08] nmetulev commented on #1967
Not sure if helpful, but take a look at [this thread here](https://answers.microsoft.com/en-us/insider/forum/insider_wintp-insider_update-insiderplat_phone/cant-find-any-updates-for-release-preview/eaf79502-f0c1-4f35-8e29-89d08b874099?messageId=7ebe3847-811a-473d-9b5a-ffef315c9e03).

[2018-04-16 05:08] #1967 closed

[2018-04-16 05:10] nmetulev commented on #1953
Thanks for the update @lhak . I'll close this issue

[2018-04-16 05:10] #1953 closed

[2018-04-16 05:12] nmetulev commented on #1948
@WilliamABradley or @avknaidu might be able to help here

[2018-04-16 05:17] nmetulev commented on #1851
Agreed, closing issue

[2018-04-16 05:17] #1851 closed

[2018-04-16 05:51] WilliamABradley commented on #1948
I think this was an original design decision by @paulbartrum

[2018-04-16 06:36] hermitdave commented on #1497
Yes I am.. converting original VB code to CS unless you want to keep it as is

[2018-04-16 06:48] paulbartrum commented on #1948
Yep, I did it that way because that's how Reddit does it. The actual number you specify is ignored, the number is always generated sequentially starting at 1.

[2018-04-16 09:25] r2d2rigo commented on #353
@mohamedmansour I do have the code yes, could extract it from the current project and clean it up a bit. However it's a very naive approach and would need further work since it's based on ListView, doesn't look that good when scrolling is needed, etc.

[2018-04-16 09:56] Vijay-Nirmal commented on #353
@nmetulev I think @michael-hawker's Pivot style will be good for a fixed number of tabs with no reordering. Like OneNote
![OneNote](https://user-images.githubusercontent.com/24755596/27273532-133b9bea-54ed-11e7-8a3c-aece156ffa58.gif).

This will be good for in-app tabs like Edge, Twitter UWP.

[2018-04-16 10:00] avknaidu commented on #1948
I looked into this. The parser removes the Order Number from the list and renderer will add the order while rendering.

To implement this, we need to maintain the order number for each list and also use that number. So this needs to be changed.

I have also noticed that Github reorders numbers. for example

[code]
renders to

1. List item one
2. List item two

### Section 2
7. List item seven
14.

[2018-04-16 10:03] WilliamABradley commented on #353
@Vijay-Nirmal
Check this out: https://github.com/Raamakrishnan/UWP-Styles-Library/tree/master/Pivot/PivotTabbedStyle

[2018-04-16 10:08] Vijay-Nirmal commented on #353
@WilliamABradley Looks good. But that not my point. We can't achieve proper in-app tab control like Edge with just Pivot styles.

[2018-04-16 10:10] JohnnyWestlake commented on #1948
I'm fine with the github behaviour as that's pretty much the only other markdown behaviour I've noticed (the first number is used as the starting point, the rest ignored).

I've done a hacky implementation myself that required copying over all the files from the parser and renderer into my project as there's no public way to overwrite the behaviour, but I don't know whether a proper change wants t

[2018-04-16 11:25] WilliamABradley commented on #1948
@johnnywestlake see #1767 for more about custom parsing.

[2018-04-16 16:02] michael-hawker commented on #353
@Vijay-Nirmal yup, my current approach is working with tabs that fit on the screen.  It's breaking down when I try and fix the native pivot tab scrolling, I have to investigate a bit more.  But it looks good:

![image](https://user-images.githubusercontent.com/24302614/38820844-c46ee888-4153-11e8-9963-913aab9b6425.png)

My Edge tab style (outside the above) is almost done, but I don't have exactly

[2018-04-16 16:15] allanrsmith commented on #353
This is one I started... it is VERY similar to the Microsoft Edge Tab Control... let me know if you want me to share at least the structure of this.  There is still plenty of work to be done to hook up everything.

![image](https://user-images.githubusercontent.com/13139220/38821884-a6cfa71a-4156-11e8-84e6-a17fa6edcc03.png)

[2018-04-16 16:43] hermitdave commented on #353
Sorry @skendrot forgot

[2018-04-16 16:44] hermitdave commented on #353
Sorry @skendrot forgot

[2018-04-16 16:46] nmetulev commented on #1497
Awesome. Yeah, we should have it CS for consistency

[2018-04-16 16:53] hermitdave commented on #1497
I truly looked at the code only today.. its 60% done.. going to finish it tonight and then take another stab at different Gen. Will consume the existing hard coded format. Will push it to repo soon

[2018-04-16 17:24] Vijay-Nirmal commented on #353
@michael-hawker Does it support Drag & Drop?

[2018-04-16 17:44] michael-hawker commented on #353
@Vijay-Nirmal I haven't looked into drag and drop yet.  I'm not sure with the custom pivot header presenter panel how possible it will be to hook into that or not for the drag/drop events.

It may be possible to just get it from the item level, but I haven't spent any time looking.

[2018-04-16 19:11] DkmS1953 commented on #1927
Basically, Visual Studio likes to fool around. Non-existent errors, unknown
from where who takes libraries... Maybe it's from the same series of
ghosts...
Most likely, if I delete all Nuget packages, .vs-Folders, etc., then the
error will be lost. But I do not want to do it-then have a few hours
working environment to restore 🤔
I guess you can close the branch.

Wbr, Dyakov K.M.

2018-04-16 0:11 G

[2018-04-16 21:52] michael-hawker commented on #1438
Started looking at this, created a script to breakout the current samples.json into multiple files and rename the code files to `.code`, so the bulk of the manual work is done.  Going to use my trick from my copy sample so we don't reference all the individual files in the solution for the samples, but include the directory as a whole.

[2018-04-16 22:10] #1685 closed

[2018-04-16 22:15] #1965 closed

[2018-04-16 22:34] #1869 closed

[2018-04-16 22:47] #1430 closed

[2018-04-16 23:00] #1883 closed

[2018-04-17 03:14] #1940 closed

[2018-04-17 03:17] nmetulev commented on #1927
I'll close this issue for now. Let us know if you find that it's something specific with our nugets

[2018-04-17 03:17] #1927 closed

[2018-04-17 17:48] Vijay-Nirmal commented on #1882
@nmetulev I have updated my code. I am using ScollViewer -> ViewBox -> Image. PR #1976

[2018-04-17 18:08] kbrons commented on #1894
I'm going to work on this, if that's OK.

[2018-04-17 18:42] #1854 closed

[2018-04-17 21:11] touseefbsb opened #1983 "inappNotification stuck on UI and not being dismissed"
I am using this control for the first time and and have a very simple use case. I want to show in app notification on an event and then close it with the buttons I put on it.

I am succesfully able to show it, but when I try to dismiss it, it remains there, and doesn't go away.

    `<controls:InAppNotification x:Name="ResumeInAppNotification"
                                    IsTabStop="False"

[2018-04-17 22:34] Odonno commented on #1983
@touseefbsb Can you tell me what version of the toolkit you are using?

From the latest version (2.2.1), I can see the `AnimationDuration` is a TimeSpan,  you should probably set to `AnimationDuration="00:00:00.4000"`

[2018-04-18 02:45] fatcatz888 commented on #1894
Please do. It might also be affecting the cursor as sometimes when I navigate to a page with the GridSplitter controls the cursor disappears. It only appears when the cursor is hovering over the GridSplitter control.

[2018-04-18 10:05] touseefbsb commented on #1983
thanks @Odonno  tha solved the issue :)

[2018-04-18 10:05] #1983 closed

[2018-04-18 15:10] avknaidu commented on #1836
New PR created for first issue. I have tried using Mouse Extension also but the cursor just flicks and goes away to selector. Happens the same when `IsTextSelectionEnabled` is false also. If anyone has any ideas, please comment below.

[2018-04-18 16:39] avknaidu commented on #1903
@skendrot are you working on it? How did you add FontFamily as a Dropdown instead of a button?

[2018-04-18 22:06] skendrot commented on #1903
I have not yet had a chance to work on this

[2018-04-18 23:38] fatcatz888 commented on #1894
Ok, I'll report it as a separate issue.

[2018-04-19 00:38] #1922 closed

[2018-04-19 08:35] hermitdave commented on #1963
The underlying problem seems to caused by the Progress Ring. We should invest in a custom progress ring that runs off Composition thread.

[2018-04-19 13:46] Vijay-Nirmal commented on #1795
@nmetulev I have finished most of the main work (logic). You can see it [here](https://github.com/Vijay-Nirmal/MiddleClickScrollingHelper). Currently, I am using `ScrollViewer.ChangeView` to scroll. So it won't be smooth.

I have changed it to `Storyboard` animation with [this method](https://github.com/xyzzer/WinRTXamlToolkit/blob/master/WinRTXamlToolkit/Controls/Extensions/ScrollViewerExtensions

[2018-04-20 19:01] onovotny commented on #1968
This is by design. The loose XAML is required to be packaged with class libraries so that the designers can work.

The loose xaml should be compiled to xbf by the end application, if it's not, there may be an issue. @unniravindranathan?

[2018-04-20 19:31] scramsby commented on #1968
At least as we see by default the loose .XAML files get included in the generated .appx for consuming UWP application projects.

[2018-04-20 23:02] AdamBraden opened #1999 "MicrosoftGraphService should expose LoginHint to auth"
## I'm submitting a...

New feature request to support LoginHint:
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/34018135-add-loginhint-to-loginasync-getusertokenv2async

## Current behavior

LoginHint is a way to bypass the Home Realm Discovery dialog during Login - thus the enduser has to enter their email 2x to login.

## Expected behavior

using new code code:

[2018-04-22 22:10] nmetulev commented on #1969
@michael-hawker is working on this

[2018-04-23 19:23] AdamBraden opened #2004 "Improve Graph Service initialization - add constructor"
## I'm submitting a...

Feature request:
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/34039339-add-support-for-non-static-microsoftgraph-service

## Current behavior

I find the static initializer a bit cumbersome to use, ie:
MicrosoftGraphService.Instance.Initialize("<ClientId>");
if (!await MicrosoftGraphService.Instance.LoginAsync())
{
var graphClient = Micro

[2018-04-23 19:33] michael-hawker opened #2006 "Layout Transform values don't match Render Transform"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior
I did notice that with similar values in Skew though that at some point the layout transform seems to start behaving differently...

![image](https://user-images.githubusercontent.com/24302614/37811098-3dfc20a0-2e15-11e8-96a6-bb90c6c7f33b.png)

[code]

Compared to when there are less larg

[2018-04-23 20:32] Odonno commented on #2006
@michael-hawker From what I see, it's the `SkewTransform` which does not behave as it should. The `AngleX` and `AngleY` seems to be inverted.

[2018-04-23 22:35] #1817 closed

[2018-04-23 22:47] michael-hawker commented on #2006
@Odonno yeah, I think it'd be useful to add extensions for the Matrix helpers missing in UWP that the [.NET matrix class](https://referencesource.microsoft.com/#WindowsBase/Base/System/Windows/Media/Matrix.cs) had (Rotate, Translate, Scale, Skew).  Then we can use those in the Layout Transform control instead and should get the better behavior hopefully.

[2018-04-24 15:18] avknaidu commented on #1761
@nmetulev can you add PR In Progress Tag Here?

[2018-04-24 15:41] hermitdave commented on #1497
This is still work in progress.. I have added C# analyzer though haven't tested a thing yet on analyzer front.

[2018-04-24 20:40] nmetulev opened #2012 "Update control templates with fluent design"
The following controls will be updated with a more fluent and consistent default templates:

- [ ] BladeView
- [ ] Expander
- [ ] Menu
- [ ] GridSplitter
- [ ] InAppNotification
- [ ] OrbitView
- [ ] RangeSelector
- [ ] TextToolbar
- [ ] RadialGauge

Must work on dark and light theme.

@shweaver-MSFT is working on this

[2018-04-25 09:48] fatcatz888 opened #2017 "Gridsplitter controls sometimes causes the pointer to disappear"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

If my app navigates to a new page with gridsplitter controls sometimes the cursor disappears. The cursor only appears if hovering over a gridsplitter control.

## Expected behavior

The cursor should be visible.

## Minimal reproduction of the problem with instructions

Create a page with

[2018-04-25 13:13] avknaidu commented on #1836
While working on this PR, i noticed that Images can be wrapped into HyperlinkButton Content and then Mouse Pointer will show a Hand instead of a selection. Do you think its a Good idea?

[2018-04-26 20:44] #1955 closed

[2018-04-26 20:45] nmetulev commented on #1858
Addressed in #1959

[2018-04-26 20:45] #1858 closed

[2018-04-26 20:46] nmetulev commented on #1941
Addressed in #1959

[2018-04-26 20:46] #1941 closed

[2018-04-26 20:51] nmetulev commented on #1895
PR merged (#1959). You no longer need to have a platform initializer (that happens behind the scenes), but you still need to ask the user to log in. This is a side effect of the service using the V2 endpoint which does not support that functionality yet (we will add it as soon as possible). We had to remove the v1 support due to a dependency issue

[2018-04-26 20:51] #1895 closed

[2018-04-26 20:57] michael-hawker opened #2027 "Deeplink to Sample App Samples from Docs"
## I'm submitting a...
- Documentation issue or request (Discussed in PR #1748)

## Current behavior
We link to sample source code or app in documentation.

## Expected behavior
For controls/tools with sample pages, we should provide a deeplink to the sample app.

We should make sure this works well in other browsers as well.

[2018-04-26 21:26] nmetulev commented on #1999
PR merged

[2018-04-26 21:26] #1999 closed

[2018-04-26 21:38] #1569 closed

[2018-04-26 21:38] #1226 closed

[2018-04-27 02:02] Vijay-Nirmal commented on #1226
Finally .....

[2018-04-27 11:53] dineshkumar-205 opened #2029 "Text with shadow overlaps the text foreground"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

Adding a dropshadow with black color to textblock with goreground as white in UWP, shadow overlaps with the text foreground.

## Expected behavior

Shadow should not be visible on top of the text and only be visible outside the text region.

## Minimal reproduction of the problem with inst

[2018-04-27 12:32] lemoinea commented on #1963
Thanks @hermitdave
I confirm that if the progressRing is removed of style, there is no exception.

So rather than a custom progress ring, the first step could be to have a default style of ImageEx without progressRing? Or an option via a property?

[2018-04-28 07:45] MannusEtten opened #2033 "MasterDetail control doesn't show appbar buttons"
## I'm submitting a...

## Current behavior

I try to take over the example but without .bind-files because I don't use it that way. No mastercommandbar-buttons are shown in any context. So I don't have to option anymore to show the "add"-button for example.
## Expected behavior

show at least the master-mastercommandbar buttons

## Minimal reproduction of the problem with instructions

I added th

[2018-04-28 18:32] nmetulev opened #2034 "3D Model viewer control"
## I'm submitting a...

- Feature request (UserVoice request: )

New control to view 3D Models such as glTF assets. Usage:

``` <controls:Model3D Source="ms-appx://model.glb" />```

Features:
- [ ] Properties for angles to rotate the camera
- [ ] Events for loading
- [ ] Method to view in MR
- [ ] AnimationGroup Property and method to run AnimationGroup
- [ ] Property to control radius
- [ ] Prope

[2018-04-29 00:38] scramsby commented on #1968
Ping to keep this issue active.

[2018-04-30 01:13] nmetulev commented on #1946
PR merged

[2018-04-30 01:13] #1946 closed

[2018-04-30 03:03] nmetulev commented on #1968
Thanks @scramsby, I tagged this issue so it remains open.

[2018-04-30 03:14] nmetulev commented on #2033
ping @skendrot

[2018-04-30 03:27] nmetulev commented on #2017
@shweaver-MSFT, could you look at this as part of #2013?

[2018-04-30 03:44] shweaver-MSFT commented on #2017
Ya, no problem. I'll try out the repro and see what's going on.

[2018-04-30 07:59] avknaidu commented on #1836
Yes. I can create a branch with the default content and you can check for yourself.

[2018-04-30 14:06] Vijay-Nirmal commented on #1740
No, it should go to the corresponding page.

[2018-04-30 14:47] avknaidu commented on #1740
But there is no Sample Page in Sample App for Animation Set. What should happen in this case? should it open on browser?

[2018-04-30 14:51] Vijay-Nirmal commented on #1740
In 3.0, there will be Sample Page everything. If the control/helper doesn't have sample then it will be doc only sample page.

[2018-04-30 15:38] avknaidu commented on #1740
Yes. Using Deeplink. So if you want the users to go to `AnimationSet` docs from the link above, all you need to do is Fire `LinkClicked` Event on Documentation Markdown and Navigate frame to this URI

`uwpct://Animations?sample=animationset`

So your links will change to `[Animation Set](uwpct://Animations?sample=animationset)`.

only thing I am not sure about is how does it impact docs.microsoft.

[2018-04-30 16:12] Vijay-Nirmal commented on #1740
How does it affect docs.microsoft.com? This is only for Sample App

[2018-04-30 17:56] rjmurillo opened #2037 "Bring WebView with Edge to WPF and WinForms"
## I'm submitting a...

- Feature request (UserVoice request: )

https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/34112086-webview-for-wpf-and-winforms

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-04-30 18:11] shweaver-MSFT commented on #2017
@nmetulev, I can't seem to repro the issue. I created an app with 2 pages. MainPage has a button that navigates to the OtherPage. OtherPage has 2 GridSplitters and a few buttons to navigate back to Main. I tried navigating back/forth dozens of times with no issue. Cursor is always visible and changes as expected when hovering/manipulating the GridSplitter.

Test app is here: https://github.com/shw

[2018-04-30 22:50] fatcatz888 commented on #2017
I'll give it a test.

Thanks

[2018-04-30 23:35] nmetulev commented on #1865
PR merged

[2018-04-30 23:35] #1865 closed

[2018-04-30 23:44] michael-hawker commented on #1923
PR Merged

[2018-04-30 23:44] #1923 closed

[2018-05-01 09:29] mrlacey commented on #2037
Does adding this mean changes to platforms supported by the toolkit?

Currently, the toolkit only [supports the last 3 public releases of the Win10 SDK](https://github.com/Microsoft/UWPCommunityToolkit#-supported-sdks). If adding new controls for apps built with older technologies, is there also a need to support/test these new controls on older versions of Visual Studio or older versions of Windo

[2018-05-01 14:44] luismanez opened #2041 "App crashes when using Graph service with v2 endpoint"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
When using the Graph Service with the Azure AD v2 endpoint, the App crashes and is closed.

## Expected behavior
You can sign in using Graph service and get email data.

## Minimal reproduction of the problem with instructions
Go to the Service tab and select Graph service. Select v2 endpoi

[2018-05-01 15:18] mrlacey commented on #2037
I thought this rang a bell 😉
How does this compare to the [native control announced in March](https://blogs.windows.com/buildingapps/2018/03/07/three-things-need-know-windows-developer-day/)?  (Also, short video [here](https://www.youtube.com/watch?v=lALOHjcU8-I))
This was announced as if it would be immediately available but doesn't appear to be out yet. Is there a risk that a new control that's

[2018-05-02 03:33] shweaver-MSFT commented on #2017
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: fatcatz888 <notifications@github.com>
Sent: Monday, April 30, 2018 3:50:52 PM
To: Microsoft/UWPCommunityToolkit
Cc: Shane Weaver; Mention
Subject: Re: [Microsoft/UWPCommunityToolkit] Gridsplitter controls sometimes causes the pointer to disappear (#2017)

I'll give it a test.

Thanks

—
You are receiving this be

[2018-05-02 08:53] WilliamABradley opened #2045 "Cached Docs don't get replaced when a new Release arrives"
## I'm submitting a...

 - Regression (a behavior that used to work and stopped working in a new release)
 - Bug report (I searched for similar issues and did not find one)
 - Sample app request

## Current behavior

Docs won't get replaced when a new version comes out.

## Expected behavior

The Version of docs will be checked to ensure they are up to date, and will throw out the Cache if out of

[2018-05-02 10:10] Vijay-Nirmal commented on #1798
Can close this issue

[2018-05-02 10:16] WilliamABradley commented on #1798
There is still an issue if the closing asterisks are separated, e.g. \*\*\*Hello\*\* With italics\*.

Should produce: ***Hello** With italics*.

[2018-05-02 10:42] Vijay-Nirmal commented on #1236
How is this different from `ProgressRing`?

[2018-05-02 10:45] Vijay-Nirmal commented on #1125
Can close this issue

[2018-05-02 10:47] WilliamABradley commented on #1125
It does seem to work now :) I don't remember when/how this was fixed and by who, but I'm glad it was!

[2018-05-02 10:47] #1125 closed

[2018-05-02 14:02] alexchx opened #2047 "Compatibility Errors in Microsoft.Toolkit.Uwp.UI.Controls Project"
We are receiving the following errors when open this solution in VS 2017, although we could still build and deploy the sample app successfully, is this something to be fixed?

- Project Microsoft.Toolkit.Uwp.UI.Controls is not compatible with net452 (.NETFramework,Version=v4.5.2) / win-x64. Project Microsoft.Toolkit.Uwp.UI.Controls supports: uap10.0 (UAP,Version=v10.0)
- Project Microsoft.Toolkit.

[2018-05-02 16:19] nmetulev commented on #2047
This is a known issue with MSBuild. We expect this to be fixed in future versions of VS.

[2018-05-02 16:19] #2047 closed

[2018-05-02 16:24] nmetulev opened #2049 "Update name to Windows Community Toolkit"
The toolkit is getting renamed to Windows Community Toolkit. More info [here](https://blogs.windows.com/buildingapps/2018/05/02/announcing-a-new-name-for-the-uwp-community-toolkit-windows-community-toolkit/#3spQOOGQvDacWF8J.97)

Things to update
- [x] documentation referencing the old name
- [x] documentation page header and url
- [x] code referencing the old name
- [x] repository name and readmes

[2018-05-02 21:12] Odonno commented on #1236
@Vijay-Nirmal It's the same thing. Just different look. And it feels more Fluent design-like to me.

[2018-05-02 23:59] #2037 closed

[2018-05-03 04:39] Swifter opened #2054 "PDF Viewer User Control: I made one, you can include it if you want."
Feature request (UserVoice request: ) https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/32212927-flippdfviewercontrol

You may wish to consider my FlipPdfViewerControl for inclusion in the toolkit. It is a PDF viewer rolled into a single user control, and a sample project that uses the control.  The control has printing capability.

You may find the project here:  ht

[2018-05-03 05:37] nmetulev commented on #2054
Thanks for submitting this. Looks like an interesting control - next steps is to gauge the interest from the community on a PDF Viewer control.

[2018-05-03 05:49] Vijay-Nirmal commented on #1236
Then as we discussed, we can make styles library. We can restyle `ProgressRing`. Here are some restyled `ProgressRing` from [UWP-Styles-Library](https://github.com/Raamakrishnan/UWP-Styles-Library/tree/master/ProgressRing)

![ProgressRing](https://raw.githubusercontent.com/Raamakrishnan/UWP-Styles-Library/master/ProgressRing/ProgressRingStyle1.gif)

![ProgressRing](https://raw.githubusercontent.co

[2018-05-03 06:02] dotMorten commented on #1236
I agree. Restyling existing controls should be the promoted approach for something like this.

[2018-05-03 15:15] rvinothrajendran commented on #2004
@nmetulev Can I work on this

[2018-05-03 20:41] ghost opened #2058 "NavigationView Titlebar index"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
When the view is extended to the titlebar, the NavigationView´s back and also the menu button are not clickable when the pane is collapsed due to the size of the page. *Picture below
![skizze](https://user-images.githubusercontent.com/23432700/39601751-9006d89a-4f12-11e8-8c78-1789e1e80194.p

[2018-05-03 20:45] nmetulev commented on #2058
Is this an issue with the NavigationView in the platform, or the HamburgerMenu in the toolkit? If the first one, I'd recommend creating an issue in the [feedback hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app)

[2018-05-03 20:49] DawgZilla commented on #2058
It is an issue with the NavigationView in the UWP Community Toolkit, because the UWP Community Toolkit sample remarked that the HamburgerMenu is deprecated.

Maybe there´s something I´am missing?

[2018-05-03 21:04] nmetulev commented on #2058
Can you share a code snippet?

You are correct, the HamburgerMenu in the toolkit is deprecated and the recommendation is to use the NavigationView that is part of the UWP XAML platform. If this is an issue with the NavigationView, we recommend creating an issue in the feedback hub to make sure the issue is fixed in the platform.

[2018-05-03 21:05] michael-hawker commented on #2054
Thanks @Swifter, looks like the PDF is still rendered as images in your control, eh?

I was thinking that PDF support would be a great addition to the toolkit as well.  But I worry that most devs would expect a more full-featured viewer with text search and selection.  (I thought there was another user voice item open for pdf already, but I couldn't find it.)

I had started looking at using [pdf.j

[2018-05-03 21:10] michael-hawker opened #2060 "Support Accelerator Keys on MenuFlyoutItem"
## I'm submitting a...
- Feature request

## Current behavior
If you have a Menu with an accelerator like `^Help` it lets you have a nice hotkey to open that menu:

![image](https://user-images.githubusercontent.com/24302614/39602893-69b98868-4edb-11e8-82fb-9715bb5f8213.png)

But the child items don't use this same pattern:

![image](https://user-images.githubusercontent.com/24302614/39602914-796d

[2018-05-03 21:11] DawgZilla commented on #2058
As it is a new Project, the only thing I can share is this:

`<Grid>
        <NavigationView></NavigationView>
    </Grid>`

`CoreApplicationViewTitleBar coreTitleBar = CoreApplication.GetCurrentView().TitleBar;
            coreTitleBar.ExtendViewIntoTitleBar = true;`

But you are truely right that this is an UWP XAML Control. Time has changed ;) I really need to get back into it. Thank you for yo

[2018-05-03 21:28] nmetulev commented on #2060
ping @IbraheemOsama

[2018-05-03 21:54] Swifter commented on #2054
I wrote the control so I could display small PDF files of only a few pages, or a set of images, usually of scanned document pages that were not in a PDF.  I looked at most of the commercial controls and they did a lot of what you suggest, but these features were beyond the scope of what I needed to do.  As I suggest in the documentation for my control, Microsoft could easily provide similar capabi

[2018-05-03 22:00] michael-hawker commented on #2054
There were some recent improvements to the PrintHelper sample, so it'd be good to know what limitations you faced trying to use them.

[2018-05-04 00:10] nmetulev commented on #2004
Feel free to grab this one @rvinothrajendran. We should avoid breaking changes here and looks like adding a public constructor will do the trick

[2018-05-04 00:46] rvinothrajendran commented on #2004
@nmetulev yep ,am started the changes

[2018-05-04 03:18] dotMorten commented on #2054
@Swifter I would be worried that people would expect the PDF support in the Community toolkit to be a lot broader than what covers your scenario. I'm sure it's great for some scenarios, but I think the bar needs to be higher to be in here.

[2018-05-04 03:57] #2054 closed

[2018-05-04 04:47] michael-hawker commented on #2054
@dotMorten the WebView doesn't natively support PDF rendering, only Edge does.  But Mozilla's pdf.js library is robust.

@nmetulev should we retitle this and leave it open for interest? Maybe investigate this for 3.1.

[2018-05-04 11:14] CZEMacLeod commented on #1681
@WilliamABradley I tried to find your Xamarin Community Toolkit repo for the MarkdownTextView but it doesn't seem to exist any longer.
Are you still working on this?
We have a Android / Windows app (not currently targeting iOS) currently based on Xamarin.Forms and would love to be able to integrate MarkDown on both platforms...

[2018-05-04 11:18] WilliamABradley commented on #1681
@CZEMacLeod I have taken it down now, in favor of https://github.com/xamarin/XamarinCommunityToolkit, I will release a PR for that incorporating the Control soon. (I will add the current version which is still incomplete)

[2018-05-04 11:28] CZEMacLeod commented on #1681
@WilliamABradley Cheers - I had a quick look at that toolkit but didn't see any controls in it so passed it by. Will keep an eye out for your PR as I am interested to understand the system.

[2018-05-04 11:39] Nirmal4G commented on #2049
What about Package Names?

Will they change too?

[2018-05-04 11:40] WilliamABradley commented on #1681
@CZEMacLeod https://github.com/xamarin/XamarinCommunityToolkit/pull/94

[2018-05-04 18:32] michael-hawker commented on #2017
I just hit this too, but couldn't repro again when I redid what I thought I did.  We can clean-up the GridSplitter to use our Mouse Cursor extensions, that may help maybe.  I can look at it after Build as I should try and finish and add in my ContentSplitter sister control.

[2018-05-04 18:36] joncamp opened #2063 "Update GazeInteraction Library Defaults and Strings"
## I'm submitting a...
Update to the GazeInteraction Library

## Current behavior
The defaults are too broad for the sample app, plus some strings need updating.

## Expected behavior
Adjust the ranges for the sample app, and update some strings.

## Minimal reproduction of the problem with instructions
Open the sample app, go to the gaze interaction page. Note the ranges are too big

## Environme

[2018-05-04 18:57] #2063 closed

[2018-05-04 22:02] fatcatz888 commented on #2017
Thanks for the update. Since you can reproduce the bug too now I won't be pulling my hair out trying to get the test app to make the cursor disappear!

I just know it is completely random.

[2018-05-05 00:11] nmetulev commented on #2049
No, package names will remain the same as their name already fits the new toolkit name

[2018-05-05 04:25] nmetulev opened #2068 "Clean up folder structure"
Move projects, samples, and tests in separate folders and subfolders to make it easier to navigate the repo.

[2018-05-05 16:16] #1972 closed

[2018-05-06 06:02] michael-hawker commented on #2068
We might want to tie this to the sample page folder clean-up of #1438 too.

[2018-05-06 17:40] #1882 closed

[2018-05-07 01:41] #1532 closed

[2018-05-08 08:44] Wenish opened #2069 "Microsoft.Toolkit.Parsers Markdown Link dont gets rendered"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
Im using the UWP Markdown Textblock (https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/controls/markdowntextblock)
When im rendering the following Markdown whitout a space in the middle:

[Company Portal] (CompanyPortal://)

It gets displayed as normal Text

## Expected behavior
T

[2018-05-08 08:50] zmtzawqlp opened #2070 "Could you please provide new sample for Microsoft.Toolkit.Services?"
As far as we know, Microsoft.Toolkit.Uwp.Services.OneDrive had been Obsoleted , but the sample services sample still use Microsoft.Toolkit.Uwp.Services.
The problem is that i can't use Microsoft.Toolkit.Services directly, Could you please provide new sample for Microsoft.Toolkit.Services?

[2018-05-08 10:37] avknaidu commented on #2069
your schema `CompanyPortal` is not part of supported scheme's of `MarkdownTextBlock` Links. Please see below what are all the supported scheme's

https://github.com/Microsoft/WindowsCommunityToolkit/blob/9766eb794deadb56628c258bd87c32ce8d076cc4/Microsoft.Toolkit.Parsers/Markdown/Inlines/HyperlinkInline.cs#L70-L82

[2018-05-08 19:16] Kath118 opened #2071 "cannot find a resource name/key Appbarbutton Background"
cannot find a resource name/key Appbarbutton Background using ScrollHeader

## I'm submitting a...
Bug report

## Current behavior
With version 2.1.1, I have the following error : cannot find a resource name/key Appbarbutton Background using scroll header inside GridView

## Environment
Nuget Package(s):
  "Coding4Fun.Toolkit.Controls": "2.1.8",
    "MetroLog": "1.0.1",
    "Microsoft.EntityFramew

[2018-05-09 02:15] TedMruczkowski opened #2072 "RangeSelector - MinThumb and MaxThumb are not repositioned when set programmatically or they are bind."
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
RangeSelector - MinThumb and MaxThumb are not repositioned when set programmatically or they are bind.

## Expected behavior
MinThumb and MaxThumb position shall be reflecting programmatically set RangeMin and RangeMax property value.

## Minimal reproduction of the problem with instruction

[2018-05-09 02:40] mrlacey opened #2073 "Improve StringExtensions example in sample app"
## I'm submitting a...

 - Sample app (improvement) request

## Current behavior

Rather than have the sample app show only one of the StringExtension options at a time and only show the result when the button is pressed...

![current](https://user-images.githubusercontent.com/189547/39792432-6de33a24-52f5-11e8-9e65-af73afecbefa.png)

## Expected behavior

... if the app automatically showed the r

[2018-05-09 05:59] Vijay-Nirmal commented on #2072
It seems you have fixed this bug. Feel free to open a PR to fix this issue.

Closing this issue as it is duplicate of #1932. We can have further conversation in #1932.

[2018-05-09 05:59] #2072 closed

[2018-05-09 14:11] stevedeclerck commented on #1903
Hello,

Sorry to ask, I don't want to be annoying or nag, but no news yet on this one? I know everybody is busy and for sure has jobs to do, so I'm just asking. I apologize if it's irritating...

Thanks and best regards...

________________________________
Van: Shawn Kendrot <notifications@github.com>
Verzonden: donderdag 19 april 2018 00:07
Aan: Microsoft/UWPCommunityToolkit
CC: stevedeclerck; Au

[2018-05-09 14:14] WilliamABradley commented on #1903
@stevedeclerck most people in this toolkit have been unavailable due to the BUILD Conference. I personally have been bogged down with Work and Uni, so I haven't had any time to look into it.

[2018-05-09 14:16] stevedeclerck commented on #1903
Hi William,

Thanks for the feedback, sure I understand, I wish I could help...

Thanks !

________________________________
Van: William Bradley <notifications@github.com>
Verzonden: woensdag 9 mei 2018 16:14
Aan: Microsoft/WindowsCommunityToolkit
CC: stevedeclerck; Mention
Onderwerp: Re: [Microsoft/WindowsCommunityToolkit] Add Font name/size/color to TextToolbar (#1903)

@stevedeclerck<https://gi

[2018-05-09 16:14] skendrot commented on #1903
@stevedeclerck You are free to submit a PR for this issue :)

[2018-05-09 17:56] rjmurillo opened #2075 "[WinForms] [WebView] Sample app introduces space on maximize / resize"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

When using the WinForms sample application for WebView, after maximizing or resizing the window a significant gap is present in the top of the window between the control and the window title.

## Expected behavior

Resizing the window has no negative effect on the position of the WinForm

[2018-05-09 18:23] rjmurillo opened #2076 "[WPF] [WebView] [HighDPI] WebView is not properly sized after init, must resize window or invalidate measure"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

In the WPF sample, the WebView is filling the Grid and is initialized in 250x250 instead of filling the area.

## Expected behavior

The WebView would correctly fill the entire area as any other control.

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-05-09 18:29] rjmurillo opened #2077 "[WPF] [WebView] Control disappears when SxS in Grid with another control"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

When placing the WebView control in a grid having two columns in column 1, the WebView "disappears" after window resize and movement.

## Expected behavior

The WebView stays at the indicated and calculated position in the Grid

## Minimal reproduction of the problem with instructions

`

[2018-05-10 15:26] skendrot commented on #2071
Do you have a sample repo you could share?

[2018-05-10 16:17] nmetulev commented on #2070
This has been resolved in #1959 , and should be available in the preview packages on Nuget

[2018-05-10 16:17] #2070 closed

[2018-05-10 16:18] nmetulev commented on #2069
Should we have a way for developers to inject their custom schema? Thoughts on this?

[2018-05-10 16:26] skendrot commented on #2033
Downloaded the sample, added the missing nuget reference and command bars appeared just fine.

[2018-05-10 16:26] #2033 closed

[2018-05-10 18:43] avknaidu commented on #2069
Yes. We can add a dp which will apppend the list of custom scheme's. I can take it if you think that is a good sol'n.

[2018-05-10 19:55] vhanla opened #2078 "System.AccessViolationException on navigation to media pages"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

Execute either WPF or WinForms sample and navigate to https://open.spotify.com/browse the page will load blank or all black. Then after resizing the window, it crashes and shows the following error:

Exception Unhandled
System.AccessViolationException: Attempted to read or write protected

[2018-05-10 20:29] vhanla opened #2079 "[WebView] Win32WebViewHost replaces application's Audio Session ownership"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

System sound mixer shows Win32WebViewHost process as the owner instead of the application containing the WebView control. IAudioSessionEnumerator.
![win32webviewhost](https://user-images.githubusercontent.com/1015823/39891739-012e51aa-5464-11e8-95c9-39b0daa7dab5.png)

It also affects Web

[2018-05-10 21:54] rjmurillo commented on #2079
Reported to Edge team. [#17469179](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/17469179/)

[2018-05-10 23:04] rjmurillo commented on #2078
I am able to get this to repro. After logging in, attempt to play music to create the crash event

[2018-05-10 23:20] nmetulev commented on #2069
That would be great, go for it @avknaidu. The DP should support adding multiple custom schemas

[2018-05-11 10:38] corradocavalli opened #2082 "Login with FacebookService fails."
## I'm submitting a...

Facebook Login fails.

## Current behavior
When LoginAsync is invoked using FabookPermissions.PublicProfile nothing appears, an error message is shown when using default permissiona

## Expected behavior
Be able to login

## Minimal reproduction of the problem with instructions
            FacebookService.Instance.Initialize("[Your id]", FacebookPermissions.PublicProfile);

[2018-05-11 15:34] mscherotter opened #2084 "Microsoft.Toolkit.Services.OneDrive.OneDriveStorageFile.OpenAsync() is missing"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior
Converting an app to use the new Microsoft.Toolkit.Services.OneDrive service, the OneDriveStorageFile class is missing an OpenAsync() method that was in the previous API, therefore making it impossible to download files.

## Expected behavior
OneDriveStorageFile.OpenAsync() is available

[2018-05-11 23:51] rjmurillo opened #2085 "[WebView] When using Web Notifications API, `Win32WebViewHost` shows as source in Windows 10 Action Center"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

When using the Web Notification API, the notification is displayed in the Windows 10 Action Center under `Win32WebViewHost`.

![image](https://user-images.githubusercontent.com/6811113/39951060-3a76dcca-553b-11e8-85be-e150c1506fb9.png)

## Expected behavior

Notification shows up in a wa

[2018-05-11 23:51] rjmurillo commented on #2085
Related to #2079

[2018-05-11 23:54] rjmurillo commented on #2085
Reported to Microsoft Edge team. [#17486663](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/17486663/)

[2018-05-12 01:03] michael-hawker commented on #2069
@WilliamABradley is there a reason we look for known schemes?  Is it to differentiate between an internal vs. external link?

[2018-05-12 01:06] WilliamABradley commented on #2069
@michael-hawker Don't know, wasn't my implementation.

[2018-05-12 01:18] clairernovotny opened #2086 "Fix copyright in the NuGet packages"
## I'm submitting a...

## Current behavior

The nuget packages say copyright microsoft all rights reserved

## Expected behavior

Nuget packages should match the copyright in the repo license -- to the .NET Foundation.

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-05-12 06:37] positiveperspective opened #2087 "The referenced component could not be found - warnings in Fall Creators Update Min Target"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

I had to change the minimum target version of application to Windows 10 Fall Creators Update as I need to get control over SQL.

After changing the min target version I get multiple Warnings (113):

Warning		The referenced component 'C:\Program Files (x86)\Microsoft SDKs\UWPNuGetPackages\n

[2018-05-12 11:26] pekspro opened #2088 "Source Link support"
Are there any plans to add Source Link support to this project? With this it will be possible to see the source files for this project when it’s installed as a nuget packet – seems to be very useful :-)

https://github.com/dotnet/designs/blob/master/accepted/diagnostics/source-link.md

[2018-05-12 19:44] jgiacomini opened #2089 "Support of Uno platform"
It will be great if the controls developped in the toolkit were compatible to Uno platform.

A quick reminder, Uno is UWP for iOS / Android / And web (web is in alpha mod).
The official link :
http://platform.uno

[2018-05-12 20:05] hermitdave commented on #1497
The Platform specific analyzer and code fixer with support for both nuget and VSIX is now in PR. It supports both C# and Visual Basic.

[2018-05-12 20:11] Vijay-Nirmal commented on #1932
PR #2090

[2018-05-13 10:28] Odonno commented on #1497
@touseefbsb Well, I can assure you this bot is far from being smart compared to what you saw at Build/Google IO. :)

[2018-05-13 10:30] hermitdave commented on #1497
@touseefbsb @Odonno this is more of a script rather then a Bot

[2018-05-13 11:03] touseefbsb commented on #1497
@Odonno  totally agreed, specially when google assistant was calling resturant to book the reservation, that was the most creepy thing I've ever seen in technology, I am also one of "AI will take us over" people :D

[2018-05-13 11:07] hermitdave commented on #1497
Not just you 😂 most of us wear a tin foil hat

[2018-05-13 11:27] touseefbsb commented on #2089
@jgiacomini  while writing cross platform performant apps with good tooling using xaml and c# is my dream, my concern here is that how will these cross platform frameworks like uno keep up with the latest tooling and libraries in all these platforms?
for example uwp has windows community toolkit, windows template studio and soon winui library will be available on nuget, all these helping best prac

[2018-05-14 01:51] nmetulev commented on #2075
PR merged

[2018-05-14 01:51] #2075 closed

[2018-05-14 04:02] nmetulev commented on #2089
Looks like Uno is already working on this - there isn't anything we can do here just yet:

https://twitter.com/UnoPlatform/status/995414218508853249

[2018-05-14 04:02] #2089 closed

[2018-05-14 04:20] #2086 closed, assigned to nobody

[2018-05-14 04:44] nmetulev commented on #2082
ping @cbarkerms

Facebook recently made permission changes and is most likely breaking our service

[2018-05-14 04:48] nmetulev commented on #2084
The method is in the platform specific code in the Microsoft.Toolkit.Uwp.Services project.

We've made that confusing, I know. I'm currently investigating into combining the two to make it easier.

[2018-05-14 04:52] ashiqhassan95 commented on #2087
I have the same issue. If you want to experience the issue, just do the procedure below,
System: Windows 10 April Update
VS: Visual Studio 15.7.1 Community
SDK: Windows 10 April Update SDK [Win10SDK_10.0.17134]
Microsoft.NETCore.UniversalWindowsPlatform 6.1.4 on Nuget

1. Create UWP application Targeting Windows 10, version 1803 and minimum to Fall creator update
2. Now Install Nuget package "Micr

[2018-05-14 07:47] zmtzawqlp commented on #2070
thanks,it's kind of you.

[2018-05-14 08:00] nmetulev commented on #2084
#2092 will unify all services under the same package

[2018-05-14 08:12] Odonno commented on #2087
It seems I can reproduce this bug. And the worst part is that each time you add new NuGet package reference, Visual Studio freeze to death.

I set Minimum & Target version to Fall Creators Update and my machine runs on latest Insiders build.

[2018-05-14 09:44] Odonno commented on #2087
Oh yeah. Good catch. I have also the extra backslash and it explains why it cannot access the dll files.

[2018-05-14 10:29] positiveperspective commented on #2087
Since it is on one reference is it possible it affects all the other ones?
Where exactly needs to be made the fix?

[2018-05-14 10:32] devsko commented on #2087
The backslash is not the reason. I removed them all in NETStandard.Library.targets. This changed the messages but not the warnings.
It seems the problem occurs when referencing a Netstandard library from a UWP app or library. After adding an explicit nuget reference to Netstandard.Library to my UWP library the warnings went away.

[2018-05-14 10:38] ashiqhassan95 commented on #2087
@devsko In my UWP project, I didn't referenced to netstandard library.. So I think that's not the problem here.

[2018-05-14 10:43] positiveperspective commented on #2087
@devsko can you post me the steps to implement your solution to problem?

So far what I did I removed all the broken references from the references folder. At least I can work on the project. However warnings come back when I restart VS.

[2018-05-14 10:53] positiveperspective commented on #2087
@ashiqhassan95 did you manage to get rid of the warnings?

[2018-05-14 10:53] devsko commented on #2087
@positiveperspective I just added Netstandard.Library package with NuGet Package Manager to my UWP library. That solved my problem

[2018-05-14 10:55] ashiqhassan95 commented on #2087
@positiveperspective  not yet.
Let me try with what @devsko said

[2018-05-14 10:55] positiveperspective commented on #2087
I will try that then. I will come back later.

[2018-05-14 11:50] positiveperspective commented on #2087
@devsko @ashiqhassan95 Yes. Installing Netstandard.Library via NuGet seems doing the trick. I must have had closed and restarted Visual Studio so the solution got cleaned of the broken references.
App is not laggy anymore.

Must be a solution then.
Thanks @devsko

[2018-05-14 18:32] Vijay-Nirmal opened #2094 "MarkdownTextBlock - Scroll Bar in ScrollViewer is disappearing after a scroll with the mouse wheel"
## I'm submitting a...

- **Bug report in MarkdownTextBlock**

## Current behavior

Scroll Bar in ScrollViewer is disappearing after a scroll with the mouse wheel

![gif](https://user-images.githubusercontent.com/24755596/40016071-be3dd998-57d2-11e8-9202-a7e18346511e.gif)

## Expected behavior

The scrollbar should be visible

## Minimal reproduction of the problem with instructions

1. Go to Docu

[2018-05-14 20:20] kpreisser opened #2095 "OSVERSIONINFOEX uses incorrect charset with RtlGetVersion()"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

Hi, please see the following code in `OSVersionHelper.cs` (branch `rel/3.0.0-preview`):
https://github.com/Microsoft/WindowsCommunityToolkit/blob/280ae1ed883e1c46bbc491c4545f52808e818fa2/Microsoft.Toolkit.Win32.UI.Controls/Interop/OSVersionHelper.cs#L128-L129

Note that the comment indic

[2018-05-14 21:01] cbarkerms commented on #2082
@corradocavalli i need more details please - I just ran a quick test and this seemed to work for me. are you seeing a login dialog appear? do you approve the permissions in that dialog once you have entered credentials?  Most importantly, are you see await FacebookService.Instance.LoginAsync() return "true"?

[2018-05-15 00:46] WilliamABradley commented on #2094
Bizarre, I haven't touched the Scrollbar implementation. Perhaps this is a Windows bug? ping @nmetulev

[2018-05-15 03:24] #2058 closed, assigned to nobody

[2018-05-15 03:29] nmetulev commented on #2045
Doesn't look like we have a PR for this already. Should we move this to 3.1?

[2018-05-15 03:31] nmetulev commented on #2029
This does not look like it's related to the toolkit. Closing issue

[2018-05-15 03:31] #2029 closed

[2018-05-15 03:34] nmetulev commented on #2004
@rvinothrajendran, code freeze for 3.0 is next week, do you think you can make it before then?

[2018-05-15 03:45] nmetulev commented on #1963
ping @hermitdave

[2018-05-15 03:52] nmetulev commented on #1916
@WilliamABradley, are you able to  update the markdown parser/control namespaces for 3.0? I'll handle the services

[2018-05-15 04:04] ashiqhassan95 commented on #2087
@devsko @positiveperspective @nmetulev  Adding NetStandard.Library hide the warning. But that's not the ultimate solution for that. It is bug in the visual studio.

[2018-05-15 04:31] nmetulev commented on #1095
RefreshContainer is now available in the platform making this request obsolete

[2018-05-15 04:31] #1095 closed

[2018-05-15 04:33] nmetulev commented on #1067
Added with #1964

[2018-05-15 04:33] #1067 closed

[2018-05-15 04:34] nmetulev commented on #1035
This is possible with the new RefreshContainer in the platform

[2018-05-15 04:34] #1035 closed

[2018-05-15 04:53] WilliamABradley commented on #2045
I'll probably work on this tonight, it won't take very long.

Thanks,
William

________________________________
From: Nikola Metulev <notifications@github.com>
Sent: Tuesday, May 15, 2018 3:29:46 PM
To: Microsoft/WindowsCommunityToolkit
Cc: William Bradley; Assign
Subject: Re: [Microsoft/WindowsCommunityToolkit] Cached Docs don't get replaced when a new Release arrives (#2045)

Doesn't look like w

[2018-05-15 05:46] zmtzawqlp commented on #2047
I also meet the same problem, had vs fixed it yet？

[2018-05-15 07:17] corradocavalli commented on #2082
@cbarkerms I see the login quickly appear and disappear, the function returns false.

[2018-05-15 13:56] madenwala commented on #1095
Awesome!

[2018-05-15 15:14] HankiDesign opened #2098 "Readme.md contains broken broken links"
## I'm submitting a...

 - Documentation issue or request

## Current behavior
readme.md file's Features section contains links to uwpcommunitytoolkit.com that lead to a 404 page.

## Expected behavior
All the links in the section should leads to Microsoft Docs (docs.microsoft.com)

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-05-15 18:18] cbarkerms commented on #2082
@corradocavalli are you passing in a valid app id? does the sample app facebook login work ok for you?
are you able to send me a small solution so I can try to reproduce please?

[2018-05-15 20:17] prkhandelwal opened #2102 "Radial Gauge TickPacing="0" crashes XAML."
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

Assigning "0" to TickSpacing in Radial Gauge crashes XAML (both while using it and in community app)

## Expected behavior
Should not crash

## Minimal reproduction of the problem with instructions

1) Use Radial Gause
2) Set TickSpacing="0"

## Environment

[code]

[2018-05-15 21:02] nmetulev commented on #2094
I'm not seeing this - is it only happening on a specific page?

[2018-05-15 21:10] WilliamABradley commented on #2094
I saw it, you have to scroll all the way along, then let the scrollbar disappear into the new hidden state.

Thanks,
William

________________________________
From: Nikola Metulev <notifications@github.com>
Sent: Wednesday, May 16, 2018 9:02:23 AM
To: Microsoft/WindowsCommunityToolkit
Cc: William Bradley; Comment
Subject: Re: [Microsoft/WindowsCommunityToolkit] MarkdownTextBlock - Scroll Bar in Sc

[2018-05-15 21:11] nmetulev commented on #2073
PR merged

[2018-05-15 21:11] #2073 closed

[2018-05-15 22:05] nmetulev commented on #2094
I see, it happens on only few code blocks, not all.

@Vijay-Nirmal, are you able to build a small repro project we can use to narrow down the issue?

[2018-05-15 22:07] WilliamABradley commented on #2094
We could force to be Scroll Bar always visible for the time being.

Thanks,
William

________________________________
From: Nikola Metulev <notifications@github.com>
Sent: Wednesday, May 16, 2018 10:05:55 AM
To: Microsoft/WindowsCommunityToolkit
Cc: William Bradley; Comment
Subject: Re: [Microsoft/WindowsCommunityToolkit] MarkdownTextBlock - Scroll Bar in ScrollViewer is disappearing after a scrol

[2018-05-16 02:18] zmtzawqlp opened #2104 "Suggestion for InAppNotification Control"
I notice InAppNotification control works only in Visual Tree. but some cases we just want use it in code behind. may be it's better to put it in one popup and it can also make sure the content is in top of  Visual Tree. what would you think?

[2018-05-16 04:00] nmetulev commented on #2104
Could be useful. Not sure if this is something many developers would use. @Odonno, what do you think, is it worth adding this functionality?

[2018-05-16 06:30] corradocavalli commented on #2082
I rewrote the login usin webauthenticationbroker and it works,
Sample is just this
private async void OnClick(object sender, RoutedEventArgs e)
        {
            // Initialize service
            FacebookService.Instance.Initialize("[AppId]");

            // Login to Facebook
            if (!await FacebookService.Instance.LoginAsync())
            {
                var x = 0;
            }

[2018-05-16 06:51] XamlBrewer commented on #2102
Can reproduce. Will fix.

[2018-05-16 15:48] Vijay-Nirmal commented on #2104
@Odonno We can make a two param constructor.
[code]

[2018-05-16 16:49] nmetulev commented on #2095
PR merged

[2018-05-16 16:49] #2095 closed

[2018-05-16 17:00] avknaidu commented on #1182
@nmetulev is there still interest in this feature? I can do a PR with the control and we can discuss further there.

[2018-05-16 17:52] Odonno commented on #2104
Why not this?

[code]

[2018-05-16 18:45] Vijay-Nirmal commented on #2104
@Odonno Yeah, It's the same thing but having a param constructor will give this control a look like a class which will we more dev friendly. Also, this is the way android does it.

[2018-05-17 01:17] nmetulev commented on #1963
PR merged

[2018-05-17 01:17] #1963 closed

[2018-05-17 01:29] nmetulev commented on #2104
I agree with @Odonno, it's a pattern that we already use with all other controls that developers already are used to. I'd argue that is more dev friendly on this platform

[2018-05-17 03:24] lindexi opened #2107 "On Windows 10 (1803), all applications lost touch or stylus if a WPF transparent window covers on them"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

All the UWP application can touch when a WPF transparent window covers on them in 10.0.17134.

## Expected behavior

If I create a new WPF application with a simple empty window like the code shown below, I find that all applications which are covered by the WPF app lost touch or stylus re

[2018-05-17 04:47] nmetulev commented on #2107
Hey @lindexi, looks like you have already reported this issue at the appropriate channels. This repo is for reporting issues related to the Windows Community Toolkit and your issue does not seem related to the toolkit.

I'll go ahead and close this issue, but feel free to let me know if I'm mistaken.

[2018-05-17 04:47] #2107 closed

[2018-05-17 05:46] zmtzawqlp commented on #2104
@Odonno
i failed to use it as follow codes:
var notifier = new InAppNotification();
notifier.Show("Some text");

and i still think it's better to use popup as it container. APP notification should be an app level control, it
should not be put it in one page or usercontrol.

[2018-05-17 07:59] lindexi commented on #2107
@nmetulev I dont know where can post.

[2018-05-17 09:09] Odonno commented on #2104
@zmtzawqlp You forgot this line `HostPanel.Children.Add(notification);`.

[2018-05-17 19:37] Code-ScottLe commented on #1182
@avknaidu Yes! Sorry for disappearing off the issue, I was really taken away in the last few months both at work and at being a good human (more responsibilities now, for good reasons (: ), but anyway, send in the PR! Last time I checked your project repo, it was solid.

[2018-05-17 19:47] nmetulev commented on #1182
Agreed, let's get this done :)

[2018-05-17 19:52] harinikmsft opened #2108 "Add AlternatingRowForegroundColor"
_From @mrlacey on April 24, 2018 22:42_

It's possible to set the background color for an alternating row but not the foreground.
The foreground color always comes from the System theme foreground text color.

This means, for example, if I set a light gray alternating row background color, when the app uses the light theme the row is black text on a light background but in the dark theme we get wh

[2018-05-17 19:52] harinikmsft commented on #2108
_From @LanceMcCarthy on April 24, 2018 22:56_

Agreed. Also expose the other properties like `DataGridColumnHeaderForegroundBrush` instead of only using StaticResources.

Alternatively, expose Style properties instead of individual Brush properties.

[2018-05-17 19:54] harinikmsft opened #2109 "IObservableVector<object> collections doesnt trigger rebind"
_From @dotMorten on April 25, 2018 5:44_

When using ICollectionView as the itemssource, the `IObservableVector<object>` interface's events doesn't trigger add/remove/update to rows. It seems only INotifyCollectionChanged events will trigger that.

_Copied from original issue: harinikmsft/datagrid_win10#13_

[2018-05-17 19:54] harinikmsft commented on #2109
_From @dotMorten on April 25, 2018 15:36_

Looking in the decompiler it seems only INotifyCollectionChanged is checked on the itemssource

[2018-05-17 19:55] harinikmsft opened #2110 "Design-time error: Failed to retrive the child at index 0"
_From @dotMorten on April 24, 2018 18:52_

I often see this design-time error come and go when manually adding columns:

![image](https://user-images.githubusercontent.com/1378165/39207837-e57b797a-47b5-11e8-8060-cd4a83b74fea.png)

Things compile and run OK though

_Copied from original issue: harinikmsft/datagrid_win10#1_

[2018-05-17 19:55] harinikmsft commented on #2110
Thanks @dotMorten . We have some known issues with design-time right now. Planned to be fixed before first pre-release.

[2018-05-17 19:55] harinikmsft commented on #2110
_From @LanceMcCarthy on April 25, 2018 0:41_

Just to cross-reference issue threads, #11 may also be designer related.

[2018-05-17 19:56] harinikmsft opened #2111 "Designer doesn't update"
_From @dotMorten on April 24, 2018 19:8_

When manually adding columns, the design time experience isn't reflecting the changes:

![image](https://user-images.githubusercontent.com/1378165/39208335-80422192-47b7-11e8-9adf-5924928545a2.png)

(For the squiggles see #1)

x:Bind doesn't evaluate the type and auto-generate columns:

![image](https://user-images.githubusercontent.com/1378165/39208456-e2

[2018-05-17 19:56] harinikmsft commented on #2111
The first part seems to be a bug (we are still fixing up the designer, so this may be a known issue that gets resolved pretty soon).

The latter part about x:Bind not auto-generating columns in the designer is a feature request I am going to track separately, we may not be able to get that done in V1.

[2018-05-17 19:57] harinikmsft opened #2112 "No way to x:bind columns"
_From @dotMorten on April 24, 2018 19:9_

There doesn't seem to be a way to specify x:DataType anywhere for setting up x-bind on the columns:

[code]

_Copied from original issue: harinikmsft/datagrid_win10#3_

[2018-05-17 19:57] harinikmsft commented on #2112
I should call this out in the basic documentation, but x:Bind on Columns is not supported in V1. We are exploring the right model to surface x:Bind in DataGrid in the framework at this time and once that story is clear, we will be adding that to DataGrid. For V1 - we have made sure that the classic Binding developer experience familiar to Silverlight/WPF developers is supported.

You can use x:Bin

[2018-05-17 19:58] harinikmsft opened #2113 "Inconsistent column header separators"
_From @mrlacey on April 24, 2018 22:52_

![image](https://user-images.githubusercontent.com/189547/39217802-7c1ab112-4819-11e8-862f-cadedb45a8b6.png)

As per the above image, the line separating column headers is is inconsistently displayed.
I can't see a pattern or reason for the current behavior.

_Copied from original issue: harinikmsft/datagrid_win10#5_

[2018-05-17 19:58] harinikmsft commented on #2113
_From @darenm on April 24, 2018 22:56_

On my 4K display, I can see the column separator changing thickness as I drag it left and right so it seems like a rendering(pixel) alignment issue.

From: Matt Lacey <notifications@github.com>
Reply-To: harinikmsft/datagrid_win10 <reply@reply.github.com>
Date: Tuesday, April 24, 2018 at 4:52 PM
To: harinikmsft/datagrid_win10 <datagrid_win10@noreply.github.c

[2018-05-17 19:58] harinikmsft commented on #2113
_From @darenm on April 24, 2018 23:7_

An example of the line size variation:

![image](https://user-images.githubusercontent.com/1674843/39218430-eec3e1d0-47e1-11e8-8c63-bd6322bd0a1b.png)

[2018-05-17 19:59] harinikmsft opened #2114 "Wrong highlight color for column header in dark theme"
_From @mrlacey on April 24, 2018 22:57_

![image](https://user-images.githubusercontent.com/189547/39218075-b008e006-481a-11e8-8b3c-5821e19ec81d.png)

Under the dark theme, the column header background when the cursor is over it makes the text very hard to read.
In contrast, in the light theme, the text is still readable.

![image](https://user-images.githubusercontent.com/189547/39218153-17b1781c

[2018-05-17 20:00] harinikmsft opened #2115 "Header column separator flickers when dragging"
_From @darenm on April 24, 2018 23:4_

Dragging the column separator in the header causes flickering in the header, but not in the content part ofthe grid. Display resolution and scale: 3840x2160 @ 150%

Dragging 1. below causes 1. and 2. to flicker in the header.

![image](https://user-images.githubusercontent.com/1674843/39218358-8789115c-47e1-11e8-9b9a-dde427b9f4d3.png)

_Copied from original i

[2018-05-17 20:00] harinikmsft opened #2116 "CanUserReorderColumns stops working on 3rd change"
_From @darenm on April 24, 2018 23:25_

If I select 'Height' - first click shows sort by ascending, second click sorts descending, subsequent clicks do not change sort order.

_Copied from original issue: harinikmsft/datagrid_win10#8_

[2018-05-17 20:00] harinikmsft commented on #2116
_From @darenm on April 24, 2018 23:31_

Actually, this is a bug in the sample code:

Change:
[code]

to
[code]

[2018-05-17 20:02] harinikmsft opened #2117 "Grouping offsets first column"
_From @LanceMcCarthy on April 24, 2018 23:26_

Is it intentional to align the first column with the group header icon?

![image](https://user-images.githubusercontent.com/3520532/39218312-0ded133c-47f2-11e8-9d37-d8b5d42ac1ab.png)

Or is this only happening on my PC (1920x1080 at 100% scaling)? Here are my specs...

![image](https://user-images.githubusercontent.com/3520532/39218411-98110aa0-47f2-1

[2018-05-17 20:02] harinikmsft commented on #2117
_From @darenm on April 24, 2018 23:37_

I see the same thing on my 4K display @ 150%.

[2018-05-17 20:03] harinikmsft opened #2118 "Frozen Columns - horizontal scrolling causing jitter"
_From @darenm on April 24, 2018 23:41_

If I set two columns to frozen `FrozenColumnCount="2"` then when I scroll the remaining columns horizontally, I see a bunch of jitter (horizontal bouncing) on the frozen columns.

_Copied from original issue: harinikmsft/datagrid_win10#10_

[2018-05-17 20:03] harinikmsft commented on #2118
Can you share a video of the repro, we are not seeing this.

[2018-05-17 20:03] harinikmsft commented on #2118
_From @darenm on April 30, 2018 21:20_

I will try to capture – unfortunately the video frame rate usually misses it…

From: Harini Kannan [mailto:notifications@github.com]
Sent: Monday, April 30, 2018 3:19 PM
To: harinikmsft/datagrid_win10 <datagrid_win10@noreply.github.com>
Cc: Daren May <daren@custommayd.com>; Author <author@noreply.github.com>
Subject: Re: [harinikmsft/datagrid_win10] Frozen C

[2018-05-17 20:03] harinikmsft commented on #2118
_From @LanceMcCarthy on April 30, 2018 21:27_

That's a great idea @jevansaks ! I'm not able to capture some of my problems due to capture frame rate https://github.com/harinikmsft/datagrid_win10/issues/15, I'll try this as well

[2018-05-17 20:03] harinikmsft commented on #2118
_From @darenm on April 30, 2018 22:31_

[Here's video with the jitter](https://1drv.ms/v/s!AkXwMS3UpKGWmYVhUOcM6AB5zumEoA)

[2018-05-17 20:07] harinikmsft opened #2119 "UnauthorizedAccessException - Access to the path 'ColorCode.Core.dll' is denied."
_From @LanceMcCarthy on April 25, 2018 0:22_

This error prevented me from building for about 5 minutes. After I added manually defined columns, the XAML designer was having trouble rendering and I wasn't able to build and got the error you see below.

When the designer finished rendering, I was able to build and deploy.

Severity	Code	Description	Project	File	Line	Suppression State
Error		DEP0500

[2018-05-17 20:08] harinikmsft opened #2120 "ICollectionViewSource.HasMoreItems never called"
_From @dotMorten on April 25, 2018 5:45_

ICollectionViewSource has two methods for incremental loading: `LoadMoreItemsAsync` and `HasMoreItems`, but these are never checked by the datagrid, so it's not possible to create a view that incrementally loads more data as you scroll.

_Copied from original issue: harinikmsft/datagrid_win10#14_

[2018-05-17 20:08] harinikmsft commented on #2120
_From @LanceMcCarthy on April 25, 2018 17:17_

Additionally, it doesn't seem to work with ISupportIncrementalLoading.

You can test using my IncrementalLoadingCollection https://github.com/LanceMcCarthy/UwpProjects/blob/master/UwpHelpers/UwpHelpers.Controls/Common/IncrementalLoadingCollection.cs

[2018-05-17 20:09] harinikmsft opened #2121 "Issues scrolling using Scrollbar"
_From @LanceMcCarthy on April 25, 2018 17:44_

If the first column is in view, and you drag the scrollbar's thumb to the bottom quickly (using the pointer, not the mouse wheel), it will stutter the items that are in the height of the thumb.

However, if you move the first column out of the way, the stutter stops.

I tried recording this, but the framerate of the recording makes it look smooth :/ S

[2018-05-17 20:09] harinikmsft commented on #2121
Can you clarify if you are seeing an actual stutter or what you are observing is just the column auto resizing when the items in them are bigger as you scroll down (the default is auto resize for column)

[2018-05-17 20:09] harinikmsft commented on #2121
_From @LanceMcCarthy on April 30, 2018 22:16_

I was able to record it using Gamebar, you'll see how it jitters and skipss when the scrollbar gets to the last set of items.

Just noticed the recording's frame rate missed the first jitter, but it did get the 2nd one. Watch from 0:03 to 0:05

[Here's a hyperlinked link to the video](https://lancelotsoftware-my.sharepoint.com/:v:/g/personal/lance_dvl

[2018-05-17 20:09] harinikmsft commented on #2121
Indeed it does. Thanks for the video!

[2018-05-17 20:09] harinikmsft opened #2122 "Freeze when scrolling (when many records are loaded in the control)"
_From @gianni-rg on May 2, 2018 17:20_

Using the Sample App (but I also tested in another app I'm developing, with same behavior), by incrementing the sample data up to 1M records, the data is loading fine, but as soon as one tries to jump around the dataset using the scrollbar, the control freezes. Going up and down one record at the time (ie. using keyboard up/down arrows) it works fine. I know

[2018-05-17 20:09] harinikmsft commented on #2122
_From @dotMorten on May 2, 2018 18:16_

I'd like to be able to provide a datasource that tells the datagrid how my rows I got, but I don't need to load any of them. So if I return 1mio rows and the user pulls the scrollbar halfway down, the datagrid will request rows 500000-500020, which I'll then go and fetch asynchronously.
So it's like the incrementally loading interface, but with the ability t

[2018-05-17 20:12] harinikmsft commented on #2108
Fixed. We now have RowForeground and AlternateRowForeground to match Background and AlternateRowBackground.

[2018-05-17 20:12] #2108 closed

[2018-05-17 20:13] harinikmsft commented on #2109
Fixed.

[2018-05-17 20:13] #2109 closed

[2018-05-17 20:17] nmetulev commented on #2107
You can also post on the [feedback hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app)

[2018-05-17 20:19] azchohfi commented on #2041
I've tried it and it worked (it signed in), but I got a message dialog that seemed weird, with only this text:
[code]

At this line:
![image](https://user-images.githubusercontent.com/527713/40201732-c34e66ba-59d4-11e8-88ec-2ac68053f7ef.png)

[2018-05-17 20:40] avknaidu commented on #1182
I am just waiting on one of my PR to be approved. As soon as it is merged, i will push this PR.

[2018-05-17 21:01] harinikmsft commented on #2114
Fixed:

![picture1](https://user-images.githubusercontent.com/18036892/40203597-8e570eca-59da-11e8-8880-8866741dfa3d.png)

[2018-05-17 21:01] #2114 closed

[2018-05-17 21:07] azchohfi commented on #2041
Fixed.

[2018-05-17 21:07] #2041 closed

[2018-05-17 21:11] harinikmsft commented on #2117
It is intentional to have a small indent for items under a group header, however there was a bug that rendered 2 vertical lines to the left that made it look ugly. That has now been fixed. The following picture shows the new UI (which is the design).

![picture2](https://user-images.githubusercontent.com/18036892/40204040-04c4c2ae-59dc-11e8-986f-bdcaf9112202.png)

[2018-05-17 21:11] #2117 closed

[2018-05-17 21:36] harinikmsft commented on #2115
There was a layoutrounding to subpixel issue here. Fixed now.

[2018-05-17 21:36] #2115 closed

[2018-05-17 22:00] azchohfi opened #2123 "Microsoft Graph Picture Cache"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
If you login with a Work Account (which supports the user picture endpoint), logoff and login with an MSA (which does not supports the user picture endpoint), the old Work Account user picture is shown.

## Expected behavior
The sample app should not show another user's picture, if it can'

[2018-05-18 00:58] azchohfi commented on #1932
Fixed by #2090.

[2018-05-18 00:58] #1932 closed

[2018-05-18 01:26] #2045 closed

[2018-05-18 04:59] nmetulev commented on #1968
Quick update on this - the visual studio team is investigating this issue

[2018-05-18 05:55] zmtzawqlp commented on #2104
@Odonno but it will an static source so that i can use it everywhere and maybe it will meet the problem with thread.
so i though this control should be designed as a simple and app level control to be used everywhere in the app.
anyway, all just my little idea, thank you for your contribution to our uwp  developer.

[2018-05-18 09:00] JohnnyWestlake commented on #2122
If it can be implemented the same way ListViewBase expects data virtualization (see Random access data virtualization [here](https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/listview-and-gridview-data-optimization)) that would be most advantageous.

[2018-05-18 09:01] lindexi commented on #2107
@nmetulev  Thx

[2018-05-18 09:41] Odonno commented on #2104
Well, I think I know what you desire but it is not possible because this control was designed to be flexible. I mean, you can use it anywhere in your app (any page) so this control requires an Host element.

So, like I said, you can use a `Shell` page that will be always displayed in your app or you can use toast notification.

[2018-05-18 09:41] #2104 closed

[2018-05-18 12:53] WilliamABradley commented on #2119
ColorCode.UWP is a Port from the original Microsoft CodePlex Library I did for RichTextBlock Syntax Highlighting in the Controls Library and in the Sample App.

When I initially sampled this Datagrid Preview package, I experienced some compilation issues related to conflicts with the Microsoft.Toolkit.Controls library and Microsoft.Toolkit.Controls.DataGrid library.

I didn't experience that exact

[2018-05-18 12:58] WilliamABradley commented on #2112
Perhaps:
[code]

I'm not sure if that is possible without a DataTemplate, but it is the cleanest way as you only have to specify once.

[2018-05-18 17:38] #1916 closed

[2018-05-20 00:08] ClairelyClaire opened #2128 "Services.Twitter - add support for additional members of tweet JSON: quote tweets, expanded t.co URLs, photos, and GIFs"
## I'm submitting a...
 - Feature request:
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/34293844-services-twitter-add-support-for-additional-memb

## Current behavior
Microsoft.Toolkit.Uwp.Services.Twitter.Tweet does not provide all the members of a tweet JSON returned by Twitter's API.

Important missing bits are for URLs and quote tweets (a tweet that quotes a

[2018-05-20 22:48] nmetulev commented on #2128
@ClairelyClaire, this is a great suggestion. Do you fancy submitting a PR to add these properties?

[2018-05-21 00:14] DawgZilla opened #2130 "[WebView] Instantiate the WebView programmatically"
The webview control won´t navigate/run if the control isn´t hosted in a window/container, so there seems to be no way to add this control programmatically.

Will we be able to add the webview programmatically in the future or do I have to add some extra lines of code ?

This is what I´ve tested so far.
` InitializeComponent();
            WebView view = new WebView();
            this.Controls.Add

[2018-05-21 00:52] nmetulev commented on #2130
ping @rjmurillo

[2018-05-21 12:30] cyberh0me commented on #2087
the related GitHub issue [https://github.com/dotnet/standard/issues/708](https://github.com/dotnet/standard/issues/708)

[2018-05-21 17:00] kbrons commented on #1943
I'd like to start working on this, if that's ok.

[2018-05-21 18:34] #1795 closed

[2018-05-21 19:13] #1497 closed

[2018-05-21 21:00] michael-hawker opened #2132 "ImageEx/RoundImageEx should have IsTabStop=False by default in Template"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
If you create an ImageEx/RoundImageEx it will grab keyboard focus when tabbing through controls.

## Expected behavior
Like Image, the tab stop should not be stopped by default.

## Minimal reproduction of the problem with instructions
In Sample App go to MasterDetailView sample and add a

[2018-05-21 21:22] avknaidu opened #2133 "Unit Tests does not run with latest Master"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

None of the Unit Tests Except `UnitTests.Notifications.NetCore` runs with latest master.

## Expected behavior

Unit Tests should run

## Minimal reproduction of the problem with instructions

Pull or clone Latest Master and "Run All" unit Tests from "Test Explorer"

[code]

![image](https

[2018-05-21 21:27] #791 closed

[2018-05-21 21:27] nmetulev commented on #1117
PR merged

[2018-05-21 21:27] #1117 closed

[2018-05-21 22:40] #1857 closed

[2018-05-22 06:57] doghappy opened #2136 "Image control not compatible with svg"
**Image control not compatible with svg**
<br>
There are some svg files whose color styles are inside the `<style>` tag, which causes the Image control to get no color, it always shows black

![image](https://user-images.githubusercontent.com/20038914/40346568-dabc6050-5dcf-11e8-93a0-7dc8d055fb5e.png)

`<Image Source="/Assets/Images/swimlane-dotnet-core.svg"/>
<Image Grid.Column="1" Source="http:/

[2018-05-22 06:58] #2004 closed

[2018-05-22 16:12] kbrons opened #2138 "HamburgerMenu - Sample App crashes when opening and closing menu"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior

When using the HamburgerMenu (with the UseNavigationViewWhenPossible disabled), opening and then closing the menu crashes the app.

![hamburgermenu bug](https://user-images.githubusercontent.com/14252330/40377564-91b6ffee-5dc7-11e8-941b-9b456e7c42ec.PNG)

## Expected behavior

The app s

[2018-05-22 17:55] kbrons commented on #2138
I spent some time looking into it and found it also happens when the PropertyChanged handler is called on the ValueHolder class.

![hamburgermenu bug 2](https://user-images.githubusercontent.com/14252330/40380665-20ab5968-5dd0-11e8-9065-5bffad0a65e4.PNG)

[2018-05-22 19:42] nmetulev commented on #2069
PR merged

[2018-05-22 19:42] #2069 closed

[2018-05-22 21:18] #1757 closed

[2018-05-22 22:00] michael-hawker commented on #1399
Hitting 'Enter' in the url textbox of the link add should close and insert the link.

[2018-05-23 00:01] vleonavmsft opened #2142 "InAppNotification control has accessibility issues"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
1. Unless I restyle (provide data template for each notification) InAppNotification text is not a tab stop.   Hence, it is not accessible to blind users.

2. InAppNotification control cannot be used as Narrator live region via AutomationProperties.LiveSetting without restyling and searching

[2018-05-23 00:14] #1572 closed

[2018-05-23 00:41] nmetulev commented on #1943
PR merged

[2018-05-23 00:41] #1943 closed

[2018-05-23 00:42] nmetulev commented on #1836
PR merged

[2018-05-23 00:42] #1836 closed

[2018-05-23 04:46] nmetulev commented on #2142
All great feedback that we need to address. ping @Odonno

[2018-05-23 05:10] rvinothrajendran commented on #2123
@nmetulev Can I work on this

[2018-05-23 06:39] JohnnyWestlake commented on #2142
Enabling tab stop makes it focusable on Xbox however does it not? Which doesn't sound like something that's wanted

[2018-05-23 09:31] JohnnyWestlake opened #2143 "AdvancedCollectionView Item property listeners don't react properly to blanket PropertyChanged notifications"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one) -->

## Current behavior
For filtering or sorting properties AdvancedCollectionView it hooks up propertyChanged notifications to the items - however it only checks for matching property names. If a PropertyChanged notification is fired with empty / null PropertyName it generally means "All" properties, howeve

[2018-05-23 15:35] nmetulev commented on #2143
Thanks for submitting @JohnnyWestlake. Feel free to submit a PR for this one if you have the fix. Otherwise I'll open it up to others.

[2018-05-23 15:37] nmetulev commented on #2123
@rvinothrajendran, it's yours

[2018-05-23 17:00] azchohfi commented on #1862
PR merged

[2018-05-23 17:00] #1862 closed

[2018-05-23 18:21] rjmurillo commented on #2130
This is possible.
[code]

[2018-05-23 18:31] rjmurillo opened #2144 "Unable to use WPF WebView.Process property while control is being initialized"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

When using the `Process` property of `WebView` before the view is completely initialized, an exception is thrown that may leak Win32WebViewHost.exe.

## Expected behavior

When the `Process` property is accessed, it should provide the initialized web view's process. If the process has un

[2018-05-23 18:43] rjmurillo opened #2145 "Subscribing to WebViewControlProcess.ProcessExited event may cause unhandled exception"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

When using the `ProcessExited` event of the `Process` property of `WebView` when the Win32WebViewHost is terminated unexpectedly, an unhandled exception is encountered after the event is raised.

## Expected behavior

The event should be raised without any second-chance exception.

## Mi

[2018-05-23 19:53] rjmurillo opened #2147 "Docs not being generated with InheritDoc"
## I'm submitting a...

- Regression (a behavior that used to work and stopped working in a new release)

## Current behavior

After the initial build process, InheritDoc is executed to handle documentation inheritance (primarily used within the Win32 Controls package). InheritDoc task updated to specify version and drop license (no longer required).

## Expected behavior

Documentation step shoul

[2018-05-23 20:35] #2147 closed

[2018-05-23 21:01] #2145 closed

[2018-05-23 22:51] #2132 closed

[2018-05-23 23:15] #1868 closed

[2018-05-24 01:09] nmetulev commented on #1589
PR merged

[2018-05-24 01:09] #1589 closed

[2018-05-24 01:32] #2006 closed

[2018-05-24 06:49] #2012 closed

[2018-05-24 13:35] Wenish commented on #2069
n1

[2018-05-24 13:59] mvegaca opened #2152 "Connected Animation: Update selected item"
Hi

I'm working on a PoC to add the toolkit connected animation helpers in  Windows Template Studio ImageGallery page template.
The template contains a GridView page with thumbnail images that starts the connected animation with this code.

[code]

The detail page contains a FlipView that shows all the images selecting the clicked item.

[code]

All works as expected with the toolkit helper with o

[2018-05-24 14:38] mvegaca commented on #2152
It would be great!
This is what I did to implement this behavior.
 - Get the selected item from cache
 - Get the GridViewItem from selected item data
 - Scroll to item
 - Start the animation
 - Clear the cache value

See comments in code.

[code]

I hope you can add a way to indicate it from xaml becaouse this helper is a great way to simplify how to use connected animations directly in XAML :)

[2018-05-24 14:38] skendrot commented on #2143
Isn't there a Refresh method on the collection that can be called?

[2018-05-24 15:25] skendrot opened #2153 "RangeSelector tooltip will not show decimal values above 1"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior

Set the StepFrequency to a decimal value
Adjust one of the thumbs.
Notice the tooltip only displays the integer value

## Expected behavior

The tooltip should show the decimal value

## Environment

[code]

[2018-05-24 16:27] nmetulev commented on #2152
Sounds like a good scenario to support. Right now the helper gets the item from the navigation stack but we could add a way to overwrite that value. I'll look into this for 3.1

[2018-05-24 18:14] azchohfi opened #2156 "UniformGrid does not behaves well with dynamic changes"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior
I've copied the sample code inside the docs (https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/controls/uniformgrid) and executed the app. It works as expected, but if I change the values dynamically (the elements Grid.Column and the UniformGrid's Rows properties, for example)

[2018-05-24 18:33] azchohfi opened #2157 "CameraPreview docs sample variables don't match between C# and XAML"
## I'm submitting a...
- Documentation issue or request

## Current behavior
https://github.com/Microsoft/WindowsCommunityToolkit/blob/master/docs/controls/CameraPreview.md
CameraPreviewControl variable does not match the C# sample.

There is also a small typo:
https://github.com/Microsoft/WindowsCommunityToolkit/blob/master/docs/helpers/CameraHelper.md#examples
Double equal signs: "= ="

## Expec

[2018-05-24 19:12] rjmurillo opened #2158 "WebView Samples"
I've posted some samples in a repo at [rjmurillo/webview-samples](https://github.com/rjmurillo/webview-samples) that demonstrate various instantiation scenarios. Right now there are samples for C# (Windows Forms and WPF), and a sample app in CPP

## Environment
Windows 10 Build Number:
- [x] April 2018 Update (17134)

App min and target version:
- [x] April 2018 Update (17134)

[2018-05-24 19:19] michael-hawker commented on #2156
This was out of scope for V1, I call it out in the docs:

[code]

[2018-05-24 20:48] michael-hawker opened #2159 "LayoutTransformControl behaves oddly in UniformGrid"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
If you have a LayoutTransformControl like so:
[code]

You get one result:
![image](https://user-images.githubusercontent.com/24302614/40512611-41a448d0-5f58-11e8-889c-55f2cf68a266.png)

But when `Grid` is a UniformGrid instead, you get a different result:

![image](https://user-images.gith

[2018-05-24 21:10] azchohfi opened #2160 "InfiniteCanvas crashing the designer."
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior

![image](https://user-images.githubusercontent.com/527713/40513668-52edeb5c-5f5b-11e8-900d-dd896db79b40.png)

## Expected behavior
Designer should never crash because of a custom control.

## Minimal reproduction of the problem with instructions
[code]
If you change the Grid.Row to 1, the

[2018-05-24 21:29] #2153 closed

[2018-05-24 22:53] nmetulev commented on #2157
Just updated the docs

[2018-05-24 22:53] #2157 closed

[2018-05-25 00:47] nmetulev opened #2162 "Infinite Canvas is not working on Creators Update"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior

Use the InfiniteCanvas on Creators Update. Should it work?

The issue is the ColorPicker. Does it make sense to have the InfiniteCanvas without the ColorPicker? Can we have a dropdown instead when ColorPicker is not supported?

## Minimal reproduction of the problem with instructions

#

[2018-05-25 07:30] mvegaca commented on #2152
Thank you Nikola, when this change will be implemented we could finish the integration with Windows Template Studio Image Gallery Page.

[2018-05-25 09:10] Vijay-Nirmal opened #2164 "Sample Page for all helpers/tools in Toolkit"
## I'm submitting a...

- Sample app request

## Description

Sample Page for many helpers is not available. We should add sample page for every helper if we can't show the functionality of a helper we should have doc only sample page.

- [ ] AnimationSet
- [ ] CompositionAnimations
- [ ] ImplicitAnimations
- [ ] ArrayExtensions
- [ ] HyperlinkExtensions
- [ ] LogicalTree
- [ ] MatrixExtensions
-

[2018-05-25 09:17] pepi124 opened #2165 "InvokeScriptAsync crash"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
When I have WebView control (i.e. in winforms app) and use NavigateToString to show some HTML string and then use InvokeScriptAsync, app crashes.

## Expected behavior

## Minimal reproduction of the problem with instructions

Run attached sample and click on button.
[FormEdge.zip](https://

[2018-05-25 11:12] hermitdave commented on #2136
This would be a platform bug and should be raised as such. Nothing to do with Windows Toolkit.

[2018-05-25 11:12] #2136 closed

[2018-05-25 18:49] michael-hawker commented on #2164
We have #1750 and #1438 in flight too, plus the folder restructuring #2068.  I believe the branches for the first two are [here](https://github.com/WilliamABradley/WindowsCommunityToolkit/tree/DarkTheme) and [here](https://github.com/michael-hawker/UWPCommunityToolkit/tree/mhawker/multi-sample2).  The multi-sample is built off the dark theme branch anyway.

If you want to start looking at this, it

[2018-05-25 19:38] rjmurillo commented on #2165
There is a failure internal to the core window server that is failing when trying to post a visibility change message (CoreUIComponents.dll ( coreuicomponents!Windows::Phone::UI::Core::NavigationClient::WindowPropertyChanged+15e )). I'll create an issue on the Edge Dev website and link here.

[2018-05-25 21:47] rjmurillo commented on #2165
Here's a reduced repro for those who don't want to open the .zip
[code]

[2018-05-25 22:28] rjmurillo commented on #2165
I've reported the issue on the Edge dev site: [](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/17666057/)

[2018-05-25 22:28] #2165 closed

[2018-05-26 07:19] DawgZilla commented on #2130
That works perfectly. Thank you

[2018-05-26 10:25] Odonno opened #2167 "CameraPreview sample page crashes if device does not have a camera"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

When navigating to CameraPreview sample page, the sample app crashes.

## Expected behavior

No crash.

## Environment

[code]

[2018-05-26 11:36] Odonno commented on #2167
It seems that `ErrorMessage` control does not exist in the XAML tree.

[2018-05-27 04:48] doghappy opened #2168 "MarkdownTextBlock does not support br and table"
`## Dose not support br tag
test start
<br>
test end

## Dose not support table
extension | Content-Type(Mime-Type)
- |
.txt | text/plain`

<br/><br/>
**Markdown editor**

![image](https://user-images.githubusercontent.com/20038914/40582514-90950b14-61ab-11e8-9bc1-34a032be79b4.png)

**Toolkit(MarkdownTextBlock)**

![image](https://user-images.githubusercontent.com/20038914/40582523-b2ff69ec-61ab-1

[2018-05-28 08:10] Vijay-Nirmal opened #2170 "Reordering items in WrapPanel"
## I'm submitting a...

- Improvements

## Current behavior

There is no way to reorder items in `WrapPanel` when it is used as `ItemsPanel` for `GridView`
Drag and Drop doesn't work (re #2259)

## Expected behavior

A property to allow reordering items

[2018-05-28 14:35] skendrot commented on #2170
Do you have an example of a panel that allows this?

[2018-05-28 14:53] Vijay-Nirmal commented on #2170
@skendrot I can understand where you are with it. I completely agree. A `Panel` don't need a reordering capability. But an `ItemsPanel` for `GridView` should support reordering items. As for as I know, most of us use `WrapPanel` as an `ItemsPanel` for `GridView`. Also, @IbraheemOsama said, "it should be easy feature to be added".

[2018-05-28 18:51] nmetulev commented on #2167
Good catch, just pushed a quick fix and I'll resubmit the app to the store: https://github.com/Microsoft/WindowsCommunityToolkit/commit/410b77264ab1b2c233f7b431f2437d596de2f6c6

[2018-05-28 18:51] #2167 closed

[2018-05-28 19:40] nmetulev opened #2171 "Sample app crashes on AadLogin control when using V1 client id"
## I'm submitting a...

 - Sample app request

## Current behavior

Use v1 client id in any of the Graph control sample pages. The app will crash after sign in.

## Expected behavior

Even though V1 endpoints and client ids are not supported, the sample app should not crash.

## Environment

[code]

[2018-05-28 19:40] pekspro commented on #2088
I'm sorry about the delay. I have been crazy busy :-(

I have played around a bit and get stuff to compile but I have no idea if it works or how to test it :-/

I have followed the instructions on this page https://github.com/dotnet/designs/blob/master/accepted/diagnostics/source-link.md and added this in a csproj-file:

  <PropertyGroup Condition="'$(UseSourceLink)' == 'true'">
    <SourceLink>$(

[2018-05-29 05:07] alexchx opened #2173 "Error AADSTS65001 in Microsoft Graph Service (AAD v2)"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
Couldn't sign in for the second time with **Microsoft Graph Service** if the permissions/scopes are changed, see error below.

*AADSTS65001: The user or administrator has not consented to use the application with ID '036118f3-9e5e-44e2-928d-d542a026d3c7' named 'UWPControlTestApp'. Send an in

[2018-05-29 15:37] nmetulev commented on #2173
Agree, this needs to be fixed. @alexchx, fancy submitting a PR to fix this?

[2018-05-29 18:22] rjmurillo opened #2175 "[WebView] [Documentation] WebView does not work in the following cases"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

- Unable to attach Edge DevTools to WebView
- ❔ Unable to use WebVR--app crash
- Unable to play protected media (e.g. Netflix, Spotify)--app crash

## Environment

[code]

[2018-05-29 19:26] michael-hawker commented on #2159
When I have a chance, I'm going to try with my [older UniformGrid branch](https://github.com/michael-hawker/UWPCommunityToolkit/tree/mhawker/uniformgrid) that used the traditional/reference implementation and see how it behaves there.  It might help point to where the issue is.

[2018-05-29 23:30] nmetulev opened #2178 "5.0 Breaking changes"
Issue to keep track of breaking changes planned for the 4.0 release (16299 min version rev)

- [x] Remove obsolete controls (HamburgerMenu, SlidableListItem, etc)
- [x] Move up min and max target
- [x] Merge IWebView2 with IWebView (#2219)
- [x] Remove twitter service obsolete properties (#2266)
- [x] Remove RoundImageEx

[2018-05-29 23:30] nmetulev commented on #1615
Closing issue and moving left over items to #2178

[2018-05-29 23:31] #1615 closed

[2018-05-30 00:29] #2160 closed

[2018-05-30 04:18] rjmurillo opened #2180 "Support WebView 17692"
## I'm submitting a...

- Feature request (UserVoice request: )

## Current behavior

## Expected behavior

Support [SDK 17962](https://blogs.windows.com/buildingapps/2018/06/19/windows-10-sdk-preview-build-17692-available-now/)
[code]

[2018-05-30 05:57] OGcanviz commented on #2173
@nmetulev Done, should we submit this to the master branch?

[2018-05-30 18:27] MichaelHarvey-Acer opened #2182 "Non-ASCII characters in ToastGenericHeroImage path or ToastGenericAppLogo path causes images to not show up in toast"
I'm submitting a...
 - Bug report (I searched for similar issues and did not find one)

Current behavior
If there are non-ASCII characters in the path to the hero image or logo image, the images fail to appear in the toast.

I'm using Microsoft.Toolkit.Uwp.Notifications v2.0.0. I have to use v2.0.0 and not v2.2.0 because v2.2.0 has many many NuGet dependencies that make my project too large.

Ques

[2018-05-30 18:45] nmetulev commented on #2182
ping @anbare

[2018-05-30 22:06] michael-hawker commented on #2178
Should we make a 5.0 one of these as well so we can keep track of things we know now will be useful to update when the min version reaches the current release point?  (i.e. using a virtualize panel for the adaptivegridview behavior?)

[2018-05-30 23:12] anbare commented on #2182
Hey @MichaelHarvey-Acer, I just tried this using the latest `3.0.0` version of the package, and it worked (see images below).

Can you try updating the package? Version `3.0.0` had zero additional dependencies to install when I installed it on a new app that was targeting SDK 17134.

If the image still isn't appearing, make sure you set the image's Build Action to Content. You'll have to share a r

[2018-05-31 01:03] tmyt opened #2183 "Could not erase stroke on InfiniteCanvas with Tail eraser of Surface pen."
## I'm submitting a..
Bug report (I searched for similar issues and did not find one)

## Current behavior
Tail eraser made no results on `InfiniteCanvas`. No stroke drew, No stroke erased.

## Expected behavior
Erase stroke.

## Minimal reproduction of the problem with instructions
1. Create UWP app
2. Put `InfiniteCanvas` on `Page`
3. Launch app and Draw some stroke
4. Stroke with Tail eraser of

[2018-05-31 03:47] tmyt opened #2185 "[InfiniteCanvas] Rendered stroke are blurred"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

In High DPI environment, Rendered stroke are blurred.
Attached image take on 288DPI (300%) display.

![image](https://user-images.githubusercontent.com/347017/40760121-3d497a1c-64d0-11e8-8142-bd2220cc21d3.png)

## Expected behavior

Render stroke without blurred.

## Minimal reproduction o

[2018-05-31 08:41] Vijay-Nirmal commented on #2185
Ping @IbraheemOsama

[2018-05-31 15:36] pengxiaobo123 opened #2186 "Can't be used in WPF"
严重性	代码	说明	项目	文件	行	禁止显示状态
错误		无法安装程序包“Microsoft.Toolkit.Win32.UI.Controls 3.0.0”。你正在尝试将此程序包安装到目标为“.NETFramework,Version=v4.5.2”的项目中，但该程序包不包含任何与该框架兼容的程序集引用或内容文件。有关详细信息，请联系程序包作者。			0

Severity code indicates that item file rows are forbidden to display state.            Error could not install the package "Microsoft.Toolkit.Win32.UI.Controls 3.0.0". You are trying to install this package into a proje

[2018-05-31 16:01] mscherotter opened #2187 "OneDriveService is not working with existing Client ID"
## I'm submitting a...

 Regression (a behavior that used to work and stopped working in a new release)

## Current behavior
Using the previous OneDriveService API, my UWP app works fine and can access the OneDrive folders and files.  With the new OneDriveService API this has stopped working.  I have tried using the Windows community Toolkit Sample app and the same Application ID listed in the "Li

[2018-05-31 16:17] mscherotter commented on #2187
If I create a new "Converged application" in the app dev portal and use the new App Id instead of the Live SDK applications, the error no longer occurs but a new OneDrive App folder is created separate from the one that has been used previously.
Using the old SDK and ID, the app folder is Apps\Journalist
Using the new SDK and ID, the app folder is Apps\Journalist 1
How can I get the new SDK to loo

[2018-05-31 17:02] nmetulev commented on #2186
The *Microsoft.Toolkit.Win32.UI.Controls* package requires minimum .NETFramework 4.6.2 and will not work with 4.5.2

[2018-05-31 17:02] #2186 closed

[2018-05-31 17:04] #2183 closed

[2018-05-31 18:05] nmetulev opened #2188 "Create multiple solutions and restructure folders for easier navigation"
* Group projects in separate folders for Microsoft.Toolkit, Microsoft.Toolkit.Win32, Microsoft.Toolkit.UWP, and Microsoft.Toolkit.UWP.UI
* Create separate solution for each group
* Modify build script

[2018-05-31 20:20] michael-hawker commented on #2185
I'm curious if we save and reload if they'd still be blurred.

[2018-05-31 20:35] michael-hawker opened #2190 "Getting "Invalid File" error trying to load an exported ink json file for InfiniteCanvas example"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
I drew one strokes on the InfiniteCanvas in the sample app, hit Export and Save (with .json ext), cleared the canvas and tried to load the file:

[test.txt](https://github.com/Microsoft/WindowsCommunityToolkit/files/2059964/test.txt)

And I got this:

![image](https://user-images.githubuse

[2018-05-31 23:47] IbraheemOsama commented on #2185
I reckon it's something else, it's related to the quality of the Ink, I remember reading something similar in documentation somewhere.

[2018-06-01 06:25] Tlaster opened #2191 "IncrementalLoadingCollection doesn't work with StaggeredPanel"
## I'm submitting a...

 Bug report (I searched for similar issues and did not find one)

## Current behavior

Set ItemsPanel to StaggeredPanel and binding ItemsSource to a IncrementalLoadingCollection, GridView/ListView can not load the initial data, after calling IncrementalLoadingCollection.RefreshAsync, GridView/ListView can not load more data

## Expected behavior

GridView/ListView can load

[2018-06-01 10:26] JohnnyWestlake opened #2192 "Missing 3.0 release notes"
It's linked too in a few blog posts to check the releases page for full 3.0 release notes, but they're not actually on the releases page:

https://github.com/Microsoft/WindowsCommunityToolkit/releases

[2018-06-01 11:11] avknaidu commented on #2192
Just came here to open a new ticket and saw yours. +1

[2018-06-01 12:15] Vijay-Nirmal commented on #2192
It's in draft. Ping @nmetulev

![chrome_2018-06-01_17-44-35](https://user-images.githubusercontent.com/24755596/40840245-873634b4-65c3-11e8-9681-feded7fcfebc.png)

[2018-06-01 16:24] #2192 closed, assigned to nobody

[2018-06-01 17:10] nmetulev commented on #2191
@kbrons, could you take a look at this?

[2018-06-01 17:17] MichaelHarvey-Acer commented on #2182
Hi @anbare,

It turns out the problem was not related to the notifications package.

I was using:

[code]

A non-ASCII character makes the Uri throw an exception. I changed my code to:

[code]

and everything is working.

Thanks!

[2018-06-01 17:17] #2182 closed

[2018-06-01 17:41] skendrot commented on #2191
This is not a supported use case based on the example repo provided. ISupportIncrementalLoading does not work with a standard ItemsControl. Must be a ListView based control

[2018-06-01 17:49] skendrot commented on #2191
Closing as not supported. Even changing the ItemsPanel of a ListView to a StackPanel does not work with ISupportIncrementalLoading
[code]

[2018-06-01 17:49] #2191 closed

[2018-06-01 18:14] skendrot commented on #2170
Would love to know how to enable this! We would want to do it for all of our panels

[2018-06-01 20:58] rido-min opened #2193 "Crash in WinForms when using Win32 WebView"
I have a WinForms app targeting 4.6.2, after adding the Edge webview the application crash at startup when deployed to a different machine.

Repro can be found in [here](https://ci.appveyor.com/project/ridomin/win32appx/build/1.0.41/artifacts) you will need to trust the certificate before installing.

I copied the bin\Debug folder to another Windows 17134.48 without VS installed. The app crashes a

[2018-06-01 21:38] rjmurillo opened #2194 "WebView: Support NavigateToLocalStreamUri"
## I'm submitting a...

- Feature request (UserVoice request: )

## Current behavior

Currently a method called `NavigateToLocal` exists, but does not provide a means of providing a `IUriToStreamResolver` implementation.

## Expected behavior

Provide `NavigateToLocalStreamUri` or similar

[2018-06-01 21:57] bryaan opened #2196 "Restricted Capabilities Broken"
## I'm submitting a...

Regression (a behavior that used to work and stopped working in a new release)
Bug report (I searched for similar issues and did not find one)

## Current behavior

Try to enable broadFileSystemAccess but Visual Studio doesn't know what it is and it does not work.

https://docs.microsoft.com/en-us/windows/uwp/files/file-access-permissions
At bottom of page:

[code]
This rec

[2018-06-01 22:46] nmetulev commented on #2196
This issue does not look related to the toolkit. Please report this issue to the platform team using the feedback hub: https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app

[2018-06-01 22:46] #2196 closed

[2018-06-02 05:33] bryaan commented on #2196
@nmetulev Dont see how it's a general platform issue.

[2018-06-02 19:51] onovotny opened #2197 "WebView: Gaps from HtmlControl"
When porting RSS Bandit to use the WinForms web view, I noticed the following gaps:

- No ability to control image download
- No ability to prevent video download/playback
- No ability to control background audio
- No ability to get into the DOM. Goal here is to get the equiv of `IHTMLDocument2`/`IHTMLDocument3` to get the body and do things like scroll to it, etc.
- Clear method is missing

[2018-06-02 20:51] onovotny commented on #2197
cc @rjmurillo

[2018-06-04 10:31] hermitdave commented on #2196
Because @bryaan Toolkit is an OSS project that provides helpers and controls to aid Windows Development.

Broad File system access is a platform feature and not something that was done / added by Toolkit.

[2018-06-04 14:17] skendrot commented on #2033
The toolkit controls packages from Nuget

[2018-06-04 14:45] rjmurillo commented on #2197
@onovotny For the item

There are other methods that would request a new tab, such as a target attribute on an `a` element. There is an event for this which would permit the UI for creating a new tab.

[2018-06-04 14:50] onovotny commented on #2197
It's not about a target element -- think of an embedded RSS Reader component like Bandit. I use ctrl+click within the view to open up a new top-level tab within the app. I need to be able to handle that.

[2018-06-04 15:07] rjmurillo commented on #2197
Thanks for the feedback. I'll bring these to the attention of the engineering team

[2018-06-04 15:27] rjmurillo commented on #2197
@onovotny If you were to rewrite RssBandit as a UWP, and use the UWP XAML WebView control, how do you think RSS Bandit would function? There are still some gaps between UWP XAML WebView control and WebBrowser, but fewer than Win32WebView and WebView

[2018-06-04 15:31] onovotny commented on #2197
@rjmurillo not sure what you're suggesting exactly … use a XAML Island in RS5 to wrap the UWP Xaml WebView?

RSS Bandit is a very old program (circa 2002) that has evolved continuously. It's basically never going to be rewritten. I was hoping to update from Trident though and thought it'd be a good testbed for this new WebView wrapper.

[2018-06-04 15:39] rjmurillo commented on #2197
@onovotny I agree that it's a great test bed for how porting over an application is perceived by the community. I was asking about the UWP XAML WebView control because that's fundamentally what we can expose, and that control doesn't expose out `IHtmlDocument2/3` or provide some eventing like the WebBrowser control does.

Fundamentally, I want to know if the web platform team provided a control wi

[2018-06-04 15:41] onovotny commented on #2197
To be honest, I haven't looked close enough at what the UWP XAML WebView provides because I hadn't needed it yet. I can try to skim the API docs to see if it looks like it has what I need. The list above were what I found out, so I'd need to map those to what the UWP version exposes.

[2018-06-04 15:43] rjmurillo commented on #2197
Providing an adapter is something I had been thinking about doing, but I am curious to know what you think it would need to have. If you think UWP XAML WebView control has promise, then maybe we could use RSS Bandit as a test app to iron out how an adapter would work and to drive feature requests into Win32 WebView?

[2018-06-04 15:45] onovotny commented on #2197
I have a few hours on a train this afternoon and will take a closer look. Given that RSS Bandit is OSS and could represent the target demographic for a web browser facelift, I'd love to see it be a test app.

[2018-06-04 18:50] purani opened #2198 "[Blocker] Microsoft.Toolkit.Windows.UI.Controls.dll is not signed"
## Microsoft.Toolkit.Windows.UI.Controls.dll is not signed

Regression: No
Bug report (I searched for similar issues and did not find one)

## The dll has publickey as null and it is not signed. So it is not usable in our projects which use and generate signed assemblies

Runtime error:
Could not load file or assembly 'Microsoft.Toolkit.Win32.UI.Controls, Version=3.1.0.0, Culture=neutral, PublicKe

[2018-06-04 18:54] nmetulev commented on #2198
The latest version the package is 3.0.0 (not 3.1.0) and is already signed: https://www.nuget.org/packages/Microsoft.Toolkit.Win32.UI.Controls. Where are you getting 3.1 from?

[2018-06-04 19:09] rjmurillo commented on #2198
Are the DLLs in the package strong named?

[2018-06-04 20:14] nmetulev commented on #2198
Agh, they are not. The nugets are signed, is there a reason to strong name the DLLs as well? Not sure of the pro vs cons of strong naming.

[2018-06-04 20:38] #2173 closed

[2018-06-04 20:58] onovotny commented on #2198
unfortunately, it's a lost battle. There's no reason other than if someone else needs to be strong named, they break if they reference you.

The recommended solution is to check the snk into the repo and be done with it. That said, it's technically a breaking change since it alters the assembly identity.

[2018-06-04 21:01] rjmurillo commented on #2198
**Pros**
- Allows assemblies to live in GAC. Strong naming guarantees a unique name, guarantees version lineage, etc.
- Unsigned assemblies can be used _exclusively_ by unsigned assemblies, whereas signed assemblies can be used by _both_ signed and unsigned assemblies.
**Cons**
- You can't reference an unsinged assembly from a signed assembly. All assemblies we use, including any third party stuff

[2018-06-04 21:06] rjmurillo commented on #2198
Interesting aside: you can see the conversation for XamlBehaviors here: Microsoft/XamlBehaviors#29

[2018-06-04 21:07] onovotny commented on #2197
@rjmurillo I took a look at the API's in the UWP XAML WebView, and they do appera to have a few more events that are useful (like title changed), command state (can go back, etc), but most of the list above is still missing on the UWP WebView too.

On the idea of settings, I didn't see any way to control images, video, or audio. If someone is on a metered or slow connection, they may wish to turn

[2018-06-04 21:11] rjmurillo commented on #2198
For the most part, I don't think it makes sense for the toolkit to strong name for two reason:
1. Toolkit contains mostly UWP items, which do not have the concept of assembly redirection and no need for strong naming.
2. Only case we would need strong naming is for a classic Winforms/WPF application referencing items in the toolkit that itself is strong-named.

We could do as @onovotny says and ju

[2018-06-04 21:19] rjmurillo commented on #2197
Thanks for looking into this.

We don't have the concept of request or resource interception (yet) in the WinForms/WPF WebView, but the API exists on WebViewControl, so it would be possible to implement something there. I do know that access to the DOM is an issue most people have a problem with (had a hallway conversation this morning about it). The only thing we can offer for now is to inject Ja

[2018-06-04 21:32] onovotny commented on #2198
@rjmurillo there's no need to delay sign if the key is checked in. That's the recommended practice from the .NET team and I'd like to ensure that's the case -- since it enables forks/local builds, etc. Strong naming doesn't provide any security, it's just for identity purposes. We'll still authenticode sign all the binaries and nuget package, and that's how people know they have an official build.

[2018-06-04 22:26] ssostalker opened #2199 "Build error: "Cannot find type Windows.UI.Xaml.Markup.MarkupExtension in module Windows.Foundation.UniversalApiContract.winmd""
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

Attempted a Rebuild on the project and got the error.

1>C:\Program Files (x86)\Windows Kits\10\bin\10.0.15063.0\XamlCompiler\Microsoft.Windows.UI.Xaml.Common.targets(351,5): Xaml Internal Error error WMC9999: Cannot find type Windows.UI.Xaml.Markup.MarkupExtension in module Windows.Foun

[2018-06-05 01:54] OGcanviz opened #2201 "MicrosoftGraphService: IsAuthenticated could be set only after the user logout completely"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
The implementation of this method `MicrosoftGraphService.Logout` might cause exceptions when try to use the graph service in the event `IsAuthenticatedChanged`, as the statement `IsAuthenticated = false;` will raise the event immediately, while the logout behavior hasn't completed yet, it m

[2018-06-05 17:28] rido-min commented on #2193
How can I provide **more info**?

[2018-06-05 20:38] rjmurillo opened #2202 "Build may fail on InheritDoc step if not cleaned"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

When performing an incremental build, the InheritDoc build step fails when it encounters the native Gaze DLLs.

## Expected behavior

InheritDoc skips the native DLLs and processes the remaining .NET documentation files.

## Minimal reproduction of the problem with instructions

Execute

[2018-06-05 20:43] rjmurillo commented on #2193
@rido-min Can you provide a memory dump?

[2018-06-05 21:01] michael-hawker commented on #2198
Does that mean we should do this for 4.0?

[2018-06-05 21:03] rjmurillo commented on #2198
I like the idea of doing in the next major officially, since it is a breaking change, but keeping the key checked in for this person so they can strong sign their own version until then.

[2018-06-05 22:32] fatcatz888 opened #2204 "3.0.0 has broke something in BladeView"
## I'm submitting a...

 Bug report (I searched for similar issues and did not find one)

## Current behavior

BladeView was working fine in v2.2.0. Then when I upgraded to v3.0.0 the right part of the second BladeView overflows off the page so the minimize and close buttons are cut off completely.

![bladeview](https://user-images.githubusercontent.com/18227259/41006246-44560654-6953-11e8-82dd-0d

[2018-06-05 22:53] fatcatz888 commented on #2204
No, if you look at the screenshot I tried to scroll right but even the textblock is cut off! The textblock should wrap the text or show c12345 6789. This was working fine in v2.0.0.

[2018-06-06 12:51] mrlacey opened #2206 "PlatformSpecificAnalyzer doesn't consider MinTargetingVersion"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior

Given an app that uses the NavigationView control and has the Minimum SDK Version set as FallCreators Update, the PSA will indicate that the references to the NavigationView should be guarded. However, the min SDK version means they don't.
The PSA should consider the minimum SDK version

[2018-06-06 12:52] mrlacey opened #2207 "PlatformSpecificAnalyzer doesn't consider scope in suggested fix"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

The code fix provider for the PlatformSpecificAnalyzer does not consider scope when it provides a fix suggestion.
As per the image below, the suggested fix encloses the declaration of the variable `item` (upper highlight) such that the line immediately after the added closing brace (lowe

[2018-06-06 13:28] hermitdave commented on #2206
The original analyser managed to lookup project's Min Target version by means of adding a hidden file generated when the package was being added. I was not comfortable with that solution purely because it was a hack - if that package is updated or if project is retargeted to a different min sdk, there would be no way to detect this.

I asked about this before on DL and was told that this is not po

[2018-06-06 13:34] hermitdave commented on #2207
Determining the scope of a variable is something that could be done very well.
Consider this
[code]

In this instance content and content.ItemSource assignment would need to be included in the guards placed.

I am not sure how easy this is. I will take a look at the Roslyn syntax tree to make it better.

[2018-06-06 14:38] skendrot commented on #2198
Devil's advocate: Why sign them at all? This is an open source project. Users can download the source and sign the assemblies themselves. We don't have plans to install these in the GAC so that isn't a concern.

[2018-06-06 14:47] onovotny commented on #2198
@skendrot

A couple reasons:
1. It makes it harder for our users
2. If there are libraries that build on the toolkit and take the toolkit as a dependency, you'd still run into issues that are painful to workaround.

[2018-06-06 16:45] davrous opened #2208 "Win32 Edge WebView is crashing the app when trying to enter VR with WebVR"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
The **Edge WebView Win32** control **crashes the app** if we try to **enter VR via WebVR**

## Expected behavior
It either shouldn't do anything by not allowing entering VR or just normally enter VR but not crashing.

## Minimal reproduction of the problem with instructions
- Use the Edge

[2018-06-06 19:38] nmetulev commented on #2204
This might be caused by the fluent updates (#2013). @shweaver-MSFT, could you take a look at this?

[2018-06-06 19:42] nmetulev commented on #2201
One solution here would be to execute`IsAuthenticated = false;` after the logout task has completed. Would that fix the issue for you?

[2018-06-06 20:14] nmetulev commented on #2199
Does this happen with other versions of the toolkit?

[2018-06-06 20:34] nmetulev commented on #2187
The OneDrive service now only supports the V2 endpoint through the Converged application portal for new App Ids so this is expected. Are you able to access to old AppFolder through `RootFolderForMeAsync`?

[2018-06-06 20:39] mscherotter commented on #2187
No. Even both apps have the name Journalist in the portal, live sdk points to Journalist and converged points to Journalist 1.

sent from my HoloLens.

________________________________
From: Nikola Metulev <notifications@github.com>
Sent: Wednesday, June 6, 2018 3:35:00 PM
To: Microsoft/WindowsCommunityToolkit
Cc: Michael Scherotter; Author
Subject: Re: [Microsoft/WindowsCommunityToolkit] OneDrive

[2018-06-06 20:39] NaveNO opened #2209 "ToastContent is missing GetXml method"
## I'm submitting a regression (a behavior that used to work and stopped working in a new release)
Using Windows Forms project with TargetPlatformVersion set to 10.0.10240.0

## Current behavior
ToastContent does no longer have GetXml method.
Actual error:
`ToastContent does not contain definition for GetXml and no extension method GetXml accepting the first argument of type ToastContent `

## Exp

[2018-06-06 21:11] nmetulev commented on #2209
GetXml() only works in UWP apps. You can use GetContent() to get the raw xml content as string outside of UWP

/cc @anbare

[2018-06-06 21:29] rjmurillo commented on #2193
Worked with @rido-min to debug the issue--could not reproduce in various environments. We decided to close this issue and revisit if a memory dump could be captured.

[2018-06-06 21:29] #2193 closed

[2018-06-06 22:02] cbarkerms opened #2210 "Scaling issue with WebView control in WPF"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

If your device is running at a scale higher than 100% then the WebView does not render correctly when consumed inside of a WPF app.

## Expected behavior

The WebView should render content to 100% of the available space.

## Minimal reproduction of the problem with instructions

0. Ensure

[2018-06-06 23:26] RickStrahl opened #2211 "WebView doesn't support file:/// Urls in Win32 apps"
##  I'm submitting a...
Bug report/Feature Request

## Current behavior
The WebView control when dropped into a WPF application does not support file:/// Urls. This is problematic as one of the main use cases for a Web control is locally generated content (like a previewer for example).

File Urls generate an invalid URL format failure.

## Expected behavior
file:/// URLs should work when running

[2018-06-07 00:11] RickStrahl commented on #2210
FWIW it appears that it's just the initial render. If you resize the explicitly after the form is loaded it pops into place. Still a bug but maybe the workaround is to delay size the control into place.

[2018-06-07 00:15] cbarkerms commented on #2210
That's what I'm doing right now but it causes a noticeable flicker

[2018-06-07 01:41] alexchx commented on #2201
@nmetulev That would work for our scenario, I can make this change as long as you confirm that wouldn't break other components rely on this service.

[2018-06-07 02:33] unniravindranathan commented on #2211
/cc @rjmurillo

[2018-06-07 08:11] Wenish opened #2212 "ToolTip Border/Background Color Bug"
## I'm submitting a...
Bug report

## Current behavior
If you set a CornerRadius on a ToolTip, after some seconds of hovering the corners get filled with white.

In those pictures im hovering over the house icon.

First one is right after i hovered over the icon.
![tooltip1](https://user-images.githubusercontent.com/18367963/41086310-efe42262-6a39-11e8-8a1d-6b0b05bd0866.png)
Second is after some s

[2018-06-07 12:45] avknaidu commented on #2212
I don't see any Toolkit Related Controls used in the example above. Shouldn't this be opened in feedback hub?

[2018-06-07 14:41] #2212 closed

[2018-06-07 16:04] rjmurillo commented on #2211
@RickStrahl Thanks for the feedback. Support for local files is being added in #2195, which permits you to pass a class that can resolve local resources in the manner you describe.

[2018-06-07 16:09] rjmurillo commented on #2211
For others: you can find information about the known limitations of WebView in our documentation at https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/controls/webview-known-issues#paths-and-strings

[2018-06-07 16:10] rjmurillo commented on #2210
@cbarkerms This is a known issue: https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/controls/webview-known-issues#rendering-and-layout Later builds from the Insider program will fix this prior to the next OS release

[2018-06-07 16:18] rjmurillo commented on #2210
The initial size issue is known: #2076

[2018-06-07 16:21] rjmurillo commented on #2210
@RickStrahl @cbarkerms I've updated the aggregate issue for WebView #2175 with additional information

[2018-06-07 16:32] cbarkerms commented on #2210
@rjmurillo are you saying that the steps in that article should help in the meantime?  the app config/manifest are unclear in the context of the WPF app.

 https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/controls/webview-known-issues#rendering-and-layout

[2018-06-07 16:34] rjmurillo commented on #2210
The manifest is going to help you ensure Windows 10 is providing the best scaling experience for your app. The app.config applies only to WinForms

[2018-06-07 16:37] cbarkerms commented on #2210
https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/controls/webview#high-dpi implies that the app.config should also work for WPF (although I tried to add those elements to my app.config and it does not work).  I also created an app manifest for the other settings, but it didn't help in the case of the WebView rendering issue.

[2018-06-07 16:38] rjmurillo commented on #2210
@cbarkerms Can you post a screen shot of your issue?

[2018-06-07 16:39] cbarkerms commented on #2210
![image](https://user-images.githubusercontent.com/11426757/41113481-9ba4dcf8-6a36-11e8-9b72-e26f1b5ae6d3.png)

[2018-06-07 16:44] rjmurillo commented on #2210
have you tried this on Windows Insider build 17681? Can you share your code so I can debug on some different OS builds?

[2018-06-07 16:46] nmetulev commented on #2201
Please do, this is actually fixing a bug and raising the event as after the task completes,

[2018-06-07 17:06] skendrot commented on #2204
This looks like an issue with using `BladeMode="Fullscreen"` in combination with setting `MaxWidth="320"` of the BladeItem

[2018-06-07 17:17] fatcatz888 commented on #2204
Yes removing MaxWidth works but now the second BladeItem becomes fullscreen too when I just want it to be up to 320 pixels wide only. Was working fine in v2.2.0.0.

[2018-06-07 17:27] nmetulev commented on #2088
#2215 adds this support :)

[2018-06-07 17:27] #2088 closed

[2018-06-07 17:33] rjmurillo commented on #2211
Closing as "By Design"

The WebView differs from WebBrowser in how local assets are loaded, see [WebView.NavigateToLocalStreamUri(Uri, IUriToStreamResolver)](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.webview.navigatetolocalstreamuri).  Support for this is being brought to the toolkit version in #2195

[2018-06-07 17:34] #2211 closed

[2018-06-07 17:35] rjmurillo commented on #2210
Duplicate of #2076

[2018-06-07 17:35] #2210 closed

[2018-06-07 17:55] skendrot commented on #2204
FullScreen sets the width of items to be the width of the container. This is the point of the FullScreen mode. All items should be the entire width

[2018-06-07 18:07] kbrons commented on #2190
I've been trying to reproduce the issue both in master and the v3.0.0 tag with no success. Do you have any more information to help reproduce it?

![infinite canvas issue](https://user-images.githubusercontent.com/14252330/41117795-6c8028d2-6a64-11e8-9c37-922248cbab32.gif)

[2018-06-07 19:15] michael-hawker commented on #2190
@kbrons both @nmetulev and I were both able to repro.  But we were using the shipped store app.  If it works fine from VS that may be why we didn't see it before.  Maybe it's just an issue with our store package for some bizarre reason?

[2018-06-07 19:27] kbrons commented on #2190
It might be just that... I just downloaded the app from the store and ran into the issue.

[2018-06-07 19:29] RickStrahl commented on #2211
I respect that decision but I will say that I think it's a bad call.

Honestly using `file:///` urls is such a common scenario with the Web Browser control making people jump through hoops to make this work seems really counter-productive. I get the security aspect for UWP apps, but for WPF/WebForms those security aspects don't apply (and don't fit because of the lack of a 'known' local storage ap

[2018-06-07 19:38] rjmurillo commented on #2211
We do have a version of a UriToStreamResolver available in #2195 for reference: https://github.com/Microsoft/WindowsCommunityToolkit/pull/2195/files#diff-a29ddbf92adef37590f00f0d07f08fe4 Anything we could do would be "helper" functionality to translate the file protocol to a file stream.

[2018-06-07 20:19] #2202 closed

[2018-06-07 21:07] Alvaromah opened #2218 "Missing DataGridComboBoxColumn in DataGrid"
## I'm submitting a Feature request for DataGrid control

## Current behavior
Currently, only DataGridTextColumn and DataGridCheckBoxColumn are supported.

## Expected behavior
Missing DataGridComboBoxColumn to display lookup values, i.e: CountryCode/CountryName.

[2018-06-07 22:06] rjmurillo commented on #2180
@purani FYI

[2018-06-08 01:48] rjmurillo commented on #2076
This should be fixed with Windows Insider build 17681

[2018-06-08 02:59] IbraheemOsama commented on #2190
I will give it a try in release mode, maybe working will with debug mode but not with release.

[2018-06-08 06:49] lostmsu commented on #2076
@rjmurillo hm, does that mean, that it will never work in Spring Creators and any version before? Or are there plans to fix for current versions?

[2018-06-08 08:58] fatcatz888 opened #2221 "Entering certain combinations of characters will crash TextBoxRegex"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

Entering certain combinations of characters will crash TextBoxRegex.

## Expected behavior

Should not crash.

## Minimal reproduction of the problem with instructions

Using the Windows Community Toolkit Sample App. Select Extensions tab, TextBoxRegex. In XAML go to line 94 and replace ex

[2018-06-08 14:01] TonyZZX opened #2222 "Connected Animation is broken when the image source is a local path"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

Connected Animation is broken when the connected item is an image and it uses a path in the local folder as source.

## Expected behavior

The animation should be smooth when navigating to another page.

## Minimal reproduction of the problem with instructions

I build a project just like

[2018-06-08 14:05] TonyZZX commented on #2222
You may refer to the following gif.
![ezgif-4-7cf82d77da](https://user-images.githubusercontent.com/1708086/41162270-ee910338-6b67-11e8-90b4-8816bead9eba.gif)

[2018-06-08 15:34] LucaLindholm opened #2224 "TileControl causes UWP apps to crash"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior

When I include the TileControl somewhere, the app immediately crashes when starting, throwing an Unhandled exception.
This happen both on my PC and on my Surface Pro 4; I even reinstalled the entire OS along with VS2017... and nothing changed.

## Expected behavior

A working TileContro

[2018-06-08 16:12] Vijay-Nirmal commented on #2224
Can you add the code to reproduce this issue?

[2018-06-08 16:23] LucaLindholm commented on #2224
Well, as I said above, all you need to do is just inserting the TileControl in any page.
However, here is the code, from the MainPage of my Test app for APU features:

`<Page
    x:Class="TestAPU.MainPage"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
    xmlns:local="using:TestAPU"
    xmlns:d="http://schemas.micro

[2018-06-08 16:29] LucaLindholm commented on #2224
I've updated my previous comment with the correct piece of code.

I'm sorry, but I detected today two distinct bugs and I posted the code for the wrong one.

So… the TileControl renders fine in the VS preview, but when I launch the app, it immediately crashes with the following error: NotImplementedException.
Maybe the TileControl inner code has been damaged by new releases?

[2018-06-08 16:33] Vijay-Nirmal commented on #2224
You should use `ms-appx:///` will referencing your apps folder.

[code]

[2018-06-08 16:39] LucaLindholm commented on #2224
You're right!
Now it works, Thanks so much.   ;)

The fact is that I selected the Image directly from the combobox on the right, in the Property panel… and it added only a part of the URI.

It would be great if it could do it automatically.

;)

[2018-06-08 16:41] #2224 closed

[2018-06-08 16:44] Vijay-Nirmal commented on #2222
ping @nmetulev

[2018-06-08 17:17] rjmurillo commented on #2076
@lostmsu We are investigating the potential to service in-market OS for issues like this, but no promises on if that will happen

[2018-06-08 22:04] dckorben opened #2226 "WebView Cannot Navigate to Localhost/Intranet Locations"
I'm submitting a...Bug report (I searched for similar issues and did not find one)

## Current behavior
Navigating to a localhost or intranet webserver location with or without a port does not work. No errors. Blank rendering. Same location works in Edge directly.

## Expected behavior
The hosted browser control should to be able to open & render intranet or localhost sites just like it is able to

[2018-06-08 23:07] rjmurillo commented on #2226
@dckorben Did you set the `IsPrivateNetworkClientServerCapabilityEnabled` property to `true`?

[2018-06-09 01:37] IbraheemOsama commented on #2190
The issue is in release mode. I currently investigating the issue.

[2018-06-09 18:49] Vijay-Nirmal commented on #353
@michael-hawker Few thoughts about your way of implementing the Tab Control.

1. Restyling a `Pivot` to act like a Tab Control seem weird. This is like restyling a `Pivot` to `NavigationView`. Also, using extension methods to interact with restyled `Pivot` seem weird.
2. If we make Tab Control as a style then we can restyle it. The only way to do it is to manually copy the style and edit it.
3. I

[2018-06-09 20:02] Odonno commented on #353
I am not sure of this feature anymore because of

1. The UI controls library announced at Build will soon (I think) be available which will bring new `Pivot` style (the Office style and the iOS-like style)
2. The `NavigationView` will have a Top-view design in RS5 (like a Pivot but including back button, settings and second bar). It's a `NavigationView` like the one you can see in the Microsoft St

[2018-06-09 20:13] Vijay-Nirmal commented on #353
@Odonno But it is in the investigation stage.

![chrome_2018-05-10_16-08-14](https://user-images.githubusercontent.com/24755596/41195660-92ac575a-6c4f-11e8-8e36-2a78caf53155.png)

[2018-06-10 10:45] Chapre commented on #2165
Hi;

Any update here I'm experiencing the same issue

[2018-06-10 15:28] cincuranet opened #2229 "WinForms application crashing when using WebView"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
WinForms 4.7.1 application using _WebView_ crashes unexpectedly through _Win32WebViewHost_.

## Expected behavior
No crash.

## Minimal reproduction of the problem with instructions
I have a dump on crash from _Win32WebViewHost_. I can send it to somebody (I would rather not share it publicl

[2018-06-10 23:12] hutterm opened #2230 "Flickering/Unstable/Wobbling of StickyHeader"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

The `ScrollHeader` in sticky mode seems to be affected by layout rounding while scrolling. It will slightly wobble and flicker.

## Expected behavior

No wobble, no flickering.

## Minimal reproduction of the problem with instructions

It is quite visible in the Sample app: in the Scroll

[2018-06-11 11:19] Vijay-Nirmal commented on #2229
Ping @rjmurillo

[2018-06-11 13:07] harvinders opened #2232 "Make TextBoxMask.Mask (and other relevant extensions) XAML designer friendly"
## I'm submitting a bug report

## Current behavior
Using extensions like TextBoxMask.Mask="9a9a-a9a*" show its effect only at runtime and not during designing in XAML designer.

## Expected behavior
It should be possible to see the impact during the design phase too in the XAML designer of visual studio

## Minimal reproduction of the problem with instructions
The following code inserted in the `

[2018-06-11 14:00] harvinders commented on #2232
Closing this issue, as I found it is not an issue and it is working as expected.

[2018-06-11 14:00] #2232 closed

[2018-06-11 14:53] dckorben commented on #2226
To follow up, this definitely solves the intranet sites issue. However, it does not appear to solve a localhost target.

[2018-06-11 17:40] rjmurillo commented on #2229
@cincuranet Please provide a call stack and/or a memory dump for analysis

[2018-06-11 18:04] cincuranet commented on #2229
@rjmurillo Sent to your Gmail email.

[2018-06-11 18:40] rjmurillo commented on #2229
I've analyzed the dump. The issue is known to the engineering team and they are preparing a fix for a future Windows Insider build.

[2018-06-11 18:53] michael-hawker commented on #2221
Here's the stack trace:

[code]

The case on [line 106 of TextBoxRegex](https://github.com/Microsoft/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI/Extensions/TextBoxRegEx/TextBoxRegex.cs#L106) needs to account for being at the start of the textbox already.

It's really about the case where editing/removing a character is making the expression invalid (here we allow for trailing sign

[2018-06-11 19:07] harinikmsft commented on #2218
Sounds like a fine addition (from WPF), this was not available in the Silverlight DataGrid (which is where this current control was ported from). Marking as a feature request we can consider for V2 perhaps.

[2018-06-11 19:34] rjmurillo commented on #2226
You can try adding a loopback exemption with `checknetisolation LoopbackExempt -a -n=Microsoft.Win32WebViewHost_cw5n1h2txyewy`. See https://msdn.microsoft.com/en-us/library/windows/apps/hh780593.aspx for more info

[2018-06-11 22:11] harinikmsft opened #2233 "Accessibility: Narrator improvements for DataGrid"
* Narrator is reading out the object type of a DataGridRow when the row is focused. Set AutomationProperties.Name property to default to null on DataGrid.Row. Developers can override this with a more descriptive call out if desired by setting the property to a custom value.

* Narrator is reading every cell type as "Custom" since DataGridCell's AutomationProperties.ControlType is set of Custom. Th

[2018-06-11 22:18] harinikmsft opened #2234 "Few bugs on DataGrid cell focus"
* First tab into DataGrid should set focus on first column header

* Tab from column header should put focus on the first cell of the first row. Shift+Tab from first cell of the first row should move focus to first column header
* UseSystemFocusVisuals property should apply to the focus visual drawn around each cell
* Focus events should be fired as expected when keyboard focus moves between cells

[2018-06-11 22:32] #2113 closed

[2018-06-11 22:32] MSRegisB commented on #2113
This was fixed. Thanks for the report.

[2018-06-11 22:34] MSRegisB commented on #2118
This was fixed. Thanks for the report.

[2018-06-11 22:34] #2118 closed

[2018-06-11 22:35] MSRegisB commented on #2121
Could not repro this issue.

[2018-06-11 22:35] #2121 closed

[2018-06-12 00:10] rjmurillo commented on #2208
I was able to reproduce this issue. Opened a bug for the Edge engineering team: [17856221](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/17856221/)

[2018-06-12 05:35] khoshroomahdi opened #2235 "PowerPoint Navigation Frame/Overview"
## I'm submitting a...

- Feature request (UserVoice request: )

## Desired behavior
Navigation control for viewing multiple pages, one at a time, like in PowerPoint:

![image](https://user-images.githubusercontent.com/24302614/41444926-f4cb9230-6ffa-11e8-8875-4cd824d276c2.png)

This is a composition of a ListView on the left which shows the available pages, with a Frame on the right displaying th

[2018-06-12 05:36] khoshroomahdi opened #2236 "please add ui like powerpoint presentation 2016"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-06-12 05:37] khoshroomahdi commented on #2236
navigate frame with scroll bar, left and right key up and down key and then by click

[2018-06-12 05:37] khoshroomahdi opened #2237 "add music player control"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-06-12 06:29] Vijay-Nirmal commented on #2235
Can you provide more info like description, sample image?

[2018-06-12 07:59] khoshroomahdi opened #2238 "default size(standard paper ex:A5,A4,A3) for print helper"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-06-12 08:14] khoshroomahdi commented on #2235
I have many page that I want in main page I could control navigation frame to go forward and go back with click, left and right key and by scroll bar

[2018-06-12 08:36] jp-weber commented on #2221
I will look into it.  @michael-hawker "The case on line 106 of TextBoxRegex needs to account for being at the start of the textbox already." But this is not already done? If the input is not empty, the case will be checked.

What I have seen on the quick is that by pressing several keys the condition may be bypassed. Because the logic is not designed to accept multiple inputs simultaneously.

Do w

[2018-06-12 12:25] avknaidu opened #2239 "Improvements to Infinite Canvas"
## I'm submitting a...

Feature request (UserVoice request: )

## Current behavior
The toolbar on left top will use 48 pixels of the canvas making the top portion of the canvas unusable.

## Expected behavior

Toolbar should be on the canvas and floatable so that end user has no restriction on the area where they draw.

## Minimal reproduction of the problem with instructions

## Environment

[cod

[2018-06-12 13:12] Vijay-Nirmal commented on #2236
What is the difference between this and #2235?

[2018-06-12 13:22] Vijay-Nirmal commented on #2235
I think it can be easily achieved with `Frame` by listening to [KeyDown](https://docs.microsoft.com/en-us/uwp/api/windows.ui.core.corewindow.keydown) and [PointerPressed](https://docs.microsoft.com/en-us/uwp/api/windows.ui.core.corewindow.pointerpressed) events.

Create a [UserVoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit) to see

[2018-06-12 13:24] avknaidu commented on #2235
@Vijay-Nirmal do you mean "description"?

[2018-06-12 13:27] Vijay-Nirmal commented on #2235
@avknaidu Explaining the idea of the control (in this case). Sorry, it is a wrong word to use.

[2018-06-12 13:30] avknaidu commented on #2235
@Vijay-Nirmal I was just pointing out the spelling mistake. 😄

[2018-06-12 14:23] dckorben commented on #2226
The loopback exemption fixed the localhost issue and the link referenced is basically the workflow I'm dealing with, dev and webserver on same box. I'm glad to have Edge hostable in such an direct manner. This issue should be closed as all of the concerns have been resolved.

[2018-06-12 14:23] #2226 closed

[2018-06-12 14:30] skendrot commented on #2236
I believe you're looking for the [FlipView](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.FlipView) which has all of those capabilities.

[2018-06-12 14:45] khoshroomahdi commented on #2236
@vijay-nirmal actually nothing.

[2018-06-12 14:49] khoshroomahdi opened #2240 "Reporter engine?"
## I'm submitting a...

Is there any free reporter engine for UWP?

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-06-12 14:49] khoshroomahdi commented on #2240
Do you have any plans for that?

[2018-06-12 15:13] Vijay-Nirmal commented on #2236
Duplicate of #2235

[2018-06-12 15:13] #2236 closed

[2018-06-12 15:16] kbrons commented on #2237
There's a media player control already available for UWP. You can find more information about the control [here](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/media-playback) and a guide to implement it [here](https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/play-audio-and-video-with-mediaplayer).

If you'd like to propose another feature, consider creati

[2018-06-12 15:28] kbrons commented on #2238
You can set a default paper size on the PrintHelper using the MediaSize property of the PrintHelperOptions class. This is a small sample of the feature.

![image](https://user-images.githubusercontent.com/14252330/41300173-79895186-6e3b-11e8-9385-8421789fe572.png)

You can find all the sizes you can set on the [PrintMediaSize](https://docs.microsoft.com/en-us/uwp/api/windows.graphics.printing.prin

[2018-06-12 15:37] khoshroomahdi commented on #2236
@skendrot thanks. that's it. how can I add click and right click in FlipViwe for navigation. I try to add these but when after pressing button they won't work.

[2018-06-12 15:38] khoshroomahdi opened #2241 "Add FlipViwe control"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-06-12 15:56] nmetulev commented on #2241
This is already available in the platform: https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/flipview

[2018-06-12 15:56] #2241 closed

[2018-06-12 16:00] #2240 closed

[2018-06-12 16:02] nmetulev commented on #2239
There was a discussion early on to separate the toolbar from the control in future versions. We had to drop that feature from this release to get the control in 3.0. It's something we should consider for future releases

[2018-06-12 16:03] #2238 closed

[2018-06-12 16:03] #2237 closed

[2018-06-12 16:09] nmetulev commented on #2235
This sounds a lot like a [Carousel control](https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/controls/carousel), but I'm not sure as you have not provided a lot of info. I think we need more information about what you are looking for, specificaly how this is different from a [Frame](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.frame) or the Carousel control

[2018-06-12 16:14] khoshroomahdi commented on #2240
some thing like stimulsoft.

On Tue, Jun 12, 2018 at 8:30 PM, Nikola Metulev <notifications@github.com>
wrote:

[2018-06-12 16:16] khoshroomahdi commented on #2241
I mean in windows community toolkit

On Tue, Jun 12, 2018 at 8:26 PM, Nikola Metulev <notifications@github.com>
wrote:

[2018-06-12 16:21] nmetulev commented on #2241
Since the control already exists in the platform, it doesn't make sense to add it to the toolkit - no need to have duplicate controls

[2018-06-12 16:23] nmetulev commented on #2240
Looks like Stimulsoft already supports UWP: https://www.nuget.org/packages/Stimulsoft.Reports.UWP/

[2018-06-12 22:08] michael-hawker commented on #1705
@nmetulev I wonder if we could just make the RotatorTile a FlipView extension+style?

I also stumbled upon this, which could be a good starting point: https://gist.github.com/robmikh/1b9d89de53617feb037e5db6074680ab

[2018-06-12 22:17] michael-hawker commented on #2221
@jp-weber it's not about the input being empty, but rather that the caret is at the start of the textbox (as the user is going back and erasing the first character of input to leave just invalid input), so taking -1 on line 108 gets you a negative index passed to the remove call.

Though in this input scenario, there's nothing to remove anyway as it's being invalidated by removing something, theor

[2018-06-13 10:26] jahr opened #2242 "Extension NavigationViewStyles - the first NavigationViewItem is missing (hidden)"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

When NavigationViewExtensions.SelectedIndex is set to 0 (e.g. when application starts), the content is displayed, but the icon is not visible and it is not possible to navigate back, when it is left.

## Expected behavior

## Minimal reproduction of the problem with instructions

See app

[2018-06-13 15:57] Vijay-Nirmal commented on #2242
Ping @michael-hawker

[2018-06-13 17:01] michael-hawker commented on #2242
Yeah, I noticed something fishy with this again too.  It was working, but I'm wondering if something in the OS changed again.  I'll have to dig in and take a look.

[2018-06-13 18:07] redoced commented on #2230
I guess what's happening is that by scrolling the `ScrollViewer.VerticalOffset` goes to some 'unround' _double_ value and by counteracting it with the `-scrollPropSet.Translation.Y` ([in here](https://github.com/Microsoft/WindowsCommunityToolkit/blob/d6493c7176a065a405dfce8915a29031f8564619/Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/StickyHeaderBehavior.cs#L187)), which is calculated as a _floa

[2018-06-13 18:41] nmetulev commented on #2230
I remember fixing this a while ago, but can't find the PR for it. @redoced, do you fancy submitting a PR to fix this issue.

[2018-06-13 19:17] redoced commented on #2230
@nmetulev Sorry, I wouldn't know how to fix it. I actually saw this bug happening in my own application unrelated to the `StickyHeader` and wanted to see how you guys do it. Turns out, your code is similar to mine and you do get the same behavior (i.e. wobble bug).

I'm assuming this is an unfortunate coincidence resulting from the choice of `floats` for the composition api and I was hoping to get

[2018-06-13 21:21] mdtauk opened #2243 "Evolved Fluent Design for controls - Autumn 2018 update onwards"
## I'm submitting a...

- Question
Will controls be updated with respect to the new guidance suggested at Build 2018, in the addition and use of shadows and depth, as well as Acrylic materials for light dismiss content?  I am thinking that DropShadowPanel, Menu, and InAppNotification will need updating.
- DropShadowPanel perhaps with a Depth value, so shadows by default can be consistent with the

[2018-06-13 21:59] dckorben commented on #2197
I'm glad to have an Edge control that is easily hostable. I have to echo, not pile on, that improved DOM is important. My experience with InvokeScript so far indicates it can only return the initial state of the source, not the altered DOM arising from changes made by JavaScript on the pages. As result, this workaround leaves many scenarios out unfortunately.

[2018-06-14 04:11] nmetulev commented on #2230
No worries, I'll open it up to the community, it's something that should be fixed

[2018-06-14 04:43] nmetulev opened #2245 "Weibo and WeChat services"
## I'm submitting a...

- Feature request

## Description
Add new APIs to the Microsoft.Toolkit.Services package to support the Weibo and WeChat service. These services should follow the same patterns as the existing service in the toolkit

## Progress
- [x] Weibo (#2515)
- [ ] WeChat

[2018-06-14 07:28] validvoid commented on #2245
Weibo is better to start with first since its API is similar to Twitter's. Meanwhile, WeChat's API is highly optimized for mobile experience( for example you need to scan a QR code to login with your WeChat account). Maybe it's not suitable for now to be provided as a service for the toolkit.

[2018-06-14 13:52] skendrot commented on #2245
User Voice entry?

[2018-06-14 14:49] JustinXinLiu commented on #2245
@validvoid sounds like a plan! But I’d still do WeChat maybe after Weibo. Appreciate the help!

[2018-06-14 15:48] nmetulev commented on #2245
@validvoid sounds good to me, let's start with Weibo. Thanks for your help on this!

@skendrot, I'm ok skipping user voice for these two services. These are going to be the first mostly Chinese services that we will have and we can use them to gauge interest for other Chinese services. Both WeChat and Weibo are some of the most popular services in China with hundreds of millions monthly active use

[2018-06-14 16:03] nmetulev commented on #2243
Great question. I think they should. @JustinXinLiu, thoughts on this?

[2018-06-14 23:32] deakjahn commented on #1210
Yes, there is. The source is available from many places (including here on GitHub) and it can be compiled easily into your program.

[2018-06-14 23:56] bryaan commented on #2196
I see, sorry.

[2018-06-15 00:45] michael-hawker commented on #2235
I think based on the other request and the discussion there, it's basically the PowerPoint navigation scheme.  I think it's an amalgam of a Frame with some other input sugar and an optional overview.

I'm not sure if it'd be a new control or some helpers and a sample.  I'll update the original post with the idea.  @khoshroomahdi if you want to review that, make any updates, and create a UserVoice

[2018-06-15 01:48] Vijay-Nirmal commented on #2235
The automatic scrolling in the ListView when changing the active slide can be done through [SmoothScrollIntoView ListViewBase extension](https://github.com/Microsoft/WindowsCommunityToolkit/issues/1499). In fact, I have already included an example in the doc.

[2018-06-15 06:00] harvinders opened #2246 "Re-template RadialGauge to remove ViewBox (was: Setting RadialGauge Height and Width scales the text (Value and Unit))"
## I'm submitting a bug

## Current behavior
When setting the Height and Width of RadialGauge to say 100,
 - the text is also scaled down.
 - the result diagram looks not so sharp

## Expected behavior
- The `Value` and `Unit` size should not change. Maybe it should also be possible to independently set font size for them if so desired.
- The gauge diagram should look sharp.

## Minimal reproducti

[2018-06-15 09:21] Firefly74940 commented on #2199
I have the same environment as  @ssostalker ( except i also target mobile )

Just added Microsoft.Toolkit.Uwp.UI 3.0  to my project and had the exact same error

Downgrading to 2.2 give the following error :
`Cannot find type Windows.UI.Xaml.Controls.NavigationView in module Windows.Foundation.UniversalApiContract.winmd.
`
Downgrading to 2.1.1 build fine

[2018-06-15 10:44] JohnnyWestlake commented on #2230
Wasn't this fixed at one point by wrapping the header content itself in a scrollviewer? (Which as far as I know if the only known workaround). I can't recall why that got removed but something to do with it causing unexpected layout quirks.

[2018-06-15 19:06] HerrickSpencer opened #2247 "Add feature: Show Gridlines"
## I'm submitting a...
Feature request (UserVoice request: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/34575250-uwp-grid-should-have-showgridlines-property-from-w )

## Current behavior
No gridlines shown

## Expected behavior
Shows the gridlines
Here's the WPF property that's missing in UWP: https://msdn.microsoft.com/en-us/library/system.windows.controls.grid

[2018-06-15 19:47] Bmartin2013 commented on #2246
Given the nature of the control, I don't think it'd be possible to keep the text of the value and unit at the configured text size. Maybe changing the design so that both the value and the unit are outside of the gauge, we could make them respect the text size regardless of the gauge scaling.
<br/><br/>
Does this image reproduce the issue correctly?
<br/><br/>
![image](https://user-images.githubus

[2018-06-15 20:21] gbarcho opened #2248 "[InfiniteCanvas] Selected text is not visible"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
After adding text *Hello* to the canvas and then selecting them its not clear what is the text inside the area. The selection hide the entire content.
![image](https://user-images.githubusercontent.com/39923760/41487512-5c2df6b0-70bf-11e8-9677-bd6c9ca2de3f.png)

## Expected behavior
The sele

[2018-06-15 22:01] JohnnyWestlake commented on #2247
I'm curious as to how necessary this is given the live visual tree helpers built into Visual Studio that show you the layout bounds of every element in the app, not just in a grid

[2018-06-15 22:14] duke7553 opened #2249 "Add Support For DataGrid DoubleTap Events Specific to the DataGridRows"
## I'm submitting a...
<br>

 - Feature request (UserVoice request: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/34576438-datagrid-doubletap-event-specific-to-the-datagridr ) -->

<br>
<br>
## Current behavior
<br>
Currently, to interact with a DataGrid's rows, you must specify a SelectionChanged event. This can become inefficient and somewhat confusing when use

[2018-06-15 23:12] rjmurillo commented on #2208
@davrous The engineering team has confirmed the problem, and are considering a solution for a future version of Win32WebView. Meanwhile, if you need to support WebVR, you can use either one of the UWP WebViews: WinJS/WWA, or WebView (out-of-process only).

[2018-06-15 23:12] #2208 closed

[2018-06-16 11:58] harvinders commented on #2246
Yes, the image is representative. The issue I have using the control as it is, is that 200x200 is too big for us and when I reduce the size to 150x150 the number becomes small, and does not go well with other controls.

Maybe, putting the text in the center and bringing it out of the `ViewBox` could help (up too an extent).

About `Header`, it was typo on my part. I am deriving another control to

[2018-06-16 18:47] DuduSantos commented on #167
Already in the year 2018 and still do not have a DataGrid this really is to make you wonder whether it is worth developing for a platform that does not offer basic features like this ...

[2018-06-16 18:53] RSuter commented on #167
Didnt they announce a DataGrid for UWP at Build?

[2018-06-16 19:12] corykroll commented on #167
Yes, there is a branch developing this right now.  Check out the harinikmsft/datagrid branch for details.

[2018-06-17 20:33] khoshroomahdi opened #2250 "how can i suggest for xaml controler"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-06-17 20:35] khoshroomahdi commented on #2250
I want to suggest XAML controler team for features like Print Document, timer, clock, stopwatch as controler like WPF or WINFORM

[2018-06-17 20:36] khoshroomahdi commented on #2250
Print controler should have multi property like: print previwe, default page, page range, margin.

[2018-06-17 21:33] GiancarloLelli commented on #24
Hi, is this issue still open even after #25 was closed? If it is open, can I help?

[2018-06-18 14:30] Bmartin2013 commented on #2246
After looking into it, I think that changing the text layout could be a breaking change. Instead, we could add a property to the control in order to hide the default text, giving you the freedom to handle the text layout anyway you want. What do you think?

![untitled](https://user-images.githubusercontent.com/3893598/41542248-e4933d12-72ea-11e8-825a-fffb430d5ac8.png)

[2018-06-18 18:14] khoshroomahdi opened #2251 "move UIELementsample"
## I'm submitting a...

## Current behavior

## Expected behavior

for example, I would like to move textblock in a grid when the application is running.

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-06-18 18:15] khoshroomahdi commented on #2251
is it possible or not?

[2018-06-18 18:39] rjmurillo opened #2252 "WebView: Support NavigateWithHttpRequestMessage or similar"
## I'm submitting a...

- Feature request (UserVoice request: )

## Current behavior

Currently no way to add headers, perform a `POST`, or provide content when making an HTTP request with WebViews.

## Expected behavior

Provide `NavigateWithHttpRequestMessage` or similar

[2018-06-18 19:44] kbrons commented on #2250
To suggest a new feature on the toolkit, you should create an issue here in GitHub, in addition to a [Uservoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit), detailing as much as you can the requirement so a member of the community can start working on it.

As for printing, what the toolkit offers right now is a print helper class, th

[2018-06-18 20:11] Bmartin2013 commented on #2251
According to the "Expected behavior",  I understand that this is what are you looking for.

![2251](https://user-images.githubusercontent.com/3893598/41559148-8d571fd0-7319-11e8-9a32-5f2800d4b5dd.gif)

Please let me know if this gif samples the issue correctly.
Regards.

[2018-06-18 21:03] michael-hawker commented on #2247
@JohnnyWestlake the helpers only let you see the adorners for one element at a time, and that won't always be aligned with the actual layout of the grid (i.e. the item being centered in the grid and not filling up the space).

So, if you're trying to debug the grid layout and frame itself, it can be a bit tricky to understand what's happening with just the adorners for an element within the grid.

[2018-06-18 22:04] #2251 closed

[2018-06-18 22:06] nmetulev commented on #2249
ping @harinikmsft

[2018-06-18 22:06] nmetulev commented on #2248
I believe this is a known issue - ping @IbraheemOsama for more details.

[2018-06-18 22:16] nmetulev commented on #2246
This control needs to be rewritten IMO, the entire layout depends on a single ViewBox that is causing these issues and needs to be removed. It's a breaking change, but I think it's for the better. Let's keep this issue open for tracking. Opening up to the community.

(P.S. In the meantime, you could re-template the control in your app directly and remove any properties not needed)

[2018-06-18 22:22] nmetulev commented on #24
Thanks for flagging this one @GiancarloLelli.

@cbarkerms, is this functionality available in the cognitive services sdks? Should we deprecate our Bing service in favour of those sdks?

[2018-06-18 22:55] cbarkerms commented on #24
Yes, this functionality is available here: https://github.com/Azure/azure-sdk-for-net/tree/psSdkJson6/src/SDKs/CognitiveServices/dataPlane/Search

One(!) initial value prop we had was to provide a common service layer across multiple services, but we haven't heard that developers find this all that useful.  The CogSvcs SDKs do tend to require an API key, but I think it makes sense that we drive pe

[2018-06-18 23:05] nmetulev commented on #24
Agree. I will close this issue and create a new issue for deprecating the Bing service

[2018-06-18 23:05] #24 closed

[2018-06-18 23:07] nmetulev opened #2253 "Deprecate Bing service"
[Cognitive services](https://github.com/Azure/azure-sdk-for-net/tree/psSdkJson6/src/SDKs/CognitiveServices/dataPlane/Search) sdks provide the same functionality and more and they should be used over the Bing service in the toolkit

[More details](https://github.com/Microsoft/WindowsCommunityToolkit/issues/24#issuecomment-398220633) in #24

[2018-06-18 23:09] nmetulev commented on #2235
Agree, this can be accomplished with several existing controls and helpers and not sure if there is anything we need to add to the toolkit for this.

[2018-06-18 23:09] #2235 closed

[2018-06-18 23:11] nmetulev commented on #2199
You are correct, this looks like the same issue as #1855, closing issue. (feel free to comment/re-open if that's not the case)

[2018-06-18 23:11] #2199 closed

[2018-06-18 23:12] #2250 closed

[2018-06-18 23:50] IbraheemOsama commented on #2248
The problem is within the SDK textbox highlight brush as it doesn't allow to set the opacity of the brush, the property is there but useless and to work around it we need to create our own custom TextBox from scratsh :)

[2018-06-19 00:39] avknaidu commented on #2246
If this needs to be rewriten, @JerryNixon 's [Speedometer Sample](https://channel9.msdn.com/Shows/demooftheday/speedingxaml) should be a good start

[2018-06-19 03:07] harvinders commented on #2246
@Bmartin2013 @nmetulev @avknaidu

While we are at refactoring/rewriting I think following should be consider .
1. Header for the control (just like common controls such as TextBox and ComboBox).
2. Radial gauge support 180 and ~300 degree view. Current control can be made to look like semi-circle but wastes space below.
3. Change size, without impacting the text size
4. Override text size if requi

[2018-06-19 05:52] mdtauk commented on #2246
Whilst there is a consideration for re-thinking this Radial Gauge control, perhaps there should be some thought to having a default design which fits with the Microsoft Design Language, and Fluent design principles.

![gauge control design](https://user-images.githubusercontent.com/7389110/41579076-4686102e-738d-11e8-8c5d-e55b243967c0.png)

[2018-06-19 11:10] khoshroomahdi opened #2254 "make thumb control sample"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-06-19 11:11] khoshroomahdi opened #2255 "make drag and drop sample"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2018-06-19 11:11] khoshroomahdi commented on #2255
drag controlers in app

[2018-06-19 12:58] Pinox opened #2256 "BladeView Performance"
I am currently using BladeViews for my "admin panel" of my application.  It works great but the performance is terrible because I have too many bladeitems in the bladeview and my data all load at once when the page loads   (OnNavigatedTo event on page).

Is there a way to improve the performance of bladeview items where not all bladeitems are loaded at the startup of the page   ?   (I currently ha

[2018-06-19 14:41] Bmartin2013 commented on #2246
If we are going to redesign this control we should keep in mind high contrast accessibility, as currently, the control has issues with it.

![image](https://user-images.githubusercontent.com/3893598/41603856-37b388b6-73b4-11e8-9d7d-9dc34ebd85c4.png)

[2018-06-19 15:06] skendrot commented on #2256
There is currently no way to accomplish without a lot of work. Because we cannot access the virtualization tech that the ListView uses. If it is ever exposed, all of our ItemsControls will be written to take advantage of it.

[2018-06-19 15:06] #2256 closed

[2018-06-19 15:13] skendrot commented on #2255
There are already examples of drag and drop for UWP

https://docs.microsoft.com/en-us/windows/uwp/design/input/drag-and-drop
http://www.shenchauhan.com/blog/2015/8/23/drag-and-drop-in-uwp
https://blogs.msdn.microsoft.com/cdndevs/2015/08/24/uwp-how-to-implement-drag-and-drop-functionality-2/

[2018-06-19 15:13] #2255 closed

[2018-06-19 15:16] skendrot commented on #2254
Please use the template provided to provide more information. The toolkit does use the Thumb control in the [RangeSelector](https://github.com/Microsoft/WindowsCommunityToolkit/tree/master/Microsoft.Toolkit.Uwp.UI.Controls/RangeSelector). You can take a look at that control for it's use

[2018-06-19 15:16] #2254 closed

[2018-06-19 20:28] XamlBrewer commented on #2246
I'm definitely in favor of a more fluent default look and feel. After all, the current version was specifically designed for Windows 8.

As far as templating concerns: it's easy to pull the text boxes out of the view box and override their font size (just did it: it still looks sharp at a size of 80). We could do this change in the toolkit, and add two more properties to the control: _ValueFontSiz

[2018-06-19 21:10] peteams opened #2257 "Gaze activated navigation should guard against inadvertent secondary activation"
If gaze is used to activate a control that causes navigation, it is possible the space occupied by the first control will become used by a second control. It is then possible that the second control will be inadvertently activated.

For example, it is possible to have a user interface in which a stack of dialogs are opened, each dialog with a close button in the top right corner. Using the close b

[2018-06-19 22:34] javalsu opened #2258 "MarkupTexblock Memory Leak"
## I'm submitting a...

 Bug report (I searched for similar issues and did not find one)

## Current behavior

When a markeuptextblock collection is used for an item source for an object, such as list view the memory is not released when the collection is cleared

## Expected behavior
The memory should be released

## Minimal reproduction of the problem with instructions

Minimal Repro Project:
ht

[2018-06-20 09:47] lick300005 opened #2259 "Windows Community Toolkit - WrapPanel drag drop item will be stuck on screen"
![stuck1](https://user-images.githubusercontent.com/8953902/41695266-ede7ac38-7540-11e8-9c76-03c7051d37f5.png)
![stuck2](https://user-images.githubusercontent.com/8953902/41695267-ee133196-7540-11e8-9153-f7a607b42a04.png)

## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

I use "Windows Community Toolkit Sample App" downloaded from Micros

[2018-06-20 21:12] Trolldemorted commented on #1946
@nmetulev If you use a PullToRefreshListView in an UWP project (min build 15063 (Creators Update), target build 17134 (W10 April Update)), you see warnings because of this deprecation:

Since you refuse to ship any updates beyond 15063 to W10M, UWP developers who don't want to exclude smartphones are stuck with that minimum version. What are we supposed to do with the PullToRefreshListView in the

[2018-06-21 05:31] MatthiasByLin opened #2260 "WebView - No printing function"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior
WebView has no function for printing.
Also this line does not work:
await webView.InvokeScriptAsync("eval", new string[] { "window.print();" });

## Expected behavior
window.print() should open the Edge print dialog

## Minimal reproduction of the problem with instructions
await webView.I

[2018-06-21 08:35] Vijay-Nirmal commented on #2259
Related issue #2170

[2018-06-21 12:56] purani opened #2261 "Need an API to clear WebView cache/stored passwords"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
WebView class does not provide a method to clear cache.

## Expected behavior
Clear method in WebView to clear cache

## Minimal reproduction of the problem with instructions
 Suppose you need to clear cached aspx pages to fetch them from server, there is no exposed method to achieve it.

##

[2018-06-21 13:25] RavinduL opened #2262 "Exception thrown upon hovering / pressing a GridSplitter, when its background isn't a SolidColorBrush"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

When the background of a GridSplitter is assigned to a `Brush` that isn't a `SolidColorBrush`, a `COMException` is thrown upon hovering it:

[code]

This occurs due to the "PointerOver" `VisualState` at: https://github.com/Microsoft/WindowsCommunityToolkit/blob/28577f08fc606a9d02bdc757f0

[2018-06-21 14:52] kbrons commented on #2260
Thanks for reporting the issue, but as noted in [Known Issues for the WebView control](https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/controls/webview-known-issues), programmatically printing information is a known issue of this control.

![image](https://user-images.githubusercontent.com/14252330/41726792-4c0250fe-7549-11e8-816e-16c538b0c215.png)

[2018-06-21 16:22] corykroll opened #2264 "DataGridTemplateColumn.Header Issue"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
I attempted to define a custom template column header, the same that I would within <DataGridTemplateColumn.Header> tags with a WPF app.  However, instead of working, it crashes the app with:
System.NotSupportedException: Content does not support UIElement; use ContentTemplate instead.

##

[2018-06-22 15:21] #2260 closed

[2018-06-22 18:43] kbrons commented on #2261
I've been doing some research, but I haven't found a way to clean the cache on the WebView implementation we are using. @nmetulev do you know someone who might have a better understanding of this control?

[2018-06-22 21:20] Bmartin2013 commented on #2258
I made a memory consumption comparison between the MarkdownTextBlock control and the TextBlock control. Based on the results, I came to the conclusion that it is, in fact, a memory leak issue on the MarkdownTextBlock control. We should review it in order to find out what is causing the memory leak problem

These snapshots were taken after following the "STEPS TO REPRODUCE"  located on the "Minimal

[2018-06-23 02:29] javalsu commented on #2258
Thanks for taking the time to look into this.  I'll keep an eye out for any updates.

[2018-06-24 18:13] JohnnyWestlake commented on #2261
WebView uses the same WinINET cache the UWP HttpClient uses... Which doesn't let you clear it's cache. (Unless you break outside the sandbox). You can optionally create a webview that uses a developer spawned HttpClient that has caching disabled on it.

You can also use a custom HttpFilter with this client to modify caching headers on a call by call basis, if your server properly respects them.

[2018-06-25 07:41] JohnnyWestlake commented on #2258
Part of this appears to be related to the MarkDownTextBlock's internal ThemeListener, which hooks onto global events during construction and never unsubscribes, and the MDTB in return subscribing to that which leads to it never being garbage collected. Ideally It should be hooked up in Loaded / Unloaded (although it would massively help it Loaded/Unloaded reliably fired - they don't)

[2018-06-25 09:05] CorneDeMeyer opened #2265 "Cannot install Microsoft.Toolkit.Uwp.UI.Animations NuGet Package"
## I'm submitting a issue where I cannot install Microsoft.Toolkit.Uwp.UI.Animations NuGat Package

## Current behavior
Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not install package 'Microsoft.Toolkit.Uwp.UI.Animations 3.0.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.7.1', but the package does not contain any asse

[2018-06-25 13:16] lucaasrojas commented on #821
Hey! What's the current status of this issue?

[2018-06-25 13:21] Odonno commented on #821
@lucaasrojas Not enough traction for the moment.

[2018-06-25 14:06] kbrons commented on #2265
The package you're trying to install is for UWP apps, and it seems the app you're trying to install the package into targets .NET framework 4.7.1 and not UWP.

[2018-06-25 15:08] lucaasrojas commented on #1446
I tried to replicate the bug with the latest toolkit version and it's still happening. What's the current status of the issue?

[2018-06-25 15:32] lucaasrojas commented on #1306
Hi! What's the current status of this issue?

[2018-06-25 15:35] lucaasrojas commented on #945
Hey there! What's the current status of this issue?

[2018-06-25 16:08] lucaasrojas commented on #1187
What's the current status of this issue?

[2018-06-25 16:19] lucaasrojas commented on #1383
Hey! What's the current status of this issue?

[2018-06-25 16:42] lucaasrojas commented on #2017
What's the current status of this issue?

[2018-06-25 17:55] lucaasrojas commented on #1334
Hey! What's the status of this issue?

[2018-06-25 18:06] lucaasrojas commented on #1462
The PR #1542 is closed. Can we do the same with this issue?

[2018-06-25 18:41] lucaasrojas commented on #1936
What's the current status of this issue?

[2018-06-25 19:14] skendrot commented on #1462
No. It remains a request

[2018-06-25 19:15] lucaasrojas commented on #1471
Hey guys, what is the current status of this issue?

[2018-06-25 19:38] lucaasrojas commented on #1128
Hey guys, what is the current status of this issue?

[2018-06-25 19:51] harinikmsft commented on #2249
That seems like a valid ask, we might want to take a look at other DataGridRow** events that we may want to add as part of this. Marking this as a feature request for the future.

[2018-06-26 13:46] lucaasrojas commented on #1470
What's the current status of this issue?

[2018-06-26 13:55] lucaasrojas commented on #1517
What is the current status of this issue?

[2018-06-26 15:48] lucaasrojas commented on #2159
I tried to replicate the bug without success, I'm thinking it may have been fixed. Could someone check to confirm?
Grid:
![image](https://user-images.githubusercontent.com/26610409/41923931-2585d3f2-793f-11e8-8365-146beb6cf4fe.png)
UniformGrid:
![image](https://user-images.githubusercontent.com/26610409/41923945-2f17eb62-793f-11e8-8ed8-0142941b6a5d.png)

[2018-06-26 17:30] kbrons commented on #2264
I've been checking out the implementation, and the control seems to be designed to work with a DataTemplate. You can find an example on how to use it on the [MasterDetailsView](https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/controls/masterdetailsview) ItemTemplate [implementation](https://github.com/Microsoft/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.SampleApp/SampleP

[2018-06-26 18:45] kbrons opened #2268 "PeoplePicker not working - Request returns 404"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

The graph service is configured to use the V1 endpoint of the Graph API, but the [People endpoint](https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/api/user_list_people) is only available on the beta.

Error:
![error](https://user-images.githubusercontent.com/14252330/

[2018-06-26 18:50] skendrot commented on #2268
The [Graph Explorer](https://developer.microsoft.com/en-us/graph/graph-explorer) shows it as available and working with the sample data and my account

[2018-06-26 18:51] skendrot commented on #2268
Looks like the [docs](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/user_list_people) also has it in version 1

[2018-06-26 18:59] kbrons commented on #2268
Oh, it's under Social Intelligence instead of Users, that's why I might have missed it. Anyhow, the control it's still failing with a 404 error, so I'll continue investigating. If you prefer we can close this issue and I'll create another one once I find the root cause.

[2018-06-26 20:14] lucaasrojas commented on #1879
Hey! What is the current status of this issue?

[2018-06-26 22:12] joncamp opened #2269 "Add Gaze plus switch activation to Gaze Interaction Library"
- Feature request

## Current behavior
Currently the Gaze Interaction Library only supports dwell based activation.

## Expected behavior
Gaze Interaction should support dwell activation, but also other forms of activation such as switch.

## Minimal reproduction of the problem with instructions
1. Open the sample app.
2. Go to the Gaze Interaction page.
3. Note that you can't click the button usi

[2018-06-26 22:18] vaparth opened #2271 "Camera helper tool features"
Submitting a request for new features, create a UserVoice request here and link below: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit

<p>Feature request (UserVoice request: ) </p>

·        UI Rotation <br>
·        Set system Media Transport Control to false (i.e. MediaPlayer.CommandManager.IsEnabled = false) <br>
·        Insert automa

[2018-06-27 14:45] gbarcho commented on #1767
Can we close it? The PR is merged and the related issue is closed.

[2018-06-27 14:46] gbarcho commented on #1182
What is the current status?

[2018-06-27 14:48] gbarcho commented on #1176
What is the current status?

[2018-06-27 14:49] gbarcho commented on #1159
Whats the current status?

[2018-06-27 14:51] gbarcho commented on #837
Whats the current status?

[2018-06-27 14:53] gbarcho commented on #764
Whats the current status?

[2018-06-27 14:55] gbarcho commented on #186
Whats the current status? Can we close it?

[2018-06-27 15:02] gbarcho commented on #2257
Can we add open-discussion label?

[2018-06-27 15:07] Vijay-Nirmal commented on #1182
@gbarcho It will be released in next update (Most likely). Follow #2126 for updates

[2018-06-27 15:18] gbarcho commented on #2128
Great idea. I been thinking that maybe we can add a new generic method to retrieve Twitter profile or feed to allow the consumer to deserialize as they want. Because we can find in the future that Twitter add more fields that today the toolkit doesn't take care.
I’m open to any suggestion

Thanks

[2018-06-27 15:36] gbarcho commented on #2246
Whats the current status?

[2018-06-27 15:37] gbarcho commented on #2247
Whats the current status?

[2018-06-27 15:39] gbarcho commented on #2248
Whats the current status?

[2018-06-27 15:46] gbarcho commented on #195
Any update @lukasf or @haroldma?

[2018-06-27 17:40] lucaasrojas commented on #818
What's the current status of this issue?

[2018-06-27 18:02] lucaasrojas commented on #1087
Hey! Whats the current status of this issue?

[2018-06-27 18:12] lucaasrojas commented on #1309
Whats the current status of this issue?

[2018-06-27 18:32] kbrons commented on #2268
I've been doing some more digging and could make it work without issues from the Graph Explorer, but when doing a request directly I get the same error as on the app. Closing as it's probably related to my AAD app configuration

[2018-06-27 18:32] #2268 closed

[2018-06-27 18:36] lucaasrojas commented on #1772
@ad1Dima  Do you have a use case in mind?

[2018-06-27 18:53] lucaasrojas commented on #560
Whats the current status of this issue?

[2018-06-27 19:01] lucaasrojas commented on #845
Whats the current status of this issue?

[2018-06-27 19:10] lucaasrojas commented on #1164
Whats the current status of this issue?

[2018-06-27 19:12] lucaasrojas commented on #1163
Whats the current status of this issue?

[2018-06-27 19:14] crutkas commented on #1163
Template Studio (http://aka.ms/wts) was where we decided to land it.  The code just didn't work as something that could live inside the toolkit

[2018-06-27 19:15] lucaasrojas commented on #1179
What's the current status of this issue?

[2018-06-27 19:20] lucaasrojas commented on #1163
Okay, can we close this issue?

[2018-06-27 21:13] haroldma commented on #195
Sorry. I'm no longer in that team and it got dismantle.

On another hand, @deltakosh, what a small world! Didn't realize that you were involve in this project before.

[2018-06-28 03:34] ad1Dima commented on #1772
Any case when you need to deal with links in your ViewModel.
Why HyperlinkButton has a Command?

[2018-06-28 09:17] mzhukovs opened #2273 "FacebookService Can't Log-In"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)
Documentation issue or request

## Current behavior
FacebookService.Instance.LoginAsync() always return false, and the UI just shows a flicker of the pop-up that is meant to ask me user to log-in.

I followed the [instructions in the docs](https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/services/fac

[2018-06-28 12:56] gbarcho commented on #413
Whats the status? No activity in more than a year. Can we close it?

[2018-06-28 13:02] gbarcho commented on #469
Looks like not enough traction. Should we archive?

[2018-06-28 13:05] gbarcho commented on #854
Whats the status? Can we archive/close it?

[2018-06-28 13:07] gbarcho commented on #866
Whats the status? Can we archive/close it?

[2018-06-28 13:08] gbarcho commented on #895
Whats the status? Can we archive/close it?

[2018-06-28 13:11] gbarcho commented on #908
Whats the status? Can we archive/close it?

[2018-06-28 13:12] gbarcho commented on #1190
Whats the status? Can we archive/close it?

[2018-06-28 13:13] gbarcho commented on #1236
Whats the status? Can we archive/close it?

[2018-06-28 13:15] gbarcho commented on #1253
Whats the status? Can we archive/close it?

[2018-06-28 13:15] Odonno commented on #1236
Sorry. Issue closed.

[2018-06-28 13:16] gbarcho commented on #1341
Whats the status? Can we archive/close it?

[2018-06-28 13:18] gbarcho commented on #1350
Whats the status? Can we archive/close it?

[2018-06-28 13:20] gbarcho commented on #1406
Whats the status? Can we archive/close it?

[2018-06-28 13:22] gbarcho commented on #1499
Whats the status? Can we archive/close it?

[2018-06-28 13:25] gbarcho commented on #1638
Whats the status? @deanchalk are you planning to send a PR?

[2018-06-28 13:26] gbarcho commented on #1641
Whats the status?

[2018-06-28 13:27] gbarcho commented on #1653
Whats the status?

[2018-06-28 13:30] gbarcho commented on #1705
Whats the status? Can we archive/close it?

[2018-06-28 13:31] gbarcho commented on #1740
Whats the status?

[2018-06-28 13:34] gbarcho commented on #1772
@ad1Dima its not clear the use case. Do you want to catch the links triggered by the markdown in the code-behind?

[2018-06-28 13:35] Vijay-Nirmal commented on #1740
It will be done after #1755 PR merged

[2018-06-28 13:36] gbarcho commented on #1798
@nmetulev can we close the issue?

[2018-06-28 13:38] gbarcho commented on #1875
Whats the status?

[2018-06-28 13:41] gbarcho commented on #1887
Whats the status?

[2018-06-28 13:42] gbarcho commented on #1903
@stevedeclerck any update?

[2018-06-28 13:44] gbarcho commented on #2060
Whats the status?

[2018-06-28 14:16] avknaidu commented on #1772
@gbarcho i think @ad1Dima has a valid point. If you want to handle links in ViewModel right now there is no option. So `LinkClickedCommand` is good addition to the control.

I think there are 3 more Events on `MarkdownTextBlock`. Question is should we implement Command on just one Event or All.

@WilliamABradley @nmetulev thoughts?

[2018-06-28 14:33] #2201 closed

[2018-06-28 14:56] Wenish commented on #2069
@avknaidu @nmetulev
What about allow every Link?
there are so many and its not really nice when u have to update the uwp app just to add another string.

[2018-06-28 16:37] ad1Dima commented on #1772
For my expectations there should be LinkClickedCommand and ImageClickedCommand. I guess this two commands should be enough

[2018-06-28 17:10] avknaidu commented on #1772
@skendrot might be able to provide some inputs here.

[2018-06-28 17:41] skendrot commented on #1772
You don't need a command to handle links in your view model. You can use x:Bind or you can use the [InvokeCommandAction](https://github.com/Microsoft/XamlBehaviors/blob/master/src/BehaviorsSDKManaged/Microsoft.Xaml.Interactions/Core/InvokeCommandAction.cs) along with the [EventTriggerBehavior](https://github.com/Microsoft/XamlBehaviors/blob/master/src/BehaviorsSDKManaged/Microsoft.Xaml.Interaction

[2018-06-28 18:45] lucaasrojas commented on #469
@deltakosh  please take a look at @avknaidu's [comment](https://github.com/Microsoft/WindowsCommunityToolkit/issues/469#issuecomment-401051257). Does it help you resolve the issue?

[2018-06-28 18:50] lucaasrojas commented on #1056
Whats the current status of this issue?

[2018-06-28 18:54] kbrons commented on #2273
Hey, I just gave it a try and couldn't replicate the issue with the Sample App. Could you give us some more information?

For reference, here is the configuration of the facebook app I used for testing. Note that I added the Windows Store SID generator code to the app and set it up on the facebook app configuration.

![settings windows app](https://user-images.githubusercontent.com/14252330/420545

[2018-06-28 19:52] mdtauk commented on #845
Isn't this coming in RS5 - as an update to the standard ComboBox?

[2018-06-28 20:30] lucaasrojas commented on #1438
Whats the current status?

[2018-06-28 21:40] michael-hawker commented on #1438
@lucaasrojas I'm working on this.  Waiting on the dark theme PR as a dependency, but there's also lots of individual sample updates to complete for the new schemas.

[2018-06-29 00:52] mzhukovs commented on #2273
When did you set up the app with Facebook? Apps that have already been approved for publish_actions can continue using the permission until August 1st, 2018 - new ones (as in my case) can't use it at all.

Here's the signature for the FacebookService initialization method:
`public bool Initialize(string appId, FacebookPermissions requiredPermissions = FacebookPermissions.PublicProfile | FacebookPe

[2018-06-29 10:33] lukasf commented on #195
@haroldma So you cannot provide the source code of that control anymore? That's unfortunate. I really think that this would make a very useful control, for tagging, metadata editing, profile names, stuff like that...

[2018-06-29 13:15] lucaasrojas commented on #1460
Whats the current status?

[2018-06-29 13:29] lucaasrojas commented on #1471
Whats the current status?

[2018-06-29 13:40] lucaasrojas commented on #1502
@michael-hawker  can you check this issue? Because it is not assigned to a milestone on Github.

[2018-06-29 13:51] lucaasrojas commented on #1587
Whats the current status?

[2018-06-29 14:21] lucaasrojas commented on #1596
Whats the current status?

[2018-06-29 14:24] lucaasrojas commented on #1658
Whats the current status?

[2018-06-29 14:33] lucaasrojas commented on #1746
Whats the current status?

[2018-06-29 14:46] lucaasrojas commented on #1840
Whats the current status?

[2018-06-29 14:51] gbarcho commented on #2158
@rjmurillo Thank you for the message. Can you please update ticket description to follow the standard format. That will help the team to address it.
Also I think you can PR the examples and extend documentation showing the examples cases.

[2018-06-29 14:53] lucaasrojas commented on #1849
What the current status?

[2018-06-29 14:55] gbarcho commented on #2162
Whats the status? Can we close it if the PR is merged and will not be supported on Creators update?

[2018-06-29 15:20] lucaasrojas commented on #1933
@redoced  Can we close this issue?

[2018-06-29 15:37] gbarcho commented on #2190
Any update on status?

[2018-06-29 16:02] redoced commented on #1933
@lucaasrojas well ... it's still an issue, it isn't resolved

[2018-06-29 16:03] gbarcho commented on #2209
@NaveNO Works the solution for you? Can we close it?