[2019-01-31 12:36] didi2391 opened #2778 "Data Grid Auto generating event not working with Expando"
## Current behavior

DataGrid Autogenerating Column is not working with Expando

## Expected behavior

Expecting that Data Grid should also work with Expando for Auto Generating columns if bound with an ItemSource

## Minimal reproduction of the problem with instructions

I am using an ObservableCollection which is of type dynamic in my View Model which I am binding it to Data grid Item Source

I

[2019-01-31 15:00] filipwa84 opened #2779 "DataGridComboBoxColumn not updating display value when changed from code"
## I'm submitting a...

Bug report

## Current behavior
When using DisplayMemberPath the value shown in display mode is not updated if the change is done from code.

## Expected behavior
Value should update if the binding mode is OneWay or TwoWay.

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2019-01-31 17:11] #2763 closed

[2019-01-31 17:58] filipwa84 commented on #2738
I have a fix in progress for this. Will create a pull request after some more testing.

[2019-02-02 12:09] RowanFazio opened #2782 "IncrementalLoadingCollection Bug"
## I'm submitting a...

Bug report
## Current behavior

I have a ListView in my app. and i using **IncrementalLoadingCollection**
Everything is OK! But on event **Loaded** in my UserControl (ListView  DataTemplate) after 7 Item the values (DataContext) are mixed together 😐

**Note:** in XAML, Data Binding for Controls is OK. But when i get the DataContext in UserControl Loaded event it's return du

[2019-02-03 08:03] sohndosa commented on #2773
PrintHelper.cs

delete ClearPageCache() in CreatePrintPreviewPages

private void CreatePrintPreviewPages(object sender, PaginateEventArgs e)
        {
            // Get the PrintTaskOptions
            PrintTaskOptions printingOptions = e.PrintTaskOptions;

            // Get the page description to determine how big the page is
            PrintPageDescription pageDescription = printingOptions.G

[2019-02-03 13:12] mani009 commented on #2773
Thank`s sohndosa,

the Device Printer work`s again.

But the pdf/xps export throw`s an Exception in PrintHelper.cs Line 497,
if the element is added to the page.content.

I can`t figure out which value does not fall in excepted range.

Any value in the printable area calculation seems to be wrong.

[code]

````page.Content = new TextBlock() {Text = "PrintMe" };````

Works!

[2019-02-04 05:08] HHChaos commented on #2742
I will start it after the Spring Festival.😊

[2019-02-04 09:54] DkmS1953 commented on #2700
It is very convenient for developers – it was silent for two weeks, the issue has closed, it is possible to go to the cashier for a prize.

[2019-02-04 12:44] DerPate2010 opened #2784 "InfiniteCanvas text entry uses obtrusive default colors"
## I'm submitting a...
Change request for the full saturated default colors of InfiniteCanvas text entry

## Current behavior
Border around text is blue and default text color is red

## Expected behavior
Changed the text color to black and border to gray

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2019-02-04 13:11] StartSWest opened #2786 "DataGridColumn does not allow to bin to any if its properties let say Width"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2019-02-04 13:14] StartSWest commented on #2786
Maybe some code like this is missing from the implementation.

public abstract class DataGridColumn : DependencyObject {
public static readonly DependencyProperty WidthProperty = DependencyProperty.Register("Width", typeof(DataGridLength), typeof(DataGridColumn), new PropertyMetadata(DataGridLength.Auto));
public DataGridLength Width
{
get { return (DataGridLength)GetValue(WidthProperty); }
set {

[2019-02-04 20:52] michael-hawker commented on #2782
@hermitdave any thoughts?

[2019-02-04 20:56] hermitdave commented on #2782
@RowanFazio thanks for the xaml / cs code. Could you please put this in a repro project and attach the zip here?

It makes debugging easier.

On it @michael-hawker

[2019-02-05 00:17] byrialsen commented on #2778
hi @didi2391.

I believe you should check [this out](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2715)

It has a user vote also.

[2019-02-05 00:32] vleonavmsft commented on #2142
Was someone able to reproduce the issue, or issued a fix?

[2019-02-05 07:49] didi2391 commented on #2778
Thanks

I went through the link provided and it sounds useful if the row details template is simpler like to display a string text or static control with some texts. Below is my scenario,

I have a situation where in I need to show hierarchical data (i.e..,) Nested Data Grid upto 3 level and Columns will be decided only during run time

First Column should be given with an Expander control where i

[2019-02-05 21:55] RBrid commented on #2786
Looking at the DataGridColumn.cs code, things are much more complicated than adding the code above.
If you look at the code, you’ll see that there are multiple calculated properties, not just the Width, and there is an inheritance mechanism from the owning DataGrid.
Public variables:
-	Readable double ActualWidth (a computed value)
-	Read/write double MaxWidth (a computed value)
-	Read/write doubl

[2019-02-05 22:08] RBrid commented on #2756
Indeed, this is an expected error.
If you look at the DataGridTextColumn.cs file, you'll see

    [StyleTypedProperty(Property = "ElementStyle", StyleTargetType = typeof(TextBlock))]
    [StyleTypedProperty(Property = "EditingElementStyle", StyleTargetType = typeof(TextBox))]
    public class DataGridTextColumn : DataGridBoundColumn
    { …

ElementStyle is a Style for a TextBlock and not a DataGr

[2019-02-05 22:08] #2756 closed

[2019-02-05 22:14] #2652 closed

[2019-02-06 01:42] xiedongweo commented on #2756
@RBrid  Ok. But why will it work when start from visual studio?

[2019-02-06 01:55] michael-hawker commented on #2756
@xiedongweo this seems like an issue with Visual Studio (though I'm not sure why it would work as expected only when debugging unless their live-edit-continue is doing something strange); you may want to file feedback through their system in the top-right of the IDE.

[2019-02-06 02:00] #2703 closed

[2019-02-06 14:41] Bmartin2013 commented on #2720
This issue will be closed because it was tested with this fix, and it worked well

[2019-02-06 14:41] #2720 closed

[2019-02-06 19:00] michael-hawker commented on #2778
Yeah, it'd be nice to be able to bind directly to a List/ObservableCollection of `ExpandoObject`.  I know this would make it a lot easier to work with the grid in XAML Studio as well.

[2019-02-06 21:27] Bmartin2013 commented on #2741
we'll close this issue because this issue is contemplated on the issue #2276 . Besides, this control will be redisigned.

[2019-02-06 22:00] michael-hawker commented on #2784
If we take a dependency on WinUI for https://github.com/Microsoft/microsoft-ui-xaml/issues/85 fix, then this gets easier as well.

[2019-02-06 22:53] michael-hawker commented on #2741
@Bmartin2013 I think we'll be closing #2276 soon as we've covered the majority of cases there.  We may want to keep individual issues open for anything else moving forward.  Will need to think about this.  I may leave this one open for me to investigate quickly tomorrow if there's a solution for 5.1.

[2019-02-07 00:45] nmetulev commented on #1182
Closing this issue with the merge of #2126

[2019-02-07 00:45] #1182 closed

[2019-02-07 09:12] Dondon841 commented on #2592
Looks like the developers are investigating - still an active issue.

[2019-02-07 10:38] #2672 closed

[2019-02-07 10:40] IbraheemOsama commented on #2185
Fixed as part of #2764, if the issue is still active, please feel free to reopen the issue

[2019-02-07 10:40] #2185 closed

[2019-02-07 10:45] IbraheemOsama commented on #2248
We still can't do anything as it is a bug in UWP Textbox not within our code, but let's ask @michael-hawker if it was fixed in the SDK

`textbox.SelectionHighlightColor.Color = Color.FromArgb(
                    0,
                    0,
                    0,
                    0);
            textbox.SelectionHighlightColor.Opacity = 0;` won't work

[2019-02-07 15:18] Vijay-Nirmal commented on #2762
Maybe its time for #1187

[2019-02-07 19:30] michael-hawker commented on #2248
@IbraheemOsama we'll take a quick look today, but we should probably file an issue on https://www.github.com/Microsoft/microsoft-ui-xaml

[2019-02-07 22:31] michael-hawker commented on #2142
@vleonavmsft I believe this is closed now with PR #2781.  Let us know if you try out the latest master and find any other concerns.

[2019-02-07 22:31] #2142 closed

[2019-02-08 02:14] michael-hawker commented on #2017
Grid Splitter's logic is different and much more complex than the Mouse extension.  I think for 6.0 we refactor Grid Splitter to use the Mouse Extension.  I already have an implementation we can use of a 'ContentSplitter' that uses the extensions.  I'll submit a PR soon after the 5.1 release.

[2019-02-08 13:48] Scnck opened #2791 "DataGrid: TextWrapping fixing issue when resizing"
What is the proper method of applying text wrapping so that when resizing a column it fixs the auto adjust the row height?

[code]

[2019-02-08 16:16] skendrot commented on #2762
I can see a use case for this but there's more to it than just adding a `SelectionMode` property. You would also need to expose a new `MultiSelectionContent` and the `SelectedItems`. We can't expose `SelectedItems` through simple binding like all of the other ListView properties that are exposed. I've always said that we don't want to expose anything above a `Selector` because that's really all th

[2019-02-08 16:19] skendrot commented on #2761
This is probably a documentation bug that should be removed

[2019-02-08 16:22] skendrot commented on #2748
Based on the description in the user voice entry we already support this through the Carousel control. Aside from the position indicator, how does this not meet your request?

[2019-02-08 16:23] patriksvensson commented on #2762
@skendrot Yeah, I know. I solved this in my application by copying the source for the control itself and planning to maintain it with updates.

Feel free to close this issue if you don't find it relevant.

[2019-02-08 16:23] skendrot commented on #2746
Isn't this intended? If your step size is 0, then you can't make any changes.

[2019-02-08 16:25] skendrot commented on #2742
While a control like this is great, how many would benefit from it? This seems like a very specific control for limited use cases

[2019-02-08 16:27] patriksvensson commented on #2762
@skendrot That sounded rude when I read it back after posting it. Thanks for your help!

[2019-02-08 16:35] skendrot commented on #2762
I'm thinking you don't need the source at all. If you restyle the control in order to set the SelectionMode, add a new panel for multi selection content and a [CompareStateTrigger](https://github.com/dotMorten/WindowsStateTriggers/blob/master/src/WindowsStateTriggers/CompareStateTrigger.cs) should do it.

[2019-02-08 17:06] mdtauk commented on #2742
This could and should be part of the ColorPicker control surely?

[2019-02-08 17:52] michael-hawker commented on #2746
@skendrot I think this was another regression, but I think StepSize defaults to zero, so if you don't want changes made, you turn off `IsInteractive`.  I tested this with your change though and that'll resolve this issue I believe, so we'll be good there.

[2019-02-08 17:55] michael-hawker commented on #2762
@skendrot would filing a WinUI request for making Selector unsealed make sense?

[2019-02-08 17:56] michael-hawker commented on #2742
@skendrot I have a use-case for it.  I think any painting/drawing type app would use it.

@mdtauk we could make a request on WinUI for that as well?

[2019-02-08 17:57] michael-hawker commented on #2761
@skendrot sounds good, I'll put a bug in the docs.

[2019-02-08 21:27] michael-hawker commented on #2017
@azchohfi this is still an issue, I had just referenced it in the other PR as I thought it was the same originally and its where the fix stemmed from.  I'm going to resolve this issue in 6.0 by making GridSplitter use the fixed Mouse Cursor extensions.

[2019-02-08 21:32] #2749 closed

[2019-02-09 01:21] crutkas commented on #2638
Ping to stay open

[2019-02-09 01:45] nmetulev commented on #2741
Fixed in #2757

[2019-02-09 01:45] #2741 closed

[2019-02-09 02:07] michael-hawker commented on #2741
@Arslan007 we've fixed how tab focus works in general for the TabView in the upcoming 5.1 release.  Now you can tab to buttons in the header of the TabView (including the scroll helpers when there are too many tabs to display).  Once you're on a Tab Header, you can use the arrow keys to select a Tab as you can with ListView and other tab controls you see in Browsers and such.  Finally tab will shi

[2019-02-09 11:05] patriksvensson commented on #2762
@skendrot How do I restyle the control?

[2019-02-10 00:00] #2257 closed

[2019-02-10 00:00] #2351 closed

[2019-02-10 00:00] #2387 closed

[2019-02-10 00:00] #2388 closed

[2019-02-10 00:00] #2389 closed

[2019-02-10 00:00] #2404 closed

[2019-02-10 00:00] #2457 closed

[2019-02-10 00:00] #2492 closed

[2019-02-10 00:00] #2593 closed

[2019-02-10 00:00] #2645 closed

[2019-02-10 00:00] #2656 closed

[2019-02-10 00:00] #2681 closed

[2019-02-10 00:00] #2723 closed

[2019-02-10 00:00] #2724 closed

[2019-02-10 00:00] #2735 closed

[2019-02-10 03:58] robloo commented on #2388
@harinikmsft , @nmetulev Why are issues like this being automatically closed? I understand wanting to avoid permanently open items but these types of things must not just be shutdown automatically. Please change the system from auto-closing these and please reopen this issue.

[2019-02-10 04:04] robloo commented on #2700
@nmetulev Please change the system from auto-closing issues like this. For this one specifically, if you need someone to work on it I can take a swing at it over the next few weeks. We haven't heard a thing from a maintainer though so don't want any effort to go to waste.

[2019-02-10 23:59] avknaidu commented on #2387
Duplicate of #1740

[2019-02-11 00:00] #2110 closed

[2019-02-11 00:00] #2111 closed

[2019-02-11 00:00] #2119 closed

[2019-02-11 00:00] #2507 closed

[2019-02-11 00:00] #2571 closed

[2019-02-11 00:00] #2619 closed

[2019-02-11 03:28] michael-hawker commented on #2116
Looks like this was fixed by commit 741c91d3204f75a281e5ebb27a9d0f13e8cc368c. Though we should probably show how to remove sorting from columns as well.

[2019-02-11 03:53] ShobikaPalani commented on #2709
@marianstdt  Any update on this?

[2019-02-11 11:07] patriksvensson commented on #2762
Nevermind, I managed to figure it out.

[2019-02-11 13:25] federgraph opened #2797 "Slot parameter problem in UWP DataGrid"
Bug report and fix suggestion.

## Current behavior
In DataGridRows.cs,
in method GetExactSlotElementHeight,
the slot parameter can somtimes be -1,
then the assert will fail,
and the application will crash.

[code]

## Expected behavior

Don't call the method when slot == -1.
The fix that I am running with is inside of method
**internal bool ScrollSlotIntoView(int slot, bool scrolledHorizontally)*

[2019-02-11 15:00] avknaidu commented on #2759
@michael-hawker @marianstdt this is correct as per spec. However to satisfy the requirement of the OP, i would suggest a new property that will maintain the order of the list from whatever entered as text. What say?

[2019-02-11 17:03] federgraph commented on #2797
I am attaching a MainPage.xaml.cs test file (zipped) for a minimal test project.

[MainPage.xaml.cs.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2852117/MainPage.xaml.cs.zip)

### Steps
1) New empty uwp project
2) reference Microsoft.Toolkit.Uwp.UI.Controls.DataGrid
3) In Mainpage.xaml add x:Name="hg" to Grid
4) update MainPage.xaml.cs from attached file
5) run app
6) Edit

[2019-02-11 19:31] RBrid commented on #2797
@federgraph, thanks for the detailed bug report.

[2019-02-11 20:22] michael-hawker commented on #2759
@avknaidu I think adhering to the MD specs are fine.  We do have the bug with the toolbar code we should fix, and then also maybe add the 1) delimiter support.  Otherwise, I think we're good.

[2019-02-11 23:40] jvcmd opened #2801 "NavigationCacheMode With IncrementalLoadingCollection"
## I'm submitting a...

Bug report

I have a ListView in my app. and i using **IncrementalLoadingCollection** and in my page i using of **NavigationCacheMode**  (Enabled)
When i change the Navigate (page) and back, My listview update again and loses items (all old items before change page)

## Environment

[code]

[2019-02-11 23:54] #1740 closed

[2019-02-12 00:23] #2688 closed

[2019-02-12 02:08] michael-hawker commented on #2801
Wonder if this is a duplicate of #2782. @jvcmd do you have a small repo project exhibiting this issue?

@hermitdave think this is related?

[2019-02-12 09:32] hermitdave commented on #2801
Navigation Cache mode causes lot of issues and it's best avoided

[2019-02-12 09:34] hermitdave commented on #2801
I have had numerous issues with Navigation Cache mode and ListView control. Not something I'd recommend setting.

A repro would be nice

[2019-02-12 19:13] skendrot commented on #2602
You have many requests here. Some can be easily accomplished while others have no detail at all.

True, but you can restyle the control to change the properties. This would be a relatively easy change

This is the intended behavior. The MasterDetailsView works very much like the NavigationView or the SplitView controls.

In the title you ask for "Highlighted Section". What is this?

[2019-02-12 19:22] #2116 closed

[2019-02-12 20:05] kbrons commented on #2709
Even after calling measure, you won't be able to get the final size of the element. The measure call will trigger a layout update, which runs asynchronously. You should take a look at the [SizeChanged event](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.frameworkelement.sizechanged).

[2019-02-12 21:25] michael-hawker opened #2802 "MarkdownTextBlock doesn't support backticks in Link Text"
## I'm submitting a...
- Bug report

## Current behavior
Trying to render the following valid markdown doesn't work:
[code]

## Expected behavior
[code]
[`Windows.UI.Composition` APIs](https://docs.microsoft.com/windows/uwp/composition/visual-layer)

## Minimal reproduction of the problem with instructions
1) Open Sample App
2) Open MarkDownTextBlock sample
3) Add the following markdown to the tex

[2019-02-12 22:48] Sergio0694 opened #2804 "The WrapPanel wraps incorrectly and leaves an empty row with no items"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

When a `WrapPanel` has all its items in a single row, there's a small margin (I guess it depends on its `HorizontalSpacing` property) that makes it occupy more space it needs, effectivel creating a second row with no actual items wrapping there.
Here's a GIF that shows the issue:

![m0fanz

[2019-02-13 08:04] #2675 closed

[2019-02-13 14:47] tipa opened #2805 "InAppNotification crashes when Content is null"
## I'm submitting a Bug report
## Current behavior
Since the last NuGet package update v5.1.0, the InAppNotification crashes on showing when using a `ContentTemplate` instead of `Content`. It throws a NullReferenceException here: https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/e62a883fdacc6da171fc4f74dfa97522898274f7/Microsoft.Toolkit.Uwp.UI.Controls/InAppNotification/InAppNotifica

[2019-02-13 16:41] Sergio0694 commented on #2804
If I had to guess I'd say the issue is probably here: https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/a722f171cac7959d8fb39d732c5951018a2e8c07/Microsoft.Toolkit.Uwp.UI.Controls/WrapPanel/WrapPanel.cs#L127

That `spacingMeasure.U` is always added in the measure pass, so even if the control in question is the last one that could fit in the current row on its own (without the last hor

[2019-02-13 18:38] michael-hawker commented on #2804
Thanks @Sergio0694 for the report and investigation.  Feel free to submit a PR if you'd like.

[2019-02-13 18:41] michael-hawker commented on #2805
Thanks @tipa for the report.  @lucaasrojas can you prioritize this bug to fix, thanks!

[2019-02-13 18:58] Sergio0694 opened #2806 "MarkdownTextBlock throws an ArgumentException when using a markdown link with a superscript link as text"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior

Trying to render a markdown like this throws an `ArgumentException`:

[code]

The crash happens at the last line, `localContext.InlineCollection.Add(link);`, from this method: https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/a722f171cac7959d8fb39d732c5951018a2e8c07/Micros

[2019-02-13 20:12] michael-hawker commented on #2806
Thanks @Sergio0694, Is the `^(...)` superscript notation standardized anywhere?  I don't see GitHub supporting it.

[2019-02-13 20:27] Sergio0694 commented on #2806
Hi @michael-hawker - it's not supported on GitHub, but it's part of Reddit's markdown (docs [here](https://www.reddit.com/wiki/markdown#wiki_quick_reference)).
It's present in the sample markdown in the UWP Toolkit sample app as well.

I do agree that having a superscript link inside a markdown link is a bit too much (found this while randomly looking at some markdown examples), but I think it'd b

[2019-02-13 20:38] michael-hawker commented on #2806
@Sergio0694 thanks for the link!

Yeah, in many cases we should try and fail more gracefully and just render plaintext.  @WilliamABradley any thoughts on a more general way to do this?

[2019-02-13 20:57] sibille commented on #2650
Ping to keep this open.

[2019-02-13 21:00] Sergio0694 commented on #2802
As mentioned in #2806 to @michael-hawker for the related issue, I can confirm that this too can be fixed (at least as a quick workaround) by replacing this line: https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/a722f171cac7959d8fb39d732c5951018a2e8c07/Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/Render/MarkdownRenderer.Inlines.cs#L581

With this code:

[code]

This will still

[2019-02-14 00:04] skendrot commented on #2650
Thanks @sibille. I'll get to work on this soon.

[2019-02-14 00:46] michael-hawker commented on #2778
@RBrid @harinikmsft any thoughts on this one?

[2019-02-14 06:42] sibille commented on #2650
Awesome!! Thanks!

[2019-02-14 09:00] lukasf commented on #2060
This could be difficult to implement. The Menu class from the community toolkit uses the "normal" UWP MenuFlyoutItem for all sub elements. We cannot change that class here.

WinUI now includes a native implementation of the menu, called "MenuBar". It might be better to just switch to WinUI for this control. I guess that the issue is already addressed there (did not check, though).

[2019-02-14 13:30] lucaasrojas commented on #2805
@michael-hawker Sure, I'll take a look to it

[2019-02-14 14:10] lucaasrojas commented on #2805
@tipa I tried to replicate the issue without success. Could you upload a reproduction app?

[2019-02-14 15:56] tipa commented on #2805
Sure, repo attached
[App1.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2865778/App1.zip)

[2019-02-14 16:55] sohchatt opened #2807 "README missing Lottie-related info"
## I'm submitting a...

 Documentation issue or request

## Current behavior

No information about Lottie-Windows that is under the Toolkit umbrella of projects and was releasedin 5.1.0.

## Expected behavior

readme for landing page should have links to Lottie-Windows info.

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2019-02-14 18:18] michael-hawker commented on #2060
@lukasf yes, the recommendation is to use the [WinUI](https://github.com/Microsoft/microsoft-ui-xaml) `MenuBar`, we've deprecated the Menu control in the toolkit to remove in the 6.0 release.

It's unclear if these scenarios are supported there as the documentation doesn't call them out, I've filed a doc request to get that process started [here](https://github.com/MicrosoftDocs/windows-uwp/issues

[2019-02-14 18:18] #2060 closed

[2019-02-14 18:21] #2807 closed

[2019-02-14 20:30] touseefbsb opened #2809 "TextToolBar crashes on secondary window"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
Text toolbar control when on a xaml page, and that page is loaded in a secondary window/view the app crashes on the error **marshalled from different thread**

## Expected behavior
the app should not crash

## Minimal reproduction of the problem with instructions

bug repro repo : https://g

[2019-02-14 20:56] kbrons commented on #2805
@tipa and @michael-hawker, I submitted a PR with a quick fix for the issue. The code wasn't taking into account that the Content might be null when checking to apply the automation peer to the notification text. However, we should define if we're going to do something on the toolkit side to add better support for the narrator when using a ContentTemplate or leave it to each developer.

[2019-02-15 00:26] #1933 closed

[2019-02-15 02:41] h82258652 commented on #2245
How about close this issue and open another issue just for Wechat?

[2019-02-15 08:11] HHChaos opened #2811 "Readme is missing the document link for ImageCropper"
## I'm submitting a...
 - Documentation issue or request

## Current behavior
Readme is missing the document link for ImageCropper.

## Expected behavior
The Readme should contain full documentation links.

## Environment

[code]

[2019-02-15 09:34] sebfrie opened #2813 "StringExtensions.IsPhoneNumber doesn't recognize some valid numbers"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
`StringExtensions.IsPhoneNumber` returns `false` for some valid (German) mobile numbers (e.g. +49 176 12345678) as the `PhoneNumberRegex` doesn't accept eight digits for the last part, only seven ([3+4](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit/

[2019-02-15 12:28] Dondon841 commented on #2592
Still waiting for progress.

[2019-02-15 15:17] kbrons commented on #2801
Hi @jvcmd, could you submit a reproduction project?

[2019-02-15 18:04] michael-hawker commented on #2811
Thanks @HHChaos!

[2019-02-15 18:04] #2811 closed

[2019-02-15 20:31] michael-hawker commented on #2206
@hermitdave could we not open the proj file to see the min version from there?

[2019-02-15 20:34] michael-hawker commented on #2207
@hermitdave were you ever able to find out if there's a way to do this easily?  Should we ping folks on the roslyn team, maybe they have a sample?  Or could we just be overly-aggressive and wrap the rest of the scope of the function?

[2019-02-15 20:36] kbrons commented on #2683
@billyzkid @Heidelberger do you still have this issue on 5.1?

[2019-02-15 20:54] kbrons commented on #2665
Hi @cbarkerms, any news on this issue?

[2019-02-15 20:57] michael-hawker commented on #1933
@redoced do you think we should file this issue maybe on the [controls](https://github.com/Microsoft/microsoft-ui-xaml/issues) repo since you've noticed it with inheriting through other controls?

[2019-02-15 21:01] hermitdave commented on #2206
Code within nuget package referenced by ac project opening project itself? I am not sure this is possible.

I asked about other ways of detecting min and target SDK versions a while ago on DL but it was mostly silence besides nope can't be done.

[2019-02-15 21:04] hermitdave commented on #2207
Making it broad works as long that that's the only wrap within a given method. Imagine an unlikely scenario where 2 version specific methods were used within a function.

Guidance from Roslyn team would be invaluable here.

[2019-02-15 21:12] michael-hawker commented on #186
Going to close this thread out as it has a lot of different things in it.  Any new requests should be made as separate items.  Also, depending on request, it may be better to request them on the [Controls](https://github.com/Microsoft/microsoft-ui-xaml/issues) repo.

[2019-02-15 21:12] #186 closed

[2019-02-15 21:15] michael-hawker commented on #560
This could be a good candidate to open a request on the [WinUI Controls](https://github.com/Microsoft/microsoft-ui-xaml/issues) repo to pull the CalendarView with improvements in there.

[2019-02-15 21:16] michael-hawker commented on #764
Will the [Teaching Tip](https://github.com/Microsoft/microsoft-ui-xaml/issues/21) proposal in the WinUI controls satisfy this need?

[2019-02-15 21:20] michael-hawker commented on #818
Going to close this as the control team is adding [Teaching Tip](https://github.com/Microsoft/microsoft-ui-xaml/issues/21) which I think covers this issue.

[2019-02-15 21:20] #818 closed

[2019-02-15 21:22] michael-hawker commented on #845
@marcpems we can close this now as it's in the platform, eh?

[2019-02-15 21:29] michael-hawker commented on #903
@Liero going to close this as we've added both [CameraPreview](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/camerapreview)/[CameraHelper](https://docs.microsoft.com/en-us/windows/communitytoolkit/helpers/camerahelper) and the [ImageCropper](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/imagecropper) control.

[2019-02-15 21:29] #903 closed

[2019-02-15 21:37] michael-hawker commented on #1087
Since we removed PullToRefresh from the toolkit, this would require dependency on WinUI, so adding that label.  Or we generalize the template a bit more as suggested in #1187.

[2019-02-15 21:47] michael-hawker commented on #1462
Think we'd want to use `ItemsRepeater` for this, eh? @JustinXinLiu

[2019-02-15 21:50] michael-hawker commented on #1705
Going to close this issue, as I believe this will be addressed by the WinUI [PagerControl](https://github.com/Microsoft/microsoft-ui-xaml/issues/60).

[2019-02-15 21:50] #1705 closed

[2019-02-15 21:52] michael-hawker commented on #1951
@azchohfi @onovotny do we have what we need now to fix/close this?

[2019-02-15 21:54] onovotny commented on #1951
According to the source, it's still generating full pdb's...unless I'm missing something?

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Directory.Build.targets#L8

[2019-02-16 04:15] HesamKashefi commented on #764
@michael-hawker , I don't think so.
The problem is that the Teaching Tip does not force the user to focus and it can't present a tour of application (a step by step focused learning).
We need something to disable all of screen, put a circle on the area in question and then show a message and possibly a button for the 'next step' or 'done'.

[2019-02-16 15:17] emigranto opened #2814 "Markup OnDevice don`t work with true/false"
## I'm submitting a...
Bug

## Current behavior
Crash app

## Minimal reproduction of the problem with instructions

For example:
`<ToggleSwitch IsEnabled="{markup:OnDevice Default=False, Xbox=True}"/>`

## Environment

[code]

[2019-02-16 21:00] duke7553 opened #2815 "DataGrid does not commit cell edit when it loses focus"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
The DataGrid cells can enter edit mode through the usual "explorer-like click to rename" action. However, they do not properly leave edit mode (CommitEdit) when one clicks off the DataGrid because attempting to click on the same cell again goes straight into edit mode. Seemingly uncommitted

[2019-02-16 21:57] dan-meier opened #2816 "Implicit Animations do not run inside ItemsStackPanel control"
## **I'm submitting a...**
Bug report

## **Current behavior**
Controls enabled with implicit animations (Microsoft.Toolkit.Uwp.UI.Animations) do not animate when placed within a BladeView/BladeItem control (Microsoft.Toolkit.Uwp.UI.Controls).

## **Expected behavior**
Controls enabled with implicit animations should animate within a BladeView/BladeItem control in the same way they animate elsewhe

[2019-02-17 00:01] #2379 closed

[2019-02-17 00:01] #2718 closed

[2019-02-17 00:01] #2753 closed

[2019-02-17 01:08] crutkas commented on #2638
@michael-hawker, :)

[2019-02-18 15:33] Bmartin2013 commented on #2814
@emigranto Please, could you provide us with a sample app to understand better this issue? Thanks

[2019-02-18 16:35] #2187 closed

[2019-02-18 16:35] #2234 closed

[2019-02-18 18:13] #2740 closed

[2019-02-18 19:10] marianstdt commented on #2813
Hi @sebfrie, I believe that localization as for now (5.1.0)  is handled by the developer, [here](https://docs.microsoft.com/en-us/windows/uwp/design/globalizing/use-global-ready-formats#format-numbers-and-currencies-appropriately) you can find how to add a _PhoneNumberFormatter_ to handle country-specific phone number formats in UWP. If you are only deploying this in Germany, I believe you could o

[2019-02-18 19:52] Arslan007 commented on #2741
Hi @michael-hawker
I have tested it again with the latest release via NuGet packages but it doesn't solve the issue.
I am opening this issue again :)

[2019-02-19 05:43] emigranto commented on #2814
@Bmartin2013 https://github.com/emigranto/MarkupOnDeviceCrash

[2019-02-19 10:54] aodpi commented on #2748
@skendrot I'm not sure if you can scroll through items just like in `FlipView` using carousel, that is, displaying one item at a time.

[2019-02-19 16:16] skendrot commented on #2748
Okay, I see this as a simple add-on to the existing FlipView. Add a small ListView at the bottom that has circles and has two way binding of the SelectedIndex to the FlipView.

[code]

Then have a timer that changes the SelectedIndex. The only thing you wouldn't get is swipe from end to start, but the timer could change from last to first easily.

[code]

[2019-02-19 16:43] skendrot commented on #2816
I have reproduced the issue with the following just an ItemsControl with a Horizontal ItemsStackPanel:

[code]

I have updated the title as well

[2019-02-19 16:50] skendrot commented on #2746
Closing as it's handled in #2598

[2019-02-19 16:50] #2746 closed

[2019-02-19 18:46] chanallenk opened #2817 "Panel.ZIndex does not work when there is a WindowsXamlHost control"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2019-02-19 20:47] Bmartin2013 commented on #2817
@chanallenk  Hi! thanks for submitting this issue! For the next time, please follow the current WindowsCommunityTemplate repo template to submit your issue, this will make much easier to track and solve it as well. Second, do you have a sample app to reproduce this issue?

[2019-02-19 21:06] Bmartin2013 commented on #2817
@chanallenk Hi! thanks for submitting this issue! For the next time, please follow the current WindowsCommunityTemplate repo template to submit your issue, this will make much easier to track and solve it as well. Second, do you have a sample app to reproduce this issue? Thanks again

[2019-02-19 21:56] michael-hawker commented on #2741
@Arslan007 as far as I understand your issue, this is working fine for me in the Sample App on 1809.  I can `Tab` to the 'arrow' buttons in order to activate them or use the arrow keys to change tabs once I tab into the tab header.

![tabviewtabs](https://user-images.githubusercontent.com/24302614/53050276-cdb79f00-344d-11e9-907d-e4d818ef2eed.gif)

This is the expected behavior for how these eleme

[2019-02-19 22:53] michael-hawker commented on #2748
@skendrot did you mock that up, want to share the CircleTemplate for the filled in selected item?

@aodpi also check out the WinUI's [PagerControl](https://github.com/Microsoft/microsoft-ui-xaml/issues/60) proposal.

I'm going to close this issue for now.

[2019-02-19 22:53] #2748 closed

[2019-02-19 23:59] Arslan007 commented on #2741
@michael-hawker Its not working even in your sample app for me. You can see in attached video that I am using latest version of sample app from store and added multiple tabs in tab view but navigation with arrow is not working.

Just to add if you see my first report where I have mentioned all specs and resolution. Seems like its resolution issue which is creating issue in calculating offsets ?

!

[2019-02-20 01:22] michael-hawker commented on #2741
@Arslan007 what key are you pressing on the 'arrow' buttons to try and engage them?  For me, I'm using `Enter` and it works fine.  I can try and re-test on 16299 though, that'd be the only other factor I could think of.

[2019-02-20 01:35] Arslan007 commented on #2741
@michael-hawker Its a windows tablet. Using with mouse and fingers as well. Not using with keyboard.

[2019-02-20 05:12] michael-hawker commented on #2741
@Arslan007 what's your DPI set to?

I think I misunderstood initially as the majority of your report says "arrow keys" but you're just meaning the buttons didn't work for you.  We haven't seen this issue at all, but I'll double-check on my 16299 machine as well.

[2019-02-20 05:32] Arslan007 commented on #2741
@michael-hawker AFAIK resolution of a tablet is 1920 x 1200 but for DPI I have to see the physical device which is not with me since I am out of office now. Will confirm you in the morning.

[2019-02-20 14:42] michael-hawker commented on #2741
@Arslan007 I tried to repro this on my 16299 VM, but the arrow buttons worked fine with keyboard and mouse.

This may be device specific.  To confirm, is this a Panasonic `ToughPad FZ-G1` device?

[2019-02-20 16:43] Arslan007 commented on #2741
@michael-hawker Yes this is Panasonic Toughpad FZ-G1 and I checked the resolution of device its 1920 X 1200 and DPI Scaling is 150% Recommended settings

[2019-02-21 14:02] MSiccDev opened #2818 "Binding to BladeItem.IsExpanded property not working"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

Binding from my ViewModel to IsExpanded property of BladeItem does not change its state.

## Expected behavior

The BladeItem should collapse/expand accordingly

## Minimal reproduction of the problem with instructions

tbd if really necessary...

## Environment

[code]

[2019-02-21 14:12] kbrons commented on #2818
Hi @MSiccDev, thanks for reporting the issue! Could you upload a reproduction project or at least add a small code example?

[2019-02-21 18:20] dotMorten commented on #2226
@rjmurillo Why isn't this defaulting to true? It feels odd to have this limitation in a desktop app, and it seems to be coming up many times baffling users.

[2019-02-21 19:28] marianstdt commented on #2814
Hi, @emigranto , I've looked at the example you submitted. After investigating a bit, I believe the problem lays on the fact that the markup _OnDevice,_ returns an **object with a string** (inherited from the _SystemInformation.DeviceFamily_ property) while the _IsEnabled_ method expects a **bool** as a parameter. If you check the examples on the _SampleApp_ they are all _Text_ or _Fill_ element,

[2019-02-21 20:02] harinikmsft commented on #2815
Thanks for reporting the issue.

[2019-02-21 20:34] encrypt0r opened #2819 "TextBoxMax.Mask doesn't support escaping variables"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
If `TextBoxMask.Mask` is set to `+\964` the `\9` is not escaped and it's shown as `+\_64`

![bug](https://user-images.githubusercontent.com/16880059/53201153-55f79900-3634-11e9-8b47-d12a9f0bab28.PNG)

## Expected behavior
The text should be shown as `+964`
![correct](https://user-images.gi

[2019-02-21 23:24] rjmurillo commented on #2226
@dotMorten The short answer is it's a security feature from the WIndows 8 metro AppContainer system to sandbox application that's also present in UWP. It was designed in this case to ward off port scanning and cross-site-request forgery attacks.

CC @joshholmes

[2019-02-21 23:44] SavoySchuler commented on #818
Thanks for the shoutout, @michael-hawker! [TeachingTip is now available via prerelease](https://github.com/Microsoft/microsoft-ui-xaml/releases/tag/v2.1.190219001-prerelease) and the drafted guidance is available [here](https://github.com/Microsoft/microsoft-ui-xaml-specs/blob/user/savoyschuler/teachingtip/active/teachingtip/TeachingTipSpec.md). Since this is the prerelease phase, we are still wor

[2019-02-21 23:51] dotMorten commented on #2226
@rjmurillo oh I get that, but does any of that really make sense in a desktop app? I mean what risk are they running that they weren't already running in a desktop app?

[2019-02-21 23:53] rjmurillo commented on #2226
@dotMorten Versus WebBrowser/Trident? It's a fair point. The default for the control is still `false` but we could make it friendlier for the toolkit by making it `true` by default

[2019-02-22 00:03] rjmurillo commented on #985
The ask is common for WebView. I have a sample that shows how to do this in a more involved way, similar to what an app like Spotify or Flipboard might use: https://github.com/rjmurillo/WebView_AddAllowedWebObjectWorkaround

[2019-02-22 13:49] lucaasrojas commented on #2819
@encrypt0r Thanks for uploading the issue. I've tested it and it worked. Could you test it again using my solution and let me know the result?

![image](https://user-images.githubusercontent.com/26610409/53246274-05615980-368f-11e9-8091-0bf6b913943b.png)

[2019-02-22 14:14] encrypt0r commented on #2819
@lucaasrojas Thank you for taking the time to reply... but this is not a complete solution, because the user can still change the `9` as it's still regarded as a variable. A more robust solution would be much appreciated.

[2019-02-22 14:47] encrypt0r commented on #2819
Another solution would be to let the user rename or un-define variable

[2019-02-22 15:38] Javier118 commented on #2773
He throws a while carrying the impression when I'm using InkCanvas.

[2019-02-24 04:51] duke7553 commented on #2373
Although progress has been made in fixing this, I noticed that the DataGrid still fails to utilize the color defined with:
[code]

[2019-02-24 21:03] niels9001 opened #2821 "Connected animations for the same page?"
Can we use ConnectedAnimations for items on the same page as well? E.g. clicking on a ListViewItem would animate it's content to a larger image on the same page. So, very similar but without doing the navigation bit.

Can it be done - and if not, would that be a nice addition?

[2019-02-25 03:22] DinoChan opened #2822 "HeaderedContentControl throws ArgumentException when the Header="" and the Content is a UIElement"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
When setting the `Content` of the `HeaderedContentControl` to a UIElement, and setting the 'Header' to empty string, the app crashed and throws:

   at Windows.UI.Xaml.FrameworkElement.MeasureOverride(Size availableSize)

## Expected behavior

## Minimal reproduction of the problem with inst

[2019-02-25 09:24] Paradoxon101 opened #2823 "InAppNotification throws an Windows.UI.Xaml.Markup.XamlParseException on show on XBOX and some PCs"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
Windows.UI.Xaml.Markup.XamlParseException when the method show is called.

## Expected behavior
No xaml exception.
v4.0.0 works.

## Minimal reproduction of the problem with instructions
100% on XBOX with v5.0.0

`<controls:InAppNotification x:Name="InAppNotificationControl">
        <cont

[2019-02-25 15:42] DL444 opened #2825 "StaggeredPanel does not recognize HorizontalContentAlignment property of its children"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior

When a StaggeredPanel is set as the ItemsPanel of a GridView, it will not recognize its children's HorizontalContentAlignment property, and the children are always left-aligned.

## Expected behavior
The StaggeredPanel should layout children based on their HorizontalContentAlignment pro

[2019-02-25 18:54] multim0 opened #2827 "Inconsitent RowDetails styles in DataGrid control"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

I think that default DataGrid.RowDetails style is inconsitent, because when I open the page that contains DataGrid control for the first time, RowDetails are aligned with width of all columns, and when I switch model presentation mode to grouped by category there is applied small margin fr

[2019-02-25 20:13] bkfichter opened #2828 "DataGridTemplateColumn.CellTemplate binding with ElementName"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

DataGridTemplateColumn.CellTemplate
Command binding is invalid when trying to use ElementName="Name" Path="DataContext.CommandName". Works fine in a listbox

## Expected behavior
Binding should be valid and Command should fire

## Minimal reproduction of the problem with instructions

## E

[2019-02-25 21:15] marianstdt commented on #2821
From what I understand, the purpose of Connected Animations is to animate the transitions between two views or pages, as stated [here](https://docs.microsoft.com/en-us/windows/uwp/design/motion/connected-animation). Regarding the use of animations on the same page, you can use[ StoryBoarded ](https://docs.microsoft.com/en-us/windows/uwp/design/motion/storyboarded-animations) animations. Furthermor

[2019-02-25 21:20] kbrons commented on #2738
@filipwa84 what's the current status on this? If you have some issues with the code, you can submit the PR as a WIP and we'll do our best to give you a hand

[2019-02-25 22:15] skendrot commented on #2822
Can you provide a reproducable sample please? I am unable to reproduce given the following:
[code]

[2019-02-26 02:05] DinoChan commented on #2822
@skendrot https://github.com/DinoChan/HeaderedContentControlCrash

I changed the title. I'm sorry I didn't describe it clearly before.

[2019-02-26 05:06] nmetulev commented on #2761
Just remove the property from the docs https://github.com/MicrosoftDocs/WindowsCommunityToolkitDocs/commit/18feaf0b1216b4dfac2e688673224f4712c90f31

[2019-02-26 05:06] #2761 closed

[2019-02-26 05:11] filipwa84 commented on #2738
@kbrons I have it working but was hoping to get my other pull request #2780 merged before starting a new one...

[2019-02-26 07:34] HHChaos opened #2829 "Carousel animation bug when SelectedIndex changes quickly"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior
Carousel animation bug when SelectedIndex changes quickly.
![wrong](https://user-images.githubusercontent.com/9880072/53394405-22bd5d00-39da-11e9-827b-79895ca199c5.png)

## Expected behavior
We should make sure that the transformation of each item is correct.
![right](https://user-images

[2019-02-26 09:00] Javier118 commented on #2773
When I press the button exits the blank wizard but does not leave the drawing in the InkCanvas

[2019-02-26 12:58] #2821 closed

[2019-02-26 14:14] RexfelisLOC opened #2830 "OneDriveService: Can't get user token after authenticating"
## I'm submitting a...

## Current behavior

After authenticating with

await OneDriveService.Instance.LoginAsync()

I am unable to find a user token anywhere on OneDriveService.Instance.  I need the token to get the username from live.net api.

## Expected behavior

After authenticating the user with OneDriveService, the user token is available to make live.net api calls or available user informa

[2019-02-26 16:00] kbrons commented on #2830
The OneDrive service doesn't expose information such as the token, as its goal is to provide abstraction over authentication and the required queries to use the OneDrive API. If you want to get and use the token for something other than OneDrive calls, you can use the [MicrosoftGraph service](https://docs.microsoft.com/en-us/windows/communitytoolkit/services/microsoftgraph), which allows you to au

[2019-02-26 16:06] RexfelisLOC commented on #2830
Thank you for the info.  I'm actually using the OneDrive API to sign in along with storing user app data in the user's OneDrive.  I really only need the username to provide a customized sign in similar to Groove where it shows the name of the user signed in.  So my question is, should I use MicrosoftGraph to sign in to get that info?  If I use the MicrosoftGraph service to sign in, will I also be

[2019-02-26 16:51] AndreasLuebbers opened #2831 "Markup OnDevice don't work with Visibility"
Bug report (I searched for similar issues and did not find one)

## Current behavior
If I try to use Markup:OnDevice it works well for int or text values, also Color is no Problem, if I use Visibility on Button for example it did not work as expected
I got no error, but the button Visibility is not changed in any way

## Expected behavior
I expect that the button is not visible on Desktop

## Mini

[2019-02-26 16:56] JustinXinLiu commented on #2822
@DinoChan would you like to submit a PR for this? :)

[2019-02-26 16:56] JustinXinLiu commented on #2829
Would you like to fix this? :)

[2019-02-26 17:26] kbrons commented on #2830
Both services are singletons, so you should be fine with a single login. I'd recommend starting with MicrosoftGraph and then follow with OneDrive.

Closing the issue.

[2019-02-26 17:26] #2830 closed

[2019-02-26 17:35] #2814 closed

[2019-02-26 17:39] kbrons commented on #2831
Markup OnDevice works only for string values, while visibility is actually an enum. You should use a code behind solution, as described on the issue #2814.

Closing the issue.

[2019-02-26 17:39] #2831 closed

[2019-02-26 17:41] #845 closed

[2019-02-26 19:59] marianstdt commented on #2829
I think this is caused by the usage of a[ storyboarded animation](https://docs.microsoft.com/en-us/windows/uwp/design/motion/storyboarded-animations) and it having a duration time, so, as you are changing the selected item quickly, the transformation is canceled in order to render the next item to avoid having a slow response time using the storyboard.completed event. Also, I saw that this control

[2019-02-26 20:26] kbrons commented on #2828
Thanks for submitting the issue! Could you upload a reproduction project?

[2019-02-27 00:35] RexfelisLOC opened #2832 "OneDriveService CreateFileAsync with OpenIfExists creates new file instead of opening"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

Making the following call:

await StorageFolderPlatformService.CreateFileAsync(filename,CreationCollisionOption.OpenIfExists);

will cause the file to overwritten with an empty file as opposed to opening the file if it exists.

## Expected behavior

Opens the existing file without overwrit

[2019-02-27 04:10] HHChaos commented on #2829
Sure, I'll try to fix it.

[2019-02-27 06:49] HHChaos commented on #2829
This bug has been fixed, but two other animation bugs have been found:
- Animation bug when SelectedIndex does not change continuously.
- ManipulationDelta events related animation bug.

![bugdisplay](https://user-images.githubusercontent.com/9880072/53471168-c6704100-3a9e-11e9-8fca-c3c15f71ab86.gif)

I will submit pr after all fixes are completed.

[2019-02-27 07:36] AtosNicoS commented on #944
Hi,
I came from this stackoverflow post:
https://stackoverflow.com/questions/51379524/open-emoji-panel-from-code-in-uwp-app

Does anyone here know how to use this Picker programatically on UWP? It is exactly what I need, but I dont know how to call it in my Code. And assuming the user knows this super hidden key combination is very unlikely.

[2019-02-27 09:10] Javier118 opened #2833 "How to print stroke Inkcanvas in Uwp"
I have problem when printing the stroke of Inkcanvas I'm using Windows. Community. Toolkit

[code]

[2019-02-27 10:21] AndreasLuebbers commented on #2831
that's also ok for me and worked, but wouldn't it be cool to have this cool OnDevice also for other types generally? But I understand it is working as designed, and I implemented my own OnDeviceVisibility Class. It is not so good to make a pull request of it. If somebody need it, please contact me...

[2019-02-27 13:14] HHChaos commented on #2829
These are probably caused by the bug of `DoubleAnimation`. In some cases (for example,`PlaneProjection.RotationY` from 45 to -45), it will flash the view when the animation is finished, and the view will remain in the wrong state.

I can simply reproduce in a sample.
![animationbug](https://user-images.githubusercontent.com/9880072/53492635-4d8bdc00-3ad4-11e9-9ff6-4ab16f930924.gif)

I didn't think

[2019-02-27 14:02] kbrons commented on #2832
After taking a look, it seems that `CreateCollisionOption.OpenIfExists` doesn't have a correct translation to a OneDrive conflict resolution behavior (the only ones are _fail_, _replace_ or _rename_). For this specific case, we should check if the file exists manually and open it instead. This is the code being used for the translation.

![image](https://user-images.githubusercontent.com/14252330/

[2019-02-27 14:12] kbrons commented on #2833
Hi @Javier118, you're having problems printing something from the Ink Canvas on UWP? The Ink Canvas control is for WPF and WinForms, do you mean the Infinite Canvas?

[2019-02-27 14:17] Oblomoff commented on #2828
I can. Binding to ElementName in DataGridTemplateColumn.CellTemplate does not work at all. See the attachment.
[App.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2910621/App.zip)

[2019-02-27 17:01] skendrot commented on #2822
@JustinXinLiu See #2824

[2019-02-27 18:22] JohnGalt1717 commented on #2226
how does one put in the exemption when using webview or webviewcompatible with WPF?

[2019-02-27 18:34] Javier118 commented on #2833
This problem the InkCanvas Uwp , When you launch the wizard comes out blank. InkCanvas is infinite has no height and long

[2019-02-27 18:50] kbrons opened #2835 "PrintHelper fails when not using Direct Print"
## I'm submitting a...

- Regression (a behavior that used to work and stopped working in a new release)
- Bug report (I searched for similar issues and did not find one)

## Current behavior

When trying to print without using direct print, the print task fails.

## Expected behavior

The print task doesn't fail.

## Minimal reproduction of the problem with instructions

Using the sample app, ope

[2019-02-27 18:55] skendrot commented on #2819
Shouldn't the values be surrounded in parentheses?

[2019-02-27 19:03] kbrons commented on #2833
Can you upload a project with that issue?

[2019-02-27 19:10] batarmanrookie commented on #2833
Lolll sorry guy’s i am a auto-proclamed IT Pro and i barely survive in programmation so sometimes i try thing’s and it’s not the good things!! Like include put #Onmyadmin! Log or try to make rule with a non-sense result

Provenance : Courrier<https://go.microsoft.com/fwlink/?LinkId=550986> pour Windows 10

________________________________
De : Kevin Bronstein <notifications@github.com>
Envoyé : We

[2019-02-27 21:17] Javier118 commented on #2833
xaml -UWP
`<Grid
        x:Name="ContentArea"
        Margin="{StaticResource MediumLeftRightMargin}">

        <Grid.RowDefinitions>
            <RowDefinition Height="48"/>
            <RowDefinition Height="*"/>
        </Grid.RowDefinitions>

        <TextBlock x:Name="TitlePage"
                   x:Uid="Ink_Title"
                   Style="{StaticResource PageTitleStyle}"  Foreground="{Theme

[2019-02-28 01:01] batarmanrookie666 commented on #2833
Thx guy! Alway’s be facinated by that i dont know why but now i understand better... 3 😊

Provenance : Courrier<https://go.microsoft.com/fwlink/?LinkId=550986> pour Windows 10

________________________________
De : Javier118 <notifications@github.com>
Envoyé : Wednesday, February 27, 2019 4:18:12 PM
À : windows-toolkit/WindowsCommunityToolkit
Cc : Batarmanrookie; Comment
Objet : Re: [windows-toolk

[2019-02-28 09:12] maddentist commented on #2835
Just if it is any help or usefull information, I have the exact same problem with 5.1

Environment
Nuget Package(s):
Microsoft.Toolkit.Uwp

Package Version(s):
5.1

Windows 10 Build Number:
- [ ] Fall Creators Update (16299)
- [ ] April 2018 Update (17134)
- [ ] October 2018 Update (17763)
- [X] Insider Build (build number: 18346 )

App min and target version:
- [ ] Fall Creators Update (16299)
-

[2019-02-28 14:56] kbrons commented on #2833
Based on how the InkCanvas works, you won't be able to print the drawings using the toolkit's PrintHelper directly.

To get the drawings from the InkCanvas, you can use the [InkPresenter](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.inkcanvas.inkpresenter) property, which handles the drawings themselves. From there, you can use the [StrokeContainer](https://docs.microsoft.com/

[2019-02-28 14:56] #2833 closed

[2019-02-28 23:07] michael-hawker commented on #2276
Going to close this issue as we addressed the majority of concerns in the 5.1 release.  Any other accessibility issues should be addressed by opening new issues per item.

[2019-02-28 23:07] #2276 closed

[2019-03-01 04:48] Arslan007 commented on #2741
@michael-hawker Any luck ??

[2019-03-01 12:49] Sergio0694 opened #2837 "The WrapPanel incorrectly adds spacing for collapsed items"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior
When the `WrapPanel` control contains one or more items that have their `Visibility` property set to `Visibility.Collapsed`, it still adds spacing between them even if they effectively take up no space on their own. This results in the other, visible controls, to have an increased and inc

[2019-03-01 14:36] Sergio0694 commented on #2804
@michael-hawker I've just opened a PR request with a fix for both this and another issue in the `WrapPanel` control I found today, hope this helps! 👍

[2019-03-01 18:29] michael-hawker commented on #2741
@Arslan007 sorry I haven't had a chance to track down the device yet.  I'll see if I can get one to test next week.

[2019-03-02 03:03] robloo commented on #2786
I also ran into the need to receive notification that column width changes. It's necessary to recalculate the view model which the DataGrid is updated from. A "ColumnHeaderWidthChanged" event as mentioned in #2249 might also work for the mentioned use case instead of a DependencyProperty.

[2019-03-03 01:42] htxryan opened #2840 "TextBoxRegex IsValid property cannot be bound due to a typo in the 'Set' method (attempts to set ValidationMode property instead of IsValid)"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

**Note: I've got a PR ready. Creating this issue before submitting the PR.**

## Current behavior
'IsValid' property cannot be bound, as it's 'Set' method attempts to set the wrong DependencyProperty.

## Expected behavior
'IsValid' property's 'Set' method targets the correct property.

## Minimal reproduction

[2019-03-03 17:31] mani009 commented on #2835
@kbrons same reason at issue #2773. I fixed the the problem by removing the DispatcherHelper.ExecuteOnUIThreadAsync.

[2019-03-04 13:11] bent-rasmussen opened #2842 "UWP DataGrid.RowDetailsVisibilityMode.VisibleWhenSelected performance issue"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

See reproduction of issue at this github bug repro:
[DataGridRowDetailsPerfTest](https://github.com/observito/DataGridRowDetailsPerfTest)

## Current behavior

Scrolling performance degrades dramatically when the `DataGrid` property `RowDetailsVisibilityMode` is set to `VisibleWhenSelected`. There is no issue

[2019-03-05 12:08] mvegaca opened #2844 "Typo: SetListDataItemForNextConnectedAnnimation"
### Typo issue

#### Method
SetListDataItemForNextConnectedAnnimation

#### File
**Microsoft.Toolkit.Uwp.UI.Animations/ConnectedAnimations/Connected.cs**

#### Correct value
SetListDataItemForNextConnectedAnimation

#### Original Issue in [WTS](https://github.com/Microsoft/WindowsTemplateStudio/issues/2969)

[2019-03-05 12:17] #2844 closed

[2019-03-05 12:18] mvegaca commented on #2844
The Issue is already fixed in 5.1

[2019-03-05 20:13] michael-hawker commented on #2819
@encrypt0r can you help me understand the scenario here a bit more?  I'm a bit confused on where the `\` character is coming from or why its needed in this example?

[2019-03-05 20:42] michael-hawker commented on #2840
Thanks @htxryan for the fix!

[2019-03-05 20:42] #2840 closed

[2019-03-05 20:50] encrypt0r commented on #2819
@michael-hawker Sure, the country code for Iraq is `+964` ([many country codes contain `9`](https://countrycode.org/)), but `9` is a variable by default and is rendered as `+_64`. So we need a way to escape variables, I propose we use `\` to escape the variables. So we write `+\964` and it should be rendered as `+964` (The `9` is now treated as a fixed character).

[2019-03-05 22:35] michael-hawker commented on #2819
Thanks @encrypt0r, I understand now; I had confused myself earlier.

This definitely seems like an oversight from the original design/implementation.  We probably should have used `#` or something instead of `9`, but that'd be too big of a change.  I do like the idea of using the standard `\` escape style character, but then we'd also have to support `\\` to make parsing easier/reliable.

I'm goin

[2019-03-06 01:49] arcadiogarcia opened #2845 "The ImageCropper control doesn't allow to set the CroppedRegion"
## I'm submitting a...

 - Feature request (UserVoice request: )

## Current behavior
The ImageCropper control doesn't allow to set the CroppedRegion

## Expected behavior
Being able to set the CroppedRegion procedurally allows the app to specify a default crop region.

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2019-03-06 01:51] michael-hawker commented on #2845
@HHChaos this should be pretty straight-forward to add, no?  Did you want to look at this for 6.0?

[2019-03-06 01:52] michael-hawker commented on #2842
@RBrid?

[2019-03-06 01:54] michael-hawker commented on #2832
I'm wondering if it makes sense to remove the || for the OpenIfExists for the time being until we can provide a better solution?  Thoughts?

[2019-03-06 01:57] arcadiogarcia commented on #2845
@michael-hawker Just sent a PR with the changes. It seemed straightforward, but of course I'd appreciate @HHChaos input in case I missed something :)

[2019-03-06 01:58] michael-hawker commented on #2730
@ST-Apps did you still want to submit a PR for the fix?  @deanchalk please feel free to review it as well.

[2019-03-06 02:05] michael-hawker commented on #2744
@Odonno assigned to you, not sure why it got assigned back to me when I muted the bot.  We're doing a patch release this week.  You have time this week to submit a PR or should I leave this in the 6.0 bucket?

[2019-03-06 02:09] HHChaos commented on #2845
Thanks @arcadiogarcia !
@michael-hawker I agree.This looks like a great change!

[2019-03-06 08:26] Odonno commented on #2744
Will do it asap then.

[2019-03-06 13:34] kbrons commented on #2835
@mani009 that was added because the PrintHelper failed when being used on child windows. I'm looking into another solution

[2019-03-06 18:39] marianstdt commented on #2823
Could you gives us some more info about the desktop Pc's that crashed? and the environments where it happened? @Paradoxon101

[2019-03-06 21:42] RexfelisLOC commented on #2373
The following does not work either to change the background.  The foreground changes but the background does not.

    <Style x:Key="ColumnHeaderStyle" TargetType="primitives:DataGridColumnHeader">
        <Setter Property="Foreground" Value="Red"/>
        <Setter Property="Background" Value="Green"/>
    </Style>

[2019-03-07 01:07] h82258652 opened #2847 "Unable to remove the ReorderGridAnimation"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior

After setting the ReorderGridAnimation, unable to remove.

## Expected behavior

Can set ```ReorderGridAnimation.Duration``` property to ```double.NaN``` and remove the animation.

## Minimal reproduction of the problem with instructions

I try ```double.NaN``` and 0, but both get an ex

[2019-03-07 06:50] Paradoxon101 commented on #2823
Unfortunately this bug occurs with our customers and not during development. Therefore I cannot give you more details. However, we suspect that these are very slow PCs.

[2019-03-07 14:25] lucaasrojas commented on #2847
@h82258652 have you tried without the ReorderGridAnimation.SetDuration()?

[2019-03-07 14:27] lucaasrojas commented on #2847
@h82258652 Could you upload a reproduction app?

[2019-03-07 17:08] skendrot commented on #2847
What's the reason for wanting to add it and then remove it?

[2019-03-07 18:16] ST-Apps commented on #2730
@michael-hawker done, waiting for a review.

[2019-03-07 20:11] #2804 closed

[2019-03-07 20:19] skendrot commented on #2829
I do not see any issues when using the mouse wheel. Can you give more details as to what you are seeing?

[2019-03-07 20:23] Sergio0694 commented on #2837
Fixed with PR #2838.

[2019-03-07 20:23] #2837 closed

[2019-03-08 01:22] h82258652 commented on #2847
@skendrot
I create a default style for all ```GridView``` in my app.
[code]
But now, I just want only one ```GridView``` don't have this animation. So I set to ```double.NaN``` and got an exception.

[2019-03-08 01:32] h82258652 commented on #2847
@lucaasrojas
https://github.com/h82258652/ReorderGridAnimationBugDemo

[2019-03-08 14:25] #2822 closed

[2019-03-08 15:35] marianstdt commented on #2823
Could you at least find the windows 10 Build Number for the Pc's that show this problem?

[2019-03-09 10:33] hovek opened #2851 "How am I supposed to use this Microsoft.Toolkit.Wpf.UI.Controls?"
I've added              xmlns:extensions="clr-namespace:Microsoft.Toolkit.Wpf.UI.Controls;assembly=Microsoft.Toolkit.Wpf.UI.Controls"

and <TextBox extensions:  is not offering anything. Where is the documentation?

[2019-03-09 15:41] RowanFazio opened #2853 "ListView with ScrollHeader"
## I'm submitting a...

Question or Bug report ? I don't know 😐

## Current behavior

ListView with ScrollHeader and WrapPanel (ItemsPanel.ItemsPanelTemplate)

## Expected behavior

I have a ListView in my page. and i using of **ScrollHeader** with Mode="Fade"
And for my ItemsPanelTemplate i use of WrapPanel control.
So, my listview items with ScrollHeader content in the form of horizontally align

[2019-03-11 04:24] michael-hawker commented on #2853
Thanks @RowanFazio, I'm not sure if I follow from your description what your expected result is to be.

If you think this is more of a question vs. a bug report, you can also post on [Stack Overflow](https://stackoverflow.com/questions/tagged/windows-community-toolkit) with the `windows-community-toolkit` tag.

[2019-03-11 14:57] JeremyFerreira opened #2854 "DataGridTemplateColumn disables Horizontal scrolling"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

Horizontal Scrollbar disapears when adding **DataGridTemplateColumn** via XAML in the **Columns** property of the DataGrid.

## Expected behavior

Component extends and the Horizontal Scrollbar appears.
It works when I remove the **DataGridTemplateColumn** column.

## Minimal reproduction

[2019-03-11 15:23] JeremyFerreira commented on #2854
Solved !

This was a basic fatigue-driven mistake.
I removed a wild `Width="44*"` from the XAML.

[2019-03-11 15:23] #2854 closed

[2019-03-11 16:08] skendrot commented on #2853
Closing with resolution in [Stack Overflow](https://stackoverflow.com/a/55105991/1054961)

[2019-03-11 16:08] #2853 closed

[2019-03-12 11:46] Paradoxon101 commented on #2823
of course

100% == All PCs with XamlParseException

84% -> 10.0.17134.590
7% 	-> 10.0.17134.523
5% 	-> 10.0.17134.472
2%	-> 10.0.17763.316
2%	-> unknown

[2019-03-12 14:50] Zangl opened #2857 "XamlRoot"
## I'm submitting a...

## Current behavior
If I use WindowsXamlHost in my WPF app and maximize or minimize the window I get a MissingMethodException.

Stack trace -

Maximize or Minimize the app produces - System.MissingMethodException
HResult=0x80131513
Message=Method not found: 'Windows.UI.Xaml.XamlRoot Windows.UI.Xaml.UIElement.get_XamlRoot()'.
Source=Microsoft.Toolkit.Wpf.UI.XamlHost
StackTra

[2019-03-12 14:57] kbrons commented on #2832
Sounds like a good idea. We should also add that the option is not supported now to the code and the docs. Perhaps it might be a good idea to add the workaround to the docs as well.

[2019-03-13 03:31] blakepell opened #2858 "Feature Request: Virtualized RichEditBox"
I'm submitting a feature request for a Virtualized RichEditBox

Uservoice: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/37090696-virtualized-richeditbox

I've had difficulty located examples on how to display and/or edit large files in UWP.  It's my understanding the solution to this would be a VirtualizedRichEditBox.  The current RichEditBox (or RichTextBlock,

[2019-03-13 12:37] Javier118 commented on #2835
I am using the vserion 5.01 Community. Tookit in an app I get the wizard shows me what InkCanvas done but then I give the button of the assistant to print is not able to print, the printer works Correctamnete Impremiendo with other app. Can be a Community. ToolKit Bug

`private  async void Printer_Click(object sender, RoutedEventArgs e)
        {
            //Craete Bitmap from strokes

[2019-03-13 12:58] Javier118 commented on #2835
I'm using the version 4.0 to print the 5.0 seems to have a Bug

[2019-03-13 15:00] marianstdt commented on #2823
I tried this on a Windows 10 VM with version 1803 (17134.1 ) and I was able to replicate the issue, but only when running the code alongside the toolkit, if I used the NuGet packages it worked correctly. The issue pops when the ResourceManager tries to match a String with a URI as you can see in the snip below.

<img width="551" alt="Untitled picture" src="https://user-images.githubusercontent.com

[2019-03-13 19:36] kbrons commented on #2744
PR merged, closing issue.

[2019-03-13 19:36] #2744 closed

[2019-03-13 20:40] marianstdt commented on #2823
I found that the conditional XAML on the InAppNotification.xaml that checked for the UniversalApiContract was set to version 5, while the IXamlType2 interface was introduced in version 7 as you can see here. I tested this change in the VM and it run without any issues.

<img width="1236" alt="Annotation 2019-03-13 162104" src="https://user-images.githubusercontent.com/4763385/54312005-9784bf80-45b

[2019-03-14 01:44] michael-hawker opened #2862 "DropShadowPanel performance is poor with Rectangular Geometries"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
We always alpha-mask a DropShadowPanel, this is a slower operation.

## Expected behavior
Have option to turn off Mask, so rectangular geometries can use shadows with better performance from composition layer.

## Environment

[code]

[2019-03-14 04:33] dpaulino commented on #2858
I want to climb atop a mountain and scream, "I need this too".

I built a UWP rest api client, and while it's mostly stable, the one thing that can reliably crash it is when the user pings an endpoint that returns over thousands of lines of json/xml. That breaks the textbox I use to display the response string and I'm livid that I cannot do anything about this since it's a platform limitation.

I

[2019-03-14 13:09] RexfelisLOC opened #2864 "DataGrid Does Not Allow XB1 Controller Right Thumbstick Scrolling"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

DataGrid does not allow vertical scrolling with the right thumbstick on Xbox One like ListView, GridView, etc.

## Expected behavior

When the DataGrid control has the XB1 cursor over it, the right thumbstick will scroll the control data.

## Minimal reproduction of the problem with instru

[2019-03-14 14:19] kbrons commented on #2835
Hi @Javier118, the issue you're currently having sounds to be related to this one. We have an open PR right now that solves the issue. If you'd like to give it a try and see if it fixes it, I can upload a nuget package with the PR code. Otherwise, we'll be releasing a patch (5.1.1) soon solving this issue and others from the 5.0 and 5.1 releases.

[2019-03-14 17:24] michael-hawker commented on #2805
PR merged, closing issue, not sure why we didn't close it before.

[2019-03-14 17:24] #2805 closed

[2019-03-14 17:54] #2730 closed

[2019-03-14 17:56] michael-hawker commented on #2725
@sohchatt is going to update the Lottie descriptions and @kbrons is looking at the Win32 ones quick, then we'll close this out later today.

[2019-03-14 18:46] michael-hawker commented on #2847
Merged!

[2019-03-14 18:46] #2847 closed

[2019-03-14 18:47] michael-hawker commented on #2847
Thanks @h82258652 for the fix!

[2019-03-14 18:59] michael-hawker commented on #2829
@skendrot what version are you on, I'm on RS5 and seeing some issues with the animations described, especially when I try and toggle `Invert Positive`.

[2019-03-14 19:14] michael-hawker commented on #2829
@HHChaos I've merged your fix for the initial issue, thanks!  Would you mind summarizing the other set of issues in a new issue that we can assign to the 6.0 milestone.  Really appreciate you diving in here and helping out!

[2019-03-14 19:37] michael-hawker commented on #2725
Closing now as we have https://github.com/windows-toolkit/Microsoft.Toolkit.Win32/issues/98 tracking Win32 work, and Lottie is being updated now too.

[2019-03-14 19:37] #2725 closed

[2019-03-14 19:44] michael-hawker commented on #2627
Merged, thanks @avknaidu!

[2019-03-14 19:44] #2627 closed

[2019-03-14 21:19] blakepell commented on #2858
@dpaulino I'm exploring using Win2d to create my own text block which I've never used so I don't know all the in's and out's with it.  As a prototype I created a List<string> with 1,000,000 elements, a CanvasControl and a ScrollBar.  When the ScrollBar "Scroll" event fired I called "Invalidate" on the CanvasControl which fires it's "Draw" method.  If you were creating TextBlocks with Runs you'd ju

[2019-03-14 21:33] dpaulino commented on #2858
@blakepell sounds good. If you're also willing to try, there's a powerful WPF text editor control called Avalon Edit. I wonder if we could fork it and make it run on UWP? https://github.com/icsharpcode/AvalonEdit

[2019-03-14 21:35] dpaulino commented on #2858
Looks like a couple people tried to bring it to UWP three years ago, but they abandoned it almost as soon as they started. https://github.com/coderobin/AvalonEdit

[2019-03-14 21:38] blakepell commented on #2858
I saw that also. :D  Hehe.  The Monaco editor was something I looked at also (that's the editor behind VS Code).  There's a wrapper control to use it in UWP but I think it also has some performance issues with too much content.

[2019-03-14 21:55] michael-hawker commented on #2825
PR merged, thanks for the report and fix @DL444! 👍

[2019-03-14 21:55] #2825 closed

[2019-03-14 22:01] blakepell commented on #2858
To show you what I was playing with and how little code it was initially.  This was in a blank uwp app with Win2d added via NuGet.  You can get a feel for how fast it scrolls and renders.

[code]
[code]

[2019-03-15 01:05] DL444 opened #2865 "HeaderedContentControl does not respond to orientation set before displaying"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior

HeaderedContentControl does not respond to orientation set before applying control template (for example, in XAML markup).

## Expected behavior

The control visual should reflect the orientation property value.

## Minimal reproduction of the problem with instructions

1. Prepare test

[2019-03-15 02:58] HHChaos commented on #2829
@michael-hawker  Agree, we need to open a new issue for it.

[2019-03-15 03:08] HHChaos opened #2867 "Carousel animation bug when InvertPositive=true"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior
When InvertPositive=true, the Carousel view displays incorrectly in some cases.

## Expected behavior
We should make sure that the transformation of each item is correct.

## Minimal reproduction of the problem with instructions

Change SelectedIndex (a discrete number) from the sample a

[2019-03-15 03:12] HHChaos commented on #2867
This is different from the bug that is reported in #2829.
I've described it here(https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2829#issuecomment-467857202) and tried to fix it, but I found that the code seemed to be correct, just the animation was running incorrectly.

[2019-03-15 03:15] HHChaos commented on #2829
@michael-hawker I opened a new issue and closed this one.

[2019-03-15 03:15] #2829 closed

[2019-03-15 04:14] michael-hawker opened #2868 "Other Carousel Animation Bugs"
This bug has been fixed, but two other animation bugs have been found:
- Animation bug when SelectedIndex does not change continuously.
- ManipulationDelta events related animation bug.

![bugdisplay](https://user-images.githubusercontent.com/9880072/53471168-c6704100-3a9e-11e9-8fca-c3c15f71ab86.gif)

I will submit pr after all fixes are completed.

_Originally posted by @HHChaos in https://github

[2019-03-15 04:14] michael-hawker commented on #2868
@HHChaos apparently GitHub lets you create an issue from a comment, that's super handy, I had no idea this feature existed.  Here's the other issue we said we needed to pull out for later too.

[2019-03-15 04:15] michael-hawker commented on #2865
Thanks @DL444 for this new issue and fix, you're on a roll!  I'm looking at your PR now.

[2019-03-15 09:23] Paradoxon101 commented on #2823
I'm sorry, but how do I test it? I only use the Nuget component and the store download for the Xbox.

[2019-03-15 12:57] #2865 closed

[2019-03-15 17:31] marianstdt commented on #2823
Hi @Paradoxon101 , I'll send you the .nupkg file, you can add it to the project via powershell , you can see an example [here](https://docs.microsoft.com/en-us/nuget/tools/ps-ref-install-package#common-parameters).

[Microsoft.Toolkit.Uwp.UI.Controls.5.1.0-build.176.g1a6c9ea43e.nupkg.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/2972226/Microsoft.Toolkit.Uwp.UI.Controls.5.1

[2019-03-15 19:35] michael-hawker commented on #2816
I also made a pure XAML version that repros in the Sample App:

[code]

[2019-03-15 20:23] michael-hawker commented on #2816
We may need to try and repro with just the composition APIs and not our helpers to see if this is a platform issue or a toolkit issue, as I see our collections on both.

[2019-03-15 20:30] michael-hawker commented on #2818
@MSiccDev can you confirm in a repro steps if this occurs only after expanding/collapsing the blade using the button?  i.e. does updating your ViewModel work to change the state of the blade until the button is used?

If so, I would think the problem is [here](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/BladeView/BladeItem.cs#L110) where

[2019-03-15 20:33] #2835 closed

[2019-03-15 20:33] #2773 closed

[2019-03-15 20:51] marianstdt commented on #2818
I could update the property from the ViewModel using x:Bind on two way mode in the XAML and adding the INotifyPropertyChanged to the ViewModel and on the setter using the PropertyChangedEventHandler.

![image](https://user-images.githubusercontent.com/4763385/54460740-3510f800-4749-11e9-9108-db8f1f8bebf8.png)

![image](https://user-images.githubusercontent.com/4763385/54460812-6689c380-4749-11e9-9

[2019-03-15 20:53] #2862 closed

[2019-03-15 21:40] skendrot commented on #2818
Closing as not reproducible. I created a regular viewmodel and was able to bind the IsExpanded property without issue.

[2019-03-15 21:43] michael-hawker commented on #2818
I was able to reproduce in XAML:

[code]

The problem looks to be before the binding takes, it's taking on a 'collapsed' value and when the size changed event hits on load [here](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/BladeView/BladeItem.cs#L99), it's remembering `0` as the size of the blade, so even though it's expanded it's 0 widt

[2019-03-15 21:45] michael-hawker commented on #2818
Thanks @skendrot and @marianstdt for the investigations, don't think this is high-priority until we get more details, but I did find similar odd behavior in XAML binding directly, but not sure if that was how the OP was trying to use it or not.  At least if you've seen it working in a standard way, it shouldn't be a big issue.

[2019-03-15 21:47] michael-hawker commented on #2823
@Paradoxon101 I've merged in our fix as we're trying to get the release out today, but please let us know if it doesn't work for you.

[2019-03-15 21:47] #2823 closed

[2019-03-15 22:03] michael-hawker commented on #2809
Looks like this is going to be a larger issue to fix, so we'll have to move it to the next major release.

[2019-03-17 21:41] Sergio0694 opened #2870 "The NotificationsVisualizerLibrary NuGet package breaks the app build (on 17763, both Debug and Release)"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior

Referencing the `NotificationsVisualizerLibrary` NuGet package ([this one](https://www.nuget.org/packages/NotificationsVisualizerLibrary)) immediately break the app build, both in Debug and Release mode. I've tested this in two different apps (one of those was a completely blank UWP app

[2019-03-18 17:05] GeertvanHorrik opened #2871 "[BluetoothLEHelper] await services subscriptions"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
The services registration happens in `ObservableBluetoothLEDevice.ConnectAsync`. However, the services characteristics are being initialized in an non-async way in the service ctor.

## Expected behavior

After `await ConnectAsync`, I would expect a fully available object (with services),

[2019-03-18 18:07] Sergio0694 commented on #2665
I've just hidden the Facebook integration in my app for now, as the service is still completely broken. You guys might want to add a disclaimer of some sort to that class until it is fixed, so that other devs won't pull their hair out trying to figure out what they're doing wrong and why aren't the Facebook APIs in the toolkit working for them.

[2019-03-18 20:03] cbarkerms commented on #2665
sorry for the delay. I've just created a new app from scratch (UWP + in the FB dev portal) and am not able to reproduce this issue.  here is my step-by-step to make sure we're not doing something different:

1. VS Enterprise 2017 15.7.6 -> File -> New -> Project -> C# -> Windows Universal -> Blank App

![image](https://user-images.githubusercontent.com/11426757/54559292-f1063900-497c-11e9-9bbe-1cc

[2019-03-18 21:05] Sergio0694 commented on #2665
Hi @cbarkerms - thank you for your reply.
So, going through this step by step:
1) Yeah I can create a blank app and login with Facebook without having a crash, that works.
2) Small note: I selected "don't remember this browser" when logging in into the repro app, and the login failed. Further attempts to login failed as well, with no actual prompts to the user to login again. I realize maybe calli

[2019-03-19 04:20] korasoftware opened #2872 "Clear Session Tokens/Cookies from Webview Cache"
## I'm submitting a Documentation issue or request

I am trying to find documentation on how to delete cookies or clear session tokens from the webview, so I can use the webview as part of an authorised login process. If the process fails or then we need to be able to clear the authorisation tokens from the browser storage and start again from fresh. Is this possible with the webview? It seems to

[2019-03-19 08:54] GeertvanHorrik opened #2873 "[BluetoothLEHelper] ObservableGattCharacteristics improvements (respect properties)"
## I'm submitting a...

## Current behavior

The `ObservableGattCharacteristics` does not respect the properties when calling methods.

## Expected behavior

Respect the bluetooth specs.

## Potential fix

These fixes might contain pseudo code:

- `ReadValueAsync`

[code]

- `SetIndicateAsync`

[code]

- `SetNotifyAsync`

[code]

[2019-03-19 17:22] Arslan007 commented on #2741
@michael-hawker Just following up on this dead horse. Any updates on this ?

[2019-03-19 21:13] lucaasrojas commented on #2816
I created a new project to test the CompositionObject animations with a secondary window. In the main window, there are a rectangle that is animated and a button that opens the secondary window with the same animation.
Both animations worked fine, the issue might be linked to the toolkit itself.
XAML Code:

[code]

I needed to add a Canvas to be able to get the rectangle as a Visual object.

File:

[2019-03-20 07:27] doghappy opened #2877 "[Proposal] Need a photoviewer"
I need an in-app photoviewer, just like Skype. sometimes the App display a thumbnail image, and when the user clicks on it, switches to the full-screen preview state, and its background is black, support switch photo.

[2019-03-20 19:23] marianstdt commented on #2815
Hi @duke7553 have you tried using the [LostFocus](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.lostfocus) event for handling this?

[2019-03-21 21:26] michael-hawker commented on #2665
@Sergio0694 I just saw your note about this being a desktop bridge project.  Sometimes the build tools don't properly detect dependencies in these complex projects and thus don't copy the dlls required for the UWP code.  Is the toolkit code references in a class library type project vs. the main app?  What's your project structure look like?

Can you try and copy the required toolkit dll files to

[2019-03-21 22:46] Sergio0694 commented on #2665
Hi @michael-hawker - thank you for chiming in 😊
So, my project basically consists for the most part of just the UWP app (basically 99% of the code is there, and up until recently it was just the UWP app with no Desktop Bridge).
The UWP Toolkit is referenced directly from the UWP app.

The solution is structured like this:
• UWP app
• WinForms program (just used to P/Invoke into `user32.dll` and do

[2019-03-22 16:40] marianstdt commented on #2871
Hi @GeertvanHorrik I see you already investigated the fix for this issue, would it be possible for you to submit a PR with these modifications?

Thanks!

[2019-03-22 17:17] michael-hawker commented on #2665
@Sergio0694 thanks for in the extra info.  Definitely quite strange then that other components work fine.

Since Chris wasn't able to reproduce the issue earlier, would it be possible to get a stripped down version of your project setup with just the minimal login code? (Remember to _remove_ your app id too.)  Then we can try and reproduce the issue again with your specific project/centennial setu

[2019-03-22 17:31] Sergio0694 commented on #2665
@michael-hawker Sure, I will give that a try, thanks again for your help! 😄
*(small note: it might take a while for me to come up with the repro project)*

[2019-03-22 17:37] michael-hawker commented on #2870
Thanks @Sergio0694 for reporting this issue.  As you pointed out this code isn't owned by us.  It looks like the package owner hasn't made any updates in a couple of years either, so it's entirely possible that the new SDK breaking the package is expected.

Since the project site is a blog, I'm not too sure what the project structure for that library was or where the code might be as the blog is n

[2019-03-22 17:41] andrewleader commented on #2870
Hey @Sergio0694, I'm the owner of the NotificationsVisualizerLibrary.

Strange that the new SDK seems to have broke it! I'll take a look today and see if it can be fixed easily.

[2019-03-22 17:43] Sergio0694 commented on #2870
@michael-hawker @andrewleader Wow this was fast, thank you both for your help! 😊
Looking forward to hearing news on this!

[2019-03-22 17:47] michael-hawker commented on #2877
@doghappy [Windows Template Studio](https://github.com/Microsoft/WindowsTemplateStudio) provides an Image Gallery page, is that something similar to what you're looking for?

We've talked about this a few times in the past, but feel a sample (or the template from WTS) is sufficient vs. building out a dedicated control for it.  Please let us know if you feel otherwise or create a UserVoice entry to

[2019-03-22 18:18] andrewleader commented on #2870
Hey @Sergio0694, I'm unable to repro this issue. Here's the steps I took...

1. Created new blank UWP project
2. Selected target SDK=17763 and min SDK 17763
3. Referenced the existing `1.0.5` NotificationsVisualizerLibrary from NuGet
4. Built the app
5. Deployed the app

I'm on VS 15.8.7, so a bit older than yours. Strange that the newer version of VS might be causing it! I'll try updating.

[2019-03-22 18:38] Sergio0694 commented on #2870
@andrewleader Huh, that's weird - I've tested on another machine just to be extra sure and I can confirm that at least here on my side the build is throwing that error as soon as I reference the NuGet package 🤔

[2019-03-22 19:55] andrewleader commented on #2870
Weird, I just tried on a new machine that had a fresh install of Visual Studio (`15.9.9`), and it worked fine for me! The proejct had .NETCore.UWP `6.2.7` installed by default, but even downgrading to `6.1.9`, it still builds successfully for me.

The only other difference in our setups is that I'm using Insider builds of newer versions of Windows, but that seems even less likely to cause the prob

[2019-03-22 20:19] michael-hawker commented on #2665
@Sergio0694, @cbarkerms suggested the facebook dll could be the one missing, do you see this one copied over:

![image](https://user-images.githubusercontent.com/24302614/54850693-09d85c80-4ca5-11e9-9c3c-52be2ace82d7.png)

Since it's a dependency of our dependency, I wonder if it got missed somehow (even though we have it listed in our csproj).

[2019-03-22 20:33] marianstdt commented on #2870
Hi @Sergio0694 I also tried replicating your issue unsuccessfully, I'm currently on build 17763 and VS 15.9.9, I set 17763 as max and min target and referenced _NotificationsVisualizerLibrary_ v1.0.5.
From what I've read this issue can be simple solved as the appxpackagegenerator  is not recognizing any changes in between your last build version with the new one, generally a simple Clean and rebui

[2019-03-22 20:39] Sergio0694 commented on #2665
Hey @michael-hawker - it looks like those .dlls are correctly copied too:

![image](https://user-images.githubusercontent.com/10199417/54851645-ecc67c80-4cea-11e9-920b-76eaa1d43405.png)

Hopefully if I can come up with a small repro that'll help 🤔

[2019-03-22 21:10] Arslan007 commented on #2741
@michael-hawker Just checking it again before its forgotten :)

[2019-03-22 22:01] #2813 closed

[2019-03-24 10:13] M-Zuber opened #2879 "UI development tool"
There is a tool called [Storybook](https://storybook.js.org/) which allows a developer to "host" a component outside
of the context of a running app.
Storybook accomplishes this by acting as a "host" for a given component termed a "story".
Within each story, the developer can add the different possible states by passing the
data in the relevant shape to the component that is currently in scope.

T

[2019-03-24 15:54] MSiccDev commented on #2818
Indeed, I was trying to update the property via regular binding. The XAML above does reflect what I tried to do.

[2019-03-24 19:23] RowanFazio opened #2880 "ListView Items bug when using of IncrementalLoadingCollection"
## I'm submitting a...

Bug report

## Current behavior

I am using of IncrementalLoadingCollection for my ListView.
If on my listview item creating a control with _C# - code behind_ (when clicked a button on my listview item), this control will be added current item and to several other items.

This is my code for create control and add to current item:

       `        foreach (var item in myCla

[2019-03-25 03:31] #2877 closed

[2019-03-25 13:07] kbrons commented on #2880
Hi @RowanFazio, thanks for submitting the issue! Could you upload a reproduction project for this bug?

[2019-03-25 21:15] Bmartin2013 commented on #2879
Hi, @M-Zuber  thanks for your proposal! Please create an [uservoice ](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit) entry to approve your feature request

[2019-03-25 21:46] nCastle1 opened #2881 "BladeView open/close animation crashes Desktop Window Manager (dwm.exe)"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

When expanding or collapsing a BladeView blade, dwm.exe crashes. The gif below only shows a portion of my screen, but when the recording blacks out, so does my entire desktop on both monitors.

![2019-03-25_14-05-45](https://user-images.githubusercontent.com/29742178/54954109-1cea6700-4f07

[2019-03-25 23:48] nCastle1 commented on #2881
@fragmer reproduced on his device and produced a stack trace:

[code]

[2019-03-26 09:57] RowanFazio commented on #2880
@kbrons Thanks.
https://github.com/RowanFazio/IncrementalLoadingCollection
for example:
Click on the first three items, to control created to be display in item, and scroll down, You also see this control in other items 😂

[2019-03-26 12:12] pmmachado1971 commented on #2459
Hi @copernico2k  did you ever find a soltution for this problem?
I've tried with latest uwp toolkit 5.1.1 and still have this problem ...
With version 4 the exception was thrown after printing or closing the window. with 5.1.1 its thrown even before preview ...

Thanks.

[2019-03-26 16:03] GeertvanHorrik commented on #2871
Unfortunately the toolkit no longer targets the version that supports mobile, so the interest is very low. But I might find some time in the near future.

[2019-03-26 18:00] michael-hawker commented on #2879
Thanks for posting here @M-Zuber, I'm not sure if I completely follow, but I'll have to check out Storybook more to understand how it works more.  This may also be a project in itself vs. something for the toolkit.

Have you used [XAML Studio](https://aka.ms/GetXamlStudio)?  It's a little more developer-centric as it requires XAML knowledge and only does front-end + data-source with no coding.  Bu

[2019-03-26 18:08] michael-hawker commented on #2881
@nCastle1 thanks for the report.  You can also file against the DWM by using Feedback Hub (Windows Key+F), you should be able to attach logs and reproduce the issue with their recorder as well.  If you post the link to that Feedback Hub issue here too, I can try and escalate to the right folks on the DWM team.

Since it only repros on certain machines, this could be some graphics/hardware related

[2019-03-26 18:23] michael-hawker commented on #2714
This could be a good discussion to have on the [WinUI](https://github.com/Microsoft/microsoft-ui-xaml) repo as well as they're all C++ based.  If there's enough demand, it could be a good candidate to graduate from C# in the Toolkit to C++ in WinUI.

Could be good to reference the original [UserVoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/6127765-datagrid

[2019-03-26 23:55] #2597 closed

[2019-03-28 10:57] christian-clausen commented on #2842
I have done some performance analysis and implemented an experimental code change that at least works for our scenario.

The code causing bad performance is in ```DataGrid.ScrollSlotsByHeight``` (from ```DataGridRows.cs```). There is a check for 'very large scroll' that excludes the case ```DataGridRowDetailsVisibilityMode.VisibleWhenSelected```:

[code]

Consequently, the large scroll optimizatio

[2019-03-28 15:50] hupo376787 opened #2882 "Xaml Internal Error error WMC9999: Cannot find type Microsoft.UI.Xaml.Controls.IDynamicAnimatedVisualSource in module"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

I'm trying to use lottie in a new project, I followed all the instructions described in [Getting Started with Lottie-Windows](https://docs.microsoft.com/zh-cn/windows/communitytoolkit/animations/lottie-scenarios/getting_started_json)

But when I designed the xaml, the designer reports erro

[2019-03-28 16:02] Sergio0694 commented on #2683
@kbrons Can confirm that the warning is still there even on `5.1.1` when using the .`NETCore.UWP 6.2.3 package`.
Reverting to `6.1.9` seems to solve the issue.

Potentially related: I should note that the `6.2.3` package completely breaks the build in some scenarios where other UWP libraries are related, targeting `6.1.9` instead. And the `6.2.8` has that known issue with the install/upgrade proce

[2019-03-28 16:45] kbrons commented on #2882
Hi @hupo376787, it seems that you're not using the right control. The name of the control you should use from the `Microsoft.UI.Xaml.Controls` namespace is `AnimatedVisualPlayer`. The code you provided is trying to use `AnimatedVisualSource`, which is not a control.

Closing the issue, let us know if the issue isn't solved with this change.

[2019-03-28 16:45] #2882 closed

[2019-03-28 18:00] kbrons commented on #2880
@RowanFazio I've been taking a look at the repo, and it seems your issue comes from the [ListView's caching](https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/optimize-gridview-and-listview), which is part of the framework. As the XAML is what's being cached, you can declare everything in XAML and use a property on your DataContext that binds to the visibility of the element. These are

[2019-03-28 18:00] #2880 closed

[2019-03-29 02:14] HHChaos opened #2883 "Tooltip of RangeSelector should automatically disappear"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

Tooltip will always exist when clicked with the mouse.

![bug](https://user-images.githubusercontent.com/9880072/55204874-9639d080-520b-11e9-91b0-c6a1fd38897b.gif)

## Expected behavior

Tooltip should disappear automatically after the operation is completed.

## Minimal reproduction of

[2019-03-29 02:22] hupo376787 commented on #2882
@kbrons Hi, I forgot to change the code. Here is the MainPage.xaml:
[code]

App.xaml:
[code]

The designer still reports
`Error XDG0008  namespace“using:Microsoft.UI.Xaml.Controls” does not contain “AnimatedVisualPlayer”	App2	MainPage.xaml	14	`

[2019-03-29 09:16] HHChaos opened #2884 "Feature Request: Enhance the experience of RangeSelector"
## I'm submitting a...

- Feature request (UserVoice request: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/37233202-enhance-the-experience-of-rangeselector )

## Current behavior

RangeSelector lacks some useful features.

## Expected behavior

I am looking forward to the following improvements to RangeSelector
1. Add the ability to set the minimum/maximum selec

[2019-03-29 13:43] kbrons commented on #2883
Thanks for reporting the issue, but it's a duplicate of #2730, which has already been fixed on PR #2849. Closing the issue.

[2019-03-29 16:48] kbrons commented on #2882
Have you installed the prerelease version of the Microsoft.UI.Xaml nuget? I'm currently using the 2.1 version without issues.

This is a working version of your project, let me know if you have any other issues.
[WindowsLottieBugOrNot-master.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/3023636/WindowsLottieBugOrNot-master.zip)

[2019-03-29 18:12] nCastle1 commented on #2881
@michael-hawker https://aka.ms/AA4nz59 I had some issues with the feedback hub app - it crashes whenever I do anything with attachments, so I'm not confident the recording worked. Let me know if I can provide any other resources to the DWM team.

[2019-03-29 18:59] RowanFazio commented on #2880
@kbrons Thanks.
Use hiding (visibility) method is not good! [this project](https://github.com/RowanFazio/IncrementalLoadingCollection) for your testing (To understand my meaning/problem) and this is not a big project!
I am creating an Instagram client and this app processing is big and relatively high. I have this problem in several parts of my project. and I do not want to use this method and pro

[2019-03-30 15:13] MikelThief commented on #2638
Hello, are there any further plans on solving this issue?

[2019-03-31 20:04] touseefbsb opened #2885 "Feature Req : max number of items in AdvancedCollectionView"
## Feature Request

Add a property to set a maximum limit of items on AdvancedCollectionView or maybe provide a way to apply linq queries apart from straight forward filter predicated and sorting?

Related stackoverflow question : https://stackoverflow.com/questions/55440392/uwp-limit-the-number-of-items-in-advancedcollectionview

[code]

so as you can see in the code above recentPeople should onl

[2019-04-01 02:16] HHChaos commented on #2883
@kbrons I downloaded the latest code and found that the problem was still there.
They seem to be unrelated. Are you sure this PR fixes the problem mentioned here?

[2019-04-01 05:34] KexyBiscuit commented on #2373
Also, when changing theme from Dark to System(on my system it's Light), all text rows are totally white, instead of changing into black, making them invisible.

[2019-04-01 07:57] Paradoxon101 commented on #2823
Version 5.1.1 now works great on Xbox and PC. Thanks a lot!

[2019-04-01 13:03] kbrons commented on #2885
Hi @touseefbsb, I've labeled the issue as a feature request. However, given that you're using an unsupported version, when this gets implemented you should copy the code of the AdvancedCollectionView to your solution, instead of using it from the toolkit.

Would you like to submit a PR with this feature?

[2019-04-01 20:02] kbrons commented on #2885
I'd think about adding pagination with skip and take, adding an ItemsPerPage property and methods to get the pages.

[2019-04-02 07:37] HHChaos commented on #2883
There is a question, should we add a wait time or transition animation before the tooltip disappears to ensure that the user can see the contents of the tooltip?

[2019-04-02 09:35] touseefbsb commented on #2885
that also might be another way of incremental loading?

[2019-04-02 15:17] GeertvanHorrik opened #2887 "[BluetoothLEHelper] reset notify / indicate state whenever a device gets disconnected"
Related to #2871  and #2873

Whenever a device gets disconnected, the calls to SetNotify and SetIndicate will fail because the internal state will still assume they are set, but that's impossible if a device was disconnected.

[2019-04-03 13:30] Bmartin2013 commented on #2883
I think that's a good idea but if an user swipes the range selector sharply, the transition will look odd. Perhaps the wait time will be better in this case.

[2019-04-03 14:13] HHChaos commented on #2883
@Bmartin2013
Maybe we have a better choice - use implicit animation for the tooltip.
I tested adding the following code to the default style.

[code]

It has a great transition when the sample app is running.

![rangeselectortest](https://user-images.githubusercontent.com/9880072/55485685-808a3800-565d-11e9-8746-9b99d2bde8e8.gif)

[2019-04-03 15:25] Sergio0694 commented on #2870
Hi, thank you both for your help!
You're definitely right, this was probably just caused by that known VS bug that you've already mentioned.
I've installed VS2019 and tried to add the package from there, and I could finally build and run the app even after referencing it 😄

I'm sorry I wasted your time with this issue, I honestly thought this could be related to the package itself, since it was ha

[2019-04-03 15:25] #2870 closed

[2019-04-04 11:30] JohnnyWestlake commented on #2879
Sounds like Microsoft should go back and start undoing their attempts at making Blend progressively more useless. =P

[2019-04-04 11:38] JohnnyWestlake opened #2888 "RangeSlider shouldn't crash if ToolTip is removed from the template"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

- Remove tooltip from RangeSlider template
- NullRef exception during `UpdateToolTipText(…)` method due to element not existing

## Expected behavior

-  `UpdateToolTipText(…)` method should check if null first before updating (and anything else using tooltip)

## Environment
- All

(Not

[2019-04-04 11:47] HHChaos commented on #2888
Yes, I will be willing to help you submit a fix if needed.

[2019-04-05 19:42] Bmartin2013 commented on #2413
Hi! what's the current status of this issue?

[2019-04-05 20:29] #2245 closed

[2019-04-05 20:29] Bmartin2013 commented on #2245
I closed it and create a new one only for WeChat services

[2019-04-05 20:32] Bmartin2013 opened #2890 "Include WeChat Service"
## I'm submitting a...
Feature request --> derived from issue #2245

## Expected behavior

Add new APIs to Microsoft.Toolkit.Services package to support the  WeChat service. These services should follow the same patterns as the existing service in the toolkit.

[2019-04-05 20:40] #2407 closed

[2019-04-05 20:42] #2027 closed

[2019-04-05 20:44] Bmartin2013 commented on #2123
Hi @rvinothrajendran what's the current status of this issue?

[2019-04-05 20:45] #2112 closed

[2019-04-07 09:24] era312 opened #2891 "The DropShadowPanel shadow is not rounded if the panel content is TextBox"
The DropShadowPanel shadow is not rounded if the panel content is TextBox

[2019-04-07 23:50] Almis90 commented on #2665
[code]

it shows the login screen, I put my credentials and after few seconds it returns false without any error. If I try again it just goes to false without showing the popup.

[2019-04-08 00:31] Almis90 commented on #2665
I managed to solve the issue, just update winsdkfb library to the latest version.

[2019-04-08 15:52] michael-hawker commented on #2784
@Bmartin2013 any notes on why this was closed?

[2019-04-08 16:01] Bmartin2013 commented on #2784
@michael-hawker  This issue was solved on this PR https://github.com/Microsoft/microsoft-ui-xaml/issues/85, according to your comment on the PR [#2785](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/2785)

[2019-04-08 17:59] kellcomnet2 opened #2892 "RFI: Microsoft Edge preview builds WinForms control plans."
Where is the proper place to ask/request support for the chromium based edge control?

[2019-04-08 18:11] michael-hawker commented on #2784
@Bmartin2013 yes, it's fixed in the WinUI library, but we're not using their version of the control; so I believe it's still an issue in the platform that we can't leverage yet until we take it as a dependency.

[2019-04-08 18:15] #2779 closed

[2019-04-08 18:26] michael-hawker commented on #2891
@era312 could you please provide some more details following our issue template?  A screenshot would be helpful too along if you could provide the XAML you used, for instance if you can display it in the Sample App.  Thanks!

[2019-04-08 20:43] michael-hawker commented on #895
Closing this as we've added the [ImageCropper Control](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/imagecropper).  If there's sufficient interest, we can open a new issue for any improvements.

[2019-04-08 20:43] #895 closed

[2019-04-08 22:11] michael-hawker commented on #2665
Thanks for the info @Almis90!  Did you do this within your own project or modifying the toolkit reference?

I didn't realize we were using an older version of the library.  We'll have to look at seeing if we can update without much trouble.

[2019-04-09 10:58] Almis90 commented on #2665
hey @michael-hawker I did it within my own project so it's not a big deal (at least for me), if updating causes other issues you can just add this solution in readme for anyone having the same issue

[2019-04-09 14:01] kbrons commented on #2888
The PR was merged, closing the issue.

[2019-04-09 14:01] #2888 closed

[2019-04-09 14:14] JohnnyWestlake commented on #2891
Having a textbox won't generate a mask for DropShadowPanel to use - the only child controls that currently DO generate a non-rectangular mask are Shape, Image, TextBlock and ImageEx. TextBox isn't one of them (at the time this was last discussed there wasn't a nice easy way to generate a proper generic mask for DropShadowPanel)

[2019-04-09 19:39] michael-hawker commented on #2027
Moving this issue to the docs repo [here](https://github.com/MicrosoftDocs/WindowsCommunityToolkitDocs/issues/205)

[2019-04-09 20:23] #2845 closed

[2019-04-10 04:12] yanxiaodi opened #2893 "Do we need a Messenger system or event bus for the pub-sub pattern?"
## I'm submitting a...

### Feature request (UserVoice request: )
We often have a requirement that we need to publish/send messages from one ViewModel and another ViewModel needs to subscribe or receive these messages so they can communicate with each other. I don't find any default implementation in windows community toolkit. Of course, we can create events to pub/sub but I think a common messeng

[2019-04-10 07:08] Odonno commented on #2893
Hi @yanxiaodi

Have you take a look at Reactive Extensions ? https://github.com/dotnet/reactive

It can handle publish/subscribe easily.

[2019-04-10 12:45] HHChaos opened #2894 "Update WinUI to 2.1 to avoid a NavigationViewList bug"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior

There is a NavigationViewList animation bug in the currently used WinUI version (2.0.181011001) in the toolkit sample application.
This bug is described in https://github.com/Microsoft/microsoft-ui-xaml/issues/182, fixed at https://github.com/Microsoft/microsoft-ui-xaml/pull/188 .

## E

[2019-04-10 13:21] lucaasrojas commented on #2665
@Sergio0694 Could you test again the Facebook Service with the last package version? I created an app with the latest version and it worked.

[2019-04-10 17:28] michael-hawker commented on #2894
Thanks for the info @HHChaos, I'd imagine updating the NuGet should be pretty straight-forward.  I don't think I updated the sample app for 5.1.1, so I may try and sneak an update together later, but a bit busy for the next week or two.  I wanted to try and automate the pipeline for the sample app to get it to build in DevOps.

[2019-04-11 21:25] michael-hawker commented on #854
Not sure about all the interactive elements, but agree just a general helper to utilize Canvas for layout of items would be useful.  Going to add to 6.0 for now to think about more later.  I've done some initial testing with doing this with ItemsControl and using a Style setter binding helper.

[2019-04-12 02:55] HHChaos commented on #2884
Another suggestion, we're using a hard-coded formatted tip string here, this is not the right way.
https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/ec5a7618bb9852fe9bc9c041a2036df9230ea11e/Microsoft.Toolkit.Uwp.UI.Controls/RangeSelector/RangeSelector.cs#L587-L593
I think we should add a `TipValueFormat` property to ensure that developers can customize the format of the tip string.

[2019-04-12 12:42] GeertvanHorrik commented on #2887
Important: `StopIndicateAsync` and `StopNotifyAsync` should always reset both values (since it specifies `None`).

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.Connectivity/BluetoothLEHelper/ObservableGattCharacteristics.cs#L370

Also note that whenever indicate is used, notify should be reset and vice versa.

[2019-04-12 17:36] #2809 closed

[2019-04-12 17:54] michael-hawker commented on #2832
I'm going to leave this issue open for now, as there's work to do here still, but at least we won't destruct the files in the mean time.

[2019-04-12 17:56] michael-hawker commented on #2832
Actually, I should create a new issue.  Closing this one.

[2019-04-12 17:56] #2832 closed

[2019-04-12 17:57] michael-hawker opened #2896 "OneDriveService CreateFileAsync OpenIfExists needs Implementation"
We should also add that the option is not supported now to the code and the docs. Perhaps it might be a good idea to add the workaround to the docs as well.

_Originally posted by @kbrons in https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2832#issuecomment-472035772_

[2019-04-12 18:00] michael-hawker commented on #2896
See https://github.com/MicrosoftDocs/WindowsCommunityToolkitDocs/pull/195

[2019-04-12 18:08] michael-hawker commented on #1894
@jamers99 @fatcatz888 sorry for the delay on this, we've been wanting to re-work GridSplitter for a while now.  I'm hoping we can get to it this summer.  I have a new implementation from the UI side I used for something else which fixes the mouse-cursor issues, but some of this underlying logic needs some TLC.

I think @skendrot's point is the best that we need a better strategy all-up for how to

[2019-04-14 01:27] GabrielSoliguetti opened #2898 "System.Resources.MissingManifestResourceException"
## I'm submitting an...

Issue that I'm trying to solve. Please, be patient cause I'm new here.

## Current behavior

I'm trying to use the code:

Private Sub Form1_Load(sender As Object, e As EventArgs) Handles MyBase.Load
        WebView1.Navigate("www.google.com")
    End Sub

...but I'm getting this issue when I run it:

System.Resources.MissingManifestResourceException

## Expected behavior

[2019-04-14 03:19] mfeingol opened #2899 "InAppNotification crashes when not on screen"
## I'm submitting a...

Regression (a behavior that used to work and stopped working in a new release)

(I think...)

## Current behavior

If an app calls Show() on an InAppNotification on Page 1, but the user has navigated to Page 2, the app will crash with an unhandled exception that cannot be handled by the app:

[code]

## Expected behavior

The exception should be handled by the InAppNotifica

[2019-04-14 07:34] meteorsnows opened #2900 "Embed Calculator UWP Control"
## I'm submitting a Feature request (UserVoice request: )
To Embed Calculator as UWP Control
[Related Issue](https://github.com/Microsoft/calculator/issues/453)

## Current behavior
No Calculator Control unlike other UI Toolkit
[Third party Telerik](https://www.telerik.com/products/wpf/calculator.aspx)
[Syncfusion](https://www.syncfusion.com/uwp-ui-controls/calculator)

## Expected behavior
Hopefu

[2019-04-14 14:39] COM8 opened #2901 "MasterDetailsView NoSelectionContentTemplate shows when resized"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

If you set `MasterDetailsView.Background` to `"Transparent"` and then resize the window so the MasterDetailsView switches from the `WideState` state to `NarrowState` and back again the `NoSelectionContentTemplate` gets rendered behind the master pane even if you change the `SelectedItem`

[2019-04-14 14:47] skendrot commented on #2901
Thanks for reporting! This must have happened recently. I'll look I to it

[2019-04-14 15:25] COM8 opened #2902 "MasterDetailsView.cs code quality"
## I'm submitting a...

- Code quality issue

## Current behavior
Issues with code quality in [MasterDetailsView.cs](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/MasterDetailsView/MasterDetailsView.cs):
* False checks: https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/03cc48a655e2c34db99a6e3c8f14e1b787efeda1/Microsoft.Toolki

[2019-04-16 16:46] michael-hawker commented on #195
Looks like #1638 was similar to this?

[2019-04-16 18:28] lukasf commented on #195
Only remotely similar. This one has a very different (better) UI and usability. This here is what we see in a lot of well done messaging apps. There should be a control for it in the toolkit or directly in UWP, because it would be useful for many scenarios.

[2019-04-16 21:11] michael-hawker opened #2904 "Image Cropper bounds get stuck after moving image"
## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
When manipulating the Circle Crop mode of the Image Cropper you can get in a state where you can't make the size of the circle match the image size anymore.

This circle can't be enlarged any more even though there's more of the image:
![image](https://user-images.githubusercontent.com/243

[2019-04-16 21:11] michael-hawker commented on #2904
@HHChaos thoughts?

[2019-04-16 21:19] michael-hawker commented on #2899
Thanks @mfeingol for the report.  Do you happen to have an idea of which version it used to work on before you upgraded?

@Odonno any thoughts on this?  Would you have time to take a look?

[2019-04-16 21:24] michael-hawker commented on #2902
@COM8 thanks for opening an issue and submitting a PR.  I know Shawn had some feedback about the braces on the PR.

For me, it'd help if you could point to the guidelines (either in .NET code guidelines or elsewhere) about the advantages or reasons these changes improve quality vs. their original counterparts?

Thanks!

[2019-04-16 21:26] michael-hawker commented on #2900
Thanks @meteorsnows for the submission.  I'll sync with the Calculator folks to see where they think this best belongs, but my feeling is your original submission on their repo is probably the right place for now.

[2019-04-16 21:27] mfeingol commented on #2899
To be honest, I don't know that this ever worked. But one day I got a crash report for my app pointing at `OpenAnimationTimer_Tick`, and I managed to reproduce it in this way.

Either way, if the XAML engine is throwing `ArgumentException` for a reason (page is no longer current), and there's no way for you to determine that, you may just want to catch the exception in `OpenAnimationTimer_Tick` an

[2019-04-17 02:50] HHChaos commented on #2904
@michael-hawker Yes, this is a good idea. And because it is a shared logic code, this happens as long as the AspectRatio value is in effect.
I will try to solve it, but it may take some time.

[2019-04-17 06:35] Odonno commented on #2899
I can try to reproduce this error but I want to ask why not using an App Shell to display your notifications on every screen?

I am not sure if we can verify if the current page == page to display notifications. It can be better than catching the exception in my opinion.

[2019-04-17 14:38] mfeingol commented on #2899
@Odonno: just so I understand, what do you mean precisely by `using an App Shell`?

[2019-04-17 15:17] COM8 commented on #2902
I'm orienting me here on [GCop](https://github.com/Geeksltd/GCop):

https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/03cc48a655e2c34db99a6e3c8f14e1b787efeda1/Microsoft.Toolkit.Uwp.UI.Controls/MasterDetailsView/MasterDetailsView.cs#L172
* `Reverse your if condition and return. Then move the nested statements to after the if` [GCop622](https://geeksltd.github.io/GCop/#/Rules/GCop622?i

[2019-04-17 16:38] Odonno commented on #2899
@mfeingol Having a main `Frame` with an empty page (or whatever you need in you shell), and then every page in your application is inside a nested `Frame` of this page, the shell of your entire app.

So that way you can display notifications everywhere at any time. I know some people usually do that to create an app menu, to set the background color and to handle global notifications.

[2019-04-18 03:10] mfeingol commented on #2899
Yep, I can confirm something like this will work in my ShellPage:

[code]

That said, I'd still recommend catching that exception. I still have cases where I display popups that have their own embedded notifications, and I'm afraid I might run into the same problem if the user closes the popup and triggers a race condition.

[2019-04-18 09:34] HHChaos commented on #2904
I found another situation that seemed to get stuck.
When we set a valid aspect ratio and drag the mouse very quickly, the crop area will not fill the picture perfectly.
This is different from the current issue, so I will submit another fix.
![cropperbug](https://user-images.githubusercontent.com/9880072/56351454-bacc0b80-61ff-11e9-93bf-8fde80f22689.gif)

[2019-04-18 09:35] HHChaos opened #2907 "ImageCropper gets stuck when the mouse drags quickly."
I found another situation that seemed to get stuck.
When we set a valid aspect ratio and drag the mouse very quickly, the crop area will not fill the picture perfectly.
This is different from the current issue, so I will submit another fix.
![cropperbug](https://user-images.githubusercontent.com/9880072/56351454-bacc0b80-61ff-11e9-93bf-8fde80f22689.gif)

_Originally posted by @HHChaos in https://g

[2019-04-18 10:12] HHChaos commented on #2907
I submitted a bug fix, but it is based on some changes in #2905, so maybe we should solve the problem in #2904 first.

[2019-04-18 12:26] meteorsnows commented on #2900
Great. It is just idea. Maybe close ticket here as there already started a discussion.

[2019-04-18 19:51] michael-hawker commented on #2900
Thanks @meteorsnows; based on the discussion there we can always re-open this here if it makes sense in the future.

[2019-04-18 19:51] #2900 closed

[2019-04-19 13:56] skendrot commented on #2902
I'm going to close this issue and the PR. I do not believe these are against the current repo standards or the .NET coding guidelines

[2019-04-19 13:56] #2902 closed

[2019-04-21 15:23] #2891 closed

[2019-04-21 23:07] qzzf1w opened #2909 "Build Error"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2019-04-21 23:10] qzzf1w opened #2910 "Build Error - Unable to locate repository containing directory -Microsoft.Build.Tasks.Git.targets"
I get the following error. FOr most of the projects in the solution.

Unable to locate repository containing directory 'C:\Users\qzzf1w\Downloads\WCT\Microsoft.Toolkit.Uwp.UI.Controls.DataGrid'.	Microsoft.Toolkit.Uwp.UI.Controls.DataGrid	C:\Users\qzzf1w\.nuget\packages\microsoft.build.tasks.git\1.0.0-beta-62925-02\build\Microsoft.Build.Tasks.Git.targets	20

[2019-04-23 01:03] SavoySchuler commented on #2748
@michael-hawker and @aodpi, this feature has been split from the PagerControl development into its own proposal by merit of being distinct enough from the other suite of pager solutions. Please be sure to give it a thumbs up [here ](https://github.com/Microsoft/microsoft-ui-xaml/issues/602) and provide any feedback necessary to make sure it works for you. Thanks!

[2019-04-23 01:04] SavoySchuler commented on #1705
@michael-hawker, @gbarcho, and @TheSETJ, this feature has been split from the PagerControl development into its own proposal by merit of being distinct enough from the other suite of pager solutions. Please be sure to give it a thumbs up [here ](https://github.com/Microsoft/microsoft-ui-xaml/issues/602) and provide any feedback necessary to make sure it works for you. Thanks!

[2019-04-23 18:41] njsokalski commented on #696
I'm obviously a little late, but I recently started trying to convert certain parts of my apps to use the WCT, and this was one of the things I found that I didn't like (being able to set a start point). For anyone one interested, here are some of the utility functions I had previously written that do allow start values (these are vb files, if I used any of my other utility functions in them not i

[2019-04-24 15:58] AliFlux commented on #2226
Hi. Is there a better way to add a loopback exemption? I'm creating a Win32 application for mass distribution and running this command on each executable doesn't seem like the right thing to do.

[2019-04-24 15:59] JohnGalt1717 commented on #2226
@AliFlux Best solution I've found is to use ngrok.

[2019-04-24 16:05] AliFlux commented on #2226
I'm working on an offline application :( Can't use ngrok

[2019-04-25 16:11] meteorsnows opened #2912 "Menu (UWP) vs MenuBar"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
The name "Menu" does not exist in the namespace "using:Microsoft.Toolkit.Uwp.UI.Controls".

## Expected behavior
The documentation following is stated for Windows 10, I assumed this is on UWP Project
https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/menu

I am finding old me

[2019-04-25 17:22] dpaulino commented on #2858
There's a uservoice request for this feature to be built by the platform team: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/37090696-virtualized-richeditbox

[2019-04-25 17:37] michael-hawker commented on #2909
Looks like a mispost duplicate of #2910

[2019-04-25 17:37] #2909 closed

[2019-04-25 17:38] michael-hawker commented on #2910
Thanks @qzzf1w I'll have to take a look, I know our Azure Dev Ops builds have been running.

Can you provide more details of what your OS is, what SDK version you have installed, what your VS version is, what version of NuGet you have, etc...?

@azchohfi have you seen this before?

[2019-04-25 17:49] michael-hawker commented on #2912
@meteorsnows where are you seeing this error?  The control should work.

However, it's deprecated as the [WinUI library](https://github.com/Microsoft/microsoft-ui-xaml) has added [MenuBar](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/menus#create-a-menu-bar).  So, I'd suggest setting that one up for a new project.

[2019-04-26 12:05] meteorsnows commented on #2912
I am using Windows Template Studio project in blank project and blank page, then install the Windows Community Toolkit from nuget. Follow getting started and put that in main xaml.

I am planning to replicate the Alt key to hide menu bar for saving Screen Space. Menubar does not have hide menu. Although I know current Windows 10 UI are optimize for Touch screen, but sometimes we want the UI to get

[2019-04-26 14:14] AliFlux commented on #2226
I ended up using CefSharp. Their WPF control, although powerful, is a bit sluggish.

[2019-04-26 15:15] dpaulino commented on #2858
I've spent some time thinking of who would be best able to tackle the creation of this control from a first-party standpoint, and I think the owners of the WinUI library would be best (https://github.com/Microsoft/microsoft-ui-xaml). I may try to submit a feature proposal for this virtualized textbox/richeditbox control when I get some free time.

For reference, here is their feature proposal proc

[2019-04-26 17:18] blakepell opened #2913 "AdvancedCollectionView ArgumentOutOfRangeException on Filter when last item from the list is filtered."
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

When I apply a filter to an AdvancedCollectionView that's bound to a DataGrid I am met with an ArgumentOutOfRangeException if the last item was filtered off the list.

The application of the filter eventually causes "public object this[int index]" to try to access a position that is 1 more

[2019-04-29 18:11] Javier118 opened #2914 "OneDrive serivice: Create folder (uwp)"
Hello:
I'm making an application where I have date, name, chip etc.
I want to know where I create the folder and then put the data in subfolder.
  Uwp C#

[2019-04-30 20:33] VisualByteStudios opened #2915 "GazeInteraction library NuGet package is missing pdb file"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

Microsoft.Toolkit.UWP.Input.GazeInteraction.dll is failing static analysis tools due to missing .pdb file.

## Expected behavior

The Nuget package for the GazeInteraction library should include the .pdb file.

## Minimal reproduction of the problem with instructions

Run BinSkim against a

[2019-04-30 21:02] michael-hawker commented on #2914
@Javier118 could you be a bit more specific?

We have an example of [creating a folder in our docs](https://docs.microsoft.com/en-us/windows/communitytoolkit/services/onedrive#syntax).  If it's not clear enough, could you open an issue there at the bottom of the page in our doc repo?

Thanks!

[2019-05-01 15:36] Javier118 commented on #2914
I want to know the folder that IRA in OneDrive, if it goes when you make the connection to the service One Drive or Peude do in App.xaml.cs and sub folders in each page XAML

[2019-05-01 20:49] rdadkins opened #2917 "DataGridColumn DataBinding Support"
## I'm submitting a...

Feature request (UserVoice request: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/37524226-datagridcolumn-binding-support)

## Current behavior
DataGridColumn does not support any binding out of the box.

## Expected behavior
Have the ability to bind to a handful of properties in DataGridColumn (e.g. SortDirection or DisplayIndex).

## Min

[2019-05-01 20:51] rdadkins commented on #2917
I started `SortDirection` binding support but I am running into issues with `SortDirection` being nullable. We cannot directly assign a value to a nullable property in XAML. Thus, I added `DataGridSortDirection.None` to make `DataGridColumn.SortDirection` non-nullable, but that will break existing builds.

[2019-05-02 14:17] blakepell commented on #2264
@Frydex This is the only place I could find a good example of this.  Much thanks!

[2019-05-02 21:23] MikelThief commented on #2893
@yanxiaodi you might like to take a look at this [EventAggregator](https://github.com/NimaAra/Easy.MessageHub) which works on UWP.

[2019-05-03 05:43] filipwa84 commented on #2738
@kbrons Created the PR as requested back in Feb.

[2019-05-05 15:16] blakepell commented on #2913
I have another potentially related bug to this behavior with this but I'll need to do more research later.

Subsequently, if I delete the last item out of the bound list the grid appears to error out also.  I have a button bound on each row to delete it, but if you use it on the final element in the collection you get an index out of bounds error (I'm not personally deleting by the index, I'm remo

[2019-05-06 15:00] blakepell commented on #2913
Another fix I tried that worked was altering the "void RemoveFromView" in AdvancedCollectionView.cs and moving "_view.RemoteAt(itemIndex) to be the last line in that function (again, not sure of the full implications or if this is where the fix should occur).  The item was both deleted from the collection and it reflecting it on the grid without the ArgumentOutOfRangeException.

[code]

[2019-05-07 16:02] Lorymi opened #2920 "Navigation Cache"
## I'm submitting a...

Feature request

## Expected behavior

If we add a page to system cache (NavigationCacheMode="Enabled")  how to remove just this page of Navigation Cache ??
Please add a function for clear (remove) one page of frame navigation system cache

I use this but this clear all pages of navigation system cache:

    var cacheSize = ((Frame) Parent).CacheSize;
    ((Frame) Parent).C

[2019-05-08 05:06] opcodewriter commented on #2285
I find "Orientation" too specific for `HeaderedContentControl`. Its template can be any template, it doesn't necessary have to be vertical or horizontal. As just an example, in WPF, the HeaderedContentControl is the parent of TabItem. If Orientated was added to WPF too, what meaning would Orientation have?

[2019-05-08 11:12] meteorsnows opened #2921 "How to use ItemHeaderTemplate with Compact"
## I'm submitting a...
 Sample app request

## Current behavior
How to use ItemHeaderTemplate with Compact.
Customize TabView TearOff as Compact mode.

Certainly not this way, I am totally new to UWP.
[code]

## Expected behavior
Can we have an example how to customize this repo [TabView-TearOff](https://github.com/windows-toolkit/Sample-TabView-TearOff/blob/master/TabViewTear/Views/MainPage.xaml)

[2019-05-08 14:39] skendrot commented on #2285
Adding the property makes a lot of sense in many use cases. The default will always be "Vertical" but if the user wishes to change they can

[2019-05-08 14:50] skendrot commented on #2893
Hi @yanxiaodi, there are many good MVVM frameworks on the market today. I would suggest you take a look at [MVVM Light](http://www.mvvmlight.net/), [Prism](https://github.com/PrismLibrary/Prism), [MVVM Cross](https://www.mvvmcross.com/), and many others. I don't think we're looking to replace those frameworks or add features specific to MVVM

[2019-05-08 14:50] #2893 closed

[2019-05-08 15:55] opcodewriter commented on #2285
@skendrot In my opinion it looks weird in the scenario when you have a HeaderedContentControl with a custom template having a custom panel for which the Orientation property has no sense.
Or maybe I am overthinking it...

[2019-05-08 18:28] skendrot commented on #2285
The HeaderedContentControl is always used when there is a header for content. By default the header will be on top of the content. Adding an Orientation allows the developer to decide if the header should be to the left of the content.

[2019-05-11 16:45] GeorgeS2019 commented on #2034
In Build 2019 State of the Union - The Windows Presentation Platform - BRK3072 => it is stated that 3D Viewer Control is coming to WinUI 2.x
FYI: **https://github.com/microsoft/microsoft-ui-xaml/issues/686**

[2019-05-15 01:24] deadcatssociety opened #2922 "RotatorTile _nextElement null exception"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
in _**Incc_CollectionChanged()**_
line _500_
_System.NullReferenceException: 'Object reference not set to an instance of an object.'
\_nextElement was null._

## Expected behavior
No errors.

## Minimal reproduction of the problem with instructions
1. When _**RotatorTile**_ was visible colla

[2019-05-15 09:36] szydej opened #2923 "WebCam Eye-Tracking"
How to use webcam Eye-Tracker (GazePointer: https://sourceforge.net/projects/gazepointer/ ) with the Gaze Interaction Library ?

[2019-05-15 13:18] tedrog36 opened #2924 "Can't get ListView ScrollHeader Sticky mode to work in Flyout"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
I put a ScrollHeader in a ListView.Header and I can't get any of the modes to work.  I tried explicitly setting the Mode to Sticky in the XAML and also tried binding as I saw that somebody else suggested that because the ScrollHeader didn't initially set the mode.

## Expected behavior
Woul

[2019-05-15 13:36] tedrog36 commented on #2924
I discovered the problem.  The issue is the Flyout uses a scroll viewer so the entire ListView gets scrolled by that so the ScrollHeader never has a chance to be sticky.  I fixed it by doing this in the Flyout:

[code]

[2019-05-15 13:36] #2924 closed

[2019-05-15 14:10] mrlacey opened #2925 "DeepLinkParser does not decode encoded URLs"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

DeepLinkParser (and internally QueryParameterCollection) do not decode URLEncoded values.

For example. Extracting the query parameters from
`myapp://reference?project+name=community+toolkit`
returns `"project+name": "community+toolkit"`

Similarly, extracting the query parameters from
`my

[2019-05-15 15:00] michael-hawker commented on #2920
@Lorymi this seems like a platform request?  In which case I'd suggest filing an issue in the [WinUI](https://github.com/Microsoft/microsoft-ui-xaml) repo.

Or are you suggesting some sort of extension or helper?  It seems like you found a clear-all way, but if we don't have direct access to the cache, I'm not sure what else we could do outside the platform for the toolkit.

If you look at the [re

[2019-05-15 15:03] michael-hawker commented on #2925
Thanks @mrlacey, seems like an oversight in the sample app.  Should be a pretty simple fix hopefully.  I also never updated the sample app for our minor release, so it's due for an update after we get this fix in anyway. :)

[2019-05-15 15:46] Sergio0694 opened #2926 "ArgumentOutOfRangeException in the markdown parser with the string "r/Steam: www.""
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior

The `MarkdownTextBlock` throws an `ArgumentOutOfRange` exception when entering this string:

**NOTE:** the issue is present even if the address is just "ww.", or with full URLs. Eg. "www.google.com" crashes as well, if the string starts with that "r/Steam: " prefix.

The crash happens ex

[2019-05-17 04:52] michael-hawker commented on #2926
@WilliamABradley have time to take a look?

[2019-05-17 10:00] meteorsnows commented on #2921
Close it. Just handle using codebehind style.
Declarative of XAML's learning steep is high and no popular.

TabViewItem t1 = new TabViewItem();
t1.Header = "App";

[2019-05-17 10:00] #2921 closed

[2019-05-18 18:42] mrlacey commented on #2925
Also supporting using the category name without spaces so it can be used as the host part of the URI and still provide a valid URI (which can't include spaces)

[2019-05-20 12:20] danwalmsley opened #2929 "DropShadowPanel OffsetZ property has not effect."
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
I can set and change the OffsetZ property of drop shadow panel but it has no effect.

## Expected behavior
Shadow should appear closer or further away.

## Minimal reproduction of the problem with instructions
[code]

## Environment

[code]

[2019-05-21 14:21] khoshroomahdi opened #2930 "copy cells in datagrid cell"
## Current behavior

when I want to copy some cells in data grid cells it's impossible. because it past all text in one data grid cell

## Expected behavior

for example, I want to copy 4 cells in excel and past in data grid in 4 cells. like dev component

[2019-05-22 15:22] duke7553 opened #2931 "CTRL + Clicking TabViewItem Causes All Tabs to Unselect"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
CTRL + Clicking a TabViewItem causes all items to deselect and their content to disappear.

## Expected behavior
This modifier should have the same behavior as regular clicking a TabViewItem.

## Minimal reproduction of the problem with instructions

![Annotation 1](https://user-images.gith

[2019-05-23 09:15] hupo376787 opened #2932 "Infinite cycling GridView/ListView(one row enabled)"
## I'm submitting a new feature

Infinite cycling `GridView`/`ListView`(one row enabled)

I'm using `AdaptiveGridView` with `OneRowEnabled` import from windows community toolkit, and found NetFlix app having an interesting thing. All the category items are infinite cycle, ie, when scrolling to the last item, and then the first item comes following the last item. It's like a circle list, the last o

[2019-05-23 09:47] HppZ opened #2933 "[Question] will controls/xaml UI stuff in this repo be rewritten in WinUI 3.0?"
if it will be, then those controls are available in both c++ & c#, which is great.

[2019-05-23 12:22] harvinders opened #2934 "Whilst app is running, RadialGauge needle colour not updated if system accent colour is change through Windows Settings App"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior
The RadialGauge needle color does not change dynamically (when changing the system accent color from windows setting app whilst the app is running). However, the progress value color does change

## Expected behavior
The needle color should also change whilst the app is running and someon

[2019-05-23 14:47] skendrot commented on #2932
Duplicate of #1471

[2019-05-23 14:47] #2932 closed

[2019-05-23 14:51] skendrot commented on #2932
Thanks @hupo376787 for the request. If you have ideas on how to implement or if you'd like to implement, please comment on #1471

[2019-05-23 15:38] hupo376787 commented on #1471
23 votes now.
Does it still under investing?

[2019-05-23 19:09] michael-hawker commented on #1471
@hupo376787 I think this scenario is covered by WinUI now, eh @JustinXinLiu?

@JustinXinLiu would this just be an example or is there enough code that it should have a helper?

[2019-05-23 22:17] groovykool opened #2935 "TabView Control TabDraggedOutside Event arguments has incomplete TabViewItem Object"
## I'm submitting a...

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

Drag Tab on sample code.  The dragged tab is added back and the icon is missing.

[TabControlDrag.zip](https://github.com/windows-toolkit/WindowsCommunityToolkit/files/3214340/TabControlDrag.zip)

[2019-05-26 03:07] SpontaneousDuck opened #2936 "InAppNotification stays open if dismissed quickly"
## I'm submitting a...

- Bug report (I searched for similar issues and did not find one)

## Current behavior
When showing and dismissing an InAppNotification from within an overrided OnNavigatedTo() for the page, the notification will show but not dismiss when time between the two calls is very short (<1ms from my testing).

## Expected behavior
Notification dismisses when asked.

## Minimal rep

[2019-05-26 11:21] Odonno commented on #2936
Hi @SpontaneousDuck

Your problem looks like a concurrent access to the InAppNotification. I think that the problem comes from the concurrent access to the timers. I am going to fix that.

[2019-05-26 13:27] SpontaneousDuck commented on #2936
Thanks @Odonno! I am currently working around the problem by adding artificial delay before dismissing the notification.

[2019-05-26 14:44] duke7553 opened #2938 "Closing TabViewItems Does Not Free Used Memory"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

When a user creates a new TabViewItem with a Frame as content, RAM usage will increase for each created item. However, closing one or more of these tabs will keep RAM usage exactly the same with no decrease.

## Expected behavior
For many application scenarios, the user expects this memory

[2019-05-26 20:27] RobbyRobbyRobby opened #2939 "Infinite Canvas crashing on Win10 1903 (18898.1000)"
## I'm submitting a...

I have found that the Infinite Canvas control crashes on new insider builds of Windows 10.

It crashes my apps, but is also visible in the Toolkit sample available from the store.

I have a stack dump from AppCenter of my app to help below.

This has worked up until now.

## Current behavior
Open a page with the infinite canvas, ink away on it and eventually (not normally v

[2019-05-27 07:13] xiedongweo opened #2940 "How to print DataGrid into multi pages?"
## I'm submitting a...

Sample app request

## Current behavior

I want to print the DataGrid data into multi pages. But I cannot find any samples.

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2019-05-28 00:49] JasonStein opened #2941 "TabViewItem_Closing triggered twice after reordering tabs"
## I'm submitting a Bug report (I searched for similar issues and did not find one)

## Current behavior
TabViewItem_Closing Triggered twice after reordering the existing tabs.

## Expected behavior
TabViewItem_Closing should always trigger once.

## Minimal reproduction of the problem with instructions
Use TabView and create multiple tabs, reorder one of the tabs and close it, TabViewItem_Closing

[2019-05-29 06:04] niels9001 opened #2942 "Getting current gaze state"
## Current behavior
There doesn't seem to be a way to get the current PointerState from code behind. We only have the StateChanged event that will give back the PointerState.

## Expected behavior
The Tobii WPF SDK provides a GetHasGaze() function that tells you if the UI element has Gaze or not. In our case, the PointerState would be nice value to get returned.

This would allow for conditional f

[2019-05-29 15:10] AaronV-NorthStar opened #2943 "Microsoft.VisualStudio.Composition.CompositionFailedException"
Hello,

## I'm submitting a...
- Bug report (I searched for similar issues and did not find one)

## Current behavior
I encountered the following exceptions when opening the Windows Community Toolkit solution. This issue may be with VS itself, but I wanted the team here to also be aware of it. [Developer Community Link](https://developercommunity.visualstudio.com/content/problem/586038/microsoftvi

[2019-05-30 01:51] micahl commented on #1705
Perhaps this should be part of a [CarouselView control](https://github.com/microsoft/microsoft-ui-xaml/issues/771)?

[2019-05-30 01:52] micahl commented on #2748
I've started a specific proposal for a [CarouselView ](https://github.com/microsoft/microsoft-ui-xaml/issues/771) control on the WinUI repo.

[2019-05-31 10:48] hupo376787 opened #2944 "AdaptiveGridView‘s one row mode HorizontalScrollBarVisibility="Hidden" does not work"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

When set `AdaptiveGridView` to one row mode, and set `ScrollViewer.HorizontalScrollBarVisibility="Hidden"` , the horizontal scrollbar still visible.

![image](https://user-images.githubusercontent.com/14960168/58701238-f2200180-83d4-11e9-9dbb-2e2da8a5c4b5.png)

## Expected behavior

When s

[2019-06-01 02:59] duke7553 commented on #2938
I presume this is because TabView is based off of ListViewBase which does not seem to dispose of its items when cleared.

[2019-06-01 03:51] duke7553 commented on #2670
@michael-hawker Why is it that setting an ItemsStackPanel as the ItemsPanelTemplate currently causes a problem?
I have [a bug](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2938) where removing TabViewItem fails to remove seemingly anything from memory (even after forced GC). I was suspecting that this behavior is typical of the default StackPanel. Regardless, attempting to cha

[2019-06-01 13:04] abhisheksonar1 commented on #2297
@Ali1Jamal

can you please help me with NavigateToLocalStreamURri? I have the same issue with my code. I can navigate to the local html files using Navigate(new Url (@"C://")) in Windows 7, but in Windows 10 it returns an error similar to the one you mentioned.

I tried using NavigatetToLocalStreamUri but I have no prior experience in using a webview hence cant understand what should be the parame

[2019-06-01 16:07] gavinwilliams opened #2945 "Stop Carousel from resetting when ItemsSource is updated"
## I'm submitting a...

Documentation issue or request

## Current behavior
Updating a value in ItemsSource resets the carousel.

## Expected behavior
The carousel doesn't reset to the beginning or has an option not to when a new item is added or a property in the underlying collection changes, i.e.  ItemsUpdatingScrollMode="KeepItemsInView"

## Minimal reproduction of the problem with instruction

[2019-06-01 16:22] duke7553 commented on #2938
I've figured out what causes this behavior to occur. The lack of garbage collection seems to happen when I add TabViewItems to the TabView rather than just setting the ItemSource to an ObservableCollection. (Which makes sense...) I'm going to close this issue now.

[2019-06-01 16:22] #2938 closed

[2019-06-01 16:44] duke7553 opened #2946 "Add TabView property to set the individual tabs' content from a data source property"
## I'm submitting a...

Feature request (UserVoice request: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/37807465-add-tabview-property-to-set-the-individual-tabs-c)

## Current behavior
Currently, the only way to set content for TabView tabs is to set the content property of the items themselves, but for scenarios where we need to generate them from an Observabl

[2019-06-04 19:44] michael-hawker commented on #2939
Thanks @RobbyRobbyRobby have you filed a Feedback Hub item as well?  I'm wondering what's changed in the OS that has maybe caused an issue.  Does the regular Ink Canvas give you any trouble?

@IbraheemOsama any insights?

[2019-06-04 19:50] michael-hawker commented on #2933
Hi @HppZ,

The toolkit controls will still be separate from WinUI.

We don't depend on WinUI at the moment.  That's been something open to discussion lately, though it has larger ramifications with WinUI 3.0, so when more info about that is available we'll decide on that point.

However, if we take a dependency on WinUI 3.0, it just means we'll have the same requirements as WinUI for the Toolkit.

[2019-06-04 19:55] michael-hawker commented on #2945
Thanks @gavinwilliams for the report.  Based on some recent investigations by @JustinXinLiu, I think we want to rewrite the Carousel soon.

[2019-06-04 22:44] gavinwilliams commented on #2945
No worries! We ended up simplifying what we made anyway.

[2019-06-05 06:30] premiaware commented on #2938
The same problem with memory Leaks is when in the xaml to add the TabViewItems with inside Usercontrol for example:

        <TabView
            TabWidthBehavior="Actual"
            CanCloseTabs="False"
            IsCloseButtonOverlay="False"
            CanDragItems="False"
            CanReorderItems="False"
            AllowDrop="False">
            <controls:TabViewItem>
                <lo

[2019-06-05 17:49] michael-hawker commented on #2943
Thanks for letting us know @AaronV-NorthStar, I'll see if I can repro and let you know if I find anything out.

[2019-06-05 17:50] michael-hawker commented on #2945
Good to know @gavinwilliams, I'm going to leave this open for our tracking still.

[2019-06-05 18:04] AaronV-NorthStar commented on #2943
Thank you for looking into this issue.

[2019-06-06 01:16] Omniflux commented on #2871
For anyone waiting for a fix to this, here is an ugly work around...
[code]

[2019-06-06 09:35] HppZ commented on #2933
let WinUI do the UI/Xaml work and this WindowsCommunityToolkit focus on toolkit work (common developer tasks), this is just a suggestion.

[2019-06-06 11:49] mdtauk commented on #2933
I see the Community Toolkit as a staging ground for controls that may eventually end up in WinUI, but also as an extra package of utilities, controls, and helpers that make it easier for certain Devs to get things done

[2019-06-06 12:11] tedrog36 commented on #2493
It is unfortunate this was  closed.  This is a pretty serious issue for a very common scenario.  It is  preventing me from using the DataGrid.  Should I resubmit the issue?

[2019-06-06 12:56] tedrog36 commented on #2493
For anybody else who is wrestling with  this issue it can be solved by setting IsReadOnly to true for the DataGridTemplateColumn that contains the CalendarDatePicker.  That way you don't have a conflict between the editing mode and the CalendardDatePicker going into its own editing mode.

See code I modified from provided project:  I also switched to using x:Bind.

[code]

[2019-06-07 11:42] Ajit14Singh commented on #981
how to show shortcut key in menuflyoutItem uwp

[2019-06-07 16:21] skendrot commented on #2946
I'm not sure I understand the problem. Can you give more details on this? Are you referring to the text in the "tab" (the items are on on the top of the control)? Or for the main body content of the control when a tab is selected?

[2019-06-07 16:33] duke7553 commented on #2946
@skendrot Absolutely. I am referring to the tab's body content that is unique to the TabViewItem when selected. The problem is: There is no way to set this unique body content because **TabView.ItemTemplate** only allows me to set "shared body content" rather than individual tab's body content.

[2019-06-07 16:35] duke7553 commented on #2946
I can set this if I manually build a TabViewItem, set the **content** property, and add it to the TabView control, but there is no way to set this from a data source property.

[2019-06-07 16:39] skendrot commented on #2946
So, you're referring to exhibit the content "Home" in this example, correct?
![image](https://user-images.githubusercontent.com/1594689/59119442-0d789880-8910-11e9-9ff6-f776d15723d5.png)

This isn't as easy as it was in WPF, because UWP does not support binding the style setters. However, you should still be able to set the content of the tab itself (the items are on on the top of the control) by

[2019-06-07 16:41] duke7553 commented on #2946
@skendrot I'm sorry. I was referring to the "The TabView control has multiple uses." area

[2019-06-07 16:42] duke7553 commented on #2946
Not the tab title text

[2019-06-07 16:49] skendrot commented on #2946
To do what you're requesting you use the the ItemTemplate just as described in the documentation. Notice the textblock and is binding to the `Value` property. This is a property on the model itself.

[2019-06-07 16:53] duke7553 commented on #2946
@skendrot Thanks. I will evaluate this method to see if it works well for my scenario.

[2019-06-07 16:53] skendrot commented on #981
@Ajit14Singh For generic UWP questions it is best to ask on stack overflow

[2019-06-07 17:39] duke7553 commented on #2946
Thank you.

[2019-06-07 17:39] #2946 closed

[2019-06-08 04:33] mfeingol opened #2947 "Warning with 18362 SDK, a reference to Microsoft.Toolkit.Uwp.UI.Controls and 'en' as default language"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

The following three conditions trigger a warning when building a blank UWP app

1. Set the target SDK to 18362
2. Install the Microsoft.Toolkit.Uwp.UI.Controls NuGet package. No need to use it in code.
3. In the project csproj, set the default language to `en`: `<DefaultLanguage>en</Defaul

[2019-06-11 02:47] scegg commented on #2226
But while setting this, an exception will be raised:
System.Resources.MissingManifestResourceException: 'Could not find any resources appropriate for the specified culture or the neutral culture.  Make sure "Microsoft.Toolkit.Win32.UI.Controls.DesignerUI.resources" was correctly embedded or linked into assembly "Microsoft.Toolkit.Forms.UI.Controls.WebView" at compile time, or that all the satellit

[2019-06-11 08:22] bent-rasmussen opened #2948 "TargetDeviceFamily=Windows.Desktop causes BladeView resource load exception"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

The application crashes with a resource load exception.

## Expected behavior

The application does not crash.

## Context

Using the BladeView in an enterprise-targetted application with real-time streaming that does not suspend streaming when the user minimizes the window.  Inspired by t

[2019-06-12 16:08] alexyak opened #2949 "DataGrid: Drag/Drop in Tablet mode (touch)"
## I'm submitting a...

 - Bug report (I searched for similar issues and did not find one)

## Current behavior
With CanDrag enabled on the DataGrid and all drag events implemented working properly using a mouse, the DataGrid doesn't raise any drag related events in the tablet mode or using a touch.

## Expected behavior
DataGrid should support touch based drag behavior.

## Minimal reproduction o

[2019-06-13 00:51] bkrauth opened #2950 "RadialGradientBrush not displaying on Intel G965 Express Chipset Family"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

Using a RadialGradientBrush with Intel G965 Express Chipset Family results in no brush shown - just transparent.

## Expected behavior

Brush would be shown or the FallbackColor brush would be shown if Radial isn't working.

## Minimal reproduction of the problem with instructions

[code]

[2019-06-14 09:35] oliverluethi opened #2951 "[TabView] Binding to ItemsSource causes render problem with controls"
## I'm submitting a Bug report

## Current behavior
When I bind ItemsSource in TabView my controls (placed in TabView.ItemTemplate) are changed over all TabItems. It seems that the same Control is shared over all TabItems

## Expected behavior
Every TabItem holds its own control instances of the ItemTemplate content

## Minimal reproduction of the problem with instructions
I've attached a sample U

[2019-06-15 06:20] jyt1902 opened #2952 "global::System.Diagnostics.Debugger.Break() UWP"
## I am working on windows universal app, In this app below Error Generate, my XAML file is correct as per other suggestion
[code]

[2019-06-17 08:47] xiedongweo opened #2953 "How to correctly add reference to source DataGrid project in my project"
## I'm submitting a...

Sample app request

## Current behavior

I've downloaded the whole WindowsCommunityToolkit source code on my local machine. I now want to debug the DataGrid control in my project. Then, I add reference to the source DataGrid project. But when I build my project, there're many errors.

## Expected behavior

I want to debug the DataGrid source code in my project. Because I wa

[2019-06-17 11:32] FrancoisM opened #2954 "Mask extension on Textbox - bug"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

When the mask of a TextBox is 99/99/9999 I can systematically makes it fail displaying something wrong and not accepting figures (or wrongly accepting them).

## Expected behavior

I should be able to type any patterns that respects 99/99/9999

## Minimal reproduction of the problem with i

[2019-06-20 22:05] duke7553 commented on #2815
@marianstdt @harinikmsft Sorry for the delay. I can confirm adding a CommitEdit() call when clicked off of the DataGrid fixes the bug only when the text has been modified prior to clicking off.

I also noticed it is impossible to edit a DataGridCell's text when Edit has begun through a ContextFlyout. This appears to be because some UI element (within the DataGridRow) is blocking the input box.

[2019-06-26 10:41] xiedongweo opened #2955 "override theme resource 'DataGridColumnHeaderBackgroundBrush' for DataGridColumnHeader in UWP doesn't work in 5.1.0 version"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

I want to change the default DataGridColumnHeader's background color. I use the following code on XAML page:

`   <Page.Resources>
          <SolidColorBrush x:Key="DataGridColumnHeaderBackgroundBrush" Color="Blue"/>
    </Page.Resources>`

I'm using the nuget package 5.1.0(https://www.nug

[2019-06-26 15:12] tipa commented on #2899
Any updates on this? It crashes for me when dismissing a InAppNotification

[2019-06-26 15:32] Odonno commented on #2899
Well, I would like to start this but there is already a fix waiting for review here #2937

If I work on 2 PRs simultaneously, I am not sure of the final result. I prefer to do them sequentially.

[2019-06-26 16:05] mfeingol commented on #2899
You can probably use different branches.

[2019-06-26 16:06] mfeingol commented on #2899
@tipa: the workaround mentioned above doesn't work for you?

[2019-06-26 16:12] tipa commented on #2899
My app is a one-page app already and for me the crash happens on dismissing and not on showing, so the causes might be slightly different. But catching the exception should resolve my problem as well.

[2019-06-27 10:09] escape-llc opened #2956 "Unable to usefully subclass DataGridColumn or any of its subclasses"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior

The liberal use of internal in DataGridColumn make it impossible to make a 3rd party subclass of anything connected to that class.  This leads to compile-time errors like "CS0103 OwningGrid does not exist in the current context" from the subclass.

These properties should be made protected

[2019-06-27 12:53] jimm98y commented on #889
Would it be possible to at least lower the version of the Newtonsoft dependency to 8.0.1? We are using Unity 2017 in the project because of the NET scripting backend and HoloLens support and currently all our Unity stuff breaks because this NuGet bumps the Newtonsoft.Json to 10.x and the UnityEngine does not support it apparently.

[2019-06-27 20:16] jimm98y opened #2957 "Lower the version of the Newtonsoft.Json dependency"
Would it be possible to at least lower the version of the Newtonsoft.Json dependency to 8.0.3? We are using Unity 2017.4 LTS in the project because of the NET scripting backend and HoloLens support and currently all our Unity stuff breaks because this NuGet bumps the Newtonsoft.Json to 10.x and the UnityEngine does not support it apparently - there is a TypeLoadException coming from UnityEngine.In

[2019-06-28 06:57] xiedongweo opened #2958 "Need a 'CellTemplateSelector' similar property in community's DataGrid control"
## I'm submitting a...

Feature request (UserVoice request: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/38030980-need-a-celltemplateselector-relevant-things-in-c)

## Current behavior

There's no sucn a property.

## Expected behavior

I want such a 'CellTemplateSelector' property. Then, I can choose different dataTemplate for the CellTemplate by my own DataTem

[2019-06-30 09:20] jp-weber opened #2959 "Sample app crash on InAppNotification control"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
If I click in the InAppNotification control the 'Show notification with buttons (with DataTemplate)' button, the app crashes.

## Minimal reproduction of the problem with instructions

1. Select InAppNotification control
2. click 'Show notification with buttons (with DataTemplate)' button
3

[2019-07-01 06:58] hupo376787 opened #2960 "Is this project end?"

[2019-07-03 09:55] #2960 closed

[2019-07-04 07:33] bartlannoeye opened #2961 "DataGrid sorting: ObservableCollection vs AdvancedCollectionView"
## I'm submitting a...
- Documentation issue or request

## Current behavior
Also related to https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2389 which got auto-closed due to inactivity

I reviewed some code from my team today and was about to smack a colleague for recreating ObservableCollections on every sort action (and thus redrawing). Then I noticed the documentation suggest

[2019-07-05 00:20] cdm22 opened #2962 "Selected Row Error in DataGrid with a Detail Row"
## I'm submitting a ...
Bug Report

The application crashed: System.ArgumentException: The parameter is incorrect.
The value cannot be infinite or Not a Number (NaN).
at Windows.UI.Xaml.Controls.Primitives.RangeBase.put_Maximum(Double value)
at Microsoft.Toolkit.Uwp.UI.Controls.DataGrid.UpdateVerticalScrollBar(Boolean needVertScrollBar, Boolean forceVertScrollBar, Double totalVisibleHeight, Double

[2019-07-05 04:43] KevinZjYang commented on #908
@hermitdave I saw your video "UWP: Zoom with Fixed Focus Point by Scale-Transform" on youtube. Can you share the source code of how you do it, let us learn it?

[2019-07-05 04:59] KevinZjYang commented on #908
Can someone make a zoom control experience like Win10 photos?I think this should be  @shams92 's appeal.

[2019-07-07 15:11] mrlacey commented on #2650
ping?

[2019-07-08 03:37] hupo376787 opened #2963 "ImageEx support adjust size"
## I'm submitting a...

Feature request

## Current behavior

Load picture directly.

## Expected behavior

Support resize before load picture .

[2019-07-08 07:49] xiedongweo opened #2964 "How to customiza the DataGrid"
## I'm submitting a...

- Feature request (UserVoice request: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/38092345-how-to-customiza-the-datagrid)

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

[code]

[2019-07-08 15:23] skendrot commented on #2963
Hi @hupo376787 could you please give more details to this request

[2019-07-08 15:35] skendrot commented on #2650
@mrlacey is a quick sample to set the SelectedItem in the constructor of the page? Is that essentially what WTS was doing?

[2019-07-08 17:27] skendrot commented on #908
@KevinZjYang This can be accomplished by putting the image into a ScrollViewer. The Slider however would be a separate implementation

[2019-07-08 18:44] KevinZjYang commented on #908
@skendrot Thanks. I have found a new scrollviewer API on WinUI.
.

[2019-07-09 01:53] hupo376787 commented on #2963
Hi, @skendrot . I‘m using `ImageEx` to show thumnails and large image. For some unknown reasons, I have to use the original image url(maybe size 1920 x 1080) to show thumnails. But this may cause many memory usage. So if `ImageEx` can support image resize, like resize to 480 x 270(or 4x times smaller), that would be great.

[2019-07-09 18:37] avknaidu commented on #2899
This happens only on latest version of Windows 10. I have a old desktop on 17763.557 and it does not throw an exception on that. Something in OS Changed?

[2019-07-10 17:10] michael-hawker commented on #2957
Thanks for the info @jimm98y.  I'm not sure if downgrading a dependency would have any other impact in other areas/scenarios (@azchohfi any thoughts?) and if there's anything we're using from newer versions or not.  We'll take a look.

[2019-07-10 17:35] michael-hawker commented on #2950
Thanks @bkrauth, could you provide more details on your machine and the current version of your graphics drivers?  Some info from dxdiag would probably be helpful.  Not sure how easy this is going to be for us to reproduce.

I'm also linking to the [WinUI Issue](https://github.com/microsoft/microsoft-ui-xaml/issues/266) for RadialGradient as they have a proposal there as well, but it will have a d

[2019-07-10 18:10] michael-hawker commented on #2951
Hi @oliverluethi, this is how the WPF TabControl behaves which is how the TabView was designed to behave as well in order to re-use controls for data type forms as a form of virtualization via data binding.  Linking to the [WinUI Issue](https://github.com/microsoft/microsoft-ui-xaml/issues/304) as well for tracking.

In order to use the control in your desired pattern, you just need to use the Tab

[2019-07-10 18:15] azchohfi commented on #2957
I think it's a matter of testing and seeing what breaks, and if forcing to upgrade to a newer Newtonsoft.Json does not break the current code we use from it. There is some investigation that needs to be done for this.

[2019-07-10 18:16] michael-hawker commented on #2952
Hi @jyt1902 can you provide more details here please as to the particular issue you're facing?  Is this after adding a specific control from the Windows Community Toolkit?

Thanks!

[2019-07-10 18:19] michael-hawker commented on #2963
@hupo376787 are you saying instead of storing the original image at full resolution, you want a flag/mode for ImageEx where if the display size of the control is smaller than the content instead of resizing and maintaining the full resolution image, it resizes but resamples the original image?

FYI @JustinXinLiu.

[2019-07-10 18:20] michael-hawker commented on #2959
@Odonno, did we fix this, but have I just not updated the app yet or is this is a new issue?

[2019-07-10 18:48] Odonno commented on #2959
@michael-hawker I believe it's a new issue. The 5.1.1 sample app currently crash in the Windows Insiders version if I click this button.

[2019-07-11 03:01] hupo376787 commented on #2963
@michael-hawker Maybe storing the origial image  at full resolution is better, `ImageEx` just manage to display the resized image using a compress parameter, like, 50% or 100%.
This is just an idea, we can discuss more to help improve `ImageEx.`

[2019-07-11 21:04] premiaware opened #2965 "AdaptiveGrid Crash when 125% DPI is set"
Nuget Package(s):

Package Version(s):

Windows 10 Build Number:
- [X ] Fall Creators Update (16299)
- [ ] April 2018 Update (17134)
- [ ] October 2018 Update (17763)
- [ ] Insider Build (build number: )

App min and target version:
- [X ] Fall Creators Update (16299)
- [ ] April 2018 Update (17134)
- [ ] October 2018 Update (17763)
- [ ] Insider Build (xxxxx)

Device form factor:
- [ X] Desktop
-

[2019-07-12 09:33] #2951 closed

[2019-07-14 21:33] PaulaScholz commented on #2958
I want this too.

[2019-07-15 16:35] SavoySchuler commented on #2950
Thanks for the link, @michael-hawker. Watching this now to see if we can align where able.

[2019-07-15 20:30] michael-hawker commented on #2965
@skendrot think you'd have a minute to take a look?

[2019-07-15 21:48] Hosch250 opened #2968 "Bug with Markdown Parser: Table Cell"
## I'm submitting a...

Bug report (I searched for similar issues and did not find one)

## Current behavior
For the markdown parser, this table parses the data lines as 4 cells, when it should just be 2:

[code]

## Expected behavior
It should parse these lines as 2 cells, since the `|` table cell character is escaped. GitHub's markdown parser handles this correctly:

| Input | Output |
|--|--|
|

[2019-07-16 09:43] hupo376787 commented on #2168
Hi, I want to know why this issue closed? `MarkdownTextBlock` still does not support br.

[2019-07-16 19:31] bkfichter commented on #2828
Finally getting back to this. Was there any resolution? Do you still need a sample?

[2019-07-17 14:33] skendrot commented on #2965
@premiaware Are you saying this issue was fixed and now is broken again?

[2019-07-17 14:52] premiaware commented on #2965
for my opinion the problem exist also when the grid have stretch alignment not only center alignment, because if you remove the "if" that check the center alignment working well.

if (HorizontalAlignment != HorizontalAlignment.Stretch)   // i Think that this line is not correct. Using 125% DPI and streatch align crash
{

Luca Borriero

Premiaware di Borriero Luca
via Contralonga 51
36030 Montecchi

[2019-07-17 15:50] skendrot commented on #2965
@premiaware Stretch is the default of HorizontalAlignment. Are you saying it never works with 125% DPI?

[2019-07-17 15:55] skendrot commented on #2965
@premiaware I tested the sample app with 125% DPI and it's working fine. Can you please provide a sample repo?

[2019-07-17 18:34] michael-hawker commented on #2968
Thanks @Hosch250 feel free to submit a PR if you'd like, the code where the problem is should be [here](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Parsers/Markdown/Blocks/TableBlock.cs#L211).

@WilliamABradley FYI.

[2019-07-17 18:41] michael-hawker commented on #2899
Thanks for the info @avknaidu.  I'm on a newer OS build, so I'm going to test this out now.

[2019-07-18 03:01] kyle0418 opened #2970 "VS restart automatically"
After adding "Microsoft.Toolkit.Forms.UI.Controls.WebView" to winforms and trying to open its "Properties", the Visual Studio restart automatically. And then the added "webview" will be lost. It can be reproduced on several PCs. It doesn't seem to be caused by hardware.

[2019-07-22 04:17] hupo376787 commented on #1471
Hmm,,,

[2019-07-22 11:06] bkrauth commented on #2950
Thanks @michael-hawker - here is the first part of dxdiag, with the machine and graphics info:

------------------
System Information
------------------
      Time of this report: 7/22/2019, 05:56:58
             Machine name: TEST-1
               Machine Id: {04A86887-671E-4092-BCDF-DF9D58B94DDC}
         Operating System: Windows 10 Home 32-bit (10.0, Build 17763) (17763.rs5_release.180914-1434

[2019-07-22 21:36] knightmeister commented on #1767
I need this and am happy to have a crack at writing it if no one is making progress on it?

[2019-07-22 21:44] skendrot commented on #1471
Anyone wanting a virtualized looping list take a look at this. Great performance the new Repeater from WinUI
https://github.com/microsoft/InsiderDevTourDemos19/blob/master/Sessions/ui/Uwp.App/Uwp.App/Layouts/VirtualizingUniformCarousalStackLayout.cs

[2019-07-23 06:08] hupo376787 commented on #1471
Thanks, @skendrot . I'll look into it.

[2019-07-23 08:55] jyt1902 commented on #2952
Hi @michael-hawker  Thanks for reply ! Please find below link for Code
**_https://github.com/jyt1902/CanvasDemoUWP_**

Here total 2 page. Home Page that contain Button to Redirect on Canvas Page.
If i continuously redirect from one page to another page (10-14 times) generate unhandle exception.
Here i Attahced 2 Image from same page
![error_place](https://user-images.githubusercontent.com/42262012

[2019-07-23 18:15] TheOnlyDasBoot commented on #2970
Running VS2017 .Net Framework 4.6.2 and I get the exact same response.  Trying to look at the properties will either
1) Restart VS
2) Crash VS
3) Open the properties window with nothing in it.

[2019-07-24 07:30] pashmak73 opened #2971 "ImageCropper design issue"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

## Current behavior
Since ImageCropper minimum target platform is 16299 and newer, I copied everything from [ImageCropper folder](https://github.com/windows-toolkit/WindowsCommunityToolkit/tree/master/Microsoft.Toolkit.Uwp.UI.Controls/ImageCropper) tu my project.
Also Installed UWPtoolkit v2.2.0 (For supporting

[2019-07-25 22:26] michael-hawker commented on #2952
@jyt1902 it doesn't look like you're using the Windows Community Toolkit in this code.  This GitHub repo is for that project.  The [WinUI](https://aka.ms/winui) repo is for platform controls (like Frame).  So that may be a better place to post this issue.

It'd be useful for them if you can post the full stacktrace from the exception as well as information about the version of Windows you're runni

[2019-07-26 04:14] iryna-hubernska opened #2972 "DataGrid: Stop SelectionChanged Event Bubbling"
## I'm submitting a...
- Question
- Bug report

## Current behavior
One of the columns in my **DataGrid** contains a button. When the button is pressed, I want only its **Click** event to be raised, but **SelectionChanged** event of the **DataGrid** also get raised.
Is this a bug or by design? Is it possible to stop SelectionChanged event?

## Expected behavior
When a button is pressed, only **Cli

[2019-07-28 03:47] jyt1902 commented on #2952
thanks !

[2019-07-29 22:01] michael-hawker commented on #2971
Thanks for filing an issue @pashmak73, I'm not sure if I follow from the images alone, can you clarify with a verbal description alongside?  Is it the extra black lines or something else with the compositing?

In either case though, we no longer support the SDK version required for the phones, so we no longer test on these devices.

If there's a simple fix you have to the existing control which ma

[2019-07-30 14:46] Tom2690 commented on #2226
I am getting the exact same problem as scegg.  Windows 10 Version	10.0.18362 Build 18362
Visual Studios 2019 Winform .net  version 4.8.03752
Also properties will sometime show, sometimes crash VS.  Events will never show and ALWAYS crash VS.  If I code
      webView1.IsPrivateNetworkClientServerCapabilityEnabled = true;
I get the error
System.Resources.MissingManifestResourceException: 'Could not

[2019-07-30 21:13] michael-hawker commented on #2962
Hi @cdm22, thanks for the report.  Do you have a simple repro project that demonstrates this behavior you can share?

[2019-07-30 21:18] michael-hawker commented on #2953
Hi @xiedongweo, what specific error messages are you seeing?  The DataGrid project should be independent.

[2019-07-31 06:22] #2953 closed

[2019-07-31 07:08] xiedongweo commented on #2953
@michael-hawker  You're right. I now add an existing project 'Microsoft.Toolkit.Uwp.UI.Controls.DataGrid.csproj' into my project's solution and add reference to it in my main prtoject. Then, I can build the DataGrid successfully. It's very strange at previous. When I do the same steps to add reference to DataGrid project, I got many errors.

[2019-07-31 08:30] xiedongweo commented on #2958
@PaulaScholz  Since the WindowsCommunityToolkit is open source. I spent some time to do some customizations for the DataGrid.

Open the 'Microsoft.Toolkit.Uwp.UI.Controls.DataGrid.csproj' project and open the 'DataGridTemplateColumn.cs'. Add a 'cellTemplateSelector' property for it like the following:

    private DataTemplateSelector _cellTemplateSelector;

    public DataTemplateSelector CellTem

[2019-07-31 20:54] michael-hawker commented on #2953
@xiedongweo glad it's working for you now, thanks for reporting back!

[2019-08-01 17:09] verelpode opened #2976 "Redesign of GridSplitter API"
I'm opening this issue to discuss problems with `GridSplitter`, as requested by @michael-hawker.  Actually I presumed that GridSplitter was only in the Community Toolkit and not _officially_ in UWP because the WinUI team already knew of problems; already knew that changes to GridSplitter's API are desirable, but yes it's good to open a new issue and get feedback from multiple people.

Currently 2

[2019-08-01 21:07] brentesh opened #2977 "DataGrid crashes after removing the row before the CurrentItem"
## I'm submitting a Bug report (I searched for similar issues and did not find one)

## Current behavior
System.NullReferenceException: 'Object reference not set to an instance of an object.'

Microsoft.Toolkit.Uwp.UI.Controls.DataGrid.CurrentColumn.get returned null.

On DataGrid.cs line 5962

## Expected behavior
It should just move focus

## Minimal reproduction of the problem with instructions

[2019-08-01 21:23] michael-hawker commented on #2941
Thanks @JasonStein, I'm guessing I was originally thinking in the prepare for override method that it wouldn't get called more than once.  Though I'm not sure why I would have thought that knowing that ApplyTemplate can get called multiple times.

Thanks for submitting a PR!

[2019-08-01 23:31] verelpode commented on #2976
In [WinUI #190](https://github.com/microsoft/microsoft-ui-xaml/issues/190), @YuliKl wrote:

I suggest that it would be best to apply YuliKl's wording _literally_.  Limit the user but not the programmer.  Also don't limit the internals of the new splitter Control to these min and max pane sizes.  The new Control can be given guideline/suggestion limits and/or user limits, but it needs the ability t

[2019-08-02 18:20] michael-hawker commented on #2976
Thanks @verelpode, I think `GridSplitter` is an important concept still when used specifically for a Grid.  However, I do agree there are other scenarios for resizing (like with a NavigationView) that it is not really built for.

In my XAML Studio app, I ran into this type of problem recreating VS Code's Activity Bar/Side Bar area and being able to allow the user to resize it.  For that I created

[2019-08-02 18:23] michael-hawker commented on #2976
I'll put this in the 6.0 milestone for now.  `ContentSizer` is super simple compared to the GridSplitter we have now, so maybe as a first step it just makes sense to add that in.  Then it'd also be easier for someone else to pick up the GridSplitter refactor.

[2019-08-02 21:00] michael-hawker commented on #2977
Thanks @brentesh, I'm wondering if it's some sort of race condition with the edit mode part of the repro steps.  Looking at [that 5962 line](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGrid.cs#L5962) in the code it seems to be trying to apply the updates from the edit.

@RBrid this sound right, any suggestions on a

[2019-08-02 22:21] verelpode commented on #2976
Oh yes, that's another relevant issue I forgot to mention.  I also encountered this issue.  I think this issue should be included in a new design of a splitter.

In regards to backwards compatibility.  In regards to new apps, I don't think any kind of splitter widget should be publicly placed in a `Grid`, regardless of whether it is the existing `GridSplitter` or a new version with the same name "

[2019-08-03 11:53] bkrauth commented on #2950
@michael-hawker - with a graphics card plugged in, the RadialGradientBrush works correctly.  Here is the Display Devices part of dxdiag with the new card.  Note the difference in the Feature Levels - I wonder if this is where there may be a fix for this problem.

---------------
Display Devices
---------------
           Card name: NVIDIA GeForce GT 520
        Manufacturer: NVIDIA
           Chip

[2019-08-03 13:26] pashmak73 commented on #2971
@michael-hawker I wasn't home for a while,
It seems setting 0 for Padding in style will help, but it's not a good choice for open source projects like this, because cropper will fit the screen.

[2019-08-07 18:29] #2941 closed

[2019-08-07 21:59] michael-hawker commented on #2971
@HHChaos have time to take a look?

[2019-08-08 04:07] HHChaos commented on #2971
Maybe there's something wrong with the SDK for phones version? Because I don't have a w10m device right now, I can't find what caused this problem.

[2019-08-09 02:41] SeakyLuo opened #2980 "Use Segoe MDL2 Assets icon in Datagrid Column Header"
I have actually asked a question about this in stackoverflow:

https://stackoverflow.com/questions/57343391/uwp-use-segoe-mdl2-assets-icon-in-datagrid-column-header?noredirect=1#comment101197544_57343391

And although Nico provides a workaround, this problem, I believe, can also be thought as a bug as the Header is unable to load the icon.

[2019-08-09 18:28] michael-hawker commented on #2980
Thanks for the report @SeakyLuo, this does seem odd.  I'm hoping we can sync with the DataGrid team to fix a couple of issues next month, we'll keep you posted.

[2019-08-10 12:11] SeakyLuo commented on #2980
Sure! Segoe MDL2 Assets icon is also not displayed properly in the DataGridCell in addition to the column header.

[2019-08-11 04:24] SeakyLuo opened #2981 "[Question] controls:DataGridTextColumn.Headerstyle"
Hello,

I am trying to customize the controls:DataGridTextColumn.HeaderStyle for one specific column, but what is the TargetType of the style? I couldn't find it among the choices that VS provides. controls:DataGridCell works for the cell style in that column but not the header.

[2019-08-12 13:52] rdadkins opened #2982 "[Feature] DataGrid Edit on Keystroke"
## Describe the problem this feature would solve
The current DataGrid requires that a user double click a specific cell or hit a certain key combination to enter edit mode. This works well for touchscreen devices but does not work well for keyboard-oriented users that must switch to either tapping their screen or using their mouse to edit a cell (or pressing a specific key that we cannot change).

[2019-08-14 12:18] tedrog36 commented on #2264
I am trying to put a checkbox in the column header with the content being the text defined in the Header property of the DataGridTemplateColumn.  How do I bind to that from the control template?

{TemplateBinding Content} or {TemplateBinding Text} do not work.

Here is my header style:

[code]

[2019-08-14 12:20] tedrog36 commented on #2264
I am trying to put a checkbox in the column header with the content being the text defined in the Header property of the DataGridTemplateColumn. How do I bind to that from the control template?

{TemplateBinding Content} or {TemplateBinding Text} do not work.

Here is my header style:

[code]

[2019-08-14 14:33] MichaelLHerman opened #2983 "[Feature] Alphanumberic TextBoxRegex ValidationType"
## Describe the problem this feature would solve

User would be able to limit input in a text control to alphanumeric characters without having to specify a Regex.  The existing ValidationType's are Decimal, Number, and Characters (which means letters)

## Describe the solution
Add a new Alphanumeric enum value to the TextBoxRegex.ValidationType enumeration.   It is unfortunately unclear from the

[2019-08-15 12:44] HigginsRebecca commented on #2983
I don't remember subscribing I havent been in my account for 10 months

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: MichaelLHerman <notifications@github.com>
Sent: Wednesday, August 14, 2019 9:34:13 AM
To: windows-toolkit/WindowsCommunityToolkit <WindowsCommunityToolkit@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [windows-t

[2019-08-16 01:32] SeakyLuo opened #2984 "[Feature]Get Row in DataGrid"
## Describe the problem this feature would solve

I wish I can accessing a row using indexing like DataGrid.Rows[0], which would return a row (a UI control) that allows me to modify its style. Additionally, I can get the object binded to it using statements like "DataGrid.Rows[0].DataContext".

I hope I can also access it in XAML.

[2019-08-16 18:59] andrewkittredge opened #2985 "WebViewCompatible Events not Firing"
## Describe the bug
A clear and concise description of what the bug is.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps to Reproduce
Add a Microsoft.Toolkit.Forms.UI.Controls.WebViewCompatible control to a System.Windows.Forms.Form.

Add event handlers to Click etc.

The handlers do not get called.

## Expected behavior
Handlers shou

[2019-08-21 12:57] hupo376787 opened #2986 "SystemInformation.AppUptime maybe not a precise and reliable"
## Describe the bug
Since `SystemInformation.AppUptime` is a variable to record how long the app has been running, so the total should take the window minimized time into account.
In currently version, suppose I minimized the app when it has been running 1 minute, after a long time, I restore the app. The `SystemInformation.AppUptime` is still 1 minute.....

As I read the code
[code]

`SystemInfor

[2019-08-21 16:21] ftballguy45 opened #2987 "Radial gauge prevent going past maximum"
Is there a way to prevent the control from going past the maximum when in interactive mode? F.e. I have a full dial with value 0-100 and user attempts to go all the way around the control, going past 100 (to 0). How can we prevent this?

[2019-08-21 16:22] ftballguy45 opened #2988 "Radial Gauge value changed event?"
Is there no value changed event?

[2019-08-21 17:17] skendrot commented on #2988
The RadialGuage inherits from RangeBase which has a Value property and [ValueChanged event](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.primitives.rangebase.valuechanged)

[2019-08-21 17:17] #2988 closed

[2019-08-21 20:58] michael-hawker commented on #2986
@hupo376787 I don't think we'd try to manage the user changing their system time.

Could you elaborate on your scenario about what you're trying to accomplish?

Thanks!

[2019-08-21 21:05] michael-hawker commented on #2987
@ftballguy45 the control isn't doing any magic here, it just reads the current cursor position to set the value, so it's not 'going past 100' it's just setting the value to where the cursor currently is.

Could you explain your scenario a bit more in context of what the user is expected to do with the control in your app?

Also, if you have input into expectations on how you think this should beha

[2019-08-21 21:42] ftballguy45 commented on #2988
Ty for the quick reply - I'm using the latest NuGet package (5.1.1) and the control is still inheriting from Control. I see in source code here that it does inherit from RangeBase so something is off. Is there something else I need to do?
Here is the path to the .dll on my machine
"C:\Users\XXXX\.nuget\packages\microsoft.toolkit.uwp.ui.controls\5.1.1\lib\uap10.0.16299\Microsoft.Toolkit.Uwp.UI.Cont

[2019-08-21 21:48] ftballguy45 commented on #2987
Sorry for the brief description. So picture this - a user would slide the dial/radial control with their finger rotating clock wise. The real world example would be for a dimmer for a light bulb 0-100% brightness. Thinking about it now, there's a couple different ways around it if I change the dial from a complete circle where 0 and 100 are connected, to a semi-circle, still having 0 and 100 at th

[2019-08-22 01:42] hupo376787 commented on #2986
Hi, I have a solution, which means a timer start count on app launch. This is reliable, but may use a little more cpu resource. What do you think, or any other better workaround?

Thx.

[2019-08-22 18:26] michael-hawker commented on #2987
@ftballguy45, yup I understand the analogy, but I'm just trying to see why it's a bad thing that the user can jump to the exact value they want (be that 0, 100, or somewhere in-between).  That's an advantage the digital dial has over the analog equivalent.

However, if this is about the user mis-clicking and interpreting the wrong value, then I agree, adding separation between 0 and 100 and not ha

[2019-08-22 18:28] ftballguy45 commented on #2987
Yes agreed, should separate the ends of the circle. Thank you!

Sent from Yahoo Mail on Android

  On Thu, Aug 22, 2019 at 1:26 PM, Michael Hawker MSFT (XAML Llama)<notifications@github.com> wrote:
@ftballguy45, yup I understand the analogy, but I'm just trying to see why it's a bad thing that the user can jump to the exact value they want (be that 0, 100, or somewhere in-between). That's an advan

[2019-08-23 21:41] michael-hawker opened #2989 "6.0 Release Plan"
# 6.0 Release Plan
 
This plan captures our work for the 6.0 release at the end of October. The goal is to have a release which focuses on support for XAML Islands to align with the .NET Core 3 release and address some top concerns from our community. Read on for more details on what we have planned for this release
 
## The plan
 
Below is a summary of the top level plan items. These items are in

[2019-08-24 04:00] c4rlosmarin opened #2990 "TextBoxMask.Mask issue after changing selected tab from TabView"
## Describe the bug
For some reason changing the TabView selected tab makes the TextBoxMask.Mask go crazy

## Steps to Reproduce
Steps to reproduce the behavior:
1. Run the project from https://1drv.ms/u/s!AgD0z8JsfL_7gsdaPPyFPuaTvXtXtQ?e=aTjP5a
2. Put a valid date and time within dtpStartTime control
3. Select Tab2
4. Select Tab1
5. Select all text within the dtpStartTime control and press the "B

[2019-08-24 06:31] SeakyLuo opened #2991 "DataGridTextColumn Foreground"
## Describe the bug
Neither can I add ThemeResource color (for example SystemHighlightColor) to the foreground of DataGridTextColumn as I get "Failed to assign to property 'Microsoft.Toolkit.Uwp.UI.Controls.DataGridTextColumn.Foreground'", nor can I add any binding and converter to it.

- [ ] Is this bug a regression in the toolkit?  If so, what toolkit version did you last see it work:

## Steps

[2019-08-25 05:41] codeCasa commented on #2264
@tedrog36

`<Style x:Key="DataGridCheckboxHeaderStyle" TargetType="dataprimitives:DataGridColumnHeader" >
    <Setter Property="ContentTemplate">
        <Setter.Value>
            <DataTemplate>
                <CheckBox Content="{Binding RelativeSource={RelativeSource TemplatedParent}, Path=Content}" />
            </DataTemplate>
        </Setter.Value>
    </Setter>
</Style>
`

[2019-08-26 18:40] touseefbsb opened #2992 "incremental loading keeps calling GetPagedItemAsync infinitely"
## Describe the bug

I have a uwp app and I am using Windows Community Toolkit for the Incremental Loading feature on my list. Now the problem I am having it that it keeps calling **GetPagedItemsAsync** repeatedly without scrolling the list.

### Explaination

So on my homepage I have a GridView on top bound to a collection of **ModuleConfigurationDto** and upon its item being selection I want to

[2019-08-27 20:51] khoshroomahdi opened #2993 "how to get the file from nonspecific folders in UWP without file picker?"
how to get the file from nonspecific folders in UWP without file picker?
for exmple i have a file in D drive, how to open it as stream in  UWP without file picker.

[2019-08-28 07:47] LokiMidgard commented on #1767
This would be what I'm currently searching for.
An Extensible Markdown Parser that provides me with some kind of AST instead of HTML

[2019-09-02 07:12] SeakyLuo opened #2994 "[Feature]RotatorTile OnCurrentItemChanging"
## Describe the problem this feature would solve
I want to change the background of my grid where RotatorTile lies, when the image in the RotatorTile is changing. Having ```OnCurrentItemChanging``` would be very helpful with this solve this issue.

## Describe the solution
I am expecting a function like
```void OnCurrentItemChanging(object sender, RotatorTileItemChangedArgs args)```
where args wil

[2019-09-02 22:31] PlayerBerny12 opened #2995 "[Feature]DataGrid SelectionMode"
## Describe the problem this feature would solve
I wish I can turn off selection for rows in DataGrid. Now I have to change styles and suppress a selection highlaiting.

## Describe the solution
It will be nice to have new SelectionMode called None or somthing like that which turn off seletion.

[2019-09-03 18:04] #2904 closed

[2019-09-04 20:17] michael-hawker commented on #2990
@c4rlosmarin can you check if this behavior is the same in the new TabView for WinUI 2.2 that just released?  If it's the same there it's either a bug in the TextBoxMask extension or the platform, but it'd help us narrow it down to be outside of our TabView.  Thanks!

[2019-09-04 20:19] michael-hawker commented on #2987
Thanks @ftballguy45, I'm going to close this issue.  If you find there's some other specific functionality you need, please open a new feature request.

[2019-09-04 20:19] #2987 closed

[2019-09-04 20:25] michael-hawker commented on #2950
Thanks @bkrauth for the updated info and investigation.  FYI @jesbis this will be a good test matrix to include in the new WinUI based RadialGradientBrush.  We're just calling Win2D in the toolkit, so I don't think there's anything specific here we could handle?  Do we have a timeline yet for the WinUI implementation or will that be figured out post WinUI 3?

[2019-09-07 20:31] onovotny opened #2996 "Support editing and building with Visual Studio 2019"
The project currently requires VS 2017 to build. We should support 2019.

[2019-09-09 20:53] #2996 closed

[2019-09-11 18:57] michael-hawker commented on #1471
Thanks for the link and reminder @skendrot. @JustinXinLiu you going to add this to the toolkit 😉 or is there something missing from it still?

[2019-09-11 21:05] JustinXinLiu commented on #1471
This should be a layout control provided by WinUI. @skendrot would you mind creating an issue on WinUI GitHub page?

[2019-09-12 07:39] birbilis commented on #1471
btw, conceptually I'd prefer to just have a Looping Boolean property/attribute somewhere, rather than a separate layout control, however the 2nd case is probably more flexible for modifications (assuming sealing isn't used)

[2019-09-12 12:23] xiedongweo opened #3001 "[Question]ComboBox in DataGridTemplateColumn.CellTemplate need to be clicked two or more times to open the Combobox's dropdown list"
I'm developing a large UWP project, I'm using the DataGrid control to show some data list, in one column, I put a UWP combobox control in it. Now, I found that if I want to click the combobox to select one item, the combobox did not open the selection list, I need to click it one more times, then the combobox will open the selection list. I think this behavior is more related to DataGrid. It shoul

[2019-09-12 23:05] Kyaa-dost opened #3002 "Images get cropped out when "DesiredColumnWidth" and "ColumnSpacing" gets shifted right or left in StaggeredPanel Controls"
## Describe the bug
Images either breaks or get cropped out when"DesiredColumnWdth" and "ColumnSpacing" are adjusted to Right or left in the StaggeredPanel

## Steps to Reproduce
Steps to reproduce the behavior:
1. Select Right, Left, Center or Stretch in HorizontalAlignment.
2. Try moving DesiredColumnWidth and ColumnSpacing Right or left
3. You can also try moving the edges
4. By now you will se

[2019-09-13 23:36] VisualByteStudios opened #3007 "System.AccessViolationException when using GazeInput.GetGazePointer(null).Click() and GazePointer.IsSwitchEnabled"
## Describe the bug
A clear and concise description of what the bug is.

When using the switch support built into the gaze interaction library the call inside the keydown event handler in client code to GazeInput.GetGazePointer(null).Click() occasionally, but frequently, throws the following error:

System.AccessViolationException: 'Attempted to read or write protected memory. This is often an ind

[2019-09-13 23:39] michael-hawker commented on #3007
@peteams looks like there's a lot of details here, is this something you have time to look at before our 10/10 release?

[2019-09-14 21:48] michael-hawker opened #3008 "Update XAML Behaviors Dependency"
We should update the XAML Behaviors dependency we have from 1.1 to 2.x.  I'm not sure if there are breaking changes or not, but assuming they have more functionality.  Some research needs to be done here to understand the ramifications, especially if those are breaking changes or not.

[2019-09-15 20:51] aznxfrost opened #3009 "Local src for video and img tags in Winforms WebView"
## Describe the problem this feature would solve
Currently, there is no way of loading local file content into video/image tag using WebView under Winforms, for example, the following video will fail to load:
`<video src="file:///C:/movie.mp4"></video>`

Placing the video intto the same directory as the HTML file also doesn't work:
`webView1.NavigateToLocal("/index.html");`
`<video src="movie.mp4"

[2019-09-17 12:38] Asteron1024 opened #3010 "Resize DataGrid cause NullReferenceException"
I catch NullReferenceException in Microsoft.Toolkit.Uwp.UI.Controls.DataGrid (v4.0.0 and 5.1.0)
This occurs when I resize my DataGrid and when the total columns width is greater than the DataGrid width and the DataGrid is scrolled somewhere in the middle of horizontal scrollbar.

`System.NullReferenceException: Object reference not set to an instance of an object.
`
at
[code]
(line numbers from Da

[2019-09-17 22:50] michael-hawker commented on #2912
Hi @meteorsnows, I'm removing the Menu control from the toolkit for the 6.0 release and going to close this issue.  If you have a scenario that's missing in the WinUI control, please file an issue on their repo [here](https://aka.ms/winui).  Thanks!

[2019-09-17 22:50] #2912 closed

[2019-09-19 04:13] agneszitte-nventive opened #3012 "Need to do an msbuild restore in order to be able to build the WindowsCommunityToolkit solution"
## Describe the bug
Clone the latest version of the repo and try to build the solution.
A lot of restore errors in the output. (**NuGet Warning NU1503**)
Use **dotnet restore** and it's still the same.

## Expected behavior
The solution is building without restore errors.

## Workaround
To build the target, use msbuild to restore :
- Open the **Command Window** a.k.a **Developer Command Prompt for

[2019-09-19 04:20] agneszitte-nventive commented on #3012
@michael-hawker

[2019-09-19 04:31] michael-hawker commented on #3012
Thanks @agneszitte-nventive!

@onovotny did we hear back from VS on this? Is there another item we can attach this to in a GitHub repo somewhere atm?

[2019-09-19 21:04] mscherotter opened #3014 "MicrosoftGraphService AuthenticationToken for silent service Initialization"
## Describe the problem this feature would solve
With the MicrosoftGraphService, there is no way to persist the auth token to sign in silently after suspending/resuming.  The MicrosoftGraphService should have a way to save the auth token so subsequent sessions could login silently.

## Describe the solution
A way to login silently to the MicrosoftGraphService from a UWP in subsequent sessions.
##